ion-content{

    --background: url("/assets/imgs/lista-inmobiliaras.jpg") no-repeat fixed center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
  }
  
  @media only screen and (min-width:414px){
    ion-content{
      --background: url("/assets/imgs/lista-inmobiliarasS.jpg") no-repeat fixed center;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      background-size: contain;
    }
  }

.logotipo{
    float: left;
    margin-left: 1rem;
    width: 5rem;
    max-width: 5rem;
    height: 7rem;
    margin-top: 2rem;
}

ion-badge{
  color: black;
}




p{
    font-size: unset;
    text-align: end;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0.3rem;
}

b{
    float: left;
}

.caja{
    font-size: smaller;
    margin-top: 2rem;
    height: 7rem;
    background-color: rgba(243, 241, 239, 0.8);
}

.caja-principal{
    width: 90%;
}

.mini-caja{
  width: 78%;
  margin-left: 4rem;
  margin-top: 1.5rem;
}

.avatar{
  margin-bottom: 1rem;
    margin-left: 0.5rem;
    height: 4rem;
    max-height: 4rem;
    width: 4rem;
    position: absolute;
    margin-top: 1.5rem;
    max-width: 4rem;
    max-height: 4rem;
}

.search{
    width: 85%;
    border-radius: 10px;
    height: 2.4rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

::placeholder { /* Firefox, Chrome, Opera */ 
    margin-left: 1rem;
  } 
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: black; 
  } 
  
  ::-ms-input-placeholder { /* Microsoft Edge */ 
    color: black; 
  } 

  
  @media only screen  and (min-width: 1028px){
    ion-content{
      --background: url("/assets/imgs/inmobiliariasDesktop.jpg") no-repeat fixed center; 
      -webkit-background-size: contain;
      -moz-background-size: contain;
      background-size: contain;
      --background-attachment: fixed;
  }  
  .caja{
    width: 50%;
    margin-left: 25%;
  }
  }


  @media (min-width:1024px) and (max-width:1980px){
    ion-content{
        --background: url("/assets/imgs/inmobiliariasDesktop.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
        --background-attachment: fixed;
    }  
    .caja{
      width: 50%;
      margin-left: 25%;
    }
}


  @media only screen and (min-width:1366px){
    ion-content{
        --background: url("/assets/imgs/inmobiliariasDesktop.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
        --background-attachment: fixed;
    }  
    .caja{
      width: 50%;
      margin-left: 25%;
    }
}