<!-- app-footer -->

<div>

	<a class="app-footer-portales-madrid" ng-click="openUrlOnExternalbrowserClick(urlPortales)"  href="">
		Todos los portales de la Comunidad de Madrid
		<i class="fas fa-external-link-alt"></i>
	</a>

</div>
