/*
╔══════════════════╗
║ app-footer style ║
╚══════════════════╝
*/
app-footer {

	.app-footer-portales-madrid {
		display: block;
		width: 100%;
		text-align: center;
		color: $color-secondary-011;
		padding: 1rem 0 0 0em;
	}

}
