<ion-tabs >

  <ion-tab-bar  *ngIf="isUserArrendador == true" slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab2" >
      <ion-icon name="apps"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3"  >
      <ion-icon name="key"></ion-icon>
    </ion-tab-button>
  
    <ion-tab-button tab="tab4" >
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab5" >
      <ion-icon name="paper">
      </ion-icon>
      <ion-badge *ngFor="let contratos of cs.contratos; let i = index; let lst=last" color="success"><p *ngIf="lst">{{i+1}}</p></ion-badge>   </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
