/*
╔════════════════════╗
║ mova-loading style ║
╚════════════════════╝
*/

mv-loading {

	$size: 45px;
	$speed: 0.9s;

	.spinner {
		position: fixed;
		width: $size;
		height: $size;
		margin: 100px auto;
		background-repeat:no-repeat;
    	background-position: center center;
	    background-image: url("media/images/logo-agencia.png");
	    background-color: rgba(255,255,255,1);
	    background-size: $size $size;
		top: 50%;
		left: 50%;
	    z-index: $z-index_spinner;
	    margin: auto;
	    margin-left: (-1*$size/2);
	    margin-top: (-1*$size/2);

		border-radius: 100%;
		-webkit-animation: sk-scaleout $speed infinite ease-in-out;
		animation: sk-scaleout $speed infinite ease-in-out;
	}

	.spinner_background {
	    display: block;
	    position: fixed;
	    width: 100%;
	    height: 100%;
	    background-color: rgba(49, 52, 44, 0.3);
	    top: 0;
	    left: 0;
	    z-index: $z-index_spinner-background;
	}

	@-webkit-keyframes sk-scaleout {
		0% {
			-webkit-transform: scale(0.65);
			opacity: 0.65;
		}
		100% {
			-webkit-transform: scale(1.0);
			opacity: 0.65;
		}
	}

	@keyframes sk-scaleout {
		0% {
			-webkit-transform: scale(0.65);
			transform: scale(0.65);
			opacity: 0.65;
		} 50% {
			-webkit-transform: scale(1.0);
			transform: scale(1.0);
			opacity: 1;
		} 100% {
			-webkit-transform: scale(0.65);
			transform: scale(0.65);
			opacity: 0.65;
		}
	}

	/*
	.spinner {
	    position: fixed;
	    top: 50%;
	    left: 50%;
	    width: 40px;
	    height: 40px;
	    background-image: url("../../media/images/logo-agencia.png");
	    background-color: rgba(0,0,0,0.5);
	    background-size: 40px 40px;
	    z-index: $z-index_spinner;
	    margin: auto;
	    margin-left: -20px;
	    margin-top: -20px;
	    background-repeat: no-repeat;
	    background-position: center;
	    border-radius: 100%;

	    -webkit-animation: sk-rotateplane 1.5s infinite ease-in-out;
	    animation: sk-rotateplane 1.5s infinite ease-in-out;
	}

	.works {
	    position: fixed;
	    bottom: 0%;
	    left: 0%;
	    width: 100%;
	    text-align: right;
	    z-index: $z-index_spinner;
	    margin: auto;
	    margin-left: 0px;
	    margin-top: 0px;
	    margin-bottom: 3px;
	    font-size: 12px;
	    font-weight: bold;
	    color: green;
	    border-radius: 0px;

	}



	@-webkit-keyframes sk-rotateplane {
	    0% { -webkit-transform: perspective(120px) }
	    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
	    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
	}

	@keyframes sk-rotateplane {
	    0% {
	        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
	    } 50% {
	        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
	    } 100% {
	        transform: perspective(120px) rotateX(-360deg) rotateY(0deg);
	        -webkit-transform: perspective(120px) rotateX(-360deg) rotateY(0deg)
	    }
	} */

}
