    
    *{
        margin:0px;
        padding:0px;
    }

    //CABEZERA

     .contiene .logo{
       font-size: 30px;
       position:absolute;
       bottom: 1px;
       left:10px;
       padding-bottom: 5px;
      }

      .arrow{
        height: 1.5rem;
        float: right;
        padding-right: 1rem;
    }

   .contiene .chat{
    position: absolute;
    width:70px;
    height: 70px;
    margin-top: -20px;
    margin-left: -8%;
    }

   .contiene{
           padding-top: 5px;
           padding-bottom: -10px;
           height: 50px;
       
     }
 //FIN DE LA CABEZERA
 // FLECHA RETROCESO
.flecha{
  color :#BB1D1D;
  font-size: 30px;
 /* top:-5px;
  position: absolute;*/
 }

 .botones{
    text-transform: none;
    border-radius: 50px;
    font-size: 10px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --border-radius: 10px;
    font-style: bold;
    font-weight: bold;
    font-size: 11px;
    line-height: normal;
    text-align: center;
    margin-top: 25%;
    margin-left: 33%;


 }

 .boton{
   height: 40px;
 
   margin-top: 20%;
 }

 
 .cajabuscador{
   width: 250px;
  background: #BB1D1D;
  padding:10%;
  color: WHITE;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 7px 7px 7px 7px;

 
}

.boton{
 
  

}