<app-cabecera [titulohead]="tituhead"></app-cabecera>
<button  (click)="goBack()" style="background: transparent !important ; float:left;">
  <img class="arrow"  src="../../../assets/imgs/arrow.png"/>
</button>  
<ion-content padding>

          <div  class="buscado"  >
            <div text-center>
              <h4>Tus Fotos</h4>
            </div>
              <ion-slides pager="true" [options]="slideOpts" style="height: 24rem; border: 0.1rem solid red;border-radius: 1rem;">
                  <ion-slide *ngFor="let item of items">
                    <img style="object-fit: cover;" [routerLink]="['/detalles-historial-fisico', item.payload.doc.id]" src="{{item.payload.doc.data().image}}" alt="">
                  </ion-slide>
                </ion-slides>
          </div>
</ion-content>
