<app-cabecera [titulohead]="tituhead"></app-cabecera>
<!-- <ion-buttons slot="end">
        <ion-back-button text="" color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-content *ngIf="isAdmin === true" padding>

      --> 
<ion-content>
    <form  [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
  
  <h4 text-center style="color:#BB1D1D">Paciente: <b> <ion-input type="text" formControlName="nombreApellido"></ion-input></b></h4>
    <ion-grid>
        <ion-row>
          <ion-col>
            <div class="pesoIni">
              <p class="texto">Peso inicial</p>
              <p class="tconsul"><strong>{{this.item.peso}}</strong> Kg</p>
              <p>IMC xx</p>
            </div>
            </ion-col>
            <div class="pesoPer">
                <p class="texto" style="margin-top:15px;">Peso Total</p>
                <p>Perdido</p>
                <p class="tconsul"><strong>{{this.item.pesoPerdido}}</strong> Kg</p>
              </div>
            </ion-row>
            <div class="pesoConsul">
                <p class="texto" class="tconsul">Peso en Consulta</p>
                <p class="tconsul" ><strong>{{this.item.peso}}</strong> Kg</p>
                <p class="tconsul" >IMC {{this.item.imc}}</p> 
              </div>
            </ion-grid>
            <ion-grid text-center>
              <ion-row style="margin-top: -20px; text-align: center">
                <ion-col>
                    <div class="pesoObj">
                        <p class="texto">Peso</p>
                        <p class="texto">Objetivo</p>
                        <p class="tconsul"><strong>{{this.item.pesoObjetivo}}</strong> Kg</p>
                      </div>
                </ion-col>
                <div class="pesoEst">
                    <p class="texto">Estás a</p>
                    <p class="tconsul"><strong>{{this.item.estasObjetivo}}</strong> Kg</p>
                    <p class="obje1">De tu</p>
                    <p class="obje">Objetivo</p>
                  </div>
                  
              </ion-row>
              <div *ngFor="let item of items" >
          <!-- <ion-button color="primary" round class="agregar" (click)="openPicker()"> Agregar</ion-button> --> 
            </div>
              <h4 style="color:#BB1D1D"><b>Índice IMC</b></h4>
              <div class="cont">
                  <div class="pesoIde" style="background:none;"><p style="color:black; "> 18</p></div>
                  <div class="pesoIde"  style="background:none;"><p style="color:black; margin-left: -5px;">24.9</p></div>
                  <div class="pesoIde"  style="background:none;"><p style="color:black; margin-left: -40px;"> 30</p></div>
                  <div class="pesoIde"  style="background:none;"><p style="color:black; margin-left: -50px;"> > 30</p></div>
                  </div>
              <div class="cont">
                <div class="pesoIde">Peso ideal</div>
                <div class="sobrePe"> Sobre Peso</div>
                <div class="obe">Obesidad</div>                                                               
              </div>
             
                  <div>
                      <progress style="margin-top: -3px; width: 85%;" value="{{this.item.imc}}" min="0" max="35"></progress>
                      <h4 text-center style="color:#BB1D1D"><b>Su IMC:</b></h4>
                    <div text-center>
                    <ion-label><h5 style="color:#BB1D1D">{{this.item.imc}}</h5></ion-label>
                  </div>
      
                  </div>

            
            </ion-grid> 
          
    

</form>

<div>
  <h4 style="color:#BB1D1D"><b>Modificar su Peso</b></h4>
</div>
<form class="animated fadeIn fast" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">

    <div class="cajatexto" style="margin-left:18px;">
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" padding placeholder="Fecha Consulta" type="date" formControlName="fecha" class="inputexto" done-text="Aceptar" cancel-text="Cancelar"></ion-datetime>
      </div>
<!--Formulario inputs bloqueados-->

<ion-col col-12 *ngIf="isPasi === true">
    <ion-label>Fecha Nacimiento:</ion-label>
  <ion-input class="cajatexto" style="margin-left:18px;"  formControlName="fechaNacimiento" value="{{this.item.fechaNacimiento}}" placeholder="Fecha de Nacimiento" [readonly]="true"></ion-input>
</ion-col>
<ion-col col-12 *ngIf="isPasi === true">
    <ion-label>Ciudad:</ion-label>
  <ion-input class="cajatexto" formControlName="ciudad" style="margin-right:16px;" placeholder="Ciudad" value="{{this.item.ciudad}}" [readonly]="true"> </ion-input>
</ion-col>
<ion-row >
<ion-col col-12 *ngIf="isPasi === true">
    <ion-label>Correo:</ion-label>
  <ion-input class="cajatexto" formControlName="correo"  placeholder=" Nuevo Correo" value="{{this.item.correo}}" [readonly]="true"></ion-input>
</ion-col>
</ion-row>
<ion-row>
<ion-col col-12 *ngIf="isPasi === true">
    <ion-label>Teléfono:</ion-label>
  <ion-input class="cajatexto" type="number" formControlName="telefono" value="{{this.item.telefono}}"> </ion-input>
</ion-col>
</ion-row>
<ion-row>
<ion-col col-12 *ngIf="isPasi === true">
    <ion-label>Profesión:</ion-label>
  <ion-input class="cajatexto" formControlName="profesion" value="{{this.item.profesion}}" [readonly]="true"> </ion-input>
</ion-col>
</ion-row>
<ion-row> 
<ion-col col-12 *ngIf="isPasi === true">
    <ion-label>Motivo de Consulta:</ion-label>
  <ion-input class="cajatexto" formControlName="motivoConsulta"  value="{{this.item.motivoConsulta}}" [readonly]="true"></ion-input>
</ion-col>
</ion-row>
<ion-row>
<ion-col col-12 *ngIf="isPasi === true">
  <ion-label>Peso</ion-label>
  <ion-input type="number" class="cajatexto" formControlName="peso" placeholder="Peso" value="{{this.item.peso}}" [readonly]="true"></ion-input>
</ion-col>
</ion-row>
<ion-row>
<ion-col col-12 *ngIf="isPasi === true">
    <ion-label>Altura</ion-label>
  <ion-input type="number" class="cajatexto" formControlName="altura" placeholder="Altura" value="{{this.item.altura}}" [readonly]="true"></ion-input>
</ion-col>
</ion-row>
<ion-row>
<ion-col col-12 *ngIf="isPasi === true">
    <ion-label>Edad</ion-label>
  <ion-input type="number" class="cajatexto" formControlName="edad" placeholder="Edad" value="{{this.item.edad}}" [readonly]="true"></ion-input>
</ion-col>
</ion-row>
<ion-row>
    <ion-col col-12 *ngIf="isPasi === true">
        <ion-label>Bono</ion-label>
      <ion-input type="number" class="cajatexto" formControlName="bono" placeholder="Edad" value="{{this.item.bono}}" [readonly]="true"></ion-input>
    </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12 *ngIf="isPasi === true">
            <ion-label>Edad</ion-label>
          <ion-input type="number" class="cajatexto" formControlName="citasRestantes" placeholder="Edad" value="{{this.item.citasRestantes}}" [readonly]="true"></ion-input>
        </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 *ngIf="isPasi === true">
                <ion-label>Edad</ion-label>
              <ion-input type="number" class="cajatexto" formControlName="altura" placeholder="Edad" value="{{this.item.altura}}" [readonly]="true"></ion-input>
            </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 *ngIf="isPasi === true">
                    <ion-label>Edad</ion-label>
                  <ion-input type="number" class="cajatexto" formControlName="referencias" placeholder="Edad" value="{{this.item.referencias}}" [readonly]="true"></ion-input>
                </ion-col>
                </ion-row>

                <ion-row *ngIf="isPasi === true">
                    <ion-col text-center style="color:#BB1D1D; font-weight: bold; margin-top: 5px">Antecedentes</ion-col>
                  </ion-row>
                  <ion-row *ngIf="isPasi === true">
                    <ion-col >
                      <div style="font-weight: bold; margin: 5px; margin-left: 10px">Intervenciones : </div>
                      <div class="cajatexto">
                        <ion-input formControlName="interNombre"  type="text" class="inputexto2"  value="{{this.item.interNombre}}" [readonly]="true"></ion-input>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="isPasi === true">
                    <ion-col >
                      <div  style="font-weight: bold; margin: 5px; margin-left: 10px">Enfermedades Anteriores  : </div>
                      <div class="cajatexto" >
                        <ion-input formControlName="enfermedades"  type="text" class="inputexto2"   value="{{this.item.fechaenfermedades}}" [readonly]="true"></ion-input>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="isPasi === true">
                    <ion-col >
                      <div style="font-weight: bold; margin: 5px"> Familiares:</div>
                      <ion-input formControlName="familiares" placeholder="Seleccionar" value="{{this.item.familiares}}" readonly="true"></ion-input>
                    </ion-col>
                  </ion-row>


<!--------------------------------------------------------------------------->

<ion-grid>
  <ion-row>
      <ion-item>
          <ion-label position="floating" color="primary">Peso Anterior</ion-label>
          <ion-input placeholder="Nuevo Peso" type="number" formControlName="pesoAnterior"></ion-input>
      </ion-item> 
      <ion-item>
          <ion-label position="floating" color="primary">Peso Actual</ion-label>
          <ion-input placeholder="Nuevo Peso" type="number" formControlName="peso"></ion-input>
      </ion-item>
      <ion-item>
          <div><h5>Formula Peso Perdido</h5></div>
          <br/>
          <div>
            <ion-col size="12">
              <input [(ngModel)]="ultimoPeso" [ngModelOptions]="{standalone: true}" placeholder="Ultimo Peso" />
            </ion-col>
            <ion-col size="12">

              <input [(ngModel)]="pesoActual" [ngModelOptions]="{standalone: true}" placeholder="Peso Actual" />
              </ion-col>
              <ion-col size="12">

              <div *ngIf="ultimoPeso && pesoActual">
                <ion-input type="number" step=".01" formControlName="pesoPerdido"  value="{{ pesoPerdido }}">
              </ion-input>
            </div>
            </ion-col>
            </div>
          
      </ion-item>
      <ion-item>
          <ion-label position="floating" color="primary">Peso Objetivo</ion-label>
          <ion-input placeholder="Nuevo Peso" type="number" formControlName="pesoObjetivo"></ion-input>
      </ion-item>
      <ion-item>
          <div><h5>Formula estas de tu objetivo</h5></div>
          <br/>
          <div>
              <ion-col size="12">

              <input style="padding-left: 1rem;border-radius: 25px;" [(ngModel)]="pesoActual" [ngModelOptions]="{standalone: true}" placeholder="Ultimo Peso" />
              </ion-col>
              <ion-col size="12">

              <input style="padding-left: 1rem;border-radius: 25px;" [(ngModel)]="pesoObjetivo" [ngModelOptions]="{standalone: true}" placeholder="Peso Objetivo" />
              </ion-col>
              <div *ngIf="pesoActual && pesoObjetivo">
                <ion-input type="number" step=".01" formControlName="estasObjetivo"  value="{{ pesoObj }}">
              </ion-input>
            </div>
            </div>
      </ion-item>
      
        <div><h5>Formula IMC</h5></div>
        <br />
      <div>
          <ion-col size="12">

      <input style="padding-left: 1rem;border-radius: 25px;" [(ngModel)]="peso" [ngModelOptions]="{standalone: true}" placeholder="Peso" />
     </ion-col>
     <ion-col size="12">

      <input style="padding-left: 1rem;border-radius: 25px;" [(ngModel)]="altura" [ngModelOptions]="{standalone: true}" placeholder="Altura" />
      </ion-col>
      <div *ngIf="peso && altura">
      <ion-input type="number" step="0.01" formControlName="imc"  value="{{ bmi.toFixed(2) }}">
      </ion-input>
      </div>
      </div>
  </ion-row>
</ion-grid>

    <ion-button style="margin-top: 2rem;" class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Actualizar Datos</ion-button>
</form>
</ion-content>



  