/*
╔═════════════════╗
║ mova-item style ║
╚═════════════════╝
*/

section {
	&.mv-item {
		position: relative;

		/************************************
		 * simple - Estilo de item sencillo *
		 ************************************/

		&.item-simple:first-child {
			border-color: $color-secondary-009;
		}
		&.item-simple {

			background-color: $color-secondary-011;
			border: thin solid;
			border-color: transparent $color-secondary-009 $color-secondary-009 $color-secondary-009;
			font-size: $font-size-medium;
			overflow-wrap: break-word;
			min-height: 6.35rem;

			&.round-corners {
				@include mx-round-corners(0.55rem, 0.55rem, 0.55rem, 0.55rem);
			}

			&.shadow {
				@include mx-shadow();
			}

			> .mova-item-click-icon {
				position: absolute;
				right: 0.75rem;
				top: calc(50% - 0.35rem);
			}

			> .mova-item-image-container {

				display: none;

				> .mova-item-image {

					display: none;
				}
			}

			> h1 {
				@include mx-truncate();
				display: inline-block;
				font-size: $font-size-medium;
				font-weight: bold;
				padding: 0 0 0 0;
				margin: 1.55rem 0 0 0.25rem;
				max-width: calc(100% - 3.25rem);
			}

			> h2 {
				@include mx-truncate();
				font-size: $font-size-medium;
				padding: 0 0 0 0;
				margin: 0 0 0 0.25rem;
				max-width: calc(100% - 3.55rem);
			}

			> h3 {
				position: absolute;
				top: 0;
				right: 0.2rem;
				font-size: $font-size-small;
				padding: 0 0 0 0;
				margin: 0 0 0 0;
			}

			> main {
				padding: 0 0 0 0;
				margin: 0 0 0 0.25rem;
				max-width: calc(100% - 3.25rem);
				font-size: $font-size-medium;
			}
		}

		/********************************************
		 * simple-image - Estilo de item con imagen *
		 ********************************************/

		&.item-simple-image:first-child {
			border-color: $color-secondary-009;
		}
		&.item-simple-image {

			background-color: $color-secondary-011;
			border: thin solid;
			border-color: transparent $color-secondary-009 $color-secondary-009 $color-secondary-009;
			font-size: $font-size-medium;
			overflow-wrap: break-word;
			min-height: 6.35rem;

			&.round-corners {
				@include mx-round-corners(0.55rem, 0.55rem, 0.55rem, 0.55rem);
			}

			&.shadow {
				@include mx-shadow();
			}

			> .mova-item-click-icon {
				position: absolute;
				right: 0.75rem;
				top: calc(50% - 0.35rem);
			}

			> .mova-item-image-container {

				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 6.25rem;

				> .mova-item-image {

					border: none;
					border-right: solid thin $color-primary-003;
					background-color: $color-primary-003-20;
					width: 6.25rem;
					height: 100%;
					object-fit: cover;
				}
			}

			> h1 {
				@include mx-truncate();
				display: inline-block;
				font-size: $font-size-medium;
				font-weight: bold;
				padding: 0 0 0 0;
				margin: 1.25rem 0 0 calc(0.55rem + 6.25rem);
				max-width: calc(100% - 8rem);
			}

			> h2 {
				@include mx-truncate();
				font-size: $font-size-medium;
				padding: 0 0 0 0;
				margin: 0.25rem 0 0 calc(0.55rem + 6.25rem);
				max-width: calc(100% - 8rem);
			}

			> h3 {
				position: absolute;
				right: 0;
				font-size: $font-size-small;
				padding: 0 0 0 0;
				margin: 0 0.25rem 0 0;
			}

			> main {
				padding: 0 0 0 0;
				//margin: 1.25rem 0 0 calc(0.55rem + 6.25rem); -- Old, no se usa
				margin: 0 0 0 calc(0.55rem + 6.25rem);
				max-width: calc(100% - 8rem);
				font-size: $font-size-medium;
			}
		}

		/************************************
		 * round - Estilo de item sencillo *
		 ************************************/

		&.item-round:first-child {
			border-color: $color-secondary-009;
		}

		&.item-round {

			min-height: 7rem;
			margin: 0.55rem 0.55rem 0.25rem 0.55rem;
			padding: 0.55rem;

			border: thin solid;
			background-color: $color-secondary-011;
			border-color: $color-secondary-006;

			@include mx-round-corners(0.55rem, 0.55rem, 0.55rem, 0.55rem);
			@include mx-shadow();

			> .mova-item-click-icon {
				position: absolute;
				right: 0.75rem;
				top: calc(50% - 0.35rem);
			}

			> .mova-item-image-container {

				display: none;

				> .mova-item-image {

					display: none;
				}
			}

			> h1 {
				@include mx-truncate();
				display: block;
				font-size: $font-size-medium;
				font-weight: bold;
				padding: 0 0 0 0;
				margin: 0.55rem 0 0 0;
				max-width: calc(100% - 1.75rem);
			}

			> h2 {
				display: inline-block;
				font-size: $font-size-medium;
				padding: 0 0 0 0;
				margin: 0 0 0.55em 0;
				max-width: calc(100% - 1.75rem);
			}

			> h3 {
				position: absolute;
				top: 0;
				right: 0;
				font-size: $font-size-small;
				padding: 0 0 0 0;
				margin: 0 0.25rem 0 0;
			}

			> main {
				font-size: $font-size-medium;

				> p {
					margin: 0 0 0 0;
				}
			}
		}

		/********************************************
		 * round-image - Estilo de item con imagen *
		 ********************************************/

		&.item-round-image:first-child {
			border-color: $color-secondary-009;
		}
		&.item-round-image {

			min-height: 7rem;
			margin: 0.55rem 0.55rem 0.25rem 0.55rem;
			padding: 0.55rem;

			border: thin solid;
			background-color: $color-secondary-011;
			border-color: $color-secondary-006;

			@include mx-round-corners(0, 0.55rem, 0.55rem, 0);
			@include mx-shadow();

			> .mova-item-click-icon {
				position: absolute;
				right: 0.75rem;
				top: calc(50% - 0.35rem);
			}

			> .mova-item-image-container {

				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 6.25rem;

				> .mova-item-image {

					border: none;
					border-right: solid thin $color-primary-003;
					background-color: $color-primary-003-20;
					width: 6.25rem;
					height: 100%;
					object-fit: cover;
				}
			}

			> h1 {
				@include mx-truncate();
				display: block;
				font-size: $font-size-medium;
				font-weight: bold;
				padding: 0 0 0 0;
				margin: 0.55rem 0 0 6.25rem;
				max-width: calc(100% - 5.75rem);
			}

			> h2 {
				display: inline-block;
				font-size: $font-size-medium;
				padding: 0 0 0 0;
				margin: 0 0 0.55em 6.25rem;
				max-width: calc(100% - 5.75rem);
			}

			> h3 {
				position: absolute;
				top: 0;
				right: 0;
				font-size: $font-size-small;
				padding: 0 0 0 0;
				margin: 0 0.25rem 0 0;
			}

			> main {
				font-size: $font-size-medium;

				padding: 0 0 0 0;
				margin: 0 0 0.55em 6.25rem;
				max-width: calc(100% - 5.75rem);

				> p {
					margin: 0 0 0 0;
				}
			}
		}

		/****************************************************************************
		 * transclude - Estilo especial para información contenida en el componente *
		 ****************************************************************************/

		&.item-transclude:first-child {
			border-color: $color-secondary-009;
		}
		&.item-transclude {

			display: flex;
			justify-content: center;
			align-items: center;
  			flex-direction: column;

  			/*
  			Poner height a 1 px como hack para que "justify-content: center" de flex funcione en ie 11.
  			--> http://www.daigo.org/2014/09/4049/
  			Si no se pone a 1px y se pone a auto o no se pone nada, el contenido no se centra verticalmente en ie 11.
  			*/
  			height: 1px;

			background-color: $color-secondary-011;
			margin: 0 0 0 0;
			padding: 0 2rem 0 0.55rem;
			min-height: 4rem;
			border: thin solid;
    		border-color: transparent $color-secondary-009 $color-secondary-009 $color-secondary-009;

			> .mova-item-click-icon {
				position: absolute;
				right: 0.75rem;
				top: calc(50% - 0.4rem);
			}

			> .mova-item-image-container {

				display: none;

				> .mova-item-image {

					display: none;
				}
			}

			> .mova-item-h1,
			> .mova-item-h2,
			> .mova-item-h3,
			{
				display: none;
			}

			> main {
				width: 100%;
				//height: 100%;
			}
		}

	}
}
