<!-- app-maquetacion-static-data-menu -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<mv-card
		title="Ejemplo de menu de comida rápida"
		>
		<p>A continuación se muestra un ejemplo de datos estáticos con el formato de una carta de un restaurante de comida rápida.</p>

	</mv-card>
	<mv-card
		default-css=false
		class="ejemplo-menu-fast-food"
		>

		<mv-container class="ejemplo-menu-fast-food-cabecera">

			<mv-container-item
				class="ejemplo-factura-cabecera-titulo mv-container-item-text-center"
				col-xs=12
				>
				<p>FAST FOOD MENU</p>
			</mv-container-item>

		</mv-container>

		<mv-container class="ejemplo-menu-fast-food-001">

			<mv-container-item
				class="ejemplo-menu-fast-food-001-left mv-container-item-text-center"
				col-xs=12
				col-sm=6
				>
				<mv-input-image
					class="ejemplo-menu-fast-food-big-image"
					src="media/images/examples/burguer.png"
					bg-color="transparent"
					border-color="transparent"
					>
				</mv-input-image>
			</mv-container-item>

			<mv-container-item
				class="ejemplo-menu-fast-food-001-right mv-container-item-text-center"
				col-xs=12
				col-sm=6
				>
				<mv-card
					class="ejemplo-menu-fast-food-card"
					default-css=false
					>

					<mv-container>
						<mv-container-item
							class="mv-container-item-text-left"
							col-xs=6
							>
							<p>Solo carne</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-right"
							col-xs=6
							>
							<p>3,50€</p>
						</mv-container-item>
					</mv-container>

					<mv-container>
						<mv-container-item
							class="mv-container-item-text-left"
							col-xs=6
							>
							<p>Cheeseburguer</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-right"
							col-xs=6
							>
							<p>4,00€</p>
						</mv-container-item>
					</mv-container>

					<mv-container>
						<mv-container-item
							class="mv-container-item-text-left"
							col-xs=8
							>
							<p>Cheeseburguer con bacon</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-right"
							col-xs=4
							>
							<p>4,50€</p>
						</mv-container-item>
					</mv-container>

					<mv-container>
						<mv-container-item
							class="mv-container-item-text-left"
							col-xs=8
							>
							<p>Especial</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-right"
							col-xs=4
							>
							<p>5,00€</p>
						</mv-container-item>
					</mv-container>

					<mv-container>
						<mv-container-item
							class="mv-container-item-text-left"
							col-xs=8
							>
							<p>Especial doble</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-right"
							col-xs=4
							>
							<p>7,50€</p>
						</mv-container-item>
					</mv-container>

					<mv-container>
						<mv-container-item
							class="mv-container-item-text-left"
							col-xs=8
							>
							<p>Especial chiniwini</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-right"
							col-xs=4
							>
							<p>7,50€</p>
						</mv-container-item>
					</mv-container>

					<mv-container>
						<mv-container-item
							class="mv-container-item-text-left"
							col-xs=8
							>
							<p>Tejana</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-right"
							col-xs=4
							>
							<p>6,50€</p>
						</mv-container-item>
					</mv-container>

					<mv-container>
						<mv-container-item
							class="mv-container-item-text-left"
							col-xs=8
							>
							<p>Tejana doble</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-right"
							col-xs=4
							>
							<p>7,50€</p>
						</mv-container-item>
					</mv-container>

					<mv-container>
						<mv-container-item
							class="mv-container-item-text-left"
							col-xs=8
							>
							<p>Tejana chiniwini</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-right"
							col-xs=4
							>
							<p>7,50€</p>
						</mv-container-item>
					</mv-container>

				</mv-card>
			</mv-container-item>

		</mv-container>

		<mv-container class="ejemplo-menu-fast-food-002">

			<mv-container-item
				class="ejemplo-menu-fast-food-002-right mv-container-item-text-center"
				col-xs=12
				col-sm=6
				>
				<mv-input-image
					class="ejemplo-menu-fast-food-big-image"
					src="media/images/examples/pizza.png"
					bg-color="transparent"
					border-color="transparent"
					>
				</mv-input-image>
			</mv-container-item>

			<mv-container-item
				class="ejemplo-menu-fast-food-001-right mv-container-item-text-center"
				col-xs=12
				col-sm=6
				>
				<mv-card
					class="ejemplo-menu-fast-food-card"
					default-css=false
					>

					<mv-container>
						<mv-container-item
							class="mv-container-item-text-left"
							col-xs=6
							>
							<p>Margarita</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-right"
							col-xs=6
							>
							<p>5,50€</p>
						</mv-container-item>
					</mv-container>

					<mv-container>
						<mv-container-item
							class="mv-container-item-text-left"
							col-xs=6
							>
							<p>Bacon</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-right"
							col-xs=6
							>
							<p>5,90€</p>
						</mv-container-item>
					</mv-container>

					<mv-container>
						<mv-container-item
							class="mv-container-item-text-left"
							col-xs=8
							>
							<p>Jamón</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-right"
							col-xs=4
							>
							<p>5.90€</p>
						</mv-container-item>
					</mv-container>

					<mv-container>
						<mv-container-item
							class="mv-container-item-text-left"
							col-xs=8
							>
							<p>4 estaciones</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-right"
							col-xs=4
							>
							<p>6,00€</p>
						</mv-container-item>
					</mv-container>

					<mv-container>
						<mv-container-item
							class="mv-container-item-text-left"
							col-xs=8
							>
							<p>4 quesos</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-right"
							col-xs=4
							>
							<p>6,00€</p>
						</mv-container-item>
					</mv-container>

					<mv-container>
						<mv-container-item
							class="mv-container-item-text-left"
							col-xs=8
							>
							<p>Champi</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-right"
							col-xs=4
							>
							<p>6,50€</p>
						</mv-container-item>
					</mv-container>

					<mv-container>
						<mv-container-item
							class="mv-container-item-text-left"
							col-xs=8
							>
							<p>Especial</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-right"
							col-xs=4
							>
							<p>7,50€</p>
						</mv-container-item>
					</mv-container>

				</mv-card>
			</mv-container-item>

		</mv-container>

		<mv-container class="ejemplo-menu-fast-food-003">

			<mv-container-item
				class="ejemplo-menu-fast-food-003-left mv-container-item-text-center"
				col-xs=12
				col-sm=6
				>
				<mv-input-image
					class="ejemplo-menu-fast-food-big-image"
					src="media/images/examples/hotdog.png"
					bg-color="transparent"
					border-color="transparent"
					>
				</mv-input-image>
			</mv-container-item>

			<mv-container-item
				class="ejemplo-menu-fast-food-001-right mv-container-item-text-center"
				col-xs=12
				col-sm=6
				>
				<mv-card
					class="ejemplo-menu-fast-food-card"
					default-css=false
					>

					<mv-container>
						<mv-container-item
							class="mv-container-item-text-left"
							col-xs=6
							>
							<p>Sencillo</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-right"
							col-xs=6
							>
							<p>2,50€</p>
						</mv-container-item>
					</mv-container>

					<mv-container>
						<mv-container-item
							class="mv-container-item-text-left"
							col-xs=6
							>
							<p>Cebolla</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-right"
							col-xs=6
							>
							<p>3,00€</p>
						</mv-container-item>
					</mv-container>

					<mv-container>
						<mv-container-item
							class="mv-container-item-text-left"
							col-xs=8
							>
							<p>Cebolla y pepinillos</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-right"
							col-xs=4
							>
							<p>3,50€</p>
						</mv-container-item>
					</mv-container>

					<mv-container>
						<mv-container-item
							class="mv-container-item-text-left"
							col-xs=8
							>
							<p>Especial</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-right"
							col-xs=4
							>
							<p>5,00€</p>
						</mv-container-item>
					</mv-container>

					<mv-container>
						<mv-container-item
							class="mv-container-item-text-left"
							col-xs=8
							>
							<p>Especial doble</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-right"
							col-xs=4
							>
							<p>7,50€</p>
						</mv-container-item>
					</mv-container>

				</mv-card>
			</mv-container-item>

		</mv-container>

	</mv-card>
</mv-screen>
