/*
╔════════════════════════════════════════╗
║ app-maquetacion-static-data-menu style ║
╚════════════════════════════════════════╝
*/
app-maquetacion-static-data-menu {

	@include view-style;

	/*
	Ejemplo menu fast food
	*/

	.ejemplo-menu-fast-food {

		$color-mustard: #efab2c;

		@include mx-shadow();

		padding: 1rem;
		background: url(media/images/examples/tileable_wood_texture.png); 
		background-repeat: repeat;
		max-width: 50rem;
		margin: 2rem auto 2rem auto;
		width: 97%;
		border: solid thick $color-secondary-006;

		.ejemplo-menu-fast-food-big-image {
			max-width: 20rem;
			width: 70% !important;
		}

		.ejemplo-menu-fast-food-cabecera {

			margin: 1rem 0 4rem 0;

			.ejemplo-factura-cabecera-titulo {

				@include mx-round-corners-default();

				background-color: $color-mustard;

				border: solid thick $color-secondary-006;

				padding: 1rem 2.55rem 1rem 2.55rem !important;
				margin: 0 1rem 0 1rem;
				width: 70%;
				left: 15%;

				i,
				p {
					display: inline-block;
					vertical-align: middle;

					margin: 0 0 0 0;
					padding: 0 0 0 0;

					font-size: $font-size-super-big;

					color: $color-secondary-011;
				}

				i:nth-child(1) {
					margin-right: 1rem;
				}
				i:nth-child(3) {
					margin-left: 1rem;					
				}
			}
		}

		.ejemplo-menu-fast-food-card {

			@include mx-round-corners-default();

			padding: 0.55rem;

			margin: 1rem 0 1rem 0;

			background-color: $color-primary-003-60;

			border: solid medium $color-secondary-006;

			p {
				@include mx-truncate();

				color: $color-secondary-011;

				margin: 0 0 0 0;
				padding: 0 0 0 0;
			}
		}
	}
}