
        ion-content{

          --background: url("/assets/imgs/listaPisos.jpg") no-repeat fixed center; 
          -webkit-background-size: contain;
          -moz-background-size: contain;
          background-size: contain;
      }

      @media only screen and (min-width:414px){
          ion-content{
              --background: url("/assets/imgs/listaPisosS.jpg") no-repeat fixed center; 
              -webkit-background-size: contain;
              -moz-background-size: contain;
              background-size: contain;
          }
      }
 
 .icono{
   padding-left: 1rem;
 }
 
 
 .caja{
   text-align: left;
   float: left;
   padding-top: 1rem;
 }

 .empty-list{
  color: black;
 }
 
 .iconos{
   position: relative;
   font-size: smaller;
   padding-top: 1rem;
   float: left;
 }
 
 
 .buscador{
   border-radius: 5px;
   border: 1px 1px black;
   box-shadow: 0.2px 0.2px black;
   margin-top: 0.6rem;
   margin-bottom: 1.5rem;
   width: 94%;
   padding-left: 1rem;
   height: 2.5rem;
   background: rgba(255,255,255,0.3);
 }
 
 ::placeholder { /* Firefox, Chrome, Opera */ 
   color: black; 
 } 
 
 :-ms-input-placeholder { /* Internet Explorer 10-11 */ 
   color: black; 
 } 
 
 ::-ms-input-placeholder { /* Microsoft Edge */ 
   color: black; 
 } 
 
 .imagenPiso{
   min-height: 15rem;
   max-height: 15rem;
 }
 
 .card-img-top img{
   border-radius: 50%;
 }
 img.card-img-top{
   border-radius: 50%;
 
 }
 
 .card-text{
   float: left;
   font-size: x-small;
   width: 15rem;
   text-align: left;
   margin-top: 1rem;
 }
 
 .amueblado{
   font-size: x-small;
 }

 .b{
  font-size: x-large; 
  padding-left: 2rem;
  color:rgb(38,166,255); 
  text-shadow: 0px 1.5px black;
 }
 .card-title{
   padding-top: 1rem;
   position: relative;
   //min-width: 19rem;
  // max-width: 20rem;
   color: #26a6ff;
   text-align: end;
 }
 
 .card-title i{
   color: black;
 }
 .tarjeta{
   margin-right: 15px;
   width: 10rem;
 }
 
 i{
   padding-left: 0.5rem;
   padding-right: 0.5rem;
 }
 
 hr{
   background: black;
 }
 
 .mes{
   font-size: smaller;
 }
.sin {
  text-align: center;
  top: 50%;
  position: relative;
  font-size: x-large;
}

.boton{
  width: 10rem;
  border-radius: 5px;
  background: #26a6ff;
  height: 2rem;
  box-shadow: 1px 1px black;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: white;
  //position: absolute;
 // bottom: 0;
 // margin-left: -19%;
}

ion-slides{
  //height: 12rem;
  --background: transparent;
}

.caja-principal{
  width: 94%;
}
.caja-2{
  background: transparent;
}

.casa{
  height: 10rem;
  max-height: 10rem;
  border-radius: 5px;
  width: 14rem;
    max-width: 14rem;
}


.descripcion{
  display: none;
}


@media (min-width:1024px) and (max-width:1980px){
  ion-content{
    --background: url("/assets/imgs/listaPisosDesktop.jpg") no-repeat fixed center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    --background-attachment: fixed;
}  
.buscador{
  width: 39%;
}

.boton{
  width: 10rem;
    border-radius: 5px;
    background: #26a6ff;
    height: 2rem;
    box-shadow: 1px 1px black;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: white;
    //position: absolute;
   // bottom: 0;
    //right: 45%;
}

.descripcion{
  display: block;
  padding-top: 0.5rem;
}
  .caja-2{
    width: 35rem;
    margin-left: 30%;
  }

 .inline{
   display:inline-flex;
   margin-left: 30%;
 }


 .caja{
  text-align: left;
  margin-top: -0.5rem;
  padding-left: 1rem;
 }

 .card-title{
  padding-top: 1rem;
    position: relative;
    color: #26a6ff;
    text-align: initial;
    padding-top: 7.5rem;
    margin-left: -1rem;
 }
 hr{
   display: none;
 }
 .desktop-card{
    background: rgba(255,255,255,0.6);
    width: 65%;
    height: 10rem;
    border-radius: 5px;
    margin-top: -1rem;
    margin-bottom: 1rem;
 }
}