<div text-center>
  <h2>Terminos y Condiciones</h2>
  </div>
  
  <div padding>

  <p>CONDICIONES GENERALES DE CONTRATACIÓN

    1. INFORMACIÓN GENERAL
    
    La titularidad de la App “Rentech” (en adelante la “App” o la “Aplicación”) y el sitio web, www.rentechapp.com, (en adelante “Sitio Web”) siendo ambos denominados los “Soportes” la ostenta RentechApp S.L. con N.I.F. número B-88351630 y domicilio en Paseo del Club Deportivo 1, Edificio 15-A, Planta 1ª, Código Postal 28223 de Pozuelo de Alarcón, Madrid y dirección electrónica info@rentechapp.com.
    Este documento (así como todo documento que aquí se mencione) regula las condiciones por las que se rige el uso del Sitio Web, la App y la adquisición de productos y/o servicios de los mismos (en adelante, Condiciones).
    A efectos de estas Condiciones se entiende que la actividad que RentechApp S.L. desarrolla a través del Sitio Web comprende:
    1.- La puesta a disposición para el público de la Aplicación Móvil Rentech (en adelante, App o Aplicación), propiedad de RentechApp S.L.
    2.- La gestión de servicios inherentes a los Contratos de Arrendamiento celebrados sobre inmuebles ofertados a través de la App, a modo enunciativo, pero nunca exhaustivo, gestión de pagos y cobros, incidencias, procedimientos y prueba en procedimientos de desahucio, etc.
    3.- La difusión de los servicios prestados por RentechApp S.L. a través de la mencionada App, el Sitio Web y otros medios.
    Además de leer las presentes Condiciones, antes de acceder, navegar y/o usar el Sitio Web o la App, el Usuario ha de haber leído la Política de Privacidad, el Aviso Legal y las Condiciones Generales de Uso, incluyendo, la política de cookies, y la política de privacidad y de protección de datos de www.rentechapp.com y de la App.
    Asimismo, se informa que estas Condiciones podrán ser modificadas unilateralmente por RentechApp S.L. sin previo aviso. El Usuario es responsable de consultarlas cada vez que acceda, navegue y/o use el Sitio Web ya que serán aplicables aquellas que se encuentren vigentes en el momento en que se solicite la adquisición de servicios o, en caso de modificación, las que resulten aplicables previa aceptación de los Usuarios, previa notificación de las mismas.
    Al utilizar la App, el Sitio Web o al hacer y/o solicitar la adquisición de un producto y/o servicio a través de los mismos el Usuario es consiente quedar vinculado por estas Condiciones y por todo lo anteriormente mencionado, por lo que si no está de acuerdo con todo ello, no debe usar la Aplicación ni el Sitio Web.
    Para todas las preguntas que el Usuario pueda tener en relación con las Condiciones puede ponerse en contacto con el titular utilizando los datos de contacto facilitados más arriba o, en su caso, utilizando el formulario de contacto.
    2. EL USUARIO
    El acceso, la navegación y uso del Sitio Web, así como la descarga y uso de la App, confieren la condición de Usuario (en adelante referido, indistintamente, individualmente como Usuario o conjuntamente como Usuarios), por lo que se aceptan, desde el inicio de la navegación por el Sitio Web, todas las Condiciones aquí establecidas, así como sus ulteriores modificaciones, sin perjuicio de la aplicación de la correspondiente normativa legal de obligado cumplimiento según el caso. El Usuario asume su responsabilidad de un uso correcto de la Aplicación y del Sitio Web. Esta responsabilidad se extenderá a:
    ● Hacer uso de la App y el Sitio Web únicamente para realizar consultas y adquisiciones legalmente válidas.
    ● No realizar ninguna adquisición falsa o fraudulenta. Si razonablemente se pudiera considerar que se ha hecho un pago o compra de esta índole, podrían ser anulados y se informaría a las autoridades pertinentes.
    ● Facilitar, en su caso, datos de contacto veraces y lícitos, por ejemplo, dirección de correo electrónico, dirección postal, teléfono y otros datos de identificación (ver Aviso Legal y Condiciones Generales de Uso).
    Se entenderá por adquisición falsa o fraudulenta la formalización de acuerdos de arrendamiento mediante identificaciones falsas o fuera de los cauces contenidos en la Aplicación y el Sitio Web sobre inmuebles ofertados en los estos Soportes. La práctica habitual de formalización de acuerdos de arrendamiento fuera de los cauces contenidos en la Aplicación y el Sitio Web sobre inmuebles ofertados en los estos Soportes podrá dar lugar a la suspensión de los inmuebles ofertados por el Usuario y, en especial, del perfil de cada Usuario que participe en ellos.
    El Usuario declara ser mayor de 18 años o actuar en nombre de Sociedad Mercantil, tener como actividad profesional personal o societaria la asesoría y comercialización de bienes inmuebles, al menos, para su arrendamiento y tener capacidad legal para celebrar contratos a través de la Aplicación y el Sitio Web.
    Tanto la Aplicación como el Sitio Web están dirigidos principalmente a Usuarios residentes en España, RentechApp S.L. no asegura que el Sitio Web cumpla con legislaciones de otros países, ya sea total o parcialmente y, por ello, RentechApp S.L. declina toda responsabilidad que se pueda derivar de dicho acceso, así como tampoco asegura la prestación de servicios fuera de España.
    El Usuario podrá formalizar, a su elección, con RentechApp S.L. el contrato de prestación de servicios deseado en cualquiera de los idiomas en los que las presentes Condiciones estén disponibles tanto en la Aplicación como en el Sitio Web.
    3. PROCESO DE ADQUISICIÓN DE LA APLICACIÓN Y SUS SERVICIOS.
    Los Usuarios podrán adquirir la Aplicación en el Sitio Web por los medios y formas establecidos. Deberán seguir el procedimiento de adquisición online de www.rentechapp.com, durante el cual el Usuario podrá ser redirigido a la plataforma comercializadora de Aplicaciones propiedad de Google (PlayStore) o propiedad de Apple (AppStore), RentechApp S.L. no se hace responsable de las condiciones de adquisición y uso de App a través de las plataformas comercializadoras de Aplicaciones, debiendo observarse las previsiones legales contenidas en cada una.
    El Usuario reconoce estar al corriente, en el momento de la adquisición, de ciertas condiciones particulares concernientes al modo de adquisición de la Aplicación a través de las plataformas de comercialización de la misma en sus diferentes formatos, así como de las características de la App y de las Condiciones de Uso de la misma, disponibles en las mismas, así mismo se informa de que la descarga, así como algunas prestaciones de la Aplicación son gratuitas, si bien ciertas prestaciones relacionadas con servicios podrán ser cargadas mediante las plataformas de pago disponibles como GooglePay o ApplePay, las insertadas por terceros de confianza, en especial las referentes a servicios de pago, debiendo cumplirse todos y cada uno de los requisitos en ellas presentes, o por recibo en la cuenta del Usuario previo consentimiento y firma del preceptivo mandato SEPA; y reconoce que la realización del pedido de adquisición de los servicios materializa la aceptación plena y completa de las condiciones particulares de contratación aplicables a cada caso.
    En caso de poner en oferta un Inmueble, en nombre de algún propietario, para su Arrendamiento a través de la App, éste conlleva un costo del 5% sobre la renta mensual del mismo en concepto de gestión de contrato y gestión de pagos para el Usuario Propietario, que será retenido de la percepción mensual de éste, durante los periodos en que este inmueble se encuentre arrendado. La mera promoción no conllevará coste alguno salvo uso fraudulento de la Aplicación como mero medio de promoción de los inmuebles.
    Para la gestión de los pagos que implica la comercialización de Arrendamientos por el Usuario Inmobiliario, deberán estar dados de alta todos los Usuarios intervinientes en sus respectivas plataformas disponibles, ofertadas por RentechApp S.L., tanto Inmobiliario como Propietario y Arrendatario para la correcta gestión de los pagos y cobros, así como el inmueble objeto de Arrendamiento.
    A menos que se indique expresamente lo contrario, los servicios prestados no se podrán adquirir a través del Sitio Web, debiendo descargarse la App para el acceso a los mismos, de los productos servicios prestados por RentechApp S.L., el Sitio Web realiza grandes esfuerzos para que la información alojada y mostrada en el mismo sea correcta pero, en ocasiones, la prestación de los mismos podrá variar por contener información adicional a la que aparece en el Sitio Web. Por ello, el Usuario debe no solo considerar la información suministrada por el Sitio Web, sino también la información disponible tanto en la Aplicación como en el contrato de prestación de cada servicio adquirido y las advertencias y/o instrucciones que le acompañen.
    Las comunicaciones, solicitudes de servicios y pagos que intervengan durante las transacciones efectuadas tanto en la Aplicación como en el Sitio Web podrían ser archivadas y conservadas en los registros informatizados de RentechApp S.L. con el fin de mantener la prestación de los servicios así como constituir medio de prueba de las transacciones, en todo caso, respetando las condiciones razonables de seguridad y las leyes y normativas vigentes que a este respecto sean de aplicación, y particularmente atendiendo al RGPD, a la LOPD y a los derechos que asisten a los Usuarios conforme a la Política de Privacidad de este Sitio Web y de la Aplicación (Aviso Legal y Condiciones Generales de Uso).
    El Usuario Inmobiliario tendrá la capacidad de gestionar el Arrendamiento de los inmuebles disponibles de principio a fin, sin perjuicio de que éstos puedan ser gestionados por RentechApp S.L. o por los Usuarios directamente.
    4. DISPONIBILIDAD.
    Todas las solicitudes de prestación de servicios recibidos por RentechApp S.L. a través de la Aplicación o del Sitio Web están sujetos a valoración previa por parte de RentechApp S.L., a la disponibilidad de los medios para su prestación y/o a que ninguna circunstancia o causa de fuerza mayor (cláusula nueve de estas Condiciones) afecte a los mismos y/o a la prestación de los servicios. Si se produjeran dificultades en cuanto a la prestación de los servicios, RentechApp S.L. se compromete a contactar al Usuario y reembolsar cualquier cantidad que pudiera haber sido abonada en concepto de importe u honorarios. Esto será igualmente aplicable en los casos en los que la prestación de un servicio deviniera irrealizable, conservando la facultad de percibir las cantidades que le fueran debidas en caso de cumplimiento parcial.
    5. PRECIOS Y PAGO.
    Los precios exhibidos en la Aplicación y el Sitio Web, en Euros (€), o mediante porcentaje relativo a la Renta recibida por el alquiler, sin incluir los impuestos, especialmente en lo relativo al IVA, salvo que se señale y aplique cuestión distinta. Los gastos de servicios y envío se encuentran incluidos en los precios finales de los productos tal y como se muestran en la App y el Sitio Web.
    En caso de ser Inmobiliario y poner en oferta un Inmueble en nombre de algún Propietario, para su Arrendamiento a través de la App, en el momento de formalización del contrato, el Inquilino entrante deberá realizar el proceso de formalización del Contrato de Arrendamiento siguiendo el cauce mediante los trámites comprendidos en la App, sin los cuales el arrendamiento podrá ser anulado y, en especial, el Usuario Inmobiliaria podrá perder sus derechos de cobro.
    En todo caso, RentechApp S.L. retendrá el precio total de los servicios contratados de las cantidades gestionadas por arrendamientos formalizados a través de RentechApp S.L., salvo que el inmueble no estuviera alquilado, que serán abonados a RentechApp S.L. conforme a alguno de los medios de pago disponibles, a los efectos de realización del pago por las cantidades debidas al Usuario Inmobiliaria, éste se responsabiliza de que el número de cuenta a que se transferirán los pagos debidos sea el correcto.
    En ningún caso el Sitio Web añadirá costes adicionales al precio de un producto o de un servicio de forma automática, sino sólo sobre aquellos que el Usuario haya seleccionado y elegido voluntaria y libremente, conforme consta en estas Condiciones y los contratos al efecto consensuados entre RentechApp S.L. y el Usuario.
    Los precios pueden cambiar en cualquier momento, pero los posibles cambios no afectarán a las solicitudes de servicio o la realización de los mismos con respecto a los que el Usuario ya haya recibido prestación, la variación de cualquiera de los precios relativos a servicios contenidos en la Aplicación, comprendidos en el antedicho supuesto, serán notificados a los Usuarios afectados y podrán rescindir los contratos o continuar recibiendo los servicios con el nuevo precio acordado.
    Los medios de pago aceptados serán: Pagos vía App mediante plataformas de entidades de confianza, Tarjeta de crédito o débito, contra recibo y mediante transferencia bancaria.
    Tanto las condiciones de pago contenidas en las diferentes plataformas dispuestas al efecto, como los mandatos de recibo y las tarjetas de crédito o débito estarán sujetos a comprobaciones y autorizaciones por parte de la entidad prestadora de los servicios de pago, en el caso de las API´s integradas, las entidades emisora de las mismas, en el caso de las tarjetas, o la entidad bancaria Banco Santander Central Hispano S.A., receptora de los mandatos de domiciliación bancaria, si dichas entidades no autorizasen el pago, RentechApp S.L. no será responsable por ningún retraso o falta de servicio y no podrá formalizar ningún contrato con el Usuario en tanto no sea solventado el defecto. Por su parte, las transferencias se entenderán realizadas en el momento en que el importe de las mismas se encuentre disponible en la Cuenta Corriente de RentechApp S.L., pudiendo variar el plazo conforme a los usos Bancarios.
    Una vez que RentechApp S.L. reciba la solicitud de servicio por parte del Usuario a través de la Aplicación, se validarán los datos cedidos en el registro de Usuario, la solicitada para completar el perfil y en el contrato al efecto firmado, en su caso hará una pre-autorización del mandato de los recibos que correspondan para asegurar que existen fondos suficientes para completar la transacción. El cargo a satisfacer mediante transferencia se entenderá realizado en el momento en el que los fondos lleguen a la cuenta de destino de la que RentechApp S.L. es titular.
    En todo caso, el Usuario confirma que el método de pago utilizado es suyo o que, en su caso, es el legítimo titular de los medios de pago utilizados. Las solicitudes de servicios a satisfacer mediante transferencia reservados durante 5 días naturales a partir de la confirmación de la documentación para poder dejar el tiempo suficiente a que la transferencia bancaria sea tomada en cuenta por el sistema de pagos utilizado por RentechApp S.L. para la Aplicación sin perjuicio de que pudiera reducirse dicho plazo. Cuando el sistema recibe la transferencia, la solicitud de prestación de servicios será gestionada para su realización. Mediante este método de pago, el Usuario debe asegurarse que introduce correctamente el importe exacto del pedido de compra, así como el número de cuenta y la referencia de la solicitud. En caso de error, RentechApp S.L. no podrá validar el pedido, que será anulado.
    6. PRESTACIÓN DE SERVICIOS.
    En los casos en los que proceda realizar los servicios contratados sobre los inmuebles (en los mismos), la realización de los servicios se efectuarán únicamente en el ámbito España (Península y Baleares), sin perjuicio de que los mismos puedan ser denegados por falta de medios para llevar a cabo la realización.
    En especial, el Usuario se responsabiliza de la adecuación de los procesos a los estándares requeridos por RentechApp S.L., la facilitación de todos los datos requeridos tanto de Usuarios como de Inmuebles y, en especial, la correcta adhesión del Inmueble y Contrato a sí mismo, requisito exigible a la hora de realizar los pagos a que el Usuario tuviera derecho.
    Exceptuando aquellos casos en los que existan circunstancias imprevistas, extraordinarias o, en su caso, derivadas de la personalización de los servicios, la solicitud consistente en los servicios relacionados en cada confirmación de compra serán realizados en el plazo señalado en la Aplicación según el método seleccionado por el Usuario.
    Si por algún motivo, que le fuera imputable, RentechApp S.L. no pudiera cumplir con las fechas de realización de los servicios, contactará al Usuario para informarle de esta circunstancia y éste podrá elegir entre seguir adelante con los contratos estableciendo una nueva fecha de realización o bien anular la solicitud con el reembolso del precio pagado no devengado. En cualquier caso, los servicios a domicilio se realizan en días laborables salvo acuerdo expreso entre las Partes reflejada en el contrato referente a cada servicio.
    Si resultara imposible efectuar la realización de los servicios por ausencia del Usuario, siendo su presencia un requisito para la prestación de los servicios, el servicio no se ejecutará y se entenderá devengado su precio salvo que medie preaviso con un mínimo de 48 horas de antelación.
    Si el Usuario no va a estar en la franja horaria convenida, en el lugar de realización del servicio y éste sólo pudiera ser satisfecho en su presencia, debe ponerse en contacto con RentechApp S.L. para convenir la realización del servicio otro día en el plazo anteriormente mencionado.
    En caso de que el Usuario comunique de manera continua su indisposición a los efectos de que se realicen los servicios contratados, RentechApp S.L. entenderá que el Usuario desea desistir del contrato y éste se considerará resuelto. Como consecuencia de la resolución del contrato, todos los pagos recibidos del Usuario le serán devueltos, a excepción de los gastos resultantes conforme la aplicación de los párrafos precedentes ni de los pagos referentes a servicios ya prestados y, en cualquier caso, en el plazo máximo de 15 días desde la fecha en que se considera resuelto el contrato.
    No obstante, el Usuario debe tener presente que el transporte y los gastos derivados de la resolución pueden tener un coste adicional que le podrá ser repercutido.
    A efectos de las presentes Condiciones, se entenderá que se ha producido la ejecución del servicio en el momento en el que el servicio sea realizado estando o no el Usuario en la dirección del inmueble sobre el que se han de realizar los servicios convenidos.
    De conformidad con lo dispuesto en la Ley 37/1992, de 28 de diciembre, del Impuesto sobre el Valor Añadido (IVA), los pedidos de compra para su entrega y/o prestación se entenderán localizados en el territorio de aplicación del IVA español si la dirección de contratación de los servicios está en territorio español salvo Canarias, Ceuta y Melilla. El tipo de IVA aplicable será el legalmente vigente en cada momento en función del artículo concreto de que se trate.
    7. MEDIOS TÉCNICOS PARA CORREGIR ERRORES
    Se pone en conocimiento del Usuario que en caso de que detecte que se ha producido un error al introducir datos necesarios para procesar su solicitud de prestación de servicios en la Aplicación, podrá modificar los mismos poniéndose en contacto con RentechApp S.L. a través de los espacios de contacto habilitados en la Aplicación, en el Sitio Web, y, en su caso, a través de aquellos medios habilitados para contactar con el servicio de atención al cliente, y/o utilizando los datos de contacto facilitados en la cláusula primera (Información general). Asimismo, estas informaciones también podrían subsanarse por el Usuario a través de su espacio personal de conexión a través de la Aplicación.
    De igual forma, se remite al Usuario a consultar la Política de Privacidad, el Aviso Legal y las Condiciones Generales de Uso para recabar más información sobre cómo ejercer su derecho de rectificación según lo establecido tanto en el Reglamento General de Protección de Datos de Carácter Personal, así como en la Ley Orgánica de Protección de Datos de Carácter Personal y en la legislación que la desarrolle, modifique, derogue o sustituya.
    8. DEVOLUCIONES
    En los casos en los que el Usuario adquiriera servicios en o través de la Aplicación del titular, le asisten una serie de derechos, tal y como se enumeran y describen a continuación:
    1.- Derecho de Desistimiento
    El Usuario, en tanto que es consumidor y usuario, realiza un contrato de prestación de servicios con RentechApp S.L. mediante la Aplicación, por tanto le asiste el derecho a desistir de dicha prestación con, al menos, 14 días desde la solicitud y su aceptación sin necesidad de justificación.
    Este plazo de desistimiento expirará a los 14 días naturales desde el día en que el Usuario o un tercero autorizado por éste, formalizó el contrato de prestación de Servicios al efecto o, en su caso, recibió la comunicación para la aceptación de ejecución de los servicios contratados.
    Para ejercer este derecho de desistimiento, el Usuario deberá notificar su decisión a través de la App o de la dirección electrónica comercial@rentechapp.com. Así mismo, podrá hacerlo, en su caso, a través de los espacios de contacto habilitados en el Sitio Web o mediante correo ordinario dirigido a la atención del Departamento Comercial a través de la dirección física de RentechApp S.L. indicada en la primera condición:
    Paseo del Club Deportivo 1, Edificio 15-A, Planta 1ª, Código Postal 28223 de Pozuelo de Alarcón, Madrid.
    El Usuario, independientemente del medio que elija para comunicar su decisión, debe expresar de forma clara e inequívoca que es su intención desistir del contrato e indicar la referencia del mismo y una cuenta corriente para recibir el reembolso de las cantidades oportunas. En todo caso, el Usuario podrá utilizar el modelo de formulario de desistimiento que RentechApp S.L. pone a su disposición como parte anexada a estas Condiciones, sin embargo, su uso no es obligatorio.
    Para cumplir el plazo de desistimiento, basta con que la comunicación que expresa inequívocamente la decisión de desistir sea enviada antes de que venza el plazo correspondiente.
    En caso de desistimiento, RentechApp S.L. reembolsará al Usuario todos los pagos recibidos, incluidos los gastos de envío (en caso de ser cargados) sin ninguna demora indebida y, en todo caso, a más tardar en 15 días naturales a partir de la fecha en la que RentechApp S.L. es informada de la decisión de desistir por el Usuario. RentechApp S.L. reembolsará al Usuario mediante transferencia bancaria. Este reembolso no generará ningún coste adicional al Usuario.
    El Usuario reconoce saber que existen excepciones al derecho de desistimiento, tal y como se recoge en el artículo 103 del Real Decreto Legislativo 1/2007, de 16 de noviembre, por el que se aprueba el texto refundido de la Ley General para la Defensa de los Consumidores y Usuarios y otras leyes complementarias. De forma enunciativa, y no exhaustiva, este sería el caso de: productos personalizados; productos que puedan deteriorarse o caducar con rapidez; productos que por razones de higiene o de la salud van precintados y han sido desprecintados tras la entrega. En este mismo sentido se rige la prestación de un servicio que el Usuario pudiera contratar en la Aplicación y en este Sitio Web, pues esta misma Ley establece que no asistirá el Derecho de desistimiento a los Usuarios cuando la prestación del servicio ha sido completamente ejecutada, o cuando haya comenzado, con el consentimiento expreso del consumidor y usuario y con el reconocimiento por su parte de que es consciente de que, una vez que el contrato haya sido completamente ejecutado por RentechaApp S.L., habrá perdido su derecho de desistimiento. 
    En el siguiente enlace puede descargase el Modelo de formulario de desistimiento:
    ________________________________________________________________
    Garantías
    El Usuario, en tanto que consumidor y usuario, goza de garantías sobre los servicios que pueda adquirir a través de este Sitio Web, en los términos legalmente establecidos para cada tipo de servicio, respondiendo RentechApp S.L., por tanto, por la falta de conformidad de los mismos con lo contratado.
    En este sentido, se entiende que los servicios y productos son conformes con el contrato siempre que: se ajusten a la descripción realizada por RentechApp S.L. y posean las cualidades presentadas en la misma; y presenten la calidad y prestaciones habituales de un servicio del mismo tipo y que sean fundamentalmente esperables del mismo. Cuando esto no sea así respecto de los productos entregados al Usuario, éste deberá proceder tal y como se indica en el apartado Devolución de los defectuosos o error en el envío.
    Por otra parte, podría llegar a darse el caso que el Usuario adquiere en el Sitio Web un servicio o producto de una entidad, marca o de fabricación por un tercero. En este caso, y considerando el Usuario que se trata de un servicio o producto defectuoso, éste tendrá la obligación de ponerse en contacto con la marca o fabricante responsable de ellos para averiguar cómo ejercer su derecho de garantía legal directamente frente a los mismos durante los dos años siguientes a la entrega de dichos productos.
    9. EXONERACIÓN DE RESPONSABILIDAD
    Salvo disposición legal en sentido contrario, RentechApp S.L. no aceptará ninguna responsabilidad por las siguientes pérdidas, con independencia de su origen:
    ● Cualesquiera pérdidas que no fueran atribuibles a incumplimiento alguno por su parte.
    ● Pérdidas empresariales (incluyendo lucro cesante, de ingresos, de contratos, de ahorros previstos, de datos, pérdida del fondo de comercio o gastos innecesarios incurridos).
    ● Toda otra pérdida indirecta que no fuera razonablemente previsible por ambas partes en el momento en que se formalizó el contrato de compraventa de los productos entre ambas partes.
    Igualmente, RentechApp S.L. también limita su responsabilidad en cuanto a los siguientes casos:
    ● RentechApp S.L. aplica todas las medidas concernientes a proporcionar una visualización fiel del servicio en el Sitio Web, sin embargo no se responsabiliza por las mínimas diferencias o inexactitudes que puedan existir debido a falta de resolución de la pantalla, o problemas del navegador que se utilice u otros de esta índole.
    ● RentechApp S.L. actuará con la máxima diligencia a efectos de poner a disposición del Usuario, los servicios objeto de contratación. Sin embargo, no se responsabiliza por perjuicios provenientes de un mal funcionamiento del transporte, especialmente por causas como huelgas, retenciones en carreteras, y en general cualquiera otras propias del sector, que deriven en retrasos, pérdidas o imposibilidades de realización del servicio.
    ● Fallos técnicos que por causas fortuitas o de otra índole, impidan un normal funcionamiento del servicio a través de internet. Falta de disponibilidad de la App o del Sitio Web por razones de mantenimiento u otras, que impida disponer del servicio. RentechApp S.L. pone todos los medios a su alcance a efectos de llevar a cabo el proceso de solicitud y su resolución, pago y ejecución de los servicios, no obstante se exime de responsabilidad por causas que no le sean imputables, caso fortuito o fuerza mayor.
    ● RentechApp S.L. no se hará responsable de un desistimiento o una resolución de los contratos errónea realizada por el Usuario. Es responsabilidad del Usuario realizar correctamente la resolución de los servicios de manera correcta.
    ● En general, RentechApp S.L. no se responsabilizará por ningún incumplimiento o retraso en el cumplimiento de alguna de las obligaciones asumidas, cuando el mismo se deba a acontecimientos que están fuera de nuestro control razonable, es decir, que se deban a causa de fuerza mayor, y ésta podrá incluir, a modo enunciativo pero no exhaustivo: Huelgas, cierres patronales u otras medidas reivindicativas;  conmoción civil, revuelta, invasión, amenaza o ataque terrorista; guerra (declarada o no), amenaza de, o preparativos de, guerra; incendio, explosión, tormenta, inundación, terremoto, hundimiento, epidemia o cualquier otro desastre natural; imposibilidad de uso de trenes, barcos, aviones, transportes de motor u otros medios de transporte, públicos o privados; imposibilidad de utilizar sistemas públicos o privados de telecomunicaciones; actos, decretos, legislación, normativa o restricciones de cualquier gobierno o autoridad pública.
    ● En especial, RentechApp S.L. no se responsabiliza en ningún caso por ningún daño, perjuicio o cualesquiera otras responsabilidades derivadas de formalizaciones de contratos distintos a los ofertados en el Sitio Web o la App y, aun teniendo la misma naturaleza, que se formalicen por cauces externos a dichos Soportes incluidos los que afecten a inmuebles ofertados a través de los Soportes dispuestos por RentechApp S.L.
    De esta forma, las obligaciones quedarán suspendidas durante el periodo en que la causa de fuerza mayor continúe, y RentechApp S.L. dispondrá de una ampliación en el plazo para cumplirlas por un periodo de tiempo igual al que dure la causa de fuerza mayor. RentechApp S.L. pondrá todos los medios razonables para encontrar una solución que nos permita cumplir nuestras obligaciones a pesar de la causa de fuerza mayor.
    10. COMUNICACIONES POR ESCRITO Y NOTIFICACIONES
    Mediante el uso de la Aplicación o el Sitio Web, el Usuario acepta que la mayor parte de las comunicaciones con RentechApp S.L. sean electrónicas (correo electrónico, chat corporativo o avisos publicados tanto en la App como en el Sitio Web). A efectos contractuales, el Usuario consiente en usar este medio electrónico de comunicación y reconoce que todo contrato, notificación, información y demás comunicaciones que RentechApp S.L. envíe de forma electrónica cumplen con los requisitos legales de ser por escrito. Esta condición no afectará a los derechos reconocidos por ley al Usuario.
    El Usuario puede enviar notificaciones y/o comunicarse con RentechApp S.L. a través de los datos de contacto que en estas Condiciones se facilitan y, en su caso, a través de los espacios de contacto incluidos en la Aplicación o en el Sitio Web. Igualmente, salvo que se estipule lo contrario, RentechApp S.L. puede contactar y/o notificar al Usuario en su correo electrónico o en la dirección postal facilitada así como mediante llamadas telefónicas que podrán ser gravadas y usadas de este modo a efectos probatorios.
    11. RENUNCIA
    Ninguna renuncia de RentechApp S.L. a un derecho o acción legal concreta o la falta de requerimiento por RentechApp S.L. del cumplimiento estricto por el Usuario de alguna de sus obligaciones supondrá, ni una renuncia a otros derechos o acciones derivados de un contrato o de las Condiciones, ni exonerará al Usuario del cumplimiento de sus obligaciones.
    Ninguna renuncia de RentechApp S.L. a alguna de las presentes Condiciones o a los derechos o acciones derivados de un contrato surtirá efecto, a no ser que se establezca expresamente que es una renuncia y se formalice y se le comunique al Usuario por escrito.
    12. NULIDAD
    Si alguna de las presentes Condiciones fuesen declaradas nulas y sin efecto por resolución firme dictada por autoridad competente, el resto de las cláusulas permanecerán en vigor, sin que queden afectadas por dicha declaración de nulidad.
    13. ACUERDO COMPLETO
    Las presentes Condiciones y todo documento al que se haga referencia expresa en estas constituyen el acuerdo íntegro existente entre el Usuario y RentechApp S.L. en relación con el servicio objeto de contratación y sustituyen a cualquier otro pacto, acuerdo o promesa anterior convenida verbalmente o por escrito por las mismas partes.
    El Usuario y RentechApp S.L. reconocen haber consentido la celebración de un contrato sin haber confiado en ninguna declaración o promesa hecha por la otra parte, salvo aquello que figura expresamente mencionado en las presentes Condiciones.
    14. PROTECCIÓN DE DATOS
    La información o datos de carácter personal que el Usuario facilite a RentechApp S.L. en el curso de una transacción en el Sitio Web, serán tratados con arreglo a lo establecido en las políticas de protección de datos (Política de Privacidad, Aviso Legal y Condiciones Generales de Uso). Al hacer acceder, navegar y/o usar tanto la Aplicación como el Sitio Web el Usuario consiente el tratamiento de dicha información y datos y declara que toda la información o datos que facilita son veraces.
    Para mayor información, el Usuario deberá leer la Política de Privacidad disponibles al efecto en los Soportes.
    15. LEGISLACIÓN APLICABLE Y JURISDICCIÓN
    El acceso, navegación y/o uso tanto de la App como del Sitio Web y los contratos de compra de productos a través del mismo se regirán por la legislación española.
    Cualquier controversia, problema o desacuerdo que surja o esté relacionado con el acceso, navegación y/o uso del Sitio Web, o con la interpretación y ejecución de estas Condiciones, o con los contratos de venta entre RentechApp S.L. y el Usuario, será sometida a la jurisdicción exclusiva de los juzgados y tribunales de España.
    16. QUEJAS Y RECLAMACIONES
    El Usuario puede hacer llegar a RentechApp S.L. sus quejas, reclamaciones o todo otro comentario que desee realizar a través de los datos de contacto que se facilitan al principio de estas Condiciones
    (Información General).
    Además, RentechApp S.L. dispone de hojas oficiales de reclamación a disposición de los consumidores y usuarios, y que estos pueden solicitar a RentechApp S.L. en cualquier momento, utilizando los datos de contacto que se facilitan al principio de estas Condiciones (Información General).
    Asimismo, si de la celebración de este precontrato de prestación de servicios entre RentechApp S.L. y el Usuario emanara una controversia, el Usuario como consumidor puede solicitar una solución extrajudicial de controversias, de acuerdo con el Reglamento UE Nº 524/2013 del Parlamento Europeo y del Consejo, de 21 de mayo de 2013, sobre resolución de litigios en línea en materia de consumo. Puede acceder a este método a través del sitio web: http://ec.europa.eu/consumers/odr/ </p>
  
<h4 style="text-align: center">POLÍTICA DE PRIVACIDAD</h4>
RentechApp S.L., en adelante la “Empresa”, en aplicación de la normativa vigente en materia de protección de datos de carácter personal, informa que los datos personales que se recogen a través de los formularios del Sitio web: www.rentechapp.com, se incluyen en los ficheros automatizados específicos de usuarios de los servicios de RentechApp S.L.
La recogida y tratamiento automatizado de los datos de carácter personal tiene como finalidad el mantenimiento de la relación comercial y el desempeño de tareas de información, formación, asesoramiento y otras actividades propias de la Empresa.
Estos datos únicamente serán cedidos a aquellas entidades que sean necesarias con el único objetivo de dar cumplimiento a la finalidad anteriormente expuesta.
RentechApp S.L. adopta las medidas necesarias para garantizar la seguridad, integridad y confidencialidad de los datos conforme a lo dispuesto en el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de los mismos.
El usuario podrá en cualquier momento ejercitar los derechos de acceso, oposición, rectificación y cancelación reconocidos en el citado Reglamento (UE). El ejercicio de estos derechos puede realizarlo el propio usuario a través de email a: datos@rentechapp.com o en la dirección postal: Paseo del Club Deportivo 1, Edificio 15-A, 28223 Pozuelo de Alarcón, Madrid, España.
El usuario manifiesta que todos los datos facilitados por él son ciertos y correctos, y se compromete a mantenerlos actualizados, comunicando los cambios a la empresa.
Finalidad del tratamiento de los datos personales:
¿Con qué finalidad trataremos tus datos personales?
En RentechApp S.L., trataremos tus datos personales recabados a través del Sitio Web: www.rentechapp.com, con las siguientes finalidades:
1. En caso de contratación de los bienes y servicios ofertados a través de www.rentechapp.com, para mantener la relación contractual, así como la gestión, administración, información, prestación y mejora del servicio.
2. Envío de información solicitada a través de los formularios dispuestos en www.rentechapp.com.
3. Remitir boletines (newsletters), así como comunicaciones comerciales de promociones y/o publicidad de RentechApp S.L. y del sector.
Te recordamos que puedes oponerte al envío de comunicaciones comerciales por cualquier vía y en cualquier momento, remitiendo un correo electrónico a la dirección indicada anteriormente.
Los campos de dichos registros son de cumplimentación obligatoria, siendo imposible realizar las finalidades expresadas si no se aportan esos datos.
¿Por cuánto tiempo se conservan los datos personales recabados?
Los datos personales proporcionados se conservarán mientras se mantenga la relación comercial o no solicites su supresión y durante el plazo por el cuál pudieran derivarse responsabilidades legales por los servicios prestados.
Legitimación:
El tratamiento de tus datos se realiza con las siguientes bases jurídicas que legitiman el mismo:
1. La solicitud de información y/o la contratación de los servicios de RentechApp S.L., cuyos términos y condiciones se pondrán a tu disposición en todo caso, de forma previa a una eventual contratación.
2. El consentimiento libre, específico, informado e inequívoco, en tanto que te informamos poniendo a tu disposición la presente política de privacidad, que tras la lectura de la misma, en caso de estar conforme, puedes aceptar mediante una declaración o una clara acción afirmativa, como el marcado de una casilla dispuesta al efecto.
En caso de que no nos facilites tus datos o lo hagas de forma errónea o incompleta, no podremos atender tu solicitud, resultando del todo imposible proporcionarte la información solicitada o llevar a cabo la contratación de los servicios.
Destinatarios:
Los datos personales no se comunicarán a ningún tercero ajeno a la empresa, salvo obligación legal.
Datos recopilados por usuarios de los servicios
En los casos en que el usuario incluya ficheros con datos de carácter personal en los servidores de alojamiento compartido, RentechApp S.L. no se hace responsable del incumplimiento por parte del usuario del RGPD.
Retención de datos en conformidad a la LSSI 
RentechApp S.L. informa de que, como prestador de servicio de alojamiento de datos y en virtud de lo establecido en la Ley 34/2002 de 11 de julio de Servicios de la Sociedad de la Información y de Comercio Electrónico (LSSI), retiene por un periodo máximo de 12 meses la información imprescindible para identificar el origen de los datos alojados y el momento en que se inició la prestación del servicio, salvo prestación continuada de los mismos, extendiéndose el mismo periodo de 12 meses desde el momento de finalización de la prestación. La retención de estos datos no afecta al secreto de las comunicaciones y sólo podrán ser utilizados en el marco de una investigación criminal o para la salvaguardia de la seguridad pública, poniéndose a disposición de los jueces y/o tribunales o del Ministerio o autoridad competente que así los requiera.
La comunicación de datos a las Fuerzas y Cuerpos de seguridad del Estado se hará en virtud a lo dispuesto en la normativa sobre protección de datos personales.
Derechos propiedad intelectual RentechApp
RentechApp manifiesta que es titular de todos los derechos de autor, propiedad intelectual, industrial, "know how" y cuantos otros derechos guardan relación con los contenidos del sitio web www.rentechapp.com y los servicios ofertados en el mismo, así como de los programas necesarios para su implementación y la información relacionada. En especial se incide en que la Marca Rentech como el logo se encuentran registrados por RentechApp S.L.
No se permite la reproducción, publicación y/o uso no estrictamente privado de los contenidos, totales o parciales, del sitio web www.rentechapp.com sin el consentimiento previo y por escrito de RentechApp S.L.
Propiedad intelectual del software
El usuario debe respetar los programas de terceros puestos a su disposición por la empresa, aun siendo gratuitos y/o de disposición pública. RentechApp S.L. dispone de los derechos de explotación y propiedad intelectual necesarios de todo software facilitado en conjunto.
El usuario no adquiere derecho alguno o licencia por el servicio contratado, sobre el software necesario para la prestación del servicio, ni tampoco sobre la información técnica de seguimiento del servicio, excepción hecha de los derechos y licencias necesarios para el cumplimiento de los servicios contratados y únicamente durante la duración de los mismos.
Para toda actuación que exceda del cumplimiento del contrato, el usuario necesitará autorización por escrito por parte de RentechApp S.L., quedando prohibido al usuario acceder, modificar, visualizar la configuración, estructura y ficheros de los servidores propiedad de la Empresa, asumiendo la responsabilidad civil y penal derivada de cualquier incidencia que se pudiera producir en los servidores y sistemas de seguridad como consecuencia directa de una actuación negligente o maliciosa por su parte.
Propiedad intelectual de los contenidos alojados
Se prohíbe el uso contrario a la legislación sobre propiedad intelectual de los servicios prestados por RentechApp S.L. y, en particular de:
• La utilización que resulte contraria a las leyes españolas o que infrinja los derechos de terceros.
• La publicación o la transmisión de cualquier contenido que, a juicio de RentechApp S.L., resulte violento, obsceno, abusivo, ilegal, racial, xenófobo o difamatorio.
• Los cracks, números de serie de programas o cualquier otro contenido que vulnere derechos de la propiedad intelectual de RentechApp S.L. o de terceros.
• La recogida y/o utilización de datos personales de otros usuarios sin su consentimiento expreso o contraviniendo lo dispuesto en Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de los mismos.
• La utilización del servidor de correo del dominio y de las direcciones de correo electrónico para el envío de correo masivo no deseado.
El usuario tiene toda la responsabilidad sobre el contenido que publique en la web, exonerando a RentechApp S.L. de toda responsabilidad por el mismo, la información transmitida y almacenada, los enlaces de hipertexto, las reivindicaciones de terceros y las acciones legales en referencia a propiedad intelectual, derechos de terceros y protección de menores.
El usuario es responsable respecto a las leyes y reglamentos en vigor y las reglas que tienen que ver con el funcionamiento del servicio online, comercio electrónico, derechos de autor, mantenimiento del orden público, así como principios universales de uso de Internet.
El usuario indemnizará a RentechApp S.L. por los gastos que generara la imputación de www.rentechapp.com en alguna causa cuya responsabilidad fuera atribuible al usuario, incluidos honorarios y gastos de defensa jurídica, incluso en el caso de una decisión judicial no definitiva.
Protección de la información alojada
RentechApp S.L. realiza copias de seguridad de los contenidos alojados en sus servidores, sin embargo no se responsabiliza de la pérdida o el borrado accidental de los datos por parte de los usuarios. De igual manera, no garantiza la reposición total de los datos borrados por los usuarios, ya que los citados datos podrían haber sido suprimidos y/o modificados durante el periodo del tiempo transcurrido desde la última copia de seguridad.
Los servicios ofertados, excepto los servicios específicos de backup, no incluyen la reposición de los contenidos conservados en las copias de seguridad realizadas por RentechApp S.L., cuando esta pérdida sea imputable al usuario; en este caso, se determinará una tarifa acorde a la complejidad y volumen de la recuperación, siempre previa aceptación del usuario.
La reposición de datos borrados sólo está incluida en el precio del servicio cuando la pérdida del contenido sea debida a causas atribuibles a RentechApp S.L. 
Comunicaciones comerciales
En aplicación de la LSSI. RentechApp S.L. no enviará comunicaciones publicitarias o promocionales por correo electrónico u otro medio de comunicación electrónica equivalente que previamente no hubieran sido solicitadas o expresamente autorizadas por los destinatarios de las mismas.
En el caso de usuarios con los que exista una relación contractual previa, RentechApp S.L. sí está autorizado al envío de comunicaciones comerciales referentes a productos o servicios de RentechApp S.L. que sean similares o complementarios a los que inicialmente fueron objeto de contratación con el cliente.
En todo caso, el usuario, tras acreditar su identidad, podrá solicitar que no se le haga llegar más información comercial a través de los canales de Atención al Cliente.
AVISO LEGAL
RentechApp S.L., con CIF B88351630, y dirección Paseo del Club Deportivo 1, Edificio 15-A, 28223 Pozuelo de Alarcón, Madrid, España, no puede asumir ninguna responsabilidad derivada del uso incorrecto, inapropiado o ilícito de la información aparecida en la página de Internet de www.rentechapp.com.
Con los límites establecidos en la ley, RentechApp S.L. no asume ninguna responsabilidad derivada de la falta de veracidad, integridad, actualización y precisión de los datos o informaciones que se contienen en sus páginas de Internet, salvo las incluidas en las demás Previsiones Legales que deberán haber sido leídas.
Los contenidos e información no vinculan a RentechApp S.L. ni constituyen opiniones, consejos o asesoramiento legal de ningún tipo pues se trata meramente de un servicio ofrecido con carácter informativo y divulgativo, únicamente RentechApp S.L. quedará vinculado por los contratos efectivamente formalizados con los Usuarios y en que así quede expresamente referenciado.
La página de Internet de www.rentechapp.com puede contener enlaces (links) a otras páginas de terceras partes que RentechApp S.L. no puede controlar. Por lo tanto, este Aviso Legal queda circunscrito a la página web www.rentechapp.com, y RentechApp S.L. no puede asumir responsabilidades por el contenido que pueda aparecer en páginas de terceros, siendo el Usuario el que deberá atender a las previsiones de cada sitio a que fuera redirigido.
Los textos, imágenes, sonidos, animaciones, software y el resto de contenidos incluidos en este website son propiedad exclusiva de RentechApp S.L. o sus licenciantes. Cualquier acto de transmisión, distribución, cesión, reproducción, almacenamiento o comunicación pública total o parcial, debe contar con el consentimiento expreso de RentechApp S.L.
Asimismo, para acceder a algunos de los servicios que RentechApp S.L. ofrece a través del website puede ser que deba proporcionar algunos datos de carácter personal. En cumplimiento de lo establecido en el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos le informamos que, mediante la cumplimentación de los presentes formularios, sus datos personales quedarán incorporados y serán tratados en los ficheros de RentechApp S.L. con el fin de poderle prestar y ofrecer nuestros servicios así como para informarle de las mejoras del sitio Web. Asimismo, le informamos de la posibilidad de que ejerza los derechos de acceso, rectificación, cancelación y oposición de sus datos de carácter personal, manera gratuita mediante email a datos@rentechapp.com o en la dirección Paseo del Club Deportivo 1, Edificio 15-A, 28223 Pozuelo de Alarcón, Madrid, España.

TÉRMINOS Y CONDICIONES DE USO APP 

1. Estos Términos y Condiciones de Uso regulan las reglas a que se sujeta la utilización de la Aplicación móvil Rentech (en adelante, la App), que puede descargarse desde el dominio _______________________________ La descarga o utilización de la App atribuye la condición de Usuario a quien lo haga e implica la aceptación de todas las condiciones incluidas en este documento y en la Política de Privacidad y el Aviso Legal de dicha página Web. El Usuario debería leer estas condiciones cada vez que utilice la App, ya que podrían ser modificadas sin previo aviso en lo sucesivo. 

2. La App se configura como una herramienta de promoción y gestión de Arrendamientos de Bienes de naturaleza Inmobiliaria, propiedad de RentechApp S.L. con N.I.F. número B-88351630 y domicilio en Paseo del Club Deportivo 1, Edificio 15-A, Planta 1ª, Código Postal 28223 de Pozuelo de Alarcón, Madrid, a la que se podrá acceder para su descarga y uso por cualquier Usuario, Los Usuarios que incumplan de alguna manera los presentes Términos y Condiciones de Uso, podrán ver revocado su permiso de acceso a la App sin Previo Aviso.

3. Además de leer las presentes Condiciones, antes de acceder, navegar y/o usar el Sitio Web o la App, el Usuario ha de haber leído la Política de Privacidad, el Aviso Legal y las Condiciones Generales de Uso, incluyendo, la política de cookies, y la política de privacidad y de protección de datos de www.rentechapp.com y de la App.

4. Cargos: Eres responsable del pago de todos los costes o gastos en los que incurras como resultado de descargar y usar la Aplicación de RentechApp S.L., incluido cualquier cargo de red de operador o itinerancia ajeno al propio servicio de la APP. Consulta con tu proveedor de servicios telefónicos los detalles al respecto. En caso de acceder a un servicio ofrecido por la App, se deberá atender a lo establecido en las Condiciones Generales de Contratación, así como a lo expuesto en el contrato, siendo facturado conforme a dichas condiciones y la normativa vigente al efecto. 

5. Estadísticas anónimas: RentechApp S.L. se reserva el derecho a realizar un seguimiento de tu actividad en la App y a utilizar dicha información o informar de ello a nuestros proveedores de servicios estadísticos operados por terceros. Todo ello de forma anónima, no se cederán Datos de identificación para su uso de forma comercial.

6. Protección de tu información personal: queremos ayudarte a llevar a cabo todos los pasos necesarios para proteger tu privacidad e información. Consulta la Política de Privacidad de RentechApp S.L. y los avisos sobre privacidad de la Aplicación para conocer qué tipo de información recopilamos y las medidas que tomamos para proteger tu información personal.

7. Queda prohibido alterar o modificar ninguna parte de la App ni de los contenidos de la misma, eludir, desactivar o manipular de cualquier otra forma (o tratar de eludir, desactivar o manipular) las funciones de seguridad u otras funciones del programa y utilización de la App o sus contenidos para un fin comercial o publicitario, fuera de la oferta de Inmuebles para su Alquiler, ni para realizar dichos alquileres por cualesquiera otras vías fuera del tráfico o gestión de la App. Queda prohibido el uso de la App con la finalidad de lesionar bienes, derechos o intereses de RentechApp S.L. o de terceros. Queda igualmente prohibido realizar cualquier otro uso que altere, dañe o inutilice las redes, servidores, equipos, productos y programas informáticos de RentechApp S.L. o de terceros, en especial, queda prohibido el uso fraudulento de la App con fines delictivos o cuasidelictivos.

8. La App y sus contenidos (textos, fotografías, gráficos, imágenes, tecnología, software, links, contenidos, diseño gráfico, código fuente, etc.), así como las marcas y demás signos distintivos son propiedad de RentechApp S.L. o de terceros, no adquiriendo el Usuario ningún derecho sobre ellos por el mero uso de la App. En especial, el Usuario, deberá abstenerse de: 

a) Reproducir, copiar, distribuir, poner a disposición de terceros, comunicar públicamente, transformar o modificar la App o sus contenidos, salvo en los casos contemplados en la ley o expresamente autorizados por RentechApp S.L. o por el titular de dichos derechos.

b) Reproducir o copiar para uso privado la App o sus contenidos, así como comunicarlos públicamente o ponerlos a disposición de terceros cuando ello conlleve su reproducción. 

c) Extraer o reutilizar todo o parte sustancial de los contenidos integrantes de la App. 

9. Con sujeción a las condiciones establecidas en el apartado anterior, RentechApp S.L. concede al Usuario una licencia de uso de la App, no exclusiva, gratuita con la salvedad de los servicios contratados que no sean gratuitos, para uso personal, con carácter indefinido. Dicha licencia se concede también en los mismos términos con respecto a las actualizaciones y mejoras que se realizasen en la aplicación. Dichas licencias de uso podrán ser revocadas por RentechApp S.L. unilateralmente en cualquier momento, mediante la mera notificación al Usuario.

10. Corresponde al Usuario, en todo caso, disponer de herramientas adecuadas para la detección y desinfección de programas maliciosos o cualquier otro elemento informático dañino, así como podrá responsabilizar al Usuario por ello y revocar los permisos de Uso y de Acceso. RentechApp S.L. no se responsabiliza de los daños producidos a equipos informáticos durante el uso de la App. Igualmente, RentechApp S.L. no será responsable de los daños producidos a los Usuarios cuando dichos daños tengan su origen en fallos o desconexiones en las redes de telecomunicaciones que interrumpan el servicio.

Así mismo, el Usuario responde de la exactitud de los datos e informaciones facilitadas y, en especial, las relativas a los inmuebles y datos de facturación, sin que su carácter erróneo pueda constituir responsabilidad alguna para RentechApp S.L.

11. IMPORTANTE: Podemos, sin que esto suponga ninguna obligación contigo, modificar estas Condiciones de uso sin avisar en cualquier momento. Si continúas utilizando la aplicación una vez realizada cualquier modificación en estas Condiciones de uso, esa utilización continuada constituirá la aceptación por tu parte de tales modificaciones. Si no aceptas estas condiciones de uso ni aceptas quedar sujeto a ellas, no debes utilizar la aplicación ni descargar o utilizar cualquier software relacionado. El uso que hagas de la aplicación queda bajo tu única responsabilidad. No tenemos responsabilidad alguna por la eliminación o la incapacidad de almacenar o trasmitir cualquier contenido u otra información mantenida o trasmitida por la aplicación. No somos responsables de la precisión o la fiabilidad de cualquier información o consejo trasmitidos a través de la aplicación. Podemos, en cualquier momento, limitar o interrumpir tu uso a nuestra única discreción. Hasta el máximo que permite la ley, en ningún caso seremos responsables por cualquier pérdida o daño relacionados.

12. El Usuario se compromete a hacer un uso correcto de la APP, de conformidad con la Ley, con los presentes Términos y Condiciones de Uso y con los demás reglamentos e instrucciones que, en su caso, pudieran ser de aplicación El Usuario responderá frente a RentechApp S.L. y frente a terceros de cualesquiera daños o perjuicios que pudieran causarse por incumplimiento de estas obligaciones. 

13. Estos Términos y Condiciones de Uso se rigen íntegramente por la legislación española. Para la resolución de cualquier conflicto relativo a su interpretación o aplicación, el Usuario se somete expresamente a la jurisdicción de los tribunales de Madrid (España).



</div>
  <footer>
  <ion-button expand="block" size="small" (click)="exit()">Acepto</ion-button>
</footer>