<!-- app-example-container-item -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaContainerItem</h1>
		<br>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>Este componente dispone de los mismos atributos que el componente <a href="#!/example-mova-card"><b>mv.movaCard</b></a> además de los suyos propios.</p>
		</mv-card>
		<p>Elemento que debe ser incluido en un contenedor <a href="#!/example-mova-container"><b>mv.movaContainer</b></a>.</p>
		<p>Si no se aplica ningún atributo <b>col</b> el elemento aplicará automaticamente el atributo <b>col-xs=12</b>.</p>
		<p>Este componente acepta los siguientes atributos:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('colXs')" >col-xs</a></li>
			<li><a href="" ng-click="$root.scrollTo('colSm')" >col-sm</a></li>
			<li><a href="" ng-click="$root.scrollTo('colMd')" >col-md</a></li>
			<li><a href="" ng-click="$root.scrollTo('colLg')" >col-lg</a></li>
			<li><a href="" ng-click="$root.scrollTo('defaultMargin')" >default-margin</a></li>
			<li><a href="" ng-click="$root.scrollTo('showColClasses')" >show-col-classes</a></li>
		</ul>
		<p>Este componente ofrece las siguientes clases CSS especiales:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('mvContainerItemTextCenter')" >mv-container-item-text-center</a></li>
			<li><a href="" ng-click="$root.scrollTo('mvContainerItemTextLeft')" >mv-container-item-text-left</a></li>
			<li><a href="" ng-click="$root.scrollTo('mvContainerItemTextRight')" >mv-container-item-text-right</a></li>
		</ul>
	</mv-card>

	<mv-card>
		<h2 class="title-2">Ejemplo de uso HTML y resultado</h2>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-container><br>
				<b>
				&emsp;&emsp;&lt;mv-container-item><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 1<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&emsp;&emsp;&lt;mv-container-item><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 2<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&emsp;&emsp;&lt;mv-container-item><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 3<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&emsp;&emsp;&lt;mv-container-item><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 4<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				</b>
				&lt;/mv-container>
			</span>
		</code>
		<mv-container>
			<mv-container-item>
				<span>Elemento 1</span>
			</mv-container-item>
			<mv-container-item>
				<span>Elemento 2</span>
			</mv-container-item>
			<mv-container-item>
				<span>Elemento 3</span>
			</mv-container-item>
			<mv-container-item>
				<span>Elemento 4</span>
			</mv-container-item>
		</mv-container>
		<br>
		<p>A continuación se muestra un ejemplo de los distintos valores que pueden tener los atributos <b>col</b> y su representación, en el ejemplo se usa el atributo <b>col-xs</b> para que se mantenga el aspecto en todos los tamaños del viewport:</p>
		<mv-container>
			<mv-container-item col-xs=12 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=6 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=6 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=4 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=4 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=4 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=3 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=3 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=3 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=3 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=2 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=2 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=2 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=2 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=2 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=2 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=1 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=1 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=1 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=1 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=1 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=1 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=1 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=1 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=1 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=1 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=1 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=1 show-col-classes=true></mv-container-item>
		</mv-container>
		<br>
		<p>A continuación se muestra otro ejemplo con estilos variados, en el ejemplo se usa el atributo <b>col-xs</b> para que se mantenga el aspecto en todos los tamaños del viewport:</p>
		<mv-container>
			<mv-container-item col-xs=3 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=6 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=3 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=4 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=6 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=3 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=2 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=7 show-col-classes=true></mv-container-item>
		</mv-container>
		<br>
		<!--<p>A continuación se muestra otro ejemplo con estilos variados y con distintos atributso <b>col</b> para distintos viewport:</p>
		<mv-container>
			<mv-container-item col-xs=3 col-sm=4 col-md=12 col-lg=12 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=6 col-sm=6 col-md=6 col-lg=4 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=3 col-sm=2 col-md=10 col-lg=4 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=4 col-sm=2 col-md=12 col-lg=4 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=6 col-sm=6 col-md=2 col-lg=12 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=3 col-sm=4 col-md=2 col-lg=4 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=2 col-sm=3 col-md=2 col-lg=4 show-col-classes=true></mv-container-item>
			<mv-container-item col-xs=7 col-sm=6 col-md=8 col-lg=4 show-col-classes=true></mv-container-item>
		</mv-container>-->
		<mv-card class="ejemploEsquemaResponsiveXs" adapt=true default-css=false>
			<p>Ejemplo para entender como decidir el reparto de la información según el sistema del grid de 12 columnas:</p>
			<mv-container>
				<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=12 col-md=12 col-lg=12><b>col-xs=12</b> col-sm=12 col-md=12 col-lg=12</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=12 col-md=6 col-lg=6><b>col-xs=12</b> col-sm=12 col-md=6 col-lg=6</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-md=6 col-lg=6><b>col-xs=12</b> col-sm=6 col-md=6 col-lg=6</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-md=4 col-lg=4><b>col-xs=12</b> col-sm=6 col-md=4 col-lg=4</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-md=4 col-lg=4><b>col-xs=12</b> col-sm=6 col-md=4 col-lg=4</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-md=4 col-lg=4><b>col-xs=12</b> col-sm=6 col-md=4 col-lg=4</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=6 col-sm=4 col-md=4 col-lg=3><b>col-xs=6</b> col-sm=4 col-md=4 col-lg=3</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=6 col-sm=4 col-md=4 col-lg=3><b>col-xs=6</b> col-sm=4 col-md=4 col-lg=3</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=6 col-sm=4 col-md=4 col-lg=3><b>col-xs=6</b> col-sm=4 col-md=4 col-lg=3</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=6 col-sm=4 col-md=4 col-lg=3><b>col-xs=6</b> col-sm=4 col-md=4 col-lg=3</mv-container-item>
			</mv-container>
		</mv-card>

		<mv-card class="ejemploEsquemaResponsiveSm" adapt=true default-css=false>
			<p>Ejemplo para entender como decidir el reparto de la información según el sistema del grid de 12 columnas:</p>
			<mv-container>
				<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=12 col-md=12 col-lg=12>col-xs=12 <b>col-sm=12</b> col-md=12 col-lg=12</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=12 col-md=6 col-lg=6>col-xs=12 <b>col-sm=12</b> col-md=6 col-lg=6</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-md=6 col-lg=6>col-xs=12 <b>col-sm=6</b> col-md=6 col-lg=6</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-md=4 col-lg=4>col-xs=12 <b>col-sm=6</b> col-md=4 col-lg=4</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-md=4 col-lg=4>col-xs=12 <b>col-sm=6</b> col-md=4 col-lg=4</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-md=4 col-lg=4>col-xs=12 <b>col-sm=6</b> col-md=4 col-lg=4</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=6 col-sm=4 col-md=4 col-lg=3>col-xs=6 <b>col-sm=4</b> col-md=4 col-lg=3</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=6 col-sm=4 col-md=4 col-lg=3>col-xs=6 <b>col-sm=4</b> col-md=4 col-lg=3</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=6 col-sm=4 col-md=4 col-lg=3>col-xs=6 <b>col-sm=4</b> col-md=4 col-lg=3</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=6 col-sm=4 col-md=4 col-lg=3>col-xs=6 <b>col-sm=4</b> col-md=4 col-lg=3</mv-container-item>
			</mv-container>
		</mv-card>

		<mv-card class="ejemploEsquemaResponsiveMd" adapt=true default-css=false>
			<p>Ejemplo para entender como decidir el reparto de la información según el sistema del grid de 12 columnas:</p>
			<mv-container>
				<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=12 col-md=12 col-lg=12>col-xs=12 col-sm=12 <b>col-md=12</b> col-lg=12</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=12 col-md=6 col-lg=6>col-xs=12 col-sm=12 <b>col-md=6</b> col-lg=6</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-md=6 col-lg=6>col-xs=12 col-sm=6 <b>col-md=6</b> col-lg=6</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-md=4 col-lg=4>col-xs=12 col-sm=6 <b>col-md=4</b> col-lg=4</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-md=4 col-lg=4>col-xs=12 col-sm=6 <b>col-md=4</b> col-lg=4</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-md=4 col-lg=4>col-xs=12 col-sm=6 <b>col-md=4</b> col-lg=4</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=6 col-sm=4 col-md=4 col-lg=3>col-xs=6 col-sm=4 <b>col-md=4</b> col-lg=3</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=6 col-sm=4 col-md=4 col-lg=3>col-xs=6 col-sm=4 <b>col-md=4</b> col-lg=3</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=6 col-sm=4 col-md=4 col-lg=3>col-xs=6 col-sm=4 <b>col-md=4</b> col-lg=3</mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=6 col-sm=4 col-md=4 col-lg=3>col-xs=6 col-sm=4 <b>col-md=4</b> col-lg=3</mv-container-item>
			</mv-container>
		</mv-card>

		<mv-card class="ejemploEsquemaResponsiveLg" adapt=true default-css=false>
			<p>Ejemplo para entender como decidir el reparto de la información según el sistema del grid de 12 columnas:</p>
			<mv-container>
				<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=12 col-md=12 col-lg=12>col-xs=12 col-sm=12 col-md=12 <b>col-lg=12</b></mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=12 col-md=6 col-lg=6>col-xs=12 col-sm=12 col-md=6 <b>col-lg=6</b></mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-md=6 col-lg=6>col-xs=12 col-sm=6 col-md=6 <b>col-lg=6</b></mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-md=4 col-lg=4>col-xs=12 col-sm=6 col-md=4 <b>col-lg=4</b></mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-md=4 col-lg=4>col-xs=12 col-sm=6 col-md=4 <b>col-lg=4</b></mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-md=4 col-lg=4>col-xs=12 col-sm=6 col-md=4 <b>col-lg=4</b></mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=6 col-sm=4 col-md=4 col-lg=3>col-xs=6 col-sm=4 col-md=4 <b>col-lg=3</b></mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=6 col-sm=4 col-md=4 col-lg=3>col-xs=6 col-sm=4 col-md=4 <b>col-lg=3</b></mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=6 col-sm=4 col-md=4 col-lg=3>col-xs=6 col-sm=4 col-md=4 <b>col-lg=3</b></mv-container-item>
				<mv-container-item class="mv-container-item-text-center" col-xs=6 col-sm=4 col-md=4 col-lg=3>col-xs=6 col-sm=4 col-md=4 <b>col-lg=3</b></mv-container-item>
			</mv-container>
		</mv-card>
	</mv-card>

	<mv-card
		id="colXs"
		>
		<h3 class="title-3">col-xs</h3>
		<br>
		<p>La propiedad <b>col-xs</b> permite definir el tamaño del item para dispositivos móviles muy pequeños.</p>
		<p>Se entiende como dispositivo muy pequeño los que tienen un viewport menor a 768px.</p>
		<p>Si solo se define la propiedad <b>col-xs</b> en un elemento <b>mv.movaContainerItem</b> el tamaño del elemento será aplicado para <b>col-xs</b>, <b>col-sm</b>, <b>col-md</b> y <b>col-lg</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-container><br>
				&emsp;&emsp;&lt;mv-container-item <b>col-xs=6</b>><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 1<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&emsp;&emsp;&lt;mv-container-item <b>col-xs=6</b>><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 2<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&emsp;&emsp;&lt;mv-container-item <b>col-xs=6</b>><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 3<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&emsp;&emsp;&lt;mv-container-item <b>col-xs=6</b>><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 4<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&lt;/mv-container>
			</span>
		</code>
		<mv-container>
			<mv-container-item col-xs=6>
				<span>Elemento 1</span>
			</mv-container-item>
			<mv-container-item col-xs=6>
				<span>Elemento 2</span>
			</mv-container-item>
			<mv-container-item col-xs=6>
				<span>Elemento 3</span>
			</mv-container-item>
			<mv-container-item col-xs=6>
				<span>Elemento 4</span>
			</mv-container-item>
		</mv-container>
	</mv-card>

	<mv-card
		id="colSm"
		>
		<h3 class="title-3">col-sm</h3>
		<br>
		<p>La propiedad <b>col-sm</b> permite definir el tamaño del item para dispositivos móviles pequeños.</p>
		<p>Se entiende como dispositivo pequeño los que tienen un viewport mayor o igual a 768px.</p>
		<p>Si solo se define la propiedad <b>col-sm</b> en un elemento <b>mv.movaContainerItem</b> el tamaño del elemento será aplicado para <b>col-sm</b>, <b>col-md</b> y <b>col-lg</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-container><br>
				&emsp;&emsp;&lt;mv-container-item <b>col-sm=6</b>><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 1<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&emsp;&emsp;&lt;mv-container-item <b>col-sm=6</b>><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 2<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&emsp;&emsp;&lt;mv-container-item <b>col-sm=6</b>><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 3<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&emsp;&emsp;&lt;mv-container-item <b>col-sm=6</b>><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 4<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&lt;/mv-container>
			</span>
		</code>
		<mv-container>
			<mv-container-item col-sm=6>
				<span>Elemento 1</span>
			</mv-container-item>
			<mv-container-item col-sm=6>
				<span>Elemento 2</span>
			</mv-container-item>
			<mv-container-item col-sm=6>
				<span>Elemento 3</span>
			</mv-container-item>
			<mv-container-item col-sm=6>
				<span>Elemento 4</span>
			</mv-container-item>
		</mv-container>
	</mv-card>

	<mv-card
		id="colMd"
		>
		<h3 class="title-3">col-md</h3>
		<br>
		<p>La propiedad <b>col-md</b> permite definir el tamaño del item para dispositivos móviles medianos.</p>
		<p>Se entiende como dispositivo mediano los que tienen un viewport mayor o igual a 992px.</p>
		<p>Si solo se define la propiedad <b>col-md</b> en un elemento <b>mv.movaContainerItem</b> el tamaño del elemento será aplicado para <b>col-md</b> y <b>col-lg</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-container><br>
				&emsp;&emsp;&lt;mv-container-item <b>col-md=6</b>><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 1<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&emsp;&emsp;&lt;mv-container-item <b>col-md=6</b>><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 2<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&emsp;&emsp;&lt;mv-container-item <b>col-md=6</b>><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 3<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&emsp;&emsp;&lt;mv-container-item <b>col-md=6</b>><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 4<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&lt;/mv-container>
			</span>
		</code>
		<mv-container>
			<mv-container-item col-md=6>
				<span>Elemento 1</span>
			</mv-container-item>
			<mv-container-item col-md=6>
				<span>Elemento 2</span>
			</mv-container-item>
			<mv-container-item col-md=6>
				<span>Elemento 3</span>
			</mv-container-item>
			<mv-container-item col-md=6>
				<span>Elemento 4</span>
			</mv-container-item>
		</mv-container>
	</mv-card>

	<mv-card
		id="colLg"
		>
		<h3 class="title-3">col-lg</h3>
		<br>
		<p>La propiedad <b>col-lg</b> permite definir el tamaño del item para dispositivos móviles grandes.</p>
		<p>Se entiende como dispositivo móvil grande los que tienen un viewport mayor o igual a 1200px.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-container><br>
				&emsp;&emsp;&lt;mv-container-item <b>col-lg=6</b>><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 1<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&emsp;&emsp;&lt;mv-container-item <b>col-lg=6</b>><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 2<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&emsp;&emsp;&lt;mv-container-item <b>col-lg=6</b>><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 3<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&emsp;&emsp;&lt;mv-container-item <b>col-lg=6</b>><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 4<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&lt;/mv-container>
			</span>
		</code>
		<mv-container>
			<mv-container-item col-lg=6>
				<span>Elemento 1</span>
			</mv-container-item>
			<mv-container-item col-lg=6>
				<span>Elemento 2</span>
			</mv-container-item>
			<mv-container-item col-lg=6>
				<span>Elemento 3</span>
			</mv-container-item>
			<mv-container-item col-lg=6>
				<span>Elemento 4</span>
			</mv-container-item>
		</mv-container>
	</mv-card>

	<mv-card
		id="defaultMargin"
		>
		<h3 class="title-3">default-margin</h3>
		<br>
		<p>La propiedad <b>default-margin</b> permite crear una separación mínima entre elementos.</p>
		<p>Esta propiedad define una separación por defecto para su uso cotidiano. Por ejemplo cuando van a crearse formularios o presentación de información detallada.</p>
		<p>Por defecto no existe ninguna separación entre elementos.</p>
		<p>Si se considera necesaria una separación personalizada distinta se deberá utilizar un estilo SCSS propio.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-container><br>
				&emsp;&emsp;&lt;mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2 <b>default-margin=true</b>><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 1<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&emsp;&emsp;&lt;mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2 <b>default-margin=true</b>><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 1<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&emsp;&emsp;&lt;mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2 <b>default-margin=true</b>><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 1<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&emsp;&emsp;&lt;mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2 <b>default-margin=true</b>><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 1<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&emsp;&emsp;&lt;mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2 <b>default-margin=true</b>><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 1<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&lt;/mv-container>
			</span>
		</code>
		<p>Ejemplo <b>con</b> separación por defecto:</p>
		<mv-container>
			<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2 default-margin=true>
				<mv-input adapt=true></mv-input>
			</mv-container-item>
			<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2 default-margin=true>
				<mv-input adapt=true></mv-input>
			</mv-container-item>
			<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2 default-margin=true>
				<mv-input adapt=true></mv-input>
			</mv-container-item>
			<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2 default-margin=true>
				<mv-input adapt=true></mv-input>
			</mv-container-item>
			<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2 default-margin=true>
				<mv-input adapt=true></mv-input>
			</mv-container-item>
			<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2 default-margin=true>
				<mv-input adapt=true></mv-input>
			</mv-container-item>
		</mv-container>
		<p>Ejemplo <b>sin</b> separación por defecto:</p>
		<mv-container>
			<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2>
				<mv-input adapt=true></mv-input>
			</mv-container-item>
			<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2>
				<mv-input adapt=true></mv-input>
			</mv-container-item>
			<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2>
				<mv-input adapt=true></mv-input>
			</mv-container-item>
			<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2>
				<mv-input adapt=true></mv-input>
			</mv-container-item>
			<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2>
				<mv-input adapt=true></mv-input>
			</mv-container-item>
			<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2>
				<mv-input adapt=true></mv-input>
			</mv-container-item>
		</mv-container>
	</mv-card>

	<mv-card
		id="showColClasses"
		>
		<h3 class="title-3">show-col-classes</h3>
		<br>
		<p>La propiedad <b>show-col-classes</b> permite mostrar las clases CSS que están aplicandose mediante los atributos <b>col</b>.</p>
		<p>También se aplica un estilo CSS que permite al desarrollador visualizar mejor la estructura visual del componente y permite la maquetación de una forma más sencilla.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-container><br>
				&emsp;&emsp;&lt;mv-container-item col-xs=12 col-sm=6 col-md=4 col-lg=3 <b>show-col-classes=true</b>><br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&emsp;&emsp;mv-container-item col-xs=12 col-sm=6 col-md=4 col-lg=3 <b>show-col-classes=true</b>><br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&emsp;&emsp;mv-container-item col-xs=12 col-sm=6 col-md=4 col-lg=3 <b>show-col-classes=true</b>><br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&emsp;&emsp;mv-container-item col-xs=12 col-sm=6 col-md=4 col-lg=3 <b>show-col-classes=true</b>><br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&lt;/mv-container>
			</span>
		</code>
		<mv-container>
			<mv-container-item col-xs=12 col-sm=6 col-md=4 col-lg=3 show-col-classes=true>
			</mv-container-item>
			<mv-container-item col-xs=12 col-sm=6 col-md=4 col-lg=3 show-col-classes=true>
			</mv-container-item>
			<mv-container-item col-xs=12 col-sm=6 col-md=4 col-lg=3 show-col-classes=true>
			</mv-container-item>
			<mv-container-item col-xs=12 col-sm=6 col-md=4 col-lg=3 show-col-classes=true>
			</mv-container-item>
		</mv-container>
	</mv-card>

	<mv-card
		id="mvContainerItemTextCenter"
		>
		<h3 class="title-3">mv-container-item-text-center</h3>
		<br>
		<p>La clase CSS <b>mv-container-item-text-center</b> permite alinear el contenido del componente en el centro.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-container><br>
				&emsp;&emsp;&lt;mv-container-item<br>
				&emsp;&emsp;<b>class="mv-container-item-text-center"</b>><br>
				&emsp;&emsp;Ejemplo
				&emsp;&emsp;&lt;/mv-container-item><br>
				&lt;/mv-container>
			</span>
		</code>
		<mv-container>
			<mv-container-item class="mv-container-item-text-center">
				Ejemplo
			</mv-container-item>
		</mv-container>
	</mv-card>

	<mv-card
		id="mvContainerItemTextLeft"
		>
		<h3 class="title-3">mv-container-item-text-left</h3>
		<br>
		<p>La clase CSS <b>mv-container-item-text-left</b> permite alinear el contenido del componente a la izquierda.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-container><br>
				&emsp;&emsp;&lt;mv-container-item<br>
				&emsp;&emsp;<b>class="mv-container-item-text-left"</b>><br>
				&emsp;&emsp;Ejemplo
				&emsp;&emsp;&lt;/mv-container-item><br>
				&lt;/mv-container>
			</span>
		</code>
		<mv-container>
			<mv-container-item class="mv-container-item-text-left">
				Ejemplo
			</mv-container-item>
		</mv-container>
	</mv-card>

	<mv-card
		id="mvContainerItemTextRight"
		>
		<h3 class="title-3">mv-container-item-text-right</h3>
		<br>
		<p>La clase CSS <b>mv-container-item-text-right</b> permite alinear el contenido del componente a la derecha.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-container><br>
				&emsp;&emsp;&lt;mv-container-item<br>
				&emsp;&emsp;<b>class="mv-container-item-text-right"</b>><br>
				&emsp;&emsp;Ejemplo
				&emsp;&emsp;&lt;/mv-container-item><br>
				&lt;/mv-container>
			</span>
		</code>
		<mv-container>
			<mv-container-item class="mv-container-item-text-right">
				Ejemplo
			</mv-container-item>
		</mv-container>
	</mv-card>

</mv-screen>