<!-- mova-menu -->

<mv-card>

	<mv-input
		ng-class="{widthButton: expandAllButton}"
	  icon-class="fa fa-search"
	  placeholder="Buscar..."
		ng-model-options="{ debounce: 400 }"
	  model="search.value">
	</mv-input>

	<mv-button
		ng-if="expandAllButton && !expandAll"
		class="fas fa-folder-open"
	  click="expandAllClick()">
	</mv-button>

	<mv-button
		ng-if="expandAllButton && expandAll"
		class="fas fa-folder"
	  click="expandAllClick()">
	</mv-button>

	<ul>

		<li ng-repeat="(key, value) in valoresArray track by $index">
			<section
				ng-if="value.mostrar == true"
				class="item-simple cursor-pointer"
				ng-click="itemClick(value)"
				ng-class="{'{{value.claseCss}}': value.claseCss != '',
									 'mvMenuDeplegableEnlaceN{{value.nivel}}': value.enlace != '',
									 'mvMenuDeplegableCloseN{{value.nivel}}': value.enlace == '' && !tieneDescendientesAbiertos(value.id),
									 'mvMenuDeplegableOpenN{{value.nivel}}':  value.enlace == '' && tieneDescendientesAbiertos(value.id)}"
			  >
				<i id="mova-item-click-icon" class="fa fa-lg"></i>
				<main>
					<div ng-class="{'mvMenuDesplegableTituloN{{value.nivel}}': true}" ng-bind-html="value.titulo">
					</div>
					<div ng-class="{'mvMenuDesplegableSubtituloN{{value.nivel}}': true}" ng-bind-html="value.subtitulo">
					</div>
				</main>

			</section>
		</li>

	</ul>

</mv-card>
