/*
╔═════════════════════════════╗
║ mova-menu-desplegable style ║
╚═════════════════════════════╝
*/

mv-menu-desplegable {

  .widthButton{
    display: inline-flex;
    width: calc(100% - 4em);
    margin-right: 11px;
  }

  .containerButton{
    text-align: center;
  }

  .item-simple{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 1px;
    position: relative;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0.55rem;
    font-size: 1rem;
    overflow-wrap: break-word;
    min-height: 4rem;

    > h1 {
      @include mx-truncate();
      display: inline-block;
      font-size: $font-size-medium;
      font-weight: bold;
      padding: 0 0 0 0;
      margin: 1.55rem 0 0 0.25rem;
      max-width: calc(100% - 3.25rem);
    }

    > h2 {
      @include mx-truncate();
      font-size: $font-size-medium;
      padding: 0 0 0 0;
      margin: 0 0 0 0.25rem;
      max-width: calc(100% - 3.55rem);
    }

    > h3 {
      position: absolute;
      top: 0;
      right: 0.2rem;
      font-size: $font-size-small;
      padding: 0 0 0 0;
      margin: 0 0 0 0;
    }

    > main {
      padding: 0 0 0 0;
      margin: 0 0 0 0.25rem;
      max-width: calc(100% - 3.25rem);
      font-size: $font-size-medium;
    }
  }
  ul{
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
}
