
<ion-content>
 

    <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">

    <div text-center style="background: transparent !important; margin-top: 3rem">
          <input type="text" class="email" placeholder="Correo Electrónico" formControlName="email">
        </div>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message"
                 *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
    
    
        <div text-center style="background: transparent !important;"> 
          <input type="password" class="password" placeholder="Contraseña" formControlName="password">
        </div>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message"
                 *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <div text-center style="background: transparent !important;">
          <input type="password" class="password" placeholder="Confirmar Contraseña" formControlName="confirmPassword">
        </div>
        <div text-center class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.confirmPassword">
            <div text-center class="error-message"
                 *ngIf="validations_form.get('confirmPassword').hasError(validation.type) && (validations_form.get('confirmPassword').dirty || validations_form.get('confirmPassword').touched)">
              <label class="error-message">{{validation.message}}</label><br/>
            </div>
          </ng-container>
        </div>
        <div text-center class="footer">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <div text-center class="inner-wrapper">
                <ion-label class="label label-ios">
                  <p class="terminos"> <input type="checkbox" class="check cuadro" formControlName="check" color="primary" checked="false">
                    Acepto los <a a style="color: blue; box-shadow: none;" (click)="presentModal()">terminos y condiciones.</a></p>
                </ion-label>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div text-center>
          <button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Registrar
          </button>
        </div>
  <label class="error-message">{{errorMessage}}</label>
  <label class="success-message">{{successMessage}}</label>
      </div>
      <div class="iniciar" text-center>
        <p class="go-to-login">¿Ya tienes una Cuenta? <a (click)="goLoginPage()"><b style="text-shadow: 2px 1px 1px black;">Iniciar Sesión.</b></a></p>
      </div>
      </form>
     
  

</ion-content>
