ion-header{
    background: gray;
}

ion-header h5{
    text-shadow: 1px 1px black;
    padding-top: 1rem;
    color: white;
    background: black;
    width: 70%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    position: relative;
    margin-left: 15%;
    padding-bottom: 0.3rem;
}

ion-content{

    --background: url("/assets/imgs/registro.jpg") no-repeat fixed center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}

@media only screen and (min-width:414px){
    ion-content{
        --background: url("/assets/imgs/registroS.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
    }
}

.titulo{
    text-shadow: 1px 1px black;
    padding-top: 1rem;
    color: white;
}

.email{
    width: 100%;
    height: 2.5rem;
    margin-top: rem;
    position: relative;
    margin-top: 4rem;
}

::placeholder{
    color: black;
    text-align: center;
}

.password{
    width: 100%;
   // border-radius: 25px;
    height: 2.5rem;
    margin-top: 1rem;
}
b{
    color: #26a6ff;
    text-shadow: none;
}

.footer{
    position: relative;
    margin-top: 5rem;
    bottom: 0;
    margin-bottom: 3rem;
}

.terminos{
    color: black;
    text-shadow: 1px 0px black;
    font-size: larger;
    position: relative;
    padding-bottom: 1rem;

}

.submit-btn{
    width: 12rem;
    color: black;
    background: white;
    border-radius: 5px;
    height: 2.5rem;
    font-size: 1.1rem;
}
.check{
    width: auto;
   height: auto;
    border: 1px solid black !important;
}

.go-to-login{
    position: relative;
    color: white;
    text-shadow: 2px 1px 1px black;
    justify-content: center;
    font-size: larger;
    margin-top: -3rem;
}