<app-cabecera [titulohead]="tituhead"></app-cabecera>
<!-- <ion-buttons slot="end">
        <ion-back-button text="" color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-content *ngIf="isAdmin === true" padding>

      --> 
<ion-content padding-top padding-top>
      <ion-grid *ngIf="items">

  <ion-row class="conteBoton" margin-top>
      </ion-row>
            <div *ngFor="let item of items">
                <div *ngIf="items.length > 0">
           <div *ngIf="item.payload.doc.data().nombreApellido && item.payload.doc.data().nombreApellido.length"  class="contenido">
                <div *ngIf="item.payload.doc.data().nombreApellido.includes(searchText) ">  
            <ion-list>
                  <ul style="list-style-type: none;">
                    <li>
                  <ion-col size="6" lg-size="3" xl-size="3">
                    <div [routerLink]="['/detalles-historial-dietetico', item.payload.doc.id]"  class="cajabuscador"    >
                      <span class="nombreuser"> <strong>Paciente:     </strong>{{item.payload.doc.data().nombreApellido}}</span>
                        <span class="num_edad"> Última Consulta:  {{item.payload.doc.data().fecha | date: 'dd/MM/yyyy'}}</span> 
                      </div>
        <!-- se pone fuera para que no le afecte el click general -->
                    </ion-col>
                    </li>  
                  </ul>
</ion-list> 
  </div>
  </div>
  </div>
  
  </div>
  </ion-grid>
</ion-content>

