.cajabuscador{
    padding: 5px;
    padding-top: 3px;
    background: #BB1D1D;
    border: 0.8px solid #3B3B3B;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px; 
    text-align: center;
    width: 90%;
}
span{
    color: white;
}
.nombreuser{

    border-bottom:1px solid #3B3B3B;
}

@media (min-width: 1024px) and (max-width: 1280px){
    .cajabuscador{
        margin-left: 4%;
    }
}

@media only screen and (min-width:1280px){
    .cajabuscador{
        margin-left: 4%;
    }
}