ion-content{

    --background: url("/assets/imgs/listaIncidencias.jpg") no-repeat fixed center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}

@media only screen and (min-width:414px){
    ion-content{
        --background: url("/assets/imgs/listaIncidenciasS.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
    }
}

        ion-item{
            --background: rgba(255,255,255,0.6);

            margin-bottom: 0.2rem;
        }


@media (min-width:1024px) and (max-width:1920px){
    .caja{
        width: 50%;
    }
    ion-searchbar{
        width: 50%;
    margin-left: 25%;
    }
    ion-content{
        --background: url("/assets/imgs/Lincidencias.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
        --background-attachment: fixed;
    }  
}

