    
    *{
        margin:0px;
        padding:0px;
    }
  
    //CABEZERA
  
     .contiene .logo{
       font-size: 30px;
       position:absolute;
       bottom: 1px;
       left:10px;
       padding-bottom: 5px;
      }
  
      .arrow{
        height: 1.5rem;
        float: right;
        padding-right: 1rem;
    }
   .contiene .chat{
    position: absolute;
    width:70px;
    height: 70px;
    margin-top: -20px;
    margin-left: -10%;
    }
  
   .contiene{
           padding-top: 5px;
           padding-bottom: -10px;
           height: 35px;
       
     }
   //FIN DE LA CABEZERA
   // FLECHA RETROCESO
  .flecha{
    color :red;
    font-size: 30px;
    top:-5px;
    position: absolute;
   }

   .bot{
    width: 92px;
    height: 105px;
    margin: 5px;
    margin-top: 15%;
    margin-bottom: 20%;
    background: #BB1D1D;
    border: 0.5px solid #3B3B3B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px; 
    text-align: center;
 
     }

     .bot2{
      width: 92px;
      height: 105px;
      margin: 0 auto;
      margin-top: 15%;
      margin-bottom: 20%;
      background: #BB1D1D;
      border: 0.5px solid #3B3B3B;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px; 
      text-align: center;
      color: #ffffff;
   
       }
     .bot img{
        width: 90%;
        height: 90%;
        
     }
     .bot p{
        color: #ffffff;
        font-size: 10px;
        margin-top: -7%;
     }
     h4{
         text-align: center;
         font-weight: bold;
     }

     .bot_asignado{
       background: #000;
     }

     .iconos{
      width:40px;
      height: 40px;
      color: white;
      margin-top: 25%;
    }