<ion-header>
  <nav class="navbar navbar-expand-lg navbar-dark ">
    <a style="font-size: large; color: white;" class="navbar-brand" (click)="goBack()"><img class="logo"
        src="../../../assets/icon/logotipoO.png">Desahucio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="isUserAdmin != true" class="nav-item ">
          <a class="nav-link" (click)="perfil()">Perfil</a>
        </li>
        <li *ngIf="isUserAdmin != true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/tabs/tab1" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Pisos
          </a>
          <div class="dropdown-menu" style="background: black; color:white;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="listaPisos()">Lista de pisos</a>
            <a class="dropdown-item" (click)="registrarPiso()">Añadir piso</a>
          </div>
        </li>
        <li *ngIf="isUserAdmin != true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Agentes
          </a>
          <div class="dropdown-menu" style="background: black; color:white;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="registroAgente()">Registrar agente</a>
            <a class="dropdown-item" (click)="listaInmo()">Lista de agentes</a>
          </div>
        </li>
        <li *ngIf="isUserAdmin == true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div style="background: black; color:white;" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="registro()">Registrar Inmobiliaria</a>
            <a class="dropdown-item" (click)="listaInmobiliarias()">Lista de Inmobiliarias</a>
            <a class="dropdown-item" (click)="listaPisosAdmin()">Lista de pisos</a>
            <a class="dropdown-item" (click)="pisosReservados()">Lista de pisos bloqueados</a>
            <a class="dropdown-item" (click)="solicitudesAlquiler()">Solicitudes de alquiler&nbsp;<ion-badge *ngFor="let contratos of cs.contratos; let i = index;" color="success"><p *ngIf="contratos.contratoGenerador != true">{{i+1}}</p></ion-badge></a>
            <a class="dropdown-item" (click)="incidentes()">Lista Incidencias</a>
            <a class="dropdown-item" (click)="desahucio()">lista prevision desahucio</a>
            <a class="dropdown-item" (click)="impago()">lista prevision impago</a>
            <a class="dropdown-item" (click)="contratosInquilinos()">Contratos firmados inquilinos</a>
            <a class="dropdown-item" (click)="contratosArrendadores()">Contratos firmados arrendadores</a>
            <a class="dropdown-item" (click)="recibos()">Recibos</a>
            <a class="dropdown-item" (click)="admin()">Registrar admin</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</ion-header>
<ion-content padding>

  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <ion-grid text-center class="mx-auto">
      <ion-row>
        <ion-card style="background: rgba(255, 255, 255, 0.6)">
          <ion-card-content>
        <ion-col class="tel" ize="12">
          REUNIDOS
          DE UNA PARTE
          RentechApp S.L. con N.I.F. número B-88351630 y domicilio en Paseo del Club Deportivo 1, Edificio 15-A, Planta
          1ª, Código Postal 28223 de Pozuelo de Alarcón, Madrid, actuando en este acto como propietaria de la aplicación
          Móvil ofrecida por la misma a través de la que se gestionan contratos de Arrendamiento, en adelante la
          “Gestora”.

          Y DE OTRA
          Don/Doña<ion-input type="text" formControlName="nombre" placeholder="Nombre"></ion-input>, con D.N.I. número
          <ion-input type="text" formControlName="dni" minlength="9" maxlength="9" placeholder="dni"></ion-input> y domicilio en <ion-input
            type="text" formControlName="domicilio" placeholder="domicilio"></ion-input>, actuando en este acto en su
          propio nombre y derecho, en adelante el “Arrendador”.

          EN ADELANTE
          RentechApp S.L. y Don/Doña<ion-input type="text" formControlName="nombre" placeholder="Nombre"></ion-input>,
          ambos, que conjuntamente serán denominados como las “Partes”, se reconocen mutuamente capacidad suficiente
          para la firma del presente Contrato de Acción de Desahucio y Reclamación de Rentas Condicionado, la asunción
          de las obligaciones que del mismo dimanan y, en su virtud,
          EXPONEN
          I.- Que Don/Doña <ion-input type="text" formControlName="nombre" placeholder="Nombre"></ion-input> es
          propietario, por justos y legítimos títulos, de la vivienda sita en <ion-input type="text"
            formControlName="direccion" placeholder="direccion"></ion-input>, con referencia catastral <ion-input
            type="text" formControlName="referenciaCatastral" placeholder="referenciaCatastral"></ion-input>, en
          adelante el “Inmueble”, el cual Arrienda a un tercero inquilino por una Renta de: <ion-input type="text"
            formControlName="precio" placeholder="precio"></ion-input>Euros mensuales.
          II.- Que Don/Doña <ion-input type="text" formControlName="nombre" placeholder="Nombre"></ion-input> arrienda
          el anteriormente indicado Inmueble a través de la Aplicación Móvil propiedad de la Gestora mediante Contrato
          de Arrendamiento firmado con su inquilino.
          III.- Que el arrendador desea iniciar las Acciones de Desahucio y Reclamación de Rentas del contrato de
          arrendamiento principal firmado con su inquilino, a través de la Gestora.
          IV.- Que las Partes firmantes convienen el presente Contrato de Previsión de Acción de Desahucio y Reclamación
          de Rentas con arreglo a las siguientes,

          CLÁUSULAS
          § PRIMERA.- OBJETO.
          Por el presente contrato, la Gestora se subrogará eventualmente en la posición del Arrendador con el fin de
          Instar Acción de Desahucio y Reclamación de Rentas, sobre la cantidad impagada, estipulada en el Contrato de
          Arrendamiento en vigor formalizado mediante la Aplicación Móvil propiedad de la Gestora, contra el Inquilino,
          así como para cuantas acciones Civiles pudieran suscitarse respecto a la misma.
          § SEGUNDA.- RÉGIMEN APLICABLE.
          Este contrato tiene carácter mercantil y se regirá por sus propias cláusulas o, en lo que en ellas no
          estuviera contemplado, por lo previsto en las disposiciones españolas contenidas en el Código de Comercio,
          Código Civil, Leyes especiales y, en particular, en lo referente a los profesionales que efectivamente lleven
          a cabo el Procedimiento, por el Estatuto General de la Abogacía, el Código Deontológico del Ilustre Colegio de
          Abogados de Madrid y por las demás normas y reglamentos inherentes a la Profesión de Abogado.
          § TERCERA.- ALCANCE DEL ASUNTO.
          El alcance de los servicios profesionales se extenderá, desde la Reclamación Previa hasta la Completa
          Resolución, en primera instancia, del eventual pleito suscitado por Desahucio y Reclamación de Rentas, pasando
          por todas las negociaciones y conferencias que se requieran a fin de la consecución y buen fin del Derecho de
          defensa del Arrendador.
          Al efecto, por el presente, y sin perjuicio de los requisitos procesales oportunos, el Arrendador otorga poder
          de representación a la Gestora designe en su nombre a los profesionales requeridos, para que éstos representen
          al primero en cuantas conferencias o reuniones se susciten con la parte contraria, así como para percibir los
          pagos en nombre del Arrendador.
          Se hace expresamente constar que la prestación de los servicios de la Gestora así como de los Despachos y
          Profesionales que susciten el Procedimiento, constituyen arrendamiento de Servicios Profesionales en defensa
          de los intereses del Arrendador.
          § CUARTA.- DOCUMENTACIÓN.
          El Arrendador se compromete a proporcionar diligentemente al Letrado designado cuanta información y
          documentación sea relevante, o pueda serlo, para la defensa y encargo encomendado, así como la que sea
          requerida por el Abogado y a comunicar su cambio de domicilio o direcciones de contacto mientras esté vigente
          el encargo.
          El Arrendador autoriza expresamente a RentechApp S.L. a generar el informe con la evolución del Contrato de
          Arrendamiento objeto de reclamación y remitirlo al Letrado designado, de cara a que éste sirva como prueba
          documental a los efectos oportunos.
          El Arrendador responde de la exactitud de los datos que facilite a la Gestora y al Letrado designado para la
          realización del servicio contratado, que deberán ser completos y entregados dentro de plazo. De las
          consecuencias que se deriven, que traigan causa en que los datos facilitados por el Arrendador sean
          incompletos, insuficientes o se entreguen fuera de plazo, no devendrá responsabilidad alguna para la Gestora o
          el Letrado designado.
          § QUINTA.- PROFESIONALES QUE INTERVENDRÁN EN EL ASUNTO.
          Los profesionales a intervenir en dicho procedimiento, previsiblemente, serán: Abogado y Procurador, que serán
          designados por la Gestora. Este presupuesto se limita a la intervención del Letrado y el Procurador
          designados. Los gastos de los referidos profesionales no designados por la Gestora, así como de cualquier otro
          profesional, no se encuentran incluidos en el presente presupuesto.
          § SEXTA.- EQUIPO.
          El asunto objeto de encargo se encomienda a la Gestora y el Letrado por ésta designado, sin perjuicio de los
          colaboradores que éstos pudieran requerir, el Letrado designado será el único responsable para resolver
          cualquier consulta jurídica de la materia objeto de controversia, así como del asunto, sin perjuicio de los
          derechos de repetición que éste pudiera tener respecto a sus colaboradores.
          § SÉPTIMA.- HONORARIOS.
          La ejecución de dichos trabajos profesionales se efectuará en régimen de arrendamiento de servicios, con
          arreglo a las normas deontológicas de la abogacía, en especial la libertad de precios y sobre la base
          cuantitativa inicial de una Anualidad de Renta más las que resultaren Impagadas, sin perjuicio de lo que
          posteriormente resulte efectivo.
          Los honorarios se corresponden con un 3% sobre el total de la Renta reflejada en el contrato de Arrendamiento
          Principal sujeta a Previsión de Desahucio y Reclamación de Rentas impagadas, gastos, suplidos, retenciones e
          impuestos indirectos no incluidos.
          § OCTAVA.- GASTOS Y SUPLIDOS.
          Los gastos o suplidos en que se pudiera incurrir por la realización del encargo, como documentos notariales,
          gestión, desplazamientos, viajes, mensajeros, traductores, etc., no se encuentran incluidos en los honorarios
          propuestos y en todo caso deberán ser asumidos por el Arrendador. En caso de incurrir en algún gasto o suplido
          deberá ser soportado por el Arrendador. Los gastos y suplidos en que se incurrieren, se cargarán contra el
          Arrendador y serán debidamente facturados.
          En caso de que fuera necesario incurrir en algún gasto o efectuar algún desplazamiento fuera del Despacho
          mientras se prestan los servicios deberán ser reembolsados al Abogado por el Arrendador de acuerdo con la
          cuantía satisfecha.
          § NOVENA.- TRANSACCIÓN.
          En el supuesto de que el procedimiento judicial en el que se prestan los servicios objeto de esta Previsión de
          Desahucio y Reclamación de Renta concluya con una transacción por la que se dé fin al mismo, el Letrado
          mantendrá el derecho a la percepción íntegra de las sumas por las que se presupuestó la defensa en el
          procedimiento judicial, por lo que, alcanzada la transacción, la gestora retendrá para sí las provisiones
          recibidas, las cantidades cobradas en nombre del Arrendador y, en su caso, requerirá la suma pendiente hasta
          completar los honorarios gastos y suplidos que resultaren debidos, estos honorarios serán debidamente
          facturados al efecto.
          § DÉCIMA.- FORMA DE PAGO.
          Se retendrá mensualmente por la Gestora la cantidad correspondiente al 3% de la Renta más los Impuestos
          Indirectos que resultaren de aplicación.
          § DÉCIMO PRIMERA.- AUTORIZACIÓN DE IMPUTACIÓN DE PAGOS.
          El Arrendador autoriza a la Gestora y al Letrado a aplicar las cantidades que perciba de terceros por cuenta o
          en interés del Arrendador por cualquier concepto, incluido el pago del importe de las costas tasadas, al pago
          de la minuta procedente de éste u otros encargos profesionales, o a provisión de fondos para honorarios y
          suplidos de éste u otros encargos profesionales.
          § DÉCIMO SEGUNDA.- COSTAS PROCESALES.
          En el supuesto de que el resultado del procedimiento judicial sea favorable al Arrendador y la parte contraria
          resulte condenada al pago de las costas, hecho efectivo el importe de las mismas por el juzgado, éstas se
          abonarán al Despacho en concepto de Prima de Vencimiento o Prima de Éxito, en suma a la cuantía desembolsada
          en concepto de Previsión de Desahucio y Reclamación de Rentas.
          En el caso anterior, tanto la Gestora como el Letrado podrán reclamar el pago de las mismas en nombre del
          Arrendador, e imputarlas a honorarios efectivamente debidos, siendo facturadas conforme a las Vigentes Normas
          Mercantiles, en el momento de la efectiva retención de las mismas.
          Tanto la Gestora como el Letrado ADVIERTEN expresamente al Arrendador de la posibilidad de ser condenado en
          costas y, así mismo, en caso de imposición de las costas a la Gestora, éstas se repercutirán al Arrendador,
          estando obligado a asumir el pago de las mismas.
          Esta estipulación se limita exclusivamente a la regulación del tratamiento de las costas tasadas por el
          Juzgado o Tribunal que resuelva el litigio.
          § DÉCIMO TERCERA.- CONFIDENCIALIDAD.
          La Gestora, el Letrado, sus profesionales, empleados y colaboradores están obligados con carácter indefinido a
          respetar la confidencialidad de toda la información y documentación recibida del Arrendador. Este deber de
          secreto profesional únicamente estará limitado por las leyes aplicables, y por mandato judicial. Este deber de
          confidencialidad alcanza a todos los efectos a terceros relacionados con el Arrendador, sus entidades
          filiales, socios, directivos, empleados o familiares.
          El Letrado exigirá este deber de confidencialidad a posibles proveedores o colaboradores en la relación con el
          Arrendador. El Letrado, mantendrá los documentos originales aportados hasta su entrega al Arrendador y podrá
          conservar copia de cualquier información o documentación relacionada con el asunto de la prestación de
          servicios realizada, siempre dentro del presente compromiso de confidencialidad. Esta información y
          documentación podrá ser destruida en cualquier momento sin conocimiento del Arrendador.
          § DÉCIMO CUARTA.- PROTECCIÓN DE DATOS
          El Arrendador autoriza a la Gestora a entregar copia de la documentación facilitada para cumplimentar el
          expediente a otros terceros intervinientes o necesarios para la realización del encargo, asesores fiscales,
          agentes inmobiliarios, entidades bancarias, o abogados y asesores de la contraparte, en caso de que dicha
          información sea requerida.
          El Arrendador autoriza expresamente al Letrado el tratamiento de todos los datos de carácter personal que le
          fueran facilitados para el mantenimiento de la futura relación contractual, la elaboración de estudios
          estadísticos y el envío de información comercial. Dichos datos permanecerán en los ficheros del Letrado y
          estarán sujetos, mediante solicitud escrita del interesado, a los derechos de acceso, rectificación,
          cancelación y oposición de acuerdo con la legislación vigente.
          Respecto de los datos personales a los que la Gestora tenga acceso como consecuencia de la prestación del
          servicio, se entenderán facilitados de forma voluntaria por el ARRENDADOR, y sólo serán utilizados con la
          finalidad de prestar aquél, siguiendo en todo momento las instrucciones del ARRENDADOR, comprometiéndose la
          Gestora a no aplicarlos ni utilizarlos para finalidad distinta de la pactada y a no comunicarlos a otras
          personas, así como a destruir los soportes y/o documentos donde se contengan dichos datos al finalizar el
          presente contrato, salvaguardando en todo caso las pruebas necesarias respecto a las actuaciones realizadas.
          En todo caso, los documentos de trabajo y el diseño o sistema de defensa serán propiedad del Letrado.
          El Abogado informa al Arrendador de que los datos personales contenidos en el presente contrato y los
          generados por la prestación del servicio, todos ellos relativos al Arrendador, servirán a la finalidad de
          prestar el servicio, entendiendo que la firma del presente contrato implica su consentimiento para llevar a
          cabo dicho tratamiento.
          El Arrendador tiene la posibilidad de ejercitar los derechos de acceso, rectificación, cancelación y
          oposición, en relación a sus datos personales, dirigiendo un escrito a la dirección de la Gestora indicada en
          el encabezamiento y del Letrado, así mismo podrá realizarse mediante comunicación electrónica a la dirección
          del Letrado.
          Igualmente le informa de que, en ocasiones, el cumplimiento del presente contrato podrá implicar la cesión de
          datos personales a la Hacienda Pública para la consecución de la prestación del servicio arriba indicado, de
          acuerdo en todo caso con lo dispuesto en la normativa legal, y de forma específica en la Ley Orgánica de
          Protección de Datos de Carácter Personal y en la Ley General Tributaria.
          § DÉCIMO QUINTA.- ACEPTACIÓN
          En consecuencia, para considerarse realizado el encargo y poder comenzar con la intervención profesional,
          deberá satisfacerse ininterrumpidamente desde la firma de la presente Previsión de Desahucio y Reclamación de
          Rentas el importe correspondiente al 3% de la mensualidad durante la vigencia del Contrato de Arrendamiento
          Principal y ser facilitada toda la documentación requerida.
          § DÉCIMO SEXTA.- JURISDICCIÓN.
          Ambas partes se someten, tanto para cualquier discrepancia emanada de la interpretación de este contrato como
          de cualesquiera otras que pudieran surgir en cuanto al Inmueble, ya sean de naturaleza contractual como
          extracontractual, a los juzgados y tribunales de la ciudad de Madrid, salvo los fueros legales pertinentes.
          Todo lo anterior, sin perjuicio de poder someterse a sistemas alternativos de resolución de tales conflictos,
          a título enunciativo, pero no exhaustivo, negociación, conciliación, mediación, arbitraje y, en concreto, el
          sometimiento, en materia de impugnación de honorarios, a la Junta de Gobierno del Ilustre Colegio de Abogados
          de Madrid, sometiéndose a su decisión Arbitral, de conformidad con el Reglamento Arbitral de dicho Colegio.
          Y PARA QUE ASÍ CONSTE, se extiende el presente documento, por duplicado a un solo efecto, en seis folios de
          papel común numerados correlativamente al pie de cada uno, que, después de leído, es rubricado en su pie por
          las Partes contratantes en prueba de su comprensión y consentimiento, en el lugar y fecha al principio
          indicada.

        </ion-col>
        <ion-col size="12">
          <img class="signature mx-auto" text-center src="{{this.item.signature}}">
        </ion-col>
        <ion-col size="12">
          <ion-select text-center class="mx-auto" placeholder="verificar" formControlName="verificado">
            <ion-select-option [value]="true">Si</ion-select-option>
            <ion-select-option [value]="false">No</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-card-content>
      </ion-card>
      </ion-row>
    </ion-grid>
    <div style="margin-top: 1rem;" text-center>
      <button class="botones" color="primary" type="submit" [disabled]=!validations_form.valid>Actualizar</button>
    </div>
  </form>
  <div text-center>
    <button text-center class="boton-borrar mx-auto" color="danger" (click)="delete()">Borrar</button>
  </div>
</ion-content>