<!-- app-example-mova-ultimas-notificaciones -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaUltimasNotificaciones</h1>
		<br>
		<p>Componente que muestra las últimas notificaciones push del dispositivo. Contiene un botón para cargar más notificaciones,
			incluso las más antiguas que ya estén leídas.</p>
		<p>Este componente tiene un solo atributo:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('idDispositivoPruebas')" >idDispositivoPruebas</a></li>
		</ul>
		<p>Para el uso de este componente hay que definir también el aspecto del detalle de cada notificación
			mediante el siguiente componente:
		<ul>
			<li><a href="" ng-click="$root.scrollTo('appFichaNotificacion')" >appFichaNotificacion</a></li>
		</ul>
	</mv-card>

	<mv-card
		id="idDispositivoPruebas"
		>
		<h3 class="title-3">idDispositivoPruebas</h3>
		<br>
		<p>La propiedad <b>idDispositivoPruebas</b> es el identificador del dispositivo cuyas notificaciones mostrará
			el componente. Este parámetro está especialmente indicado para el uso de este componente cuando se está
			haciendo pruebas, por ejemplo mientras se está desarrollando en modo web ya que en ese caso no hay dispositivo
			sobre el que coger el identificador.</p>
		<p>Si no se pasa el parámetro, el componente tomará el identificador del dispositivo en el que se esté
			ejecutando la app.</p>

		<p>Ejemplo de uso pasando como parámetro un identificador de dispositivo concreto:</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				let idDispositivoPruebas = 123456;<br>
				this.state.go('mova-ultimas-notificaciones', {<br>
				&emsp;&emsp;"idDispositivoPruebas": idDispositivoPruebas<br>
				});<br>
			</span>
		</code>

		<p>Ejemplo de uso pasando sin pasar el identificador de dispositivo:</p>

		<code>
			<badge>JavaScript</badge>
			<span>
				this.state.go('mova-ultimas-notificaciones')<br>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="appFichaNotificacion"
		>
		<h3 class="title-3">appFichaNotificacion</h3>
		<br>
		<p>El componente app <b>appFichaNotificacion</b> define el aspecto que tiene el card de cada
			notificación y se puede modificar al gusto del usuario, teniendo en cuenta las consideraciones
		 	que se exponen a continuación.</p>

		<p>Hay elementos como los atributos "title" (para mostrar el título de la notificación),
			"detail" (para mostrar la descripción de la notificación), "corner"
			(para mostrar la fecha de la notificación) y el botón de eliminar que no deberían quitarse,
			dada su utilidad.</p>

		<p>No obstante, hay otras partes de la ficha que sí se pueden modificar libremente. Dado que la ficha
			está basada en el componente <a href="#!/example-mova-item"><b>mv.movaItem</b></a>
			se podrán aprovechar todas las características, opciones, estilos... de dicho componente. Además,
		 	hay una parte de html para mostrar lo que consideremos conveniente. También hay que especificar
		 	qué queremos que haga el componente cuando se haga click en él modificando la función clickItem y,
			si no queremos que sea clicable, bastaría con eliminar el atributo click. </p>

		<p>Ejemplo de uso por defecto:</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-item<br>
				&emsp;&emsp;title="{{ html[0] }}"<br>
				&emsp;&emsp;detail="{{ html[1] }}"<br>
				&emsp;&emsp;corner="{{ html[2] }}"<br>
				&emsp;&emsp;click="clickItem($ctrl.notificacion.infoApp)"><br><br>
				&emsp;&emsp;//Seccion para modificar libremente<br><br>
				&emsp;&emsp;&lt;div class="labelDato"><br>
				&emsp;&emsp;&emsp;&emsp;Identificador:<br>
				&emsp;&emsp;&lt;/div><br><br>
				&emsp;&emsp;&lt;div class="valorDato"><br>
				&emsp;&emsp;&emsp;&emsp; {{ html[3] }}<br>
				&emsp;&emsp;&lt;/div><br><br>
				&emsp;&emsp;//Fin seccion para modificar<br><br>
				&emsp;&emsp;&lt;span><br>
				&emsp;&emsp;&emsp;&emsp;//Botón de eliminar<br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-trash iconoEliminar cursor-pointer"<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;ng-click="eliminaNotificacion($ctrl.notificacion); $event.stopPropagation();">&lt;/i><br>
				&emsp;&emsp;&lt;/span><br>
				&lt;/mv-item>
			</span>
		</code>

		<p>JSON de ejemplo para el envío de notificaciones a topic:</p>

		<code>
			<badge>JSON</badge>
			<span>
				//Body<br>
				{<br>
				"nombreTopic":"MOVA_MOV_PLANTILLA_PRO_TOPIC_1",<br>
				"titulo": "Notificación de prueba 1",<br>
				"mensaje": "Texto de la notificación 2",<br>
				"infoApp": "{\\\"id\\\":\\\"abcde\\\"}",<br>
				"nAplicacion": "MOVA_MOV_PLANTILLA",<br>
				"dsCliente":"MOVA_REST",<br>
				"password":"63D4C088809BED822C45124586507E4F"<br>
				}<br><br>

				//Método http<br>
				POST<br><br>
				//Headers<br>
				Content-Type: application/json<br><br>
				//Url<br>
				http://gestiona3.madrid.org/mova_rest_notificaciones/v4/topics/mensaje
			</span>
		</code>

		<p>Muestra del aspecto del componente:</p>

		<div class="exampleImageUltimasNotificaciones">
			<img src="media/images/examples/example_notificaciones.png">
		</div>

	</mv-card>

</mv-screen>
