<!-- app-pantalla2 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	float-footer="{{ screen.floatFooter }}"
	show-back="{{ screen.showBack }}"
	show-menu="{{ screen.showMenu }}"
	show-logo="{{ screen.showLogo }}"
	show-subtitle="{{ screen.showSubtitle }}">

	<mv-container id="prev" class="app-main-menu-mv-card-main">

			<h2>Distribución del Hospital</h2>

			<mv-burguer title="Unidades de Hospitalización"
			  bg-color="#FFFFFF"
			  title-color="#155DB3"
			  init-collapsed="true"
			  >
			  <mv-burguer title="URF"
			  bg-color="#e6dcdc"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
			Unidad de Recuperación Funcional:<br/><br/>
			      Para el tratamiento multiprofesional de usuarios que padecen discapacidades 
					secundarias a procesos traumatológicos quirúrgicos y no quirúrgicos e inmovilismos,
					con el objetivo de recuperar el máximo posible de la capacidad perdida
			  </mv-burguer>
			  <mv-burguer title="UTN"
			  bg-color="#e6dcdc"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
			Unidad de Tratamiento Neurorrehabilitador:<br/><br/>
			      Unidad de rehabilitación integral especializada en el tratamiento de usuarios 
						con daño cerebral adquirido y de apoyo a sus allegados.
			  </mv-burguer>
			  <mv-burguer title="UCC"
			  bg-color="#e6dcdc"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
			      Unidad de Cuidados Contínuos:<br/><br/>
			Para usuarios crónicos con inestabilidad clínica o gran incapacidad que precisen ingreso 
			hospitalario máximo para cuidados médicos y enfermeros que no puedan ser proporcionados 
			en su domicilio o lugar de residencia habitual hasta el alta médica.
		 	 </mv-burguer>
			<mv-burguer title="UCP"
			  bg-color="#e6dcdc"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
			      Unidad de Cuidados Paliativos: <br/><br/>
			Destinada a la atención de usuarios con una enfermedad que, independientemente 
				de la causa que la origine, no responden al tratamiento curativo con complicaciones 
				agudas, síntomas de difícil control e imposibilidad de manejo en su domicilio.
			  </mv-burguer>
			<mv-burguer title="UTB"
			  bg-color="#e6dcdc"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
			      Unidad de Tuberculosis: <br/><br/>
			Está destinada al tratamiento específico de pacientes con tuberculosis que requieren 
					aislamiento respiratorio y/o asegurar la adherencia al tratamiento.
			  </mv-burguer>
			</mv-burguer>

			<mv-burguer title="Servicios Centrales"
			  bg-color="#FFFFFF"
			  title-color="#155DB3"
			  init-collapsed="true"
			  >
			<mv-burguer title="SADC"
			  bg-color="#e6dcdc"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
			Servicio de Admisión:<br/><br/>
			      Centraliza y organiza el proceso de admisión de usuarios 
					y gestiona la documentación clínica generada durante la asistencia
			  </mv-burguer>
			  <mv-burguer title="Radiodiagnóstico"
			  bg-color="#e6dcdc"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
			      Con radiología digital
			  </mv-burguer>
			  <mv-burguer title="Rehabilitación"
			  bg-color="#e6dcdc"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
			      Cuenta con las unidades de Fisioterapia, Terapia ocupacional, 
					Logopedia y Neuropsicología.
		 	 </mv-burguer>
			<mv-burguer title="SAP"
			  bg-color="#e6dcdc"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
			      Servicio de Atención al Paciente: <br/><br/>
			Su misión es propiciar la humanización de las relaciones entre los 
					profesionales, los usuarios y sus allegados.
			  </mv-burguer>
			<mv-burguer title="UTS"
			  bg-color="#e6dcdc"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
			      Unidad de Trabajo Social: <br/><br/>
			Su responsabilidad es identificar, orientar y apoyar a 
					la resolución de problemas sociales que afectan a los usuarios.
			  </mv-burguer>
		<!--	<mv-burguer title="UPCS"
			  bg-color="#e6dcdc"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
			      Unidad de Psicología Clínica y de la Salud: <br/><br/>
			Dirigidos a evaluar y tratar a los usuarios y orientar a sus allegados.
			  </mv-burguer>-->
			<mv-burguer title="Telemedicina"
			  bg-color="#e6dcdc"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
			      Permite el seguimiento o control de las patologías por profesionales 
					especialistas, consultores de Hospitales Públicos de la Comunidad de Madrid,
					 evitando desplazamientos de los usuarios.
			  </mv-burguer>
			<mv-burguer title="Farmacia"
			  bg-color="#e6dcdc"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
			      Facilita los tratamientos farmacológicos de los usuarios.
			  </mv-burguer>
			</mv-burguer>

			<mv-burguer title="Otra Información de Interés"
			  bg-color="#FFFFFF"
			  title-color="#155DB3"
			  init-collapsed="true"
			  >
			<mv-burguer title="Cafetería"
			  bg-color="#e6dcdc"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
				Situada en la planta baja en el salón.
				Su horario es continuado de 08:00 a 20:30.
				
				<br/><br/>

				No se permite el acceso de los pacientes a 
					la cafetería del hospital en horario de 
					13:00 horas a 16:00 horas.
			  </mv-burguer>
			  <mv-burguer title="Horarios"
			  bg-color="#e6dcdc"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
				      <mv-burguer title="Horario de visitas"
				  bg-color="#ffdec7"
				  title-color="#155DB3"
				init-collapsed="true"
				    >
				      General:
				
					  de 12:00 a 21:00

					<br/><br/>

					 Especiales:
				
					UCP: durante las 24 horas del día.
					UTB: de 11:00 a 13:00 y de 17:30 a 20:00.		

					<br/><br/>

				Si el estado del usuario precisa la permanencia continuada 
					de un allegado, el Supervisor de la Unidad de Hospitalización
					les facilitará una tarjeta de 24 h. (Excepto UTB)
				  </mv-burguer>
				
				<mv-burguer title="Horario de llamadas"
				  bg-color="#ffdec7"
				  title-color="#155DB3"
				init-collapsed="true"
				    >
				      Unidades de Hospitalización:
							de 12:30 a 14:30 y de 17:30 a 19:30.

					<br/><br/>

					  Habitaciones:
							de 10:00 a 14:00 y de 16:30 a 21:00.
				  </mv-burguer>

				<mv-burguer title="Horario de comidas"
				  bg-color="#ffdec7"
				  title-color="#155DB3"
				init-collapsed="true"
				    >
				      Desayuno: 09:00; 
						Comida: 13:00; 
						Merienda: 17:00; Cena: 20:00.
				  </mv-burguer>

			  </mv-burguer>
			  
			</mv-burguer>

		<!--	<mv-burguer title="Plano del Hospital"
			  bg-color="#FFFFFF"
			  title-color="#155DB3"
			  init-collapsed="true"
			  >
			</mv-burguer>-->

			<!--<ul id="P10">
				<li><p class="blu">URF - Unidad de Recuperación Funcional</p>
					Para el tratamiento multiprofesional de usuarios que padecen discapacidades 
					secundarias a procesos traumatológicos quirúrgicos y no quirúrgicos e inmovilismos,
					 con el objetivo de recuperar el máximo posible de la capacidad perdida.</li>

				<li><p class="blu">UTN - Unidad Tratamiento Neurorrehabilitador</p>
						Unidad de rehabilitación integral especializada en el tratamiento de usuarios 
						con daño cerebral adquirido y de apoyo a sus allegados.</li>

				<li><p class="blu">UCC - Unidad de Cuidados Contínuos</p>
						Para usuarios crónicos con inestabilidad clínica o gran incapacidad que precisen 
						ingreso hospitalario máximo para cuidados médicos y enfermeros que no puedan ser 
						proporcionados en su domicilio o lugar de residencia habitual hasta el alta médica.</li>
		
				<li><p class="blu">UCP - Unidad de Cuidados Paliativos</p>
						Destinada a la atención de usuarios con una enfermedad que, independientemente 
						de la causa que la origine, no responden al tratamiento curativo con complicaciones 
						agudas, síntomas de difícil control e imposibilidad de manejo en su domicilio.</li>
				
				<li><p class="blu">UTB - Unidad de Tuberculosis</p>
						Está destinada al tratamiento específico de pacientes con tuberculosis que requieren 
						aislamiento respiratorio y/o asegurar la adherencia al tratamiento.</li>
			</ul>-->

			<!--<br/>

			<h2>Servicios Centrales</h2>

			<ul id="P10">
				<li><p class="blu">SADC - Servicio de Admisión.</p>
					Centraliza y organiza el proceso de admisión de usuarios 
					y gestiona la documentación clínica generada durante la asistencia.</li>

				<li><p class="blu">Radiodiagnóstico.</p>
					Con radiología digital.</li>

				<li><p class="blu">Rehabilitación.</p>
					Cuenta con las unidades de Fisioterapia, Terapia ocupacional, 
					Logopedia y Neuropsicología.</li>
		
				<li><p class="blu">SAP - Servicio de Atención al Paciente</p>
					Su misión es propiciar la humanización de las relaciones entre los 
					profesionales, los usuarios y sus allegados.</li>
				
				<li><p class="blu">UTS - Unidad de Trabajo Social.</p>
					Su responsabilidad es identificar, orientar y apoyar a 
					la resolución de problemas sociales que afectan a los usuarios.</li>
				
				<li><p class="blu">UPCS - Unidad de Psicología Clínica y de la Salud.</p>
					Dirigidos a evaluar y tratar a los usuarios y orientar a sus allegados.</li>
				
				<li><p class="blu">Telemedicina.</p>
					Permite el seguimiento o control de las patologías por profesionales 
					especialistas, consultores de Hospitales Públicos de la Comunidad de Madrid,
					 evitando desplazamientos de los usuarios.</li>
				
				<li><p class="blu">Farmacia.</p>
					Facilita los tratamientos farmacológicos de los usuarios.</li>
			</ul>

			<br/>-->

			<div id="infUtil">
			<!--	<h2 class="h2Prev">Otra Información de utilidad</h2>

				<br/>

				<p><strong>Cafetería</strong></p>

				<p class="ind10" id="caf1">Situada en la planta baja en el salón.</p>
				<p class="ind10">Su horario es continuado de 08:00 a 20:30.</p>
				
				<p>No se permite el acceso de los pacientes a 
					la cafetería del hospital en horario de 
					13:00 horas a 16:00 horas.</p><br/>

				<p><strong>Horario de llamadas:</strong></p>

				<ul class="Pinf">
					<li><p> Unidades de Hospitalización:
							de 12:30 a 14:30 y de 17:30 a 19:30.</p></li>

					<li><p>Habitaciones:
							de 10:00 a 14:00 y de 16:30 a 21:00.</p></li>
				</ul>
				<br/>
				<p><strong>Horario de comidas de usuarios:</strong></p>
				<ul class="Pinf2">
					<li><p>Desayuno: 09:00; Comida: 13:00; 
						Merienda: 17:00; Cena: 20:00.</p></li>
				</ul>

				<br/>
					
				<h2 id="vis" class="h2Prev">Horario de visitas:</h2>

				<br/>

				<p><strong>General:</strong></p>
				<ul class="Pinf2">
					<li><p>de 12:00 a 21:00</p></li>
				</ul>

				<p><strong>Especiales:</strong></p>
				<ul class="Pinf2">
					<li><p>UCP: durante las 24 horas del día.</p></li>
					<li><p>UTB: de 11:00 a 13:00 y de 17:30 a 20:00.</p></li>		
				</ul>

				<p>Si el estado del usuario precisa la permanencia continuada 
					de un allegado, el Supervisor de la Unidad de Hospitalización
					les facilitará una tarjeta de 24 h. (Excepto UTB)</p>

				<br/> 

				<h2 class="h2Prev">Direcciones:</h2>
				<br/>
				<p><strong>Dirección postal:</strong></p>
				<p class="ind10">Hospital La Fuenfría
						Carretera de las Dehesas s/n
						28470 - Cercedilla (Madrid)</p>
				<p><strong>Página Web:</strong></p>
				<p class="ind10">http://www.madrid.org/ - Sanidad - Hospitales - La Fuenfría</p>
				<p><strong>Teléfonos:</strong></p>
				<p class="ind10">Centralita: (34) 91 852 03 00</p>
					<p class="ind10">Fax: (34) 91 852 15 67</p>

				<br/>

				<h2 class="h2Prev">Accesos:</h2>
				
				<br/>
					
				<p><strong>Transporte público</strong></p>
				<p>Madrid - Cercedilla</p>
					<p>Autobús: N° 684 Madrid (Moncloa) Cercedilla
						Teléfono: 91 851 55 92
						Web: www.autobuseslarrea.com</p>
					<p>Cercanías: Línea 8b Atocha - Cercedilla
						Teléfono: 902 240 202
						Web: www.renfe.es/cercanias/</p>
					<p>Cercedilla - Hospital La Fuenfría
						Autobús: Línea 1 Hospital - Estación Cercanías - Instituto
						Teléfono: 91 851 55 92
						Web: www.autobuseslarrea.com</p>
			<p>Taxi: 650 263 043 - 619 226 272 - 619 806 462</p>

			<p>Los horarios actualizados de los transportes públicos se encuentran en los tablones de información</p>

			<p><strong>Acceso por carretera:</strong></p>

			<ul id="transp">
				<li>Salida de Madrid (A 6) en dirección a Guadarrama (N VI) - Los Molinos (M 622) y Cercedilla. </li>
				<li>O alternativamente salida de Madrid (M 607) en dirección a Colmenar Viejo - Navacerrada (M 622) - Los Molinos y Cercedilla.</li> 
				<li>Desde Cercedilla (M966) dirección Hospital La Fuenfría.</li> 
			</ul> -->

	</mv-container>

</mv-screen>
