
    <app-cabecera [titulohead]="tituhead"></app-cabecera>
  <!-- <ion-buttons slot="end">
        <ion-back-button text="" color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
  -->
    <ion-content *ngIf="isAdmin === true" padding>

    <ion-grid>
      <ion-row >
        <ion-col>
        </ion-col>
      </ion-row>
    <ion-row >
     <ion-col col-4>
       <div  (click)="historialesClinicos()" class="bot bot_irHistoryClinico">
          <img src="../../../assets/imgs/bot_cliente_seguimiento/historialClinico.png">
          <p>Historiales Clínicos </p>
        </div>
     </ion-col>
     <ion-col col-4 >
       <div routerLink="/cliente-seguimiento" class="bot bot_seguimiento">
          <img src="../../../assets/imgs/bot_cliente_seguimiento/seguimiento.png">
          <p>Seguimiento</p>
      </div>
     </ion-col>
    </ion-row>
    <ion-row>
    <ion-col col-4>
      <div routerLink="/lista-historial-dietetico" class="bot bot_dietetico">
          <img src="../../../assets/imgs/bot_cliente_seguimiento/historialDietetico.png">
          <p>Historial Dietetíco</p>
            </div>
    </ion-col>
    <ion-col col-4>
        <div routerLink="/lista-citas" class="bot bot_citas">
          <img src="../../../assets/imgs/bot_cliente_seguimiento/gestioncitas.png">
          <p>Gestión de citas</p>
            </div>
      </ion-col>
    </ion-row> 
    <ion-row>
    <ion-col col-4>
    <!--   <div routerLink="/lista-mensajes-admin" class="bot bot_citas"> -->
      <div class="bot bot_citas" (click)="chats()">
          <img src="../../../assets/imgs/bot_cliente_seguimiento/mensajes.png" style="margin-top:25px; margin-bottom:30px; width: 70%;">
          <p>Mensajes</p>
            </div>
      </ion-col>
    <ion-col col-4>
        <div routerLink="/lista-pacientes-bonos" class="bot bot_citas">
          <img src="../../../assets/imgs/bot_cliente_seguimiento/Bonos-citas.png">
          <p>Bonos</p>
            </div>
      </ion-col>
    
    </ion-row> 
    
    <!-- siguientes botones  -->
    <ion-row style="margin-top: 10%">
      <ion-col col-4>
              <ion-button expand="full" color="primary"  (click)="onLogout()" class="botones" round>
              <img src="../../../assets/imgs/bot_cliente_seguimiento/ajustesacu.png" class="boton">Cerrar Sesión
              </ion-button>
              </ion-col>
              <ion-col  col-4>
          <ion-button expand="full" routerLink="/historial-fisico" class="botones" round>
          <img src="../../../assets/imgs/bot_cliente_seguimiento/fotoacu.png" class="boton">Historial Físico 
          </ion-button> 
        <!--  <ion-col col-4>
            <ion-button color="primary"  routerLink="/lista-proteccion" class="botones" round>
            <img src="../../../assets/imgs/bot_cliente_seguimiento/ajustesacu.png" class="boton">Lista Protección
            </ion-button>
            </ion-col>-->

      </ion-col>
      
    </ion-row>
    </ion-grid>
    </ion-content>
    
    <div *ngIf="isPasi === true" text-center>
        <ion-button expand="block" class="centrado" routerLink="/tabs/tab1" >Acceder</ion-button>
    </div>
    
    <ion-footer *ngIf="isPasi === true">
    <ion-col text-center  col-4>
      <ion-button color="primary"  (click)="onLogout()" round>
      <img src="../../../assets/imgs/bot_cliente_seguimiento/ajustesacu.png" class="boton">Cerrar Sesión
      </ion-button>
    </ion-col>
    </ion-footer>
    