ion-content{
    --background: black;
}

.volver{
    text-align: end;
}

button{
    background: transparent;
}

.imgProducto{
    width: 50%;
    max-width: 50%;
    border-radius: 5px;
    margin-bottom: 1rem;
}
div{
    background: transparent;
}

.subtitulo-texto{
    color: white;
    font-size: small;
    text-align: center;
    padding-top: 1rem;
}

ion-list{
    background: transparent;
    border: none;
}

input{
    background: transparent;
    color: white;
    border: none;
    text-align: center;
}

::placeholder{
    color: white;
}

.caja{
    border-radius: 5px;
    box-shadow: 0px 0px 1px 8px #00D8C8;
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

select {
    margin-bottom: 1rem;
    color: #00D8C8;
    background: black;
}

select{
    ::placeholder{
    color: #00D8C8;
}
 
}

select ::placeholder{
    color: white;
}