<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">

     <ion-tab-button tab="tab1" class="tab11">
        <img src='../../../assets/imgs/icon/home.png' class="iconos">
     </ion-tab-button>

     <ion-tab-button tab="tab2">
      <img src='../../../assets/imgs/icon/nuevadieta.png' class="iconos">
  
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img src='../../../assets/imgs/icon/diario.png' class="iconos">
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <img src='../../../assets/imgs/icon/pesa.png' class="iconos">
      
      </ion-tab-button>
      
          <ion-tab-button tab="tab5">
            <img src='../../../assets/imgs/icon/pesa.png' class="iconos">
            
            </ion-tab-button>

            <ion-tab-button tab="tab6">
              <img src='../../../assets/imgs/icon/ejercicio.png' class="iconos">
              
              </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
