ion-content {
    --background: url("/assets/imgs/login.jpg") no-repeat fixed center;
    -webkit-background-size: fixed;
    -moz-background-size: fixed;
    background-size: fixed;
    --background-attachment: fixed;
    min-height: 100%;
  }
  
  @media only screen and (min-width: 414px) {
    ion-content {
      --background: url("/assets/imgs/loginS.jpg") no-repeat fixed center;
      -webkit-background-size: fixed;
      -moz-background-size: fixed;
      background-size: fixed;
      --background-attachment: fixed;
      min-height: 100%;
      .logo{
        width: 12rem;
        position: absolute;
        margin-top: -7rem;
        margin-left: -22%;
      }
         
    }
  
  
  }
  .logo {
    width: 12rem;
    position: absolute;
    margin-top: -7rem;
    margin-left: -26%;
  }
  
  .form {
    margin-top: 50%;
  }
  
  .email {
    width: 100%;
    height: 2.5rem;
    margin-top: 4.5rem;
    font-size: larger;
    padding-left: 1rem;
  }
  
  ::placeholder {
    color: black;
    text-align: center;
  }
  
  .password {
    width: 100%;
    //border-radius: 25px;
    height: 2.5rem;
    margin-top: 1rem;
    font-size: larger;
    padding-left: 1rem;
  }
  
  .login {
    width: 21rem;
    color: black;
    background: white;
    border-radius: 5px;
    height: 2.5rem;
    margin-top: 2rem;
    font-size: 1.1rem;
    width: 9rem;
  }
  
  .olvidar {
    width: 100%;
    background-color: white;
    margin-top: 1rem;
    font-size: smaller;
  }
  
  .bottom-div {
    position: relative;
    bottom: 0;
    margin-top: -2rem;
  }
  .go-to-register {
    text-shadow: 1px 2px black;
    color: white;
    margin-top: 1.5rem;
    font-size: larger;
  }
  
  .registro {
    width: 8rem;
    color: black;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.7);
    height: 2rem;
    font-size: larger;
    margin-top: 2rem;
    // text-shadow: 2px 2px white;
  }
  
  .google {
    //width: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
  }
  
  .facebook {
    //width: 2rem;
    margin-top: 1rem;
  }
  