<app-cabecera [titulohead]="tituhead"></app-cabecera>

<ion-content>
  <div style="margin-top: 5rem;">
    <ion-grid *ngFor="let item of items">
        <ion-row class="desk">
          <ion-col>
            <div class="pesoIni">
              <p style="margin-top:15px;">Peso inicial</p>
              <p class="tconsul"><strong>{{item.payload.doc.data().peso}}</strong> Kg</p>
           
            </div>
            </ion-col>
            <div class="pesoPer">
                <p style="margin-top:15px;">Peso Total</p>
                <p>Perdido</p>
                <p class="tconsul"><strong>{{item.payload.doc.data().pesoPerdido}}</strong> Kg</p>
              </div>
            </ion-row>
            <div class="pesoConsul">
                <p class="tconsul">Mi peso</p>
                <p class="tconsul"><strong>{{item.payload.doc.data().peso}}</strong> Kg</p>
                <p class="tconsul">IMC {{item.payload.doc.data().imc}}</p> 
              </div>
            </ion-grid>
            <ion-grid text-center *ngFor="let item of items">
              <ion-row style="margin-top: -20px; text-align: center">
                <ion-col>
                    <div class="pesoObj">
                        <p>Peso</p>
                        <p>Objetivo</p>
                        <p class="tconsul"><strong>{{item.payload.doc.data().pesoObjetivo}}</strong> Kg</p>
                      </div>
                </ion-col>
                <div class="pesoEst">
                    <p style="margin-bottom: 5px;">Estás a</p>
                    <p class="tconsul" style="margin-top:-1px;"><strong>{{item.payload.doc.data().estasObjetivo}}</strong> Kg</p>
                    <p class="obje1"  style="    margin-top: -0.5px; margin-bottom: 5px;">De tu</p>
                    <p class="obje">Objetivo</p>
                  </div>
              </ion-row>
              <div *ngFor="let item of items" >
          <!-- <ion-button color="primary" round class="agregar" (click)="openPicker()"> Agregar</ion-button> --> 
              <ion-button color="primary" round class="agregar" [routerLink]="['/detalles-peso-usuario-administrador', item.payload.doc.id]"> Agregar</ion-button>
            </div>
            <h4>Tú IMC: {{item.payload.doc.data().imc}}</h4>
            <div class="cont">
            <div class="pesoIde" style="background:none;"><p style="color:green; "> Peso ideal 18 - 24.9</p></div>
            <div class="pesoIde"  style="background:none;"><p style="color:greenyellow; margin-left: -5px; padding-left: 2rem; ; white-space: nowrap">Sobre Peso 24.9-30</p></div>
            <div class="pesoIde"  style="background:none;"><p style="color:red; margin-left: -80%; float: right; "> Obesidad > 30</p></div>
            </div>
 
            <div style="margin-top: -1rem;">
                <progress class="progres" value="{{item.payload.doc.data().imc}}"  min="5" max="70"></progress>
            </div>
            </ion-grid> 
            <div *ngIf="items" class="centrado">
            <div *ngIf="items.length == 0" class="empty-list">
                <ion-button color="primary" round class="agregar" (click)="crearPeso()"> Agregar</ion-button>
            </div>
          </div>
        
</div>
</ion-content>
