<ion-content padding>
  <div class="volver">
    <img (click)="goBack()" src="../../../assets/imgs/volver.png" alt="">
  </div>

  <div class="titulo">
    <p class="titulo-texto">
      <img class="masGestion" src="../../../../assets/imgs/gancho.png" alt="">
      PEDIDOS EN CURSO</p>
  </div>


  <div class="lista-productos">
    
  <div *ngFor="let productos of items" style="width: 6rem; text-align: initial; margin-bottom: 1.5rem;">
    <div *ngIf="productos.payload.doc.data().pedidoCancelado != true">
    <img class="card-img-top" src="{{productos.payload.doc.data().image}}" alt="Card image cap">
    <div class="card-body">
      <p class="card-title">{{productos.payload.doc.data().nombreProducto}}</p>
      <p class="card-text"><b>Talla</b>&nbsp;{{productos.payload.doc.data().talla}}</p>
      <p class="card-text"><b>Precio</b>&nbsp;{{productos.payload.doc.data().precio}} €</p>
  </div>
  <img class="corazon" src="../../../assets/imgs/separacion-grande.png" alt="">
  <div class="corazon-2">
  <p>FECHA DEL PEDIDO</p>
  <p class="card-title">{{productos.payload.doc.data().fechaPedido | date: 'dd/MM/yyyy' }} </p>
  <p [routerLink]="['/detalles-pedido-curso', productos.payload.doc.id]" class="cancelar"><img src="../../../assets/imgs/cancel.png" alt="">CANCELAR PEDIDO</p> 
  
</div>
  </div>
</div>

  </div>



</ion-content>