<!-- app-pantalla6 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	float-footer="{{ screen.floatFooter }}"
	show-back="{{ screen.showBack }}"
	show-menu="{{ screen.showMenu }}"
	show-logo="{{ screen.showLogo }}"
	show-subtitle="{{ screen.showSubtitle }}">

	<mv-container class="app-main-menu-mv-card-main" style="margin-top:50px">

			<h2 id="pel">Otros Servicios</h2>

			<mv-burguer title="Servicio de peluquería"
			  bg-color="#FFFFFF"
			  title-color="#155DB3"
			init-collapsed="true"
			  >
			<!--<h2 id="pel">
					  Servicio de peluquería
					</h2>-->
					<img src="../../../media/images/peine.jpg" style="width:100%; padding:1rem 1rem 1rem 1rem;"  alt="imagen">

					<table align="center">
	
						<thead>
							<th align="center">CABALLERO</th>
							<th align="center">PRECIO</th>
						</thead>
	
						<tbody>
							<td align="left">Corte de pelo</td>
							<td align="right">8,65</td>
						</tbody>
	
					</table>
					<br/>
					<br/>
					<table align="center">
	
						<thead>
							<th align="center">SEÑORA</th>
							<th align="center">PRECIO</th>
						</thead>
	
						<tbody>
							<tr>
							<td align="left">Corte de pelo</td>
							<td align="right">8,65</td>
							</tr>
							<tr>
							<td align="left">Sellar y marcar</td>
							<td align="right">8,50</td>
							</tr>
							<tr>
							<td align="left">Tinte</td>
							<td align="right">11,00</td>
							</tr>
							<tr>
							<td align="left">Mechas</td>
							<td align="right">16,00</td>
							</tr>
							<tr>
							<td align="left">Moldeador</td>
							<td align="right">16,00</td>
						</tr>
						</tbody>
	
					</table>
			</mv-burguer>

			<mv-burguer title="Horario Cafetería"
					  bg-color="#FFFFFF"
					  title-color="#155DB3"
					init-collapsed="true"
					  >
					<img src="../../../media/images/pincho.jpg" style="width:100%; padding:1rem 1rem 1rem 1rem;"  alt="imagen">

					<span style="padding-left: 1rem;">Horario de cafetería es  8:00 a 19:30</span>
			</mv-burguer>

			<mv-burguer title="Servicios Religiosos"
					  bg-color="#FFFFFF"
					  title-color="#155DB3"
					init-collapsed="true"
					  >
			</mv-burguer>
			
			<mv-burguer title="Podología"
					  bg-color="#FFFFFF"
					  title-color="#155DB3"
					init-collapsed="true"
					  >
					<img src="../../../media/images/podologia.jpg" style="width:100%; padding:1rem 1rem 1rem 1rem;"  alt="imagen">
			</mv-burguer>

		<mv-container-item>
			
				

		</mv-container-item>

	</mv-container>

</mv-screen>