<!-- app-example-mova-screen -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaScreen</h1>
		<br>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>Este componente debe ser utilizado de forma obligatoria en todas las pantallas de todos los componentes que sean creados.</p>
		</mv-card>
		<p>Este componente es el contenedor de las pantallas que se muestran en la App.</p>
		<p>Este componente acepta los siguientes atributos:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('noFooter')" >no-footer</a></li>
			<li><a href="" ng-click="$root.scrollTo('noHeader')" >no-header</a></li>
			<li><a href="" ng-click="$root.scrollTo('showBack')" >show-back</a></li>
			<li><a href="" ng-click="$root.scrollTo('showContact')" >show-contact</a></li>
			<li><a href="" ng-click="$root.scrollTo('showLegal')" >show-legal</a></li>
			<li><a href="" ng-click="$root.scrollTo('showLogo')" >show-logo</a></li>
			<li><a href="" ng-click="$root.scrollTo('showMenu')" >show-menu</a></li>
			<li><a href="" ng-click="$root.scrollTo('showSubtitle')" >show-subtitle</a></li>
			<li><a href="" ng-click="$root.scrollTo('showVersion')" >show-version</a></li>
			<li><a href="" ng-click="$root.scrollTo('subtitulo')" >subtitulo</a></li>
			<li><a href="" ng-click="$root.scrollTo('titulo')" >titulo</a></li>
		</ul>
		<p>Este componente dispone de los siguientes eventos:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('toggleBlockScreen')" >ToggleBlockScreen</a></li>
		</ul>
	</mv-card>

	<mv-card>
		<h2 class="title-2">Ejemplo de uso HTML y resultado</h2>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-screen><br>
				&emsp;&emsp;titulo="Texto del título"<br>
				&emsp;&emsp;subtitulo="Texto del subtítulo"<br>
				&emsp;&emsp;no-header=true<br>
				&emsp;&emsp;no-footer=false<br>
				&lt;/mv-screen>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="noFooter"
		>
		<h3 class="title-3">no-footer</h3>
		<br>
		<p>La propiedad <b>no-footer</b> permite ocultar o mostrar el footer del componente <b>mv.movaFooter</b> de una pantalla.</p>
		<p>Por defecto el footer se muestra en la pantalla.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-screen><br>
				&emsp;&emsp;no-footer=false<br>
				&lt;/mv-screen>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="noHeader"
		>
		<h3 class="title-3">no-header</h3>
		<br>
		<p>La propiedad <b>no-header</b> permite ocultar o mostrar el header del componente <b>mv.movaHeader</b> de una pantalla.</p>
		<p>Por defecto el header se muestra en la pantalla.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-screen><br>
				&emsp;&emsp;no-header=false<br>
				&lt;/mv-screen>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="showBack"
		>
		<h3 class="title-3">show-back</h3>
		<br>
		<p>La propiedad <b>show-back</b> permite ocultar el botón de atrás del header.</p>
		<p>Por defecto, si se muestra el botón de atrás.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-screen><br>
				&emsp;&emsp;show-back="false"<br>
				&lt;/mv-screen>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="showContact"
		>
		<h3 class="title-3">show-contact</h3>
		<br>
		<p>La propiedad <b>show-contact</b> permite mostrar u ocultar el enlace de contacto en el Footer.</p>
		<p>La url de contacto se configura en la variable urlContacta del componente <b>app.config</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-screen<br>
				&emsp;&emsp;<b>show-contact=true</b><br>
				&lt;/mv-screen>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="showLegal"
		>
		<h3 class="title-3">show-legal</h3>
		<br>
		<p>La propiedad <b>show-legal</b> permite mostrar u ocultar el enlace de condiciones legales en el Footer.</p>
		<p>La url de las condiciones legales se configura en la variable urlAvisoLegal del componente <b>app.config</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-screen<br>
				&emsp;&emsp;<b>show-legal=true</b><br>
				&lt;/mv-screen>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="showLogo"
		>
		<h3 class="title-3">show-logo</h3>
		<br>
		<p>La propiedad <b>show-logo</b> permite ocultar el icono de la App del header.</p>
		<p>Por defecto, si se muestra el icono de la App del header.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-screen><br>
				&emsp;&emsp;show-logo="false"<br>
				&lt;/mv-screen>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="showMenu"
		>
		<h3 class="title-3">show-menu</h3>
		<br>
		<p>La propiedad <b>show-menu</b> permite ocultar el botón de menú del header.</p>
		<p>Por defecto, si se muestra el botón de menú del header.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-screen><br>
				&emsp;&emsp;show-menu="false"<br>
				&lt;/mv-screen>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="showSubtitle"
		>
		<h3 class="title-3">show-menu</h3>
		<br>
		<p>La propiedad <b>show-subtitle</b> permite ocultar el texto con el subtítulo del header.</p>
		<p>Por defecto, si se muestra el texto con el subtítulo del header.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-screen><br>
				&emsp;&emsp;show-subtitle="false"<br>
				&lt;/mv-screen>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="showVersion"
		>
		<h3 class="title-3">show-version</h3>
		<br>
		<p>La propiedad <b>show-version</b> permite mostrar u ocultar la versión de la App en el Footer, con el enlace a la información del dispositivo.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-screen<br>
				&emsp;&emsp;<b>show-version=true</b><br>
				&lt;/mv-screen>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="subtitulo"
		>
		<h3 class="title-3">subtitulo</h3>
		<br>
		<p>La propiedad <b>subtitulo</b> permite elegir el texto a mostrar en el subtítulo del header del componente <b>mv.movaHeader</b> de una pantalla.</p>
		<p>Por defecto, si se muestra el header, el título es el valor de la propiedad appSubtitle del componente <b>app.config</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-screen><br>
				&emsp;&emsp;subtitulo="Soy un subtítulo"<br>
				&lt;/mv-screen>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="titulo"
		>
		<h3 class="title-3">titulo</h3>
		<br>
		<p>La propiedad <b>titulo</b> permite elegir el texto a mostrar en el título del header del componente <b>mv.movaHeader</b> de una pantalla.</p>
		<p>Por defecto, si se muestra el header, el título es el valor de la propiedad appTitle del componente <b>app.config</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-screen><br>
				&emsp;&emsp;titulo="Soy un título"<br>
				&lt;/mv-screen>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="toggleBlockScreen"
		>
		<h3 class="title-3">Ev: ToggleBlockScreen</h3>
		<br>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>Este componente no debe ser utilizado directamente, en su lugar se recomienda usar los eventos del componente <b>mv.movaLoading</b>.</p>
		</mv-card>
		<p>El evento <b>ToggleBlockScreen</b> permite cambiar el estado de bloqueo de las pantallas.</p>
		<p>Se puede llamar a este evento desde el controlador de un componente mediante la siguiente instrucción:</p>
		<code>
			<badge>JavaScript</badge>
			$rootScope.$emit('rootScope:movaScreenController:ToggleBlockScreen',opcion);
		</code>
		<br>
		<p>El parámetro opción es un booleano, y dependiendo de su valor se bloqueará o desbloqueará la pantalla.</p>
		<p>El uso de este evento está dedicado en exclusiva a su uso por parte del componente <b>mv.movaMenu</b>, por ello al hacer click en la capa semitransparente que se muestra al bloquear la pantalla se invoca el cambio de estado del componente <b>mv.movaMenu</b>.</p>
	</mv-card>

</mv-screen>