<!-- eadm-pasarela-pago -->
<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">


	<mv-card>
		<mv-card class="section-info" title="{{screen.tittle}}">
			<h1 class="title-3" style="text-align: center">{{ screen.message }}</h1>
		</mv-card>

		<mv-card show =screen.pnlResult	title="{{screen.info}}" class="{{screen.pnlResultStyle}}">
				<p style="text-align: center">
					Código: {{codigo}}
				</p>

				<p style="text-align: center">
					Mensaje: {{mensaje}}
				</p>

				<p style="text-align: center">
					Aplicación: {{app}}
				</p>

				<p style="text-align: center">
					Justificante: {{justificante}}
				</p>

				<p style="text-align: center">
					Importe: {{importe}} <i class="fa fa-eur" aria-hidden="true"></i>
				</p>

				<p style="text-align: center">
					Fecha de la operación: {{fechaOpOrigen}}
				</p>

				<p style="text-align: center">
					Número de Autorizacción: {{numAutorizacion}}
				</p>
		</mv-card>

		<mv-card show =screen.pnlInvoke title="{{screen.info}}" class="{{screen.pnlInvokeStyle}}">

			<p style="text-align: center">
				Aplicación: {{app}}
			</p>

			<p style="text-align: center">
				Nif: {{nif}}
			</p>

			<p style="text-align: center">
				Importe: {{importe}} <i class="fa fa-eur" aria-hidden="true"></i>
			</p>
			<p style="text-align: center">
				Justificante: {{justificante}}
			</p>
		</mv-card>
	</mv-card>

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		>

		<mv-button
			id="buttonHome"
			icon-class="fa fa-home button-right"
			click="clickGoHome()"
			show="screen.btnHome"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>

		<mv-button
			class="app-cliente-detail-buttons-button"
			id="buttonVolver"
			icon-class="fa fa-window-close"
			click="clickCancel()"
			show="screen.btnVolver"
			btn-type="danger"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>

		<mv-button
			id="buttonSend"
			icon-class="fa {{screen.btnPagoIcon}}"
			click="clickPay()"
			btn-type="success"
			show="screen.btnPago"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>

		<mv-button
			id="buttonEnd"
			icon-class="fa fa-check"
			click="clickEnd()"
			btn-type="success"
			show="screen.btnEnd"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>

	</mv-card>


</mv-screen>
