/*
╔═══════════════════════════════╗
║ eadm-pasarela-pago style ║
╚═══════════════════════════════╝
*/
ea-pasarela-pago {

    @include view-style;

	section {

		&.ea-pasarela-pago-section-status-icon {
			display: block;
			position: relative;
			width: 100%;
			height: auto;
			text-align: center;

			.ea-pasarela-pago-i-status-icon {
				font-size: 9rem;
				margin: 3rem 0 1rem 0;
				padding: 0 0 0 0;
			}
		}

		&.ea-pasarela-pago-section-redirection-disable {

			top: 0;
			bottom: auto !important;

			p {
				margin: 0 0 0 0;
				padding: 0 0 0 0;
			}
		}

		&.ea-pasarela-pago-section-message {
			text-align: center;
			color: $color-disabled;
		}

		&.ea-pasarela-pago-section-buttons {
			display: block;
			position: fixed;
			width: 100%;
			bottom: 0;
			text-align: center;

			.button-right,
			.button-left {
				width: 	50%;
				border-radius: 0;
			}
		}
	}

}