

ion-content{

    --background: url('/assets/imgs/sinInmueble.jpg') no-repeat fixed center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
        --background-attachment: fixed;
}

@media only screen and (min-width:414px){
    ion-content{
        --background: url("/assets/imgs/sinInmuebleS.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
            --background-attachment: fixed;
    }
}

.casa{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.textoSinInmueble{
    padding-top: 3rem;
    //text-shadow: 2px 2px white;
    margin-bottom: 2rem;
    font-size: larger;
}



.noTienes{
    width: 13rem;
    border-radius: 5px;
    height: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    background: rgba(38, 166, 255, 0.6);
    box-shadow: 1px 1px black;
    margin-bottom: 5;
    position: relative;
    margin-top: -0.1rem;
}

.direccion{
    padding-right: 1rem;
}


.IncidenciasButton{
    width: 250px;
    border-radius: 5px;
    height: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: rgba(38, 166, 255, 0.8);
    color:white;
    box-shadow: 1px 1px black;
    margin-bottom: 5;
}

.foto{
    max-width: 300px;
    margin-top: 5rem;
    border-radius: 15px;
    height: 250px;
    max-height: 250px;
}

.texto{
    font-size: 18px;
    margin-top: 1rem;
}