
<ion-content *ngIf="items">
    <app-header [tituloHeader]="textHeader"></app-header>

  <div padding text-center class="text-center mx-auto" *ngIf="items.length> 0">
    <ion-list *ngFor="let item of items" style="background: transparent !important">
      <div text-center>
        <div [routerLink]="['/detalles-mi-alquiler', item.payload.doc.id]" text-center>
          <!-- <img src="{{item.payload.doc.data().imageResponse[0]}}" alt="imagen">-->
          <img class="foto" src="{{item.payload.doc.data().imageResponse[0]}}" alt="">
        </div>
        <div text-center>
          <p class="texto"><b class="direccion">Direccion:</b>{{item.payload.doc.data().calle}}</p>
        </div>
      </div>
    </ion-list>

    <div>
      <button class="IncidenciasButton" size="small" (click)="goIncidencias()">Incidencias</button>
    </div>
  </div>

  <div text-center *ngIf="items.length == 0" class="empty-list">
    <div text-center>
      <img class="casa" src="../../../assets/imgs/logosin.png" alt="">
    </div>
    <div text-center>
      <p class="textoSinInmueble">!Vaya!<br />
        Parece que no tienes <br />
        ningún inmueble disponible <br />
        puedes buscar uno aquí
      </p>
    </div>
    <button type="button" class="noTienes" (click)="goCrearPerfil()">BUSCAR INMUEBLES</button>
  </div>


</ion-content>