<!-- app-example-mova-textarea -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaTextarea</h1>
		<br>
		<p>Componente de entrada de texto similar al elemento <b>&lt;textarea></b> de HTML5.</p>
		<p>Este componente acepta los mismos atributos de HTML que el elemento <b>&lt;textarea></b> además de los siguientes:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('adapt')" >adapt</a></li>
			<li><a href="" ng-click="$root.scrollTo('change')" >change</a></li>
			<li><a href="" ng-click="$root.scrollTo('disabled')" >disabled</a></li>
			<li><a href="" ng-click="$root.scrollTo('isRequired')" >is-required</a></li>
			<li><a href="" ng-click="$root.scrollTo('isRequiredMessage')" >is-required-message</a></li>
			<li><a href="" ng-click="$root.scrollTo('keyup')" >keyup</a></li>
			<li><a href="" ng-click="$root.scrollTo('label')" >label</a></li>
			<li><a href="" ng-click="$root.scrollTo('leftLabel')" >left-label</a></li>
			<li><a href="" ng-click="$root.scrollTo('leftLabelSm')" >left-label-sm</a></li>
			<li><a href="" ng-click="$root.scrollTo('leftLabelMd')" >left-label-md</a></li>
			<li><a href="" ng-click="$root.scrollTo('leftLabelLg')" >left-label-lg</a></li>
			<li><a href="" ng-click="$root.scrollTo('maxlength')" >maxlength</a></li>
			<li><a href="" ng-click="$root.scrollTo('maxlengthShow')" >maxlength-show</a></li>
			<li><a href="" ng-click="$root.scrollTo('message')" >message</a></li>
			<li><a href="" ng-click="$root.scrollTo('messageType')" >message-type</a></li>
			<li><a href="" ng-click="$root.scrollTo('validateFirst')" >validate-first</a></li>
			<li><a href="" ng-click="$root.scrollTo('validateOnType')" >validate-on-type</a></li>
			<li><a href="" ng-click="$root.scrollTo('valRegex')" >val-regex</a></li>
		</ul>
		<p>Este componente dispone de los siguientes eventos:</p>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>Para usar los eventos es necesario definir un atributo <b>id</b> en el componente.</p>
			<p>Este <b>id</b> debe ser <u>único para toda la App</u>.</p>
			<p>Para que el <b>id</b> sea único deberá seguir la siguiente estructura: <u>nombreFicheroNombreExplicativoNombreFuncion</u>.</p>
			<p>El componente ofrece los eventos mediante el siguiente código: <i>'rootScope:movaTextarea:<u>identificador</u>:<u>nombreDelEvento</u>'</i></p> 
			<p>La palabra <u>identificador</u> debe sustituirse con el valor del atributo <b>id</b> del componente.</p>
			<p>La palabra <u>nombreDelEvento</u> debe sustituirse con el nombre del evento.</p>
		</mv-card>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('messageToggle')" >MessageToggle</a></li>
			<li><a href="" ng-click="$root.scrollTo('validate')" >Validate</a></li>
		</ul>
	</mv-card>

	<mv-card>
		<h2 class="title-2">Ejemplo de uso HTML y resultado</h2>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>Si se utiliza el atributo <b>id</b>, debido a la estructura generada por el componente, este id será utilizado en el elemeto <b>textarea</b> interno, y se generará un atributo <b>id</b> en el elemento <b>span</b> externo, que es el que contiene al elemento <b>textarea</b>.</p>
			<p>El <b>id</b> del elemento <b>span</b> externo será el introducido en el atributo <b>id</b> acabado en la palabra <i>Container</i>, por ejemplo, para el identificador inputPrueba el valor sería inputPruebaContainer.</p>
		</mv-card>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-textarea><br>
				&lt;/mv-textarea>
			</span>
		</code>
		<mv-textarea>
		</mv-textarea>
	</mv-card>

	<mv-card
		id="adapt"
		>
		<h3 class="title-3">adapt</h3>
		<br>
		<p>La propiedad <b>adapt</b> permite que el componente se adapte al 100% del tamaño de su contenedor.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-textarea<br>
				&emsp;&emsp;adapt=true<br>
				&emsp;&emsp;model="textarea.texto"<br>
				&emsp;&emsp;placeholder="Con adapt"<br>
				&emsp;&emsp;><br>
				&lt;/mv-textarea>
			</span>
		</code>
		<mv-textarea
			adapt=true
			model="textarea.texto"
			placeholder="Con adapt"
			>
		</mv-textarea>
		<mv-textarea
			model="textarea.texto"
			placeholder="Sin adapt"
			>
		</mv-textarea>
	</mv-card>

	<mv-card
		id="change"
		>
		<h3 class="title-3">change</h3>
		<br>
		<p>La propiedad <b>change</b> permite ejecutar una función incluida en el <b>$scope</b>, cada vez que cambia el valor del textarea.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-textarea<br>
				&emsp;&emsp;model="textarea.texto"<br>
				&emsp;&emsp;<b>change="funcionChange()"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-textarea>
			</span>
		</code>
		<mv-textarea
			model="textarea.texto"
			change="funcionChange()"
			>
		</mv-textarea>
	</mv-card>

	<mv-card
		id="disabled"
		>
		<h3 class="title-3">disabled</h3>
		<br>
		<p>La propiedad <b>disabled</b> permite desactivar el componente.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-textarea<br>
				&emsp;&emsp;model="textarea.texto"<br>
				&emsp;&emsp;<b>disabled=true</b><br>
				&emsp;&emsp;placeholder="Este campo esta desactivado"<br>
				&emsp;&emsp;><br>
				&lt;/mv-textarea>
			</span>
		</code>
		<mv-textarea
			model="textarea.texto"
			disabled=true
			placeholder="Este campo esta desactivado"
			>
		</mv-textarea>
	</mv-card>

	<mv-card
		id="isRequired"
		>
		<h3 class="title-3">is-required</h3>
		<br>
		<p>La propiedad <b>is-required</b> permite definir el componente como obligatorio.</p>
		<p>Con el uso de la propiedad <b>is-required</b>, el elemento <b>&lt;textarea></b> generado contendra la propiedad <b>has-required</b> en caso de no cumplir la validación.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-textarea<br>
				&emsp;&emsp;model="valorIsRequired"<br>
				&emsp;&emsp;placeholder="Prueba campo obligatorio"<br>
				&emsp;&emsp;<b>is-required=true</b><br>
				&emsp;&emsp;validate-on-type=true<br>
				&emsp;&emsp;><br>
				&lt;/mv-textarea>
			</span>
		</code>
		<mv-textarea
			model="valorIsRequired"
			placeholder="Prueba campo obligatorio"
			is-required=true
			validate-on-type=true
		>
		</mv-textarea>
	</mv-card>

	<mv-card
		id="isRequiredMessage"
		>
		<h3 class="title-3">is-required-message</h3>
		<br>
		<p>La propiedad <b>is-required-message</b> permite definir un mensaje adicional para el campo obligatorio.</p>
		<p>Este mensaje va ligado a la validación del propio campo y se mostrará u ocultará en cada caso.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-textarea<br>
				&emsp;&emsp;model="valorIsRequired"<br>
				&emsp;&emsp;placeholder="Prueba campo obligatorio"<br>
				&emsp;&emsp;is-required=true<br>
				&emsp;&emsp;validate-on-type=true<br>
				&emsp;&emsp;<b>is-required-message="Este debe completarse"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-textarea>
			</span>
		</code>
		<mv-textarea
			model="valorIsRequired"
			placeholder="Prueba campo obligatorio"
			is-required=true
			validate-on-type=true
			is-required-message="Este debe completarse"
		>
		</mv-textarea>
	</mv-card>

	<mv-card
		id="keyup"
		>
		<h3 class="title-3">keyup</h3>
		<br>
		<p>La propiedad <b>keyup</b> permite ejecutar una función incluida en el <b>$scope</b>, ante el evento <b>keyup</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-textarea<br>
				&emsp;&emsp;placeholder="Buscar..."<br>
				&emsp;&emsp;<b>keyup="ejemploKeyUp($event)";</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-textarea>
			</span>
		</code>
		<mv-textarea
			label="Ejemplo keyup"
			keyup="ejemploKeyUp($event)"
			>
		</mv-textarea>

		<b>Tecla pulsada después del keyup:</b> {{ ejemploKeyUpEvento.key }}
	</mv-card>

	<mv-card
		id="label"
		>
		<h3 class="title-3">label</h3>
		<br>
		<p>La propiedad <b>label</b> permite incluir una label para el textarea.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-textarea<br>
				&emsp;&emsp;model="textarea.texto"<br>
				&emsp;&emsp;<b>label="Ejemplo con label"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-textarea>
			</span>
		</code>
		<mv-textarea
			model="textarea.texto"
			label="Ejemplo con label"
			>
		</mv-textarea>
	</mv-card>



	<mv-card
		id="leftLabel"
		>
		<h3 class="title-3">left-label</h3>
		<br>
		<p>Si la propiedad <b>left-label</b> no se utiliza o su valor es false la label del componente se posiciona en la parte superior.</p>
		<p>Si la propiedad <b>left-label</b> se utiliza con valor true cambia la forma de mostrar la label, en vez de encima se muestra a la izquierda del campo de texto.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-textarea<br>
				&emsp;&emsp;<b>left-label=true</b><br>
				&emsp;&emsp;model="textarea.texto"<br>
				&emsp;&emsp;label="Ejemplo con label"<br>
				&emsp;&emsp;><br>
				&lt;/mv-textarea>
			</span>
		</code>
		<p>Ejemplo de label a la izquierda en campo textarea:</p>
		<mv-textarea
			left-label=true
			model="textarea.texto"
			label="Ejemplo con label"
			>
		</mv-textarea>
		<p>Ejemplo de label a la izquierda en campo textarea con mensaje:</p>
		<mv-textarea
			left-label=true
			model="textarea.texto"
			label="Ejemplo con label"
			message="Texto multilinea"
			>
		</mv-textarea>
		<p>Ejemplo de label a la izquierda en campo textarea con adapt:</p>
		<mv-textarea
			adapt=true
			left-label=true
			model="textarea.texto"
			label="Ejemplo con label"
			>
		</mv-textarea>
		<p>Ejemplo de label a la izquierda en campo textarea con mensaje y adapt:</p>
		<mv-textarea
			adapt=true
			left-label=true
			model="textarea.texto"
			label="Ejemplo con label"
			message="Texto multilinea"
			>
		</mv-textarea>
	</mv-card>

	<mv-card
		id="leftLabelSm"
		>
		<h3 class="title-3">left-label-sm</h3>
		<br>
		<p>La propiedad <b>left-label-sm</b> realiza la función del atributo <b>left-label</b> para el tamaño de viewport <b>sm</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-textarea<br>
				&emsp;&emsp;<b>left-label-sm=true</b><br>
				&emsp;&emsp;model="textarea.texto"<br>
				&emsp;&emsp;label="Ejemplo con label"<br>
				&emsp;&emsp;><br>
				&lt;/mv-textarea>
			</span>
		</code>
		<p>Ejemplo de label a la izquierda en campo textarea para tamaño de viewport sm:</p>
		<mv-textarea
			left-label-sm=true
			model="textarea.texto"
			label="Ejemplo con label"
			>
		</mv-textarea>
		<p>Ejemplo de label a la izquierda en campo textarea para tamaño de viewport sm con adapt:</p>
		<mv-textarea
			adapt=true
			left-label-sm=true
			model="textarea.texto"
			label="Ejemplo con label"
			>
		</mv-textarea>
	</mv-card>

	<mv-card
		id="leftLabelMd"
		>
		<h3 class="title-3">left-label-md</h3>
		<br>
		<p>La propiedad <b>left-label-md</b> realiza la función del atributo <b>left-label</b> para el tamaño de viewport <b>md</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-textarea<br>
				&emsp;&emsp;<b>left-label-md=true</b><br>
				&emsp;&emsp;model="textarea.texto"<br>
				&emsp;&emsp;label="Ejemplo con label"<br>
				&emsp;&emsp;><br>
				&lt;/mv-textarea>
			</span>
		</code>
		<p>Ejemplo de label a la izquierda en campo textarea para tamaño de viewport md:</p>
		<mv-textarea
			left-label-md=true
			model="textarea.texto"
			label="Ejemplo con label"
			>
		</mv-textarea>
		<p>Ejemplo de label a la izquierda en campo textarea para tamaño de viewport md con adapt:</p>
		<mv-textarea
			adapt=true
			left-label-md=true
			model="textarea.texto"
			label="Ejemplo con label"
			>
		</mv-textarea>
	</mv-card>

	<mv-card
		id="leftLabelLg"
		>
		<h3 class="title-3">left-label-lg</h3>
		<br>
		<p>La propiedad <b>left-label-lg</b> realiza la función del atributo <b>left-label</b> para el tamaño de viewport <b>lg</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-textarea<br>
				&emsp;&emsp;<b>left-label-lg=true</b><br>
				&emsp;&emsp;model="textarea.texto"<br>
				&emsp;&emsp;label="Ejemplo con label"<br>
				&emsp;&emsp;><br>
				&lt;/mv-textarea>
			</span>
		</code>
		<p>Ejemplo de label a la izquierda en campo textarea para tamaño de viewport lg:</p>
		<mv-textarea
			left-label-lg=true
			model="textarea.texto"
			label="Ejemplo con label"
			>
		</mv-textarea>
		<p>Ejemplo de label a la izquierda en campo textarea para tamaño de viewport lg con adapt:</p>
		<mv-textarea
			adapt=true
			left-label-lg=true
			model="textarea.texto"
			label="Ejemplo con label"
			>
		</mv-textarea>
	</mv-card>

	<mv-card
		id="maxlength"
		>
		<h3 class="title-3">maxlength</h3>
		<br>
		<p>La propiedad <b>maxlength</b> permite limitar el tamaño del texto.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-textarea<br>
				&emsp;&emsp;model="textarea.valorMaxlength"<br>
				&emsp;&emsp;<b>maxlength="17"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-textarea>
			</span>
		</code>
		<mv-textarea
			model="textarea.valorMaxlength"
			maxlength="17"
			>
		</mv-textarea>
	</mv-card>

	<mv-card
		id="maxlengthShow"
		>
		<h3 class="title-3">maxlength-show</h3>
		<br>
		<p>La propiedad <b>maxlength-show</b> permite mostrar en tiempo real el tamaño disponible del texto.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-textarea<br>
				&emsp;&emsp;model="textarea.valorMaxlength"<br>
				&emsp;&emsp;maxlength="17"<br>
				&emsp;&emsp;<b>maxlength-show=true</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-textarea>
			</span>
		</code>
		<p>Ejemplo sin adapt:</p>
		<mv-textarea
			model="textarea.valorMaxlength"
			maxlength="17"
			maxlength-show=true
			>
		</mv-textarea>
		<p>Ejemplo con adapt:</p>
		<mv-textarea
			adapt=true
			model="textarea.valorMaxlength"
			maxlength="17"
			maxlength-show=true
			>
		</mv-textarea>
	</mv-card>

	<mv-card
		id="message"
		>
		<h3 class="title-3">message</h3>
		<br>
		<p>La propiedad <b>message</b> permite incluir una texto de una linea que aparecerá en la parte inferior del textarea.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-textarea<br>
				&emsp;&emsp;model="textarea.texto"<br>
				&emsp;&emsp;<b>message="Ejemplo con mensaje"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-textarea>
			</span>
		</code>
		<mv-textarea
			model="textarea.texto"
			message="Ejemplo con mensaje"
			>
		</mv-textarea>
	</mv-card>

	<mv-card
		id="messageType"
		>
		<h3 class="title-3">message-type</h3>
		<br>
		<p>La propiedad <b>message-type</b> permite modificar el estilo del mensaje.</p>
		<p>Por defecto, si no se especifica la propiedad el valor es danger.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-textarea<br>
				&emsp;&emsp;model="textarea.texto"<br>
				&emsp;&emsp;message="Ejemplo con mensaje"<br>
				&emsp;&emsp;<b>message-type="danger"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-textarea>
			</span>
		</code>
		<mv-textarea
			model="textarea.texto"
			message="Estilo danger."
			message-type="danger"
			placeholder="Prueba con mensaje"
			>
		</mv-textarea>
		<br>
		<mv-textarea
			model="textarea.texto"
			message="Estilo warning."
			message-type="warning"
			placeholder="Prueba con mensaje"
			>
		</mv-textarea>
		<br>
		<mv-textarea
			model="textarea.texto"
			message="Estilo success."
			message-type="success"
			placeholder="Prueba con mensaje"
			>
		</mv-textarea>
		<br>
		<mv-textarea
			model="textarea.texto"
			message="Estilo info."
			message-type="info"
			placeholder="Prueba con mensaje"
			>
		</mv-textarea>
	</mv-card>

	<mv-card
		id="validateFirst"
		>
		<h3 class="title-3">validate-first</h3>
		<br>
		<p>La propiedad <b>validate-first</b> permite decidir si se quiere evitar la validación del componente al ser creado.</p>
		<p>Es necesario que exista la propiedad <b>validate-on-type</b> en el componente.</p>
		<p>Por defecto, si no se utiliza esta propiedad, la validación inicial del componente se realiza.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-textarea<br>
				&emsp;&emsp;model="valorIsRequiredFisrtTimeFalse"<br>
				&emsp;&emsp;is-required=true<br>
				&emsp;&emsp;label="Campo obligatorio"<br>
				&emsp;&emsp;validate-on-type=true<br>
				&emsp;&emsp;<b>validate-first=true</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-textarea>
			</span>
		</code>
		<mv-textarea
			model="valorIsRequiredFisrtTimeFalse"
			is-required=true
			validate-on-type=true
			validate-first=false
			label="Validación inicial desactivada"
			>
		</mv-textarea>
		<mv-textarea
			model="valorIsRequiredFisrtTimeTrue"
			is-required=true
			validate-on-type=true
			validate-first=true
			label="Validación inicial activada"
			>
		</mv-textarea>
	</mv-card>

	<mv-card
		id="validateOnType"
		>
		<h3 class="title-3">validate-on-type</h3>
		<br>
		<p>La propiedad <b>validate-on-type</b> permite realizar la validación del componente en tiempo real mientras se introduce la información al escribirla.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-textarea<br>
				&emsp;&emsp;model="valorIsRequired"<br>
				&emsp;&emsp;is-required=true<br>
				&emsp;&emsp;label="Campo obligatorio"<br>
				&emsp;&emsp;<b>validate-on-type=true</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-textarea>
			</span>
		</code>
		<mv-textarea
			model="valorIsRequired"
			is-required=true
			label="Campo obligatorio"
			validate-on-type=true
			>
		</mv-textarea>
	</mv-card>
	
	<mv-card
		id="valRegex"
		>
		<h3 class="title-3">val-regex</h3>
		<br>
		<p>La propiedad <b>val-regex</b> permite definir el componente para que solamente acepte valores que cumplan una expresión regular.</p>
		<p>Con el uso de la propiedad <b>val-regex</b>, el elemento <b>&lt;textarea></b> generado contendra la propiedad <b>has-regex</b> en caso de no cumplir la validación.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-textarea<br>
				&emsp;&emsp;icon-class="fa fa-envelope"<br>
				&emsp;&emsp;<b>val-regex="ab+c"</b><br>
				&emsp;&emsp;model="valorValRegex"<br>
				&emsp;&emsp;validate-on-type=true<br>
				&emsp;&emsp;label="Exp. regular"<br>
				&emsp;&emsp;><br>
				&lt;/mv-textarea>
			</span>
		</code>
		<mv-textarea
			icon-class="fa fa-envelope"
			val-regex="ab+c"
			model="valorValRegex"
			validate-on-type=true
			label="Exp. regular"
		>
		</mv-textarea>
	</mv-card>

	<mv-card
		id="messageToggle"
		>
		<h3 class="title-3">Ev: MessageToggle</h3>
		<br>
		<p>El evento <b>MessageToggle</b> permite mostrar u ocultar el mensaje del componente.</p>
		<p>El evento <b>MessageToggle</b> puede recibir los siguientes parámetros en formato JSON :</p>
		<ul>
			<li><b>message</b>: Cadena de caracteres que se mostrará en el mensaje. Por defecto el mensaje a mostrar es ''.</li>
		</ul>
		<p>Se puede llamar a este evento desde el controlador de un componente mediante la siguiente instrucción:</p>
		<code>
			<badge>JavaScript</badge>
			let args = {<br>
			&emsp;&emsp;message: 'Mensaje de prueba'<br>
			}<br>
			$rootScope.$emit('rootScope:movaTextarea:<u>identificador</u>:MessageToggle', args);
		</code>
		<p>A continuación se muestra un ejemplo:</p>
		<mv-button
			btn-type="primary"
			click="messageToggleEjemplo()"
			>
			Mostrar u ocultar mensaje de prueba
		</mv-button>
		<br><br>
		<mv-textarea
			id="appExampleMovaTextareaEjemploMessageToggleRemoto"
			model="valorMessageToggle"
			placeholder="Mostrar u ocultar mensaje"
		>
		</mv-textarea>
	</mv-card>

	<mv-card
		id="validate"
		>
		<h3 class="title-3">Ev: Validate</h3>
		<br>
		<p>El evento <b>Validate</b> permite validar el componente.</p>
		<p>El evento <b>Validate</b> puede recibir los siguientes parámetros en formato JSON:</p>
		<ul>
			<li><b>messageIsRequired</b>: Cadena de caracteres que se mostrará como mensaje en el caso de que la validación del componente mediante el atributo <b>is-required</b> sea erronea. Por defecto el mensaje a mostrar es 'Obligatorio'.</li>
			<li><b>messageValRegex</b>: Cadena de caracteres que se mostrará como mensaje en el caso de que la validación del componente mediante el atributo <b>val-regex</b> sea erronea. Por defecto el mensaje a mostrar es 'Expresion regular incorrecta'.</li>
		</ul>
		<p>Se puede conocer en tiempo real si no se cumple la validación mediante los siguientes atributos del elemento <b>&lt;textarea></b> que se encuentra dentro del componente <b>&lt;mv-textarea></b>:
		<ul>
			<li><b>has-required</b> - Si no cumple la validación mediante el atributo <b>is-required</b>.</li>
			<li><b>has-max-value</b> - Si no cumple la validación mediante el atributo <b>val-max</b>.</li>
			<li><b>has-min-value</b> - Si no cumple la validación mediante el atributo <b>val-min</b>.</li>
			<li><b>has-regex</b> - Si no cumple la validación mediante el atributo <b>val-regex</b>.</li>
			<li><b>has-email</b> - Si no cumple la validación mediante el atributo <b>is-email</b>.</li>
		</ul>
		<p>Se puede llamar a este evento desde el controlador de un componente mediante la siguiente instrucción:</p>
		<code>
			<badge>JavaScript</badge>
			let args = {<br>
			&emsp;&emsp;messageIsRequired: 'Campo obligatorio',<br>
			&emsp;&emsp;messageValRegex: 'No se cumple la expresión regular'<br>
			}<br>
			$rootScope.$emit('rootScope:movaTextarea:<u>identificador</u>:ValidateRequired', args);
		</code>
		<p>A continuación se muestra un ejemplo de campo obligatorio:</p>
		<mv-button
			btn-type="primary"
			click="validarEjemploTextareaObligatorio()"
			>
			Validar textarea obligatoria
		</mv-button>
		<br><br>
		<mv-textarea
			id="appExampleMovaTextareaEjemploValidarTextareaObligatorioRemoto"
			model="valorIsRequired"
			is-required=true
			label="Compo obligatorio"
			>
		</mv-textarea>
		{{ validarEjemploIsRequiredAttribute }}
		<br><br>
		<p>A continuación se muestra un ejemplo de campo que debe cumplir con una exmpresión regular:</p>
		<mv-button
			btn-type="primary"
			click="validarEjemploTextareaRegex()"
			>
			Validar input con exp. regular
		</mv-button>
		<br><br>
		<mv-textarea
			id="appExampleMovaTextareaEjemploValidarTextareaRegexRemoto"
			model="valorRegex"
			label="Cumplir exp. regular"
			val-regex="ab+c"
		>
		</mv-textarea>
		{{ validarEjemploRegexValueAttribute }}
	</mv-card>

</mv-screen>