<!-- app-cliente-item -->

<mv-item 
	class="mova-item-cliente"
	click="clickItem($ctrl.idCliente)"
	title="{{ $ctrl.apellido1 + ' ' + $ctrl.apellido2 + ', ' + $ctrl.nombre }}"
	detail="{{ $ctrl.direccion == '' ? 'Sin dirección' : $ctrl.direccion }}"
	corner="{{ $ctrl.fcNacimiento }}"
	type="{{ $ctrl.tipo }}"
	image="{{ $ctrl.imagenUrl }}"
	image-error="{{ $ctrl.imagenError }}"
	>
	<i class="fas fa-phone-square" ></i>
	&nbsp;<p ng-show="$ctrl.telefono != ''">{{ $ctrl.telefono }}</p>
	&nbsp;<p ng-show="$ctrl.telefono == ''">Sin teléfono</p>
</mv-item>
