<!-- app-pantalla22 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	float-footer="{{ screen.floatFooter }}"
	show-back="{{ screen.showBack }}"
	show-menu="{{ screen.showMenu }}"
	show-logo="{{ screen.showLogo }}"
	show-subtitle="{{ screen.showSubtitle }}">

	<mv-container id="prev" class="app-main-menu-mv-card-main">

			<h2 class="h2Prev">Otra Información de utilidad</h2>

			<p><strong>Cafetería</strong></p>

			<p class="ind10" id="caf1">Situada en la planta baja en el salón.</p>
			<p class="ind10">Su horario es continuado de 08:00 a 20:30.</p>
			
			<p>No se permite el acceso de los pacientes a 
				la cafetería del hospital en horario de 
				13:00 horas a 16:00 horas.</p><br/>

			<p><strong>Horario de llamadas:</strong></p>

			<ul class="Pinf">
				<li><p> Unidades de Hospitalización:
						de 12:30 a 14:30 y de 17:30 a 19:30.</p></li>

				<li><p>Habitaciones:
						de 10:00 a 14:00 y de 16:30 a 21:00.</p></li>
			</ul>
			<br/>
			<p><strong>Horario de comidas de usuarios:</strong></p>
			<ul class="Pinf2">
				<li><p>Desayuno: 09:00; Comida: 13:00; 
					Merienda: 17:00; Cena: 20:00.</p></li>
			</ul>
				
			<h2 id="vis" class="h2Prev">Horario de visitas:</h2>

			<p><strong>General:</strong></p>
			<ul class="Pinf2">
				<li><p>de 12:00 a 21:00</p></li>
			</ul>

			<p><strong>Especiales:</strong></p>
			<ul class="Pinf2">
				<li><p>UCP: durante las 24 horas del día.</p></li>
				<li><p>UTB: de 11:00 a 13:00 y de 17:30 a 20:00.</p></li>		
			</ul>

			<p>Si el estado del usuario precisa la permanencia continuada 
				de un allegado, el Supervisor de la Unidad de Hospitalización
				les facilitará una tarjeta de 24 h. (Excepto UTB)</p>

			<h2 class="h2Prev">Direcciones:</h2>
			<p><strong>Dirección postal:</strong></p>
			<p class="ind10">Hospital La Fuenfría
					Carretera de las Dehesas s/n
					28470 - Cercedilla (Madrid)</p>
			<p><strong>Página Web:</strong></p>
			<p class="ind10">http://www.madrid.org/ - Sanidad - Hospitales - La Fuenfría</p>
			<p><strong>Teléfonos:</strong></p>
			<p class="ind10">Centralita: (34) 91 852 03 00</p>
				<p class="ind10">Fax: (34) 91 852 15 67</p>

			<h2 class="h2Prev">Accesos:</h2>
				
			<p><strong>Transporte público</strong></p>
			<p>Madrid - Cercedilla</p>
				<p>Autobús: N° 684 Madrid (Moncloa) Cercedilla
					Teléfono: 91 851 55 92
					Web: www.autobuseslarrea.com</p>
				<p>Cercanías: Línea 8b Atocha - Cercedilla
					Teléfono: 902 240 202
					Web: www.renfe.es/cercanias/</p>
				<p>Cercedilla - Hospital La Fuenfría
					Autobús: Línea 1 Hospital - Estación Cercanías - Instituto
					Teléfono: 91 851 55 92
					Web: www.autobuseslarrea.com</p>
		<p>Taxi: 650 263 043 - 619 226 272 - 619 806 462</p>

		<p>Los horarios actualizados de los transportes públicos se encuentran en los tablones de información</p>

		<p><strong>Acceso por carretera:</strong></p>

		<ul>
			<li>Salida de Madrid (A 6) en dirección a Guadarrama (N VI) - Los Molinos (M 622) y Cercedilla. </li>
			<li>O alternativamente salida de Madrid (M 607) en dirección a Colmenar Viejo - Navacerrada (M 622) - Los Molinos y Cercedilla.</li> 
			<li>Desde Cercedilla (M966) dirección Hospital La Fuenfría.</li> 
		</ul>

	</mv-container>

</mv-screen>
