<!-- app-example-app-environment -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">app.environment</h1>
		<br>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>Este componente se utiliza mediante su inyección en otros componentes.</p>
			<p>Su contenido es una estructura JSON. Cada atributo es una variable relacionada con el entorno de la App.</p>
			<p>No debe alterarse la estructura del fichero, pero si debe configurarse las variables con los valores correctos.</p>
			<p>Existe un apartado específico al final del fichero donde se pueden incluir variables propias de la App.</p>
			<p>Existe un fichero .package para los entornos PRO, VAL y DES.</p>
		</mv-card>
		<p>Este componente contiene las siguientes variables de configuración de la App por entorno:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('apiKeyArray')" >apiKeyArray</a></li>
			<li><a href="" ng-click="$root.scrollTo('envConsoleDebug')" >envConsoleDebug</a></li>
			<li><a href="" ng-click="$root.scrollTo('envIdApp')" >envIdApp</a></li>
			<li><a href="" ng-click="$root.scrollTo('envURIBase')" >envURIBase</a></li>
			<li><a href="" ng-click="$root.scrollTo('envURIDameToken')" >envURIDameToken</a></li>
			<li><a href="" ng-click="$root.scrollTo('envURIDameVersion')" >envURIDameVersion</a></li>
			<li><a href="" ng-click="$root.scrollTo('localStorageCryptPassword')" >localStorageCryptPassword</a></li>
			<li><a href="" ng-click="$root.scrollTo('mostrarListaLlamadasHttp')" >mostrarListaLlamadasHttp</a></li>
			<li><a href="" ng-click="$root.scrollTo('mvBrokerIdAutoRedirectOnLogin')" >mvBrokerIdAutoRedirectOnLogin</a></li>
			<li><a href="" ng-click="$root.scrollTo('mvBrokerIdOkUrlParam')" >mvBrokerIdOkUrlParam</a></li>
			<li><a href="" ng-click="$root.scrollTo('mvBrokerIdPassParam')" >mvBrokerIdPassParam</a></li>
			<li><a href="" ng-click="$root.scrollTo('mvBrokerIdSSParam')" >mvBrokerIdSSParam</a></li>
			<li><a href="" ng-click="$root.scrollTo('notAlwaysShowIosTemplate')" >notAlwaysShowIosTemplate</a></li>
			<li><a href="" ng-click="$root.scrollTo('notBrowserServiceUrl')" >notBrowserServiceUrl</a></li>
			<li><a href="" ng-click="$root.scrollTo('notClave')" >notClave</a></li>
			<li><a href="" ng-click="$root.scrollTo('notCliente')" >notCliente</a></li>
			<li><a href="" ng-click="$root.scrollTo('notEntorno')" >notEntorno</a></li>
			<li><a href="" ng-click="$root.scrollTo('notGoogleServicePushId')" >notGoogleServicePushId</a></li>
			<li><a href="" ng-click="$root.scrollTo('notRecibidasLimit')" >notRecibidasLimit</a></li>
			<li><a href="" ng-click="$root.scrollTo('notRestUrl')" >notRestUrl</a></li>
		</ul>
	</mv-card>

	<mv-card
		id="apiKeyArray"
		>
		<h3 class="title-3">apiKeyArray</h3>
		<br>
		<p>La variable <b>apiKeyArray</b> contiene un array de objetos JSON.</p>
		<p>Cada objeto JSON tiene dos atributos:</p>
			<ul>
				<li><b>nameApiKey</b> - El nombre interno para el uso de la APIKEY</li>
				<li><b>apiKey</b> - El valor de la APIKEY</li>
			</ul>
		<p>El valor de <b>nameApiKey</b> es el usado por la directiva <a href="#!/example-angularjs-http"><b><b>$http</b></b></a> de <b>AngularJS</b> en su parámetro <b>useApiKey</b>.</p>
	</mv-card>

	<mv-card
		id="envConsoleDebug"
		>
		<h3 class="title-3">envConsoleDebug</h3>
		<br>
		<p>Esta variable solo debe tener valor true en el entorno de desarrollo.</p>
		<p>La variable <b>envConsoleDebug</b> permite activar la información adicional que se muestra por consola en modo Debug.</p>
		<p></p>
	</mv-card>

	<mv-card
		id="envIdApp"
		>
		<h3 class="title-3">envIdApp</h3>
		<br>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>Este atributo surge por la necesidad de distinguir cada App en el componente <b>mv.movaRateApp</b>, para que cada encuesta quede asignada a una App.</p>
		</mv-card>
		<p>La variable <b>envIdApp</b> permite distinguir con un identificador cada App.</p>
	</mv-card>

	<mv-card
		id="envURIBase"
		>
		<h3 class="title-3">envURIBase</h3>
		<br>
		<p>La variable <b>envURIBase</b> contiene el dominio de las URLs para su entorno.</p>
		<p>A continuación se muestra un ejemplo de como debe incluirse el dominio.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
			https://gestiona3.madrid.org/
			</span>
		</code>
	</mv-card>

	<mv-card
		id="envURIDameToken"
		>
		<h3 class="title-3">envURIDameToken</h3>
		<br>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>Este atributo surge para ser utilizada en los componentes:</p>
			<ul>
				<li>mv.movaBrokerIdentidades</li>
				<li>mv.movaLogin</li>
			</ul>
		</mv-card>
		<p>La variable <b>envURIDameToken</b> contiene la URL sin dominio de entorno que se utilizará para pedir el token.</p>
		<p>A continuación se muestra un ejemplo de como debe incluirse el valor.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
			atlas_rest_dametoken/v1/token/getToken
			</span>
		</code>
	</mv-card>

	<mv-card
		id="envURIDameVersion"
		>
		<h3 class="title-3">envURIDameVersion</h3>
		<br>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>Este atributo surge para ser utilizada en el componente <b>mv.movaNuevaVersion</b>.</p>
		</mv-card>
		<p>La variable <b>envURIDameVersion</b> contiene la URL sin dominio de entorno que se utilizará para conseguir los datos de las nuevas versiones.</p>
		<p>A continuación se muestra un ejemplo de como debe incluirse el valor.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
			atlas_rest_dametoken/v1/token/getToken
			</span>
		</code>
	</mv-card>

	<mv-card
		id="localStorageCryptPassword"
		>
		<h3 class="title-3">localStorageCryptPassword</h3>
		<br>
		<p>La variable <b>localStorageCryptPassword</b> define el password a nivel de App y entorno que se utilizará por el componente de encriptación <b>mv.movaCrypt</b> que a su vez es utilizado por los métodos <b>localStorageLoad</b> y <b>localStorageSave</b> del componente <b>mv.movaLibrary</b> cuando se utilizan con su función de encriptación.</p>
		<p></p>
	</mv-card>

	<mv-card
		id="mostrarListaLlamadasHttp"
		>
		<h3 class="title-3">mostrarListaLlamadasHttp</h3>
		<br>
		<p>La variable <b>mostrarListaLlamadasHttp</b> permite que el componente <a href="#!/example-mova-device-info"><b>mv.movaBrokerIdentidades</b></a> muestre el apartado dedicado a las listas de las últimas llamadas http.</p>
		<p>Si su valor es false tampoco recojerá la información en el interceptor.</p>
	</mv-card>

	<mv-card
		id="mvBrokerIdAutoRedirectOnLogin"
		>
		<h3 class="title-3">mvBrokerIdAutoRedirectOnLogin</h3>
		<br>
		<p>La variable <b>mvBrokerIdAutoRedirectOnLogin</b> permite que el componente <a href="#!/example-mova-broker-identidades"><b>mv.movaBrokerIdentidades</b></a> sea capaz de redireccionar automaticamente cuando el login del usuario se ha realizado correctamente si su valor es true</p>
		<p>En caso contrario, si su valor es false, el usuario tendrá que navegar de forma manual desde la pantalla del componente <a href="#!/example-mova-broker-identidades"><b>mv.movaBrokerIdentidades</b></a> cuando el login del usuario se ha realizado correctamente.</p>
	</mv-card>

	<mv-card
		id="mvBrokerIdOkUrlParam"
		>
		<h3 class="title-3">mvBrokerIdOkUrlParam</h3>
		<br>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>Esta valor solo tiene efecto cuando estamos en una App web.<p>
		</mv-card>
		<p>La variable <b>mvBrokerIdOkUrlParam</b> permite definir el parámetro <b>ok</b> que se utiliza en la URL de Autologin para realizar una redirección distinta a la propia del componente <a href="#!/example-mova-broker-identidades"><b>mv.movaBrokerIdentidades</b></a>.</p>
		<p>Por defecto el valor es '', para dejar que el componente <a href="#!/example-mova-broker-identidades"><b>mv.movaBrokerIdentidades</b></a> utilice su propio estado.</p>
	</mv-card>

	<mv-card
		id="mvBrokerIdPassParam"
		>
		<h3 class="title-3">mvBrokerIdPassParam</h3>
		<br>
		<p>La variable <b>mvBrokerIdPassParam</b> permite definir el parámetro <b>pass</b> que se utiliza en la URL de Autologin por el componente <a href="#!/example-mova-broker-identidades"><b>mv.movaBrokerIdentidades</b></a>.</p>
	</mv-card>

	<mv-card
		id="mvBrokerIdSSParam"
		>
		<h3 class="title-3">mvBrokerIdSSParam</h3>
		<br>
		<p>La variable <b>mvBrokerIdentidadesSSParam</b> permite definir el parámetro <b>ss</b> que se utiliza en la URL de Autologin por el componente <a href="#!/example-mova-broker-identidades"><b>mv.movaBrokerIdentidades</b></a>.</p>
		<p>Existe una variable para cada plataforma, iOS, Android, Windows y Webapp.</p>
	</mv-card>

	<mv-card
		id="notAlwaysShowIosTemplate"
		>
		<h3 class="title-3">notAlwaysShowIosTemplate</h3>
		<br>
		<p>La variable <b>notAlwaysShowIosTemplate</b> por defecto tiene el valor de falso.</p>
		<p>Esta variable sirve para que se muestre la notificación Push como en iOS cuando se tiene abierta la App.</p>
		<p></p>
	</mv-card>

	<mv-card
		id="notBrowserServiceUrl"
		>
		<h3 class="title-3">notBrowserServiceUrl</h3>
		<br>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>El valor de este componente debe ser siempre 'http://push.api.phonegap.com/v1/push'.</p>
		</mv-card>
		<p>La variable <b>notBrowserServiceUrl</b> contiene la url de notificaciones para la plataforma browser.</p>
		<p></p>
	</mv-card>

	<mv-card
		id="notClave"
		>
		<h3 class="title-3">notClave</h3>
		<br>
		<p>La variable <b>notClave</b> contiene la clave de la App del servicio de notificaciones.</p>
		<p></p>
	</mv-card>

	<mv-card
		id="notCliente"
		>
		<h3 class="title-3">notCliente</h3>
		<br>
		<p>La variable <b>notCliente</b> contiene el cliente de la App del servicio de notificaciones.</p>
		<p></p>
	</mv-card>

	<mv-card
		id="notEntorno"
		>
		<h3 class="title-3">notEntorno</h3>
		<br>
		<p>La variable <b>notEntorno</b> contiene el entorno del servicio de notificaciones.</p>
		<p>Los valores pueden ser:</p>
		<ul>
			<li>DES</li>
			<li>VAL</li>
			<li>PRO</li>
		</ul>
		<p></p>
	</mv-card>

	<mv-card
		id="notGoogleServicePushId"
		>
		<h3 class="title-3">notGoogleServicePushId</h3>
		<br>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>En caso de que la App no utilice notificaciones Push esta variable debe tener asignado el valor -1.</p>
		</mv-card>
		<p>La variable <b>notGoogleServicePushId</b> contiene el número de proyecto de Google que se encuentra en la "API Console".</p>
	</mv-card>

	<mv-card
		id="notRecibidasLimit"
		>
		<h3 class="title-3">notRecibidasLimit</h3>
		<br>
		<p>La variable <b>notRecibidasLimit</b> permite definir el número máximo de notificaciones recibidas a guardar en local.</p>
	</mv-card>

	<mv-card
		id="notRestUrl"
		>
		<h3 class="title-3">notRestUrl</h3>
		<br>
		<p>La variable <b>notRestUrl</b> contiene la URL sin dominio de entorno que se utilizará para las llamadas a los servicios REST.</p>
		<p>A continuación se muestra un ejemplo de como debe incluirse el valor.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
			mova_rest_notificaciones/v3/
			</span>
		</code>
	</mv-card>

</mv-screen>