<app-cabecera [titulohead]="tituhead"></app-cabecera>



<ion-content class="main-container">
    <ion-grid>
      <ion-row *ngFor="let chat of cs.chats">
   
        <ion-col size="9" *ngIf="chat.paciente == true"  class="message other-message text-right">
                <p ><b>Paciente:</b>{{chat.nombre}}</p>
                <p ><b>Fecha:</b>{{chat.fecha | date: "dd/MM/yyy-HH:mm"}}</p>
                <div>
                    <p><input style="font-size: small" #uid id="uid" value="{{chat.uid}}" /><ion-icon color="light" size="small" name="copy" (click)="copy(uid)"></ion-icon></p>
                    <p>{{chat.mensaje}}</p>
                </div>
        </ion-col>
   
        <ion-col offset="3" size="9" *ngIf="chat.admin == true" class="message my-message text-left">
                <p><b>Respuesta a:</b>{{chat.nombrePaciente}}</p>
                <p ><b>Fecha:</b>{{chat.fecha | date: "dd/MM/yyy-HH:mm"}}</p>
                <p><b>Mensaje:</b>{{chat.mensaje}}</p> 
        </ion-col>
   
      </ion-row>
    </ion-grid>
  </ion-content>
   
  <ion-footer>
      <ion-grid>
          <ion-row>
              <ion-col size="12">
                  <input type="text" name="nombrePaciente" [(ngModel)]="nombrePaciente" placeholder="Paciente" class="form-control" />
                </ion-col>
                <ion-col size="12">
                    <input type="text" name="uid" [(ngModel)]="uid" placeholder="Id paciente" class="form-control" />
                  </ion-col>
            <ion-col size="10">
                <input type="text" name="mensaje" [(ngModel)]="mensaje" placeholder="enviar mensaje" class="form-control" />
            </ion-col>
          <ion-col size="2">
            <ion-button  size="small" color="success" style="text-align: end" (click)="enviar_mensaje()"><ion-icon name="send"></ion-icon></ion-button>
          </ion-col>
          </ion-row>
        </ion-grid>
  </ion-footer>




   
