<ion-content padding>
  <div text-center>
    <h1>Agentes Ids</h1>
  </div>

  <div class="main-container mx-auto" text-center>
    <div>
      <hr>
      <ion-card *ngFor="let agentes of cs.agentes">
        <ion-card-content>
          <p><b>Agente:</b>{{agentes.nombre}}</p>

          <ion-grid>
            <ion-row>
              <ion-col size="10">
                <input style="text-align: initial" readonly="true" class="id" #uid type="text"
                  value="{{agentes.userId}}" id="uid" />
              </ion-col>
              <ion-col size="2">
                <ion-icon style="margin-top: -0.5rem;" size="large" name="copy" (click)="copy(uid)"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>


        </ion-card-content>

      </ion-card>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div text-center>
    <ion-button color="primary" size="small" expand="full" (click)="dismiss()">Salir</ion-button>
  </div>
</ion-footer>