<!-- app-wso2 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card>
	  <h2>Consulta de municipios</h2>

		<mv-values-list
		  model="search.codProv"
			finder-title="Lista de provincias"
		  column-code="cdProv"
		  column-text="dsProvNorma"
			columns-to-show="cdProv;dsProvNorma"
			columns-title="Código;Provincia"
		  live-search-code="lscProvinciasCtrl(code)"
		  live-search-list="lslProvinciasCtrl(searchText)"
			adapt=true>
		</mv-values-list>

	  <mv-input
		  label="Municipio"
		  icon-class="fa fa-search"
		  placeholder="Buscar..."
		  model="search.municipio"
			ng-model-options='{ debounce: 500 }'>
		</mv-input>

		<mv-grid
		  type="flat"
			shadow=true
			data="arrayMunicipios">
		</mv-grid>

		<mv-container id="buttonContainer" class="text-center">
			<mv-container-item col-xs=6 col-sm=4>
				<div class="itemsTitle2">
					{{firstItem}} - {{lastItem}} de XXX
				</div>
		  </mv-container-item>

			<mv-container-item col-xs=6 col-sm=4>
				<span
					ng-click="init()">
					<i class="glyphicon glyphicon-step-backward"></i>
				</span>
				<span
					ng-click="prev()">
					<i class="glyphicon glyphicon-chevron-left"></i>
				</span>
				<span
					ng-click="sig()">
					<i class="glyphicon glyphicon-chevron-right"></i>
				</span>
				<span
					ng-click="last()">
					<i class="glyphicon glyphicon-step-forward"></i>
				</span>
		  </mv-container-item>

			<mv-container-item col-xs=12 col-sm=4 class="numItems">
				<div class="itemsTitle">
					Elementos por página
				</div>

				<mv-select
				  model="select.selected"
				  options="select.options"
					change="changeSelect()">
				</mv-select>

		  </mv-container-item>

		</mv-container>

	</mv-card>

</mv-screen>
