<!-- mova-broker-id -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		class="mv-broker-id-section-redirection-disable section-danger"
		round-corners="true"
		show="automaticRedirectionDisable"
		>
		<p>La redirección automática esta desactivada. Variable <b>mvBrokerIdAutoRedirectOnLogin</b> en <b>app.environment</b>.</p>
	</mv-card>

	<mv-card 
		bg-color="transparent"
		border-color="transparent"
		adapt=true
		class="mv-broker-id-section-status-icon">
		<i 
			class="mv-broker-id-i-status-icon fa {{ icon[iconIndex] }}">
		</i>
	</mv-card>

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		adapt=true
		class="mv-broker-id-section-message"
		ng-show="message">
		<p>{{ message }}</p>
	</mv-card>

	<br>
	<mv-card
		show="datosTicket"
		round-corners="true"
		badge="Información obtenida"
	>
	{{ datosTicket }}
	</mv-card>

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		adapt=true
		class="mv-broker-id-section-buttons"
		ng-show="firstLoad">

		<mv-button 
			id="movaBrokerIdSectionButtonsRetry"
			click="clickTryAgain()"
			show="btnShow"
			class="button-left"
			btn-type="success"
		>
			{{ btnCaption }}
		</mv-button>

		<mv-button 
			id="movaBrokerIdSectionButtonsGoHome"
			click="clickGoHome()"
			show="btnShow"
			class="button-right"
		>
			{{ btnRight }}
		</mv-button>

	</mv-card>

</mv-screen>