/*
╔══════════════════════╗
║ mova-broker-id style ║
╚══════════════════════╝
*/
mv-broker-id {

    @include view-style;

	section {

		&.mv-broker-id-section-status-icon {
			display: block;
			position: relative;
			width: 100%;
			height: auto;
			text-align: center;
			color: #cacaca; // Color especial para mimetizar con el fondo

			.mv-broker-id-i-status-icon {
				font-size: 9rem;
				margin: 3rem 0 1rem 0;
				padding: 0 0 0 0;
			}
		}

		&.mv-broker-id-section-redirection-disable {

			p {
				margin: 0 0 0 0;
				padding: 0 0 0 0;
			}
		}

		&.mv-broker-id-section-message {
			text-align: center;
			color: $color-disabled;
		}

		&.mv-broker-id-section-buttons {
			display: block;
			position: fixed;
			width: 100%;
			bottom: 0;
			text-align: center;

			.button-right,
			.button-left {
				width: 	50%;
				border-radius: 0;
			}
		}
	}

}