header{
    background: #26a6ff;
}

.arrendador{
    background: #26a6ff;
    height: 2rem;
}



h5{
    //text-shadow: 1px 1px whitesmoke;
    //padding-top: 1rem;
    color: white;
    padding-top: 0.3rem;
    position: relative;
    font-size: larger;
    /* background: black; */
    width: 70%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    margin-left: 15%;
    //padding-bottom: 0.3rem;
    font-weight: bold;
    text-transform: uppercase;
}


.image{
    float: left;
    position: relative;
    margin-top: -1.8rem;
    height: 1rem;
    padding-left: 0.5rem;
}

.arrow{
    position: relative;
    margin-top: -1.7rem;
    height: 1rem;
    float: left;
    margin-left: 0.5rem;
}



.navbar.navbar-expand-lg{
    background-color: #26a6ff;
    color: black;
}

.collapse.navbar-collapse{
    //background: rgb(197,197,197);
    color: black;
margin-left: -1rem;
margin-right: -2rem;
padding-left: 1rem;
margin-bottom: -0.5rem;
}




.logotipo{
    padding-right: 1rem;
    height: 2rem;
}

a.nav-link{
    color: black;
}

.navbar-brand{
    color: black;
    font-size: x-large;
    position: relative;
    display: flex;
}


ion-content{

    --background: url("/assets/imgs/mesesPagados.jpg") no-repeat fixed center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}

@media only screen and (min-width:414px){
    ion-content{
        --background: url("/assets/imgs/mesesPagadosS.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
    }
}

.boton{
    position: relative;
    height: 2.2rem;
    width: 24rem;
    background: whitesmoke;
    float: right;
    box-shadow: 1px 1px black;
    text-align: center;
    margin-bottom: 0.5rem;

}


b.titulo{
    padding-right: 0.5rem;
    padding-left: 1rem;
}

.card-title{
    padding-top: 1rem;
}

.list{
    background: rgba(255,255,255, 0.65);
    padding-left: 3rem;
    margin-top: 6rem;
}

.hr{
    background: black;
}

.cajas{
    margin-bottom: -11.5rem;
}

img{
    margin-top: -22rem;
    position: static;
    margin-left: -3rem;
}

.list-group-item{
    width: 8rem;
    background: transparent !important;
    border: none;
}

.card-text-ano{
    margin-bottom: 2rem;
}


@media only screen and (min-width: 414px){
    .boton{
    border-top-left-radius: 15px;
    position: relative;
    height: 2.2rem;
    width: 28rem;
    background: whitesmoke;
    float: right;
    box-shadow: 1px 1px black;
    text-align: center;
    margin-bottom: 1.5rem;
    }
}