<app-cabecera [titulohead]="tituhead"></app-cabecera>



<ion-content padding>

    <form  [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h5>Nombre del Menu</h5>
            <ion-input type="text" formControlName="nombreMenu" readonly="true"></ion-input>
          </ion-col>
          <ion-col>
              <h5>Numero del Menu</h5>
              <ion-input type="text" formControlName="numeroMenu" readonly="true"></ion-input>
            </ion-col>
          <ion-col size="12">
            <h5>Semanas</h5>
            <ion-input placeholder="Opción 1" formControlName="semanas" class="inputexto2" readonly="false"></ion-input>
          </ion-col>
          <hr>
          <hr>
          <ion-col size="12">
              <img src="{{this.item.image}}" alt="imagen"  >
          </ion-col>
        </ion-row>
        </ion-grid>
        <div text-center> 
            <ion-button type="submit" [disabled]="!validations_form.valid" style="margin-bottom:15px;">Modificar</ion-button>
        </div>
        
    </form>
    <div text-center>
      <ion-button *ngIf="isAdmin === true" (click)="delete()">Borrar</ion-button>
    </div>
</ion-content>
