<ion-header>
        <ion-toolbar>
          <ion-title>Añadir alquiler</ion-title>
        </ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
      </ion-header>
      
      <ion-content padding>
      
        <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
          <ion-grid>
            <ion-row>
              <ion-col  size="12">
                <ion-input type="text" formControlName="direccion" placeholder="Dirección"></ion-input>
              </ion-col>
              <ion-col size="6">
                <ion-input type="number" formControlName="metrosQuadrados" placeholder="m2"></ion-input>
              </ion-col>
              <ion-col size="6">
                <ion-input type="number" formControlName="costoAlquiler" placeholder="Costo alquiler"></ion-input>
              </ion-col>
              <ion-col size="6">
                <ion-input type="number" formControlName="mesesFianza" placeholder="Meses fianza"></ion-input>
              </ion-col>
              <ion-col size="6">
                <ion-input type="number" formControlName="numeroHabitaciones" placeholder="Numero de habitaciones"></ion-input>
              </ion-col>
              <ion-col size="12">
                <ion-input type="text" formControlName="planta" placeholder="Planta"></ion-input>
              </ion-col>
              <ion-col size="12">
                <ion-input type="number" formControlName="telefono" placeholder="telefono agente/arrendador"></ion-input>
              </ion-col>
              <ion-col size="12">
                <ion-input type="text" formControlName="numeroContrato" placeholder="Nº contrato" style="text-transform: uppercase"></ion-input>
              </ion-col>
              <ion-col size="12">
                <ion-input type="text" formControlName="dni" placeholder="DNI agente" style="text-transform: uppercase"></ion-input>
              </ion-col>
              <ion-col size="12">
                <ion-input type="email" formControlName="email" placeholder="Correo electronico"></ion-input>
              </ion-col>
              <ion-col size="6">
                <ion-input type="text" formControlName="nombre" placeholder="Nombre inquilino"></ion-input>
              </ion-col>
              <ion-col size="6">
                <ion-input type="text" formControlName="apellido" placeholder="Apellido inquilino"></ion-input>
              </ion-col>
              <ion-col size="12">
                <ion-input type="text" formControlName="emailInquilino" placeholder="Correo Inquilino"></ion-input>
              </ion-col>
              <ion-col size="12">
                <ion-input type="number" formControlName="telefonoInquilino" placeholder="telefono Inquilino"></ion-input>
              </ion-col>
              <ion-col size="12">
                <ion-input type="text" formControlName="inquilinoId" placeholder="Inquilino Id"></ion-input>
              </ion-col>
              <ion-col size="12">
                  <ion-input type="text" formControlName="agenteId" placeholder="Agente Id"></ion-input>
                </ion-col>
              <ion-col size="12">
                <ion-input type="text" formControlName="otrosDatos" placeholder="datos adicionales"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
              <ion-row>
                  <ion-col text-center>
                      <h3>Documentos</h3>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col text-center>
                      <ion-button (click)="getImages()">Agregar imagenes</ion-button>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <!-- More Pinterest floating gallery style
                      <div class="images">
                          <div class="one-image" *ngFor="let img of imageResponse">
                              <img src="{{img}}" alt="" srcset="">
                          </div>
                      </div>-->
                      <ion-slides pager="true" [options]="slidesOpts" >
                          <ion-slide *ngFor="let img of imageResponse">
                              <img src="{{img}}" alt="" srcset="">
                          </ion-slide>
                      </ion-slides>
                  </ion-col>
              </ion-row>
          </ion-grid>
          <ion-button type="submit" expand="block"   [disabled]="!validations_form.valid">Guardar</ion-button>

        </form>

      
      </ion-content>
      