<!-- app-pantalla11 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	float-footer="{{ screen.floatFooter }}"
	show-back="{{ screen.showBack }}"
	show-menu="{{ screen.showMenu }}"
	show-logo="{{ screen.showLogo }}"
	show-subtitle="{{ screen.showSubtitle }}">

	<mv-container id="prev11" class="app-main-menu-mv-card-main">

		<mv-container-item>

			<mv-card
				class="app-main-menu-mv-card-option"
				id="card10"
				round-corners=false
				shadow=false
				click="clickOpcion(1)"
			>
				
				<p class="app-main-menu-mv-card-option-text"></p>
			</mv-card>
		</mv-container-item>

		<mv-container-item>

			<a ng-href="http://comunidad.madrid/hospital/lafuenfria/profesionales/docencia-e-investigacion"><mv-card
				class="app-main-menu-mv-card-option"
				id="card11"
				round-corners=false
				shadow=false
			>
				
				<p class="app-main-menu-mv-card-option-text"></p>
			</mv-card></a>
		</mv-container-item>

		<mv-container-item>

			<a href="https://essrrhh.madrid.org/tctools/espanol/tc_login.jsp" target="_blank"><mv-card
				class="app-main-menu-mv-card-option"
				id="card12"
				round-corners=false
				shadow=false
				
			>
				
				<p class="app-main-menu-mv-card-option-text"></p>
			</mv-card></a>
		</mv-container-item>
	
		<mv-container-item>

				<mv-button class="not"
				  
				  
				  >
				  <label class="switch">
				  <input type="checkbox" checked>
				  <span class="slider round"></span>
				</label><span>&nbsp;Suscripción a
					<br/>Notificaciones</span>
				</mv-button>
		</mv-container-item>

	</mv-container>	

</mv-screen>