<ion-header>
  <nav class="navbar navbar-expand-lg navbar-dark ">
    <a style="font-size: large; color: white;" class="navbar-brand" (click)="goBack()"><img class="logo"
        src="../../../assets/icon/logotipoO.png">Registro de agente</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="isUserAdmin != true" class="nav-item ">
          <a class="nav-link" (click)="perfil()">Perfil</a>
        </li>
        <li *ngIf="isUserAdmin != true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/tabs/tab1" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Pisos
          </a>
          <div class="dropdown-menu" style="background: black; color:white;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="listaPisos()">Lista de pisos</a>
            <a class="dropdown-item" (click)="registrarPiso()">Añadir piso</a>
          </div>
        </li>
        <li *ngIf="isUserAdmin != true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Agentes
          </a>
          <div class="dropdown-menu" style="background: black; color:white;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="registroAgente()">Registrar agente</a>
            <a class="dropdown-item" (click)="listaInmo()">Lista de agentes</a>
          </div>
        </li>
        <li *ngIf="isUserAdmin == true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div style="background: black; color:white;" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="registro()">Registrar Inmobiliaria</a>
            <a class="dropdown-item" (click)="listaInmobiliarias()">Lista de Inmobiliarias</a>
            <a class="dropdown-item" (click)="listaPisosAdmin()">Lista de pisos</a>
            <a class="dropdown-item" (click)="pisosReservados()">Lista de pisos bloqueados</a>
            <a class="dropdown-item" (click)="solicitudesAlquiler()">Solicitudes de alquiler&nbsp;<ion-badge *ngFor="let contratos of cs.contratos; let i = index;" color="success"><p *ngIf="contratos.contratoGenerador != true">{{i+1}}</p></ion-badge></a>
            <a class="dropdown-item" (click)="incidentes()">Lista Incidencias</a>
            <a class="dropdown-item" (click)="desahucio()">lista prevision desahucio</a>
            <a class="dropdown-item" (click)="impago()">lista prevision impago</a>
            <a class="dropdown-item" (click)="contratosInquilinos()">Contratos firmados inquilinos</a>
            <a class="dropdown-item" (click)="contratosArrendadores()">Contratos firmados arrendadores</a>
            <a class="dropdown-item" (click)="recibos()">Recibos</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</ion-header>
<ion-content>
 

    <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">
<div class="desktop">
    <div text-center style="background: transparent !important; margin-top: 3rem">
          <input type="text" class="email" placeholder="Correo Electrónico" formControlName="email">
        </div>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message"
                 *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
    
    
        <div text-center style="background: transparent !important;"> 
          <input type="password" class="password" placeholder="Contraseña" formControlName="password">
        </div>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message"
                 *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <div text-center style="background: transparent !important;">
          <input type="password" class="password" placeholder="Confirmar Contraseña" formControlName="confirmPassword">
        </div>
        <div text-center class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.confirmPassword">
            <div text-center class="error-message"
                 *ngIf="validations_form.get('confirmPassword').hasError(validation.type) && (validations_form.get('confirmPassword').dirty || validations_form.get('confirmPassword').touched)">
              <label class="error-message">{{validation.message}}</label><br/>
            </div>
          </ng-container>
        </div>
        <div text-center class="footer">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <div text-center class="inner-wrapper">
                  <ion-label class="label label-ios">
                      <p class="terminos"> <input type="checkbox" class="check cuadro" formControlName="check" color="primary" checked="false">
                        Acepto los <a a style="color: blue; box-shadow: none;" (click)="presentModal()">terminos y condiciones.</a></p>
                    </ion-label>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div text-center>
          <button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Registrar
          </button>
        </div>
  <label class="error-message">{{errorMessage}}</label>
  <label class="success-message">{{successMessage}}</label>
      </div>
    </div>
      </form>
     
  

</ion-content>
