<app-cabecera [titulohead]="tituhead"></app-cabecera>

<ion-content padding margin-top>
  <button  (click)="goBack()" style="background: transparent !important ; float:left;">
    <img class="arrow"  src="../../../assets/imgs/arrow.png"/>
  </button>
  <h4 style="color: #BB1D1D">
      Tus dietas
    </h4>
    <div text-center class="mx-auto">
    <ion-grid margin-top>
    <ion-row margin-top>
     <ion-col style="display: contents" size="12">
        <div class="mx-auto" *ngFor="let item of items" >
            <ion-col size="3" [routerLink]="['/detalles-menu-hipocalorica', item.payload.doc.id]">
                <div   class="bot bot_irHistoryClinico">
                  <img src="../../../assets/imgs/bot_cliente_seguimiento/menus.png">
                    <p style="font-size:13px; font-weight: bold; margin-top:-20%">{{item.payload.doc.data().nombreMenu}}</p>
                  </div>
            </ion-col>
            </div>
          </ion-col>
    </ion-row>         
    </ion-grid>
  </div>
</ion-content>
