<ion-content>
  <app-header [tituloHeader]="textHeader"></app-header>
<ion-grid>
  <ion-row>
      <ion-col  text-center class="mx-auto desktop" size="12">
        <input type="file" id="file" multiple="multiple"  (change)="onSelectFile($event)" #fileInput required /> 
        <label for="file">Documentos</label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-slides pager="true" [options]="slidesOpts">
          <ion-slide *ngFor="let img of documentosResponse">
            <img src="{{img}}" alt="" srcset="">
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
</ion-grid>
<form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
  <ion-card>
    <div class="text-info">
      <b class="info">Inquilinos: DNI/NIE/Pasaporte, Nóminas (5 nóminas), Sepa.</b><br/>
      <b class="info">Empresa: DNI/NIE/Pasaporte Administrador, Representante(Foto), ultimos 4 IVA, Sepa</b>
    </div>
      <ion-grid>
    <ion-row>
      <ion-col  size="12">
        <b>Calle:</b>
        <ion-input type="text" readOnly="true" formControlName="calle" placeholder="Calle"></ion-input>
    
      </ion-col>
      <ion-col size="12">
        <b>M2:</b>
        <ion-input type="number" readOnly="true" formControlName="metrosQuadrados" placeholder="m2"></ion-input>

      </ion-col>
      <ion-col size="12">
        <b>Costo alquiler:</b>
        <ion-input type="number" readOnly="true" formControlName="costoAlquiler" placeholder="Costo alquiler"></ion-input>

      </ion-col>
      <ion-col size="12">
        <b>Meses de fianza:</b>
        <ion-input type="number" readOnly="true" formControlName="mesesFianza" placeholder="Meses fianza"></ion-input>

      </ion-col>
      <ion-col size="12">
        <b>Numero habitaciones:</b>
        <ion-input type="number" readOnly="true" formControlName="numeroHabitaciones" placeholder="Numero de habitaciones"></ion-input>

      </ion-col>
      <ion-col size="12">
        <b>Telefono Arrendador:</b>
        <ion-input type="number" formControlName="telefonoArrendador" placeholder="telefono Arrendador"></ion-input>
      </ion-col>
      <ion-col size="12">
        <b>DNI Arrendador:</b>
        <ion-input type="text" readOnly="true" formControlName="dniArrendador" placeholder="DNI Arrendador" style="text-transform: uppercase"></ion-input>
      </ion-col>
      <ion-col size="12">
        <b>Nombre del Arrendador:</b>
        <ion-input type="text" readOnly="true"formControlName="nombreArrendador" placeholder="Nombre Arrendador"></ion-input>
      </ion-col>

      <!--INQUILINOS ----------------------------------------------------------------->
      
     
      <ion-col size="12">
        <b>Nombre inquilino:</b>
        <ion-input  type="text" formControlName="nombre" placeholder="Nombre inquilino"></ion-input>
      </ion-col>
      <ion-col size="12">
        <b>Apellidos inquilino:</b>
        <ion-input type="text" formControlName="apellidos" placeholder="Apellidos inquilino"></ion-input>
      </ion-col>
      <ion-col size="12">
        <b>DNI Inquilino:</b>
        <ion-input type="text" formControlName="dniInquilino" minlength="9" maxlength="9" placeholder="DNI Inquilino" style="text-transform: uppercase"></ion-input>
      </ion-col>
      <ion-col size="12">
        <b>Correo inquilino:</b>
        <ion-input type="text" formControlName="emailInquilino" placeholder="Correo Inquilino"></ion-input>
      </ion-col>
      <ion-col size="12">
        <b>Telefono inquilino:</b>
        <ion-input type="number" formControlName="telefonoInquilino" placeholder="telefono Inquilino"></ion-input>
      </ion-col>
      <ion-col size="12">
        <b>Domicilio:</b>
        <ion-input type="text" formControlName="domicilioInquilino" placeholder="Domicilio"></ion-input>
      </ion-col>
      <ion-col size="12">
        <b>Fecha de nacimiento::</b>
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" max="2001" padding
        placeholder="Fecha de nacimiento" type="date" formControlName="fechaNacimientoInquilino" done-text="Aceptar"
        cancel-text="Cancelar"></ion-datetime>
      </ion-col>
      <ion-col size="12">
        <b>Contrato trabajo:</b>
        <ion-input type="text" formControlName="contratoTrabajo" placeholder="Contrato trabajo"></ion-input>
      </ion-col>
      <ion-col size="12">
        <b>Aval:</b>
        <ion-input type="text" formControlName="aval" placeholder="Aval"></ion-input>
      </ion-col>
      <ion-col size="12">
        <b>Nº Cuenta:</b>
        <ion-input type="text" formControlName="numeroCuenta" placeholder="Nº Cuenta"></ion-input>
      </ion-col>
 

      <ion-col text-center size="12">
        <ion-button size="small" expand="block" text-center class="mx-auto" color="primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <div text-center style="color: black;">Si eres una empresa</div>
        </ion-button>
      </ion-col>

      <!--EMPRESAAAAAAAAAAAAAA----------------------------------------------->
      <div style="background: transparent" class="collapse" id="collapseExample">
        <div style="background: transparent; border: none" class="card card-body">
          <ion-col size="12">
            <b>Fecha de nacimiento Administrador:</b>
            <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" max="2001" padding
                          placeholder="Fecha de nacimiento" type="date" formControlName="fechaNacimientoInquilinoEmpresa" done-text="Aceptar"
                          cancel-text="Cancelar"></ion-datetime>
          </ion-col>
          <ion-col size="12">
            <b>DNI administrador:</b>
            <ion-input type="text" formControlName="dniAdministradorEmpresa" placeholder="DNI administrador"></ion-input>
          </ion-col>
          <ion-col size="12">
            <b>Domicilio empresa:</b>
            <ion-input type="text" formControlName="domicilioActualEmpresa" placeholder="Domicilio actual empresa"></ion-input>
          </ion-col>
          <ion-col size="12">
            <b>Aval empresa:</b>
            <ion-input type="text" formControlName="avalEmpresa" placeholder="Aval empresa"></ion-input>
          </ion-col>
          <ion-col size="12">
            <b>Escrituras Constitución:</b>
            <ion-input type="text" formControlName="escriturasConstitucion" placeholder="Escrituras Constitución"></ion-input>
          </ion-col>
        </div>
      </div>
      <ion-col size="12">
        <b>Inquilino Id:</b>
        <ion-input type="text" formControlName="inquilinoId" placeholder="Inquilino Id"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
  <div text-center>
  <button type="submit" class="botones" expand="block"   [disabled]="!validations_form.valid">Enviar</button>
</div>
</form>


</ion-content>