ion-content{

    --background: url("/assets/imgs/solicitud.jpg") no-repeat fixed center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
        --background-attachment: fixed;
}

@media only screen and (min-width:414px){
    ion-content{
        --background: url("/assets/imgs/solicitudS.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
            --background-attachment: fixed;
    }
}

[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
  }

[type="file"] + label {
    width: 13rem;
    border-radius: 5px;
    height: 2.5rem;
    margin-top: 1rem;
    box-shadow: 1px 1px black;
    margin-bottom: 5;
    background: rgba(255,255,255, 0.7);
    color: black;
      font-size: 1.1rem;
      width: 13rem;
      font-weight: bold;
    cursor: pointer;
    display: inline-block;
   //@at-root padding-left: 2rem 4rem;
   margin-left: -1rem;
    padding-top: 0.5rem;
  }
    
  [type="file"]:focus + label,
  [type="file"] + label:hover {
      background-color: rgba(255,255,255, 0.7);
  }
    
  [type="file"]:focus + label {
    outline: 1px solid #000;
  }

input{
    border: none;
}

ion-item{
    font-size: initial;
}

app-header{
    width: 100%;
   // position: absolute;
    top: 0;
}


.info{
    
    font-size: smaller;
    font-weight: 200;
    margin-bottom: 0;
    color: black;
}

.text-info{
    padding-left: 1rem;
    padding-top: 1rem;
    color: black;
    text-align: center;
}

ion-card{
    background: rgba(255,255,255,0.8);
    font-size: medium;
    color: black;
    margin-top: -0.5rem;
}

.circular{
    position: relative;
    border-radius: 50%;
    height: 8rem;
    width: 9rem;
    z-index: 1;
    margin-bottom: -1rem;
    margin-left: 1rem;
}

.tarjeta{
    position: relative;
    z-index: 0;
    margin-top: -3rem;
    justify-content: center;
    width: 21rem;
    border-radius: 25px;
    min-height: rem;
    min-width: 21rem;

}
ion-label{
    position: absolute;
    left: 0;
    font-size: initial;
}

.botones{
    width: 13rem;
    border-radius: 5px;
    height: 2.5rem;
    //margin-top: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 1px 1px black;
    margin-bottom: 5;
    background: rgba(38,166,255, 0.7);
    color: black;
}

.botones1{
    width: 13rem;
    border-radius: 5px;
    height: 2.5rem;
    margin-top: 1rem;
    box-shadow: 1px 1px black;
    margin-bottom: 5;
    background: rgba(255,255,255, 0.7);
    color: black;
}

.boton-foto{
    width: 10rem;
    border-radius: 25px;
    /* height: 2.5rem; */
    margin-top: -1rem;
    background: white;
    box-shadow: 1px 1px black;
}

.boton-borrar{
    width: 20rem;
    border-radius: 25px;
    height: 2.5rem;
    margin-top: 0.5rem;
    background: white;
    box-shadow: 1px 1px black;
    margin-bottom: 5;
}

.caja{
    padding-left: 1rem !important;
    background: white;
    margin-bottom: -0.9rem;
    font-size: initial;
}

hr{
    color: black;
    background: black;
}

@media (min-width:414px) and (max-width:736px){

    .circular{
        position: relative;
        border-radius: 50%;
        height: 8rem;
        width: 9rem;
        z-index: 1;
        margin-bottom: -1rem;
        margin-left: 2rem;
    }
    
    .tarjeta{
        position: relative;
        z-index: 0;
        margin-top: -3rem;
        justify-content: center;
        margin-left: 1rem;
        width: 18rem;
        border-radius: 25px;
        min-height: 20rem;
        min-width: 20rem;
    
    }

}