<ion-content>

    <div class="caja">
        <app-header class="phone-header"></app-header>

        <p *ngFor="let item of textos" class="textoP">{{item.titulo}}</p>
    </div>
    <div *ngFor="let item of textos" class="caja1" padding>
        <p class="texto">Este año nos hemos asociado con Make-A-Wish® y WE para la campaña de nuestra mascota solidaria.de nuestra mascota solidaria</p>
        <p class="texto1">Este año nos hemos asociado con Make-A-Wish® y WE para la campaña de nuestra mascota solidaria.de nuestra mascota solidaria</p>
        <p class="texto2">Este año nos hemos asociado con Make-A-Wish® y WE para la campaña de nuestra mascota solidaria.de nuestra mascota solidaria</p>
        <p class="texto3">Este año nos hemos asociado con Make-A-Wish® y WE para la campaña de nuestra mascota solidaria.de nuestra mascota solidaria</p>
        <p class="texto4">Este año nos hemos asociado con Make-A-Wish® y WE para la campaña de nuestra mascota solidaria.de nuestra mascota solidaria</p>
        <p class="texto5">Este año nos hemos asociado con Make-A-Wish® y WE para la campaña de nuestra mascota solidaria.de nuestra mascota solidaria</p>
        <p class="texto6">Este año nos hemos asociado con Make-A-Wish® y WE para la campaña de nuestra mascota solidaria.de nuestra mascota solidaria</p>

    </div>

    <div class="segunda-caja" padding>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <img src="assets/img/gifsense.gif" />
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <p id="textoSecundario">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)
                        desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente
                        igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye
                        versiones de Lorem Ipsum.</p>
                </div>

            </div>
        </div>
    </div>
    <app-formulario></app-formulario>
    <ion-fab class="subir" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary" (click)="scrollContent('top')">
            <ion-icon color="light" name="arrow-up"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <app-footer-nuevo></app-footer-nuevo>
</ion-content>
<ion-footer>
    <app-footer></app-footer>
</ion-footer>