.caja {
    background: url(/assets/img/fotosense.gif);
    height: 80%;
    background-size: cover;
}

.textoP {
    color: white;
    margin-top: 133%;
    margin-left: 55%;
    font-size: 20pt;
}

.que {
    height: 3rem;
    color: white;
    background: black;
    margin-left: 1rem;
    border-radius: 5px;
    margin-top: -1rem;
    width: 10rem;
}

.segundo-texto {
    background: black;
    color: white;
    text-align: center;
}

.caja1 {
    background: black;
    color: white;
}

.parrafo {
    text-align: initial;
    font-size: 0.8rem;
}

.footer {
    background: black;
    color: white;
}

.imgFooter {
    width: 8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.p1 {
    font-size: smaller;
}

.p2 {
    font-size: smaller;
    text-align: end;
    margin-top: 1rem;
    margin-bottom: -0.7rem;
}


/*text*/

.texto {
    text-align: center;
    background: white;
    border-radius: 50%;
    color: black;
    width: 10rem;
    height: 10rem;
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 0.55rem;
    padding-bottom: 1rem;
}

.texto1 {
    text-align: center;
    background: white;
    border-radius: 50%;
    color: black;
    width: 10rem;
    height: 10rem;
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 0.55rem;
    margin-left: 7.5rem;
    margin-top: -4rem;
}

.texto2 {
    text-align: center;
    background: white;
    border-radius: 50%;
    color: black;
    width: 10rem;
    height: 10rem;
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 0.55rem;
    margin-left: 1rem;
    margin-top: -3rem;
}

.texto3 {
    text-align: center;
    background: white;
    border-radius: 50%;
    color: black;
    width: 10rem;
    height: 10rem;
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 0.55rem;
    margin-left: 10rem;
    margin-top: -6rem;
}

.texto4 {
    text-align: center;
    background: white;
    border-radius: 50%;
    color: black;
    width: 10rem;
    height: 10rem;
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 0.55rem;
    margin-left: 1.5rem;
    margin-top: -5rem;
}

.texto5 {
    text-align: center;
    background: white;
    border-radius: 50%;
    color: black;
    width: 10rem;
    height: 10rem;
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 0.55rem;
    margin-left: 9.5rem;
    margin-top: -4rem;
}

.texto6 {
    text-align: center;
    background: white;
    border-radius: 50%;
    color: black;
    width: 10rem;
    height: 10rem;
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 0.55rem;
    margin-left: 2.5rem;
    margin-top: -3rem;
}

.footer-desk {
    padding-top: 1.5rem;
    margin-bottom: 2rem;
    a {
        text-decoration: none;
        color: white;
    }
    .tel {
        color: white;
        text-align: initial;
        font-size: 10px;
    }
}

.segunda-caja {
    background: black;
    color: white;
    text-align: center;
    height: auto;
}

.video {
    margin-top: -3rem;
}

.what {
    margin-right: 1rem;
    margin-top: -2rem;
}

.subir {
    margin-bottom: 5rem;
    margin-right: 1rem;
}

.subir:focus {
    border: none;
}

@media (min-width: 900px) and (max-width: 1920px) {
    .what {
        display: none;
    }
    .caja {
        background: url(/assets/img/gif-sense.gif);
        height: 50rem;
        background-size: cover;
    }
    .segunda-caja {
        background: black;
        color: white;
        text-align: center;
        margin-top: -2rem;
        height: auto;
        // margin-bottom: -3rem;
    }
    #textoSecundario {
        padding-top: 8%;
        margin-bottom: 5rem;
    }
    .caja1 {
        background: black;
        height: 20rem !important;
        color: white;
    }
    .textoP {
        color: white;
        margin-top: 21rem;
        margin-left: 20%;
        font-size: 61pt;
    }
    .texto {
        text-align: center;
        background: white;
        border-radius: 50%;
        color: black;
        width: 15rem;
        height: 15rem;
        padding-top: 5%;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: small;
        margin-left: 56rem;
        margin-top: -29rem;
    }
    .texto1 {
        text-align: center;
        background: white;
        border-radius: 50%;
        color: black;
        width: 15rem;
        height: 15rem;
        padding-top: 5%;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: small;
        margin-left: 47.5rem;
        margin-top: -4rem;
    }
    .texto2 {
        text-align: center;
        background: white;
        border-radius: 50%;
        color: black;
        width: 15rem;
        height: 15rem;
        padding-top: 5%;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: small;
        margin-left: 60rem;
        margin-top: -8rem;
    }
    .texto3 {
        text-align: center;
        background: white;
        border-radius: 50%;
        color: black;
        width: 15rem;
        height: 15rem;
        padding-top: 5%;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: small;
        margin-left: 37rem;
        margin-top: -14rem;
    }
    .texto4 {
        text-align: center;
        background: white;
        border-radius: 50%;
        color: black;
        width: 15rem;
        height: 15rem;
        padding-top: 5%;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: small;
        margin-left: 23.5rem;
        margin-top: -10rem;
    }
    .texto5 {
        text-align: center;
        background: white;
        border-radius: 50%;
        color: black;
        width: 15rem;
        height: 15rem;
        padding-top: 5%;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: small;
        margin-left: 9.5rem;
        margin-top: -21rem;
    }
    .texto6 {
        text-align: center;
        background: white;
        border-radius: 50%;
        color: black;
        width: 15rem;
        height: 15rem;
        padding-top: 5%;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: small;
        margin-left: -0.5rem;
        margin-top: -27rem;
    }
    .footer-mobile {
        display: none;
    }
    .footer-desktop {
        display: block;
    }
    .p1 {
        font-size: smaller;
        text-align: -webkit-center;
        margin-top: 1rem;
    }
    .imgFooter {
        width: 11rem;
        margin-top: 1rem;
        padding-left: 2rem;
    }
    .p2-caja {
        padding-right: 2rem;
        margin-top: -1.5rem;
    }
    .footer {
        background: black;
        display: inline-block;
        width: 100%;
        color: white;
        //  margin-top: 16rem;
    }
    .footer-tel {
        display: none;
    }
    .footer-desk {
        display: block;
        padding-top: 1.5rem;
        margin-bottom: 4rem;
        margin-top: -3rem;
        a {
            text-decoration: none;
            color: white;
            cursor: pointer;
        }
    }
}