<!-- mova-error -->

<mv-card
	title="{{error.titulo}}"
	round-corners=true>

	<p class="mv-error-detail" ng-bind-html="mensajeVersionTrust()"></p>

	<mv-card
		collapse=true
		title="Detalles técnicos del error"
		default-css=false
		class="mv-error-mv-card-code"
		init-collapsed=false
		round-corners=true
		show="error.code != ''">

		<mv-textarea
			adapt=true
			model="error.errorToShow"
			disabled=true
			rows=11>
		</mv-textarea>

	</mv-card>

	<mv-container class="mv-error-buttons">

		<mv-container-item class="mv-error-buttons-item" col-xs=4>
			<mv-button
				class="mv-error-button-back"
				icon-class="fa fa-chevron-left"
				click="irAtras()"
				show="showBackButton">
				Atrás
			</mv-button>

			<mv-button
				class="mv-error-button-back"
				icon-class="fa fa-times"
				click="$ctrl.closeDialog()"
				show="showCloseButton">
				Cerrar
			</mv-button>
		</mv-container-item>

		<mv-container-item class="mv-error-buttons-item" col-xs=4>
			<mv-button
				class="mv-error-button-go-home"
				icon-class="fa fa-home"
				click="irInicio()"
				show="showHomeButton">
				Inicio
			</mv-button>
		</mv-container-item>

		<mv-container-item class="mv-error-buttons-item" col-xs=4>
			<mv-button
				class="mv-error-button-share"
				icon-class="{{sendIcon}}"
				click="compartir()">
				{{sendText}}
			</mv-button>
		</mv-container-item>

	</mv-container>
</mv-card>
