<header text-center  padding-top>
<div class="contiene">
    <img width="40" height="45" routerLink="/cliente-perfil"  src="../../../assets/imgs/logo.png" class="logo">
    <span text-center style="font-size: 22px;">
     &nbsp;&nbsp;{{titulohead}}
    </span>
    
    <!--
        <img class="chat" *ngIf="isPasi === true"  (click)="contacto()" src="../../../assets/imgs/bot_cliente_perfil/buzon.png" >
      -->
       <div style="float: right">
        <button  (click)="goBack()" style="background: transparent !important">
          <img class="arrow" src="../../../assets/imgs/arrow.png"/>
        </button>
       </div>
      </div>
</header>