    
    *{
        margin:0px;
        padding:0px;
    }


  
    //CABEZERA
  
     .contiene .logo{
       font-size: 30px;
       bottom: 1px;
       left:10px;
       padding-bottom: 5px;
       float: left;
        margin-left: 15px;
      }

      .arrow{
        height: 1.5rem;
        float: right;
        padding-right: 1rem;
      }
  
   .contiene .chat{
   
    width:70px;
    height: 70px;
    float: right;
    margin-top: -10px;
    
    }
  
   .contiene{
           padding-top: 5px;
           padding-bottom: -10px;
       
     }