.logo {
    width: 10rem !important;
    margin-right: 3rem;
}

#navbarSupportedContent {
    background: transparent;
}

.bg-dark {
    background-color: black !important;
    z-index: 99;
}

.active {
    color: #5F319E !important;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #5F319E !important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #5F319E !important;
    background-color: transparent;
}

.navbar-dark .navbar-nav .nav-link {
    white-space: nowrap;
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #5F319E !important;
    white-space: nowrap;
}

navbar-dark .navbar-nav .nav-link:focus {
    color: #5F319E !important;
}

@media (min-width: 900px) and (max-width: 1920px) {
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
        text-align: end;
        justify-content: end;
        margin-left: 15rem;
    }
    .logo {
        width: 15rem !important;
        margin-right: 3rem;
    }
}