<nav class="navbar navbar-expand-lg navbar-dark bg-dark mobile">
    <a class="navbar-brand" routerLink="/principal"><img class="logo" src="/assets/img/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul padding class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" routerLink="/principal" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">SomosC</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/onion" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">¿Qué hace C?</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLinkActiveOptions="{exact:true}" routerLink="/servicios">¿Quién es C?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLinkActiveOptions="{exact:true}" routerLink="/sense">¿Qué siente C?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLinkActiveOptions="{exact:true}" routerLink="/changes">¿Qué ha hecho C?</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive="active" routerLinkActiveOptions="{exact:true}" routerLink="/contacto" class="nav-link">Contacto</a>
            </li>
        </ul>
    </div>
</nav>