<app-cabecera [titulohead]="tituhead"></app-cabecera>
<!-- <ion-buttons slot="end">
        <ion-back-button text="" color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-content *ngIf="isAdmin === true" padding>

      --> 
<ion-content>
<form  [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <ion-grid *ngFor="let item of items">
        <ion-row>
          <ion-col>
            <div class="pesoIni">
              <p>Peso</p>
              <p class="tconsul"><strong>{{this.item.peso}}</strong> Kg</p>
              <p>IMC xx</p>
            </div>
            </ion-col>
            <div class="pesoPer">
                <p>Peso Total</p>
                <p>Perdido</p>
                <p class="tconsul"><strong>{{this.item.pesoPerdido}}</strong> Kg</p>
              </div>
            </ion-row>
            <div class="pesoConsul">
                <p class="tconsul">Peso en Consulta</p>
                <p class="tconsul" ><strong>{{this.item.peso}}</strong> Kg</p>
                <p class="tconsul" >IMC {{this.item.imc}}</p> 
              </div>
            </ion-grid>
            <ion-grid text-center *ngFor="let item of items">
              <ion-row style="margin-top: -20px; text-align: center">
                <ion-col>
                    <div class="pesoObj">
                        <p>Peso</p>
                        <p>Objetivo</p>
                        <p class="tconsul"><strong>{{this.item.pesoObjetivo}}</strong> Kg</p>
                      </div>
                </ion-col>
                <div class="pesoEst">
                    <p>Estás a</p>
                    <p class="tconsul"><strong>{{this.item.estasObjetivo}}</strong> Kg</p>
                    <p class="obje1">De tu</p>
                    <p class="obje">Objetivo</p>
                  </div>
              </ion-row>
              <div  >
          <!-- <ion-button color="primary" round class="agregar" (click)="openPicker()"> Agregar</ion-button> --> 
            </div>
              <h4>Indice IMC</h4>
              <div class="cont">
                <div class="pesoIde">Peso ideal</div>
                <div class="sobrePe"> Sobre Peso</div>
                <div class="obe">Obesidad</div>
              </div>
              


                  <div>
                    <h4 text-center>Tu IMC</h4>
                    <div text-center>
                    <ion-label><h5>{{this.item.imc}}</h5></ion-label>
                  </div>
                      <progress style="margin-top: 5px; width: 90%" value="{{this.item.imc}}" min="13" max="50"></progress>
                  </div>

            
            </ion-grid> 
</form>

<div style="width:80%; height:30px; background:#BB1D1D; border-radius:30px; color: white; font-weight: bold; margin: 0 auto; margin-top:-20px;">
  <h4>¡Actualiza Tu Peso!</h4>
</div>
<form class="animated fadeIn fast" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <div class="cajatexto" style="margin-left:18px;">
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" padding placeholder="Fecha Consulta" type="date" formControlName="fechaConsulta" class="inputexto" done-text="Aceptar" cancel-text="Cancelar"></ion-datetime>
      </div>
     <!--<ion-row>
        <ion-col col-12>
            <div class="cajatexto">    
            <ion-input placeholder="Nombre y Apellido" style="text-transform:lowercase" type="text" formControlName="nombreApellido" class="inputexto2"></ion-input>
          </div> 
        </ion-col>
    </ion-row>--> 
    <ion-row>
      <ion-col col-12>
      <p color="primary">Peso Anterior</p>
      <div class="cajatexto">
          <ion-input placeholder="Peso Anterior" type="number" formControlName="pesoAnterior" class="inputexto2"></ion-input>
      </div> 
    </ion-col>
    </ion-row>
    <ion-row> 
      <ion-col col-12>
        <p color="primary">Nuevo Peso</p>
        <div class="cajatexto">
          
          <ion-input placeholder="Nuevo Peso" type="number" formControlName="peso"  class="inputexto2"></ion-input>
        </div>
      </ion-col>
    </ion-row>
      <ion-row>
          <ion-col col-12>
              <p color="primary">Mi Peso Objetivo</p>
              <div class="cajatexto">
            <ion-input placeholder="Objetivo" type="number" formControlName="pesoObjetivo" class="inputexto2"></ion-input>
          </div>
      </ion-col>
      </ion-row> 
      <div style="margin-top: 20px; margin-left: 25%"><h5 style="color:#BB1D1D ">Fórmula Peso Perdido</h5></div>
      <ion-item>
          <div>
            <p>Tú último Peso:</p>
              <input [(ngModel)]="ultimoPeso" [ngModelOptions]="{standalone: true}" placeholder="Ultimo Peso" />
          </div>
        </ion-item>
        <ion-item>
          <div>
              <p>Tú Peso Actual:</p>
              <input [(ngModel)]="pesoActual" [ngModelOptions]="{standalone: true}" placeholder="Peso Actual" />
            </div>
          </ion-item>

              <div *ngIf="ultimoPeso && pesoActual">
                <p>Felicidades has Bajado:</p>
                <ion-input type="number" step=".01" formControlName="pesoPerdido"  value="{{ pesoPerdido }}">
              </ion-input>
            </div>
            
          
      
            <div style="margin-top: 20px; margin-left: 25%"><h5 style="color:#BB1D1D;">Fórmula estás de tú objetivo</h5></div>
      <ion-item>
        <p>Tu Nuevo Objetivo:</p>
          <div>
              <input [(ngModel)]="pesoObjetivo" [ngModelOptions]="{standalone: true}" placeholder="Peso Objetivo" />
            </div>

            </ion-item>
              <div *ngIf="pesoActual && pesoObjetivo">
                <p>Tu Objetivo es bajar:</p>
                <ion-input type="number" step=".01" formControlName="estasObjetivo"  value="{{ pesoObj }}">
              </ion-input>
            </div>
            
     
      
            <div style="margin-top: 20px; margin-left: 15%"><h5 style="color:#BB1D1D ">Formula IMC</h5></div>

  <ion-item>
    <div>
        <p>Añade Tu Altura en Metros</p>
    <input [(ngModel)]="altura" [ngModelOptions]="{standalone: true}" placeholder="Altura M" />
    <input [(ngModel)]="pesoActual" [ngModelOptions]="{standalone: true}" placeholder="Tu peso Actual" />

  </div>
    </ion-item>
    <div *ngIf="pesoActual && altura">
        <p>Tu Nuevo IMC:</p>
      <ion-input type="number" step="0.01" formControlName="imc"  value="{{ bmi.toFixed(2) }}">
    </ion-input>
  </div>

    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Actualizar Peso</ion-button>
  </form>

</ion-content>



  