<!-- app-example-angularjs-rootscope -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">$rootScope</h1>
		<br>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>La documentación oficial puede verse <a href="https://docs.angularjs.org/api/ng/service/$http" target="_blank">aquí</a>.</p>
			<p>Este componente se utiliza mediante su inyección en otros componentes.</p>
		</mv-card>
		<p>Esta directiva ofrece los siguientes métodos:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('do-back')" >doBack</a></li>
			<li><a href="" ng-click="$root.scrollTo('error')" >error</a></li>
			<li><a href="" ng-click="$root.scrollTo('get-browser')" >getBrowser</a></li>
			<li><a href="" ng-click="$root.scrollTo('scroll-to')" >scrollTo</a></li>
		</ul>
	</mv-card>

	<mv-card
		id="do-back"
		>
		<h3 class="title-3">doBack</h3>
		<br>
		<p>Este método permite navegar al estado anterior.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				$rootScope.doBack();
			</span>
		</code>
	</mv-card>

	<mv-card
		id="error"
		>
		<h3 class="title-3">error</h3>
		<br>
		<p>Este método permite mostrar información de un error navegando al estado de error mediante el componente <a href="#!/example-mova-error"><b>mv.movaError</b></a>.</p>
	</mv-card>

	<mv-card
		id="get-browser"
		>
		<h3 class="title-3">getBrowser</h3>
		<br>
		<p>Este método permite detectar el típo de navegador en el que nos encontramos.</p>
		<p>Pensado principalmente para su uso en una <b>Web App</b></p>
		<p>Los valores devueltos pueden ser los siguientes:</p>
		<ul>
			<li>Cadena de caracteres en blanco en caso de no encontrar ninguno.</li>
			<li>'opera'</li>
			<li>'firefox'</li>
			<li>'safari'</li>
			<li>'ie'</li>
			<li>'ie-edge'</li>
			<li>'chrome'</li>
			<li>'blink'</li>
		</ul>
		<p>A continuación se muestra un ejemplo de uso:</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				$rootScope.getBrowser();
			</span>
		</code>
	</mv-card>

	<mv-card
		id="scroll-to"
		>
		<h3 class="title-3">scrollTo</h3>
		<br>
		<p>La navegación de AngularJS interfiere con la navegación por anclas tradicional.</p>
		<p>Este método permite realizar la navegación por anclas tradicional.</p>
		<p>Este método permite el uso de los siguientes parámetros:</p>
		<ul>
			<li><b>id</b> - Identificador del elemento HTML al que navegar.</li>
		</ul>
		<p>A continuación se muestra un ejemplo de uso:</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				$rootScope.scrollTo('seccionPrincipal');
			</span>
		</code>
	</mv-card>

</mv-screen>