    
    *{
        margin:0px;
        padding:0px;
        color: black;
        
       
    }

    ion-input{
        padding-top: 1.5rem !important;
        text-align: initial;
    }

    ion-label{
        font-weight: bold;
    }

    ion-col{
        text-align: initial;
    }

    ion-card{
        padding-left: 1rem;
        text-align: initial;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    h4{
        font-weight: bold;
        color: black;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 1rem;
    }

    //CABEZERA

     .contiene .logo{
       font-size: 30px;
       position:absolute;
       bottom: 1px;
       left:10px;
       padding-bottom: 5px;
      }

   .contiene .chat{
    position: absolute;
    width:70px;
    height: 70px;
    margin-top: -20px;
    margin-left: -8%;
    }

   .contiene{
           padding-top: 5px;
           padding-bottom: -10px;
           height: 50px;
       
     }

     .iconos{
        color:#BB1D1D;
        font-size:30px;
     }
 //FIN DE LA CABEZERA
 // FLECHA RETROCESO
.flecha{
  color :#BB1D1D;
  font-size: 30px;
 /* top:-5px;
  position: absolute;*/
 }
//-----FIN DE LA FLECHA

   /*.....  CONTENIDO  ........*/


.contenedor{
width: 95%;

margin: 0 auto;

}

.titulo{
text-align: center;
font-weight: bold;
font-style: bold;
font-size: 16px;
line-height: bold;
color:#BB1D1D;
}



//IMAGEN
.circular {
width: 100px;
height: 100px;
margin: 0 auto;
border-radius: 50% ;
}

.circular img{
width: 100%;
height: 100%;
border-radius: 50%;
border:4px solid #000;
}
//FIN DE IMAGEN

//CAJA DE TEXTO GENERAL 

.cajatexto{

outline: none;
margin: 0 auto;
width: 90%;
height: 25px;
margin-top:10px; 
color: #3B3B3B;
background: #FFFFFF;
font-size: 12px;
border: 1px solid #C4C4C4;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
padding-left: 10px;
padding-top: 3px;
}

.inputexto{
height: 25px;
margin-left:7px;
margin-top:8px; 
bottom:10px;
padding-left: 1rem;

}
.inputexto2{
    height: 25px;
    margin-left:7px;
    bottom:10px;
    padding-left: 1rem;

    }



.but{

text-decoration: none;

font-size: 13px;
color: #ffffff;
background-color:#9c3535;
border-radius: 62px 66px 62px 78px;

}
.padece{
 font-size: 15px;
 margin-right: 20px;
 margin-left:10%;
 
}
