<app-cabecera [titulohead]="tituhead"></app-cabecera>

<ion-content padding>
  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">

    <ion-grid>
      <ion-row text-center>
        <ion-col size="12">
          <div class="circular">
            <img class="circular" [src]="image" *ngIf="image">
          </div>
          <div text-center>
          <ion-button size="small" style="color: white;" text-center class="mx-auto" (click)="getPicture()">Foto</ion-button>
        </div>
        </ion-col>
      </ion-row>
      <!--Formulario-->
<ion-card>
      <ion-col size="12">
        <div style="color:#BB1D1D ;margin-top:15px; font-weight: bold;position: relative;">
          Nº Historial
        </div>
        <div>
          <!-- se le pone estilo propio para no afectar alos demas div-->
          <ion-input formControlName="numeroHistorial" type="text" class="inputexto2" placeholder="Añadir"
            style="margin-left:-10px" style="text-transform: lowercase; margin-left: -5px"></ion-input>
        </div>

      </ion-col>
      <ion-col size="12">
        <div style="color:#BB1D1D; margin-top:15px; font-weight: bold;">
          Fecha de consulta
        </div>
        <div>
          <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" formControlName="fecha" class="inputexto"
            placeholder="Añadir" style="margin-left:-10px" cancel-text="Cancelar" done-text="Aceptar"></ion-datetime>
        </div>
      </ion-col>
      <div text-center>
        <h4>Datos Personales</h4>
      </div>
      <ion-row style="margin-top: 2rem" padding>
        <ion-col size="12">
          <div>
            <ion-label color="primary">Nombre: </ion-label>
            <ion-input placeholder="Nombre" style="text-transform:lowercase" type="text"
              formControlName="nombreApellido" class="inputexto2"></ion-input>
          </div>

        </ion-col>
        <ion-col size="12">
          <div style="margin-right:16px;">
            <ion-label position="floating" color="primary">Ciudad</ion-label>
            <ion-input placeholder="Ciudad" type="text" formControlName="ciudad" class="inputexto2"
              style="text-transform: lowercase"></ion-input>
          </div>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div>
            <ion-label color="primary" position="floating">Edad:</ion-label>
            <ion-input placeholder="Edad" type="number" formControlName="edad" class="inputexto2"></ion-input>
          </div>

        </ion-col>
        <ion-col size="12">
          <div style="margin-left:18px;">
            <ion-label color="primary" position="floating">Fecha de nacimiento</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" padding placeholder="Fecha de Nacimiento"
              type="date" formControlName="fechaNacimiento" class="inputexto" done-text="Aceptar"
              cancel-text="Cancelar"></ion-datetime>

          </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div>
            <ion-label color="primary" position="floating">Profesión</ion-label>
            <ion-input placeholder="Profesión" type="text" formControlName="profesion" class="inputexto2"
              style="text-transform: lowercase"></ion-input>
          </div>

        </ion-col>
        <ion-col size="12">
          <div>
            <ion-label color="primary" position="floating">Turnos</ion-label>
            <ion-input placeholder="Turnos" type="text" formControlName="turnos" class="inputexto2"
              style="text-transform: lowercase"></ion-input>

          </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div>
            <ion-label color="primary" position="floating">Correo electronico</ion-label>
            <ion-input placeholder="Correo" type="email" formControlName="correo" class="inputexto2"></ion-input>

          </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div>
            <ion-label color="primary" position="floating">Telefono</ion-label>
            <ion-input placeholder="Teléfono" type="number" formControlName="telefono" class="inputexto2"></ion-input>

          </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div>
            <ion-label color="primary" position="floating">Motivo de la consulta</ion-label>
            <ion-input placeholder="Motivo de consulta" type="text" formControlName="motivoConsulta" class="inputexto2"
            style="text-transform: lowercase"></ion-input>

          </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary">Intervenciones :
          </div>
          <div style="height: 100px">
            <ion-textarea rows="6" cols="20" placeholder="Intervenciones" style="height: 100px"
              formControlName="interNombre"></ion-textarea>

            </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px ;color:#BB1D1D" color="primary">Enfermedades
            Anteriores : </div>
          <div style="height: 100px">
            <ion-textarea rows="6" cols="20" placeholder="Enfermedades Anteriores" formControlName="enfermedades">
            </ion-textarea>

            </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; color:#BB1D1D" color="primary"> Familiares:</div>
          <div style="margin-bottom:5px; display: flex; align-content: center">
            <ion-select cancelText="Cancelar" okText="Aceptar!" multiple="true" formControlName="familiares"
              placeholder="Seleccionar">
              <ion-select-option value="Ninguno">Ninguno</ion-select-option>
              <ion-select-option value="diabetes">Diabetes</ion-select-option>
              <ion-select-option value="cardiopatia">Cardiopatia</ion-select-option>
              <ion-select-option value="obesidad">Obesidad</ion-select-option>
            </ion-select>

          </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary">Enfermedades
            presentes : </div>
          <div style="height: 100px">
            <ion-textarea rows="6" cols="20" placeholder="Enfermedades Presentes"
              formControlName="enfermedadesPresentes"></ion-textarea>

            </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <h4 class="titulos" text-center >Analítica:</h4>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary">Ácido úrico :
          </div>
          <div>
            <ion-input placeholder="Ácido úrico" formControlName="acidourico"></ion-input>

          </div>
        </ion-col>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary">Colesterol :
          </div>
          <div>
            <ion-input placeholder="Colesterol:" formControlName="colesterol"></ion-input>

          </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary">Glucosa : </div>
          <div>
            <ion-input placeholder="Glucosa:" formControlName="glucosa"></ion-input>

          </div>
        </ion-col>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary">Colesterol :
          </div>
          <div>
            <ion-input placeholder="Colesterol:" formControlName="colesterol"></ion-input>

          </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary">Triglicéridos:
          </div>
          <div>
            <ion-input placeholder="Triglicéridos:" formControlName="trigliceridos"></ion-input>

          </div>
        </ion-col>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary">Tensión: </div>
          <div>
            <ion-input placeholder="tensión:" formControlName="tension"></ion-input>

          </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary">Tratamientos
            actuales: </div>
          <div>
            <ion-input placeholder="Tratamientos actuales" formControlName="tratamientosActuales"></ion-input>

          </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary">Última regla:
          </div>
          <div>
            <ion-input placeholder="Última regla: " formControlName="ultimaRegla"></ion-input>
 
          </div>
        </ion-col>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary">Anticonceptivos:
          </div>
          <div>
            <ion-input placeholder="Anticonceptivos: " formControlName="anticonceptivos"></ion-input>

          </div>
        </ion-col>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary">Hijos: </div>
          <div>
            <ion-input placeholder="Hijos" formControlName="hijos"></ion-input>

          </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary">Estreñimiento:
          </div>
          <div>
            <ion-input placeholder="Estreñimiento:" formControlName="estrenimento"></ion-input>

          </div>
        </ion-col>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary">Orina : </div>
          <div>
            <ion-input placeholder="Orina " formControlName="orina"></ion-input>
        
          </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary">Alergias
            alimentarias: </div>
          <div>
            <ion-input placeholder="Alergias alimentarias: " formControlName="alergiasAlimentarias"></ion-input>

          </div>
        </ion-col>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary">Intolerancias:
          </div>
          <div>
            <ion-input placeholder="Intolerancias: " formControlName="intolerancias"></ion-input>
        
          </div>
        </ion-col>
      </ion-row>
      <h4 class="titulos" text-center>Hábitos tóxicos:</h4>
      <ion-row padding>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary">alcohol: </div>
          <div>
            <ion-input placeholder="alcohol: " formControlName="alcohol"></ion-input>
         
          </div>
        </ion-col>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary">Tabaco: </div>
          <div>
            <ion-input placeholder="Tabaco: " formControlName="tabaco"></ion-input>
        
          </div>
        </ion-col>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary">Otros: </div>
          <div>
            <ion-input placeholder="Otros: " formControlName="otrosHabitos"></ion-input>
         
          </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary">Ejercicios:
          </div>
          <div>
            <ion-input placeholder="Ejercicios: " formControlName="ejercicios"></ion-input>
         
          </div>
        </ion-col>
      </ion-row>
      <h4 text-center class="titulos">EVALUACIÓN DIETÉTICA</h4>
      <ion-row padding>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary">Nº de comidas
            habituales: </div>
          <div>
            <ion-input placeholder="Nº de comidas habituales " formControlName="numeroComidas"></ion-input>
         
          </div>
        </ion-col>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary"> Picoteo entre
            horas: </div>
          <div>
            <ion-input placeholder="Picoteo entre horas: " formControlName="picoteo"></ion-input>
         
          </div>
        </ion-col>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary">Horarios de
            comidas: </div>
          <div>
            <ion-input placeholder="Horarios de comidas:  " formControlName="horariosComidas"></ion-input>
        
          </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; color:#BB1D1D"> Tiempo dedicado a comer:</div>
          <div style="margin-bottom:5px; display: flex; align-content: center">
            <ion-select cancelText="Cancelar" okText="Aceptar!" multiple="true" formControlName="tiempoDedicado"
              placeholder="Seleccionar">
              <ion-select-option value="deprisa">deprisa</ion-select-option>
              <ion-select-option value=" relajado"> relajado</ion-select-option>
              <ion-select-option value="ansioso">ansioso</ion-select-option>
            </ion-select>
         
          </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary">Sensación de
            apetito: </div>
          <div>
            <ion-input placeholder="Sensación de apetito: " formControlName="sensacionApetito"></ion-input>
        
          </div>
        </ion-col>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary"> Cantidades:
          </div>
          <div>
            <ion-input placeholder="Cantidades: " formControlName="cantidades"></ion-input>
         
          </div>
        </ion-col>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; margin-left: 10px; color:#BB1D1D" color="primary">Bebe agua,
            cuanta </div>
          <div>
            <ion-input placeholder="Bebe agua, cuanta  " formControlName="bebeAgua"></ion-input>
        
          </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div style="font-weight: bold; margin: 5px; color:#BB1D1D" color="primary"> Alimentos preferidos:</div>
          <div style="margin-bottom:5px; display: flex; align-content: center">
            <ion-select cancelText="Cancelar" okText="Aceptar!" multiple="true" formControlName="alimentosPreferidos"
              placeholder="Seleccionar">
              <ion-select-option value="dulces">dulces</ion-select-option>
              <ion-select-option value=" salados"> salados</ion-select-option>
              <ion-select-option value="grasos">grasos</ion-select-option>
              <ion-select-option value="lácteos">lácteos</ion-select-option>
              <ion-select-option value="refrescos">refrescos</ion-select-option>
              <ion-select-option value="chuches">chuches</ion-select-option>
              <ion-select-option value="chocolate">chocolate</ion-select-option>
              <ion-select-option value="pan">pan</ion-select-option>
            </ion-select>
       
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <h4 color="primary" class="titulos">VALORACIÓN CORPORAL</h4>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div>
            <ion-label color="primary" position="floating" color="primary">Altura</ion-label>
            <ion-input placeholder="Altura en Metros" type="number" formControlName="altura" class="inputexto2">
            </ion-input>
         
          </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div>
            <ion-label color="primary" position="floating">Peso año anterior</ion-label>
            <ion-input placeholder="Peso año anterior" type="number" formControlName="pesoAnoAnterior"
              class="inputexto2"></ion-input>
         
            </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div>
            <ion-label color="primary" position="floating">Peso Maximo</ion-label>
            <ion-input placeholder="peso maximo" type="number" formControlName="pesoMaximo" class="inputexto2">
            </ion-input>
         
          </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div>
            <ion-label color="primary" position="floating">Peso Minimo</ion-label>
            <ion-input placeholder="peso minimo" type="number" formControlName="pesoMinimo" class="inputexto2">
            </ion-input>
        
          </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div>
            <ion-label color="primary" position="floating">Peso</ion-label>
            <ion-input placeholder="Añade Peso" type="number" formControlName="peso" class="inputexto2"></ion-input>
        
          </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div>
            <ion-label color="primary" position="floating">Ultimo peso</ion-label>
            <ion-input placeholder="Peso Anterior" type="number" formControlName="pesoAnterior" class="inputexto2">
            </ion-input>
         
          </div>
        </ion-col>
      </ion-row>
      <ion-row padding>

        <ion-col size="12">
          <div>
            <ion-label color="primary" position="floating">Peso perdido</ion-label>
            <ion-input placeholder="Peso Perdido" type="number" formControlName="pesoPerdido" class="inputexto2">
            </ion-input>
         
          </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div>
            <ion-label color="primary" position="floating">Peso Objetivo</ion-label>
            <ion-input placeholder="Peso Objetivo" type="number" formControlName="pesoObjetivo" class="inputexto2">
            </ion-input>
         
          </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div>
            <ion-label color="primary" position="floating">¿Estas de tu objetivo?</ion-label>
            <ion-input class="inputexto2" placeholder="¿A cuánto estás de tu Objetivo?" type="number"
              formControlName="estasObjetivo"></ion-input>
        
            </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div style="margin-top: 20px;">
            <h4 class="titulos">Formula IMC</h4>
          </div>
          <div>

            <div style="margin-top: 20px">
              <p style="color:#BB1D1D "> Añade peso:</p>
            </div>
            <input class="inputexto2" [(ngModel)]="peso" [ngModelOptions]="{standalone: true}" placeholder="Peso" />
            <div style="margin-top: 20px;">
              <p style="color:#BB1D1D "> Añade Altura en Metros:</p>
            </div>
            <input class="inputexto2" [(ngModel)]="altura" [ngModelOptions]="{standalone: true}" placeholder="Altura" />

            <div *ngIf="peso && altura">
              <div style="margin-top: 20px;">
                <p style="color:#BB1D1D ">Su IMC es: </p>
              </div>
              <ion-input type="number" step="0.01" formControlName="imc" class="inputexto2"
                value="{{ bmi.toFixed(2) }}">
              </ion-input>
            </div>
         
          </div>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <div style="margin-top: 20px;">
            <h4 class="titulos" >Añade sus bonos</h4>
          </div>
          <div class="bono" style="margin-left:16px;">

            <ion-input placeholder="Bonos" type="number" formControlName="bono"></ion-input>
         
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
      <ion-row style="text-align:center;" padding-top>
        <ion-col size="12">
          <ion-button expand="block" ion-button class="but" type="submit" [disabled]="!validations_form.valid" round>
            Agregar
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button expand="block" color="danger" (click)="delete()">Eliminar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>