
<ion-content padding>
  <div class="volver">
    <img (click)="goBack()" src="../../../assets/imgs/volver.png" alt="">
  </div>
  <div *ngFor="let item of items" text-center >
    <div class="titulo">
    <p class="titulo-texto mx-auto">
      <img class="masGestion" src="../../../assets/imgs/userPerfil.png" alt="">
      {{ item.payload.doc.data().nombre }} &nbsp; {{ item.payload.doc.data().apellido }}</p>
    </div>
    <div class="subtitulo">
      <p>{{item.payload.doc.data().email}}</p>
    </div>
</div>
<div class="facturacion">
    <p (click)="goFacturacion()" class="datos-facturacion">
    <img src="../../../assets/imgs/tarjeta.png" alt="">&nbsp;
    DATOS DE FACTURACIÓN
  </p>
</div>
<div class="caja">
  <p class="caja-botones">
    <img class="iconos" src="../../../assets/imgs/ultimos.png" alt="">
    <button (click)="ultimos()" class="ultimos">ÚLTIMOS PEDIDOS</button>
  </p>
  <p class="caja-botones">
    <img class="iconos" src="../../../assets/imgs/pedidosperfil.png" alt="">
    <button (click)="curso()" class="curso">PEDIDOS EN CURSO</button>
  </p>
  <p class="caja-botones">
    <img class="iconos" src="../../../assets/imgs/xpeefil.png" alt="">
    <button (click)="cancelados()" class="cancelados">PEDIDOS CANCELADOS</button>
  </p>
</div>
<div text-center class="footer mx-auto">
  <img (click)="onLogout()" src="../../../assets/imgs/logoutb.png" alt="">
</div>
</ion-content>
