ion-content{
    --background: black;
}

.volver{
    text-align: end;
}

.titulo-texto{
    color: white;
    font-size: x-large;
    text-align: initial;
}

.subtitulo{
    color: white;
    font-size: x-small;
    text-align: initial;
    position: absolute;
    margin-top: -2rem;
    margin-left: 4rem;

}

.facturacion{
    COLOR: WHITE;
    margin-top: 3rem;
    margin-left: 1rem;
    letter-spacing: 1px;
    font-size: smaller;
}

.ultimos{
    margin-left: 2rem;
    height: 2rem;
    width: 14rem;
    background: #00D8C8;
    color: #FFFFFF;
    border-radius: 5px;
}
.curso{
    margin-left: 2rem;
    height: 2rem;
    width: 14rem;
    background: #00D8C8;
    color: #FFFFFF;
    border-radius: 5px;
}
.cancelados{
    margin-left: 2.2rem;
    height: 2rem;
    width: 14rem;
    background: #00D8C8;
    color: #FFFFFF;
    border-radius: 5px;
}

.caja{
    margin-top: 5rem;
}

.caja-botones{
    margin-bottom: 2rem;
}

.iconos{
    margin-left: 1.3rem;
}

.footer{
    margin-top: 6rem;

}