<!-- app-example-mova-button -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaButton</h1>
		<br>
		<p>Botón similar al elemento <b>&lt;button></b>  de HTML5.</p>
		<p>Este componente acepta los mismos atributos de HTML que el elemento <b>&lt;button></b> además de los siguientes:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('adapt')" >adapt</a></li>
			<li><a href="" ng-click="$root.scrollTo('btnType')" >btn-type</a></li>
			<li><a href="" ng-click="$root.scrollTo('disabled')" >disabled</a></li>
			<li><a href="" ng-click="$root.scrollTo('circle')" >circle</a></li>
			<li><a href="" ng-click="$root.scrollTo('click')" >click</a></li>
			<li><a href="" ng-click="$root.scrollTo('iconClass')" >icon-class</a></li>
			<li><a href="" ng-click="$root.scrollTo('imgSrc')" >img-src</a></li>
			<li><a href="" ng-click="$root.scrollTo('imgTop')" >img-top</a></li>
			<li><a href="" ng-click="$root.scrollTo('shadow')" >shadow</a></li>
			<li><a href="" ng-click="$root.scrollTo('size')" >size</a></li>
		</ul>
	</mv-card>

	<mv-card>
		<h2  class="title-2">Ejemplo de uso HTML y resultado</h2>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-button<br>
				&emsp;&emsp;id="btnPrueba"<br>
				&emsp;&emsp;icon-class="fa fa-home"<br>
				&emsp;&emsp;click="botonClick()"<br>
				><br>
				&emsp;&emsp;Pulsame<br>
				&lt;/mv-button>
			</span>
		</code>
		<mv-button
			id="btnPrueba"
			icon-class="fa fa-home"
			click="botonClick()"
		>
			Pulsame
		</mv-button>
	</mv-card>

	<mv-card
		id="adapt"
		>
		<h3 class="title-3">adapt</h3>
		<br>
		<p>La propiedad <b>adapt</b> permite adaptar el botón a su contenedor.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-button<br>
				&emsp;&emsp;<b>adapt=true</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Botón con adapt<br>
				&lt;/mv-button>
			</span>
		</code>
		<mv-button
			adapt=true
		>
			Botón con adapt
		</mv-button>
	</mv-card>

	<mv-card
		id="btnType"
		>
		<h3 class="title-3">btn-type</h3>
		<br>
		<p>La propiedad <b>btn-type</b> permite cambiar el estilo del botón.</p>
		<p>Por defecto si no se especifica ninguna propiedad el valor por defecto es <b>black</b>.</p>
		<p>Los valores permitidos son los siguientes:</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-button<br>
				&emsp;&emsp;id="btnBasic"<br>
				&emsp;&emsp;<b>btn-type="color-primary-004"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;black<br>
				&lt;/mv-button>
			</span>
		</code>
		<mv-button
			id="btnLink"
			btn-type="color-primary-001"
		>
			color-primary-001
		</mv-button>
		<br>
		<br>
		<mv-button
			id="btnLink"
			btn-type="color-primary-002"
		>
			color-primary-002
		</mv-button>
		<br>
		<br>
		<mv-button
			id="btnLink"
			btn-type="color-primary-003"
		>
			color-primary-003
		</mv-button>
		<br>
		<br>
		<mv-button
			id="btnLink"
			btn-type="color-primary-004"
		>
			color-primary-004
		</mv-button>
		<mv-button
			id="btnDefault"
			btn-type="black"
		>
			black
		</mv-button>
		<br>
		<br>
		<mv-button
			id="btnBasic"
			btn-type="basic"
		>
			basic
		</mv-button>
		<br>
		<br>
		<mv-button
			id="btnDefault"
			btn-type="default"
		>
			default
		</mv-button>
		<br>
		<br>
		<mv-button
			id="btnPrimary"
			btn-type="primary"
		>
			primary
		</mv-button>
		<br>
		<br>
		<mv-button
			id="btnSuccess"
			btn-type="success"
		>
			success
		</mv-button>
		<br>
		<br>
		<mv-button
			id="btnInfo"
			btn-type="info"
		>
			info
		</mv-button>
		<br>
		<br>
		<mv-button
			id="btnWarning"
			btn-type="warning"
		>
			warning
		</mv-button>
		<br>
		<br>
		<mv-button
			id="btnDanger"
			btn-type="danger"
		>
			danger
		</mv-button>
		<br>
		<br>
		<mv-button
			id="btnLink"
			btn-type="link"
		>
			link
		</mv-button>
	</mv-card>

	<mv-card
		id="disabled"
		>
		<h3 class="title-3">disabled</h3>
		<br>
		<p>La propiedad <b>disabled</b> permite desactivar el botón.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-button<br>
				&emsp;&emsp;icon-class="fa fa-ambulance"<br>
				&emsp;&emsp;<b>disabled=true</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Desactivado<br>
				&lt;/mv-button>
			</span>
		</code>
		<mv-button
			icon-class="fa fa-ambulance"
			disabled=true
		>
			Desactivado
		</mv-button>
	</mv-card>

	<mv-card
		id="circle"
		>
		<h3 class="title-3">circle</h3>
		<br>
		<p>La propiedad <b>circle</b> permite mostrar el botón con forma de círculo.</p>
		<p>En el caso de incluir texto en el botón no se consigue una apariencia circular perfecta.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-button<br>
				&emsp;&emsp;icon-class="fa fa-home"<br>
				&emsp;&emsp;<b>circle=true</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Home<br>
				&lt;/mv-button>
			</span>
		</code>
		<mv-button
			icon-class="fa fa-home"
			circle=true
		>
			Home
		</mv-button>
		<br>
		<br>
		<p>En el caso usar solo un icono, es recomendable utilizar también el atributo <b>size</b> para conseguir que el estilo circular sea perfecto.</p>
		<p>A la izquierda sin <b>size</b> y a la derecha con <b>size</b>.</p>
		<mv-button
			icon-class="fa fa-home"
			circle=true
		>
		</mv-button>
		&nbsp;
		<mv-button
			icon-class="fa fa-home"
			circle=true
			size=small
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="click"
		>
		<h3 class="title-3">click</h3>
		<br>
		<p>La propiedad <b>click</b> permite ejecutar una función incluida en el <b>$scope</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-button<br>
				&emsp;&emsp;<b>click="botonClick()"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Pulsame<br>
				&lt;/mv-button>
			</span>
		</code>
		<mv-button
			click="botonClick()"
		>
			Pulsame
		</mv-button>
	</mv-card>

	<mv-card
		id="iconClass"
		>
		<h3 class="title-3">icon-class</h3>
		<br>
		<p>La propiedad <b>icon-class</b> permite asignar un icono al botón.</p>
		<p>El listado de iconos puede verse en <a href="http://fontawesome.io/icons/">http://fontawesome.io/icons/</a></p>
		<p>Pueden crearse botones con texto y con icono, solo con texto y solo con icono.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-button<br>
				&emsp;&emsp;<b>icon-class="fa fa-home"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Home<br>
				&lt;/mv-button>
			</span>
		</code>
		<mv-button
			icon-class="fa fa-home"
		>
			Home
		</mv-button>
		&emsp;
		<mv-button
		>
			Home
		</mv-button>
		&emsp;
		<mv-button
			icon-class="fa fa-home"
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="imgSrc"
		>
		<h3 class="title-3">img-src</h3>
		<br>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>El botón no adapta el tamaño de la imagen por si solo, por lo que el tamaño de la imagen debe ser el adecuado para cada botón o debe tratarse mediante CSS de forma externa.</p>
		</mv-card>
		<p>La propiedad <b>img-src</b> permite incluir una imagen dentro del botón.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-button<br>
				&emsp;&emsp;<b>img-src="media/images/examples/red-pixels.png"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Botón con imagen<br>
				&lt;/mv-button>
			</span>
		</code>
		<mv-button
			img-src="media/images/examples/red-pixels.png"
			>
			Botón con imagen
		</mv-button>
		<br><br>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>Por defecto la imágen y el texto se alinean a la izquierda. El espacio máximo asignado a la imágen será de un 30% y para el texto un 70%.</p>
			<p>El texto del botón no se centra verticalmente de forma automática y el alto del botón dependerá del tamaño de la imagen. La única manera de corregir esto es mediante la aplicación de la propiedad <b>line-height</b> sobre la clase <b>mv-button-container</b> del propio botón.</p>
		</mv-card>

		<p>Ejemplo de uso de la propiedad <b>line-height</b> sobre la clase <b>mv-button-container</b> del botón, en este caso es necesario un valor de 4.5rem.</p>

		<code>
			<badge>CSS</badge>
			<span>
				.mv-button-src-line-height-example {<br>
				&emsp;&emsp;.mv-button-container {<br>
				&emsp;&emsp;&emsp;&emsp;line-height: 4.5rem;<br>
				&emsp;&emsp;}<br>
				}
			</span>
		</code>

		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-button<br>
				&emsp;&emsp;<b>class="mv-button-src-line-height-example"</b>
				&emsp;&emsp;img-src="media/images/examples/red-pixels.png"<br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Botón con imagen<br>
				&lt;/mv-button>
			</span>
		</code>

		<mv-button
			class="mv-button-src-line-height-example"
			img-src="media/images/examples/red-pixels.png"
			>
			Botón con imagen
		</mv-button>
	</mv-card>

	<mv-card
		id="imgTop"
		>
		<h3 class="title-3">img-top</h3>
		<br>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>El botón no adapta el tamaño de la imagen por si solo, por lo que el tamaño de la imagen debe ser el adecuado para cada botón o debe tratarse mediante CSS de forma externa.</p>
		</mv-card>
		<p>La propiedad <b>img-top</b> permite que la imagen incluida mediante la propiedad <b>img-src</b> se muestre sobre el texto del botón.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-button<br>
				&emsp;&emsp;img-src="media/images/examples/red-pixels.png"<br>
				&emsp;&emsp;<b>img-top=true</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Botón con imagen<br>
				&lt;/mv-button>
			</span>
		</code>
		<mv-button
			img-src="media/images/examples/red-pixels.png"
			img-top=true
		>
			Botón con imagen
		</mv-button>
	</mv-card>

	<mv-card
		id="shadow"
		>
		<h3 class="title-3">shadow</h3>
		<br>
		<p>La propiedad <b>shadow</b> permite mostrar el botón con sombra.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-button<br>
				&emsp;&emsp;<b>shadow=true</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Botón con sombra<br>
				&lt;/mv-button>
			</span>
		</code>
		<mv-button
			shadow=true
		>
		Botón con sombra
		</mv-button>
	</mv-card>

	<mv-card
		id="size"
		>
		<h3 class="title-3">size</h3>
		<br>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>La propiedad <b>size</b> permite aplicar unos tamaños predefinidos. Esta propiedad está pensada para botones con solo iconos o con solo imágenes y los tamaños corresponden a medidas de ancho y alto simétricas.</p>
		</mv-card>
		<p>Es recomendable usar <b>size</b> para mantener una relación de aspectos correcta en toda la App.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-button<br>
				&emsp;&emsp;icon-class="fa fa-html5"<br>
				&emsp;&emsp;<b>size="small"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-button>
			</span>
		</code>
		<mv-button
			icon-class="fab fa-html5"
			size="small"
		>
		</mv-button>
		&emsp;
		<mv-button
			icon-class="fab fa-html5"
			size="medium"
		>
		</mv-button>
		&emsp;
		<mv-button
			icon-class="fab fa-html5"
			size="big"
		>
		</mv-button>
		<br><br>
		<p>La propiedad <b>size</b> combinada con el uso de la propiedad <b>img-src</b> si adapta la imagen al botón. A continuación se muestra un ejemplo:</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-button<br>
				&emsp;&emsp;img-src="media/images/examples/red-pixels.png"<br>
				&emsp;&emsp;<b>size="small"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-button>
			</span>
		</code>
		<mv-button
			img-src="media/images/examples/red-pixels.png"
			size="small"
			>
		</mv-button>
		&emsp;
		<mv-button
			img-src="media/images/examples/red-pixels.png"
			size="medium"
			>
		</mv-button>
		&emsp;
		<mv-button
			img-src="media/images/examples/red-pixels.png"
			size="big"
			>
		</mv-button>
	</mv-card>

</mv-screen>
