<!-- app-example-guia-estilos-imagenes -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio">
		<h1 class="title-1">Imágenes</h1>
		<br>
		<p>Para el diseño y maquetación de aplicaciones MOVA se pueden usar imágenes. </p>
		<p>Se pueden usar sin ninguna restricción
			de uso y modificación las imágenes de la web <a onclick="window.open('https://pixabay.com', '_system');"><b>https://pixabay.com</b></a> dentro de las aplicaciones MOVA.</p>

		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info">
			<p>Las imágenes de <a onclick="window.open('https://pixabay.com', '_system');"><b>https://pixabay.com</b></a> están aprobadas para su uso por la Comisión de Madrid.org</p>
		</mv-card>

		<mv-container>
			<mv-container-item col-xs=12 col-sm=6 class="text-center">
				<mv-input-image
					class="estilo-cursor"
				  src="media/images/examples/ejemplo_imagen1.jpg"
					click="linkImage(1)"
				  size="big">
				</mv-input-image>
			</mv-container-item>

			<mv-container-item col-xs=12 col-sm=6 class="text-center">
				<mv-input-image
					class="estilo-cursor"
				  src="media/images/examples/ejemplo_imagen2.jpg"
					click="linkImage(2)"
				  size="big">
				</mv-input-image>
			</mv-container-item>
		</mv-container>

	</mv-card>

</mv-screen>
