<!-- app-example-guia-estilos-color -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">Colores</h1>
		<br>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>Es obligatorio usar la variable SCSS en todos los casos. El valor hexadecimal solo se utilizará en los casos en que no pueda usarse la variable SCSS.</p>
		</mv-card>

		<p>A continuación se muestran las variables de SCSS con los colores principales:</p>

		<mv-container>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="#155DB3"
					round-corners=true
					>
					<p class="textWhite"><b>$color-primary-001</b></p>
					<p class="textWhite"><span>HEX: #155DB3</span> / <span>RGB: 21,92,178</span></p>
				</mv-card>
			</mv-container-item>

			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="#018373"
					round-corners=true
					>
					<p class="textWhite"><b>$color-primary-002</b></p>
					<p class="textWhite"><span>HEX: #018373</span> / <span>RGB: 1,131,115</span></p>
				</mv-card>
			</mv-container-item>

			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="#567383"
					round-corners=true
					>
					<p class="textWhite"><b>$color-primary-003</b></p>
					<p class="textWhite"><span>HEX: #567383</span> / <span>RGB: 86,115,131</span></p>
				</mv-card>
			</mv-container-item>

			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="#D10002"
					round-corners=true
					>
					<p class="textWhite"><b>$color-primary-004</b></p>
					<p class="textWhite"><span>HEX: #D10002</span> / <span>RGB: 208,1,3</span></p>
				</mv-card>
			</mv-container-item>
		</mv-container>

		<p>A continuación se muestran las variables de SCSS con los colores primarios con el degradado permitido:</p>

		<mv-container>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="rgba(21,92,178,0.8)"
					round-corners=true
					>
					<p class="textWhite"><b>$color-primary-001-80</b></p>
					<p class="textWhite"><span>RGBA: 21,92,178,0.8</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="rgba(21,92,178,0.6)"
					round-corners=true
					>
					<p class="textWhite"><b>$color-primary-001-60</b></p>
					<p class="textWhite"><span>RGBA: 21,92,178,0.6</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="rgba(21,92,178,0.4)"
					round-corners=true
					>
					<p class="textWhite"><b>$color-primary-001-40</b></p>
					<p class="textWhite"><span>RGBA: 21,92,178,0.4</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="rgba(21,92,178,0.2)"
					round-corners=true
					>
					<p><b>$color-primary-001-20</b></p>
					<p><span>RGBA: 21,92,178,0.2</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="rgba(21,92,178,0.1)"
					round-corners=true
					>
					<p><b>$color-primary-001-10</b></p>
					<p><span>RGBA: 21,92,178,0.1</span></p>
				</mv-card>
			</mv-container-item>
		</mv-container>

		<mv-container>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="rgba(1,131,115,0.8)"
					round-corners=true
					>
					<p class="textWhite"><b>$color-primary-002-80</b></p>
					<p class="textWhite"><span>RGBA: 1,131,115,0.8</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="rgba(1,131,115,0.6)"
					round-corners=true
					>
					<p class="textWhite"><b>$color-primary-002-60</b></p>
					<p class="textWhite"><span>RGBA: 1,131,115,0.6</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="rgba(1,131,115,0.4)"
					round-corners=true
					>
					<p class="textWhite"><b>$color-primary-002-40</b></p>
					<p class="textWhite"><span>RGBA: 1,131,115,0.4</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="rgba(1,131,115,0.2)"
					round-corners=true
					>
					<p><b>$color-primary-002-20</b></p>
					<p><span>RGBA: 1,131,115,0.2</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="rgba(1,131,115,0.1)"
					round-corners=true
					>
					<p><b>$color-primary-002-10</b></p>
					<p><span>RGBA: 1,131,115,0.1</span></p>
				</mv-card>
			</mv-container-item>
		</mv-container>

		<mv-container>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="rgba(86,115,131,0.8)"
					round-corners=true
					>
					<p class="textWhite"><b>$color-primary-003-80</b></p>
					<p class="textWhite"><span>RGBA: 86,115,131,0.8</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="rgba(86,115,131,0.6)"
					round-corners=true
					>
					<p class="textWhite"><b>$color-primary-003-60</b></p>
					<p class="textWhite"><span>RGBA: 86,115,131,0.6</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="rgba(86,115,131,0.4)"
					round-corners=true
					>
					<p class="textWhite"><b>$color-primary-003-40</b></p>
					<p class="textWhite"><span>RGBA: 86,115,131,0.4</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="rgba(86,115,131,0.2)"
					round-corners=true
					>
					<p><b>$color-primary-003-20</b></p>
					<p><span>RGBA: 86,115,131,0.2</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="rgba(86,115,131,0.1)"
					round-corners=true
					>
					<p><b>$color-primary-003-10</b></p>
					<p><span>RGBA: 86,115,131,0.1</span></p>
				</mv-card>
			</mv-container-item>
		</mv-container>

		<mv-container>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="rgba(208,1,3,0.8)"
					round-corners=true
					>
					<p class="textWhite"><b>$color-primary-004-80</b></p>
					<p class="textWhite"><span>RGBA: 208,1,3,0.8</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="rgba(208,1,3,0.6)"
					round-corners=true
					>
					<p class="textWhite"><b>$color-primary-004-60</b></p>
					<p class="textWhite"><span>RGBA: 208,1,3,0.6</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="rgba(208,1,3,0.4)"
					round-corners=true
					>
					<p class="textWhite"><b>$color-primary-004-40</b></p>
					<p class="textWhite"><span>RGBA: 208,1,3,0.4</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="rgba(208,1,3,0.2)"
					round-corners=true
					>
					<p><b>$color-primary-004-20</b></p>
					<p><span>RGBA: 208,1,3,0.2</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="rgba(208,1,3,0.1)"
					round-corners=true
					>
					<p><b>$color-primary-004-10</b></p>
					<p><span>RGBA: 208,1,3,0.1</span></p>
				</mv-card>
			</mv-container-item>
		</mv-container>

		<p>A continuación se muestran las variables de SCSS con los colores secundarios:</p>

		<mv-container>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="#CC0098"
					round-corners=true
					>
					<p class="textWhite"><b>$color-secondary-001</b></p>
					<p class="textWhite"><span>HEX: #CC0098</span> / <span>RGB: 204, 0, 152</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="#9900CC"
					round-corners=true
					>
					<p class="textWhite"><b>$color-secondary-002</b></p>
					<p class="textWhite"><span>HEX: #CC0098</span> / <span>RGB: 153, 0, 204</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="#336601"
					round-corners=true
					>
					<p class="textWhite"><b>$color-secondary-003</b></p>
					<p class="textWhite"><span>HEX: #336601</span> / <span>RGB: 51, 102, 1</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="#560100"
					round-corners=true
					>
					<p class="textWhite"><b>$color-secondary-004</b></p>
					<p class="textWhite"><span>HEX: #560100</span> / <span>RGB: 86, 1, 0</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="#016666"
					round-corners=true
					>
					<p class="textWhite"><b>$color-secondary-005</b></p>
					<p class="textWhite"><span>HEX: #560100</span> / <span>RGB: 1, 102, 103</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="#666666"
					round-corners=true
					>
					<p class="textWhite"><b>$color-secondary-006</b></p>
					<p class="textWhite"><span>HEX: #666666</span> / <span>RGB: 102, 102,102</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="#666632"
					round-corners=true
					>
					<p class="textWhite"><b>$color-secondary-007</b></p>
					<p class="textWhite"><span>HEX: #666632</span> / <span>RGB: 102, 102, 50</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="#6734FF"
					round-corners=true
					>
					<p class="textWhite"><b>$color-secondary-008</b></p>
					<p class="textWhite"><span>HEX: #6734FF</span> / <span>RGB: 103, 52, 255</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="#E6E6E6"
					round-corners=true
					>
					<p class=""><b>$color-secondary-009</b></p>
					<p class=""><span>HEX: #E6E6E6</span> / <span>RGB: 230, 230, 230</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="#000000"
					round-corners=true
					>
					<p class="textWhite"><b>$color-secondary-010</b></p>
					<p class="textWhite"><span>HEX: #000000</span> / <span>RGB: 0, 0, 0</span></p>
				</mv-card>
			</mv-container-item>
			<mv-container-item 
				col-xs=12
				col-sm=4
				col-md=4
				col-lg=4
			>
				<mv-card
					bg-color="#FFFFFF"
					round-corners=true
					>
					<p class=""><b>$color-secondary-011</b></p>
					<p class=""><span>HEX: #FFFFFF</span> / <span>RGB: 255, 255, 255</span></p>
				</mv-card>
			</mv-container-item>
		</mv-container>
	</mv-card>

</mv-screen>