<!-- app-example-mova-crypt -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaCrypt</h1>
		<br>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>El uso de este componente necesita autorización por el departamento de arquitectura.</p>
		</mv-card>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>Los métodos <u>localStorageSave</u> y <u>localStorageLoad</u> del servicio <b>mvLibraryService</b> de forma opcional pueden encriptar y desencriptar la información mediante el uso interno de este componente, más información <a href="#!/example-mova-library">aqui</a>.</p>
		</mv-card>
		<p>El componente <b>mv.movaCrypt</b> ofrece el servicio <b>mvCryptService</b> con la siguiente funcionalidad.</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('decryptObject')" >decryptObject</a></li>
			<li><a href="" ng-click="$root.scrollTo('decryptString')" >decryptString</a></li>
			<li><a href="" ng-click="$root.scrollTo('encryptObject')" >encryptObject</a></li>
			<li><a href="" ng-click="$root.scrollTo('encryptString')" >encryptString</a></li>
		</ul>
	</mv-card>

	<mv-card
		id="decrypt"
		>
		<h2 class="title-2">Ejemplo de uso</h2>
		<br>
		<p>A continuación se muestra un ejemplo sencillo para encriptar un texto con una contraseña.</p>
		<mv-input
			adapt=true
			icon-class="fa fa-key"
			model=oCrypt.pass
			placeholder="Contraseña para encriptar"
			label="Contraseña"
			>
		</mv-input>
		<mv-input
			adapt=true
			icon-class="fas fa-file-alt"
			model=oCrypt.valor
			placeholder="Texto a encriptar"
			disabled=!oCrypt.stateDecrypt
			label="Texto"
			>
		</mv-input>
		<mv-card
			border-color="transparent"
			bg-color="transparent"
			adapt=true
			>
			<mv-button
				icon-class="fa fa-lock"
				click="crypt()"
				btn-type="success"
				adapt=true
				show=oCrypt.stateDecrypt
				>
				Encriptar el texto
			</mv-button>
			<mv-button
				icon-class="fa fa-unlock-alt"
				click="decrypt()"
				btn-type="danger"
				adapt=true
				show=!oCrypt.stateDecrypt
				>
				Desencriptar el texto
			</mv-button>
		</mv-card>
		<mv-textarea
			adapt=true
			model=oCrypt.message
			label="Consola:"
			disabled=true
			rows="4"
			>
		</mv-textarea>
	</mv-card>

	<mv-card
		id="decryptObject"
		>
		<h3 class="title-3">decryptObject</h3>
		<br>
		<p>El método <b>decryptObject</b> recibe los siguientes parámetros:</p>
		<ul>
			<li>encryptedHex</li>
			<li>password</li>
		</ul>
		<p>El parámetro <b>encryptedHex</b> es la cadena de texto resultante de encriptar una cadena de texto con el método <b>encryptString</b>.</p>
		<p>El parámetro <b>password</b> es la cadena con la contraseña con la que se encriptó la información.</p>
		<p>El metodo devuelve siempre un objeto si la clave es la correcta, en caso contrario se produce un error.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvCryptService.decryptObject(encryptedHex, password)<br>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="decryptString"
		>
		<h3 class="title-3">decryptString</h3>
		<br>
		<p>El método <b>decryptString</b> recibe los siguientes parámetros:</p>
		<ul>
			<li>encryptedHex</li>
			<li>password</li>
		</ul>
		<p>El parámetro <b>encryptedHex</b> es la cadena de texto resultante de encriptar una cadena de texto con el método <b>encryptString</b>.</p>
		<p>El parámetro <b>password</b> es la cadena con la contraseña con la que se encriptó la información.</p>
		<p>El metodo devuelve siempre una cadena de texto, que esta sea correcta o no dependerá de que la clave sea la correcta.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvCryptService.decryptString(encryptedHex, password)<br>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="encryptObject"
		>
		<h3 class="title-3">encryptObject</h3>
		<br>
		<p>El método <b>encryptObject</b> recibe los siguientes parámetros:</p>
		<ul>
			<li>object</li>
			<li>password</li>
		</ul>
		<p>El parámetro <b>object</b> es el objeto que se quiere encriptar.</p>
		<p>El parámetro <b>password</b> es la cadena con la contraseña con la que se va a encriptar la información.</p>
		<p>El metodo devuelve siempre una cadena de texto con el valor encriptado.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvCryptService.encryptObject(object, password)<br>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="encryptString"
		>
		<h3 class="title-3">encryptString</h3>
		<br>
		<p>El método <b>encryptString</b> recibe los siguientes parámetros:</p>
		<ul>
			<li>string</li>
			<li>password</li>
		</ul>
		<p>El parámetro <b>string</b> es la cadena de texto que se quiere encriptar.</p>
		<p>El parámetro <b>password</b> es la cadena con la contraseña con la que se va a encriptar la información.</p>
		<p>El metodo devuelve siempre una cadena de texto con el valor encriptado.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvCryptService.encryptString(string, password)<br>
			</span>
		</code>
	</mv-card>

</mv-screen>