ion-card{
    min-width: 280px;
    width: 280px;
    background: #BB1D1D;
    border: 0.8px solid #3B3B3B;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px; 
    text-align: center;
}


ion-item{
    color:#BB1D1D;
    text-align: center;
}

.arrow{
    height: 1.5rem;
    float: right;
    padding-right: 1rem;
}

.desaparecer{
    display:none;
}