<app-cabecera [titulohead]="tituhead"></app-cabecera>

<ion-content>
    <div text-center>
        <h2 style="color: #BB1D1D; font-weight: bold;">¡Próximas Citas!</h2>
    </div>
    <ion-row margin-top style="margin-top:5%">
        <div *ngFor="let item of items">
            <div *ngIf="items.length > 0">
                <div *ngIf="item.payload.doc.data().titulo && item.payload.doc.data().titulo.length" class="contenido">
                    <div *ngIf="item.payload.doc.data().titulo.includes(searchText) ">
                        <ion-list>
                            <ul style="list-style-type: none;">
                                <li>
                                    <ion-card [routerLink]="['/detalles-citas', item.payload.doc.id]">
                                        <ion-card-header>
                                            <ion-item color="primary">
                                                ¡Hola!,<span
                                                    style="font-weight: bold; color: white; margin-left: 3px;">{{item.payload.doc.data().titulo}}</span>
                                            </ion-item>
                                        </ion-card-header>
                                        <ion-card-content>
                                            <ion-item color="primary"><span>Tú próxima cita es:</span></ion-item>
                                            <ion-item color="primary">
                                                <span
                                                    style="margin-left: 10px; font-weight: bold; color: white;">{{item.payload.doc.data().fecha | date: 'dd/MM/yyyy'}}</span>
                                            </ion-item>
                                        </ion-card-content>
                                    </ion-card>
                                </li>
                            </ul>
                        </ion-list>
                        <hr>
                        <hr>
                    </div>
                </div>


            </div>
            <div *ngIf="items.length === 0" class="empty-list">
                <p> No tienes citas en este momento!!</p>
            </div>
        </div>


    </ion-row>

</ion-content>

<ion-footer>

    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-button color="primary" expand="block" (click)="onLogout()" style="font-size: x-small;"
                    class="botones" round>
                    Cerrar Sesión
                </ion-button>
            </ion-col>

            <ion-col size="12">
                <ion-button expand="block" (click)="repeatingDaily()" id="notificaiones" style="font-size: x-small;">
                    Activar Notificaciones</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>