<!-- app-example-mova-sqlite -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaSqlite</h1>
		<br>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>El uso de este componente necesita autorización por el departamento de arquitectura.</p>
		</mv-card>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>Las bases de datos creadas con este componente estan pensadas para trabajar con la memoria local, en las mismas condiciones que si se trabajase con el localStorage, mediante sentencias SQL. La persistencia de los datos y su seguridad es la misma que si se almacenasen directamente en localStorage, por lo que es imprescindible que siempre exista un respaldo de la información importante en otro medio como el backend. No se puede garantizar la integridad de los datos gestionados por este componente en la base de datos local.</p>
		</mv-card>
		<p>El componente <b>mv.movaSqlite</b> ofrece el servicio <b>mvSqliteService</b> con la siguiente funcionalidad.</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('deleteDb')" >deleteDb</a></li>
			<li><a href="" ng-click="$root.scrollTo('getDb')" >getDb</a></li>
			<li><a href="" ng-click="$root.scrollTo('loadDb')" >loadDb</a></li>
			<li><a href="" ng-click="$root.scrollTo('saveDb')" >saveDb</a></li>
		</ul>
	</mv-card>

	<mv-card
		id="decrypt"
		>
		<h2 class="title-2">Ejemplo de uso</h2>
		<br>
		<p>A continuación se muestra un ejemplo sencillo para trabajar con el componente.</p>
		<mv-button
			icon-class="fa fa-terminal"
			click="limpiarConsola()"
			btn-type="default"
			>
		</mv-button>
		&nbsp;
		<mv-button
			icon-class="fa fa-plus"
			click="createBBDD()"
			show=!oBBDD.db
			>
			Crear BBDD
		</mv-button>
		<mv-button
			icon-class="fa fa-trash"
			click="deleteBBDD()"
			show=oBBDD.db
			>
			Eliminar BBDD
		</mv-button>
		<br><br>
		<mv-button
			icon-class="fa fa-plus"
			click="createDataInBBDD()"
			show=oBBDD.db
			btn-type="default"
			>
			Crear datos
		</mv-button>
		&nbsp;
		<mv-button
			icon-class="fa fa-eye"
			click="selectDataInBBDD()"
			show=oBBDD.db
			btn-type="default"
			>
			Ver datos
		</mv-button>
		<br>
		<br>
		<mv-textarea
			adapt=true
			model=oBBDD.message
			label="Consola:"
			disabled=true
			rows="9"
			>
		</mv-textarea>
	</mv-card>

	<mv-card
		id="deleteDb"
		>
		<h3 class="title-3">deleteDb</h3>
		<br>
		<p>El método <b>getDecryptedObject</b> recibe los siguientes parámetros:</p>
		<ul>
			<li>dbName</li>
		</ul>
		<p>El parámetro <b>dbName</b> es el nombre de la base de datos en local. Si se deja en blanco se usará el nombre por defecto.</p>
		<p>Este método elimina la base de datos de la memoria local.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvLibraryService.deleteDb('dbNombreOpcional');
			</span>
		</code>
	</mv-card>

	<mv-card
		id="newDb"
		>
		<h3 class="title-3">newDb</h3>
		<br>
		<p>Este devuelve una nueva base de datos.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvLibraryService.newDb();
			</span>
		</code>
	</mv-card>

	<mv-card
		id="loadDb"
		>
		<h3 class="title-3">getDb</h3>
		<br>
		<p>El método <b>decrypt</b> recibe los siguientes parámetros:</p>
		<ul>
			<li>dbName</li>
		</ul>
		<p>El parámetro <b>dbName</b> es el nombre de la base de datos en local. Si se deja en blanco se usará el nombre por defecto.</p>
		<p>Este método devuelve la base de datos de la memoria local.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvLibraryService.getDb('dbNombreOpcional');
			</span>
		</code>
	</mv-card>

	<mv-card
		id="saveDb"
		>
		<h3 class="title-3">saveDb</h3>
		<br>
		<p>El método <b>saveDb</b> recibe los siguientes parámetros:</p>
		<ul>
			<li>db</li>
			<li>dbName</li>
		</ul>
		<p>El parámetro <b>db</b> es el objeto de la base de datos.</p>
		<p>El parámetro <b>dbName</b> es el nombre que va a usarse para guardar la base de datos en local. Si se deja en blanco se usará el nombre por defecto.</p>
		<p>Este método guarda la base de datos en la memoria local.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvLibraryService.saveDb(oDb,'dbNombreOpcional');
			</span>
		</code>
	</mv-card>

</mv-screen>