<!-- app-example-mova-grid -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaGrid</h1>
		<br>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>Para comprobar los efectos de adaptación responsive es necesario utilizar un viewport de un dispositivo móvil.</p>
			<p>Si se trata de probar desde un navegador es necesario activar la depuración móvil.</p>
		</mv-card>
		<p>Contenedor de elementos <b>&lt;table></b> de HTML5.</p>
		<p>La principal finalidad de este componente es adaptar las tablas de HTML5 a un diseño responsive.</p>
		<p>Este componente acepta los siguientes atributos:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('cardType')" >card-type</a></li>
			<li><a href="" ng-click="$root.scrollTo('cardTypeFormTruncateTitle')">card-type-form-truncate-title</a></li>
			<li><a href="" ng-click="$root.scrollTo('shadow')" >shadow</a></li>
			<li><a href="" ng-click="$root.scrollTo('type')" >type</a></li>
		</ul>
	</mv-card>

	<mv-card>
		<h2 class="title-2">Ejemplo de uso y resultado</h2>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-grid<br>
				&emsp;&emsp;data="arrayDatos"><br>
				&lt;/mv-grid>
			</span>
		</code>

		<code>
			<badge>JavaScript</badge>
			<span>
				this.scope.arrayDatos = [<br>
				&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;"Nombre": "Rick",<br>
				&emsp;&emsp;&emsp;&emsp;"Apellido 1": "Sanchez",<br>
				&emsp;&emsp;&emsp;&emsp;"Apellido 2": "Perez"<br>
				&emsp;&emsp;&emsp;&emsp;"Edad": "70",<br>
				&emsp;&emsp;&emsp;&emsp;"DNI": "34844941X"<br>
				&emsp;&emsp;},<br>
				&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;"Nombre": "Daniel",<br>
				&emsp;&emsp;&emsp;&emsp;"Apellido 1": "Larusso",<br>
				&emsp;&emsp;&emsp;&emsp;"Apellido 2": "Macchio"<br>
				&emsp;&emsp;&emsp;&emsp;"Edad": "56",<br>
				&emsp;&emsp;&emsp;&emsp;"DNI": "87179221K"<br>
				&emsp;&emsp;},<br>
				&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;"Nombre": "Elizabeth",<br>
				&emsp;&emsp;&emsp;&emsp;"Apellido 1": "Bennet",<br>
				&emsp;&emsp;&emsp;&emsp;"Apellido 2": "Eyre"<br>
				&emsp;&emsp;&emsp;&emsp;"Edad": "26",<br>
				&emsp;&emsp;&emsp;&emsp;"DNI": "63663132Y"<br>
				&emsp;&emsp;}<br>
				];
			</span>
		</code>

		<mv-grid
			data="arrayPersonas">
		</mv-grid>

	</mv-card>

	<mv-card
		id="cardType"
		>
		<h3 class="title-3">card-type</h3>
		<br>
		<p>La propiedad <b>card-type</b> permite definir el comportamiento responsive de la tabla para dispositivos con un viewport pequeño.</p>
		<p>Cuando estamos en un dispositivo con un viewport pequeño la tabla deja de mostrarse como una parrilla común y pasa a mostrar la información en forma de elementos individuales a los que identificamos como <b>cards</b>.</p>
		<p>Cada <b>card</b> muestra la información de una linea de la tabla.</p>
		<p>Por defecto, si no se utiliza esta propiedad, la tabla muestra <b>cards</b> de tipo <b>form</b> cuando se muestra en un dispositivo móvil con viewport pequeño y <b>none</b> cuando se muestra como WebApp en un ordenador.</p>
		<p>Esta propiedad acepta los siguientes valores:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('cardTypeCard')" >card</a></li>
			<li><a href="" ng-click="$root.scrollTo('cardTypeForm')" >form</a></li>
			<li><a href="" ng-click="$root.scrollTo('cardTypeNone')" >none</a></li>
		</ul>

		<p id="cardTypeCard">Ejemplo de la propiedad <b>card-type</b> con valor <b>card</b>:</p>

		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-grid<br>
				&emsp;&emsp;<b>card-type="card"</b><br>
				&emsp;&emsp;data="arrayDatos"><br>
				&lt;/mv-grid>
			</span>
		</code>

		<mv-grid
			card-type="card"
			data="arrayPersonas">
		</mv-grid>

		<p id="cardTypeForm">Ejemplo de la propiedad <b>card-type</b> con valor <b>form</b>:</p>

		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-grid<br>
				&emsp;&emsp;<b>card-type="form"</b><br>
				&emsp;&emsp;data="arrayDatos"><br>
				&lt;/mv-grid>
			</span>
		</code>

		<mv-grid
			card-type="form"
			data="arrayPersonas">
		</mv-grid>

		<p id="cardTypeNone">Ejemplo de la propiedad <b>card-type</b> con valor <b>none</b>:</p>

		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-grid<br>
				&emsp;&emsp;<b>card-type="none"</b><br>
				&emsp;&emsp;data="arrayDatos"><br>
				&lt;/mv-grid>
			</span>
		</code>

		<mv-grid
			card-type="none"
			data="arrayPersonas">
		</mv-grid>

	</mv-card>

	<mv-card
		id="cardTypeFormTruncateTitle"
		>
		<h3 class="title-3">card-type-form-truncate-title</h3>
		<br>
		<p>La propiedad <b>card-type-form-truncate-title</b> permite elegir si se quiere aplicar el estilo CSS para truncar el texto del título cuando se usa la propiedad <b>card-type</b> con valor <b>form</b>.</p>

		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-grid<br>
				&emsp;&emsp;<b>card-type-form-truncate-title=true</b><br>
				&emsp;&emsp;data="arrayDatos"><br>
				&lt;/mv-grid>
			</span>
		</code>

		<p>Ejemplo con valor <b>true</b>.</p>

		<mv-grid
			card-type-form-truncate-title=true
			data="arrayPersonas">
		</mv-grid>

		<p>Ejemplo con valor <b>false</b>.</p>

		<mv-grid
			card-type-form-truncate-title=false
			data="arrayPersonas">
		</mv-grid>

	</mv-card>

	<mv-card
		id="shadow"
		>
		<h3 class="title-3">shadow</h3>
		<br>
		<p>La propiedad <b>shadow</b> permite mostrar una sombra bajo el componente.</p>

		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-grid<br>
				&emsp;&emsp;<b>shadow=true</b><br>
				&emsp;&emsp;data="arrayDatos"><br>
				&lt;/mv-grid>
			</span>
		</code>

		<mv-grid
			shadow=true
			data="arrayPersonas">
		</mv-grid>

	</mv-card>

	<mv-card
		id="type"
		>
		<h3 class="title-3">type</h3>
		<br>
		<p>La propiedad <b>type</b> permite dar un estilo predefinido al grid.</p>

		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-grid<br>
				&emsp;&emsp;<b>type=flat</b><br>
				&emsp;&emsp;data="arrayDatos"><br>
				&lt;/mv-grid>
			</span>
		</code>

		<p>A continuación se muestra un ejemplo con el valor <b>flat</b> para el atributo <b>type</b>.</p>

		<mv-grid
			type=flat
			data="arrayPersonas">
		</mv-grid>

	</mv-card>

</mv-screen>
