<!-- app-example-mova-check-new-version -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaCheckNewVersion</h1>
		<br>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>Este componente permite mostrar un mensaje al usuario cuando existe una nueva versión disponible.</p>
			<p>El componente <a href="#!/example-mova-main"><b>mv.movaMain</b></a> implementa el uso de este componente por defecto.</p>
			<p>Dependiendo de si la versión es obligatoria o no evitará que el usuario pueda usar la App hasta que actualice a la nueva versión.</p>
			<p>Desde mova_backend puede definirse una nueva versión.</p>
		</mv-card>
		<p>Comprueba si la versión de la aplicación actual es menor que la definida en el Backend y en caso de ser menor muestra un mensaje que típicamente tendrá una enlace a la descarga de la nueva versión.</p>
		<p>También comprueba si la nueva versión se ha definido en el Backend como obligatoria y si es así no dejará al usuario acceder a la aplicación hasta que no se descargue la nueva versión.</p>
		<p>El correcto funcionamiento depende directamente del componente <b>mv.movaMain</b> que es el que realiza las llamadas a los servicios y funciona como cuello de botella para los usuarios que usan la aplicación, incluso antes de que se muestre el menú principal.</p>
		<p>Este componente guarda el atributo <b>MovaNoPuedeContinuar</b> en el objeto Mova del localStorage con información sobre si la versión debe instalarse para continuar con la ejecución de la App.</p>
		<p>Este componente no suele ser usado por el desarrollador ya que el componente <b>mv.MovaInicio</b> ya lo implementa directamente.</p>
		<p>Debe confirgurarse la variable <b>envURIDameVersion</b> para cada entorno en el componente <b>app.environment</b>.</p>
		<code>
			<badge>app-environment.xxx.js</badge>
			<span>
				...<br>
				envURIDameVersion: 'mova_rest_servicios/v1/consultas/do?idApp=6&idConsulta=mova_version_app_v2',<br>
				...<br>
			</span>
		</code>
		<p>Este componente ofrece los siguientes métodos a través del servicio <b>mvCheckNewVersionService</b>:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('getVersion')" >getVersion</a></li>
		</ul>
	</mv-card>

	<mv-card>
		<h2 class="title-2">Ejemplo de uso HTML y resultado</h2>
		<br>
		<code>
			<span>
				&lt;mv-check-new-version><br>
				&lt;/mv-check-new-version>
			</span>
		</code>
		<mv-new-version>
		</mv-new-version>
	</mv-card>
		
	<mv-card
		id="getVersion"
		>
		<h3 class="title-3">getVersion</h3>
		<br>
		<p>El método <b>getVersion</b> consigue información sobre la última version de la App.</p>
	</mv-card>

</mv-screen>