ion-content{
    --background: black;
}

.form{
    text-align: initial;
    margin-top: 5rem;
}

.voltar{
    text-align: end;
    margin-top: -3.5rem;
}
.logo{
    text-align: end;
    margin-top: 1rem;
}
p{
    color: #00D8C8;
    text-align: initial;
}

.texto{
    color: white;
}

input.email{
    background: transparent;
    color: #00D8C8;
    float: left;
    font-size: large;
    border: none;
    width: 100%;
    margin-bottom: 1rem;
}
input.password{
    background: transparent;
    color: #00D8C8;
    float: left;
    font-size: large;
    border: none;
    width: 100%;
    margin-bottom: 1rem;
}
::placeholder{
    color: #00D8C8;
    font-size: large;
}

.error-message{
    color: #00D8C8;
}

.footer{
    margin-top: 6rem;
    
}
p.terminos{
    color: #00D8C8;
    text-align: center;
}

.boton{
    width: 8rem;
    height: 2rem;
    background: #00D8C8;
    color: black;
}