<ion-content padding>


  <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">
    <div class="voltar">
      <img (click)="goBack()" src="../../../assets/imgs/volver.png" alt="">
    </div>
    <div class="logo">
      <img src="../../../assets/imgs/irisIcono.png" alt="">
    </div>
    <div>
      <p class="texto">CORREO ELECTRÓNICO</p>
    </div>
    <div text-center style="background: transparent !important;">
      <input type="text" class="email" placeholder="Correo Electrónico" formControlName="email">
    </div>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
          *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div>
      <p class="texto">CONTRASEÑA</p>
    </div>
    <div text-center style="background: transparent !important;">
      <input type="password" class="password" placeholder="Contraseña" formControlName="password">
    </div>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message"
          *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <div>
      <p class="texto">CONFIRMAR CONTRASEÑA</p>
    </div>
    <div text-center style="background: transparent !important;margin-top: 2rem;">
      <input type="password" class="password" placeholder="Confirmar Contraseña" formControlName="confirmPassword">
    </div>
    <div text-center class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.confirmPassword">
        <div text-center class="error-message"
          *ngIf="validations_form.get('confirmPassword').hasError(validation.type) && (validations_form.get('confirmPassword').dirty || validations_form.get('confirmPassword').touched)">
          <label class="error-message">{{validation.message}}</label><br />
        </div>
      </ng-container>
    </div>
    <div text-center class="footer">
      <div text-center style="background: transparent !important;">
        <p class="terminos"> <input type="checkbox" class="check cuadro" formControlName="check" checked="false">
          Acepto los terminos y condicione.</p>
      </div>
      <div>
        <button class="boton" type="submit" [disabled]="!validations_form.valid">Registrar
        </button>
      </div>
      <label class="error-message">{{errorMessage}}</label>
      <label class="success-message">{{successMessage}}</label>
    </div>
  </form>



</ion-content>