/*
╔══════════════════════════════╗
║ ultimas-notificaciones style ║
╚══════════════════════════════╝
*/

mv-ultimas-notificaciones {

  @include view-style;

  #ultimasNotificaciones{
    margin: 1rem 0 1rem 0;

    ol {

  		list-style-type: none;
  		margin: 0 0 0 0;
  		padding: 0 0 0 0;

  		.iconoEliminar {
  			display: inline-block;
  			position: absolute;
  			color: red;
  			right: 0.25em;
  			bottom: 0.75em;
  			font-size: 1.25em;
  			margin: 0 0 0 0;
  			padding: 1.25em 0.55em 0 0.55em;
  		}
  	}
    .notificaciones-pendientes{
      margin: 0.5rem;
      padding: 0.5rem;
    }
    .notificaciones-buttons-left{
      position: fixed;
      bottom: 0;
      width: 50%;
      left: 0;
    }
    .notificaciones-buttons-right{
      position: fixed;
      bottom: 0;
      width: 50%;
      right: 0;
    }
    .notificaciones-buttons-button {
      margin: 0rem 0.5rem 0.5rem 0rem;
    }
    .app-cliente-detail-mensaje-no-notificaciones{
      display: block;
      font-size: 0.95em;
      font-weight: bold;
      text-align: center;
      margin: 3.55em 0 1.5em 0;
      padding: 0 0 0 0;
      color: #4c6471;
      i{
        display: block;
        font-size: 4em;
        margin: 0 0 0.45em 0;
        color: #4c6471;
      }
    }

  }
}
