<!-- mova-ultimas-notificaciones -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<div id="ultimasNotificaciones">
		<div
			class="notificaciones-pendientes section-warning text-center"
			ng-show="showMessagePruebas">
			Está usando un dispositivo de pruebas ({{idDispositivo}})
		</div>

		<mv-card
			bg-color="transparent"
			border-color="transparent"
			class="notificaciones-buttons-left"
			float=true
			adapt=true>

			<div
				class="notificaciones-pendientes section-warning text-center"
				ng-show="showMessage">
				Tiene notificaciones nuevas
			</div>

		</mv-card>

		<mv-card
			bg-color="transparent"
			border-color="transparent"
			class="notificaciones-buttons-right text-right"
			float=true
			adapt=true>

			<mv-button
				class="notificaciones-buttons-button"
				icon-class="fas fa-trash-alt"
				click="eliminarNotificaciones()"
				shadow=true;
				size="medium"
				circle=true
				btn-type="danger"
				show=hayDatos>
			</mv-button>

			<mv-button
				class="notificaciones-buttons-button"
				icon-class="fa fa-angle-double-down"
				click="moreNotif()"
				btn-type="primary"
				shadow=true;
				size="medium"
				title="Cargar más elementos"
				circle=true>
			</mv-button>

		</mv-card>

		<ol>
			<div ng-repeat="(key, notificacion) in notificaciones track by $index"
				click="irANotificacion(notificacion)">
				<app-ficha-notificacion
					notificacion="notificacion">
				</app-ficha-notificacion>
			</div>
    </ol>

    <p class="app-cliente-detail-mensaje-no-notificaciones" ng-hide="hayDatos">
			<i class="fa fa-check" ></i>
			No existen notificaciones
		</p>

	</div>

</mv-screen>
