<!-- app-example-mova-touch-id -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaTouchId</h1>
		<br>
		<p>Menú horizontal con distintas opciones seleccionables.</p>
		<p>Para que el menú sea usable se recomienda no incluir más de 5 opciones.</p>
		<p>Este componente acepta los siguientes atributos:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('badge')" >badge</a></li>
		</ul>
	</mv-card>

	<mv-card>
		<h2 class="title-2">Ejemplo de uso HTML y resultado</h2>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-tab<br>
				&emsp;&emsp;captions="op1;op2;op3;op4;op5"<br>
				&emsp;&emsp;icon-class="fa-home;fa-envelope;fa-info-circle;fa-phone-square;"<br>
				&emsp;&emsp;selected="0"<br>
				&emsp;&emsp;badge=";5;;;"<br>
				&emsp;&emsp;><br>
				&lt;/mv-tab>
			</span>
		</code>
		<mv-touch-id
			callback="prueba()"
		>
		</mv-touch-id>
	</mv-card>

	<mv-card
		id="badge"
		>
		<h3 class="title-3">badge</h3>
		<br>
		<p>La propiedad <b>badge</b> permite mostrar información dentro de un badge.</p>
		<p>Es necesario incluir la propiedad captions con sus valores, en el caso de no querer badge hay que dejar el caracter <b>;</b> en blanco.</p>
		<p>No existen propiedades de estilo para los badges, esto debe hacerse desde al propiedad <b>class-if</b>.</p>
		<p>En el siguiente ejemplo se ven todos los casos posibles.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-tab<br>
				&emsp;&emsp;captions="op1;op2;op3;op4;op5"<br>
				&emsp;&emsp;<b>badge=";;new!;4;5"</b><br>
				&emsp;&emsp;selected=2<br>
				&emsp;&emsp;><br>
				&lt;/mv-tab>
			</span>
		</code>
		<mv-tab
			captions="op1;op2;Contenidos;op4;op5"
			badge=";;new!;4;5"
			selected=2
			>
		</mv-tab>
	</mv-card>

</mv-screen>
