<app-cabecera [titulohead]="tituloHead"></app-cabecera>

<ion-content padding>
  <button  (click)="goBack()" style="background: transparent !important ; float:left;">
    <img class="arrow"  src="../../../assets/imgs/arrow.png"/>
  </button>
  <ion-card>
    <form  [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h5>Numero del Menu</h5>
            <ion-input type="text" formControlName="nombreMenu" readonly="true">{{this.item.numeroMenu}}</ion-input>
          </ion-col>
          <ion-col size="12">
            <h5>Semanas: {{this.item.semanas}}</h5>
          </ion-col>
          <hr>
          <hr>
          <ion-col size="12">
              <img src="{{this.item.image}}" alt="imagen"  >
          </ion-col>
        </ion-row>
        </ion-grid>
        <div text-center> 
            <ion-button *ngIf="isAdmin === true" type="submit" [disabled]="!validations_form.valid" style="margin-bottom:15px;">Modificar</ion-button>
        </div>
        
    </form>
  </ion-card>
    <div text-center>
      <ion-button *ngIf="isAdmin === true" (click)="delete()">Borrar</ion-button>
    </div>
</ion-content>
