
<header class="arrendador" *ngIf="isUserArrendador == true" style="background:#26a6ff">
  <div class="titulo" text-center>
    <h5>Detalle del perfil</h5>
  </div>
  <div>
    <img class="arrow" (click)="goBack()" src="/assets/icon/flecha.png">
  </div>

</header>
<ion-header style="background:#26a6ff" *ngIf="isUserAgente == true">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" style="text-align: initial" href="#" style="">Detalle del perfil</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a style="color: black;" class="nav-link" (click)="goHome()">Inicio Agente </a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goPisos()">Lista pisos</a>
          <!-- <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goAlquileres()">Alquileres Activos</a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goContratos()">Contratos</a>
          </li>-->
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goPerfil()">Perfil</a>
          </li>
        </ul>
      </div>
    </nav>

</ion-header>


<ion-content >


  <div>
    <ion-row no-padding class="animated fadeIn fast">
      <ion-col size="6" offset="3">
        <img class="circular" [src]="image" *ngIf="image" />
      </ion-col>
    </ion-row>
  </div>
  <form style="font-family: Comfortaa" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <ion-list class="tarjeta mx-auto">
      <ion-item lines="none" style="padding-top: 3rem;">
        <p color="ion-color-dark">
          <b>Nombre:</b>
          <br />
          <input placeholder="Nombre" type="text" formControlName="nombre" /></p>

      </ion-item>
      <ion-item lines="none">
        <p position="floating" color="ion-color-dark">
          <b>Apellido:</b>
          <br />
          <input placeholder="apellido" type="text" formControlName="apellido" />
        </p>

      </ion-item>
      <ion-item lines="none">
        <p color="ion-color-dark"><b>Correo electronico:</b>
          <br />
          <input placeholder="Correo Electronico" type="email" formControlName="email" />
        </p>

      </ion-item>
      <ion-item lines="none">
        <p color="ion-color-dark"><b>Teléfono:</b>
          <br />
          <input placeholder="666555444" type="tel" formControlName="telefono" />
        </p>

      </ion-item>
      <ion-item lines="none">
        <p color="ion-color-dark"><b>DNI Agente:</b>
          <br />
          <input readonly="true" minlength="9" maxlength="9" placeholder="DNIAgente" type="tel" formControlName="dniAgente" />
        </p>

      </ion-item>
      <ion-item lines="none">
        <p position="floating" color="ion-color-dark">
          <b>Pais:</b>
          <br />
          <input placeholder="Pais" type="text" formControlName="pais" />
        </p>

      </ion-item>
      <ion-item lines="none">
        <p position="floating" color="ion-color-dark">
          <b>Ciudad:</b>
          <br />
          <input placeholder="ciudad" type="text" formControlName="ciudad" />
        </p>

      </ion-item>
      <ion-item lines="none">
        <p position="floating" color="ion-color-dark">
          <b>Dirección:</b>
          <br />
          <textarea placeholder="Dirección" type="text" formControlName="direccion"></textarea>
        </p>

      </ion-item>
      <ion-item lines="none">
        <p position="floating" color="ion-color-dark">
          <b>Codigo Postal:</b>
          <br />
          <input placeholder="Codigo Postal" type="text" formControlName="codigoPostal" />
        </p>

      </ion-item>
      <ion-item>
        <p color="ion-color-dark"><b>Fecha de nacimiento:</b>
          <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" max="2001" padding
            placeholder="Fecha de nacimiento" type="date" formControlName="fechaNacimiento" done-text="Aceptar"
            cancel-text="Cancelar"></ion-datetime>
        </p>
      </ion-item>

    </ion-list>
    <div text-center>
      <button class="botones" type="submit" [disabled]="!validations_form.valid">Guardar</button>
    </div>
  </form>

  <div style="padding-bottom: 1rem;" text-center>

    <button class="boton-borrar" type="submit" (click)="delete()">Borrar</button>
  </div>

</ion-content>