header{
    background: #26a6ff;
}

.arrendador{
    background: #26a6ff;
    height: 2rem;
}



h5{
    //text-shadow: 1px 1px whitesmoke;
    //padding-top: 1rem;
    color: white;
    padding-top: 0.3rem;
    position: relative;
    font-size: larger;
    /* background: black; */
    width: 70%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    margin-left: 15%;
    //padding-bottom: 0.3rem;
    font-weight: bold;
    text-transform: uppercase;
}


.image{
    float: left;
    position: relative;
    margin-top: -1.8rem;
    height: 1rem;
    padding-left: 0.5rem;
}

.arrow{
    float: left;
    position: relative;
    margin-top: -1.8rem;
    height: 1rem;
    padding-left: 0.5rem;
}


.navbar.navbar-expand-lg{
    background-color: #26a6ff;
    color: black;
}

.collapse.navbar-collapse{
    //background: rgb(197,197,197);
    color: black;
margin-left: -1rem;
margin-right: -2rem;
padding-left: 1rem;
margin-bottom: -0.5rem;
}




.logotipo{
    padding-right: 1rem;
    height: 2rem;
}

a.nav-link{
    color: black;
}

.navbar-brand{
    color: black;
    font-size: x-large;
    position: relative;
    display: flex;
}


ion-content{

    --background: url("/assets/imgs/detallesPerfil.jpg") no-repeat fixed center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}

@media only screen and (min-width:414px){
    ion-content{
        --background: url("/assets/imgs/detallesPerfilS.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
    }
}

input{
    border: none;
}


ion-item{
    font-size: initial;
}

.circular{
    position: relative;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    z-index: 1;
    margin-bottom: -1rem;
    margin-left: 1rem;
}

.tarjeta{
    position: relative;
    z-index: 0;
    margin-top: -3rem;
    justify-content: center;
    width: 21rem;
    border-radius: 25px;
    min-height: rem;
    min-width: 21rem;
    background: rgba(255,255,255, 0.8)

}

ion-item{
    --background: transparent !important;
}
ion-label{
    position: absolute;
    left: 0;
    font-size: initial;
}

input{
    background: transparent;
    width: 100%
}

textarea{
    width: 100%;
    padding-top: 0.5rem;
    border: none;
    background: transparent;
}

.botones{
    width: 20rem;
    border-radius: 5px;
    height: 2.5rem;
    //margin-top: 1rem;
    background: rgba(250,250,255, 0.5);
    box-shadow: 1px 1px black;
    margin-bottom: 5;
    //margin-top: 1rem;
    margin-bottom: 1rem;
    color:black;
    font-size: larger;
    margin-top: 1rem;
}

.boton-borrar{
    width: 20rem;
    border-radius: 5px;
    height: 2.5rem;
    margin-top: 0.5rem;
    color:white;
    font-size: larger;
    background: rgba(254,000,000, 0.5);
    box-shadow: 1px 1px black;
    margin-bottom: 1rem;
}

.caja{
    padding-left: 1rem !important;
    background: white;
    margin-bottom: -0.9rem;
    font-size: initial;
}

hr{
    color: black;
    background: black;
    margin-left: -20rem;
}
p{
    width: 100%;
}

@media (min-width:414px) and (max-width:736px){

    .circular{
        position: relative;
        border-radius: 50%;
        height: 8rem;
        width: 8rem;
        z-index: 1;
        margin-bottom: -1rem;
        margin-left: 2rem;
    }
    
    .tarjeta{
        position: relative;
        z-index: 0;
        margin-top: -3rem;
        justify-content: center;
        margin-left: 1rem;
        width: 18rem;
        border-radius: 25px;
        min-height: 20rem;
        min-width: 20rem;
    
    }

}