/*
╔═══════════════════════════════════════╗
║ app-maquetacion-invertir-madrid style ║
╚═══════════════════════════════════════╝
*/
app-maquetacion-invertir-madrid {
	
  @include view-style;

  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;

  .app-maquetacion-invertir-madrid-main-mv-card {
    background-color: $color-secondary-011;
    padding: 2rem 0.55rem;

    > span {
      > .mv-card-title-h1 {
        max-width: 85% !important;
        border-left: solid 5pt $color-secondary-010;
        padding-left: 1rem !important;
        margin-left: 1.55rem !important;
        margin-bottom: 2rem !important;
      }
    }

    > main {
      > .mv-card-hr {
        display: none;
      }
    }

    .app-maquetacion-invertir-madrid-main-mv-card-option {


      .app-maquetacion-invertir-madrid-main-mv-card-option-mv-card {

        @include mx-round-corners-default();

        height: auto;
        min-height: 8.55rem;

        background-color: $color-secondary-009;

        padding: 0.55rem;
        margin: 0.55rem;

        color: $color-secondary-011;

        > span {
          > .mv-card-title-h1 {
            max-width: 70% !important;
            margin-left: 5rem !important;
          }
        }
        > main {
          > .mv-card-hr {
            margin-left: 5rem !important;
          }
        }

        .app-maquetacion-invertir-madrid-main-mv-card-option-mv-card-icon {
          position: absolute;
          font-size: $font-size-ultra-big;
          top: 1rem;
          left: 1rem;
        }

        p {
          margin: 0 0 0 0;
        }

        .app-maquetacion-invertir-madrid-main-mv-card-option-mv-card-text {
          margin-left: 5rem;
        }

        &.red {
          background-color: #e8b792;
        }

        &.orange {
          background-color: #dcd48b;
        }

        &.blue {
          background-color: #92cce8;
        }

        &.green {
          background-color: #92e8e2;
        }

        &.minimal-option {
          color: $color-secondary-010; 

          height: auto;
          min-height: 12rem;

          p:first-child {
            font-weight: bold;
          }
        }

      }

    }

  }

}