<!-- app-maquetacion-invertir-madrid -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<mv-card
		class="app-maquetacion-invertir-madrid-main-mv-card"
		title="Invertir en la comunidad de Madrid"
		default-css=false
		>

		<mv-container>

			<mv-container-item col-xs=6 col-sm=4 col-md=2
				class="app-maquetacion-invertir-madrid-main-mv-card-option"
				>

				<mv-card
					class="app-maquetacion-invertir-madrid-main-mv-card-option-mv-card minimal-option"
					default-css=false
					shadow=true
					>
					<p>¿Por que elegir la Comunidad de Madrid para invertir?</p>
					<p>Muffin pudding cake sugar plum biscuit caramels.</p>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=6 col-sm=4 col-md=2
				class="app-maquetacion-invertir-madrid-main-mv-card-option"
				>

				<mv-card
					class="app-maquetacion-invertir-madrid-main-mv-card-option-mv-card minimal-option"
					default-css=false
					shadow=true
					>
					<p>Inicia tu proyecto empresarial</p>
					<p>Croissant pie cupcake candy canes soufflé pie sesame snaps powder.</p>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=6 col-sm=4 col-md=2
				class="app-maquetacion-invertir-madrid-main-mv-card-option"
				>

				<mv-card
					class="app-maquetacion-invertir-madrid-main-mv-card-option-mv-card minimal-option"
					default-css=false
					shadow=true
					>
					<p>Haz crecer tu empresa</p>
					<p>Chocolate cake icing tart caramels fruitcake cupcake dessert. </p>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=6 col-sm=4 col-md=2
				class="app-maquetacion-invertir-madrid-main-mv-card-option"
				>

				<mv-card
					class="app-maquetacion-invertir-madrid-main-mv-card-option-mv-card minimal-option"
					default-css=false
					shadow=true
					>
					<p>Sectores destacados</p>
					<p>Bonbon candy canes candy carrot cake.</p>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=6 col-sm=4 col-md=2
				class="app-maquetacion-invertir-madrid-main-mv-card-option"
				>

				<mv-card
					class="app-maquetacion-invertir-madrid-main-mv-card-option-mv-card minimal-option"
					default-css=false
					shadow=true
					>
					<p>Agenda empresarial</p>
					<p>Cheesecake bonbon macaroon tart tart cake.</p>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=6 col-sm=4 col-md=2
				class="app-maquetacion-invertir-madrid-main-mv-card-option"
				>

				<mv-card
					class="app-maquetacion-invertir-madrid-main-mv-card-option-mv-card minimal-option"
					default-css=false
					shadow=true
					>
					<p>Ver temas para inversores</p>
					<p>Topping chupa chups toffee jujubes sugar plum.</p>
				</mv-card>

			</mv-container-item>

		</mv-container>

	</mv-card>

	<mv-card
		class="app-maquetacion-invertir-madrid-main-mv-card"
		title="Principales indicadores económicos"
		default-css=false
		shadow=true
		>

		<mv-container>

			<mv-container-item col-xs=12 col-md=6
				class="app-maquetacion-invertir-madrid-main-mv-card-option"
				>

				<mv-card
					class="app-maquetacion-invertir-madrid-main-mv-card-option-mv-card red"
					default-css=false
					title="Productor Interno Bruto"
					shadow=true
					>
					<i class="app-maquetacion-invertir-madrid-main-mv-card-option-mv-card-icon fa fa-male"></i>
					<p class="app-maquetacion-invertir-madrid-main-mv-card-option-mv-card-text">Sweet lollipop biscuit donut dessert. Caramels chocolate pie pastry sweet roll dragée.</p>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=12 col-md=6
				class="app-maquetacion-invertir-madrid-main-mv-card-option"
				>

				<mv-card
					class="app-maquetacion-invertir-madrid-main-mv-card-option-mv-card orange"
					default-css=false
					title="Tasa de desempleo"
					shadow=true
					>
					<i class="app-maquetacion-invertir-madrid-main-mv-card-option-mv-card-icon fa fa-briefcase"></i>
					<p class="app-maquetacion-invertir-madrid-main-mv-card-option-mv-card-text">Gummi bears lemon drops wafer biscuit donut croissant fruitcake brownie. Jelly beans chupa chups gummies muffin bonbon.</p>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=12 col-md=6
				class="app-maquetacion-invertir-madrid-main-mv-card-option"
				>

				<mv-card
					class="app-maquetacion-invertir-madrid-main-mv-card-option-mv-card blue"
					default-css=false
					title="Inflación"
					shadow=true
					>
					<i class="app-maquetacion-invertir-madrid-main-mv-card-option-mv-card-icon fa fa-train"></i>
					<p class="app-maquetacion-invertir-madrid-main-mv-card-option-mv-card-text">Croissant jujubes sesame snaps donut lemon drops. Jelly ice cream marzipan jelly-o chupa chups powder carrot cake pie fruitcake.</p>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=12 col-md=6
				class="app-maquetacion-invertir-madrid-main-mv-card-option"
				>

				<mv-card
					class="app-maquetacion-invertir-madrid-main-mv-card-option-mv-card green"
					default-css=false
					title="Indice de confianza del consumidor"
					shadow=true
					>
					<i class="app-maquetacion-invertir-madrid-main-mv-card-option-mv-card-icon fa fa-graduation-cap"></i>
					<p class="app-maquetacion-invertir-madrid-main-mv-card-option-mv-card-text">Tootsie roll donut liquorice apple pie danish.</p>
				</mv-card>

			</mv-container-item>

		</mv-container>

	</mv-card>

</mv-screen>
