/*
╔═══════════════════════════════════════════╗
║ app-maquetacion-static-data-informe style ║
╚═══════════════════════════════════════════╝
*/
app-maquetacion-static-data-informe {

	@include view-style;

	/*
	Ejemplo de informe
	*/

	.ejemplo-informe {

		@include mx-round-corners-default();

		@include mx-shadow();

		padding: 1rem;
		background-color: $color-secondary-011 !important;
		max-width: 70rem;
		margin: 2rem auto 2rem auto;
		width: 97%;
		border: solid thin $color-secondary-006;

		.ejemplo-informe-cabecera {
			.ejemplo-informe-cabecera-left {
				.ejemplo-informe-cabecera-logo {
    				float: left;
    				max-width: 7.55rem;
				}

				.ejemplo-informe-cabecera-texto {
					padding: 1rem 0 0 0;

					p {
						font-size: $font-size-small;
						font-weight: bold;
					}
				}
			}
			.ejemplo-informe-cabecera-right {
				.ejemplo-informe-cabecera-right-texto {
					padding: 1rem 0 0 0;

					p {
						font-size: $font-size-small;
						font-weight: bold;
					}					
				}
			}
			.ejemplo-informe-cabecera-titulo {
				p {
					font-size: $font-size-super-big;
					font-weight: bold;

					margin: 2rem 0 2rem 0;
				}
			}
		}

		.ejemplo-informe-cuerpo {
			.ejemplo-informe-cuerpo-titulo {
				font-weight: bold;
				font-size: $font-size-big;

				margin: 1rem 0 0.55rem 0;
			}

			.ejemplo-informe-cuerpo-card {
				border: solid thin $color-secondary-010;

				padding: 0.55rem;

				p {
					margin: 0.55rem 0 0 2.55rem;
				}

				p:nth-child(1) {
					margin: 0.55rem 0.55rem 1.55rem 0.55rem;
				}
				p:nth-child(2) {
					margin: 0.55rem 0.55rem 0.55rem 0.55rem;
				}
			}

			.ejemplo-informe-cuerpo-card-2 {
				border: solid thin $color-secondary-010;

				padding: 0.55rem;

				p {
					margin: 0.55rem 0 0 0.55rem;
				}
			}
		}
	}
}