<!-- app-maquetacion-static-data-informe -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<mv-card
		title="Ejemplo de informe"
		>
		<p>A continuación se muestra un ejemplo de datos estáticos con el formato de un informe.</p>

	</mv-card>

	<mv-card
		default-css=false
		class="ejemplo-informe"
		>

		<mv-container class="ejemplo-informe-cabecera">

			<mv-container-item
				class="ejemplo-informe-cabecera-left"
				col-xs=12
				col-sm=6
				>
				<mv-input-image
					bg-color="trasnparent"
					border-color="transparent"
					class="ejemplo-informe-cabecera-logo"
					src="media/images/logo-agencia.png"
					>
				</mv-input-image>
				<div class="ejemplo-informe-cabecera-texto">
					<p>Ayuntamiento de fuente del maestre</p>
					<p>Plaza de España s/n</p>
					<p>06360 FUENTE DEL MAESTRE</p>
				</div>
			</mv-container-item>
			<mv-container-item
				class="ejemplo-informe-cabecera-right mv-container-item-text-right"
				col-xs=12
				col-sm=6
				>
				<div class="ejemplo-informe-cabecera-right-texto">
					<p>Servicio territorial</p>
					<p>Departamento de AISES</p>
					<p>Avda. Ronda del Pilar, 22</p>
					<p>06002 BADAJOZ</p>
				</div>
			</mv-container-item>

			<mv-container-item
				class="ejemplo-informe-cabecera-titulo mv-container-item-text-center"
				col-xs=12>
				<p>INFORME SOCIAL I.A.S.E.S</p>
			</mv-container-item>

		</mv-container>

		<mv-container class="ejemplo-informe-cuerpo">

			<mv-container-item
				class="ejemplo-informe-cuerpo-titulo mv-container-item-text-left"
				col-xs=12>
				<p>I) DATOS DE IDENTIFICACIÓN PROFESIONAL</p>
			</mv-container-item>

			<mv-container-item
				col-xs=12>

				<mv-card
					class="ejemplo-informe-cuerpo-card"
					default-css=false;
					>

					<p><b>INSTITUCIÓN:</b> Servicio Social de Base de Fuente del Maestre.</p>
					<p><b>INFORME EMITIDO POR:</b></p>
					<p><b>DIPLOMADO EN TRABAJO SOCIAL:</b> Israel Perez Ramirez.</p>
					<p><b>COLEGIADO EN:</b> Badajoz.</p>
					<p><b>CON EJERCICIO PROFESIONAL EN:</b> Servicio Social de Base de Fuente del Maestre.</p>
					<p><b>TRABAJA EN:</b> Servicio Social de Base de Fuente del Maestre.</p>
					<p><b>FECHA:</b> 28 de Noviembre de 2009.</p>
					<p><b>SOLICITADO POR:</b> Departamento de AISES.</p>
					<p><b>DIRIGIDO A:</b> Departamento de AISES.</p>
					<p><b>MOTIVO DEL INFORME:</b> Secreto.</p>

				</mv-card>
			</mv-container-item>

		</mv-container>

		<mv-container class="ejemplo-informe-cuerpo">

			<mv-container-item
				class="ejemplo-informe-cuerpo-titulo mv-container-item-text-left"
				col-xs=12>
				<p>II) DATOS IDENTIFICATIVOS</p>
			</mv-container-item>

			<mv-container-item
				col-xs=12
				>

				<mv-card
					class="ejemplo-informe-cuerpo-card-2"
					default-css=false;
					>

					<mv-container>

						<mv-container-item
							col-xs=12
							col-sm=4>
							<p><b>APELLIDOS:</b> Gonzalez Gonzalez.</p>
						</mv-container-item>
						<mv-container-item
							col-xs=12
							col-sm=8>
							<p><b>NOMBRE:</b> Magdalena</p>
						</mv-container-item>
						<mv-container-item
							col-xs=12
							col-sm=12>
							<p><b>DOMICILIO:</b> Calle Divino Valles 32 2ºJ.</p>
						</mv-container-item>
						<mv-container-item
							col-xs=12
							col-sm=4>
							<p><b>LOCALIDAD:</b> Fuente del Maestre</p>
						</mv-container-item>
						<mv-container-item
							col-xs=12
							col-sm=4>
							<p><b>C.P.:</b> 06360</p>
						</mv-container-item>
						<mv-container-item
							col-xs=12
							col-sm=4>
							<p><b>PROVINCIA:</b> Badajoz</p>
						</mv-container-item>
						<mv-container-item
							col-xs=12
							col-sm=4>
							<p><b>TELÉFONO:</b> 666558899</p>
						</mv-container-item>
						<mv-container-item
							col-xs=12
							col-sm=4>
							<p><b>NIF:</b> 00225544P</p>
						</mv-container-item>
						<mv-container-item
							col-xs=12
							col-sm=4>
							<p><b>Nº EXP:</b> 0123456789abc</p>
						</mv-container-item>

					</mv-container>

				</mv-card>

			</mv-container-item>

		</mv-container>

	</mv-card>
</mv-screen>
