.navbar {
    background: black;
}

.logo{
    width: 2rem;
    margin-top: -0.5rem;
    margin-left: -0.5rem;
    margin-right: 0.5rem;
}

.navbar .navbar-expand-lg{
    background: #26a6ff;
}
ion-content {

    --background: url("/assets/imgs/detallesPerfil.jpg") no-repeat fixed center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}

@media only screen and (min-width:414px) {
    ion-content {
        --background: url("/assets/imgs/detallesPerfilS.jpg") no-repeat fixed center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
    }
}

form {
    margin-top: 2rem;
}

input {
    border: none;
}


ion-item {
    font-size: initial;
}

.circular {
    position: relative;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    z-index: 1;
    margin-bottom: -1rem;
    //  margin-left: 1rem;
}

.tarjeta {
    position: relative;
    z-index: 0;
    margin-top: -3rem;
    justify-content: center;
    width: 21rem;
    border-radius: 25px;
    min-height: rem;
    min-width: 21rem;
    background: rgba(255, 255, 255, 0.8)
}

ion-item {
    --background: transparent !important;
}

ion-label {
    position: absolute;
    left: 0;
    font-size: initial;
}

input {
    background: transparent;
    width: 100%
}

textarea {
    width: 100%;
    padding-top: 0.5rem;
    border: none;
    background: transparent;
}

.boton-foto {
    width: 10rem;
    border-radius: 5px;
    height: 2rem;
    background: #26a6ff;
    box-shadow: 1px 1px black;
    margin-bottom: 1rem;
    color: white;
    margin-top: 1rem;
    margin-left: -1rem;

}

.botones {
    width: 20rem;
    border-radius: 5px;
    height: 2.5rem;
    //margin-top: 1rem;
    background: rgba(250, 250, 255, 0.5);
    box-shadow: 1px 1px black;
    margin-bottom: 5;
    //margin-top: 1rem;
    margin-bottom: 1rem;
    color: black;
    font-size: larger;
    margin-top: 1rem;
}

.file {
    background: transparent;
    /* width: 100%; */
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 15%;
}

.botones1 {
    width: 20rem;
    border-radius: 5px;
    height: 2.5rem;
    //margin-top: 1rem;
    background: rgba(250, 250, 255, 0.5);
    box-shadow: 1px 1px black;
    margin-bottom: 1rem;
    //margin-top: 1rem;
    margin-bottom: 1rem;
    color: black;
    font-size: larger;
    margin-top: 1rem;
}

.boton-borrar {
    width: 20rem;
    border-radius: 5px;
    height: 2.5rem;
    margin-top: 0.5rem;
    color: white;
    font-size: larger;
    background: rgba(254, 000, 000, 0.5);
    box-shadow: 1px 1px black;
    margin-bottom: 1rem;
}

.caja {
    padding-left: 1rem !important;
    background: white;
    margin-bottom: -0.9rem;
    font-size: initial;
}

hr {
    color: black;
    background: black;
    margin-left: -20rem;
}

p {
    width: 100%;
}

.desktop {
    display: none;
}

@media (min-width:414px) and (max-width:736px) {

    .circular {
        position: relative;
        border-radius: 50%;
        height: 8rem;
        width: 8rem;
        z-index: 1;
        margin-bottom: -1rem;
        //  margin-left: 2rem;
    }

    .tarjeta {
        position: relative;
        z-index: 0;
        margin-top: -3rem;
        justify-content: center;
        margin-left: 1rem;
        width: 18rem;
        border-radius: 25px;
        min-height: 20rem;
        min-width: 20rem;

    }

}


@media (min-width:1024px) and (max-width:1920px) {
    ion-content {
        --background: url("/assets/imgs/listaPisosDesktop.jpg") no-repeat fixed center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
        --background-attachment: fixed;
    }

    .telefono {
        display: none;
    }

    .desktop {
        display: block;
        text-align: center;
        padding-top: 1rem;
    }

    .tarjeta {
        position: relative;
        z-index: 0;
        margin-top: -3rem;
        justify-content: center;
        margin-left: 1rem;
        width: 50%;
        border-radius: 25px;
        min-height: 20rem;
        min-width: 20rem;

    }

    .boton-foto {
        display: none;
    }

    .circular {
        position: relative;
        border-radius: 50%;
        height: 8rem;
        width: 8rem;
        z-index: 1;
        margin-bottom: -1rem;
        margin-top: 1rem;
    }


    [type="file"] {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        overflow: hidden;
        padding: 0;
        position: absolute !important;
        white-space: nowrap;
        width: 1px;
    }


    [type="file"]+label {
        color: black;
        background: rgba(38, 166, 255, 0.75);
        border-radius: 5px;
        padding-top: 0.4rem;
        height: 2.2rem;
        margin-top: 2rem;
        font-size: 1.1rem;
        width: 13rem;
        font-weight: bold;
        cursor: pointer;
        display: inline-block;
        padding-left: 2rem 4rem;
    }

    [type="file"]:focus+label,
    [type="file"]+label:hover {
        background-color: rgba(38, 166, 255, 0.90);
    }

    [type="file"]:focus+label {
        outline: 1px solid #000;
    }
}