<ion-header>
  <nav class="navbar navbar-expand-lg navbar-dark ">
    <a style="font-size: large; color: white;" class="navbar-brand" (click)="goBack()"><img class="logo"
        src="../../../assets/icon/logotipoO.png">Crear piso</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="isUserAdmin != true" class="nav-item ">
          <a class="nav-link" (click)="perfil()">Perfil</a>
        </li>
        <li *ngIf="isUserAdmin != true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/tabs/tab1" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Pisos
          </a>
          <div class="dropdown-menu" style="background: black; color:white;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="listaPisos()">Lista de pisos</a>
            <a class="dropdown-item" (click)="registrarPiso()">Añadir piso</a>
          </div>
        </li>
        <li *ngIf="isUserAdmin != true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Agentes
          </a>
          <div class="dropdown-menu" style="background: black; color:white;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="registroAgente()">Registrar agente</a>
            <a class="dropdown-item" (click)="listaInmo()">Lista de agentes</a>
          </div>
        </li>
        <li *ngIf="isUserAdmin == true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div style="background: black; color:white;" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="registro()">Registrar Inmobiliaria</a>
            <a class="dropdown-item" (click)="listaInmobiliarias()">Lista de Inmobiliarias</a>
            <a class="dropdown-item" (click)="listaPisosAdmin()">Lista de pisos</a>
            <a class="dropdown-item" (click)="pisosReservados()">Lista de pisos bloqueados</a>
            <a class="dropdown-item" (click)="solicitudesAlquiler()">Solicitudes de alquiler&nbsp;<ion-badge *ngFor="let contratos of cs.contratos; let i = index;" color="success"><p *ngIf="contratos.contratoGenerador != true">{{i+1}}</p></ion-badge></a>
            <a class="dropdown-item" (click)="incidentes()">Lista Incidencias</a>
            <a class="dropdown-item" (click)="desahucio()">lista prevision desahucio</a>
            <a class="dropdown-item" (click)="impago()">lista prevision impago</a>
            <a class="dropdown-item" (click)="contratosInquilinos()">Contratos firmados inquilinos</a>
            <a class="dropdown-item" (click)="contratosArrendadores()">Contratos firmados arrendadores</a>
            <a class="dropdown-item" (click)="recibos()">Recibos</a>
            <a class="dropdown-item" (click)="admin()">Registrar admin</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="mx-auto" text-center>
        <button  class="boton-imagenes telefono" (click)="getImages()">Imagenes</button>
      </ion-col>
      <ion-col size="12" class="mx-auto" text-center>
        <button  class="boton-imagenes telefono" (click)="getDocumentos()">Documentos</button>
      </ion-col>
      <ion-col text-center class="mx-auto desktop" size="12">
        <input type="file" id="file" multiple="multiple"  (change)="onSelectFile($event)" #fileInput required /> 
        <label for="file">Imagenes</label>
      </ion-col>
      <ion-col text-center class="mx-auto desktop" size="12">
        <input type="file" id="file desktop" multiple="multiple"  (change)="onSelectDoc($event)" #fileInput required /> 
        <label for="file">Documentos</label>
      </ion-col>
    </ion-row>
      <div class="mx-auto" text-center>
        <ion-slides pager="true" [options]="slidesOpts">
          <ion-slide *ngFor="let img of imageResponse">
            <img src="{{img}}" alt="" srcset="">
          </ion-slide>
        </ion-slides>
      </div>
  </ion-grid>
  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
      <div class="caja">
      <ion-item class="item item-trns" lines="none">
        <ion-text slot="start" color="ion-color-dark"><b>Ciudad:</b></ion-text>
        <ion-select slot="end" formControlName="provincia" placeholder="Provincia" okText="Seleccionar"
          cancelText="Cancelar">
          <ion-select-option value='A Coruña'>A Coruña</ion-select-option>
          <ion-select-option value='álava'>álava</ion-select-option>
          <ion-select-option value='Albacete'>Albacete</ion-select-option>
          <ion-select-option value='Alicante'>Alicante</ion-select-option>
          <ion-select-option value='Almería'>Almería</ion-select-option>
          <ion-select-option value='Asturias'>Asturias</ion-select-option>
          <ion-select-option value='ávila'>Ávila</ion-select-option>
          <ion-select-option value='Badajoz'>Badajoz</ion-select-option>
          <ion-select-option value='Barcelona'>Barcelona</ion-select-option>
          <ion-select-option value='Burgos'>Burgos</ion-select-option>
          <ion-select-option value='Cáceres'>Cáceres</ion-select-option>
          <ion-select-option value='Cádiz'>Cádiz</ion-select-option>
          <ion-select-option value='Cantabria'>Cantabria</ion-select-option>
          <ion-select-option value='Castellón'>Castellón</ion-select-option>
          <ion-select-option value='Ceuta'>Ceuta</ion-select-option>
          <ion-select-option value='Ciudad Real'>Ciudad Real</ion-select-option>
          <ion-select-option value='Córdoba'>Córdoba</ion-select-option>
          <ion-select-option value='Cuenca'>Cuenca</ion-select-option>
          <ion-select-option value='Gerona'>Gerona</ion-select-option>
          <ion-select-option value='Girona'>Girona</ion-select-option>
          <ion-select-option value='Las Palmas'>Las Palmas</ion-select-option>
          <ion-select-option value='Granada'>Granada</ion-select-option>
          <ion-select-option value='Guadalajara'>Guadalajara</ion-select-option>
          <ion-select-option value='Guipúzcoa'>Guipúzcoa</ion-select-option>
          <ion-select-option value='Huelva'>Huelva</ion-select-option>
          <ion-select-option value='Huesca'>Huesca</ion-select-option>
          <ion-select-option value='Jaén'>Jaén</ion-select-option>
          <ion-select-option value='La Rioja'>La Rioja</ion-select-option>
          <ion-select-option value='León'>León</ion-select-option>
          <ion-select-option value='Lleida'>Lleida</ion-select-option>
          <ion-select-option value='Lugo'>Lugo</ion-select-option>
          <ion-select-option value='Madrid'>Madrid</ion-select-option>
          <ion-select-option value='Malaga'>Málaga</ion-select-option>
          <ion-select-option value='Mallorca'>Mallorca</ion-select-option>
          <ion-select-option value='Melilla'>Melilla</ion-select-option>
          <ion-select-option value='Murcia'>Murcia</ion-select-option>
          <ion-select-option value='Navarra'>Navarra</ion-select-option>
          <ion-select-option value='Orense'>Orense</ion-select-option>
          <ion-select-option value='Palencia'>Palencia</ion-select-option>
          <ion-select-option value='Pontevedra'>Pontevedra</ion-select-option>
          <ion-select-option value='Salamanca'>Salamanca</ion-select-option>
          <ion-select-option value='Segovia'>Segovia</ion-select-option>
          <ion-select-option value='Sevilla'>Sevilla</ion-select-option>
          <ion-select-option value='Soria'>Soria</ion-select-option>
          <ion-select-option value='Tarragona'>Tarragona</ion-select-option>
          <ion-select-option value='Tenerife'>Tenerife</ion-select-option>
          <ion-select-option value='Teruel'>Teruel</ion-select-option>
          <ion-select-option value='Toledo'>Toledo</ion-select-option>
          <ion-select-option value='Valencia'>Valencia</ion-select-option>
          <ion-select-option value='Valladolid'>Valladolid</ion-select-option>
          <ion-select-option value='Vizcaya'>Vizcaya</ion-select-option>
          <ion-select-option value='Zamora'>Zamora</ion-select-option>
          <ion-select-option value='Zaragoza'>Zaragoza</ion-select-option>
        </ion-select>
        <hr />
      </ion-item>
      <ion-item lines="none">
        <ion-text slot="start" color="ion-color-dark"><b>Calle:</b></ion-text>
        <ion-input slot="end" placeholder="Calle" type="text" formControlName="calle"></ion-input>
        <hr />
      </ion-item>
      <ion-item lines="none">
        <ion-text slot="start" color="ion-color-dark"><b>Numero:</b></ion-text>
        <ion-input slot="end" placeholder="Numero" type="text" formControlName="numero"></ion-input>
        <hr />
      </ion-item>
      <ion-item lines="none">
        <ion-text slot="start" color="ion-color-dark"><b>Portal:</b></ion-text>
        <ion-input slot="end" placeholder="Portal" type="text" formControlName="portal"></ion-input>
        <hr />
      </ion-item>
      <ion-item lines="none">
        <ion-text slot="start" color="ion-color-dark"><b>Puerta:</b></ion-text>
        <ion-input slot="end" placeholder="Puerta" type="text" formControlName="puerta"></ion-input>
        <hr />
      </ion-item>
      <ion-item lines="none">
        <ion-text slot="start" color="ion-color-dark"><b>localidad:</b></ion-text>
        <ion-input slot="end" placeholder="localidad" type="text" formControlName="localidad"></ion-input>
        <hr />
      </ion-item>
      <ion-item lines="none">
        <ion-text slot="start" color="ion-color-dark"><b>Codigo Postal:</b></ion-text>
        <ion-input slot="end" placeholder="Codigo Postal" type="text" formControlName="cp"></ion-input>
        <hr />
      </ion-item>

      <ion-item lines="none">
        <ion-text slot="start" color="ion-color-dark"><b>m2:</b></ion-text>
        <ion-input slot="end" placeholder="m2" type="text" formControlName="metrosQuadrados"></ion-input>
        <hr />
      </ion-item>
      <ion-item lines="none">
        <ion-text slot="start" color="ion-color-dark"><b>Costo alquiler:</b></ion-text>
        <ion-input slot="end" placeholder="Costo alquiler" type="number" formControlName="costoAlquiler"></ion-input>
        <hr />
      </ion-item>

      <ion-item lines="none">
        <ion-label>Meses de fianza</ion-label>
        <ion-select cancelText="Cancelar" okText="Aceptar" formControlName="mesesFianza">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
         
          <hr />
        </ion-select>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Meses de deposito</ion-label>
        <ion-select cancelText="Cancelar" okText="Aceptar" formControlName="mesesDeposito">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <hr />
        </ion-select>
      </ion-item>
      <ion-item lines="none">
        <ion-text slot="start" color="ion-color-dark"><b>Nº Habitaciones:</b></ion-text>
        <ion-input slot="end" placeholder="Nº Habitaciones" type="number" formControlName="numeroHabitaciones">
        </ion-input>
        <hr />
      </ion-item>
      <ion-item lines="none">
        <ion-text slot="start" color="ion-color-dark"><b>Descripción del inmueble:</b></ion-text>
      </ion-item>
      <ion-item lines="none">
        <textarea class="datos" type="text" formControlName="descripcionInmueble"></textarea>
        <hr />

      </ion-item>
      <ion-item lines="none">
        <ion-text slot="start" color="ion-color-dark"><b>Nº Baños:</b></ion-text>
        <ion-input slot="end" placeholder="Nº Baños" type="number" formControlName="banos"></ion-input>
        <hr />
      </ion-item>
      <ion-item lines="none">
        <ion-text slot="start" color="ion-color-dark"><b>Amueblado:</b></ion-text>
        <ion-select cancelText="Cancelar" okText="Aceptar!" slot="end" placeholder="Seleccionar" formControlName="amueblado">
          <ion-select-option value="Si">Si</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
        <hr />
      </ion-item>
      <ion-item lines="none">
        <ion-text slot="start" color="ion-color-dark"><b>Calefacción central:</b></ion-text>
        <ion-select cancelText="Cancelar" okText="Aceptar!" slot="end" placeholder="Seleccionar" formControlName="calefaccionCentral">
          <ion-select-option value="Si">Si</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
        <hr />
      </ion-item>
      <ion-item lines="none">
        <ion-text slot="start" color="ion-color-dark"><b>Calefacción individual:</b></ion-text>
        <ion-select cancelText="Cancelar" okText="Aceptar!" slot="end" placeholder="Seleccionar" formControlName="calefaccionIndividual">
          <ion-select-option value="Si">Si</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
        <hr />
      </ion-item>
      <ion-item lines="none">
        <ion-text slot="start" color="ion-color-dark"><b>Climatización:</b></ion-text>
        <ion-select cancelText="Cancelar" okText="Aceptar!" slot="end" placeholder="Seleccionar" formControlName="climatizacion">
          <ion-select-option value="Si">Si</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
        <hr />
      </ion-item>
      <ion-item lines="none">
        <ion-text slot="start" color="ion-color-dark"><b>Jardin:</b></ion-text>
        <ion-select cancelText="Cancelar" okText="Aceptar!" slot="end" placeholder="Seleccionar" formControlName="jardin">
          <ion-select-option value="Si">Si</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
        <hr />
      </ion-item>
      <ion-item lines="none">
        <ion-text slot="start" color="ion-color-dark"><b>Acensor:</b></ion-text>
        <ion-select cancelText="Cancelar" okText="Aceptar!" slot="end" placeholder="Seleccionar" formControlName="acensor">
          <ion-select-option value="Si">Si</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>

        </ion-select>
        <hr />
      </ion-item>
      <ion-item lines="none">
        <ion-text slot="start" color="ion-color-dark"><b>Piscina:</b></ion-text>
        <ion-select cancelText="Cancelar" okText="Aceptar!" slot="end" placeholder="Seleccionar" formControlName="piscina">
          <ion-select-option value="Si">Si</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>

        </ion-select>
        <hr />
      </ion-item>
      <ion-item>
        <ion-label>Zonas Comunes</ion-label>
        <ion-select cancelText="Cancelar" okText="Aceptar!" multiple="true" formControlName="zonasComunes" cancelText="Cancelar" okText="Aceptar!">
          <ion-select-option value="pistaPadel">Pista Pádel</ion-select-option>
          <ion-select-option value="pistaTenis">Pista Tenis</ion-select-option>
          <ion-select-option value="jardines">Jardines</ion-select-option>

        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Estado del inmueble</ion-label>
        <ion-select cancelText="Cancelar" okText="Aceptar!" formControlName="estadoInmueble" cancelText="Cancelar" okText="Aceptar!">
          <ion-select-option value="Obra Nueva">Obra nueva</ion-select-option>
          <ion-select-option value="A reformar">A reformar</ion-select-option>
          <ion-select-option value="reformar">Reformado</ion-select-option>

        </ion-select>
      </ion-item>


      <ion-item lines="none">
        <ion-label>Gestion de pagos</ion-label>
        <ion-input readonly="true" type="text" formControlName="gestionPagos" value="SI,(5% del alquiler)"></ion-input>
    </ion-item>
      <ion-item>
        <ion-label>Servicios que desea</ion-label>
        <span>Al marcar desahucio impago es obligatorio</span>
        <ion-select multiple="true" formControlName="serviciasDesea" cancelText="Cancelar" okText="Aceptar">
          <ion-select-option value="desahucio">Deshaucio <p style="color: blue !important;">(+2% del alquiler)</p></ion-select-option>
          <ion-select-option value="impago">Impago (+3% del alquiler)</ion-select-option>
        </ion-select>
      </ion-item>
      <div>
        <ion-button expand="full" size="small" (click)="presentModal()">lista agentes</ion-button>
      </div>
      <ion-item lines="none">
        <ion-text slot="start" color="ion-color-dark"><b>AgenteId:</b></ion-text>
        <br>
        <ion-input slot="end" placeholder="AgenteId" type="text" formControlName="arrendadorId"></ion-input>
      </ion-item>
      <div>
        <ion-item lines="none">
          <ion-text slot="start" color="ion-color-dark"><b>Teléfono de contacto:</b></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-input placeholder="Telefono" slot="end" type="number" maxlength="9" formControlName="telefonoArrendador"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-text slot="start"><b>Nombre Agente (inmobiliaria):</b></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-input placeholder="Nombre" slot="end" formControlName="nombreArrendador"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-text slot="start"><b>Apellidos Agente (inmobiliaria):</b></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-input placeholder="Apellidos" slot="end" formControlName="apellidosArrendador"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-text slot="start"><b>Dni Agente (inmobiliaria):</b></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-input placeholder="DNI_AGENTE" minlength="9" maxlength="9" slot="end" formControlName="dniArrendador"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-text slot="start"><b>Fecha Nacimiento Agente:</b></ion-text>
        </ion-item>
        <ion-item lines="none">
            <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" max="2001" padding
            placeholder="Fecha de nacimiento" type="date" formControlName="fechaNacimientoArrendador"
            done-text="Aceptar" cancel-text="Cancelar"></ion-datetime>
        </ion-item>

        <ion-item lines="none">
          <ion-text slot="start"><b>Email Agente (inmobiliaria):</b></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-input placeholder="Email" slot="end" formControlName="email"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-text slot="start"><b>Direccion Agente (inmobiliaria):</b></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-input placeholder="Dirección" slot="end" formControlName="direccionArrendador"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-text slot="start"><b>Pais Agente (inmobiliaria):</b></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-input placeholder="pais" slot="end" formControlName="pais"></ion-input>
        </ion-item>
      </div>

      <div text-center>
        <button class="botones" type="submit" [disabled]="!validations_form.valid">Crear piso</button>
      </div>
    </div>
  </form>
</ion-content>