ion-content {

  --background: url("/assets/imgs/crearPiso.jpg") no-repeat fixed center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}

.boton-imagenes {
  color: black;
  background: rgba(38, 166, 255, 0.75);
  border-radius: 5px;
  height: 2.2rem;
  //margin-top: 2rem;
  font-size: 1.1rem;
  width: 13rem;
  font-weight: bold;
  margin-left: 20%;
}

@media only screen and (min-width:414px) {
  ion-content {
    --background: url("/assets/imgs/crearPisoS.jpg") no-repeat fixed center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
  }
}


hr {
  background: black;
}

ion-input {
  margin-left: -5rem;
  border: none;
  position: relative;
  text-align: end;
  background: rgba(255, 255, 255, 0.5)
}

ion-button {
  color: black;
  font-weight: bold;
}

.caja {
  //  width: 95%;
  border-radius: 15px;
  margin-top: 2rem;
  opacity: 0.8;
}

.item.item-trns {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

div.item.native {
  background: transparent !important;
}

.datos {
  width: 95%;
  height: 6rem;
  border-color: black;
  margin-bottom: 1.5rem;
}

.botones {
  color: black;
  background: rgba(38, 166, 255, 0.75);
  border-radius: 5px;
  height: 2.2rem;
  margin-top: 2rem;
  font-size: 1.1rem;
  width: 13rem;
  font-weight: bold;
  //margin-bottom: 2rem;
}


.boton-imagenes {
  color: black;
  background: rgba(38, 166, 255, 0.75);
  border-radius: 5px;
  height: 2.2rem;
  //margin-top: 2rem;
  font-size: 1.1rem;
  width: 13rem;
  font-weight: bold;
  margin-left: 20%;
}

.noOlvides {
  padding-top: 2rem;
  font-size: larger;
  text-shadow: 2px 2px white;
  color: black;
}

.botones-1 {
  color: black;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  height: 2.2rem;
  font-size: 1.1rem;
  width: 8rem;
  color: black;
  font-weight: bold;
}
.swiper-slide img {
    width: auto;
    max-width: 100%;
    height: 10rem;
    max-height: 100%;
} 
.desktop{
  display:none;
}
.telefono{
  display:block;
}

@media (min-width:1024px) and (max-width:1920px) {

  .desktop{
    display:block;
  }

  .telefono{
    display:none;
  }
  .caja {
    width: 50%;
    border-radius: 15px;
    margin-top: 2rem;
    opacity: 0.8;
    margin-left: 25%;
  }

  ion-slides {
    //height: 18rem;
    max-height: 18rem;
  }

  ion-content{
    --background: url("/assets/imgs/cPiso.jpg") no-repeat fixed center;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      background-size: contain;
      --background-attachment: fixed;
  } 

  .swiper-slide img {
    width: auto;
    max-width: 100%;
    height: 15rem;
    max-height: 100%;
}

[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}
 
[type="file"] + label {
  color: white;
    background: rgba(38, 166, 255, 0.75);
    border-radius: 5px;
    padding-top: 0.4rem;
    height: 2.2rem;
    margin-top: 2rem;
    font-size: 1.1rem;
    width: 13rem;
    font-weight: bold;
  cursor: pointer;
  display: inline-block;
  padding-left: 2rem 4rem;
}
  
[type="file"]:focus + label,
[type="file"] + label:hover {
    background-color: rgba(38, 166, 255, 0.90);
}
  
[type="file"]:focus + label {
  outline: 1px solid #000;
}
}


@media only screen and (min-width:1366px){
  ion-content{
    --background: url("/assets/imgs/cPiso.jpg") no-repeat fixed center;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      background-size: contain;
      --background-attachment: fixed;
  } 

  .desktop{
    display:block;
  }

  .telefono{
    display:none;
  }
  .caja {
    width: 50%;
    border-radius: 15px;
    margin-top: 2rem;
    opacity: 0.8;
    margin-left: 25%;
  }

  [type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}
 
[type="file"] + label {
  color: black;
    background: rgba(38, 166, 255, 0.75);
    border-radius: 5px;
    padding-top: 0.4rem;
    height: 2.2rem;
    margin-top: 2rem;
    font-size: 1.1rem;
    width: 13rem;
    font-weight: bold;
  cursor: pointer;
  display: inline-block;
  padding-left: 2rem 4rem;
}
  
[type="file"]:focus + label,
[type="file"] + label:hover {
    background-color: rgba(38, 166, 255, 0.90);
}
  
[type="file"]:focus + label {
  outline: 1px solid #000;
}

}