ion-content{

    --background: url("/assets/imgs/contratoFirmado.jpg") no-repeat fixed center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}

@media only screen and (min-width:414px){
    ion-content{
        --background: url("/assets/imgs/contratoFirmadoS.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
    }
}

ion-card{
    background: rgba(255,255,255,0.6);
    color: black;
}

hr{
    background: black;
}

.botones{
    width: 8rem;
    border-radius: 5px;
    background: rgba(255,255,255,0.8);
    color: black;
    height: 2rem;
    font-size: larger;
}

.botones-1{
    width: 13rem;
    border-radius: 5px;
    background: white;
    height: 2rem;
    font-size: larger;
}

.limpiar{
    width: 13rem;
    border-radius: 5px;
    background: white;
    height: 2rem;
    font-size: larger;
    margin-top: 1rem;
}

i{
    padding-left: 1rem;
}

.firma{
    height: 6rem;
    width: 90%;
    margin-left: 1rem;
    margin-top: 1rem;
    opacity: 0.9;
    box-shadow: 1px 1px 3px 1px black;
}

@media (min-width:1024px) and (max-width:1920px){
    ion-content{
        --background: url("/assets/imgs/cFirmado.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
        --background-attachment: fixed;
    }  
    .firma{
        width: 25%
    }
    ion-slides{
        height: 10rem;
    }
}     
