<ion-content padding>
  <div class="volver">
    <img (click)="goBack()" src="../../../assets/imgs/volver.png" alt="">
  </div>
  <div text-center class="titulo">
    <p class="titulo-texto mx-auto">
      <img class="masGestion" src="../../../assets/imgs/gancho.png" alt="">
      PRODUCTO CANCELADO</p>
  </div>
  <div class="caja">
    <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
      <div text-center>
        <img class="imgProducto" [src]="image" alt="">
      </div>
      <div text-center class=" mx-auto">
        <div>
          <p class="nombre">{{this.item.nombreProducto}}</p>
        </div>
        <div>
          <p class="precio">{{this.item.precio}} €</p>
        </div>

        <div class="caja">
          <p class="talla"><b>TALLA</b> &nbsp;{{this.item.talla}}</p>
        </div>
        <div class="caja">
          <p class="cantidad"><b>CANTIDAD DISPONIBLE</b> &nbsp;{{this.item.cantidad}}</p>
        </div>
        <div class="caja">
          <p class="cantidad"><b>CANTIDAD A COMPRAR</b> &nbsp;{{this.item.cantidadComprar}}</p>        </div>

      </div>

    </form>
    <div text-center>
      <button class="botones" type="submit" (click)="delete()">Eliminar</button>
    </div>
  </div>

</ion-content>