<!-- app-main -->

<!--
title 			-> Texto que aparece como título, no se usa en este caso, a demás proboca un hint molesto en toda la App hasta que se hace click en alguna parte de la App, se elimina (05/12/2018)
icon 				-> Icono para mostrar
button-state	-> Nombre del estado al que debe navegarse al hacer click en el botón
change-login	-> Botón que permite el cambio de método de login de login a broker-identidades eliminar este atributo o poner con valor false
auth-text			-> Texto para explicar los medios de autenticacion
auth-modes		-> Los medios de autenticacion concretos
-->
<!--<mv-main
	icon = "media/images/logo-agencia.png"
	button-state = "main-menu"
	change-login = true
	auth-text = "Para acceder debe autenticarse con los medios disponibles en la Comunidad de Madrid"
	auth-modes = "Clave PIN | Certificado Digital o DNI electrónico | Clave Permanente">-->

	<!-- app-main-menu -->

<mv-screen
	icon = "media/images/logo-agencia.png"
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	float-footer="{{ screen.floatFooter }}"
	show-back="{{ screen.showBack }}"
	show-menu="{{ screen.showMenu }}"
	show-logo="{{ screen.showLogo }}"
	show-subtitle="{{ screen.showSubtitle }}">

		<mv-container style="margin-top:50px" class="app-main-menu-mv-card-main">

			<mv-container-item>

					<a href="#!/pantalla23"><mv-card
						class="app-main-menu-mv-card-option"
						id="card1"
						round-corners=false
						shadow=false
						click="clickOpcion(0)"
					>
						
						<p class="app-main-menu-mv-card-option-text"></p></a>
					</mv-card>
				</mv-container-item>
		
				<mv-container-item>
		
					<a href="#!/pantalla12"><mv-card
						class="app-main-menu-mv-card-option"
						id="card2"
						round-corners=false
						shadow=false
						click="clickOpcion(1)"
					>
						
						<p class="app-main-menu-mv-card-option-text"></p></a>
					</mv-card>
				</mv-container-item>
		
				<mv-container-item>
		
					<a href="#!/pantalla11"><mv-card
						class="app-main-menu-mv-card-option"
						id="card3"
						round-corners=false
						shadow=false
						click="clickOpcion(2)"
					>
						
						<p class="app-main-menu-mv-card-option-text"></p></a>
					</mv-card>
				</mv-container-item>			

		</mv-container>

</mv-screen>


<!--  <div>
	  Presentación al ciudadano de la aplicación explicando brevemente las <i>funcionalidades
		de la aplicación</i>. Se pueden añadir alguna imágen o simplemente un texto html
  </div>

	<img src="media/images/examples/ayuda_mayores.jpg" alt="">-->


<!--</mv-main>-->
