<header text-center  padding-top>
  <div class="contiene">
    <a (click)="goBack()">
      <img width="40" height="45"   src="../../../assets/imgs/logo.png" class="logo">
    </a>
      <span text-center style="font-size: 22px;">
       &nbsp;&nbsp;{{titulohead}}
      </span>
      <a >
          <img class="chat" *ngIf="isPasi === true"  (click)="contacto()" src="../../../assets/imgs/bot_cliente_perfil/buzon.png" >
        </a>
  <!--<a href="https://wa.me/34666555444">
      <img class="chat" *ngIf="isPasi === true" src="../../../assets/imgs/bot_cliente_perfil/buzon.png" >
    </a>-->  
        </div>
  
  </header>