header{
    background: #26a6ff;
}

.arrendador{
    background: #26a6ff;
    height: 2rem;
}



h5{
    //text-shadow: 1px 1px whitesmoke;
    //padding-top: 1rem;
    color: white;
    padding-top: 0.3rem;
    position: relative;
    font-size: larger;
    /* background: black; */
    width: 70%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    margin-left: 15%;
    //padding-bottom: 0.3rem;
    font-weight: bold;
    text-transform: uppercase;
}

input{
    border: none;
    background: transparent !important;
  }

.image{
    float: left;
    position: relative;
    margin-top: -1.8rem;
    height: 1rem;
    padding-left: 0.5rem;
}

.arrow{
    float: left;
    position: relative;
    margin-top: -1.8rem;
    height: 1rem;
    padding-left: 0.5rem;
}


.navbar.navbar-expand-lg{
    background-color: #26a6ff;
    color: black;
}

.collapse.navbar-collapse{
    //background: rgb(197,197,197);
    color: black;
margin-left: -1rem;
margin-right: -2rem;
padding-left: 1rem;
margin-bottom: -0.5rem;
}




.logotipo{
    padding-right: 1rem;
    height: 2rem;
}

a.nav-link{
    color: black;
}

.navbar-brand{
    color: black;
    font-size: x-large;
    position: relative;
    display: flex;
}


ion-content{

    --background: url("/assets/imgs/contratos.jpg") no-repeat fixed center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}

@media only screen and (min-width:414px){
    ion-content{
        --background: url("/assets/imgs/contratosS.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
    }
}

ion-card{
    background: rgba(255, 255, 255, 0.7);
    color: black;
}

hr{
    background: black;
}

.botones{
    width: 19rem;
    border-radius: 5px;
    background: rgba(38,166,255, 0.7);
    height: 2rem;
    font-size: larger;
}

.botones-1{
    width: 19rem;
    border-radius: 5px;
    background: white;
    height: 2rem;
    font-size: larger;
    margin-top: 0.5rem;
}

.text{
    font-weight: 400;
    color: black;
}

.limpiar{
    width: 19rem;
    border-radius: 5px;
    background: rgba(38,166,255, 0.7);
    height: 2rem;
    font-size: larger;
    margin-top: 1rem;
}

i{
    padding-left: 1rem;
}


[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
  }
   
  [type="file"] + label {
    width: 19rem;
    border-radius: 5px;
    background: white;
    height: 2rem;
    font-size: larger;
   // margin-top: 0.5rem;
      font-size: 1.1rem;
      font-weight: bold;
    cursor: pointer;
    display: inline-block;
    padding-left: 2rem 4rem;
    padding-top: 0.2rem;
  }
    
  [type="file"]:focus + label,
  [type="file"] + label:hover {
    background: white;
  }
    
  [type="file"]:focus + label {
    outline: 1px solid #000;
  }