<!-- app-maquetacion-recaptcha -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<mv-card>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>La funcionalidad del captcha de reCaptcha es la ofrecida por Google.</p>
			<p>Los ejemplos aquí mostrados se integran siguiendo las normas y documentación de Google.</p>
			<p>Para soporte acerca de funcionalidad del captcha ver la propia de Google.</p>
			<p>En vez de usar directamente reCaptcha de Google se usa la librería de <b><a href="https://github.com/VividCortex/angular-recaptcha">vcRecaptcha</a></b> ya que si se usa directamente, al navegar por la App el captcha no carga de nuevo.</p>
		</mv-card>
		<h1>Descripción</h1>
		<h3>A continuación se muestran diferentes ejemplo que usan la funcionalidad de captcha de reCaptcha de Google.</h3>
	</mv-card>

	<mv-card>

		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>Para comprobar en el lado del servidor si el captcha se ha verificado correctamente hay que realizar una llamada <b>POST</b> a la URL <b>https://www.google.com/recaptcha/api/siteverify?secret=<u>SECRET</u>&response=<u>RESPONSE</u></b>.</p>
			<p>Donde pone <b>SECRET</b> hay que poner la cadena con la clave screta que nos habrá facilitado Google al crear el captcha.</p>
			<p>Donde pone <b>RESPONSE</b> hay que poner el valor devuelto por <b>grecaptcha.getResponse()</b>.</p>
			<p>Esta llamada devuelve la siguiente información en forma de JSON:</p>
			<ol>
				<li>"success": true|false</li>
				<li>"challenge_ts": timestamp</li>
			</ol>
		</mv-card>

		<code>
			<badge>HTML</badge>
			<span>
				&lt;div<br>
				&emsp;&emsp;<b>vc-recaptcha</b><br>
				&emsp;&emsp;<b>key="'6Lcw6XIUAAAAAPngwupCl2UMhBN2qlcnePJopOi9'"</b><br>
				&emsp;&emsp;><br>
				&lt;/div>
			</span>
		</code>

		<mv-recaptcha site-key="6Lcw6XIUAAAAAPngwupCl2UMhBN2qlcnePJopOi9"></mv-recaptcha>

		<mv-recaptcha adapt="true" site-key="6Lcw6XIUAAAAAPngwupCl2UMhBN2qlcnePJopOi9"></mv-recaptcha>

		<br>

		<code>
			<badge>JavaScript</badge>
			<span>
				let captcha = <b>grecaptcha.getResponse()</b>;<br>
			</span>
		</code>

		<mv-button click="clickComprobar()">Comprobar captcha</mv-button>

		<br><br>

		<mv-input label="Valor pasado al servicio" model="example.valorTexto"></mv-input>

		<br><br>

		<p><b>Resultado:</b> {{example.resultado}}</p>
		<p><b>Captcha:</b> {{example.valor}}</p>
		<!--<p><b>Ping:</b> {{example.ping}}</p>-->
		<p><b>data.valorEntrada:</b>{{example.valorEntrada}}</p>
		<p><b>Response:</b> {{example.response}}</p>

		<br><br>
	</mv-card>

</mv-screen>
