<!-- app-maquetacion-responsive -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<mv-viewport-info></mv-viewport-info>

	<mv-card>
		<h1>Descripción</h1>
		<h3>A continuación se explican diferentes formas de utilizar los componentes <a href="#!/example-mova-container"><b>mv.movaContainer</b></a> y <a href="#!/example-mova-container-item"><b>mv.movaContainerItem</b></a>.</h3>
		<p>El framework facilita estos componentes para poder maquetar de una forma sencilla el contenido que se muestra en las vistas.</p>
		<p>Este ejemplo tiene dos finalidades principales:</p>
		<ul>
			<li>Poder mostrar las posibilidades de MOVA</li>
			<li>Ofrecer al desarrollador una plantilla que le sirva como punto de partida.</li>
		</ul>
		<p>Lista de ejemplos responsive:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('appMaquetacionResponsiveEjemploBotonera')" >Botonera</a></li>
			<li><a href="" ng-click="$root.scrollTo('appMaquetacionResponsiveEjemploFichas')" >Fichas</a></li>
			<li><a href="" ng-click="$root.scrollTo('appMaquetacionResponsiveEjemploMediaQueries')" >Media queries</a></li>
		</ul>
	</mv-card>

	<mv-card class="ejemploEsquemaResponsiveXs">
		<p>Ejemplo para entender como decidir el reparto de la información según el sistema del grid de 12 columnas:</p>
		<mv-container>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4><b>col-xs=12</b> col-sm=6 col-md=6 col-lg=4</mv-container-item>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4><b>col-xs=12</b> col-sm=6 col-md=6 col-lg=4</mv-container-item>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4><b>col-xs=12</b> col-sm=6 col-md=6 col-lg=4</mv-container-item>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4><b>col-xs=12</b> col-sm=6 col-md=6 col-lg=4</mv-container-item>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4><b>col-xs=12</b> col-sm=6 col-md=6 col-lg=4</mv-container-item>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4><b>col-xs=12</b> col-sm=6 col-md=6 col-lg=4</mv-container-item>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4><b>col-xs=12</b> col-sm=6 col-md=6 col-lg=4</mv-container-item>
		</mv-container>
	</mv-card>

	<mv-card class="ejemploEsquemaResponsiveSm">
		<p>Ejemplo para entender como decidir el reparto de la información según el sistema del grid de 12 columnas:</p>
		<mv-container>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4>col-xs=12 <b>col-sm=6</b> col-md=6 col-lg=4</mv-container-item>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4>col-xs=12 <b>col-sm=6</b> col-md=6 col-lg=4</mv-container-item>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4>col-xs=12 <b>col-sm=6</b> col-md=6 col-lg=4</mv-container-item>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4>col-xs=12 <b>col-sm=6</b> col-md=6 col-lg=4</mv-container-item>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4>col-xs=12 <b>col-sm=6</b> col-md=6 col-lg=4</mv-container-item>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4>col-xs=12 <b>col-sm=6</b> col-md=6 col-lg=4</mv-container-item>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4>col-xs=12 <b>col-sm=6</b> col-md=6 col-lg=4</mv-container-item>
		</mv-container>
	</mv-card>

	<mv-card class="ejemploEsquemaResponsiveMd">
		<p>Ejemplo para entender como decidir el reparto de la información según el sistema del grid de 12 columnas:</p>
		<mv-container>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4>col-xs=12 col-sm=6 <b>col-md=6</b> col-lg=4</mv-container-item>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4>col-xs=12 col-sm=6 <b>col-md=6</b> col-lg=4</mv-container-item>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4>col-xs=12 col-sm=6 <b>col-md=6</b> col-lg=4</mv-container-item>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4>col-xs=12 col-sm=6 <b>col-md=6</b> col-lg=4</mv-container-item>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4>col-xs=12 col-sm=6 <b>col-md=6</b> col-lg=4</mv-container-item>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4>col-xs=12 col-sm=6 <b>col-md=6</b> col-lg=4</mv-container-item>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4>col-xs=12 col-sm=6 <b>col-md=6</b> col-lg=4</mv-container-item>
		</mv-container>
	</mv-card>

	<mv-card class="ejemploEsquemaResponsiveLg">
		<p>Ejemplo para entender como decidir el reparto de la información según el sistema del grid de 12 columnas:</p>
		<mv-container>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4>col-xs=12 col-sm=6 col-md=6 <b>col-lg=4</b></mv-container-item>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4>col-xs=12 col-sm=6 col-md=6 <b>col-lg=4</b></mv-container-item>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4>col-xs=12 col-sm=6 col-md=6 <b>col-lg=4</b></mv-container-item>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4>col-xs=12 col-sm=6 col-md=6 <b>col-lg=4</b></mv-container-item>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4>col-xs=12 col-sm=6 col-md=6 <b>col-lg=4</b></mv-container-item>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4>col-xs=12 col-sm=6 col-md=6 <b>col-lg=4</b></mv-container-item>
			<mv-container-item class="mv-container-item-text-center" col-xs=12 col-sm=6 col-lg=4>col-xs=12 col-sm=6 col-md=6 <b>col-lg=4</b></mv-container-item>
		</mv-container>
	</mv-card>

	<mv-card id="appMaquetacionResponsiveEjemploFichas">
		<h3>Ejemplo de fichas</h3>
		<p>A continuación se mestra la implementación de un lista de fichas del que se desconoce el tamaño que puede tener, por ejemplo una lista de fichas de un equipo de desarrolladores de una empresa.</p>
		<p>Mediante el uso de los componentes <a href="#!/example-mova-container"><b>mv.movaContainer</b></a> y <a href="#!/example-mova-container-item"><b>mv.movaContainerItem</b></a> podemos organizar una lista de <b>N</b> elementos para que se ajuste a los distintos tamaños de viewport posibles.</p>
		<p>En este caso, para los dispositivos móviles más pequeños se mostrará un máximo de 1 ficha por fila, para el resto de dispositivos y tamaños un máximo de 2 fichas por fila, salvo para los dispositivos más grandes que se verán un máximo de 3 fichas por fila.</p>

		<mv-container class="app-maquetacion-responsive-ejemplo-developers">

			<mv-container-item col-xs=12 col-sm=6 col-lg=4 class="app-maquetacion-responsive-ejemplo-apps-developer mv-container-item-text-left">

				<mv-card
					title="C.E.O."
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-developer-background"
					shadow=true
					>

					<mv-input-image
						class="app-maquetacion-responsive-ejemplo-developer-img"
						src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Lee_Meriwether_2008.png/220px-Lee_Meriwether_2008.png"
						size="medium"
						circle=true
					  >
					</mv-input-image>

					<p class="app-maquetacion-responsive-ejemplo-developer-p"><b>Nombre:</b>&nbsp;Lee Meriwether</p>

					<p class="app-maquetacion-responsive-ejemplo-developer-p"><b>Antigüedad:</b>&nbsp;27 años</p>

					<p class="app-maquetacion-responsive-ejemplo-developer-p"><a target="_blank" href="https://es.wikipedia.org/wiki/Lee_Meriwether">https://es.wikipedia.org/wiki/Lee_Meriwether</a></p>

				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=12 col-sm=6 col-lg=4 class="app-maquetacion-responsive-ejemplo-apps-developer mv-container-item-text-left">

				<mv-card
					title="Team leader"
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-developer-background"
					shadow=true
					>

					<mv-input-image
						class="app-maquetacion-responsive-ejemplo-developer-img"
						src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Dimitri_Tiomkin_1957.JPG/220px-Dimitri_Tiomkin_1957.JPG"
						on-error-src="media/images/icon_user.png"
						size="medium"
						circle=true
					  >
					</mv-input-image>

					<p class="app-maquetacion-responsive-ejemplo-developer-p"><b>Nombre:</b>&nbsp;Dimitri Tiomkin</p>

					<p class="app-maquetacion-responsive-ejemplo-developer-p"><b>Antigüedad:</b>&nbsp;36 años</p>

					<p class="app-maquetacion-responsive-ejemplo-developer-p"><a target="_blank" href="https://es.wikipedia.org/wiki/Dimitri_Tiomkin">https://es.wikipedia.org/wiki/Dimitri_Tiomkin</a></p>

				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=12 col-sm=6 col-lg=4 class="app-maquetacion-responsive-ejemplo-apps-developer mv-container-item-text-left">

				<mv-card
					title="Comercial"
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-developer-background"
					shadow=true
					>

					<mv-input-image
						class="app-maquetacion-responsive-ejemplo-developer-img"
						src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Hoff_3.jpg/240px-Hoff_3.jpg"
						on-error-src="media/images/icon_user.png"
						size="medium"
						circle=true
					  >
					</mv-input-image>

					<p class="app-maquetacion-responsive-ejemplo-developer-p"><b>Nombre:</b>&nbsp;David Hasselhoff</p>

					<p class="app-maquetacion-responsive-ejemplo-developer-p"><b>Antigüedad:</b>&nbsp;12 años</p>

					<p class="app-maquetacion-responsive-ejemplo-developer-p"><a target="_blank" href="https://es.wikipedia.org/wiki/David_Hasselhoff">https://es.wikipedia.org/wiki/David_Hasselhoff</a></p>

				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=12 col-sm=6 col-lg=4 class="app-maquetacion-responsive-ejemplo-apps-developer mv-container-item-text-left">

				<mv-card
					title="Senior Developer"
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-developer-background"
					shadow=true
					>

					<mv-input-image
						class="app-maquetacion-responsive-ejemplo-developer-img"
						src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Brianna_Wu_next_to_Motorcycle.jpg/220px-Brianna_Wu_next_to_Motorcycle.jpg"
						on-error-src="media/images/icon_user.png"
						size="medium"
						circle=true
					  >
					</mv-input-image>

					<p class="app-maquetacion-responsive-ejemplo-developer-p"><b>Nombre:</b>&nbsp;Brianna Wu</p>

					<p class="app-maquetacion-responsive-ejemplo-developer-p"><b>Antigüedad:</b>&nbsp;11 años</p>

					<p class="app-maquetacion-responsive-ejemplo-developer-p"><a href="https://en.wikipedia.org/wiki/Brianna_Wu">https://en.wikipedia.org/wiki/Brianna_Wu</a></p>

				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=12 col-sm=6 col-lg=4 class="app-maquetacion-responsive-ejemplo-apps-developer mv-container-item-text-left">

				<mv-card
					title="Senior Developer"
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-developer-background"
					shadow=true
					>

					<mv-input-image
						class="app-maquetacion-responsive-ejemplo-developer-img"
						src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Kellee_Santiago_-_Game_Developers_Conference_2010_-_Day_1.jpg/200px-Kellee_Santiago_-_Game_Developers_Conference_2010_-_Day_1.jpg"
						on-error-src="media/images/icon_user.png"
						size="medium"
						circle=true
					  >
					</mv-input-image>

					<p class="app-maquetacion-responsive-ejemplo-developer-p"><b>Nombre:</b>&nbsp;Kellee Santiago</p>

					<p class="app-maquetacion-responsive-ejemplo-developer-p"><b>Antigüedad:</b>&nbsp;11 años</p>

					<p class="app-maquetacion-responsive-ejemplo-developer-p"><a href="https://en.wikipedia.org/wiki/Kellee_Santiago">https://en.wikipedia.org/wiki/Kellee_Santiago</a></p>

				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=12 col-sm=6 col-lg=4 class="app-maquetacion-responsive-ejemplo-apps-developer mv-container-item-text-left">

				<mv-card
					title="Senior Developer"
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-developer-background"
					shadow=true
					>

					<mv-input-image
						class="app-maquetacion-responsive-ejemplo-developer-img"
						src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Stephanie_harvey_crop.jpg/220px-Stephanie_harvey_crop.jpg"
						on-error-src="media/images/icon_user.png"
						size="medium"
						circle=true
					  >
					</mv-input-image>

					<p class="app-maquetacion-responsive-ejemplo-developer-p"><b>Nombre:</b>&nbsp;Stephanie Harvey</p>

					<p class="app-maquetacion-responsive-ejemplo-developer-p"><b>Antigüedad:</b>&nbsp;10 años</p>

					<p class="app-maquetacion-responsive-ejemplo-developer-p"><a target="_blank" href="https://es.wikipedia.org/wiki/Stephanie_Harvey">https://es.wikipedia.org/wiki/Stephanie_Harvey</a></p>

				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=12 col-sm=6 col-lg=4 class="app-maquetacion-responsive-ejemplo-apps-developer mv-container-item-text-left">

				<mv-card
					title="Junior Developer"
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-developer-background"
					shadow=true
					>

					<mv-input-image
						class="app-maquetacion-responsive-ejemplo-developer-img"
						src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Bill_Gates_June_2015.jpg/260px-Bill_Gates_June_2015.jpg"
						on-error-src="media/images/icon_user.png"
						size="medium"
						circle=true
					  >
					</mv-input-image>

					<p class="app-maquetacion-responsive-ejemplo-developer-p"><b>Nombre:</b>&nbsp;Bill Gates</p>

					<p class="app-maquetacion-responsive-ejemplo-developer-p"><b>Antigüedad:</b>&nbsp;2 años</p>

					<p class="app-maquetacion-responsive-ejemplo-developer-p"><a target="_blank" href="https://es.wikipedia.org/wiki/Bill_Gates">https://es.wikipedia.org/wiki/Bill_Gates</a></p>

				</mv-card>

			</mv-container-item>

			<!--<mv-container-item col-xs=12 col-sm=6 col-lg=4 class="app-maquetacion-responsive-ejemplo-apps-developer mv-container-item-text-left">

				<mv-card
					title="Scholar in practices"
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-developer-background"
					shadow=true
					>

					<mv-input-image
						class="app-maquetacion-responsive-ejemplo-developer-img"
						src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Steve_Jobs_Headshot_2010-CROP.jpg/240px-Steve_Jobs_Headshot_2010-CROP.jpg"
						on-error-src="media/images/icon_user.png"
						size="medium"
						circle=true
					  >
					</mv-input-image>

					<p class="app-maquetacion-responsive-ejemplo-developer-p"><b>Nombre:</b>&nbsp;Bill Gates</p>

					<p class="app-maquetacion-responsive-ejemplo-developer-p"><b>Antigüedad:</b>&nbsp;4 meses</p>

					<p class="app-maquetacion-responsive-ejemplo-developer-p"><a target="_blank" href="https://es.wikipedia.org/wiki/Steve_Jobs">https://es.wikipedia.org/wiki/Steve_Jobs</a></p>

				</mv-card>

			</mv-container-item>-->

		</mv-container>

	</mv-card>

	<mv-card id="appMaquetacionResponsiveEjemploBotonera">
		<h3>Ejemplo de botonera</h3>
		<p>A continuación se mestra la implementación de una botonera de la que se desconoce el tamaño que puede tener, por ejemplo una lista de Apps.</p>
		<p>Mediante el uso de los componentes <a href="#!/example-mova-container"><b>mv.movaContainer</b></a> y <a href="#!/example-mova-container-item"><b>mv.movaContainerItem</b></a> podemos organizar una lista de <b>N</b> elementos para que se ajuste a los distintos tamaños de viewport posibles.</p>
		<p>En este caso, para los dispositivos móviles más pequeños se mostrará un máximo de 3 Apps por fila, para los dispositivos móviles de tamaño mediano se mostrará un máximo de 4 Apps por fila, para los dispositivos móviles o de escritorio grandes se mostrará un máximo de 6 Apps por fila y finalmente para los dispositivos de cualquier tipo más grandes un máximo de 12 Apps por fila.</p>

		<mv-container class="app-maquetacion-responsive-ejemplo-apps">

			<mv-container-item col-xs=4 col-sm=3 col-md=2 col-lg=1 class="app-maquetacion-responsive-ejemplo-apps-app mv-container-item-text-center">

				<mv-card
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-app-background"
					>
					<i class="app-maquetacion-responsive-ejemplo-apps-app-icon fas fa-credit-card"></i>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=4 col-sm=3 col-md=2 col-lg=1 class="app-maquetacion-responsive-ejemplo-apps-app mv-container-item-text-center">

				<mv-card
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-app-background"
					>
					<i class="app-maquetacion-responsive-ejemplo-apps-app-icon fa fa-home"></i>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=4 col-sm=3 col-md=2 col-lg=1 class="app-maquetacion-responsive-ejemplo-apps-app mv-container-item-text-center">

				<mv-card
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-app-background"
					>
					<i class="app-maquetacion-responsive-ejemplo-apps-app-icon fa fa-adjust"></i>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=4 col-sm=3 col-md=2 col-lg=1 class="app-maquetacion-responsive-ejemplo-apps-app mv-container-item-text-center">

				<mv-card
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-app-background"
					>
					<i class="app-maquetacion-responsive-ejemplo-apps-app-icon fa fa-car"></i>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=4 col-sm=3 col-md=2 col-lg=1 class="app-maquetacion-responsive-ejemplo-apps-app mv-container-item-text-center">

				<mv-card
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-app-background"
					>
					<i class="app-maquetacion-responsive-ejemplo-apps-app-icon fa fa-bath"></i>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=4 col-sm=3 col-md=2 col-lg=1 class="app-maquetacion-responsive-ejemplo-apps-app mv-container-item-text-center">

				<mv-card
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-app-background"
					>
					<i class="app-maquetacion-responsive-ejemplo-apps-app-icon fa fa-bullhorn"></i>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=4 col-sm=3 col-md=2 col-lg=1 class="app-maquetacion-responsive-ejemplo-apps-app mv-container-item-text-center">

				<mv-card
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-app-background"
					>
					<i class="app-maquetacion-responsive-ejemplo-apps-app-icon fa fa-camera-retro"></i>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=4 col-sm=3 col-md=2 col-lg=1 class="app-maquetacion-responsive-ejemplo-apps-app mv-container-item-text-center">

				<mv-card
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-app-background"
					>
					<i class="app-maquetacion-responsive-ejemplo-apps-app-icon fa fa-beer"></i>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=4 col-sm=3 col-md=2 col-lg=1 class="app-maquetacion-responsive-ejemplo-apps-app mv-container-item-text-center">

				<mv-card
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-app-background"
					>
					<i class="app-maquetacion-responsive-ejemplo-apps-app-icon fa fa-bus"></i>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=4 col-sm=3 col-md=2 col-lg=1 class="app-maquetacion-responsive-ejemplo-apps-app mv-container-item-text-center">

				<mv-card
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-app-background"
					>
					<i class="app-maquetacion-responsive-ejemplo-apps-app-icon far fa-heart"></i>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=4 col-sm=3 col-md=2 col-lg=1 class="app-maquetacion-responsive-ejemplo-apps-app mv-container-item-text-center">

				<mv-card
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-app-background"
					>
					<i class="app-maquetacion-responsive-ejemplo-apps-app-icon fas fa-gavel"></i>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=4 col-sm=3 col-md=2 col-lg=1 class="app-maquetacion-responsive-ejemplo-apps-app mv-container-item-text-center">

				<mv-card
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-app-background"
					>
					<i class="app-maquetacion-responsive-ejemplo-apps-app-icon fas fa-mobile-alt"></i>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=4 col-sm=3 col-md=2 col-lg=1 class="app-maquetacion-responsive-ejemplo-apps-app mv-container-item-text-center">

				<mv-card
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-app-background"
					>
					<i class="app-maquetacion-responsive-ejemplo-apps-app-icon fa fa-paper-plane"></i>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=4 col-sm=3 col-md=2 col-lg=1 class="app-maquetacion-responsive-ejemplo-apps-app mv-container-item-text-center">

				<mv-card
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-app-background"
					>
					<i class="app-maquetacion-responsive-ejemplo-apps-app-icon far fa-hand-spock"></i>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=4 col-sm=3 col-md=2 col-lg=1 class="app-maquetacion-responsive-ejemplo-apps-app mv-container-item-text-center">

				<mv-card
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-app-background"
					>
					<i class="app-maquetacion-responsive-ejemplo-apps-app-icon fa fa-inbox"></i>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=4 col-sm=3 col-md=2 col-lg=1 class="app-maquetacion-responsive-ejemplo-apps-app mv-container-item-text-center">

				<mv-card
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-app-background"
					>
					<i class="app-maquetacion-responsive-ejemplo-apps-app-icon fa fa-leaf"></i>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=4 col-sm=3 col-md=2 col-lg=1 class="app-maquetacion-responsive-ejemplo-apps-app mv-container-item-text-center">

				<mv-card
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-app-background"
					>
					<i class="app-maquetacion-responsive-ejemplo-apps-app-icon fa fa-map"></i>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=4 col-sm=3 col-md=2 col-lg=1 class="app-maquetacion-responsive-ejemplo-apps-app mv-container-item-text-center">

				<mv-card
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-app-background"
					>
					<i class="app-maquetacion-responsive-ejemplo-apps-app-icon fas fa-cut"></i>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=4 col-sm=3 col-md=2 col-lg=1 class="app-maquetacion-responsive-ejemplo-apps-app mv-container-item-text-center">

				<mv-card
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-app-background"
					>
					<i class="app-maquetacion-responsive-ejemplo-apps-app-icon fa fa-magic"></i>
				</mv-card>

			</mv-container-item>

			<mv-container-item col-xs=4 col-sm=3 col-md=2 col-lg=1 class="app-maquetacion-responsive-ejemplo-apps-app mv-container-item-text-center">

				<mv-card
					default-css=false
					class="app-maquetacion-responsive-ejemplo-apps-app-background"
					>
					<i class="app-maquetacion-responsive-ejemplo-apps-app-icon fa fa-print"></i>
				</mv-card>

			</mv-container-item>

		</mv-container>

	</mv-card>

	<mv-card id="appMaquetacionResponsiveEjemploMediaQueries">

		<h3>Ejemplo con Media Queries</h3>
		<p>A continuación se mestra la implementación de unos elementos que se muestran de forma diferente dependiendo del tamaño del viewport del dispositivo.</p>
		<p>En este ejemplo se utilizan los media queries definidos en el fichero <b>src/app/styles/layout-news.scss</b>. Al final de deste documento puedes encontrar el código de los media queries vacio y preparado para funcionar según los tamaños de los atributos col-xs, col-sm, col-md y col-lg de los componentes <a href="#!/example-mova-container"><b>mv.movaContainer</b></a> y <a href="#!/example-mova-container-item"><b>mv.movaContainerItem</b></a>.</p>
		<p>Estos media queries no deben usarse directamente en <b>src/app/styles/layout-news.scss</b>, deben copiarse y usarse en el fichero de estilos de cada componente de forma independiente.</p>
		<p>En el ejemplo podemos ver como se pueden aplicar unos estilos CSS distintos a los elementos de la vista dependiendo del tamaño del viewport del dispositivo. En este caso se muestra o se ocultan unos botones para informar al usuario del tamaño de su dispositivo.</p>

			<mv-card
				class="app-maquetacion-responsive-ejemplo-media-querie-001"
				default-css= false
				>

				<mv-button class="app-maquetacion-responsive-ejemplo-media-querie-button-001"
				btn-type="default">
					Soy pequeño
				</mv-button>
			</mv-card>

			<mv-card
				class="app-maquetacion-responsive-ejemplo-media-querie-002"
				default-css= false
				>

				<mv-button class="app-maquetacion-responsive-ejemplo-media-querie-button-002"
					btn-type="default">
					Soy mediano
				</mv-button>
			</mv-card>

			<mv-card
				class="app-maquetacion-responsive-ejemplo-media-querie-003"
				default-css= false
				>

				<mv-button class="app-maquetacion-responsive-ejemplo-media-querie-button-003"
					btn-type="default">
					Soy grande
				</mv-button>
			</mv-card>

		</mv-card>

	</mv-card>

</mv-screen>
