/*
╔══════════════════════════════════╗
║ app-maquetacion-responsive style ║
╚══════════════════════════════════╝
*/
app-maquetacion-responsive {
	
	@include view-style;

	width: 100%;
	height: 100%;
	position: fixed;
  	overflow: auto;

  	$app-maquetacion-responsive-color-icon: #30312a;
  	$app-maquetacion-responsive-color-back-001: #accccf;
  	$app-maquetacion-responsive-color-back-002: #dd512c;
  	$app-maquetacion-responsive-color-back-003: #6130bf;
  	$app-maquetacion-responsive-color-back-004: #5cbe43;
  	$app-maquetacion-responsive-color-back-005: #d03fcb;
  	$app-maquetacion-responsive-color-back-006: #b2b547;
  	$app-maquetacion-responsive-color-back-007: #417152;
  	$app-maquetacion-responsive-color-back-008: #57b2c0;
  	$app-maquetacion-responsive-color-back-009: #d5435a;
  	$app-maquetacion-responsive-color-back-010: #af92c5;
  	$app-maquetacion-responsive-color-back-011: #69ba88;
  	$app-maquetacion-responsive-color-back-012: #c78c36;
  	$app-maquetacion-responsive-color-back-013: #7082dc;
  	$app-maquetacion-responsive-color-back-014: #812c7e;
  	$app-maquetacion-responsive-color-back-015: #ce9171;
  	$app-maquetacion-responsive-color-back-016: #5d7f31;
  	$app-maquetacion-responsive-color-back-017: #b4c087;
  	$app-maquetacion-responsive-color-back-018: #e6ac8f;
  	$app-maquetacion-responsive-color-back-019: #9bebd1;
  	$app-maquetacion-responsive-color-back-020: #bcaad6;

  	// Estilo de mv.movaContainer
  	.app-maquetacion-responsive-ejemplo-apps {

  		// Estilo de mv.movaContainerItem
  		.app-maquetacion-responsive-ejemplo-apps-app {

  			// Estilo de mv.movaCard que simula fondo de una app
  			.app-maquetacion-responsive-ejemplo-apps-app-background {

  				margin-bottom: 1rem;

  				// Estilo del icono de la App
		  		.app-maquetacion-responsive-ejemplo-apps-app-icon {

  					@include mx-round-corners-default();

  					min-width: 4rem;
  					min-height: 4rem;
		  			font-size: $font-size-super-big;
		  			color: $app-maquetacion-responsive-color-icon;
	  				padding: 0.55rem;
	  				background-color: $app-maquetacion-responsive-color-back-001;
	  				border: solid medium $app-maquetacion-responsive-color-icon;
	  				text-align: center;
		  		}
	  		}
	  	}

  		.app-maquetacion-responsive-ejemplo-apps-app:nth-child(2) {
  			.app-maquetacion-responsive-ejemplo-apps-app-background {
  				.app-maquetacion-responsive-ejemplo-apps-app-icon {
				background-color: $app-maquetacion-responsive-color-back-002;	
				}
			}	  			
  		}
  		.app-maquetacion-responsive-ejemplo-apps-app:nth-child(3) {
  			.app-maquetacion-responsive-ejemplo-apps-app-background {
  				.app-maquetacion-responsive-ejemplo-apps-app-icon {
				background-color: $app-maquetacion-responsive-color-back-003;	
				}
			}	  			
  		}
  		.app-maquetacion-responsive-ejemplo-apps-app:nth-child(4) {
  			.app-maquetacion-responsive-ejemplo-apps-app-background {
  				.app-maquetacion-responsive-ejemplo-apps-app-icon {
				background-color: $app-maquetacion-responsive-color-back-004;	
				}
			}	  			
  		}
  		.app-maquetacion-responsive-ejemplo-apps-app:nth-child(5) {
  			.app-maquetacion-responsive-ejemplo-apps-app-background {
  				.app-maquetacion-responsive-ejemplo-apps-app-icon {
				background-color: $app-maquetacion-responsive-color-back-005;	
				}
			}	  			
  		}
  		.app-maquetacion-responsive-ejemplo-apps-app:nth-child(6) {
  			.app-maquetacion-responsive-ejemplo-apps-app-background {
  				.app-maquetacion-responsive-ejemplo-apps-app-icon {
				background-color: $app-maquetacion-responsive-color-back-006;	
				}
			}	  			
  		}
  		.app-maquetacion-responsive-ejemplo-apps-app:nth-child(7) {
  			.app-maquetacion-responsive-ejemplo-apps-app-background {
  				.app-maquetacion-responsive-ejemplo-apps-app-icon {
				background-color: $app-maquetacion-responsive-color-back-007;	
				}
			}	  			
  		}
  		.app-maquetacion-responsive-ejemplo-apps-app:nth-child(8) {
  			.app-maquetacion-responsive-ejemplo-apps-app-background {
  				.app-maquetacion-responsive-ejemplo-apps-app-icon {
				background-color: $app-maquetacion-responsive-color-back-008;	
				}
			}	  			
  		}
  		.app-maquetacion-responsive-ejemplo-apps-app:nth-child(9) {
  			.app-maquetacion-responsive-ejemplo-apps-app-background {
  				.app-maquetacion-responsive-ejemplo-apps-app-icon {
				background-color: $app-maquetacion-responsive-color-back-009;	
				}
			}	  			
  		}
  		.app-maquetacion-responsive-ejemplo-apps-app:nth-child(10) {
  			.app-maquetacion-responsive-ejemplo-apps-app-background {
  				.app-maquetacion-responsive-ejemplo-apps-app-icon {
				background-color: $app-maquetacion-responsive-color-back-010;	
				}
			}	  			
  		}
  		.app-maquetacion-responsive-ejemplo-apps-app:nth-child(11) {
  			.app-maquetacion-responsive-ejemplo-apps-app-background {
  				.app-maquetacion-responsive-ejemplo-apps-app-icon {
				background-color: $app-maquetacion-responsive-color-back-011;	
				}
			}	  			
  		}
  		.app-maquetacion-responsive-ejemplo-apps-app:nth-child(12) {
  			.app-maquetacion-responsive-ejemplo-apps-app-background {
  				.app-maquetacion-responsive-ejemplo-apps-app-icon {
				background-color: $app-maquetacion-responsive-color-back-012;	
				}
			}	  			
  		}
  		.app-maquetacion-responsive-ejemplo-apps-app:nth-child(13) {
  			.app-maquetacion-responsive-ejemplo-apps-app-background {
  				.app-maquetacion-responsive-ejemplo-apps-app-icon {
				background-color: $app-maquetacion-responsive-color-back-013;	
				}
			}	  			
  		}
  		.app-maquetacion-responsive-ejemplo-apps-app:nth-child(14) {
  			.app-maquetacion-responsive-ejemplo-apps-app-background {
  				.app-maquetacion-responsive-ejemplo-apps-app-icon {
				background-color: $app-maquetacion-responsive-color-back-014;	
				}
			}	  			
  		}
  		.app-maquetacion-responsive-ejemplo-apps-app:nth-child(15) {
  			.app-maquetacion-responsive-ejemplo-apps-app-background {
  				.app-maquetacion-responsive-ejemplo-apps-app-icon {
				background-color: $app-maquetacion-responsive-color-back-015;	
				}
			}	  			
  		}
  		.app-maquetacion-responsive-ejemplo-apps-app:nth-child(16) {
  			.app-maquetacion-responsive-ejemplo-apps-app-background {
  				.app-maquetacion-responsive-ejemplo-apps-app-icon {
				background-color: $app-maquetacion-responsive-color-back-016;	
				}
			}	  			
  		}
  		.app-maquetacion-responsive-ejemplo-apps-app:nth-child(17) {
  			.app-maquetacion-responsive-ejemplo-apps-app-background {
  				.app-maquetacion-responsive-ejemplo-apps-app-icon {
				background-color: $app-maquetacion-responsive-color-back-017;	
				}
			}	  			
  		}
  		.app-maquetacion-responsive-ejemplo-apps-app:nth-child(18) {
  			.app-maquetacion-responsive-ejemplo-apps-app-background {
  				.app-maquetacion-responsive-ejemplo-apps-app-icon {
				background-color: $app-maquetacion-responsive-color-back-018;	
				}
			}	  			
  		}
  		.app-maquetacion-responsive-ejemplo-apps-app:nth-child(19) {
  			.app-maquetacion-responsive-ejemplo-apps-app-background {
  				.app-maquetacion-responsive-ejemplo-apps-app-icon {
				background-color: $app-maquetacion-responsive-color-back-019;	
				}
			}	  			
  		}
  		.app-maquetacion-responsive-ejemplo-apps-app:nth-child(20) {
  			.app-maquetacion-responsive-ejemplo-apps-app-background {
  				.app-maquetacion-responsive-ejemplo-apps-app-icon {
				background-color: $app-maquetacion-responsive-color-back-020;	
				}
			}	  			
  		}
  	}

  	// Estilo de mv.movaContainer
  	.app-maquetacion-responsive-ejemplo-developers {

  		// Estilo de mv.movaContainerItem
  		.app-maquetacion-responsive-ejemplo-apps-developer {

  			// Estilo de mv.movaCard que simula fondo de una app
  			.app-maquetacion-responsive-ejemplo-apps-developer-background {

				@include mx-round-corners-default();

				padding: 0.55rem;
				border: solid thin $app-maquetacion-responsive-color-icon;
				min-height: 11rem;
  				margin-bottom: 1rem;
  				margin-right: 1rem;

  				// Estilo del icono de la App
  				.app-maquetacion-responsive-ejemplo-developer-img {

  					position: absolute;
  				}

  				.app-maquetacion-responsive-ejemplo-developer-p {
  					
  					margin-left: 7rem;
  					a {
  						@include mx-truncate();

  						display: inline-block;
  					}
  				}
  			}
  		}
  	}	

  	// Estilo del elemento 1 del ejemplo de media querie
  	.app-maquetacion-responsive-ejemplo-media-querie-001 {

  		// Estilo del boton del elemento 1 del ejemplo de media querie
  		.app-maquetacion-responsive-ejemplo-media-querie-button-001 {
  			width: 100%;
  			color: $app-maquetacion-responsive-color-back-004 !important;
  			font-weight: bold;
  		}
  	}

  	// Estilo del elemento 1 del ejemplo de media querie
  	.app-maquetacion-responsive-ejemplo-media-querie-002 {

  		// Estilo del boton del elemento 1 del ejemplo de media querie
  		.app-maquetacion-responsive-ejemplo-media-querie-button-002 {
  			width: 100%;
  			color: $app-maquetacion-responsive-color-back-002 !important;
  			font-weight: bold;
  		}
  	}

  	// Estilo del elemento 1 del ejemplo de media querie
  	.app-maquetacion-responsive-ejemplo-media-querie-003 {

  		// Estilo del boton del elemento 1 del ejemplo de media querie
  		.app-maquetacion-responsive-ejemplo-media-querie-button-003 {
  			width: 100%;
  			color: $app-maquetacion-responsive-color-back-003 !important;
  			font-weight: bold;
  		}
  	}

    .ejemploEsquemaResponsiveXs,
    .ejemploEsquemaResponsiveSm,
    .ejemploEsquemaResponsiveMd,
    .ejemploEsquemaResponsiveLg {
      .mv-card-alias-container-item {
        .mv-card-container {
          color: $color-primary-001-80;
          background-color: $color-primary-004-20;
          padding: 2pt;
          margin: 2pt;

          b {
            color: $color-primary-001;
          }
        }
      }
    }
}

/*
┌──────────────────┐
│ Bootstrap col-xs │
└──────────────────┘
*/

@media only screen and (max-width : $media-col-xs-max) {

	.app-maquetacion-responsive-ejemplo-media-querie-button-002 {
		display: none;
	}

	.app-maquetacion-responsive-ejemplo-media-querie-button-003 {
		display: none;
	}

  .ejemploEsquemaResponsiveXs {
    display: block;
  }

  .ejemploEsquemaResponsiveSm {
    display: none;
  }

  .ejemploEsquemaResponsiveMd {
    display: none;
  }

  .ejemploEsquemaResponsiveLg {
    display: none;
  }
}

/*
┌──────────────────┐
│ Bootstrap col-sm │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-sm-min) and (max-width : $media-col-sm-max) {
	.app-maquetacion-responsive-ejemplo-media-querie-button-001 {
		display: none;
	}

	.app-maquetacion-responsive-ejemplo-media-querie-button-003 {
		display: none;
	}

  .ejemploEsquemaResponsiveXs {
    display: none;
  }

  .ejemploEsquemaResponsiveSm {
    display: block;
  }

  .ejemploEsquemaResponsiveMd {
    display: none;
  }

  .ejemploEsquemaResponsiveLg {
    display: none;
  }
}

/*
┌──────────────────┐
│ Bootstrap col-md │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-md-min) and (max-width : $media-col-md-max) {

	.app-maquetacion-responsive-ejemplo-media-querie-button-001 {
		display: none;
	}

	.app-maquetacion-responsive-ejemplo-media-querie-button-002 {
		display: none;		
	}

  .ejemploEsquemaResponsiveXs {
    display: none;
  }

  .ejemploEsquemaResponsiveSm {
    display: none;
  }

  .ejemploEsquemaResponsiveMd {
    display: block;
  }

  .ejemploEsquemaResponsiveLg {
    display: none;
  }
}

/*
┌──────────────────┐
│ Bootstrap col-lg │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-lg-min) {

	.app-maquetacion-responsive-ejemplo-media-querie-button-001 {
		display: none;
	}

	.app-maquetacion-responsive-ejemplo-media-querie-button-002 {
		display: none;		
	}

  .ejemploEsquemaResponsiveXs {
    display: none;
  }

  .ejemploEsquemaResponsiveSm {
    display: none;
  }

  .ejemploEsquemaResponsiveMd {
    display: none;
  }

  .ejemploEsquemaResponsiveLg {
    display: block;
  }
}