<!-- app-example-mova-input-datepicker -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaInputDatepicker</h1>
		<br>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>Este componente debe usarse <b>siempre</b> con una propiedad model, en caso contrario fallará toda la App y podrá verse el error en la consola.</p>
		</mv-card>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>En algunas versiones de Android el datepicker puede no mostrar correctamente todos los días del més y en estos casos puede usarse este componente.</p>
			<p>En concreto el problema es que la ventana del datePicker nativo muestra tres opciones, "restaurar", "cancelar" y "aceptar". En ocasiones la pantalla del dispositivo es pequeña y el tamaño de la fuente del sistema un poco grande. Al no caber las tres opciones en una sola linea se muestra una encima de la otra, restando visibilidad al calendario que se muestra encima de estas y tapando la última semana del mes en algunos casos.</p>
		</mv-card>
		<p>Campo para seleccionar una fecha. Por defecto un <b>input</b> con su attributo <b>type</b> con valor <b>date</b> llamará al datePicker nativo del dispositivo.
		<p>Este componente acepta los siguientes atributos:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('adapt')" >adapt</a></li>
			<li><a href="" ng-click="$root.scrollTo('altInputFormats')" >alt-imput-formats</a></li>
			<li><a href="" ng-click="$root.scrollTo('change')" >change</a></li>
			<li><a href="" ng-click="$root.scrollTo('clearText')" >clear-text</a></li>
			<li><a href="" ng-click="$root.scrollTo('closeText')" >close-text</a></li>
			<li><a href="" ng-click="$root.scrollTo('currentText')" >clurrent-text</a></li>
			<li><a href="" ng-click="$root.scrollTo('disabled')" >disabled</a></li>
			<li><a href="" ng-click="$root.scrollTo('format')" >format</a></li>
			<li><a href="" ng-click="$root.scrollTo('isRequired')" >is-required</a></li>
			<li><a href="" ng-click="$root.scrollTo('label')" >label</a></li>
			<li><a href="" ng-click="$root.scrollTo('leftLabel')" >left-label</a></li>
			<li><a href="" ng-click="$root.scrollTo('leftLabelSm')" >left-label-sm</a></li>
			<li><a href="" ng-click="$root.scrollTo('leftLabelMd')" >left-label-md</a></li>
			<li><a href="" ng-click="$root.scrollTo('leftLabelLg')" >left-label-lg</a></li>
			<li><a href="" ng-click="$root.scrollTo('message')" >message</a></li>
			<li><a href="" ng-click="$root.scrollTo('messageType')" >message-type</a></li>
			<li><a href="" ng-click="$root.scrollTo('onOpenFocus')" >on-open-focus</a></li>
			<li><a href="" ng-click="$root.scrollTo('popupPlacement')" >popup-placement</a></li>
			<li><a href="" ng-click="$root.scrollTo('showButtonBar')" >show-button-bar</a></li>
			<li><a href="" ng-click="$root.scrollTo('tooltip')" >tooltip</a></li>
			<li><a href="" ng-click="$root.scrollTo('tooltipPosition')" >tooltip-position</a></li>
		</ul>
		<p>Este componente dispone de los siguientes eventos:</p>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>Para usar los eventos es necesario definir un atributo <b>id</b> en el componente.</p>
			<p>Este <b>id</b> debe ser <u>único para toda la App</u>.</p>
			<p>Para que el <b>id</b> sea único deberá seguir la siguiente estructura: <u>nombreFicheroNombreExplicativoNombreFuncion</u>.</p>
			<p>El componente ofrece los eventos mediante el siguiente código: <i>'rootScope:movaInput:<u>identificador</u>:<u>nombreDelEvento</u>'</i></p>
			<p>La palabra <u>identificador</u> debe sustituirse con el valor del atributo <b>id</b> del componente.</p>
			<p>La palabra <u>nombreDelEvento</u> debe sustituirse con el nombre del evento.</p>
		</mv-card>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('messageToggle')" >MessageToggle</a></li>
			<li><a href="" ng-click="$root.scrollTo('validate')" >Validate</a></li>
		</ul>
	</mv-card>

	<mv-card>
		<h2 class="title-2">Ejemplo de uso HTML y resultado</h2>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>Si se utiliza el atributo <b>id</b>, debido a la estructura generada por el componente, este id será utilizado en el elemeto <b>section</b> padre. Dentro se encontrará el elemento <b>input</b>.</p>
		</mv-card>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-datepicker<br>
				&emsp;&emsp;id="inputDatepickerPrueba"<br>
				><br>
				&lt;/mv-input-datepicker>
			</span>
		</code>
		<mv-input-datepicker id="inputDatepickerPrueba" model="datepickerValue001" alt-input-formats="['dd-MM-yyyy', 'yyyy-MM-dd']"></mv-input-datepicker>
	</mv-card>

	<mv-card
		id="adapt"
		>
		<h3 class="title-3">adapt</h3>
		<br>
		<p>La propiedad <b>adapt</b> permite que el componente se adapte al 100% del tamaño de su contenedor.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-datepicker<br>
				&emsp;&emsp;<b>adapt=true</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-datepicker>
			</span>
		</code>
		<mv-input-datepicker
			adapt=true
			model="datepickerValue001";
		>
		</mv-input-datepicker>
	</mv-card>

	<mv-card
		id="altInputFormats"
		>
		<h3 class="title-3">alt-input-formats</h3>
		<br>
		<p>La propiedad <b>alt-input-formats</b> permite configurar mediante un array, distintos formatos aceptados para que el usuario introduzca los datos mediante el teclado.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-datepicker<br>
				&emsp;&emsp;<b>alt-input-formats="['dd-MM-yyyy', 'yyyy-MM-dd', 'dd/MM/YYYY']"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-datepicker>
			</span>
		</code>
		<mv-input-datepicker
			alt-input-formats="['dd-MM-yyyy', 'yyyy-MM-dd', 'dd/MM/YYYY']"
			model="datepickerValue018";
		>
		</mv-input-datepicker>
	</mv-card>

	<mv-card
		id="change"
		>
		<h3 class="title-3">change</h3>
		<br>
		<p>La propiedad <b>change</b> permite ejecutar una función incluida en el <b>$scope</b>, cada vez que cambia el valor del input.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-datepicker<br>
				&emsp;&emsp;model="valorChange"<br>
				&emsp;&emsp;<b>change="funcionChange()";</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-datepicker>
			</span>
		</code>
		<mv-input-datepicker
			model="valorChange"
			change="funcionChange()";
		>
		</mv-input-datepicker>
	</mv-card>

	<mv-card
		id="clearText"
		>
		<h3 class="title-3">clear-text</h3>
		<br>
		<p>La propiedad <b>clear-text</b> permite cambiar el texto del botón que limpia el campo.</p>
		<p>Por defecto el valor es "Limpiar".</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-datepicker<br>
				&emsp;&emsp;model="valorChange"<br>
				&emsp;&emsp;<b>clear-text="Resetear"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-datepicker>
			</span>
		</code>
		<mv-input-datepicker
			model="valorChange"
			clear-text="Resetear"
			model="datepickerValue011"
		>
		</mv-input-datepicker>
	</mv-card>

	<mv-card
		id="closeText"
		>
		<h3 class="title-3">close-text</h3>
		<br>
		<p>La propiedad <b>close-text</b> permite cambiar el texto del botón que cierra el popup.</p>
		<p>Por defecto el valor es "Aceptar".</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-datepicker<br>
				&emsp;&emsp;model="valorChange"<br>
				&emsp;&emsp;<b>close-text="Confirmar"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-datepicker>
			</span>
		</code>
		<mv-input-datepicker
			model="valorChange"
			close-text="Confirmar"
			model="datepickerValue011"
		>
		</mv-input-datepicker>
	</mv-card>

	<mv-card
		id="currentText"
		>
		<h3 class="title-3">current-text</h3>
		<br>
		<p>La propiedad <b>current-text</b> permite cambiar el texto del botón que pone la fecha actual.</p>
		<p>Por defecto el valor es "Hoy".</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-datepicker<br>
				&emsp;&emsp;model="valorChange"<br>
				&emsp;&emsp;<b>current-text="Actual"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-datepicker>
			</span>
		</code>
		<mv-input-datepicker
			model="valorChange"
			current-text="Actual"
			model="datepickerValue011"
		>
		</mv-input-datepicker>
	</mv-card>

	<mv-card
		id="disabled"
		>
		<h3 class="title-3">disabled</h3>
		<br>
		<p>La propiedad <b>disabled</b> permite desactivar el componente.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-datepicker<br>
				&emsp;&emsp;<b>disabled=true</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-datepicker>
			</span>
		</code>
		<mv-input-datepicker
			model="datepickerValue002"
			disabled=true
		>
		</mv-input-datepicker>
	</mv-card>

	<mv-card
		id="format"
		>
		<h3 class="title-3">format</h3>
		<br>
		<p>La propiedad <b>format</b> permite establecer el formato para el contenido del datepicker.</p>
		<p>El valor por defecto es dd/MM/yyyy</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-datepicker<br>
				&emsp;&emsp;<b>format="yyyy-MM-dd"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-datepicker>
			</span>
		</code>
		<mv-input-datepicker
			model="datepickerValue017"
			format="yyyy-MM-dd"
		>
		</mv-input-datepicker>
	</mv-card>


	<mv-card
		id="isRequired"
		>
		<h3 class="title-3">is-required</h3>
		<br>
		<p>La propiedad <b>is-required</b> permite definir el componente como obligatorio.</p>
		<p>Con el uso de la propiedad <b>is-required</b>, el elemento <b>&lt;input></b> generado contendra la propiedad <b>has-required</b> en caso de no cumplir la validación.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-datepicker<br>
				&emsp;&emsp;model="valorIsRequired"<br>
				&emsp;&emsp;<b>is-required=true</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-datepicker>
			</span>
		</code>
		<mv-input-datepicker
			model="valorIsRequired"
			is-required=true>
		</mv-input>
	</mv-card>

	<mv-card
		id="label"
		>
		<h3 class="title-3">label</h3>
		<br>
		<p>La propiedad <b>label</b> permite incluir una label para el input.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;<b>label="Esta es la label de prueba"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-input-datepicker
			label="Esta es la label de prueba"
			model="datepickerValue003"
		>
		</mv-input-datepicker>
	</mv-card>

	<mv-card
		id="leftLabel"
		>
		<h3 class="title-3">left-label</h3>
		<br>
		<p>Si la propiedad <b>left-label</b> no se utiliza o su valor es false la label del componente se posiciona en la parte superior.</p>
		<p>Si la propiedad <b>left-label</b> se utiliza con valor true cambia la forma de mostrar la label, en vez de encima se muestra a la izquierda del campo de texto.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-datepicker<br>
				&emsp;&emsp;<b>left-label=true</b><br>
				&emsp;&emsp;label="Esta es la label de prueba"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input-datepicker>
			</span>
		</code>
		<p>Ejemplo de label a la izquierda en campo de texto:</p>
		<mv-input-datepicker
			left-label=true
			label="Nombre y apellidos"
			model="datepickerValue004"
		>
		</mv-input-datepicker>
		<p>Ejemplo de label a la izquierda en campo de texto con mensaje:</p>
		<mv-input-datepicker
			left-label=true
			label="Nombre y apellidos"
			message="Mensaje de prueba"
			model="datepickerValue004"
		>
		</mv-input-datepicker>
		<p>Ejemplo de label a la izquierda en campo de texto con adapt:</p>
		<mv-input-datepicker
			adapt=true
			left-label=true
			label="Nombre y apellidos"
			model="datepickerValue004"
		>
		</mv-input-datepicker>
		<p>Ejemplo de label a la izquierda en campo de texto con mensaje y adapt:</p>
		<mv-input-datepicker
			adapt=true
			left-label=true
			label="Nombre y apellidos"
			message="Mensaje de prueba"
			model="datepickerValue004"
		>
		</mv-input-datepicker>
		<p>Ejemplo de label a la izquierda en campo de texto con icono a la izquierda:</p>
		<mv-input-datepicker
			icon-class="fa fa-anchor"
			left-label=true
			label="Nombre y apellidos"
			model="datepickerValue004"
		>
		</mv-input-datepicker>
		</mv-input-datepicker>
		<p>Ejemplo de label a la izquierda para tamaño de viewport sm:</p>
		<mv-input-datepicker
			left-label-sm=true
			label="Nombre y apellidos"
			model="datepickerValue004"
		>
		</mv-input-datepicker>
		<p>Ejemplo de label a la izquierda para tamaño de viewport md:</p>
		<mv-input-datepicker
			left-label-md=true
			label="Nombre y apellidos"
			model="datepickerValue004"
		>
		</mv-input-datepicker>
		<p>Ejemplo de label a la izquierda para tamaño de viewport lg:</p>
		<mv-input-datepicker
			left-label-lg=true
			label="Nombre y apellidos"
			model="datepickerValue004"
		>
		</mv-input-datepicker>
	</mv-card>

	<mv-card
		id="leftLabelSm"
		>
		<h3 class="title-3">left-label-sm</h3>
		<br>
		<p>La propiedad <b>left-label-sm</b> realiza la función del atributo <b>left-label</b> para el tamaño de viewport <b>sm</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-datepicker<br>
				&emsp;&emsp;<b>left-label-sm=true</b><br>
				&emsp;&emsp;label="Esta es la label de prueba"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input-datepicker>
			</span>
		</code>
		<p>Ejemplo de label a la izquierda para tamaño de viewport sm:</p>
		<mv-input-datepicker
			left-label-sm=true
			label="Nombre y apellidos"
			model="datepickerValue005"
		>
		</mv-input-datepicker>
		<p>Ejemplo de label a la izquierda para tamaño de viewport sm con adapt:</p>
		<mv-input-datepicker
			adapt=true
			left-label-sm=true
			label="Nombre y apellidos"
			model="datepickerValue005"
		>
		</mv-input-datepicker>
	</mv-card>

	<mv-card
		id="leftLabelMd"
		>
		<h3 class="title-3">left-label-md</h3>
		<br>
		<p>La propiedad <b>left-label-md</b> realiza la función del atributo <b>left-label</b> para el tamaño de viewport <b>md</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-datepicker<br>
				&emsp;&emsp;<b>left-label-md=true</b><br>
				&emsp;&emsp;label="Esta es la label de prueba"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input-datepicker>
			</span>
		</code>
		<p>Ejemplo de label a la izquierda para tamaño de viewport md:</p>
		<mv-input-datepicker
			left-label-md=true
			label="Nombre y apellidos"
			model="datepickerValue006"
		>
		</mv-input-datepicker>
		<p>Ejemplo de label a la izquierda para tamaño de viewport md con adapt:</p>
		<mv-input-datepicker
			adapt=true
			left-label-md=true
			label="Nombre y apellidos"
			model="datepickerValue006"
		>
		</mv-input-datepicker>
	</mv-card>

	<mv-card
		id="leftLabelLg"
		>
		<h3 class="title-3">left-label-lg</h3>
		<br>
		<p>La propiedad <b>left-label-lg</b> realiza la función del atributo <b>left-label</b> para el tamaño de viewport <b>lg</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-datepicker<br>
				&emsp;&emsp;<b>left-label-lg=true</b><br>
				&emsp;&emsp;label="Esta es la label de prueba"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input-datepicker>
			</span>
		</code>
		<p>Ejemplo de label a la izquierda para tamaño de viewport lg:</p>
		<mv-input-datepicker
			left-label-lg=true
			label="Nombre y apellidos"
			model="datepickerValue007"
		>
		</mv-input-datepicker>
		<p>Ejemplo de label a la izquierda para tamaño de viewport lg con adapt:</p>
		<mv-input-datepicker
			adapt=true
			left-label-lg=true
			label="Nombre y apellidos"
			model="datepickerValue007"
		>
		</mv-input-datepicker>
	</mv-card>

	<mv-card
		id="message"
		>
		<h3 class="title-3">message</h3>
		<br>
		<p>La propiedad <b>message</b> permite incluir una texto de una linea que aparecerá en la parte inferior del input.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-datepicker<br>
				&emsp;&emsp;<b>message="Este es el mensaje de prueba"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-datepicker>
			</span>
		</code>
		<mv-input-datepicker
			message="Este es el mensaje de prueba"
			model="datepickerValue008"
		>
		</mv-input-datepicker>
	</mv-card>

	<mv-card
		id="messageType"
		>
		<h3 class="title-3">message-type</h3>
		<br>
		<p>La propiedad <b>message-type</b> permite modificar el estilo del mensaje.</p>
		<p>por defecto, si no se especifica la propiedad el valor es danger.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-datepicker<br>
				&emsp;&emsp;message="Estilo warning.<br>
				&emsp;&emsp;<b>message-type="danger"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-datepicker>
			</span>
		</code>
		<mv-input-datepicker
			message="Estilo danger."
			message-type="danger"
			model="datepickerValue009"
		>
		</mv-input-datepicker>
		<br>
		<mv-input-datepicker
			message="Estilo warning."
			message-type="warning"
			model="datepickerValue009"
		>
		</mv-input-datepicker>
		<br>
		<mv-input-datepicker
			message="Estilo success."
			message-type="success"
			model="datepickerValue009"
		>
		</mv-input-datepicker>
		<br>
		<mv-input-datepicker
			message="Estilo info."
			message-type="info"
			model="datepickerValue009"
		>
		</mv-input-datepicker>
	</mv-card>

	<mv-card
		id="onOpenFocus"
		>
		<h3 class="title-3">on-open-focus</h3>
		<br>
		<p>La propiedad <b>on-open-focus</b> permite que el foco se posicione en el popup al mostrarse o no.</p>
		<p>El valor por defecto es true.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-datepicker<br>
				&emsp;&emsp;<b>on-open-focus=false</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-datepicker>
			</span>
		</code>
		<mv-input-datepicker
			on-open-focus=false
			model="datepickerValue016"
		>
		</mv-input-datepicker>
	</mv-card>

	<mv-card
		id="popupPlacement"
		>
		<h3 class="title-3">popup-placement</h3>
		<br>
		<p>La propiedad <b>popup-placement</b> permite definir por donde debe aparecer el popup respecto al campo.</p>
		<p>Por defecto, si no se especifica la propiedad el valor es 'auto bottom-left'.</p>
		<p>Si se incluye el valor auto a demás del valor elegido se activa el autoposicionamiento</p>
		<p>Los posibles valores son: top, top-left, top-right, bottom, bottom-left, bottom-right, left, left-top, left-bottom, right,  right-top,
right-bottom</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-datepicker<br>
				&emsp;&emsp;<b>popup-placement="bottom-left"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-datepicker>
			</span>
		</code>
		<mv-input-datepicker
			popup-placement="top"
			model="datepickerValue015"
		>
		</mv-input-datepicker>
		<br>
		<mv-input-datepicker
			popup-placement="top-left"
			model="datepickerValue015"
		>
		</mv-input-datepicker>
		<br>
		<mv-input-datepicker
			popup-placement="top-right"
			model="datepickerValue015"
		>
		</mv-input-datepicker>
		<br>
		<mv-input-datepicker
			popup-placement="bottom"
			model="datepickerValue015"
		>
		</mv-input-datepicker>
		<br>
		<mv-input-datepicker
			popup-placement="bottom-left"
			model="datepickerValue015"
		>
		</mv-input-datepicker>
		<br>
		<mv-input-datepicker
			popup-placement="bottom-right"
			model="datepickerValue015"
		>
		</mv-input-datepicker>
		<br>
		<mv-input-datepicker
			popup-placement="left"
			model="datepickerValue015"
		>
		</mv-input-datepicker>
		<br>
		<mv-input-datepicker
			popup-placement="left-top"
			model="datepickerValue015"
		>
		</mv-input-datepicker>
		<br>
		<mv-input-datepicker
			popup-placement="left-bottom"
			model="datepickerValue015"
		>
		</mv-input-datepicker>
		<br>
		<mv-input-datepicker
			popup-placement="right"
			model="datepickerValue015"
		>
		</mv-input-datepicker>
		<br>
		<mv-input-datepicker
			popup-placement="right-top"
			model="datepickerValue015"
		>
		</mv-input-datepicker>
		<br>
		<mv-input-datepicker
			popup-placement="right-bottom"
			model="datepickerValue015"
		>
		</mv-input-datepicker>
	</mv-card>

	<mv-card
		id="showButtonBar"
		>
		<h3 class="title-3">show-button-bar</h3>
		<br>
		<p>La propiedad <b>show-button-bar</b> mostrar u ocultar los botones del popup.</p>
		<p>Por defecto, su valor es true.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-datepicker<br>
				&emsp;&emsp;icon-class="fa fa-anchor"<br>
				&emsp;&emsp;<b>show-button-bar=false</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-datepicker>
			</span>
		</code>
		<mv-input-datepicker
			icon-class="fa fa-anchor"
			show-button-bar=false
			model="datepickerValue014"
		>
		</mv-input-datepicker>
	</mv-card>

	<mv-card
		id="tooltip"
		>
		<h3 class="title-3">tooltip</h3>
		<br>
		<p>La propiedad <b>tooltip</b> permite visualizar un tooltip al pasar el ratón por encima del componente</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-datepicker<br>
				&emsp;&emsp;icon-class="fa fa-anchor"<br>
				&emsp;&emsp;show-button-bar=false<br>
				&emsp;&emsp;<b>tooltip="Tooltip de ejemplo"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-datepicker>
			</span>
		</code>
		<mv-input-datepicker
			icon-class="fa fa-anchor"
			show-button-bar=false
			model="datepickerValue014"
			tooltip="Tooltip de ejemplo"
			tooltip-position="right"
		>
		</mv-input-datepicker>
	</mv-card>

	<mv-card
		id="tooltip-position"
		>
		<h3 class="title-3">tooltip-position</h3>
		<br>
		<p>La propiedad <b>tooltip-position</b> permite colocar el tooltip encima, a la derecha, a la izquierda o debajo del componente.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-datepicker<br>
				&emsp;&emsp;icon-class="fa fa-anchor"<br>
				&emsp;&emsp;show-button-bar=false<br>
				&emsp;&emsp;tooltip="Tooltip debajo"<br>
				&emsp;&emsp;<b>tooltip-position="bottom"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-datepicker>
			</span>
		</code>
		<mv-input-datepicker
			icon-class="fa fa-anchor"
			show-button-bar=false
			model="datepickerValue014"
			tooltip="Tooltip debajo"
			tooltip-position="bottom"
		>
		</mv-input-datepicker>
	</mv-card>

	<mv-card
		id="messageToggle"
		>
		<h3 class="title-3">Ev: MessageToggle</h3>
		<br>
		<p>El evento <b>MessageToggle</b> permite mostrar u ocultar el mensaje del componente.</p>
		<p>El evento <b>MessageToggle</b> puede recibir los siguientes parámetros en formato JSON :</p>
		<ul>
			<li><b>message</b>: Cadena de caracteres que se mostrará en el mensaje. Por defecto el mensaje a mostrar es ''.</li>
		</ul>
		<p>Se puede llamar a este evento desde el controlador de un componente mediante la siguiente instrucción:</p>
		<code>
			<badge>JavaScript</badge>
			let args = {<br>
			&emsp;&emsp;message: 'Mensaje de prueba'<br>
			}<br>
			$rootScope.$emit('rootScope:movaInput:<u>identificador</u>:MessageToggle', args);
		</code>
		<p>A continuación se muestra un ejemplo:</p>
		<mv-button
			btn-type="primary"
			click="messageToggleEjemplo()"
			>
			Mostrar u ocultar mensaje de prueba
		</mv-button>
		<br><br>
		<mv-input-datepicker
			id="appExampleMovaInputEjemploMessageToggleRemoto"
			model="datepickerValue010"
		>
		</mv-input-datepicker>
	</mv-card>

	<mv-card
		id="validate"
		>
		<h3 class="title-3">Ev: Validate</h3>
		<br>
		<p>El evento <b>Validate</b> permite validar el componente.</p>
		<p>El evento <b>Validate</b> puede recibir los siguientes parámetros en formato JSON:</p>
		<ul>
			<li><b>messageIsRequired</b>: Cadena de caracteres que se mostrará como mensaje en el caso de que la validación del componente mediante el atributo <b>is-required</b> sea erronea. Por defecto el mensaje a mostrar es 'Obligatorio'.</li>
			<li><b>messageValMax</b>: Cadena de caracteres que se mostrará como mensaje en el caso de que la validación del componente mediante el atributo <b>val-max</b> sea erronea. Por defecto el mensaje a mostrar es 'Valor máximo: (valor)'.</li>
			<li><b>messageValMin</b>: Cadena de caracteres que se mostrará como mensaje en el caso de que la validación del componente mediante el atributo <b>val-min</b> sea erronea. Por defecto el mensaje a mostrar es 'Valor mínimo: (valor)'.</li>
			<li><b>messageValRegex</b>: Cadena de caracteres que se mostrará como mensaje en el caso de que la validación del componente mediante el atributo <b>val-regex</b> sea erronea. Por defecto el mensaje a mostrar es 'Expresion regular incorrecta'.</li>
			<li><b>messageIsEmail</b>: Cadena de caracteres que se mostrará como mensaje en el caso de que la validación del componente mediante el atributo <b>is-email</b> sea erronea. Por defecto el mensaje a mostrar es 'Formato email incorrecto'.</li>
		</ul>
		<p>Se puede conocer en tiempo real si no se cumple la validación mediante los siguientes atributos del elemento <b>&lt;input></b> que se encuentra dentro del componente <b>&lt;mv-input></b>:
		<ul>
			<li><b>has-required</b> - Si no cumple la validación mediante el atributo <b>is-required</b>.</li>
			<li><b>has-max-value</b> - Si no cumple la validación mediante el atributo <b>val-max</b>.</li>
			<li><b>has-min-value</b> - Si no cumple la validación mediante el atributo <b>val-min</b>.</li>
			<li><b>has-regex</b> - Si no cumple la validación mediante el atributo <b>val-regex</b>.</li>
			<li><b>has-email</b> - Si no cumple la validación mediante el atributo <b>is-email</b>.</li>
		</ul>
		<p>Se puede llamar a este evento desde el controlador de un componente mediante la siguiente instrucción:</p>
		<code>
			<badge>JavaScript</badge>
			let args = {<br>
			&emsp;&emsp;messageIsRequired: 'Campo obligatorio',<br>
			&emsp;&emsp;messageValMax: 'El valor máximo es 10',<br>
			&emsp;&emsp;messageValMax: 'El valor mínimo es -10',<br>
			&emsp;&emsp;messageValMax: 'No se cumple la expresión regular',<br>
			&emsp;&emsp;messageValMax: 'No se cumple el formato email'<br>
			}<br>
			$rootScope.$emit('rootScope:movaInput:<u>identificador</u>:Validate', args);
		</code>
		<p>A continuación se muestra un ejemplo de campo obligatorio:</p>
		<mv-button
			btn-type="primary"
			click="validarEjemploInputObligatorio()"
			>
			Validar input obligatorio
		</mv-button>
		<br><br>
		<mv-input-datepicker
			id="appExampleMovaInputEjemploValidarInputObligatorioRemoto"
			model="valorIsRequired"
			is-required=true
			label="Campo obligatorio"
		>
		</mv-input-datepicker>
		{{ validarEjemploIsRequiredAttribute }}
	</mv-card>

</mv-screen>
