<!-- app-menu -->

<ul class="appMenuLateral">
	<li>
		<a href="#!/main-menu"><i class="fa fa-home"></i> Inicio</a>
	</li>
	<hr>
	<li>
		<mv-card
			bg-color="transparent"
			border-color="transparent"
			adapt=true
			>
			<li>
				<a href="#!/pantalla23"><i class="fa fa-home"></i> Hospital</a>
			</li>
			<li>
				<a href="#!/pantalla12"><i class="fa fa-home"></i> Pacientes</a>
			</li>
			<li>
				<a href="#!/pantalla11"><i class="fa fa-home"></i> Personal</a>
			</li>
		</mv-card>
	</li>
	<hr>
	<!--<li>
		<li>
			<a href="#!/example-mova"><i class="fa fa-graduation-cap"></i> Documentación</a>
		</li>
	</li>-->
</ul>
