/*
╔════════════════╗
║ app-menu style ║
╚════════════════╝
*/

app-menu {
	.appMenuLateral {

		list-style-type: none;

		margin: 0 0 0 0;
		padding: 0.45em 0.25em 0.25em 0.25em;

		li {

			margin: 0 0 0 0;
			padding: 0 0 0 0;
			font-size: 1.05rem;

			a {

				display: block;
				width: 100%;
				height: auto;
				color: $color-primary-003;
				margin: 0 0 0 0;
				padding: 0.95em 0.65em 0.95em 0.65em;

				i {

					width: 0.75em;
					margin: 0 0.75em 0 0;
				}
			}

			a:link,
			a:visited,
			a:hover,
			a:active
			{
			    color: $color-primary-003;
			    text-decoration:none;
			}

			button {

				i {
					margin: 0 0.75em 0 0;
				}

			}

			&.app-menu-warning {

				a {
					color: #ff7464;
				}
			}

		}

		hr {
			margin: 0.65em 0.25em 0.65em 0.25em;
		    border: 0;
		    height: 0;
		    border-top: 1px solid rgba(0, 0, 0, 0.1);
		    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		}

		#li_login {

			button {
				width: 100%;
			}
		}
	}
}