ion-tabs{
    --background: black;
}

ion-tab-bar {
    --background: rgba(0,216,200, 0.8);
}

ion-tab-button{
    --background: rgba(0,216,200, 0.6);
    --color-selected: black;

    --color: #83bdbc;
}