<form class="animated fadeIn fast" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <h1 text-center>Mensaje de : {{this.item.nombre}}</h1>

    <ion-item>
        <ion-label position="floating" color="ion-color-dark">Email</ion-label>
        <ion-input type="email" formControlName="email" [readonly]="false"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating" color="ion-color-dark">Teléfono</ion-label>
        <ion-input type="number" formControlName="telefono" [readonly]="false"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating" color="ion-color-dark">Asunto</ion-label>
        <ion-input type="text" formControlName="asunto" [readonly]="false"></ion-input>
    </ion-item>


</form>

<ion-button class="submit-button" size="small" fill="outline" expand="block" color="danger" (click)="delete()">Borrar</ion-button>