<!-- app-example-mova-device-info -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaDeviceInfo</h1>
		<br>
		<p>Vista que muestra la información del dispositivo.</p>
		<p>Este componente no es configurable mediante parámetros especiales.</p>
		<p>Este componente se utiliza por defecto como enlace en la versión que aparece en el componente <b>mv.movaInicio</b>.</p>
	</mv-card>

	<mv-card>
		<h2  class="title-2">Ejemplo de uso HTML y resultado</h2>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;a href="#!/device-info">Información del dispositivo&lt;/a>
			</span>
		</code>
		<a href="#!/device-info">Información del dispositivo</a>
	</mv-card>

</mv-screen>