
        ion-content{

            --background: url("/assets/imgs/desahucio.jpg") no-repeat fixed center; 
            -webkit-background-size: contain;
            -moz-background-size: contain;
            background-size: contain;
        }
  
        @media only screen and (min-width:414px){
            ion-content{
                --background: url("/assets/imgs/desahucioS.jpg") no-repeat fixed center; 
                -webkit-background-size: contain;
                -moz-background-size: contain;
                background-size: contain;
            }
        }


        .buscador{
            border-radius: 5px;
            border: 1px 1px black;
            box-shadow: 0.2px 0.2px black;
            margin-top: 0.6rem;
            margin-bottom: 2rem;
            width: 100%;
            padding-left: 1rem;
            height: 2.5rem;
          }


          ion-item{
            --background: rgba(255,255,255,0.7);
            margin-bottom: 1rem;
          }

          ion-item:active{
             --background: #26a6ff;
          }

@media (min-width:1024px) and (max-width:1920px){
    .caja{
        width: 50%;
    }
    .buscador{
        width: 50%;
    }
    ion-content{
        --background: url("/assets/imgs/Dimpago.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
        --background-attachment: fixed;
    }  
}          