<!-- app-example-mova-input-radio -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaInputRadio</h1>
		<br>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>El componente <b>mv.movaInputRadio</b> siempre debe cumplir las siguientes normas:</p>
			<ul>
				<li>Tener definido un atributo <b>name</b>.</li>
				<li>Estar contenido en un componente <b>mv.movaGroup</b> junto con el resto de componentes con el mismo atributo <b>name</b>, más información <a href="#!/example-mova-group">aquí</a>.</li>
				<li>El atributo value debe ser numérico.</li>
			</ul>
			<p>La validación se hace mediante el componente <b>mv.movaGroup</b> y su atributo <b>is-required</b>, más información <a href="#!/example-mova-group#isRequired">aquí</a>.</p>
		</mv-card>
		<p>Radio botón, similar al elemento <b>&lt;input></b> de tipo radio de HTML5.</p>
		<p>Este componente acepta los mismos atributos de HTML que el elemento <b>&lt;input></b> de tipo radio además de los siguientes:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('change')" >change</a></li>
		</ul>
	</mv-card>

	<mv-card>
		<h2 class="title-2">Ejemplo de uso HTML y resultado</h2>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-group><br>
				&emsp;&emsp;&lt;mv-input-radio<br>
				&emsp;&emsp;&emsp;&emsp;name="grupo1"<br>
				&emsp;&emsp;&emsp;&emsp;><br>
				&emsp;&emsp;&lt;/mv-input-radio><br>
				&lt;/mv-group>
			</span>
		</code>
		<mv-group>
			<mv-input-radio
				name="grupo1">
			</mv-input-radio>
		</mv-group>
	</mv-card>

	<mv-card
		id="change"
		>
		<h3 class="title-3">change</h3>
		<br>
		<p>La propiedad <b>change</b> permite ejecutar una función incluida en el <b>$scope</b>, cada vez que cambia el valor del input.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-group><br>
				&emsp;&emsp;&lt;mv-input-radio<br>
				&emsp;&emsp;&emsp;&emsp;model="radio.valor"<br>
				&emsp;&emsp;&emsp;&emsp;name="grupo1"<br>
				&emsp;&emsp;&emsp;&emsp;<b>change="funcionChange()"</b><br>
				&emsp;&emsp;&emsp;&emsp;value=1<br>
				&emsp;&emsp;&emsp;&emsp;><br>
				&emsp;&emsp;&lt;/mv-input-radio><br>
				&emsp;&emsp;&lt;br><br>
				&emsp;&emsp;&lt;mv-input-radio<br>
				&emsp;&emsp;&emsp;&emsp;model="radio.valor"<br>
				&emsp;&emsp;&emsp;&emsp;name="grupo1"<br>
				&emsp;&emsp;&emsp;&emsp;<b>change="funcionChange()"</b><br>
				&emsp;&emsp;&emsp;&emsp;value=2<br>
				&emsp;&emsp;&emsp;&emsp;><br>
				&emsp;&emsp;&lt;/mv-input-radio><br>
				&lt;/mv-group>
			</span>
		</code>
		<mv-group>
			<mv-input-radio
				model="radio.valor"
				name="grupo1"
				change="funcionChange()"
				value=1
			>
			</mv-input-radio>&nbsp;1
			<br>
			<mv-input-radio
				model="radio.valor"
				name="grupo1"
				change="funcionChange()"
				value=2
			>
			</mv-input-radio>&nbsp;2
		</mv-group>
		<p>Valor actual del ejemplo: {{ radio.valor }}</p>
	</mv-card>

</mv-screen>