
        ion-content{

            --background: url("/assets/imgs/contratos.jpg") no-repeat fixed center; 
            -webkit-background-size: contain;
            -moz-background-size: contain;
            background-size: contain;
                --background-attachment: fixed;
        }

        @media only screen and (min-width:414px){
            ion-content{
                --background: url("/assets/imgs/contratosS.jpg") no-repeat fixed center; 
                -webkit-background-size: contain;
                -moz-background-size: contain;
                background-size: contain;
                    --background-attachment: fixed;
            }
        }

ion-card{
    background: rgba(255, 255, 255, 0.7);
    color: black;
}

hr{
    background: black;
}

.botones{
    width: 19rem;
    border-radius: 5px;
    background: rgba(38,166,255, 0.7);
    height: 2rem;
    font-size: larger;
}
input{
    border: none;
    background: transparent !important;
  }
.botones-1{
    width: 19rem;
    border-radius: 5px;
    background: white;
    height: 2rem;
    font-size: larger;
    margin-top: 0.5rem;
}

.limpiar{
    width: 19rem;
    border-radius: 5px;
    background: rgba(38,166,255, 0.7);
    height: 2rem;
    font-size: larger;
    margin-top: 1rem;
}

i{
    padding-left: 1rem;
}