/*
╔══════════════════╗
║ mova-input style ║
╚══════════════════╝
*/

/*
Centraliza la reordenación del componente para mostrar la label a la izquierda.
De esta forma el mismo código se mantiene en un solo sitio para poder usarlo en media-queries.
*/
@mixin mv-input-mx-left-label () {

	// Anular el padding-top de la clase .has-label ya que no va a estar arriba
	padding-top: 0;

	.deleteButton{
		padding-top: 0.25rem;
	}

	// Reordenacion en caso de icono a la izquierda
	&.has-icon-left {

		.input-group-addon {
			left: calc(30% + 0.55rem);
		}

		> .mv-input {
			width: calc(70% - 1.7rem);
			margin-left: calc(30% + 1.7rem);
		}
	}

	// Reordenacion en caso de icono a la derecha
	&.has-icon-right {

		> .mv-input {
			width: calc(70% - 1.7rem);
			margin-left: calc(30% + 1.7rem);
		}
	}

	// Reordenacion en caso sin icono
	> .mv-input-message,
	> .mv-input {
		width: calc(70% - 0.55rem);
		margin-left: calc(30% + 0.55rem);
	}

	> .mv-input-label {
		width: calc(30%);
		margin-top: 0.75rem;
	}
}

.mv-input-root-withType {
	//Esto es porque con el display table no se muestran algunos picker
	display: flex;
}

/* Clase para detectar el hover para el tooltip */
.mv-input-root:hover{
	.mv-input-tooltip {
		visibility: visible;
		opacity: 1;
	}
}

.mv-input-root {

	margin: 0 0 0.55rem 0;
	input {
		/*
		Especial para sobrescribir los estilos de Bootstrap y hacer esquinas redondeadas en el input
		*/
		-webkit-border-top-left-radius: $round-corner-default-size !important; // Forzar esquinas .input-group
		-webkit-border-top-right-radius: $round-corner-default-size !important; // Forzar esquinas .input-group
		-webkit-border-bottom-right-radius: $round-corner-default-size !important; // Forzar esquinas .input-group
		-webkit-border-bottom-left-radius: $round-corner-default-size !important; // Forzar esquinas .input-group
		-moz-border-radius-topleft: $round-corner-default-size !important; // Forzar esquinas .input-group
		-moz-border-radius-topright: $round-corner-default-size !important; // Forzar esquinas .input-group
		-moz-border-radius-bottomright: $round-corner-default-size !important; // Forzar esquinas .input-group
		-moz-border-radius-bottomleft: $round-corner-default-size !important; // Forzar esquinas .input-group
		border-top-left-radius: $round-corner-default-size !important; // Forzar esquinas .input-group
		border-top-right-radius: $round-corner-default-size !important; // Forzar esquinas .input-group
		border-bottom-right-radius: $round-corner-default-size !important; // Forzar esquinas .input-group
		border-bottom-left-radius: $round-corner-default-size !important; // Forzar esquinas .input-group
		text-overflow: ellipsis;
		font-size: $font-size-medium;

		// Estilo para campos obligatorios
		&[has-required] {
			background-color: 	$color-warning-background;
		}

		// Estilos para errores
		&.ng-invalid-pattern,
		&.ng-invalid-mask {
			color: $color-error;
			border-color: $color-error;
		}

		&.paddingPlaceholder{
			padding-right: 2em;
		}
	}

	.mv-input-tooltip {
		visibility: hidden;
		width: 120px;
		background-color: #555;
		color: #fff;
		text-align: center;
		padding: 6px 5px;
		border-radius: 6px;
		z-index: 5;
		position: absolute;
		opacity: 0;
		transition: opacity 0.3s;

		&.mv-input-tooltip-position-right{
			top: 0;
    	left: 105%;
		}
		&.mv-input-tooltip-position-left{
			top: 0;
    	right: 105%;
		}
		&.mv-input-tooltip-position-top{
			bottom: 75%;
			right: 25%;
		}
		&.mv-input-tooltip-position-bottom{
			top: 105%;
			right: 25%;
		}
	}

	.deleteButton{
		i{
			font-size: 1.4em;
			color: #a5a4a4;
		}
		padding-top: 0.2rem;
		position: absolute;
    top: 0;
    right: 0;
    z-index: $z-index_input-delete-button;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
		cursor: pointer;
	}

	&.adapt {
		width: 100%;
	}

	&.has-label {
		padding-top: 1.55rem;
		.deleteButton{
			padding-top: 1.75rem;
		}
	}

	&.has-icon-left {

		.input-group-addon {

			// Redondear esquinas izquierdas del icono
			@include mx-round-corners($round-corner-default-size, 0, 0, $round-corner-default-size);
		}

		input {

			/*
			Especial para sobrescribir los estilos de Bootstrap y hacer esquinas redondeadas en el input
			*/
			-webkit-border-top-left-radius: 0 !important; // Forzar esquinas .input-group
			-webkit-border-bottom-left-radius: 0 !important; // Forzar esquinas .input-group
			-moz-border-radius-topleft: 0 !important; // Forzar esquinas .input-group
			-moz-border-radius-bottomleft: 0 !important; // Forzar esquinas .input-group
			border-top-left-radius: 0 !important; // Forzar esquinas .input-group
			border-bottom-left-radius: 0 !important; // Forzar esquinas .input-group
		}

		/*
		Corrección de la label cuando existe icono a la izquierda, necesario para arreglar un fallo con el ie 11
		*/
		.mv-input-label {
			margin-left: -4rem !important;
		}
	}

	/*
	Estilos cuando hay icono a la derecha
	*/
	&.has-icon-right {

		.deleteButton{
			padding-right: 5.5rem;
		}

		.input-group-addon {

			// Redondear esquinas derechas del icono
			@include mx-round-corners(0, $round-corner-default-size, $round-corner-default-size, 0);

			border-left: none; // Evitar el doble borde que se genera
		}

		input {

			/*
			Especial para sobrescribir los estilos de Bootstrap y hacer esquinas redondeadas en el input
			*/
			-webkit-border-top-right-radius: 0 !important; // Forzar esquinas .input-group
			-webkit-border-bottom-right-radius: 0 !important; // Forzar esquinas .input-group
			-moz-border-radius-topright: 0 !important; // Forzar esquinas .input-group
			-moz-border-radius-bottomright: 0 !important; // Forzar esquinas .input-group
			border-top-right-radius: 0 !important; // Forzar esquinas .input-group
			border-bottom-right-radius: 0 !important; // Forzar esquinas .input-group
		}
	}

	&.has-message {
		padding-bottom: 2rem;
	}

	&.left-label {

		@include mv-input-mx-left-label();
	}

	/*
	Modificaciones sobre temas de Bootstrap
	*/
	.input-group-addon {
		position: relative;
		min-width: 3.90rem;
	}

	/*
	label
	*/
	.mv-input-label {

		@include mx-truncate();

		position: absolute;
		margin: -1.25rem 0 0 0;
		padding: 0 0 0 0;
		font-size: $font-size-small;
		font-weight: bold;
	}

	/*
	mensaje
	*/
	.mv-input-message {

		@include mx-round-corners-default();

		@include mx-truncate();

		display: block;
		width: 100%;
		position: absolute;
		margin: 0 0 0 0;
		padding: 0.25rem 0.25rem 0.25rem 0.25rem;
		left: 0;
		bottom: -0.05rem;
		font-size: $font-size-small;
		font-weight: bold;
	}
}

/*
┌──────────────────┐
│ Bootstrap col-xs │
└──────────────────┘
*/

@media only screen and (max-width: $media-col-xs-max) {

}

/*
┌──────────────────┐
│ Bootstrap col-sm │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-sm-min) and (max-width : $media-col-sm-max) {

	.mv-input-root {

		&.left-label-sm {

			@include mv-input-mx-left-label();
		}
	}
}

/*
┌──────────────────┐
│ Bootstrap col-md │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-md-min) and (max-width : $media-col-md-max) {

	.mv-input-root {

		&.left-label-md {

			@include mv-input-mx-left-label();
		}
	}
}

/*
┌──────────────────┐
│ Bootstrap col-lg │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-lg-min) {

	.mv-input-root {

		&.left-label-lg {

			@include mv-input-mx-left-label();
		}
	}
}
