<!-- app-pantalla23 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	float-footer="{{ screen.floatFooter }}"
	show-back="{{ screen.showBack }}"
	show-menu="{{ screen.showMenu }}"
	show-logo="{{ screen.showLogo }}"
	show-subtitle="{{ screen.showSubtitle }}">

	<mv-container class="app-main-menu-mv-card-main" style="margin-top:90px">

		<mv-container-item>

			<mv-card
				class="app-main-menu-mv-card-option"
				id="card81"
				round-corners=false
				shadow=false
				click="clickOpcion(0)"
			>
				
				<p class="app-main-menu-mv-card-option-text"></p>
			</mv-card>
		</mv-container-item>

		<mv-container-item>

			<mv-card
				class="app-main-menu-mv-card-option"
				id="card82"
				round-corners=false
				shadow=false
				click="clickOpcion(1)"
			>
				
				<p class="app-main-menu-mv-card-option-text"></p>
			</mv-card>
		</mv-container-item>

		<mv-container-item>

			<mv-card
				class="app-main-menu-mv-card-option"
				id="card83"
				round-corners=false
				shadow=false
				click="clickOpcion(2)"
			>
				
				<p class="app-main-menu-mv-card-option-text"></p>
			</mv-card>
		</mv-container-item>
		
		<mv-container-item>

			<mv-card
				class="app-main-menu-mv-card-option"
				id="card4"
				round-corners=false
				shadow=false
				click="clickOpcion(3)"
			>
				
				<p class="app-main-menu-mv-card-option-text"></p>
			</mv-card>
		</mv-container-item>
		
		<mv-container-item>

			<mv-card
				class="app-main-menu-mv-card-option"
				id="card5"
				round-corners=false
				shadow=false
				click="clickOpcion(4)"
			>
				
				<p class="app-main-menu-mv-card-option-text"></p>
			</mv-card>
		</mv-container-item>
				
		<mv-container-item>

			<mv-card
				class="app-main-menu-mv-card-option"
				id="card6"
				round-corners=false
				shadow=false
				click="clickOpcion(5)"
			>
				
				<p class="app-main-menu-mv-card-option-text"></p>
			</mv-card>
		</mv-container-item>

	</mv-container>

</mv-screen>