header{
  background: #26a6ff;
}

.arrendador{
  background: #26a6ff;
  height: 2rem;
}



h5{
  //text-shadow: 1px 1px whitesmoke;
  //padding-top: 1rem;
  color: white;
  padding-top: 0.3rem;
  position: relative;
  font-size: larger;
  /* background: black; */
  width: 70%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  margin-left: 15%;
  //padding-bottom: 0.3rem;
  font-weight: bold;
  text-transform: uppercase;
}


.image{
  float: left;
  position: relative;
  margin-top: -1.8rem;
  height: 1rem;
  padding-left: 0.5rem;
}

.arrow{
  position: relative;
  margin-top: -1.2rem;
  height: 1rem;
  padding-left: 0.5rem;
}


.navbar.navbar-expand-lg{
  background-color: #26a6ff;
  color: black;
}

.collapse.navbar-collapse{
  //background: rgb(197,197,197);
  color: black;
margin-left: -1rem;
margin-right: -2rem;
padding-left: 1rem;
margin-bottom: -0.5rem;
}




.logotipo{
  padding-right: 1rem;
  height: 2rem;
}

a.nav-link{
  color: black;
}

.navbar-brand{
  color: black;
  font-size: x-large;
  position: relative;
  display: flex;
}


ion-content{

  --background: url("/assets/imgs/alquileresActivos.jpg") no-repeat fixed center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}

@media only screen and (min-width:414px){
  ion-content{
    --background: url("/assets/imgs/alquileresActivosS.jpg") no-repeat fixed center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
  }
}

header{
  background: rgb(38,166,255);
  height: 3.5rem;
}


h4{
  //text-shadow: 1px 1px whitesmoke;
  padding-top: 1rem;
  color: black;
  position: relative;
  font-size: larger;
  /* background: black; */
  width: 70%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  margin-left: 15%;
  padding-bottom: 0.3rem;
}

.search{
  width: 80%;
  border-radius: 10px;
  height: 2.4rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  margin-left: -1.5rem;
}


::placeholder{
  padding-left: 1rem;
  color: lightgrey;
}

.caja{
  background-color: transparent !important;
  width: 90%;

}

.titulo{
  /* margin-top: -2rem; */
  text-align: initial;
  margin-bottom: -1.5rem;
}

ion-searchbar{
  background: white;
}




.subtitulo{
  padding-right: 1rem;
  text-align: end;
  margin-top: -1rem;
}

.subtituloContrato{
  margin-top: 2rem;
  font-weight: bold;
  text-align: center;
  color: black;

}

ion-card{
  padding-left: 0.5rem;
  background: rgba(255, 255, 255, 0.7);
  margin-bottom: -0.3rem;
  color: black;
  font-weight: bold;
}

hr{
  background: black;
}

.entero{
  background: black;
    width: 150%;
    margin-left: -5rem;
}

.sin{
  text-align: center;
  top: 50%;
  position: relative;
  font-size: x-large;
}
