
<header class="arrendador" *ngIf="isUserArrendador == true" style="background:#26a6ff">
  <div class="titulo" text-center>
    <h5>Lista alquileres</h5>
  </div>
  <div>
    <img class="arrow" (click)="goBack()" src="/assets/icon/flecha.png">
  </div>

</header>
<ion-header style="background:#26a6ff" *ngIf="isUserAgente == true">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" style="text-align: initial" href="#" style="">Lista alquileres</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a style="color: black;" class="nav-link" (click)="goHome()">Inicio Agente </a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goPisos()">Lista pisos</a>
          <!-- <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goAlquileres()">Alquileres Activos</a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goContratos()">Contratos</a>
          </li>-->
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goPerfil()">Perfil</a>
          </li>
        </ul>
      </div>
    </nav>

</ion-header>
<ion-content *ngIf="items" class="fondo">

  <div class="mx-auto" text-center>
  <input type="search" class="mx-auto" [(ngModel)]="searchText" placeholder="nombre..." class="search"/>
</div>
  <div *ngFor="let item of items">
    <div *ngIf="items.length > 0">
      <div *ngIf="
          item.payload.doc.data().nombre &&
          item.payload.doc.data().nombre.length
        ">
        <div *ngIf="item.payload.doc.data().nombre.includes(searchText)">
          <div text-center [routerLink]="['/detalles-alquiler', item.payload.doc.id]"  class="caja mx-auto" >
             <ion-card>
            <div style="margin-top: 1.5rem;" lines="none">
                <p class="titulo"><b>Nombre:</b></p>
                <p class="subtitulo">{{ item.payload.doc.data().nombre }}</p>
              </div>
              <div lines="none">
                <p class="titulo"><b>Dirección:</b></p>
                <p class="subtitulo">{{ item.payload.doc.data().calle }}</p>
              </div>
              <div lines="none">
                <p class="titulo"><b>Costo Alquiler:</b></p>
                <p class="subtitulo">{{ item.payload.doc.data().costoAlquiler }} €</p>
              </div>
            </ion-card>
            </div>
          </div>
      </div>
    </div>
    <div *ngIf="items.length == 0" class="sin">
      Sin alquileres en este momento
    </div>
  </div>
</ion-content>