</div><!-- app-maquetacion-static-data-censo -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<mv-card
		title="Ejemplo de datos censales"
		>
		<p>A continuación se muestra un ejemplo de datos estáticos con el formato de un formulario de datos censales.</p>

	</mv-card>

	<mv-card
		default-css=false
		class="ejemplo-censo mv-card-color-primary-004"
		>

		<!-- Datos censales -->

		<mv-container class="ejemplo-censo-body">

			<mv-container-item
				class="ejemplo-censo-titulo"
				col-xs=12
				>

				<h1 class="h1-color-primary-004">Datos personales</h1>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				>

				<div class="labelFicha">Documento de identidad</div>
				<div class="datoFicha">02252552L</div>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				col-sm=4
				>

				<div class="labelFicha">Nombre</div>
				<div class="datoFicha">Rubén</div>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				col-sm=4
				>

				<div class="labelFicha">Primer apellido</div>
				<div class="datoFicha">Lopez</div>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				col-sm=4
				>

				<div class="labelFicha">Segundo apellido</div>
				<div class="datoFicha">Perez</div>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				col-sm=4
				>

				<div class="labelFicha">Sexo</div>
				<div class="datoFicha">Hombre</div>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				col-sm=4
				>

				<div class="labelFicha">Fecha de nacimiento</div>
				<div class="datoFicha">27/01/1984</div>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				col-sm=4
				>

				<div class="labelFicha">Nacionalidad</div>
				<div class="datoFicha">Española</div>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				col-sm=4
				>

				<div class="labelFicha">Provincia de nacimiento</div>
				<div class="datoFicha">Madrid</div>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				col-sm=4
				>

				<div class="labelFicha">Municipio de nacimiento</div>
				<div class="datoFicha">Madrid</div>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				col-sm=4
				>

				<div class="labelFicha">Título escolar</div>
				<div class="datoFicha">Graduado E.S.O.</div>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				>

				<div class="labelFicha">Domicilio</div>
				<div class="datoFicha">Calle Divino Valles 24 1ºJ</div>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo mv-container-item-text-right"
				col-xs=12
				>

				<mv-button
					adapt=true
					icon-class="fas fa-check"
					btn-type="primary"
					>
					Enviar
				</mv-button>

			</mv-container-item>

		</mv-container>

	</mv-card>

	<!-- Datos del padrón -->

	<mv-card
		title="Ejemplo de datos del padrón"
		>
		<p>A continuación se muestra un ejemplo de datos estáticos con el formato de un formulario de datos del padrón.</p>

	</mv-card>

	<mv-card
		default-css=false
		class="ejemplo-censo mv-card-color-primary-001"
		>

		<!-- Datos censales -->

		<mv-container class="ejemplo-censo-body">

			<mv-container-item
				class="ejemplo-censo-titulo"
				col-xs=12
				>

				<h1 class="h1-color-primary-001">Datos del padrón</h1>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				col-sm=4
				>

				<div class="labelFicha">Documento de identidad</div>
				<div class="datoFicha">02252552L</div>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				col-sm=8
				>

				<div class="labelFicha">Nombre y apellidos</div>
				<div class="datoFicha">Rubén Lopez Perez</div>

			</mv-container-item><mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				col-sm=4
				>

				<div class="labelFicha">Sexo</div>
				<div class="datoFicha">Hombre</div>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				col-sm=4
				>

				<div class="labelFicha">Fecha de nacimiento</div>
				<div class="datoFicha">27/01/1984</div>

			</mv-container-item>


			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				col-sm=4
				>

				<div class="labelFicha">País de nacimiento</div>
				<div class="datoFicha">España</div>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				col-sm=4
				>

				<div class="labelFicha">Provincia de nacimiento</div>
				<div class="datoFicha">Madrid</div>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				col-sm=4
				>

				<div class="labelFicha">Municipio de nacimiento</div>
				<div class="datoFicha">Madrid</div>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				col-sm=4
				>

				<div class="labelFicha">País de nacionalidad</div>
				<div class="datoFicha">España</div>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo mv-container-item-text-right"
				col-xs=12
				>

				<mv-button
					class="ejemplo-censo-campo-button"
					icon-class="far fa-check-circle"
					btn-type="success"
					>
					Solicitar padrón
				</mv-button>

			</mv-container-item>

		</mv-container>

	</mv-card>

	<!-- Datos de impuestos -->

	<mv-card
		title="Ejemplo de datos de impuestos"
		>
		<p>A continuación se muestra un ejemplo de datos estáticos con el formato de un formulario de datos de impuestos.</p>

	</mv-card>

	<mv-card
		default-css=false
		class="ejemplo-censo mv-card-color-primary-003"
		>

		<mv-container class="ejemplo-censo-body-reverse">

			<mv-container-item
				class="ejemplo-censo-titulo"
				col-xs=12
				>

				<h1 class="h1-color-primary-003">Impuesto sobre Vehículos de Tracción Mecánica</h1>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				col-sm=6
				>

				<div class="labelFicha">Identificador</div>
				<div class="datoFicha">0123456789abc</div>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				col-sm=6
				>

				<div class="labelFicha">Matrícula IVTM</div>
				<div class="datoFicha">2673HLX</div>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-titulo"
				col-xs=12
				>

				<h1 class="h1-color-primary-003">Impuesto sobre Bienes Inmuebles</h1>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				col-sm=6
				>

				<div class="labelFicha">Ref. catastral</div>
				<div class="datoFicha">ABC0123456789C0987654321</div>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				col-sm=6
				>

				<div class="labelFicha">Dirección</div>
				<div class="datoFicha">Calle Divino Valles 24 1º J</div>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-titulo"
				col-xs=12
				>

				<h1 class="h1-color-primary-003">Tasa por Prestación del Servicio de Gestión de Residuos Urbanos</h1>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				col-sm=6
				>

				<div class="labelFicha">Ref. catastral</div>
				<div class="datoFicha">ABC0123456789C0987654321</div>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				col-sm=6
				>

				<div class="labelFicha">Dirección</div>
				<div class="datoFicha">Calle Divino Valles 24 1º J</div>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-titulo"
				col-xs=12
				>

				<h1 class="h1-color-primary-003">Impuesto sobre Actividades Económicas</h1>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				col-sm=6
				>

				<div class="labelFicha">Identificador</div>
				<div class="datoFicha">000000123456</div>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo"
				col-xs=12
				col-sm=6
				>

				<div class="labelFicha">Dirección</div>
				<div class="datoFicha">Ninguna</div>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo mv-container-item-text-left"
				col-xs=12 col-sm=4
				default-margin=true
				>

				<mv-button
					adapt=true
					btn-type="success"
					>
					Aceptar
				</mv-button>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo mv-container-item-text-center"
				col-xs=12 col-sm=4
				default-margin=true
				>

				<mv-button
					adapt=true
					btn-type="primary"
					>
					Limpiar
				</mv-button>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-censo-campo mv-container-item-text-right"
				col-xs=12 col-sm=4
				default-margin=true
				>

				<mv-button
					adapt=true
					btn-type="danger"
					>
					Cancelar
				</mv-button>

			</mv-container-item>

		</mv-container>

	</mv-card>
</mv-screen>
