/*
╔═════════════════════════════════════════╗
║ app-maquetacion-static-data-censo style ║
╚═════════════════════════════════════════╝
*/
app-maquetacion-static-data-censo {

	@include view-style;

	/*
	Ejemplo de informe
	*/

	.ejemplo-censo {

		@include mx-round-corners-default();

		padding: 1rem;
		background-color: $color-secondary-011 !important;
		max-width: 70rem;
		margin: 2rem auto 2rem auto;
		width: 97%;
		border: solid thin $color-secondary-006;

		.ejemplo-censo-body {

			.ejemplo-censo-campo {

				margin: 0 0 1rem 0;

				.labelFicha{
		      white-space: nowrap;
					overflow: hidden;
		      text-overflow: ellipsis;
		      font-size: $font-size-medium;
		      border-bottom: solid medium $color-secondary-009;
		      margin-bottom: 10px;
		    }
		    .datoFicha{
		      font-size: $font-size-medium;
		      font-weight: bold;
		    }

				.ejemplo-censo-campo-button {
					max-width: none;

					.mv-button-container {
						max-width: 100% !important;
					}
				}
			}
		}

		.ejemplo-censo-body-reverse {

			.ejemplo-censo-campo {

				margin: 0 0 1rem 0;

				.labelFicha {
					font-size: $font-size-medium;
					font-weight: lighter;
					margin: 0 0 0 0;
					padding: 0.55rem 0.55rem 0.55rem 0.55rem;
					border-bottom: solid medium $color-secondary-009;
				}

				.datoFicha {
					font-size: $font-size-medium;
					font-weight: bold;
					margin: 0 0 0 0;
					padding: 0.55rem 0.55rem 0.55rem 0.55rem;
				}

				.ejemplo-censo-campo-button {
					max-width: none;

					.mv-button-container {
						max-width: 100% !important;
					}
				}
			}
		}
	}
}
