<!-- app-example-mova-loading -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaLoading</h1>
		<br>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>Este componente funciona de forma autónoma ante las llamadas http. Es capaz de evaluar si hay llamadas http en curso y mantenerse activo mientras las llamadas http estén realizandose.</p>
			<p>Cuando no existan llamadas http pendientes de finalizar el efecto de loading se detiene.</p>
			<p>El efecto de loading consiste en una animación sobre una capa oscura y semi-transparente que evita la interacción del usuario con la aplicación mediante la pantalla táctil.</p>
		</mv-card>
		<p>Este componente es el encargado del efecto de loading.</p>
		<p>Este componente es configurable mediante las siguientes variables del componente <b>app.config</b>:</p>
		<ul>
			<li><b>loadingDelay</b> - Permite establecer un retardo cada vez que se inicie el efecto de loading, por defecto el retardo es de 0 milisegundos.</li>
			<li><b>loadingTimeout</b> - Permite establecer un tiempo máximo de efecto de loading. Transcurrido este tiempo el efecto de loading termina, independientemente de que aun existan llamadas http en curso. El valor por defecto es de 20000 milisegundos.</li>
		</ul>
		<p>Este componente dispone de los siguientes eventos:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('toggleLoading')" >ToggleLoading</a></li>
		</ul>
	</mv-card>

	<mv-card
		id="toggleLoading"
		>
		<h3 class="title-3">Ev: ToggleLoading</h3>
		<br>
		<p>El evento <b>ToggleLoading</b> sirve para activar o desactivar el efecto de loading.</code>
		<p>Se puede llamar a este evento desde el controlador de un componente mediante la siguiente instrucción:</p>
		<code>
			<badge>JavaScript</badge>
			$rootScope.$emit('rootScope:movaLoadingController:ToggleLoading', boolean);
		</code>
		<br>
		<p>A continuación se muestra un ejemplo:</p>
		<p>Pulsa el botón para iniciar el efecto de loading, si no existe limitación de tiempo el efecto no se detendrá.</p>
		<mv-button
			btn-type="primary"
			click="activarLoading(true)"
			>
			Activar efecto loading
		</mv-button>
		<br>
		<br>
		<p>No puedes pulsar sobre el botón por que el loading te lo impide, pero si pudieses se detendría, este evento está pensado para detener el efecto de loading por taréas de la App, no por el propio usuario mediante botones o enlaces.</p>
		<mv-button
			btn-type="primary"
			click="activarLoading(false)"
			>
			Desactivar efecto loading
		</mv-button>
	</mv-card>

</mv-screen>
