
  <header class="arrendador" *ngIf="isUserArrendador == true" style="background:#26a6ff">
    <div class="titulo" text-center>
      <h5>Incidencia</h5>
    </div>
    <div>
      <img class="arrow" (click)="goBack()" src="/assets/icon/flecha.png">
    </div>
  
  </header>
  <ion-header style="background:#26a6ff" *ngIf="isUserAgente == true">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" style="text-align: initial" href="#" style="">Incidencia</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a style="color: black;" class="nav-link" (click)="goHome()">Inicio Agente </a>
            </li>
            <li class="nav-item">
              <a style="color: black;" class="nav-link" (click)="goPisos()">Lista pisos</a>
            <!-- <li class="nav-item">
              <a style="color: black;" class="nav-link" (click)="goAlquileres()">Alquileres Activos</a>
            </li>
            <li class="nav-item">
              <a style="color: black;" class="nav-link" (click)="goContratos()">Contratos</a>
            </li>-->
            <li class="nav-item">
              <a style="color: black;" class="nav-link" (click)="goPerfil()">Perfil</a>
            </li>
          </ul>
        </div>
      </nav>
  
  </ion-header>
  
  <ion-content>

      <div>
          <ion-row no-padding class="animated fadeIn fast">
              <ion-col size="6" offset="3">
                  <img class="circular" [src]="image" *ngIf="image" />
              </ion-col>
          </ion-row>
      </div>
      <ion-card>

      <form  [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    
          <div>
              <ion-label position="floating" color="ion-color-dark">Nombre </ion-label>
              <ion-input placeholder="Nombre" type="text" formControlName="nombre"></ion-input>
          </div>
          <div>
              <ion-label position="floating" color="ion-color-dark">Dirección</ion-label>
              <ion-input placeholder="Dirección" type="text" formControlName="direccion"></ion-input>
          </div>
          <div>
              <ion-label position="floating" color="ion-color-dark">Tipo Incidencias</ion-label>
              <ion-input placeholder="Tipo Incidencias" type="text" formControlName="tipoIncidencia"></ion-input>
          </div>
          <div>
            <textarea formControlName="textIncidencia">

            </textarea>
          </div>
      </form>
      </ion-card>
  </ion-content>
  