

<ion-content padding>
    <div class="volver">
        <img (click)="goBack()" src="../../../assets/imgs/volver.png" alt="">
      </div>
      <div class="titulo">
        <p><img src="../../../assets/imgs/gestionUsuarios.png" alt="">GESTIONAR USUARIOS</p>
      </div>
      <div class="lista-usuarios">
  
        <div class="container-fluid">
            <div class="row">
                <div *ngFor="let usuarios of items" class="col-12 mt-3">
                    <div [routerLink]="['/popover-detalles-usuarios', usuarios.payload.doc.id]" class="card">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                <img  class="foto" src="../../../assets/imgs/user.png" alt="Card image cap">
                                <img style="margin-left: 1.5rem" src="../../../assets/imgs/separacion.png" alt="">
                            </div>
                            <div class="card-body">
                                <p class="card-title">{{usuarios.payload.doc.data().nombre}}</p>
                                <p class="card-text">{{usuarios.payload.doc.data().email}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

</ion-content>
