<!-- app-example-mova-input-image -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaInputImage</h1>
		<br>
		<p>Elemento para incluir una imagen con estilos y funcionalidad personalizada.</p>
		<p>Este componente acepta los mismos atributos de HTML que el elemento <b>&lt;input></b> de tipo image además de los siguientes:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('bgColor')" >bg-color</a></li>
			<li><a href="" ng-click="$root.scrollTo('borderColor')" >border-color</a></li>
			<li><a href="" ng-click="$root.scrollTo('borderWidth')" >border-width</a></li>
			<li><a href="" ng-click="$root.scrollTo('disabled')" >disabled</a></li>
			<li><a href="" ng-click="$root.scrollTo('defaultCss')" >default-css</a></li>
			<li><a href="" ng-click="$root.scrollTo('circle')" >circle</a></li>
			<li><a href="" ng-click="$root.scrollTo('click')" >click</a></li>
			<li><a href="" ng-click="$root.scrollTo('onErrorSrc')" >on-error-src</a></li>
			<li><a href="" ng-click="$root.scrollTo('roundCorners')" >round-corners</a></li>
			<li><a href="" ng-click="$root.scrollTo('size')" >size</a></li>
		</ul>
	</mv-card>

	<mv-card>
		<h2 class="title-2">Ejemplo de uso HTML y resultado</h2>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-image<br>
				&emsp;&emsp;src="media/images/examples/dan.jpg"<br>
				&emsp;&emsp;on-error-src="media/images/icon_user.png"<br>
				&emsp;&emsp;size="medium"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input-image>
			</span>
		</code>
		<mv-input-image
			src="media/images/examples/dan.jpg"
			on-error-src="media/images/icon_user.png"
			size="medium"
		>
		</mv-input-image>
	</mv-card>

	<mv-card
		id="bgColor"
		>
		<h3 class="title-3">bg-color</h3>
		<br>
		<p>La propiedad <b>background-color</b> permite cambiar el color del fondo de la imagen</p>
		<p>Esta propiedad acepta los colores en formato HTML (red, green...), hexadecimal, rgb y rgba.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-image<br>
				&emsp;&emsp;src="media/images/examples/dan.jpg"<br>
				&emsp;&emsp;on-error-src="media/images/icon_user.png"<br>
				&emsp;&emsp;size="medium"<br>
				&emsp;&emsp;<b>bg-color="red"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-image>
			</span>
		</code>
		<mv-input-image
			src="media/images/examples/dan.jpg"
			on-error-src="media/images/icon_user.png"
			size="medium"
			bg-color="red"
		>
		</mv-input-image>
		<p>bg-color="red"</p>
		<br>
		<mv-input-image
			src="media/images/examples/dan.jpg"
			on-error-src="media/images/icon_user.png"
			size="medium"
			bg-color="#1b77d6"
		>
		</mv-input-image>
		<p>bg-color="#1b77d6"</p>
		<br>
		<mv-input-image
			src="media/images/examples/dan.jpg"
			on-error-src="media/images/icon_user.png"
			size="medium"
			bg-color="rgb(174,12,185)"
		>
		</mv-input-image>
		<p>bg-color="rgb(174,12,185)"</p>
		<br>
		<mv-input-image
			src="media/images/examples/dan.jpg"
			on-error-src="media/images/icon_user.png"
			size="medium"
			bg-color="rgba(174,12,185,0.35)"
		>
		</mv-input-image>
		<p>bg-color="rgba(174,12,185,0.35)"</p>
		<br>
		<mv-input-image
			src="media/images/examples/dan.jpg"
			on-error-src="media/images/icon_user.png"
			size="medium"
			bg-color="transparent"
		>
		</mv-input-image>
		<p>bg-color="transparent"</p>
		<br>
	</mv-card>

	<mv-card
		id="borderColor"
		>
		<h3 class="title-3">border-color</h3>
		<br>
		<p>La propiedad <b>border-color</b> permite cambiar el color del borde de la imagen.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-image<br>
				&emsp;&emsp;src="media/images/examples/dan.jpg"<br>
				&emsp;&emsp;on-error-src="media/images/icon_user.png"<br>
				&emsp;&emsp;size="medium"<br>
				&emsp;&emsp;<b>border-color="red"</b><br>
				&emsp;&emsp;border-width="4pt"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input-image>
			</span>
		</code>
		<mv-input-image
			src="media/images/examples/dan.jpg"
			on-error-src="media/images/icon_user.png"
			size="medium"
			border-color="red"
			border-width="4pt"
		>
		</mv-input-image>
		<p>border-color="red"</p>
		<br>
		<mv-input-image
			src="media/images/examples/dan.jpg"
			on-error-src="media/images/icon_user.png"
			size="medium"
			border-color="#1b77d6"
			border-width="4pt"
		>
		</mv-input-image>
		<p>border-color="#1b77d6"</p>
		<br>
		<mv-input-image
			src="media/images/examples/dan.jpg"
			on-error-src="media/images/icon_user.png"
			size="medium"
			border-color="rgb(174,12,185)"
			border-width="4pt"
		>
		</mv-input-image>
		<p>border-color="rgb(174,12,185)"</p>
		<br>
		<mv-input-image
			src="media/images/examples/dan.jpg"
			on-error-src="media/images/icon_user.png"
			size="medium"
			border-color="rgba(174,12,185,0.35)"
			border-width="4pt"
		>
		</mv-input-image>
		<p>border-color="rgba(174,12,185,0.35)"</p>
		<br>
		<mv-input-image
			src="media/images/examples/dan.jpg"
			on-error-src="media/images/icon_user.png"
			size="medium"
			border-color="transparent"
			border-width="4pt"
		>
		</mv-input-image>
		<p>border-color="transparent"</p>
		<br>
	</mv-card>

	<mv-card
		id="borderWidth"
		>
		<h3 class="title-3">border-width</h3>
		<br>
		<p>La propiedad <b>border-width</b> permite cambiar el ancho del borde.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-image<br>
				&emsp;&emsp;src="media/images/examples/dan.jpg"<br>
				&emsp;&emsp;on-error-src="media/images/icon_user.png"<br>
				&emsp;&emsp;size="medium"<br>
				&emsp;&emsp;border-color="blue"<br>
				&emsp;&emsp;<b>border-width="medium"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-image>
			</span>
		</code>
		<mv-input-image
			src="media/images/examples/dan.jpg"
			on-error-src="media/images/icon_user.png"
			size="medium"
			border-color="blue"
			border-width="medium"
		>
		</mv-input-image>
		<p>medium</p>
		<br>
		<mv-input-image
			src="media/images/examples/dan.jpg"
			on-error-src="media/images/icon_user.png"
			size="medium"
			border-color="blue"
			border-width="thin"
		>
		</mv-input-image>
		<p>thin</p>
		<br>
		<mv-input-image
			src="media/images/examples/dan.jpg"
			on-error-src="media/images/icon_user.png"
			size="medium"
			border-color="blue"
			border-width="thick"
		>
		</mv-input-image>
		<p>thick</p>
		<br>
		<mv-input-image
			src="media/images/examples/dan.jpg"
			on-error-src="media/images/icon_user.png"
			size="medium"
			border-color="blue"
			border-width="2pt"
		>
		</mv-input-image>
		<p>2pt</p>
	</mv-card>

	<mv-card
		id="disabled"
		>
		<h3 class="title-3">disabled</h3>
		<br>
		<p>La propiedad <b>disabled</b> permite desactivar el componente.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-image<br>
				&emsp;&emsp;src="media/images/examples/dan.jpg"<br>
				&emsp;&emsp;on-error-src="media/images/icon_user.png"<br>
				&emsp;&emsp;size="medium"<br>
				&emsp;&emsp;<b>disabled=true</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-image>
			</span>
		</code>
		<mv-input-image
			src="media/images/examples/dan.jpg"
			on-error-src="media/images/icon_user.png"
			size="medium"
			disabled=true
		>
		</mv-input-image>
	</mv-card>

	<mv-card
		id="defaultCss"
		>
		<h3 class="title-3">default-css</h3>
		<br>
		<p>La propiedad <b>default-css</b> permite desactivar el estilo css por defecto del componente.</p>
		<p>Por defecto, o en caso de tener valor true el componente se inicializa con un estilo por defecto, en caso de tener valor false, el componente se inicializa sin el estilo por defecto.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-image<br>
				&emsp;&emsp;src="examples/app-maquetacion-carpeta-salud-icon-indicadores.png"<br>
				&emsp;&emsp;on-error-src="media/images/icon_user.png"<br>
				&emsp;&emsp;<b>default-css=false</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-image>
			</span>
		</code>
		<br>
		<p>Con estilo por defecto</p>
		<mv-input-image

			src="media/images/examples/app-maquetacion-carpeta-salud-icon-indicadores.png"
			on-error-src="media/images/icon_user.png"
		>
		</mv-input-image>
		<p>Sin estilo por defecto</p>
		<mv-input-image

			src="media/images/examples/app-maquetacion-carpeta-salud-icon-indicadores.png"
			on-error-src="media/images/icon_user.png"
			default-css=false
		>
		</mv-input-image>
	</mv-card>

	<mv-card
		id="circle"
		>
		<h3 class="title-3">circle</h3>
		<br>
		<p>La propiedad <b>circle</b> permite dar forma circular a la imagen.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-image<br>
				&emsp;&emsp;src="media/images/examples/dan.jpg"<br>
				&emsp;&emsp;on-error-src="media/images/icon_user.png"<br>
				&emsp;&emsp;size="medium"<br>
				&emsp;&emsp;<b>circle="true"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-image>
			</span>
		</code>
		<mv-input-image
			src="media/images/examples/dan.jpg"
			on-error-src="media/images/icon_user.png"
			size="medium"
			circle=true
		>
		</mv-input-image>
	</mv-card>

	<mv-card
		id="click"
		>
		<h3 class="title-3">click</h3>
		<br>
		<p>La propiedad <b>click</b> permite ejecutar una función al hacer click en el componente.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-image<br>
				&emsp;&emsp;src="media/images/examples/dan.jpg"<br>
				&emsp;&emsp;on-error-src="media/images/icon_user.png"<br>
				&emsp;&emsp;size="medium"<br>
				&emsp;&emsp;<b>click="funcionClick()"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-image>
			</span>
		</code>
		<mv-input-image
			src="media/images/examples/dan.jpg"
			on-error-src="media/images/icon_user.png"
			size="medium"
			click="funcionClick()"
		>
		</mv-input-image>
		<p>Has hecho {{ clicks }} sobre la imagen.</p>
	</mv-card>

	<mv-card
		id="onErrorSrc"
		>
		<h3 class="title-3">on-error-src</h3>
		<br>
		<p>La propiedad <b>on-error-src</b> permite definir la ruta a un fichero de imagen que se mostrará si sucede algún error y no se puede cargar la imagen correctamente.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-image<br>
				&emsp;&emsp;src="media/images/lawrence.jpg"<br>
				&emsp;&emsp;<b>on-error-src="media/images/icon_user.png"</b><br>
				&emsp;&emsp;size="medium"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input-image>
			</span>
		</code>
		<mv-input-image
			src="media/images/johnny_lawrence.jpg"
			on-error-src="media/images/icon_user.png"
			size="medium"
		>
		</mv-input-image>
	</mv-card>

	<mv-card
		id="roundCorners"
		>
		<h3 class="title-3">round-corners</h3>
		<br>
		<p>La propiedad <b>round-corners</b> permite mostrar las esquinas redondeadas de la imagen.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-image<br>
				&emsp;&emsp;src="media/images/examples/dan.jpg"<br>
				&emsp;&emsp;on-error-src="media/images/icon_user.png"<br>
				&emsp;&emsp;size="medium"<br>
				&emsp;&emsp;<b>round-corners=true</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-image>
			</span>
		</code>
		<mv-input-image
			src="media/images/examples/dan.jpg"
			on-error-src="media/images/icon_user.png"
			size="medium"
			round-corners=true
		>
		</mv-input-image>
	</mv-card>

	<mv-card
		id="size"
		>
		<h3 class="title-3">size</h3>
		<br>
		<p>La propiedad <b>size</b> permite dar varios tamaños para la imagen.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-image<br>
				&emsp;&emsp;src="media/images/examples/dan.jpg"<br>
				&emsp;&emsp;on-error-src="media/images/icon_user.png"<br>
				&emsp;&emsp;<b>size=small</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-image>
			</span>
		</code>
		<mv-input-image
			src="media/images/examples/dan.jpg"
			on-error-src="media/images/icon_user.png"
			size="small"
		>
		</mv-input-image>
		<p>size="small"</p>
		<br>
		<mv-input-image
			src="media/images/examples/dan.jpg"
			on-error-src="media/images/icon_user.png"
			size="medium"
		>
		</mv-input-image>
		<p>size="medium"</p>
		<br>
		<mv-input-image
			src="media/images/examples/dan.jpg"
			on-error-src="media/images/icon_user.png"
			size="big"
		>
		</mv-input-image>
		<p>size="big"</p>
	</mv-card>

</mv-screen>
