<!-- app-example-mova-recaptcha -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaRecaptcha</h1>
		<br>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>Es necesario solicitar al departamento de Arquitectura, mediante el procedimiento que se especifique en la documentación, si se necesita usar captcha.</p>
			<p>Es necesario incluir un site-key en el cliente y una server-key en el backend.</p>
			<p>Debe existir un ejemplo en el proyecto con el arquetipo de ejemplo de API REST.</p>
		</mv-card>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>Por limitaciones de reCaptcha de Google, este componente se comporta de forma distinta en una Web App que en una aplicación móvil.</p>
			<p>El problema es que la aplicación móvil usa en su URL el protocolo file:// y esto no lo acepta reCaptcha de Google.</p>
			<p>En una aplicación móvil el captcha se abre en un navehador embedido y funciona de forma distinta almacenando el captcha en el localStorage.</p>
		</mv-card>
		<p>Captcha para validar un formulario.</p>
		<p>Este componente acepta los siguientes atributos:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('adapt')" >adapt</a></li>
		</ul>
	</mv-card>

	<mv-card>
		<h2  class="title-2">Ejemplo de uso HTML y resultado</h2>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-recaptcha site-key="6Lcw6XIUAAAAAPngwupCl2UMhBN2qlcnePJopOi9">&lt;/mv-recaptcha>				
			</span>
		</code>
		<p>Para recuperar el captcha generado, se puede inyectar el servicio <b>mvCaptchaService</b> y su método <b>getLastSuccessCaptcha</b>.</p>
		<p>Como el captcha se almacena en sitios distintos dependiendo de si se usa directamente o a través de un navegador embedido, este método centraliza estos pasos facilitando al desarrollador su implementación.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvCaptchaService.getLastSuccessCaptcha()			
			</span>
		</code>

		<br><br>

		<mv-input label="Valor pasado al servicio" model="example.valorTexto"></mv-input>

		<br><br>

		<mv-recaptcha site-key="6Lcw6XIUAAAAAPngwupCl2UMhBN2qlcnePJopOi9"></mv-recaptcha>

		<br><br>

		<mv-button click="clickComprobar()">Comprobar captcha</mv-button>
		
		<br><br>

		<p><b>Resultado:</b> {{example.resultado}}</p>
		<p><b>Captcha:</b> {{example.valor}}</p>
		<!--<p><b>Ping:</b> {{example.ping}}</p>-->
		<p><b>data.valorEntrada:</b>{{example.valorEntrada}}</p>
		<p><b>Response:</b> {{example.response}}</p>
	</mv-card>

	<mv-card
		id="adapt"
		>
		<h3 class="title-3">adapt</h3>
		<br>
		<p>La propiedad <b>adapt</b> permite adaptar al ancho del contenedor el componente.</p>
		<p>Solo funciona en una aplicación móvil, en una Web App no tiene efecto.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-recaptcha<br>
				&emsp;&emsp;<b>adapt=true</b><br>
				&lt;/mv-recaptcha>
			</span>
		</code>
		<mv-recaptcha adapt=true site-key="6Lcw6XIUAAAAAPngwupCl2UMhBN2qlcnePJopOi9"></mv-recaptcha>
	</mv-card>

</mv-screen>