/*
╔═══════════════════════╗
║ app-wso2-detail style ║
╚═══════════════════════╝
*/

app-wso2-example2 {

    @include view-style;

    .itemsTitle{
      font-size: 0.87em;
    }
    .itemsTitle2{
      font-size: 0.87em;
      line-height: 2em;
    }

    .paddingTop{
      .mv-card-container{
        padding-top: 1.55em !important;
      }
    }

    #buttonContainer{
      width: 65%;
      margin-right: 1em;
      .glyphicon{
        font-size: 1.5em;
        color: #616161;
        cursor: pointer;
      }
      .glyphicon:hover{
        color: #a9a9a9;
      }
      .numItems{
        .mv-card-container{
          display: inline-flex;
          .itemsTitle{
            margin: auto;
          }
          .input-group{
            margin-left: 1em;
          }
        }
      }
      .input-group{
        display: inline-block;
      }
      .mv-card{
        margin-bottom: 1em;
      }
    }

    #municipiosTable{
      margin: 2em;
      width: calc(100% - 4em);
      .header{
        background-color: #ececec;
      }
      tr{
        margin-bottom: 1em;
      }
    }

    @media only screen and (min-width : $media-col-xs-max) {
      section.mv-values-list .mv-values-list-container .mv-card-alias-container .mv-card-alias-container-item:nth-child(1) {
        width: 20rem !important;
      }
      section.mv-values-list .mv-values-list-container .mv-card-alias-container .mv-card-alias-container-item:nth-child(2) {
        width: calc(100% - 23.75rem) !important;
      }
      section.mv-values-list .mv-values-list-container .mv-card-alias-container .mv-card-alias-container-item:nth-child(3) {
        width: 3.75rem !important;
      }
    }

    @media only screen and (max-width : $media-col-xs-max) {
      section.mv-values-list .mv-values-list-container .mv-card-alias-container .mv-card-alias-container-item:nth-child(1) {
        width: 9rem !important;
      }
      section.mv-values-list .mv-values-list-container .mv-card-alias-container .mv-card-alias-container-item:nth-child(2) {
        width: calc(100% - 12.75rem) !important;
      }
      section.mv-values-list .mv-values-list-container .mv-card-alias-container .mv-card-alias-container-item:nth-child(3) {
        width: 3.75rem !important;
      }
    }

}
