<!-- app-wso2 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card>
	  <h2>Consulta de municipios</h2>

		<mv-card
		  class="section-info"
		  title="INFORMACIÓN"
		  hr-class-if="hr-info">
		  <p>Para usar estos servicios hay que obtener primero un <b>token</b>.
			Pulsando en el siguiente botón obtendremos el token para poder llamar a los servicios.</p>

			<div class="text-center">
				<mv-button
				  btn-type="primary"
					click="getToken()">
					Obtener token
				</mv-button>

				<mv-button
				  btn-type="danger"
					click="errorService()">
					Error
				</mv-button>

				<mv-input
				  label="Token de acceso"
					adapt=true
					clear-button=false
				  placeholder="Token"
					disabled=true
				  model="search.token">
				</mv-input>
			</div>

		</mv-card>

		<mv-container>

			<mv-container-item col-xs=6 default-margin=true>
				<mv-input
					  label="Código de municipio"
						is-number=true
					  icon-class="fa fa-search"
					  placeholder="Buscar..."
					  model="search.cdMunicipio"
						ng-model-options='{ debounce: 500 }'>
					</mv-input>
		  </mv-container-item>

			<mv-container-item col-xs=6 default-margin=true class="paddingTop">
				<mv-button
					type="primary"
					adapt=true
					btn-type="primary"
				  click="search()">
					Buscar
				</mv-button>
		  </mv-container-item>

		</mv-container>	  

		<mv-grid
		  type="flat"
			shadow=true
			data="arrayMunicipios">
		</mv-grid>

		<mv-container
			id="buttonContainer"
			class="text-center"
			show="arrayMunicipios.length > 0">

			<mv-container-item col-xs=6 col-sm=4>
				<div class="itemsTitle2">
					{{firstItem}} - {{lastItem}} de XXX
				</div>
		  </mv-container-item>

			<mv-container-item col-xs=6 col-sm=4>
				<span
					ng-click="init()">
					<i class="glyphicon glyphicon-step-backward"></i>
				</span>
				<span
					ng-click="prev()">
					<i class="glyphicon glyphicon-chevron-left"></i>
				</span>
				<span
					ng-click="sig()">
					<i class="glyphicon glyphicon-chevron-right"></i>
				</span>
				<span
					ng-click="last()">
					<i class="glyphicon glyphicon-step-forward"></i>
				</span>
		  </mv-container-item>

			<mv-container-item col-xs=12 col-sm=4 class="numItems">
				<div class="itemsTitle">
					Elementos por página
				</div>

				<mv-select
				  model="select.selected"
				  options="select.options"
					change="changeSelect()">
				</mv-select>

		  </mv-container-item>

		</mv-container>

		<mv-container>

			<mv-container-item col-xs=3 default-margin=true>
				<mv-input-datepicker
					label="Fecha de alta"
					adapt=true
					alt-input-formats="['dd/MM/yyyy']"
					model="searchVial.dateMunicipio">
				</mv-input-datepicker>
		  </mv-container-item>

			<mv-container-item col-xs=3 default-margin=true>
				<mv-input
				  label="Código de municipio"
					is-number=true
				  icon-class="fa fa-search"
				  placeholder="Buscar..."
				  model="searchVial.cdMunicipio"
					ng-model-options='{ debounce: 500 }'>
				</mv-input>
		  </mv-container-item>

			<mv-container-item col-xs=3 default-margin=true>
				<mv-input
				  label="Código de vía"
					is-number=true
				  icon-class="fa fa-search"
				  placeholder="Buscar..."
				  model="searchVial.cdVial"
					ng-model-options='{ debounce: 500 }'>
				</mv-input>
		  </mv-container-item>

			<mv-container-item col-xs=3 default-margin=true class="paddingTop">
				<mv-button
					type="primary"
					adapt=true
					btn-type="primary"
				  click="searchVial()">
					Buscar
				</mv-button>
		  </mv-container-item>

		</mv-container>

		<mv-card
			class="text-center"
		  round-corners=true>
		  Fechas para las que hay resultados: 03/06/2000, 22/06/2016 o 12/11/2014
		</mv-card>

		<mv-grid
		  type="flat"
			shadow=true
			data="arrayVial">
		</mv-grid>

		<mv-container
			id="buttonContainer"
			class="text-center"
			show="arrayVial.length > 0">

			<mv-container-item col-xs=6 col-sm=4>
				<div class="itemsTitle2">
					{{firstItemVial}} - {{lastItemVial}} de XXX
				</div>
		  </mv-container-item>

			<mv-container-item col-xs=6 col-sm=4>
				<span
					ng-click="initVial()">
					<i class="glyphicon glyphicon-step-backward"></i>
				</span>
				<span
					ng-click="prevVial()">
					<i class="glyphicon glyphicon-chevron-left"></i>
				</span>
				<span
					ng-click="sigVial()">
					<i class="glyphicon glyphicon-chevron-right"></i>
				</span>
				<span
					ng-click="lastVial()">
					<i class="glyphicon glyphicon-step-forward"></i>
				</span>
		  </mv-container-item>

			<mv-container-item col-xs=12 col-sm=4 class="numItems">
				<div class="itemsTitle">
					Elementos por página
				</div>

				<mv-select
				  model="selectVial.selected"
				  options="selectVial.options"
					change="changeSelectVial()">
				</mv-select>

		  </mv-container-item>

		</mv-container>

	</mv-card>

	<!--

	Ya pero creo que llevo ya un buen tiempo como tirando del carro y no te veo convencida

	-->

</mv-screen>
