    
    *{
        margin:0px;
        padding:0px;
    }
  
    //CABEZERA
  
     .contiene .logo{
       font-size: 30px;
       position:absolute;
       bottom: 1px;
       left:10px;
       padding-bottom: 5px;
      }
  
   .contiene .chat{
    position: absolute;
    width:70px;
    height: 70px;
    margin-top: -20px;
    }
  
   .contiene{
           padding-top: 5px;
           padding-bottom: -10px;
           height: 35px;
       
     }
   //FIN DE LA CABEZERA
   // FLECHA RETROCESO
  .flecha{
    color :red;
    font-size: 30px;
    position: absolute;
    float: left;
   }
  //-----FIN DE LA FLECHA
  
     //BOTONES
  
  
  
     .bot{
        width: 130px;
        height: 130px;
        margin: 0 auto;
        margin-bottom: 10%;
        background: #BB1D1D;
        border: 0.5px solid #3B3B3B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px; 
        text-align: center;
     
         }
         .bot img{
            width: 90%;
            height: 90%;
            
         }
         .bot p{
            color: #ffffff;
            font-size: 13px;
            margin-top: -7%;
         }
  
  h4{
     margin-top: 10%;
     text-align: center;
     margin-bottom: 10%;
  }

  @media (min-width: 1024px) and (max-width: 1280px){
   h4{
      margin-top: -0.5rem;
      text-align: center;
      margin-bottom: 10%;
   }
  }
  
  @media only screen and (min-width: 1280px) {
   h4{
      margin-top: -0.5rem;
      text-align: center;
      margin-bottom: 10%;
   }
  }