/*
╔═══════╗
║ Reset ║
╚═══════╝
*/

/*
╔═══════════╗
║ Variables ║
╚═══════════╝
*/

// Variables de los media-queries
$media-col-xs-max: 767px;
$media-col-sm-min: $media-col-xs-max+1;
$media-col-sm-max: 991px;
$media-col-md-min: $media-col-sm-max+1;
$media-col-md-max: 1199px;
$media-col-lg-min: $media-col-md-max+1;

// Variables z index
$z-index_spinner: 9999;
$z-index_spinner-background: 9998;
$z-index_notification-push-ios: 99;
$z-index_header: 30;
$z-index_viewport-info-mvcard: 20;
$z-index_menu: 20;
$z-index_values-list-finder: 20;
$z-index_header-button: 15;
$z-index_footer: 15;
$z-index_version-news: 10;
$z-index_block-screen: 10;
$z-index_header-menu-background: 10;
$z-index_header-menu-background-text: -10;
$z-index_card-float: 5;
$z-index_input-delete-button: 4;
$z-index_card-collapse: 4;
$z-index_textarea-maxlength: 3;
$z-index_tab-icon: 1;
$z-index_error-before: -10;


/*
┌─────────┐
│ Colores │
└─────────┘
*/

// Colores primarios
$color-primary-001: #155DB3; // 21, 93, 179
$color-primary-002: #018373; // 1, 131,115
$color-primary-003: #567383; // 86, 115, 131
$color-primary-004: #D10002; // 208, 1, 3

// Degradado de colores primarios
$color-primary-001-80: rgba(21,92,178,0.8);
$color-primary-001-60: rgba(21,92,178,0.6);
$color-primary-001-40: rgba(21,92,178,0.4);
$color-primary-001-20: rgba(21,92,178,0.2);
$color-primary-001-10: rgba(21,92,178,0.1);
$color-primary-002-80: rgba(1,131,115,0.8);
$color-primary-002-60: rgba(1,131,115,0.6);
$color-primary-002-40: rgba(1,131,115,0.4);
$color-primary-002-20: rgba(1,131,115,0.2);
$color-primary-002-10: rgba(1,131,115,0.1);
$color-primary-003-80: rgba(86,115,131,0.8);
$color-primary-003-60: rgba(86,115,131,0.6);
$color-primary-003-40: rgba(86,115,131,0.4);
$color-primary-003-20: rgba(86,115,131,0.2);
$color-primary-003-10: rgba(86,115,131,0.1);
$color-primary-004-80: rgba(208,1,3,0.8);
$color-primary-004-60: rgba(208,1,3,0.6);
$color-primary-004-40: rgba(208,1,3,0.4);
$color-primary-004-20: rgba(208,1,3,0.2);
$color-primary-004-10: rgba(208,1,3,0.1);

// Colores secundarios
$color-secondary-001: #CC0098; // 204, 0, 152
$color-secondary-002: #9900CC; // 153, 0, 204
$color-secondary-003: #336601; // 51, 102, 1
$color-secondary-004: #560100; // 86, 1, 0
$color-secondary-005: #016666; // 1, 102, 103
$color-secondary-006: #666666; // 102, 102,102
$color-secondary-007: #666632; // 102, 102, 50
$color-secondary-008: #6734FF; // 103, 52, 255
$color-secondary-009: #E6E6E6; // 230, 230, 230
$color-secondary-010: #000000; // 0, 0,1
$color-secondary-011: #FFFFFF; // 255, 255, 255

/*
Colores generales
*/
$color-code: #c7254e; // Color para texto de elemento <code>
$color-code-background: #f9f2f4; // Color para fondo de elemento <code>
$color-disabled: #94938c; // Color para textos desactivados
$color-error: $color-primary-004; // Color para textos de error
$color-shadow: rgba(125, 125, 125, 0.65); // Color de para el sombreado
$color-warning: #8a6d3b; // Color para textos de warning
$color-warning-background: #FCF8E3; // Color fondo de warning

/*
Colores especiales
*/
$color-dark: #4e4d4d;
$color-accent: #e44c4d;

/*
┌─────────┐
│ Tamaños │
└─────────┘
*/

$card-max-size: 80rem;
$font-size-small: 0.85rem;
$font-size-medium: 1rem;
$font-size-big: 1.25rem;
$font-size-super-big: 2.25rem; /* Pensado especialmente para iconos de Font Awesome */
$font-size-ultra-big: 3.25rem; /* Pensado especialmente para iconos de Font Awesome */
$round-corner-default-size: 0.45rem;

/*
╔════════╗
║ Mixins ║
╚════════╝
*/

/*
Aplica un estilo base pensado para la vista o template de un componente por defecto.
*/
@mixin view-style () {
  display: block;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: $color-secondary-009;
  padding-bottom: 16.8rem; /* Se tiene en cuenta lo que ocupa el teclado al ser mostrado*/
}

/*
Redondea las esquinas de un elemento con borde.
*/
@mixin mx-round-corners ($top-left, $top-right, $bottom-right, $botton-left) {
  -webkit-border-top-left-radius: $top-left;
  -webkit-border-top-right-radius: $top-right;
  -webkit-border-bottom-right-radius: $bottom-right;
  -webkit-border-bottom-left-radius: $botton-left;
  -moz-border-radius-topleft: $top-left;
  -moz-border-radius-topright: $top-right;
  -moz-border-radius-bottomright: $bottom-right;
  -moz-border-radius-bottomleft: $botton-left;
  border-top-left-radius: $top-left;
  border-top-right-radius: $top-right;
  border-bottom-right-radius: $bottom-right;
  border-bottom-left-radius: $botton-left;
}

/*
Redondear las esquinas de un elemento con borde con el radio por defecto
*/
@mixin mx-round-corners-default () {
  @include mx-round-corners(
        $round-corner-default-size,
        $round-corner-default-size,
        $round-corner-default-size,
        $round-corner-default-size);
}

/*
Quita las esquinas redondeadas de un elemento o evita que las pueda tener.
*/
@mixin mx-no-round-corners {
  -webkit-border-top-left-radius: 0 !important;
  -webkit-border-top-right-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -moz-border-radius-topleft: 0 !important;
  -moz-border-radius-topright: 0 !important;
  -moz-border-radius-bottomright: 0 !important;
  -moz-border-radius-bottomleft: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

/*
Incluye sombra de un elemento.
*/
@mixin mx-shadow {

  -webkit-box-shadow: 0.2rem 0.2rem 0.25rem 0 $color-shadow; //rgba(125, 125, 125, 0.65);
  -moz-box-shadow:    0.2rem 0.2rem 0.25rem 0 $color-shadow; //rgba(125, 125, 125, 0.65);
  box-shadow:         0.2rem 0.2rem 0.25rem 0 $color-shadow; //rgba(125, 125, 125, 0.65);
}

/*
Incluye sombra de un elemento.
*/
@mixin mx-text-shadow {

  text-shadow: 0.2rem 0.2rem 0.25rem $color-shadow;
}

/*
Incluye sombra de un elemento de forma customizada.
*/
@mixin mx-shadow-custom ($horizontal, $vertical, $blur, $spread) {

  @if $horizontal == 'auto' {

    // if width is not passed, or empty do this
    $horizontal: 0.2rem;

  } @else {}

  @if $vertical == 'auto' {

    // if width is not passed, or empty do this
    $vertical: 0.2rem;

  } @else {}

  @if $blur == 'auto' {

    // if width is not passed, or empty do this
    $blur: 0.2rem;

  } @else {}

  @if $spread == 'auto' {

    // if width is not passed, or empty do this
    $spread: 0.2rem;

  } @else {}

  -webkit-box-shadow: $horizontal $vertical $blur $spread rgba(125, 125, 125, 0.65);
  -moz-box-shadow:    $horizontal $vertical $blur $spread rgba(125, 125, 125, 0.65);
  box-shadow:         $horizontal $vertical $blur $spread rgba(125, 125, 125, 0.65);
}

/*
Incluye sombra de un elemento de tipo inset.
*/
@mixin mx-inset-shadow {
  -webkit-box-shadow: inset 0.2rem 0.2rem 0.25rem 0 rgba(125, 125, 125, 0.65);
  -moz-box-shadow:    inset 0.2rem 0.2rem 0.25rem 0 rgba(125, 125, 125, 0.65);
  box-shadow:         inset 0.2rem 0.2rem 0.25rem 0 rgba(125, 125, 125, 0.65);
}

/*
Quita la sombra de un elemento o evita que la pueda tener.
*/
@mixin mx-no-shadow {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/*
Trunca el texto añadiendo tres puntos al final. Pensado para incluirse en el CSS de elementos
<p>, <h1>...<hN> y otros elementos de texto.
*/
@mixin mx-truncate {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
Hace que un elemento acepte los caracteres \n como una nueva linea. Pensado para incluirse en el CSS
de elementos <p>, <h1>...<hN> y otros elementos de texto.
*/
@mixin mx-new-line-with-n {
  white-space: pre-line;
}

/*
╔═══════════╗
║ Elementos ║
╚═══════════╝
*/

/*
┌─────────────┐
│ HTML y BODY │
└─────────────┘
*/

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 10pt;
  font-family: 'Montserrat-light';
}

body { 
  // Solución Notch iPhone X
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

h1 {
  font-family: 'Montserrat-bold';
  font-size: 1.75rem;
  line-height: 20pt;
}

h2 {
  font-family: 'Montserrat';
  font-size: 1.55rem;
  line-height: 15pt;
}

h3 {
  font-family: 'Montserrat';
  font-size: 1rem;
  line-height: 15pt;
}

a {
  cursor: pointer;
}

/*
┌─────────┐
│ Enlaces │
└─────────┘
*/

a {
  color: #5c8fb9;
  text-decoration: none;
}

/* unvisited link */
a:link {
    color: #5c8fb9;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #5c8fb9;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #5c8fb9;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #5c8fb9;
    text-decoration: none;
}

/*
Desactivar el marco azul o naranja que suele poner el navegador al hacer focus en
los siguientes elementos.
*/
button:focus,
input:focus {
  outline: 0 !important;
}

/*
┌──────────────────┐
│ Bloque de código │
└──────────────────┘
*/

code {
  display: block;
  position: relative;
  background-color: $color-code-background;
  color: $color-code;
  border: 1px solid $color-code;
  margin: 0 0 1.55rem 0;

  -webkit-user-select: text;
  -moz-user-select: text;
  -khtml-user-select: text;
  -ms-user-select: text;

  badge {
    display: inline-block;
    position: absolute;
    margin: 0 0 0 0;
    padding: 0.05rem 0.55rem 0.05rem 0.55rem;
    right: 0.3rem;
    top: -0.75rem;
    text-align: center;
    background-color: $color-code;
    color: $color-code-background;
    border: 1px solid $color-code;
    font-size: $font-size-small;

    @include mx-round-corners(5rem, 5rem, 5rem, 5rem);
  }
}

/*
╔═════════════════╗
║ Identificadores ║
╚═════════════════╝
*/

/*
Contenedor principal de los estados de la App
*/
#ng-view {
  height: 100%;
}

/*
╔════════╗
║ Clases ║
╚════════╝
*/

/*
┌───────────────────────────────┐
│ Clases especiales para los h1 │
└───────────────────────────────┘
*/

h1 {
  &.h1-color-primary-001 {

    //@include mx-round-corners(0.45rem, 0.35rem, 0.35rem, 0.45rem);
    //@include mx-shadow();

    //background-color: $color-secondary-011;

    //border: solid thin $color-primary-001;
    border-left: solid 0.75rem $color-primary-001;
    //border-right: solid 0.75rem $color-primary-001;

    color: $color-primary-001 ;

    margin: 1rem 0.55rem 1.25rem 0.55rem;
    padding: 0.55rem 0.55rem 0.55rem 0.55rem;
  }
  &.h1-color-primary-002 {

    //@include mx-round-corners(0.45rem, 0.35rem, 0.35rem, 0.45rem);
    //@include mx-shadow();

    //background-color: $color-secondary-011;

    //border: solid thin $color-primary-001;
    border-left: solid 0.75rem $color-primary-002;
    //border-right: solid 0.75rem $color-primary-001;

    color: $color-primary-002 ;

    margin: 1rem 0.55rem 1.25rem 0.55rem;
    padding: 0.55rem 0.55rem 0.55rem 0.55rem;
  }
  &.h1-color-primary-003 {

    //@include mx-round-corners(0.45rem, 0.35rem, 0.35rem, 0.45rem);
    //@include mx-shadow();

    //background-color: $color-secondary-011;

    //border: solid thin $color-primary-001;
    border-left: solid 0.75rem $color-primary-003;
    //border-right: solid 0.75rem $color-primary-001;

    color: $color-primary-003 ;

    margin: 1rem 0.55rem 1.25rem 0.55rem;
    padding: 0.55rem 0.55rem 0.55rem 0.55rem;
  }
  &.h1-color-primary-004 {

    //@include mx-round-corners(0.45rem, 0.35rem, 0.35rem, 0.45rem);
    //@include mx-shadow();

    //background-color: $color-secondary-011;

    //border: solid thin $color-primary-001;
    border-left: solid 0.75rem $color-primary-004;
    //border-right: solid 0.75rem $color-primary-001;

    color: $color-primary-004 ;

    margin: 1rem 0.55rem 1.25rem 0.55rem;
    padding: 0.55rem 0.55rem 0.55rem 0.55rem;
  }
}

.mv-card {
  &.mv-card-color-primary-001 {

    border: solid thin $color-primary-001;
    background-color: $color-secondary-011;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0.95rem auto 0.95rem auto;
    width: 97%;
  }
  &.mv-card-color-primary-002 {

    border: solid thin $color-primary-002;
    background-color: $color-secondary-011;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0.95rem auto 0.95rem auto;
    width: 97%;
  }
  &.mv-card-color-primary-003 {

    border: solid thin $color-primary-003;
    background-color: $color-secondary-011;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0.95rem auto 0.95rem auto;
    width: 97%;
  }
  &.mv-card-color-primary-004 {

    border: solid thin $color-primary-004;
    background-color: $color-secondary-011;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0.95rem auto 0.95rem auto;
    width: 97%;
  }
}

/*
┌───────────────────┐
│ Clases de fuentes │
└───────────────────┘
*/

.main-font-hairline {
  font-family: 'Montserrat-hairline';
}
.main-font-ultra-light {
  font-family: 'Montserrat-ultraLight';
}
.main-font-light {
  font-family: 'Montserrat-light';
}
.main-font-semi-bold {
  font-family: 'Montserrat-semiBold';
}
.main-font-bold {
  font-family: 'Montserrat-bold';
}
.main-font-extra-bold {
  font-family: 'Montserrat-extraBold';
}
.main-font-black {
  font-family: 'Montserrat-black';
}

/*
┌──────────────────┐
│ Clases genéricas │
└──────────────────┘
*/

/*
Clase del hack de la notificación iOS con la App abierta
*/
.notificacion-push-ios {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: $z_index_notification_push_ios;
  margin: 0 0 0 0;
  padding: 0.55rem;
  background-color: $color-primary-003;
  color: $color-secondary-011;
  width: 100%;
}

/*
Clase especial para sobreescribir la clase de la notificación especial de iOS con la App abierta
*/
.killed {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s,opacity 0.5s linear;
}

/*
Clase para corregir el bug del teclado virtual de iOS con el header
*/
.fix-ios-keyboard-bug-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

/*
Evitar la seleccion de los textos en toda la App
*/
.no-user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

/*
Pone el overflow a hidden, para que cuando sale una ventana modal o el menú, el scroll
del elemento hijo no afecte al body.
*/
.ovh {
  position:relative;
  overflow: hidden;
}

/*
Trunca el texto añadiendo tres puntos al final. Pensado para elementos <p>, <h1>...<hN>
y otros elementos de texto.
*/
.truncate {
  @include mx-truncate();
}

/*
Hace que un elemento acepte los caracteres \n como una nueva linea.
*/
.new-line-with-n {
  white-space: pre-line;
}

/*
Estilos predefinidos para elementos contenedores.
*/
.section-warning {
  background-color: $color-warning-background !important;
  border: solid 2px #faebcc !important;
  color: $color-warning !important;
}

.section-success {
  background-color: #dff0d8 !important;
  border: solid 2px #d6e9c6 !important;
  color: #3c763d !important;
}

.section-danger {
  background-color: #f2dede !important;
  border: solid 2px #ebccd1 !important;
  color: #a94442 !important;
}

.section-info {
  background-color: #d9edf7 !important;
  border: solid 2px #bce8f1 !important;
  color: #31708f !important;
}

/*
Estilos para los mv.movaCard de danger y warning
*/
.hr-danger {
  border: thin solid #a94442 !important;
  margin: 0.45rem 0 0.65rem 0;
}

.hr-warning {
  border: thin solid #8a6d3b !important;
  margin: 0.45rem 0 0.65rem 0;
}

.hr-info {
  border: thin solid #31708f !important;
  margin: 0.45rem 0 0.65rem 0;
}

.hr-success {
  border: thin solid #3c763d !important;
  margin: 0.45rem 0 0.65rem 0;
}

/*
Mostrar y ocultar de forma genérica
*/
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.display-none {
  display: none;
}

/*
Cursores
*/
.cursor-pointer {
  cursor: pointer;
}

/*
╔═══════════════╗
║ media queries ║
╚═══════════════╝
- https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/

/*
┌──────────────────┐
│ Bootstrap col-xs │
└──────────────────┘
*/

@media only screen and (max-width: $media-col-xs-max) {

}

/*
┌──────────────────┐
│ Bootstrap col-sm │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-sm-min) and (max-width : $media-col-sm-max) {

}

/*
┌──────────────────┐
│ Bootstrap col-md │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-md-min) and (max-width : $media-col-md-max) {

}

/*
┌──────────────────┐
│ Bootstrap col-lg │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-lg-min) {

}
