<!-- app-example-mova-menu-desplegable -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons">

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaMenuDesplegable</h1>
		<br>

		<p>El componente <b>mv.movaMenuDesplegable</b> proporciona un menú con distintas opciones desplegables,
			con tantos niveles como se desee. Dispone también de un buscador</p>

		<mv-menu-desplegable
			id="exampleMenuDesplegable"
			valores="valores"
			multiple-opened=true
			expand-all-button=true>
		</mv-menu-desplegable>

		<p>Aquí vemos otro ejemplo (<a target="_blank" href="jsonEjemplo.json">enlace al archivo json</a>):</p>

		<mv-menu-desplegable
			id="exampleMenuDesplegable2"
			valores="valores2"
			multiple-opened=true>
		</mv-menu-desplegable>

		<br>

		<p>El componente <b>mv.movaMenuDesplegable</b> se utiliza mediante el elemento del DOM
			<b>&lt;mv-menu-desplegable>&lt;/mv-menu-desplegable></b> y el uso de sus atributos.</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('valores')" >valores</a></li>
			<li><a href="" ng-click="$root.scrollTo('multipleOpened')" >multipleOpened</a></li>
			<li><a href="" ng-click="$root.scrollTo('expandAllButton')" >expandAllButton</a></li>
		</ul>
	</mv-card>

	<mv-card
		id="valores">
		<h3 class="title-3">valores</h3>
		<br>
		<p>El atributo <b>valores</b> es un JSON que sirve para definir el componente. Cada objeto del JSON
			será un elemento distinto del menú. Contiene los atributos:
		<ul>
			<li><b>titulo</b>: título principal del elemento</li>
			<li><b>subtitulo</b>: subtítulo del elemento (puede quedar vacío)</li>
			<li><b>enlace</b>: a dónde nos dirigimos al hacer click en el elemento. Debe indicarse de una
				manera concreta a dónde nos dirigimos (
				puede ser a un estado de la app o una url externa). Ver el ejemplo para comprobar el formato correcto</li>
			<li><b>claseCss</b>: clase css que se aplicará al elemento (puede quedar vacío)</li>
			<li><b>hijos</b>: array de elementos hijos</li>
		</ul>
		<br>

		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-menu-desplegable<br>
				&emsp;&emsp;id="exampleMenuDesplegable"<br>
				&emsp;&emsp;valores="valores"<br>
				&emsp;&emsp;multiple-opened="true"><br>
				&emsp;&emsp;expand-all-button="true"><br>
				&lt;/mv-menu-desplegable>
			</span>
		</code>

		<mv-card
			class="section-warning"
			title="IMPORTANTE"
			hr-class-if="hr-warning">
			<p>Si un objeto del JSON tiene el campo enlace relleno no podrá tener hijos y viceversa, ya que si tiene
			enlace al pulsar tendrá que llevarnos a dicho enlace y si tiene hijos nos tendrá que abrir el siguiente nivel
			por tanto solo puede tener o enlace o hijos, nunca ambos rellenos a la vez</p>
		</mv-card>

		<code>
			<badge>JavaScript</badge>
			<span>
				this.scope.valores = [<br>
				&emsp;&emsp;&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"titulo":&emsp;"Estados Unidos",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"subtitulo":&emsp;"325 mill. habitantes",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"enlace":&emsp;"",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"hijos":&emsp;[<br>

				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"titulo":&emsp;"California",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"subtitulo":&emsp;"39,54 mill. habitantes",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"enlace":&emsp;'{"url": "https://es.wikipedia.org/wiki/Estados_Unidos"}',<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"claseCss":&emsp;"",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"hijos":&emsp;[]<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;},<br>

				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"titulo":&emsp;"Florida",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"subtitulo":&emsp;"20,98 mill. habitantes",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"enlace":&emsp;'{"url":"https://es.wikipedia.org/wiki/Estados_Unidos"}',<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"claseCss":&emsp;"",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"hijos":&emsp;[]<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;},<br>

				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"titulo":&emsp;"Colorado",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"subtitulo":&emsp;"Ejemplo de enlace a un estado de la app",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"enlace":&emsp;'{"state":"maquetacion-grid"}',<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"claseCss":&emsp;"",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"hijos":&emsp;[]<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;},<br>

				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"titulo":&emsp;"Texas",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"subtitulo":&emsp;"Ejemplo de enlace a un estado de la app pasando parámetros",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"enlace":&emsp;'{"state":"maquetacion-grid",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"params": [{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"paramName": "myParam",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"paramValue": "myValue"<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;}]<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;}',<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"claseCss":&emsp;"",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"hijos":&emsp;[]<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;}<br>

				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;]<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;},<br>

				&emsp;&emsp;&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"titulo":&emsp;"París",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"subtitulo":&emsp;"12,2 mill. habitantes",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"enlace":&emsp;'{"url":"https://es.wikipedia.org/wiki/Par%C3%ADs"}',<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"claseCss":&emsp;"",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"hijos":&emsp;[]<br>
				&emsp;&emsp;&emsp;&emsp;},<br>

				&emsp;&emsp;&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"titulo":&emsp;"España",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"subtitulo":&emsp;"46,5 mill. habitantes",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"enlace":&emsp;"",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"claseCss":&emsp;"claseSpain",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"hijos":&emsp;[<br>

				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"titulo":&emsp;"Andalucía",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"subtitulo":&emsp;"8,4 mill. habitantes",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"enlace":&emsp;"",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"claseCss":&emsp;"",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"hijos":&emsp;[<br>

				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"titulo":&emsp;"Málaga",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"subtitulo":&emsp;"1,63 mill. habitantes",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"enlace":&emsp;"",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"claseCss":&emsp;"",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"hijos":&emsp;[<br>

				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"titulo":&emsp;"Marbella",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"subtitulo":&emsp;"140.700 habitantes",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"enlace":&emsp;'{"url":"https://es.wikipedia.org/wiki/Espa%C3%B1a"}',<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"claseCss":&emsp;"",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"hijos":&emsp;[]<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;}<br>

				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;]<br>

				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;}<br>

				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;]<br>

				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;},<br>

				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"titulo":&emsp;"Galicia",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"subtitulo":&emsp;"2,72 mill. habitantes",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"enlace":&emsp;"",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"claseCss":&emsp;"",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"hijos":&emsp;[<br>

				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"titulo":&emsp;"Pontevedra",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"subtitulo":&emsp;"1,63 mill. habitantes",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"enlace":&emsp;"",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"claseCss":&emsp;"",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"hijos":&emsp;[<br>

				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"titulo":&emsp;"Vigo",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"subtitulo":&emsp;"82.500 habitantes",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"enlace":&emsp;'{"url":"https://es.wikipedia.org/wiki/Espa%C3%B1a"}',<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"claseCss":&emsp;"",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"hijos":&emsp;[]<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;},<br>

				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"titulo":&emsp;"Mondariz",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"subtitulo":&emsp;"5000 habitantes",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"enlace":&emsp;'{"url":"https://es.wikipedia.org/wiki/Espa%C3%B1a"}',<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"claseCss":&emsp;"",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"hijos":&emsp;[]<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;}<br>

				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;]<br>

				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;},<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{<br>

				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"titulo":&emsp;"Lugo",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"subtitulo":&emsp;"336.500 habitantes",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"enlace":&emsp;"",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"claseCss":&emsp;"",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"hijos":&emsp;[<br>

				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"titulo":&emsp;"Ribadeo",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"subtitulo":&emsp;"10.000 habitantes",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"enlace":&emsp;'{"url":"https://es.wikipedia.org/wiki/Espa%C3%B1a"}',<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"claseCss":&emsp;"",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"hijos":&emsp;[]<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;},<br>

				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"titulo":&emsp;"Villalba",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"subtitulo":&emsp;"14.800 habitantes",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"enlace":&emsp;'{"url":"https://es.wikipedia.org/wiki/Espa%C3%B1a"}',<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"claseCss":&emsp;"",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"hijos":&emsp;[]<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;}<br>

				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;]<br>

				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;}<br>

				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;]<br>

				&emsp;&emsp;&emsp;&emsp;}<br>

				&emsp;&emsp;];<br>

			</span>
		</code>

	</mv-card>

	<mv-card
		id="multipleOpened">
		<h3 class="title-3">multipleOpened</h3>
		<br>
		<p>El atributo <b>multipleOpened</b> es un booleano que sirve para determinar que pueda haber varios niveles abiertos a la vez,
			es decir, que si abrimos un nivel los demás se mantengan abiertos. En caso de poner el valor a false al abrir un nivel se cerrarán los demás que estuvieran abiertos.
	</mv-card>

	<mv-card
		id="expandAllButton">
		<h3 class="title-3">expandAllButton</h3>
		<br>
		<p>El atributo <b>expandAllButton</b> es un booleano que sirve para mostrar un botón que expande
			y oculta todos los niveles de una vez. Si no se especifica ningún valor no se mostrará el botón</p>
	</mv-card>

	<mv-card
		id="valores"
		>
		<h3 class="title-3"></h3>
		<br>
		<p>El aspecto visual se configurará mediante las clases CSS siguientes:
		<ul>
			<li><b>item-simple</b>: estilo que se aplicará a todos los elementos (para cosas que sean comunes a todos)</li>
			<li><b>mvMenuDesplegableTituloN<i>_NIVEL_</i></b>: estilo que se aplicará al título del elemento</li>
			<li><b>mvMenuDesplegableSubtituloN<i>_NIVEL_</i></b>: estilo que se aplicará al subtítulo del elemento</li>
			<li><b>mvMenuDesplegableOpenN<i>_NIVEL_</i></b>: clase css que se aplicará al elemento desplegado (indicado especialmente para definir el icono de 'abierto')</li>
			<li><b>mvMenuDesplegableCloseN<i>_NIVEL_</i></b>: clase css que se aplicará al elemento colapsado (indicado especialmente para definir el icono de 'cerrado')</li>
			<li><b>mvMenuDesplegableEnlaceN<i>_NIVEL_</i></b>: clase css que se aplicará al elemento tipo enlace (indicado especialmente para definir el icono de 'enlace')</li>
		</ul>
		<p>siendo <i>_NIVEL_</i> en cada caso el nivel de profundidad del elemento (0, 1, 2, 3...)</p>

		<br>

		<p>A continuación se muestra la maquetación del ejemplo superior siendo tan solo eso, un ejemplo, pudiendo modificarse a gusto del usuario:</p>

		<br>

		<code>
			<badge>CSS</badge>
			<span>
				#exampleMenuDesplegable{<br>
				&emsp;&emsp;mv-menu-desplegable-partial{<br>
				&emsp;&emsp;&emsp;&emsp;.claseSpain{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;background-color: #AD1519 !important;<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;.mvMenuDesplegableTituloN0, .mvMenuDesplegableSubtituloN0, i{<br>
	    	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;color: #fff;<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;}<br>
				&emsp;&emsp;&emsp;&emsp;}<br>
				&emsp;&emsp;&emsp;&emsp;.item-simple{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;height: auto;<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;border: 1px solid;<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;border-radius: 4px;<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;margin-top: 2px;<br>
		    &emsp;&emsp;&emsp;&emsp;}<br>
		    &emsp;&emsp;&emsp;&emsp;.mvMenuDesplegableTituloN0,<br>
				&emsp;&emsp;&emsp;&emsp;.mvMenuDesplegableSubtituloN0{<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;color: #9a1313;<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;margin-left: 25px;<br>
		    &emsp;&emsp;&emsp;&emsp;}<br>
		    &emsp;&emsp;&emsp;&emsp;.mvMenuDesplegableTituloN1,<br>
				&emsp;&emsp;&emsp;&emsp;.mvMenuDesplegableSubtituloN1{<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;color: #1d21a2;<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;margin-left: 25px;<br>
		    &emsp;&emsp;&emsp;&emsp;}<br>
		    &emsp;&emsp;&emsp;&emsp;.mvMenuDesplegableTituloN2,<br>
				&emsp;&emsp;&emsp;&emsp;.mvMenuDesplegableSubtituloN2{<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;color: #188c2c;<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;margin-left: 25px;<br>
		    &emsp;&emsp;&emsp;&emsp;}<br>
		    &emsp;&emsp;&emsp;&emsp;.mvMenuDesplegableTituloN3,<br>
				&emsp;&emsp;&emsp;&emsp;.mvMenuDesplegableSubtituloN3{<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;color: #000;<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;margin-left: 25px;<br>
		    &emsp;&emsp;&emsp;&emsp;}<br>
		    &emsp;&emsp;&emsp;&emsp;.mvMenuDesplegableTituloN0,<br>
				&emsp;&emsp;&emsp;&emsp;.mvMenuDesplegableTituloN1,<br>
				&emsp;&emsp;&emsp;&emsp;.mvMenuDesplegableTituloN2,<br>
				&emsp;&emsp;&emsp;&emsp;.mvMenuDesplegableTituloN3{<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;font-weight: bold;<br>
		    &emsp;&emsp;&emsp;&emsp;}<br>
		    &emsp;&emsp;&emsp;&emsp;.mvMenuDesplegableSubtituloN0,<br>
				&emsp;&emsp;&emsp;&emsp;.mvMenuDeplegableCloseN0,<br>
				&emsp;&emsp;&emsp;&emsp;.mvMenuDeplegableEnlaceN0{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;background-color: #e8e7e7;<br>
		    &emsp;&emsp;&emsp;&emsp;}<br>
		    &emsp;&emsp;&emsp;&emsp;.mvMenuDeplegableOpenN1,<br>
				&emsp;&emsp;&emsp;&emsp;.mvMenuDeplegableCloseN1,<br>
				&emsp;&emsp;&emsp;&emsp;.mvMenuDeplegableEnlaceN1{<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;background-color: #c4c6f5;<br>
		    &emsp;&emsp;&emsp;&emsp;}<br>
		    &emsp;&emsp;&emsp;&emsp;.mvMenuDeplegableOpenN2,<br>
				&emsp;&emsp;&emsp;&emsp;.mvMenuDeplegableCloseN2,<br>
				&emsp;&emsp;&emsp;&emsp;.mvMenuDeplegableEnlaceN2{<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;background-color: #cbf7d3;<br>
		    &emsp;&emsp;&emsp;&emsp;}<br>
		    &emsp;&emsp;&emsp;&emsp;.mvMenuDeplegableOpenN0,<br>
				&emsp;&emsp;&emsp;&emsp;.mvMenuDeplegableOpenN1,<br>
				&emsp;&emsp;&emsp;&emsp;.mvMenuDeplegableOpenN2,<br>
				&emsp;&emsp;&emsp;&emsp;.mvMenuDeplegableOpenN3{<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;#mova-item-click-icon::before {<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;content: "\f056";<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;position: absolute;<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;left: 0.75rem;<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;top: calc(50% - 0.35rem);<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;}<br>
		    &emsp;&emsp;&emsp;&emsp;}<br>
		    &emsp;&emsp;&emsp;&emsp;.mvMenuDeplegableCloseN0,<br>
				&emsp;&emsp;&emsp;&emsp;.mvMenuDeplegableCloseN1,<br>
				&emsp;&emsp;&emsp;&emsp;.mvMenuDeplegableCloseN2,<br>
				&emsp;&emsp;&emsp;&emsp;.mvMenuDeplegableCloseN3{<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;#mova-item-click-icon::before {<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;content: "\f055";<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;position: absolute;<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;left: 0.75rem;<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;top: calc(50% - 0.35rem);<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;}<br>
		    &emsp;&emsp;&emsp;&emsp;}<br>
		    &emsp;&emsp;&emsp;&emsp;.mvMenuDeplegableEnlaceN0,<br>
				&emsp;&emsp;&emsp;&emsp;.mvMenuDeplegableEnlaceN1,<br>
				&emsp;&emsp;&emsp;&emsp;.mvMenuDeplegableEnlaceN2,<br>
				&emsp;&emsp;&emsp;&emsp;.mvMenuDeplegableEnlaceN3{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;cursor: pointer;<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;#mova-item-click-icon::before {<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;content: "\f054";<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;position: absolute;<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;left: 0.75rem;<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;top: calc(50% - 0.35rem);<br>
		    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;}<br>
		    &emsp;&emsp;&emsp;&emsp;}<br>
		    &emsp;&emsp;}<br>
		  	}<br>
			</span>
		</code>
	</mv-card>

</mv-screen>
