<ion-header>
    <ion-toolbar>
      <ion-title>lista-tus-agentes</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content *ngIf="items" class="fondo">
    <ion-searchbar [(ngModel)]="searchText" placeholder="Buscador..." style="text-transform: uppercase"></ion-searchbar>
        <div *ngFor="let item of items">
          <div *ngIf="items.length > 0" >
              <div *ngIf="item.payload.doc.data().nombre && item.payload.doc.data().nombre.length" >
                  <div *ngIf="item.payload.doc.data().nombre.includes(searchText) ">
                      <ion-list >
                                <ion-item [routerLink]= "['/detalles-agentes', item.payload.doc.id]" >
                                  <ion-avatar slot="start">
                                    <img src="{{item.payload.doc.data().image}}">
                                  </ion-avatar>
                                  <ion-label>{{item.payload.doc.data().nombre}}</ion-label>
                                </ion-item>
                    </ion-list>
                  </div>
              </div>
          </div>
          <div *ngIf="items.length == 0" class="sin">
              Sin Inmobiliarias en este Momento
          </div>
        </div>
      
  </ion-content>
