<!-- app-example-guia-estilos-texto -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">Tipografía y textos</h1>
		<br>
		<h3 class="title-3">Tipografía</h3>
		<br>
		<p>La tipografía principal de MOVA es "Montserrat".</p>

		<mv-card
		  class="section-danger"
		  title="IMPORTANTE"
		  hr-class-if="hr-danger">
		  <div>Es altamente recomendable usar las clases que se muestran a continuación para cuando queramos
			usar texto en negrita, en vez de hacerlo por otros medios (como la propiedad font-weight de CSS
			o la etiqueta &lt;b> de html) ya que dichas propiedades pueden mostrarse diferentes de un navegador a otro.
			Por poner un ejemplo, en iOS la propiedad font-weigth y la etiqueta &lt;b> no tienen efecto</div>
		</mv-card>

		<p>A continuación se muestran las distintas clases CSS existentes para aplicar la tipografía:</p>
		<ul>
			<li><p class="main-font-ultra-light">main-font-ultra-light</p></li>
			<li><p class="main-font-hairline">main-font-hairline</p></li>
			<li><p class="main-font-light">main-font-light</p></li>
			<li><p class="main-font-semi-bold">main-font-semi-bold</p></li>
			<li><p class="main-font-bold">main-font-bold</p></li>
			<li><p class="main-font-extra-bold">main-font-extra-bold</p></li>
			<li><p class="main-font-black">main-font-black</p></li>
		</ul>

		<code>
			<badge>HTML</badge>
			<span>
				&lt;p class="main-font-light">main-font-light&lt;/p>
			</span>
		</code>



		<h3 class="title-3">Textos</h3>
		<br>
		<p>A continuación se muestran los estilos designados para los textos:</p>
		<h1>&lt;h1> Ejemplo de título principal</h1>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;h1>Ejemplo de título principal&lt;/h1>
			</span>
		</code>
		<h2>&lt;h2> Ejemplo de título secundario</h2>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;h2>Ejemplo de título secundario&lt;/h2>
			</span>
		</code>
		<h3>&lt;h3> Ejemplo de título terciario</h3>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;h3>Ejemplo de título terciario&lt;/h3>
			</span>
		</code>
		<p>&lt;p> Ejemplo de párrafo</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;p>Ejemplo de párrafo&lt;/p>
			</span>
		</code>

		<h3 class="title-3">Estilos propios de &lt;h1></h3>
		<br>
		<p>A continuación se muestran los estilos por defecto ofrecidos para los elementos &lt;h1>.</p>
		<p>Estos estilos se aplican como clase CSS directamente sobre el elemento &lt;h1>.</p>
		<h1 class="h1-color-primary-001">Ejemplo de estilo h1-color-primary-001</h1>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;h1 class="h1-color-primary-001">Ejemplo de estilo h1-color-primary-001&lt;/h1>
			</span>
		</code>
		<h1 class="h1-color-primary-002">Ejemplo de estilo h1-color-primary-002</h1>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;h1 class="h1-color-primary-001">Ejemplo de estilo h1-color-primary-002&lt;/h1>
			</span>
		</code>
		<h1 class="h1-color-primary-003">Ejemplo de estilo h1-color-primary-003</h1>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;h1 class="h1-color-primary-001">Ejemplo de estilo h1-color-primary-003&lt;/h1>
			</span>
		</code>
		<h1 class="h1-color-primary-004">Ejemplo de estilo h1-color-primary-004</h1>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;h1 class="h1-color-primary-001">Ejemplo de estilo h1-color-primary-004&lt;/h1>
			</span>
		</code>

		<h3 class="title-3">Estilos propios de &lt;mv.card></h3>
		<br>
		<p>A continuación se muestran los estilos por defecto ofrecidos para los elementos &lt;mv-card>.</p>
		<p>Estos estilos se aplican como clase CSS directamente sobre el elemento &lt;h1>.</p>
		<p>Se debe desactivar el estilo por defecto del mv-card mediante <b>default-css=false</b>.</p>

		<mv-card default-css=false class="mv-card-color-primary-001">
			<h1 class="h1-color-primary-001">Ejemplo de estilo para el color-primary-001</h1>
			<p>Este ejemplo aplica la clase CSS <b>h1-color-primary-001</b> al elemento &lt;h1> que actúa como título de esta información</p>
			<p>Este ejemplo aplica la clase CSS <b>mv-card-color-primary-001</b> al elemento &lt;mv-card> que contiene esta información.</p>
			<p>El código de este ejemplo es el siguiente:</p>
			<code>
				<badge>HTML</badge>
				<span>
					&lt;mv-card <b>default-css=false class="mv-card-color-primary-001"</b>><br>
					&emsp;&emsp;&lt;h1 <b>class="h1-color-primary-001"</b>>Ejemplo de estilo para el color-primary-001&lt;/h1><br>
					&lt;/mv-card>
				</span>
			</code>
		</mv-card>

		<p>Estos mismos estilos existen para los 4 colores primarios de la guía de estilos de MOVA. Para ello solo hay que cambiar el <b>001</b> del nombre de la clase por <b>002</b>, <b>003</b> o <b>004</b>.</p>

		<mv-card default-css=false class="mv-card-color-primary-002">
			<h1 class="h1-color-primary-002">Ejemplo de estilo para el color-primary-002</h1>
			<p>Este ejemplo aplica la clase CSS <b>h1-color-primary-002</b> al elemento &lt;h1> que actúa como título de esta información</p>
			<p>Este ejemplo aplica la clase CSS <b>mv-card-color-primary-002</b> al elemento &lt;mv-card> que contiene esta información.</p>
		</mv-card>

		<mv-card default-css=false class="mv-card-color-primary-003">
			<h1 class="h1-color-primary-003">Ejemplo de estilo para el color-primary-003</h1>
			<p>Este ejemplo aplica la clase CSS <b>h1-color-primary-003</b> al elemento &lt;h1> que actúa como título de esta información</p>
			<p>Este ejemplo aplica la clase CSS <b>mv-card-color-primary-003</b> al elemento &lt;mv-card> que contiene esta información.</p>
		</mv-card>

		<mv-card default-css=false class="mv-card-color-primary-004">
			<h1 class="h1-color-primary-004">Ejemplo de estilo para el color-primary-004</h1>
			<p>Este ejemplo aplica la clase CSS <b>h1-color-primary-004</b> al elemento &lt;h1> que actúa como título de esta información</p>
			<p>Este ejemplo aplica la clase CSS <b>mv-card-color-primary-004</b> al elemento &lt;mv-card> que contiene esta información.</p>
		</mv-card>

		<p>A estos estilos se les puede dotar de sombra y bordes redondeados mediante las propiedades <b>shadow=true</b> y <b>round-corners=true</b></p>

		<mv-card default-css=false class="mv-card-color-primary-001" shadow=true round-corners=true>
			<h1 class="h1-color-primary-001">Ejemplo de estilo para el color-primary-001</h1>
			<p>Este ejemplo aplica la clase CSS <b>h1-color-primary-001</b> al elemento &lt;h1> que actúa como título de esta información</p>
			<p>Este ejemplo aplica la clase CSS <b>mv-card-color-primary-001</b> al elemento &lt;mv-card> que contiene esta información.</p>
			<code>
				<badge>HTML</badge>
				<span>
					&lt;mv-card default-css=false class="mv-card-color-primary-001" <b>shadow=true round-corners=true</b>><br>
					&emsp;&emsp;&lt;h1 class="h1-color-primary-001">Ejemplo de estilo para el color-primary-001&lt;/h1><br>
					&lt;/mv-card>
				</span>
			</code>
		</mv-card>
	</mv-card>

</mv-screen>
