
        ion-content{

            --background: url("../../../assets/imgs/detallesIncidencias.jpg") no-repeat fixed center; 
            -webkit-background-size: contain;
            -moz-background-size: contain;
            background-size: contain;
        }
  
        @media only screen and (min-width:414px){
            ion-content{
                --background: url("../../../assets/imgs/detallesIncidenciasS.jpg") no-repeat fixed center; 
                -webkit-background-size: contain;
                -moz-background-size: contain;
                background-size: contain;
            }
        }

.caja{
    background: rgba(255,255,255,0.6);
    width: 98%;
}

p{
    text-align: left;
    margin-bottom: -0.5rem;
    margin-left: 1rem;
}

form{

}

ion-input{
    text-align: left;
    margin-bottom: -0.5rem;
    margin-left: 1rem;
}
hr{
    background: black;
}

textarea{
    width: 95%;
    background: rgba(255,255,255,0.8);
}

ion-select{
    background: lightgray;
}

.boton{
    width: 10rem;
    border-radius: 5px;
    background: #26a6ff;
    height: 2rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.boton1{
    width: 10rem;
    border-radius: 5px;
    background: rgba(255,0,0,0.6);
    height: 2rem;
    font-size: 1.1rem;
    color: white;
    margin-bottom: 1rem;
}

.imagen{
    height: 18rem;
}

@media (min-width:1024px) and (max-width:1920px){
    .imagen{
        height: 18rem;
    }

    .caja{
        width: 50%;
    }
    ion-content{
        --background: url("/assets/imgs/dIncidencias.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
        --background-attachment: fixed;
    }  
}


