<!-- app-example-mova-button-menu -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaButtonMenu</h1>
		<br>
		<p>Botón para mostrar u ocultar el menú lateral.</p>
		<p>Este botón ya aparece en el componente <b>mv.movaHeader</b>.</p>
		<p>Este componente no es configurable mediante parámetros especiales.</p>
		<p>Su estilo por defecto muestra el icono sobre un fondo transparente, si es necesario se puede modificar mediante una clase CSS.</p>
	</mv-card>

	<mv-card>
		<h2  class="title-2">Ejemplo de uso HTML y resultado</h2>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-button-menu>&lt;/mv-menu>
			</span>
		</code>
		<mv-button-menu></mv-button-menu>
	</mv-card>

</mv-screen>
