<!-- app-example-app-config -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">app.config</h1>
		<br>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>Este componente se utiliza mediante su inyección en otros componentes.</p>
			<p>Su contenido es una estructura JSON. Cada atributo es una variable relacionada con la App.</p>
			<p>No debe alterarse la estructura del fichero, pero si debe configurarse las variables con los valores correctos.</p>
			<p>Existe un apartado específico al final del fichero donde se pueden incluir variables propias de la App.</p>
		</mv-card>
		<p>Este componente contiene las siguientes variables de configuración de la App:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('appModuloFuncional')" >appModuloFuncional</a></li>
			<li><a href="" ng-click="$root.scrollTo('appModuloTecnicoAndroid')" >appModuloTecnicoAndroid</a></li>
			<li><a href="" ng-click="$root.scrollTo('appModuloTecnicoIos')" >appModuloTecnicoIos</a></li>
			<li><a href="" ng-click="$root.scrollTo('appModuloTecnicoWebapp')" >appModuloTecnicoWebapp</a></li>
			<li><a href="" ng-click="$root.scrollTo('appModuloTecnicoWindows')" >appModuloTecnicoWindows</a></li>
			<li><a href="" ng-click="$root.scrollTo('appAllowNoNetwork')" >appAllowNoNetwork</a></li>
			<li><a href="" ng-click="$root.scrollTo('appCorrectMachines')" >appCorrectMachines</a></li>
			<li><a href="" ng-click="$root.scrollTo('appErrorConnectionDetail')" >appErrorConnectionDetail</a></li>
			<li><a href="" ng-click="$root.scrollTo('appErrorConnectionTitle')" >appErrorConnectionTitle</a></li>
			<li><a href="" ng-click="$root.scrollTo('appEnviarListaLlamadasHttp')" >appEnviarListaLlamadasHttp</a></li>
			<li><a href="" ng-click="$root.scrollTo('appIsCordovaApp')" >appIsCordovaApp</a></li>
			<li><a href="" ng-click="$root.scrollTo('appIsDesktop')" >appIsDesktop</a></li>
			<li><a href="" ng-click="$root.scrollTo('appLogo')" >appLogo</a></li>
			<li><a href="" ng-click="$root.scrollTo('appLogoAgencia')" >appLogoAgencia</a></li>
			<li><a href="" ng-click="$root.scrollTo('appMachine')" >appMachine</a></li>
			<li><a href="" ng-click="$root.scrollTo('appName')" >appName</a></li>
			<li><a href="" ng-click="$root.scrollTo('appNovedadesVersionUrl')" >appNovedadesVersionUrl</a></li>
			<li><a href="" ng-click="$root.scrollTo('appOnlyForCorrectMachines')" >appOnlyForCorrectMachines</a></li>
			<li><a href="" ng-click="$root.scrollTo('appPoaps')" >appPoaps</a></li>
			<li><a href="" ng-click="$root.scrollTo('appPathInicio')" >appPathInicio</a></li>
			<li><a href="" ng-click="$root.scrollTo('appPortalApps')" >appPortalApps</a></li>
			<li><a href="" ng-click="$root.scrollTo('appSubtitle')" >appSubtitle</a></li>
			<li><a href="" ng-click="$root.scrollTo('appTitle')" >appTitle</a></li>
			<li><a href="" ng-click="$root.scrollTo('erroresEmails')" >erroresEmails</a></li>
			<li><a href="" ng-click="$root.scrollTo('estadisticasId')" >estadisticasId</a></li>
			<li><a href="" ng-click="$root.scrollTo('estadisticasUrl')" >estadisticasUrl</a></li>
			<li><a href="" ng-click="$root.scrollTo('loadingDelay')" >loadingDelay</a></li>
			<li><a href="" ng-click="$root.scrollTo('loadingTimeout')" >loadingTimeout</a></li>
			<li><a href="" ng-click="$root.scrollTo('loginAppSystemNavigatorRedirectBrokerIdentidades')" >loginAppSystemNavigatorRedirectBrokerIdentidades</a></li>
			<li><a href="" ng-click="$root.scrollTo('loginPath')" >loginPath</a></li>
			<li><a href="" ng-click="$root.scrollTo('loginPathCorrecto')" >loginPathCorrecto</a></li>
			<li><a href="" ng-click="$root.scrollTo('loginSisAuth')" >loginSisAuth</a></li>
			<li><a href="" ng-click="$root.scrollTo('loginOpenSystemNavigatorBrokerIdentidades')" >loginOpenSystemNavigatorBrokerIdentidades</a></li>
			<li><a href="" ng-click="$root.scrollTo('loginPathInicioBrokerIdentidades')" >loginPathInicioBrokerIdentidades</a></li>
			<li><a href="" ng-click="$root.scrollTo('loginTokenValidez')" >loginTokenValidez</a></li>
			<li><a href="" ng-click="$root.scrollTo('mvMovaNotificationesOldTopics')" >mvMovaNotificationesOldTopics</a></li>
			<li><a href="" ng-click="$root.scrollTo('notInfoDispSegundosDiferencia')" >notInfoDispSegundosDiferencia</a></li>
			<li><a href="" ng-click="$root.scrollTo('showVersionNews')" >showVersionNews</a></li>
			<li><a href="" ng-click="$root.scrollTo('showVersionNewsUsePoaps')" >showVersionNewsUsePoaps</a></li>
			<li><a href="" ng-click="$root.scrollTo('urlContacta')" >urlContacta</a></li>
			<li><a href="" ng-click="$root.scrollTo('urlAvisoLegal')" >urlAvisoLegal</a></li>
		</ul>
	</mv-card>

	<mv-card
		id="appModuloFuncional"
		>
		<h3 class="title-3">appModuloFuncional</h3>
		<br>
		<p>La variable <b>appModuloFuncional</b> permite definir el módulo funcional de la App.</p>
	</mv-card>

	<mv-card
		id="appModuloTecnicoAndroid"
		>
		<h3 class="title-3">appModuloTecnicoAndroid</h3>
		<br>
		<p>La variable <b>appModuloTecnicoAndroid</b> permite definir el módulo técnico para Android que a su vez, entre otras cosas, permite definir el parámetro <b>s</b> que se utiliza en la URL de Autologin por el componente <a href="#!/example-mova-broker-identidades"><b>mv.movaBrokerIdentidades</b></a>.</p>
	</mv-card>

	<mv-card
		id="appModuloTecnicoIos"
		>
		<h3 class="title-3">appModuloTecnicoIos</h3>
		<br>
		<p>La variable <b>appModuloTecnicoIos</b> permite definir el módulo técnico para Ios que a su vez, entre otras cosas, permite definir el parámetro <b>s</b> que se utiliza en la URL de Autologin por el componente <a href="#!/example-mova-broker-identidades"><b>mv.movaBrokerIdentidades</b></a>.</p>
	</mv-card>

	<mv-card
		id="appModuloTecnicoWebapp"
		>
		<h3 class="title-3">appModuloTecnicoWebapp</h3>
		<br>
		<p>La variable <b>appModuloTecnicoWebapp</b> permite definir el módulo técnico para Webapp que a su vez, entre otras cosas,  permite definir el parámetro <b>s</b> que se utiliza en la URL de Autologin por el componente <a href="#!/example-mova-broker-identidades"><b>mv.movaBrokerIdentidades</b></a>.</p>
	</mv-card>

	<mv-card
		id="appModuloTecnicoWindows"
		>
		<h3 class="title-3">appModuloTecnicoWindows</h3>
		<br>
		<p>La variable <b>appModuloTecnicoWindows</b> permite definir el módulo técnico para Windows que a su vez, entre otras cosas,  permite definir el parámetro <b>s</b> que se utiliza en la URL de Autologin por el componente <a href="#!/example-mova-broker-identidades"><b>mv.movaBrokerIdentidades</b></a>.</p>
	</mv-card>

	<mv-card
		id="appAllowNoNetwork"
		>
		<h3 class="title-3">appAllowNoNetwork</h3>
		<br>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>No es recomendable poner el valor de esta variable a <i>false</i> ya que el comportamiento puede variar dependiendo del dispositivo, en algunos dispositivos, aunque se recupere la conexión, es necesario cerrar completamente la App y entrar de nuevo para desbloquear la App.</p>
		</mv-card>
		<p><b>Valor por defecto:</b> <i>true</i></p>
		<p>La variable <b>appAllowNoNetwork</b> permite que la App sea ejecutada aunque no se tenga conexión.</p>
		<p>En caso de que su valor sea <i>false</i> y la App pieda la conexión se mostrará un mensaje que bloquea el uso de la App avisando de la perdida de conexión hasta que se recupere de nuevo la conexión.</p>
	</mv-card>

	<mv-card
		id="appCorrectMachines"
		>
		<h3 class="title-3">appCorrectMachines</h3>
		<br>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>Los nombres de los tipos de máquinas son muy variados y no siempre van asociados a un hardware determinado si no a un conjunto de distintos hardwares.</p>
			<p>Puede encontrar una lista bastante completa de los nombres de tipos de máquinas más frencuentes <a onclick="window.open('https://stackoverflow.com/a/19883965', '_system');"><b>aquí</b></a>.</p>
			<p>Las principales y las más usadas son las siguientes:</p>
			<ul>
				<li>Win32 (Windows 95 y posteriores incluidos los de 64 bit)</li>
				<li>iPhone</li>
				<li>iPad</li>
				<li>iPod</li>
				<li>MacIntel</li>
				<li>Linux armv7l (Linux y algunos dispositivos Android)</li>
				<li>...</li>
			</ul>
		</mv-card>
		<p><b>Valor por defecto:</b> <i>[]</i></p>
		<p>La variable <b>appCorrectMachines</b> contiene un Array de Strings con los nombres de los tipos de las máquinas permitidas.</p>
		<p>Estos nombres deben ser los mismos que pueden encontrarse en la variable <a href="#!/example-app-config#appMachine"><b>appMachine</b></a>.</p>
		<p>Por deceto, si el valor es un array vacio, se debe considerar que todas las máquinas son correctas para la ejecución de la App.</p>
		<p>Este valor es importante por que se utiliza en el componente <a href="#!/example-mova-library#isCorrectForMachine"><b>mv.movaLibrary</b></a>.</p>
	</mv-card>

	<mv-card
		id="appErrorConnectionDetail"
		>
		<h3 class="title-3">appErrorConnectionDetail</h3>
		<br>
		<p>La variable <b>appErrorConnectionDetail</b> permite definir un mensaje de error detallado para los errores generales que puedan ocurrir relacionados con la conexión.</p>
	</mv-card>

	<mv-card
		id="appErrorConnectionDetail"
		>
		<h3 class="title-3">appErrorConnectionDetail</h3>
		<br>
		<p>La variable <b>appErrorConnectionDetail</b> permite definir un mensaje de error detallado para los errores generales que puedan ocurrir relacionados con la conexión.</p>
	</mv-card>

	<mv-card
		id="appErrorConnectionTitle"
		>
		<h3 class="title-3">appErrorConnectionTitle</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>true</i></p>
		<p>La variable <b>appErrorConnectionTitle</b> permite definir un mensaje de error sencillo, a modo de titulo, para los errores generales que puedan ocurrir relacionados con la conexión.</p>
	</mv-card>

	<mv-card
		id="appEnviarListaLlamadasHttp"
		>
		<h3 class="title-3">appEnviarListaLlamadasHttp</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>false</i></p>
		<p>La variable <b>appEnviarListaLlamadasHttp</b> permite definir mostrar un botón para compartir las últimas llamadas http desde el componente <b>mv.movaDeviceInfo</b>.</p>
	</mv-card>

	<mv-card
		id="appIsCordovaApp"
		>
		<h3 class="title-3">appIsCordovaApp</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>!!window.cordova</i></p>
		<p>La variable <b>appIsCordovaApp</b> permite conocer si la App se está ejecutando como App híbrida o App web mediante la existencia de la librería Cordova.</p>
		<p>El valor de está variable no debe ser módificado.</p>
	</mv-card>

	<mv-card
		id="appIsDesktop"
		>
		<h3 class="title-3">appIsDesktop</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>navigator.userAgent.match(/(iPhone|iPod|iPad|Android|BlackBerry|IEMobile)/) ? false : true</i></p>
		<p>La variable <b>appIsDesktop</b> permite conocer si la App se está ejecutando como App móvil o App web. (No distingue si la App esta en el navegador o es hibrida)</p>
		<p>El valor de está variable no debe ser módificado.</p>
	</mv-card>

	<mv-card
		id="appLogo"
		>
		<h3 class="title-3">appLogo</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>'media/images/logo.png'</i></p>
		<p>La variable <b>appLogo</b> define la ruta en la que se encuentra el logo de la App.</p>
		<p>Este nombre es importante por que se utiliza en los componentes <a href="#!/example-mova-main"><b>mv.movaMain</b></a> y <a href="#!/example-mova-login"><b>mv.movaLogin</b></a>.</p>
	</mv-card>

	<mv-card
		id="appLogoAgencia"
		>
		<h3 class="title-3">appLogoAgencia</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>'media/images/logo-agencia.png'</i></p>
		<p>La variable <b>appLogoAgencia</b> define la ruta en la que se encuentra el logo de Madrid Digital.</p>
		<p>Este nombre es importante por que se utiliza en los componentes <a href="#!/example-mova-main"><b>mv.movaMain</b></a> y <a href="#!/example-mova-login"><b>mv.movaLogin</b></a>.</p>
	</mv-card>

	<mv-card
		id="appMachine"
		>
		<h3 class="title-3">appMachine</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>navigator.platform</i></p>
		<p>La variable <b>appMachine</b> recupera el nombre del tipo de la máquina para la que ha sido compilada la instancia del navegador que se está usando actualmente.</p>
		<p>Este valor es importante por que se utiliza en el componente <a href="#!/example-mova-library#isCorrectForMachine"><b>mv.movaLibrary</b></a>.</p>
	</mv-card>

	<mv-card
		id="appName"
		>
		<h3 class="title-3">appName</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>MOVA_APP</i></p>
		<p>La variable <b>appName</b> permite centralizar el nombre de la App.</p>
		<p>Este nombre es importante por que se utiliza en muchos componentes de MOVA.</p>
	</mv-card>

	<mv-card
		id="appNovedadesVersionUrl"
		>
		<h3 class="title-3">appNovedadesVersionUrl</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>https://gestiona3.madrid.org/portalapps/apps/revel/novedades/</i></p>
		<p>La variable <b>appNovedadesVersionUrl</b> contiene la URL en la que se encuentran las novedades de la versión.</p>
	</mv-card>

	<mv-card
		id="appOnlyForCorrectMachines"
		>
		<h3 class="title-3">appOnlyForCorrectMachines</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>false</i></p>
		<p>La variable <b>appOnlyForCorrectMachines</b> permite definir si la App puede o no utilizarse si la máquina no es correcta para la App.</p>
		<p>Por defecto, si el valor es <i>false</i>, se considera que puede continuarse independientemente de que la máquina sea correcta para la ejecución de la App.</p>
		<p>Al iniciar la App, si la máquina no es correcta y el valor de esta propiedad es <i>false</i> se mostrará un mensaje de aviso que indicará que el hardware no es el adecuado para el correcto uso de la App.</p>
		<p>Al iniciar la App, si la máquina no es correcta y el valor de esta propiedad es <i>true</i> se mostrará un mensaje de aviso que indicará que el hardware no es el adecuado para el correcto uso de la App y además se ocultará el botón de inicio de la App.</p>
		<p>Este valor es importante por que se utiliza en los componentes <a href="#!/example-mova-library#isCorrectForMachine"><b>mv.movaLibrary</b></a> y <a href="#!/example-mova-main"><b>mv.movaMain</b></a>.</p>
	</mv-card>

	<mv-card
		id="appPoaps"
		>
		<h3 class="title-3">appPoaps</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>MOVA</i></p>
		<p>La variable <b>appPoaps</b> debe cambiarse con el código POAPS del módulo funcional. Suelen ser los 4 primeros dígitos, pero lo correcto a nivel interno es poner la palabra completa antes de la primer guión bajo sin incluir este mismo, por esto, a veces puede tener 5 dígitos.</p>
	</mv-card>

	<mv-card
		id="appPathInicio"
		>
		<h3 class="title-3">appPathInicio</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>inicio</i></p>
		<p>La variable <b>appPathInicio</b> contiene el nombre del estado considerado como el estado de inicio de la App.</p>
	</mv-card>

	<mv-card
		id="appPortalApps"
		>
		<h3 class="title-3">appPortalApps</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>https://gestiona3.madrid.org/portalapps/</i></p>
		<p>La variable <b>appPathInicio</b> contiene la URL del portal de aplicaciones.</p>
	</mv-card>

	<mv-card
		id="appSubtitle"
		>
		<h3 class="title-3">appSubtitle</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>Plantilla de ejemplo</i></p>
		<p>La variable <b>appSubtitle</b> contiene el texto que se aplicará por defecto como subtítulo en los headers de las pantallas del componente <a href="#!/example-mova-header"><b>mv.movaHeader</b></a>.</p>
	</mv-card>

	<mv-card
		id="appTitle"
		>
		<h3 class="title-3">appTitle</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>MOVA</i></p>
		<p>La variable <b>appTitle</b> contiene el texto que se aplicará por defecto como título en los headers de las pantallas del componente <a href="#!/example-mova-header"><b>mv.movaHeader</b></a>.</p>
	</mv-card>

	<mv-card
		id="erroresEmails"
		>
		<h3 class="title-3">erroresEmails</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>[""]</i></p>
		<p>La variable <b>erroresEmails</b> contiene un array con los emails que se quieran incluir como emails por defecto a la hora de reportar un error mediante el componente <a href="#!/example-mova-error"><b>mv.movaError</b></a>.</p>
	</mv-card>

	<mv-card
		id="estadisticasId"
		>
		<h3 class="title-3">estadisticasId</h3>
		<br>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>Actualmente el servicio de estadísticas es PIWIK y se configura en el fichero <b>index.html</b> en un bloque de código JavaScript embedido.</p>
			<p>El desarrollador debe configurar correctamente este valor en esta variable y en el fichero <b>index.html</b> de la App.</p>
		</mv-card>
		<p><b>Valor por defecto:</b> <i>187</i></p>
		<p>La variable <b>estadisticasId</b> contiene el identificador del servicio de estadísticas de la App.</p>
		<p>A continuación se muestra la linea del fichero <b>index.html</b> que debe ser configurada.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
			_paq.push(['setSiteId', '187']);
			</span>
		</code>
	</mv-card>

	<mv-card
		id="estadisticasUrl"
		>
		<h3 class="title-3">estadisticasUrl</h3>
		<br>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>No modificar este valor</p>
		</mv-card>
		<p><b>Valor por defecto:</b> <i>https://developer.piwik.org/guides/tracking-javascript-guide</i></p>
		<p>La variable <b>estadisticasUrl</b> contiene la url necesaria del servicio de estadísticas de la App.</p>
	</mv-card>

	<mv-card
		id="loadingDelay"
		>
		<h3 class="title-3">loadingDelay</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>0</i></p>
		<p>La variable <b>loadingDelay</b> contiene el valor en milisegundos que puede retardarse el efecto de loading del componente <a href="#!/example-mova-loading"><b>mv.movaLoading</b></a>.</p>
	</mv-card>

	<mv-card
		id="loadingTimeout"
		>
		<h3 class="title-3">loadingTimeout</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>20000</i></p>
		<p>La variable <b>loadingTimeout</b> contiene el valor en milisegundos que el efecto de loading del componente <a href="#!/example-mova-loading"><b>mv.movaLoading</b></a> puede estar activo como máximo.</p>
	</mv-card>

	<mv-card
		id="loginAppSystemNavigatorRedirectBrokerIdentidades"
		>
		<h3 class="title-3">loginAppSystemNavigatorRedirectBrokerIdentidades</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>org.madrid.mova.movaapp</i></p>
		<p>La variable <b>loginAppSystemNavigatorRedirectBrokerIdentidades</b> contiene el nombre del paquete de la App para pasarlo a la URL de redirección cuando el broker se abre en el navegador del sistema.</p>
		<p>Es necesario haber configurado correctamente el mismo valor para el plugin de Cordova <b>ordova-plugin-customurlscheme</b> en el fichero config.xml del proyecto.</p>
	</mv-card>

	<mv-card
		id="loginPath"
		>
		<h3 class="title-3">loginPath</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>login</i></p>
		<p>La variable <b>loginPath</b> contiene el nombre del estado del componente <a href="#!/example-mova-login"><b>mv.movaLogin</b></a> o del componente <a href="#!/example-mova-broker-identidades"><b>mv.movaBrokerIdentidades</b></a>, dependiendo del sistema de autenticación de usuario que vaya a ser utilizado.</p>
		<p>Esta variable admite solo los siguientes valores:</p>
		<ul>
			<li>broker-identidades</li>
			<li>login</li>
		</ul>
	</mv-card>

	<mv-card
		id="loginPathCorrecto"
		>
		<h3 class="title-3">loginPathCorrecto</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>main</i></p>
		<p>La variable <b>loginPath</b> contiene el nombre del estado del componente al que deba redirigirse en caso de login correcto.</p>
	</mv-card>

	<mv-card
		id="loginSisAuth"
		>
		<h3 class="title-3">loginSisAuth</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>Intranet</i></p>
		<p>La variable <b>loginSisAuth</b> contiene el nombre del sistema de autenticación que debe ser utilizado por el componente <a href="#!/example-mova-login"><b>mv.movaLogin</b></a>.</p>
	</mv-card>

	<mv-card
		id="loginOpenSystemNavigatorBrokerIdentidades"
		>
		<h3 class="title-3">loginOpenSystemNavigatorBrokerIdentidades</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>false</i></p>
		<p>La variable <b>loginOpenSystemNavigatorBrokerIdentidades</b> permite configurar el Broker de identidades para que desde el dispositivo móvil abra un navegador externo del sistema en vez de uno embedido en la App.</p>
		<p>De esta forma se permite usar un certificado digital instalado en el dispositivo móivil para acceder. El navegador embedido por seguridad no tiene acceso a los certificados instalados en el dispositivo.</p>
		<p>Al salir de la App al navegador externo se usa una URL de redirección para volver a abrir la App mediante un deep-link.</p>
		<p>Es necesario configurar correctamente la variable <b>loginAppSystemNavigatorRedirectBrokerIdentidades</b> para poder regresar a la App.</p>
		<p>Si nos estamos logando en medio de una navegación esta no se completará si usamos esta variable a true.</p>
	</mv-card>

	<mv-card
		id="loginPathInicioBrokerIdentidades"
		>
		<h3 class="title-3">loginPathInicioBrokerIdentidades</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>main-menu</i></p>
		<p>La variable <b>loginPathInicioBrokerIdentidades</b> contiene el nombre del estado del componente al que deba redirigirse en caso de login correcto mediante broker de identidades.</p>
	</mv-card>

	<mv-card
		id="loginTokenValidez"
		>
		<h3 class="title-3">loginTokenValidez</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>604800000</i></p>
		<p>La variable <b>loginTokenValidez</b> contiene el valor en milisegundos de la validez del token.</p>
	</mv-card>

	<mv-card
		id="mvMovaNotificationesOldTopics"
		>
		<h3 class="title-3">mvMovaNotificationesOldTopics</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>false</i></p>
		<p>La variable <b>mvMovaNotificationesOldTopics</b> debe ser marcada por las aplicaciones con notificaciones push desarrolladas antes del 01/10/2018, para que los nombres de los topics sean formateados con la nomenclatura antigua.</p>
	</mv-card>

	<mv-card
		id="notInfoDispSegundosDiferencia"
		>
		<h3 class="title-3">notInfoDispSegundosDiferencia</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>604800000</i></p>
		<p>La variable <b>notInfoDispSegundosDiferencia</b> contiene el valor en milisegundos del tiempo que debe pasar para volver a enviar la información del dispositivo asociada al identificador de notificaciones mediante el componente <a href="#!/example-mova-notificaciones"><b>mv.movaNotificaciones</b></a>.</p>
	</mv-card>

	<mv-card
		id="showVersionNews"
		>
		<h3 class="title-3">showVersionNews</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>true</i></p>
		<p>La variable <b>showVersionNews</b> contiene un valor booleano para mostrar o no las novedades de la versión al arrancar la app
			(en modo móvil, en webapp no se muestran en ningún caso).</p>
	</mv-card>

	<mv-card
		id="showVersionNewsUsePoaps"
		>
		<h3 class="title-3">showVersionNewsUsePoaps</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>false</i></p>
		<p>La variable <b>showVersionNewsUsePoaps</b> hace que para comprobar las novedades de la versión se envíe el POAPS en vez del módulo funcional como nombre de aplicación al servicio REST. El servicio espera el valor del campo DS_APLICACION, en Apps antiguas es el POAPS y no el módulo funcional.</p>
	</mv-card>

	<mv-card
		id="urlContacta"
		>
		<h3 class="title-3">urlContacta</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>http://www.comunidad.madrid/solicitud-informacion</i></p>
		<p>La variable <b>urlContacta</b> contiene la url de la página que se abre al hacer click en el enlace "Contacta" de la pantalla de inicio.</p>
	</mv-card>

	<mv-card
		id="urlAvisoLegal"
		>
		<h3 class="title-3">urlAvisoLegal</h3>
		<br>
		<p><b>Valor por defecto:</b> <i>http://comunidad.madrid/servicios/informacion-atencion-ciudadano/aviso-legal-privacidad</i></p>
		<p>La variable <b>urlAvisoLegal</b> contiene la url de la página que se abre al hacer click en el enlace "Aviso legal" de la pantalla de inicio.</p>
	</mv-card>

</mv-screen>
