/*
╔════════════════════════╗
║ mova-input-image style ║
╚════════════════════════╝
*/

.mv-input-image {
	
	&.default-css {
		background-color: $color-secondary-011;	
		border: 1pt solid $color-secondary-009;
	}

	&.round-corners {
		@include mx-round-corners(0.55rem, 0.55rem, 0.55rem, 0.55rem);
	}

	&.circle {

		i {
			font-size: 2.25rem;
			color: red !important;
		}

		@include mx-round-corners(55rem, 55rem, 55rem, 55rem);
	}

	&.shadow {
		@include mx-shadow();
	}

	/*
	Tamaños
	*/
	&.small {
		width: 32pt;
		height: 32pt;
	}
	&.medium {
		width: 64pt;
		height: 64pt;
	}
	&.big {
		width: 128pt;
		height: 128pt;
	}
}