/*
╔═══════════════════════════════════════════╗
║ app-maquetacion-static-data-factura style ║
╚═══════════════════════════════════════════╝
*/
app-maquetacion-static-data-factura {

	@include view-style;

	/*
	Ejemplo de fatcura
	*/

	.ejemplo-factura {

		@include mx-round-corners-default();

		@include mx-shadow();

		padding: 1rem;
		background-color: $color-secondary-011 !important;
		max-width: 70rem;
		margin: 2rem auto 2rem auto;
		width: 97%;
		border: solid thin $color-secondary-006;

		.ejemplo-factura-cabecera {
			background-color: $color-primary-001;
			padding: 0.55rem;

			.ejemplo-factura-cabecera-titulo {
				color: $color-secondary-011;
				font-size: $font-size-super-big;

				p {
					margin: 0.35rem 0 0 0.85rem;
					padding: 0 0 0 0;
				}
			}

			.ejemplo-factura-cabecera-icono {
				color: $color-secondary-011;
				font-size: $font-size-super-big;	

				i {
					margin: 0.55rem 0.85rem 0 0;
					padding: 0 0 0 0;
				}			
			}
		}

		.ejemplo-factura-datos {

			margin: 1rem 0 0 0;

			.ejemplo-factura-datos-left {

				p {
					margin: 0 0 0 0;
				}

				p:nth-child(1),
				p:nth-child(4) {
					margin: 0 0 0.55rem 0;
				}

				p:nth-child(8) {
					font-size: $font-size-small;
					color: $color-secondary-006;
				}
			}

			.ejemplo-factura-datos-right {

				margin: 2rem 0 0 0;

				p {
					margin: 0 0 0 0;
				}

				p:nth-child(1) {
					margin: 0 0 0.55rem 0;
				}
			}
		}

		.ejemplo-factura-datos-002 {

			margin: 1rem 0 0 0;

			.ejemplo-factura-datos-002-left {

				.ejemplo-factura-datos-002-left-card {

					@include mx-round-corners-default();

					padding: 0.55rem;

					background-color: $color-secondary-009;

					p {
						@include mx-truncate();

						margin: 0 0 0 0;
						padding: 0 0 0 0;
					}

					.ejemplo-factura-datos-002-left-card-total {

						margin: 1.55rem 0 0 0;

						p {
							font-size: $font-size-big;
						}
					}
				}
			}

			.ejemplo-factura-datos-002-right {

				margin: 1rem 0 0 0;

				p {
					margin-left: 1rem;

					font-size: $font-size-small;
				}
			}
		}
	}
}