<!-- app-maquetacion-static-data-factura -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<mv-card
		title="Ejemplo de factura"
		>
		<p>A continuación se muestra un ejemplo de datos estáticos con el formato de un factura.</p>

	</mv-card>

	<mv-card
		default-css=false
		class="ejemplo-factura"
		>

		<mv-container class="ejemplo-factura-cabecera">

			<mv-container-item
				class="ejemplo-factura-cabecera-titulo"
				col-xs=9
				>
				<p>Móvil</p>
			</mv-container-item>
			<mv-container-item
				class="ejemplo-factura-cabecera-icono mv-container-item-text-right"
				col-xs=3
				>
				<i class="fas fa-mobile-alt"></i>
			</mv-container-item>

		</mv-container>

		<mv-container class="ejemplo-factura-datos">

			<mv-container-item
				class="ejemplo-factura-datos-left"
				col-xs=12
				col-sm=7
				>
				<p><b>Madrid, 13 Mar., 18 | Factura T09827763671 Teléfono 696696969</b></p>
				<p><b>Rubén Fernandez Fernandez</b></p>
				<p>Calle Divino Valles, 32 2ºF Madrid</p>
				<p>CIF / NIF: 11115511P</p>
				<p>F. emisión / F. devengo: 13 Mar. 18</p>
				<p>Periodo de consumo: <b>7 Feb. - 6 Mar.</b></p>
				<p>para ser pagado a partir del <b>13 Mar. 18</b></p>
				<p><i>(El pago de su factura se acredita por su abono bancario o el recibi de caja)</i></p>
			</mv-container-item>

			<mv-container-item
				class="ejemplo-factura-datos-right"
				col-xs=12
				col-sm=5
				>
				<p>MS-01234567890123456789-00-021021021</p>
				<p><b>RUBÉN FERNANDEZ FERNANDEZ</b></p>
				<p>CALLE DIVINO VALLES, 32 2ºF MADRID</p>
				<p>28045 MADRID</p>
			</mv-container-item>

		</mv-container>

		<mv-container class="ejemplo-factura-datos-002">

			<mv-container-item
				class="ejemplo-factura-datos-002-left"
				col-xs=12
				col-sm=6
				>

				<mv-card
					class="ejemplo-factura-datos-002-left-card"
					default-css=false
					>

					<mv-container>
						<mv-container-item
							col-xs=12
							col-sm=6
							>
							<p>Total</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-right"
							col-xs=12
							col-sm=6
							>
							<p>75,6060</p>
						</mv-container-item>
					</mv-container>

					<mv-container>
						<mv-container-item
							col-xs=12
							col-sm=3
							>
							<p>Base imponible</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-center"
							col-xs=12
							col-sm=6
							>
							<p>69,4140 IVA (18%)</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-right"
							col-xs=12
							col-sm=3
							>
							<p>12,4945</p>
						</mv-container-item>
					</mv-container>

					<mv-container>
						<mv-container-item
							col-xs=12
							col-sm=3
							>
							<p>Base imponible</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-center"
							col-xs=12
							col-sm=6
							>
							<p>6,1920 IVA (18%)</p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-right"
							col-xs=12
							col-sm=3
							>
							<p>0,4954</p>
						</mv-container-item>
					</mv-container>

					<mv-container class="ejemplo-factura-datos-002-left-card-total">
						<mv-container-item
							col-xs=12
							col-sm=8
							>
							<p><b>TOTAL a pagar (euros)</b></p>
						</mv-container-item>
						<mv-container-item
							class="mv-container-item-text-right"
							col-xs=12
							col-sm=4
							>
							<p><b>88,59</b></p>
						</mv-container-item>
					</mv-container>

				</mv-card>

			</mv-container-item>

			<mv-container-item
				class="ejemplo-factura-datos-002-right"
				col-xs=12
				col-sm=6
				>
				<p><i>Los datos presentados en esta factura se corresponden con la aplicación del contrato <b>Nº:123456789</b>.</i></p>
				<p><i>Si considera que los datos reflejados no se corresponden a la realidad de su consumo puede ponerse en contacto con nosotros por nuestros canales de atención al cliente.</i></p>
			</mv-container-item>

		</mv-container>

	</mv-card>
</mv-screen>
