
<ion-content padding>
    <div class="volver">
        <img (click)="goBack()" src="../../../assets/imgs/volver.png" alt="">
      </div>
      <div class="titulo">
        <p><img src="../../../assets/imgs/PERFIL.svg" alt="">PERFIL</p>
      </div>
      <div class="subtitulo">
          <p class="subtitulo-texto">ADMINISTRADOR</p>
        </div>
        <div>
          <img class="boton" (click)="onLogout()" src="../../../assets/imgs/logout.png" alt="">
        </div>
</ion-content>
