/*
╔═════════════════╗
║ mova-card style ║
╚═════════════════╝
*/

section {
	&.mv-card {
		position: relative;
		font-size: $font-size-medium;
		overflow-wrap: break-word;

		/*
		Elemento main donde se hace el transclude de la información
		*/
		> .mv-card-container {

			padding: 0 0 0 0;

			&.collapse-on {
				display: none;
			}

			/*
			Elemento hr que aparece cuando hay título y contenido
			*/
			> .mv-card-hr {

				&.mv-card-hr-default-style {
					margin: 0.45rem 0 0.65rem 0;
					border: thin solid $color-secondary-009;
				}
			}

			// Fix extra 15px padding Bootstrap
			.container-fluid {
				padding: 0 0 0 0;
			}
		}

		/*
		Estilo de un mvCard alias de burguer menú
		*/
		&.mv-card-alias-burguer {

			@include mx-round-corners-default();

			background-color: $color-secondary-011;
			margin: 0.95rem auto;
		    padding: 0 0 0 0;
			border: thin solid $color-primary-003;

		    >.mv-card-title {

		    	padding: 0.95rem 0 0.85rem 0.55rem;
		    	color: $color-primary-003;

		    	/*
	  			Clase para seprar el título del botón de collapse
	  			*/
	  			&.mv-card-collapse-padding-for-title {
	  				padding-right: 1.5rem;
	  			}

			    >.mv-card-collapse {
			    	top: 0;
			    	height: 100%;
		    		padding: 1rem 0.55rem 0.85rem 0.95rem;
			    }
		    }

		    > .mv-card-container {

		    	padding: 0 0 1rem 0;

		    	/*
		    	Estilo de la linea separadora del título y el contenido
		    	*/
			    >.mv-card-hr {
			    	margin: 0 0 0 0;
					border-color: transparent;
			    }

			    /*
			    Estilo de la lista del menú
			    */
			    > ol,
			    > ul {

			        list-style-type: none;
			        margin: 0 0 0 0;
			        padding: 0 0 0 0;

			        > * {
			        	border-bottom: thin solid $color-primary-003;
			        }

			    	&:first-child {
			    		border-top: thin solid $color-primary-003;
			    	}

			    	&:last-child {
			    		//border-bottom: thin solid $color-primary-003;
			    	}
			    }
		    }
		}

		/*
		Estilo de un mvCard alias de item de contenedor
		*/
		&.mv-card-alias-container-item {

			margin: 0 0 0 0;
			padding: 0 0 0 0;

			/*
			Clases de alineamiento del contenido
			*/
			&.mv-container-item-text-right {
				text-align: right;
			}
			&.mv-container-item-text-left {
				text-align: left;
			}
			&.mv-container-item-text-center {
				text-align: center;
			}

			>.mv-card-container {

				/*
				Para corregir los siguientes problemas del estilo por defecto en un mv-card
				que no es alias item de contenedor y se encuentra dentro del mv-card-alias-container-item.
				- Problema con el margin auto lateral, espaciado entre elementos item de contenedor
				- Tamaño de elementos item de contenedor.
				*/
				>.default-css {
					background-size:cover !important;
					height:21vh;
					margin: 0.95rem 0.95rem 0.95rem 0.5rem;
				}
			}

			/*
			Estilo opcional que por defecto no se aplica pero se puede aplicar mediante el atributo
			default-margin=true en el HTML del componente.
			Permite crear una separación entre elementos, pensada para formularios o elementos que
			necesitan estar separados minimamente.
			*/
			&.default-margin {

				>.mv-card-container {

					margin: 0 0.15rem 0 0.15rem;
				}
			}

			&[show-col-classes] {

				padding: 1pt;

				background-color: $color-secondary-009;

				.mv-container-item-col-classes {
					display: block;
					background-color: $color-primary-004-20;
					text-align: center;
					padding: 2pt;
				}
			}
		}

		&.default-css {
			height:21vh;
			background-size:cover;
			background-color: $color-secondary-011;
			margin: 0.95rem auto;
			padding: 0.65rem 0.65rem 0.65rem 0.65rem;
			border: thin solid $color-secondary-009;
			width: 97%;
    		max-width: $card-max-size;
		}

		&.adapt {
			margin: 0 0 0 0;
			padding: 0 0 0 0;
			width: 100%;
    		max-width: 100%;

			/* Corregir espaciado del título */
			> .mv-card-title {
				padding: 1rem 1rem 0.70rem 1rem;

				/* Corregir espaciado del icono de colapso */
				> .mv-card-collapse {
					padding: 0 0.75rem 0 0;
				}
			}

			/* Corregir posicionado del badge */
			> .mv-card-badge {
				margin: -1rem -0.05rem 0 0;
			}

			/* Corregir posicionado del badge */
			> .mv-card-badge-icon-class {
				margin: -1rem -0.05rem 0 0;
			}

			/*
			Elemento main donde se hace el transclude de la información
			*/
			> .mv-card-container {
				/*
				Elemento hr que aparece cuando hay título y contenido
				*/
				> .mv-card-hr {

					/*
					Corregir los espacios de margin cuando se esta en formato adapt
					*/
					&.mv-card-hr-default-style {
						margin-top: 0;
					}
				}
			}
		}

		&.float {
			position: fixed;
			bottom: 0;
			right: 0;
			z-index: $z-index_card-float;
		}

		&.round-corners {
			@include mx-round-corners(
				$round-corner-default-size,
				$round-corner-default-size,
				$round-corner-default-size,
				$round-corner-default-size);
		}

		&.shadow {
			@include mx-shadow();
		}

		/*
		<span> contenedor del título
		*/
		> .mv-card-title {

			display: block;
			position: relative;
			width: 100%;
			margin: 0 0 0 0;
			//padding: 0 0 0.55rem 0;
			padding: 0 0 0 0;
			border: thin solid transparent;
  			line-height: 0;

  			/*
  			Clase para seprar el título del botón de collapse
  			*/
  			&.mv-card-collapse-padding-for-title {
  				padding-right: 1.36rem;
  			}

			&.round-corners {
				@include mx-round-corners(0.35rem, 0.35rem, 0.35rem, 0.35rem);
			}

			h1 {
				@include mx-truncate();
				display: inline-block;
				font-size: $font-size-big;
				font-weight: bold;
				margin: 0 0 0 0;
				padding: 0 0.55rem 0 0.15rem;
			}

			/*
			<span> contenedor del icono de colapsar
			*/
			> .mv-card-collapse {
				display: block;
				position: absolute;
				text-align: right;
				width: 100%;
				margin: 0.15rem 0 0 0;
				padding: 0 0.25rem 0 0;
				right: 0;
				z-index: $z-index_card-collapse;

				i {
					font-size: $font-size-big;
				}
			}
		}

		/*
		<span> contenedor del badge
		*/
		> .mv-card-badge {
			display: inline-block;
			position: absolute;
			margin: -1.55rem 0 0 0;
			padding: 0.25rem 0.55rem 0.15rem 0.5rem;
			right: 0.3rem;
			text-align: center;

			@include mx-round-corners(5rem, 5rem, 5rem, 5rem);
		}

		/*
		<span> contenedor del badge, estilo por defecto si no se usa badge-class-if
		*/
		> .mv-card-badge-default-style {
			font-size: $font-size-small;
			background-color: $color-secondary-011;
			border: thin solid $color-secondary-009;
		}

		/*
		<i> contenedor del badge como icono
		*/
		> .mv-card-badge-icon-class {
			display: inline-block;
			position: absolute;
			margin: -1.55rem 0 0 0;
			padding: 0.25rem 0.55rem 0.15rem 0.5rem;
			right: 0.3rem;
			text-align: center;

			@include mx-round-corners(5rem, 5rem, 5rem, 5rem);
		}

		/*
		<i> contenedor del badge, estilo por defecto si no se usa badge-class-if
		*/
		> .mv-card-badge-icon-class-default-style {
			font-size: $font-size-big;
			background-color: $color-secondary-011;
			border: thin solid $color-secondary-009;
		}
	}
}

