
<header class="arrendador" *ngIf="isUserArrendador == true" style="background:#26a6ff">
  <div class="titulo" text-center>
    <h5>Detalles Pago</h5>
  </div>
  <div>
    <img class="arrow" (click)="goBack()" src="/assets/icon/flecha.png">
  </div>

</header>
<ion-header style="background:#26a6ff" *ngIf="isUserAgente == true">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" style="text-align: initial" href="#" style="">Detalles Pago</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a style="color: black;" class="nav-link" (click)="goHome()">Inicio Agente </a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goPisos()">Lista pisos</a>
          <!-- <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goAlquileres()">Alquileres Activos</a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goContratos()">Contratos</a>
          </li>-->
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goPerfil()">Perfil</a>
          </li>
        </ul>
      </div>
    </nav>

</ion-header>

<ion-content >

<ion-card padding>
  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">

      <ion-item lines="none">
          <ion-text slot="start">
        <b>Dirección:</b>
        </ion-text>
        <ion-text slot="end">{{this.item.calle}}</ion-text>
      </ion-item>
      <ion-item lines="none">
          <ion-text slot="start">
        <b>Mes:</b>
        </ion-text>
        <ion-text slot="end">{{this.item.mes}}</ion-text>
      </ion-item>
      <ion-item lines="none">
          <ion-text slot="start">
        <b>Pago:</b>
        </ion-text>
        <ion-text slot="end">{{this.item.pago}}</ion-text>
      </ion-item>
  </form>
</ion-card>
  <div class="footer" text-center>
    <button (click)="delete()" class="boton-borrar">Borrar</button>
  </div>


</ion-content>