/*
╔════════════════════════╗
║ mova-values-list style ║
╚════════════════════════╝
*/

section {

	&.mv-values-list {

		max-width: 30rem;

		.mv-input-label {

			@include mx-truncate();

			position: absolute;
			margin: -1.20rem 0 0 0.15rem;
			padding: 0 0 0 0;
			font-size: $font-size-small;
			font-weight: bold;
		}

		.marginTop{
			padding-top: 1.55rem !important;
		}

		.mv-values-list-container {

			.mv-card-alias-container {

				margin: 0 0 0 0;
				padding: 0 0 0 0;

				.mv-card-alias-container-item {

					.mv-values-list-button {

						display: block;

						height: 2.48rem;
					}
				}

				// Input de código
				.mv-card-alias-container-item:nth-child(1) {
					width: 6rem;

					// Estilo de error
					.mv-values-list-code-error {
						border: solid thin $color-primary-004-80;

						background-color: $color-primary-004-10;
					}
				}
				// Input de texto solo lectura
				.mv-card-alias-container-item:nth-child(2) {
					width: calc(100% - 9.75rem);

					// Estilo de error
					.mv-values-list-text-error {
						border: solid thin $color-primary-004-80;

						background-color: $color-primary-004-10;
					}
				}
				// Botón de abrir
				.mv-card-alias-container-item:nth-child(3) {
					width: 3.75rem;
				}
			}

			.mv-values-list-finder {

				//@include mx-round-corners-default();

				@include mx-shadow();

				@include mx-round-corners-default();

				position: fixed;
				background-color: $color-secondary-011;
				z-index: 20;

				//VERTICAL: tal como estaba originalmente
				left: 50%;
				width: 95%;
				transform: translate(-50%);

				/*
				HORIZONTAL: hay que cambiarlo para hacerlo compatible con los max-width
				https://stackoverflow.com/questions/3157372/css-horizontal-centering-of-a-fixed-div
				*/
				height: calc(100% - 5.35rem);
				top: 3.55rem;
				margin-top: 0.85rem;

				.mv-values-list-finder-card-filter {

					margin: 0.55rem 0.55rem 0.55rem 0.55rem;
					padding: 0 0 0 0;

					.mv-values-list-finder-text-filter {

					}
				}

				.mv-values-list-finder-title {

					@include mx-truncate();

					margin: 0.55rem 0 0.25rem 0.55rem;

					font-size: 12pt;
				}

				.mv-values-list-finder-subtitle {

					@include mx-truncate();

					margin: 0 0 0.55rem 0.55rem;

					font-size: 8pt;
				}

				.mv-values-list-finder-close-button-x,
				.mv-values-list-finder-close-button {

					@include mx-round-corners(
						0,
						0,
				        $round-corner-default-size,
				        $round-corner-default-size);

					display: block;
					position: absolute;
					bottom: 0;
					width: 100%;
					height: 2.55rem;
					left: 50%;
					margin: 0.25rem 0 0 -50%;
					background-color: $color-primary-004;
					border-bottom: solid thin $color-primary-004;

					i {
						font-size: 11pt;
						color: $color-secondary-011;
						margin: 0 0.55rem -0.2rem 0;
					}

					.mv-button-container {

						font-size: 11pt;
						color: $color-secondary-011;
						margin: 0 0 -0.2rem 0;
					}
				}

				.mv-values-list-finder-close-button-x {
					display: none;
				}

				.mv-values-list-finder-table-container {

					@include mx-round-corners(
				        0,
				        0,
				        $round-corner-default-size,
				        $round-corner-default-size);

					// Tamaño / Margen / Exceso de cabecera
					height: calc(100vh - 2.15rem - 13.25rem);

					// Necesario para que funcione en iOS - https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/
					overflow-y: scroll;
  				-webkit-overflow-scrolling: touch;

					//border-top: solid thin $color-secondary-009;

					.mv-grid {

						/*
						┌──────────────────┐
						│ Bootstrap col-xs │
						└──────────────────┘
						*/
						@media only screen and (max-width: $media-col-xs-max) {
							td{
								padding-left: 1em;
							}
						}

						/*
						┌──────────────────┐
						│ Bootstrap col-sm │
						└──────────────────┘
						*/
						@media only screen and (min-width : $media-col-sm-min) and (max-width : $media-col-sm-max) {
							td{
								padding-left: 2em;
							}
						}

						/*
						┌──────────────────┐
						│ Bootstrap col-md │
						└──────────────────┘
						*/
						@media only screen and (min-width : $media-col-md-min) and (max-width : $media-col-md-max) {
							td{
								padding-left: 2em;
							}
						}

						/*
						┌──────────────────┐
						│ Bootstrap col-lg │
						└──────────────────┘
						*/
						@media only screen and (min-width : $media-col-lg-min) {
							td{
								padding-left: 2em;
							}
						}


  					table-layout: fixed;
						padding: 0 0 0 0;
						margin: 0 0 0 0;

						.mv-grid-title-tr {

							//text-align: center;
							font-weight: bold;

							> td {
								border-top: none;
								border-left: none;
							}
						}

						tr {

							> .mv-grid-content-monoline {
								cursor: pointer;

								border-left: none;
								border-bottom: none;
							}
						}

						tr:last-child() {
							//border-bottom: solid thin $color-secondary-009;
						}
					}
				}
			}
		}
	}

	&.adapt {
		width: 100%;
		max-width: 100%;
	}
}

/*
┌──────────────────┐
│ Bootstrap col-xs │
└──────────────────┘
*/
/*
@media only screen and (max-width: $media-col-xs-max) {

}
*/

/*
┌──────────────────┐
│ Bootstrap col-sm │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-sm-min) and (max-width : $media-col-sm-max) {

	section {

		&.mv-values-list {

			.mv-values-list-container {

				.mv-values-list-finder {

					@include mx-shadow();

					@include mx-round-corners-default();

					width: 90%;
					height: calc(100% - 9.35rem);
					margin: 2.85rem 0 4rem 0;

					.mv-values-list-finder-close-button {
						display: none;
					}

					.mv-values-list-finder-close-button-x {

						@include mx-round-corners-default();

						@include mx-shadow();

						display: block;
						position: absolute;

					    width: 2rem;
					    height: 2rem;
					    margin: 0.55rem 0.55rem 0.55rem 0.55rem;
					    padding: 0.45rem 0 0 0;

						left: auto;
						right: 0;
						top: 0;

					}

					.mv-values-list-finder-table-container {

						// Tamaño / Margen / Exceso de cabecera
						height: calc(100vh - 3.60rem - 13.25rem);

					}
				}
			}
		}
	}
}

/*
┌──────────────────┐
│ Bootstrap col-md │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-md-min) and (max-width : $media-col-md-max) {

	section {

		&.mv-values-list {

			.mv-values-list-container {

				.mv-values-list-finder {

					@include mx-shadow();

					@include mx-round-corners-default();

					width: 85%;
					height: calc(100% - 17.35rem);
					margin: 6.85rem 0 8rem 0;

					.mv-values-list-finder-close-button {
						display: none;
					}

					.mv-values-list-finder-close-button-x {

						@include mx-round-corners-default();

						@include mx-shadow();

						display: block;
						position: absolute;

					    width: 2rem;
					    height: 2rem;
					    margin: 0.55rem 0.55rem 0.55rem 0.55rem;
					    padding: 0.45rem 0 0 0;

						left: auto;
						right: 0;
						top: 0;

					}

					.mv-values-list-finder-table-container {

						// Tamaño / Margen / Exceso de cabecera
						height: calc(100vh - 11.60rem - 13.25rem);

					}
				}
			}
		}
	}
}

/*
┌──────────────────┐
│ Bootstrap col-lg │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-lg-min) {

	section {

		&.mv-values-list {

			.mv-values-list-container {

				.mv-values-list-finder {

					@include mx-shadow();

					@include mx-round-corners-default();

					width: 80%;
					height: calc(100% - 17.35rem);
					margin: 6.85rem 0 8rem 0;

					.mv-values-list-finder-close-button {
						display: none;
					}

					.mv-values-list-finder-close-button-x {

						@include mx-round-corners-default();

						@include mx-shadow();

						display: block;
						position: absolute;

					    width: 2rem;
					    height: 2rem;
					    margin: 0.55rem 0.55rem 0.55rem 0.55rem;
					    padding: 0.45rem 0 0 0;

						left: auto;
						right: 0;
						top: 0;

					}

					.mv-values-list-finder-table-container {

						// Tamaño / Margen / Exceso de cabecera
						height: calc(100vh - 11.60rem - 13.25rem);

					}
				}
			}
		}
	}
}
