<ion-header>
  <ion-toolbar>
    <ion-title>Detalles Arrendador</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons></ion-header>

<ion-content>
  <div>
    <ion-row no-padding class="animated fadeIn fast">
      <ion-col size="6" offset="3">
        <img class="circular" [src]="image" *ngIf="image" />
      </ion-col>
    </ion-row>
    <!--  <ion-row no-padding class="animated fadeIn fast">
           <ion-col size="6" offset="3">
               <ion-button fill="outline" expand="block" size="small" (click)="openImagePicker()">Agrega imagen</ion-button>
           </ion-col>
       </ion-row>-->
  </div>
  <form
    style="font-family: Comfortaa"
    [formGroup]="validations_form"
    (ngSubmit)="onSubmit(validations_form.value)"
  >
    <ion-item>
      <ion-label position="floating" color="ion-color-dark">Nombre</ion-label>
      <ion-input
        placeholder="Nombre"
        type="text"
        formControlName="nombre"
        style="text-transform: uppercase"
        readonly="true"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark">Apellido</ion-label>
      <ion-input
        placeholder="apellido"
        type="text"
        formControlName="apellido"
        readonly="true"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark"
        >Correo Electronico</ion-label
      >
      <ion-input
        placeholder="Correo Electronico"
        type="email"
        formControlName="email"
        readonly="true"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark"
        >Fecha de Nacimiento</ion-label
      >
      <ion-datetime
        placeholder="Fecha de Nacimiento"
        type="Date"
        formControlName="fechaNacimiento"
        readonly="true"
      ></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark"
        >Agente Id</ion-label
      >
      <ion-input
        placeholder="Agente Id"
        type="text"
        formControlName="agenteId"
        readonly="true"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark"
        >Arrendador Id</ion-label
      >
      <ion-input
        style="visibility: hidden"
        placeholder="Arrendador Id"
        type="text"
        formControlName="userId"
        readonly="true"
      ></ion-input>
    </ion-item>
    <div text-center>
      <p style="user-select: all"><b>{{this.item.userId}}</b></p>
    </div>
    <ion-button
      class="submit-btn"
      expand="block"
      type="submit"
      [disabled]="!validations_form.valid"
      class="boton-crear"
      >modificar</ion-button
    >
  </form>
</ion-content>
