<form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <div style="margin-left:18px;">
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" formControlName="fecha" class="inputexto" placeholder="Fecha" style="margin-left:-10px" cancel-text="Cancelar" done-text="Aceptar"></ion-datetime>
      </div>
    <ion-row> 
      <ion-col col-12>
          <ion-input  placeholder="Peso" type="number" placeholder="Peso" formControlName="peso"  class="inputexto2"></ion-input>
      </ion-col>
    </ion-row>

    <ion-button class="submit-btn" color="primary" size="small" expand="block" type="submit" [disabled]="!validations_form.valid">Peso Diario</ion-button>
</form>