<!-- app-maquetacion-tab-detalle-tab-1 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<mv-card>

		<h1><span class="fas fa-cog"></span> Configuración del dispositivo</h1>

		<br>

		<mv-container>

			<mv-container-item col-xs=4 col-sm=3>
				<i class="fas fa-desktop"></i>
				<span class="app-example-guia-estilos-iconos-nombre-icono">Sistema</span>
				<span class="app-example-guia-estilos-iconos-nombre-icono2">Pantalla, notificaciones</span>
			</mv-container-item>

			<mv-container-item col-xs=4 col-sm=3>
				<i class="fas fa-print"></i>
				<span class="app-example-guia-estilos-iconos-nombre-icono">Dispositivos</span>
				<span class="app-example-guia-estilos-iconos-nombre-icono2">Bluetooth, impresoras</span>
			</mv-container-item>

			<mv-container-item col-xs=4 col-sm=3>
				<i class="fas fa-globe"></i>
				<span class="app-example-guia-estilos-iconos-nombre-icono">Red e Internet</span>
				<span class="app-example-guia-estilos-iconos-nombre-icono2">Wi-Fi, VPN</span>
			</mv-container-item>

			<mv-container-item col-xs=4 col-sm=3>
				<i class="fas fa-edit"></i>
				<span class="app-example-guia-estilos-iconos-nombre-icono">Personalización</span>
				<span class="app-example-guia-estilos-iconos-nombre-icono2">Fondo, temas</span>
			</mv-container-item>

			<mv-container-item col-xs=4 col-sm=3>
				<i class="fas fa-user"></i>
				<span class="app-example-guia-estilos-iconos-nombre-icono">Cuentas</span>
				<span class="app-example-guia-estilos-iconos-nombre-icono2">Sincronizar, otros usuarios</span>
			</mv-container-item>

			<mv-container-item col-xs=4 col-sm=3>
				<i class="fas fa-language"></i>
				<span class="app-example-guia-estilos-iconos-nombre-icono">Hora e idioma</span>
				<span class="app-example-guia-estilos-iconos-nombre-icono2">Región, fecha</span>
			</mv-container-item>

			<mv-container-item col-xs=4 col-sm=3>
				<i class="fas fa-lock"></i>
				<span class="app-example-guia-estilos-iconos-nombre-icono">Privacidad</span>
				<span class="app-example-guia-estilos-iconos-nombre-icono2">Ubicación, cámara</span>
			</mv-container-item>

		</mv-container>

	</mv-card>

	<mv-card
		adapt=true
		float=true
		border-width=0>

		<mv-tab
			type="flat"
			class="app-maquetacion-mv-tab"
		  captions="Inicio;Listado;Buscar;Avisos;Configurar"
		  icon-class="fas fa-home;fas fa-list;fas fa-search;fas fa-bell;fas fa-cog"
		  badge=";;;;;"
		  selected=4
			click="clickOption"
		  bottom-mode=true>
		</mv-tab>
	</mv-card>

</mv-screen>
