/*
╔═════════════════════════════════════════╗
║ app-maquetacion-tab-detalle-tab-5 style ║
╚═════════════════════════════════════════╝
*/
app-maquetacion-tab-detalle-tab-5 {

	@include view-style;

	width: 100%;
	height: 100%;
	position: fixed;
  overflow: auto;

	.app-maquetacion-mv-tab{
    -webkit-box-shadow: 0 -0.2em 0.75em 0 rgba(79, 72, 76, 0.35);
    -moz-box-shadow: 0 -0.2em 0.75em 0 rgba(79, 72, 76, 0.35);
    box-shadow: 0 -0.2em 0.75em 0 rgba(79, 72, 76, 0.35);
    > main > .mv-tab-ol {
      margin-top: -1.5em !important;
      border: none !important;
    }
  }

	[class^="app-maquetacion-tab-detalle-tab-5-mv-container"] {
		margin: 0 0 0 0;
		padding: 0rem 0rem 7rem 0rem;

		&.app-maquetacion-tab-detalle-tab-5-mv-container-002 {
			padding: 0rem 0.55rem 7rem 0.55rem;
		}

		ol, ul {
			margin: 0 0 0 0;
			padding: 0 0 0 0;
		}
	}

	padding-bottom: 0;

	.mv-card-alias-container-item {

		text-align: center;

		i,
		span {
			color: $color-primary-003;
			font-size: $font-size-ultra-big;
		}

		.app-example-guia-estilos-iconos-nombre-icono {

			@include mx-truncate();

			display: block;
			margin: 0.85rem 0 0 0;
			background-color: transparent;
			color: #000;
			font-size: $font-size-medium;
			padding: 0.55rem 0.55rem 0 0.55rem;

			-webkit-user-select: text;
			-moz-user-select: text;
			-khtml-user-select: text;
			-ms-user-select: text;
		}

		.app-example-guia-estilos-iconos-nombre-icono2 {

			@include mx-truncate();

			display: block;
			margin: 0 0 1.75rem 0;
			background-color: transparent;
			color: #8e8b8b;
			font-size: $font-size-small;
			padding: 0 0.55rem 0.55rem 0.55rem;

			-webkit-user-select: text;
			-moz-user-select: text;
			-khtml-user-select: text;
			-ms-user-select: text;
		}
	}

	.app-maquetacion-tab-detalle-tab-5-mv-tab {

		// Ajuste de tamaño equitativo de las opciones del tab
		.mv-tab-item {
			width: 33%;
		}
	}
}
