<app-cabecera [titulohead]="tituhead"></app-cabecera>

<button  (click)="goBack()" style="background: transparent !important ; float:left;">
    <img class="arrow" src="../../../assets/imgs/arrow.png"/>
  </button>
<ion-content padding >
    <form class="animated fadeIn fast" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
        <h5>Nombre</h5>
        <ion-item>
            <input type="text" formControlName="titulo" readonly="true" class="inputexto2"/>
        </ion-item>
        <h5>Descripción</h5>
        <ion-item>
           
            <input formControlName="descripcion" readonly="true"  class="inputexto2"/>
        </ion-item>
        <h5>Fecha</h5>
        <ion-item>
           
            <input type="text" formControlName="fecha" readonly="true"  class="inputexto2" value="{{this.item.fecha | date: 'dd/MM/yyyy'}}"/>
        </ion-item>

        <h5>Inicio de Cita</h5>
        <ion-item>
           
            <input type="text" formControlName="inicioCita" readonly="true"  class="inputexto2" value="{{this.item.inicioCita | date: 'hh:mm'}}"/>
        </ion-item>
        <h5>Finaliza la Cita</h5>
        <ion-item>
           
            <input type="text" formControlName="finalCita" readonly="true"  class="inputexto2" value="{{this.item.finalCita | date: 'hh:mm'}}"/>
        </ion-item>
        <ion-item>
            <ion-label>Confirmar cita</ion-label>
            <ion-select formControlName="confirmarCita" placeholder="Confirmar cita" cancelText="Cancelar" okText="Aceptar!">
              <ion-select-option [value]="true">Si</ion-select-option>
              <ion-select-option [value]="false">No</ion-select-option>
            </ion-select>
        </ion-item>
    <div style="margin-top: 5rem;">
            <ion-button fill="outline" expand="block" type="submit" [disabled]="!validations_form.valid">Confirmar cita</ion-button>
        </div>
        <div *ngIf="isAdmin === true">
        <ion-button class="submit-button" fill="outline" expand="block" color="danger" (click)="delete()">Borrar</ion-button>
        </div>
    </form>

    </ion-content>