/*
╔═════════════════╗
║ mova-main style ║
╚═════════════════╝
*/

mv-main {

	@media only screen and (max-width : $media-col-xs-max) {
		.mv-main-container {
			/* Bloque principal */
			.mv-main-section {
				/* Título */
				.mv-main-logo-text {
					font-size: 1.5rem;
				}
			}
		}
	}

	/*
	┌──────────────────┐
	│ Bootstrap col-sm │
	└──────────────────┘
	*/

	@media only screen and (min-width : $media-col-sm-min) and (max-width : $media-col-sm-max) {
		.mv-main-container {
			/* Bloque principal */
			.mv-main-section {
				/* Título */
				.mv-main-logo-text {
					font-size: 2rem;
				}
			}
		}
	}

	/*
	┌──────────────────┐
	│ Bootstrap col-md │
	└──────────────────┘
	*/

	@media only screen and (min-width : $media-col-md-min) and (max-width : $media-col-md-max) {
		.mv-main-container {
			/* Bloque principal */
			.mv-main-section {
				/* Título */
				.mv-main-logo-text {
					font-size: 2.5rem;
				}
			}
		}
	}

	/*
	┌──────────────────┐
	│ Bootstrap col-lg │
	└──────────────────┘
	*/

	@media only screen and (min-width : $media-col-lg-min) {
		.mv-main-container {
			/* Bloque principal */
			.mv-main-section {
				/* Título */
				.mv-main-logo-text {
					font-size: 2.5rem;
				}
			}
		}
	}

	/* Decoración especial superior */
	.mv-main-star-top {
		position: absolute;
		height: 25px;
		width: 100%;
		background-image: url('media/images/star_01.png');
		background-size: cover;
		top: 0;
		left: 0;
	}

	.mv-main-container {
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		top: -3.5rem;

		/* Decoración especial derecha */
		.mv-main-star-right {
			position: absolute;
			width: 9%;
			height: 100%;
			right: 0;
			top: 0;
			background-image: url('media/images/star_02.png');
			background-size: cover;
			z-index: $z-index_card-float;
		}
		/* Titulo superior */
		.mv-main-star-title{
			text-align: center;
			font-size: 2rem;
			font-weight: bolder;
			color: #D10002;
		}
		#movaMainHtmlContainer{
	    overflow: hidden;
	    padding: 0.5rem;
	    border: 2px solid #ececec;
	    margin: 1rem 0 1rem 0;
	    margin: 0.65rem 0 0.65rem 0;
		}
		/* Bloque principal */
		.mv-main-section {
			text-align: center;
			margin: 0 auto;
			max-width: 40rem;
			padding: 3rem 0.5rem 8.5rem 0.5rem;

			/* Subtítulo */
			.mv-main-subtitle {
				font-size: 0.95rem;
				margin: 1.8rem 0 1.8rem 0;
				padding: 0.55rem 0.55rem 0.25rem 0.55rem;
			}
			#mv-main-logo-separator {
				border-left: 1pt solid #c5c5c5;
				height: 3.5rem;
				vertical-align: bottom;
				margin: 0 0 0.15rem 0;
			}
			/* Logo izquierda */
			.mv-main-logo {
				width: 48px;
			}
			.mv-main-logo-text{
				display: inline-block;
				vertical-align: middle;
				font-weight: bold;
				color: #D10002;
				margin-left: 5px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: calc(100% - 65px);
			}
			.mv-main-title{
				text-align: left;
			}
			.mv-main-auth-text{
				margin: 1rem 0 0 0;
			}
			.mv-main-auth-modes{
				margin: 1rem 0 1rem 0;
				color: #b5b3b3;
			}
			.mova-main-item {
				margin: 0.55rem auto;

				.mova-main-item-acceder {
					max-width: 95%;
					width: 11rem;
					font-size: 1.4rem;
				}
				.mova-main-item-documentacion {
					max-width: 90%;
				}
				.mova-main-item-maquetacion {
					max-width: 90%;
				}
			}
		}
		#mv-main-version {
			position: fixed;
			padding: 0 0 0 0;
			margin: 0 0 0 0;
			bottom: 0.5rem;
			right: 0.55rem;
			font-size: $font-size-small;
			color: $color-shadow;
			a {
				color: $color-shadow;
			}
		}
		/*
		Es la gente
		*/

		#mv-main-left-bottom-corner {
			max-width: 80%;
			position: fixed;
			padding: 0 0 0 0;
			margin: 0 0 0 0;
			bottom: 0.5rem;
			left: 0.55rem;
			font-size: $font-size-small;
			color: $color-shadow;
	    text-align: justify;
	    text-justify: inter-word;
		}

	}
}
