<!-- mova-main -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	float-footer="{{ screen.floatFooter }}"
	show-footer-version="{{ screen.showFooterVersion }}"
	show-footer-contact="{{ screen.showFooterContact }}"
	show-footer-legal="{{ screen.showFooterLegal }}">

	<mv-card
		border-width=0
		adapt=true
		class="mv-main-container">

		<div class="mv-main-star-top"></div>
		<div class="mv-main-star-right"></div>

		<mv-card
			default-css=false
			bg-color="transparent"
			border-color="transparent"
			class="mv-main-section">

			<div class="mv-main-star-title">Comunidad de Madrid</div>

			<div class="mv-main-title">
				<img class="mv-main-logo" ng-src="{{ icon }}" alt=""/>
				<div class="mv-main-logo-text">{{ title }}</div>
			</div>

			<!-- div contenedor -->
			<div id="movaMainHtmlContainer">
				<ng-transclude ng-show="showTrasclude"></ng-transclude>
				<mv-check-new-version></mv-check-new-version>
			</div>

			<div class="mv-main-auth-text" ng-show="!noAccess">
				{{ authText }}
			</div>

			<div class="mv-main-auth-modes" ng-show="!noAccess">
				{{ authModes }}
			</div>

	    <mv-container>
	    	<mv-container-item class="mova-main-item">
					<mv-button
						icon-class="fa fa-sign-in-alt fa-sign-in"
						click="accessApp()"
						show="!noAccess"
						class="mova-main-item-acceder">
						Acceder
					</mv-button>
	    	</mv-container-item>
	    </mv-container>

	    <mv-container>
	    	<mv-container-item>
	    		<div class="mv-main-subtitle {{subtitleClass}}">{{ isCorrectForMachineMessage }}</div>
	    	</mv-container-item>
	    </mv-container>

			<p ng-show="changeLogin">
				<a ng-click="changeLoginClick()"><i class="fas fas fa-magic"></i>&nbsp;{{actualLoginPath}}</a>
			</p>
		</mv-card>

		<!--<mv-footer-madrid>
		</mv-footer-madrid>-->

	</mv-card>

</mv-screen>
