<ion-header>
    <ion-toolbar>
        <ion-title>texto-changes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">SOMOSC</a>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="textoStart()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>                                Pagina-Start
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="textoOnion()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>                                Pagina-Onion
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="textoM()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>                                Pagina-M
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="textoOrchestra()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>                                Pagina-Orchestra </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="textoSense()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>                                Pagina-Sense
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="textoChanges()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>                                Pagina-Changes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="textoNews()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>                                Pagina-News
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <form [formGroup]="textoForm" (ngSubmit)="onSubmit(textoForm.value)">
                    <div class="form-group">
                        <label for="Titulo">Titulo</label>

                        <input formControlName="titulo" class="form-control" id="Titulo" type="text" name="titulo">
                    </div>
                    <div class="form-group">
                        <label for="Subtitulo">Subtitulo</label>

                        <input formControlName="subtitulo" class="form-control" id="Subtitulo" type="text" name="subtitulo">
                    </div>
                    <div class="form-group">
                        <label for="textoPrincipal">texto Principal</label>

                        <input formControlName="textoPrincipal" class="form-control" id="textoPrincipal" type="text" name="textoPrincipal">
                    </div>
                    <div class="form-group">
                        <label for="TituloVideo">Titulo Video</label>

                        <input formControlName="tituloVideo" class="form-control" id="TituloVideo" type="text" name="tituloVideo">
                    </div>
                    <div class="form-group">
                        <label for="SubtituloVideo">Subtitulo Video</label>

                        <input formControlName="subtituloVideo" class="form-control" id="SubtituloVideo" type="text" name="subtituloVideo">
                    </div>
                    <div class="form-group">
                        <label for="DescripcionVideo">Descripción Video</label>

                        <textarea formControlName="descripcionVideo" class="form-control" id="DescripcionVideo" type="text"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="TituloVideo2">Titulo Video 2</label>

                        <input formControlName="tituloVideo2" class="form-control" id="TituloVideo2" type="text" name="tituloVideo2">
                    </div>
                    <div class="form-group">
                        <label for="SubtituloVideo2">Subtitulo Video2</label>

                        <input formControlName="subtituloVideo2" class="form-control" id="SubtituloVideo" type="text" name="subtituloVideo2">
                    </div>
                    <div class="form-group">
                        <label for="DescripcionVideo2">Descripción Video2</label>

                        <textarea formControlName="descripcionVideo2" class="form-control" id="DescripcionVideo2" type="text"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="TituloVideo3">Titulo Video3</label>

                        <input formControlName="tituloVideo3" class="form-control" id="TituloVideo3" type="text" name="tituloVideo3">
                    </div>
                    <div class="form-group">
                        <label for="SubtituloVideo3">Subtitulo Video3</label>

                        <input formControlName="subtituloVideo3" class="form-control" id="SubtituloVideo3" type="text" name="subtituloVideo3">
                    </div>
                    <div class="form-group">
                        <label for="DescripcionVideo3">Descripción Video3</label>

                        <textarea formControlName="descripcionVideo3" class="form-control" id="DescripcionVideo3" type="text"></textarea>
                    </div>


                    <div class="form-group">
                        <label for="TituloVideo4">Titulo Video4</label>

                        <input formControlName="tituloVideo4" class="form-control" id="TituloVideo4" type="text" name="tituloVideo3">
                    </div>
                    <div class="form-group">
                        <label for="SubtituloVideo4">Subtitulo Video4</label>

                        <input formControlName="subtituloVideo4" class="form-control" id="SubtituloVideo4" type="text" name="subtituloVideo3">
                    </div>
                    <div class="form-group">
                        <label for="DescripcionVideo4">Descripción Video4</label>

                        <textarea formControlName="descripcionVideo4" class="form-control" id="DescripcionVideo4" type="text"></textarea>
                    </div>


                    <div class="form-group">
                        <label for="TituloVideo5">Titulo Video5</label>

                        <input formControlName="tituloVideo5" class="form-control" id="TituloVideo5" type="text" name="tituloVideo5">
                    </div>
                    <div class="form-group">
                        <label for="SubtituloVideo5">Subtitulo Video5</label>

                        <input formControlName="subtituloVideo5" class="form-control" id="SubtituloVideo5" type="text" name="subtituloVideo5">
                    </div>
                    <div class="form-group">
                        <label for="DescripcionVideo5">Descripción Video5</label>

                        <textarea formControlName="descripcionVideo5" class="form-control" id="DescripcionVideo5" type="text"></textarea>
                    </div>


                    <div class="form-group">
                        <label for="TituloVideo6">Titulo Video6</label>

                        <input formControlName="tituloVideo6" class="form-control" id="TituloVideo6" type="text" name="tituloVideo6">
                    </div>
                    <div class="form-group">
                        <label for="SubtituloVideo6">Subtitulo Video6</label>

                        <input formControlName="subtituloVideo6" class="form-control" id="SubtituloVideo6" type="text" name="subtituloVideo6">
                    </div>
                    <div class="form-group">
                        <label for="DescripcionVideo6">Descripción Video6</label>

                        <textarea formControlName="descripcionVideo6" class="form-control" id="DescripcionVideo6" type="text"></textarea>
                    </div>

                    <button class="btn btn-primary" [disabled]="!textoForm.valid" type="submit">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</ion-content>
