<!-- app-pantalla1 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	float-footer="{{ screen.floatFooter }}"
	show-back="{{ screen.showBack }}"
	show-menu="{{ screen.showMenu }}"
	show-logo="{{ screen.showLogo }}"
	show-subtitle="{{ screen.showSubtitle }}">

	<mv-container class="app-main-menu-mv-card-main">

			<h2 id="dir">
					  Plano del Hospital
			</h2>

	</mv-container>

</mv-screen>
