<ion-content padding>
    <div class="caja">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mobile">
            <a class="navbar-brand" href="#"><img class="logo" src="/assets/img/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link activo" href="#">Start</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="onOnion()">Onion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">M</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="onServicios()">Orchestra</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="onSense()">Sense</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="onChange()">Change</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <img src="../../../assets/img/login.jpg" class="login-img" alt="image">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <ion-card class="card">
                    <ion-card-header class="card-header text-center">INICIA SESIÓN</ion-card-header>
                    <ion-card-content class="card-body">
                        <form action="" autocomplete="off">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email" name="username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" name="password">
                            </div>
                            <button type="button" id="sendlogin" class="btn btn-light text-center boton">Acceder</button>
                        </form>
                        <button type="button" id="sendlogin" class="btn btn-outline-light text-center boton-registro">Regístrarme</button>
                    </ion-card-content>
                </ion-card>
            </div>


        </div>
        <div class="footer">
            <hr style="display: none;">
            <ion-grid class="footer-mobile">
                <ion-row>
                    <ion-col size="7">
                        <img class="imgFooter" src="/assets/img/logo.png" alt="">
                        <p class="p1">Encuentranos en Linkeding
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </p>
                    </ion-col>
                    <ion-col size="5">
                        <p class="p2">Calle Pradillo 26</p>
                        <p class="p2">hola@somosc.com</p>
                        <p class="p2">+34671308285</p>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid class="footer-desktop">
                <ion-row>
                    <ion-col size="4">
                        <img class="imgFooter" src="/assets/img/logo.png" alt="">
                    </ion-col>
                    <ion-col size="4">
                        <p class="p1">Encuentranos en Linkeding
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </p>
                    </ion-col>
                    <ion-col class="p2-caja" size="4">
                        <p class="p2">Calle Pradillo 26</p>
                        <p class="p2">hola@somosc.com</p>
                        <p class="p2">+34671308285</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>

</ion-content>