ion-content {
    --background: black;
}

//nav
.logo {
    width: 8rem !important;
}

.bg-dark {
    background: transparent !important;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    width: 8rem;
    border-radius: 5px;
    padding-left: 0.5rem;
    font-size: 14.95pt;
}

.activo {
    color: #5F319E !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    width: 8rem;
    border-radius: 5px;
    padding-left: 0.5rem;
    font-size: 14.95pt;
}

.login-img {
    display: none;
}

.card {
    border: none !important;
    background: rgba(0, 0, 0, 0.2) !important;
}

.card-header {
    background: rgba(0, 0, 0, 0.2) !important;
    color: white;
    font-size: larger;
    border: none;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    background: rgba(0, 0, 0, 0.2) !important;
    border: none;
}

.boton {
    width: auto;
    float: right;
}

.footer {
    background: black;
    display: inline-block;
    width: 100%;
    color: white;
    ;
}

.imgFooter {
    width: 8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.p1 {
    font-size: smaller;
}

.p2 {
    font-size: smaller;
    text-align: end;
    margin-top: 1rem;
    margin-bottom: -0.7rem;
}

.footer-desktop {
    display: none;
}

@media (min-width: 900px) and (max-width: 1920px) {
    .desktop {
        display: block;
    }
    .caja {
        position: absolute;
    }
    .login-img {
        display: block;
        position: absolute;
        height: 30rem;
        margin-left: 25%;
        margin-top: 10%;
    }
    .navbar-brand {
        margin-top: -20rem;
    }
    .navbar-expand-lg .navbar-nav {
        display: inline;
        margin-left: -8rem;
        display: inline;
        float: right;
        padding-top: 7rem;
    }
    ///////////////////////////////77
    .card-header {
        background: rgba(0, 0, 0, 0.2) !important;
        color: white;
        font-size: larger;
        border: none;
    }
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
        background: rgba(0, 0, 0, 0.2) !important;
        border: none;
    }
    .card {
        border: none !important;
        width: 30rem;
        margin-left: 50%;
        background: rgba(0, 0, 0, 0.2) !important;
    }
    .boton {
        width: auto;
        float: right;
    }
    .footer {
        background: black;
        color: white;
    }
    .imgFooter {
        width: 8rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .p1 {
        font-size: smaller;
    }
    .p2 {
        font-size: smaller;
        text-align: end;
        margin-top: 1rem;
        margin-bottom: -0.7rem;
    }
    .hr-desk {
        display: none;
    }
    .image-desk {
        display: none;
    }
    .footer-desktop {
        display: none;
    }
    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: white;
        background: rgba(0, 0, 0, 0.2) !important;
        background-clip: padding-box;
        border: 1px solid white;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    .footer-mobile {
        display: none;
    }
    .footer-desktop {
        display: block;
    }
    .p1 {
        font-size: smaller;
        text-align: -webkit-center;
        margin-top: 1rem;
    }
    .imgFooter {
        width: 11rem;
        margin-top: 1rem;
        padding-left: 2rem;
    }
    .p2-caja {
        padding-right: 2rem;
        margin-top: -1.5rem;
    }
    .footer {
        background: black;
        display: inline-block;
        width: 100%;
        color: white;
    }
}