<app-cabecera [titulohead]="tituhead"></app-cabecera>
<!-- <ion-buttons slot="end">
        <ion-back-button text="" color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-content *ngIf="isAdmin === true" padding>

      -->
<ion-content padding>

  <div class="busqueda">
    <ion-searchbar [(ngModel)]="searchText" placeholder="Buscador..."
      style="text-transform: lowercase; border-radius: 50px;"></ion-searchbar>
  </div>
  <div *ngFor="let item of items">
    <div *ngIf="items.length > 0">
      <div *ngIf="item.payload.doc.data().nombre && item.payload.doc.data().nombre.length" class="contenido">
        <div *ngIf="item.payload.doc.data().nombre.includes(searchText) ">
          <ion-list>
            <ion-col>
              <div [routerLink]="['/detalles-historial-fisico', item.payload.doc.id]" class="cajabuscador">
                <div class="buscado">
                  <ion-label>Paciente: {{item.payload.doc.data().nombre}}</ion-label>
                  <br />
                  <ion-label>Fecha: {{item.payload.doc.data().fecha | date: "dd/MM/yyyy"}}</ion-label>
                </div>




              </div>


            </ion-col>

          </ion-list>
        </div>
      </div>
    </div>
  </div>


  <div text-center>
    <ion-button (click)="goAgregar()" expand="block" size="small" class="boton">Agregar Paciente</ion-button>
  </div>
</ion-content>