/*
╔═══════════════════╗
║ mova-button style ║
╚═══════════════════╝
*/

button {

	/*
	Hack especial para los botones solo apra Safari.
	En Safari (iOS y OSX) los botones muestran su contenido con menos margen inferior.
	Este es un problema de la fuente utilizada que se renderiza de forma distinta dependiendo
	del navegador.
	Este hack afecta solo a la clase mv-button de un elemento button.
	Testeado para Safari 11.1 el 21/02/2018, a futuro podría dejar de funcionar.
	- URL: https://stackoverflow.com/a/25975282
	*/
	_::-webkit-full-page-media, _:future, :root &.mv-button {

		padding-bottom: 5px !important;
	}

	&.mv-button {
		overflow: hidden;
		/*
		Corrección en el override.css para iOS, donde el padding-bootom debe ser 6px;
		*/
		padding-bottom: 2px; 

		/*
		Estilo del contenido del elemento
		*/
		> .mv-button-container {
			@include mx-truncate();

			margin: 0.15rem 0 0 0;
			line-height: 1;
			display: inline-block;
		}

		/*
		Estilos en caso de tener icono con o sin texto
		*/
		&.has-icon {

			/*
			Para que el truncate funcione, si hay icono hay que limitar el tamaño o sobresale por la derecha
			*/
			> .mv-button-container {
				max-width: 75%;
			}
		}

		/*
		Estilo del posible icono dentro de un botón
		*/
		> .mv-button-icon {
			margin: 0 0.75rem 0 0;
			overflow: hidden;
			line-height: 1;

			&.only-icon {
				margin: 0 0 0 0 !important;
			}
		}

		/*
		Estilo de la posible imagen dentro de un botón
		*/
		> .mv-button-image {
			margin: 0 0.75rem 0.35rem 0;
			overflow: hidden;
			line-height: 1;
			float: left;
			max-width: 30%;

			// Botón con solo imagen
			&.only-image {
				margin: 0 0 0 0 !important;
				max-width: 100%;
			}

			// Imagen superior
			&.image-top {
				display: block;
				margin: 0.55rem auto 0.75rem auto !important;
				float: none;
				// Anular el límite de tamaño de la imagen que existe por defecto
				max-width: 100%;

				// Si hay imagen el siguiente elemento hermano es el contenido del botón
				+ .mv-button-container {

					// Anular float del contenido con imagen que existe por defecto
					float: none;
					// Anular el límite de tamaño del contenido con imagen que existe por defecto
					max-width: 100%;
				}
			}

			// Si hay imagen y el siguiente elemento hermano es el contenido del botón
			+ .mv-button-container {

				// Float por defecto del contenido con imagen
				float: left;
				// Límite de tamaño del contenido con imagen
				max-width: 70%;
			}


		}

		&.adapt {
			width: 100%;
			@include mx-round-corners(0rem, 0rem, 0rem, 0rem);

		}

		&.circle {
			@include mx-round-corners(55rem, 55rem, 55rem, 55rem);
		}

		&.shadow {
			@include mx-shadow();
		}

		/*
		Tamaños
		*/
		&.small {
			width: 28pt;
			height: 28pt;

			> .mv-button-icon {
				font-size: 1rem;
			}

			> .mv-button-image {
				max-width: 9pt;
				max-height: 9pt;
			}
		}
		&.medium {
			width: 38pt;
			height: 38pt;

			> .mv-button-icon {
				font-size: 1.55rem;
				padding: 0.28rem 0 0 0;
			}

			> .mv-button-image {
				max-width: 19pt;
				max-height: 19pt;
			}
		}
		&.big {
			width: 48pt;
			height: 48pt;

			> .mv-button-icon {
				font-size: 1.85rem;
				padding: 0.35rem 0.05rem 0 0;
			}

			> .mv-button-image {
				max-width: 29pt;
				max-height: 29pt;
			}
			
		}
	}

	/*
	╔═════════════════════════════════════════════════════╗
	║ Nuevos estilos fuera de Bootstrap por tipo de botón ║
	╚═════════════════════════════════════════════════════╝
	*/

	/*
	Estilo por defecto de mv-button en caso de no especificarse otro
	*/
	&.btn-black {

		/*
		Estilo por defecto negro
		*/

		background-color:#DFE6EB;
		color: #0076BC;
		font-size: 22px;
		width:319px;
		height: 85px;
		padding: 14px 20px 10px 20px;
		margin-bottom:10px;
		border: 0.25px solid #0076BC;
		box-sizing: border-box;
	}

	/*
	Estilo guia de estilos de mv-button color del color primario 001
	*/
	&.btn-color-primary-001 {

		/*
		Estilo por defecto color primario 001
		*/

		background-color: hsl(213°, 99%, 31%) !important;
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#155DB3", endColorstr="#155DB3");
		background-image: -khtml-gradient(linear, left top, left bottom, from(#155DB3), to(#155DB3));
		background-image: -moz-linear-gradient(top, #155DB3, #155DB3);
		background-image: -ms-linear-gradient(top, #155DB3, #155DB3);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #155DB3), color-stop(100%, #155DB3));
		background-image: -webkit-linear-gradient(top, #155DB3, #155DB3);
		background-image: -o-linear-gradient(top, #155DB3, #155DB3);
		background-image: linear-gradient(#155DB3, #155DB3);
		border-color: #01499f #01499f hsl(0, 0%, 11%);
		color: #fff !important;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
		-webkit-font-smoothing: antialiased;

		&[disabled="disabled"] {
			background-color: $color-primary-001-10 !important;
			color: #01499f !important;
			background-image: none;
			text-shadow: none;
			-webkit-font-smoothing: none;
		}
	}

	/*
	Estilo guia de estilos de mv-button color del color primario 002
	*/
	&.btn-color-primary-002 {

		/*
		Estilo por defecto color primario 002
		*/

		background-color: hsl(172°, 100%, 20%) !important;
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#018373", endColorstr="#018373");
		background-image: -khtml-gradient(linear, left top, left bottom, from(#018373), to(#018373));
		background-image: -moz-linear-gradient(top, #018373, #018373);
		background-image: -ms-linear-gradient(top, #018373, #018373);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #018373), color-stop(100%, #018373));
		background-image: -webkit-linear-gradient(top, #018373, #018373);
		background-image: -o-linear-gradient(top, #018373, #018373);
		background-image: linear-gradient(#018373, #018373);
		border-color: #006457 #006457 hsl(0, 0%, 11%);
		color: #fff !important;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
		-webkit-font-smoothing: antialiased;

		&[disabled="disabled"] {
			background-color: $color-primary-002-10 !important;
			color: #006457 !important;
			background-image: none;
			text-shadow: none;
			-webkit-font-smoothing: none;
		}
	}

	/*
	Estilo guia de estilos de mv-button color del color primario 003
	*/
	&.btn-color-primary-003 {

		/*
		Estilo por defecto color primario 003
		*/

		background-color: hsl(201°, 23%, 27%) !important;
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#567383", endColorstr="#567383");
		background-image: -khtml-gradient(linear, left top, left bottom, from(#567383), to(#567383));
		background-image: -moz-linear-gradient(top, #567383, #567383);
		background-image: -ms-linear-gradient(top, #567383, #567383);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #567383), color-stop(100%, #567383));
		background-image: -webkit-linear-gradient(top, #567383, #567383);
		background-image: -o-linear-gradient(top, #567383, #567383);
		background-image: linear-gradient(#567383, #567383);
		border-color: #364B56 #364B56 hsl(0, 0%, 11%);
		color: #fff !important;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
		-webkit-font-smoothing: antialiased;

		&[disabled="disabled"] {
			background-color: $color-primary-003-10 !important;
			color: #364B56 !important;
			background-image: none;
			text-shadow: none;
			-webkit-font-smoothing: none;
		}
	}

	/*
	Estilo guia de estilos de mv-button color del color primario 004
	*/
	&.btn-color-primary-004 {

		/*
		Estilo por defecto color primario 004
		*/

		background-color: hsl(359°, 100%, 32%) !important;
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#D10002", endColorstr="#D10002");
		background-image: -khtml-gradient(linear, left top, left bottom, from(#D10002), to(#D10002));
		background-image: -moz-linear-gradient(top, #D10002, #D10002);
		background-image: -ms-linear-gradient(top, #D10002, #D10002);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D10002), color-stop(100%, #D10002));
		background-image: -webkit-linear-gradient(top, #D10002, #D10002);
		background-image: -o-linear-gradient(top, #D10002, #D10002);
		background-image: linear-gradient(#D10002, #D10002);
		border-color: #A10002 #A10002 hsl(0, 0%, 11%);
		color: #fff !important;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
		-webkit-font-smoothing: antialiased;

		&[disabled="disabled"] {
			background-color: $color-primary-004-10 !important;
			color: #A10002 !important;
			background-image: none;
			text-shadow: none;
			-webkit-font-smoothing: none;
		}
	}
}