<ion-tabs class="tabss">

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
            <ion-icon color="light" ios="ios-camera" md="md-camera"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="tab2">
            <ion-icon color="light" ios="ios-shirt" md="md-shirt"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="scanCode()">
            <img (click)="scanCode()" src="../../../assets/icon/HOME.png" />
        </ion-tab-button>
        <ion-tab-button tab="tab4">
            <ion-icon color="light" ios="ios-star" md="md-star"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="tab5">
            <ion-icon color="light" ios="ios-contact" md="md-contact"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>