
<ion-content *ngIf="items" class="fondo">
    <app-header [tituloHeader]="textHeader"></app-header>

  <div *ngFor="let item of items">
        <ion-card *ngIf="item.payload.doc.data().firmadoInquilino != true" [routerLink]="['/detalles-contrato', item.payload.doc.id]">
          <ion-card-content>
              <p class="card-text"><b>Nombre inquilino:</b> <b class="i">{{ item.payload.doc.data().nombre }}</b></p>
              <p ><b>Direccion:</b> <b class="i">{{ item.payload.doc.data().calle }}</b></p>
              <p ><b>M2:</b><b class="i">{{ item.payload.doc.data().metrosQuadrados }}</b></p>
              <p ><b>costoAlquiler:</b><b class="i">{{ item.payload.doc.data().costoAlquiler }}</b></p>
              <p ><b>Meses Fianza:</b><b class="i">{{ item.payload.doc.data().mesesFianza }}</b></p>
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="item.payload.doc.data().firmadoInquilino == true" style="opacity: 0.6">
          <ion-card-content>
              <p class="card-text"><b>Nombre inquilino:</b> <b class="i">{{ item.payload.doc.data().nombre }}</b></p>
              <p ><b>Direccion:</b> <b class="i">{{ item.payload.doc.data().calle }}</b></p>
              <p ><b>M2:</b><b class="i">{{ item.payload.doc.data().metrosQuadrados }}</b></p>
              <p ><b>costoAlquiler:</b><b class="i">{{ item.payload.doc.data().costoAlquiler }}</b></p>
              <p ><b>Meses Fianza:</b><b class="i">{{ item.payload.doc.data().mesesFianza }}</b></p>
          </ion-card-content>
        </ion-card>

 
                 
  </div>
  
        
    <div text-center class="mx-auto" *ngIf="items.length == 0" class="empty-list">
      Sin Contratos en este Momento
    </div>
  
</ion-content>
