
        ion-content{

            --background: url("/assets/imgs/contratos.jpg") no-repeat fixed center; 
            -webkit-background-size: contain;
            -moz-background-size: contain;
            background-size: contain;
                --background-attachment: fixed;
        }

        @media only screen and (min-width:414px){
            ion-content{
                --background: url("/assets/imgs/contratosS.jpg") no-repeat fixed center; 
                -webkit-background-size: contain;
                -moz-background-size: contain;
                background-size: contain;
                    --background-attachment: fixed;
            }
        }

ion-card{
    background: rgba(255,255,255,0.7);
    color: black;
}

.i{
    float: right;

}