<ion-header>
    <ion-toolbar>
      <ion-button style="width: 1rem; height: 1.5rem;" (click)="exit()">X</ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div text-center>
      <h1>Agrega tu ejercicio</h1>
    </div>
      <form  [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
            <ion-item>
              <ion-input type="text" placeholder="Nombre Apellido"  formControlName="titulo" style="text-transform:lowercase"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Descripción"  formControlName="descripcion" style="text-transform:lowercase"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Fecha</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD-MM-YYYY" [min]="minDate" formControlName="fecha" cancel-text="Cancelar" done-text="Aceptar"></ion-datetime>
              </ion-item>
            <ion-item>
              <ion-label>Inicio</ion-label>
              <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm"  formControlName="horaInicio" cancel-text="Cancelar" done-text="Aceptar"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label>Fin</ion-label>
              <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm"  formControlName="horaFinal" cancel-text="Cancelar" done-text="Aceptar"></ion-datetime>
            </ion-item>
            <ion-button type="submit" fill="outline" expand="block" class="asig"  [disabled]="!validations_form.valid">Asignar</ion-button>
            </form>
  
  </ion-content>
  