/*
╔═════════════════════════════╗
║ mova-input-datepicker style ║
╚═════════════════════════════╝
*/

/*
Centraliza la reordenación del componente para mostrar la label a la izquierda.
De esta forma el mismo código se mantiene en un solo sitio para poder usarlo en media-queries.
*/
@mixin mv-input-datepicker-mx-left-label () {

	// Anular el padding-top de la clase .has-label ya que no va a estar arriba
	padding-top: 0;

	// Reordenacion en caso sin icono
	> .mv-input-datepicker-message {
		width: calc(70% + 0.3rem);
		margin-left: calc(30% - 0.3rem);

	}

	> .mv-input-datepicker {
		width: calc(70% - 0.55rem);
		margin-left: calc(30% + 0.55rem);
	}

	> .mv-input-datepicker-label {
		width: calc(30%);
		margin-top: 0.75rem;
	}
}

input {

	&[has-required] {

	}

	&.mv-input-datepicker {

	}

}

/* Clase para detectar el hover para el tooltip */

section {

	&.mv-input-datepicker-root {

		width: 15rem;

		&.adapt {
			width: 100%;
		}

		.uib-yearpicker,
		.uib-monthpicker,
		.uib-daypicker {

			.active {

				@extend .btn-black;

				.text-info {
					color: white;
				}
			}
		}

		.uib-datepicker-current, 
		.uib-clear {

			@extend .btn-default;
		}

		.uib-close {

			@extend .btn-black;
		}
	}

	.mv-input-datepicker-root:hover{
		.mv-input-datepicker-tooltip {
			visibility: visible;
			opacity: 1;
		}
	}

	&.has-label {
		padding-top: 1.55rem;
	}

	&.left-label {

		@include mv-input-datepicker-mx-left-label();
	}

	&.has-message {
		padding-bottom: 2rem;
	}

	.mv-input-datepicker-tooltip {
		visibility: hidden;
		width: 120px;
		background-color: #555;
		color: #fff;
		text-align: center;
		padding: 6px 5px;
		border-radius: 6px;
		z-index: 5;
		position: absolute;
		opacity: 0;
		transition: opacity 0.3s;

		&.mv-input-datepicker-tooltip-position-right{
			top: 0;
			left: 105%;
		}
		&.mv-input-datepicker-tooltip-position-left{
			top: 0;
			right: 105%;
		}
		&.mv-input-datepicker-tooltip-position-top{
			bottom: 75%;
			right: 25%;
		}
		&.mv-input-datepicker-tooltip-position-bottom{
			top: 105%;
			right: 25%;
		}
	}

	/*
	label
	*/
	.mv-input-datepicker-label {

		@include mx-truncate();

		position: absolute;
		margin: -1.25rem 0 0 0;
		padding: 0 0 0 0;
		font-size: $font-size-small;
		font-weight: bold;
	}

	/*
	mensaje
	*/
	.mv-input-datepicker-message {

		@include mx-round-corners-default();

		@include mx-truncate();

		display: block;
		width: 100%;
		position: absolute;
		margin: 0 0 0 0;
		padding: 0.25rem 0.25rem 0.25rem 0.25rem;
		left: 0;
		bottom: -0.05rem;
		font-size: $font-size-small;
		font-weight: bold;
	}
}

/*
┌──────────────────┐
│ Bootstrap col-xs │
└──────────────────┘
*/

@media only screen and (max-width: $media-col-xs-max) {

}

/*
┌──────────────────┐
│ Bootstrap col-sm │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-sm-min) and (max-width : $media-col-sm-max) {

	.mv-input-datepicker-root {

		&.left-label-sm {

			@include mv-input-datepicker-mx-left-label();
		}
	}
}

/*
┌──────────────────┐
│ Bootstrap col-md │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-md-min) and (max-width : $media-col-md-max) {

	.mv-input-datepicker-root {

		&.left-label-md {

			@include mv-input-datepicker-mx-left-label();
		}
	}
}

/*
┌──────────────────┐
│ Bootstrap col-lg │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-lg-min) {

	.mv-input-datepicker-root {

		&.left-label-lg {

			@include mv-input-datepicker-mx-left-label();
		}
	}
}
