/*
╔════════════════════════╗
║ mova-device-info style ║
╚════════════════════════╝
*/

mv-device-info {

	@include view-style;

	.mv-device-info-listado {
    	list-style-type: none;
        display: flex; 
        flex-direction: row;
        justify-content: space-around;
        flex-flow: row wrap;
        flex-basis: 25%;
		margin: 0 0 0 0;
		padding: 0 0 0 0;

    	li {
        	display: block;
        	width: 100%;
        	font-size: 0.95em;

        	p {
                display: inline-block;
        		margin: 0 0 0 0;
        		padding: 0 0 0 0;
        	}

        	p:first-child {
        		font-weight: bold;
                margin: 0 0.25em 0 0;
        	}
        }
    }

}