<!-- mova-device-info -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<br>
	<mv-card
		round-corners=true
		badge="Información de la APP"
		>
		<ul class="mv-device-info-listado">
			<li>
				<p>Compilación:</p>
				<p>{{ fechaCompilacion }}</p>
			</li>
			<li>
				<p>Identificador de la App:</p>
				<p>{{ appId }}</p>
			</li>
			<li>
				<p>Versión de la App:</p>
				<p>{{ version }}</p>
			</li>
			<li>
				<p>Versión del framework:</p>
				<p>{{ framework }}</p>
			</li>
			<li>
				<p>Entorno:</p>
				<p>{{ environment }}</p>
			</li>
			<li>
				<p>Entorno mensajería:</p>
				<p>{{ environmentMsg }}</p>
			</li>
			<li>
				<p>ID dispositivo mensajería:</p>
				<p>{{ info.idPush }}</p>
			</li>
			<li>
				<p>Estado de las notificaciones:</p>
				<p>{{ info.itNotifica }}</p>
			</li>
			<li ng-show="info.errorPush != 'Ninguno'">
				<p>Error con la mensajería:</p>
				<p>{{ info.errorPush }}</p>
			</li>
			<li>
				<p>Tipo de login:</p>
				<p>{{ loginPath }}</p>
			</li>
			<li ng-show="loginPath == 'login'">
				<p>Sistema de autenticación:</p>
				<p>{{ loginSisAuth }} / {{ loginModTec }}</p>
			</li>
			<li ng-show="loginPath == 'broker-identidades'">
				<p>Servicio del Broker de identidades:</p>
				<p>{{ loginBrokerService }}</p>
			</li>
			<li ng-show="movaTokenUser != ''">
				<p>Usuario logado:</p>
				<p>{{ movaTokenUser }}</p>
			</li>
			<!--<li>
				<p>Validez login:</p>
				<p>{{ movaTokenFechaValidez }}</p>
			</li>-->
			<li>
				<p>PIWIK id:</p>
				<p>{{ piwikId }}</p>
			</li>
			<li>
				<p>Sistema del dispositivo:</p>
				<p>{{ deviceSystem }}</p>
			</li>
			<li>
				<p>Tipo de dispositivo:</p>
				<p>{{ appIsDesktop }}</p>
			</li>
			<li>
				<p>Máquina:</p>
				<p>{{ appMachine }}</p>
			</li>
			<li>
				<p>Listado de máquinas correctas:</p>
				<p>{{ appCorrectMachines }}</p>
			</li>
		</ul>
	</mv-card>
	<br>
	<mv-card
		round-corners=true
		badge="Información del dispositivo"
		show="isDevice"
		>
		<ul class="mv-device-info-listado">
			<li>
				<p>Máquina virtual:</p>
				<p>{{ info.isVirtual }}</p>
			</li>
			<li>
				<p>Cordova:</p>
				<p>{{ info.cordova }}</p>
			</li>
			<li>
				<p>Modelo:</p>
				<p>{{ info.model }}</p>
			</li>
			<li>
				<p>Fabricante:</p>
				<p>{{ info.device.manufacturer }}</p>
			</li>
			<li>
				<p>Plataforma:</p>
				<p>{{ info.platform }}</p>
			</li>
			<li>
				<p>Versión dispositivo:</p>
				<p>{{ info.version }}</p>
			</li>
			<li>
				<p>UUID:</p>
				<p>{{ info.uuid }}</p>
			</li>
			<li>
				<p>Nº de serie:</p>
				<p>{{ info.device.serial }}</p>
			</li>
		</ul>

	</mv-card>
	<br>
	<mv-card
		round-corners=true
		badge="Listados de llamadas http"
		show="showListHttp"
		>
		<ul class="mv-device-info-listado">
			<li>
				<p>Mediante el siguiente botón puede enviar la información sobre las últimas llamadas http.</p>
				<mv-button
					adapt=true
					class="mv-error-button-share"
					icon-class="fas fa-share"
					click="enviarLlamadasHttp()"
					show="showSendListHttp"
					>
					Enviar llamadas http
				</mv-button>
				<br><br>
			</li>
			<li>
				<p>Mediante el siguiente botón puede mostrar la información sobre las últimas llamadas http.</p>
				<mv-button
					adapt=true
					class="mv-error-button-share"
					icon-class="fas fa-eye"
					click="mostrarLlamadasHttp()"
					>
					Mostrar llamadas http
				</mv-button>
			</li>
			<li>
				<p>{{mensajeListadosHttp}}</p>
			</li>
		</ul>
	</mv-card>

</mv-screen>
