<ion-header>
  <ion-toolbar>
    <ion-title>Registrar piso</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <div>
      <ion-slides pager="true" [options]="slidesOpts" >
          <ion-slide *ngFor="let img of imageResponse">
            <img src="{{img}}" alt="" srcset="">
          </ion-slide>
        </ion-slides>
  </div>
  <form
    style="font-family: Comfortaa"
    [formGroup]="validations_form"
    (ngSubmit)="onSubmit(validations_form.value)"
  >
    <ion-item>
      <ion-label position="floating" color="ion-color-dark"
        >Direccion</ion-label
      >
      <ion-input
        placeholder="Direccion"
        type="text"
        formControlName="direccion"
        style="text-transform: uppercase"
        readonly="true"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark">m2</ion-label>
      <ion-input
        placeholder="m2"
        type="text"
        formControlName="metrosQuadrados"
        readonly="true"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark"
        >Costo alquiler</ion-label
      >
      <ion-input
        placeholder="Costo alquiler"
        type="number"
        formControlName="costoAlquiler"
        readonly="true"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark"
        >Meses de fianza</ion-label
      >
      <ion-input
        placeholder="Meses de fianza"
        type="number"
        formControlName="mesesFianza"
        readonly="true"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark"
        >Nº Habitaciones</ion-label
      >
      <ion-input
        placeholder="Nº Habitaciones"
        type="number"
        formControlName="numeroHabitaciones"
        readonly="true"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark">Planta</ion-label>
      <ion-input
        placeholder="Planta"
        type="text"
        formControlName="planta"
        readonly="true"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark"
        >Descripción del inmueble</ion-label
      >
      <ion-textarea
        type="text"
        formControlName="descripcionInmueble"
        readonly="true"
      ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark"
        >Telefono arrendador</ion-label
      >
      <ion-input
        placeholder="Nº arrendador"
        type="number"
        formControlName="telefonoArrendador"
        readonly="true"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark"
        >Inmobiliaria</ion-label
      >
      <ion-input
        placeholder="Inmobiliaria"
        type="text"
        formControlName="nombreInmobiliaria"
        style="text-transform: uppercase"
        readonly="true"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark"
        >Otros Datos</ion-label
      >
      <ion-textarea
        type="text"
        formControlName="otrosDatos"
        readonly="true"
      ></ion-textarea>
    </ion-item>
   <!-- <ion-item>
 <ion-label position="floating" color="ion-color-dark"
        >Nombre Agente</ion-label
      >
      <ion-input
        readonly="true"
        type="text"
        formControlName="nombreAgente"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark"
        >Email Agente</ion-label
      >
      <ion-input
        readonly="true"
        type="text"
        formControlName="emailAgente"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark"
        >Nombre Arrendador</ion-label
      >
      <ion-textarea
        type="text"
        formControlName="nombreArrendador"
      ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark"
        >Correo Arrendador</ion-label
      >
      <ion-input type="email" formControlName="emailArrendador"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark"
        >Arrendador ID</ion-label
      >
      <ion-input type="text" formControlName="arrendadorId"></ion-input>
    </ion-item>
    

    <ion-button
      class="submit-btn"
      expand="block"
      type="submit"
      [disabled]="!validations_form.valid"
      class="boton-crear"
      >Guardar Piso</ion-button
    
    </ion-item>>-->
  </form>     
</ion-content>
