<!-- app-pantalla14 -->

<div class="rectangleSup">
	
	<div class="lds-ring"><div></div><div></div><div></div><div></div></div>

</div>
			
	<img id="inicioImg" src="media/images/examples/stethoscope.jpg"/>

	<p id="inicioImg2"><img src="media/images/examples/logoSaludMadridInicio.png"/></p>