/*
╔═════════════════════╗
║ app-pantalla14 style ║
╚═════════════════════╝
*/

.rectangleSup{
	position:absolute;
	background-color:black;
	z-index:1;
	opacity: 0.75;
	width: 100%;
	height: 100%;
}

app-main-menu {

  @include view-style;

  // Sobreescribir el estilo view-style para que la lista ajuste hasta el final.
  padding-bottom: 0rem !important;

  .app-main-menu-mv-card-main {

	display: block;
	text-align: center;
	max-width: $card-max-size;
	margin: 0.55rem auto 0 auto;
	padding: 0 0 14rem 0;

	.app-main-menu-mv-card-option {

		display: block;
		text-align: left;
		color: $color-primary-004-80;
		height: 5rem;
		margin: 0.35rem 0.35rem 0.75rem 0.35rem !important;

		.app-main-menu-mv-card-option-icon {

			position: absolute;
			display: block;
			font-size: $font-size-super-big;
			top: 1.25rem;
		}

		.app-main-menu-mv-card-option-text {

			display: block;
			vertical-align: middle;
			font-size: $font-size-medium;
			font-weight: bold;
			margin: 1rem 0 0 3.2rem;
			color: $color-secondary-010;

			@include mx-truncate;
		}

		.mv-card-badge-icon-class {
			border: none;
			font-size: $font-size-medium;
		top: 1.85rem;
		right: 0rem;
		color: $color-secondary-010;
		background-color: transparent;
		}
	}
	.app-main-menu-mv-card-option-wiki {

		.app-main-menu-mv-card-option-icon,
		.app-main-menu-mv-card-option-text {
			color: $color-secondary-011 !important;
		}
	}
};

#card1{
	background-image: url("media/images/examples/hospital.png");
};
#card2{
	background-image: url("media/images/examples/pacientes.png");
};
#card3{
	background-image: url("media/images/examples/personal.png");
};
};
#inicioImg{
	margin-top:90px;
	height:100%;
	width:100%;
}
#inicioImg2{
	margin-top:100px;
	text-align:center;
}
.lds-ring {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
  }
  .lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 81px;
	height: 81px;
	margin: 280px 140px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
  }
  @keyframes lds-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
