<!-- app-maquetacion-tab -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<mv-container class="app-maquetacion-tab-container">

		<mv-container-item class="app-maquetacion-tab-container-item" col-xs=12 default-margin=true>
			<code>
				<badge>HTML</badge>
				&lt;mv-tab><br>
				&emsp;&emsp;captions="Llamadas;Mensajes;Favoritos;Configurar;Más"<br>
				&emsp;&emsp;icon-class="fas fa-phone;fas fa-envelope;fas fa-heart;fas fa-cog;fas fa-ellipsis-h"<br>
				&emsp;&emsp;badge=";8;;;"<br>
				&emsp;&emsp;selected=2<br>
				&emsp;&emsp;bottom-mode=true<br>
				&lt;/mv-tab>
			</code>
			<mv-tab
				type="none"
				captions="Llamadas;Mensajes;Favoritos;Configurar;Más"
				icon-class="fas fa-phone;fas fa-envelope;fas fa-heart;fas fa-cog;fas fa-ellipsis-h"
				badge=";8;;;"
				selected=2
				bottom-mode=true
				>
			</mv-tab>
		</mv-container-item>

	</mv-container>

	<mv-card
		class="section-info"
		title="INFORMACIÓN"
		hr-class-if="hr-info"
		>
		<p>A continuación se muestra un listado con los distintos valores de la propiedad <b>type</b> del componente <b>mv.movaTab</b> aplicados al ejemplo anterior.</p>
	</mv-card>

	<mv-container class="app-maquetacion-tab-container">

		<mv-container-item class="app-maquetacion-tab-container-item" col-xs=12 col-sm=6 default-margin=true>
			<code>
				<badge>HTML</badge>
				&lt;mv-tab><br>
				&emsp;&emsp;<b>type="flat"</b><br>
				&emsp;&emsp;...<br>
				&lt;/mv-tab>
			</code>
			<mv-tab
				type="flat"
				captions="Llamadas;Mensajes;Favoritos;Configurar;Más"
				icon-class="fas fa-phone;fas fa-envelope;fas fa-heart;fas fa-cog;fas fa-ellipsis-h"
				badge=";8;;;"
				selected=2
				bottom-mode=true
				>
			</mv-tab>
		</mv-container-item>

		<mv-container-item class="app-maquetacion-tab-container-item" col-xs=12 col-sm=6 default-margin=true>
			<code>
				<badge>HTML</badge>
				&lt;mv-tab><br>
				&emsp;&emsp;<b>type="flat-dark"</b><br>
				&emsp;&emsp;...<br>
				&lt;/mv-tab>
			</code>
			<mv-tab
				type="flat-dark"
				captions="Llamadas;Mensajes;Favoritos;Configurar;Más"
				icon-class="fas fa-phone;fas fa-envelope;fas fa-heart;fas fa-cog;fas fa-ellipsis-h"
				badge=";8;;;"
				selected=2
				bottom-mode=true
				>
			</mv-tab>
		</mv-container-item>

	</mv-container>

	<mv-container class="app-maquetacion-tab-container">

		<mv-container-item class="app-maquetacion-tab-container-item" col-xs=12 col-sm=6 default-margin=true>
			<code>
				<badge>HTML</badge>
				&lt;mv-tab><br>
				&emsp;&emsp;<b>type="emphasis"</b><br>
				&emsp;&emsp;...<br>
				&lt;/mv-tab>
			</code>
			<mv-tab
				type="emphasis"
				captions="Llamadas;Mensajes;Favoritos;Configurar;Más"
				icon-class="fas fa-phone;fas fa-envelope;fas fa-heart;fas fa-cog;fas fa-ellipsis-h"
				badge=";8;;;"
				selected=2
				bottom-mode=true
				>
			</mv-tab>
		</mv-container-item>

		<mv-container-item class="app-maquetacion-tab-container-item" col-xs=12 col-sm=6 default-margin=true>
			<code>
				<badge>HTML</badge>
				&lt;mv-tab><br>
				&emsp;&emsp;<b>type="emphasis-dark"</b><br>
				&emsp;&emsp;...<br>
				&lt;/mv-tab>
			</code>
			<mv-tab
				type="emphasis-dark"
				captions="Llamadas;Mensajes;Favoritos;Configurar;Más"
				icon-class="fas fa-phone;fas fa-envelope;fas fa-heart;fas fa-cog;fas fa-ellipsis-h"
				badge=";8;;;"
				selected=2
				bottom-mode=true
				>
			</mv-tab>
		</mv-container-item>

	</mv-container>

	<mv-container class="app-maquetacion-tab-container">

		<mv-container-item class="app-maquetacion-tab-container-item" col-xs=12 col-sm=6 default-margin=true>
			<code>
				<badge>HTML</badge>
				&lt;mv-tab><br>
				&emsp;&emsp;<b>type="minimal"</b><br>
				&emsp;&emsp;...<br>
				&lt;/mv-tab>
			</code>
			<mv-tab
				type="minimal"
				captions="Llamadas;Mensajes;Favoritos;Configurar;Más"
				icon-class="fas fa-phone;fas fa-envelope;fas fa-heart;fas fa-cog;fas fa-ellipsis-h"
				badge=";8;;;"
				selected=2
				bottom-mode=true
				>
			</mv-tab>
		</mv-container-item>

		<mv-container-item class="app-maquetacion-tab-container-item" col-xs=12 col-sm=6 default-margin=true>
			<code>
				<badge>HTML</badge>
				&lt;mv-tab><br>
				&emsp;&emsp;<b>type="minimal-dark"</b><br>
				&emsp;&emsp;...<br>
				&lt;/mv-tab>
			</code>
			<mv-tab
				type="minimal-dark"
				captions="Llamadas;Mensajes;Favoritos;Configurar;Más"
				icon-class="fas fa-phone;fas fa-envelope;fas fa-heart;fas fa-cog;fas fa-ellipsis-h"
				badge=";8;;;"
				selected=2
				bottom-mode=true
				>
			</mv-tab>
		</mv-container-item>

	</mv-container>

	<mv-card
		class="section-info"
		title="INFORMACIÓN"
		hr-class-if="hr-info"
		onclick="preventDefault()"
		>
		<p>A continuación se muestran ejemplos con la funcionalidad de 'wizzard'.</p>
		<p>Esta funcionalidad se consigue bloqueando el click mediante la propiedad <b>click-disabled=false</b>, utilizando el valor <u>wizzard</u> para el atributo <b>type</b> y modificando en cada caso los valores de las variables del scope asignadas a las propiedades <b>selected</b>.</p>
	</mv-card>

	<mv-container class="app-maquetacion-tab-container">

		<mv-container-item class="app-maquetacion-tab-container-item" col-xs=12 col-sm=6 default-margin=true>
			<code>
				<badge>HTML</badge>
				&lt;mv-tab><br>
				&emsp;&emsp;<b>type="wizard"</b><br>
				&emsp;&emsp;...<br>
				&lt;/mv-tab>
			</code>
			<mv-tab
				click-disabled=true
				type="wizard"
				captions="Paso 1;Paso 2;Paso 3;Paso 4"
				badge="1;2;3;4"
				selected="{{wizzardSelected}}"
				>
			</mv-tab>
			<br><br>
			<mv-containter>
				<mv-container-item col-xs=6>
					<mv-button adapt=true click="atrasSelectedOnWizzard()">Atrás {{wizzardSelected}}</mv-button>
				</mv-container-item>
				<mv-container-item col-xs=6>
					<mv-button adapt=true click="adelanteSelectedOnWizzard()">Siguiente {{wizzardSelected}}</mv-button>
				</mv-container-item>
			</mv-containter>
		</mv-container-item>

	</mv-container>

	<mv-card
		class="section-info"
		title="INFORMACIÓN"
		hr-class-if="hr-info"
		onclick="preventDefault()"
		>
		<p>A continuación se muestran ejemplos mezclando funcionalidad disponible.</p>
	</mv-card>

	<mv-container class="app-maquetacion-tab-container">

		<mv-container-item class="app-maquetacion-tab-container-item" col-xs=12>
			<code>
				<badge>HTML</badge>
				&lt;mv-tab><br>
				&emsp;&emsp;<b>scroll="true"</b><br>
				&emsp;&emsp;...<br>
				&lt;/mv-tab>
			</code>
			<mv-tab
				captions="Llamadas;Mensajes;Configurar;Favoritos;Viajes;Restaurantes;Cámara;Más"
				icon-class="fas fa-phone;fas fa-envelope;fas fa-cog;fas fa-heart;fas fa-plane;fas fa-utensils;fas fa-camera;fas fa-ellipsis-h"
				badge=";8;;;"
				selected=3
				scroll=true
				>
			</mv-tab>
		</mv-container-item>

	</mv-container>

	<mv-container class="app-maquetacion-tab-container">

		<mv-container-item class="app-maquetacion-tab-container-item" col-xs=12>
			<code>
				<badge>HTML</badge>
				&lt;mv-tab><br>
				&emsp;&emsp;type="flat"<br>
				&emsp;&emsp;scroll="true"<br>
				&emsp;&emsp;<b>scroll-center="true"</b><br>
				&emsp;&emsp;...<br>
				&lt;/mv-tab>
			</code>
			<mv-tab
				type="flat"
				captions="Llamadas;Mensajes;Configurar;Favoritos;Viajes;Restaurantes;Cámara;Más"
				icon-class="fas fa-phone;fas fa-envelope;fas fa-cog;fas fa-heart;fas fa-plane;fas fa-utensils;fas fa-camera;fas fa-ellipsis-h"
				badge=";8;;;"
				selected=3
				scroll=true
				scroll-center=true
				>
			</mv-tab>
		</mv-container-item>

	</mv-container>

	<mv-card
		class="section-info"
		title="INFORMACIÓN"
		hr-class-if="hr-info"
		onclick="preventDefault()"
		>
		<p>A continuación se muestran ejemplos con la funcionalidad de 'wizzard'.</p>
		<p>Esta funcionalidad se consigue bloqueando el click mediante la propiedad <b>click-disabled=false</b>, utilizando el valor <u>wizzard</u> para el atributo <b>type</b> y modificando en cada caso los valores de las variables del scope asignadas a las propiedades <b>selected</b> y <b>scroll-value</b></p>
	</mv-card>

	<mv-container class="app-maquetacion-tab-container">

		<mv-container-item class="app-maquetacion-tab-container-item" col-xs=12>
			<code>
				<badge>HTML</badge>
				&lt;mv-tab><br>
				&emsp;&emsp;<b>type="wizard"</b><br>
				&emsp;&emsp;<b>item-width="15rem"</b><br>
				&emsp;&emsp;...<br>
				&lt;/mv-tab>
			</code>
			<mv-tab
				class="app-maquetacion-tab-wizzard-scroll"
				click-disabled=true
				type="wizard"
				captions="Paso 1;Paso 2;Paso 3;Paso 4;Paso 5;Paso 6;Paso 7;Paso 8;Paso 9;Paso 10"
				badge="1;2;3;4;5;6;7;8;9;10"
				selected="{{wizzardSelected2}}"
				scroll=true
				scroll-value="{{wizzardScroll}}"
				item-width="15rem"
				>
			</mv-tab>
			<br><br>
			<mv-containter>
				<mv-container-item col-xs=6>
					<mv-button adapt=true click="atrasSelectedOnWizzard2()">Atrás {{wizzardSelected2}}</mv-button>
				</mv-container-item>
				<mv-container-item col-xs=6>
					<mv-button adapt=true click="adelanteSelectedOnWizzard2()">Siguiente {{wizzardSelected2}}</mv-button>
				</mv-container-item>
			</mv-containter>
		</mv-container-item>

	</mv-container>

</mv-screen>
