/*
╔═══════════════════════════╗
║ app-maquetacion-tab style ║
╚═══════════════════════════╝
*/
app-maquetacion-tab {

	@include view-style;

	.app-maquetacion-tab-container:first-child {

		max-width: $card-max-size/2;
	}

  	.app-maquetacion-tab-container {

  		max-width: $card-max-size;

  		margin: 0 auto;
  		padding: 0 0 0 0;

	  	.app-maquetacion-tab-container-item {
	  		margin: 1.55rem 0 0 0 !important;
	  		padding: 0 0 0 0 !important;
	  	}
  	}
}