/*
╔═══════════════════╗
║ mova-footer style ║
╚═══════════════════╝
*/

/*mv-footer {
	display: block;
	position: relative;
	bottom: 0;
	width: 100%;
	min-height: 3rem;
	padding: 0.55rem;
	background-color: $color-primary-004;
	-webkit-box-shadow: 0 -0.2em 0.25em 0 rgba(49,52,56, 0.35);
	-moz-box-shadow:    0 -0.2em 0.25em 0 rgba(49,52,56, 0.35);
	box-shadow:         0 -0.2em 0.25em 0 rgba(49,52,56, 0.35);
	z-index: $z-index_footer;

	&.float {
		position: fixed;
		bottom: 0 !important;
	}

	section {

		.mv-footer-links{
			text-align: center;
			margin: auto;
			li{
				a{
					color: #fff;
				}
				display: inline-block;
				margin-right: 1em;
				border-right: 1px solid #fff;
				padding-right: 1em;
				//width: 8em;
			}

			li:last-child{
				border: none;
			}
		}

	}

}*/
