<!-- mova-footer -->

<!--<mv-card
	bg-color="transparent"
	border-color="transparent"
	adapt=true
	>

	<section>
		<ul class="mv-footer-links">
			<li
				ng-if="(showVersion !== 'false') && (showVersion !== false)">
				<a
					href="#!/device-info">
						V.{{ version }}
				</a>
			</li>
			<li
				ng-if="(showContact !== 'false') && (showContact !== false)">
				<a
					href=""
					ng-click="openUrlOnExternalbrowserClick(urlContacta)">
						Contacta
				</a>
			</li>
			<li
				ng-if="(showLegal !== 'false') && (showLegal !== false)">
				<a
					href=""
					ng-click="openUrlOnExternalbrowserClick(urlAvisoLegal)">
						Aviso legal
				</a>
			</li>
		</ul>
		<div>
			<ng-transclude></ng-transclude>
		</div>
	</section>

</mv-card>-->
