<!-- app-example-guia-estilos-iconos -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">Iconos</h1>
		<br>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>Los iconos disponibles son los de <a onclick="window.open('https://fontawesome.com', '_system');"><b>"Font-Awesome by Dave Gandy"</b></a> a los de <a onclick="window.open('https://getbootstrap.com/docs/3.3/components/', '_system');"><b>Glyphicons que ofrece Bootstrap</b></a>.</p>
		</mv-card>
		<p>Este componente acepta los siguientes atributos:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('fontAwesome')" >Font Awesome</a></li>
			<li><a href="" ng-click="$root.scrollTo('glyphicons')" >Glyphicons</a></li>
		</ul>
	</mv-card>

	<mv-card
		id="fontAwesome"
	>
		<mv-container
			class="app-example-guia-estilos-iconos-listado-iconos"
			bg-color="transparent"
		>
			<h3 class="title-3">Font Awesome</h3>
			<br>
			<p>A continuación se muestra un ejemplo de uso mediante HTML.</p>
			<p>La lista completa de iconos libres disponibles puede consultarse <a onclick="window.open('https://fontawesome.com/icons?d=gallery&m=free', '_system');"><b>aquí</b></a>.</p>
			<br>
			<mv-button
				id="btnIrFontAwesomeFree"
				icon-class="fas fa-flag"
				click="btnIrFontAwesomeFreeClick()"
				adapt=true
				btn-type="info"
			>
				Abrir listado de iconos
			</mv-button>
			<br>
			<br>
			<br>
			<code>
				<badge>HTML</badge>
				<span>
					&lt;span class="far fa-bell">&lt;/span>
				</span>
			</code>
			<p>A continuación se muestra un listado de algunos de los iconos disponibles:</p>


			<mv-container>

				<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2>
					<i class="far fa-bell"></i>
					<span class="app-example-guia-estilos-iconos-nombre-icono">far fa-bell</span>
				</mv-container-item>

				<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2>
					<i class="far fa-star"></i>
					<span class="app-example-guia-estilos-iconos-nombre-icono">far fa-star</span>
				</mv-container-item>

				<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2>
					<i class="far fa-heart"></i>
					<span class="app-example-guia-estilos-iconos-nombre-icono">far fa-heart</span>
				</mv-container-item>

				<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2>
					<i class="far fa-folder"></i>
					<span class="app-example-guia-estilos-iconos-nombre-icono">far fa-folder</span>
				</mv-container-item>

				<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2>
					<i class="far fa-comments"></i>
					<span class="app-example-guia-estilos-iconos-nombre-icono">far fa-comments</span>
				</mv-container-item>

				<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2>
					<i class="fas fa-archive"></i>
					<span class="app-example-guia-estilos-iconos-nombre-icono">fas fa-archive</span>
				</mv-container-item>

				<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2>
					<i class="fas fa-bath"></i>
					<span class="app-example-guia-estilos-iconos-nombre-icono">fas fa-bath</span>
				</mv-container-item>

				<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2>
					<i class="fas fa-bicycle"></i>
					<span class="app-example-guia-estilos-iconos-nombre-icono">fas fa-bicycle</span>
				</mv-container-item>

				<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2>
					<i class="fas fa-bomb"></i>
					<span class="app-example-guia-estilos-iconos-nombre-icono">fas fa-bomb</span>
				</mv-container-item>

				<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2>
					<i class="fas fa-desktop"></i>
					<span class="app-example-guia-estilos-iconos-nombre-icono">fas fa-desktop</span>
				</mv-container-item>

				<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2>
					<i class="fab fa-android"></i>
					<span class="app-example-guia-estilos-iconos-nombre-icono">fab fa-android</span>
				</mv-container-item>

				<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2>
					<i class="fab fa-apple"></i>
					<span class="app-example-guia-estilos-iconos-nombre-icono">fab fa-apple</span>
				</mv-container-item>

				<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2>
					<i class="fab fa-windows"></i>
					<span class="app-example-guia-estilos-iconos-nombre-icono">fab fa-windows</span>
				</mv-container-item>

				<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2>
					<i class="fab fa-youtube"></i>
					<span class="app-example-guia-estilos-iconos-nombre-icono">fab fa-youtube</span>
				</mv-container-item>

				<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2>
					<i class="fab fa-bluetooth"></i>
					<span class="app-example-guia-estilos-iconos-nombre-icono">fab fa-bluetooth</span>
				</mv-container-item>

			</mv-container>

		</mv-container>
	</mv-card>

	<mv-card
		id="glyphicons"
	>
		<mv-container
			class="app-example-guia-estilos-iconos-listado-iconos"
			bg-color="transparent"
		>
			<h3 class="title-3">Glyphicons</h3>
			<br>
			<p>A continuación se muestra un ejemplo de uso mediante HTML.</p>
			<p>La documentación muestra los ejemplos con etquetas <b>&lt;span></b> pero es muy común usar la étiqueta <b>&lt;i></b></p>
			<p>Es necesario incluir el prefijo <b>glyphicon-</b> y la propia clase <b>glyphicon</b></p>
			<code>
				<badge>HTML</badge>
				<span>
					&lt;span class="glyphicon glyphicon-asterisk" aria-hidden="true">&lt;/span>
				</span>
			</code>
			<p>A continuación se muestra un listado de los iconos disponibles:</p>
			<mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">asterisk</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">plus</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-euro" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">euro</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-eur" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">eur</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">minus</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">cloud</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">envelope</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">pencil</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-glass" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">glass</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-music" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">music</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-search" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">search</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">heart</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">star</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">star-empty</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">user</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-film" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">film</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">th-large</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-th" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">th</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">th-list</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">ok</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">remove</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">zoom-in</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">zoom-out</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-off" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">off</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-signal" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">signal</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">cog</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">trash</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-home" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">home</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-file" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">file</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">time</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-road" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">road</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">download-alt</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-download" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">download</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">upload</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">inbox</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">play-circle</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">repeat</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">refresh</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">list-alt</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">lock</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">flag</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">headphones</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-volume-off" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">volume-off</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-volume-down" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">volume-down</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">volume-up</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">qrcode</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">barcode</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">tag</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">tags</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-book" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">book</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">bookmark</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-print" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">print</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">camera</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-font" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">font</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-bold" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">bold</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-italic" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">italic</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-text-height" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">text-height</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-text-width" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">text-width</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">align-left</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-align-center" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">align-center</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-align-right" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">align-right</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">align-justify</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-list" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">list</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-indent-left" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">indent-left</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">indent-right</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">facetime-video</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">picture</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">map-marker</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-adjust" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">adjust</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-tint" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">tint</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">edit</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-share" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">share</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-check" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">check</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-move" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">move</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">step-backward</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">fast-backward</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-backward" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">backward</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-play" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">play</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-pause" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">pause</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">stop</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-forward" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">forward</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">fast-forward</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">step-forward</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-eject" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">eject</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">chevron-left</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">chevron-right</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">plus-sign</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">minus-sign</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">remove-sign</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">ok-sign</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">question-sign</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">info-sign</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">screenshot</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">remove-circle</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">ok-circle</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">ban-circle</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">arrow-left</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">arrow-right</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">arrow-up</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">arrow-down</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">share-alt</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">resize-full</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">resize-small</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">exclamation-sign</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-gift" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">gift</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">leaf</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">fire</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">eye-open</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">eye-close</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">warning-sign</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-plane" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">plane</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">calendar</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-random" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">random</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">comment</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-magnet" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">magnet</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">chevron-up</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">chevron-down</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">retweet</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">shopping-cart</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">folder-close</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">folder-open</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">resize-vertical</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">resize-horizontal</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">hdd</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">bullhorn</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-bell" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">bell</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">certificate</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">thumbs-up</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">thumbs-down</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">hand-right</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">hand-left</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">hand-up</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-hand-down" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">hand-down</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">circle-arrow-right</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">circle-arrow-left</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">circle-arrow-up</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">circle-arrow-down</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">globe</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">wrench</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">tasks</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">filter</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">briefcase</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">fullscreen</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">dashboard</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">paperclip</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">heart-empty</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-link" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">link</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">phone</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">pushpin</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">usd</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-gbp" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">gbp</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-sort" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">sort</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">sort-by-alphabet</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">sort-by-alphabet-alt</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-sort-by-order" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">sort-by-order</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">sort-by-order-alt</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">sort-by-attributes</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">sort-by-attributes-alt</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">unchecked</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-expand" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">expand</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">collapse-down</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">collapse-up</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">log-in</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-flash" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">flash</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">log-out</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">new-window</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-record" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">record</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-save" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">save</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-open" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">open</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-saved" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">saved</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-import" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">import</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-export" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">export</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-send" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">send</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">floppy-disk</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">floppy-saved</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">floppy-remove</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">floppy-save</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">floppy-open</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">credit-card</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">transfer</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">cutlery</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-header" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">header</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-compressed" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">compressed</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">earphone</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">phone-alt</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-tower" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">tower</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">stats</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-sd-video" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">sd-video</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-hd-video" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">hd-video</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-subtitles" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">subtitles</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-sound-stereo" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">sound-stereo</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-sound-dolby" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">sound-dolby</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-sound-5-1" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">sound-5-1</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-sound-6-1" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">sound-6-1</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-sound-7-1" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">sound-7-1</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">copyright-mark</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">registration-mark</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">cloud-download</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">cloud-upload</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">tree-conifer</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">tree-deciduous</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-cd" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">cd</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">save-file</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-open-file" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">open-file</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-level-up" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">level-up</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-copy" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">copy</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-paste" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">paste</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-alert" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">alert</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">equalizer</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-king" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">king</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-queen" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">queen</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-pawn" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">pawn</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-bishop" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">bishop</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-knight" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">knight</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-baby-formula" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">baby-formula</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-tent" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">tent</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">blackboard</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-bed" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">bed</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-apple" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">apple</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-erase" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">erase</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">hourglass</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-lamp" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">lamp</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">duplicate</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">piggy-bank</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-scissors" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">scissors</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-bitcoin" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">bitcoin</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-btc" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">btc</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-xbt" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">xbt</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-yen" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">yen</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-jpy" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">jpy</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-ruble" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">ruble</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-rub" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">rub</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-scale" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">scale</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-ice-lolly" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">ice-lolly</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-ice-lolly-tasted" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">ice-lolly-tasted</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-education" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">education</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">option-horizontal</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">option-vertical</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">menu-hamburger</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">modal-window</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-oil" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">oil</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-grain" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">grain</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">sunglasses</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-text-size" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">text-size</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-text-color" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">text-color</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-text-background" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">text-background</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-object-align-top" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">object-align-top</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-object-align-bottom" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">object-align-bottom</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">object-align-horizontal</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-object-align-left" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">object-align-left</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-object-align-vertical" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">object-align-vertical</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-object-align-right" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">object-align-right</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">triangle-right</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">triangle-left</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">triangle-bottom</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">triangle-top</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-console" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">console</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-superscript" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">superscript</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-subscript" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">subscript</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">menu-left</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">menu-right</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">menu-down</span> </mv-container-item> <mv-container-item col-xs=6 col-sm=4 col-md=3 col-lg=2> <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span> <span class="app-example-guia-estilos-iconos-nombre-icono">menu-up</span> </mv-container-item>
		</mv-container>
	</mv-card>

</mv-screen>
