ion-content{
    --background: black;
}

.form{
    text-align: initial;
    margin-top: 5rem;
}
ion-list{
    background: transparent;
}
ion-item{
    --background: transparent;
}

input{
    background: transparent;
    letter-spacing: 1px;
    text-transform: uppercase;
}

p{
    color: white;
    letter-spacing: 1px;
}

.voltar{
    text-align: end;
}
.logo{
    text-align: end;
    margin-top: 1rem;
}


.texto{
    color: white;
}

input{
    background: transparent;
    color: #00D8C8;
    float: left;
    font-size: large;
    border: none;
    width: 100%;
}

::placeholder{
    color: #00D8C8;
    font-size: large;
}

.error-message{
    color: #00D8C8;
}

.footer{
    margin-top: 10rem;
    
}
p.terminos{
    color: #00D8C8;
    text-align: center;
}

.boton{
    font-weight: bold;
    height: 2rem;
    background: #00D8C8;
    color: black;
    letter-spacing: 1px;
    font-size: medium;
}