<ion-content padding>
    <form style="font-family: Comfortaa" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
        <div class="voltar">
            <img (click)="goBack()" src="../../../assets/imgs/volver.png" alt="">
          </div>
          <div class="logo">
            <img src="../../../assets/imgs/irisIcono.png" alt="">
          </div>   
      <ion-list class="tarjeta mx-auto">
          <ion-item lines="none" style="padding-top: 2rem;">
            <p color="ion-color-dark">
              <b>NOMBRE</b>
              <br />
              <i> <input placeholder="Nombre" type="text" formControlName="nombre"
                  style="text-transform: uppercase" /></i></p>
  
          </ion-item>
          <ion-item lines="none">
            <p position="floating" color="ion-color-dark">
              <b>APELLIDO</b>
              <br />
              <input placeholder="apellido" type="text" formControlName="apellido" />
            </p>
  
          </ion-item>
          <ion-item lines="none">
            <p color="ion-color-dark"><b>CORREO ELECTRÓNICO</b>
              <br />
              <input placeholder="Correo Electronico" type="email" formControlName="email" />
            </p>
  
          </ion-item>
          <ion-item lines="none">
              <p color="ion-color-dark"><b>TELEFONO</b>
                <br />
                <input placeholder="666555444" type="tel" formControlName="telefono" />
              </p>
    
            </ion-item>
        </ion-list>
        <div class="div-boton" text-center>
            <button class="boton" type="submit" [disabled]="!validations_form.valid">TERMINAR REGISTRO</button>
          </div>
    </form>

</ion-content>
