<!-- app-example-mova-gesture -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaGesture</h1>
		<br>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>Este componente funciona gracias a la librería <b>hammer.js</b> disponible <a target="_blank" ng-click="openUrlOnExternalbrowser('http://hammerjs.github.io/')"><u>aquí</u></a>.</p>
			<p>Concretamente se utiliza la adaptación de <b>hammer.js</b> para AngularJS disponible <a target="_blank" ng-click="openUrlOnExternalbrowser('https://github.com/RyanMullins/angular-hammer')"><u>aquí</u></a>.</p>
			<p>A continuación se explica el funcionamiento del componente <b>mv.movaGesture</b> pero es recomendable familiarizarse con la librería <b>hammer.js</b>.</p>
		</mv-card>
		<p>Componente contenedor invisible que permite dotar su contenido con la funcionalidad de gestos.</p>
		<p>Este componente acepta los siguientes atributos:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('pan')" >pan</a></li>
			<li><a href="" ng-click="$root.scrollTo('panCancel')" >pan-cancel</a></li>
			<li><a href="" ng-click="$root.scrollTo('panDown')" >pan-down</a></li>
			<li><a href="" ng-click="$root.scrollTo('panEnd')" >pan-end</a></li>
			<li><a href="" ng-click="$root.scrollTo('panLeft')" >pan-left</a></li>
			<li><a href="" ng-click="$root.scrollTo('panMove')" >pan-move</a></li>
			<li><a href="" ng-click="$root.scrollTo('panRight')" >pan-right</a></li>
			<li><a href="" ng-click="$root.scrollTo('panStart')" >pan-start</a></li>
			<li><a href="" ng-click="$root.scrollTo('panUp')" >pan-up</a></li>
			<li><a href="" ng-click="$root.scrollTo('pinch')" >pinch</a></li>
			<li><a href="" ng-click="$root.scrollTo('pinch-cancel')" >pinchCancel</a></li>
			<li><a href="" ng-click="$root.scrollTo('pinch-end')" >pinchEnd</a></li>
			<li><a href="" ng-click="$root.scrollTo('pinch-in')" >pinchIn</a></li>
			<li><a href="" ng-click="$root.scrollTo('pinch-move')" >pinchMove</a></li>
			<li><a href="" ng-click="$root.scrollTo('pinch-out')" >pinchOut</a></li>
			<li><a href="" ng-click="$root.scrollTo('pinch-start')" >pinchStart</a></li>
			<li><a href="" ng-click="$root.scrollTo('press')" >press</a></li>
			<li><a href="" ng-click="$root.scrollTo('pressUp')" >press-up</a></li>
			<li><a href="" ng-click="$root.scrollTo('rotate')" >rotate</a></li>
			<li><a href="" ng-click="$root.scrollTo('rotateCancel')" >rotate-cancel</a></li>
			<li><a href="" ng-click="$root.scrollTo('rotateEnd')" >rotate-end</a></li>
			<li><a href="" ng-click="$root.scrollTo('rotateMove')" >rotate-move</a></li>
			<li><a href="" ng-click="$root.scrollTo('rotateStart')" >rotate-start</a></li>
			<li><a href="" ng-click="$root.scrollTo('swipe')" >swipe</a></li>
			<li><a href="" ng-click="$root.scrollTo('swipeDown')" >swipe-down</a></li>
			<li><a href="" ng-click="$root.scrollTo('swipeLeft')" >swipe-left</a></li>
			<li><a href="" ng-click="$root.scrollTo('swipeRight')" >swipe-right</a></li>
			<li><a href="" ng-click="$root.scrollTo('swipeUp')" >swipe-up</a></li>
			<li><a href="" ng-click="$root.scrollTo('tap')" >tap</a></li>
			<li><a href="" ng-click="$root.scrollTo('tapDouble')" >tap-double</a></li>
		</ul>
	</mv-card>

	<mv-card>
		<h2  class="title-2">Ejemplo de uso HTML y resultado</h2>
		<br>
		<p>Elemento contenedor invisible que envuelve otros elementos visuales para dotarlos de funcionalidad con gestos.</p>
		<p>Es importante recordar que solo debe incluirse el nombre de la función sin parentesis. El único parámetro exisente es <b>$event</b>, se debe trabajar con el desde el controlador.</p>
		<p>Debido a la cantidad de gestos posibles, este ejemplo inicial muestra solo el gesto <b>pan</b>, desplazamiento en una dirección mientras se mantiene pulsado el elemento.</p>
		<p>Manten pulsado el recuadro rojo y mueve el dedo en distintas direcciones para ver el resultado.</p>
		<p>A continuación se muestra un ejemplo del código JavaScript del controlador.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				$scope.panExample = function (event) {<br>
				&emsp;&emsp;$scope.pan = event.additionalEvent;<br>
				};
			</span>
		</code>
		<p>A continuación se muestra el ejemplo del código HTML.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;pan="panExample"<br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-arrows" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<mv-gesture
			pan="panExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-arrows" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Movimiento realizado:</b>&nbsp;{{ pan }}
	</mv-card>

	<mv-card
		id="pan"
		>
		<h3 class="title-3">pan</h3>
		<br>
		<p>La propiedad <b>pan</b> permite ejecutar una función ante el evento <b>pan</b>, desplazamiento en una dirección mientras se mantiene pulsado el elemento.</p>
		<p>El movimiento puede realizarse hacia arriba, abajo, izquierda y derecha. Las diagonales serán detectadas como una de las direcciones anteriores de forma aproximada.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>pan="panExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-arrows" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto pan multidireccional:</b></p>
		<mv-gesture
			pan="panExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-arrows" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Movimiento realizado:</b>&nbsp;{{ pan }}
	</mv-card>

	<mv-card
		id="panCancel"
		>
		<h3 class="title-3">pan-cancel</h3>
		<br>
		<p>La propiedad <b>pan-cancel</b> permite ejecutar una función ante el evento <b>pan-cancel</b>, desplazamiento en una dirección mientras se mantiene pulsado el elemento que queda cancelado.</p>
		<p>El movimiento puede realizarse hacia arriba, abajo, izquierda y derecha. Las diagonales serán detectadas como una de las direcciones anteriores de forma aproximada.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>pan-cancel="panExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-arrows" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto pan cancelado:</b></p>
		<mv-gesture
			pan-cancel="panCancelExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-arrows" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Movimiento cancelado:</b>&nbsp;{{ panCancel }}
	</mv-card>

	<mv-card
		id="panDown"
		>
		<h3 class="title-3">pan-down</h3>
		<br>
		<p>La propiedad <b>pan-down</b> permite ejecutar una función ante el evento <b>pan-down</b>, desplazamiento hacia abajo mientras se mantiene pulsado el elemento.</p>
		<p>El movimiento puede realizarse hacia abajo unicamente. Las diagonales serán detectadas de forma aproximada.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>pan-down="panDownExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-arrow-down" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto pan hacia abajo:</b></p>
		<mv-gesture
			pan-down="panDownExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-arrow-down" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Movimiento hacia abajo:</b>&nbsp;{{ panDown }}
	</mv-card>

	<mv-card
		id="panEnd"
		>
		<h3 class="title-3">pan-end</h3>
		<br>
		<p>La propiedad <b>pan-end</b> permite ejecutar una función ante el evento <b>pan-end</b>, fin del desplazamiento en una dirección mientras se mantiene pulsado el elemento.</p>
		<p>El movimiento puede realizarse hacia arriba, abajo, izquierda y derecha. Las diagonales serán detectadas como una de las direcciones anteriores de forma aproximada.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>pan-end="panEndExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-arrows" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto pan terminado:</b></p>
		<mv-gesture
			pan-end="panEndExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-arrows" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Movimiento finalizado:</b>&nbsp;{{ panEnd }}
	</mv-card>

	<mv-card
		id="panLeft"
		>
		<h3 class="title-3">pan-left</h3>
		<br>
		<p>La propiedad <b>pan-left</b> permite ejecutar una función ante el evento <b>pan-left</b>, desplazamiento hacia la izquierda mientras se mantiene pulsado el elemento.</p>
		<p>El movimiento puede realizarse hacia la izquierda unicamente. Las diagonales serán detectadas de forma aproximada.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>pan-left="panLeftExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-arrow-left" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto pan a la izquierda:</b></p>
		<mv-gesture
			pan-left="panLeftExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Movimiento hacia la izquierda:</b>&nbsp;{{ panLeft }}
	</mv-card>

	<mv-card
		id="panMove"
		>
		<h3 class="title-3">pan-move</h3>
		<br>
		<p>La propiedad <b>pan-move</b> permite ejecutar una función ante el evento <b>pan-move</b>, desplazamiento en una dirección mientras se mantiene pulsado el elemento.</p>
		<p>El movimiento puede realizarse hacia arriba, abajo, izquierda y derecha. Las diagonales serán detectadas como una de las direcciones anteriores de forma aproximada.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>pan-move="panMoveExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-arrows" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Movimiento de gesto de pan:</b></p>
		<mv-gesture
			pan-move="panMoveExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-arrows" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Ha habido movimiento:</b>&nbsp;{{ panMove }}
	</mv-card>

	<mv-card
		id="panRight"
		>
		<h3 class="title-3">pan-right</h3>
		<br>
		<p>La propiedad <b>pan-right</b> permite ejecutar una función ante el evento <b>pan-right</b>, desplazamiento hacia la derecha mientras se mantiene pulsado el elemento.</p>
		<p>El movimiento puede realizarse hacia la derecha unicamente. Las diagonales serán detectadas de forma aproximada.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>pan-right="panRightExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-arrow-right" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto pan a la derecha:</b></p>
		<mv-gesture
			pan-right="panRightExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Movimiento hacia la derecha:</b>&nbsp;{{ panRight }}
	</mv-card>

	<mv-card
		id="panStart"
		>
		<h3 class="title-3">pan-start</h3>
		<br>
		<p>La propiedad <b>pan-start</b> permite ejecutar una función ante el evento <b>pan-start</b>, inicio del desplazamiento en una dirección mientras se mantiene pulsado el elemento.</p>
		<p>El movimiento puede realizarse hacia arriba, abajo, izquierda y derecha. Las diagonales serán detectadas como una de las direcciones anteriores de forma aproximada.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>pan-start="panExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-arrows" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto pan iniciado:</b></p>
		<mv-gesture
			pan-start="panStartExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-arrows" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Movimiento iniciado:</b>&nbsp;{{ panStart }}
	</mv-card>

	<mv-card
		id="panUp"
		>
		<h3 class="title-3">pan-up</h3>
		<br>
		<p>La propiedad <b>pan-up</b> permite ejecutar una función ante el evento <b>pan-up</b>, desplazamiento hacia arriba mientras se mantiene pulsado el elemento.</p>
		<p>El movimiento puede realizarse hacia abajo unicamente. Las diagonales serán detectadas de forma aproximada.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>pan-up="panUpExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-arrow-down" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto pan hacia arriba:</b></p>
		<mv-gesture
			pan-up="panUpExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-arrow-up" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Movimiento hacia arriba:</b>&nbsp;{{ panUp }}
	</mv-card>

	<mv-card
		id="pinch"
		>
		<h3 class="title-3">pinch</h3>
		<br>
		<p>La propiedad <b>pinch</b> permite ejecutar una función ante el evento <b>pinch</b>, movimiento de pinza con dos dedos.</p>
		<p>El movimiento puede realizarse en cualquier dirección, separando o acercando los dedos.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>pinch="pinchExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-arrows-v" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto pinza:</b></p>
		<mv-gesture
			pinch="pinchExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-arrows-v" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Movimiento de pinza:</b>&nbsp;{{ pinch }}
	</mv-card>

	<mv-card
		id="pinchCancel"
		>
		<h3 class="title-3">pinch-cancel</h3>
		<br>
		<p>La propiedad <b>pinch-cancel</b> permite ejecutar una función ante el evento <b>pinch-cancel</b>, movimiento de pinza con dos dedos que es cancelado.</p>
		<p>El movimiento puede realizarse en cualquier dirección, separando o acercando los dedos.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>pinch-cancel="pinchCancelExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-arrows-v" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto pinza cancelado:</b></p>
		<mv-gesture
			pinch-cancel="pinchCancelExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-arrows-v" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Movimiento de pinza cancelado:</b>&nbsp;{{ pinchCancel }}
	</mv-card>

	<mv-card
		id="pinchEnd"
		>
		<h3 class="title-3">pinch-end</h3>
		<br>
		<p>La propiedad <b>pinch-end</b> permite ejecutar una función ante el evento <b>pinch-end</b>, movimiento de pinza con dos dedos finalizado.</p>
		<p>El movimiento puede realizarse en cualquier dirección, separando o acercando los dedos.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>pinch-end="pinchEndExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-arrows-v" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto de pinza terminado:</b></p>
		<mv-gesture
			pinch-end="pinchEndExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-arrows-v" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Movimiento de pinza finalizado:</b>&nbsp;{{ pinchEnd }}
	</mv-card>

	<mv-card
		id="pinchIn"
		>
		<h3 class="title-3">pinch-in</h3>
		<br>
		<p>La propiedad <b>pinch-in</b> permite ejecutar una función ante el evento <b>pinch-in</b>, movimiento de pinza con dos dedos juntandose.</p>
		<p>El movimiento puede realizarse en cualquier dirección, separando o acercando los dedos.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>pinch-in="pinchInExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-arrows-v" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto pinza hacia dentro:</b></p>
		<mv-gesture
			pinch-in="pinchInExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-arrows-v" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Movimiento de pinza hacia dentro:</b>&nbsp;{{ pinchIn }}
	</mv-card>

	<mv-card
		id="pinchMove"
		>
		<h3 class="title-3">pinch-move</h3>
		<br>
		<p>La propiedad <b>pinch-move</b> permite ejecutar una función ante el evento <b>pinch-move</b>, movimiento de pinza con dos dedos realizandose.</p>
		<p>El movimiento puede realizarse en cualquier dirección, separando o acercando los dedos.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>pinch-move="pinchMoveExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-arrows-v" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Movimiento de gesto de pinza:</b></p>
		<mv-gesture
			pinch-move="pinchMoveExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-arrows-v" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Movimiento de pinza realizado:</b>&nbsp;{{ pinchMove }}
	</mv-card>

	<mv-card
		id="pinchOut"
		>
		<h3 class="title-3">pinch-out</h3>
		<br>
		<p>La propiedad <b>pinch-out</b> permite ejecutar una función ante el evento <b>pinch-out</b>, movimiento de pinza con dos dedos separandose.</p>
		<p>El movimiento puede realizarse en cualquier dirección, separando o acercando los dedos.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>pinch-out="pinchOutExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-arrows-v" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto de pinza hacia fuera:</b></p>
		<mv-gesture
			pinch-out="pinchOutExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-arrows-v" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Movimiento de pinza hacia fuera:</b>&nbsp;{{ pinchOut }}
	</mv-card>

	<mv-card
		id="pinchStart"
		>
		<h3 class="title-3">pinch-start</h3>
		<br>
		<p>La propiedad <b>pinch-start</b> permite ejecutar una función ante el evento <b>pinch-start</b>, inicio del movimiento de pinza con dos dedos.</p>
		<p>El movimiento puede realizarse en cualquier dirección, separando o acercando los dedos.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>pinch-start="pinchStartExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-arrows-v" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto de pinza iniciado:</b></p>
		<mv-gesture
			pinch-start="pinchStartExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-arrows-v" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Movimiento de pinza iniciado:</b>&nbsp;{{ pinchStart }}
	</mv-card>

	<mv-card
		id="press"
		>
		<h3 class="title-3">press</h3>
		<br>
		<p>La propiedad <b>press</b> permite ejecutar una función ante el evento <b>press</b>, presionar de forma prolongada.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>press="pressExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-hand-o-up" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Pulsación larga:</b></p>
		<mv-gesture
			press="pressExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-hand-o-up" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Pulsación prolongada:</b>&nbsp;{{ press }}
	</mv-card>

	<mv-card
		id="pressUp"
		>
		<h3 class="title-3">press-up</h3>
		<br>
		<p>La propiedad <b>press-up</b> permite ejecutar una función ante el evento <b>press-up</b>, terminar de presionar de forma prolongada.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>press-up="pressUpExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-hand-o-up" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Pulsación larga finalizada:</b></p>
		<mv-gesture
			press-up="pressUpExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-hand-o-up" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Pulsación prolongada finalizada:</b>&nbsp;{{ pressUp }}
	</mv-card>

	<mv-card
		id="rotate"
		>
		<h3 class="title-3">rotate</h3>
		<br>
		<p>La propiedad <b>rotate</b> permite ejecutar una función ante el evento <b>rotate</b>, girar sobre dos dedos.</p>
		<p>El movimiento puede realizarse en cualquier dirección, girando los dedos a izquierda o derecha los dedos.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>rotate="rotateExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-refresh" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto de rotación:</b></p>
		<mv-gesture
			rotate="rotateExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-refresh" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Rotación:</b>&nbsp;{{ rotate }}
	</mv-card>

	<mv-card
		id="rotateCancel"
		>
		<h3 class="title-3">rotate-cancel</h3>
		<br>
		<p>La propiedad <b>rotate-cancel</b> permite ejecutar una función ante el evento <b>rotate-cancel</b>, girar sobre dos dedos cancelado.</p>
		<p>El movimiento puede realizarse en cualquier dirección, girando los dedos a izquierda o derecha los dedos.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>rotate-cancel="rotateCancelExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-refresh" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto de rotación cancelada:</b></p>
		<mv-gesture
			rotate-cancel="rotateCancelExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-refresh" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Rotación cancelada:</b>&nbsp;{{ rotateCancel }}
	</mv-card>

	<mv-card
		id="rotateEnd"
		>
		<h3 class="title-3">rotate-end</h3>
		<br>
		<p>La propiedad <b>rotate-end</b> permite ejecutar una función ante el evento <b>rotate-end</b>, terminar de girar sobre dos dedos.</p>
		<p>El movimiento puede realizarse en cualquier dirección, girando los dedos a izquierda o derecha los dedos.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>rotate-end="rotateEndExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-refresh" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto de rotación terminada:</b></p>
		<mv-gesture
			rotate-end="rotateEndExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-refresh" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Rotación terminada:</b>&nbsp;{{ rotateEnd }}
	</mv-card>

	<mv-card
		id="rotateMove"
		>
		<h3 class="title-3">rotate-move</h3>
		<br>
		<p>La propiedad <b>rotate-move</b> permite ejecutar una función ante el evento <b>rotate-move</b>, movimiento de girar sobre dos dedos.</p>
		<p>El movimiento puede realizarse en cualquier dirección, girando los dedos a izquierda o derecha los dedos.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>rotate-move="rotateMoveExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-refresh" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto de rotación en fase de movimiento:</b></p>
		<mv-gesture
			rotate-move="rotateMoveExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-refresh" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Movimiento de rotación:</b>&nbsp;{{ rotateMove }}
	</mv-card>

	<mv-card
		id="rotateStart"
		>
		<h3 class="title-3">rotate-start</h3>
		<br>
		<p>La propiedad <b>rotate-start</b> permite ejecutar una función ante el evento <b>rotate-start</b>, empezar a girar sobre dos dedos.</p>
		<p>El movimiento puede realizarse en cualquier dirección, girando los dedos a izquierda o derecha los dedos.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>rotate-start="rotateStartExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-refresh" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto de rotación empezado:</b></p>
		<mv-gesture
			rotate-start="rotateStartExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-refresh" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Rotación empezada:</b>&nbsp;{{ rotateStart }}
	</mv-card>

	<mv-card
		id="swipe"
		>
		<h3 class="title-3">swipe</h3>
		<br>
		<p>La propiedad <b>swipe</b> permite ejecutar una función ante el evento <b>swipe</b>, deslizar de forma rápida un dedo en una dirección.</p>
		<p>El movimiento puede realizarse en cualquier dirección, girando los dedos a izquierda o derecha los dedos.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>swipe="swipeExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-arrows" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto de swipe:</b></p>
		<mv-gesture
			swipe="swipeExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-arrows" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Swipe realizado:</b>&nbsp;{{ swipe }}
	</mv-card>

	<mv-card
		id="swipeDown"
		>
		<h3 class="title-3">swipe-down</h3>
		<br>
		<p>La propiedad <b>swipe-down</b> permite ejecutar una función ante el evento <b>swipe-down</b>, deslizar hacia abajo y de forma rápida un dedo.</p>
		<p>El movimiento puede realizarse en cualquier dirección, girando los dedos a izquierda o derecha los dedos.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>swipe-down="swipeDownExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-arrow-down" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto de swipe hacia abajo:</b></p>
		<mv-gesture
			swipe-down="swipeDownExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-arrow-down" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Swipe hacia abajo realizado:</b>&nbsp;{{ swipeDown }}
	</mv-card>

	<mv-card
		id="swipeLeft"
		>
		<h3 class="title-3">swipe-left</h3>
		<br>
		<p>La propiedad <b>swipe-left</b> permite ejecutar una función ante el evento <b>swipe-left</b>, deslizar hacia la izquierda y de forma rápida un dedo.</p>
		<p>El movimiento puede realizarse en cualquier dirección, girando los dedos a izquierda o derecha los dedos.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>swipe-left="swipeLeftExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-arrow-left" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto de swipe a la izquierda:</b></p>
		<mv-gesture
			swipe-left="swipeLeftExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Swipe hacia la izquierda realizado:</b>&nbsp;{{ swipeLeft }}
	</mv-card>

	<mv-card
		id="swipeRight"
		>
		<h3 class="title-3">swipe-right</h3>
		<br>
		<p>La propiedad <b>swipe-right</b> permite ejecutar una función ante el evento <b>swipe-right</b>, deslizar hacia la derecha y de forma rápida un dedo.</p>
		<p>El movimiento puede realizarse en cualquier dirección, girando los dedos a izquierda o derecha los dedos.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>swipe-right="swipeRightExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-arrow-right" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto de swipe a la derecha:</b></p>
		<mv-gesture
			swipe-right="swipeRightExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Swipe hacia la derecha realizado:</b>&nbsp;{{ swipeRight }}
	</mv-card>

	<mv-card
		id="swipeUp"
		>
		<h3 class="title-3">swipe-up</h3>
		<br>
		<p>La propiedad <b>swipe-up</b> permite ejecutar una función ante el evento <b>swipe-up</b>, deslizar hacia arriba y de forma rápida un dedo.</p>
		<p>El movimiento puede realizarse en cualquier dirección, girando los dedos a izquierda o derecha los dedos.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>swipe-up="swipeUpExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-arrow-up" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto de swipe a la derecha:</b></p>
		<mv-gesture
			swipe-up="swipeUpExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-arrow-up" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Swipe hacia arriba realizado:</b>&nbsp;{{ swipeUp }}
	</mv-card>

	<mv-card
		id="tap"
		>
		<h3 class="title-3">tap</h3>
		<br>
		<p>La propiedad <b>tap</b> permite ejecutar una función ante el evento <b>tap</b>, toque corto con un dedo.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>tap="tapExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-arrow-down" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto de toque corto:</b></p>
		<mv-gesture
			tap="tapExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-hand-o-up" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Toque corto realizado:</b>&nbsp;{{ tap }}
	</mv-card>

	<mv-card
		id="tapDouble"
		>
		<h3 class="title-3">tap-double</h3>
		<br>
		<p>La propiedad <b>tap-double</b> permite ejecutar una función ante el evento <b>tap-double</b>, dos toques corto con un dedo.</p>
		<p>En el parámetro <b>$event</b> se puede encontrar información más precisa sobre el gesto con la que trabajar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-gesture<br>
				&emsp;&emsp;<b>tap-double="tapDoubleExample"</b><br>
				><br>
				&emsp;&emsp;&lt;div class="app-example-mova-gesture-square"><br>
				&emsp;&emsp;&emsp;&emsp;&lt;i class="fa fa-arrow-down" aria-hidden="true"></i><br>
				&emsp;&emsp;&lt;/div><br>
				&lt;/mv-gesture>
			</span>
		</code>
		<p><b>Gesto de dos toques cortos:</b></p>
		<mv-gesture
			tap-double="tapDoubleExample"
		>
			<div class="app-example-mova-gesture-square"><i class="fa fa-hand-o-up" aria-hidden="true"></i></div>
		</mv-gesture>
		<br>
		<br>
		<b>Dos toques cortos realizados:</b>&nbsp;{{ tapDouble }}
	</mv-card>


</mv-screen>