ion-content{

    --background: url("/assets/imgs/solicitudAlquiler.jpg") no-repeat fixed center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}

@media only screen and (min-width:414px){
    ion-content{
        --background: url("/assets/imgs/solicitudAlquilerS.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
    }
}

.buscador{
border-radius: 5px;
border: 1px 1px black;
box-shadow: 0.2px 0.2px black;
margin-top: 0.6rem;
margin-bottom: 1.5rem;
width: 80%;
padding-left: 1rem;
height: 2.5rem;
}

.tarjeta{
margin-bottom: 1rem;
}

.caja{
width: 80%;
background: rgba(204,234,255, 0.65);;
border-radius: 5px;
border:none;
}

.card-body{
text-align: initial;
}

@media (min-width:1024px) and (max-width:1920px){
ion-content{
--background: url("/assets/imgs/listaPisosDesktop.jpg") no-repeat fixed center; 
-webkit-background-size: contain;
-moz-background-size: contain;
background-size: contain;
--background-attachment: fixed;
}  
}
