<!-- app-example-mova-broker-identidades -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaBrokerIdentidades</h1>
		<br>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>Este componente permite activar la entrada a la aplicación por medio de <b>Autologin</b> , en vez de por login y password basado en DameToken a través del componente <a href="#!/example-mova-login"><b>mv.movaLogin</b></a>.</p>
			<p>Una vez configurado este componente si una aplicación accede a una URL segura, en vez de redirigir (como haría normalmente) a la página de login hace una redirección al <b>Autologin</b> de la Comunidad de Madrid. Una vez en <b>Autologin</b> el usuario tendrá que elegir el IDP con el que quiere identificarse (Certificado, Clave PIN y Clave Permanente con y sin OTP), introducir sus credenciales y si son correctas será redirigido de vuelta a la aplicación de forma que ya estará identificado.</p>
		</mv-card>
		<mv-card
			class="section-info"
			title="Uso de bróker con Certificado Digital"
			hr-class-if="hr-info"
			>

			<p>Si se va a usar el Broker de identidades y este tiene activa la opción de hacer login con certificado digital, hay que configurar el uso del bróker de la siguiente forma.</p>
			<p><b>Modificar las variables del app.config:</b></p>
			<p>- loginOpenSystemNavigatorBrokerIdentidades con valor true.</p>
			<p>- loginAppSystemNavigatorRedirectBrokerIdentidades con el nombre del paquete de nuestra App.</p>
			<p><b>Explicación:</b></p>
			<p>Cuando nos encontramos en una App móvil el Broker (en su comportamiento por defecto) se abre en un navegador embebido en la propia App. Por seguridad, este navegador no puede acceder a los certificados instalados en el dispositivo y si se intenta identificar con el certificado fallará.</p>
			<p>Se puede configurar la App para que el Broker se abra en el navegador del sistema, por ejemplo Chrome, que si puede ver los certificados instalados en el dispositivo.</p>
			<p>Esta forma tiene el problema principal de que salimos de la App para, por un periodo de tiempo indeterminado, utilizar el navegador del sistema y luego volver a nuestra App, este último paso se hace mediante un deep-link.</p>

			<mv-card
				class="section-danger"
				title="Consecuencias"
				hr-class-if="hr-danger"
				>
				<p>Usar el broker con certificado implica las siguientes consecuencias:</p>
				<ul>
					<li>Es necesario que todas las navegaciones a URLs externas se hagan con un navegador externo, no usando el embebido. Esto es necesario por que la cookie del Broker de Identidades se crea a nivel de navegador y tecnicamente el navegador embebido no es el mismo navegador que Chrome, el navegador del sistema y otro navegador externo.</li>
					<li>Se considera que se usan dos Apps distintas, la App de MOVA y la App del navegador externo. Durante este proceso el sistema operativo puede considerar cerrar la App de MOVA, esto implica que al volver no se consiga recuperar la vista en la que estaba el usuario.</li>
					<li>Si se navega a un navegador externo, para volver a la App de MOVA no es suficienete con presionar el botón de atrás. Es necesario que el usuario vuelva a la App por sus propios medios. Esto no pasa cuando se autentica en el Broker de Identidades ya que se redirecciona a una URL que nos permite volver a la App mediante un deep-link.</li>
					<li>Otro problema es que el usuario puede usar el navegador externo que prefiera. La cookie del Broker de identidades solo permanece en el navegador elegido al hacer login. Si se usa un navegador externo para logarse y otro navegador externo diferente para acceder a una URL desde la App la cookie no tendrá efecto.</li>
				</ul>
			</mv-card>

		</mv-card>
		<mv-card
			class="section-success"
			title="Solicitud de alta en autologin en desarrollo"
			hr-class-if="hr-success"
			>
			<p>Para solicitar el alta en Autologin en desarrollo hay que solicitar el alta mediante un Mantis a <b>“Arquitectura de Aplicaciones / ACCESO”</b> con los siguientes datos:</p>
			<ul>
				<li><b>Módulo técnico:</b>&nbsp;El nombre del módulo técnico que va a usar Autologin</li>
				<li><b>Servicio::</b>&nbsp;Será un nombre de servicio y deberá indicar:</li>
				<ul>
					<li>Nombre del servicio. (deberá coincidir con el módulo técnico en Mayúsculas)</li>
					<li>Descripción interna del servicio. (Máximo 50 caracteres)</li>
					<li>Display (Máximo 50 caracteres): Texto a mostrar en la pantalla de Autologin para esta aplicación.</li>
				</ul>
				<li><b>Subservicio:</b>&nbsp;Cada servicio podrá tener N subservicios y para casa uno de ellos se indicar:</li>
				<ul>
					<li>Código de subservicio. (Ejemplo: PRIVADO / PUBLICO / CONSULTA …)</li>
					<li>Descripción interna del subservicio. (Máximo 50 caracteres)</li>
					<li>Display (Máximo 50 caracteres): Texto a mostrar en la pantalla de Autologin para este
subservicio. Este campo puede estar a nulo.</li>
					<li>QAA (Nivel de autenticación):</li>
					<ul>
						<li>Nivel 0: Aseguramiento inexistente. (Subservicio público)</li>
						<li>Nivel 1: Aseguramiento mínimo. (Sin IDP)</li>
						<li>Nivel 2: Aseguramiento bajo. (Clave PIN, Clave Permanente, MOCK, Intranet)</li>
						<li>Nivel 3: Aseguramiento medio. (Clave Permanente con OTP, Certificado Digital)</li>
						<li>Nivel 4: Aseguramiento alto. (Certificado Digital Hardware)</li>
					</ul>
					<li>Lista de urls en formato ANT para este subservicio</li>
					<li>Forzar autenticación (SI/NO) Si se indica SI no existe single sign on y siempre se pedirá 					autenticación</li>
				</ul>
			</ul>
			<p>Solicitar que <b>Autologin</b> marque su variable <b>Forzar Autenticación</b> con valor <b>Si</b>.</p>
		</mv-card>
		<p>Este componente se encarga del logado del usuario mediante el Broker de Identidades.</p>
		<p>Este componente es configurable mediante las siguientes variables del componente <a href="#!/example-app-config"><b>app.config</b></a>:</p>
		<ul>
			<li><b>appModuloTecnicoXXX</b> - Es el nombre del módulo técnico registrado en Autologin, XXX será la plataforma.</li>
			<li><b>loginPath</b> - Es el estado al que debe redirigirse al usuario para que realice el login, para este componente su valor debe ser 'broker-identidades'.</li>
			<li><b>loginPathCorrecto</b> - Es el estado al que debe redirigirse al usuario en caso de login correcto.</li>
			<li><b>loginOpenSystemNavigatorBrokerIdentidades</b> - Poner a true para abrir el broker en el navegador del sistema en vez del navegador embebido.</li>
			<li><b>loginAppSystemNavigatorRedirectBrokerIdentidades</b> - En minúsculas, el nombre del paquete, para pasarlo a la URL de redirección cuando el broker se abre en el navegador del sistema.</li>
		</ul>
		<code>
			<badge>app-config.package.js</badge>
			<span>
				...<br>
				appModuloTecnicoXXX: 'MOVA_IOS_PLANTILLA',<br>
				...<br>
				loginPath: 'broker-identidades',<br>
				loginPathCorrecto: 'main',<br>
				...<br>
			</span>
		</code>
		<p>Este componente es configurable mediante las siguientes variables del componente <a href="#!/example-app-environment"><b>app.environment</b></a>:</p>
		<ul>
			<li><b>mvBrokerIdAutoRedirectOnLogin</b> - Permite activar o desactivar la redirección automática cuando el componente consigue el ticket del Broker de Identidades. Usar solo en entornos de desarrollo.</li>
			<li><b>mvBrokerIdOkUrlParam</b> - Permite definir otra URL para pasar al parámetro <b>ok</b> de <b>Autologin</b>, por defecto debe dejarse en blanco y se utilizará el propio estado del componente.</li>
			<li><b>mvBrokerIdPassParam</b> - Permite definir el parámetro <b>pass</b> con la clave de la App para pasar por la URL de <b>Autologin</b>.</li>
			<li><b>mvBrokerIdSSParam</b> - Permite definir el parámetro <b>ss</b> de la URL de <b>Autologin</b>.</li>
		</ul>
		<code>
			<badge>app-environment.des.js</badge>
			<span>
				...<br>
				mvBrokerIdAutoRedirectOnLogin: true,<br>
				mvBrokerIdOkUrlParam: 'MOVA_APP',<br>
				mvBrokerIdPassParam: 'PRIVADO',<br>
				mvBrokerIdSSParam: '',<br>
				...<br>
			</span>
		</code>
		<p>Este componente es configurable mediante las siguientes variables del componente <a href="#!/example-mova-environment"><b>mv.movaEnvironment</b></a>:</p>
		<ul>
			<li><b>envURIAutologinBase</b> - Dominio principal de la URL de <b>Autologin</b>.</li>
			<li><b>envURIAutoRestBase</b> - Dominio principal de las URLs del componente.</li>
			<li><b>envURIAutoRest</b> - Ruta del servicio de Autologin para validar un ticket.</li>
			<li><b>envURIAutologin</b> - Ruta del portal de Autologin que ofrece las opciones de acceso.</li>
		</ul>
		<code>
			<badge>mova-environment.des.js</badge>
			<span>
				...<br>
				envURIAutologinBase: 'https://gestiona7.madrid.org/',<br>
				envURIAutoRestBase: 'https://gestiona3.madrid.org/',<br>
				envURIAutoRest: 'auto_rest/v1/ticket/valida/',<br>
				envURIAutologin: 'auto_login/acceso.jsf?',<br>
				...<br>
			</span>
		</code>
		<p>Este componente ofrece los siguientes métodos a través del servicio <b>mvBrokerIdentidadesService</b>:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('dameTokenWithTicket')" >dameTokenWithTicket</a></li>
			<li><a href="" ng-click="$root.scrollTo('validarTicket')" >validarTicket</a></li>
		</ul>
	</mv-card>

	<mv-card
		id="dameTokenWithTicket"
		>
		<h3 class="title-3">dameTokenWithTicket</h3>
		<br>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>Este método es privado y su uso está limitado al propio componente <b>mv.movaBrokerId</b>.</p>
		</mv-card>
		<p>El método <b>dameTokenWithTicket</b> consigue un token mediante un ticket conseguido por <b>Autologin</b>.</p>
		<p>Este método acepta los siguientes parámetros:</p>
		<ul>
			<li><b>ticket</b> - Es el ticket conseguido por <b>Autologin</b>.</li>
			<li><b>info</b> - Información adicional, por defecto en blanco.</li>
		</ul>
		<code>
			<badge>JavaScript</badge>
			<span>
				dameTokenWithTicket('xxxx-xxxx-xxxx', info);
			</span>
		</code>
	</mv-card>

	<mv-card
		id="validarTicket"
		>
		<h3 class="title-3">validarTicket</h3>
		<br>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>Este método es privado y su uso está limitado al propio componente <b>mv.movaBrokerId</b>.</p>
		</mv-card>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>Este método es llamado de forma automática por el Broker de identidades y una vez realizada la validación el ticket deja de ser válido por lo que no tiene sentido su uso fuera del Broker de indentidades.</p>
		</mv-card>
		<p>El método <b>validarTicket</b> llama al servicio validaTicket que se encarga de devolver información para un ticket y de destruir ese ticket después del primer uso.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				validarTicket('xxxx-xxxx-xxxx');
			</span>
		</code>
		<p>Después de haber realizado el login medainte el Broker de identidades se puede acceder a la información del usuario mediante el acceso a la variable <b>MovaBrokerSesion</b> que se encuentra en la memoria local.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				JSON.parse(localStorage.Mova).MovaBrokerSesion<br>
			</span>
		</code>
		<p>Este código JavaScript recupera un JSON con la información conseguida mediante el ticket de <b>Autologin</b>.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				JSON.parse(localStorage.Mova).MovaBrokerSesion<br>
			</span>
		</code>
		<p>El campo <b>cdUsuario</b> es utilizado para gestionar el login en MOVA junto con el token.</p>
		<p>La estructura del objeto almacenado en local es la siguiente.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				{<br>
				&emsp;&emsp;apellido: "PEREZ",<br>
				&emsp;&emsp;apellido: "GONZALEZ",<br>
				&emsp;&emsp;cdSesion: "edd04a00-4d06-4b9c-b824-eb352f3970cb",<br>
				&emsp;&emsp;cdTipoUsuario: "N",<br>
				&emsp;&emsp;cdUsuario: "00000001R",<br>
				&emsp;&emsp;dsTipoUsuario: "Número documento NIF/CIF",<br>
				&emsp;&emsp;idQaa: 2,<br>
				&emsp;&emsp;nif: "00000001R",<br>
				&emsp;&emsp;nombre: "ALBERTO"<br>
				}<br>
			</span>
		</code>
	</mv-card>

</mv-screen>
