/*
╔══════════════════╗
║ mova-group style ║
╚══════════════════╝
*/
.mv-group-root {

	display: block;
	width: 100%;
	margin: 0 0 0 0;

	section {
		&.mv-group {
			position: relative;
			font-size: $font-size-medium;
			overflow-wrap: break-word;

			/*
			Elemento main donde se hace el transclude de la información
			*/
			.mv-group-container {

				padding: 0 0 0 0;

				&.collapse-on {
					display: none;
				}
			}
		}
	}

	&.has-message {
		padding-bottom: 2rem;
	}

	/*
	mensaje
	*/
	.mv-group-message {
		@include mx-truncate();

		display: block;
		width: 100%;
		position: absolute;
		margin: 0 0 0 0;
		padding: 0.25rem 0.25rem 0.25rem 0.25rem;
		left: 0;
		bottom: 0rem;
		font-size: $font-size-small;
		font-weight: bold;
	}
}
