<!-- app-example-mova-notificaciones -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaNotificaciones</h1>
		<br>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>Este componente funciona de forma autónoma.</p>
			<p>El desarrollador puede implementar acciones a realizar cuando se recibe una notificación mediante el método <b>mvNotificacionesService.onNotification</b> que se encuentran en el módulo principal <b>run-messaging</b>.</p>
		</mv-card>
		<p>Este componente se encarga de gestionar las notificaciones PUSH.</p>
		<p>Este componente ofrece los siguientes métodos a través del servicio <b>mvNotificacionesService</b>:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('actualizarDispositivo')" >actualizarDispositivo</a></li>
			<li><a href="" ng-click="$root.scrollTo('asignaUsuarioDispositivo')" >asignaUsuarioDispositivo</a></li>
			<li><a href="" ng-click="$root.scrollTo('confirmaIdDispositivo')" >confirmaIdDispositivo</a></li>
			<li><a href="" ng-click="$root.scrollTo('dispositivosSetInformacion')" >dispositivosSetInformacion</a></li>
			<li><a href="" ng-click="$root.scrollTo('eliminarSuscripcionDispositivoEnTopic')" >eliminarSuscripcionDispositivoEnTopic</a></li>
			<li><a href="" ng-click="$root.scrollTo('enviarInformacionDispositivo')" >enviarInformacionDispositivo</a></li>
			<li><a href="" ng-click="$root.scrollTo('formatearNombreTopic')" >formatearNombreTopic</a></li>
			<li><a href="" ng-click="$root.scrollTo('getUltimasNotificaciones')" >getUltimasNotificaciones</a></li>
			<li><a href="" ng-click="$root.scrollTo('init')" >init</a></li>
			<li><a href="" ng-click="$root.scrollTo('onError')" >onError</a></li>
			<li><a href="" ng-click="$root.scrollTo('onNotification')" >onNotification</a></li>
			<li><a href="" ng-click="$root.scrollTo('onRegistration')" >onRegistration</a></li>
			<li><a href="" ng-click="$root.scrollTo('registrarDispositivo')" >registrarDispositivo</a></li>
			<li><a href="" ng-click="$root.scrollTo('topicsSuscritosPorDispositivo')" >topicsSuscritosPorDispositivo</a></li>
		</ul>
	</mv-card>
		
	<mv-card
		id="actualizarDispositivo"
		>
		<h3 class="title-3">actualizarDispositivo</h3>
		<br>
		<p>El método <b>actualizarDispositivo</b> actualiza la información del dispositivo, en concreto actualiza el token del dispositivo.</p>
		<p>El parámetro <b>dsCliente</b> es el módulo técnico de la App en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>pass</b> es la password de la App en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>idDispositivo</b> es el identificador del dispositivo en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>tokenDispositivo</b> token de Google o Apple que identifica al dispositivo.</p></p>
		<p>El parámetro <b>nombreAplicacion</b> es el nombre de la App en el servicio de notificaciones PUSH.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				actualizarDispositivo(<br>
				&emsp;&emsp;dsCliente, <br>
				&emsp;&emsp;pass, <br>
				&emsp;&emsp;idDispositivo, <br>
				&emsp;&emsp;tokenDispositivoParam, <br>
				&emsp;&emsp;nombreAplicacion <br>
				);
			</span>
		</code>	
	</mv-card>

	<mv-card
		id="asignaUsuarioDispositivo"
		>
		<h3 class="title-3">asignaUsuarioDispositivo</h3>
		<br>
		<p>El método <b>asignaUsuarioDispositivo</b> asigna el usuario a un dispositivo en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>dsCliente</b> es el módulo técnico de la App en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>pass</b> es la password de la App en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>idDispositivo</b> es el identificador del dispositivo en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>idUsuario</b> usuario de la App en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>nombreAplicacion</b> es el nombre de la App en el servicio de notificaciones PUSH.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				asignaUsuarioDispositivo(<br>
				&emsp;&emsp;dsCliente, <br>
				&emsp;&emsp;pass, <br>
				&emsp;&emsp;idDispositivo, <br>
				&emsp;&emsp;idUsuario, <br>
				&emsp;&emsp;nombreAplicacion <br>
				);
			</span>
		</code>	
	</mv-card>
		
	<mv-card
		id="dispositivosSetInformacion"
		>
		<h3 class="title-3">dispositivosSetInformacion</h3>
		<br>
		<p>El método <b>dispositivosSetInformacion</b> actualiza la información del dispositivo, en concreto actualiza el identificador del dispositivo.</p>
		<p>El parámetro <b>dsCliente</b> es el módulo técnico de la App en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>pass</b> es la password de la App en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>idDispositivo</b> es el identificador del dispositivo en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>nombreAplicacion</b> es el nombre de la App en el servicio de notificaciones PUSH.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				dispositivosSetInformacion(<br>
				&emsp;&emsp;dsCliente, <br>
				&emsp;&emsp;pass, <br>
				&emsp;&emsp;idDispositivo, <br>
				&emsp;&emsp;nombreAplicacion <br>
				);
			</span>
		</code>	
	</mv-card>
		
	<mv-card
		id="eliminarSuscripcionDispositivoEnTopic"
		>
		<h3 class="title-3">eliminarSuscripcionDispositivoEnTopic</h3>
		<br>
		<p>El método <b>suscribirDispositivoEnTopic</b> elimina la suscripción de un dispositivo en un topic.</p>
		<p>El parámetro <b>dsCliente</b> es el módulo técnico de la App en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>nombreTopicParam</b> nombre del Topic en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>idDispositivo</b> es el identificador del dispositivo en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>tokenDispositivo</b> token de Google o Apple que identifica al dispositivo.</p></p>
		<p>El parámetro <b>nombreAplicacion</b> es el nombre de la App en el servicio de notificaciones PUSH.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				eliminarSuscripcionDispositivoEnTopic(<br>
				&emsp;&emsp;dsCliente, <br>
				&emsp;&emsp;pass, <br>
				&emsp;&emsp;nombreTopicParam, <br>
				&emsp;&emsp;idDispositivo, <br>
				&emsp;&emsp;nombreAplicacion <br>
				);
			</span>
		</code>	
	</mv-card>
		
	<mv-card
		id="enviarInformacionDispositivo"
		>
		<h3 class="title-3">enviarInformacionDispositivo</h3>
		<br>
		<p>El método <b>enviarInformacionDispositivo</b> gestiona el envio de información del del dispositivo mediante el servicio de mensajería PUSH.</p>
	</mv-card>
		
	<mv-card
		id="formatearNombreTopic"
		>
		<h3 class="title-3">formatearNombreTopic</h3>
		<br>
		<p>El método <b>formatearNombreTopic</b> convierte un nombre de topic al formato del backend utilizando las variables del componente <b>app.environment</b>.</p>
	</mv-card>
		
	<mv-card
		id="init"
		>
		<h3 class="title-3">init</h3>
		<br>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>El método <b>init</b> es llamado en el fichero <b>run-messaging.js</b>, no se recomienda su uso en otro lugar de la App ni usarlo más de una vez en distintos sitios de la App.</p>
		</mv-card>
		<p>El método <b>init</b> inicializa el componente <b>mv.movaNotificaciones</b> que se encarga de gestionar las notificaciones PUSH.</p>
	</mv-card>
		
	<mv-card
		id="onError"
		>
		<h3 class="title-3">onError</h3>
		<br>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>Este método se debe implementar por defecto dentro del fichero <b>run-messaging.js</b>.</p>
		</mv-card>
		<p>El método <b>onError</b> permite implementar acciones a realizar en caso de error al recibir una notificación PUSH.</p>
	</mv-card>
		
	<mv-card
		id="onNotification"
		>
		<h3 class="title-3">onNotification</h3>
		<br>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>Este método se debe implementar por defecto dentro del fichero <b>run-messaging.js</b>.</p>
		</mv-card>
		<p>El método <b>onNotification</b> permite implementar acciones a realizar en caso de recibir una notificación PUSH.</p>
	</mv-card>
		
	<mv-card
		id="onRegistration"
		>
		<h3 class="title-3">onRegistration</h3>
		<br>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>Este método se debe implementar por defecto dentro del fichero <b>run-messaging.js</b>.</p>
		</mv-card>
		<p>El método <b>onRegistration</b> permite implementar acciones a realizar al registrarse en el servicio de notificaciones PUSH.</p>
	</mv-card>
		
	<mv-card
		id="registrarDispositivo"
		>
		<h3 class="title-3">registrarDispositivo</h3>
		<br>
		<p>El método <b>registrarDispositivo</b> registra el dispositivo en la plataforma de notificaciones PUSH.</p>
		<p>El parámetro <b>dsCliente</b> es el módulo técnico de la App en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>pass</b> es la password de la App en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>entorno</b> es el entorno de la aplicación en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>nombreAplicacion</b> es el identificador de la App en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>nombrePlataforma</b> es el tipo de plataforma del dispositivo. (Android, iOs...)</p>
		<p>El parámetro <b>tokenDispositivo</b> token de Google o Apple que identifica al dispositivo.</p>
		<p>El parámetro <b>idUsuario</b> usuario de la App en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>informacionDispositivo</b> texto formateado con información del dispositivo, marca y modelo.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				registrarDispositivo(<br>
				&emsp;&emsp;dsCliente, <br>
				&emsp;&emsp;pass, <br>
				&emsp;&emsp;entorno, <br>
				&emsp;&emsp;nombreAplicacion, <br>
				&emsp;&emsp;nombrePlataforma, <br>
				&emsp;&emsp;tokenDispositivo, <br>
				&emsp;&emsp;idUsuario, <br>
				&emsp;&emsp;informacionDispositivo <br>
				);
			</span>
		</code>		
	</mv-card>
		
	<mv-card
		id="suscribirDispositivoEnTopic"
		>
		<h3 class="title-3">suscribirDispositivoEnTopic</h3>
		<br>
		<p>El método <b>suscribirDispositivoEnTopic</b> suscribe un dispositivo en un topic.</p>
		<p>El parámetro <b>dsCliente</b> es el módulo técnico de la App en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>nombreTopicParam</b> nombre del Topic en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>idDispositivo</b> es el identificador del dispositivo en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>tokenDispositivo</b> token de Google o Apple que identifica al dispositivo.</p></p>
		<p>El parámetro <b>nombreAplicacion</b> es el nombre de la App en el servicio de notificaciones PUSH.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				actualizarDispositivo(<br>
				&emsp;&emsp;dsCliente, <br>
				&emsp;&emsp;pass, <br>
				&emsp;&emsp;nombreTopicParam, <br>
				&emsp;&emsp;idDispositivo, <br>
				&emsp;&emsp;nombreAplicacion <br>
				);
			</span>
		</code>	
	</mv-card>
		
	<mv-card
		id="topicsSuscritosPorDispositivo"
		>
		<h3 class="title-3">topicsSuscritosPorDispositivo</h3>
		<br>
		<p>El método <b>topicsSuscritosPorDispositivo</b> devuelve la lista de topics a los que se ha suscrito un dispositivo.</p>
		<p>El parámetro <b>dsCliente</b> es el módulo técnico de la App en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>nombreTopicParam</b> nombre del Topic en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>idDispositivo</b> es el identificador del dispositivo en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>nombreAplicacion</b> es el nombre de la App en el servicio de notificaciones PUSH.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				topicsSuscritosPorDispositivo(<br>
				&emsp;&emsp;dsCliente, <br>
				&emsp;&emsp;pass, <br>
				&emsp;&emsp;idDispositivo, <br>
				&emsp;&emsp;nombreAplicacion <br>
				);
			</span>
		</code>	
	</mv-card>
		
	<mv-card
		id="getUltimasNotificaciones"
		>
		<h3 class="title-3">getUltimasNotificaciones</h3>
		<br>
		<p>El método <b>getUltimasNotificaciones</b> devuelve la lista de notificaciones de un dispositivo.</p>
		<p>El parámetro <b>dsCliente</b> es el módulo técnico de la App en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>nombreTopicParam</b> nombre del Topic en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>idDispositivo</b> es el identificador del dispositivo en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>limiteResultados</b> número máximo de resultados.</p>
		<p>El parámetro <b>fechaDesde</b> fecha desde la que empezar a mostrar resultados.</p>
		<p>El parámetro <b>nombreAplicacion</b> es el nombre de la App en el servicio de notificaciones PUSH.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				topicsSuscritosPorDispositivo(<br>
				&emsp;&emsp;dsCliente, <br>
				&emsp;&emsp;pass, <br>
				&emsp;&emsp;idDispositivo, <br>
				&emsp;&emsp;limiteResultados, <br>
				&emsp;&emsp;fechaDesde, <br>
				&emsp;&emsp;nombreAplicacion <br>
				);
			</span>
		</code>	
	</mv-card>
		
	<mv-card
		id="confirmaIdDispositivo"
		>
		<h3 class="title-3">confirmaIdDispositivo</h3>
		<br>
		<p>El método <b>confirmaIdDispositivo</b> confirma que el identificador del dispositivo coincide con el que está dado de alta.</p>
		<p>El parámetro <b>dsCliente</b> es el módulo técnico de la App en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>nombreTopicParam</b> nombre del Topic en el servicio de notificaciones PUSH.</p>
		<p>El parámetro <b>tokenDispositivo</b> token de Google o Apple que identifica al dispositivo.</p></p>
		<p>El parámetro <b>nombreAplicacion</b> es el nombre de la App en el servicio de notificaciones PUSH.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				topicsSuscritosPorDispositivo(<br>
				&emsp;&emsp;dsCliente, <br>
				&emsp;&emsp;pass, <br>
				&emsp;&emsp;tokenDispositivo, <br>
				&emsp;&emsp;nombreAplicacion <br>
				);
			</span>
		</code>	
	</mv-card>

</mv-screen>