<!-- app-cliente-list-simple -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		class="app-cliente-detail-buttons"
		float=true
		adapt=true
		>

		<mv-button
			class="app-cliente-detail-buttons-button"
			id="buttonCrear"
			icon-class="fa fa-sync-alt fa fa-refresh"
			click="findClientes()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>

		<mv-button
			class="app-cliente-detail-buttons-button"
			id="buttonCrear"
			icon-class="fa fa-angle-double-down"
			click="findClientesMas()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>

		<mv-button
			class="app-cliente-detail-buttons-button"
			id="buttonCrear"
			icon-class="fa fa-plus"
			click="clickBotonCrear()"
			btn-type="success"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>

	</mv-card>

	<mv-card
		title="Resultados mostrados: {{$parent.numResults}}"
		adapt=true
		bg-color=#efefef
		border-color="transparent"
		border-width="0 0 0 0"
		>

		<mv-card
			bg-color="transparent"
			adapt=true
			border-color="transparent"
			>
			<form
				class="app-cliente-list-form-filters"
				>
				<mv-input
					adapt=true
					placeholder="Nombre"
					label="Busqueda dinámica por nombre ({{ millis }} ms)"
					model="filtros.nombreLike"
					change="findClientes(filtros.nombreLike)"
					delay=millis
					icon-class="fa fa-search"
				>
				</mv-input>
			</form>
		</mv-card>

		<mv-card
			bg-color="transparent"
			border-color="transparent"
			adapt=true
			class="app-cliente-list-no-results"
			show="$parent.numResults==0"
			>
			<i
				class="app-cliente-list-no-results-icon fa fa-exclamation-triangle">
			</i>
			<p>No se encontraron resultados.</p>
		</mv-card>

		<ul class="app-cliente-list-listado">
			<li class="app-cliente-list-listado-li" ng-repeat="(key, cliente) in clientes track by $index">
				<app-cliente-item
					apellido1="{{ cliente.apellido1 }}"
					apellido2="{{ cliente.apellido2 }}"
					direccion="{{ cliente.direccion }}"
					fc-nacimiento="{{ cliente.fcNacimiento }}"
					id-cliente="{{ cliente.idCliente }}"
					literal-estado-civil="{{ cliente.literalEstadoCivil }}"
					nombre="{{ cliente.nombre }}"
					telefono="{{ cliente.telefono }}"
					tipo="mova-simple-image"
					imagen-url="{{ cliente.imagenUrl }}"
					imagen-error="media/images/icon_user.png"
					>

				</app-cliente-item>
			</li>
		</ul>
	</mv-card>

</mv-screen>
