/*
╔═══════════════════════════════╗
║ app-cliente-list-simple style ║
╚═══════════════════════════════╝
*/

app-cliente-list-simple {

    @include view-style;

    // Sobreescribir el estilo view-style para que la lista ajuste hasta el final.
    padding-bottom: 0rem !important;
    
    /*
    Formulario de filtros
    */
    .app-cliente-list-form-filters {
        margin: 0 0.55rem 0.55rem 0.55rem;
    }

    /*
    Sección del listado
    */
    .app-cliente-list-listado {
        list-style-type: none;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

    /*
    Seccion botones
    */
    .app-cliente-detail-buttons {
        text-align: right;

        /*
        Botones
        */
        .app-cliente-detail-buttons-button {
            margin: 0.55rem 0.55rem 0.55rem 0;
        }
    }

    /*
    Seccion de no hay resultados
    */
    .app-cliente-list-no-results {
        display: block;
        width: 100%;
        min-height: 21rem;
        text-align: center;

        .app-cliente-list-no-results-icon {
            font-size: 9rem;
            margin: 3rem 0 1rem 0;
            padding: 0 0 0 0;
        }
    }
}