<app-cabecera [titulohead]="tituhead"></app-cabecera>

  
  <ion-content padding>
  <ion-button size="block" (click)="presentModal()">Agrega Ejercicio</ion-button>
  
  <ion-list>
    <ion-item *ngFor="let item of items" [routerLink]="['/detalles-ejercicios-pacientes-user', item.payload.doc.id]">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <span>{{item.payload.doc.data().descripcion}}</span>
          </ion-col>
          <ion-col size="6">
              <ion-label>{{item.payload.doc.data().fecha | date:"dd/MM/yyyy"}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  </ion-content>
  