/*
╔════════════════════════╗
║ app-example-mova style ║
╚════════════════════════╝
*/

app-example-mova {

	@include view-style;

	/*
  Menu desplegable
  */
	mv-menu-desplegable{
		.input-group-addon{
			background-color: #f1f1f1;
		}
		> section{
			background-color: #E6E6E6 !important;
		}

    .autorizacion{
			background-color: rgb(209, 0, 2) !important;
			color: #fff !important;
			.mvMenuDesplegableTituloN0, .mvMenuDesplegableSubtituloN0{
        color: #fff;
      }
			.otherColour{
				color: #c3c3c3;
			}
		}
    .item-simple{
			height: auto;
      border: thin solid #567383;
			border-top-left-radius: 0.45rem;
			border-top-right-radius: 0.45rem;
			border-bottom-right-radius: 0.45rem;
			border-bottom-left-radius: 0.45rem;
      margin: 0.95rem auto;
			webkit-box-shadow: 0.2rem 0.2rem 0.25rem 0 rgba(125, 125, 125, 0.65);
	    -moz-box-shadow: 0.2rem 0.2rem 0.25rem 0 rgba(125, 125, 125, 0.65);
	    box-shadow: 0.2rem 0.2rem 0.25rem 0 rgba(125, 125, 125, 0.65);
    }
		.mvMenuDesplegableTituloN0{
			font-size: 1.25rem;
  		font-weight: bold;
			font-family: 'Montserrat-bold';
		}
    .mvMenuDesplegableTituloN0, .mvMenuDesplegableSubtituloN0{
      color: #567383;
      margin-left: 25px;
    }
    .mvMenuDesplegableTituloN1, .mvMenuDesplegableSubtituloN1{
      color: #000;
			padding-left: 1em;
      margin-left: 25px;
    }
    .mvMenuDesplegableTituloN0, .mvMenuDesplegableTituloN1{
      font-weight: bold;
    }
    .mvMenuDeplegableOpenN0, .mvMenuDeplegableCloseN0,.mvMenuDeplegableEnlaceN0{
      background-color: #fff;
    }
    .mvMenuDeplegableOpenN1, .mvMenuDeplegableCloseN1, .mvMenuDeplegableEnlaceN1{
      background-color: #fff !important;
    }
		.mvMenuDeplegableEnlaceN1{
			margin: 0.35rem auto;
			webkit-box-shadow: 0.1rem 0.1rem 0.15rem 0 rgba(125, 125, 125, 0.65);
	    -moz-box-shadow: 0.1rem 0.1rem 0.15rem 0 rgba(125, 125, 125, 0.65);
	    box-shadow: 0.1rem 0.1rem 0.15rem 0 rgba(125, 125, 125, 0.65);
		}
    .mvMenuDeplegableOpenN0, .mvMenuDeplegableOpenN1{
			color: #567383;
      #mova-item-click-icon::before {
        content: "\f056";
				position: absolute;
		    left: 0.75rem;
		    top: calc(50% - 0.35rem);
      }
    }
    .mvMenuDeplegableCloseN0, .mvMenuDeplegableCloseN1{
			color: #567383;
      #mova-item-click-icon::before {
        content: "\f055";
				position: absolute;
		    left: 0.75rem;
		    top: calc(50% - 0.35rem);
      }
    }
    .mvMenuDeplegableEnlaceN0, .mvMenuDeplegableEnlaceN1{
			cursor: pointer;
			color: #567383;
      #mova-item-click-icon::before {
        content: "\f054";
				position: absolute;
		    right: 0.75rem;
		    top: calc(50% - 0.35rem);
      }
    }
  }

	.mv-card-alias-burguer {
	    max-width: $card-max-size;
	    width: 95%;
    }

    .example-mova-item-group-desc {

    	background-color: $color-secondary-009 !important;
			height: 5em !important;
    	margin: 0 0 0 0;
    	padding: 0 0 0 0;

    	> main {

	    	p {
	    		padding: 0 0 0 0;
	    		margin: 0 0 0 0;
	    	}
    	}
    }

		.example-mova-item-group{
		  height: 5em !important;

			&.bg-disabled{
				background-color: $color-secondary-009 !important;
			}

			.itemTitle{

				@include mx-truncate();

				overflow: hidden;
				text-overflow: ellipsis;
				font-family: 'Montserrat-bold';
				margin-top: 10px;
			}
			.itemDesc{

				@include mx-truncate();

				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
}

[class^="app-example-"] {

	@include view-style;

	.estilo-cursor{
		cursor: pointer;
	}

	.exampleImageUltimasNotificaciones{
		margin: auto;
		max-width: 475px;
		img{
			max-width: 100%;
		}
	}

	.exampleImage{
		max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
		width: auto;
		margin: 1em;
	}

	.titleType{
		margin: 1rem 0 1rem 0;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 1.5px solid;
	}

	/*
  Menu desplegable
  */
	#exampleMenuDesplegable{
		.claseSpain{
			background-color: #AD1519 !important;
			.mvMenuDesplegableTituloN0, .mvMenuDesplegableSubtituloN0, i{
        color: #fff;
			}
		}
    .item-simple{
			height: auto;
      border: 1px solid;
      border-radius: 4px;
      margin-top: 2px;
    }
    .mvMenuDesplegableTituloN0, .mvMenuDesplegableSubtituloN0{
      color: #504f4f;
      margin-left: 25px;
    }
    .mvMenuDesplegableTituloN1, .mvMenuDesplegableSubtituloN1{
      color: #1d21a2;
			padding-left: 1em;
      margin-left: 25px;
    }
    .mvMenuDesplegableTituloN2, .mvMenuDesplegableSubtituloN2{
      color: #188c2c;
			padding-left: 2em;
      margin-left: 25px;
    }
    .mvMenuDesplegableTituloN3, .mvMenuDesplegableSubtituloN3{
      color: #000;
			padding-left: 3em;
      margin-left: 25px;
    }
    .mvMenuDesplegableTituloN0, .mvMenuDesplegableTituloN1, .mvMenuDesplegableTituloN2, .mvMenuDesplegableTituloN3{
      font-weight: bold;
    }
    .mvMenuDeplegableOpenN0, .mvMenuDeplegableCloseN0,.mvMenuDeplegableEnlaceN0{
      background-color: #e8e7e7;
    }
    .mvMenuDeplegableOpenN1, .mvMenuDeplegableCloseN1, .mvMenuDeplegableEnlaceN1{
      background-color: #c4c6f5;
    }
    .mvMenuDeplegableOpenN2, .mvMenuDeplegableCloseN2, .mvMenuDeplegableEnlaceN2{
      background-color: #cbf7d3;
    }
    .mvMenuDeplegableOpenN0, .mvMenuDeplegableOpenN1, .mvMenuDeplegableOpenN2, .mvMenuDeplegableOpenN3{
      #mova-item-click-icon::before {
        content: "\f056";
				position: absolute;
		    left: 0.75rem;
		    top: calc(50% - 0.35rem);
      }
    }
    .mvMenuDeplegableCloseN0, .mvMenuDeplegableCloseN1, .mvMenuDeplegableCloseN2, .mvMenuDeplegableCloseN3{
      #mova-item-click-icon::before {
        content: "\f055";
				position: absolute;
		    left: 0.75rem;
		    top: calc(50% - 0.35rem);
      }
    }
    .mvMenuDeplegableEnlaceN0, .mvMenuDeplegableEnlaceN1, .mvMenuDeplegableEnlaceN2, .mvMenuDeplegableEnlaceN3{
			cursor: pointer;
      #mova-item-click-icon::before {
        content: "\f054";
				position: absolute;
		    right: 0.75rem;
		    top: calc(50% - 0.35rem);
      }
    }
  }

	#exampleMenuDesplegable2{
    .item-simple{
			height: auto;
      border: 1px solid;
      border-radius: 4px;
      margin-top: 2px;
    }
    .mvMenuDesplegableTituloN0, .mvMenuDesplegableSubtituloN0{
      color: #fff;
      margin-left: 25px;
    }
    .mvMenuDesplegableTituloN1, .mvMenuDesplegableSubtituloN1{
      color: #fff;
			padding-left: 1em;
      margin-left: 25px;
    }
    .mvMenuDesplegableTituloN2, .mvMenuDesplegableSubtituloN2{
      color: #504f4f;
			padding-left: 2em;
      margin-left: 25px;
    }
		.mvMenuDesplegableTituloN3, .mvMenuDesplegableSubtituloN3{
			padding-left: 3em;
      margin-left: 25px;
    }
    .mvMenuDesplegableTituloN0, .mvMenuDesplegableTituloN1, .mvMenuDesplegableTituloN2, .mvMenuDesplegableTituloN3{
      font-weight: bold;
    }
    .mvMenuDeplegableOpenN0, .mvMenuDeplegableCloseN0,.mvMenuDeplegableEnlaceN0{
      background-color: #0074a3;
    }
    .mvMenuDeplegableOpenN1, .mvMenuDeplegableCloseN1, .mvMenuDeplegableEnlaceN1{
      background-color: #4a4a4a;
    }
    .mvMenuDeplegableOpenN2, .mvMenuDeplegableCloseN2, .mvMenuDeplegableEnlaceN2{
      background-color: #e4e4e4;
    }
    .mvMenuDeplegableOpenN0, .mvMenuDeplegableOpenN1{
      #mova-item-click-icon::before {
        content: "\f068";
				position: absolute;
		    left: 0.75rem;
		    top: calc(50% - 0.35rem);
				color: #fff;
      }
    }
		.mvMenuDeplegableOpenN2{
			 #mova-item-click-icon::before {
				 content: "\f068";
				 position: absolute;
				 left: 0.75rem;
				 top: calc(50% - 0.35rem);
				 color: #000;
			 }
		 }
    .mvMenuDeplegableCloseN0, .mvMenuDeplegableCloseN1{
      #mova-item-click-icon::before {
        content: "\f067";
				position: absolute;
		    left: 0.75rem;
		    top: calc(50% - 0.35rem);
				color: #fff;
      }
    }
		.mvMenuDeplegableCloseN2{
      #mova-item-click-icon::before {
        content: "\f067";
				position: absolute;
		    left: 0.75rem;
		    top: calc(50% - 0.35rem);
				color: #000;
      }
    }
    .mvMenuDeplegableEnlaceN0, .mvMenuDeplegableEnlaceN1, .mvMenuDeplegableEnlaceN2{
			cursor: pointer;
      #mova-item-click-icon::before {
        content: "\f360";
				position: absolute;
		    right: 0.75rem;
		    top: calc(50% - 0.35rem);
      }
    }
  }

	/*
  Seccion botones
  */
  .app-example-mova-buttons {
  	text-align: right;
  	min-height: 0;
  	width: 5rem !important;

		/*
		Botones
		*/
		.app-example-mova-button {
			display: inline-block;
			margin: 0.55rem 0.55rem 0.55rem 0;
		}
  }

  /*
  Estilos generales para los mv.cards
  */
  .mv-card {

		.title-1 {
			margin: 0 0 0 0;
			padding: 0 1rem 0 0;
			font-size: 1.55rem;
			text-align: right;
			font-style: italic;
			color: $color-primary-004;

			@include mx-truncate;
		}

		.title-2 {
			margin: 0 0 0 0;
			padding: 0 0 0 0;
			font-size: 1.33rem;
			font-weight: bold;
		}

		.title-3 {
			margin: 0 0 0 0;
			padding: 0 0 0 0;
			font-size: 1.33rem;
			font-weight: bold;
		}
	}

	/*
	Ajustar una lista
	*/
	.app-example-mova-list {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	}

	/*****************
	 * mv.movaButton *
	 *****************/

	.mv-button-src-line-height-example {

		.mv-button-container {
			line-height: 4.5rem;
		}
	}

	/***************************
	 * mv.movaGuiaEstilosColor *
	 ***************************/

	.textWhite {
		color: white;
	}

	/******************
	 * mv.movaMapVgcm *
	 ******************/


	/*
	Clase para adaptar el mapa y que no se exceda del tamaño de su contenedor en los ejemplos.
	*/
	.app-map-vgcm-size {
		width: 100%;
	}

	/*********************
	 * mv.movaValuesList *
	 *********************/

	#textPlaceholder{
		section.mv-values-list .mv-values-list-container .mv-card-alias-container .mv-card-alias-container-item:nth-child(1) {
			width: 12rem !important;
		}
		section.mv-values-list .mv-values-list-container .mv-card-alias-container .mv-card-alias-container-item:nth-child(2) {
			width: calc(100% - 15.75rem) !important;
		}
		section.mv-values-list .mv-values-list-container .mv-card-alias-container .mv-card-alias-container-item:nth-child(3) {
			width: 3.75rem !important;
		}
	}

	/***************
	 * mv.movaItem *
	 ***************/

	/*
	Clase de ejemplo customizada para el corner del mv.movaItem
	*/
	.app-example-mova-item-custom-class {
		color: white;
		background-color: brown;
		padding: 0.1rem 0.55rem 0.1rem 0.55rem !important;
		@include mx-round-corners(1rem, 1rem, 1rem, 1rem);
	}

	/***************
	 * mv.movaCard *
	 ***************/

	/*
	Clase de ejemplo customizada para el badge del mv.movaCard
	*/
	.app-example-mova-card-custom-class {
		color: white;
		background-color: orange;
		padding: 0.1rem 0.55rem 0.1rem 0.55rem !important;
		@include mx-round-corners(1rem, 1rem, 1rem, 1rem);
	}

	/*
	Clase de ejemplo customizada para el hr del mv.movaCard
	*/
	.app-example-mova-card-hr-custom-class {
		color: white;
		background-color: orange;
		padding: 0.1rem 0.55rem 0.1rem 0.55rem !important;
		@include mx-round-corners(1rem, 1rem, 1rem, 1rem);
	}

	/***********************
	 * ea.eadmPasarelaPago *
	 ***********************/

	#app-example-mova-eadm{
		.mv-input-root, .mv-select-root{
			width: 15em;
		}
	}

	/******************
	 * mv.movaGesture *
	 ******************/

	/*
	Clase de ejemplo para los gestos de mv.movaGesture
	*/
	.app-example-mova-gesture-square {
		display: inline-block;
		width: auto;
		height: auto;
		background-color: #ca5670;
		margin: 0 0 0 0;
		padding: 0 0 0 0;

		i {
			font-size: 8rem;
			margin: 5rem;
			padding: 0 0 0 0;
			color: white;
		}
	}

	/**************
	 * mv.movaTab *
	 **************/

	// Clase de ejemplo de mv.movaTab para atributo class-if
	.app-example-mova-tab-example-001 {

		.mv-tab-ol {
			background-color: red !important;

			.mv-tab-item:nth-child(3) {
				background-color: pink !important;

			}
			.mv-tab-item:nth-child(4) {
				background-color: orange !important;

			}
			.mv-tab-item {
				background-color: transparent !important;

				&.mv-tab-item-selected {
					background-color: #bbb0b0 !important;
					color: white;
				}

				.mv-tab-badge {
					background-color: green;
					color: white;
					border: 1pt solid black;
				}
			}
		}
	}

	/***********************************
	 * app-example-guia-estilos-iconos *
	 ***********************************/

	.app-example-guia-estilos-iconos-listado-iconos {

		padding-bottom: 0;

		.mv-card-alias-container-item {

			text-align: center;

			i,
			span {
				color: $color-primary-003;
				font-size: $font-size-ultra-big;
			}

			.app-example-guia-estilos-iconos-nombre-icono {

				@include mx-truncate();

				display: block;
				margin: 0.85rem 0 1.75rem 0;
				background-color: transparent;
				color: $color-primary-003;
				font-size: $font-size-small;
				padding: 0.55rem 0.55rem 0.55rem 0.55rem;

				-webkit-user-select: text;
				-moz-user-select: text;
				-khtml-user-select: text;
				-ms-user-select: text;
			}
		}
	}

	/*******************
	 * Iconos del item *
	 *******************/

	.has-event {
		color: green;
		font-size: $font-size-big;
		margin: 0.55rem 0.55rem 0.55rem 0;
	}

	.ejemploEsquemaResponsiveXs,
    .ejemploEsquemaResponsiveSm,
    .ejemploEsquemaResponsiveMd,
    .ejemploEsquemaResponsiveLg {
      .mv-card-alias-container-item {
        .mv-card-container {
          color: $color-primary-001-80;
          background-color: $color-primary-004-20;
          padding: 2pt;
          margin: 2pt;

          b {
            color: $color-primary-001;
          }
        }
      }
    }
}

/*
┌──────────────────┐
│ Bootstrap col-xs │
└──────────────────┘
*/

@media only screen and (max-width : $media-col-xs-max) {

  .ejemploEsquemaResponsiveXs {
    display: block;
  }

  .ejemploEsquemaResponsiveSm {
    display: none;
  }

  .ejemploEsquemaResponsiveMd {
    display: none;
  }

  .ejemploEsquemaResponsiveLg {
    display: none;
  }
}

/*
┌──────────────────┐
│ Bootstrap col-sm │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-sm-min) and (max-width : $media-col-sm-max) {

  .ejemploEsquemaResponsiveXs {
    display: none;
  }

  .ejemploEsquemaResponsiveSm {
    display: block;
  }

  .ejemploEsquemaResponsiveMd {
    display: none;
  }

  .ejemploEsquemaResponsiveLg {
    display: none;
  }
}

/*
┌──────────────────┐
│ Bootstrap col-md │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-md-min) and (max-width : $media-col-md-max) {

  .ejemploEsquemaResponsiveXs {
    display: none;
  }

  .ejemploEsquemaResponsiveSm {
    display: none;
  }

  .ejemploEsquemaResponsiveMd {
    display: block;
  }

  .ejemploEsquemaResponsiveLg {
    display: none;
  }
}

/*
┌──────────────────┐
│ Bootstrap col-lg │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-lg-min) {

  .ejemploEsquemaResponsiveXs {
    display: none;
  }

  .ejemploEsquemaResponsiveSm {
    display: none;
  }

  .ejemploEsquemaResponsiveMd {
    display: none;
  }

  .ejemploEsquemaResponsiveLg {
    display: block;
  }
}
