ion-content{
    --background: black;
}

h1{
    color: #D8257B;
    margin-top: -2rem;

}

h3{
    color: #D8257B;
}
input{
    width: 80%;
    background: transparent;
    border: none;
    color: white;
    font-size: x-large;
}

::placeholder{
    text-align: center;
    color: white;
}

.vector2{
    //margin-top: -2rem;
}

.error-message{
    color: #D8257B;
}
ion-item{
    background: transparent;
}

button{
    margin-top: 2rem;
    color: #D8257B;
    background: transparent;
    font-size: 1.5rem;

}