
<app-cabecera [titulohead]="tituhead"></app-cabecera>
<!-- <ion-buttons slot="end">
        <ion-back-button text="" color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-content *ngIf="isAdmin === true" padding>

      --> 
<ion-content *ngIf="items"  padding-top padding-top>
  <ion-grid>
    <ion-row  >

        <ion-col >
              <ion-searchbar [(ngModel)]="searchText" placeholder="Buscador..." style="text-transform: lowercase; border-radius: 50px;"></ion-searchbar>           
        </ion-col>
      </ion-row>

  <ion-row class="conteBoton" margin-top>
      
            <div *ngFor="let item of items">
                <div *ngIf="items.length > 0">
                <div *ngIf="item.payload.doc.data().nombreApellido && item.payload.doc.data().nombreApellido.length"  class="contenido">
                <div *ngIf="item.payload.doc.data().nombreApellido.includes(searchText) ">  
                    <ion-col>
                      <ion-list>
                            
                              <div [routerLink]="['/detalles-bonos-pacientes-user', item.payload.doc.id]"  class="cajabuscador"   >
                              <span class="nombreuser">{{item.payload.doc.data().nombreApellido}}</span>
                              <div  class="buscado"  >
                                    <span class="num_edad">N° {{item.payload.doc.data().numeroHistorial}} </span>
                                    <span class="num_edad">{{item.payload.doc.data().edad}} Años</span>
                                    <br/>
                                  <span class="num_edad">Bonos: {{item.payload.doc.data().bono}} </span>
                                </div>
                                <div class="circular">
                                     <!--  <span class="estado"></span> nos dira si esta activo ,frecuente, no viene -->
                                      <img class="imagen" src="{{item.payload.doc.data().image}}" >
                                </div>
                                </div>
                         
              </ion-list>
        <!-- se pone fuera para que no le afecte el click general -->
  </ion-col>
  
  </div>
  </div>
  </div>
  
    </div>
    
  
  </ion-row>
  </ion-grid>
</ion-content>

