

ion-content{
    --background: black;
}

.cabecera{
    margin-top: 32px;

    img{
        margin-top: -1rem;
        margin-bottom: 2rem; 
    }

}

.a{
    font-size: larger;
    color: white;
    background: purple;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.carrito{
    position: absolute;
    top: 0;
    margin-top: 3rem;
    margin-left: 0.5rem;
}

.texto-carrito{
    color: #00D8C8;
    position: absolute;
    margin-top: -2.5rem;
    //margin-left: -0.5rem;
}

.camara{
    position: absolute;
    right: 0;
    margin-right: 1rem;
    top: 0;
    margin-top: 3rem;
}

.texto-camara{
    color: #00D8C8;
    position: absolute;
    right: 0;
    margin-right: 1rem;
    top: 0;
    margin-top: 7.5rem;
}



.novedades{
    margin-bottom: 1rem;
}

.productos{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.icono-mas{
    position: absolute;
    left: 6rem;
    width: 2rem;
    height: 2rem;
    margin-top: 0.1rem;
}

.icono-gancho{
    position: absolute;
    left: 6rem;
    margin-top: 2.1rem;
}


.carousel-item{
    height: 125px;
} 
.carousel-item img{
    height: 125px;
}

.borde{
    box-shadow: 1px 0rem 0rem 10px #BC3EFF;
    width: 80%;
    border-radius: 5px;
    margin-top: 0.5rem;
    height: 8rem;
}


.borde1{
    box-shadow: 1px 0rem 0rem 10px #BC3EFF;
    width: 80%;
    height: 8rem;
    border-radius: 5px;
    margin-top: 0.5rem;
}