<ion-content padding>
  <div class="cabecera" text-center>
    <img src="/assets/imgs/cabecera.png" alt="">
  </div>
  <div>
    <img (click)="carrito()" class="carrito" src="/assets/imgs/boton carrito.png" alt="">
    <p class="texto-carrito">CARRITO</p>
  </div>
  <div>
    <img (click)="sscanCode()" class="camara" src="/assets/imgs/boton camara.png" alt="">
    <p class="texto-camara">CAMARA</p>
  </div>

 <!-- <div text-center style="color: white" *ngIf="scannedData">
    <p>
      Scanned Code Text : <b>{{ scannedData["text"] }}</b>
    </p>
    <p>
      Scanned Code Format : <b>{{ scannedData["format"] }}</b>
    </p>
  </div>-->
  <div text-center style="color: white; margin-bottom: 1rem;"  *ngIf="scannedData">
    <a class="a" href="{{ scannedData['text'] }}">
      QR view
    </a>

  </div>
  <div class="carrouser-1">
    <div text-center class="titulo">
      <img class="novedades" src="../../../assets/imgs/novedades.png" alt="" />
      <img class="icono-mas" src="../../../assets/imgs/mas.png" alt="" />
    </div>
    <ion-slides class="borde1 mx-auto" pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let item of items">
        <!--Colocar productos novedades-->
        <img [routerLink]="['/detalles-productos', item.payload.doc.id]" src="{{ item.payload.doc.data().image }}" alt="">
      </ion-slide>
    </ion-slides>
  </div>

  <div class="carrouser-2">
    <div text-center class="titulo">
      <img class="productos" src="../../../assets/imgs/productos.png" alt="" />
      <img class="icono-gancho" src="../../../assets/imgs/gancho.png" alt="" />
    </div>
    <div class="carrouser-2">
      <ion-slides class="borde1 mx-auto" pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let items of productos.productos">

          <img routerLink="/tabs/tab2" src="{{items.image}}" alt="">

        </ion-slide>
      </ion-slides>
    </div>
  </div>

</ion-content>