

<ion-content>

    
  <form text-center class="form" [formGroup]="validations_form" (ngSubmit)="tryLogin(validations_form.value)">
      <img class="logo" src="../../../assets/imgs/logo.png" alt="">
    <div class="desktop">
    <div text-center style="--background: transparent !important;">
      <input placeholder="Correo Electrónico" class="email" type="text" formControlName="email"/>
    </div>
    <div  style="background: transparent !important;" class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message-email" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <div text-center style="--background: transparent !important;">
      <input type="password" class="password" placeholder="Contraseña" formControlName="password"/>
    </div>
    <div style="background: transparent !important;" class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div style="background: transparent !important;" class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <div style="--background: transparent !important" text-center>
      <button class="olvidar" expand="block" *ngIf="!passReset && validations_form.controls.email.valid" (click)="resetPassword()">¿Olvidaste tu contraseña? <br> {{validations_form.value.email}}</button>
      <p *ngIf="passReset" >Reset enviado. Revisa tu email y sigue las instruciones.</p>    
  </div>
    <button class="submit-btn login"  type="submit" [disabled]="!validations_form.valid">Entrar</button>
    <br/>
    <p class="error-message">{{errorMessage}}</p>
  </div>
  </form>




</ion-content>
