/*
╔═════════════════════╗
║ mova-textarea style ║
╚═════════════════════╝
*/

/*
Centraliza la reordenación del componente para mostrar la label a la izquierda.
De esta forma el mismo código se mantiene en un solo sitio para poder usarlo en media-queries.
*/
@mixin mv-textarea-mx-left-label () {

	// Anular el padding-top de la clase .has-label ya que no va a estar arriba
	padding-top: 0;

	// Reordenacion en caso sin icono
	> .mv-textarea-message,
	> .mv-textarea {
		width: calc(70% - 0.55rem);
		margin-left: calc(30% + 0.55rem);
	}

	> .mv-textarea-label {
		width: calc(30%);
		margin-top: 0.75rem;
	}
}

.mv-textarea-root {

	margin: 0 0 0.55rem 0;

	textarea {

		/*
		Especial para sobrescribir los estilos de Bootstrap y hacer esquinas redondeadas en el input
		*/
		-webkit-border-top-left-radius: $round-corner-default-size !important; // Forzar esquinas .input-group
		-webkit-border-top-right-radius: $round-corner-default-size !important; // Forzar esquinas .input-group
		-webkit-border-bottom-right-radius: $round-corner-default-size !important; // Forzar esquinas .input-group
		-webkit-border-bottom-left-radius: $round-corner-default-size !important; // Forzar esquinas .input-group
		-moz-border-radius-topleft: $round-corner-default-size !important; // Forzar esquinas .input-group
		-moz-border-radius-topright: $round-corner-default-size !important; // Forzar esquinas .input-group
		-moz-border-radius-bottomright: $round-corner-default-size !important; // Forzar esquinas .input-group
		-moz-border-radius-bottomleft: $round-corner-default-size !important; // Forzar esquinas .input-group
		border-top-left-radius: $round-corner-default-size !important; // Forzar esquinas .input-group
		border-top-right-radius: $round-corner-default-size !important; // Forzar esquinas .input-group
		border-bottom-right-radius: $round-corner-default-size !important; // Forzar esquinas .input-group
		border-bottom-left-radius: $round-corner-default-size !important; // Forzar esquinas .input-group

		font-size: $font-size-medium;
    	resize: none; /* Esquina inferior derecha que permite cambiar el tamaño en el navegador */

		// Estilo para campos obligatorios
		&[has-required] {
			background-color: 	$color-warning-background;
		}

		// Estilos para errores
		&.ng-invalid-mask {
			color: $color-error;
			border-color: $color-error;
		}
	}

	&.adapt {
		width: 100%;
	}

	&.has-label {
		padding-top: 1.55rem;
	}

	&.has-message {
		padding-bottom: 1.55rem;

		/* maxlength */
		>.mv-textarea-maxlength {
			bottom: 1.24rem;
		}
	}


	&.left-label {

		@include mv-textarea-mx-left-label();
	}

	/*
	maxlength
	*/
	>.mv-textarea-maxlength {
		display: block;
		width: 100%;
		position: absolute;
		margin: 0 0 0 0;
		padding: 0.25rem 0.25rem 0.25rem 0.25rem;
		left: 0;
		text-align: right;
		bottom: -0.3rem;
		font-size: $font-size-small;
		font-weight: bold;
		z-index: $z-index_textarea-maxlength; /* Para posicionarse justo encima de la clase .form-control de Bootstrap cuyo valor es 2 */
		color: $color-disabled;
	}

	/*
	label
	*/
	>.mv-textarea-label {

		@include mx-truncate();

		position: absolute;
		margin: -1.25rem 0 0 0;
		padding: 0 0 0 0;
		font-size: $font-size-small;
		font-weight: bold;
	}


	/*
	mensaje
	*/
	>.mv-textarea-message {

		@include mx-round-corners-default();

		@include mx-truncate();

		display: block;
		width: 100%;
		position: absolute;
		margin: 0 0 0 0;
		padding: 0.25rem 0.25rem 0.25rem 0.25rem;
		left: 0;
		bottom: -0.55rem;
		font-size: $font-size-small;
		font-weight: bold;
	}
}

/*
┌──────────────────┐
│ Bootstrap col-xs │
└──────────────────┘
*/

@media only screen and (max-width: $media-col-xs-max) {

}

/*
┌──────────────────┐
│ Bootstrap col-sm │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-sm-min) and (max-width : $media-col-sm-max) {

	.mv-textarea-root {

		&.left-label-sm {

			@include mv-textarea-mx-left-label();
		}
	}
}

/*
┌──────────────────┐
│ Bootstrap col-md │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-md-min) and (max-width : $media-col-md-max) {

	.mv-textarea-root {

		&.left-label-md {

			@include mv-textarea-mx-left-label();
		}
	}
}

/*
┌──────────────────┐
│ Bootstrap col-lg │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-lg-min) {

	.mv-textarea-root {

		&.left-label-lg {

			@include mv-textarea-mx-left-label();
		}
	}
}
