<!-- app-pantalla5 -->

<mv-screen titulo="{{ screen.titulo }}" subtitulo="{{ screen.subtitulo }}" no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}" float-footer="{{ screen.floatFooter }}" show-back="{{ screen.showBack }}"
	show-menu="{{ screen.showMenu }}" show-logo="{{ screen.showLogo }}" show-subtitle="{{ screen.showSubtitle }}">

	<mv-container id="prev" class="app-main-menu-mv-card-main">

		<h2 id="h2Prev">Unidad de Cocina</h2>

		<p id="pCoc1">La Unidad de Cocina del Hospital La Fuenfría se complace en poner a su
			disposición la oferta gastronómica que permanezca entre nosotros,
			confiando en que sea de su agrado y contribuya positivamente a
			hacer su estancia más llevadera.</p>

		<img style="width: 100%;" src="media/images/examples/Unidad_cocina.jpg" />

		<!--<p id="pCoc2">El Jefe de Cocina, junto con el equipo de cocineros y pinches, trabaja
				para que usted se alimente como en su casa durante los días que pase
				entre nosotros. Queremos que los momentos del desayuno, la comida o
				la cena sean los más agradables del día y que contribuyan a mejorar
				su salud y estado de ánimo a través de una alimentación equilibrada
				y saludable. Junto a ellos, el personal de planta del Hospital está
				a su disposición para conseguir que el acto de alimentarse sea uno
				de los momentos más satisfactorios de cada día.</p>

			<p>Cada usuario del Hospital recibe, en función del tratamiento que le prescribe
				su facultativo, una dieta de las once que hay disponibles. El menú completo
				que comprende cada dieta tiene una rotación de 21 días, conscientes de la
				importancia que tiene recibir, en la medida de lo posible, una dieta variada 
				que, además, cambia atendiendo al criterio de estacionalidad (verano - invierno).</p>

			<p>A continuación le proporcionamos información sobre los horarios de los servicios 
				de comida y los cuadros de dietas con su rotación semanal.</p>-->


		<mv-burguer title="Horario de Comidas"   bg-color="#FFFFFF"   title-color="#155DB3" init-collapsed="true"   >
			  
			<table align="center" id="HorC">

				<tr>
					<td align="left">Desayuno:</td>
					<td align="right">9:00</td>
				</tr>
				<tr>
					<td align="left">Comida:</td>
					<td align="right">13:00</td>
				</tr>
				<tr>
					<td align="left">Merienda:</td>
					<td align="right">17:00</td>
				</tr>
				<tr>
					<td align="left">Cena:</td>
					<td align="right">20:00</td>
				</tr>

			</table>

		</mv-burguer>

		<mv-burguer title="Tipos de Dietas"   bg-color="#FFFFFF"   title-color="#155DB3" init-collapsed="true"   >
			  
			<mv-burguer title="Dieta Basal"   bg-color="#FFFFFF"   title-color="#155DB3" init-collapsed="true"   >
				La dieta basal está fundamentada en el recetario tradicional español.
				En ella conviven platos de cuchara, guisos y potajes con elaboraciones
				a base de pasta, huevos, carne y pescado en las que se ha procurado
				mantener un estándar de variedad y corrección nutricional.
			</mv-burguer>

			<mv-burguer title="Dieta Sin Gluten"   bg-color="#FFFFFF"   title-color="#155DB3" init-collapsed="true"   >
					<img src="../../../media/images/singluten.jpg" style="width:100%; padding:1rem 1rem 1rem 1rem;"  alt="imagen">
				La celiaquía es una enfermedad en la que se produce una intolerancia al gluten de trigo, cebada, centeno
				y avena produciendo una reacción inflamatoria en la mucosa del intestino delgado.
				En estos casos, se establece la exclusión de la dieta de dichos cereales y sus derivados, además de
				controlarse la posible contaminación cruzada durante la elaboración de los platos

			</mv-burguer>

			<mv-burguer title="Hipoproteíca"   bg-color="#FFFFFF"   title-color="#155DB3" init-collapsed="true"   >
				: Es una dieta indicada para la insuficiencia renal, se caracteriza fundamentalmente por una restricción
				proteica moderada. Es además pobre en sodio y potasio.
				Dada la gran limitación de los alimentos indicados resulta deficiente en vitaminas hidrosolubles, calcio
				y hierro, por lo que puede ser necesaria su suplementación.
				Es una dieta además baja en grasas, alta en fibra y de fácil masticación.

			</mv-burguer>

		</mv-burguer>

		<!--<p id="DB"><strong>DIETA BASAL</strong></p>

			<p><strong>PRIMERA SEMANA</strong></p>

			<table>
				<thead>
					<tr>
						<th></th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>-->

		<!--<p id="pDbas">La dieta basal está fundamentada en el recetario tradicional español. 
				En ella conviven platos de cuchara, guisos y potajes con elaboraciones 
				a base de pasta, huevos, carne y pescado en las que se ha procurado 
				mantener un estándar de variedad y corrección nutricional.</p>-->

		<p>Además del recetario que ofrecemos, el Hospital La Fuenfría realiza
			un esfuerzo por hacer que los pequeños detalles cobren el protagonismo
			que se merecen. De esta manera, en cada comida se ofrece al usuario pan
			horneado diariamente en nuestra cocina.</p>

		<p>Espero que su estancia en nuestro Hospital le resulte lo más agradable
			posible. Nuestra ilusión y deseo es que el trabajo que realizamos le
			proporcione momentos de bienestar y que influya positivamente en su
			recuperación.</p>

		<p>Si durante su estancia en el Centro le surgen dudas relacionadas con
			su dieta o desea realizar alguna sugerencia al respecto, no dude en
			comunicarlo. El Equipo de Cocina está a su disposición para lo que necesite.</p>

	</mv-container>



</mv-screen>