/*
╔═════════════════════════╗
║ mova-version-news style ║
╚═════════════════════════╝
*/

mv-version-news {

	#mv-version-news-movaVersion {

		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		min-height: 100%;
		top: 0;

		.mv-version-news-iframe {
			position: absolute;
			top: -1em;
			width: 100%;
			height: calc(100% - 0.55rem);
			border: none;
		}

		.mv-version-news-html {

			margin: 4rem auto 4rem auto;
		}

		.mv-version-news-button {
			position: fixed;
			width: 100%;
			height: 3em;
			margin: 0 0 0 0;
			bottom: 0em;
			border-radius: 0;
			z-index: $z-index_version-news;
		}

		#mv-version-news-titulo {
			position: absolute;
			top: 0;
    		padding: 0.75rem 0.35rem 0.75rem 0.35rem;
		    text-align: center;
		    background-color: $color-primary-004;
		    color: white;
		    display: block;
		    width: 100%;
			z-index: $z-index_version-news;
			-webkit-box-shadow: 0 0.2em 0.25em 0 rgba(49,52,56, 0.65);
			-moz-box-shadow:    0 0.2em 0.25em 0 rgba(49,52,56, 0.35);
			box-shadow:         0 0.2em 0.25em 0 rgba(49,52,56, 0.35);
		}
	}
}
