<!-- mova-version-news -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card 
		bg-color="transparent"
		border-color="transparent"
		border-width=0
		adapt=true
		id="mv-version-news-movaVersion">

		<p id="mv-version-news-titulo">Novedades de la versión</p>
		<!--<iframe class="mv-version-news-iframe" ng-src="{{lineaUrlTrust(externalUrl.src)}}" allowfullscreen frameborder="0"></iframe>-->
		<mv-card class="mv-version-news-html">
			<h1>Novedades de la versión {{version}}</h1>
			<p ng-bind-html="mensajeVersionTrust()"></p>
		</mv-card>
		<button ng-show="{{showButton}}" ng-click="accederApp()" type="button" class="btn btn-primary mv-version-news-button">Acceder</button>
		
	</mv-card>

</mv-screen>