<!-- app-example-mova-footer -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaFooter</h1>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>La manera aconsejada para utilizar este componente es a través del componente <b>mv.movaScreen</b> y sus parámetros para el footer.</p>
			<p>Cuando se usa el footer desde el componente <b>mv.movaScreen</b>, para modificar el contenido del footer parasado mediante transclude se utiliza el componente <b>app.footer</b> que puede ser editado a voluntad. Este contenido se mostrará en todos los footer de la App.</p>
			<p>Si se necesita un footer con un contenido pasado mediante transclude distinto al resto será necesario ocultar el footer mediante el parámetro <b>no-footer</b> del componente <b>mv.movaScreen</b> e incluir un componente <b>mv.movaFooter</b> propio en el HTML de nuestro componente pasando mediante transclude el componente o contenido que necesitemos.</p>
		</mv-card>
		<br>
		<p>Pie de página con información de la versión, condiciones legales, contacto y espacio para mostrar contenido propio.</p>
		<p>Este componente puede mostrarse de forma flotante, se mantiene fijo en la parte baja de la pantalla siempre visible, o de forma no fija, será necesario hacer scroll para ver el footer.</p>
		<p>Este componente se utiliza por defecto en el componente <b>mv.movaScreen</b> y puede manipularse mediante parámetros propios del componente.</b>.</p>
		<p>Si se utiliza directamente mediante el código HTML en vez de mediante el componente <b>mv.movaScreen</b> con un posicionamiento fijo puede que tenga que manipular el estilo CSS del componente <b>mv.movaFooter</b> desde el estilo CSS de su propio componente.</p>
		<p>Este componente acepta los mismos atributos de HTML que el elemento <b>&lt;button></b> además de los siguientes:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('showContact')" >show-contact</a></li>
			<li><a href="" ng-click="$root.scrollTo('showLegal')" >show-legal</a></li>
			<li><a href="" ng-click="$root.scrollTo('showVersion')" >show-version</a></li>
		</ul>
	</mv-card>

	<mv-card>
		<h2  class="title-2">Ejemplo de uso HTML y resultado</h2>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-footer><br>
				&emsp;&emsp;Ejemplo de contenido pasado por transclude<br>
				&lt;/mv-footer>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="showContact"
		>
		<h3 class="title-3">show-contact</h3>
		<br>
		<p>La propiedad <b>show-contact</b> permite mostrar u ocultar el enlace de contacto.</p>
		<p>La url de contacto se configura en la variable urlContacta del componente <b>app.config</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-footer<br>
				&emsp;&emsp;<b>show-contact=true</b><br>
				&lt;/mv-footer>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="showLegal"
		>
		<h3 class="title-3">show-legal</h3>
		<br>
		<p>La propiedad <b>show-legal</b> permite mostrar u ocultar el enlace de condiciones legales.</p>
		<p>La url de las condiciones legales se configura en la variable urlAvisoLegal del componente <b>app.config</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-footer<br>
				&emsp;&emsp;<b>show-legal=true</b><br>
				&lt;/mv-footer>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="showVersion"
		>
		<h3 class="title-3">show-version</h3>
		<br>
		<p>La propiedad <b>show-version</b> permite mostrar u ocultar la versión de la App, con el enlace a la información del dispositivo.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-footer<br>
				&emsp;&emsp;<b>show-version=true</b><br>
				&lt;/mv-footer>
			</span>
		</code>
	</mv-card>

</mv-screen>