<ion-content padding>
    <div class="volver">
        <img (click)="goBack()" src="../../../assets/imgs/volver.png" alt="">
    </div>
    <div class="titulo">
        <p class="titulo-texto"><img src="../../../assets/imgs/pedidos.png" alt="">PEDIDOS</p>
    </div>
    <div class="subtitulo">
        <p class="subtitulo-texto">CANCELADOS</p>
    </div>
    <div class="lista">
        <div class="container-fluid">
            <div class="row">
                <div *ngFor="let productos of items" class="col-12 mt-3">
                    <div *ngIf="productos.payload.doc.data().pedidoCancelado == true" class="card">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                <img class="foto" src="{{productos.payload.doc.data().image}}" alt="Card image cap">
                                <img style="margin-left: 1.5rem" src="../../../assets/imgs/separacion.png" alt="">
                            </div>
                            <div text-center class="card-body mx-auto">
                                <p class="card-text"><b>{{productos.payload.doc.data().categoria}}:</b>{{productos.payload.doc.data().nombreProducto}}</p>
                                <div>
                                    <ion-grid>
                                        <ion-col size="4">
                                            <img style="margin-left: -1rem;width: 4rem;" class="img" src="../../../assets/imgs/productoCancelado.png" alt="">
                                        </ion-col>
                                        <ion-col size="4">
                                            <button [routerLink]="['/detalles-reactivar', productos.payload.doc.id]" class="reactivar">Reactivar</button>
                                        </ion-col>
                                    </ion-grid>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ion-content>