<app-cabecera [titulohead]="tituhead"></app-cabecera>
<!-- <ion-buttons slot="end">
        <ion-back-button text="" color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-content *ngIf="isAdmin === true" padding>

      --> 
<ion-content padding >
  <ion-card>
    <form class="animated fadeIn fast" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
  
      <ion-grid>
          <ion-row>
          <ion-col size="12">
              <h5>Fecha</h5>
                  <ion-item>
                    <ion-input  formControlName="fecha" value="{{this.item.fecha | date:'dd/MM/yyyy'}}" readonly="true"></ion-input>
                  </ion-item>
          </ion-col>
            <ion-col size="12">
                <h5>Desayuno</h5>
                  <ion-item>
                      <ion-input  formControlName="desayuno" readonly="true"></ion-input>
                    </ion-item>
              </ion-col>
            <ion-col size="12">
                <h5>Media mañana</h5>
                    <ion-item>
                        <ion-input  formControlName="mediaManana" readonly="true"></ion-input>
                      </ion-item>
          </ion-col>
                    <ion-col size="12">
                        <h5>Comida</h5>
                        <ion-item>
                            <ion-input  formControlName="comida" readonly="true"></ion-input>
                          </ion-item>
                </ion-col>
                    <ion-col size="12">
                      <h5>Media tarde</h5>
                            <ion-item>
                                <ion-input  formControlName="mediaTarde" readonly="true"></ion-input>
                              </ion-item>
                    </ion-col>
                <ion-col size="12">
                  <h5>cena</h5>
                                <ion-item>
                                  
                                    <ion-input  formControlName="cena" readonly="true"></ion-input>
                                  </ion-item>
                  </ion-col>
                          </ion-row>
        </ion-grid>

    <!--
          <ion-button fill="outline" expand="block" style="--border-radius:20px; margin-top:15px;" type="submit" color="primary" [disabled]="!validations_form.valid">Modificar</ion-button>
      -->
      <ion-button class="submit-button" fill="outline" expand="block" color="primary" style="--border-radius:20px"  (click)="delete()">Borrar</ion-button>
  
  </form>
</ion-card>
  </ion-content>