ion-input{

    outline: none;
    margin: 0 auto;
    width: 90%;
    height: 30px;
    margin-top:10px; 
    color: #3B3B3B;
    background: #FFFFFF;
    font-size: 12px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-left: 10px !important;
    
    
    }
    
h5{
    padding-left: 1rem;
}

