<ion-header>
  <ion-toolbar>
    <ion-button (click)="exit()">X</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
        <ion-card>
            <ion-card-header (click)="collapseCard = !collapseCard">
              <ion-card-title text-center>Añade Ejercicio</ion-card-title>
            </ion-card-header>
            <ion-card-content *ngIf="!collapseCard">
              <ion-item>
                <ion-input type="text" placeholder="Nombre Apellido"  formControlName="titulo" style="text-transform:lowercase"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="text" placeholder="Descripción de Ejercicio"  formControlName="descripcion" style="text-transform:lowercase"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label>Fecha</ion-label>
                  <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD-MM-YYYY" [(ngModel)]="event.horaInicio" [min]="minDate" formControlName="fecha" cancel-text="Cancelar" done-text="Aceptar"></ion-datetime>
                </ion-item>
              <ion-item>
                <ion-label>Hora  de Ejercicio</ion-label>
                <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm"  formControlName="horaInicio" cancel-text="Cancelar" done-text="Aceptar"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>Finaliza </ion-label>
                <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm"  formControlName="horaFinal" cancel-text="Cancelar" done-text="Aceptar"></ion-datetime>
              </ion-item>
              <ion-button type="submit" fill="outline" expand="block" class="asig"  [disabled]="!validations_form.valid">Asignar</ion-button>
              <!--Funcional
                <ion-button type="submit" fill="outline" expand="block" class="asig" [disabled]="!validations_form.valid" >Asignar</ion-button>
    -->
            </ion-card-content>
          </ion-card>
          </form>

</ion-content>
