<!-- app-pantalla9 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	float-footer="{{ screen.floatFooter }}"
	show-back="{{ screen.showBack }}"
	show-menu="{{ screen.showMenu }}"
	show-logo="{{ screen.showLogo }}"
	show-subtitle="{{ screen.showSubtitle }}">

	<mv-container id="prev" class="app-main-menu-mv-card-main">

			<h2 id="h2Prev">Prevención de caídas en el Hospital</h2>

			<p>El Hospital La Fuenfría está trabajando con el objetivo de prevenir 
				las caídas de los pacientes durante su ingreso.</p>
	
			<p>La mayoría de las caídas se producen a causa de riesgos predecibles
				y por tanto susceptibles de prevención.</p>	

			<p id="prevCap"><strong>EN EL HOSPITAL, USTED Y SUS FAMILIARES NOS PUEDEN AYUDAR A
			PREVENIR LAS CAÍDAS</strong></p>

			<ul id="prevUl">
				<li>Siga las recomendaciones del Personal de Enfermería</li>
				<li><strong>Compruebe que la cama</strong> está en posición baja y frenada.</li>
				<li><strong>Lleve colocadas las prótesis</strong> siempre que sean posibles
				(gafas, audífonos...).</li>
				<li>Si tiene problemas para caminar,<strong> utilice bastón o andador,</strong>
				 según indicaciones del personal.</li>
				<li><strong>Use solamente objetos estáticos</strong> como ayuda
				para mantenerse estable. No utilice el soporte para sueros, 
				mesa, silla de ruedas... Ni otro objeto que pueda moverse.</li>
				<li><strong>Use zapatillas o zapatos cerrados y con suelas de goma.</strong>
				 No use sandalias o calzado abierto que pueda hacerle perder el equilibrio.</li>
				<li><strong>No camine descalzo</strong> o solo con calcetines.</li>
				<li><strong>Tenga siempre a su alcance</strong> los objetos de uso
				 frecuente y el timbre de llamada.</li>
				<li><strong>Llame al timbre</strong> si necesita ayuda para levantarse,
				ir al baño o está mareado, para ello cuenta con dispositivos de llamada
				en la habitación y el cuarto de baño.</li>
				<li>Al levantarse de la cama, <strong>siéntese en el borde</strong>
				 unos minutos antes de ponerse de pie.</li>
				<li><strong>Verifique el bloqueo</strong> de sillones y sillas de ruedas.</li>
				<li>Si están <strong>subidas las barandillas</strong> de la cama, déjela
				así.<strong> Es por seguridad.</strong></li>
				<li><strong>Haga caso de las señales de peligro de suelo mojado. </strong>
				Avise si el suelo está mojado.</li>
				<li><strong>Mantenga la habitación ordenada</strong> y el
					aseo retirando todo el material que pueda
					producir caídas.</li>
				<li><strong>Mantenga las zonas de paso libres </strong>de obstáculos.</li>
				<li><strong>Mantenga una buena iluminación</strong> tanto
					diurna como nocturna. </li>
				<li><strong>Preste especial atención</strong> a cualquier tubo, 
					por ejemplo oxígeno, sistemas de suero, 
					sondas vesicales... que pueda interferir con el caminar. </li>
			</ul>

			<p id="penf">Siempre que ocurra un incidente o caída, aunque sea sin consecuencias,
			comuníquelo al personal de enfermería.</p>


	</mv-container>
	

</mv-screen>
