body{
    background: black;
    width: 12rem;
    height: 12rem;
    box-shadow: 1px 0px 21px 1px #00D8C8;
    margin-top: -8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

button{
    background: black;
}
p{
    color: white;
    letter-spacing: 1px;
    padding-top: 1rem;
}

.subido{
    padding-top: 1.5rem;
}

