<app-cabecera [titulohead]="tituhead"></app-cabecera>

<!-- <ion-buttons slot="end">
        <ion-back-button text="" color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-content *ngIf="isAdmin === true" padding>

      --> 
<ion-content padding style="font-family: Comfortaa">
    <ion-card>
    <form class="animated fadeIn fast" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
        <h5>Nombre</h5>
        <ion-item>
           
            <ion-input type="text" formControlName="titulo" readonly="true" class="inputexto2"></ion-input>
        </ion-item>
        <h5>Descripción</h5>
        <ion-item>
            <ion-input formControlName="descripcion" readonly="true"  class="inputexto2"></ion-input>
        </ion-item>
        <h5>Fecha cita</h5>
        <ion-item>
                <ion-datetime displayFormat="YYYY/MM/DD"  formControlName="fecha" class="inputexto" placeholder="Añadir" style="margin-left:-10px" done-text="Aceptar" cancel-text="Cancelar"></ion-datetime>
            </ion-item>
        <h5>Inicio de Cita</h5>
        <ion-item>
           
    <ion-datetime displayFormat="hh:mm" pickerFormat="hh:mm" minuteValues="0,30"  formControlName="inicioCita"   done-text="Aceptar" cancel-text="Cancelar"></ion-datetime>
            </ion-item>
        <h5>Finaliza la Cita</h5>
        <ion-item>
           
                <ion-datetime displayFormat="hh:mm" pickerFormat="hh:mm" minuteValues="0,30"  formControlName="finalCita"  done-text="Aceptar" cancel-text="Cancelar"></ion-datetime>
            </ion-item>
        
    <div *ngIf="isAdmin === true">
            <ion-button fill="outline" expand="block" type="submit" [disabled]="!validations_form.valid">Modificar</ion-button>
        </div>
        <div *ngIf="isAdmin === true">
        <ion-button class="submit-button" fill="outline" expand="block" color="danger" (click)="delete()">Terminar cita</ion-button>
        </div>
    </form>
</ion-card>
    </ion-content>