<!-- app-example-mova-burguer -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaBurguer</h1>
		<br>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>Este componente dispone de los mismos atributos que el componente <a href="#!/example-mova-card"><b>mv.movaCard</b></a> además de los suyos propios.</p>
		</mv-card>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>Aunque no es obligatorio, este elemento está ideado para utilizar componentes <b>mv.movaItem</b> de tipo <b>transclude</b> como elementos de la lista, no obstante pueden usarse elementos <b>&lt;li></b>.</p>
		</mv-card>
		<p>Contenedor de elementos <b>&lt;ul></b> y <b>&lt;ol></b> de HTML5.</p>
		<p>La principal finalidad de este componente es facilitar un menú colapsable basado en una lista de elementos.</p>
		<p>Este componente acepta los siguientes atributos:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('initCollapsed')" >init-collapsed</a></li>
			<li><a href="" ng-click="$root.scrollTo('shadow')" >shadow</a></li>
		</ul>
	</mv-card>

	<mv-card>
		<h2 class="title-2">Ejemplo de uso HTML y resultado</h2>
		<br>
		<p>En este ejemplo se han utilizado algunas propiedades para dar color heredadas del componente <b>mv.movaCard</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-burguer<br>
				&emsp;&emsp;title="Ejemplo de menú Burguer"<br>
				&emsp;&emsp;bg-color="#155DB3"<br>
				&emsp;&emsp;title-color="#E6E6E6"<br>
				&emsp;&emsp;><br>
				&emsp;&emsp;&lt;mv-item click="clickOpcion('1')"<br>
				&emsp;&emsp;&emsp;&emsp;type="transclude"<br>
				&emsp;&emsp;&emsp;&emsp;><br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Opción 1<br>
				&emsp;&emsp;&lt;/mv-item><br>
				&emsp;&emsp;&lt;mv-item click="clickOpcion('2')"<br>
				&emsp;&emsp;&emsp;&emsp;type="transclude"<br>
				&emsp;&emsp;&emsp;&emsp;><br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Opción 2<br>
				&emsp;&emsp;&lt;/mv-item><br>
				&emsp;&emsp;&lt;mv-item click="clickOpcion('3')"<br>
				&emsp;&emsp;&emsp;&emsp;type="transclude"<br>
				&emsp;&emsp;&emsp;&emsp;><br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Opción 3<br>
				&emsp;&emsp;&lt;/mv-item><br>
				&lt;/mv-burguer>
			</span>
		</code>
		<mv-burguer
			title="Ejemplo de menú Burguer"
			bg-color="#155DB3"
			title-color="#E6E6E6"
			>
			<ul>
				<mv-item click="clickOpcion('1')"
					type="transclude"
					>
					Opción 1
				</mv-item>
				<mv-item click="clickOpcion('2')"
					type="transclude"
					>
					Opción 2
				</mv-item>
				<mv-item click="clickOpcion('3')"
					type="transclude"
					>
					Opción 3
				</mv-item>
			</ul>
		</mv-burguer>
	</mv-card>

	<mv-card
		id="initCollapsed"
		>
		<h3 class="title-3">init-collapsed</h3>
		<br>
		<p>La propiedad <b>init-collapsed</b> permite que el estado inicial del componente sea en modo colapsado.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-burguer<br>
				&emsp;&emsp;title="Ejemplo de menú Burguer"<br>
				&emsp;&emsp;<b>init-collapsed=true</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;&lt;mv-item click="clickOpcion('1')"<br>
				&emsp;&emsp;&emsp;&emsp;type="transclude"<br>
				&emsp;&emsp;&emsp;&emsp;><br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Opción 1<br>
				&emsp;&emsp;&lt;/mv-item><br>
				&lt;/mv-burguer>
			</span>
		</code>
		<mv-burguer
			title="Ejemplo de menú Burguer"
			init-collapsed=true
			>
			<ul>
				<mv-item click="clickOpcion('1')"
					type="transclude"
					>
					Opción 1
				</mv-item>
				<mv-item click="clickOpcion('2')"
					type="transclude"
					>
					Opción 2
				</mv-item>
				<mv-item click="clickOpcion('3')"
					type="transclude"
					>
					Opción 3
				</mv-item>
			</ul>
		</mv-burguer>
	</mv-card>

	<mv-card
		id="shadow"
		>
		<h3 class="title-3">shadow</h3>
		<br>
		<p>La propiedad <b>shadow</b> permite mostrar una sombra bajo el componente.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-burguer<br>
				&emsp;&emsp;title="Ejemplo de menú Burguer"<br>
				&emsp;&emsp;<b>shadow=true</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;&lt;mv-item click="clickOpcion('1')"<br>
				&emsp;&emsp;&emsp;&emsp;type="transclude"<br>
				&emsp;&emsp;&emsp;&emsp;><br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Opción 1<br>
				&emsp;&emsp;&lt;/mv-item><br>
				&lt;/mv-burguer>
			</span>
		</code>
		<mv-burguer
			title="Ejemplo de menú Burguer"
			shadow=true
			>
			<ul>
				<mv-item click="clickOpcion('1')"
					type="transclude"
					>
					Opción 1
				</mv-item>
				<mv-item click="clickOpcion('2')"
					type="transclude"
					>
					Opción 2
				</mv-item>
				<mv-item click="clickOpcion('3')"
					type="transclude"
					>
					Opción 3
				</mv-item>
			</ul>
		</mv-burguer>
	</mv-card>

</mv-screen>
