<!-- app-maquetacion-menu-2 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<mv-card
		class="app-ppro-mv-card-form mv-card-color-primary-001"
		default-css=false
		shadow=true
		border-color="rgba(1, 131, 115, 0.4)"
		round-corners=true>

		<!-- Contenedor de Cards -->
		<mv-container class="app-ppro-main">

			<h1 class="h1-color-primary-002">Aplicación móvil de paso a producción</h1>

			<div id="container">

				<!-- Elemento del contenedor -->
				<mv-container-item col-xs=12 col-sm=6 col-md=4>

					<!-- Opción del menu-2 principal -->
					<mv-card
						class="app-ppro-main-option app-ppro-main-option-option2"
						shadow=true
						border-color="#018373"
						badge-icon-class="{{iconLock}}">

						<mv-card
							default-css=false
							adapt=true
							class="app-ppro-main-option-gradient">
						</mv-card>

						<i class="app-ppro-main-option-icon fa fa-check"></i>
						<p class="app-ppro-main-option-text">Mis peticiones</p>
					</mv-card>

				</mv-container-item>

				<!-- Elemento del contenedor -->
				<mv-container-item col-xs=12 col-sm=6 col-md=4>

					<!-- Opción del menu-2 principal -->
					<mv-card
						class="app-ppro-main-option app-ppro-main-option-option1"
						shadow=true
						border-color="#018373">
						<mv-card
							default-css=false
							adapt=true
							class="app-ppro-main-option-gradient">
						</mv-card>

						<i class="app-ppro-main-option-icon fa fa-search"></i>
						<p class="app-ppro-main-option-text">Consulta de módulos técnicos</p>
					</mv-card>

				</mv-container-item>

				<!-- Elemento del contenedor -->
				<mv-container-item col-xs=12 col-sm=6 col-md=4>

					<!-- Opción del menu-2 principal -->
					<mv-card
						class="app-ppro-main-option app-ppro-main-option-option4"
						shadow=true
						border-color="#018373">

						<mv-card
							default-css=false
							adapt=true
							class="app-ppro-main-option-gradient">
						</mv-card>

						<i class="app-ppro-main-option-icon fa fa-search"></i>
						<p class="app-ppro-main-option-text">Módulos técnicos por máquinas</p>
					</mv-card>

				</mv-container-item>

				<!-- Elemento del contenedor -->
				<mv-container-item col-xs=12 col-sm=6 col-md=4>

					<!-- Opción del menu-2 principal -->
					<mv-card
						class="app-ppro-main-option app-ppro-main-option-option5"
						shadow=true
						border-color="#018373">

						<mv-card
							default-css=false
							adapt=true
							class="app-ppro-main-option-gradient">
						</mv-card>

						<i class="app-ppro-main-option-icon fa fa-search"></i>
						<p class="app-ppro-main-option-text">Módulos técnicos por bbdd</p>
					</mv-card>

				</mv-container-item>

				<!-- Elemento del contenedor -->
				<mv-container-item col-xs=12 col-sm=6 col-md=4>

					<!-- Opción del menu-2 principal -->
					<mv-card
						class="app-ppro-main-option app-ppro-main-option-option3"
						shadow=true
						border-color="#018373"
						badge-icon-class="{{iconLock}}">

						<mv-card
							default-css=false
							adapt=true
							class="app-ppro-main-option-gradient">
						</mv-card>

						<i class="app-ppro-main-option-icon fas fa-exclamation"></i>
						<p class="app-ppro-main-option-text">Autorizaciones urgentes</p>
					</mv-card>

				</mv-container-item>

				<!-- Elemento del contenedor -->
				<mv-container-item col-xs=12 col-sm=6 col-md=4>

					<!-- Opción del menu-2 principal -->
					<mv-card
						class="app-ppro-main-option app-ppro-main-option-option2"
						shadow=true
						border-color="#018373"
						badge-icon-class="{{iconLock}}">

						<mv-card
							default-css=false
							adapt=true
							class="app-ppro-main-option-gradient">
						</mv-card>

						<i class="app-ppro-main-option-icon fa fa-check"></i>
						<p class="app-ppro-main-option-text">Mis peticiones</p>
					</mv-card>

				</mv-container-item>

				<!-- Elemento del contenedor -->
				<mv-container-item col-xs=12 col-sm=6 col-md=4>

					<!-- Opción del menu-2 principal -->
					<mv-card
						class="app-ppro-main-option app-ppro-main-option-option1"
						shadow=true
						border-color="#018373">
						<mv-card
							default-css=false
							adapt=true
							class="app-ppro-main-option-gradient">
						</mv-card>

						<i class="app-ppro-main-option-icon fa fa-search"></i>
						<p class="app-ppro-main-option-text">Consulta de módulos técnicos</p>
					</mv-card>

				</mv-container-item>

				<!-- Elemento del contenedor -->
				<mv-container-item col-xs=12 col-sm=6 col-md=4>

					<!-- Opción del menu-2 principal -->
					<mv-card
						class="app-ppro-main-option app-ppro-main-option-option4"
						shadow=true
						border-color="#018373">

						<mv-card
							default-css=false
							adapt=true
							class="app-ppro-main-option-gradient">
						</mv-card>

						<i class="app-ppro-main-option-icon fa fa-search"></i>
						<p class="app-ppro-main-option-text">Módulos técnicos por máquinas</p>
					</mv-card>

				</mv-container-item>

				<!-- Elemento del contenedor -->
				<mv-container-item col-xs=12 col-sm=6 col-md=4>

					<!-- Opción del menu-2 principal -->
					<mv-card
						class="app-ppro-main-option app-ppro-main-option-option5"
						shadow=true
						border-color="#018373">

						<mv-card
							default-css=false
							adapt=true
							class="app-ppro-main-option-gradient">
						</mv-card>

						<i class="app-ppro-main-option-icon fa fa-search"></i>
						<p class="app-ppro-main-option-text">Módulos técnicos por bbdd</p>
					</mv-card>

				</mv-container-item>

				<!-- Elemento del contenedor -->
				<mv-container-item col-xs=12 col-sm=6 col-md=4>

					<!-- Opción del menu-2 principal -->
					<mv-card
						class="app-ppro-main-option app-ppro-main-option-option3"
						shadow=true
						border-color="#018373"
						badge-icon-class="{{iconLock}}">

						<mv-card
							default-css=false
							adapt=true
							class="app-ppro-main-option-gradient">
						</mv-card>

						<i class="app-ppro-main-option-icon fas fa-exclamation"></i>
						<p class="app-ppro-main-option-text">Autorizaciones urgentes</p>
					</mv-card>

				</mv-container-item>

			</div>

		</mv-container>

	</mv-card>

</mv-screen>
