<!-- app-maquetacion-portal -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<!-- Video -->
	<div class="video-container">
		<video autoplay muted loop id="myVideo">
		  <source src="media/images/examples/madrid.mp4" type="video/mp4">
		</video>
	</div>

	<mv-card
		class="app-maquetacion-portal-main-search"
		default-css=false
		>

		<mv-input
			id="appMaquetacionPortalMainSearchText"
			class="app-maquetacion-portal-main-search-input"
			placeholder="Busqueda avanzada por temas"
			>
		</mv-input>

		<mv-button
			class="app-maquetacion-portal-main-search-button"
			icon-class="fa fa-search"
			size="small"
			circle=false
			btn-type="color-primary-004"
			>
		</mv-button>

	</mv-card>

	<mv-container>

		<mv-container-item col-xs=12 col-sm=12 col-md=6 col-lg=3>

			<mv-card
				class="app-maquetacion-portal-main-option"
				title="VIVIR"
				bg-color="rgba(21,92,178,0.6)"
				border-color="#FFFFFF"
				border-width="thin"
				round-corners=true
				>
				<mv-input-image
					class="app-maquetacion-portal-main-option-icon"
					src="media/images/examples/portal-001.png"
					circle=true
					size="medium"
					>
				</mv-input-image>
				<p>Información y sercicios para tu vida diaria</p>
			</mv-card>

			<mv-card
				class="app-maquetacion-portal-main-option-secondary"
				bg-color="rgba(0, 0, 0, 0.5)"
				border-color="transparent"
				round-corners=true
				>
				<p>Cita sanitaria</p>
				<p>Demanda de empleo</p>
				<p>Calendario escolar</p>
				<p>Familias numerosas</p>
				<p>Apps transporte público</p>
			</mv-card>

			<mv-card
				class="app-maquetacion-portal-main-plus"
				default-css=false
				>
				<span>+</span>
			</mv-card>

		</mv-container-item>

		<mv-container-item col-xs=12 col-sm=12 col-md=6 col-lg=3>

			<mv-card
				class="app-maquetacion-portal-main-option"
				title="DISFRUTAR"
				bg-color="rgba(1,131,115,0.6)"
				border-color="#FFFFFF"
				border-width="thin"
				round-corners=true
				>
				<mv-input-image
					class="app-maquetacion-portal-main-option-icon"
					src="media/images/examples/portal-002.png"
					circle=true
					size="medium"
					>
				</mv-input-image>
				<p>Tu agenda de cultura, ocio y eventos</p>
			</mv-card>

			<mv-card
				class="app-maquetacion-portal-main-option-secondary"
				bg-color="rgba(0, 0, 0, 0.5)"
				border-color="transparent"
				round-corners=true
				>
				<p>Paseando por Madrid</p>
				<p>Mercados gastronómicos</p>
				<p>Museos y exposiciones</p>
				<p>Espacios naturales</p>
				<p>Experiencias únicas</p>
			</mv-card>

			<mv-card
				class="app-maquetacion-portal-main-plus"
				default-css=false
				>
				<span>+</span>
			</mv-card>

		</mv-container-item>

		<mv-container-item col-xs=12 col-sm=12 col-md=6 col-lg=3>

			<mv-card
				class="app-maquetacion-portal-main-option"
				title="INVERTIR"
				bg-color="rgba(86,115,131,0.6)"
				border-color="#FFFFFF"
				border-width="thin"
				round-corners=true
				>
				<mv-input-image
					class="app-maquetacion-portal-main-option-icon"
					src="media/images/examples/portal-003.png"
					circle=true
					size="medium"
					>
				</mv-input-image>
				<p>Inversión, innovación y desarrollo empresarial</p>
			</mv-card>

			<mv-card
				class="app-maquetacion-portal-main-option-secondary"
				bg-color="rgba(0, 0, 0, 0.5)"
				border-color="transparent"
				round-corners=true
				>
				<p>Quiero montar una empresa</p>
				<p>¿Por que invertir en madrid?</p>
				<p>Tarifa plana para autónomos</p>
				<p>Ciencia y tecnología</p>
				<p>Relaciones con Inversores</p>
			</mv-card>

			<mv-card
				class="app-maquetacion-portal-main-plus"
				default-css=false
				>
				<span>+</span>
			</mv-card>

		</mv-container-item>

		<mv-container-item col-xs=12 col-sm=12 col-md=6 col-lg=3>

			<mv-card
				class="app-maquetacion-portal-main-option"
				title="ACCIÓN DE GOBIERNO"
				bg-color="rgba(208,1,3,0.6)"
				border-color="#FFFFFF"
				border-width="thin"
				round-corners=true
				>
				<mv-input-image
					class="app-maquetacion-portal-main-option-icon"
					src="media/images/examples/portal-004.png"
					circle=true
					size="medium"
					>
				</mv-input-image>
				<p>El gobierno y la administración regional</p>
			</mv-card>

			<mv-card
				class="app-maquetacion-portal-main-option-secondary"
				bg-color="rgba(0, 0, 0, 0.5)"
				border-color="transparent"
				round-corners=true
				>
				<p>Actualidad</p>
				<p>Transpariencia</p>
				<p>Atención al ciudadano</p>
				<p>Agenda del gobierno</p>
				<p>Gestiones y trámites</p>
			</mv-card>

			<mv-card
				class="app-maquetacion-portal-main-plus"
				default-css=false
				>
				<span>+</span>
			</mv-card>

		</mv-container-item>

	</mv-container>

	<mv-card
		class="app-maquetacion-portal-main-options-social"
		default-css=false
		>

		<mv-input-image
			default-css=false
			class="app-maquetacion-portal-main-option-social"
			src="media/images/examples/menu_icon_facebook.png"
			size="small"
			>
		</mv-input-image>

		<mv-input-image
			default-css=false
			class="app-maquetacion-portal-main-option-social"
			src="media/images/examples/menu_icon_twitter.png"
			size="small"
			>
		</mv-input-image>

		<mv-input-image
			default-css=false
			class="app-maquetacion-portal-main-option-social"
			src="media/images/examples/menu_icon_youtube.png"
			size="small"
			>
		</mv-input-image>

		<mv-input-image
			default-css=false
			class="app-maquetacion-portal-main-option-social"
			src="media/images/examples/menu_icon_linkedin.png"
			size="small"
			>
		</mv-input-image>

		<mv-input-image
			default-css=false
			class="app-maquetacion-portal-main-option-social"
			src="media/images/examples/menu_icon_instagram.png"
			size="small"
			>
		</mv-input-image>

	</mv-card>

</mv-screen>
