/*
╔══════════════════════════════╗
║ app-maquetacion-portal style ║
╚══════════════════════════════╝
*/
app-maquetacion-portal {
	
	//@include view-style;

  /* Hack para que el fondo fijo funcione en móviles */
  &:before {
      content: "";
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -10;
      background: url('media/images/examples/madrid.png') no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }

  /**************************
   * CSS del video de fondo *
   **************************/

  .video-container {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
  }
  .video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }


  .app-maquetacion-portal-main-option {
    color: $color-secondary-011;

    margin: 6rem auto 0.55rem auto !important;

    padding: 4rem 2rem 2rem 2rem !important;

    font-size: $font-size-big !important;
    text-align: center;

    height: auto;
    min-height: 9rem;

    max-width: 90% !important;

    p {

      display: block;

      margin: 0 0 0 0;
    }

    > span {
      > .mv-card-title-h1 {
        display: block !important;
        text-align: center;
      }
    }

    > .mv-card-container {
      > .mv-card-hr-default-style {
        max-width: 6rem;
        margin: 0.35rem auto 1.5rem auto !important;
      }

      > .app-maquetacion-portal-main-option-icon {

        position: absolute;

        /*width: 100%;*/
        top: -3.55rem;
        left: calc(50% - 45px);
      }
    }
  }

  .app-maquetacion-portal-main-option-secondary {

    color: #D5D5D5;

    margin: 1rem auto 0.55rem auto !important;

    padding: 0.55rem 0.55rem 0.55rem 0.55rem !important;

    font-size: $font-size-big !important;
    text-align: center;

    max-width: 90% !important;
  }

  .app-maquetacion-portal-main-plus {

    margin: 2rem 0 4rem 0;

    > .mv-card-container {

      text-align: center;

      span {

        @include mx-round-corners(5rem, 5rem, 5rem, 5rem);     

        background-color: rgba(0, 0, 0, 0.5);

        font-family: aria;

        font-size: $font-size-big;

        margin: 0 0 0 0;

        border: solid medium $color-secondary-011;

        padding: 0.45rem 0.85rem;

        color: $color-secondary-011;
      }
    }
  }

  .app-maquetacion-portal-main-search {

    margin: 4rem 0 0 0;

    text-align: center;

    > .mv-card-container {

      #appMaquetacionPortalMainSearchTextContainer {

        display: inline-block;
        width: 80% !important;

        .app-maquetacion-portal-main-search-input {

          border: none;
        }
      }

      > .app-maquetacion-portal-main-search-button {

        display: inline-block;
        vertical-align: top;
        margin-top: 0;
        margin-left: 1rem;
        border: none;
      }
    }
  }

  .app-maquetacion-portal-main-options-social {

    text-align: center;

    margin-bottom: 4rem;

    > .mv-card-container {

      > .app-maquetacion-portal-main-option-social {

        margin: 0.55rem;
        padding: 0.55rem;
        background-color: red;

        &:nth-child(1) {
          background-color: #3b5998;
        }

        &:nth-child(2) {
          background-color: #55acee;
        }

        &:nth-child(3) {
          background-color: #e52d27;
        }

        &:nth-child(4) {
          background-color: #0976b4;
        }

        &:nth-child(5) {
          background-color: #ce0a7e;
        }
      }
    }
  }
}

/*
┌──────────────────┐
│ Bootstrap col-xs │
└──────────────────┘
*/

@media only screen and (max-width : $media-col-xs-max) {

  app-maquetacion-portal {

    .video-container {
      display: none;
    }
  }

}

/*
┌──────────────────┐
│ Bootstrap col-sm │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-sm-min) and (max-width : $media-col-sm-max) {

  app-maquetacion-portal {

    .video-container {
      display: none;
    }
  }
}