
<app-cabecera [titulohead]="tituhead"></app-cabecera>
<!-- <ion-buttons slot="end">
        <ion-back-button text="" color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>

      --> 
<ion-content *ngIf="isAdmin === true" padding>
<ion-grid>
  <div style="margin-top: 20%">
<ion-row >
 <ion-col col-4>
   <div  routerLink="/cliente-admin-principal" class="bot bot_irHistoryClinico centrado">
      <img src="../../../assets/imgs/bot_cliente_seguimiento/historialClinico.png">
      <p>Administrar Usuarios</p>
    </div>
 </ion-col>
 <ion-col  col-4>
   <div (click)="onAccederUser()" class="bot bot_seguimiento centrado">
      <img src="../../../assets/imgs/bot_cliente_seguimiento/seguimiento.png">
      <p>Administrar Usuario</p>
  </div>
 </ion-col>
</ion-row>
</div>
</ion-grid>
</ion-content>

<ion-footer>
  <div *ngIf="isPasi === true" text-center>
  
    <h5>Estas con las credeciales de un paciente!!</h5>
    <ion-col text-center  col-4>
        
        <ion-button color="primary" expand="full"  routerLink="/cliente-perfil-user" round>
        Continuar como el usuario
        </ion-button>
      </ion-col>
    <ion-button color="primary" expand="full" (click)="onLogout()" round>
      <img  class="centrado">Cerrar Sesión
      </ion-button>
  </div> 
</ion-footer>



