<!-- app-example-mova-header -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaHeader</h1>
		<br>
		<p>Cabecera de página con información adicional, botón de navegación hacia atrás y botón de menú.</p>
		<p>Este componente muestra una barra fija en la parte superior de la vista.</p>
		<p>Este componente se utiliza por defecto en el componente<b>mv.movaScreen</b> y se puede mostrar u ocultar mediante su parámetro <b>no-header</b>. El resto de parámetros también deben ser usados a través del componente <b>mv.movaScreen</b>.</p>
		<p>Si se utiliza directamente mediante el código HTML en vez de mediante el componente <b>mv.movaScreen</b> el posicionado fijo en la parte superior debe ser implementado de forma independiente.</p>
		<p>Este componente acepta los siguientes atributos:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('noFooter')" >no-footer</a></li>
			<li><a href="" ng-click="$root.scrollTo('noHeader')" >no-header</a></li>
			<li><a href="" ng-click="$root.scrollTo('showBack')" >show-back</a></li>
			<li><a href="" ng-click="$root.scrollTo('showLogo')" >show-logo</a></li>
			<li><a href="" ng-click="$root.scrollTo('showMenu')" >show-menu</a></li>
			<li><a href="" ng-click="$root.scrollTo('showSubtitle')" >show-subtitle</a></li>
			<li><a href="" ng-click="$root.scrollTo('subtitulo')" >subtitulo</a></li>
			<li><a href="" ng-click="$root.scrollTo('titulo')" >titulo</a></li>
		</ul>
		<p>Este componente dispone de los siguientes eventos:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('RefreshHeader')" >RefreshHeader</a></li>
		</ul>
	</mv-card>

	<mv-card>
		<h2  class="title-2">Ejemplo de uso HTML y resultado</h2>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-header<br>
				&emsp;&emsp;titulo="Texto del título."<br>
				&emsp;&emsp;subtitulo="Texto del subtítulo."<br>
				><br>
				&lt;/mv-header>
			</span>
		</code>
	</mv-card>



	<mv-card
		id="noFooter"
		>
		<h3 class="title-3">no-footer</h3>
		<br>
		<p>La propiedad <b>no-footer</b> permite ocultar o mostrar el footer del componente <b>mv.movaFooter</b> de una pantalla.</p>
		<p>Por defecto el footer se muestra en la pantalla.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-screen><br>
				&emsp;&emsp;no-footer=false<br>
				&lt;/mv-screen>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="noHeader"
		>
		<h3 class="title-3">no-header</h3>
		<br>
		<p>La propiedad <b>no-header</b> permite ocultar o mostrar el header del componente <b>mv.movaHeader</b> de una pantalla.</p>
		<p>Por defecto el header se muestra en la pantalla.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-screen><br>
				&emsp;&emsp;no-header=false<br>
				&lt;/mv-screen>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="showBack"
		>
		<h3 class="title-3">show-back</h3>
		<br>
		<p>La propiedad <b>show-back</b> permite ocultar el botón de atrás del header.</p>
		<p>Por defecto, si se muestra el botón de atrás.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-screen><br>
				&emsp;&emsp;show-back="false"<br>
				&lt;/mv-screen>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="showLogo"
		>
		<h3 class="title-3">show-logo</h3>
		<br>
		<p>La propiedad <b>show-logo</b> permite ocultar el icono de la App del header.</p>
		<p>Por defecto, si se muestra el icono de la App del header.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-screen><br>
				&emsp;&emsp;show-logo="false"<br>
				&lt;/mv-screen>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="showMenu"
		>
		<h3 class="title-3">show-menu</h3>
		<br>
		<p>La propiedad <b>show-menu</b> permite ocultar el botón de menú del header.</p>
		<p>Por defecto, si se muestra el botón de menú del header.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-screen><br>
				&emsp;&emsp;show-menu="false"<br>
				&lt;/mv-screen>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="showSubtitle"
		>
		<h3 class="title-3">show-menu</h3>
		<br>
		<p>La propiedad <b>show-subtitle</b> permite ocultar el texto con el subtítulo del header.</p>
		<p>Por defecto, si se muestra el texto con el subtítulo del header.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-screen><br>
				&emsp;&emsp;show-subtitle="false"<br>
				&lt;/mv-screen>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="subtitulo"
		>
		<h3 class="title-3">subtitulo</h3>
		<br>
		<p>La propiedad <b>subtitulo</b> permite elegir el texto a mostrar en el subtítulo del header del componente <b>mv.movaHeader</b> de una pantalla.</p>
		<p>Por defecto, si se muestra el header, el título es el valor de la propiedad appSubtitle del componente <b>app.config</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-screen><br>
				&emsp;&emsp;subtitulo="Soy un subtítulo"<br>
				&lt;/mv-screen>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="titulo"
		>
		<h3 class="title-3">titulo</h3>
		<br>
		<p>La propiedad <b>titulo</b> permite elegir el texto a mostrar en el título del header del componente <b>mv.movaHeader</b> de una pantalla.</p>
		<p>Por defecto, si se muestra el header, el título es el valor de la propiedad appTitle del componente <b>app.config</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-screen><br>
				&emsp;&emsp;titulo="Soy un título"<br>
				&lt;/mv-screen>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="RefreshHeader"
		>
		<h3 class="title-3">Ev: RefreshHeader</h3>
		<br>
		<p>El evento <b>RefreshHeader</b> permite actualizar el aspecto del header, para ello recibe un objeto con varios atributos, depende del valor de estos atributos la apariencia cambiará de una forma u otra.</p>
		<p>Se puede llamar a este evento desde el controlador de un componente mediante la siguiente instrucción:</p>
		<code>
			<badge>JavaScript</badge>
			let data = {};<br><br>
			data.showBack = false;<br>
			data.showLogo = true;<br>
			data.showMenu = true<br>
			data.showSubtitle = false;<br><br>
			$rootScope.$emit('rootScope:movaHeaderController:RefreshHeader',data);
		</code>
		<br>
		<p>El parámetro data es un objeto que puede contener los atributos <b>showBack</b>, <b>showLogo</b>, <b>showMenu</b> y <b>showSubtitle</b>.</p>
		<p>Los valores de los atributos son booleanos</p>
		
		<mv-button
			click="pruebaMostrarTodo()">
			Mostrar todos los elementos
		</mv-button><br>
		<mv-button
			click="pruebaOcultarTodo()">
			Ocultar todos los elementos
		</mv-button><br>
		<mv-button
			click="pruebaOcultarBack()">
			Ocultar atrás
		</mv-button><br>
		<mv-button
			click="pruebaOcultarLogo()">
			Ocultar logo
		</mv-button><br>
		<mv-button
			click="pruebaOcultarMenu()">
			Ocultar menú
		</mv-button><br>
		<mv-button
			click="pruebaOcultarSubtitle()">
			Ocultar subtítulo
		</mv-button><br>
	</mv-card>

</mv-screen>
