/*
╔══════════════════╗
║ mova-login style ║
╚══════════════════╝
*/

/*mv-login {*/

	/* Decoración especial superior */
	/*.mv-login-star-top {
		position: absolute;
		height: 25px;
		width: 100%;
		background-image: url('media/images/star_01.png');
		background-size: cover;
		top: 0;
		left: 0;
	}*/

	/* Decoración especial derecha */
	/*.mv-login-star-right {
		position: absolute;
		width: 9%;
		height: 100%;
		right: 0;
		top: 0;
		background-image: url('media/images/star_02.png');
		background-size: cover;
	}*/

	/* Bloque principal */
	/*.mv-login-section {
		background-color: transparent;
		text-align: center;
		margin: 0 auto;
		max-width: 30rem;
		padding: 2rem;*/

		/* Titulo */
		/*.mv-login-h1 {
			font-size: 1.2rem;
			font-weight: bold;
			margin: 1.8rem 0 1.8rem 0;
		}

		#mv-login-button-login {

			margin: 1.55rem 0 0 0;

			i {
				margin: 0 0.75rem 0 0;
			}
		}

		#mv-login-logo-separator {
			display: inline-block;
			border-left: 1pt solid #c5c5c5;
			height: 3.5rem;
			vertical-align: bottom;
			margin: 0 0 0.35rem 0;
		}*/

		/* Logo izquierda */
		/*.mv-login-logo {
			max-width:5rem;
			max-height:5rem;
			width: auto;
			height: auto;
			margin: 0 0.5rem 0 0.5rem;
			padding: 0rem 0.5rem;
		}*/

		/* Logo derecha */
		/*.mv-login-logo:nth-child(2) {
			/*border-left: 1px solid #CCC;*/
		/*}*/
/*	}*/
/*
	#mv-login-version {
		position: fixed;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		bottom: 0.5rem;
		right: 0.55rem;
		font-size: $font-size-small;
		color: $color-shadow;

		a {
			color: $color-shadow;
		}
	}

	#mv-login-left-bottom-corner {
		padding: 0 0 0 0;
		margin: 1.55rem 0 1.55rem 0;
		font-size: $font-size-small;
		color: $color-shadow;

		a {
		}
	}

	#footer{
		position: fixed;
		bottom: 0;
		width: 100%;
		min-height: 4rem;
		padding: 0.55rem;
		background-color: $color-primary-004 !important;
		-webkit-box-shadow: 0 -0.2em 0.25em 0 rgba(49,52,56, 0.35);
		-moz-box-shadow:    0 -0.2em 0.25em 0 rgba(49,52,56, 0.35);
		box-shadow:         0 -0.2em 0.25em 0 rgba(49,52,56, 0.35);
		z-index: $z-index_footer;

		section {

			.linksTodosPortales{
				text-align: center;
				margin-top: 3em;
				a{
					color: #fff;
					font-weight: bold;
				}
			}

			.links{
				text-align: center;
				margin: auto;
				li{
					a{
						color: #fff;
					}
					display: inline-block;
					margin-right: 1em;
					border-right: 1px solid #fff;
					padding-right: 1em;
					width: 8em;
				}
				li:nth-child(2){
					width: 14em;
				}
				li:last-child{
					border: none;
				}
			}

		}
	}

}
*/