
      <ion-content>
            <app-header [tituloHeader]="textHeader"></app-header>

      <div>
          <ion-row no-padding class="animated fadeIn fast">
              <ion-col size="6" offset="3">
                  <img class="circular" [src]="image" *ngIf="image" />
              </ion-col>
          </ion-row>
      </div>
      <ion-card>

      <form  [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    
          <div>
              <ion-label position="floating" color="ion-color-dark">Nombre </ion-label>
              <ion-input placeholder="Nombre" type="text" formControlName="nombre"></ion-input>
          </div>
          <div>
              <ion-label position="floating" color="ion-color-dark">Dirección</ion-label>
              <ion-input placeholder="Dirección" type="text" formControlName="direccion"></ion-input>
          </div>
          <div>
              <ion-label position="floating" color="ion-color-dark">Tipo Incidencias</ion-label>
              <ion-input placeholder="Tipo Incidencias" type="text" formControlName="tipoIncidencia"></ion-input>
          </div>
          <div>
            <textarea formControlName="textIncidencia">

            </textarea>
          </div>
      </form>
      </ion-card>
  </ion-content>
  