ion-content{

    --background: url('/assets/imgs/incidencia.jpg') no-repeat fixed center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
        --background-attachment: fixed;
}

@media only screen and (min-width:414px){
    ion-content{
        --background: url("/assets/imgs/incidenciaS.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
            --background-attachment: fixed;
    }
}

div{
    padding-left: 2rem
}

hr{
    background: black;
    width: 100%;
    margin-left: -1rem;
    margin-top: -0.3rem;
}

form{
    color: black;
}

ion-label{
    font-weight: bold;
}

ion-card{
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

textarea{
    font-weight: bold;
    width: 90%;
    background: rgba(38, 166, 255, 0.7);
}