<!-- app-pantalla4 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	float-footer="{{ screen.floatFooter }}"
	show-back="{{ screen.showBack }}"
	show-menu="{{ screen.showMenu }}"
	show-logo="{{ screen.showLogo }}"
	show-subtitle="{{ screen.showSubtitle }}">

	<mv-container id="prev" class="app-main-menu-mv-card-main">

			<h2 id="h2Prev">Humanización</h2>

			<p>Para mejorar la calidad de vida de los pacientes se ha incorporado un 
				plan de humanización de la atención del paciente, proyectos y actividades
				complementarias a la asistencial que tienen como objetivo conseguir que 
				nuestros pacientes, durante el tiempo que están ingresados, se encuentren 
				cómodos y acompañados.</p>

			<ul id="P11">
				<li>Reducción contaminación lumínica<br/><br/>
				<img src="media/images/examples/atmosphere.jpg"/></li>

				<li>Huerto para pacientes<br/><br/>
					<img src="media/images/examples/appletree.jpg"/></li>

				<li>Ciclismo indoor<br/><br/>
					<img src="media/images/examples/fitactivity.jpg"/></li>
		
				<li>Terapias (Cuadros Thyssen)<br/><br/>
					<img src="media/images/examples/bandage.jpg"/></li>
				
				<li>Psicología para familiares<br/><br/>
					<img src="media/images/examples/family.png"/></li>
			</ul>

	</mv-container>

	

</mv-screen>
