
<ion-content padding>
    <div class="volver">
        <img (click)="goBack()" src="../../../assets/imgs/volver.png" alt="">
      </div>
      <div class="titulo">
        <p><img src="../../../assets/imgs/gestionUsuarios.png" alt="">{{this.item.nombre}}</p>
      </div>
  <div text-center class="foto mx-auto">
    <img class="foto" src="../../../assets/imgs/user.png" alt="">
  </div>
  <div text-center>
    <h3>{{this.item.nombre}}</h3>
  </div>
  <div class="lista">
    <p>{{this.item.nombre}}</p>
    <p>{{this.item.apellido}}</p>
    <p>{{this.item.email}}</p>
    <p>{{this.item.telefono}}</p>
  </div>
<div text-center>
  <button type="button" (click)="delete() ">ELIMINAR USUARIO</button>
</div>
</ion-content>
