<!-- app-example-mova-button-login -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaButtonLogin</h1>
		<br>
		<p>Botón para realizar login y logout.</p>
		<p>Este componente no es configurable mediante parámetros especiales.</p>
		<p>El estilo del botón es diferente dependiendo de si se esta logado o no, no se debe modificar el estilo.</p>
	</mv-card>

	<mv-card>
		<h2  class="title-2">Ejemplo de uso HTML y resultado</h2>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-button-login>&lt;/mv-login>				
			</span>
		</code>
		<mv-button-login></mv-button-login>
	</mv-card>

</mv-screen>