

.inputexto2{

    color: #3B3B3B;
    background: #FFFFFF;
    font-size: 13px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding-left: 1rem;
    
    }

    .arrow{
        height: 1.5rem;
        float: right;
        padding-right: 1rem;
    }
h5{
    color: #BB1D1D;
    font-weight: bold;
}

