<app-cabecera [titulohead]="tituhead"></app-cabecera>
<button  (click)="goBack()" style="background: transparent !important ; float:left;">
  <img class="arrow" src="../../../assets/imgs/arrow.png"/>
</button>
<ion-content padding>
<form  [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    
        <ion-grid>
          <ion-row>
          <ion-col>
              <h5>Nombre Ejercicio</h5>
              <ion-input type="text" formControlName="titulo"  class="inputexto2" readonly="true"></ion-input>
          </ion-col>
          <ion-col size="12">
              <h5>Inicio</h5> 
                  <ion-item>
                    <ion-input  class="inputexto2" readonly="true">{{this.item.horaInicio | date:"HH:mm"}}</ion-input>
                  </ion-item>
          </ion-col>
            <ion-col size="12">
                <h5>Finalizó Ejercicio</h5> 
                  <ion-item>
                      <ion-input  class="inputexto2" readonly="true">{{this.item.horaFinal | date:"HH:mm"}}</ion-input>
                    </ion-item>
              </ion-col>
            <ion-col size="12">
                <h5>Descripción</h5> 
                    <ion-item>
                        <ion-input  formControlName="descripcion" class="inputexto2" readonly="true"></ion-input>
                      </ion-item>
          </ion-col>
                          </ion-row>
        </ion-grid>
</form>

      <div text-center>
        <ion-button   (click)="delete()">Borrar</ion-button>
      </div>
</ion-content>
  