header{
    background: #26a6ff;
}

.arrendador{
    background: #26a6ff;
    height: 2rem;
}



h5{
    //text-shadow: 1px 1px whitesmoke;
    //padding-top: 1rem;
    color: white;
    padding-top: 0.3rem;
    position: relative;
    font-size: larger;
    /* background: black; */
    width: 70%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    margin-left: 15%;
    //padding-bottom: 0.3rem;
    font-weight: bold;
    text-transform: uppercase;
}


.image{
    float: left;
    position: relative;
    margin-top: -1.8rem;
    height: 1rem;
    padding-left: 0.5rem;
}

.arrow{
    float: left;
    position: relative;
    margin-top: -1.8rem;
    height: 1rem;
    padding-left: 0.5rem;
}


.navbar.navbar-expand-lg{
    background-color: #26a6ff;
    color: black;
}

.collapse.navbar-collapse{
    //background: rgb(197,197,197);
    color: black;
margin-left: -1rem;
margin-right: -2rem;
padding-left: 1rem;
margin-bottom: -0.5rem;
}




.logotipo{
    padding-right: 1rem;
    height: 2rem;
}

a.nav-link{
    color: black;
}

.navbar-brand{
    color: black;
    font-size: x-large;
    position: relative;
    display: flex;
}


ion-content{
    --background: url('/assets/imgs/editarPerfil.png') no-repeat fixed center;
    -webkit-background-size: contain;
            -moz-background-size: contain;
            background-size: contain;
}

input{
    border: none;
    text-transform: capitalize;
}

ion-item{
    font-size: initial;
}

.circular{
    position: relative;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    z-index: 1;
    /* margin-bottom: -1rem; */
    margin-left: -1rem;
}

.tarjeta{
    position: relative;
    z-index: 0;
    justify-content: center;
    width: 90%;
    border-radius: 25px;
   // min-height: rem;
    min-width: 90%;

}
ion-label{
    position: absolute;
    left: 0;
    font-size: initial;
}

.botones{
    width: 13rem;
    border-radius: 5px;
    height: 2.5rem;
    background: #26a6ff;
    box-shadow: 1px 1px black;
    color: white;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.boton-foto{
    width: 10rem;
    border-radius: 5px;
    height: 2rem;
    background: #26a6ff;
    box-shadow: 1px 1px black;
    margin-bottom: 1rem;
    color: white;

}

.boton-borrar{
    width: 20rem;
    border-radius: 5px;
    height: 2.5rem;
    margin-top: 0.5rem;
    background: white;
    box-shadow: 1px 1px black;
    margin-bottom: 5;
}

.caja{
    padding-left: 1rem !important;
    background: white;
    margin-bottom: -0.9rem;
    font-size: initial;
}

hr{
    color: black;
    background: black;
    margin-left: -20rem;
}

p{
    width: 100%;
}

textarea{
    width: 100%;
    border: none;
}



@media (min-width:414px) and (max-width:736px){

    .circular{
        position: relative;
        border-radius: 50%;
        height: 8rem;
        width: 8rem;
        z-index: 1;
        margin-bottom: 1rem;
        margin-left: -1rem;
    }

    .boton-foto{
        width: 10rem;
        border-radius: 5px;
        height: 2rem;
        background: #26a6ff;
        box-shadow: 1px 1px black;
        margin-bottom: 1rem;
        color: white;
    
    }
    
    .tarjeta{
        position: relative;
        z-index: 0;
       // margin-top: -3rem;
        justify-content: center;
       // margin-left: 1rem;
        width: 90%;
        border-radius: 25px;
        min-height: 20rem;
        min-width: 90%;
    
    }

}