<header class="arrendador" *ngIf="isUserArrendador == true" style="background:#26a6ff">
  <div class="titulo" text-center>
    <h5>Completar perfil</h5>
  </div>
  <div>
    <img class="arrow" (click)="goBack()" src="/assets/icon/flecha.png">
  </div>

</header>
<ion-header style="background:#26a6ff" *ngIf="isUserAgente == true">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" style="text-align: initial" href="#" style="">Completar perfil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a style="color: black;" class="nav-link" (click)="goHome()">Inicio Agente </a>
        </li>
        <li class="nav-item">
          <a style="color: black;" class="nav-link" (click)="goPisos()">Lista pisos</a>
        <!-- <li class="nav-item">
          <a style="color: black;" class="nav-link" (click)="goAlquileres()">Alquileres Activos</a>
        </li>
        <li class="nav-item">
          <a style="color: black;" class="nav-link" (click)="goContratos()">Contratos</a>
        </li>-->
        <li class="nav-item">
          <a style="color: black;" class="nav-link" (click)="goPerfil()">Perfil</a>
        </li>
      </ul>
    </div>
  </nav>

</ion-header>


<ion-content>


  <div>
    <div text-center class="mx-auto" size="12">
      <img class="circular" [src]="image" *ngIf="image" />
    </div>
    <div text-center class="mx-auto" size="12">
      <button class="boton-foto" (click)="getPicture()">Agrega tu Foto</button>
    </div>
  </div>
  <form style="font-family: Comfortaa" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <ion-list class="tarjeta mx-auto">
      <ion-item lines="none" style="padding-top: 2rem;">
        <p color="ion-color-dark">
          <b>Nombre:</b>
          <br />
          <input placeholder="Nombre" type="text" formControlName="nombre" /></p>

      </ion-item>
      <ion-item lines="none">
        <p position="floating" color="ion-color-dark">
          <b>Apellidos:</b>
          <br />
          <input placeholder="apellido" type="text" formControlName="apellidos" />
        </p>

      </ion-item>
      <ion-item>
        <p color="ion-color-dark"><b>Fecha de nacimiento:</b>
          <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" max="2001" padding
            placeholder="Fecha de nacimiento" type="date" formControlName="fechaNacimiento" done-text="Aceptar"
            cancel-text="Cancelar"></ion-datetime>
        </p>
      </ion-item>
      <ion-item lines="none">
        <p position="floating" color="ion-color-dark">
          <b>DNI:</b>
          <br />
          <input placeholder="DNI" minlength="9" maxlength="9" type="text" formControlName="dniArrendador" />
        </p>

      </ion-item>
      <ion-item lines="none">
        <p position="floating" color="ion-color-dark">
          <b>Domicilio Actual:</b>
          <br />
          <textarea placeholder="Domicilio Actual" type="text" formControlName="domicilio"></textarea>
        </p>

      </ion-item>

      <ion-item lines="none">
        <p color="ion-color-dark"><b>Correo electronico:</b>
          <br />
          <input placeholder="Correo Electronico" type="email" formControlName="email" />
        </p>

      </ion-item>
      <ion-item lines="none">
        <p color="ion-color-dark"><b>Teléfono:</b>
          <br />
          <input placeholder="666555444" type="tel" formControlName="telefono" />
        </p>

      </ion-item>
      <ion-item lines="none">
        <p position="floating" color="ion-color-dark">
          <b>Codigo Postal:</b>
          <br />
          <input placeholder="Codigo Postal" type="text" formControlName="codigoPostal" />
        </p>

      </ion-item>
      <div>
        <ion-button size="small" expand="block" text-center class="mx-auto" color="primary" type="button"
          data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <div text-center style="color: black;">Si eres una empresa</div>
        </ion-button>
      </div>
      <div style="background: transparent" class="collapse" id="collapseExample">
        <div style="background: transparent" class="card card-body">
          <ion-item lines="none">
            <p position="floating" color="ion-color-dark">
              <b>Empresa:</b>
              <br />
              <input placeholder="Empresa" type="text" formControlName="empresa" />
            </p>

          </ion-item>
          <ion-item lines="none">
            <p position="floating" color="ion-color-dark">
              <b>Razón Social:</b>
              <br />
              <input placeholder="Razon Social" type="text" formControlName="social" />
            </p>

          </ion-item>
          <ion-item lines="none">
            <p position="floating" color="ion-color-dark">
              <b>NIF/CIF:</b>
              <br />
              <input placeholder="NIF/CIF" type="text" formControlName="nif" />
            </p>

          </ion-item>
          <ion-item lines="none">
            <p position="floating" color="ion-color-dark">
              <b>Fecha de Contitución:</b>
              <br />
              <input placeholder="Fecha de Contitución" type="text" formControlName="fechaConstitucion" />
            </p>

          </ion-item>

          <ion-item lines="none">
            <p position="floating" color="ion-color-dark">
              <b>Domicilio Social:</b>
              <br />
              <input placeholder="Domicilio Social" type="text" formControlName="domicilioSocial" />
            </p>

          </ion-item>
          <ion-item lines="none">
            <p position="floating" color="ion-color-dark">
              <b>Correo electrónico:</b>
              <br />
              <input placeholder="Correo electrónico" type="text" formControlName="correoEmpresa" />
            </p>

          </ion-item>
          <ion-item lines="none">
            <p position="floating" color="ion-color-dark">
              <b>Teléfono empresa:</b>
              <br />
              <input placeholder="Teléfono Empresa" type="text" formControlName="telefonoEmpresa" />
            </p>

          </ion-item>
        </div>
      </div>
    </ion-list>
    <div class="div-boton" text-center>
      <button class="botones" type="submit" [disabled]="!validations_form.valid">Crear</button>
    </div>
  </form>

</ion-content>