<!-- app-example-mova-select -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaSelect</h1>
		<br>
		<p>Componente que proporciona opciones seleccionables similar al componente <b>&lt;select></b> de HTML5.</p>
		<p>El componente necesita usar la propiedad <b>options</b> que contendrá un array de opciones, cada opción debe ser un JSON con al menos dos atributos, un identificador y un texto.</p>
		<p>Mediante la propiedad <b>option-id</b> podemos definir el nombre de la propiedad del array de opciones que hará de identificador, por defecto será la que se llame id salvo que se indique otra.</p>
		<p>Mediante la propiedad <b>option-name</b> podemos definir el nombre de la propiedad del array de opciones que hará de nombre a mostrar en el componente, por defecto será la que se llame name salvo que se indique otra.</p>
		<p>Este componente acepta los mismos atributos de HTML que el elemento <b>&lt;select></b> además de los siguientes:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('adapt')" >adapt</a></li>
			<li><a href="" ng-click="$root.scrollTo('change')" >change</a></li>
			<li><a href="" ng-click="$root.scrollTo('disabled')" >disabled</a></li>
			<li><a href="" ng-click="$root.scrollTo('label')" >label</a></li>
			<li><a href="" ng-click="$root.scrollTo('leftLabel')" >left-label</a></li>
			<li><a href="" ng-click="$root.scrollTo('leftLabelSm')" >left-label-sm</a></li>
			<li><a href="" ng-click="$root.scrollTo('leftLabelMd')" >left-label-md</a></li>
			<li><a href="" ng-click="$root.scrollTo('leftLabelLg')" >left-label-lg</a></li>
			<li><a href="" ng-click="$root.scrollTo('message')" >message</a></li>
			<li><a href="" ng-click="$root.scrollTo('messageType')" >message-type</a></li>
			<li><a href="" ng-click="$root.scrollTo('options')" >options</a></li>
			<li><a href="" ng-click="$root.scrollTo('optionId')" >option-id</a></li>
			<li><a href="" ng-click="$root.scrollTo('optionName')" >option-name</a></li>
		</ul>
		<p>Ejemplos concretos y habituales para este componente:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('exampleProvMun')" >Provincias y municipios</a></li>
		</ul>
		<p>Este componente dispone de los siguientes eventos:</p>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>Para usar los eventos es necesario definir un atributo <b>id</b> en el componente.</p>
			<p>Este <b>id</b> debe ser <u>único para toda la App</u>.</p>
			<p>Para que el <b>id</b> sea único deberá seguir la siguiente estructura: <u>nombreFicheroNombreExplicativoNombreFuncion</u>.</p>
			<p>El componente ofrece los eventos mediante el siguiente código: <i>'rootScope:movaInput:<u>identificador</u>:<u>nombreDelEvento</u>'</i></p> 
			<p>La palabra <u>identificador</u> debe sustituirse con el valor del atributo <b>id</b> del componente.</p>
			<p>La palabra <u>nombreDelEvento</u> debe sustituirse con el nombre del evento.</p>
		</mv-card>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('messageToggle')" >MessageToggle</a></li>
		</ul>
	</mv-card>

	<mv-card>
		<h2 class="title-2">Ejemplo de uso HTML y resultado</h2>
		<br>
		<code>
			<badge>JavaScript</badge>
			<span>
				this.scope.select.opciones = [<br>
				&emsp;&emsp;{id: 0, name: 'Opcion 1'},<br>
				&emsp;&emsp;{id: 1, name: 'Opcion 2'},<br>
				&emsp;&emsp;{id: 2, name: 'Opcion 3'},<br>
				&emsp;&emsp;{id: 3, name: 'Opcion 4'},<br>
				];<br>
				this.scope.select = {};<br>
				this.scope.select.selected = {id: 0, name: 'Opcion 1'};
			</span>
		</code>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-select<br>
				&emsp;&emsp;model="select.selected"<br>
				&emsp;&emsp;options="select.opciones"<br>
				&emsp;&emsp;><br>
				&lt;/mv-select>
			</span>
		</code>
		<mv-select
			model="select.selected"
			options="select.opciones"
			>
		</mv-select>
	</mv-card>


	<mv-card
		id="adapt"
		>
		<h3 class="title-3">adapt</h3>
		<br>
		<p>La propiedad <b>adapt</b> permite que el componente se adapte al 100% del tamaño de su contenedor.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-select<br>
				&emsp;&emsp;<b>adapt=true</b><br>
				&emsp;&emsp;model="select.selected"<br>
				&emsp;&emsp;options="select.opciones"<br>
				&emsp;&emsp;change="funcionChange()"<br>
				&emsp;&emsp;><br>
				&lt;/mv-select>
			</span>
		</code>
		<p>Ejemplo con adapt:</p>
		<mv-select
			adapt=true
			model="select.selected"
			options="select.opciones"
			change="funcionChange()"
			>
		</mv-select>
		<p>Ejemplo sin adapt:</p>
		<mv-select
			model="select.selected"
			options="select.opciones"
			change="funcionChange()"
			>
		</mv-select>
	</mv-card>

	<mv-card
		id="change"
		>
		<h3 class="title-3">change</h3>
		<br>
		<p>La propiedad <b>change</b> permite ejecutar una función incluida en el <b>$scope</b>, cada vez que cambia el valor del select.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-select<br>
				&emsp;&emsp;model="select.selected"<br>
				&emsp;&emsp;options="select.opciones"<br>
				&emsp;&emsp;<b>change="funcionChange()"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-select>
			</span>
		</code>
		<mv-select
			model="select.selected"
			options="select.opciones"
			change="funcionChange()"
			>
		</mv-select>
	</mv-card>

	<mv-card
		id="disabled"
		>
		<h3 class="title-3">disabled</h3>
		<br>
		<p>La propiedad <b>disabled</b> permite desactivar el componente.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-select<br>
				&emsp;&emsp;model="select.selected"<br>
				&emsp;&emsp;options="select.opciones"<br>
				&emsp;&emsp;<b>disabled=true</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-select>
			</span>
		</code>
		<mv-select
			model="select.selected"
			options="select.opciones"
			disabled=true
			>
		</mv-select>
	</mv-card>

	<mv-card
		id="label"
		>
		<h3 class="title-3">label</h3>
		<br>
		<p>La propiedad <b>label</b> permite incluir una label para el select.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-select<br>
				&emsp;&emsp;model="select.selected"<br>
				&emsp;&emsp;options="select.opciones"<br>
				&emsp;&emsp;<b>label="Ejemplo con label"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-select>
			</span>
		</code>
		<mv-select
			model="select.selected"
			options="select.opciones"
			label="Ejemplo con label"
			>
		</mv-select>
	</mv-card>

	<mv-card
		id="leftLabel"
		>
		<h3 class="title-3">left-label</h3>
		<br>
		<p>Si la propiedad <b>left-label</b> no se utiliza o su valor es false la label del componente se posiciona en la parte superior.</p>
		<p>Si la propiedad <b>left-label</b> se utiliza con valor true cambia la forma de mostrar la label, en vez de encima se muestra a la izquierda del campo de texto.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-select<br>
				&emsp;&emsp;<b>left-label=true</b><br>
				&emsp;&emsp;model="select.selected"<br>
				&emsp;&emsp;options="select.opciones"<br>
				&emsp;&emsp;label="Ejemplo con label"<br>
				&emsp;&emsp;><br>
				&lt;/mv-select>
			</span>
		</code>
		<p>Ejemplo de label a la izquierda en una lista de opciones:</p>
		<mv-select
			left-label=true
			model="select.selected"
			options="select.opciones"
			label="Ejemplo con label"
			>
		</mv-select>
		<p>Ejemplo de label a la izquierda en una lista de opciones con mensaje:</p>
		<mv-select
			left-label=true
			model="select.selected"
			options="select.opciones"
			label="Ejemplo con label"
			message="Listado de opciones"
			>
		</mv-select>
		<p>Ejemplo de label a la izquierda en una lista de opciones con adapt:</p>
		<mv-select
			adapt=true
			left-label=true
			model="select.selected"
			options="select.opciones"
			label="Ejemplo con label"
			>
		</mv-select>
		<p>Ejemplo de label a la izquierda en una lista de opciones con mensaje y adapt:</p>
		<mv-select
			adapt=true
			left-label=true
			model="select.selected"
			options="select.opciones"
			label="Ejemplo con label"
			message="Listado de opciones"
			>
		</mv-select>
	</mv-card>

	<mv-card
		id="leftLabelSm"
		>
		<h3 class="title-3">left-label-sm</h3>
		<br>
		<p>La propiedad <b>left-label-sm</b> realiza la función del atributo <b>left-label</b> para el tamaño de viewport <b>sm</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-select<br>
				&emsp;&emsp;<b>left-label-sm=true</b><br>
				&emsp;&emsp;model="select.selected"<br>
				&emsp;&emsp;options="select.opciones"<br>
				&emsp;&emsp;label="Ejemplo con label"<br>
				&emsp;&emsp;><br>
				&lt;/mv-select>
			</span>
		</code>
		<p>Ejemplo de label a la izquierda para tamaño de viewport sm:</p>
		<mv-select
			left-label-sm=true
			model="select.selected"
			options="select.opciones"
			label="Ejemplo con label"
			>
		</mv-select>
		<p>Ejemplo de label a la izquierda para tamaño de viewport sm con adapt:</p>
		<mv-select
			adapt=true
			left-label-sm=true
			model="select.selected"
			options="select.opciones"
			label="Ejemplo con label"
			>
		</mv-select>
	</mv-card>

	<mv-card
		id="leftLabelMd"
		>
		<h3 class="title-3">left-label-md</h3>
		<br>
		<p>La propiedad <b>left-label-md</b> realiza la función del atributo <b>left-label</b> para el tamaño de viewport <b>md</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-select<br>
				&emsp;&emsp;<b>left-label-md=true</b><br>
				&emsp;&emsp;model="select.selected"<br>
				&emsp;&emsp;options="select.opciones"<br>
				&emsp;&emsp;label="Ejemplo con label"<br>
				&emsp;&emsp;><br>
				&lt;/mv-select>
			</span>
		</code>
		<p>Ejemplo de label a la izquierda para tamaño de viewport md:</p>
		<mv-select
			left-label-md=true
			model="select.selected"
			options="select.opciones"
			label="Ejemplo con label"
			>
		</mv-select>
		<p>Ejemplo de label a la izquierda para tamaño de viewport md con adapt:</p>
		<mv-select
			adapt=true
			left-label-md=true
			model="select.selected"
			options="select.opciones"
			label="Ejemplo con label"
			>
		</mv-select>
	</mv-card>

	<mv-card
		id="leftLabelLg"
		>
		<h3 class="title-3">left-label-lg</h3>
		<br>
		<p>La propiedad <b>left-label-lg</b> realiza la función del atributo <b>left-label</b> para el tamaño de viewport <b>lg</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-select<br>
				&emsp;&emsp;<b>left-label-lg=true</b><br>
				&emsp;&emsp;model="select.selected"<br>
				&emsp;&emsp;options="select.opciones"<br>
				&emsp;&emsp;label="Ejemplo con label"<br>
				&emsp;&emsp;><br>
				&lt;/mv-select>
			</span>
		</code>
		<p>Ejemplo de label a la izquierda para tamaño de viewport lg:</p>
		<mv-select
			left-label-lg=true
			model="select.selected"
			options="select.opciones"
			label="Ejemplo con label"
			>
		</mv-select>
		<p>Ejemplo de label a la izquierda para tamaño de viewport lg con adapt:</p>
		<mv-select
			adapt=true
			left-label-lg=true
			model="select.selected"
			options="select.opciones"
			label="Ejemplo con label"
			>
		</mv-select>
	</mv-card>

	<mv-card
		id="message"
		>
		<h3 class="title-3">message</h3>
		<br>
		<p>La propiedad <b>message</b> permite incluir una texto de una linea que aparecerá en la parte inferior del select.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-select<br>
				&emsp;&emsp;model="select.selected"<br>
				&emsp;&emsp;options="select.opciones"<br>
				&emsp;&emsp;<b>message="Ejemplo con mensaje"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-select>
			</span>
		</code>
		<mv-select
			model="select.selected"
			options="select.opciones"
			message="Ejemplo con mensaje"
			>
		</mv-select>
	</mv-card>

	<mv-card
		id="messageType"
		>
		<h3 class="title-3">message-type</h3>
		<br>
		<p>La propiedad <b>message-type</b> permite modificar el estilo del mensaje.</p>
		<p>por defecto, si no se especifica la propiedad el valor es danger.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-select<br>
				&emsp;&emsp;model="select.selected"<br>
				&emsp;&emsp;options="select.opciones"<br>
				&emsp;&emsp;message="Ejemplo con mensaje"<br>
				&emsp;&emsp;<b>message-type="danger"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-select>
			</span>
		</code>
		<mv-select
			model="select.selected"
			options="select.opciones"
			message="Ejemplo con mensaje"
			message-type="danger"
			>
		</mv-select>
		<br>
		<mv-select
			model="select.selected"
			options="select.opciones"
			message="Ejemplo con mensaje"
			message-type="warning"
			>
		</mv-select>
		<br>
		<mv-select
			model="select.selected"
			options="select.opciones"
			message="Ejemplo con mensaje"
			message-type="success"
			>
		</mv-select>
	</mv-card>

	<mv-card
		id="options"
		>
		<h3 class="title-3">options</h3>
		<br>
		<p>La propiedad <b>options</b> recibe el nombre del array de opciones que debe encontrarse en el controlador</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-select<br>
				&emsp;&emsp;model="select.selected"<br>
				&emsp;&emsp;<b>options="select.opciones"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-select>
			</span>
		</code>
		<mv-select
			model="select.selected"
			options="select.opciones"
			>
		</mv-select>
	</mv-card>

	<mv-card
		id="optionId"
		>
		<h3 class="title-3">option-id</h3>
		<br>
		<p>La propiedad <b>option-id</b> recibe el nombre del atributo del array de opciones que debe utilizarse como identificador, por defecto, si no se define ninguno se utilizará el atributo <b>id</b>.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				this.scope.select.opciones = [<br>
				&emsp;&emsp;{id: 0, name: 'Opcion 1', codigo: 16, desc: 'desc. 001'},<br>
				&emsp;&emsp;{id: 1, name: 'Opcion 2', codigo: 15, desc: 'desc. 002'},<br>
				&emsp;&emsp;{id: 2, name: 'Opcion 3', codigo: 8, desc: 'desc. 003'},<br>
				&emsp;&emsp;{id: 3, name: 'Opcion 4', codigo: 4, desc: 'desc. 004'},<br>
				];<br>
				this.scope.select = {};<br>
				this.scope.select.selected = {id: 0, name: 'Opcion 1'};
			</span>
		</code>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-select<br>
				&emsp;&emsp;model="select.selected"<br>
				&emsp;&emsp;options="select.opciones"<br>
				&emsp;&emsp;<b>option-id="codigo"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-select>
			</span>
		</code>
		<mv-select
			model="select.selected"
			options="select.opciones"
			option-id="codigo"
			>
		</mv-select>
	</mv-card>

	<mv-card
		id="optionName"
		>
		<h3 class="title-3">option-name</h3>
		<br>
		<p>La propiedad <b>option-name</b> recibe el nombre del atributo del array de opciones que debe utilizarse como nombre a mostrar, por defecto, si no se define ninguno se utilizará el atributo <b>name</b>.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				this.scope.select.opciones = [<br>
				&emsp;&emsp;{id: 0, name: 'Opcion 1', codigo: 16, desc: 'desc. 001'},<br>
				&emsp;&emsp;{id: 1, name: 'Opcion 2', codigo: 15, desc: 'desc. 002'},<br>
				&emsp;&emsp;{id: 2, name: 'Opcion 3', codigo: 8, desc: 'desc. 003'},<br>
				&emsp;&emsp;{id: 3, name: 'Opcion 4', codigo: 4, desc: 'desc. 004'},<br>
				];<br>
				this.scope.select = {};<br>
				this.scope.select.selected = {id: 0, name: 'Opcion 1'};
			</span>
		</code>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-select<br>
				&emsp;&emsp;model="select.selected"<br>
				&emsp;&emsp;options="select.opciones"<br>
				&emsp;&emsp;<b>option-name="desc"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-select>
			</span>
		</code>
		<mv-select
			model="select.selected"
			options="select.opciones"
			option-name="desc"
			>
		</mv-select>
	</mv-card>

	<mv-card
		id="exampleProvMun"
		>
		<h3 class="title-3">Ejemplo de provincias y municipios</h3>
		<br>
		<p>A continuación se muestra un ejemplo de dos componentes <b>mv-select</b>, uno con provincias y otro con municipios.</p>
		<p>Cuando se cambia la provincia se actualizan los municipios.</p>
		<p>Para este ejemplo se han utilizado las URL de los las variables <b>appProvincias</b> y <b>appMunicipios</b> del componente <b>app.config</b>.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				this.scope.select = {};
				this.scope.select.provSelected = {CDPROV: "01", DSPROV: "Araba/Álava", DSPROVNORMA: "ARABA ALAVA"};<br>
				this.scope.select.selected = {id: 0, name: 'Opcion 1'};
    			this.scope.select.munSelected = {CDMUNI: "001", CDPROV: "02", DSMUNI: "Abengibre", DSMUNINORMA: "ABENGIBRE"};
			</span>
		</code>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-select<br>
				&emsp;&emsp;model="select.provSelected"<br>
				&emsp;&emsp;options="select.prov"<br>
				&emsp;&emsp;option-id="CDPROV"<br>
				&emsp;&emsp;option-name="DSPROV"<br>
				&emsp;&emsp;change="funcionChangeProv()"<br>
				&emsp;&emsp;><br>
				&lt;/mv-select>
			</span>
			<br><br>
			<span>
				&lt;mv-select<br>
				&emsp;&emsp;model="select.munSelected"<br>
				&emsp;&emsp;options="select.mun"<br>
				&emsp;&emsp;option-id="CDMUNI"<br>
				&emsp;&emsp;option-name="DSMUNI"<br>
				&emsp;&emsp;><br>
				&lt;/mv-select>
			</span>
		</code>
		<mv-select
			model="select.provSelected"
			options="select.prov"
			option-id="CDPROV"
			option-name="DSPROV"
			change="funcionChangeProv()"
			>
		</mv-select>
		<mv-select
			model="select.munSelected"
			options="select.mun"
			option-id="CDMUNI"
			option-name="DSMUNI"
			>
		</mv-select>
	</mv-card>

	<mv-card
		id="messageToggle"
		>
		<h3 class="title-3">Ev: MessageToggle</h3>
		<br>
		<p>El evento <b>MessageToggle</b> permite mostrar u ocultar el mensaje del componente.</p>
		<p>El evento <b>MessageToggle</b> puede recibir los siguientes parámetros en formato JSON :</p>
		<ul>
			<li><b>message</b>: Cadena de caracteres que se mostrará en el mensaje. Por defecto el mensaje a mostrar es ''.</li>
		</ul>
		<p>Se puede llamar a este evento desde el controlador de un componente mediante la siguiente instrucción:</p>
		<code>
			<badge>JavaScript</badge>
			let args = {<br>
			&emsp;&emsp;message: 'Mensaje de prueba'<br>
			}<br>
			$rootScope.$emit('rootScope:movaSelect:<u>identificador</u>:MessageToggle', args);
		</code>
		<p>A continuación se muestra un ejemplo:</p>
		<mv-button
			btn-type="primary"
			click="messageToggleEjemplo()"
			>
			Mostrar u ocultar mensaje de prueba
		</mv-button>
		<br><br>
		<mv-select
			id="appExampleMovaSelectEjemploMessageToggleRemoto"
			model="select.selected"
			options="select.opciones"
		>
		</mv-select>
	</mv-card>

</mv-screen>