<!-- app-example-mova-library -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaLibrary</h1>
		<br>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>Este componente se utiliza mediante su inyección en otros componentes.</p>
			<p>Su contenido es un conjunto de procedimientos que ofrecen funcionalidad útil para el desarrollo de la App.</p>
		</mv-card>
		<p>El componente <b>mv.movaLibrary</b> ofrece el servicio <b>mvLibraryService</b> con la siguiente funcionalidad.</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('ab2str')" >Conversión ab2str</a></li>
			<li><a href="" ng-click="$root.scrollTo('str2ab2')" >Conversión str2ab2</a></li>
			<li><a href="" ng-click="$root.scrollTo('getApiKeyObject')" >getApiKeyObject</a></li>
			<li><a href="" ng-click="$root.scrollTo('getAppModuloTecnico')" >getAppModuloTecnico</a></li>
			<li><a href="" ng-click="$root.scrollTo('getArrayIndexObjectFromArray')" >getArrayIndexObjectFromArray</a></li>
			<li><a href="" ng-click="$root.scrollTo('getNumericVersion')" >getNumericVersion</a></li>
			<li><a href="" ng-click="$root.scrollTo('getIndexObjectFromArray')" >getIndexObjectFromArray</a></li>
			<li><a href="" ng-click="$root.scrollTo('getObjectCustomTokenAuthManager')" >getObjectCustomTokenAuthManager</a></li>
			<li><a href="" ng-click="$root.scrollTo('getObjectDateManager')" >getObjectDateManager</a></li>
			<li><a href="" ng-click="$root.scrollTo('getObjectFromArray')" >getObjectFromArray</a></li>
			<li><a href="" ng-click="$root.scrollTo('getObjectStringManager')" >getObjectStringManager</a></li>
			<li><a href="" ng-click="$root.scrollTo('getJSONProperty')" >getJSONProperty</a></li>
			<li><a href="" ng-click="$root.scrollTo('getParamFromUrl')" >getParamFromUrl</a></li>
			<li><a href="" ng-click="$root.scrollTo('goScrollTop')" >goScrollTop</a></li>
			<li><a href="" ng-click="$root.scrollTo('goScroll')" >goScroll</a></li>
			<li><a href="" ng-click="$root.scrollTo('getDeviceSystem')" >getDeviceSystem</a></li>
			<li><a href="" ng-click="$root.scrollTo('isCorrectForMachine')" >isCorrectForMachine</a></li>
			<li><a href="" ng-click="$root.scrollTo('localStorageLoad')" >localStorageLoad</a></li>
			<li><a href="" ng-click="$root.scrollTo('localStorageRemove')" >localStorageRemove</a></li>
			<li><a href="" ng-click="$root.scrollTo('localStorageSave')" >localStorageSave</a></li></li>
			<li><a href="" ng-click="$root.scrollTo('openUrlOnExternalbrowser')" >openUrlOnExternalbrowser</a></li></li>
		</ul>
	</mv-card>

	<mv-card
		id="ab2str"
		>
		<h3 class="title-3">Conversión ab2str</h3>
		<br>
		<p>El método <b>ab2str</b> permite realizar la conversión de un ArrayBuffer a String.</p>
		<p>Recibe los siguientes parámetros:</p>
		<ul>
			<li>buf</li>
		</ul>
		<p>El parámetro <b>buf</b> es un ArrayBuffer.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvLibraryService.ab2str(buf);<br>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="str2ab2"
		>
		<h3 class="title-3">Conversión str2ab2</h3>
		<br>
		<p>El método <b>str2ab2</b> permite realizar la conversión de un String a ArrayBuffer.</p>
		<p>Recibe los siguientes parámetros:</p>
		<ul>
			<li>str</li>
		</ul>
		<p>El parámetro <b>str</b> es una cadena de caracteres.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvLibraryService.str2ab2(str);<br>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="getAppModuloTecnico"
		>
		<h3 class="title-3">getAppModuloTecnico</h3>
		<br>
		<p>El método <b>getAppModuloTecnico</b> recupera el módulo técnico de las variables appModuloTecnicoIos, appModuloTecnicoAndroid, appModuloTecnicoWebapp o appModuloTecnicoWindows del componente <a href="#!/example-app-config#appModuloTecnicoAndroid"><b>app.config</b></a>, dependiendo de la plataforma en la que se esté ejecutando la App en cada momento.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvLibraryService.getAppModuloTecnico();<br>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="getApiKeyObject"
		>
		<h3 class="title-3">getApiKeyObject</h3>
		<br>
		<p>El método <b>getApiKeyObject</b> recupera el objeto de la APIKEY del array con los objetos de APIKEY de app.environment mediante su nombre de APIKEY.</p>
		<p>En caso de no encontrar un resultado devuelve <b>undefined</b>.</p>
		<p>Recibe los siguientes parámetros:</p>
		<ul>
			<li>name</li>
		</ul>
		<p>El parámetro <b>name</b> es el nombre designado para el APIKEY en el array con los objetos de APIKEY de app.environment.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvLibraryService.getApiKeyObject('apikeyDeEjemplo');<br>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="getArrayIndexObjectFromArray"
		>
		<h3 class="title-3">getArrayIndexObjectFromArray</h3>
		<br>
		<p>El método <b>getArrayIndexObjectFromArray</b> devuelve las posiciones de los objetos de un array de objetos realizando la busqueda para un valor de uno de sus atributos.</p>
		<p>El resultado es un array de posiciones.</p>
		<p>Recibe los siguientes parámetros:</p>
		<ul>
			<li>array</li>
			<li>nameAttribute</li>
			<li>valueAttributeParam</li>
			<li>oConfig</li>
		</ul>
		<p>El parámetro <b>array</b> es el nombre del array en el que vamos a buscar.</p>
		<p>El parámetro <b>nameAttribute</b> el nombre del atributo del objeto por el que vamos a buscar.</p>
		<p>El parámetro <b>valueAttributeParam</b> es el valor que queremos buscar.</p>
		<p>El parámetro <b>oConfig</b> es el objeto con la configuración opcional a elegir.</p>
		<p>Este parámetro <b>oConfig</b> es un objeto JSON con las siguientes propiedades opcionales:</p>
		<ul>
			<li>startsWithCondition</li>
			<li>containsCondition</li>
			<li>lowerCaseCondition</li>
		</ul>
		<p>La propiedad <b>startsWithCondition</b> con valor true cambia la condición de busqueda para que sea que empiece por.</p>
		<p>La propiedad <b>containsCondition</b> con valor true cambia la condición de busqueda para que sea que contenga.</p>
		<p>La propiedad <b>lowerCaseCondition</b> con valor true cambia la condición de busqueda para que no sea case-sensitive.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvLibraryService.getArrayIndexObjectFromArray('arrayDeEjemplo','nombreCliente','Rubén', oConfig);<br>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="getNumericVersion"
		>
		<h3 class="title-3">getNumericVersion</h3>
		<br>
		<p>El método <b>getNumericVersion</b> devuelve un número de versión en formato numérico a partir de una versión en texto
	con formato n.n.n.</p>
		<p>Multiplica por 10000, 1000 y 1 por ejemplo la versión 2.9.81 sería 29081.</p>
		<p>Recibe los siguientes parámetros:</p>
		<ul>
			<li>textParam</li>
			<li>separatorParam</li>
		</ul>
		<p>El parámetro <b>textParam</b> es la versión en formato de texto, por ejemplo '1.0.0'.</p>
		<p>El parámetro <b>separatorParam</b> el separador utilizado, por defecto si no se especifica otro se usa el caracter '.'.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvLibraryService.getNumericVersion('1-0-0','-');<br>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="getObjectCustomTokenAuthManager"
		>
		<br>
		<h3 class="title-3">getObjectCustomTokenAuthManager</h3>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>Este método devuelve un objeto capaz de gestionar la alta, baja y recuperación de tokens customizados.</p>
			<p>En el localStorage de MOVA existirá un objeto llamado <b>MovaCustomTokens</b> que contendrá un array de objetos. Cada objeto tiene dos atributos <b>name</b>, que contiene el nombre asociado al token customizado y <b>token</b>, que es el valor del token customizado.</p>
			<p>Es recomendable leer la documentación de la directiva de AngularJS <a href="#!/example-angularjs-http"><b>$http</b></a> relativa al uso de los tokens customizados.</p>
		</mv-card>
		<p>El método <b>getObjectCustomTokenAuthManager</b> devuelve un objeto <b>oCustomTokenAuth</b> propio de MOVA con la siguiente funcionalidad:</p>
		<ul>
			<li>deleteTokenByName</li>
			<li>getTokenByName</li>
			<li>setToken</li>
		</ul>
		<h3>deleteTokenByName</h3>
		<p>El método <b>deleteTokenByName</b> recibe como parámetro el nombre del token customizado que se quiere eliminar.</p>
		<p>Devuelve la posición en el array que ha sido eliminada.</p>
		<p>Si no ha encontrado en el array, el token a eliminar devuelve <b>-1</b>.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				let oCustomTokenAuth = mvLibraryService.getObjectCustomTokenAuthManager();<br>
				let oCustomTokenAuth = mvLibraryService.deleteTokenByName('tokenDePrueba');<br>
			</span>
		</code>
		<h3>getTokenByName</h3>
		<p>El método <b>getTokenByName</b> recupera un token customizado por su nombre.</p>
		<p>Devuelve una cadena de caracteres con el valor del token customizado.</p>
		<p>Si no ha encontrado en el array, el token a eliminar devuelve <b>undefined</b>.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				let oCustomTokenAuth = mvLibraryService.getObjectCustomTokenAuthManager();<br>
				let oCustomTokenAuth = mvLibraryService.getTokenByName('tokenDePrueba');<br>
			</span>
		</code>
		<h3>setToken</h3>
		<p>El método <b>setToken</b> almacena un token customizado.</p>
		<p>Devuelve el tamaño del array de tokens customizados despues de guardar el token customizado.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				let oCustomTokenAuth = mvLibraryService.getObjectCustomTokenAuthManager();<br>
				let oCustomTokenAuth = mvLibraryService.setToken('tokenDePrueba','0123456789abc');<br>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="getObjectDateManager"
		>
		<h3 class="title-3">getObjectDateManager</h3>
		<br>
		<p>El método <b>getObjectDateManager</b> devuelve un objeto <b>oDate</b> propio de MOVA con la siguiente funcionalidad:</p>
		<ul>
			<li>getDifferenceBetween</li>
			<li>getDMYhms</li>
			<li>setDateTime</li>
			<li>setDateFromDateObject</li>
		</ul>
		<h3>getDifferenceBetween</h3>
		<p>El método <b>getDifferenceBetween</b> recibe como parámetro otro objeto <b>oDate</b> propio de MOVA que se consigue mediante <u>getObjectDateManager<u>.</p>
		<p>Devuelve un objeo <b>oDifference</b> propio de MOVA con las propiedades <u>days</u>, <u>hours</u> y <u>minutes</u> que se corresponden con la diferencia entre las fechas de ambos objetos.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				let oDate = mvLibraryService.getObjectDateManager();<br>
				let oDateAux = mvLibraryService.getObjectDateManager();<br>
				oDateAux.setDateTime(27,3,1984,14,20,56);<br>
				oDate.getDifferenceBetween(oDateAux);<br>
			</span>
		</code>
		<h3>getDMYhms</h3>
		<p>El método <b>getDMYhms</b> devuelve un texto con la fecha contenida en el objeto <b>oDate</b>.</p>
		<p>Opcionalmente el método <b>getDMYhms</b> admite dos parámetros: <u>now</u> y <u>onlydate</u>.</p>
		<p>El parámetro <u>now</u> hace que se devuelva la fecha actual.</p>
		<p>El parámetro <u>onlydate</u> hace que se devuelva la fecha sin detalle de horas, minutos y segundos.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				let oDate = mvLibraryService.getObjectDateManager();<br>
				oDate.getDMYhms(true,true);<br>
			</span>
		</code>
		<h3>setDateTime</h3>
		<p>El método <b>setDateTime</b> permite insertar los valores para la fecha del objeto <b>oDate</b> propio de MOVA.</p>
		<p>Por orden los parámetros son: <u>dia</u>, <u>mes</u>, <u>año</u>, <u>horas</u>, <u>minutos</u> y <u>segundos</u>.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				let oDate = mvLibraryService.getObjectDateManager();<br>
				oDate.setDateTime(27,3,1984,14,20,56);<br>
			</span>
		</code>
		<h3>setDateFromDateObject</h3>
		<p>El método <b>setDateFromDateObject</b> permite insertar los valores para la fecha del objeto <b>oDate</b> propio de MOVA a través de un objeto <b>Date</b> propio de JavaScript.</p>
		<p>El parámetro <u>date</u> es un objeto <b>Date</b> de JavaScript.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				let oDate = mvLibraryService.getObjectDateManager();<br>
				let jsDate = new Date();<br>
				oDate.setDateFromDateObject(jsDate);<br>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="getIndexObjectFromArray"
		>
		<h3 class="title-3">getIndexObjectFromArray</h3>
		<br>
		<p>El método <b>getIndexObjectFromArray</b> devuelve la posición del objeto de un array de objetos realizando la busqueda para un valor de uno de sus atributos.</p>
		<p>Si hay varios objetos que cumplen la condición devuelve la posición del primero.</p>
		<p>Recibe los siguientes parámetros:</p>
		<ul>
			<li>array</li>
			<li>nameAttribute</li>
			<li>valueAttributeParam</li>
			<li>oConfig</li>
		</ul>
		<p>El parámetro <b>array</b> es el nombre del array en el que vamos a buscar.</p>
		<p>El parámetro <b>nameAttribute</b> el nombre del atributo del objeto por el que vamos a buscar.</p>
		<p>El parámetro <b>valueAttributeParam</b> es el valor que queremos buscar.</p>
		<p>El parámetro <b>oConfig</b> es el objeto con la configuración opcional a elegir.</p>
		<p>Este parámetro <b>oConfig</b> es un objeto JSON con las siguientes propiedades opcionales:</p>
		<ul>
			<li>startsWithCondition</li>
			<li>containsCondition</li>
			<li>lowerCaseCondition</li>
		</ul>
		<p>La propiedad <b>startsWithCondition</b> con valor true cambia la condición de busqueda para que sea que empiece por.</p>
		<p>La propiedad <b>containsCondition</b> con valor true cambia la condición de busqueda para que sea que contenga.</p>
		<p>La propiedad <b>lowerCaseCondition</b> con valor true cambia la condición de busqueda para que no sea case-sensitive.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvLibraryService.getIndexObjectFromArray('arrayDeEjemplo','nombreCliente','Rubén', oConfig);<br>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="getObjectFromArray"
		>
		<h3 class="title-3">getObjectFromArray</h3>
		<br>
		<p>El método <b>getObjectFromArray</b> devuelve el objeto de un array de objetos realizando la busqueda para un valor de uno de sus atributos.</p>
		<p>Si hay varios objetos que cumplen la condición devuelve la posición del primero.</p>
		<p>Recibe los siguientes parámetros:</p>
		<ul>
			<li>array</li>
			<li>nameAttribute</li>
			<li>valueAttributeParam</li>
		</ul>
		<p>El parámetro <b>array</b> es el nombre del array en el que vamos a buscar.</p>
		<p>El parámetro <b>nameAttribute</b> el nombre del atributo del objeto por el que vamos a buscar.</p>
		<p>El parámetro <b>valueAttributeParam</b> es el valor que queremos buscar.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvLibraryService.getObjectFromArray('arrayDeEjemplo','nombreCliente','Rubén');<br>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="getObjectStringManager"
		>
		<h3 class="title-3">getObjectStringManager</h3>
		<br>
		<p>El método <b>getObjectStringManager</b> devuelve un objeto <b>oString</b> propio de MOVA con la siguiente funcionalidad:</p>
		<ul>
			<li>convertCamelCaseToDash</li>
		</ul>
		<h3>convertCamelCaseToDash</h3>
		<p>El método <b>convertCamelCaseToDash</b> convierte una cadena de caracteres con formato camelcase a una cadena de caracteres con separador. Por ejemplo holaMundo se convertiría a hola-mundo.</p>
		<p>El método <b>convertCamelCaseToDash</b> recibe los siguientes parámetros: <u>string</u> y <u>separator</u>.</p>
		<p>El parámetro <u>string</u> es la cadena en camelcase, si no se especifica un valor se utiliza la propiedad text del objeto <b>oString</b> propio de MOVA.</p>
		<p>El parámetro <u>separator</u> es el separador que se utilizará, por defecto si no se especifica ninguno se usará el caracter dash '-'.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				let oDate = mvLibraryService.getObjectDateManager();<br>
				let oDateAux = mvLibraryService.getObjectDateManager();<br>
				oDateAux.setDateTime(27,3,1984,14,20,56);<br>
				oDate.getDifferenceBetween(oDateAux);<br>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="getJSONProperty"
		>
		<h3 class="title-3">getJSONProperty</h3>
		<br>
		<p>El método <b>getJSONProperty</b> sirve para conseguir el valor de una propiedad profunda de un JSON de forma sencilla.</p>
		<p>El método <b>getJSONProperty</b> recibe los siguientes parámetros:</p>
		<ul>
			<li>obj</li>
			<li>key</li>
		</ul>
		<p>El parámetro <b>obj</b> es el JSON al que se quiere acceder.</p>
		<p>El parámetro <b>key</b> es el nombre de la propiedad a la que se quiere acceder.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvLibraryService.getJSONProperty(oJSON,'nombre');
			</span>
		</code>
	</mv-card>

	<mv-card
		id="goScroll"
		>
		<h3 class="title-3">goScroll</h3>
		<br>
		<p>El método <b>goScroll</b> permite ir a una posición del scroll.</p>
		<p>Es necesario que el contenido genere scroll.</p>
		<p>Si no se pasan parametros, el scroll considerado es 0 para x e y. La esquina superior izquierda.</p>
		<ul>
			<li>x</li>
			<li>y</li>
		</ul>
		<p>El parámetro <b>x</b> es la posición para el scroll del eje x.</p>
		<p>El parámetro <b>y</b> es la posición para el scroll del eje y.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvLibraryService.goScroll(100,150)<br>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="getDeviceSystem"
		>
		<h3 class="title-3">getDeviceSystem</h3>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>Este método es muy preciso pero no es exacto. El algoritmo que se utiliza cruza información obtenida de la instancia del navegador donde se ejcuta la App y esta información se cruza para intuir de una manera aproximada el sistema del dispositivo.</p>
			<p>Este método está pensado para Web Apps que se ejecutan a través de un navegador y por tanto no disponen de <b>Cordova</b> para identificar el sistema del dispositivo.</p>
			<p>Cuando la App se ejecuta como App móvil es <b>Cordova</b> quien se encarga de conseguir el sistema del dispositivo de forma fiable.</p>
			<p>Este componente se basa en una lista de nombres de tipos de máquinas, a futuro puede que existan otros nombres distintos que deban ser incluidos en estas listas que serán actualizadas si fuese necesario en nuevas versiones del componente.</p>
		</mv-card>
		<br>
		<p>El método <b>getDeviceSystem</b> consigue definir el sistema del dispositivo cruzando la información sobre si la App esta funcionando en un dispositivo de escritorio o móvil y el nombre del tipo de la maquina para la que ha sido compilada la instancia del navegador en que se ejecuta la App.</p>
		<p>Los resultados devueltos son los siguientes</p>
		<ul>
			<li><b>linux</b> - Escritorio Linux</li>
			<li><b>windows</b> - Escritorio Windows</li>
			<li><b>osx</b> - Escritorio de Apple con OSX</li>
			<li><b>android</b> - Dispositivo móvil con Android</li>
			<li><b>windows_m</b> - Dispositivo móvil con Windows</li>
			<li><b>ios</b> - Dispositivo móvil de Apple con iOS</li>
		</ul>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvLibraryService.getDeviceSystem()<br>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="goScrollTop"
		>
		<h3 class="title-3">goScrollTop</h3>
		<br>
		<p>El método <b>goScrollTop</b> permite modificar el scroll de un elemento.</p>
		<p>Principalmente este método puede usarse para ir al principio o al final de un contenido, aunque también puede irse a otra posición intermedia del scroll.</p>
		<p>Es necesario que el contenido genere scroll.</p>
		<p>Los parámetros permitidos son los siguientes:.</p>
		<ul>
			<li><b>idElemento</b> - Es el identificador del elemento HTML que tiene scroll.</li>
			<li><b>valor</b> - Es el valor númerico para desplazar el scroll.</li>
		</ul>
		<p>El valor 0 es el principio del scroll, ir al top del scroll.</p>
		<p>El valor -1 es el final del scroll, ir al bottom del scroll.</p>
		<p>Si no se introduce un valor se considera que el valor es 0.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvLibraryService.goScrollTop('idElemento',0)<br>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="isCorrectForMachine"
		>
		<h3 class="title-3">isCorrectForMachine</h3>
		<br>
		<p>El método <b>isCorrectForMachine</b> permite comparar la máquina actual con el listado de las máquinas correctas para la ejecución de la App.</p>
		<p>Es necesario que el contenido genere scroll.</p>
		<p>Los parámetros permitidos son los siguientes:.</p>
		<ul>
			<li><b>machinesListParam</b> - Array con los nombres de los tipos de las máquinas considerados correctos. Si no se introduceun valor se usará el valor de la propiedad <a href="#!/example-app-config#appCorrectMachines"><b>appCorrectMachines</b></a> del componente <a href="#!/example-app-config#appCorrectMachines"><b>app.config</b></a>.</li>
			<li><b>actualMachineParam</b> - Nombres del tipo de las máquina a comparar con la lista de máquinas correctas. Si no se introduceun valor se usará el valor de la propiedad <a href="#!/example-app-config#appMachine"><b>appMachine</b></a> del componente <a href="#!/example-app-config#appMachine"><b>app.config</b></a>.</li>
		</ul>
		<p>Si no se introduce ningún parámetro, el caso más corriente, se comparará la lista de máquinas por defecto con la máquina actual y devolvera <i>true</i> o <i>false</i>.</p>
		<p>Este método esta pensado para poder controlar funcionalidad de negocio dependiendo de que la máquina sea correcta o no.</p>
		<p>Este método es importante por que se utiliza en el componente <a href="#!/example-mova-login"><b>mv.movaLogin</b></a>.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvLibraryService.isCorrectForMachine()<br>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="getParamFromUrl"
		>
		<h3 class="title-3">getParamFromUrl</h3>
		<br>
		<p>El método <b>getParamFromUrl</b> devuelve el valor de un parámetro de la url facilitada.</p>
		<p>El método <b>getJSONProperty</b> recibe los siguientes parámetros:</p>
		<ul>
			<li>url</li>
			<li>name</li>
		</ul>
		<p>El parámetro <b>url</b> es la URL en la que buscar el parámetro.</p>
		<p>El parámetro <b>name</b> es el nombre del parámetro a la que se quiere acceder.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvLibraryService.getParamFromUrl('www.urldeprueba.com/index.html?param=001','param')
			</span>
		</code>
	</mv-card>

	<mv-card
		id="localStorageLoad"
		>
		<h3 class="title-3">localStorageLoad</h3>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>La encriptación se realiza mediante la clave formada por la concatenación del nombre de usuario y de la variable <b>localStorageCryptPassword</b> del componente app.environment. Esta clave puede cambiarse para cada aplicación y entorno.</p>
		</mv-card>
		<br>
		<p>El método <b>localStorageLoad</b> recupera la información que fue almacenada en el localStorage mediante el método <b>localStorageSave</b>.</p>
		<p>El método <b>localStorageLoad</b> recibe los siguientes parámetros:</p>
		<ul>
			<li>name</li>
			<li>decrypt</li>
		</ul>
		<p>El parámetro <b>name</b> es el nombre con el que se guardó la información mediante el método <b>localStorageSave</b>.</p>
		<p>El parámetro <b>decrypt</b> es un booleano, si se usa con valor true desencriptará el valor a recuperar que debió ser encriptado mediante el método <b>localStorageSave</b>.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvLibraryService.localStorageLoad('nombre', true)<br>
			</span>
		</code>
		<p><b>Ejemplo:</b></p>
		<p>Recupera del localStorage un elemento llamado <u>appExampleMovaLibrarylocalStorageSaveCrypt</u>.</p>
		<mv-button
			click="loadCryptValue()"
			>
			Cargar
		</mv-button>
	</mv-card>

	<mv-card
		id="localStorageRemove"
		>
		<h3 class="title-3">localStorageRemove</h3>
		<br>
		<p>El método <b>localStorageRemove</b> elimina la información que fue almacenada en el localStorage mediante el método <b>localStorageSave</b>.</p>
		<p>El método <b>localStorageRemove</b> recibe los siguientes parámetros:</p>
		<ul>
			<li>name</li>
		</ul>
		<p>El parámetro <b>name</b> es el nombre con el que se guardó la información mediante el método <b>localStorageSave</b>.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvLibraryService.localStorageRemove('usuario')<br>
			</span>
		</code>
		<p><b>Ejemplo:</b></p>
		<p>Elimina del localStorage un elemento llamado <u>appExampleMovaLibrarylocalStorageSaveCrypt</u>.</p>
		<mv-button
			click="removeCryptValue()"
			>
			Eliminar
		</mv-button>
	</mv-card>

	<mv-card
		id="localStorageSave"
		>
		<h3 class="title-3">localStorageSave</h3>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>La encriptación se realiza mediante la clave formada por la concatenación del nombre de usuario y de la variable <b>localStorageCryptPassword</b> del componente app.environment. Esta clave puede cambiarse para cada aplicación y entorno.</p>
		</mv-card>
		<br>
		<p>El método <b>localStorageSave</b> guarda información en el localStorage.</p>
		<p>El método <b>localStorageSave</b> recibe los siguientes parámetros:</p>
		<ul>
			<li>name</li>
			<li>value</li>
			<li>crypt</li>
		</ul>
		<p>El parámetro <b>name</b> es el nombre con el que se quiere guardar la información en el localStorage.</p>
		<p>El parámetro <b>value</b> es la información que quiere guardarse en el localStorage.</p>
		<p>El parámetro <b>crypt</b> es un booleano, si se usa con valor true encriptará el valor.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvLibraryService.localStorageSave('nombre', 'Rubén', true)<br>
			</span>
		</code>
		<p><b>Ejemplo:</b></p>
		<p>Guarda en el localStorage un elemento llamado <u>appExampleMovaLibrarylocalStorageSaveCrypt</u>.</p>
		<mv-button
			click="saveCryptValue()"
			>
			Crear
		</mv-button>
	</mv-card>

	<mv-card
		id="openUrlOnExternalbrowser"
		>
		<h3 class="title-3">openUrlOnExternalbrowser</h3>
		<br>
		<p>El método <b>openUrlOnExternalbrowser</b> abre una URL en el navegador por defecto del dispositivo.</p>
		<ul>
			<li>url</li>
		</ul>
		<p>El parámetro <b>url</b> la URL que se quiere pasar al navegador del dispositivo.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				mvLibraryService.openUrlOnExternalbrowser('http://www.madrid.org')<br>
			</span>
		</code>
		<p><b>Ejemplo:</b></p>
		<p>Abre http://www.madrid.org en el navegador por defecto del dispositivo.</p>
		<mv-button
			click="openUrlOnExternalbrowserClick()"
			>
			http://www.madrid.org
		</mv-button>
	</mv-card>

</mv-screen>
