<ion-content padding>
    <div class="volver">
        <img (click)="goBack()" src="../../../assets/imgs/volver.png" alt="">
    </div>
    <div class="titulo">
        <p class="titulo-texto"><img src="../../../assets/imgs/pedidos.png" alt="">PEDIDOS</p>
    </div>
    <div class="lista">
        <div class="container-fluid">
            <div class="row">
                <div *ngFor="let productos of items" class="col-12 mt-3">
                    <div class="card">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                <img  class="foto" src="{{productos.payload.doc.data().image}}" alt="Card image cap">
                                <img style="margin-left: 1.5rem" src="../../../assets/imgs/separacion.png" alt="">
                            </div>
                            <div text-center class="card-body mx-auto">
                                <p class="card-text"><b>Producto:</b>{{productos.payload.doc.data().nombreProducto}}</p>
                                <p class="card-text"><b>Tramitado:</b>{{productos.payload.doc.data().fechaPedido | date: 'dd/MM/yyyy'}}</p>
                                <button [routerLink]="['/detalles-pedidos', productos.payload.doc.id]" class="boton-cancelar" >Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>
    <div style="margin-bottom: 2rem"  text-center>
        <p (click)="goCancelados()" class="footer"><img class="x" src="../../../assets/imgs/xs.png" alt="">CANCELADOS</p>
    </div>
</ion-footer>