.cajatexto{
    text-align: justify;
    outline: none;
    margin: 0 auto;
    height: 40px;
    padding-bottom: 3px;
   //   background-color: #F9F7F6;
  
 
  border: 1px solid rgba(0,0,0,.25);
  border-radius: 10px 10px 10px 10px;
 box-shadow: 0px 4px rgba(0,0,0,.50);
}

ion-label{
    color:#BB1D1D;
    font-weight: bold;
}