ion-content{
    --background: black;
}

.volver{
    text-align: end;
}


.titulo{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    img{
        padding-right: 1rem;
    }
    p{
        color: white;
        font-size: 25px;
        text-align: initial;
    }
}

.foto{
    width: 50%;
    border-radius: 50%;
}
.lista{
    text-align: initial;
    color: white;
}

button{
    background: #BC3EFF;
    color: white;
    height: 2rem;
    width: 10rem;
    border-radius: 5px;
    letter-spacing: 2px;
    font-size: small;
    margin-top: 3rem;
}