<ion-content #Content *ngFor="let textos of textos">
    <div class="caja">
        <app-header></app-header>
        <img class="video" src="../../../assets/img/gifvideohome.gif" alt="">
    </div>

    <div class="caja1" padding>
        <hr class="hr-desk">
        <h1 text-center>{{textos.subtitulo}}</h1>

        <p class="parrafo">{{textos.textoPrincipal}}</p>
        <ion-img class="image-desk" src="/assets/img/COCHE.gif" alt=""></ion-img>

    </div>
    <div class="segunda-caja" padding>

        <h2 text-center class="titulo-2">{{textos.subtitulo2}}</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <img class="img2" src="assets/img/home2.gif" />

                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <p class="parrafo-2">{{textos.textoSecundario}}</p>

                </div>

            </div>
        </div>
    </div>

    <div class="tercera-caja" padding>



        <h2 text-center class="titulo-2">{{textos.subtitulo3}}</h2>
        <div class="container">
            <div class="row">

                <div class="col-sm-12 col-md-6 col-lg-6">
                    <p class="parrafo-2">{{textos.textoTres}}</p>

                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <img src="assets/img/home3.gif" />

                </div>
            </div>
        </div>
    </div>
    <app-formulario></app-formulario>

    <app-footer-nuevo></app-footer-nuevo>

    <ion-fab class="subir" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary" (click)="scrollContent('top')">
            <ion-icon color="light" name="arrow-up"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
<ion-footer>
    <app-footer></app-footer>
</ion-footer>