    .header-sty {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding: auto;
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.80) !important;
        z-index: 99;
    }
    
    .formulario {
        margin-top: 3rem;
        width: 50%;
        background: black;
        margin-bottom: 3rem;
    }
    
    .logo {
        width: 10rem !important;
        margin-right: 3rem;
    }
    
    #navbarSupportedContent {
        background: transparent;
    }
    
    .bg-dark {
        background-color: rgba(0, 0, 0, 0.80) !important;
        z-index: 99;
    }
    
    .navbar-dark .navbar-nav .active>.nav-link,
    .navbar-dark .navbar-nav .nav-link.active,
    .navbar-dark .navbar-nav .nav-link.show,
    .navbar-dark .navbar-nav .show>.nav-link {
        color: #5F319E !important;
    }
    
    .navbar-dark .navbar-nav .nav-link:hover {
        color: white;
    }
    
    .image-desk {
        height: 25rem;
    }
    
    .img2 {
        margin-bottom: 2rem;
    }
    
    navbar-dark .navbar-nav .nav-link:focus {
        color: #5F319E !important;
    }
    
    .textoP {
        color: white;
        margin-top: 83%;
        margin-left: 47%;
        font-size: 26pt;
    }
    
    .titulo-2 {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
        display: block;
    }
    
    .tercera-caja {
        background: black;
        color: white;
        text-align: justify;
        margin-top: -1rem;
    }
    
    .segunda-caja {
        background: black;
        color: white;
        text-align: justify;
        margin-top: -3rem;
    }
    
    .que {
        height: 3rem;
        color: white;
        background: black;
        margin-left: 1rem;
        border-radius: 5px;
        margin-top: -1rem;
        width: 10rem;
    }
    
    .caja1 {
        background: black;
        color: white;
    }
    
    .parrafo {
        text-align: initial;
        font-size: 0.8rem;
    }
    
    footer {
        background: black;
    }
    
    .video {
        margin-top: -3rem;
    }
    
    .footer-desk {
        padding-top: 1.5rem;
        margin-bottom: 2rem;
        a {
            text-decoration: none;
            color: white;
        }
        .tel {
            color: white;
            text-align: initial;
            font-size: 10px;
        }
    }
    
    .what {
        margin-right: 1rem;
        margin-top: -2rem;
    }
    
    .subir {
        margin-bottom: 5rem;
        margin-right: 1rem;
    }
    
    .subir:focus {
        border: none;
    }
    
    @media (min-width: 900px) and (max-width: 1920px) {
        .what {
            display: none;
        }
        .logo {
            width: 15rem !important;
            margin-right: 3rem;
        }
        .img2 {
            max-width: 75%;
        }
        .navbar-expand-lg .navbar-nav {
            -ms-flex-direction: row;
            flex-direction: row;
            text-align: end;
            justify-content: end;
            margin-left: 35rem;
        }
        .parrafo-2 {
            margin-top: 25%;
        }
        .hr-desk {
            display: block;
            background: white;
            width: 50%;
            margin-right: -2rem;
            height: 0.2rem;
        }
        .parrafo {
            text-align: initial;
            font-size: 1rem;
            padding-right: 43rem;
            padding-top: 10rem;
            padding-left: 5rem;
        }
        .image-desk {
            position: relative;
            margin-left: 79%;
            height: 30rem;
            margin-top: -20rem;
            display: block;
        }
        h1 {
            margin-top: 20px;
            font-size: 26px;
            padding-top: 5rem;
            margin-bottom: -5rem;
        }
        .caja1 {
            background: black;
            color: white;
        }
        .que {
            height: 3rem;
            color: white;
            background: black;
            margin-left: 1rem;
            border-radius: 5px;
            margin-top: -1rem;
            width: 10rem;
            position: absolute;
            top: 421px;
            left: 61rem;
        }
        .textoP {
            color: white;
            margin-top: 23rem !important;
            margin-left: 13% !important;
            font-size: 44pt !important;
        }
        .desktop {
            display: block;
        }
        .mobile {
            display: none;
        }
        .p1 {
            font-size: smaller;
            text-align: -webkit-center;
            margin-top: 1rem;
        }
        .imgFooter {
            width: 11rem;
            margin-top: 1rem;
            padding-left: 2rem;
        }
        .p2-caja {
            padding-right: 2rem;
            margin-top: -1.5rem;
        }
        .video {
            margin-top: -1.5rem;
            height: 35rem;
            margin-left: 15%;
        }
        .caja {
            background: black;
        }
        .footer-tel {
            display: none;
        }
        .footer-desk {
            display: block;
            padding-top: 1.5rem;
            margin-bottom: 4rem;
            a {
                text-decoration: none;
                color: white;
                cursor: pointer;
            }
        }
    }