/*
╔═══════════════════╗
║ mova-select style ║
╚═══════════════════╝
*/

/*
Centraliza la reordenación del componente para mostrar la label a la izquierda.
De esta forma el mismo código se mantiene en un solo sitio para poder usarlo en media-queries.
*/
@mixin mv-select-mx-left-label () {

	// Anular el padding-top de la clase .has-label ya que no va a estar arriba
	padding-top: 0;

	// Reordenacion en caso sin icono
	> .mv-select-message,
	> .mv-select {
		width: calc(70% - 0.55rem);
		margin-left: calc(30% + 0.55rem);
	}

	> .mv-select-label {
		width: calc(30%);
		margin-top: 0.75rem;
	}
}

.mv-select-root {

	margin: 0 0 0.55rem 0;

	select {

		/*
		Especial para sobrescribir los estilos de Bootstrap y hacer esquinas redondeadas en el input
		*/
		-webkit-border-top-left-radius: $round-corner-default-size !important; // Forzar esquinas .input-group
		-webkit-border-top-right-radius: $round-corner-default-size !important; // Forzar esquinas .input-group
		-webkit-border-bottom-right-radius: $round-corner-default-size !important; // Forzar esquinas .input-group
		-webkit-border-bottom-left-radius: $round-corner-default-size !important; // Forzar esquinas .input-group
		-moz-border-radius-topleft: $round-corner-default-size !important; // Forzar esquinas .input-group
		-moz-border-radius-topright: $round-corner-default-size !important; // Forzar esquinas .input-group
		-moz-border-radius-bottomright: $round-corner-default-size !important; // Forzar esquinas .input-group
		-moz-border-radius-bottomleft: $round-corner-default-size !important; // Forzar esquinas .input-group
		border-top-left-radius: $round-corner-default-size !important; // Forzar esquinas .input-group
		border-top-right-radius: $round-corner-default-size !important; // Forzar esquinas .input-group
		border-bottom-right-radius: $round-corner-default-size !important; // Forzar esquinas .input-group
		border-bottom-left-radius: $round-corner-default-size !important; // Forzar esquinas .input-group

		font-size: $font-size-medium;
	}

	&.adapt {		
		width: 100%;
	}

	&.has-label {
		padding-top: 1.55rem;
	}

	&.has-message {
		padding-bottom: 1.55rem;
	}

	&.left-label {

		@include mv-select-mx-left-label();
	}

	/*
	label
	*/
	.mv-select-label {
		
		@include mx-truncate();

		position: absolute;
		margin: -1.25rem 0 0 0;
		padding: 0 0 0 0;
		font-size: $font-size-small;
		font-weight: bold;
	}


	/*
	mensaje
	*/
	.mv-select-message {

		@include mx-round-corners-default();

		@include mx-truncate();

		display: block;
		width: 100%;
		position: absolute;
		margin: 0 0 0 0;
		padding: 0.25rem 0.25rem 0.25rem 0.25rem;
		left: 0;
		bottom: -0.55rem;
		font-size: $font-size-small;
		font-weight: bold;
	}
}

/*
┌──────────────────┐
│ Bootstrap col-xs │
└──────────────────┘
*/

@media only screen and (max-width: $media-col-xs-max) {

}

/*
┌──────────────────┐
│ Bootstrap col-sm │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-sm-min) and (max-width : $media-col-sm-max) {

	.mv-select-root {

		&.left-label-sm {

			@include mv-select-mx-left-label();
		}
	}
}

/*
┌──────────────────┐
│ Bootstrap col-md │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-md-min) and (max-width : $media-col-md-max) {

	.mv-select-root {

		&.left-label-md {

			@include mv-select-mx-left-label();
		}
	}
}

/*
┌──────────────────┐
│ Bootstrap col-lg │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-lg-min) {

	.mv-select-root {

		&.left-label-lg {

			@include mv-select-mx-left-label();
		}
	}
}