<!--<ion-header>
    <app-header [tituloHeader]="textHeader"></app-header>
</ion-header>-->
<ion-content *ngIf="items" padding>
   


    <div text-center>
    <div style="position: relative">
      <div text-center class="imagen " text-center *ngFor="let item of items">
        <img class="imagen-perfil" src="{{ item.payload.doc.data().image }}" alt="">
      </div>
      <div class="tarjeta" text-center>
        <div *ngIf="items.length > 0" class="list-mini" text-center>
          <ion-list class="lista" *ngFor="let item of items">
              <div style="margin-top: 1rem;">
                <h3>
                {{ item.payload.doc.data().nombre }}
                </h3>
              </div>
              <p><b style="padding-right: 1rem;">Apellidos:</b>{{ item.payload.doc.data().apellidos }}</p>
              <p><b style="padding-right: 1rem;">Email:</b>{{ item.payload.doc.data().email }}</p>
              <p><b style="padding-right: 1rem;">Fecha nacimiento:</b>{{ item.payload.doc.data().fechaNacimiento | date: "dd/MM/yyyy"}}</p>
              <p><b style="padding-right: 1rem;">Teléfono:</b>{{ item.payload.doc.data().telefono }}</p>
              <p><b style="padding-right: 1rem;">Direccion:</b>{{ item.payload.doc.data().domicilio }}</p>
              <p><b style="padding-right: 1rem;">Codigo Postal:</b>{{ item.payload.doc.data().codigoPostal }}</p>
              <div >
                <p text-center style="font-size: small;">
                  <input style="text-align: center" readonly="true" class="id" #uid type="text" value="{{item.payload.doc.data().userId}}" id="uid"/>
                </p>
                  <ion-icon color="primary" size="large" name="copy" (click)="copy(uid)"></ion-icon>
              </div>
          </ion-list>
        </div>
      </div>
    </div>
    <div text-center *ngIf="items.length == 0 ">
      <button class="boton-completar" routerLink="/completar-registro">
        Completar registro
      </button>
    </div>
    <div text-center *ngFor="let item of items">
      <button type="button" class="boton" [routerLink]="['/detalles-perfil', item.payload.doc.id]">Editar</button>
      <div></div>
    <button type="button" class="boton-confirmar" routerLink="/tabs/tab5/tu-alquiler">Contratos a firmar &nbsp;
      <ion-badge size="small" *ngFor="let contratos of cs.contratos; let i = index; let lst = last" color="success"><p class="numero" *ngIf="lst">{{i+1}}</p></ion-badge>
    </button>
    <button type="button" class="boton-confirmar1" (click)="onLogout()">Cerrar Sesión</button>
    </div>
  </div>
  </ion-content>