<app-cabecera [titulohead]="tituhead"></app-cabecera>
<!-- <ion-buttons slot="end">
        <ion-back-button text="" color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-content *ngIf="isAdmin === true" padding>

      --> 
<ion-content padding margin-top>
    <h4>
          Menús
    </h4>
    <div text-center>
    <ion-button (click)="crearDietaHipo()" expand="block" >Añadir dieta</ion-button>
   </div>
   <ion-grid margin-top>
    <ion-row margin-top>
    <ul *ngFor="let item of items" >
    <ion-col [routerLink]="['/detalles-menu-proteina', item.payload.doc.id]">
        <div   class="bot bot_irHistoryClinico">
          <img src="../../../assets/imgs/bot_cliente_seguimiento/menus.png">
            <p style="font-size:10px; font-weight: bold; margin-top:-20%">{{item.payload.doc.data().nombreMenu}}</p>
          </div>
    </ion-col>
    </ul>
  </ion-row>         
    </ion-grid>
</ion-content>
