<!-- app-usuario-detail -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		class="app-cliente-detail-buttons"
		float=true
		adapt=true
		>

		<mv-button
			class="app-cliente-detail-buttons-button"
			id="buttonEliminar"
			icon-class="fa fa-trash"
			click="clickBotonEliminar()"
			btn-type="danger"
			show="modo==1"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>

		<mv-button
			class="app-cliente-detail-buttons-button"
			id="buttonLimpiar"
			icon-class="fa fa-eraser"
			click="clickBotonLimpiar()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>

		<mv-button
			class="app-cliente-detail-buttons-button"
			id="buttonGuardar"
			icon-class="fa fa-save"
			click="clickBotonModificar()"
			btn-type="primary"
			show="modo==1"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>

		<mv-button
			class="app-cliente-detail-buttons-button"
			id="buttonCrear"
			icon-class="fa fa-check"
			click="clickBotonCrear()"
			btn-type="success"
			show="modo==0"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>

	</mv-card>

	<mv-card
		class="app-cliente-mv-card-form mv-card-color-primary-001"
		default-css=false shadow=true round-corners=true
		round-corners=true>

		<mv-card
			bg-color="transparent"
			border-color="transparent"
			show="modo==1"
			round-corners=true>
			<mv-input-image
				id="imagenUsuario"
				class="app-cliente-detail-image"
				border-color="black"
				border-width="medium"
				shadow=true
				round-corners=true
				circle=true
				size=big
				src="media/images/icon_user.png"
				on-error-src="media/images/icon_user.png"
				click="clickBotonImagen()"
				>
			</mv-input-image>
		</mv-card>

		<h1 class="h1-color-primary-001">Información del cliente</h1>

		<mv-card
			class="section-warning"
			title="AVISO"
			>
			<p>Los campos con marcados con el símbolo ¹ se han creado como ejemplos de validación y no almacenarán su valor en el servidor.</p>
			<p>El servicio REST no está preparado para trabajar con todos los campos del formulario.</p>
			<p ng-show="modo==0">Para asignar una foto a un cliente primero debe crearlo. La foto necesita un identificador interno de cliente que se consigue al crear el cliente en la base de datos.</p>
		</mv-card>

		<p>* Campos obligatorios</p>

		<mv-container>

			<mv-group
				id="appClienteDetailGroup"
				>

				<!--<p class="app-cliente-detail-id">
					{{ ::cliente.idCliente }}
				</p>-->

				<mv-container-item col-xs=12 col-sm=6 default-margin=true>

					<mv-input
						id="appClienteDetailNombreCliente"
						left-label-md=true
						left-label-lg=true
						adapt=true
						is-required=true
						name="myInput"
						class="app-cliente-detail-form-field"
						label="Nombre*"
						model="cliente.nombre"
						placeholder="Nombre">
					</mv-input>

				</mv-container-item>

				<mv-container-item col-xs=12 col-sm=6 default-margin=true>

					<mv-input
						id="appClienteDetailApellido1Cliente"
						left-label-md=true
						left-label-lg=true
						adapt=true
						is-required=true
						class="app-cliente-detail-form-field"
						label="Primer apellido*"
						model="cliente.apellido1"
						placeholder="Primer apellido">
					</mv-input>

				</mv-container-item>

				<mv-container-item col-xs=12 col-sm=6 default-margin=true>

					<mv-input
						id="appClienteDetailApellido2Cliente"
						left-label-md=true
						left-label-lg=true
						adapt=true
						is-required=true
						class="app-cliente-detail-form-field"
						label="Segundo apellido*"
						model="cliente.apellido2"
						placeholder="Segundo apellido">
					</mv-input>

				</mv-container-item>

				<mv-container-item col-xs=12 col-sm=6 default-margin=true>

					<mv-input
						id="appClienteDetailDireccionCliente"
						left-label-md=true
						left-label-lg=true
						adapt=true
						is-required=true
						class="app-cliente-detail-form-field"
						label="Dirección*"
						model="cliente.direccion"
						placeholder="Dirección">
					</mv-input>

				</mv-container-item>

				<mv-container-item col-xs=12 col-sm=6 default-margin=true>

					<mv-input
						id="appClienteDetailDateCliente"
						left-label-md=true
						left-label-lg=true
						adapt=true
						is-required=true
						type="date"
						class="app-cliente-detail-form-field"
						label="Fª nacimiento*"
						model="fcNacimiento.selected"
						placeholder="Fª nacimiento">
					</mv-input>

				</mv-container-item>

				<mv-container-item col-xs=12 col-sm=6 default-margin=true>

					<mv-select
						adapt=true
						left-label-md=true
						left-label-lg=true
						class="app-cliente-detail-form-field"
						label="Estado civil"
						model="estadoCivil.selected"
						options="estadoCivilOpciones"
					>
					</mv-select>

				</mv-container-item>

				<mv-container-item col-xs=12 col-sm=6 default-margin=true>

					<mv-input
						id="appClienteDetailTelefonoCliente"
						left-label-md=true
						left-label-lg=true
						adapt=true
						is-required=true
						type="tel"
						class="app-cliente-detail-form-field"
						label="Teléfono*"
						model="cliente.telefono"
						placeholder="Teléfono">
					</mv-input>

				</mv-container-item>

				<mv-container-item col-xs=12 col-sm=6 default-margin=true>

					<mv-input
						id="appClienteDetailEdadCliente"
						left-label-md=true
						left-label-lg=true
						adapt=true
						val-max=99
						val-min=1
						class="app-cliente-detail-form-field"
						label="Edad¹"
						model="cliente_aux.edad"
						is-number=true
						validate-on-type=true
						is-required=true
						maxlength=3
						placeholder="Edad entre 1 y 99 años">
					</mv-input>

				</mv-container-item>

				<mv-container-item col-xs=6 col-sm=6 default-margin=true>

					<mv-input-checkbox size="medium">
					</mv-input-checkbox>
					<p class="app-cliente-mv-card-form-p">
						&nbsp;Suscripción a canal de noticias¹
					</p>

					<br>

					<mv-input-checkbox size="medium">
					</mv-input-checkbox>
					<p class="app-cliente-mv-card-form-p">
						&nbsp;Notificaciones activadas¹
					</p>

				</mv-container-item>

				<mv-container-item col-xs=6 col-sm=6 default-margin=true>

					<p class="app-cliente-mv-card-form-p">
						Sexo¹
					</p>
					<mv-group>
						<mv-input-radio
							model="radioSexo.valor"
							name="grupo1"
							value=1
						>
						</mv-input-radio>&nbsp;Mujer
						&nbsp;
						<mv-input-radio
							model="radioSexo.valor"
							name="grupo1"
							value=2
						>
						</mv-input-radio>&nbsp;Hombre
					</mv-group>

				</mv-container-item>

			</mv-group>

		<mv-container>

	</mv-card>

</mv-screen>
