/*
╔══════════════════════════╗
║ app-cliente-detail style ║
╚══════════════════════════╝
*/

app-cliente-detail {

    @include view-style;

    /*
    Seccion formulario
    */
    .mv-card {

		/*
		Campos
		*/
		.app-cliente-detail-form-field {
			font-size: $font-size-medium;
		}
		.app-cliente-detail-form-field:last-child {
			margin-bottom: 0;
		}		
    }

    /*
    Seccion botones
    */
    .app-cliente-detail-buttons {
    	text-align: right;

		/*
		Botones
		*/
		.app-cliente-detail-buttons-button {
			margin: 0.55rem 0.55rem 0.55rem 0;
		}
    }

    /*
    Campo que muestra el identificador
    */
    .app-cliente-detail-id {
    	display: inline-block;
    	font-size: $font-size-small;
    	float: right;
    	margin: 0 0 0.55rem 0;
    	padding: 0 0 0 0;
    }

    /*
    Imagen del detalle del cliente
    */
    .app-cliente-detail-image {
        display: block;
        margin: auto;
    }

    /*
    Contenedor mv-card del formulario
    */
    .app-cliente-mv-card-form {
        top: 0rem;
        max-width: $card-max-size;

        .app-cliente-mv-card-form-p {
            display: inline-block;
            margin: 0 0 0 0;
            font-size: $font-size-small;
            font-weight: bold;
        }
    }
}