<ion-content>
  <app-header [tituloHeader]="textHeader"></app-header>

  <button class="boton" (click)="goCrearIncidencia()">Crear Incidencia</button>
  <!-- <ion-searchbar [(ngModel)]="searchText" placeholder="Buscador..." style="text-transform: uppercase"></ion-searchbar>
  -->
  <div *ngFor="let item of items">
    <div *ngIf="items.length > 0">
      <!--<div *ngIf="
        item.payload.doc.data().nombre &&
        item.payload.doc.data().nombre.length
      ">-->
      <div text-center class="text-center mx-auto">
        <ion-list>
          <ion-card [routerLink]="['/detalles-incidencias', item.payload.doc.id]">
            <ion-card-content>
              <div>
                <p style="font-weight: bold">
                  Nombre
                </p>
                <p>{{ item.payload.doc.data().nombre }}</p>
              </div>
              <div>
                <p style="font-weight: bold">
                  Piso
                </p>
                <p>{{ item.payload.doc.data().direccion }}</p>
              </div>
              <div>
                <p style="font-weight: bold">
                  Tipo de Incidencia
                </p>
                <p>{{ item.payload.doc.data().tipoIncidencia }}</p>
                <hr />
              </div>
              <div>
                <textarea value="{{ item.payload.doc.data().textIncidencia }}">

              </textarea>
              </div>
              <div text-center class="mx-auto">
                <span text-center *ngIf="item.payload.doc.data().aceptada == true" style="color: green;">Aceptada</span>
                <span text-center *ngIf="item.payload.doc.data().aceptada != true" style="color: red;">Solicitada</span>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </div>
      <!--</div>-->
    </div>
    <div *ngIf="items.length == 0" class="empty-list">
      Sin Incidencias en este Momento
    </div>
  </div>
</ion-content>