
ion-content{

    --background: url('/assets/imgs/incidencia.jpg') no-repeat fixed center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
        --background-attachment: fixed;
}

@media only screen and (min-width:414px){
    ion-content{
        --background: url("/assets/imgs/incidenciaS.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
            --background-attachment: fixed;
    }
}

ion-list{
    background: transparent;
    margin-bottom: -1rem;
}

ion-card{
    background: rgba(255, 255, 255, 0.5);
    color: #000000;
    //width: 80%;
    border-radius: 5px;
  //  margin-left: 2.5rem;
  text-align: left;
}

p{
    font-size: larger;
}

textarea{
    background: rgba(38, 166, 255, 0.3);
    color: black;
    width: 100%;
    padding-left: 1rem;
    font-weight: bold;
}

.boton{
    width: 100%;
    height: 2.5rem;
    margin-top: 1rem;
    background: white;
    box-shadow: 1px 1px black;
    margin-bottom: 5;
}

