<!-- app-maquetacion-static-data -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<mv-card
		class="section-info"
		title="INFORMACIÓN"
		hr-class-if="hr-info"
		>
		<p>Este framework ofrece muchas posibilidades de maquetación, a continuación se muestran algunos ejemplos.</p>
		<p>Estos ejemplos no disponen de funcionalidad.</p>
	</mv-card>

	<!-- Contenedor de Cards -->
	<mv-container class="app-maquetacion-mv-card-main">

		<!-- Elemento del contenedor -->
		<mv-container-item col-xs=12 col-sm=6>

			<!-- Opción del menu principal -->
			<mv-card
				class="app-main-mv-card-option app-main-mv-card-option-static-data-informe"
				round-corners=true
				shadow=true
				click="clickOpcion(0)"
				border-color="#018373"
			>
				<mv-card
					default-css=false
					adapt=true
					round-corners=true
					class="app-main-mv-card-option-gradient-003">
				</mv-card>

				<i class="app-main-mv-card-option-icon fab fa-html5"></i>
				<p class="app-main-mv-card-option-text">Ejemplo de informe</p>
			</mv-card>
		</mv-container-item>

		<!-- Elemento del contenedor -->
		<mv-container-item col-xs=12 col-sm=6>

			<!-- Opción del menu principal -->
			<mv-card
				class="app-main-mv-card-option app-main-mv-card-option-static-data-factura"
				round-corners=true
				shadow=true
				click="clickOpcion(1)"
				border-color="#018373"
			>
				<mv-card
					default-css=false
					adapt=true
					round-corners=true
					class="app-main-mv-card-option-gradient-003">
				</mv-card>

				<i class="app-main-mv-card-option-icon fab fa-html5"></i>
				<p class="app-main-mv-card-option-text">Ejemplo de factura</p>
			</mv-card>
		</mv-container-item>

		<!-- Elemento del contenedor -->
		<mv-container-item col-xs=12 col-sm=6>

			<!-- Opción del menu principal -->
			<mv-card
				class="app-main-mv-card-option app-main-mv-card-option-static-data-menu"
				round-corners=true
				shadow=true
				click="clickOpcion(2)"
				border-color="#018373"
			>
				<mv-card
					default-css=false
					adapt=true
					round-corners=true
					class="app-main-mv-card-option-gradient-003">
				</mv-card>

				<i class="app-main-mv-card-option-icon fab fa-html5"></i>
				<p class="app-main-mv-card-option-text">Ejemplo de menu</p>
			</mv-card>
		</mv-container-item>

		<!-- Elemento del contenedor -->
		<mv-container-item col-xs=12 col-sm=6>

			<!-- Opción del menu principal -->
			<mv-card
				class="app-main-mv-card-option app-main-mv-card-option-static-data-censo"
				round-corners=true
				shadow=true
				click="clickOpcion(3)"
				border-color="#018373"
			>
				<mv-card
					default-css=false
					adapt=true
					round-corners=true
					class="app-main-mv-card-option-gradient-003">
				</mv-card>

				<i class="app-main-mv-card-option-icon fab fa-html5"></i>
				<p class="app-main-mv-card-option-text">Ejemplo de presentaciones</p>
			</mv-card>
		</mv-container-item>

	</mv-container>
</mv-screen>
