/*
╔═══════════════════════════════════╗
║ app-maquetacion-static-data style ║
╚═══════════════════════════════════╝
*/
app-maquetacion-static-data {

	@include view-style

	.app-maquetacion-mv-card-main {

	    max-width: $card-max-size;
	    margin: 0 auto;

		.app-main-mv-card-option {

			display: block;
			text-align: left;
			color: $color-primary-002;
			height: 5rem;

			.app-main-mv-card-option-icon {

				display: inline-block;
				vertical-align: middle;
				font-size: $font-size-big;
				margin-top: 0.75rem;
			};

			.app-main-mv-card-option-text {

				display: inline-block;
				vertical-align: middle;
				width: 90%;
				font-size: $font-size-medium;
				font-weight: bold;
				margin: 1rem 0 0 0.55rem;

				@include mx-truncate;
			};

			/**************************************
			 * Estilos especiales de las opciones *
			 **************************************/

			// Gradiente color-primary-001
			.app-main-mv-card-option-gradient-001 {
			    width:100%;
			    height: 100%;
			    position: absolute;
			    opacity: 0.9;
			    margin: 0 0 0 0;
			    padding: 0 0 0 0;
			    top: 0;
			    left: 0;
			    background-image: linear-gradient(to right,$color-primary-001-60,$color-primary-001-10);
			}

			// Gradiente color-primary-002
			.app-main-mv-card-option-gradient-002 {
			    width:100%;
			    height: 100%;
			    position: absolute;
			    opacity: 0.9;
			    margin: 0 0 0 0;
			    padding: 0 0 0 0;
			    top: 0;
			    left: 0;
			    background-image: linear-gradient(to right,$color-primary-002-60,$color-primary-002-10);
			}

			// Gradiente color-primary-003
			.app-main-mv-card-option-gradient-003 {
			    width:100%;
			    height: 100%;
			    position: absolute;
			    opacity: 0.9;
			    margin: 0 0 0 0;
			    padding: 0 0 0 0;
			    top: 0;
			    left: 0;
			    background-image: linear-gradient(to right,$color-primary-003-60,$color-primary-003-10);
			}

			// Gradiente color-primary-004
			.app-main-mv-card-option-gradient-004 {
			    width:100%;
			    height: 100%;
			    position: absolute;
			    opacity: 0.9;
			    margin: 0 0 0 0;
			    padding: 0 0 0 0;
			    top: 0;
			    left: 0;
			    background-image: linear-gradient(to right,$color-primary-004-60,$color-primary-004-10);
			}

			// Imagen de fondo genérica de código
			&.app-main-mv-card-option-static-data-informe,
			&.app-main-mv-card-option-static-data-factura,
			&.app-main-mv-card-option-static-data-menu,
			&.app-main-mv-card-option-static-data-censo {

				background: url(media/images/examples/app-maquetacion-code.png);
				color: $color-secondary-011;

				.app-main-mv-card-option-icon,
				.app-main-mv-card-option-text {
					position: relative;
				}
			}
		};
	}
}
