/*
╔════════════════╗
║ mova-tab style ║
╚════════════════╝
*/

section {
	&.mv-tab {

		> .wizzard-line {
			display: none;
		}

		> main {

			> .mv-tab-ol {
				display: table;
				text-align: center;
				width: 100%;
				margin: 0 0 0 0;
				padding: 0 0 0 0;
    			table-layout: fixed;

				> .mv-tab-item:last-child {

				}
				> .mv-tab-item {

					display: table-cell;
					vertical-align: middle;
					min-height: 0rem; // Corregir el estilo del mv-item-simple

					&.mv-tab-item-selected {

						.mv-tab-badge {
						}

						.mv-tab-icon {
						}

						.mv-tab-caption {
						}
					}

					.mova-item-click-icon,
					.mova-item-image,
					h1,
					h2,
					h3,
					{
						display: none;
					}

					main {
						display: block;
						width: 100%;
						max-width: 100%;
						text-align: center;
					}

					/*
					<span> contenedor del badge
					*/
					.mv-tab-badge {
						display: inline-block;
					}

					.mv-tab-icon {
						display: block;
					}

					.mv-tab-caption {
						display: block;
					}
				}
			}
		}
	}

	/*
	Clase para incluir sombra al elemento
	*/
	&.shadow {
		@include mx-shadow();
	}

	/*
	Clase para scroll en X al elemento
	*/
	& .scroll {

		overflow-x: scroll;
		overflow-y: hidden;


		> main {

			> .mv-tab-ol {

				> .mv-tab-item {

					width: 19vw;
				}
			}
		}
	}

	/*
	Clase para dar estilo al tab cuando se utilice en la posición bottom de la vista, generalmente dentro
	de un <mv-card> con adapt y float
	*/
	&.bottom-mode {

		> main {

			> .mv-tab-ol {

				> .mv-tab-item {
					border-bottom: none;
				}

				> .mv-tab-item:first-child {

					@include mx-no-round-corners();
					border-left: none;
				}
				> .mv-tab-item:last-child {

					@include mx-no-round-corners();
					border-right: none;
				}
			}
		}
	}

	/******************
	 * Estilo default *
	 ******************/

	&.tab-default {

		/*
		Clase para dar estilo al tab cuando se utilice en la posición bottom de la vista, generalmente dentro
		de un <mv-card> con adapt y float
		*/
		&.bottom-mode {

			> main {

				> .mv-tab-ol {

					//border-top: solid thin $color-secondary-006;
				}
			}
		}

		> main {
			> .mv-tab-ol {
				> .mv-tab-item:first-child {
					border-left: solid thin $color-secondary-010;
				}
				> .mv-tab-item:last-child {
					border-right: solid thin $color-secondary-010;
				}
				> .mv-tab-item {

					background-color: $color-secondary-011;
					color: $color-secondary-010;
					border: none;
					border-top: solid thin $color-secondary-010;
					border-right: solid thin $color-secondary-010;
					border-bottom: solid thin $color-secondary-010;

					&.mv-tab-item-selected {

						@include mx-inset-shadow();

						background-color: $color-secondary-009;

						.mv-tab-badge {

							@include mx-shadow();
						}

						.mv-tab-icon {

							//@include mx-text-shadow();

							color: $color-secondary-010;
						}

						.mv-tab-caption {

							//@include mx-text-shadow();

							font-weight: bold;
							color: $color-secondary-010;
						}
					}

					.mova-item-click-icon,
					.mova-item-image,
					h1,
					h2,
					h3,
					{
						display: none;
					}

					main {

						margin: 0 0 0 0;
						padding: 0.55rem 0.55rem 0.55rem 0.55rem;
					}

					/*
					<span> contenedor del badge
					*/
					.mv-tab-badge {

						@include mx-round-corners(5rem, 5rem, 5rem, 5rem);

						position: absolute;
						text-align: center;
						margin: -0.65rem 0.55rem 0 0;
						padding: 0.15rem 0.27rem 0 0.3rem;
						top: 0;
						right: 0;
						font-size: 7pt;
						background-color: $color-secondary-009;
						border: solid thin $color-secondary-010;
						color: $color-secondary-010;
					}

					.mv-tab-icon {

						//min-height: 1.35rem;

						margin: 0.55rem 0 0.55rem 0;

						font-size: $font-size-big;
					}

					.mv-tab-caption {
						display: block;

						font-size: 7pt;
					}
				}
			}
		}
	}

	/***************
	 * Estilo flat *
	 ***************/

	&.tab-flat {

		/*
		Clase para dar estilo al tab cuando se utilice en la posición bottom de la vista, generalmente dentro
		de un <mv-card> con adapt y float
		*/
		&.bottom-mode {

			> main {

				> .mv-tab-ol {

					border-top: solid thin $color-secondary-006;
				}
			}
		}

		> main {
			> .mv-tab-ol {
				> .mv-tab-item:first-child {
					border: none;
				}
				> .mv-tab-item:last-child {
					border: none;
				}
				> .mv-tab-item {

					background-color: $color-secondary-011;
					color: $color-disabled;
					border: none;

					&.mv-tab-item-selected {

						background-color: $color-secondary-011;

						.mv-tab-badge {

						}

						.mv-tab-icon {


							color: $color-accent;
						}

						.mv-tab-caption {

							font-weight: bold;
							color: $color-accent;
						}
					}

					.mova-item-click-icon,
					.mova-item-image,
					h1,
					h2,
					h3,
					{
						display: none;
					}

					main {

						margin: 0 0 0 0;
						padding: 0.55rem 0.55rem 0.55rem 0.55rem;
					}

					/*
					<span> contenedor del badge
					*/
					.mv-tab-badge {

						@include mx-round-corners(5rem, 5rem, 5rem, 5rem);

						position: absolute;
						text-align: center;
						margin: 0 -1.85rem 0 0;
						padding: 0.15rem 0.27rem 0 0.3rem;
						left: auto;
						right: 50%;
						font-size: 6pt;
						background-color: $color-accent;
						border: solid thin $color-accent;
						color: $color-secondary-011;
					}

					.mv-tab-icon {

						min-height: 1.35rem;

						margin: 0.55rem 0 0.55rem 0;

						font-size: $font-size-big;
					}

					.mv-tab-caption {
						display: block;

						font-size: 7pt;
					}
				}
			}
		}
	}

	/********************
	 * Estilo flat dark *
	 ********************/

	&.tab-flat-dark {

		/*
		Clase para dar estilo al tab cuando se utilice en la posición bottom de la vista, generalmente dentro
		de un <mv-card> con adapt y float
		*/
		&.bottom-mode {

			> main {

				> .mv-tab-ol {

					border-top: solid thin $color-secondary-006;
				}
			}
		}

		> main {
			> .mv-tab-ol {
				> .mv-tab-item:first-child {
					border: none;
				}
				> .mv-tab-item:last-child {
					border: none;
				}
				> .mv-tab-item {

					background-color: $color-secondary-006;
					color: $color-disabled;
					border: none;

					&.mv-tab-item-selected {

						background-color: $color-secondary-006;

						.mv-tab-badge {

						}

						.mv-tab-icon {
							color: $color-secondary-011;
						}

						.mv-tab-caption {
							font-weight: bold;
							color: $color-secondary-011;
						}
					}

					.mova-item-click-icon,
					.mova-item-image,
					h1,
					h2,
					h3,
					{
						display: none;
					}

					main {

						margin: 0 0 0 0;
						padding: 0.55rem 0.55rem 0.55rem 0.55rem;
					}

					/*
					<span> contenedor del badge
					*/
					.mv-tab-badge {

						@include mx-round-corners(5rem, 5rem, 5rem, 5rem);

						position: absolute;
						text-align: center;
						margin: 0 -1.85rem 0 0;
						padding: 0.15rem 0.27rem 0 0.3rem;
						left: auto;
						right: 50%;
						font-size: 6pt;
						background-color: $color-accent;
						border: solid thin $color-accent;
						color: $color-secondary-011;
					}

					.mv-tab-icon {

						min-height: 1.35rem;

						margin: 0.55rem 0 0.55rem 0;

						font-size: $font-size-big;
					}

					.mv-tab-caption {
						display: block;

						font-size: 7pt;
					}
				}
			}
		}
	}

	/*******************
	 * Estilo emphasis *
	 *******************/

	&.tab-emphasis {

		/*
		Clase para dar estilo al tab cuando se utilice en la posición bottom de la vista, generalmente dentro
		de un <mv-card> con adapt y float
		*/
		&.bottom-mode {

			> main {

				> .mv-tab-ol {

					border-top: solid thin $color-secondary-011;
				}
			}
		}

		> main {
			> .mv-tab-ol {
				> .mv-tab-item:first-child {
					border: none;
				}
				> .mv-tab-item:last-child {
					border: none;
				}
				// Enfasis en el elemento central
				> .mv-tab-item:nth-child(3) {

					.mv-tab-badge {

					}

					.mv-tab-icon {

						@include mx-round-corners(10rem,10rem,10rem,10rem);

						position: absolute;
						top: -1rem;
						left: 50%;
						margin: 0 0 0 -2.55rem;
						padding: 1.45rem 1.35rem 1.4rem 1.35rem;
						font-size: 16pt;
						color: $color-secondary-011;
						background-color: $color-disabled;
						border: solid thick $color-secondary-011;
						z-index: $z-index_tab-icon;
					}

					.mv-tab-caption {
						display: none;
					}

					&.mv-tab-item-selected {

						.mv-tab-badge {

						}

						.mv-tab-icon {

							color: $color-secondary-011;

							background-color: $color-accent;
						}

						.mv-tab-caption {
							display: none;
						}
					}
				}
				> .mv-tab-item {

					background-color: $color-secondary-011;
					color: $color-disabled;
					border: none;

					&.mv-tab-item-selected {

						background-color: $color-secondary-011;

						.mv-tab-badge {

						}

						.mv-tab-icon {
							color: $color-accent;
						}

						.mv-tab-caption {
							font-weight: bold;
							color: $color-accent;
						}
					}

					.mova-item-click-icon,
					.mova-item-image,
					h1,
					h2,
					h3,
					{
						display: none;
					}

					main {

						margin: 0 0 0 0;
						padding: 0.55rem 0.55rem 0.55rem 0.55rem;
					}

					/*
					<span> contenedor del badge
					*/
					.mv-tab-badge {

						@include mx-round-corners(5rem, 5rem, 5rem, 5rem);

						position: absolute;
						text-align: center;
						margin: 0 -1.85rem 0 0;
						padding: 0.15rem 0.27rem 0 0.3rem;
						left: auto;
						right: 50%;
						font-size: 6pt;
						background-color: $color-accent;
						border: solid thin $color-accent;
						color: $color-secondary-011;
					}

					.mv-tab-icon {

						min-height: 1.35rem;

						margin: 0.55rem 0 0.55rem 0;

						font-size: $font-size-big;
					}

					.mv-tab-caption {
						display: block;

						font-size: 7pt;
					}
				}
			}
		}
	}

	/************************
	 * Estilo emphasis-dark *
	 ************************/

	&.tab-emphasis-dark {

		/*
		Clase para dar estilo al tab cuando se utilice en la posición bottom de la vista, generalmente dentro
		de un <mv-card> con adapt y float
		*/
		&.bottom-mode {

			> main {

				> .mv-tab-ol {

					border-top: solid thin $color-secondary-006;
				}
			}
		}

		> main {
			> .mv-tab-ol {
				> .mv-tab-item:first-child {
					border: none;
				}
				> .mv-tab-item:last-child {
					border: none;
				}
				// Enfasis en el elemento central
				> .mv-tab-item:nth-child(3) {

					.mv-tab-badge {

					}

					.mv-tab-icon {

						@include mx-round-corners(10rem,10rem,10rem,10rem);

						position: absolute;
						top: -1rem;
						left: 50%;
						margin: 0 0 0 -2.55rem;
						padding: 1.45rem 1.35rem 1.4rem 1.35rem;
						font-size: 16pt;
						color: $color-secondary-006;
						background-color: $color-disabled;
						border: solid thick $color-secondary-006;
						z-index: $z-index_tab-icon;
					}

					.mv-tab-caption {
						display: none;
					}

					&.mv-tab-item-selected {

						.mv-tab-badge {

						}

						.mv-tab-icon {

							color: $color-secondary-006;

							background-color: $color-secondary-011;
						}

						.mv-tab-caption {
							display: none;
						}
					}
				}
				> .mv-tab-item {

					background-color: $color-secondary-006;
					color: $color-disabled;
					border: none;

					&.mv-tab-item-selected {

						background-color: $color-secondary-006;

						.mv-tab-badge {

						}

						.mv-tab-icon {
							color: $color-secondary-011;
						}

						.mv-tab-caption {
							font-weight: bold;
							color: $color-secondary-011;
						}
					}

					.mova-item-click-icon,
					.mova-item-image,
					h1,
					h2,
					h3,
					{
						display: none;
					}

					main {

						margin: 0 0 0 0;
						padding: 0.55rem 0.55rem 0.55rem 0.55rem;
					}

					/*
					<span> contenedor del badge
					*/
					.mv-tab-badge {

						@include mx-round-corners(5rem, 5rem, 5rem, 5rem);

						position: absolute;
						text-align: center;
						margin: 0 -1.85rem 0 0;
						padding: 0.15rem 0.27rem 0 0.3rem;
						left: auto;
						right: 50%;
						font-size: 6pt;
						background-color: $color-accent;
						border: solid thin $color-accent;
						color: $color-secondary-011;
					}

					.mv-tab-icon {

						min-height: 1.35rem;

						margin: 0.55rem 0 0.55rem 0;

						font-size: $font-size-big;
					}

					.mv-tab-caption {
						display: block;

						font-size: 7pt;
					}
				}
			}
		}
	}

	/******************
	 * Estilo minimal *
	 ******************/

	&.tab-minimal {

		/*
		Clase para dar estilo al tab cuando se utilice en la posición bottom de la vista, generalmente dentro
		de un <mv-card> con adapt y float
		*/
		&.bottom-mode {

			> main {

				> .mv-tab-ol {

					border-top: solid thin $color-disabled;
				}
			}
		}

		> main {
			> .mv-tab-ol {
				> .mv-tab-item:first-child {
					border: none;
				}
				> .mv-tab-item:last-child {
					border: none;
				}
				> .mv-tab-item {

					background-color: $color-secondary-011;
					color: $color-disabled;
					border: none;

					&.mv-tab-item-selected {

						background-color: $color-secondary-011;

						.mv-tab-badge {

						}

						.mv-tab-icon {
							color: $color-accent;
						}

						.mv-tab-caption {

						}
					}

					.mova-item-click-icon,
					.mova-item-image,
					h1,
					h2,
					h3,
					{
						display: none;
					}

					main {

						margin: 0 0 0 0;
						padding: 0.55rem 0.55rem 0.55rem 0.55rem;
					}

					/*
					<span> contenedor del badge
					*/
					.mv-tab-badge {

						@include mx-round-corners(5rem, 5rem, 5rem, 5rem);

						position: absolute;
						text-align: center;
						margin: 0 -1.55rem 0 0;
						padding: 0.25rem 0.25rem 0.25rem 0.25rem;
						left: auto;
						right: 50%;
						font-size: 6pt;
						background-color: $color-accent;
						border: solid thin $color-accent;
						color: $color-secondary-011;

						.mv-tab-badge-caption {
							display: none;
						}
					}

					.mv-tab-icon {

						min-height: 1.35rem;

						margin: 0.55rem 0 0.55rem 0;

						font-size: $font-size-big;
					}

					.mv-tab-caption {
						display: none;
					}
				}
			}
		}
	}

	/***********************
	 * Estilo minimal-dark *
	 ***********************/

	&.tab-minimal-dark {

		/*
		Clase para dar estilo al tab cuando se utilice en la posición bottom de la vista, generalmente dentro
		de un <mv-card> con adapt y float
		*/
		&.bottom-mode {

			> main {

				> .mv-tab-ol {

					border-top: solid thin $color-secondary-006;
				}
			}
		}

		> main {
			> .mv-tab-ol {
				> .mv-tab-item:first-child {
					border: none;
				}
				> .mv-tab-item:last-child {
					border: none;
				}
				> .mv-tab-item {

					background-color: $color-secondary-006;
					color: $color-disabled;
					border: none;

					&.mv-tab-item-selected {

						background-color: $color-secondary-006;

						.mv-tab-badge {

						}

						.mv-tab-icon {
							color: $color-secondary-011;
						}

						.mv-tab-caption {

						}
					}

					.mova-item-click-icon,
					.mova-item-image,
					h1,
					h2,
					h3,
					{
						display: none;
					}

					main {

						margin: 0 0 0 0;
						padding: 0.55rem 0.55rem 0.55rem 0.55rem;
					}

					/*
					<span> contenedor del badge
					*/
					.mv-tab-badge {

						@include mx-round-corners(5rem, 5rem, 5rem, 5rem);

						position: absolute;
						text-align: center;
						margin: 0 -1.55rem 0 0;
						padding: 0.25rem 0.25rem 0.25rem 0.25rem;
						left: auto;
						right: 50%;
						font-size: 6pt;
						background-color: $color-accent;
						border: solid thin $color-accent;
						color: $color-secondary-011;

						.mv-tab-badge-caption {
							display: none;
						}
					}

					.mv-tab-icon {

						min-height: 1.35rem;

						margin: 0.55rem 0 0.55rem 0;

						font-size: $font-size-big;
					}

					.mv-tab-caption {
						display: none;
					}
				}
			}
		}
	}

	/*****************
	 * Estilo wizard *
	 *****************/

	&.tab-wizard {

		/*
		Clase para dar estilo al tab cuando se utilice en la posición bottom de la vista, generalmente dentro
		de un <mv-card> con adapt y float
		*/
		&.bottom-mode {

			> main {

				> .mv-tab-ol {

					border-top: solid thin $color-disabled;
				}
			}
		}

		> .wizzard-line {
			display: block;
			position: absolute;
			width: 100%;
			margin-top: 0.8rem;
			border-bottom: thin solid #a9a9a9;
		}

		> main {
			> .mv-tab-ol {
				> .mv-tab-item:first-child {
					border: none;
				}
				> .mv-tab-item:last-child {
					border: none;
				}
				> .mv-tab-item {

					background-color: transparent;
					color: $color-disabled;
					border: none;

					&.mv-tab-item-selected {

						//background-color: $color-secondary-011;

						.mv-tab-badge {

							background-color: $color-accent;
							color: $color-secondary-011;
						}

						.mv-tab-icon {
							color: $color-accent;
						}

						.mv-tab-caption {
							color: $color-accent;
							font-weight: bold;
							//text-decoration: underline;
						}
					}

					.mova-item-click-icon,
					.mova-item-image,
					h1,
					h2,
					h3,
					{
						display: none;
					}

					main {

						margin: 0 0 0 0;
						padding: 0.55rem 0.55rem 0.55rem 0.55rem;
					}

					/*
					<span> contenedor del badge
					*/
					.mv-tab-badge {

						@include mx-round-corners(25rem, 25rem, 25rem, 25rem);

						position: absolute;
						text-align: center;
						margin: -1rem -1.25rem 0 0;
						padding: 1.25rem 1.25rem 1.25rem 1.25rem;
						left: auto;
						right: 50%;
						font-size: 10pt;
						background-color: #efefef;
						border: solid thin #a9a9a9;
						color: $color-secondary-006;

						.mv-tab-badge-caption {
							display: block;
							position: absolute;
							width: 100%;
							top: 0.6rem;
							left: 0;
						}
					}

					.mv-tab-icon {

						min-height: 1.35rem;

						margin: 0.55rem 0 0.55rem 0;

						font-size: $font-size-big;
					}

					.mv-tab-caption {
						//display: none;

						color: #a9a9a9;
						text-align: center;
					}
				}
			}
		}
	}
}
