<!-- app-ficha-notificacion -->

<mv-item
	title="{{ $ctrl.notificacion.titulo }}"
	detail=""
	corner="{{ $ctrl.notificacion.fecha }}"
	click="clickItem($ctrl.notificacion.infoApp)"
	type="simple">

	<div class="textoDato">
		{{$ctrl.notificacion.mensaje}}
	</div>
	<div class="labelDato">
		Identificador:
	</div>
	<div class="valorDato">
		{{ infoApp.id }}
	</div>

	<span>
		<i class="fa fa-trash iconoEliminar cursor-pointer" ng-click="eliminaNotificacion($ctrl.notificacion); $event.stopPropagation();"></i>
	</span>
</mv-item>
