/*
╔══════════════════════════════╗
║ app-ficha-notificacion style ║
╚══════════════════════════════╝
*/
app-ficha-notificacion {

  .mv-item{
    border: thin solid;
    border-color: #666666 !important;
  }
  .labelDato{
    display: inline-block;
    margin-right: 5px;
  }
  .valorDato{
    font-weight: bold;
    display: inline-block;
  }

}
