/*
╔════════════════════════════╗
║ app-maquetacion-menu style ║
╚════════════════════════════╝
*/
app-maquetacion-menu {
	@include view-style

  #container{
    max-width: 600px;
    margin: 0 auto;
  }

  /*
  Contenedor mv-card del formulario
  */
  .app-ppro-mv-card-form {
    top: 0rem;
    max-width: $card-max-size;
  }

  .app-ppro-main {

    .app-ppro-main-option {

      .app-ppro-main-option-text{
        white-space: normal !important;
      }

      display: block;
      text-align: left;
      color: $color-primary-002;
      height: 10rem;
      margin: 0.4rem 0.4rem 0.4rem 0.4rem !important;

      .mv-card-badge-icon-class{
        border: none;
        font-size: 1rem;
        top: 1.85rem;
        right: 0rem;
        color: #fff;
        background-color: transparent;
      }

      .app-ppro-main-option-icon {
        display: inline-block;
        vertical-align: middle;
        font-size: $font-size-big;
        margin-top: 0.75rem;
      };

      .app-ppro-main-option-text {
        display: inline-block;
        vertical-align: middle;
        width: 90%;
        font-size: $font-size-medium;
        font-weight: bold;
        margin: 1rem 0 0 0.55rem;

        @include mx-truncate;
      };

      // Imagen de fondo option1
      &.app-ppro-main-option-option1 {
        background: url(media/images/imagenes_ppro/logoGPAP.png);
        background-size: cover;
        color: $color-secondary-011;

        .app-ppro-main-option-icon,
        .app-ppro-main-option-text {
          position: relative;
        }
      }

      // Imagen de fondo invierte madrid
      &.app-ppro-main-option-option2 {
        background: url(media/images/imagenes_ppro/calendario_pixabay.jpg);
        background-size: cover;
        color: $color-secondary-011;

        .app-ppro-main-option-icon,
        .app-ppro-main-option-text {
          position: relative;
        }
      }

      // Imagen de fondo invierte madrid
      &.app-ppro-main-option-option3 {
        background: url(media/images/imagenes_ppro/firmacontrato.jpg);
        background-size: cover;
        color: $color-secondary-011;

        .app-ppro-main-option-icon,
        .app-ppro-main-option-text {
          position: relative;
        }
      }

      // Imagen de fondo invierte madrid
      &.app-ppro-main-option-option4 {
        background: url(media/images/imagenes_ppro/servers_2.jpg);
        background-size: cover;
        color: $color-secondary-011;

        .app-ppro-main-option-icon,
        .app-ppro-main-option-text {
          position: relative;
        }
      }

			// Imagen de fondo invierte madrid
      &.app-ppro-main-option-option5 {
        background: url(media/images/imagenes_ppro/database2.jpg);
        background-size: cover;
        color: $color-secondary-011;

        .app-ppro-main-option-icon,
        .app-ppro-main-option-text {
          position: relative;
        }
      }

      .app-ppro-main-option-gradient {
        width:100%;
        height: 100%;
        position: absolute;
        opacity: 0.9;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        top: 0;
        left: 0;
        background-image: linear-gradient(to right, rgba(86, 115, 131, 0.8), rgba(86, 115, 131, 0.2))
      }

    };
  }

}
