ion-content{

    --background: url("/assets/imgs/tusAgentes.jpg") no-repeat fixed center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}

@media only screen and (min-width:414px){
    ion-content{
        --background: url("/assets/imgs/tusAgentesS.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
    }
}

p{
    font-weight: bold;
    font-size: larger;
}

input{
    width: 100%;
    border: none;
    background: transparent;
}

ion-icon{
    margin-top: 1rem;
}

ion-card{
    background: rgba(255,255,255,0.6);
}

@media (min-width:1024px) and (max-width:1920px){
    .caja{
        width: 50%;
    }
    ion-searchbar{
        width: 50%;
        margin-left: 25%;
    }
    ion-content{
        --background: url("/assets/imgs/listaPisosDesktop.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
        --background-attachment: fixed;
    }  
}

