<app-cabecera [titulohead]="tituhead"></app-cabecera>
<button (click)="goBack()" style="background: transparent !important ; float:left;">
  <img class="arrow" src="../../../assets/imgs/arrow.png" />
</button>

<ion-content padding>
  <form class="animated fadeIn fast" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <ion-item>
      <ion-item>
        <img [src]="image" alt="imagen" />
      </ion-item>
    </ion-item>
    <ion-item>

      <p>
        <b>{{this.item.nombre}}:</b>{{this.item.fecha | date: 'dd/MM/yyyy'}}
      </p>

    </ion-item>
  </form>
  <ion-button class="submit-button" fill="outline" expand="block" color="primary" style="--border-radius:20px"
    (click)="delete()">Borrar</ion-button>

</ion-content>