
        ion-content{

            --background: url("/assets/imgs/impago.jpg") no-repeat fixed center; 
            -webkit-background-size: contain;
            -moz-background-size: contain;
            background-size: contain;
        }
        .tel{
            color: white;
            text-align: initial;
        }
  
        @media only screen and (min-width:414px){
            ion-content{
                --background: url("/assets/imgs/impagoS.jpg") no-repeat fixed center; 
                -webkit-background-size: contain;
                -moz-background-size: contain;
                background-size: contain;
            }
        }


        .input{
            background: rgba(255,255,255,0.8);
            padding-left: 1rem;
            width: 100%;
            height: 2.5rem;
        }

        textarea{
            width: 100%;
        }

        ion-select{
            background: rgba(255,255,255,1);

        }


        .botones{
            width: 8rem;
            border-radius: 5px;
            height: 2.5rem;
            //margin-top: 1rem;
            background: rgba(38,166,255, 0.8);
            box-shadow: 1px 1px black;
            margin-bottom: 5;
            //margin-top: 1rem;
            margin-bottom: 1rem;
            color:black;
            font-size: larger;
            margin-top: 1rem;
          //  margin-right: 1rem;
        }
        
        .boton-borrar{
            width: 8rem;
            border-radius: 5px;
            height: 2.5rem;
            margin-top: 0.5rem;
            color:white;
            font-size: larger;
            background: rgba(254,000,000, 0.5);
            box-shadow: 1px 1px black;
            margin-bottom: 1rem;
        }


        @media (min-width:1024px) and (max-width:1920px){
            ion-content{
                --background: url("/assets/imgs/Dd.jpg") no-repeat fixed center; 
                -webkit-background-size: contain;
                -moz-background-size: contain;
                background-size: contain;
                --background-attachment: fixed;
            }  
            .tel{
                color: black;
                text-align: initial;
            }
            ion-select{
                width: 31%;
            }
            .signature{
                height: 10rem;
                width: 10rem;
            }
        }   