ion-content{
    --background: url(../../../assets/imgs/contratos.png) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

ion-card{
    background-color: rgba(243, 241, 239, 0.8);
}

ion-card-content{
    text-align: -webkit-auto;
}

.search{
    width: 85%;
    border-radius: 10px;
    height: 2.4rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  img.signature{
    width: 5rem;
    position: absolute;
    right: 0;
    border: 1px 1px black;
    margin-right: 0.5rem;
    margin-top: -0.8rem;
    opacity: 0.8;
  }

i{
    float: right;
}

.sin{
    text-align: center;
    top: 50%;
    position: relative;
    font-size: x-large;
}

p{
    font-size: smaller;
}

b{
    margin-right: 1rem;
}

@media (min-width:1024px) and (max-width:1920px){
    ion-content{
        --background: url("/assets/imgs/listaPisosDesktop.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
        --background-attachment: fixed;
    }  
    .firma{
        width: 25%
    }
    ion-slides{
        height: 10rem;
    }
} 