<ion-header>
  <ion-toolbar>
    <ion-title>completar-registro-Agente</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <div>
    <div text-center class="mx-auto" size="12" >
      <img class="circular" [src]="image" *ngIf="image" />
    </div>
    <div text-center class="mx-auto" size="12" >
      <button class="boton-foto" (click)="getPicture()">Agrega tu Foto</button>
    </div>
</div>
  <form style="font-family: Comfortaa" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <ion-item>
      <ion-label position="floating" color="ion-color-dark">Nombre</ion-label>
      <ion-input placeholder="Nombre" type="text" formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark">Apellido</ion-label>
      <ion-input placeholder="Apellido" type="text" formControlName="apellido"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <p position="floating" color="ion-color-dark">
        <b>DNI:</b>
        <br />
        <input placeholder="DNI" minlength="9" maxlength="9" type="text" formControlName="dniAgente" />
      </p>

    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark">Correo Electronico</ion-label>
      <ion-input placeholder="Correo Electronico" type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <div>
        <ion-datetime pickerFormat="DD-MM-YYYY" padding placeholder="Fecha de Nacimiento"
          formControlName="fechaNacimiento" done-text="Aceptar" cancel-text="Cancelar"></ion-datetime>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark">Inmobiliaria Id</ion-label>
      <ion-input placeholder="Inmobiliaria Id" type="text" formControlName="inmobiliariaId"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark">Teléfono</ion-label>
      <ion-input placeholder="34666555222" type="number" formControlName="telefono"></ion-input>
    </ion-item>

    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid"
      class="boton-crear">Terminar Registro</ion-button>
  </form>
</ion-content>