<!-- app-example-mova-item -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaItem</h1>
		<br>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>Si ningún estilo de item se ajusta a las necesidades de la app, antes de realizarse su desarrollo de forma alternativa, deberá ponerse en conocimiento del departamento de arquitectura para decidir si debe crearse un nuevo tipo de item e incluirlo en MOVA.</p>
		</mv-card>
		<p>Componente que implementa un elemento de una lista. Puede funcionar también como un contenedor de texto de forma similar al componente <b>mv.movaCard</b>, este contenido se mostrará debajo del contenido del atributo <b>detail</b>. No obstante pueden existir estilos específicos que se salgan de la norma visual general.</p>
		<p>El componente <b>mv.movaItem</b> debe estar incluido dentro de un elemento de lista <b>&lt;ol></b> o <b>&lt;ul></b> ya que el estilo CSS del primer elemento suele tener borde superior y los sucesivos no.</p>
		<p>Este componente acepta los siguientes atributos:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('bgColor')" >bg-color</a></li>
			<li><a href="" ng-click="$root.scrollTo('borderColor')" >border-color</a></li>
			<li><a href="" ng-click="$root.scrollTo('borderStyle')" >border-style</a></li>
			<li><a href="" ng-click="$root.scrollTo('borderWidth')" >border-width</a></li>
			<li><a href="" ng-click="$root.scrollTo('bulletShow')" >bullet-show</a></li>
			<li><a href="" ng-click="$root.scrollTo('click')" >click</a></li>
			<li><a href="" ng-click="$root.scrollTo('corner')" >corner</a></li>
			<li><a href="" ng-click="$root.scrollTo('cornerClassIf')" >corner-class-if</a></li>
			<li><a href="" ng-click="$root.scrollTo('detail')" >detail</a></li>
			<li><a href="" ng-click="$root.scrollTo('image')" >image</a></li>
			<li><a href="" ng-click="$root.scrollTo('imageError')" >image-error</a></li>
			<li><a href="" ng-click="$root.scrollTo('title')" >title</a></li>
			<li><a href="" ng-click="$root.scrollTo('titleColor')" >title-color</a></li>
			<li><a href="" ng-click="$root.scrollTo('type')" >type</a></li>
		</ul>
	</mv-card>

	<mv-card>
		<h2 class="title-2">Ejemplo de uso HTML y resultado</h2>
		<br>
		<p>El elemento item está pensado para ser utilizado dentro de una lista, si se utiliza este elemento de forma única el borde superior no aparecerá, en estos casos es mejor usar un elemento <b>mv.movaCard</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-item<br>
				&emsp;&emsp;title="Título"<br>
				&emsp;&emsp;detail="Texto de detalle del ejemplo"<br>
				&emsp;&emsp;corner="Esquina"<br>
				&emsp;&emsp;image="media/images/examples/igor.png"<br>
				&emsp;&emsp;type="simple-image"<br>
				&emsp;&emsp;bg-color="#fbfbfb"<br>
				&emsp;&emsp;click="itemClick()"<br>
				><br>
				&lt;/mv-item>
			</span>
		</code>
		<p>A continuación se muestra un ejemplo de una lista <b>&lt;/ul></b> con dos elementos <b>mv.movaItem</b>. </p>
		<ul class="app-example-mova-list">
			<mv-item
				title="Título"
				detail="Texto de detalle del ejemplo"
				corner="Esquina"
				image="media/images/examples/igor.png"
				type="simple-image"
				bg-color="#fbfbfb"
				click="itemClick()"
			>
			</mv-item>
			<mv-item
				title="Título"
				detail="Texto de detalle del ejemplo"
				corner="Esquina"
				image="media/images/examples/dan.jpg"
				type="simple-image"
				bg-color="#fbfbfb"
				click="itemClick()"
			>
			</mv-item>
		</ul>
		<br>
		<p>A continuación se muestra un ejemplo de código y su resultado de un elemento <b>mv.movaItem</b> con un texto como contenido.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-item<br>
				&emsp;&emsp;type="transclude"<br>
				&emsp;&emsp;bg-color="#fbfbfb"<br>
				&emsp;&emsp;click="itemClick()"<br>
				><br>
				&emsp;&emsp;Esta información va incluida en el interior del elemento HTML.<br>
				&lt;/mv-item>
			</span>
		</code>
		<p>El resultado sería el siguiente:</p>
		<ul class="app-example-mova-list">
			<mv-item
				type="transclude"
				bg-color="#fbfbfb"
				click="itemClick()"
			>
			Esta información va incluida en el interior del elemento HTML.
			</mv-item>
		</ul>
	</mv-card>

	<mv-card
		id="bgColor"
		>
		<h3 class="title-3">bg-color</h3>
		<br>
		<p>La propiedad <b>bg-color</b> permite cambiar el color del fondo del componente.</p>
		<p>Esta propiedad acepta los colores en formato HTML (red, green...), hexadecimal, rgb y rgba.</p>
		<p>Si se quiere que el componente no tenga color de fondo debe usarse el valor "transparent"</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-item<br>
				&emsp;&emsp;<b>bg-color="red"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;bg-color="red"<br>
				&lt;/mv-item>
			</span>
		</code>
		<mv-item
			bg-color="red"
			>
		</mv-item>
		<p>bg-color="red"</p>
		<mv-item
			bg-color="#1b77d6"
			>
		</mv-item>
		<p>bg-color="#1b77d6"</p>
		<mv-item
			bg-color="rgb(174,12,185)"
			>
		</mv-item>
		<p>bg-color="rgb(174,12,185)"</p>
		<mv-item
			bg-color="rgba(174,12,185,0.35)"
			>
		</mv-item>
		<p>bg-color="rgba(174,12,185,0.35)"</p>
		<mv-item
			bg-color="transparent"
			>
			bg-color="transparent"
		</mv-item>
		<p>bg-color="transparent"</p>
	</mv-card>

	<mv-card
		id="borderColor"
		>
		<h3 class="title-3">border-color</h3>
		<br>
		<p>La propiedad <b>border-color</b> permite cambiar el color del borde del componente.</p>
		<p>Esta propiedad acepta los colores en formato HTML (red, green...), hexadecimal, rgb y rgba.</p>
		<p>Si se quiere que el componente no tenga borde debe usarse el valor "transparent"</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-item<br>
				&emsp;&emsp;<b>border-color="red"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;border-color="red"<br>
				&lt;/mv-item>
			</span>
		</code>
		<mv-item
			border-color="red"
			>
		</mv-item>
		<p>border-color="red"</p>
		<mv-item
			border-color="#1b77d6"
			>
		</mv-item>
		<p>border-color="#1b77d6"</p>
		<mv-item
			border-color="rgb(174,12,185)"
			>
		</mv-item>
		<p>border-color="rgb(174,12,185)"</p>
		<mv-item
			border-color="rgba(174,12,185,0.35)"
			>
		</mv-item>
		<p>border-color="rgba(174,12,185,0.35)"</p>
		<mv-item
			border-color="rgba(174,12,185,0.35) rgb(174,12,185) #1b77d6 red"
			>
			border-color="rgba(174,12,185,0.35) rgb(174,12,185) #1b77d6 red"
		</mv-item>
		<p>border-color="rgba(174,12,185,0.35) rgb(174,12,185) #1b77d6 red"</p>
		<mv-item
			border-color="transparent"
			>
			border-color="transparent"
		</mv-item>
	</mv-card>

	<mv-card
		id="borderStyle"
		>
		<h3 class="title-3">border-style</h3>
		<br>
		<p>La propiedad <b>border-style</b> permite dar un estilo al borde. Admite los valores existentes para la misma propiedad de CSS.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-item<br>
				&emsp;&emsp;border-width="medium"<br>
				&emsp;&emsp;<b>border-style="solid"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;solid<br>
				&lt;/mv-item>
			</span>
		</code>
		<mv-item
			border-width="medium"
			border-style="solid"
		>
		</mv-item>
		<p>border-style="solid"</p>
		<mv-item
			border-width="medium"
			border-style="dotted"
		>
		</mv-item>
		<p>border-style="dotted"</p>
		<mv-item
			border-width="medium"
			border-style="double"
		>
		</mv-item>
		<p>border-style="double"</p>
		<mv-item
			border-width="medium"
			border-style="dashed"
		>
		</mv-item>
		<p>border-style="dashed"</p>
		<mv-item
			border-width="medium"
			border-style="dotted solid double dashed"
		>
		</mv-item>
		<p>border-style="dotted solid double dashed"</p>
	</mv-card>

	<mv-card
		id="borderWidth"
		>
		<h3 class="title-3">border-width</h3>
		<br>
		<p>La propiedad <b>border-width</b> da un ancho al borde. Admite los valores existentes para la misma propiedad de CSS.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-item<br>
				&emsp;&emsp;<b>border-width="medium"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;medium<br>
				&lt;/mv-item>
			</span>
		</code>
		<mv-item
			border-width="medium"
		>
		</mv-item>
		<p>border-style="medium"</p>
		<mv-item
			border-width="thin"
		>
		</mv-item>
		<p>border-style="thin"</p>
		<mv-item
			border-width="thick"
		>
		</mv-item>
		<p>border-style="item"</p>
		<mv-item
			border-width="2pt"
		>
		</mv-item>
		<p>border-style="2pt"</p>
		<mv-item
			border-width="thin medium thick 10px"
		>
		</mv-item>
		<p>border-style="thin medium thick 10px"</p>
	</mv-card>

	<mv-card
		id="bulletShow"
		>
		<h3 class="title-3">bullet-show</h3>
		<br>
		<p>La propiedad <b>bullet-show</b> permite ocultar la flecha característica del elemento item.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-item<br>
				&emsp;&emsp;title="Item sin flecha"<br>
				&emsp;&emsp;<b>bullet-show=false</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-item>
			</span>
		</code>
		<mv-item
			title="Item sin flecha"
			bullet-show=false
		>
		</mv-item>
	</mv-card>

	<mv-card
		id="click"
		>
		<h3 class="title-3">click</h3>
		<br>
		<p>La propiedad <b>click</b> permite ejecutar una función incluida en el <b>$scope</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-item<br>
				&emsp;&emsp;title="Click aqui"<br>
				&emsp;&emsp;<b>click="itemClick()"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-item>
			</span>
		</code>
		<mv-item
			title="Click aqui"
			click="itemClick()"
		>
		</mv-item>
	</mv-card>

	<mv-card
		id="corner"
		>
		<h3 class="title-3">corner</h3>
		<br>
		<p>La propiedad <b>corner</b> permite mostrar información en la esquina superior derecha del item.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-item<br>
				&emsp;&emsp;<b>corner="27/03/1984"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-item>
			</span>
		</code>
		<mv-item
			corner="27/03/1984"
		>
		</mv-item>
	</mv-card>

	<mv-card
		id="cornerClassIf"
		>
		<h3 class="title-3">corner-class-if</h3>
		<br>
		<p>La propiedad <b>corner-class-if</b> permite aplicar clases CSS sobre el elemento del corner.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-item<br>
				&emsp;&emsp;corner="Custom CSS Style"<br>
				&emsp;&emsp;<b>corner-class-if="app-example-mova-item-custom-class"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-item>
			</span>
		</code>
		<mv-item
			corner="Custom CSS Style"
			corner-class-if="app-example-mova-item-custom-class"
		>
		</mv-item>
	</mv-card>

	<mv-card
		id="detail"
		>
		<h3 class="title-3">detail</h3>
		<br>
		<p>La propiedad <b>detail</b> permite mostrar información en forma de detalle en el item.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-item<br>
				&emsp;&emsp;<b>detail="Hoy has perdido, chico, pero no tiene por qué gustarte."</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-item>
			</span>
		</code>
		<mv-item
			detail="Hoy has perdido, chico, pero no tiene por qué gustarte."
		>
		</mv-item>
	</mv-card>

	<mv-card
		id="image"
		>
		<h3 class="title-3">image</h3>
		<br>
		<p>La propiedad <b>image</b> permite mostrar una imagen en el item.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-item<br>
				&emsp;&emsp;<b>image="media/images/examples/igor.png"</b><br>
				&emsp;&emsp;type="simple-image"<br>
				&emsp;&emsp;><br>
				&lt;/mv-item>
			</span>
		</code>
		<mv-item
			image="media/images/examples/igor.png"
			type="simple-image"
		>
		</mv-item>
	</mv-card>

	<mv-card
		id="imageError"
		>
		<h3 class="title-3">image-error</h3>
		<br>
		<p>La propiedad <b>image-error</b> permite definir una imagen que se mostrará en caso de error.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-item<br>
				&emsp;&emsp;image="media/images/examples/igor-fail.jpg"<br>
				&emsp;&emsp;<b>image-error="media/images/icon_user.png"</b><br>
				&emsp;&emsp;type="simple-image"<br>
				&emsp;&emsp;><br>
				&lt;/mv-item>
			</span>
		</code>
		<mv-item
			image="media/images/examples/igor-fail.png"
			image-error="media/images/icon_user.png"
			type="simple-image"
		>
		</mv-item>
	</mv-card>

	<mv-card
		id="title"
		>
		<h3 class="title-3">title</h3>
		<br>
		<p>La propiedad <b>title</b> permite mostrar información como título en el item.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-item<br>
				&emsp;&emsp;<b>title="Título de prueba"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-item>
			</span>
		</code>
		<mv-item
			title="Título de prueba"
		>
		</mv-item>
	</mv-card>

	<mv-card
		id="titleColor"
		>
		<h3 class="title-3">title-color</h3>
		<br>
		<p>La propiedad <b>title-color</b> permite cambiar el color del texto del título.</p>
		<p>Esta propiedad acepta los colores en formato HTML (red, green...), hexadecimal, rgb y rgba.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-item<br>
				&emsp;&emsp;title="Título"<br>
				&emsp;&emsp;<b>title-color="Título de prueba"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-item>
			</span>
		</code>
		<mv-item
			title="Título"
			title-color="red"
		>
			title-color="red"
		</mv-item>
		<mv-item
			title="Título"
			title-color="#1b77d6"
		>
			title-color="#1b77d6"
		</mv-item>
		<mv-item
			title="Título"
			title-color="rgb(174,12,185)"
		>
			title-color="rgb(174,12,185)"
		</mv-item>
		<mv-item
			title="Título"
			title-color="rgba(174,12,185,0.35)"
		>
			title-color="rgba(174,12,185,0.35)"
		</mv-item>
	</mv-card>

	<mv-card
		id="type"
		>
		<h3 class="title-3">type</h3>
		<br>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<b>Modificar el estilo de la imagen:</b>
			<p>Por defecto, los tipos con imagen, están diseñados para mostrar imágenes cuadradas para ser recortadas por sus laterales de igual forma, pensando en retratos de personas.</p>
			<p>Si necesitas afinar el estilo CSS de la imagen puedes atacar a la clase <b>mova-item-image</b> del propio elemento.</p>
		</mv-card>
		<p>La propiedad <b>type</b> permite cambiar la apariencia del item y mostrar la información de distinta manera e incluso ocultarla.</p>
		<p>Por defecto el tipo de item es <u>simple</u> si no se especifica un valor.</p>
		<p>Ninguno de los atributos es obligatorio, depende de cada necesidad, pero los principales casos de uso son los que se explican a continuación.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-item<br>
				&emsp;&emsp;title="Título"<br>
				&emsp;&emsp;detail="Texto de detalle del ejemplo"<br>
				&emsp;&emsp;corner="Esquina"<br>
				&emsp;&emsp;image="media/images/examples/igor.png"<br>
				&emsp;&emsp;type="simple-image"<br>
				&emsp;&emsp;bg-color="#fbfbfb"<br>
				&emsp;&emsp;click="itemClick()"<br>
				><br>
					&emsp;&emsp;&lt;span><br>
					&emsp;&emsp;Cheesecake tootsie roll gummies. Muffin marzipan sweet jelly beans pastry jelly-o tart. Chupa chups muffin liquorice chocolate tart dessert gingerbread cupcake lollipop. Gingerbread cake liquorice chocolate cake. Gummi bears bonbon halvah cotton candy tootsie roll pastry carrot cake. Cheesecake gingerbread croissant macaroon cotton candy oat cake. Candy jujubes tiramisu jelly beans jelly. Carrot cake tiramisu gummies. Jelly muffin dragée caramels dessert gingerbread toffee. Brownie macaroon dragée. Jelly beans sweet roll cake. Carrot cake gummi bears topping jelly beans tootsie roll danish carrot cake. Icing cupcake lollipop lemon drops brownie liquorice toffee.<br>
					&emsp;&emsp;&lt;/span><br>
				&lt;/mv-item>
			</span>
		</code>
		<div class="titleType">Type: simple</div>
		<p>A continuación se muestra un ejemplo completo, con datos para los atributos <b>title</b>, <b>detail</b> , <b>corner</b> y <b>texto contenido</b>.</p>
		<mv-item
			title="Type"
			detail="simple"
			corner="Esquina"
			image="media/images/examples/igor.png"
			type="simple"
			bg-color="#fbfbfb"
			click="itemClick()"
		>
			<span>
				Cheesecake tootsie roll gummies. Muffin marzipan sweet jelly beans pastry jelly-o tart. Chupa chups muffin liquorice chocolate tart dessert gingerbread cupcake lollipop. Gingerbread cake liquorice chocolate cake. Gummi bears bonbon halvah cotton candy tootsie roll pastry carrot cake. Cheesecake gingerbread croissant macaroon cotton candy oat cake. Candy jujubes tiramisu jelly beans jelly. Carrot cake tiramisu gummies. Jelly muffin dragée caramels dessert gingerbread toffee. Brownie macaroon dragée. Jelly beans sweet roll cake. Carrot cake gummi bears topping jelly beans tootsie roll danish carrot cake. Icing cupcake lollipop lemon drops brownie liquorice toffee.
			</span>
		</mv-item>
		<br>
		<p>A continuación se muestra un ejemplo con datos para los atributos <b>title</b>, <b>detail</b> , <b>corner</b> y sin <b>texto contenido</b>.</p>
		<mv-item
			title="Type"
			detail="simple"
			corner="Esquina"
			image="media/images/examples/igor.png"
			type="simple"
			bg-color="#fbfbfb"
			click="itemClick()"
		>
		</mv-item>
		<br>
		<p>A continuación se muestra un ejemplo sin datos para los atributos <b>title</b>, <b>detail</b> , <b>corner</b> pero con <b>texto contenido</b>.</p>
		<mv-item
			image="media/images/examples/igor.png"
			type="simple"
			bg-color="#fbfbfb"
			click="itemClick()"
		>
			<span>
				Cheesecake tootsie roll gummies. Muffin marzipan sweet jelly beans pastry jelly-o tart. Chupa chups muffin liquorice chocolate tart dessert gingerbread cupcake lollipop. Gingerbread cake liquorice chocolate cake. Gummi bears bonbon halvah cotton candy tootsie roll pastry carrot cake. Cheesecake gingerbread croissant macaroon cotton candy oat cake. Candy jujubes tiramisu jelly beans jelly. Carrot cake tiramisu gummies. Jelly muffin dragée caramels dessert gingerbread toffee. Brownie macaroon dragée. Jelly beans sweet roll cake. Carrot cake gummi bears topping jelly beans tootsie roll danish carrot cake. Icing cupcake lollipop lemon drops brownie liquorice toffee.
			</span>
		</mv-item>
		<br>
		<p>A continuación se muestra un ejemplo completo, con datos para los atributos <b>title</b>, <b>detail</b> , <b>corner</b> y <b>texto contenido</b>.</p>
		<mv-item
			title="Type"
			detail="simple-image"
			corner="Esquina"
			image="media/images/examples/igor.png"
			type="simple-image"
			bg-color="#fbfbfb"
			click="itemClick()"
		>
			<span>
				Cheesecake tootsie roll gummies. Muffin marzipan sweet jelly beans pastry jelly-o tart. Chupa chups muffin liquorice chocolate tart dessert gingerbread cupcake lollipop. Gingerbread cake liquorice chocolate cake. Gummi bears bonbon halvah cotton candy tootsie roll pastry carrot cake. Cheesecake gingerbread croissant macaroon cotton candy oat cake. Candy jujubes tiramisu jelly beans jelly. Carrot cake tiramisu gummies. Jelly muffin dragée caramels dessert gingerbread toffee. Brownie macaroon dragée. Jelly beans sweet roll cake. Carrot cake gummi bears topping jelly beans tootsie roll danish carrot cake. Icing cupcake lollipop lemon drops brownie liquorice toffee.
			</span>
		</mv-item>
		<br>
		<p>A continuación se muestra un ejemplo con datos para los atributos <b>title</b>, <b>detail</b> , <b>corner</b> y sin <b>texto contenido</b>.</p>
		<mv-item
			title="Type"
			detail="simple-image"
			corner="Esquina"
			image="media/images/examples/igor.png"
			type="simple-image"
			bg-color="#fbfbfb"
			click="itemClick()"
		>
		</mv-item>
		<br>
		<p>A continuación se muestra un ejemplo sin datos para los atributos <b>title</b>, <b>detail</b> , <b>corner</b> pero con <b>texto contenido</b>.</p>
		<mv-item
			image="media/images/examples/igor.png"
			type="simple-image"
			bg-color="#fbfbfb"
			click="itemClick()"
		>
			<span>
				Cheesecake tootsie roll gummies. Muffin marzipan sweet jelly beans pastry jelly-o tart. Chupa chups muffin liquorice chocolate tart dessert gingerbread cupcake lollipop. Gingerbread cake liquorice chocolate cake. Gummi bears bonbon halvah cotton candy tootsie roll pastry carrot cake. Cheesecake gingerbread croissant macaroon cotton candy oat cake. Candy jujubes tiramisu jelly beans jelly. Carrot cake tiramisu gummies. Jelly muffin dragée caramels dessert gingerbread toffee. Brownie macaroon dragée. Jelly beans sweet roll cake. Carrot cake gummi bears topping jelly beans tootsie roll danish carrot cake. Icing cupcake lollipop lemon drops brownie liquorice toffee.
			</span>
		</mv-item>
		<div class="titleType">Type: round</div>
		<p>A continuación se muestra un ejemplo completo, con datos para los atributos <b>title</b>, <b>detail</b> , <b>corner</b> y <b>texto contenido</b>.</p>
		<mv-item
			title="Type"
			detail="round"
			corner="Esquina"
			image="media/images/examples/igor.png"
			type="round"
			bg-color="#fff"
			click="itemClick()"
		>
			<span>
				Cheesecake tootsie roll gummies. Muffin marzipan sweet jelly beans pastry jelly-o tart. Chupa chups muffin liquorice chocolate tart dessert gingerbread cupcake lollipop. Gingerbread cake liquorice chocolate cake. Gummi bears bonbon halvah cotton candy tootsie roll pastry carrot cake. Cheesecake gingerbread croissant macaroon cotton candy oat cake. Candy jujubes tiramisu jelly beans jelly. Carrot cake tiramisu gummies. Jelly muffin dragée caramels dessert gingerbread toffee. Brownie macaroon dragée. Jelly beans sweet roll cake. Carrot cake gummi bears topping jelly beans tootsie roll danish carrot cake. Icing cupcake lollipop lemon drops brownie liquorice toffee.
			</span>
		</mv-item>
		<br>
		<p>A continuación se muestra un ejemplo con datos para los atributos <b>title</b>, <b>detail</b> , <b>corner</b> y sin <b>texto contenido</b>.</p>
		<mv-item
			title="Type"
			detail="round"
			corner="Esquina"
			image="media/images/examples/igor.png"
			type="round"
			bg-color="#fff"
			click="itemClick()"
		>
		</mv-item>
		<br>
		<p>A continuación se muestra un ejemplo sin datos para los atributos <b>title</b>, <b>detail</b> , <b>corner</b> pero con <b>texto contenido</b>.</p>
		<mv-item
			image="media/images/examples/igor.png"
			type="round"
			bg-color="#fff"
			click="itemClick()"
		>
			<span>
				Cheesecake tootsie roll gummies. Muffin marzipan sweet jelly beans pastry jelly-o tart. Chupa chups muffin liquorice chocolate tart dessert gingerbread cupcake lollipop. Gingerbread cake liquorice chocolate cake. Gummi bears bonbon halvah cotton candy tootsie roll pastry carrot cake. Cheesecake gingerbread croissant macaroon cotton candy oat cake. Candy jujubes tiramisu jelly beans jelly. Carrot cake tiramisu gummies. Jelly muffin dragée caramels dessert gingerbread toffee. Brownie macaroon dragée. Jelly beans sweet roll cake. Carrot cake gummi bears topping jelly beans tootsie roll danish carrot cake. Icing cupcake lollipop lemon drops brownie liquorice toffee.
			</span>
		</mv-item>
		<br>
		<p>A continuación se muestra un ejemplo completo, con datos para los atributos <b>title</b>, <b>detail</b> , <b>corner</b> y <b>texto contenido</b>.</p>
		<mv-item
			title="Type"
			detail="round-image"
			corner="Esquina"
			image="media/images/examples/igor.png"
			type="round-image"
			bg-color="#fff"
			click="itemClick()"
		>
			<span>
				Cheesecake tootsie roll gummies. Muffin marzipan sweet jelly beans pastry jelly-o tart. Chupa chups muffin liquorice chocolate tart dessert gingerbread cupcake lollipop. Gingerbread cake liquorice chocolate cake. Gummi bears bonbon halvah cotton candy tootsie roll pastry carrot cake. Cheesecake gingerbread croissant macaroon cotton candy oat cake. Candy jujubes tiramisu jelly beans jelly. Carrot cake tiramisu gummies. Jelly muffin dragée caramels dessert gingerbread toffee. Brownie macaroon dragée. Jelly beans sweet roll cake. Carrot cake gummi bears topping jelly beans tootsie roll danish carrot cake. Icing cupcake lollipop lemon drops brownie liquorice toffee.
			</span>
		</mv-item>
		<br>
		<p>A continuación se muestra un ejemplo con datos para los atributos <b>title</b>, <b>detail</b> , <b>corner</b> y sin <b>texto contenido</b>.</p>
		<mv-item
			title="Type"
			detail="round-image"
			corner="Esquina"
			image="media/images/examples/igor.png"
			type="round-image"
			bg-color="#fff"
			click="itemClick()"
		>
		</mv-item>
		<br>
		<p>A continuación se muestra un ejemplo sin datos para los atributos <b>title</b>, <b>detail</b> , <b>corner</b> pero con <b>texto contenido</b>.</p>
		<mv-item
			image="media/images/examples/igor.png"
			type="round-image"
			bg-color="#fff"
			click="itemClick()"
		>
			<span>
				Cheesecake tootsie roll gummies. Muffin marzipan sweet jelly beans pastry jelly-o tart. Chupa chups muffin liquorice chocolate tart dessert gingerbread cupcake lollipop. Gingerbread cake liquorice chocolate cake. Gummi bears bonbon halvah cotton candy tootsie roll pastry carrot cake. Cheesecake gingerbread croissant macaroon cotton candy oat cake. Candy jujubes tiramisu jelly beans jelly. Carrot cake tiramisu gummies. Jelly muffin dragée caramels dessert gingerbread toffee. Brownie macaroon dragée. Jelly beans sweet roll cake. Carrot cake gummi bears topping jelly beans tootsie roll danish carrot cake. Icing cupcake lollipop lemon drops brownie liquorice toffee.
			</span>
		</mv-item>
		<br>
		<div class="titleType">Type: transclude</div>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>El tipo <b>transclude</b> tiene un tamaño fijo de 1px en su propiedad CSS height para corregir un bug de Internet Explorer con Flex.</p>
			<p>Esto provoca que el tamaño del item no se adapte a su contenido si este es mayor en altura. La solución es definir un alto fijo en nuestro CSS de negocio para cada caso.</p>
			<p>Este tipo esta pensado para evitar, por defecto, que el contenido decida el alto del elemento, consiguiendo una lista de elementos iguales donde lo importante no es la información que se contiene si no la presentación de la lista de elementos.</p>
			<p>Debido a esto no se pueden definir altos como porcentaje o como auto.</p>
		</mv-card>
		<p>A continuación se muestra un ejemplo.</p>
		<mv-item
			title="transclude"
			type="transclude"
			bg-color="#fbfbfb"
			click="itemClick()"
		>
		transclude
		</mv-item>
	</mv-card>

</mv-screen>
