/*
╔════════════════════════════╗
║ mova-input-birthdate style ║
╚════════════════════════════╝
*/

/*
Centraliza la reordenación del componente para mostrar la label a la izquierda.
De esta forma el mismo código se mantiene en un solo sitio para poder usarlo en media-queries.
*/

/*



*/

@mixin mv-input-birthdate-mx-left-label () {
	// Anular el padding-top de la clase .has-label ya que no va a estar arriba
	padding-top: 0;

	.mv-input-birthdate-container {
		width: 21rem;
		margin-left: calc(30% + 0.55rem);
	}
	.mv-input-birthdate-label {
		width: calc(30%);
		margin-top: -2.25rem;
	}
	.mv-input-birthdate-message {
		width: 21rem;
		margin-left: calc(30% + 0.55rem);
	}
}

.mv-input-birthdate-root{
	position: relative;
	display: table;
	border-collapse: separate;

	.mv-input-birthdate-container{
		display: table;
		.mv-select-parent-container{
			display: inline-flex;
			.mv-select-container:nth-child(2){
				padding: 0 4px 0 4px;
			}
		}
	}
	&.left-label {
		@include mv-input-birthdate-mx-left-label();
	}
	&.has-message {
		padding-bottom: 0;
	}
	.mv-input-birthdate-label {
		position: absolute;
		margin: -4.25rem 0 0 0;
		padding: 0 0 0 0;
		font-size: $font-size-small;
		font-weight: bold;
	}
	//mensaje
	.mv-input-birthdate-message {
		@include mx-round-corners-default();
		@include mx-truncate();
		display: block;
		margin: -0.5rem 0 0 0;
		padding: 0.25rem 0.25rem 0.25rem 0.25rem;
		left: 0;
		bottom: -0.05rem;
		font-size: $font-size-small;
		font-weight: bold;
	}

	//tooltip
	.mv-input-birthdate-tooltip {
		visibility: hidden;
		width: 120px;
		background-color: #555;
		color: #fff;
		text-align: center;
		padding: 6px 5px;
		border-radius: 6px;
		z-index: 5;
		position: absolute;
		opacity: 0;
		transition: opacity 0.3s;

		&.mv-input-birthdate-tooltip-position-right{
			top: 0;
    	left: 105%;
		}
		&.mv-input-birthdate-tooltip-position-left{
			top: 0;
    	right: 105%;
		}
		&.mv-input-birthdate-tooltip-position-top{
			bottom: 105%;
    	right: 35%;
		}
		&.mv-input-birthdate-tooltip-position-bottom{
			top: 85%;
			right: 35%;
		}
	}

}

// Clase para detectar el hover para el tooltip
.mv-input-birthdate-root:hover{
	.mv-input-birthdate-tooltip {
		visibility: visible;
		opacity: 1;
	}
}

/*
@mixin mv-input-birthdate-mx-left-label () {
	// Anular el padding-top de la clase .has-label ya que no va a estar arriba
	padding-top: 0;

	.mv-input-birthdate-container {
		margin-left: calc(40% + 0.55rem);
	}
	.mv-input-birthdate-label {
		width: calc(40%);
		margin-top: -2.25rem;
	}
	.mv-input-birthdate-message {
		width: auto;
		margin-left: calc(40% + 0.55rem);
	}
}

.mv-input-birthdate-root{
	position: relative;
	display: table;
	border-collapse: separate;

	.mv-input-birthdate-container{
		display: table;
		.mv-select-parent-container{
			display: inline-flex;
			.mv-select-container:nth-child(2){
				padding: 0 4px 0 4px;
			}
		}
	}
	&.left-label {
		@include mv-input-birthdate-mx-left-label();
	}
	&.has-message {
		padding-bottom: 0;
	}
	.mv-input-birthdate-label {
		position: absolute;
		margin: -4.25rem 0 0 0;
		padding: 0 0 0 0;
		font-size: $font-size-small;
		font-weight: bold;
	}
	//mensaje
	.mv-input-birthdate-message {
		@include mx-round-corners-default();
		@include mx-truncate();
		display: block;
		width: 100%;
		margin: -0.5rem 0 0 0;
		padding: 0.25rem 0.25rem 0.25rem 0.25rem;
		left: 0;
		bottom: -0.05rem;
		font-size: $font-size-small;
		font-weight: bold;
	}

	//tooltip
	.mv-input-birthdate-tooltip {
		visibility: hidden;
		width: 120px;
		background-color: #555;
		color: #fff;
		text-align: center;
		padding: 6px 5px;
		border-radius: 6px;
		z-index: 5;
		position: absolute;
		opacity: 0;
		transition: opacity 0.3s;

		&.mv-input-birthdate-tooltip-position-right{
			top: 0;
    	left: 105%;
		}
		&.mv-input-birthdate-tooltip-position-left{
			top: 0;
    	right: 105%;
		}
		&.mv-input-birthdate-tooltip-position-top{
			bottom: 105%;
    	right: 35%;
		}
		&.mv-input-birthdate-tooltip-position-bottom{
			top: 85%;
			right: 35%;
		}
	}

}

// Clase para detectar el hover para el tooltip
.mv-input-birthdate-root:hover{
	.mv-input-birthdate-tooltip {
		visibility: visible;
		opacity: 1;
	}
}

*/

/*
┌──────────────────┐
│ Bootstrap col-xs │
└──────────────────┘
*/

@media only screen and (max-width: $media-col-xs-max) {

}

/*
┌──────────────────┐
│ Bootstrap col-sm │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-sm-min) and (max-width : $media-col-sm-max) {

	.mv-input-birthdate-root {
		&.left-label-sm {
			@include mv-input-birthdate-mx-left-label();
		}
	}
}

/*
┌──────────────────┐
│ Bootstrap col-md │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-md-min) and (max-width : $media-col-md-max) {

	.mv-input-birthdate-root {

		&.left-label-md {

			@include mv-input-birthdate-mx-left-label();
		}
	}
}

/*
┌──────────────────┐
│ Bootstrap col-lg │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-lg-min) {

	.mv-input-birthdate-root {

		&.left-label-lg {

			@include mv-input-birthdate-mx-left-label();
		}
	}
}
