
<ion-content padding>

  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <ion-grid>
      <ion-row>
        <ion-col  size="12">
          <ion-input type="text" formControlName="nombre" placeholder="Nombre"></ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-input type="number" formControlName="apellido">{{this.item.apellido}}</ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-input type="number" formControlName="fechaNacimiento" placeholder="Fecha Nacimiento">{{this.item.fechaNacimiento}}</ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-input type="number" formControlName="telefono" >{{this.item.telefono}}</ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-select formControlName="verificado" >
            <ion-select-option [value]="true">Si</ion-select-option>
            <ion-select-option [value]="false">No</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button color="primary" type="submit" [disabled]=!validations_form.valid>Actualizar</ion-button>      
    <ion-button color="danger" (click)="delete()">Borrar</ion-button>      
    </form>


</ion-content>

