<ion-content>
    <app-header></app-header>

    <div class="grid">
        <div class="cabecera">
            <img src="/assets/img/WEBS.gif" alt="">
        </div>
        <div padding class="principal mx-auto">
            <h1 text-center>CABECERA</h1>

            <div class="texto-principal" text-center>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed sapiente libero quam quasi? Dolorum aperiam porro inventore soluta voluptatum tempore fugiat, architecto ipsa reiciendis sequi debitis, saepe facilis maxime excepturi ipsam,
                    nam perspiciatis voluptatibus sed est iste? Numquam, distinctio voluptates, magnam eveniet adipisci reiciendis magni corrupti quia possimus repellat labore repudiandae, aliquam cupiditate odit asperiores tempora officia quasi fugiat!
                    Temporibus dolorum quidem expedita ut vel laudantium voluptate odio rerum quibusdam. Necessitatibus explicabo sunt dolorum ipsam assumenda repellat dicta eius tempora, veniam similique iure id corrupti quisquam mollitia, dolor voluptas
                    laudantium? Autem amet explicabo et nihil. Minus cum eaque architecto quibusdam nisi. Libero magnam deleniti cumque, animi placeat autem culpa porro iste voluptate dolor. Reprehenderit perspiciatis modi sunt sequi a est inventore voluptatum
                    amet fuga ex vero praesentium aperiam dolore possimus voluptatibus voluptate, rerum enim iusto ea asperiores quos minus vel! Ea, iure eligendi iusto nisi mollitia laboriosam recusandae? Repudiandae corrupti deleniti atque blanditiis
                    eos aspernatur fugit tenetur rem illum neque fugiat laudantium ea autem quaerat similique, iste sapiente obcaecati. Officia debitis nam distinctio quae provident accusamus rerum dolor aliquid. Nam totam corporis doloremque rerum beatae
                    aut recusandae neque nobis assumenda! Atque illum odit nisi molestiae doloribus maxime eius a velit.</p>

            </div>
            <div class="text-center mx-auto">
                <h2>Clientes que confían en nosotros</h2>
            </div>
            <div class="row mx-auto">
                <div class="col mx-auto">


                    <div class="card">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Titulo</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>

                </div>
                <div class="col mx-auto">
                    <div class="card">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Titulo</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="card">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Titulo</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trabajos">
                <div class="text-center mx-auto">
                    <h2>Clientes que confían en nosotros</h2>
                </div>
                <ul class="tira">
                    <li class="nav-item">
                        <a class="navbar-brand" href="#">
                            <img src="../../../assets/img/logoirisweb.gif" width="auto" height="37" class="d-inline-block align-top mt-4" alt="">

                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="navbar-brand" href="#">
                            <img src="../../../assets/img/logominshareweb.gif" width="auto" height="37" class="d-inline-block align-top mt-4" alt="">
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="navbar-brand" href="#">
                            <img src="/assets/img/logobbcweb.gif" width="auto" height="35" class="d-inline-block align-top mt-4" alt="">

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="#">
                            <img src="/assets/img/logokantarweb.gif" width="auto" height="35" class="d-inline-block align-top mt-4" alt="">

                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="navbar-brand" href="#">
                            <img src="/assets/img/flytlogoweb.gif" width="auto" height="35" class="d-inline-block align-top mt-4" alt="">

                        </a>
                    </li>


                </ul>
            </div>
            <div class="texto-principal mt-3" text-center padding>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed sapiente libero quam quasi? Dolorum aperiam porro inventore soluta voluptatum tempore fugiat, architecto ipsa reiciendis sequi debitis, saepe facilis maxime excepturi ipsam,
                    nam perspiciatis voluptatibus sed est iste? Numquam, distinctio voluptates, magnam eveniet adipisci reiciendis magni corrupti quia possimus repellat labore repudiandae, aliquam cupiditate odit asperiores tempora officia quasi fugiat!
                    Temporibus dolorum quidem expedita ut vel laudantium voluptate odio rerum quibusdam. Necessitatibus explicabo sunt dolorum ipsam assumenda repellat dicta eius tempora, veniam similique iure id corrupti quisquam mollitia, dolor voluptas
                    laudantium? Autem amet explicabo et nihil. Minus cum eaque architecto quibusdam nisi. Libero magnam deleniti cumque, animi placeat autem culpa porro iste voluptate dolor. Reprehenderit perspiciatis modi sunt sequi a est inventore voluptatum
                    amet fuga ex vero praesentium aperiam dolore possimus voluptatibus voluptate, rerum enim iusto ea asperiores quos minus vel! Ea, iure eligendi iusto nisi mollitia laboriosam recusandae? Repudiandae corrupti deleniti atque blanditiis
                    eos aspernatur fugit tenetur rem illum neque fugiat laudantium ea autem quaerat similique, iste sapiente obcaecati. Officia debitis nam distinctio quae provident accusamus rerum dolor aliquid. Nam totam corporis doloremque rerum beatae
                    aut recusandae neque nobis assumenda! Atque illum odit nisi molestiae doloribus maxime eius a velit.</p>

            </div>
        </div>
        <app-formulario></app-formulario>
    </div>

    <ion-fab class="subir" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary" (click)="scrollContent('top')">
            <ion-icon color="light" name="arrow-up"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <app-footer-nuevo></app-footer-nuevo>

</ion-content>
<ion-footer>
    <!-- <app-footer></app-footer>-->
</ion-footer>