/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


*{
    font-family: 'Roboto', sans-serif;
    ion-badge{
        height: 1.2rem;
        width: 1.2rem;
    }
}

ion-slides{
    max-width: 100vw !important;
    max-height: 100vw !important;
  }

.scroll-content {
    padding-bottom: 0 !important;
}


@media (min-width:1024px) and (max-width:1920px){
    ion-slides{
        max-width: 25vw !important;
        max-height: 25vw !important;
      }
}

.navbar {
    background: black;
}

.logo{
    width: 2rem;
    margin-top: -0.5rem;
    margin-left: -0.5rem;
    margin-right: 0.5rem;
}

.navbar .navbar-expand-lg{
    background: #26a6ff;
}

