/*
╔═══════════════════════════════════╗
║ app-example-mova-qr-scanner style ║
╚═══════════════════════════════════╝
*/

app-example-mova-qr-scanner{
  @include view-style;

  table{
    margin: auto;
    width: 50% !important;
    text-align: center;
    .fa-times{
      color: #d81414;
    }
    .fa-check{
      color: green;
    }
  }
}
