<!-- app-example-mova-qr-scanner -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		id="inicio">
		<h1 class="title-1">mv.movaQrScanner</h1>
		<br>

		<p>Este componente ofrece un lector de códigos QR (aparte de otro tipo de códigos) a través de la cámara del dispositivo. </p>

		<mv-card
		  class="section-info"
		  title="INFORMACIÓN"
		  hr-class-if="hr-info">
		  <p>Este componente está basado en el plugin phonegap-plugin-barcodescanner. Para ver la documentación completa de este plugin haga click
				<a onclick="window.open('https://github.com/phonegap/phonegap-plugin-barcodescanner', '_system');">aquí</a>
			</p>
		</mv-card>

		<p>Este componente ofrece los siguientes parámetros de configuración:</p>
		<ul>
			<li><b>showTorchButton</b> {true, false}: opción para mostrar el botón para activar/desactivar el flash</li>
			<li><b>torchOn</b> {true, false}: opción para activar el flash de inicio <b>(sólo en Android)</b></li>
			<li><b>prompt</b> {string}: mensaje que aparecerá al usuario <b>(sólo en Android)</b></li>
			<li><b>resultDisplayDuration</b> {number}: tiempo que se mostrará la captura después de que el escáner reconozca el código (en milisegundos, por defecto 1500)<b>(sólo en Android)</b></li>
			<li><b>orientation</b> {"portrait", "landscape"}: opción para mostrar vista apaiasada o vertical <b>(sólo en Android)</b></li>
			<li><b>disableAnimations</b> {true, false}: opción para deshabilitar las animaciones <b>(sólo en iOS)</b></li>
			<li><b>disableSuccessBeep</b> {true, false}: opción para deshabilitar sonido en caso de reconocimiento del código <b>(sólo en iOS)</b></li>
			<li><a href="" ng-click="$root.scrollTo('formats')" ><b>formats</b></a>: tipos de códigos que el componente reconoce</li>
		</ul>

		<code>
			<badge>JavaScript</badge>
			<span>
				var success = function(result){<br>
				&emsp;&emsp;self.cordovaDialogs.alert(result.text, 'Resultado', 'Aceptar').then(function() {});<br>
				&emsp;&emsp;//Situar aquí el código que queremos que se ejecute en caso de reconocer el código<br>
				};<br><br>
				var error = function(result){<br>
				&emsp;&emsp;self.cordovaDialogs.alert(result, 'Error', 'Aceptar').then(function() {});<br>
				&emsp;&emsp;//Situar aquí el código que queremos que se ejecute en caso de error<br>
				};<br><br>
				let properties = {<br>
		        &emsp;&emsp;showTorchButton : true, <br>
		        &emsp;&emsp;torchOn: false, <br>
		        &emsp;&emsp;prompt : "Sitúa el código dentro del área de escaneo", <br>
		        &emsp;&emsp;resultDisplayDuration: 500, <br>
		        &emsp;&emsp;formats : "QR_CODE", <br>
		        &emsp;&emsp;orientation : "portrait", <br>
		        &emsp;&emsp;disableAnimations : true, <br>
		        &emsp;&emsp;disableSuccessBeep: false <br>
		      	}<br><br>
				self.mvQrScannerService.initScan(success, error, properties);
			</span>
		</code>

		<div class="text-center">
			<mv-button
			  click="testQR()"
				btn-type="primary">
				Probar mv-qr-scanner
			</mv-button>
		</div>


	</mv-card>

	<mv-card
		id="formats"
		>
		<h3 class="title-3">formats</h3>
		<br>
		<p>Estos son los distintos tipos de códigos que el componente acepta: </p>

		<mv-grid
		  type=flat
		  data="arrayTipos">
		</mv-grid>

	</mv-card>

</mv-screen>
