<div style="background: black;">
    <div class="grid" padding>
        <div class="row">


            <div class="col-sm-12 col-lg-6">
                <div class="formulario mx-auto">
                    <h3 text-center class="mx-auto">Contacta con nosotros</h3>
                    <form [formGroup]="contacto" (ngSubmit)="onSubmit(contacto.value)">
                        <ion-item class="m-2">
                            <ion-label>Nombre</ion-label>
                            <ion-input formControlName="nombre" type="text" name="nombre" required></ion-input>
                        </ion-item>
                        <ion-item class="m-2">
                            <ion-label>Email</ion-label>
                            <ion-input formControlName="email" type="text" name="email" required></ion-input>
                        </ion-item>
                        <ion-item class="m-2">
                            <ion-label>Teléfono</ion-label>
                            <ion-input formControlName="telefono" type="string" name="telefono" required></ion-input>
                        </ion-item>
                        <ion-checkbox style="margin-left: 1rem;--border-radius: 1px;" formControlName="check" id="acept" color="tertiary">

                        </ion-checkbox>
                        <label for="acept" style="color: white;">&nbsp;Acepto los termino y condiciones</label>
                        <ion-button expand="block" color="tertiary" type="submit" [disabled]="!contacto.valid" block>Enviar</ion-button>
                    </form>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6" padding>
                <h3 class="text-center">Titulo contacto</h3>
                <p class="mt-2 pl-2 pr-2 text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet nulla tempore unde at eum, nemo sunt ea labore. Culpa aperiam error aliquid unde quos aspernatur fugit cum non odio reiciendis.</p>
                <h3 class="text-center">Información</h3>
                <p class="mt-2 text-center">
                    Telefono de atención al cliente: +34 671 30 82 85 <br> Departamento técnico: +34 611 64 88 95
                </p>
            </div>
        </div>
    </div>
</div>