ion-content {
    --background: black;
}

h3 {
    color: white;
}

p {
    color: white;
}

.footer-desk {
    display: block;
    padding-top: 1.5rem;
    a {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
}

.what {
    margin-right: 1rem;
    margin-top: -2rem;
}

@media (min-width: 900px) and (max-width: 1920px) {
    .what {
        display: none;
    }
}