<!-- app-example-mova-tab -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaTab</h1>
		<br>
		<p>Menú horizontal con distintas opciones seleccionables.</p>
		<p>Para que el menú sea usable se recomienda no incluir más de 5 opciones.</p>
		<p>Este componente acepta los siguientes atributos:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('badge')" >badge</a></li>
			<li><a href="" ng-click="$root.scrollTo('bottomMode')" >bottom-mode</a></li>
			<li><a href="" ng-click="$root.scrollTo('captions')" >captions</a></li>
			<li><a href="" ng-click="$root.scrollTo('classIf')" >class-if</a></li>
			<li><a href="" ng-click="$root.scrollTo('click')" >click</a></li>
			<li><a href="" ng-click="$root.scrollTo('clickDisabled')" >click-disabled</a></li>
			<li><a href="" ng-click="$root.scrollTo('deselect')" >deselect</a></li>
			<li><a href="" ng-click="$root.scrollTo('iconClass')" >icon-class</a></li>
			<li><a href="" ng-click="$root.scrollTo('itemWidth')" >item-width</a></li>
			<li><a href="" ng-click="$root.scrollTo('selected')" >selected</a></li>
			<li><a href="" ng-click="$root.scrollTo('scroll')" >scroll</a></li>
			<li><a href="" ng-click="$root.scrollTo('scrollCenter')" >scroll-center</a></li>
			<li><a href="" ng-click="$root.scrollTo('scrollValue')" >scroll-value</a></li>
			<li><a href="" ng-click="$root.scrollTo('shadow')" >shadow</a></li>
			<li><a href="" ng-click="$root.scrollTo('type')" >type</a></li>
		</ul>
	</mv-card>

	<mv-card>
		<h2 class="title-2">Ejemplo de uso HTML y resultado</h2>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-tab<br>
				&emsp;&emsp;captions="inicio;correo;info;Sin icono"<br>
				&emsp;&emsp;icon-class="fa fa-home;fa fa-envelope;fa fa-info-circle;;"<br>
				&emsp;&emsp;selected="0"<br>
				&emsp;&emsp;badge=";5;;;"<br>
				&emsp;&emsp;><br>
				&lt;/mv-tab>
			</span>
		</code>
		<mv-tab
			captions="inicio;correo;info;Sin icono"
			icon-class="fa fa-home;fa fa-envelope;fa fa-info-circle;;"
			selected="0"
			badge=";5;;;"
			>
		</mv-tab>
	</mv-card>

	<mv-card
		id="badge"
		>
		<h3 class="title-3">badge</h3>
		<br>
		<p>La propiedad <b>badge</b> permite mostrar información dentro de un badge.</p>
		<p>Es necesario incluir la propiedad captions con sus valores, en el caso de no querer badge hay que dejar el caracter <b>;</b> en blanco.</p>
		<p>No existen propiedades de estilo para los badges, esto debe hacerse desde al propiedad <b>class-if</b>.</p>
		<p>En el siguiente ejemplo se ven todos los casos posibles.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-tab<br>
				&emsp;&emsp;captions="op1;op2;Contenidos;op4;op5"<br>
				&emsp;&emsp;<b>badge=";;new!;4;5"</b><br>
				&emsp;&emsp;selected=2<br>
				&emsp;&emsp;><br>
				&lt;/mv-tab>
			</span>
		</code>
		<mv-tab
			captions="op1;op2;Contenidos;op4;op5"
			badge=";;new!;4;5"
			selected=2
			>
		</mv-tab>
	</mv-card>

	<mv-card
		id="bottomMode"
		>
		<h3 class="title-3">bottom-mode</h3>
		<br>
		<p>La propiedad <b>bottom-mode</b> permite definir un estilo visual de báse adecuado para un tab que va mostrarse de forma principal en el pié de la vista, generalmente dentro de un elemento <b>mv.movaCard</b> con propiedades <b>adapt</b> y <b>float</b> con valor <i>true</i> y <b>border-width</b> con valor <i>0</i>.</p>
		<p>Los cambios principales respecto al estilo por defecto son la pérdida del redondeo de las esquinas y el ajuste de los bordes laterales e inferiores.</p>
		<p>Posteriormente puede sobreescribirse el estilo en el componente de la App según estime el desarrollador.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-tab<br>
				&emsp;&emsp;captions="inicio;correo;info;llamar"<br>
				&emsp;&emsp;icon-class="fa fa-home;fa fa-envelope;fa fa-info-circle;fa fa-phone-square;"<br>
				&emsp;&emsp;selected=0<br>
				&emsp;&emsp;badge=";5;;;"<br>
				&emsp;&emsp;<b>bottom-mode=true</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-tab>
			</span>
		</code>
		<mv-tab
			captions="inicio;correo;info;llamar"
			icon-class="fa fa-home;fa fa-envelope;fa fa-info-circle;fa fa-phone-square;"
			selected="0"
			badge=";5;;;"
			bottom-mode=true
			>
		</mv-tab>
		<br>
		<mv-button
			btn-type="primary"
			click="mostrarFlotante()"
			>
			{{estadoFlotanteTextoBoton}}
		</mv-button>
		<mv-card
			adapt=true
			float=true
			border-width=0
			show="estadoFlotante"
			>
			<mv-tab
				captions="inicio;correo;info;llamar"
				icon-class="fa fa-home;fa fa-envelope;fa fa-info-circle;fa fa-phone-square;"
				selected="0"
				badge=";5;;;"
				bottom-mode=true
				>
			</mv-tab>
		</mv-card>
	</mv-card>

	<mv-card
		id="captions"
		>
		<h3 class="title-3">captions</h3>
		<br>
		<p>La propiedad <b>captions</b> recibe las opciones del menú, el texto que aparecerá en cada elemento pulsable.</p>
		<p>Los elementos se mostrarán en el mismo orden que se incluyan, siempre separados por <b>;</b>.</p>
		<p>Sepueden incluir de 2 a N elementos.</p>
		<p>Incluir un unico elemento no tiene sentido y es altamente recomendable no incluir más de 5 elementos para que el menú tenga una experiencia de usuario óptima.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-tab<br>
				&emsp;&emsp;<b>captions="op1;op2;op3"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-tab>
			</span>
		</code>
		<mv-tab
			captions=";;;;"
			icon-class="fa fa-envelope-open;fa fa-thermometer-quarter;fas fa-battery-quarter;fas fa-snowflake;fas fa-plane;"
			>
		</mv-tab>
		<br>
		<mv-tab
			captions=";;;"
			icon-class="fa fa-envelope-open;fa fa-thermometer-quarter;fas fa-battery-quarter;fas fa-snowflake;"
			>
		</mv-tab>
		<br>
		<mv-tab
			captions="op1;op2;op3"
			>
		</mv-tab>
		<br>
		<mv-tab
			captions="op1;op2"
			>
		</mv-tab>
		<br>
		<p>Ejemplo de opciones con distintos tamaños, con iconos sin texto y texto sin iconos.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-tab<br>
				&emsp;&emsp;captions="Ejemplo de texto largo;Ejemplo 2;"<br>
				&emsp;&emsp;icon-class=";;fas fa-snowflake"<br>
				&emsp;&emsp;><br>
				&lt;/mv-tab>
			</span>
		</code>
		<mv-tab
			captions="Ejemplo de texto largo;Ejemplo 2;"
			icon-class=";;fas fa-snowflake"
			>
		</mv-tab>
	</mv-card>

	<mv-card
		id="classIf"
		>
		<h3 class="title-3">class-if</h3>
		<br>
		<p>La propiedad <b>class-if</b> permite aplicar una clase customizada al componente.</p>
		<p>Siempre que se utilice la propiedad <b>class-if</b> el estilo por defecto del componente se dejará de utilizar, pero el estilo del nucleo del componente permanece.</p>
		<p>A continuación se muestra un ejemplo de como sobrescribir el estilo SCSS del componente desde nuestro propio estilo SCSS.</p>
		<p>La clase <b>mv-tab-ol</b> se refiere a la lista de elementos del componente.</p>
		<p>La clase <b>mv-tab-item</b> se refiere a los elementos del componente. Podemos posicionarnos en cada uno de ellos mediante el selector nth-child(N) donde N es la posición empezando desde 1.</p>
		<p>La clase <b>mv-tab-item-selected</b> se refiere al estado seleccionado de un item.</p>
		<p>En este ejemplo se puede ver que el fondo rojo se aplica a la lista de componentes, el fondo rosa se aplica al tercer elemento, el fondo naranja se aplica al cuarto elemento y el fondo gris con texto blanco al item que se encuentre seleccionado en cada momento.</p>
		<p>El estilo puede personalizarse de varias formas, siempre teniendo en cuenta que los estilos que forman parte del nucleo del componente deben ser sobrescritos con el comando <b>!important</b> de CSS para que la prioridad de cascada de los estilos no se tenga en cuenta.</p>
		<code>
			<badge>CSS</badge>
			<span>
			.app-example-mova-tab-example-001 {<br>
			&emsp;&emsp;.<b>mv-tab-ol</b> {<br>
			&emsp;&emsp;&emsp;&emsp;background-color: red !important;<br>
			&emsp;&emsp;&emsp;&emsp;<b>.mv-tab-item:nth-child(3)</b> {<br>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;background-color: pink !important;<br>
			&emsp;&emsp;&emsp;&emsp;}<br>
			&emsp;&emsp;&emsp;&emsp;<b>.mv-tab-item:nth-child(4)</b> {<br>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;background-color: orange !important;<br>
			&emsp;&emsp;&emsp;&emsp;}<br>
			&emsp;&emsp;&emsp;&emsp;<b>.mv-tab-item</b> {<br>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;background-color: transparent !important;<br>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>&.mv-tab-item-selected</b> {<br>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;background-color: #bbb0b0 !important;<br>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;color: white;<br>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;}<br>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>.mv-tab-badge</b> {
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;background-color: green;
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;color: white;
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;border: 1pt solid black;
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;}
			&emsp;&emsp;&emsp;&emsp;}<br>
			&emsp;&emsp;}<br>
			}
			</span>
		</code>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-tab<br>
				&emsp;&emsp;captions="op1;op2;op3;op4;op5"<br>
				&emsp;&emsp;<b>class-if="app-example-mova-tab-example-001"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-tab>
			</span>
		</code>
		<mv-tab
			captions="op1;op2;op3;op4;op5"
			class-if="app-example-mova-tab-example-001"
			selected="4"
			badge=";2;;;"
			>
		</mv-tab>
	</mv-card>

	<mv-card
		id="clickDisabled"
		>
		<h3 class="title-3">click-disabled</h3>
		<br>
		<p>La propiedad <b>click-disabled</b> permite desactivar el click, de esta forma no se permite cambiar de tab mediante el click en uno de los elementos.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-tab<br>
				&emsp;&emsp;captions="op1;op2;op3;op4;op5"<br>
				&emsp;&emsp;<b>click-disabled=true</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-tab>
			</span>
		</code>
		<mv-tab
			captions="op1;op2;op3;op4;op5"
			click-disabled=true
			selected=0
			>
		</mv-tab>
	</mv-card>

	<mv-card
		id="deselect"
		>
		<h3 class="title-3">deselect</h3>
		<br>
		<p>La propiedad <b>deselect</b> permite que el elemento seleccionado pueda deseleccionarse.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-tab<br>
				&emsp;&emsp;captions="op1;op2;op3;op4;op5"<br>
				&emsp;&emsp;<b>deselect=true</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-tab>
			</span>
		</code>
		<mv-tab
			captions="op1;op2;op3;op4;op5"
			deselect=true
			selected=0
			>
		</mv-tab>
	</mv-card>

	<mv-card
		id="iconClass"
		>
		<h3 class="title-3">icon-class</h3>
		<br>
		<p>La propiedad <b>icon-class</b> permite mostrar un icono en un item.</p>
		<p>Existen tres posibilidades, icono con texto, icono sin texto o texto sin icono.</p>
		<p>Es necesario incluir la propiedad captions con sus valores, en el caso de no querer texto hay que dejar el caracter <b>;</b> en blanco.</p>
		<p>En el siguiente ejemplo se ven todos los casos posibles.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-tab<br>
				&emsp;&emsp;<b>captions=";;op3;op4"</b><br>
				&emsp;&emsp;<b>icon-class="fa fa-envelope-open;fa fa-thermometer-quarter;fa fa-handshake-o;"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-tab>
			</span>
		</code>
		<mv-tab
			captions=";;op3;op4"
			icon-class="fa fa-envelope-open;fa fa-thermometer-quarter;fa fa-handshake-o;"
			>
		</mv-tab>
	</mv-card>

	<mv-card
		id="itemWidth"
		>
		<h3 class="title-3">item-width</h3>
		<br>
		<p>La propiedad <b>item-width</b> permite definir el tamaño del item.</p>
		<p>Esta propiedad esta pensada cuando se usa scroll, por defecto el tamaño es de 19vw (relativo a screen).</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-tab<br>
				...<br>
				&emsp;&emsp;<b>item-width="20rem"</b><br>
				...<br>
				&emsp;&emsp;><br>
				&lt;/mv-tab>
			</span>
		</code>
		<mv-tab
			captions="Paso 1;Paso 2;Paso 3;Paso 4;Paso 5;Paso 6;Paso 7;Paso 8;Paso 9;Paso 10"
			badge="1;2;3;4;5;6;7;8;9;10"
			selected=1
			scroll=true
			scroll-value="1"
			item-width="20rem"
			>
		</mv-tab>
	</mv-card>

	<mv-card
		id="click"
		>
		<h3 class="title-3">click</h3>
		<br>
		<p>La propiedad <b>click</b> permite ejecutar una función incluida en el <b>$scope</b>.</p>
		<p>Esta propiedad click es especial, <u>no deben incluirse los parentesis de la función</u> ya que el componente siempre pasa un primer parámetro con el índice del item seleccionado.</p>
		<p>El rango de valores del índice del item va de 0 a N.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-tab<br>
				&emsp;&emsp;captions="op1;op2;op3;op4;op5"<br>
				&emsp;&emsp;<b>click="ejemploClick"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-tab>
			</span>
		</code>
		<mv-tab
			captions="op1;op2;op3;op4;op5"
			click="ejemploClick"
			>
		</mv-tab>
		<br>
		<p><b>Opción seleccionada:</b> {{ clickExampleItemSelected }}</p>
	</mv-card>

	<mv-card
		id="selected"
		>
		<h3 class="title-3">selected</h3>
		<br>
		<p>La propiedad <b>selected</b> permite tener seleccionado un item de forma inicial.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-tab<br>
				&emsp;&emsp;captions="op1;op2;op3;op4;op5"<br>
				&emsp;&emsp;<b>selected=2</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-tab>
			</span>
		</code>
		<mv-tab
			captions="op1;op2;op3;op4;op5"
			selected=2
			>
		</mv-tab>
	</mv-card>

	<mv-card
		id="scroll"
		>
		<h3 class="title-3">scroll</h3>
		<br>
		<p>La propiedad <b>scroll</b> permite al usuario desplazarse horizontalmente por las opciones de un tab.</p>
		<p>Por defecto el tamaño de cada elemento del tab como máximo será de un 20% del ancho de la pantalla.</p>
		<p>De esta forma, si se usa como un tab adaptado al ancho máximo de la pantalla solamente ofrecerá la navegación por scroll cuando existan más de 5 elementos.</p>
		<p>En caso de usarse dentro de un contenedor de menos tamaño que el ancho máximo de la pantalla se ofrecerá la navegación por scroll siempre que la suma de los anchos de los elementos existentes sea mayor al ancho del tab.</p>
		<p>En el caso de una Web App el scroll horizontal se mostrará siempre.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-tab<br>
				&emsp;&emsp;captions="op1;op2;op3;op4;op5"<br>
				&emsp;&emsp;<b>scroll=true</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-tab>
			</span>
		</code>
		<mv-tab
			captions="op1;op2;op3;op4;op5"
			scroll=true
			>
		</mv-tab>
	</mv-card>

	<mv-card
		id="scrollCenter"
		>
		<h3 class="title-3">scroll-center</h3>
		<br>
		<p>La propiedad <b>scroll-center</b> permite que un tab con la propiedad <b>scroll</b> inicialize su scroll centrado.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-tab<br>
				&emsp;&emsp;captions="op1;op2;op3;op4;op5"<br>
				&emsp;&emsp;scroll=true<br>
				&emsp;&emsp;<b>scroll-center=true</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-tab>
			</span>
		</code>
		<mv-tab
			captions="op1;op2;op3;op4;op5"
			scroll=true
			scroll-center=true
			>
		</mv-tab>
	</mv-card>

	<mv-card
		id="scrollValue"
		>
		<h3 class="title-3">scroll-value</h3>
		<br>
		<p>La propiedad <b>scroll-value</b> permite que un tab con la propiedad <b>scroll</b> se posicione en uno de los elementos.</p>
		<p>El valor de esta propiedad es la posición del elemento empezando en 0, por ejemplo con el valor 2 nos posicionaremos en el elemento 3.</p>
		<p>Esta propiedad solo funciona cuando existen elementos en el badge ya que esta pensada para el tipo <b>wizzard</b>.
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-tab<br>
				...<br>
				&emsp;&emsp;captions="op1;op2;op3;op4;op5"<br>
				&emsp;&emsp;badge="1;2;3;4;5;6;7;8;9;10"<br>
				&emsp;&emsp;scroll=true<br>
				&emsp;&emsp;<b>scroll-value=3</b><br>
				...<br>
				&emsp;&emsp;><br>
				&lt;/mv-tab>
			</span>
		</code>
		<mv-tab
			type="wizard"
			click-disabled=true
			captions="Paso 1;Paso 2;Paso 3;Paso 4;Paso 5;Paso 6;Paso 7;Paso 8;Paso 9;Paso 10"
			badge="1;2;3;4;5;6;7;8;9;10"
			selected="3"
			scroll=true
			scroll-value="3"
			>
		</mv-tab>
	</mv-card>

	<mv-card
		id="shadow"
		>
		<h3 class="title-3">shadow</h3>
		<br>
		<p>La propiedad <b>shadow</b> permite mostrar una sombra bajo el componente.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-tab<br>
				&emsp;&emsp;captions="op1;op2;op3;op4;op5"<br>
				&emsp;&emsp;<b>shadow=true</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-tab>
			</span>
		</code>
		<mv-tab
			captions="op1;op2;op3;op4;op5"
			shadow=true
			>
		</mv-tab>
	</mv-card>

	<mv-card
		id="type"
		>
		<h3 class="title-3">type</h3>
		<br>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>Puede ver el resto de ejemplos en el <a href="#!/maquetacion-tab"><b>ejemplo de maquetación</b></a>.</p>
		</mv-card>
		<p>La propiedad <b>type</b> permite dar un estilo predefinido al tab.</p>
		<code>
			<badge>HTML</badge>
			&lt;mv-tab><br>
			&emsp;&emsp;<b>type="flat"</b><br>
			&emsp;&emsp;captions="Llamadas;Mensajes;Favoritos;Configurar;Más"<br>
			&emsp;&emsp;icon-class="fas fa-phone;fas fa-envelope;fas fa-heart;fas fa-cog;fas fa-ellipsis-h"<br>
			&emsp;&emsp;badge=";8;;;"<br>
			&emsp;&emsp;selected=2<br>
			&emsp;&emsp;bottom-mode=true<br>
			&lt;/mv-tab>
		</code>
		<mv-tab
			type="flat"
			captions="Llamadas;Mensajes;Favoritos;Configurar;Más"
			icon-class="fas fa-phone;fas fa-envelope;fas fa-heart;fas fa-cog;fas fa-ellipsis-h"
			badge=";8;;;"
			selected=2
			bottom-mode=true
			>
		</mv-tab>
	</mv-card>

</mv-screen>
