<!-- app-pantalla10 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	float-footer="{{ screen.floatFooter }}"
	show-back="{{ screen.showBack }}"
	show-menu="{{ screen.showMenu }}"
	show-logo="{{ screen.showLogo }}"
	show-subtitle="{{ screen.showSubtitle }}">

	<mv-container id="prev" class="app-main-menu-mv-card-main">

			<h2 id="h2Prev">Presentación del Hospital</h2>
			
			<p class="imgcenter"><img src="media/images/examples/hospitalFuenfria.jpg"/></p>
			
			<p id="pCoc2">El Hospital La Fuenfría es un hospital de apoyo de media y larga 
			estancia, cuyo objetivo prioritario es prestar servicio a aquellos 
			usuarios que por su patología no requieren la permanencia en centros 
			de agudos o no pueden ser asistidos por los Equipos de Atención Primaria.</p>

			<p>Fue inaugurado en 1921 por S.M. el Rey Alfonso XIII.</p>

			<p>Está situado en la localidad de Cercedilla, en la Sierra de Guadarrama, 
				en un entorno que reúne todas las características deseables de 
				tranquilidad y belleza natural.</p>

			<p>Nuestro centro se dedica al tratamiento y cuidado de usuarios con 
				patologías crónicas que necesitan especial asistencia durante las 
				reagudizaciones, en las fases de dependencia severa o incluso en 
				situaciones terminales.</p>

			<p>También atiende la convalecencia y posterior rehabilitación de 
				procesos que generan incapacidad funcional o inmovilismo.</p>
<!--
			<p class="imgcenter"><img id="doc" src="media/images/examples/doctor.jpg"/></p>	
				
			<p>Hay cuatro plantas destinadas a la hospitalización de los 
				usuarios en donde los equipos médicos y de enfermería desarrollan 
				su actividad de cuidados.</p>

			<p>Dentro de cada planta los usuarios son ubicados según su perfil 
				clínico y funcional al objeto de que reciban la asistencia más
				 adecuada a su patología.</p>

			<p>El equipo de profesionales está organizado en Unidades de 
				Hospitalización que son áreas de atención integradas en un todo 
				contínuo diseñadas para cubrir las diversas fases de la enfermedad.</p>

			<p>La filosofía de cuidado integral del usuario constituye una trayectoria
				 permanente en nuestra actividad asistencial, poniendo a disposición
				  del enfermo todas las fuentes de cuidados necesarias para mejorar 
				  su salud y favorecer su bienestar personal.</p>
			
			<p>Vd. recibirá una atención protocolizada en todas aquellas áreas de 
				cuidados en las que requiera asistencia. El objetivo es unificar 
				y coordinar el funcionamiento de todos los profesionales que le 
				atenderán.</p>

			<p>Los profesionales del hospital se identifican con su tarjeta personal 
				que llevan en el bolsillo superior del uniforme (o lugar bien visible), 
				donde figura escrito su nombre, categoría profesional y su foto.</p>-->

	</mv-container>

</mv-screen>
