<header class="arrendador" *ngIf="isUserArrendador == true" style="background:#26a6ff">
  <div class="titulo" text-center>
    <h5>Alquileres Pagados</h5>
  </div>
  <div>
    <img class="arrow" (click)="goBack()" src="/assets/icon/flecha.png">
  </div>

</header>
<ion-header style="background:#26a6ff" *ngIf="isUserAgente == true">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" style="text-align: initial" href="#" style="">Alquileres Pagados</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a style="color: black;" class="nav-link" (click)="goHome()">Inicio Agente </a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goPisosAgentes()">Lista pisos</a>
          <!-- <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goAlquileres()">Alquileres Activos</a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goContratos()">Contratos</a>
          </li>-->
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goPerfil()">Perfil</a>
          </li>
        </ul>
      </div>
    </nav>

</ion-header>
<ion-content *ngIf="items" class="fondo">

      
      <ion-grid *ngIf="isUserArrendador === true">
        <ion-row>
          <ion-col text-center size="12">
          <button class="boton-enero" routerLink="/pago-enero"  size="small">Enero</button>
          </ion-col>
          <ion-col text-center size="12">
          <button class="botones" routerLink="/pago-febrero" expand="block" size="small">Febrero</button>
          </ion-col>
          <ion-col text-center size="12">
          <button class="botones" routerLink="/pago-marzo" expand="block" size="small">Marzo</button>
          </ion-col>
          <ion-col text-center size="12">
          <button class="botones" routerLink="/pago-abril" expand="block" size="small">Abril</button>
          </ion-col>
          <ion-col text-center size="12">
          <button class="botones" routerLink="/pago-mayo" expand="block" size="small">Mayo</button>
          </ion-col>
          <ion-col text-center size="12">
          <button class="botones" routerLink="/pago-junio" expand="block" size="small">Junio</button>
          </ion-col>
          <ion-col text-center size="12">
          <button class="botones" routerLink="/pago-julio" expand="block" size="small">Julio</button>
          </ion-col>
          <ion-col text-center size="12">
          <button class="botones" routerLink="/pago-agosto" expand="block" size="small">Agosto</button>
          </ion-col>
          <ion-col text-center size="12">
          <button class="botones" routerLink="/pago-septiembre" expand="block" size="small">Septiembre</button>
          </ion-col>
          <ion-col text-center size="12">
          <button class="botones" routerLink="/pago-octubre" expand="block" size="small">Octubre</button>
          </ion-col>
          <ion-col text-center size="12">
          <button class="botones" routerLink="/pago-noviembre" expand="block" size="small">Noviembre</button>
          </ion-col>
          <ion-col text-center size="12">
          <button class="botones" routerLink="/pago-diciembre" expand="block" size="small">Diciembre</button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="isUserAgente == true">
        <ion-row>
          <ion-col text-center size="12">
          <button class="boton" routerLink="/lista-pisos-agentes"  size="small">Tus pisos</button>
          </ion-col>
          <ion-col text-center size="12">
          <button class="boton-confirmar" routerLink="/pefil-agente" expand="block" size="small">Perfil</button>
          </ion-col>
        </ion-row>
      </ion-grid>
  
</ion-content>
