header{
    background: #26a6ff;
}

.arrendador{
    background: #26a6ff;
    height: 2rem;
}



h5{
    //text-shadow: 1px 1px whitesmoke;
    //padding-top: 1rem;
    color: white;
    padding-top: 0.3rem;
    position: relative;
    font-size: larger;
    /* background: black; */
    width: 70%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    margin-left: 15%;
    //padding-bottom: 0.3rem;
    font-weight: bold;
    text-transform: uppercase;
}


.image{
    float: left;
    position: relative;
    margin-top: -1.8rem;
    height: 1rem;
    padding-left: 0.5rem;
}

.arrow{
    float: left;
    position: relative;
    margin-top: -1.8rem;
    height: 1rem;
    padding-left: 0.5rem;
}


.navbar.navbar-expand-lg{
    background-color: #26a6ff;
    color: black;
}

.collapse.navbar-collapse{
    //background: rgb(197,197,197);
    color: black;
margin-left: -1rem;
margin-right: -2rem;
padding-left: 1rem;
margin-bottom: -0.5rem;
}




.logotipo{
    padding-right: 1rem;
    height: 2rem;
}

a.nav-link{
    color: black;
}

.navbar-brand{
    color: black;
    font-size: x-large;
    position: relative;
    display: flex;
}





ion-content{

    --background: url("/assets/imgs/mesesPago.jpg") no-repeat fixed center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}

@media only screen and (min-width:414px){
    ion-content{
        --background: url("/assets/imgs/mesesPagoS.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
    }
}

.botones{
    color: black;
    background: white;
    border-radius: 5px;
    height: 2.2rem;
    margin-top: 2rem;
    font-size: 1.1rem;
    width: 13rem;
    font-weight: bold;
    margin-top: 0.5rem
}


.boton-enero:hover{
    background: rgba(38, 166, 255, 0.75);
}

.botones:hover{
    background: rgba(38, 166, 255, 0.75);
}

header{
    background: #26a6ff;
    height: 2rem;
  }
  
  
  h4{
    //text-shadow: 1px 1px whitesmoke;
    padding-top: 1rem;
    color: black;
    position: relative;
    font-size: larger;
    /* background: black; */
    width: 70%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    margin-left: 15%;
    padding-bottom: 0.3rem;
  }

.boton-enero{
    color: black;
    background: white;
    border-radius: 5px;
    height: 2.2rem;
    margin-top: 1rem;
    font-size: 1.1rem;
    width: 13rem;
    font-weight: bold;
}


.sin{
    text-align: center;
    top: 50%;
    position: relative;
    font-size: x-large;
}

.boton{
    width: 20rem;
    border-radius: 8px;
    height: 2.5rem;
    margin-top: 1rem;
    margin-top: 2rem;
    color: white;
    background: rgba(38,166,255, 0.7);
    box-shadow: 1px 1px black;
    margin-bottom: 5;
  }
  
  
  
  .boton-confirmar{
    margin-top: 1rem;
    
    width: 20rem;
    border-radius: 8px;
    height: 2.5rem;
    color: black;
    background: white;
    box-shadow: 1px 1px black;
    margin-bottom: 5;
  }
  
  .boton-confirmar1{
    margin-top: 1rem;
    
    width: 20rem;
    border-radius: 8px;
    height: 2.5rem;
    color: white;
    background: rgba(38,166,255, 0.7);
    box-shadow: 1px 1px black;
    margin-bottom: 5;
  }
  
  .boton-completar{
    width: 20rem;
    border-radius: 8px;
    height: 2.5rem;
    /* margin-top: 1rem; */
    /* margin-top: 2rem; */
    color: white;
    background: rgba(38, 166, 255, 0.7);
    box-shadow: 1px 1px black;
    margin-bottom: 5;
    bottom: 0;
    height: 3rem;
    position: fixed;
    margin-left: -10rem;
    margin-bottom: 2rem;
    color: black;
    font-size: 20px;
  }