<body class="caja">

  <div text-center>
    <p style="color: white;">PRODUCTO AÑADIDO</p>
  </div>
  <div text-center>
    <div text-center>
      <img class="subido" (click)="exit()" src="../../../assets/imgs/subido.png" alt="">
    </div>
  </div>
</body>