<!-- app-pantalla13 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	float-footer="{{ screen.floatFooter }}"
	show-back="{{ screen.showBack }}"
	show-menu="{{ screen.showMenu }}"
	show-logo="{{ screen.showLogo }}"
	show-subtitle="{{ screen.showSubtitle }}">

	<mv-container class="app-main-menu-mv-card-main">

		<mv-container-item>
			
				<h2 id="dir">
				  Aviso de no comer en el <br/>
				Hospital
				</h2>

				<p id="p1A">Tanto el paciente como sus familiares deben tener en cuenta que
					la alimentación de los pacientes forma parte de su tratamiento,
					alimentación que está bajo control médico. Por este motivo,
					durante su estancia en el Hospital, es importante que el 
					paciente no consuma alimentos ni bebidas que no estén incluidos
					en su dieta. Es igualmente importante que el paciente no 
					consuma alimentos que no le sean suministrados por el 
					personal del Hospital, así como que no tomen otros alimentos
					sin el previo conocimiento del personal sanitario.</p>
				
					<br/><br/><br/>

				<p id="p2A">Por lo anterior, <span><strong>NO SE PERMITE EL ACCESO DE LOS
					PACIENTES A LA CAFETERÍA DEL HOSPITAL EN EL HORARIO
					DE COMIDAS Y/O CENAS.</strong></span></p>

					<br/><br/><br/>

				<p id="laDir">La Dirección</p>

		</mv-container-item>

	</mv-container>

</mv-screen>
