/*
╔═══════════════════╗
║ mova-header style ║
╚═══════════════════╝
*/

mv-header {
	position: fixed;
	display: block;
	width: 100%;
	height: 69px;
	background-color: #1A73E8;
	margin: auto;
	padding: auto;
	overflow: hidden;

	/*
	Sobreescribir el CSS del componente mv-back-button para adaptarlo al header
	*/
	mv-button-back {

		background-color: #1A73E8 !important;
		display: inline-block;
		z-index: $z-index_header-button;
		color: $color-secondary-010;
		vertical-align: top;
		height: 100%;
		padding: 0rem 0.25rem 0 0.2rem;

		/*.mv-button-back {
			padding: 0.55rem 0.55rem 0.55rem 0.25rem;
		}*/
	}

	/*
	Sobreescribir el CSS del componente mv-button-menu para adaptarlo al header
	*/
	mv-button-menu {

		background-color: #1A73E8 !important;
		display: inline-block;
		z-index: $z-index_header-button;
		color: $color-secondary-010;
		padding: 0.65rem 1.1rem;
		vertical-align: top;
		height: 100%;

		i {
			font-size: 1.85rem !important;
		}

		.mv-button-menu {
			padding: 1rem 0.55rem 0.55rem 0.55rem;
		}
	}

	/* Separador vertical */
	.mv-header-separator {
		display: inline-block;
		border-left: solid thin $color-secondary-011;
		height: 100%;
	}

	.logo-app {

		background-color: none!important;
		display: inline-block;
		max-width:86px;
		max-height:86px;
		//background-color: $color-secondary-011 !important;
		padding: 0 0 0 0;
		margin: -7px 72px 0 72px;
		vertical-align: top;
	}

	/* Bloque principal */
	.mova-header-text {

		font-family:Montserrat;
		font-size:24px;
		display: inline-block;
		position: absolute;
		height: 3.5rem;
		color: white;
		padding: 0 0 0 0;
		margin: 18px 10px;
		z-index: $z-index_header-menu-background-text;
		vertical-align: top;

		h2 {
			display: table;
			width: 100%;
			height: 3.5rem;
			font-size: $font-size-small;
			margin: 0 0 0 0;
			padding: 0 0 0 0;
		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;

		    .text {
		    	display: table-cell;
		    	vertical-align: middle;
		    	b {
			    	display: block;
					font-size: $font-size-medium;
				}
		    }

		    .separator {
		    	display: none;
		    }
		}
	}

	/* Imagen del fondo del botón del menu */
	#headerMenuBackground {
		position: absolute;
		max-width:5em;
		max-height:5em;
		width: auto;
		height: auto;
		padding: 0em 0em;
		right: 0;
		z-index: $z-index_header-menu-background;
	}

	/* Logo del header */
	.logo {
		display: none;
		position: absolute;
		//max-width:3.5rem;
		//max-height:3.5rem;
		width: 3.55rem;
		height: auto;
		left: calc(50% - 1.775rem);
		top: 0.4rem;
		//padding: 0.3em 0.3em 0.3em 0.3em;
		//margin: 0 0 0 2.55rem;
	}

	.mv-header-logo-madrid-container {
		background-color: none;
		position: absolute;
		display: block;
		height: 4rem;
		right: 0rem;
		top: 0rem;
		padding: 0 0 0 0;

		.logo_madrid_texto_y_estrellas {
			display: none;
		}

		.logo_madrid_estrellas {

			max-height:3rem;
			padding: 0.3em 0.3em 0.3em 0em;
			margin: 0.45rem 0 0 0rem;
		}

	}

}

/*
┌────────────────────────────────────────────────┐
│ Especial for header small devices like iPhone4 │
└────────────────────────────────────────────────┘
*/

@media only screen and (max-width : 359px) {

	.mv-header-logo-madrid-container {
		display: none !important;
	}

}

/*
┌──────────────────────────────────────┐
│ Smartphones (portrait and landscape) │
└──────────────────────────────────────┘
*/

@media only screen and (max-width : $media-col-xs-max) {

}

/*
┌─────────────────────────────────────┐
│ Tablets, iPads como medida genérica │
└─────────────────────────────────────┘
*/

@media only screen and (min-width : $media-col-sm-min) and (max-width : $media-col-sm-max) {

	mv-header {

		/* Separador vertical */
		.mv-header-separator {
			left: 7.0rem;
		}

	  	/* Logo del header */
		.logo {
			height: auto;
			left: 7.8rem;
			top: 1.1rem;
		}

		.mova-header-text {
			display: block;
			width: 100%;
			top: 0;
			left: 0;
			position: absolute;
			text-align: center;
			padding: 0 0 0 0;
			margin: 0.15rem 0 0 0;
			h2 {
				font-size: $font-size-big;

			    .text {
			    	b {
			    		display: inline-block;
						font-size: $font-size-big;
					}
			    }

			    .separator {
			    	display: inline-block;
			    }
			}
		}

		mv-button-menu {
			left: 3.15rem;
		}
	}
}

/*
┌──────────────────────┐
│ Desktops and laptops │
└──────────────────────┘
- Primero para dispositivos no retina
- Segundo para dispositivos retina
*/
@media only screen and (min-width : $media-col-md-min) {

  	mv-header {

		/* Separador vertical */
		.mv-header-separator {
			left: 4.0rem;
		}

	  	/* Logo del header */
		.logo {
			height: auto;
			left: 7.8rem;
			top: 1.1rem;
		}

		.mova-header-text {
			display: block;
			width: 100%;
			top: 0;
			left: 0;
			position: absolute;
			text-align: center;
			padding: 0 0 0 0;
			margin: 0.15rem 0 0 0;
			h2 {
				font-size: $font-size-big;

			    .text {
			    	b {
			    		display: inline-block;
						font-size: $font-size-big;
					}
			    }

			    .separator {
			    	display: inline-block;
			    }
			}
		}

		mv-button-menu {
			left: 0.55rem;
		}

		.mv-header-logo-madrid-container {

			top: -0.2rem;

			.logo_madrid_texto_y_estrellas {

				display: block;
				max-height:4rem;
				padding: 0.3em 0.3em 0.3em 0em;
				margin: 0 0 0 0;
				background-color: transparent;
			}

			.logo_madrid_estrellas {
				display: none;
			}

		}

		mv-button-back {

			display: none;
		}
	}
}
