<!-- mova-header -->

<!-- Botón de navegar atrás -->
<!--<mv-button-back
	ng-if="(showBack !== 'false') && (showBack !== false)">

</mv-button-back>-->

<!-- Botón de menu lateral -->
<mv-button-menu
	ng-if="(showMenu !== 'false') && (showMenu !== false)">

</mv-button-menu>

<mv-card
	class="mova-header-text"
	bg-color="transparent"
	border-color="transparent"
	default-css=false
	>Hospital La Fuenfría
</mv-card>

<!-- Comentar con los nuevos estilos aprobados -->
<!--<img id="headerMenuBackground" src="media/images/header_menu_background.png">-->

<!--<span class="mv-header-logo-madrid-container">-->

	<!-- Imagen texto y estrellas -->
	<!--<mv-input-image
		id="header_logo_madrid_texto_y_estrellas"
		border-color="transparent"
		class="logo_madrid_texto_y_estrellas"
		src="media/images/logo_madrid_texto_y_estrellas.png">

	</mv-input-image>
</span>-->

