.desk{
    display: none;
    position: relative;
}

@media (min-width: 1024px) and (max-width: 1280px){
    .desk{
        display: none;
        position: relative;
    }
}

@media only screen and (min-width: 1280px){
    .desk{
        display:none;
        position: relative;
    }
}