<!-- app-example-rateApp -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaRateApp</h1>
		<br>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>Este componente suele utilizarse desde una opción del menú para que el usuario pueda acceder a una breve encuestra donde valorar la aplicación.</p>
		</mv-card>
		<p>Este componente se encarga de mostrar en una pantalla un formulario de valoración de la App que permite valorar la App con estrallas y enviar comentarios a preguntas concretas sobre la App.</p>
		<p>Este componente ofrece los siguientes métodos a través del servicio <b>mvRateAppService</b>:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('actualizarValoracion')" >actualizarValoracion</a></li>
		</ul>
	</mv-card>

	<mv-card
		id="actualizarValoracion"
		>
		<h3 class="title-3">actualizarValoracion</h3>
		<br>
		<p>El método <b>actualizarValoracion</b> inserta una valoracion de la App.</p>
		<p>El parámetro <b>oValoracion</b> es un JSON con la información de la valoración. Este objeto debe tener los siguientes atributos:</p>
		<ul>
			<li>idConsulta - Identificador de la consulta.</li>
			<li>idApp - Identifidacor de la App.</li>
			<li>
				parametros - Contiene un array con 6 objetos, estos objetos son los siguientes:
				<ul>
					<li>objeto 1 - {'tipo':'string', 'valor':identificadorDispositivo}</li>
					<li>objeto 2 - {'tipo':'string', 'valor':nombreApp}</li>
					<li>objeto 3 - {'tipo':'string', 'valor':versionApp}</li>
					<li>objeto 4 - {'tipo':'int', 'valor':numeroDeEstrellas}</li>
					<li>objeto 5 - {'tipo':'date', 'valor':fechaActual}</li>
					<li>objeto 6 - {'tipo':'int', 'valor':idDispositivoNotificacionesPush}</li>
				</ul>
			</li>
		</ul>
		<code>
			<badge>JavaScript</badge>
			<span>
				actualizarValoracion(oValoracion);
			</span>
		</code>
		<p>La estructura del objeto enviado es la siguiente.</p>
		<p>Se hace una llamada por cada pregunta y por la puntuación de la App.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				{<br>
				&emsp;&emsp;...<br>
				&emsp;&emsp;idConsulta: "mova_valoracion_preg_insert",<br>
				&emsp;&emsp;idApp: 6,<br>
				&emsp;&emsp;parametros: [<br>
				&emsp;&emsp;&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;tipo: "string",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;valor: "no-uuid",<br>
				&emsp;&emsp;&emsp;&emsp;}<br>
				&emsp;&emsp;&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;tipo: "string",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;valor: "MOVA_MOV_PLANTILLA",<br>
				&emsp;&emsp;&emsp;&emsp;}<br>
				&emsp;&emsp;&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;tipo: "string",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;valor: "1.0.0",<br>
				&emsp;&emsp;&emsp;&emsp;}<br>
				&emsp;&emsp;&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;tipo: "string",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;valor: "¿Qué es lo que más te gusta de la aplicación?",<br>
				&emsp;&emsp;&emsp;&emsp;}<br>
				&emsp;&emsp;&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;tipo: "string",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;valor: "ejemplo de texto 001",<br>
				&emsp;&emsp;&emsp;&emsp;}<br>
				&emsp;&emsp;&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;tipo: "date",<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;valor: "12/06/2018 10:31:54",<br>
				&emsp;&emsp;&emsp;&emsp;}<br>
				&emsp;&emsp;&emsp;&emsp;{<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;tipo: "int",<br>
				&emsp;&emsp;&emsp;&emsp;}<br>
				&emsp;&emsp;]<br>
				&emsp;&emsp;...<br>
				}<br>
			</span>
		</code>
	</mv-card>

</mv-screen>
