<!-- app-example-error -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaError</h1>
		<br>
		<p>Vista que muestra la información sobre un error en tiempo de ejecución.</p>
		<p>Este componente se utiliza por defecto en el interceptor general cuando se produce un error en las llamadas y respuestas http.</p>
		<p>A continuación se muestran los dos tipos de errores existentes:</p>

		<mv-container>
		  <mv-container-item col-xs=6 default-margin=true>
				<mv-button
					class="app-example-mova-button"
					icon-class="fa fa-exclamation-circle"
					click="warningError()"
					btn-type="warning"
					shadow=true>
					Error 4xx
				</mv-button>
		  </mv-container-item>

		  <mv-container-item col-xs=6 default-margin=true>
				<mv-button
					class="app-example-mova-button"
					icon-class="fa fa-exclamation-circle"
					click="dangerError()"
					btn-type="danger"
					shadow=true>
					Error 5xx
				</mv-button>
		  </mv-container-item>

		</mv-container>

		<br>

		<p>No obstante, este componente también se puede invocar manualmente a través de la directiva <a target="_blank" href="#!/example-angularjs-rootscope#error"><b>$rootScope</b></a> de AngularJS mediante su método <b>error()</b>, que tiene los siguientes parámetros:</p>
		<ol>
			<li><b>titulo</b> - Texto que aparecerá como título del error.</li>
			<li><b>descripción</b> - Texto explicativo del error.</li>
			<li><b>codigo</b> - Código devuelto por el error.</li>
			<li><b>showSendButton</b> - Booleano para mostrar u ocultar el botón de reportar error.</li>
			<li><b>showBackButton</b> - Booleano para mostrar u ocultar el botón de ir atrás.</li>
			<li><b>showHomeButton</b> - Booleano para mostrar u ocultar el botón de ir al inicio.</li>
		</ol>

		<p>También habrá que configurar correctamente la variable <a target="_blank" href="#!/example-app-config#erroresEmails"><b>erroresEmails</b></a>
			del componente appConfig con los destinatarios que recibirán los correos cuando haya un error y le demos al botón enviar/compartir.
		 </p>

	</mv-card>

	<mv-card>
		<h2  class="title-2">Ejemplo de invocación manual de mv.movaError desde JavaScript</h2>
		<br>
		<p></p>
		<code>
			<badge>JavaScript</badge>
			<span>
				$rootScope.stateError(<br>
				&emsp;&emsp;'Error de ejemplo.',<br>
				&emsp;&emsp;'Ejemplo para mostrar la pantalla de error.',<br>
				&emsp;&emsp;'{"data":null,"status":-1,"config":{"method":"GET","transformRequest":[null],"transformResponse":[null],"jsonpCallbackParam":"callback","url":"https://gestiona3.madrid.org/mova_rest_servicios/v1/consultas/do?idApp=1&idConsulta=mova_version","headers":{"Accept":"application/json, text/plain, */*","token-auth":"fcaa9083-af52-4574-9387-e9cbb169b3d6"}},"statusText":""}',<br>
				&emsp;&emsp;true,<br>
				&emsp;&emsp;true,<br>
				&emsp;&emsp;true<br>
				);
			</span>
		</code>
		<a ng-click="irAError()"><i class="fa fa-link"></i> Ejemplo de error</a>
	</mv-card>

	<mv-card>
		<h2  class="title-2">Ejemplo de tratamiento de error en una llamada sin uso de mv.movaError</h2>
		<br>

		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;class="section-danger"<br>
				&emsp;&emsp;title="ERROR"<br>
				&emsp;&emsp;hr-class-if="hr-danger"<br>
				&emsp;&emsp;show="showError"><br>
				&emsp;&emsp;&lt;p>Ha ocurrido un error, inténtelo de nuevo más tarde.&lt;/p><br>
				&lt;/mv-card>
			</span>
		</code>

		<code>
			<badge>JavaScript</badge>
			<span>
				self.appExampleMovaErrorService.dangerError2().then(function successCallback(response) {<br>

				},<br>
				function errorCallback(response) {<br>
				&emsp;&emsp;self.scope.showError = true;<br>
				});
			</span>
		</code>

		<p>Recordar que hay que pasar el parámetro <b>{'showError': false}</b> a la llamada http (<a href="#!/example-angularjs-http"><b>$http</b></a>) para que no se muestre el error por defecto.</p>

		<code>
			<badge>JavaScript</badge>
			<span>
				dangerError2 () {<br>
				&emsp;&emsp;let httpRest = 'direccion_inventada';<br>
			  &emsp;&emsp;return this.http.get(encodeURI(httpRest), <b>{'showError':false}</b>).then(function successCallback(response) {<br>
			  &emsp;&emsp;&emsp;&emsp;return response;<br>
				&emsp;&emsp;},<br>
				&emsp;&emsp;function errorCallback(response) {<br>
			  &emsp;&emsp;&emsp;&emsp;return this.q.reject(response);<br>
				&emsp;&emsp;});<br>
				};
			</span>
		</code>

		<mv-card
		  class="section-danger"
		  title="ERROR"
		  hr-class-if="hr-danger"
			show="showError">
		  <p>Ha ocurrido un error, inténtelo de nuevo más tarde.</p>
		</mv-card>

		<a ng-click="dangerError2()"><i class="fa fa-link"></i> Ejemplo de error</a>
	</mv-card>

</mv-screen>
