/*
╔════════════════════╗
║ mova-gesture style ║
╚════════════════════╝
*/

section {
	&.mv-gesture {

		display: inline-block;
		background-color: transparent;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		width: auto;
		height: auto;

		> main {
			display: inline-block;
			background-color: transparent;
			margin: 0 0 0 0;
			padding: 0 0 0 0;
			width: auto;
			height: auto;

		}
	}
}