<!-- app-example-admin-electronica-pasarela-pago -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons">

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio">
		<h1 class="title-1">ea.eadmPasarelaPago</h1>
		<br>

		<p>Funcionalidad para invocar a la pasarela de pago</p>
		<p>Existen diversos parémetros de configuración del componente. Hay que invocar al componente "pasarela-pago" con los siguientes parámetros obligatorios</p>
		<ul>
			<li><b>Aplicación:</b> Campo obligatorio tal cual se explica en el manual de integración de SCPT</li>
			<li><b>Nif:</b> Campo obligatorio tal cual se explica en el manual de integración de SCPT</li>
			<li><b>Importe:</b> Campo obligatorio tal cual se explica en el manual de integración de SCPT</li>
			<li><b>Justificante:</b> Campo obligatorio tal cual se explica en el manual de integración de SCPT</li>
			<li><b>Modelo:</b> Campo obligatorio tal cual se explica en el manual de integración de SCPT</li>
			<li><b>Visualización:</b> Campo obligatorio para la vista en movil se ha habilitado los códigos 10: pago con tarjeta, 11: pago cuenta bancaria, 12: ambos pagos</li>
			<!--<li><b>AutoRequest:</b> si se quiere ir directamente a la pasarela de pago o por el contrario confirmar en el componente de SCPT_MOVA, valores 0: No se automatiza, 1: se automatiza</li>
			<li><b>AutoResponse:</b> si se quiere retornar los valores de la pasarela de pago a nuestra página por el contrario que lo gestione el componente de SCPT_MOVA, valores 0: No se automatiza, 1: se automatiza</li>-->
			<li><b>Redirect:</b> Ruta donde nos redirije el componente y nos da los valores correspondientes al resultado</li>
		</ul>

		<p><b>Manuales SCPT</b> (Servicio Común de Pago Telemático) donde se explican todos los aspectos (uso, integración, etc.) con detalle: <b><a target="_blank" href="http://intranet.madrid.org/arquitecturasw/index.php/administracion-electronica/servicio-comun-de-pago-telematico">manuales SCPT</a></b></p>

	</mv-card>

	<mv-card
		id="">
		<h3 class="title-3">Redirect</h3>

		<br>

		<p>Este atributo nos redirigirá al componente que nosotros definamos en caso de estar usando la app en un dispositivo móvil.</p>
		<p>Si nos encontramos en web
		nos redirigirá a la url definida en el momento de integración de nuestra app. Explicado en más detalle en los (<b><a target="_blank" href="http://intranet.madrid.org/arquitecturasw/index.php/administracion-electronica/servicio-comun-de-pago-telematico">manuales SCPT</a></b>)</p>


	</mv-card>

	<mv-card
		id="app-example-mova-eadm">

		<p>A continuación se muestra un ejemplo de uso:</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				var json = {<br>
				&emsp;&emsp;"app":"SCPT_MOVA",<br>
				&emsp;&emsp;"nif":"00000005M",<br>
				&emsp;&emsp;"importe":"10000",<br>
				&emsp;&emsp;"justificante":"0300101010101",<br>
				&emsp;&emsp;"modelo":"030,<br>
				&emsp;&emsp;"visualizacion": 12,<br>
				<!--<BR/>
				"autoRequest": "1",
				<BR/>
				"autoResponse":"1",-->
				&emsp;&emsp;"redirect":"example-eadm-pasarela-pago"<br>
				};<br>

				self.state.go('pasarela-pago',json);
			</span>
		</code>

		<code>
			<badge>HTML</badge>
			<span>
				&lt;ea-pasarela-pago>&lt;/ea-pasarela-pago>
			</span>
		</code>

		<mv-input
			label="Aplicación"
			is-required=true
			model="datos.app">
		</mv-input>

		<mv-input
			label="Nif"
			model="datos.nif"
			is-required=true>
		</mv-input>

		<mv-input
			label="Importe"
			model="datos.importe"
			disabled=true
			is-required=true>
		</mv-input>

		<mv-input
			label="Justificante"
			model="datos.justificante"
			is-required=true>
		</mv-input>

		<mv-input
			label="Modelo"
			is-required=true
			model="datos.modelo">
		</mv-input>

		<mv-select
			label="Visualización"
		  model="select.selected"
			is-required=true
		  options="opciones">
		</mv-select>

		<mv-select
			label="Redirección automática request"
		  model="selectReq.selected"
			is-required=true
			disabled=true
		  options="opcionesBool">
		</mv-select>

		<mv-select
			label="Redirección automática response"
		  model="selectRes.selected"
			is-required=true
			disabled=true
		  options="opcionesBool">
		</mv-select>

		<mv-input
			label="Ruta de redirección MOVA"
			model="datos.pagina"
			is-required=true>
		</mv-input>

		<mv-button
			adapt=true
		  icon-class="fa fa-home"
		  click="botonClick()"
			btn-type="success">  
			Pasarela de Pago
		</mv-button>

		<mv-card
		  class="section-info"
		  title="Resultado"
		  hr-class-if="hr-info">

			<div>Resultado SCPT: {{resultado}}</div>
		</mv-card>

	</mv-card>

</mv-screen>
