<div text-center>
  <h2>Terminos y Condiciones</h2>
  </div>
  
  <div padding>

  <p>POLÍTICA DE PRIVACIDAD PARA APLICACIONES MÓVILES (APPS)

    Fecha última actualización: 01/09/2019
    
    De conformidad con el Reglamento (UE) 2016/679, del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos (Reglamento General de Protección de Datos - RGPD), RentechApp S.L., informa a los usuarios de la aplicación Rentech (en adelante, la Aplicación), acerca del tratamiento de los datos personales, que ellos voluntariamente hayan facilitado durante el proceso de registro, acceso y utilización del servicio.
    
    1. IDENTIFICACIÓN DEL RESPONSABLE DEL TRATAMIENTO.
    
    RentechApp S.L. con N.I.F. número B-88351630 y domicilio en Paseo del Club Deportivo 1, Edificio 15-A, Planta 1ª, Código Postal 28223 de Pozuelo de Alarcón, Madrid, (en adelante, el Responsable del Tratamiento), es la entidad responsable del tratamiento de los datos facilitados por los clientes de la Aplicación (en adelante, el/los Usuario/s).
    
    2. FINALIDAD DEL TRATAMIENTO DE DATOS.
    
    Para proceder al registro, acceso y posterior uso de la Aplicación, el Usuario deberá facilitar -de forma voluntaria-, datos de carácter personal (esencialmente, identificativos y de contacto), los cuales serán incorporados a soportes automatizados titularidad de RENTECHAPP S.L.
    
    La recogida, almacenamiento, modificación, estructuración y en su caso, eliminación, de los datos proporcionados por los Usuarios, constituirán operaciones de tratamiento llevadas a cabo por el Responsable, con la finalidad de garantizar el correcto funcionamiento de la Aplicación, mantener la relación de prestación de servicios y/o comercial con el Usuario, y para la gestión, administración, información, prestación y mejora del servicio.
    
    Los datos personales facilitados por el Usuario -especialmente, el correo electrónico o e-mail- podrán emplearse también para remitir boletines (newsletters), así como comunicaciones comerciales de promociones y/o publicidad de la Aplicación, siempre y cuando, el Usuario haya prestado previamente su consentimiento expreso para la recepción de estas comunicaciones vía electrónica.
    
    3. LEGITIMACIÓN.
    
    El tratamiento de los datos del Usuario, se realiza con las siguientes bases jurídicas que legitiman el mismo:
    
    • La solicitud de información y/o la contratación de los servicios de la Aplicación, cuyos Términos y Condiciones se pondrán a disposición del Usuario en todo caso, con carácter previo, para su expresa aceptación.
    
    • El consentimiento libre, específico, informado e inequívoco del Usuario, poniendo a su disposición la presente política de privacidad, que deberá aceptar mediante una declaración o una clara acción afirmativa, como el marcado de una casilla dispuesta al efecto.
    
    En caso de que el Usuario no facilite a RENTECHAPP S.L. sus datos, o lo haga de forma errónea o incompleta, no será posible proceder al uso de la Aplicación.
    
    4. CONSERVACIÓN DE LOS DATOS PERSONALES.
    
    Los datos personales proporcionados por el Usuario, se conservarán en los sistemas y bases de datos del Responsable del Tratamiento, mientras aquél continúe haciendo uso de la Aplicación, y siempre que no solicite su supresión.
    
    Con el objetivo de depurar las posibles responsabilidades derivadas del tratamiento, los datos se conservarán por un período mínimo de cinco años.
    
    5. DESTINATARIOS.
    
    Los datos no se comunicarán a ningún tercero ajeno a RENTECHAPP S.L., salvo obligación legal o en cualquier caso, previa solicitud del consentimiento del Usuario. De otra parte, RENTECHAPP S.L. podrá dar acceso o transmitir los datos personales facilitados por el Usuario, a terceros proveedores de servicios, con los que haya suscrito acuerdos de encargo de tratamiento de datos, y que únicamente accedan a dicha información para prestar un servicio en favor y por cuenta del Responsable.
    
    6. RETENCIÓN DE DATOS.
    
    RENTECHAPP S.L., informa al Usuario de que, como prestador de servicio de alojamiento de datos y en virtud de lo establecido en la Ley 34/2002 de 11 de julio de Servicios de la Sociedad de la Información y de Comercio Electrónico (LSSI), retiene por un período máximo de 12 meses la información imprescindible para identificar el origen de los datos alojados y el momento en que se inició la prestación del servicio, salvo prestación continuada de servicios, en que el antedicho período de 12 meses comenzará desde la finalización de prestación de los servicios contratados. La retención de estos datos no afecta al secreto de las comunicaciones y sólo podrán ser utilizados en el marco de una investigación criminal o para la salvaguardia de la seguridad pública, poniéndose a disposición de los jueces y/o tribunales o del Ministerio que así los requiera.
    
    La comunicación de datos a las Fuerzas y Cuerpos de Seguridad del Estado, se hará en virtud de lo dispuesto por la normativa sobre protección de datos personales, y bajo el máximo respeto a la misma.
    
    7. PROTECCIÓN DE LA INFORMACIÓN ALOJADA.
    
    El Responsable del Tratamiento, adopta las medidas necesarias para garantizar la seguridad, integridad y confidencialidad de los datos conforme a lo dispuesto en el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de los mismos.
    
    Si bien el Responsable, realiza copias de seguridad de los contenidos alojados en sus servidores, sin embargo no se  responsabiliza de la pérdida o el borrado accidental de los datos por parte de los Usuarios. De igual manera, no garantiza la reposición total de los datos borrados por los Usuarios, ya que los citados datos podrían haber sido suprimidos y/o modificados durante el periodo de tiempo transcurrido desde la última copia de seguridad.
    
    Los servicios facilitados o prestados a través de la Aplicación, excepto los servicios específicos de backup, no incluyen la reposición de los contenidos conservados en las copias de seguridad realizadas por el Responsable del Tratamiento, cuando esta pérdida sea imputable al usuario; en este caso, se determinará una tarifa acorde a la complejidad y volumen de la recuperación, siempre previa aceptación del usuario. La reposición de datos borrados sólo está incluida en el precio del servicio cuando la pérdida del contenido sea debida a causas atribuibles al Responsable.
    
    8. EJERCICIO DE DERECHOS.
    
    RENTECHAPP S.L., informa al Usuario de que le asisten los derechos de acceso, rectificación, limitación, supresión, oposición y portabilidad, los cuales podrá ejercitar mediante petición dirigida al correo electrónico: datos@rentechapp.com
    
    Asimismo, el Usuario tiene derecho a revocar el consentimiento inicialmente prestado, y a interponer reclamaciones de derechos frente a la Agencia Española de Protección de Datos (AEPD).
    
    9. COMUNICACIONES COMERCIALES POR VÍA ELECTRÓNICA.
    
    En aplicación de la LSSI (Ley de Servicios de la Sociedad de la Información), RENTECHAPP S.L., no enviará comunicaciones publicitarias o promocionales por correo electrónico u otro medio de comunicación electrónica equivalente que previamente no hubieran sido solicitadas o expresamente autorizadas por los destinatarios de las mismas.
    
    En el caso de usuarios con los que exista una relación contractual, jurídica o de servicios previa, el Responsable del Tratamiento, sí está autorizado al envío de comunicaciones comerciales referentes a productos o servicios del Responsable que sean similares a los que inicialmente fueron objeto de contratación con el cliente.
    
    En caso de que el Usuario quiera darse de baja a la hora de recibir las citadas comunicaciones, podrá hacerlo remitiendo su voluntad por e-mail al correo electrónico: datos@rentechapp.com
  
<h4 style="text-align: center">POLÍTICA DE PRIVACIDAD</h4>
RentechApp S.L., en adelante la “Empresa”, en aplicación de la normativa vigente en materia de protección de datos de carácter personal, informa que los datos personales que se recogen a través de los formularios del Sitio web: www.rentechapp.com, se incluyen en los ficheros automatizados específicos de usuarios de los servicios de RentechApp S.L.
La recogida y tratamiento automatizado de los datos de carácter personal tiene como finalidad el mantenimiento de la relación comercial y el desempeño de tareas de información, formación, asesoramiento y otras actividades propias de la Empresa.
Estos datos únicamente serán cedidos a aquellas entidades que sean necesarias con el único objetivo de dar cumplimiento a la finalidad anteriormente expuesta.
RentechApp S.L. adopta las medidas necesarias para garantizar la seguridad, integridad y confidencialidad de los datos conforme a lo dispuesto en el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de los mismos.
El usuario podrá en cualquier momento ejercitar los derechos de acceso, oposición, rectificación y cancelación reconocidos en el citado Reglamento (UE). El ejercicio de estos derechos puede realizarlo el propio usuario a través de email a: datos@rentechapp.com o en la dirección postal: Paseo del Club Deportivo 1, Edificio 15-A, 28223 Pozuelo de Alarcón, Madrid, España.
El usuario manifiesta que todos los datos facilitados por él son ciertos y correctos, y se compromete a mantenerlos actualizados, comunicando los cambios a la empresa.
Finalidad del tratamiento de los datos personales:
¿Con qué finalidad trataremos tus datos personales?
En RentechApp S.L., trataremos tus datos personales recabados a través del Sitio Web: www.rentechapp.com, con las siguientes finalidades:
1. En caso de contratación de los bienes y servicios ofertados a través de www.rentechapp.com, para mantener la relación contractual, así como la gestión, administración, información, prestación y mejora del servicio.
2. Envío de información solicitada a través de los formularios dispuestos en www.rentechapp.com.
3. Remitir boletines (newsletters), así como comunicaciones comerciales de promociones y/o publicidad de RentechApp S.L. y del sector.
Te recordamos que puedes oponerte al envío de comunicaciones comerciales por cualquier vía y en cualquier momento, remitiendo un correo electrónico a la dirección indicada anteriormente.
Los campos de dichos registros son de cumplimentación obligatoria, siendo imposible realizar las finalidades expresadas si no se aportan esos datos.
¿Por cuánto tiempo se conservan los datos personales recabados?
Los datos personales proporcionados se conservarán mientras se mantenga la relación comercial o no solicites su supresión y durante el plazo por el cuál pudieran derivarse responsabilidades legales por los servicios prestados.
Legitimación:
El tratamiento de tus datos se realiza con las siguientes bases jurídicas que legitiman el mismo:
1. La solicitud de información y/o la contratación de los servicios de RentechApp S.L., cuyos términos y condiciones se pondrán a tu disposición en todo caso, de forma previa a una eventual contratación.
2. El consentimiento libre, específico, informado e inequívoco, en tanto que te informamos poniendo a tu disposición la presente política de privacidad, que tras la lectura de la misma, en caso de estar conforme, puedes aceptar mediante una declaración o una clara acción afirmativa, como el marcado de una casilla dispuesta al efecto.
En caso de que no nos facilites tus datos o lo hagas de forma errónea o incompleta, no podremos atender tu solicitud, resultando del todo imposible proporcionarte la información solicitada o llevar a cabo la contratación de los servicios.
Destinatarios:
Los datos personales no se comunicarán a ningún tercero ajeno a la empresa, salvo obligación legal.
Datos recopilados por usuarios de los servicios
En los casos en que el usuario incluya ficheros con datos de carácter personal en los servidores de alojamiento compartido, RentechApp S.L. no se hace responsable del incumplimiento por parte del usuario del RGPD.
Retención de datos en conformidad a la LSSI 
RentechApp S.L. informa de que, como prestador de servicio de alojamiento de datos y en virtud de lo establecido en la Ley 34/2002 de 11 de julio de Servicios de la Sociedad de la Información y de Comercio Electrónico (LSSI), retiene por un periodo máximo de 12 meses la información imprescindible para identificar el origen de los datos alojados y el momento en que se inició la prestación del servicio, salvo prestación continuada de los mismos, extendiéndose el mismo periodo de 12 meses desde el momento de finalización de la prestación. La retención de estos datos no afecta al secreto de las comunicaciones y sólo podrán ser utilizados en el marco de una investigación criminal o para la salvaguardia de la seguridad pública, poniéndose a disposición de los jueces y/o tribunales o del Ministerio o autoridad competente que así los requiera.
La comunicación de datos a las Fuerzas y Cuerpos de seguridad del Estado se hará en virtud a lo dispuesto en la normativa sobre protección de datos personales.
Derechos propiedad intelectual RentechApp
RentechApp manifiesta que es titular de todos los derechos de autor, propiedad intelectual, industrial, "know how" y cuantos otros derechos guardan relación con los contenidos del sitio web www.rentechapp.com y los servicios ofertados en el mismo, así como de los programas necesarios para su implementación y la información relacionada. En especial se incide en que la Marca Rentech como el logo se encuentran registrados por RentechApp S.L.
No se permite la reproducción, publicación y/o uso no estrictamente privado de los contenidos, totales o parciales, del sitio web www.rentechapp.com sin el consentimiento previo y por escrito de RentechApp S.L.
Propiedad intelectual del software
El usuario debe respetar los programas de terceros puestos a su disposición por la empresa, aun siendo gratuitos y/o de disposición pública. RentechApp S.L. dispone de los derechos de explotación y propiedad intelectual necesarios de todo software facilitado en conjunto.
El usuario no adquiere derecho alguno o licencia por el servicio contratado, sobre el software necesario para la prestación del servicio, ni tampoco sobre la información técnica de seguimiento del servicio, excepción hecha de los derechos y licencias necesarios para el cumplimiento de los servicios contratados y únicamente durante la duración de los mismos.
Para toda actuación que exceda del cumplimiento del contrato, el usuario necesitará autorización por escrito por parte de RentechApp S.L., quedando prohibido al usuario acceder, modificar, visualizar la configuración, estructura y ficheros de los servidores propiedad de la Empresa, asumiendo la responsabilidad civil y penal derivada de cualquier incidencia que se pudiera producir en los servidores y sistemas de seguridad como consecuencia directa de una actuación negligente o maliciosa por su parte.
Propiedad intelectual de los contenidos alojados
Se prohíbe el uso contrario a la legislación sobre propiedad intelectual de los servicios prestados por RentechApp S.L. y, en particular de:
• La utilización que resulte contraria a las leyes españolas o que infrinja los derechos de terceros.
• La publicación o la transmisión de cualquier contenido que, a juicio de RentechApp S.L., resulte violento, obsceno, abusivo, ilegal, racial, xenófobo o difamatorio.
• Los cracks, números de serie de programas o cualquier otro contenido que vulnere derechos de la propiedad intelectual de RentechApp S.L. o de terceros.
• La recogida y/o utilización de datos personales de otros usuarios sin su consentimiento expreso o contraviniendo lo dispuesto en Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de los mismos.
• La utilización del servidor de correo del dominio y de las direcciones de correo electrónico para el envío de correo masivo no deseado.
El usuario tiene toda la responsabilidad sobre el contenido que publique en la web, exonerando a RentechApp S.L. de toda responsabilidad por el mismo, la información transmitida y almacenada, los enlaces de hipertexto, las reivindicaciones de terceros y las acciones legales en referencia a propiedad intelectual, derechos de terceros y protección de menores.
El usuario es responsable respecto a las leyes y reglamentos en vigor y las reglas que tienen que ver con el funcionamiento del servicio online, comercio electrónico, derechos de autor, mantenimiento del orden público, así como principios universales de uso de Internet.
El usuario indemnizará a RentechApp S.L. por los gastos que generara la imputación de www.rentechapp.com en alguna causa cuya responsabilidad fuera atribuible al usuario, incluidos honorarios y gastos de defensa jurídica, incluso en el caso de una decisión judicial no definitiva.
Protección de la información alojada
RentechApp S.L. realiza copias de seguridad de los contenidos alojados en sus servidores, sin embargo no se responsabiliza de la pérdida o el borrado accidental de los datos por parte de los usuarios. De igual manera, no garantiza la reposición total de los datos borrados por los usuarios, ya que los citados datos podrían haber sido suprimidos y/o modificados durante el periodo del tiempo transcurrido desde la última copia de seguridad.
Los servicios ofertados, excepto los servicios específicos de backup, no incluyen la reposición de los contenidos conservados en las copias de seguridad realizadas por RentechApp S.L., cuando esta pérdida sea imputable al usuario; en este caso, se determinará una tarifa acorde a la complejidad y volumen de la recuperación, siempre previa aceptación del usuario.
La reposición de datos borrados sólo está incluida en el precio del servicio cuando la pérdida del contenido sea debida a causas atribuibles a RentechApp S.L. 
Comunicaciones comerciales
En aplicación de la LSSI. RentechApp S.L. no enviará comunicaciones publicitarias o promocionales por correo electrónico u otro medio de comunicación electrónica equivalente que previamente no hubieran sido solicitadas o expresamente autorizadas por los destinatarios de las mismas.
En el caso de usuarios con los que exista una relación contractual previa, RentechApp S.L. sí está autorizado al envío de comunicaciones comerciales referentes a productos o servicios de RentechApp S.L. que sean similares o complementarios a los que inicialmente fueron objeto de contratación con el cliente.
En todo caso, el usuario, tras acreditar su identidad, podrá solicitar que no se le haga llegar más información comercial a través de los canales de Atención al Cliente.
AVISO LEGAL
RentechApp S.L., con CIF B88351630, y dirección Paseo del Club Deportivo 1, Edificio 15-A, 28223 Pozuelo de Alarcón, Madrid, España, no puede asumir ninguna responsabilidad derivada del uso incorrecto, inapropiado o ilícito de la información aparecida en la página de Internet de www.rentechapp.com.
Con los límites establecidos en la ley, RentechApp S.L. no asume ninguna responsabilidad derivada de la falta de veracidad, integridad, actualización y precisión de los datos o informaciones que se contienen en sus páginas de Internet, salvo las incluidas en las demás Previsiones Legales que deberán haber sido leídas.
Los contenidos e información no vinculan a RentechApp S.L. ni constituyen opiniones, consejos o asesoramiento legal de ningún tipo pues se trata meramente de un servicio ofrecido con carácter informativo y divulgativo, únicamente RentechApp S.L. quedará vinculado por los contratos efectivamente formalizados con los Usuarios y en que así quede expresamente referenciado.
La página de Internet de www.rentechapp.com puede contener enlaces (links) a otras páginas de terceras partes que RentechApp S.L. no puede controlar. Por lo tanto, este Aviso Legal queda circunscrito a la página web www.rentechapp.com, y RentechApp S.L. no puede asumir responsabilidades por el contenido que pueda aparecer en páginas de terceros, siendo el Usuario el que deberá atender a las previsiones de cada sitio a que fuera redirigido.
Los textos, imágenes, sonidos, animaciones, software y el resto de contenidos incluidos en este website son propiedad exclusiva de RentechApp S.L. o sus licenciantes. Cualquier acto de transmisión, distribución, cesión, reproducción, almacenamiento o comunicación pública total o parcial, debe contar con el consentimiento expreso de RentechApp S.L.
Asimismo, para acceder a algunos de los servicios que RentechApp S.L. ofrece a través del website puede ser que deba proporcionar algunos datos de carácter personal. En cumplimiento de lo establecido en el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos le informamos que, mediante la cumplimentación de los presentes formularios, sus datos personales quedarán incorporados y serán tratados en los ficheros de RentechApp S.L. con el fin de poderle prestar y ofrecer nuestros servicios así como para informarle de las mejoras del sitio Web. Asimismo, le informamos de la posibilidad de que ejerza los derechos de acceso, rectificación, cancelación y oposición de sus datos de carácter personal, manera gratuita mediante email a datos@rentechapp.com o en la dirección Paseo del Club Deportivo 1, Edificio 15-A, 28223 Pozuelo de Alarcón, Madrid, España.

</div>
  <footer>
  <ion-button expand="block" size="small" (click)="exit()">Acepto</ion-button>
</footer>