<header class="arrendador" *ngIf="isUserArrendador == true" style="background:#26a6ff">
  <div class="titulo" text-center>
    <h5>Contratos</h5>
  </div>
  <div>
    <img class="arrow" (click)="goBack()" src="/assets/icon/flecha.png">
  </div>

</header>
<ion-header style="background:#26a6ff" *ngIf="isUserAgente == true">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" style="text-align: initial" href="#" style="">Contratos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a style="color: black;" class="nav-link" (click)="goHome()">Inicio Agente </a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goPisos()">Lista pisos</a>
          <!-- <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goAlquileres()">Alquileres Activos</a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goContratos()">Contratos</a>
          </li>-->
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goPerfil()">Perfil</a>
          </li>
        </ul>
      </div>
    </nav>

</ion-header>


<ion-content *ngIf="items" class="fondo">

  <div *ngFor="let item of items">
        <ion-card *ngIf="item.payload.doc.data().firmadoArrendador != true" [routerLink]="['/detalles-contratos', item.payload.doc.id]">
          <ion-card-content>
            <p class="card-text"><b>Nombre inquilino:</b> <b class="i">{{ item.payload.doc.data().nombre }}</b></p>
            <p ><b>Dirección:</b> <b class="i">{{ item.payload.doc.data().calle }}</b></p>
            <p ><b>M2:</b><b class="i">{{ item.payload.doc.data().metrosQuadrados }}</b></p>
            <p ><b>costoAlquiler:</b><b class="i">{{ item.payload.doc.data().costoAlquiler }}</b></p>
            <p ><b>Meses Fianza:</b><b class="i">{{ item.payload.doc.data().mesesFianza }}</b></p>
        </ion-card-content>
        </ion-card>    

        <ion-card *ngIf="item.payload.doc.data().firmadoArrendador == true" style="opacity: 0.6">
          <ion-card-content>
            <p class="card-text"><b>Nombre inquilino:</b> <b class="i">{{ item.payload.doc.data().nombre }}</b></p>
            <p ><b>Direccion:</b> <b class="i">{{ item.payload.doc.data().direccion }}</b></p>
            <p ><b>M2:</b><b class="i">{{ item.payload.doc.data().metrosQuadrados }}</b></p>
            <p ><b>costoAlquiler:</b><b class="i">{{ item.payload.doc.data().costoAlquiler }}</b></p>
            <p ><b>Dirección:</b><b class="i">{{ item.payload.doc.data().direccion }}</b></p>
            <p ><b>Meses Fianza:</b><b class="i">{{ item.payload.doc.data().mesesFianza }}</b></p>
        </ion-card-content>
        </ion-card>  
       
  </div>
  
        
    <div text-center *ngIf="items.length == 0" class="sin mx-auto">
      Sin contratos en este momento
    </div>
  
</ion-content>
