

<ion-content *ngIf="items" class="fondo">
    <app-header [tituloHeader]="textHeader"></app-header>
          <div  class="mx-auto list">
            <li style="background:white" *ngFor="let item of items">
              <div *ngIf="item.payload.doc.data().pago == true" style="opacity: 0.4;">
              <p class="list-group-item"><b>MES:&nbsp;</b> {{ item.payload.doc.data().mes }}</p>
              <p class="list-group-item"><b>AÑO:&nbsp;</b>{{ item.payload.doc.data().ano }}</p>
              <h5 class="pagado" style="color:green;"> PAGADO </h5>
              <span style="border: none;" class="list-group-item"><b>Calle:&nbsp;</b> {{ item.payload.doc.data().calle }}</span>
              <hr/>  
            </div>
            <div *ngIf="item.payload.doc.data().pago != true">
                <p class="list-group-item"><b>MES:&nbsp;</b> {{ item.payload.doc.data().mes }}</p>
                <p class="list-group-item"><b>AÑO:&nbsp;</b>{{ item.payload.doc.data().ano }}</p>
                <h5 class="pagado" style="color:red"> SIN PAGAR </h5>
                <span style="border: none;" class="list-group-item"><b>Calle:&nbsp;</b> {{ item.payload.doc.data().calle }}</span>
                <hr/>  
            </div>
            </li>
          </div>
<footer>
  <div text-center mb-1 >
    <button class="boton" routerLink="/tabs/tab4/recibos">Recibos</button>
  </div>
</footer>
</ion-content>
