

ion-content{

    --background: url("/assets/imgs/economia.jpg") no-repeat fixed center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
        --background-attachment: fixed;
}

@media only screen and (min-width:414px){
    ion-content{
        --background: url("/assets/imgs/economiaS.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
            --background-attachment: fixed;
    }
}

img{
    height: 9rem;
    margin-top: 2rem;
    opacity: 0;
}

.list{
    list-style: none;
    margin-top: 12rem;
    width: 90%;
    //margin-left: rem;
    border-radius: 5px;
}

p{
    width: 10rem;
    background: transparent;
    border: none;
    text-align: -webkit-auto;
}

.texto{
    background: white;
    border-radius: 5px;
    width: 80%;
    margin-bottom: -10rem;
}

.pagado{
    float: right;
    margin-top: -2.5rem;
    margin-right: 1rem;
    text-align: end;
}

hr{
    width: 150%;
}

.boton{
    width: 9rem;
    color: white;
    border-radius: 5px;
    background: #26a6ff;
    height: 2.5rem;
    font-size: larger;
    margin-top: 3rem;
    /* font-weight: bold; */
    margin-bottom: 1rem;
}