ion-content{
    --background: black;
}

.logo{
    margin-top: 128.58px;
}


footer{
    background: black;
    color: white;
    padding-bottom: 61px;
}

button{
    margin-top: 150px;
    color: white;
    font-size: x-large;
    background: transparent;
}