ion-content{
    --background: black;
}

.volver{
    text-align: end;
}


.titulo{
    margin-top: 2rem;
    img{
        padding-right: 1rem;
    }
    p{
        color: white;
        font-size: 25px;
        text-align: initial;
    }
}

.card{
    border: none;
    //box-shadow: 0px 0px 11px 0px purple;
    background: black;
    color: white;
    margin-bottom: 1.5rem;
}


.foto{
    margin-top: 0.3rem; 
    max-width: 6rem;
    border-radius: 25px;
    margin-left: -1rem;

}

.card-body{
    font-size: small;
    text-align: initial;
    margin-top: -1.5rem;
    p{
        margin-bottom: 5px;
        text-align: initial;
    }
}

b{
    padding-right: 1rem;
}

.reactivar{
    background: transparent;
    border: 1px 1px #00D8C8;
    box-shadow: 0px 0px 0px 2px white;
    color: white;
    text-transform: capitalize;
    font-size: smaller;
    margin-left: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    width: 4rem;
    border-radius: 5px;
}

.card-title{
    font-size: large;
    text-transform: uppercase;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.boton-cancelar{
   background:  #00D8C8;
}

ion-footer{
    background: black;
    color: white;
}