<app-cabecera [titulohead]="tituhead"></app-cabecera>
<!-- <ion-buttons slot="end">
        <ion-back-button text="" color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-content *ngIf="isAdmin === true" padding>

      -->
<ion-content padding-top padding-top>
  <ion-grid *ngIf="items">
    <ion-row>

      <ion-col>
        <ion-col>
          <ion-searchbar [(ngModel)]="searchText" placeholder="Buscador..."
            style="text-transform: lowercase; border-radius: 50px;"></ion-searchbar>
        </ion-col>

      </ion-col>
    </ion-row>

    <ion-row class="conteBoton" margin-top>


      <ion-col col-8>

      </ion-col>
    </ion-row>


    <div *ngFor="let item of items">
      <div *ngIf="items.length > 0">
        <div *ngIf="item.payload.doc.data().titulo && item.payload.doc.data().titulo.length" class="contenido">
          <div *ngIf="item.payload.doc.data().titulo.includes(searchText) ">
            <ion-list>
              <ul style="list-style-type: none;">
                <li>
                  <ion-col>
                    <div [routerLink]="['/detalles-ejercicios-pacientes-admin', item.payload.doc.id]"
                      class="cajabuscador">
                      <span class="nombreuser">{{item.payload.doc.data().titulo}}<br></span>
                      <div class="buscado">
                        <span class="num_edad">Ejercicio: {{item.payload.doc.data().descripcion}} </span>
                      </div>

                      <div class="circular">
                        <span class="estado"></span><!-- nos dira si esta activo ,frecuente, no viene -->
                        <img class="circular" src="../../../assets/imgs/ejercicios/alza.png">
                      </div>


                    </div>

                    <!-- se pone fuera para que no le afecte el click general -->
                  </ion-col>
                </li>
              </ul>
            </ion-list>
          </div>
        </div>
      </div>

    </div>
  </ion-grid>
</ion-content>