<!-- app-example-mova-menu -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaMenu</h1>
		<br>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>Este componente funciona de forma autónoma.</p>
			<p>El desarrollador puede modificar el menú desde el componente <b>app.menu</b>.</p>
		</mv-card>
		<p>Este componente se encarga del menú de la App.</p>
		<p>Este componente dispone de los siguientes eventos:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('toggleMenu')" >ToggleMenu</a></li>
		</ul>
	</mv-card>

	<mv-card
		id="toggleMenu"
		>
		<h3 class="title-3">Ev: ToggleMenu</h3>
		<br>
		<p>El evento <b>ToggleMenu</b> cambia el estado del menú de visible a oculto dependiendo del estado en el que se encuentre el menú.</code>
		<p>Se puede llamar a este evento desde el controlador de un componente mediante la siguiente instrucción:</p>
		<code>
			<badge>JavaScript</badge>
			$rootScope.$emit('rootScope:movaMenuController:ToggleMenu');
		</code>
		<p>A continuación se muestra un ejemplo:</p>
		<p>Pulsa el botón para cambiar el estado del menú.</p>
		<mv-button
			btn-type="primary"
			click="toggleMenu()"
			>
			Cambiar estado del menú
		</mv-button>
	</mv-card>

</mv-screen>
