<ion-content padding>
  <div class="volver">
    <img (click)="goBack()" src="../../../assets/imgs/volver.png" alt="">
  </div>
  <div text-center class="titulo">
    <p class="titulo-texto mx-auto">
      <img class="masGestion" src="../../../assets/imgs/gancho.png" alt="">
      CATEGORIAS</p>
  </div>

  <div text-center class="caja mx-auto">
    <ion-grid style="background: black;">
      <ion-row>
        <ion-col tyle="background: black;" size="6">
          <div routerLink="camisetas"    class="card" text-center style="width: 9rem;">
            <img class="card-img-top" src="https://i.ibb.co/px2tCc3/jackets.png" alt="Card image cap">
            <div class="card-body">
              <a href="#">CAMISETAS</a>
            </div>
          </div>
        </ion-col>
        <ion-col size="6">
           <div  routerLink="sudaderas"   class="card" text-center style="width: 9rem;">
            <img class="card-img-top" src="https://i.ibb.co/px2tCc3/jackets.png" alt="Card image cap">
            <div class="card-body">
              <a href="#">SUDADERAS</a>
            </div>
          </div>
        </ion-col>
        <ion-col size="6">
          <div routerLink="mochilas"   class="card" text-center style="width: 9rem;">
            <img class="card-img-top" src="https://i.ibb.co/px2tCc3/jackets.png" alt="Card image cap">
            <div class="card-body">
              <a href="#">MOCHILAS</a>
            </div>
          </div>
        </ion-col>
        <ion-col size="6">
          <div routerLink="pants"  class="card" text-center style="width: 9rem;">
            <img class="card-img-top" src="https://i.ibb.co/px2tCc3/jackets.png" alt="Card image cap">
            <div class="card-body">
              <a href="#">BAQUEROS</a>
            </div>
          </div>
        </ion-col>
      <!--  <ion-col size="6">
          <div class="card" style="width: 8rem;">
            <img class="card-img-top" src="https://i.ibb.co/px2tCc3/jackets.png" alt="Card image cap">
            <div class="card-body">
              <a href="#">Go somewhere</a>
            </div>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="card" style="width: 8rem;">
            <img class="card-img-top" src="https://i.ibb.co/px2tCc3/jackets.png" alt="Card image cap">
            <div class="card-body">
              <a href="#">Go somewhere</a>
            </div>
          </div>
        </ion-col>-->
      </ion-row>
    </ion-grid>
      </div>
</ion-content>