ion-content{
    --background: black;
}

.volver{
    text-align: end;
}

.titulo{
    color: white;
    margin-top: 1rem;
    img{
        padding-right: 0.5rem;
        width: 3rem;
        margin-top: -0.5rem;
        margin-left: -1rem;
    }
}

.caja{
    margin-top: 4rem;
}

.titulo-texto{
    font-size: larger;
}


.card-body{
    background: black;
    color: white;
    border: none;
}

.card{
    border:none;
}

a{
    color: white;
    font-size: smaller;  
}