ion-content{
    --background: black;
}

.volver{
    text-align: end;
}


.titulo{
    margin-top: 2rem;
    img{
        padding-right: 1rem;
    }
    p{
        color: white;
        font-size: 25px;
        text-align: initial;
    }
}

.card{
    border: none;
    //box-shadow: 0px 0px 11px 0px purple;
    background: black;
    color: white;
    margin-bottom: 1.5rem;
}


.foto{
    margin-top: 0.3rem; 
    max-width: 6rem;
    border-radius: 25px;
    margin-left: -1rem;

}

.card-body{
    font-size: small;
    text-align: initial;
}

.card-title{
    font-size: large;
    text-transform: uppercase;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}