<app-cabecera [titulohead]="tituhead"></app-cabecera>
<button  (click)="goBack()" style="background: transparent !important ; float:left;">
  <img class="arrow" src="../../../assets/imgs/arrow.png"/>
</button>
<ion-content padding>
      <form  [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
      <ion-card>
          <ion-card-header>
            <ion-card-title text-center>Tu dieta diaria</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <ion-item>
                  <ion-label position="floating" color="primary">Nombre</ion-label>
                    <ion-input type="text" placeholder="Tu nombre" formControlName="nombreApellido" style="text-transform:lowercase"></ion-input>
                  </ion-item>
              <ion-item>
                <ion-label position="floating"  color="primary">Desayuno</ion-label>
                  <ion-input type="text" placeholder="desayuno" formControlName="desayuno" style="text-transform:lowercase"></ion-input>
                </ion-item>
            <ion-item>
                <ion-label position="floating"  color="primary">Media mañana</ion-label>
              <ion-input type="text" placeholder="Media mañana" formControlName="mediaManana" style="text-transform:lowercase"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"  color="primary">Comida</ion-label>
              <ion-input type="text" placeholder="Comida" formControlName="comida" style="text-transform:lowercase"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"  color="primary">Media tarde</ion-label>
                <ion-input type="text" placeholder="MediaTarde" formControlName="mediaTarde" style="text-transform:lowercase"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating"  color="primary">Cena</ion-label>
                  <ion-input type="text" placeholder="Cena" formControlName="cena" style="text-transform:lowercase"></ion-input>
                </ion-item>
            <ion-item>
              <ion-label color="primary">Fecha</ion-label>
            <!-- <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="event.startTime" formControlName="fecha" [min]="minDate" month-names="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Sept, Oct, Nov, Dic"></ion-datetime>--> 
              <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY"  formControlName="fecha" cance-text="Cancelar" done-text="Aceptar"></ion-datetime>
            </ion-item>
      <ion-button type="submit" fill="outline" expand="block" [disabled]="!validations_form.valid" >Crear</ion-button>
  
          </ion-card-content>
        </ion-card>
      </form>
</ion-content>  