  
    *{
        margin:0px;
        padding:0px;
    }

    .arrow{
      height: 1.5rem;
      float: right;
      padding-right: 1rem;
  }
  
    //CABEZERA
  
     .contiene .logo{
       font-size: 30px;
       position:absolute;
       bottom: 1px;
       left:10px;
       padding-bottom: 5px;
      }
  
   .contiene .chat{
    position: absolute;
    width:70px;
    height: 70px;
    margin-top: -20px;
    }
  
   .contiene{
           padding-top: 5px;
           padding-bottom: -10px;
           height: 35px;
       
     }
   //FIN DE LA CABEZERA
   // FLECHA RETROCESO
  .flecha{
    color :red;
    font-size: 30px;
    top:-5px;
    position: absolute;
   }


.bot{
    width: 130px;
    height: 130px;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom: 20%;
    background: #BB1D1D;
    border: 0.5px solid #3B3B3B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px; 
    text-align: center;
 
     }
     .bot img{
        width: 90%;
        height: 90%;
        
     }
     .bot p{
        color: #ffffff;
        font-size: 10px;
        margin-top: -7%;
}
h4{
        margin-top: 10%;
        text-align: center;
    }

    .bot_proteina img{
      margin-top: -10%;
      margin-left: 5%;
      margin-bottom: 10px;
    }

    ion-card-title{
      padding: 10px;
      border-radius: 10px;
      color:white ;
      background: #BB1D1D;
      margin-bottom: 2rem;
  }