<!-- app-example-mova-input -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaInput</h1>
		<br>
		<p>Campo de texto, similar al elemento <b>&lt;input></b> de HTML5.</p>
		<p>Este componente acepta los mismos atributos de HTML que el elemento <b>&lt;input></b> además de los siguientes:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('adapt')" >adapt</a></li>
			<li><a href="" ng-click="$root.scrollTo('change')" >change</a></li>
			<li><a href="" ng-click="$root.scrollTo('clearButton')" >clear-button</a></li>
			<li><a href="" ng-click="$root.scrollTo('delay')" >delay</a></li>
			<li><a href="" ng-click="$root.scrollTo('disabled')" >disabled</a></li>
			<li><a href="" ng-click="$root.scrollTo('iconClass')" >icon-class</a></li>
			<li><a href="" ng-click="$root.scrollTo('iconPosition')" >icon-position</a></li>
			<li><a href="" ng-click="$root.scrollTo('isEmail')" >is-email</a></li>
			<li><a href="" ng-click="$root.scrollTo('isNumber')" >is-number</a></li>
			<li><a href="" ng-click="$root.scrollTo('isRequired')" >is-required</a></li>
			<li><a href="" ng-click="$root.scrollTo('isRequiredMessage')" >is-required-message</a></li>
			<li><a href="" ng-click="$root.scrollTo('keyup')" >keyup</a></li>
			<li><a href="" ng-click="$root.scrollTo('label')" >label</a></li>
			<li><a href="" ng-click="$root.scrollTo('leftLabel')" >left-label</a></li>
			<li><a href="" ng-click="$root.scrollTo('leftLabelSm')" >left-label-sm</a></li>
			<li><a href="" ng-click="$root.scrollTo('leftLabelMd')" >left-label-md</a></li>
			<li><a href="" ng-click="$root.scrollTo('leftLabelLg')" >left-label-lg</a></li>
			<li><a href="" ng-click="$root.scrollTo('maxLength')" >max-length</a></li>
			<li><a href="" ng-click="$root.scrollTo('message')" >message</a></li>
			<li><a href="" ng-click="$root.scrollTo('messageType')" >message-type</a></li>
			<li><a href="" ng-click="$root.scrollTo('tooltip')" >tooltip</a></li>
			<li><a href="" ng-click="$root.scrollTo('type')" >type</a></li>
			<li><a href="" ng-click="$root.scrollTo('valMaxValMin')" >val-max / val-min</a></li>
			<li><a href="" ng-click="$root.scrollTo('validateFirst')" >validate-first</a></li>
			<li><a href="" ng-click="$root.scrollTo('validateOnType')" >validate-on-type</a></li>
			<li><a href="" ng-click="$root.scrollTo('valRegex')" >val-regex</a></li>
			<li><a href="" ng-click="$root.scrollTo('valRegexMessage')" >val-regex-message</a></li>
		</ul>
		<p>Este componente dispone de los siguientes eventos:</p>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>Para usar los eventos es necesario definir un atributo <b>id</b> en el componente.</p>
			<p>Este <b>id</b> debe ser <u>único para toda la App</u>.</p>
			<p>Para que el <b>id</b> sea único deberá seguir la siguiente estructura: <u>nombreFicheroNombreExplicativoNombreFuncion</u>.</p>
			<p>El componente ofrece los eventos mediante el siguiente código: <i>'rootScope:movaInput:<u>identificador</u>:<u>nombreDelEvento</u>'</i></p>
			<p>La palabra <u>identificador</u> debe sustituirse con el valor del atributo <b>id</b> del componente.</p>
			<p>La palabra <u>nombreDelEvento</u> debe sustituirse con el nombre del evento.</p>
		</mv-card>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('messageToggle')" >MessageToggle</a></li>
			<li><a href="" ng-click="$root.scrollTo('validate')" >Validate</a></li>
		</ul>
	</mv-card>

	<mv-card>
		<h2 class="title-2">Ejemplo de uso HTML y resultado</h2>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>Si se utiliza el atributo <b>id</b>, debido a la estructura generada por el componente, este id será utilizado en el elemeto <b>input</b> interno, y se generará un atributo <b>id</b> en el elemento <b>span</b> externo, que es el que contiene al elemento <b>input</b>.</p>
			<p>El <b>id</b> del elemento <b>span</b> externo será el introducido en el atributo <b>id</b> acabado en la palabra <i>Container</i>, por ejemplo, para el identificador inputPrueba el valor sería inputPruebaContainer.</p>
		</mv-card>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;id="inputPrueba"<br>
				&emsp;&emsp;placeholder="Ejemplo de input"<br>
				><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-input
			id="inputPrueba"
			placeholder="Ejemplo de input">
		</mv-input>
	</mv-card>

	<mv-card
		id="adapt"
		>
		<h3 class="title-3">adapt</h3>
		<br>
		<p>La propiedad <b>adapt</b> permite que el componente se adapte al 100% del tamaño de su contenedor.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;<b>adapt=true</b><br>
				&emsp;&emsp;placeholder="Con adapt"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-input
			adapt=true
			placeholder="Con adapt"
		>
		</mv-input>
		<mv-input
			placeholder="Sin adapt"
		>
		</mv-input>
	</mv-card>

	<mv-card
		id="change"
		>
		<h3 class="title-3">change</h3>
		<br>
		<p>La propiedad <b>change</b> permite ejecutar una función incluida en el <b>$scope</b>, cada vez que cambia el valor del input.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;icon-class="fa fa-search"<br>
				&emsp;&emsp;placeholder="Buscar..."<br>
				&emsp;&emsp;model="valorChange"<br>
				&emsp;&emsp;<b>change="funcionChange()";</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-input
			icon-class="fa fa-search"
			placeholder="Buscar..."
			model="valorChange"
			change="funcionChange()";
		>
		</mv-input>
	</mv-card>

	<mv-card
		id="clearButton"
		>
		<h3 class="title-3">clear-button</h3>
		<br>
		<p>La propiedad <b>clear-button</b> permite mostrar/ocultar el botón de limpiar el input. Por defecto el botón se muestra.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;placeholder="Buscar..."<br>
				&emsp;&emsp;model="valorClear"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>

		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;placeholder="Buscar..."<br>
				&emsp;&emsp;model="valorClear"<br>
				&emsp;&emsp;clear-button=true<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>

		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;placeholder="Buscar..."<br>
				&emsp;&emsp;model="valorClear"<br>
				&emsp;&emsp;clear-button=false<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-input
			placeholder="Buscar..."
			model="valorClear">
		</mv-input>
		<mv-input
			placeholder="Buscar..."
			clear-button=true
			model="valorClear">
		</mv-input>
		<mv-input
			placeholder="Buscar..."
			clear-button=false
			model="valorClear">
		</mv-input>
	</mv-card>

	<mv-card
		id="delay"
		>
		<h3 class="title-3">delay</h3>
		<br>
		<p>La propiedad <b>delay</b> pospone la ejecución de la función definida en la propiedad <b>change</b> y la actualización del valor de la propiedad <b>model</b> el tiempo especificado en milisegundos.</p>
		<p>Esta funcionalidad es la indicada para realizar busquedas en tiempo real y evitar realizar llamadas con cada pulsación de tecla, por ejemplo si se define un valor de 1000, la función definida en la propiedad <b>change</b> se ejecutará pasados 1 segundos desde la última pulsación.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;label="Ejemplo con 1 segundo de retardo:"<br>
				&emsp;&emsp;icon-class="fa fa-search"<br>
				&emsp;&emsp;placeholder="Buscar..."<br>
				&emsp;&emsp;model="valorDelay"<br>
				&emsp;&emsp;<b>delay=1000</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-input
			label="Ejemplo con 1 segundo de retardo:"
			icon-class="fa fa-search"
			placeholder="Buscar..."
			model="valorDelay"
			delay=1000
		>
		</mv-input>
		<p>Valor 1 segundo después: {{ valorDelay }}</p>
	</mv-card>

	<mv-card
		id="disabled"
		>
		<h3 class="title-3">disabled</h3>
		<br>
		<p>La propiedad <b>disabled</b> permite desactivar el componente.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;icon-class="fa fa-ambulance"<br>
				&emsp;&emsp;placeholder="Desactivado"<br>
				&emsp;&emsp;<b>disabled=true;</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-input
			icon-class="fa fa-ambulance"
			placeholder="Desactivado"
			disabled=true
		>
		</mv-input>
	</mv-card>

	<mv-card
		id="iconClass"
		>
		<h3 class="title-3">icon-class</h3>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>Al utilizar esta propiedad el componente se ajustará al 100% de su contenedor salvo que por estilo SCSS se sobrescriba el elemento raiz del componente con otro tamaño.</p>
		</mv-card>
		<br>
		<p>La propiedad <b>icon-class</b> permite asignar un icono al input.</p>
		<p>El listado de iconos puede verse en <a href="http://fontawesome.io/icons/">http://fontawesome.io/icons/</a></p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;<b>icon-class="fa fa-search"</b><br>
				&emsp;&emsp;placeholder="Prueba con icono"<br>
				&emsp;&emsp;label="Label con icono"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-input
			icon-class="fa fa-home"
			placeholder="Prueba con icono"
			label="Label con icono"
		>
		</mv-input>
		<br>
		<p>Ejemplo de label con tamaño 20% en lugar del 100% del contenedor:</p>
		<mv-input
			style="width:20%"
			icon-class="fa fa-home"
			placeholder="Prueba con icono"
			label="Label con icono"
		>
		</mv-input>
	</mv-card>

	<mv-card
		id="iconPosition"
		>
		<h3 class="title-3">icon-position</h3>
		<br>
		<p>La propiedad <b>icon-position</b> pone el icono a la izquierda o a la derecha del texto.</p>
		<p>Los valores aceptados son right o, el valor por defecto, right.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;<b>icon-class="fa fa-home"</b><br>
				&emsp;&emsp;icon-position="right"<br>
				&emsp;&emsp;placeholder="Prueba con icono a la derecha"<br>
				&emsp;&emsp;label="Label con icono a la derecha"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-input
			icon-class="fa fa-home"
			icon-position="right"
			placeholder="Prueba con icono a la derecha"
			label="Label con icono a la derecha"
		>
		</mv-input>
	</mv-card>

	<mv-card
		id="isEmail"
		>
		<h3 class="title-3">is-email</h3>
		<br>
		<p>La propiedad <b>is-email</b> permite definir el componente para que solamente acepte valores con formato email.</p>
		<p>Con el uso de la propiedad <b>is-email</b>, el elemento <b>&lt;input></b> generado contendra la propiedad <b>has-email</b> en caso de no cumplir la validación.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;icon-class="fa fa-envelope"<br>
				&emsp;&emsp;<b>is-email=true</b><br>
				&emsp;&emsp;model="valorIsEmail"<br>
				&emsp;&emsp;placeholder="Email"<br>
				&emsp;&emsp;validate-on-type=true<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-input
			icon-class="fa fa-envelope"
			is-email=true
			model="valorIsEmail"
			placeholder="Email"
			validate-on-type=true>
		</mv-input>
	</mv-card>

	<mv-card
		id="isNumber"
		>
		<h3 class="title-3">is-number</h3>
		<br>
		<p>La propiedad <b>is-number</b> permite definir el componente para que solamente acepte valores numéricos.</p>
		<p>Esta propiedad simplemente incluye el atributo <b>type</b> en el elemento <b>&lt;input></b> con el valor <u>number</u>, el navegador gestiona automaticamente el campo para permitir solo el uso de números y en el dispositivo ofrecer un panel numérico en vez del teclado completo.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;<b>is-number=true</b><br>
				&emsp;&emsp;model="valorIsNumeric"<br>
				&emsp;&emsp;placeholder="Prueba campo numérico"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-input
			is-number=true
			model="valorIsNumeric"
			placeholder="Prueba campo numérico"
		>
		</mv-input>
	</mv-card>

	<mv-card
		id="isRequired"
		>
		<h3 class="title-3">is-required</h3>
		<br>
		<p>La propiedad <b>is-required</b> permite definir el componente como obligatorio.</p>
		<p>Con el uso de la propiedad <b>is-required</b>, el elemento <b>&lt;input></b> generado contendra la propiedad <b>has-required</b> en caso de no cumplir la validación.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;model="valorIsRequired"<br>
				&emsp;&emsp;placeholder="Prueba campo obligatorio"<br>
				&emsp;&emsp;<b>is-required=true</b><br>
				&emsp;&emsp;validate-on-type=true<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-input
			model="valorIsRequired"
			placeholder="Prueba campo obligatorio"
			is-required=true
			validate-on-type=true>
		</mv-input>
	</mv-card>

	<mv-card
		id="isRequiredMessage"
		>
		<h3 class="title-3">is-required-message</h3>
		<br>
		<p>La propiedad <b>is-required-message</b> permite definir un mensaje adicional para el campo obligatorio.</p>
		<p>Este mensaje va ligado a la validación del propio campo y se mostrará u ocultará en cada caso.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;model="valorIsRequired"<br>
				&emsp;&emsp;placeholder="Prueba campo obligatorio"<br>
				&emsp;&emsp;is-required=true<br>
				&emsp;&emsp;validate-on-type=true<br>
				&emsp;&emsp;<b>is-required-message="Este debe completarse"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-input
			model="valorIsRequired"
			placeholder="Prueba campo obligatorio"
			is-required=true
			validate-on-type=true
			is-required-message="Este debe completarse"
		>
		</mv-input>
	</mv-card>

	<mv-card
		id="keyup"
		>
		<h3 class="title-3">keyup</h3>
		<br>
		<p>La propiedad <b>keyup</b> permite ejecutar una función incluida en el <b>$scope</b>, ante el evento <b>keyup</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;icon-class="fa fa-search"<br>
				&emsp;&emsp;placeholder="Buscar..."<br>
				&emsp;&emsp;<b>keyup="ejemploKeyUp($event)";</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-input
			icon-class="fa fa-search"
			placeholder="Ejemplo keyup"
			keyup="ejemploKeyUp($event)"
		>
		</mv-input>

		<b>Tecla pulsada después del keyup:</b> {{ ejemploKeyUpEvento.key }}
	</mv-card>

	<mv-card
		id="label"
		>
		<h3 class="title-3">label</h3>
		<br>
		<p>La propiedad <b>label</b> permite incluir una label para el input.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;icon-class="fa fa-anchor"<br>
				&emsp;&emsp;<b>label="Esta es la label de prueba"</b><br>
				&emsp;&emsp;placeholder="Prueba con label"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-input
			icon-class="fa fa-anchor"
			label="Esta es la label de prueba con icono"
			placeholder="Prueba de label con icono"
		>
		</mv-input>
		<mv-input
			icon-class="fa fa-anchor"
			label="Esta es la label de prueba con icono a la derecha"
			placeholder="Prueba de label con icono a la derecha"
			icon-position="right"
		>
		</mv-input>
		<mv-input
			label="Esta es la label de prueba sin icono"
			placeholder="Prueba de label sin icono"
		>
		</mv-input>
	</mv-card>

	<mv-card
		id="leftLabel"
		>
		<h3 class="title-3">left-label</h3>
		<br>
		<p>Si la propiedad <b>left-label</b> no se utiliza o su valor es false la label del componente se posiciona en la parte superior.</p>
		<p>Si la propiedad <b>left-label</b> se utiliza con valor true cambia la forma de mostrar la label, en vez de encima se muestra a la izquierda del campo de texto.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;<b>left-label=true</b><br>
				&emsp;&emsp;label="Esta es la label de prueba"<br>
				&emsp;&emsp;placeholder="Prueba con label"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<p>Ejemplo de label a la izquierda en campo de texto:</p>
		<mv-input
			left-label=true
			label="Nombre y apellidos"
			placeholder="Nombre y apellidos"
		>
		</mv-input>
		<p>Ejemplo de label a la izquierda en campo de texto con mensaje:</p>
		<mv-input
			left-label=true
			label="Nombre y apellidos"
			placeholder="Nombre y apellidos"
			message="Mensaje de prueba"
		>
		</mv-input>
		<p>Ejemplo de label a la izquierda en campo de texto con adapt:</p>
		<mv-input
			adapt=true
			left-label=true
			label="Nombre y apellidos"
			placeholder="Nombre y apellidos"
		>
		</mv-input>
		<p>Ejemplo de label a la izquierda en campo de texto con mensaje y adapt:</p>
		<mv-input
			adapt=true
			left-label=true
			label="Nombre y apellidos"
			placeholder="Nombre y apellidos"
			message="Mensaje de prueba"
		>
		</mv-input>
		<p>Ejemplo de label a la izquierda en campo de texto con icono a la izquierda:</p>
		<mv-input
			icon-class="fa fa-anchor"
			left-label=true
			label="Nombre y apellidos"
			placeholder="Nombre y apellidos"
		>
		</mv-input>
		<p>Ejemplo de label a la izquierda en campo de texto con icono a la derecha:</p>
		<mv-input
			icon-class="fa fa-anchor"
			left-label=true
			label="Nombre y apellidos"
			placeholder="Nombre y apellidos"
			icon-position="right"
		>
		</mv-input>
		<p>Ejemplo de label a la izquierda en campo de texto con icono a la izquierda y mensaje:</p>
		<mv-input
			icon-class="fa fa-anchor"
			left-label=true
			label="Nombre y apellidos"
			placeholder="Nombre y apellidos"
			message="Mensaje de prueba"
		>
		</mv-input>
		<p>Ejemplo de label a la izquierda en campo de texto con icono a la derecha y mensaje:</p>
		<mv-input
			icon-class="fa fa-anchor"
			left-label=true
			label="Nombre y apellidos"
			placeholder="Nombre y apellidos"
			icon-position="right"
			message="Mensaje de prueba"
		>
		</mv-input>
		<p>Ejemplo de label a la izquierda para tamaño de viewport sm:</p>
		<mv-input
			left-label-sm=true
			label="Nombre y apellidos"
			placeholder="Nombre y apellidos"
		>
		</mv-input>
		<p>Ejemplo de label a la izquierda para tamaño de viewport md:</p>
		<mv-input
			left-label-md=true
			label="Nombre y apellidos"
			placeholder="Nombre y apellidos"
		>
		</mv-input>
		<p>Ejemplo de label a la izquierda para tamaño de viewport lg:</p>
		<mv-input
			left-label-lg=true
			label="Nombre y apellidos"
			placeholder="Nombre y apellidos"
		>
		</mv-input>
	</mv-card>

	<mv-card
		id="leftLabelSm"
		>
		<h3 class="title-3">left-label-sm</h3>
		<br>
		<p>La propiedad <b>left-label-sm</b> realiza la función del atributo <b>left-label</b> para el tamaño de viewport <b>sm</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;<b>left-label-sm=true</b><br>
				&emsp;&emsp;label="Esta es la label de prueba"<br>
				&emsp;&emsp;placeholder="Prueba con label"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<p>Ejemplo de label a la izquierda para tamaño de viewport sm:</p>
		<mv-input
			left-label-sm=true
			label="Nombre y apellidos"
			placeholder="Nombre y apellidos"
		>
		</mv-input>
		<p>Ejemplo de label a la izquierda para tamaño de viewport sm con adapt:</p>
		<mv-input
			adapt=true
			left-label-sm=true
			label="Nombre y apellidos"
			placeholder="Nombre y apellidos"
		>
		</mv-input>
	</mv-card>

	<mv-card
		id="leftLabelMd"
		>
		<h3 class="title-3">left-label-md</h3>
		<br>
		<p>La propiedad <b>left-label-md</b> realiza la función del atributo <b>left-label</b> para el tamaño de viewport <b>md</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;<b>left-label-md=true</b><br>
				&emsp;&emsp;label="Esta es la label de prueba"<br>
				&emsp;&emsp;placeholder="Prueba con label"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<p>Ejemplo de label a la izquierda para tamaño de viewport md:</p>
		<mv-input
			left-label-md=true
			label="Nombre y apellidos"
			placeholder="Nombre y apellidos"
		>
		</mv-input>
		<p>Ejemplo de label a la izquierda para tamaño de viewport md con adapt:</p>
		<mv-input
			adapt=true
			left-label-md=true
			label="Nombre y apellidos"
			placeholder="Nombre y apellidos"
		>
		</mv-input>
	</mv-card>

	<mv-card
		id="leftLabelLg"
		>
		<h3 class="title-3">left-label-lg</h3>
		<br>
		<p>La propiedad <b>left-label-lg</b> realiza la función del atributo <b>left-label</b> para el tamaño de viewport <b>lg</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;<b>left-label-lg=true</b><br>
				&emsp;&emsp;label="Esta es la label de prueba"<br>
				&emsp;&emsp;placeholder="Prueba con label"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<p>Ejemplo de label a la izquierda para tamaño de viewport lg:</p>
		<mv-input
			left-label-lg=true
			label="Nombre y apellidos"
			placeholder="Nombre y apellidos"
		>
		</mv-input>
		<p>Ejemplo de label a la izquierda para tamaño de viewport lg con adapt:</p>
		<mv-input
			adapt=true
			left-label-lg=true
			label="Nombre y apellidos"
			placeholder="Nombre y apellidos"
		>
		</mv-input>
	</mv-card>

	<mv-card
		id="maxLength"
		>
		<h3 class="title-3">max-length</h3>
		<br>
		<p>La propiedad <b>max-length</b> establece una longitud máxima para la cadena escrita en el input.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;label="Ejemplo length 5 dígitos"<br>
				&emsp;&emsp;placeholder="Sólo 5 dígitos"<br>
				&emsp;&emsp;<b>max-length=5</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-input
			label="Ejemplo length 5 dígitos"
			placeholder="Sólo 5 dígitos"
			max-length=5
		>
		</mv-input>
	</mv-card>

	<mv-card
		id="message"
		>
		<h3 class="title-3">message</h3>
		<br>
		<p>La propiedad <b>message</b> permite incluir una texto de una linea que aparecerá en la parte inferior del input.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;icon-class="fa fa-anchor"<br>
				&emsp;&emsp;<b>message="Este es el mensaje de prueba"</b><br>
				&emsp;&emsp;placeholder="Prueba con mensaje"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-input
			icon-class="fa fa-anchor"
			message="Este es el mensaje de prueba"
			placeholder="Prueba con mensaje"
		>
		</mv-input>
	</mv-card>

	<mv-card
		id="messageType"
		>
		<h3 class="title-3">message-type</h3>
		<br>
		<p>La propiedad <b>message-type</b> permite modificar el estilo del mensaje.</p>
		<p>por defecto, si no se especifica la propiedad el valor es danger.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;icon-class="fa fa-anchor"<br>
				&emsp;&emsp;message="Estilo warning.<br>
				&emsp;&emsp;<b>message-type="danger"</b><br>
				&emsp;&emsp;placeholder="Prueba con mensaje"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-input
			icon-class="fab fa-css3"
			message="Estilo danger."
			message-type="danger"
			placeholder="Prueba con mensaje"
		>
		</mv-input>
		<br>
		<mv-input
			icon-class="fab fa-css3"
			message="Estilo warning."
			message-type="warning"
			placeholder="Prueba con mensaje"
		>
		</mv-input>
		<br>
		<mv-input
			icon-class="fab fa-css3"
			message="Estilo success."
			message-type="success"
			placeholder="Prueba con mensaje"
		>
		</mv-input>
		<br>
		<mv-input
			icon-class="fab fa-css3"
			message="Estilo info."
			message-type="info"
			placeholder="Prueba con mensaje"
		>
		</mv-input>
	</mv-card>

	<mv-card
		id="tooltip"
		>
		<h3 class="title-3">tooltip</h3>
		<br>
		<p>La propiedad <b>tooltip</b> permite visualizar un tooltip al pasar el ratón por encima del componente</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;placeholder="Prueba con mensaje"<br>
				&emsp;&emsp;<b>tooltip="Tooltip de ejemplo"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-input
			placeholder="Prueba de tooltip"
			tooltip="Tooltip de ejemplo"
			tooltip-position="bottom"
		>
		</mv-input>
	</mv-card>

	<mv-card
		id="tooltipPosition"
		>
		<h3 class="title-3">tooltip-position</h3>
		<br>
		<p>La propiedad <b>tooltip-position</b> permite colocar el tooltip encima, a la derecha, a la izquierda o debajo del componente.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;placeholder="Prueba con mensaje"<br>
				&emsp;&emsp;tooltip="Tooltip de ejemplo"<br>
				&emsp;&emsp;<b>tooltip-position="top"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;placeholder="Prueba con mensaje"<br>
				&emsp;&emsp;tooltip="Tooltip de ejemplo"<br>
				&emsp;&emsp;<b>tooltip-position="right"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;placeholder="Prueba con mensaje"<br>
				&emsp;&emsp;tooltip="Tooltip de ejemplo"<br>
				&emsp;&emsp;<b>tooltip-position="bottom"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;placeholder="Prueba con mensaje"<br>
				&emsp;&emsp;tooltip="Tooltip de ejemplo"<br>
				&emsp;&emsp;<b>tooltip-position="left"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-container>
			<mv-container-item default-margin=true col-xs=3>
				<mv-input
					placeholder="Prueba de tooltip"
					tooltip="Tooltip de ejemplo"
					tooltip-position="top"
				>
				</mv-input>
			</mv-container-item>
			<mv-container-item default-margin=true col-xs=3>
				<mv-input
					placeholder="Prueba de tooltip"
					tooltip="Tooltip de ejemplo"
					tooltip-position="right"
				>
				</mv-input>
			</mv-container-item>
			<mv-container-item default-margin=true col-xs=3>
				<mv-input
					placeholder="Prueba de tooltip"
					tooltip="Tooltip de ejemplo"
					tooltip-position="bottom"
				>
				</mv-input>
			</mv-container-item>
			<mv-container-item default-margin=true col-xs=3>
				<mv-input
					placeholder="Prueba de tooltip"
					tooltip="Tooltip de ejemplo"
					tooltip-position="left"
				>
				</mv-input>
			</mv-container-item>
		</mv-container>
	</mv-card>

	<mv-card
		id="type">
		<h3 class="title-3">type</h3>
		<br>
		<p>Se puede asignar el atributo type (text, email, number...) al igual que se haría en un input HTML normal.</p>

		<p><b>button</b> Define un botón normalmente asociado a una función JavaScript.</p>

		<mv-input
			value="Botón"
			ng-click="pruebaDeBoton()"
			type="button">
		</mv-input>

		<mv-card
		  class="section-warning">
		  <p>Si queremos implementar un botón es recomendable usar el componente
				<a href="#!/example-mova-button" >movaButton</a> que proporciona MOVA, en vez de hacerlo
				como se está explicando aquí. No obstante se explica en esta sección para conocimiento del usuario</p>
		</mv-card>

		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;value="Botón"<br>
				&emsp;&emsp;ng-click="pruebaDeBoton()"<br>
				&emsp;&emsp;type="button"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>

		<p><b>checkbox</b> Define un botón tipo checkbox</p>

		<mv-input
			value="true"
			type="checkbox">
		</mv-input>

		<mv-card
		  class="section-warning">
		  <p>Si queremos implementar un checkbox es recomendable usar el componente
				<a href="#!/example-mova-input-checkbox" >movaInputCheckbox</a> que proporciona MOVA, en vez de hacerlo
				como se está explicando aquí. No obstante se explica en esta sección para conocimiento del usuario</p>
		</mv-card>

		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;value="true"<br>
				&emsp;&emsp;type="checkbox"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>

		<p><b>color</b>	Define un 'picker' de color. Es importante definir un value rgb hexadecimal (p. ej. #ff0000, si no no funcionará)</p>
		<mv-input
			value="#ff0000"
			type="color">
		</mv-input>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;value="ff0000"<br>
				&emsp;&emsp;type="color"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>

		<p><b>date</b> Define un control para introducir fecha (día, mes y año).
			 En Android e iOS se despliega el componente nativo.</p>
		<mv-input
			type="date"
			model="dateVal.value">
		</mv-input>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;type="date"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>

		<p><b>datetime-local</b> Define un control para introducir fecha completa (año, mes, día, hora, minutos, segundos y fracción de segundos).
			 En Android e iOS se despliega el componente nativo.</p>
		<mv-input
			type="datetime-local">
		</mv-input>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;type="datetime-local"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>

		<p><b>email</b>	Define un campo para tipo correo. Para que la validación surta efecto tiene que estar dentro de un form
			y realizar el submit. En Android añade dos botones con @ y .com y en iOS añade un botón con @</p>
		<form>
			<mv-input
				type="email">
			</mv-input>
			<mv-input
				value="Aceptar"
				type="submit">
			</mv-input>
		</form>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;form><br>
				&emsp;&emsp;&lt;mv-input<br>
				&emsp;&emsp;&emsp;&emsp;type="email"><br>
				&emsp;&emsp;&lt;/mv-input><br>
				&emsp;&emsp;&lt;mv-input<br>
				&emsp;&emsp;&emsp;&emsp;value="Aceptar"<br>
				&emsp;&emsp;&emsp;&emsp;type="submit"><br>
				&emsp;&emsp;&lt;/mv-input><br>
				&lt;/form><br>
			</span>
		</code>

		<p><b>file</b>	Define un 'picker' de archivos</p>
		<mv-input
			type="file">
		</mv-input>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;type="file"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>

		<p><b>hidden</b> Define un input oculto</p>
		<mv-input
			type="hidden">
		</mv-input>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;type="hidden"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>

		<p><b>image</b>	Define una imagen como botón de submit</p>
		<mv-input
			class="inputImage"
			src="media/images/examples/ok.png"
			type="image">
		</mv-input>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;src="media/images/examples/ok.png"<br>
				&emsp;&emsp;type="image"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>

		<p><b>month</b>	Define un control para introducir mes y año. En Android e iOS se despliega el componente nativo.</p>
		<mv-input
			type="month">
		</mv-input>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;type="month"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>

		<p><b>number</b> Define un campo para introducir un número. En Android e iOS se muestra un teclado específico para introducir números</p>
		<mv-input
			type="number">
		</mv-input>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;type="number"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>

		<p><b>password</b> Define un campo para contraseñas</p>
		<mv-input
			type="password">
		</mv-input>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;type="password"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>

		<p><b>radio</b>	Define un botón tipo radio</p>

		<mv-input
			type="radio">
		</mv-input>

		<mv-card
		  class="section-warning">
		  <p>Si queremos implementar un radio es recomendable usar el componente
				<a href="#!/example-mova-input-radio" >movaInputRadio</a> que proporciona MOVA, en vez de hacerlo
				como se está explicando aquí. No obstante se explica en esta sección para conocimiento del usuario</p>
		</mv-card>

		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;type="radio"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>

		<p><b>range</b>	Define un control para introducir un número mediante un slider.
			El rango por defecto es de 0 a 100, pudiendo establecer otro mediante los atributos min y max.
			El atributo step permite establecer el salto entre un valor y otro (por defecto 1). Si necesitas, por ejemplo,
			un valor entre 5 y 10 con una precisión de dos decimales, debes indicar que el valor de step es 0.01</p>
		<mv-input
			type="range"
			min=10
			max=20
			step=2>
		</mv-input>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;type="range"<br>
				&emsp;&emsp;min=10<br>
				&emsp;&emsp;max=20<br>
				&emsp;&emsp;step=2<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>

		<p><b>reset</b>	Define un botón que resetea los valores de un formulario</p>
		<form>
			<mv-input
				label="Escribe un texto de ejemplo"
				type="text">
			</mv-input>
			<mv-input
				value="Resetear"
				type="reset">
			</mv-input>
		</form>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;form><br>
				&emsp;&emsp;&lt;mv-input<br>
				&emsp;&emsp;&emsp;&emsp;label="Escribe un texto de ejemplo"><br>
				&emsp;&emsp;&emsp;&emsp;type="text"><br>
				&emsp;&emsp;&lt;/mv-input><br>
				&emsp;&emsp;&lt;mv-input<br>
				&emsp;&emsp;&emsp;&emsp;value="Resetear"<br>
				&emsp;&emsp;&emsp;&emsp;type="reset"><br>
				&emsp;&emsp;&lt;/mv-input><br>
				&lt;/form><br>
			</span>
		</code>

		<p><b>search</b> Define un campo de texto para buscar una cadena.
			Ahora mismo ningún navegador ha implementado funcionalidad para este type, por lo que el comportamiento es el mismo que con type text.
			En Android añade un botón con una lupa en el teclado.</p>
		<mv-input
			type="search">
		</mv-input>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;type="search"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>

		<p><b>submit</b> Define un botón con función 'submit'.
			En aplicaciones AngularJS como MOVA, no tiene demasiado sentido tener un formulario y mandar los datos mediante submit. Si, aun así, se quisiera
			utilizar (para por ejemplo realizar validaciones) habría que definir un form, en su propiedad onsubmit indicar qué función queremos ejecutar y que dicha función devuelva false para
		  que no realice el submit propiamente dicho</p>
		<form action="">
			<mv-input
				type="submit">
			</mv-input>
		</form>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;form action=""<br>
				&emsp;&emsp;&lt;mv-input>
				&emsp;&emsp;&emsp;&emsp;type="submit"<br>
				&emsp;&emsp;&lt;/mv-input>
				&lt;/form>
			</span>
		</code>

		<p><b>tel</b>	Define un campo para introducir un número de teléfono.
			En Android se muestra un teclado específico con números y letras en segunda instancia (tipo SMS) y en iOS un teclado numérico.</p>
		<mv-input
			type="tel">
		</mv-input>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;type="tel"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>

		<p><b>text</b> Valor por defecto. Define un campo de texto en una línea</p>
		<mv-input
			type="text">
		</mv-input>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;type="text"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>

		<p><b>time</b> Define un control para introducir hora. En Android e iOS se despliega el componente nativo.</p>
		<mv-input
			type="time">
		</mv-input>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;type="time"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>

		<p><b>url</b>	Define un campo para introducir una url. Para que la validación surta efecto tiene que estar dentro de un form
			y realizar el submit. En Android añade un botón con una lupa en el teclado.</p>
		<form>
			<mv-input
				type="url">
			</mv-input>
			<mv-input
				value="Aceptar"
				type="submit">
			</mv-input>
		</form>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;type="url"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>

		<p><b>week</b> Define un control para introducir una semana del año. En Android se despliega el componente nativo.</p>
		<mv-input
			type="week">
		</mv-input>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;type="week"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>

		<p><b>Compatibilidad entre navegadores</b></p>

		<mv-grid
			type=flat
		  card-type="card"
			data="arrayCompatibilidad">
		</mv-grid>

	</mv-card>

	<mv-card
		id="valMaxValMin"
		>
		<h3 class="title-3">val-max / val-min</h3>
		<br>
		<p>Se pueden establecer valores máximos y mínimos númericos con las propiedades <b>val-max</b> y <b>val-min</b>.</p>
		<p>Con el uso de las propiedades <b>val-max</b> y <b>val-min</b>, el elemento <b>&lt;input></b> generado contendra las propiedades <b>has-max-value</b> y <b>has-min-value</b> en caso de no cumplir la validaciones respectivamente.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;is-number=true<br>
				&emsp;&emsp;model="valorIsNumericMaxMin"<br>
				&emsp;&emsp;placeholder="Prueba campo numérico"<br>
				&emsp;&emsp;<b>val-max=5</b><br>
				&emsp;&emsp;<b>val-min=-3</b><br>
				&emsp;&emsp;validate-on-type=true<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-input
			is-number=true
			model="valorIsNumericMaxMin"
			placeholder="Prueba campo numérico"
			val-max=5
			val-min=-3
			validate-on-type=true
		>
		</mv-input>
	</mv-card>

	<mv-card
		id="validateFirst"
		>
		<h3 class="title-3">validate-first</h3>
		<br>
		<p>La propiedad <b>validate-first</b> permite decidir si se quiere evitar la validación del componente al ser creado.</p>
		<p>Es necesario que exista la propiedad <b>validate-on-type</b> en el componente.</p>
		<p>Por defecto, si no se utiliza esta propiedad, la validación inicial del componente se realiza.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;model="valorIsRequiredFisrtTimeFalse"<br>
				&emsp;&emsp;placeholder="Prueba campo obligatorio"<br>
				&emsp;&emsp;is-required=true<br>
				&emsp;&emsp;validate-on-type=true<br>
				&emsp;&emsp;<b>validate-first=false</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-input
			model="valorIsRequiredFisrtTimeFalse"
			placeholder="Prueba validación al escribir"
			is-required=true
			validate-on-type=true
			validate-first=false
			label="Validación inicial desactivada"
		>
		</mv-input>
		<mv-input
			model="valorIsRequiredFisrtTimeTrue"
			placeholder="Prueba validación al escribir"
			is-required=true
			validate-on-type=true
			validate-first=true
			label="Validación inicial activada"
		>
		</mv-input>
	</mv-card>

	<mv-card
		id="validateOnType"
		>
		<h3 class="title-3">validate-on-type</h3>
		<br>
		<p>La propiedad <b>validate-on-type</b> permite realizar la validación del componente en tiempo real mientras se introduce la información al escribirla.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;model="valorIsRequired"<br>
				&emsp;&emsp;placeholder="Prueba campo obligatorio"<br>
				&emsp;&emsp;is-required=true<br>
				&emsp;&emsp;<b>validate-on-type=true</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-input
			model="valorIsRequired"
			placeholder="Prueba validación al escribir"
			is-required=true
			validate-on-type=true
		>
		</mv-input>
	</mv-card>

	<mv-card
		id="valRegex"
		>
		<h3 class="title-3">val-regex</h3>
		<br>
		<p>La propiedad <b>val-regex</b> permite definir el componente para que solamente acepte valores que cumplan una expresión regular.</p>
		<p>Con el uso de la propiedad <b>val-regex</b>, el elemento <b>&lt;input></b> generado contendra la propiedad <b>has-regex</b> en caso de no cumplir la validación.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;icon-class="fa fa-envelope"<br>
				&emsp;&emsp;<b>val-regex="ab+c"</b><br>
				&emsp;&emsp;model="valorValRegex"<br>
				&emsp;&emsp;placeholder="Expresión regular"<br>
				&emsp;&emsp;validate-on-type=true<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-input
			icon-class="fa fa-envelope"
			val-regex="ab+c"
			model="valorValRegex"
			placeholder="Expresión regular"
			validate-on-type=true
		>
		</mv-input>
	</mv-card>

	<mv-card
		id="valRegexMessage"
		>
		<h3 class="title-3">val-regex-message</h3>
		<br>
		<p>La propiedad <b>val-regex-message</b> permite definir el mensaje que queremos que aparezca cuando no
			se cumpla la expresión regular.</p>
		<p>Si no se especifica ningún valor se muestra el mensaje por defecto</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;icon-class="fa fa-envelope"<br>
				&emsp;&emsp;val-regex="ab+c"<br>
				&emsp;&emsp;<b>val-regex-message="El formato no es el correcto"</b><br>
				&emsp;&emsp;model="valorValRegex"<br>
				&emsp;&emsp;placeholder="Expresión regular"<br>
				&emsp;&emsp;validate-on-type=true<br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-input
			icon-class="fa fa-envelope"
			val-regex="ab+c"
			val-regex-message="El formato no es el correcto"
			model="valorValRegex"
			placeholder="Expresión regular"
			validate-on-type=true
		>
		</mv-input>
	</mv-card>

	<mv-card
		id="messageToggle"
		>
		<h3 class="title-3">Ev: MessageToggle</h3>
		<br>
		<p>El evento <b>MessageToggle</b> permite mostrar u ocultar el mensaje del componente.</p>
		<p>El evento <b>MessageToggle</b> puede recibir los siguientes parámetros en formato JSON :</p>
		<ul>
			<li><b>message</b>: Cadena de caracteres que se mostrará en el mensaje. Por defecto el mensaje a mostrar es ''.</li>
		</ul>
		<p>Se puede llamar a este evento desde el controlador de un componente mediante la siguiente instrucción:</p>
		<code>
			<badge>JavaScript</badge>
			let args = {<br>
			&emsp;&emsp;message: 'Mensaje de prueba'<br>
			}<br>
			$rootScope.$emit('rootScope:movaInput:<u>identificador</u>:MessageToggle', args);
		</code>
		<p>A continuación se muestra un ejemplo:</p>
		<mv-button
			btn-type="primary"
			click="messageToggleEjemplo()"
			>
			Mostrar u ocultar mensaje de prueba
		</mv-button>
		<br><br>
		<mv-input
			id="appExampleMovaInputEjemploMessageToggleRemoto"
			model="valorMessageToggle"
			placeholder="Mostrar u ocultar mensaje"
		>
		</mv-input>
	</mv-card>

	<mv-card
		id="validate"
		>
		<h3 class="title-3">Ev: Validate</h3>
		<br>
		<p>El evento <b>Validate</b> permite validar el componente.</p>
		<p>El evento <b>Validate</b> puede recibir los siguientes parámetros en formato JSON:</p>
		<ul>
			<li><b>messageIsRequired</b>: Cadena de caracteres que se mostrará como mensaje en el caso de que la validación del componente mediante el atributo <b>is-required</b> sea erronea. Por defecto el mensaje a mostrar es 'Obligatorio'.</li>
			<li><b>messageValMax</b>: Cadena de caracteres que se mostrará como mensaje en el caso de que la validación del componente mediante el atributo <b>val-max</b> sea erronea. Por defecto el mensaje a mostrar es 'Valor máximo: (valor)'.</li>
			<li><b>messageValMin</b>: Cadena de caracteres que se mostrará como mensaje en el caso de que la validación del componente mediante el atributo <b>val-min</b> sea erronea. Por defecto el mensaje a mostrar es 'Valor mínimo: (valor)'.</li>
			<li><b>messageValRegex</b>: Cadena de caracteres que se mostrará como mensaje en el caso de que la validación del componente mediante el atributo <b>val-regex</b> sea erronea. Por defecto el mensaje a mostrar es 'Expresion regular incorrecta'.</li>
			<li><b>messageIsEmail</b>: Cadena de caracteres que se mostrará como mensaje en el caso de que la validación del componente mediante el atributo <b>is-email</b> sea erronea. Por defecto el mensaje a mostrar es 'Formato email incorrecto'.</li>
		</ul>
		<p>Se puede conocer en tiempo real si no se cumple la validación mediante los siguientes atributos del elemento <b>&lt;input></b> que se encuentra dentro del componente <b>&lt;mv-input></b>:
		<ul>
			<li><b>has-required</b> - Si no cumple la validación mediante el atributo <b>is-required</b>.</li>
			<li><b>has-max-value</b> - Si no cumple la validación mediante el atributo <b>val-max</b>.</li>
			<li><b>has-min-value</b> - Si no cumple la validación mediante el atributo <b>val-min</b>.</li>
			<li><b>has-regex</b> - Si no cumple la validación mediante el atributo <b>val-regex</b>.</li>
			<li><b>has-email</b> - Si no cumple la validación mediante el atributo <b>is-email</b>.</li>
		</ul>
		<p>Se puede llamar a este evento desde el controlador de un componente mediante la siguiente instrucción:</p>
		<code>
			<badge>JavaScript</badge>
			let args = {<br>
			&emsp;&emsp;messageIsRequired: 'Campo obligatorio',<br>
			&emsp;&emsp;messageValMax: 'El valor máximo es 10',<br>
			&emsp;&emsp;messageValMax: 'El valor mínimo es -10',<br>
			&emsp;&emsp;messageValMax: 'No se cumple la expresión regular',<br>
			&emsp;&emsp;messageValMax: 'No se cumple el formato email'<br>
			}<br>
			$rootScope.$emit('rootScope:movaInput:<u>identificador</u>:Validate', args);
		</code>
		<p>A continuación se muestra un ejemplo de campo obligatorio:</p>
		<mv-button
			btn-type="primary"
			click="validarEjemploInputObligatorio()"
			>
			Validar input obligatorio
		</mv-button>
		<br><br>
		<mv-input
			id="appExampleMovaInputEjemploValidarInputObligatorioRemoto"
			model="valorIsRequired"
			placeholder="Prueba campo obligatorio"
			is-required=true
			label="Campo obligatorio"
		>
		</mv-input>
		{{ validarEjemploIsRequiredAttribute }}
		<br><br>
		<p>A continuación se muestra un ejemplo de campo con valores máximos y mínimos:</p>
		<mv-button
			btn-type="primary"
			click="validarEjemploInputMaxMin()"
			>
			Validar input con máximo y mínimo
		</mv-button>
		<br><br>
		<mv-input
			id="appExampleMovaInputEjemploValidarInputMaxMinRemoto"
			is-number=true
			model="valorMaxMin"
			placeholder="Valor de -10 a 10"
			val-max=10
			val-min=-10
			label="Valores de -10 a 10"
		>
		</mv-input>
		{{ validarEjemploMaxValueAttribute + ' - ' + validarEjemploMinValueAttribute}}
		<br><br>
		<p>A continuación se muestra un ejemplo de campo que debe cumplir con una exmpresión regular:</p>
		<mv-button
			btn-type="primary"
			click="validarEjemploInputRegex()"
			>
			Validar input con exp. regular
		</mv-button>
		<br><br>
		<mv-input
			id="appExampleMovaInputEjemploValidarInputRegexRemoto"
			model="valorRegex"
			placeholder="Cumplir exp. regular (ab+c)"
			label="Cumplir exp. regular"
			val-regex="ab+c"
		>
		</mv-input>
		{{ validarEjemploRegexValueAttribute }}
		<br><br>
		<p>A continuación se muestra un ejemplo de campo que debe cumplir con el formato email:</p>
		<mv-button
			btn-type="primary"
			click="validarEjemploInputEmail()"
			>
			Validar input con formato email
		</mv-button>
		<br><br>
		<mv-input
			id="appExampleMovaInputEjemploValidarInputEmailRemoto"
			model="valorEmail"
			placeholder="Cumplir formato email"
			label="Cumplir formato email"
			is-email=true
		>
		</mv-input>
		{{ validarEjemploEmailValueAttribute }}
	</mv-card>

</mv-screen>
