/*
╔══════════════════════════════╗
║ app-example-mova-input style ║
╚══════════════════════════════╝
*/

app-example-mova-input {

	@include view-style;

	@media only screen and (max-width : $media-col-xs-max) {
		#type{
			span{
				width: 50%;
			}
			.inputImage{
				height: 8em;
			}
		}

		.tooltip2 .tooltiptext2 {
			font-family: sans-serif;
			font-weight: normal;
			display: none;
	    width: 50vh !important;
	    background-color: #555;
	    color: #fff;
	    text-align: center;
	    padding: 3px;
	    border-radius: 6px;
	    position: absolute;
	    z-index: 3;
	    bottom: auto;
	    left: 0;
	    opacity: 0;
	    transition: opacity 0.3s;
		}
	}

	@media only screen and (min-width : $media-col-xs-max) {
		#type{
			span{
				width: 20%;
			}
			.inputImage{
				height: 10em;
			}
		}

		.tooltip2 .tooltiptext2 {
			font-family: sans-serif;
			font-weight: normal;
			display: none;
	    width: 50vh !important;
	    background-color: #555;
	    color: #fff;
	    text-align: center;
	    padding: 3px;
	    border-radius: 6px;
	    position: absolute;
	    z-index: 3;
	    bottom: auto;
	    left: 50%;
	    opacity: 0;
	    transition: opacity 0.3s;
		}
	}

	.fa-check{
		color: green;
	}

	.fa-info-circle{
		color: #1313cc;
	}

	.fa-times{
		color: #da0f0f;
	}

	table{
		overflow: hidden;
	}

	.tooltip2 {
    display: inline-block;
	}

	.tooltip2:hover .tooltiptext2 {
		display: inline-block;
    opacity: 1;
	}

}
