<ion-header>
  <nav class="navbar navbar-expand-lg navbar-dark ">
    <a style="font-size: large; color: white;" class="navbar-brand" (click)="goBack()"><img class="logo"
        src="../../../assets/icon/logotipoO.png">Solicitud de alquiler</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="isUserAdmin != true" class="nav-item ">
          <a class="nav-link" (click)="perfil()">Perfil</a>
        </li>
        <li *ngIf="isUserAdmin != true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/tabs/tab1" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Pisos
          </a>
          <div class="dropdown-menu" style="background: black; color:white;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="listaPisos()">Lista de pisos</a>
            <a class="dropdown-item" (click)="registrarPiso()">Añadir piso</a>
          </div>
        </li>
        <li *ngIf="isUserAdmin != true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Agentes
          </a>
          <div class="dropdown-menu" style="background: black; color:white;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="registroAgente()">Registrar agente</a>
            <a class="dropdown-item" (click)="listaInmo()">Lista de agentes</a>
          </div>
        </li>
        <li *ngIf="isUserAdmin == true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div style="background: black; color:white;" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="registro()">Registrar Inmobiliaria</a>
            <a class="dropdown-item" (click)="listaInmobiliarias()">Lista de Inmobiliarias</a>
            <a class="dropdown-item" (click)="listaPisosAdmin()">Lista de pisos</a>
            <a class="dropdown-item" (click)="pisosReservados()">Lista de pisos bloqueados</a>
            <a class="dropdown-item" (click)="solicitudesAlquiler()">Solicitudes de alquiler&nbsp;<ion-badge *ngFor="let contratos of cs.contratos; let i = index;" color="success"><p *ngIf="contratos.contratoGenerador != true">{{i+1}}</p></ion-badge></a>
            <a class="dropdown-item" (click)="incidentes()">Lista Incidencias</a>
            <a class="dropdown-item" (click)="desahucio()">lista prevision desahucio</a>
            <a class="dropdown-item" (click)="impago()">lista prevision impago</a>
            <a class="dropdown-item" (click)="contratosInquilinos()">Contratos firmados inquilinos</a>
            <a class="dropdown-item" (click)="contratosArrendadores()">Contratos firmados arrendadores</a>
            <a class="dropdown-item" (click)="recibos()">Recibos</a>
            <a class="dropdown-item" (click)="admin()">Registrar admin</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</ion-header>

<ion-content padding>


  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <div text-center>
      <h5 style="padding-top: 1rem;">Fotos del piso</h5>
    </div>
    <div text-center>
      <ion-slides pager="true" [options]="slidesOpts">
        <ion-slide *ngFor="let img of imageResponse">
          <img src="{{img}}" alt="" srcset="">
        </ion-slide>
      </ion-slides>
    </div>
    <div text-center>
      <h5 style="padding-top: 1rem;">Documentos Solicitados</h5>
    </div>
    <div text-center>
      <ion-slides pager="true" [options]="slidesOpts">
        <ion-slide *ngFor="let img of documentosResponse">
          <img src="{{img}}" alt="" srcset="">
        </ion-slide>
      </ion-slides>
    </div>
    <div>

<div padding>
      <div text-center>
        <h4>CONTRATO DE ARRENDAMIENTO DE VIVIENDA</h4>
      </div>
      <div text-center>
        <ion-input style="width: 100%" text-center formControlName="fechaContrato"
          [value]="date | date:'dd/MM/yyyy'"></ion-input>
      </div>
      <div>
        <p>EN PRESENCIA DE:
          RentechApp S.L. con N.I.F. número B-88351630 y domicilio en Paseo del Club Deportivo 1, Edificio 15-A,
          Planta 1ª, Código Postal 28223 de Pozuelo de Alarcón, Madrid, actuando en este acto como tercero de
          confianza entre los anteriores a través de la aplicación Móvil ofrecida por la misma, en adelante la
          “Gestora”.
        </p>
      </div>
      <div>
        <p> DE UNA PARTE
          Don/Doña <input type="text" formControlName="nombre" placeholder="Nombre inquilino" />,
          con D.N.I. número <input type="text" formControlName="dni" minlength="9" maxlength="9" placeholder="DNI Inquilino" />
          y domicilio en <input type="text" formControlName="domicilioInquilino" placeholder="Domicilio Inquilino" />,
          actuando en este acto en su propio nombre y derecho, en
          adelante el “Arrendador”.
        </p>
      </div>
      <div>
        <p>
          Y DE OTRA

          Don/Doña <input type="text" formControlName="nombreArrendador" placeholder="Nombre Arrendador"
            style="text-transform: capitalize" />, con D.N.I. número <input type="text" formControlName="dniArrendador"
            placeholder="DNI Arrendador" style="text-transform: uppercase" /> y domicilio en <input type="text"
            formControlName="direccionArrendador" placeholder="Domicilio Arrendador"
            style="text-transform: capitalize" />, actuando en este acto en su propio nombre y derecho, en adelante
          el “Arrendatario”.
        </p>
      </div>

      <div>
        <p>
          EN ADELANTE
          Don/Doña <input type="text" formControlName="nombre" placeholder="Nombre Inquilino"
            style="text-transform: capitalize" /> y Don/Doña <input type="text" formControlName="nombreArrendador"
            placeholder="Nombre Arrendador" style="text-transform: capitalize" />, ambos, que conjuntamente serán
          denominados como las “Partes”, se reconocen mutuamente capacidad suficiente para la firma del presente
          Contrato de Arrendamiento de vivienda, la asunción de las obligaciones que del mismo dimanan y, en su
          virtud,
        </p>
      </div>
      <div text-center>
        <h4>EXPONEN</h4>
      </div>
      <div>
        <p>
          I.- Que Don/Doña <input type="text" formControlName="nombre" placeholder="Nombre Inquilino"
            style="text-transform: capitalize" /> y Don/Doña <input type="text" formControlName="nombreArrendador"
            placeholder="Nombre Arrendador" style="text-transform: capitalize" />
          es propietario, por justos y legítimos títulos, de la vivienda sita en <input type="text"
            formControlName="calle" placeholder="Dirección Inmueble" style="text-transform: capitalize" />
          con referencia catastral <input type="text" formControlName="referenciaCatastral"
            placeholder="Ref. Catastral" />, en adelante el “Inmueble”, el cual
          desea Arrendar.
          II.- Que Don/Doña <input type="text" formControlName="nombre" placeholder="Nombre Inquilino"
            style="text-transform: capitalize" /> conoce a su entera satisfacción
          el estado del anteriormente indicado Inmueble, propiedad del Arrendador, y desea tomarlo en
          Arrendamiento.
          III.- Que las Partes son usuarias de la Aplicación ofrecida por RentechApp S.L. y reconocen a la
          Gestora como tercero de confianza, actuando por medio de la mencionada Aplicación Móvil.
          IV.- Que las Partes convienen el presente Contrato de Arrendamiento con arreglo a las siguientes,
        </p>
      </div>
      <div text-center>
        <h4>CLÁUSULAS</h4>
      </div>
      <div>
        <p>
          § PRIMERA.- OBJETO.
          Por el presente contrato, el Arrendador arrienda al Arrendatario, que lo acepta, el Inmueble de su
          propiedad, sito en <input type="text" formControlName="calle" placeholder="Dirección Inmueble"
            style="text-transform: capitalize" />, con referencia catastral
          <input type="text" formControlName="referenciaCatastral" placeholder="Ref. Catastral"
            style="text-transform: capitalize" />, con el único objeto de servir como residencia familiar del
          Arrendatario sin que pueda destinarlo a otros usos sin el consentimiento expreso y por escrito del
          Arrendador.
          § SEGUNDA.- RÉGIMEN APLICABLE.
          El presente Contrato de Arrendamiento se regirá por el contenido expreso y literal del presente pacto
          entre las Partes y, supletoriamente para los casos no recogidos en el cuerpo de éste, por los supuestos
          contemplados en la Ley 29/1994, de 24 de noviembre, de Arrendamientos Urbanos, las leyes que la
          modifiquen o deroguen, y, supletoriamente a ésta, en el Código Civil.
          § TERCERA.- ESTADO DEL INMUEBLE Y BUEN USO.
          El Inmueble se encuentra dotado de sus instalaciones, servicios, electrodomésticos, muebles y menaje,
          especificados en el Anexo I de este contrato, que son propiedad del Arrendador.
          El Arrendatario declara recibir el Inmueble, así como sus instalaciones, servicios, electrodomésticos,
          muebles y menaje en condiciones de habitabilidad, funcionamiento, uso y disfrute, a su entera
          satisfacción y se compromete a devolverlos en el mismo estado en que los percibe, salvo el desgaste
          natural producido por el correcto uso y buen cuidado de los mismos, o, en su defecto, se compromete a
          satisfacer el importe en metálico de los desperfectos que pudiera ocasionar o la reposición de los
          mismos.
          El Arrendatario no llevará a cabo modificaciones en el Inmueble o el contenido del mismo sin en expreso
          consentimiento por escrito del Arrendador, salvo poder repintar el Inmueble asumiendo el coste que ello
          conlleve.
          Cualquier modificación, mejora o suplementos efectuados en el Inmueble, permanecerán en beneficio del
          mismo y del Arrendador, a excepción del mobiliario y menaje que el Arrendatario añada al contenido del
          Inmueble.
          Queda expresamente prohibido taladrar, agujerear, desbastar o modificar de cualquiera otra forma los
          parámetros de loseta o mármol existentes.
          § CUARTA.- RENTA.
          El precio por el que se arrienda el Inmueble asciende a la cantidad de
          <input type="text" formControlName="costoAlquilerAnual" placeholder="Costo Alquiler Anual" />€)
          anuales, correspondiendo la cantidad de
          <input type="text" formControlName="costoAlquiler" placeholder="Costo Alquiler" />€) a cada
          mensualidad, incrementándose la renta anual conforme al incremento del IPC o indicador que lo
          sustituya.
          Las rentas entregadas por adelantado en depósito, correspondientes a mensualidades no devengadas,
          serán devueltas al Arrendatario en caso de imposibilidad de uso y disfrute por causa ajena a las
          Partes, por resolución del contrato o cualquier otra causa legalmente prevista, salvo lo dispuesto
          en caso de incumplimiento.
          § QUINTA.- FIANZA.
          En este acto, el Arrendatario deposita en la Cuenta Corriente de la Gestora, que la acepta, la
          cantidad de <input type="text" formControlName="mesesFianza" placeholder="Meses Fianza" />€), en
          concepto de fianza equivalente a dos mensualidades, que no será destinada al pago de rentas, y
          será utilizada como parte de futuras fianzas en arrendamientos realizados a través de la Gestora
          o, a elección del Arrendatario, le será devuelta en plazo de tres meses desde la finalización del
          contrato, siempre y cuando no existan responsabilidades derivadas del incumplimiento de
          cualesquiera de los deberes asumidos por el Arrendatario sin perjuicio de reclamar, las Partes,
          los gastos e indemnizaciones oportunas por incumplimiento y por los daños y perjuicios ya sean de
          naturaleza contractual o extracontractual.
          § SEXTA.- DEPÓSITO O GARANTÍA DE IMPAGO.
          En este acto, el Arrendatario deposita en la Cuenta Corriente de la Gestora, que la acepta, la
          cantidad de <input type="text" formControlName="mensualidad" placeholder="Mensualidad" />€), en
          concepto de depósito equivalente a __ mensualidades, que será destinada al pago de rentas
          impagadas, y será utilizada como parte de futuros depósitos en arrendamientos realizados a
          través de la Gestora o, a elección del Arrendatario, le será devuelta en plazo de tres meses
          desde la finalización del contrato, siempre y cuando no existan responsabilidades derivadas del
          incumplimiento del pago de mensualidades asumidas por el Arrendatario sin perjuicio de reclamar,
          las Partes, los gastos e indemnizaciones oportunas por incumplimiento y por los daños y
          perjuicios ya sean de naturaleza contractual o extracontractual.
          La presente garantía podrá ser sustituida por la designación de avalista con solvencia
          suficiente, aval equivalente, o por otras fórmulas de garantía, toda vez que deberán ser
          aceptadas por escrito por la Gestora.
          § SÉPTIMA.- GASTOS Y SUMINISTROS.
          Correrán a cargo del Arrendador los Gastos de Comunidad de Propietarios, las Cuotas Fijas de la
          Comunidad de Propietarios, las Derramas si las hubiera, todas las obligaciones fiscales, tanto
          impuestos como tasas, que afecten al Inmueble, ya sean existentes como de nueva creación, además
          del suministro de Luz, quién se compromete a abonarla a la presentación del oportuno recibo de
          la compañía suministradora.
          Así mismo, correrán a cargo del Arrendador el mantenimiento estructural por defectos o
          agrietamientos ajenos al deber de buen cuidado, custodia y control del Arrendatario.
          Correrán a cargo del Arrendatario las reparaciones y reposiciones ocasionadas por defectos,
          cualquiera que sea su naturaleza, existentes tanto en equipos como en instalaciones, servicios,
          electrodomésticos, muebles y menaje, internas del Inmueble.
          Así mismo, correrán a cargo del Arrendatario los gastos derivados por el suministro de luz, gas,
          gasoil, agua, teléfono y seguridad, contratados por cualquiera de las Partes, quién se
          compromete a abonarlos a la presentación de los oportunos recibos de las compañías
          suministradoras encargadas de los servicios, además, el Arrendatario asume la responsabilidad
          por el mantenimiento del jardín y la piscina, correspondientes al Inmueble, si los hubiera,
          siendo por cuenta de éste los gastos que se originen de tal responsabilidad.
          § OCTAVA.- FORMA DE PAGO.
          El Arrendatario se compromete a abonar los recibos emitidos por la Gestora por cantidad de
          <input type="text" formControlName="costoAlquiler" placeholder="Costo Alquiler " />€#) en
          concepto de renta, en caso de impago o devolución de éstos, la Gestora repetirá la emisión de
          los recibos impagados y cargará los intereses devengados y gastos derivados de la devolución y
          emisión de los nuevos recibos.
          § NOVENA.- DURACIÓN.
          El presente contrato tendrá una duración de TRES AÑOS, iniciándose en el día de su fecha,
          finalizando, a todos los efectos, el día <input type="text" formControlName="fechaFinContrato"
            placeholder="Fecha fin Contrato" />, previo requerimiento
          por parte del Arrendador o notificación del Arrendatario con treinta días de antelación como
          mínimo, sin perjuicio de su prórroga hasta la duración de los CINCO AÑOS, en cuyo caso, se
          incrementará la renta anual conforme al incremento del IPC entre los años
          <input type="text" formControlName="IPC" placeholder="IPC" />, manteniéndose el resto de
          estipulaciones, extinguiéndose automáticamente a todos los efectos, el día
          <input type="text" formControlName="fechaIPC" placeholder="Fecha IPC" />, sin necesidad
          de notificación ni requerimiento previo por el Arrendador.


          En caso de prórroga, el Arrendatario se compromete a abonar, en la cuenta designada al
          efecto por la Gestora, antes del día <input type="text" formControlName="diaDeposito"
            placeholder="Dia deposito" /> el incremento que pudieran
          sufrir tanto la fianza como los depósitos o garantías.
          En todo caso, ambas Partes podrán, de mutuo acuerdo, pactar un nuevo acuerdo
          sustitutorio del presente contrato o novar sus cláusulas mediante Anexo numerado
          correlativamente que se unirá como parte inseparable del principal.
          § DÉCIMA.- ACCESO.
          Una vez comunicado el deseo de no renovar el contrato por cualquiera de las partes, el
          Arrendatario concederá razonable acceso al Inmuebles al Arrendador o a sus agentes y
          posibles inquilinos para la realización de visitas, mediando preaviso de veinticuatro
          horas.
          En caso de incumplimiento, el Arrendatario pagará al Arrendador el precio de una
          mensualidad, conforme a las anteriores cláusulas, por cada mes o fracción en que el
          Inmueble quede desocupado u ocupado por el inquilino aun habiéndose extinguido el
          presente contrato.
          § DECIMO PRIMERA.- DESISTIMIENTO DEL ARRENDATARIO.
          El Arrendatario no podrá desistir del Presente Contrato de Arrendamiento durante la
          duración del mismo salvo en caso de imposibilidad de uso y disfrute por causa ajena a
          las Partes o cualquier otra causa legalmente prevista.
          En caso de desistimiento anticipado, el Arrendatario perderá el derecho a que le sean
          devueltas las cantidades satisfechas en concepto de renta o mensualidades adelantadas,
          incluidas las aun no devengadas.
          § DECIMO SEGUNDA.- PROHIBICIONES.
          Quedan expresamente prohibidos el subarriendo, la cesión o traspaso total o parcial,
          el uso distinto de servir como residencia familiar del Arrendatario, llevar a cabo
          modificaciones en el Inmueble o el contenido del mismo, sin en expreso consentimiento
          por escrito del Arrendador, salvo poder repintar el Inmueble asumiendo el coste que
          ello conlleve; y, en todo caso, taladrar, queda expresamente prohibido agujerear,
          desbastar o modificar de cualquiera otra forma los parámetros de loseta o mármol.
          § DECIMO TERCERA.- INCUMPLIMIENTO Y RESOLUCIÓN.
          El presente contrato podrá ser resuelto por acuerdo entre las Partes o por
          incumplimiento de cualquiera de las obligaciones en él contenidas y, en especial, las
          derivadas del mantenimiento del Inmueble y del pago de la Renta Mensual, sin perjuicio
          de la reclamación de las cantidades debidas y derivadas de daños y perjuicios.
          En caso de incumplimiento de las obligaciones de pago por parte del Arrendatario, la
          Gestora podrá iniciar las acciones que legalmente asistan al Arrendador, por cuenta de
          éste. En caso de incumplimiento de las obligaciones asumidas por el Arrendatario,
          éstas podrán ser cumplidas por la Gestora reteniendo, en su caso, las cantidades
          satisfechas por cuenta del Arrendatario.
          En caso de incumplimiento del presente Contrato de Arrendamiento, correrán a cuenta de
          la Parte que no haya cumplido sus obligaciones, todos los gastos, tanto judiciales
          como extrajudiciales, incluyendo los intereses a que hubiera lugar, en que pudiera
          incurrir la Parte reclamante de cumplimiento para el ejercicio de cuantas acciones
          sean oportunas a fin del cumplimiento del Contrato de Arrendamiento.
          Todas las cantidades debidas por cualquiera de las Partes, generarán un interés del
          SEIS POR CIENTO ANUAL 6% anual acumulativo desde el momento en que se incumplan las
          obligaciones, los intereses procesales serán los mismos incrementados en dos puntos.
          Los gastos en que incurra la parte demandante del cumplimiento, a cuya devolución
          tiene derecho, incluirán los honorarios de cuantos profesionales intervengan en dicha
          reclamación como, pero no solo, Abogados, Notarios, Procuradores y otros; así mismo,
          tendrá derecho a reclamar cuantos gastos conlleve la reclamación, a título
          enunciativo, pero no exhaustivo, gastos bancarios, de correo y facturas.
          § DECIMO CUARTA.- RENUNCIA AL DERECHO DE TANTEO.
          El Arrendatario, con la firma del presente Contrato de Arrendamiento hace expresa
          renuncia a su Derecho de Tanteo sobre el Inmueble conforme al Artículo 25.8 de la Ley
          29/1994, de 24 de noviembre, de Arrendamientos Urbanos, sirviendo este documento como
          prueba al efecto.
          § DECIMO QUINTA.- RENUNCIA AL DERECHO DE RETRACTO.
          El Arrendatario, con la firma del presente Contrato de Arrendamiento hace expresa
          renuncia a su Derecho de Retracto sobre el Inmueble conforme al Artículo 25.8 de la
          Ley 29/1994, de 24 de noviembre, de Arrendamientos Urbanos, sirviendo este documento
          como prueba al efecto.
          § DECIMO SEXTA.- NOTIFICACIONES.
          Para realizar cualquier notificación entre las Partes que tenga como origen el
          presente Contrato de Arrendamiento, éstas acuerdan que la comunicación se realizará
          por medio de la plataforma facilitada en la Aplicación por la Gestora.
          No obstante, siempre y cuando sea posible garantizar la autenticidad del emisor, del
          destinatario, y del contenido del mensaje y con el objetivo de mantener una
          comunicación fluida entre las Partes, su domicilio a efectos de las mismas serán las
          direcciones indicadas al principio de este Contrato, bastando correo o telegrama con
          acuse de recibo.
          § DECIMO SÉPTIMA.- CERTIFICADO ENERGÉTICO.
          El Arrendatario declara que el Arrendador le hace entrega de copia del certificado
          energético del Inmueble con la firma del presente Contrato de Arrendamiento, y se
          compromete a mantenerlo en su posesión.

          § DECIMO OCTAVA.- JURISDICCIÓN.
          Ambas partes se someten, tanto para cualquier discrepancia emanada de la
          interpretación de este contrato como de cualesquiera otras que pudieran surgir en
          cuanto al Inmueble, ya sean de naturaleza contractual como extracontractual, a los
          juzgados y tribunales de la ciudad de Madrid.
          Todo lo anterior, sin perjuicio de poder someterse a sistemas alternativos de
          resolución de tales conflictos, a título enunciativo, pero no exhaustivo, negociación,
          conciliación, mediación, arbitraje.

          Y PARA QUE ASÍ CONSTE, se extiende el presente documento, por duplicado a un solo
          efecto, en siete folios de papel común numerados correlativamente al pie de cada uno,
          que, después de leído, es rubricado en su pie y al margen de las precedentes hojas por
          las Partes contratantes en prueba de su comprensión y consentimiento, en el lugar y
          fecha al principio indicada.


        </p>
      </div>

    </div>
  </div>
    <div text-center>
      <button type="submit" class="boton" [disabled]="!validations_form.valid">Crear</button>
    </div>
  </form>


</ion-content>