
ion-content{

  --background: url("/assets/imgs/detallesSolicitud.jpg") no-repeat fixed center; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}

@media only screen and (min-width:414px){
  ion-content{
      --background: url("/assets/imgs/detallesSolicitudS.jpg") no-repeat fixed center; 
      -webkit-background-size: contain;
      -moz-background-size: contain;
      background-size: contain;
  }
}

form{
  background: rgba(255,255,255,0.7);
  padding-left: 1rem;
  padding-right: 1rem;
}

input{
  border: none;
  background: transparent !important;
}


.m-signature-pad {
    position: relative;
    font-size: 10px;
    width: 150px;
    height: 150px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
    border-radius: 4px;
  }
  
  .m-signature-pad:before, .m-signature-pad:after {
      position: absolute;
      z-index: -1;
      content: "";
      width: 40%;
      height: 10px;
      left: 20px;
      bottom: 10px;
      background: transparent;
      -webkit-transform: skew(-3deg) rotate(-3deg);
      -moz-transform: skew(-3deg) rotate(-3deg);
      -ms-transform: skew(-3deg) rotate(-3deg);
      -o-transform: skew(-3deg) rotate(-3deg);
      transform: skew(-3deg) rotate(-3deg);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
  }
  
  .m-signature-pad:after {
      left: auto;
      right: 20px;
      -webkit-transform: skew(3deg) rotate(3deg);
      -moz-transform: skew(3deg) rotate(3deg);
      -ms-transform: skew(3deg) rotate(3deg);
      -o-transform: skew(3deg) rotate(3deg);
      transform: skew(3deg) rotate(3deg);
  }
  
  .m-signature-pad--body {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
    border: 1px solid #f4f4f4;
  }
  
  .m-signature-pad--body
    canvas {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
    }
  
  @media screen and (max-width: 1024px) {
    .m-signature-pad {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 50%;
      height: auto;
      min-width: 100px;
      min-height: 100px;
      margin: 5%;
    }
    #github {
      display: none;
    }
  }

  ion-input{
    background: transparent;
    border: none;
  }
  
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .m-signature-pad {
      margin: 10%;
    }
  }
  
  @media screen and (max-height: 320px) {
    .m-signature-pad--body {
      left: 0;
      right: 0;
      top: 0;
      bottom: 32px;
    }
    .m-signature-pad--footer {
      left: 20px;
      right: 20px;
      bottom: 4px;
      height: 28px;
    }
    .m-signature-pad--footer
      .description {
        font-size: 1em;
        margin-top: 1em;
      }
  }


  .boton{
    width: 10rem;
    border-radius: 5px;
    background: #26a6ff;
    height: 2rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

@media (min-width: 1024px) and (max-width: 1920px){
  ion-slides{
    height: 18rem;
  }
  ion-content{
    --background: url("/assets/imgs/dSolicitud.jpg") no-repeat fixed center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    --background-attachment: fixed;
}  
}

