
<header class="arrendador" *ngIf="isUserArrendador == true" style="background:#26a6ff">
  <div class="titulo" text-center>
    <h5>Octubre</h5>
  </div>
  <div>
    <img class="arrow" (click)="goBack()" src="/assets/icon/flecha.png">
  </div>

</header>
<ion-header style="background:#26a6ff" *ngIf="isUserAgente == true">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" style="text-align: initial" href="#" style="">Octubre</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a style="color: black;" class="nav-link" (click)="goHome()">Alquileres Pagados </a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goPisos()">Lista pisos</a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goAlquileres()">Alquileres Activos</a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goContratos()">Contratos</a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goPerfil()">Perfil</a>
          </li>
        </ul>
      </div>
    </nav>

</ion-header>

<ion-content>

  <div style="background: transparent !important">
    <div style="margin-top: 2rem" *ngFor="let item of items" [routerLink]= "['/detalles-alquileres-pagados', item.payload.doc.id]">
      <button class="boton"><b class="titulo">Dirección:</b>{{ item.payload.doc.data().calle }}</button>
      <ion-list class="list">

        <p class="card-text"><b>Nombre inquilino:</b> {{ item.payload.doc.data().nombre }}.</p>
                    <hr/>
                    <p class="card-text-ano"><b>Año:</b> {{ item.payload.doc.data().ano }}.</p>
                    <div *ngIf="item.payload.doc.data().pago == true"  class="cajas">                               
                       <img src="../../../assets/imgs/si.png" alt="">
                    </div>
                    <div *ngIf="item.payload.doc.data().pago != true"  class="cajas">                               
                        <img src="../../../assets/imgs/no.png" alt="">
                     </div>
            
                    </ion-list>
    </div>
 
</div> 
    

</ion-content>
