<app-cabecera [titulohead]="tituhead"></app-cabecera>
<!-- <ion-buttons slot="end">
        <ion-back-button text="" color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-content *ngIf="isAdmin === true" padding>

      --> 


<ion-content padding>
  <ion-card>
<form class="animated fadeIn fast" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
  <ion-card-header text-center>
        <ion-item text-center class="mx-auto">
            <img text-center [src]="image" alt="imagen" />
        </ion-item>
  </ion-card-header>
  <ion-card-content>
        <ion-item>
            <ion-input type="text" formControlName="nombre" [readonly]="true"></ion-input>
          </ion-item>
        <ion-item>
            <ion-input type="text" formControlName="fecha" value="{{this.item.fecha | date: 'dd/MM/yyyy'}}" [readonly]="true"></ion-input>
          </ion-item>
  </ion-card-content>
</form>
</ion-card>
  <ion-button class="submit-button" fill="outline" expand="block" color="primary" style="--border-radius:20px"  (click)="delete()">Borrar</ion-button>

</ion-content>
