@media (min-width: 1024px) and (max-width: 1280px){
    img{
       // max-width: 25%;
       height: max-content;
    width: max-content;
    position: relative;
    margin-left: 28rem;
    justify-content: center;
    }
}

@media only screen and (min-width: 1280px){
    img{
       // max-width: 25%x;
       height: max-content;
    width: max-content;
    position: relative;
    margin-left: 28rem;
    justify-content: center;
    }
}