<!-- app-example-mova-input-checkbox -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaInputCheckbox</h1>
		<br>
		<p>Checkbox, similar al elemento <b>&lt;input></b> de tipo checkbox de HTML5.</p>
		<p>Este componente acepta los mismos atributos de HTML que el elemento <b>&lt;input></b> de tipo checkbox además de los siguientes:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('change')" >change</a></li>
			<li><a href="" ng-click="$root.scrollTo('falseValue')" >false-value</a></li>
			<li><a href="" ng-click="$root.scrollTo('isRequired')" >is-required</a></li>
			<li><a href="" ng-click="$root.scrollTo('size')" >size</a></li>
			<li><a href="" ng-click="$root.scrollTo('trueValue')" >true-value</a></li>
			<li><a href="" ng-click="$root.scrollTo('validateFirst')" >validate-first</a></li>
			<li><a href="" ng-click="$root.scrollTo('validateOnType')" >validate-on-type</a></li>
			<li><a href="" ng-click="$root.scrollTo('tooltip')" >tooltip</a></li>
			<li><a href="" ng-click="$root.scrollTo('tooltipPosition')" >tooltip-position</a></li>
			<li><a href="" ng-click="$root.scrollTo('label')" >label</a></li>
		</ul>
		<p>Este componente dispone de los siguientes eventos:</p>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>Para usar los eventos es necesario definir un atributo <b>id</b> en el componente.</p>
			<p>Este <b>id</b> debe ser <u>único para toda la App</u>.</p>
			<p>Para que el <b>id</b> sea único deberá seguir la siguiente estructura: <u>nombreFicheroNombreExplicativoNombreFuncion</u>.</p>
			<p>El componente ofrece los eventos mediante el siguiente código: <i>'rootScope:movaInputCheckbox:<u>identificador</u>:<u>nombreDelEvento</u>'</i></p>
			<p>La palabra <u>identificador</u> debe sustituirse con el valor del atributo <b>id</b> del componente.</p>
			<p>La palabra <u>nombreDelEvento</u> debe sustituirse con el nombre del evento.</p>
		</mv-card>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('validate')" >Validate</a></li>
		</ul>
	</mv-card>

	<mv-card>
		<h2 class="title-2">Ejemplo de uso HTML y resultado</h2>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-checkbox><br>
				&lt;/mv-input-checkbox>
			</span>
		</code>
		<mv-input-checkbox>
		</mv-input-checkbox>
	</mv-card>

	<mv-card
		id="change"
		>
		<h3 class="title-3">change</h3>
		<br>
		<p>La propiedad <b>change</b> permite ejecutar una función incluida en el <b>$scope</b>, cada vez que cambia el valor del input.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-checkbox<br>
				&emsp;&emsp;model="valorChange"<br>
				&emsp;&emsp;<b>change="funcionChange()";</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-checkbox>
			</span>
		</code>
		<mv-input-checkbox
			model="valorChange"
			change="funcionChange()"
		>
		</mv-input-checkbox>
		<p>Valor actual del ejemplo: {{ valorChange }}</p>
	</mv-card>

	<mv-card
		id="falseValue"
		>
		<h3 class="title-3">false-value</h3>
		<br>
		<p>La propiedad <b>false-value</b> permite asignar un valor distinto de false para el resultado false.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-checkbox<br>
				&emsp;&emsp;model="valorFalse"<br>
				&emsp;&emsp;<b>false-value="'NO'"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-checkbox>
			</span>
		</code>
		<mv-input-checkbox
			model="valorFalse"
			false-value="'NO'"
		>
		</mv-input-checkbox>
		<p>Valor actual del ejemplo: {{ valorFalse }}</p>
	</mv-card>

	<mv-card
		id="isRequired"
		>
		<h3 class="title-3">is-required</h3>
		<br>
		<p>La propiedad <b>is-required</b> permite definir el componente como obligatorio.</p>
		<p>Con el uso de la propiedad <b>is-required</b>, el elemento <b>&lt;input></b> de tipo checkbox generado contendra la propiedad <b>has-required</b> en caso de no cumplir la validación.</p>
		<p>El componente no muestra cambios en su estilo por defecto en caso de no cumplir la validación.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-checkbox<br>
				&emsp;&emsp;model="valorIsRequired"<br>
				&emsp;&emsp;<b>is-required=true</b><br>
				&emsp;&emsp;validate-on-type=true<br>
				&emsp;&emsp;><br>
				&lt;/mv-input-checkbox>
			</span>
		</code>
		<mv-input-checkbox
			model="valorIsRequired"
			is-required=true
			validate-on-type=true
		>
		</mv-input-checkbox>
	</mv-card>

	<mv-card
		id="size"
		>
		<h3 class="title-3">size</h3>
		<br>
		<p>La propiedad <b>size</b> permite dar varios tamaños al checkbox.</p>
		<p>El tamaño del checkbox se hace mediante la propiedad CSS scale, por lo que el componente no se desplaza y se agranda en todas las direcciones, por lo que deberá tenerse en cuenta en los márgenes o paddings del componente.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-checkbox<br>
				&emsp;&emsp;model="valorFalse"<br>
				&emsp;&emsp;<b>size="small"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-checkbox>
			</span>
		</code>
		<mv-input-checkbox
			model="valorFalse"
			size="small"
		>
		</mv-input-checkbox>
		<p>size="small"</p>
		<br>
		<mv-input-checkbox
			model="valorFalse"
		>
		</mv-input-checkbox>
		<p>Sin atributo size.</p>
		<br>
		<mv-input-checkbox
			model="valorFalse"
			size="medium"
		>
		</mv-input-checkbox>
		<p>size="medium"</p>
		<br>
		<mv-input-checkbox
			model="valorFalse"
			size="big"
		>
		</mv-input-checkbox>
		<p>size="big"</p>
	</mv-card>

	<mv-card
		id="trueValue"
		>
		<h3 class="title-3">true-value</h3>
		<br>
		<p>La propiedad <b>true-value</b> permite asignar un valor distinto de true para el resultado true.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-checkbox<br>
				&emsp;&emsp;model="valorTrue"<br>
				&emsp;&emsp;<b>true-value="'SI'"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-checkbox>
			</span>
		</code>
		<mv-input-checkbox
			model="valorTrue"
			true-value="'SI'"
		>
		</mv-input-checkbox>
		<p>Valor actual del ejemplo: {{ valorTrue }}</p>
	</mv-card>

	<mv-card
		id="validateFirst"
		>
		<h3 class="title-3">validate-first</h3>
		<br>
		<p>La propiedad <b>validate-first</b> permite decidir si se quiere evitar la validación del componente al ser creado.</p>
		<p>Es necesario que exista la propiedad <b>validate-on-type</b> en el componente.</p>
		<p>Por defecto, si no se utiliza esta propiedad, la validación inicial del componente se realiza.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-checkbox<br>
				&emsp;&emsp;model="valorIsRequiredFisrtTimeFalse"<br>
				&emsp;&emsp;is-required=true<br>
				&emsp;&emsp;validate-on-type=true<br>
				&emsp;&emsp;<b>validate-first=false</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-checkbox>
			</span>
		</code>
		<mv-input-checkbox
			model="valorIsRequiredFisrtTimeTrue"
			is-required=true
			validate-on-type=true
			validate-first=true
			label="Validación inicial activada"
		>
		</mv-input-checkbox>
	</mv-card>

	<mv-card
		id="validateOnType"
		>
		<h3 class="title-3">validate-on-type</h3>
		<br>
		<p>La propiedad <b>validate-on-type</b> permite realizar la validación del componente en tiempo real mientras se introduce la información al escribirla.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-checkbox<br>
				&emsp;&emsp;model="valorIsRequired"<br>
				&emsp;&emsp;is-required=true<br>
				&emsp;&emsp;<b>validate-on-type=true</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-checkbox>
			</span>
		</code>
		<mv-input-checkbox
			model="valorIsRequired"
			is-required=true
			validate-on-type=true
		>
		</mv-input-checkbox>
	</mv-card>

	<mv-card
		id="tooltip"
		>
		<h3 class="title-3">tooltip</h3>
		<br>
		<p>La propiedad <b>tooltip</b> permite visualizar un tooltip al pasar el ratón por encima del componente</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-checkbox<br>
				&emsp;&emsp;model="valorIsRequired"<br>
				&emsp;&emsp;<b>tooltip="Tooltip de ejemplo"</b><br>
				&emsp;&emsp;label="Ejemplo tooltip"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input-checkbox>
			</span>
		</code>
		<mv-input-checkbox
			model="valorIsRequired"
			tooltip="Tooltip de ejemplo"
			label="Ejemplo tooltip"
			tooltip-position="right"
		>
		</mv-input-checkbox>
	</mv-card>

	<mv-card
		id="tooltipPosition"
		>
		<h3 class="title-3">tooltip-position</h3>
		<br>
		<p>La propiedad <b>tooltip-position</b> permite colocar el tooltip encima, a la derecha, a la izquierda o debajo del componente.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-checkbox<br>
				&emsp;&emsp;model="valorIsRequired"<br>
				&emsp;&emsp;tooltip="Tooltip debajo"<br>
				&emsp;&emsp;<b>tooltip-position="bottom"</b><br>
				&emsp;&emsp;label="Ejemplo tooltip"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input-checkbox>
			</span>
		</code>
		<mv-input-checkbox
			model="valorIsRequired"
			tooltip="Tooltip de ejemplo"
			tooltip-position="bottom"
			label="Tooltip debajo"
		>
		</mv-input-checkbox>
	</mv-card>

	<mv-card
		id="label"
		>
		<h3 class="title-3">label</h3>
		<br>
		<p>La propiedad label permite incluir una label para el input.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-checkbox<br>
				&emsp;&emsp;model="valorIsRequired"<br>
				&emsp;&emsp;<b>label="Esta es la label de prueba"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-checkbox>
			</span>
		</code>
		<mv-input-checkbox
			model="valorIsRequired"
			label="Esta es la label de prueba">
		</mv-input-checkbox>
	</mv-card>

	<mv-card
		id="validate"
		>
		<h3 class="title-3">Ev: Validate</h3>
		<br>
		<p>El evento <b>Validate</b> permite validar el componente.</p>
		<p>Se puede conocer en tiempo real si no se cumple la validación mediante los siguientes atributos del elemento <b>&lt;input></b> que se encuentra dentro del componente <b>&lt;mv-input-checkbox></b>:
		<ul>
			<li><b>has-required</b> - Si no cumple la validación mediante el atributo <b>is-required</b>.</li>
		</ul>
		<p>Se puede llamar a este evento desde el controlador de un componente mediante la siguiente instrucción:</p>
		<code>
			<badge>JavaScript</badge>
			$rootScope.$emit('rootScope:movaInputCheckbox:<u>identificador</u>:Validate');
		</code>
		<p>A continuación se muestra un ejemplo de campo obligatorio:</p>
		<mv-button
			btn-type="primary"
			click="validarEjemploInputCheckboxObligatorio()"
			>
			Validar checkbox obligatorio
		</mv-button>
		<br><br>
		<mv-input-checkbox
		id="appExampleMovaInputCheckboxEjemploValidarInputObligatorioRemoto"
			model="valorIsRequired"
			is-required=true
		>
		</mv-input-checkbox>
		<br>
		{{ validarEjemploIsRequiredAttribute }}
	</mv-card>

</mv-screen>
