@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

*{
    font-family: Comfortaa;
}


.estado{
    display: none !important;
}

.dayview-allday-table{
    display: none;
}

.weekview-allday-table{
    display: none;
}
.weekview-normal-event-container{
    margin-top: 37px;
 }

 .event-detail-container{
    display: none;
}

@media (min-width: 1024px) and (max-width:1280px){
    ion-searchbar{
        width: 50% !important;
        margin-left: 25% !important;
    }
}

@media only screen and (min-width:1280px){
    ion-searchbar{
        width: 50% !important;
        margin-left: 25% !important;
    } 
}