/*
╔═══════════════════════════════════════════╗
║ app-maquetacion-portal-inmobiliario style ║
╚═══════════════════════════════════════════╝
*/
app-maquetacion-portal-inmobiliario {

	.app-maquetacion-portal-inmobiliario-listado {
		list-style-type: none;
		margin: 0 0 0 0; 
		padding: 1rem 0 0 0;

		.app-maquetacion-portal-inmobiliario-listado-li {

			.app-maquetacion-portal-inmobiliario-listado-mv-item {

				margin: 0.55rem 0.55rem 0.55rem 0.55rem;

				height: 29rem;

				main {
					> .app-maquetacion-portal-inmobiliario-listado-mv-item-image-container {

						position: absolute;
						left: 0;
						top: 0;
						height: auto;
						width: 100%;

						> .app-maquetacion-portal-inmobiliario-listado-mv-item-image {

							border: none;
							border-bottom: solid thin $color-secondary-009;
							background-color: $color-primary-003-20;
							height: 18rem;
							width: 100%;
							object-fit: cover;
						}
					}

					> .app-maquetacion-portal-inmobiliario-listado-mv-item-info-container {

						display: block;

						// Para que se vea la imagen
						margin-top: 18rem;

						h1 {

							@include mx-truncate();

							padding: 0 0 0 0;
							margin: 0 0 0 0;				

							color: $color-primary-001-80;
						}

						h2 {

							@include mx-truncate();

							padding: 0 0 0 0;
							margin: 0.55rem 0 0 0;
						}

						p {

							@include mx-truncate();

							padding: 0 0 0 0;
							margin: 0.55rem 0 0 0;								
						}
					}
				}
			}
		}
	}
}

/*
┌──────────────────┐
│ Bootstrap col-xs │
└──────────────────┘
*/

@media only screen and (max-width: $media-col-xs-max) {

}

/*
┌──────────────────┐
│ Bootstrap col-sm │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-sm-min) and (max-width : $media-col-sm-max) {


	/*app-maquetacion-portal-inmobiliario {

		.app-maquetacion-portal-inmobiliario-listado {

			.app-maquetacion-portal-inmobiliario-listado-li {

				.app-maquetacion-portal-inmobiliario-listado-mv-item {

					height: 14rem;

					main {
						> .app-maquetacion-portal-inmobiliario-listado-mv-item-image-container {

							position: absolute;
							left: 0;
							top: 0;
							height: 14rem;
							width: 12rem;

							> .app-maquetacion-portal-inmobiliario-listado-mv-item-image {

								border: none;
								border-right: solid thin $color-secondary-009;
								background-color: $color-primary-003-20;
								height: 13.95rem;
								width: 12rem;
								object-fit: cover;
							}
						}

						> .app-maquetacion-portal-inmobiliario-listado-mv-item-info-container {

							margin: 0 0 0 12rem;
						}
					}
				}
			}
		}
	}*/
}

/*
┌──────────────────┐
│ Bootstrap col-md │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-md-min) and (max-width : $media-col-md-max) {

	app-maquetacion-portal-inmobiliario {

		.app-maquetacion-portal-inmobiliario-listado {

			.app-maquetacion-portal-inmobiliario-listado-li {

				.app-maquetacion-portal-inmobiliario-listado-mv-item {

					height: 10rem;

					main {


						> .app-maquetacion-portal-inmobiliario-listado-mv-item-image-container {

							position: absolute;
							left: 0;
							top: 0;
							height: 10rem;
							width: 8rem;

							> .app-maquetacion-portal-inmobiliario-listado-mv-item-image {

								border: none;
								border-right: solid thin $color-secondary-009;
								background-color: $color-primary-003-20;
								height: 9.9rem;
								width: 8rem;
								object-fit: cover;
							}
						}

						> .app-maquetacion-portal-inmobiliario-listado-mv-item-info-container {

							margin: 0 0 0 8rem;

							h1 {
								font-size: $font-size-big;
							}
						}
					}
				}
			}
		}
	}
}

/*
┌──────────────────┐
│ Bootstrap col-lg │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-lg-min) {

	app-maquetacion-portal-inmobiliario {

		.app-maquetacion-portal-inmobiliario-listado {

			.app-maquetacion-portal-inmobiliario-listado-li {

				.app-maquetacion-portal-inmobiliario-listado-mv-item {

					height: 10rem;

					main {


						> .app-maquetacion-portal-inmobiliario-listado-mv-item-image-container {

							position: absolute;
							left: 0;
							top: 0;
							height: 10rem;
							width: 8rem;

							> .app-maquetacion-portal-inmobiliario-listado-mv-item-image {

								border: none;
								border-right: solid thin $color-secondary-009;
								background-color: $color-primary-003-20;
								height: 9.9rem;
								width: 8rem;
								object-fit: cover;
							}
						}

						> .app-maquetacion-portal-inmobiliario-listado-mv-item-info-container {

							margin: 0 0 0 8rem;

							h1 {
								font-size: $font-size-big;
							}
						}
					}
				}
			}
		}
	}
}