<!-- app-maquetacion-portal-inmobiliario -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<mv-container>

		<h1 class="h1-color-primary-004">Listado de inmuebles:</h1>

		<p>Resultados en la zona de Alcobendas.</p>

		<ul class="app-maquetacion-portal-inmobiliario-listado">

			<li class="app-maquetacion-portal-inmobiliario-listado-li" ng-repeat="(key, inmueble) in inmuebles track by $index">

				<mv-container-item col-xs=12 col-sm=6 col-md=4 col-lg=4>

					<mv-item
						class="app-maquetacion-portal-inmobiliario-listado-mv-item"
						type="transclude"
						>
						<span class="app-maquetacion-portal-inmobiliario-listado-mv-item-image-container">
							<mv-input-image
								class="app-maquetacion-portal-inmobiliario-listado-mv-item-image"
								src="{{ inmueble.img }}">
							</mv-input-image>
						</span>
						<span class="app-maquetacion-portal-inmobiliario-listado-mv-item-info-container">
							<h1>{{ inmueble.titulo }}</h1>
							<h2>{{ inmueble.precio }}</h2>
							<p><b>{{ inmueble.habitaciones }} habs. {{ inmueble.metros }} m²</b></p>
							<p><i class="fas fa-phone"></i>&nbsp;{{ inmueble.telefono }}</p>
							<p><i class="far fa-envelope"></i>&nbsp;{{ inmueble.email }}</p>
						</span>
					</mv-item>

				</mv-container-item>

			</li>
		</ul>

	</mv-container>

</mv-screen>
