ion-content{
    --background: url(../../../assets/imgs/impago.jpg) no-repeat fixed center;
}

.botones{
    color: black;
    background:  rgba(38,166,255, 0.7);
    color: white;
    border-radius: 5px;
    height: 2.2rem;
    margin-top: 2rem;
    font-size: 1.1rem;
    margin-top: 0.5rem;
    width: 13rem;
}

.crear{
    color: black;
    background: white;
    border-radius: 5px;
    height: 2.2rem;
    margin-top: 2rem;
    font-size: 1.1rem;
    margin-top: 0.5rem;
    width: 13rem;
}