<!-- app-maquetacion-tab-detalle-2 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<mv-card
		round-corners=true
		border-color="#666666"
		border-width="medium"
		>

		<br>

		<mv-tab
			class="app-maquetacion-tab-detalle-mv-tab"
			captions=";;"
			icon-class="fas fa-phone;fas fa-envelope;fas fa-info"
			badge="6;2;"
			selected=2
			click="clickOption"
			>
		</mv-tab>

		<!-- Opción de ejemplo 001 -->
		<mv-container
			class="app-maquetacion-tab-detalle-mv-container-000 display-none"
			>
			<ol>
				<!-- Opción de ejemplo 001 -->
				<mv-item
					title="Llamada entrante"
					corner="26/12/2017 13:15"
					type="revel-comment"
					bg-color="rgba(208,1,3,0.4)"
					class="app-maquetacion-tab-detalle-mv-item-list-001"
					>
					Llamada del +34 665 15 44 78
				</mv-item>
				<!-- Opción de ejemplo 002 -->
				<mv-item
					title="Llamada entrante"
					corner="26/12/2017 13:05"
					type="revel-comment"
					bg-color="rgba(208,1,3,0.4)"
					class="app-maquetacion-tab-detalle-mv-item-list-002"
					>
					Llamada del +34 665 15 44 78
				</mv-item>
				<!-- Opción de ejemplo 003 -->
				<mv-item
					title="Llamada entrante"
					corner="26/12/2017 12:45"
					type="revel-comment"
					bg-color="rgba(208,1,3,0.4)"
					class="app-maquetacion-tab-detalle-mv-item-list-003"
					>
					Llamada del +34 665 15 44 78
				</mv-item>
				<!-- Opción de ejemplo 004 -->
				<mv-item
					title="Llamada saliente"
					corner="26/12/2017 12:41"
					type="revel-comment"
					bg-color="rgba(21,92,178,0.4)"
					class="app-maquetacion-tab-detalle-mv-item-list-004"
					>
					Llamada al +34 665 15 44 78
				</mv-item>
				<!-- Opción de ejemplo 005 -->
				<mv-item
					title="Llamada entrante"
					corner="26/12/2017 12:37"
					type="revel-comment"
					bg-color="rgba(208,1,3,0.4)"
					class="app-maquetacion-tab-detalle-mv-item-list-005"
					>
					Llamada del +34 665 15 44 78
				</mv-item>
				<!-- Opción de ejemplo 006 -->
				<mv-item
					title="Llamada saliente"
					corner="26/12/2017 12:17"
					type="revel-comment"
					bg-color="rgba(21,92,178,0.4)"
					class="app-maquetacion-tab-detalle-mv-item-list-006"
					>
					Llamada al +34 665 15 44 78
				</mv-item>
			</ol>
		</mv-container>

		<!-- Opción de ejemplo 002 -->
		<mv-container
			class="app-maquetacion-tab-detalle-mv-container-001 display-none"
			>
			<ol>
				<!-- Opción de ejemplo 001 -->
				<mv-item
					title="Mensaje recibido"
					corner="26/12/2017 13:16"
					type="revel-comment"
					bg-color="rgba(21,92,178,0.1)"
					class="app-maquetacion-tab-detalle-mv-item-list-001"
					>
					Te he estado llamando y no consigo contactar contigo, te he mandado un email con los detalles.
				</mv-item>
				<!-- Opción de ejemplo 002 -->
				<mv-item
					title="Mensaje recibido"
					corner="26/12/2017 13:07"
					type="revel-comment"
					bg-color="rgba(21,92,178,0.1)"
					class="app-maquetacion-tab-detalle-mv-item-list-002"
					>
					Cuando tenga los detalles te llamo y los comentamos. Saludos.
				</mv-item>
			</ol>
		</mv-container>

		<!-- Opción de ejemplo 003 -->
		<mv-container
			class="app-maquetacion-tab-detalle-mv-container-002"
			>
			<h1>Descripción</h1>
			<h3>A continuación se explican los detalles del ejemplo de maquetación.</h3>
			<p>Este es un ejemplo de maquetación de una vista con un tab principal con varias opciones.</p>
			<p>Este ejemplo tiene dos finalidades principales:</p>
			<ul>
				<li>Poder mostrar las posibilidades de MOVA</li>
				<li>Ofrecer al desarrollador una plantilla que le sirva como punto de partida.</li>
			</ul>
			<h3>La navegación entre el detalle y la lista no es igual que la nevageación entre estados de la App.</h3>
				<p>El botón para volver del header sirve para navegar al estado anterior, no para deshacer la nagegación entre elementos de la lista.</p>
				<p>La navegación entre la lista y el detalle se fundamenta en mostrar y ocultar <b>elementos HTML</b> mediante la aplicación de <b>clases CSS</b> a través de <b>código JavaScript</b> presente en el controlador del componente.</p>
				<p>No obstante este es solo un ejemplo de maquetación con una propuesta para facilitar el desarrollo de listas con detalle responsive.</p>
				<p>El desarrollador es libre de alterar el ejemplo mostrado para conseguir el efecto deseado siempre que respete las normás para el desarrollo de Apps con MOVA.</p>
				<p>Es altamente recomendable para el desarrollador prestar atención a los comentarios incluidos en los distintos ficheros que forman el componente <b>app-maquetacion-tab-detalle</b>.</p>
		</mv-container>
	</mv-card>
</mv-screen>
