/*
╔═════════════════════════════════════╗
║ app-maquetacion-tab-detalle-2 style ║
╚═════════════════════════════════════╝
*/
app-maquetacion-tab-detalle-2 {
	
	@include view-style;

	width: 100%;
	height: 100%;
	position: fixed;
  	overflow: auto;

	[class^="app-maquetacion-tab-detalle-mv-container"] {
		margin: 0 0 0 0;
		padding: 0rem 0rem 7rem 0rem;

		&.app-maquetacion-tab-detalle-mv-container-002 {
			padding: 0rem 0.55rem 7rem 0.55rem;
		}

		ol {
			margin: 0 0 0 0;
			padding: 0 0 0 0;
		}

		ul {
			margin: 0 0 0 0;
		}
	}

	.app-maquetacion-tab-detalle-mv-tab {

		// Ajuste de tamaño equitativo de las opciones del tab
		.mv-tab-item {
			width: 33%;
		}
	}
}