<ion-content padding>
  <div class="volver">
    <img (click)="goBack()" src="../../../assets/imgs/volver.png" alt="">
  </div>

  <div class="titulo">
    <p class="titulo-texto">
      <img class="masGestion" src="../../../../assets/imgs/gancho.png" alt="">
      BAQUEROS</p>
  </div>


  <div class="lista-productos">
    <div *ngFor="let productos of items" style="width: 8rem; text-align: initial; margin-bottom: 1.5rem;">
      <img [routerLink]="['/detalles-productos', productos.payload.doc.id]" class="card-img-top" src="{{productos.payload.doc.data().image}}" alt="Card image cap">
      <img  style="margin-left: 1.5rem;     position: absolute;" src="../../../assets/imgs/separacion.png" alt="">
      <div class="card-body">
        <p class="card-title">{{productos.payload.doc.data().nombreProducto}}</p>
        <p class="card-text"><b>Talla</b>&nbsp;{{productos.payload.doc.data().talla}}</p>
        <p class="card-text"><b>Precio</b>&nbsp;{{productos.payload.doc.data().precio}} €</p>
    </div>
    </div>
  </div>



</ion-content>