


        ion-content{

            --background: url("/assets/imgs/principal.jpg") no-repeat fixed center; 
            -webkit-background-size: contain;
            -moz-background-size: contain;
            background-size: contain;
            --background-attachment: fixed;
        }
  
        @media only screen and (min-width:414px){
            ion-content{
                --background: url("/assets/imgs/principalS.jpg") no-repeat fixed center; 
                -webkit-background-size: contain;
                -moz-background-size: contain;
                background-size: contain;
                --background-attachment: fixed;
            }
        }


        @media (min-width:1024px) and (max-width:1920px){
            ion-content{
              --background: url("/assets/imgs/listaPisosDesktop.jpg") no-repeat fixed center; 
              -webkit-background-size: contain;
              -moz-background-size: contain;
              background-size: contain;
              --background-attachment: fixed;
          }  
          }