   
    ion-col{
      text-align: center;
    }
    
    .subtitulo{
     
      font-weight: bold;
      font-family: Rounded Mplus 1c Bold;
      
    }
    .olvido{
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: normal;
    }
    .logo{
      width: 170px;
      height: 170px;
    }
    
    
    .but{
        
            text-decoration: none;
           width:120px;
           height:35px;
            color: #BB1D1D;
            font-weight: bold;
            --background:white;
           /* background-color:#9c3535;pondre color en theme/variables.css*/
            border-radius: 100px 100px 100px 100px !important;
            -moz-border-radius: 62px 66px 62px 78px;
            -webkit-border-radius: 62px 66px 62px 78px;
            text-transform: none;
       
    }



     
    
    .cajatexto{
        text-align: justify;
        outline: none;
        margin: 0 auto;
        width: 90%;
        margin-bottom: 10px;
        height: 35px;
        padding-bottom: 3px;
      background-color: #F9F7F6;
      color: #BB1D1D;
      
     
      border: 0.5px solid rgba(0,0,0,.25);
      border-radius: 62px 66px 62px 78px;
     box-shadow: 0px 2px rgba(0,0,0,.50);
    }
    
    
    
    .iconocaja {
        position: absolute;
        padding: 8px;
        pointer-events: none;
        padding-bottom: 4px;
        margin-left: 5px;
      }
      
      .input_texto{
          margin-left:30px;
          margin-bottom:5px;
         padding: 5px;
          size:50px;
      }
     