
  <ion-content  padding >
    <ion-grid>
       <form [formGroup]="validations_form" (ngSubmit)="tryLogin(validations_form.value)">   
 
     <ion-row  >
        <ion-col> <img src="../../../assets/imgs/logo.png" alt="" class="logo"></ion-col>
     </ion-row>
     <ion-row>
        <ion-col  > <h3 class="subtitulo">Centro<br>Acu 10</h3></ion-col>
     </ion-row>
     <ion-row>
        <ion-col>
                 <div class="cajatexto">
                    <ion-icon name="person" class="iconocaja" ></ion-icon>
                    <ion-input formControlName="email" type="text"   class="input_texto" placeholder="  Email" ></ion-input>
                 </div>
                 <div class="validation-errors">
                   <ng-container *ngFor="let validation of validation_messages.email">
                       <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                         {{ validation.message }}
                     </div>
                 </ng-container>
             </div>
                 
                 <div class="cajatexto" margin-top>
                 <ion-icon name="lock" class="iconocaja"></ion-icon>
                 <ion-input  type="password" formControlName="password" class="input_texto" placeholder="  Contraseña"></ion-input>
                 </div>
                 <div class="validation-errors">
                      <ng-container *ngFor="let validation of validation_messages.password">
                          <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                             {{ validation.message }}
                         </div>
                     </ng-container>
                 </div>
         </ion-col>
     </ion-row>
     <ion-row >
         <div style="width: 100%" text-center>
         <ion-button expand="block" *ngIf="!passReset && validations_form.controls.email.valid" (click)="resetPassword()">Olvidate tu contraseña <br> {{validations_form.value.email}}</ion-button>
         <p *ngIf="passReset" >Reset enviado. Revisa tu email y sigue las instruciones.</p>    
        </div>
     </ion-row>
     <ion-row padding-top>
         <ion-col >
             <ion-button  color="primary" class="but" round type="submit" [disabled]="!validations_form.valid" (click)="presentModal()">Acceder</ion-button>
         </ion-col>
     </ion-row>
 
     </form>
     </ion-grid>
 
 </ion-content>
 