ion-content{
    --background: black;
}

.volver{
    text-align: end;
}

.titulo{
    color: white;
    margin-top: 1rem;
    img{
        padding-right: 0.5rem;
        width: 3rem;
        margin-top: -0.5rem;
        margin-left: -1rem;
    }
    opacity: 0.7;
}

.titulo-texto{
    font-size: larger;
}

form{
    background: white;
    margin-top: 2rem;
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.imgProducto{
    width: 50%;
    height: auto;
    border-radius: 15px;
}

.caja{
    margin-left: 1rem;
    text-align: initial;
}

.nombre{
    padding-top: 1rem;
    font-size: larger;
    color: black;
    letter-spacing: 1px;
    font-weight: bold;
}
b{
    padding-right: 1rem;
}

.comprar{
    border: none;
    margin-bottom: 1rem;
}

.precio{
    font-size: larger;
    color: black;
    letter-spacing: 1px;
    font-weight:800; 
}
button{
    margin-top: 1rem;
    height: 2rem;
    color: white;
    letter-spacing: 1px;
    background: black;
}

//corazon

.corazon{
    float: right;
    position: relative;
    margin-left: -3rem;
}

[id="heart"] {
    position: absolute;
    left: -100vw;
  }
  
  [for="heart"] {
    color: #aab8c2;
    cursor: pointer;
    padding-right: 1rem;
    font-size: 2em;
    align-self: center;  
    transition: color 0.2s ease-in-out;
  }
  
  [for="heart"]:hover {
    color: grey;
  }
  
  [for="heart"]::selection {
    color: none;
    background: transparent;
  }
  
  [for="heart"]::moz-selection {
    color: none;
    background: transparent;
  }
  
  [id="heart"]:checked + label {
    color: #e2264d;
    will-change: font-size;
    animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
  }
  
  
  
  @keyframes heart {0%, 17.5% {font-size: 0;}}
  