<!-- app-example-mova-config-notifications -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaConfigNotifications</h1>
		<br>
		<p>El componente <b>mv.movaConfigNotifications</b> es un componente que permite facilitar las acciones de configuración de las notificaciones Push.</p>
		<p>El componente <b>mv.movaConfigNotifications</b> se utiliza mediante el elemento del DOM <b>&lt;mv-config-notifications>&lt;/mv-config-notifications></b> y el uso de sus atributos.</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('config')" >config</a></li>
			<li><a href="" ng-click="$root.scrollTo('title')" >title</a></li>
			<li><a href="" ng-click="$root.scrollTo('topics')" >topics</a></li>
			<li><a href="" ng-click="$root.scrollTo('topicsNames')" >topics-names</a></li>
		</ul>
	</mv-card>

	<mv-card
		id="ab2str"
		>
		<h3 class="title-3">config</h3>
		<br>
		<p>El atributo <b>config</b> puede recibir los siguientes valores:</p>
		<ul>
			<li>sound</li>
		</ul>
		<p>El valor <b>sound</b> hace que el componente muestre el bloque de configuración del sonido de las notificaciones.</p>
		<p>El bloque se muestra una apariencia y una funcionalidad muy diferente dependiendo de la plataforma en la que se ejecuta la App.</p>
		<p>Para la plataforma <b>Android</b>, se muestra un bloque con una marca para activar o desactivar el sonido de las notificaciones.
		<p>Para la plataforma <b>iOS</b>, se muestra un bloque con unas breves instrucciones y un botón que abre las preferencias nativas de la plataforma para poder configurar las notificaciones.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-config-notifications<br>
				&emsp;&emsp;<b>config="sound"</b><br>
				><br>
				&lt;/mv-config-notifications>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="title"
		>
		<h3 class="title-3">title</h3>
		<br>
		<p>El atributo <b>title</b> recibe un texto que será utilizado como título del bloque de configuración.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-config-notifications<br>
				&emsp;&emsp;<b>title="Suscripción a topics:"</b><br>
				&emsp;&emsp;topics="topic_1;topic_2"<br>
				><br>
				&lt;/mv-config-notifications>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="topics"
		>
		<h3 class="title-3">topics</h3>
		<br>
		<p>El atributo <b>topics</b> debe recibir los nombres simples de los topics de la App separados por <b>;</b> unos de otros.</p>
		<p>El resultado es un bloque que muestra la lista con los topics y sus correspondientes marcas para realizar la suscripción o eliminar la suscripción a cada topic.</p>
		<p>Internamente los nombre de los topics cumplen la nomenclatura del manual, pero por parámetro se pasa solo la parte que indica el nombre del topic, el resto de la nomenclatura se fabrica dependiendo de las variables "appConfig.appModuloFuncional" y "appEnvironment.notEntorno" del componente "app.environment" que a su vez depende del valor del atributo "environment" del nodo "widget" del fichero "config.xml". </p>
		<p>Por ejemplo "mova_app_pro_topic_1" es el nombre interno, pero en el parámetro solo se pasará "topic_1".</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-config-notifications<br>
				&emsp;&emsp;<b>topics="topic_1;topic_2"</b><br>
				><br>
				&lt;/mv-config-notifications>
			</span>
		</code>
	</mv-card>

	<mv-card
		id="topicsNames"
		>
		<h3 class="title-3">topics-names</h3>
		<br>
		<p>El atributo <b>topics-names</b> es opcional y debe recibir los nombres de los topics que se mostrarán en la App al usuario.</p>
		<p>Si no se especifica este atributo los nombres que se mostrarán para cada topic son los nombres complejos que se usan internamente. El usuario puede que conozca los topics por otros nombres más explicativos, por ejemplo un topic llamado "mova_app_pro_topic_1" debería aparecer en la App como "Topic - 1".</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-config-notifications<br>
				&emsp;&emsp;topics="topic_1;topic_2"<br>
				&emsp;&emsp;<b>topics-names="Topic - 1;Topic - 2"</b><br>
				><br>
				&lt;/mv-config-notifications>
			</span>
		</code>
	</mv-card>

</mv-screen>