<!-- app-example-mova-main -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaMain</h1>
		<br>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>El uso de este componente esta restringido al componente <b>app.main</b> que deberá ser configurado con la información de cada App.</p>
		</mv-card>
		<p>Vista inicial de la App.</p>
		<p>Este componente es configurable mediante los siguientes parámetros especiales:</p>
		<ul>
			<li><b>title</b> - Texto que aparece como título, si no se introduce ninguno coge el valor de la variable <b>appSubtitle</b> del componente <b>app.config</b>.</li>
			<li><b>icon</b> - Ruta del icono que aparecerá al lado del título. Si no se especifica nada coge el valor de la variable <b>appLogoAgencia</b> del componente <b>app.config</b>.</li>
			<li><b>button-state</b> - Nombre del estado al que debe navegarse al hacer click en el botón.</li>
			<li><b>change-login</b> - Mostrar enlace para cambiar la forma de login.</li>
			<li><b>auth-text</b> - Texto que aparece como explicación de los modos de autenticación.</li>
			<li><b>auth-modes</b> - Texto para mostrar los modos de autenticación como tal.</li>
		</ul>
	</mv-card>

	<mv-card>
		<h2  class="title-2">Ejemplo de uso HTML</h2>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-main<br>
				&emsp;&emsp;title="Plantilla MOVA"<br>
				&emsp;&emsp;icon="media/images/myIcon.png"<br>
				&emsp;&emsp;button-state="main"<br>
				&emsp;&emsp;change-login=true<br>
				&emsp;&emsp;auth-text="Para acceder debe autenticarse con los medios disponibles en la Comunidad de Madrid"<br>
				&emsp;&emsp;auth-modes="Clave PIN | Certificado Digital o DNI electrónico | Clave Permanente"<br>
				><br>
				&lt;/mv-main>
			</span>
		</code>
	</mv-card>

</mv-screen>
