/*
╔═══════════════════╗
║ mova-screen style ║
╚═══════════════════╝
*/

mv-screen {

	#screenMain {
		width: 100%;
		height: auto;
		min-height: 100%;
		margin: 0 0 0 0;
		padding: 3.4rem 0 0 0; /* Se tiene en cuenta lo que ocupa el header */
	}

	/* Pantalla que bloquea la pantalla cuando se muestra el menu */
	#block-screen {
		background-color: rgba(49, 52, 44, 0.3);
		display: block;
		position: fixed;
		width: 100%;
    	height: 250%; // Ocupar más del espacio visible para evitar bugs de retardo al hacer scroll
    	top: -50%; // Salir por arriba del espacio visible para evitar bugs de retardo al hacer scroll
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		z-index: $z-index_block-screen;
	}

	// Hack para footer flotante, explicado en un comentario en el HTML
	.mv-screen-footer-float-hack {
		background-color: $color-primary-004;

		mv-footer {
			bottom: 5.1rem;
		}
	}

}
