<!-- mova-screen -->

<container>

	<!-- Loading -->
	<mv-loading></mv-loading>

	<!-- Error dialog -->
	<mv-error-dialog></mv-error-dialog>

	<!-- Header -->
	<mv-header
		id="mvHeaderId"
		ng-hide="{{ $ctrl.noHeader }}"
		titulo="{{ $ctrl.titulo }}"
		subtitulo="{{ $ctrl.subtitulo }}"
		show-back="{{ $ctrl.showBack }}"
		show-menu="{{ $ctrl.showMenu }}"
		show-logo="{{ $ctrl.showLogo }}"
		show-subtitle="{{ $ctrl.showSubtitle }}">

	</mv-header>

	<!-- Menu lateral -->
	<mv-menu
		ng-hide="{{ $ctrl.noHeader }}">
		<!--
			¡¡ IMPORTANTE !!
			Se hace referencia a app-menu no a mv-menu ya que el menu debe ser un componente del proveedor.
			Es importante que el componente se llame mediante el elemento HTML <app-menu></app-menu>
			Este componente se inserta dentro del menú lateral.
		-->
		<app-menu></app-menu>
	</mv-menu>

	<!-- Contenedor principal -->
	<div id="block-screen" ng-click="clickBlockScreen()" ng-hide="blockScreenOculta"></div>
	<main id="screenMain"></main>

	<!-- 
	10/10/2018
	Hack para poner color de fondo y que cuando el footer sea flotante se pueda mover hacia arriba 
	y el scroll no se note mucho.
	Esto viene por que por la distribución de los elementos HTML el footer no esta dentro del main, 
	por lo que al ponerlo de forma que continue el flujo de los elementos siempre quedará debajo del
	body y habrá scroll.
	-->
	<div class="mv-screen-footer-float-hack">
		<!-- Footer -->
		<mv-footer
			show-version="{{ $ctrl.showFooterVersion }}"
			show-contact="{{ $ctrl.showFooterContact }}"
			show-legal="{{ $ctrl.showFooterLegal }}"
			ng-class="{true: 'float', false: ''}[$ctrl.floatFooter]"
			ng-hide="{{ $ctrl.noFooter }}">

			<!-- Transclude del componente app-footer -->
			<app-footer></app-footer>

		</mv-footer>
	</div>

</container>
