    
    *{
        margin:0px;
        padding:0px;
    }

    .arrow{
        height: 1.5rem;
        float: right;
        padding-right: 1rem;
    }
  
    //CABEZERA
  
     .contiene .logo{
       font-size: 30px;
       position:absolute;
       bottom: 1px;
       left:10px;
       padding-bottom: 5px;
      }
  
   .contiene .chat{
    position: absolute;
    width:70px;
    height: 70px;
    margin-top: -20px;
    }
  
   .contiene{
           padding-top: 5px;
           padding-bottom: -10px;
           height: 35px;
       
     }

     h4{
         text-align: center;
         margin-top: 10%;
     }


     .pesoIni{
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        color: white;
        background: #15B712;
        width: 70px;
        height: 70px;
        margin-left: 5%;

     }
     .pesoPer{
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        color: white;
        background: #BC1E1E;
        width: 70px;
        height: 70px;
        margin-right: 5%;

     }


     .pesoIni p{
         margin-top: 8px;

     }

     .pesoConsul{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        width: 71px;
        height: 100px;
        margin: 0 auto;
        margin-top: -10%;

     }
     .tconsul{
        font-style: normal;
        font-weight: normal;
        font-size: xx-small;
        margin-bottom: 2px; 
        line-height: normal;
        text-align: center;
     }

     .tconsul strong{
        font-size: xx-small;
     }



     p{
        font-style: normal;
        font-weight: normal;
        font-size: xx-small;
        line-height: 7px;
        text-align: center;
         margin-top: 10px;
     }

     .pesoObj{
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        color: white;
        background: #15B712;
        width: 70px;
        height: 70px;
        margin-left: 12%;

     }


     .pesoEst{
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        color: white;
        background: #BC1E1E;
        width: 70px;
        height: 70px;
        margin-right: 10%;

     }

    .pesoEst .obje{
        margin-top: -1px;
    }
    .pesoEst .obje1{
        margin-top: -4px;
    }


    .agregar{
        --border-radius: 20px;
        --border: 1px solid #C4C4C4;
        --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 0 auto;
    }


    .cont{
        height: 25px; 
        display:flex; 
        text-align: center;
        margin: 0 auto;
        justify-content: center;
    }

    .pesoIde{
        background: green;
        width: 30%;
        color: #FFFFFF;
        font-size: xx-small;
        font-style: bold;
        font-weight: bold;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    .sobrePe{

        background: orange;
        width: 30%;
        font-size: xx-small;
        color: #FFFFFF;
        font-style: bold;
        font-weight: bold;
    }
    .obe{
       
        font-size: xx-small;
        background: red;
        width: 30%;
        color: #FFFFFF;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        font-style: bold;
        font-weight: bold;
    }

    .centrado {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
      }

.progress{
    width: 80%;
    position: static;
    height: 0.6rem;
}

progress[value]::-webkit-progress-value {
    background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, #09c, #f44);
  
      border-radius: 2px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
  }

  .progres{
    margin-top: 3rem;
    width: 90%;
    margin-bottom: 3rem;
    background: aquamarine;
  }