<ion-content>

    <app-header class="phone-header"></app-header>

    <div class="grid" padding style="margin-bottom:3rem">
        <div class="row">
            <div *ngFor="let item of textos" class="col-12">

                <h1 text-center class="mx-auto mt-3" style="color: white;">{{item.titulo}} </h1>

                <p style="color: white;" text-center>{{item.textoPrincipal}}</p>

                <h2 text-center class="mx-auto" style="color: white;">Equipo somosC</h2>

                <div class="departamento-1">


                    <div class="card-group" padding>
                        <div class="card fondo1">
                            <img text-center class="card-img-top mx-auto" style="width: 250px;height: 250px; margin-top: 1rem;" src="../../../assets/img/chica.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

                            </div>
                        </div>
                        <div class="card fondo2">
                            <img class="card-img-top mx-auto" style="width: 250px;height: 250px; margin-top: 1rem;" src="../../../assets/img/chica.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

                            </div>
                        </div>
                        <div class="card fondo3 ">
                            <img class="card-img-top mx-auto" style="width: 250px;height: 250px; margin-top: 1rem;" src="../../../assets/img/chica.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>

                            </div>
                        </div>
                        <div class="card fondo4">
                            <img class="card-img-top mx-auto" style="width: 250px;height: 250px; margin-top: 1rem;" src="../../../assets/img/chica.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>

                            </div>
                        </div>
                    </div>




                </div>
                <div class="departamento-2">

                    <div class="card-group" padding>
                        <div class="card fondo1">
                            <img text-center class="card-img-top mx-auto" style="width: 250px;height: 250px; margin-top: 1rem;" src="../../../assets/img/chica.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

                            </div>
                        </div>
                        <div class="card fondo2">
                            <img class="card-img-top mx-auto" style="width: 250px;height: 250px; margin-top: 1rem;" src="../../../assets/img/chica.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

                            </div>
                        </div>
                        <div class="card fondo3 ">
                            <img class="card-img-top mx-auto" style="width: 250px;height: 250px; margin-top: 1rem;" src="../../../assets/img/chica.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card fondo4">
                            <img class="card-img-top mx-auto" style="width: 250px;height: 250px; margin-top: 1rem;" src="../../../assets/img/chica.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </div>
    </div>
    <app-formulario></app-formulario>
    <ion-fab class="subir" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary" (click)="scrollContent('top')">
            <ion-icon color="light" name="arrow-up"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <app-footer-nuevo></app-footer-nuevo>

</ion-content>
<ion-footer>
    <app-footer></app-footer>
</ion-footer>