ion-content {
    --background: black;
}

.fondo1 {
    background: url(../../../assets/img/equipo2.jpg);
    background-size: cover;
}

.fondo2 {
    background: url(../../../assets/img/equipo4.jpg);
    background-size: cover;
}

.fondo3 {
    background: url(../../../assets/img/equipo3.jpg);
    background-size: cover;
}

.fondo4 {
    background: url(../../../assets/img/equipo1.jpg);
    background-size: cover;
}

.fondo5 {
    background: url(../../../assets/img/equipo5.jpg);
    background-size: cover;
}

.card-body {
    color: white;
}

.footer-desk {
    padding-top: 1.5rem;
    margin-bottom: 2rem;
    a {
        text-decoration: none;
        color: white;
    }
    .tel {
        color: white;
        text-align: initial;
        font-size: 10px;
    }
}

.what {
    margin-right: 1rem;
    margin-top: -2rem;
}

.subir {
    margin-bottom: 5rem;
    margin-right: 1rem;
}

.subir:focus {
    border: none;
}

@media (min-width: 900px) and (max-width: 1920px) {
    .what {
        display: none;
    }
    .footer-desk {
        display: block;
        padding-top: 1.5rem;
        margin-bottom: 4rem;
        a {
            text-decoration: none;
            color: white;
            cursor: pointer;
        }
    }
}