
<ion-content>
    <app-header [tituloHeader]="textHeader"></app-header>

  <div class="alq" text-center>
    <h5>ALQUILER ACTUAL</h5>
  </div>
  <form style="font-family: Comfortaa" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <div>
      <ion-slides pager="true" [options]="slidesOpts">
        <ion-slide *ngFor="let img of imageResponse">
          <img src="{{img}}" alt="" srcset="">
        </ion-slide>
      </ion-slides>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <p>
            <b><img class="icono" src="../../../assets/icon/Ubicación.png" alt="">Dirección: </b> <a
              href="https://maps.google.com/maps?q=+{{this.item.calle}}">{{this.item.calle}}</a>
          </p>
        </ion-col>

        <ion-col size="12">
          <p>
            <b> <img class="icono" src="../../../assets/icon/Planta.png" alt="">Planta: </b>{{this.item.planta}}</p>
        </ion-col>

        <ion-col size="12">
          <p>
            <b> <img class="icono" src="../../../assets/icon/Metros2.png" alt="">m2: </b>{{this.item.metrosQuadrados}}
          </p>
        </ion-col>
        <ion-col size="12">
          <p>
            <b> <img class="icono" src="../../../assets/icon/Amueblado.png" alt="">
              Descripción: </b></p>
        </ion-col>
        <ion-col size="12">
          <p>{{this.item.amueblado}}</p>
        </ion-col>

        <ion-col size="12">
          <p>
            <b> <img class="icono" src="../../../assets/icon/CAMA.png" alt="">
              Nº habitaciones: </b>{{this.item.numeroHabitaciones}}</p>
        </ion-col>

        <ion-col size="12">
          <p>
            <b><img class="icono" src="../../../assets/icon/Bañera.png" alt="">
              Baños: </b> {{this.item.banos}}</p>
        </ion-col>

        <ion-col size="12">
          <p>
            <b><img class="icono" src="../../../assets/icon/Fianza.png" alt="">
              Meses de Fianza: </b>{{this.item.mesesFianza}}</p>
        </ion-col>
        <ion-col size="12">
          <p>
            <b><img class="icono" src="../../../assets/icon/Alquiler.png" alt="">
              Alquiler: </b>{{this.item.costoAlquiler}}€</p>
        </ion-col>
        <ion-col size="12">
          <p>
            <b><img class="icono" src="../../../assets/icon/Ascensor.png" alt="">
              Acensor: </b>{{this.item.acensor}}</p>
        </ion-col>
        <ion-col size="12">
          <div >
            <p>Arrendador ID</p>
            <p text-center style="font-size: small;">
              <input style="text-align: center" readonly="true" class="id" #uid type="text" value="{{this.item.arrendadorId}}" id="uid"/>
            </p>
              <ion-icon class="icon" color="primary" size="small" name="copy" (click)="copy(uid)"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>