ion-content{
    --background: white;
}

.alq{
    background: white;
    margin-top: 1rem;
    height: 2rem;
    /* border-bottom: 1px solid; */
    padding-top: 0.2rem;
    margin-bottom: 0.5rem;
}

b{
    margin-right: 1rem;
    padding-left: 1rem;
    font-size: 15px;
}





p{
    text-align: initial;
    margin-right: 1rem;
    font-size: 18px;
}

.sticker{
    padding-right: 1rem;
    padding-left: 1rem;
}

.regresar{
    width: 8rem;
    border-radius: 25px;
    background: white;
    height: 2rem;
    font-size: 1.1rem;
    margin-top: 4rem;
}

.id{
    width: 90%;
    border: none;
    text-align: initial;
}

.icon{
    float: right;
    margin-top: -2.5rem;
    padding-right: 2.5rem;
}