<!-- app-pantalla3 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	float-footer="{{ screen.floatFooter }}"
	show-back="{{ screen.showBack }}"
	show-menu="{{ screen.showMenu }}"
	show-logo="{{ screen.showLogo }}"
	show-subtitle="{{ screen.showSubtitle }}">

	<mv-container id="prev" class="app-main-menu-mv-card-main">

			<h2 id="h2Prev">Formación</h2>

			<table style="margin-left:-45px;">
				<thead>
					<tr>
						<th>Actividades<br/>docentes (a)</th>
						<th>Nº de<br/>plazas</th>
						<th>Dirigido<br/>a (b)</th>
						<th>Nº de<br/>horas</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>Aula Fuenfría: XVII Jornada de otoño</td>
						<td>80</td>
						<td>3,4</td>
						<td>6</td>
					</tr>
					<tr>
						<td>IV Jornada de Fisioterapia</td>
						<td>60</td>
						<td>3,4</td>
						<td>6</td>
					</tr>
					<tr>
						<td>III Jornada de Ortogeriatría</td>
						<td>60</td>
						<td>3,4</td>
						<td>6</td>
					</tr>
					<tr>
						<td>RCP-SVB (básica) (Ed. I)</td>
						<td>15</td>
						<td>2,4</td>
						<td>6</td>
					</tr>
					<tr>
						<td>RCP-SVB (básica) (Ed. II)</td>
						<td>15</td>
						<td>Todas</td>
						<td>6</td>
					</tr>
					<tr>
						<td>Mindfulness (Ed. I)</td>
						<td>20</td>
						<td>Todas</td>
						<td>18</td>
					</tr>
					<tr>
						<td>Vendajes y apósitos</td>
						<td>20</td>
						<td>2,4</td>
						<td>10</td>
					</tr>
					<tr>
						<td>Actualización atención global en el<br/>paciente amputado</td>
						<td>20</td>
						<td>4</td>
						<td>10</td>
					</tr>
					<tr>
						<td>Comunicación y resolución de<br/>conflictos con pacientes y<br/>familiares</td>
						<td>20</td>
						<td>3,4</td>
						<td>15</td>
					</tr>
					<tr>
						<td>Nutrición y dietas terapéuticas</td>
						<td>20</td>
						<td>Todas</td>
						<td>6</td>
					</tr>
					<tr>
						<td>Resolución<br/>de conflictos</td>
						<td>20</td>
						<td>6</td>
						<td>20</td>
					</tr>
					<tr>
						<td>Gestión del duelo</td>
						<td>20</td>
						<td>Todas</td>
						<td>15</td>
					</tr>
				</tbody>
			</table>

			<br/><br/>

			<h2>(b) Categoría del personal al que se dirige:</h2>

			<ul>
				<li>Médicos (1)</li>
				<li>Enfermería (2)</li>
				<li>Médicos y enfermería (3)</li>
				<li>Otros profesionales sanitarios (4)</li>
				<li>Profesionales no sanitarios (5)</li>
				<li>Profesionales sanitarios y no sanitarios (6)</li>
			</ul>
			
	</mv-container>

	

</mv-screen>
