/*
╔═════════════════╗
║ mova-grid style ║
╚═════════════════╝
*/

section {
	&.mv-grid {

	}

	&.mv-grid-default-style {

		background-color: transparent;
		margin: 0.95rem 0.95rem 0.95rem 0.95rem;
		padding: 0 0 0 0;

		main {

			overflow-x:auto;

			table {

				width: 100%;

				.mv-grid-title-tr {

					background-color: $color-secondary-009;

					.mv-grid-title-td {

						color: $color-primary-003;
					}

					td {
						@include mx-truncate();
					}
				}

				tr {

					background-color: $color-secondary-011;

					td {
						width: 25%;
						padding: 0.45rem;
						border: 1pt solid $color-primary-003;

						&.mv-grid-title-td-hide {

							display: none;
						}

						&.mv-grid-content-monoline {

							@include mx-truncate();
						}
					}
				}
			}
		}

		/*
		Estilos de type
		*/

		&.grid-flat {

			main {

				table {

					border: none;

					.mv-grid-title-tr {

						td {

							height: 2rem;
						}
					}
				}

				tr {

					border-bottom: solid thin $color-secondary-009;

					td {
						border: none;

						height: 3rem;

						&.mv-grid-title-td-hide {

						}

						&.mv-grid-content-monoline {

						}
					}
				}
			}
		}
	}

	&.shadow {
		@include mx-shadow();
	}
}

/*
┌──────────────────┐
│ Bootstrap col-xs │
└──────────────────┘
*/

@media only screen and (max-width : $media-col-xs-max) {
	section {

		// Estilo especial para mostrar <tr> como formulario
		&.mv-grid-allow-form {

			&.mv-grid-default-style {

				main {

					overflow-x:hidden;

					table {

						.mv-grid-title-tr {

							display: none;

							.mv-grid-title-td {

							}
						}

						tr {

							display: flex;
							flex-direction: row;
							flex-wrap: wrap;
							margin-bottom: 10px;
							border: 1pt solid $color-primary-003;
							border-top: none;

							td {

								display: inline-block;
								border: none;
								border-top: 1pt solid $color-primary-003;

								&.mv-grid-title-td-hide {

									background-color: $color-secondary-009;
									display: inline-block;
									width: 30%;
									border-right: 1pt solid $color-primary-003;

									&.mv-grid-card-type-form-truncate-title-style {

										@include mx-truncate();
									}
								}
							}

							td:nth-child(even) {

								width: 70%;
							}
						}
					}
				}

				&.grid-flat {

					main {

						table {

							border: none;

							.mv-grid-title-tr {
								td {
									height: 2rem;
								}
							}
						}

						tr {
							border-top: none;
							border-right: none;
							border-left: none;
							border-bottom: solid thin $color-secondary-009;

							td {
								border: none;
								height: 3rem;

								&.mv-grid-title-td-hide {
									border-right: none;
								}

								&.mv-grid-content-monoline {

								}
							}
						}
					}
				}
			}

			&.shadow {

				@include mx-no-shadow();

				main {
					// para poder ver la sombra lateral
					padding-right: 0.2rem;

					table {

						tr {
							@include mx-shadow();
						}
					}
				}
			}
		}

		// Estilo especial para mostrar <tr> como card
		&.mv-grid-allow-card {

			&.mv-grid-default-style {

				main {

					table {

						.mv-grid-title-tr {

							display: none;

							.mv-grid-title-td {

							}
						}

						tr {

							display: block;
							margin-bottom: 10px;
							border: 1pt solid $color-primary-003;

							td {

								display: block;
								width: 100%;
								border: none;

								&.mv-grid-title-td-hide {

									background-color: $color-secondary-009;
									display: block;
								}
							}
						}
					}
				}
			}

			&.shadow {

				@include mx-no-shadow();

				main {
					// para poder ver la sombra lateral
					padding-right: 0.2rem;

					table {

						tr {
							@include mx-shadow();
						}
					}
				}
			}
		}
	}
}
