/*
╔═════════════════╗
║ mova-menu style ║
╚═════════════════╝
*/

mv-menu {
	background-color: $color-secondary-009;
	display: inline-block;
	position: fixed;
	width: auto;
	min-width: 18rem;
	height: 100%;
	margin: 0 0 0 0; /* Espacio necesario para no tapar el header */
	padding: 3.5em 0 0 0;
	left: 0;
	border-right: solid thin $color-secondary-007;
	z-index: $z-index_menu;
  	overflow: auto;
  	-webkit-animation-duration: 450ms !important;
    animation-duration: 450ms !important;
}
