header{
    background: #26a6ff;
    height: 2rem;
}


h4{
    //text-shadow: 1px 1px whitesmoke;
    //padding-top: 1rem;
    color: white;
    padding-top: 0.3rem;
    position: relative;
    font-size: larger;
    /* background: black; */
    width: 70%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    margin-left: 15%;
    padding-bottom: 0.3rem;
    font-weight: bold;
    text-transform: uppercase;
}


.image{
    float: left;
    position: relative;
    margin-top: -2rem;
    height: 1rem;
    padding-left: 0.5rem;
}

.arrow{
       float: left;
    position: relative;
    margin-top: -2rem;
    height: 1rem;
    padding-left: 0.5rem;
}

