<!-- app-pantalla17 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	float-footer="{{ screen.floatFooter }}"
	show-back="{{ screen.showBack }}"
	show-menu="{{ screen.showMenu }}"
	show-logo="{{ screen.showLogo }}"
	show-subtitle="{{ screen.showSubtitle }}">

	<mv-container class="app-main-menu-mv-card-main">

			<h2 id="dir">
					  Directorio
					</h2>
					<mv-burguer title="Planta Sótano 1"
			  bg-color="#FFFFFF"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
			      <table align="center" id="sot">
					<thead>
						<tr>
							<th align="center">Unidad</th>
							<th align="center">Lugar</th>
							<th align="center">Horario</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td align="left"><strong>Farmacia</strong></td>
							<td align="left"></td>
							<td align="left"></td>
						</tr>
					</tbody>
				</table>
			  </mv-burguer>
					<mv-burguer title="Planta Baja"
					  bg-color="#FFFFFF"
					  title-color="#155DB3"
					init-collapsed="true"
					    >
					      <table align="center">
		
							<thead>
								<tr>
									<th align="center">Unidad</th>
									<th align="center">Lugar</th>
									<th align="center">Horario</th>
								</tr>
							</thead>
		
							<tbody>
								<tr>
									<td align="left"><strong>Admisión <br/>y
									Documen-<br/>
									tación<br/>
									Clínica</strong></td>
									<td align="left">Admisiones</td>
									<td align="left">Lunes a viernes<br/>
									de 13:00 a 14:00</td>
								</tr>
								<tr>
									<td align="left"><strong>Atención <br/>al<br/>
									Paciente</strong></td>
									<td align="left">Despacho SAP<br/>
									</td>
									<td align="left">Lunes a domingo<br/>
									de 08:00 a 21:00<br/>
									excepto julio,<br/>
									agosto y<br/>
									septiembre de<br/>
									08:00 a 15:00</td>
								</tr>
								<tr>
									<td align="left"><strong>Trabajo <br/> Social</strong></td>
									<td align="left">Despacho UTS</td>
									<td align="left">Lunes a viernes<br/>
										de 11:00 a 13:30<br/>
										con cita previa</td>
								</tr>
								<tr>
									<td align="left"><strong>Radio<br/>
										diagnóstico</strong></td>
									<td align="left"></td>
									<td align="left"></td>
								</tr>
							</tbody>
						</table>
		
					  </mv-burguer>
			  <mv-burguer title="1ra. Planta"
			  bg-color="#FFFFFF"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
			<table align="center">

					<thead>
						<tr>
							<th align="center">Unidad</th>
							<th align="center">Lugar</th>
							<th align="center">Horario</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td align="left"><strong>HOS 1</strong></td>
							<td align="left">Despacho médico</td>
							<td align="left">Laborables<br/>
							Lunes a viernes<br/>
							de 13:00 a 14:00</td>
						</tr>
						<tr>
							<td align="left"><strong>Rehabili-<br/>tación</strong></td>
							<td align="left">Despacho médico</td>
							<td align="left">Laborables<br/>
							Lunes a viernes<br/>
							de 12:00 a 13:00</td>
						</tr>
					</tbody>

				</table>
			  </mv-burguer>
			
			  <mv-burguer title="2da. Planta"
			  bg-color="#FFFFFF"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
			      <table align="center">

					<thead>
						<tr>
							<th align="center">Unidad</th>
							<th align="center">Lugar</th>
							<th align="center">Horario</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td align="left"><strong>HOS 3</strong></td>
							<td align="left">Despacho <br/>médico</td>
							<td align="left">Laborables<br/>
							Lunes a viernes<br/>
							de 13:00 a 14:00</td>
						</tr>
					</tbody>
				</table>
		 	 </mv-burguer>
		<mv-burguer title="3ra. Planta"
		  bg-color="#FFFFFF"
		  title-color="#155DB3"
		init-collapsed="true"
		    >
		<table align="center">

				<thead>
					<tr>
						<th align="center">Unidad</th>
						<th align="center">Lugar</th>
						<th align="center">Horario</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td align="left"><strong>HOS 1</strong></td>
						<td align="left">Despacho médico</td>
						<td align="left">Laborables<br/>
						Lunes a viernes<br/>
						de 13:00 a 14:00</td>
					</tr>
					<tr>
						<td align="left"><strong>Rehabili-<br/>tación</strong></td>
						<td align="left">Despacho médico</td>
						<td align="left">Laborables<br/>
						Lunes a viernes<br/>
						de 12:00 a 13:00</td>
					</tr>
					<tr>
						<td align="left"><strong>Neuro-<br/>
							psicología</strong></td>
						<td align="left">Despacho de neuro-<br/>
							psicología</td>
						<td align="left">Laborables<br/>
						Lunes a viernes<br/>
						de 12:00 a 13:00</td>
					</tr>
				</tbody>
			</table>
		  </mv-burguer>
		<mv-burguer title="4ra. Planta"
			  bg-color="#FFFFFF"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
			      <table align="center">

					<thead>
						<tr>
							<th align="center">Unidad</th>
							<th align="center">Lugar</th>
							<th align="center">Horario</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td align="left"><strong>HOS 4</strong></td>
							<td align="left">Despacho <br/> médico</td>
							<td align="left">Laborables<br/>
							Lunes a viernes<br/>
							de 13:00 a 14:00</td>
						</tr>
						<tr>
							<td align="left"><strong>Psicología<br/>
							Clínica</strong></td>
							<td align="left">Despacho de<br/>
							psicología<br/>
							clínica</td>
							<td align="left">Laborables<br/>
							Lunes a viernes<br/>
							de 13:00 a 14:00</td>
						</tr>
						<tr>
							<td align="left"><strong>Tele-<br/>medicina</strong></td>
							<td align="left"></td>
							<td align="left"></td>
						</tr>
					</tbody>
				</table>
			  </mv-burguer>

			<!--<h2 id="dir">
					  Directorio
					</h2>

		<mv-container-item>

				<table align="center">

					<thead>
						<tr>
							<th class="planta" colspan="3">1RA. PLANTA</th>
						</tr>
						<tr>
							<th align="center">Unidad</th>
							<th align="center">Lugar</th>
							<th align="center">Horario</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td align="left"><strong>HOS 1</strong></td>
							<td align="left">Despacho médico</td>
							<td align="left">Laborables<br/>
							Lunes a viernes<br/>
							de 13:00 a 14:00</td>
						</tr>
						<tr>
							<td align="left"><strong>Rehabilitación</strong></td>
							<td align="left">Despacho médico</td>
							<td align="left">Laborables<br/>
							Lunes a viernes<br/>
							de 12:00 a 13:00</td>
						</tr>
					</tbody>

				</table>
				<br/>
				<br/>
				<table align="center">

						<thead>
							<tr>
								<th class="planta" colspan="3">3RA. PLANTA</th>
							</tr>
							<tr>
								<th align="center">Unidad</th>
								<th align="center">Lugar</th>
								<th align="center">Horario</th>
							</tr>
						</thead>
	
						<tbody>
							<tr>
								<td align="left"><strong>HOS 1</strong></td>
								<td align="left">Despacho médico</td>
								<td align="left">Laborables<br/>
								Lunes a viernes<br/>
								de 13:00 a 14:00</td>
							</tr>
							<tr>
								<td align="left"><strong>Rehabilitación</strong></td>
								<td align="left">Despacho médico</td>
								<td align="left">Laborables<br/>
								Lunes a viernes<br/>
								de 12:00 a 13:00</td>
							</tr>
							<tr>
								<td align="left"><strong>Neuro-<br/>
									psicología</strong></td>
								<td align="left">Despacho de neuro-<br/>
									psicología</td>
								<td align="left">Laborables<br/>
								Lunes a viernes<br/>
								de 12:00 a 13:00</td>
							</tr>
						</tbody>
					</table>

					<table align="center">

							<thead>
								<tr>
									<th class="planta" colspan="3">2DA. PLANTA</th>
								</tr>
								<tr>
									<th align="center">Unidad</th>
									<th align="center">Lugar</th>
									<th align="center">Horario</th>
								</tr>
							</thead>
		
							<tbody>
								<tr>
									<td align="left"><strong>HOS 3</strong></td>
									<td align="left">Despacho médico</td>
									<td align="left">Laborables<br/>
									Lunes a viernes<br/>
									de 13:00 a 14:00</td>
								</tr>
							</tbody>
						</table>

						<table align="center">

								<thead>
									<tr>
										<th class="planta" colspan="3">1RA. PLANTA</th>
									</tr>
									<tr>
										<th align="center">Unidad</th>
										<th align="center">Lugar</th>
										<th align="center">Horario</th>
									</tr>
								</thead>
			
								<tbody>
									<tr>
										<td align="left"><strong>HOS 4</strong></td>
										<td align="left">Despacho médico</td>
										<td align="left">Laborables<br/>
										Lunes a viernes<br/>
										de 13:00 a 14:00</td>
									</tr>
									<tr>
										<td align="left"><strong>Psicología<br/>
										Clínica</strong></td>
										<td align="left">Despacho de<br/>
										psicología<br/>
										clínica</td>
										<td align="left">Laborables<br/>
										Lunes a viernes<br/>
										de 13:00 a 14:00</td>
									</tr>
									<tr>
										<td align="left"><strong>Telemedicina</strong></td>
										<td align="left"></td>
										<td align="left"></td>
									</tr>
								</tbody>
							</table>
							
							<br/>

							<table align="center">

									<thead>
										<tr>
											<th class="planta" colspan="3">PLANTA BAJA</th>
										</tr>
										<tr>
											<th align="center">Unidad</th>
											<th align="center">Lugar</th>
											<th align="center">Horario</th>
										</tr>
									</thead>
				
									<tbody>
										<tr>
											<td align="left"><strong>Admisión y<br/>
											Docu-<br/>
											mentación<br/>
											Clínica</strong></td>
											<td align="left">Admisiones</td>
											<td align="left">Lunes a viernes<br/>
											de 13:00 a 14:00</td>
										</tr>
										<tr>
											<td align="left"><strong>Atención al<br/>
											Paciente</strong></td>
											<td align="left">Despacho SAP<br/>
											</td>
											<td align="left">Lunes a domingo<br/>
											de 08:00 a 21:00<br/>
											excepto julio,<br/>
											agosto y<br/>
											septiembre de<br/>
											08:00 a 15:00</td>
										</tr>
										<tr>
											<td align="left"><strong>Trabajo Social</strong></td>
											<td align="left">Despacho UTS</td>
											<td align="left">Lunes a viernes<br/>
												de 11:00 a 13:30<br/>
												con cita previa</td>
										</tr>
										<tr>
											<td align="left"><strong>Radio-<br/>
												diagnóstico</strong></td>
											<td align="left"></td>
											<td align="left"></td>
										</tr>
									</tbody>
								</table>

								<br/>
								
								<table align="center" id="sot">
										<thead>
											<tr>
												<th class="planta" colspan="3">PLANTA SÓTANO 1</th>
											</tr>
											<tr>
												<th align="center">Unidad</th>
												<th align="center">Lugar</th>
												<th align="center">Horario</th>
											</tr>
										</thead>
					
										<tbody>
											<tr>
												<td align="left"><strong>Farmacia</strong></td>
												<td align="left"></td>
												<td align="left"></td>
											</tr>
										</tbody>
									</table>
			
		</mv-container-item>-->

	</mv-container>

</mv-screen>