<app-cabecera [titulohead]="tituhead"></app-cabecera>
<!-- <ion-buttons slot="end">
        <ion-back-button text="" color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-content *ngIf="isAdmin === true" padding>

      --> 
<ion-content padding>
    <form  [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
      <!--
        <ion-col col-4>
          <ion-button  (click)="openImagePicker()" class="botones" round>
          <img src="../../../assets/imgs/bot_cliente_seguimiento/fotoacu.png" class="boton">Tomar Foto
        </ion-button> 
      </ion-col>-->
      <ion-col col-4>
        <ion-button expand="block" (click)="getPicture()">Toma una foto</ion-button>
        <img [src]="image" *ngIf="image" />
      </ion-col>
      <ion-col text-center col-4>
          <ion-input formControlName="nombre" placeholder="Nombre de Paciente"></ion-input>
          <hr>
          <div>
          <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" formControlName="fecha" placeholder="Fecha de Consulta" cancel-text="Cancerlar" done-text="Aceptar"></ion-datetime>
        </div>
          <div text-center>
              <ion-button type="submit" [disabled]="!validations_form.valid">Crear Historial Físico</ion-button>
          </div>   
      </ion-col>
  
    </form>

</ion-content>
