<!-- app-example-mova-login -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaLogin</h1>
		<br>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>Este componente permite activar la entrada a la aplicación por medio de un usuario y una contraseña.</p>
			<p>Este componente utiliza el servicio dameToken.</p>
			<p>Existe otro componente, <a href="#!/example-mova-broker-identidades"><b>mv.movaBrokerId</b></a>, para acceder mediante <b>Autologin</b> a través del Broker de identidades.</p>
			<p>Una vez configurado este componente si una aplicación accede a una URL segura se redirige a la página de login.</p>
		</mv-card>
		<p>Este componente se encarga del logado del usuario mediante su usuario y contraseña.</p>
		<p>Este componente es configurable mediante las siguientes variables del componente <b>app.config</b>:</p>
		<ul>
			<li><b>loginTokenValidez</b> - Permite establecer un tiempo máximo de validez del token. El valor por defecto es de 604800000 milisegundos, una semana.</li>
			<li><b>loginPath</b> - Es el estado al que debe redirigirse al usuario para que realice el login, para este componente su valor debe ser 'login'.</li>
			<li><b>loginPathCorrecto</b> - Es el estado al que debe redirigirse al usuario en caso de login correcto.</li>
			<li><b>loginSisAuth</b> - Sistema de autenticación, suele ser 'Internet' o 'Intranet'.</li>
		</ul>
		<code>
			<badge>app-config.package.js</badge>
			<span>
				...<br>
				loginTokenValidez: 604800000,<br>
				loginPath: 'login',<br>
				loginPathCorrecto: 'main',<br>
				loginSisAuth: 'Intranet',<br>
				...<br>
			</span>
		</code>
		<p>Este componente ofrece los siguientes métodos a través del servicio <b>mvLoginService</b>:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('confirmaIdDispositivo')" >confirmaIdDispositivo</a></li>
			<li><a href="" ng-click="$root.scrollTo('isLogin')" >isLogin</a></li>
			<li><a href="" ng-click="$root.scrollTo('login')" >login</a></li>
			<li><a href="" ng-click="$root.scrollTo('loginRedirect')" >loginRedirect</a></li>
			<li><a href="" ng-click="$root.scrollTo('logout')" >logout</a></li>
			<li><a href="" ng-click="$root.scrollTo('saveMovaToken')" >saveMovaToken</a></li>
		</ul>
	</mv-card>
		
	<mv-card
		id="confirmaIdDispositivo"
		>
		<h3 class="title-3">confirmaIdDispositivo</h3>
		<br>
		<p>La método <b>confirmaIdDispositivo</b> confirmar que el dispositivo es el correcto para las notificaciones y genera en el localStorage la variable <b>MovaNotificacionesIdDispositivo</b> que contiene el id del dispositivo.</p>
		<p>También realiza la asignación de un usuario a un identificador dle dispositivo.</p>
	</mv-card>
		
	<mv-card
		id="isLogin"
		>
		<h3 class="title-3">isLogin</h3>
		<br>
		<p>La método <b>isLogin</b> devuelve true o false dependiendo de si hay algún usuario logado en ese momento en la App.</p>
	</mv-card>
		
	<mv-card
		id="login"
		>
		<h3 class="title-3">login</h3>
		<br>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>Este método es privado y su uso está limitado al propio componente <b>mv.movaBrokerId</b>.</p>
		</mv-card>
		<p>La método <b>login</b> realiza la autenticación del usuario, esta autenticación consiste en conseguir un token válido.</p>
		<p>Este método acepta los siguientes parámetros:</p>
		<ul>
			<li><b>usuario</b> - Nombre de usuario.</li>
			<li><b>password</b> - Contraseña del usuario.</li>
			<li><b>info</b> - Información adicional, por defecto en blanco.</li>
		</ul>
		<code>
			<badge>JavaScript</badge>
			<span>
				login('usuario', 'password', info);
			</span>
		</code>
	</mv-card>
		
	<mv-card
		id="loginRedirect"
		>
		<h3 class="title-3">loginRedirect</h3>
		<br>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>Este método es privado y su uso está limitado al propio componente <b>mv.movaBrokerId</b>.</p>
		</mv-card>
		<p>La método <b>loginRedirect</b> realiza la redirección después de hacer login correcto.</p>
		<p>El parámetro stateToGo es el nombre del estado al que debe redirigirse.</p>
		<p>El parámetro stateToGoParams es un JSON con los parámetros que puede o no llevar.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				loginRedirect(stateToGo, stateToGoParams);
			</span>
		</code>
	</mv-card>
		
	<mv-card
		id="logout"
		>
		<h3 class="title-3">logout</h3>
		<br>
		<p>La método <b>logout</b> elimina del localStorage las variables <b>MovaToken</b> y <b>MovaBrokerSesion</b>.</p>
	</mv-card>
		
	<mv-card
		id="saveMovaToken"
		>
		<h3 class="title-3">saveMovaToken</h3>
		<br>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>Este método es privado y su uso está limitado al propio componente <b>mv.movaBrokerId</b>.</p>
		</mv-card>
		<p>La método <b>saveMovaToken</b> centraliza la creación de la información del objeto <b>MovaToken</b> en el localStorage.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				saveMovaToken('token-xxx-xxx-xxx', 'usuario');
			</span>
		</code>
		<p>La estructura del objeto almacenado en local es la siguiente.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				{<br>
				&emsp;&emsp;movaToken: "7338866e-9164-404b-8a7e-379755513275",<br>
				&emsp;&emsp;movaTokenFecha: 1528355925739,<br>
				&emsp;&emsp;movaTokenUser: "11852299P",<br>
				&emsp;&emsp;movaTokenFechaValidez: "2018-06-14T07:18:45.739Z",<br>
				}<br>
			</span>
		</code>
	</mv-card>

</mv-screen>