<app-cabecera [titulohead]="tituhead"></app-cabecera>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <div (click)="historialesClinicos()" class="bot bot_irHistoryClinico">
          <img src="../../../assets/imgs/bot_cliente_seguimiento/historialClinico.png">
          <p>Historial Clínico </p>
        </div>
      </ion-col>
      <ion-col col-4>
        <div routerLink="/cliente-seguimiento-user" class="bot bot_seguimiento">
          <img src="../../../assets/imgs/bot_cliente_seguimiento/seguimiento.png">
          <p>Seguimiento</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <div routerLink="/lista-historial-dietetico-user" class="bot bot_dietetico">
          <img src="../../../assets/imgs/bot_cliente_seguimiento/historialDietetico.png">
          <p>Historial Dietetíco</p>
        </div>
      </ion-col>
      <ion-col col-4>
        <div routerLink="/gestion-citas-user" class="bot bot_citas">
          <img src="../../../assets/imgs/bot_cliente_seguimiento/gestioncitas.png">
          <p>Gestión de citas</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <div routerLink="/historial-fisico-user" class="bot bot_citas">
          <img src="../../../assets/imgs/bot_cliente_seguimiento/fotoacu.png" style="margin-bottom: 30px;width: 70%;margin-top: 1rem;">
          <p style="margin-top: -2.5rem;">Historial Físico </p>
        </div>
      </ion-col>
      <ion-col col-4>
        <div routerLink="/lista-pacientes-bono-user" class="bot bot_citas">
          <img src="../../../assets/imgs/bot_cliente_seguimiento/Bonos-citas.png">
          <p>Bonos</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="isPasi === true">
  <ion-col text-center col-4>

    <ion-button color="primary" expand="full" (click)="onLogout()" round>
      Cerrar Sesión
    </ion-button>
  </ion-col>
</ion-footer>