<!-- app-maquetacion-lista-detalle-formulario -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<!-- Vista del detalle -->
	<mv-card
		id="appMaquetacionListaDetalleFormularioMvCardDetail"
		default-css=false
		class="app-maquetacion-lista-detalle-formulario-mv-card-detail invisible"
		>

		<!--
		*****************************************************
		* Contenido para las distintas opciones de la lista *
		*****************************************************

		La vista de detalle es solo una, lo que cambia es el contenido de esta vista, dependiendo de la opción seleccionada en la lista de opciones de la vista de la lista.
		-->


		<!-- Opción de ejemplo 001 -->
		<mv-container
			class="app-maquetacion-lista-detalle-formulario-mv-container-001 visible"
			>

			<mv-card default-css=false class="mv-card-color-primary-001" shadow=true round-corners=true>

				<div class="app-maquetacion-lista-detalle-formulario-titulo-container t001">
					<p class="app-maquetacion-lista-detalle-formulario-titulo">Datos de la convocatoria</p>
				</div>

				<!-- Grupo de datos -->
				<mv-group
					id="app-maquetacion-lista-detalle-formulario-mv-group-001"
					>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ CAMPO CUERPO ------------>

						<mv-container-item>
							<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
								Cuerpo:
							</p>
						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=3 col-sm=1 default-margin=true>

							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								is-required=true
								readonly=true
								value="0597"
								>
							</mv-input>

						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=9 col-sm=11 default-margin=true>
							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								is-required=true
								readonly=true
								value="Maestros"
								>
							</mv-input>

						</mv-container-item>

						<!------------ CAMPO ESPECIALIDAD ------------>

						<mv-container-item>
							<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
								Especialidad:
							</p>
						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=3 col-sm=1 default-margin=true>

							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								is-required=true
								>
							</mv-input>

						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=9 col-sm=11 default-margin=true>

							<mv-select
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-select"
								is-required=true
								model="especialidad.selected"
								options="especialidad.opciones"
							>
							</mv-select>

						</mv-container-item>

						<!------------ CAMPO FORMA DE ACCESO ------------>

						<mv-container-item>
							<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
								Forma de acceso:
							</p>
						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=3 col-sm=1 default-margin=true>

							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								is-required=true
								>
							</mv-input>

						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=9 col-sm=11 default-margin=true>

							<mv-select
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-select"
								is-required=true
								model="acceso.selected"
								options="acceso.opciones"
							>
							</mv-select>

						</mv-container-item>

						<!------------- CAMPO EXENCION DE TASAS ------------>

						<mv-container-item>
							<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
								Exención de tasas:
							</p>
						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=12 col-sm=4 default-margin=true class="app-maquetacion-lista-detalle-formulario-default-container-checkbox">

							<mv-input-checkbox size="medium">
							</mv-input-checkbox>
							<p class="app-maquetacion-lista-detalle-formulario-default-container-p-checkbox-right">
								Reserva de discapacitados
							</p>

						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=6 col-sm=2 default-margin=true class="app-maquetacion-lista-detalle-formulario-default-container-checkbox"
							>

							<mv-input-checkbox size="medium">
							</mv-input-checkbox>
							<p class="app-maquetacion-lista-detalle-formulario-default-container-p-checkbox-right">
								Discapacidad %
							</p>

						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=6 col-sm=1 default-margin=true
							class="mv-container-item"
							>
							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								>
							</mv-input>
						</mv-container-item>

					</mv-container>

					<mv-container  class="app-maquetacion-lista-detalle-formulario-default-container">

					<!------------ CAMPO TIPO DE ADAPTACIÓN SOLICITADA ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item>

							<mv-textarea
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-textarea"
								label="Tipo de adaptación solicitada:"
								>
							</mv-textarea>

						</mv-container-item>

					</mv-container>

					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

					<!------------ ANTERIOR Y SIGUIENTE ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item class="app-maquetacion-lista-detalle-formulario-atras" col-xs=6>

						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item class="app-maquetacion-lista-detalle-formulario-adelante" col-xs=6>
							<mv-button adapt=true btn-type="color-primary-004" click="clickOption('2')">Siguiente</mv-button>
						</mv-container-item>
					</mv-container>

				</mv-group>

			</mv-card>

		</mv-container>

		<!-- Opción de ejemplo 002 -->
		<mv-container
			class="app-maquetacion-lista-detalle-formulario-mv-container-002 display-none"
			>


			<mv-card default-css=false class="mv-card-color-primary-001" shadow=true round-corners=true>

				<div class="app-maquetacion-lista-detalle-formulario-titulo-container t002">
					<p class="app-maquetacion-lista-detalle-formulario-titulo">Datos del interesado</p>
				</div>

				<!-- Grupo de datos -->
				<mv-group
					id="app-maquetacion-lista-detalle-formulario-mv-group-002"
					>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ CAMPO PRIMER APELLIDO ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=12 col-sm=6  default-margin=true>

							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								model="modeloMockupParaEvitarError"
								is-required=true
								validate-on-type=true
								label="Primer apellido"
								message-type="info"
								>
							</mv-input>

						</mv-container-item>

						<!------------ CAMPO SEGUNDO APELLIDO ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=12 col-sm=6  default-margin=true>

							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								model="modeloMockupParaEvitarError"
								is-required=true
								validate-on-type=true
								label="Segundo apellido"
								message-type="info"
								>
							</mv-input>

						</mv-container-item>

						<!------------ CAMPO NOMBRE ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=12 col-sm=6 default-margin=true>

							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								model="modeloMockupParaEvitarError"
								is-required=true
								validate-on-type=true
								label="Nombre"
								message-type="info"
								>
							</mv-input>

						</mv-container-item>

						<!------------ CAMPO FECHA DE NACIMIENTO ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=12 col-sm=6 default-margin=true>

							<mv-input
								adapt=true
								model="modeloMockupParaEvitarError"
								is-required=true
								validate-on-type=true
								type="date"
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								label="Fª nacimiento"
								placeholder="01/01/1984">
							</mv-input>

						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ CAMPO DNI ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=12 col-sm=6 default-margin=true>

							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								model="modeloMockupParaEvitarError"
								is-required=true
								validate-on-type=true
								label="DNI"
								is-required-message="Consignar tal como aparece en el DNI"
								message-type="info"
								>
							</mv-input>

						</mv-container-item>


						<!------------ CAMPO SEXO ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=12 col-sm=6 default-margin=true>


							<mv-container-item>
								<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
									Sexo:
								</p>
							</mv-container-item>

							<mv-group>
								<mv-input-radio
									model="radioSexo.valor"
									name="grupo1"
									value="M"
								>
								</mv-input-radio>&nbsp;Mujer
								&nbsp;
								<mv-input-radio
									model="radioSexo.valor"
									name="grupo1"
									value="H"
								>
								</mv-input-radio>&nbsp;Hombre
							</mv-group>

						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ CAMPO CORREO ELECTRONICO ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=12 col-sm=6 default-margin=true>

							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								is-required=true
								label="Correo electrónico"
								is-email=true
								>
							</mv-input>

						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ CAMPO PROVINCIA Y LOCALIDAD ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=12 col-sm=6 default-margin=true>

							<mv-select
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-select"
								label="Provincia"
								model="select.provSelected"
								options="select.prov"
								option-id="CDPROV"
								option-name="DSPROV"
								change="funcionChangeProv()"
								>
							</mv-select>

						</mv-container-item>

						<mv-container-item col-xs=12 col-sm=6 default-margin=true>

							<mv-select
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-select"
								label="Localidad"
								model="select.munSelected"
								options="select.mun"
								option-id="CDMUNI"
								option-name="DSMUNI"
								>
							</mv-select>

						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ CAMPO TIPO DE VIA ------------>

						<mv-container-item>
							<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
								Típo de vía:
							</p>
						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=3 col-sm=1 default-margin=true>

							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								is-required=true
								placeholder=""
								>
							</mv-input>

						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=9 col-sm=11 default-margin=true>
							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								is-required=true
								placeholder=""
								>
							</mv-input>

						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ CAMPO NOMBRE DE VIA ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=12>

							<mv-input
								adapt=true
								is-required=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								label="Nombre de vía">
							</mv-input>

						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ CAMPO NUMERO------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=6 col-sm=3 default-margin=true>

							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								is-required=true
								placeholder=""
								label="Número"
								>
							</mv-input>

						</mv-container-item>

						<!------------ CAMPO ESCALERA------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=6 col-sm=3 default-margin=true>
							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								is-required=true
								placeholder=""
								label="Escalera"
								>
							</mv-input>

						</mv-container-item>

						<!------------ CAMPO PISO------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=6 col-sm=3 default-margin=true>
							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								is-required=true
								placeholder=""
								label="Piso"
								>
							</mv-input>

						</mv-container-item>

						<!------------ CAMPO PUERTA------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=6 col-sm=3 default-margin=true>
							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								is-required=true
								placeholder=""
								label="Puerta"
								>
							</mv-input>

						</mv-container-item>

					</mv-container>

					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

					<!------------ ANTERIOR Y SIGUIENTE ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item class="app-maquetacion-lista-detalle-formulario-atras" col-xs=6>
							<mv-button adapt=true btn-type="color-primary-004" click="clickOption('1')">Atrás</mv-button>
						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item class="app-maquetacion-lista-detalle-formulario-adelante" col-xs=6>
							<mv-button adapt=true btn-type="color-primary-004" click="clickOption('3')">Siguiente</mv-button>
						</mv-container-item>
					</mv-container>

				</mv-group>

			</mv-card>

		</mv-container>

		<!-- Opción de ejemplo 003 -->
		<mv-container
			class="app-maquetacion-lista-detalle-formulario-mv-container-003 display-none"
			>

			<mv-card default-css=false class="mv-card-color-primary-001" shadow=true round-corners=true>

				<div class="app-maquetacion-lista-detalle-formulario-titulo-container t003">
					<p class="app-maquetacion-lista-detalle-formulario-titulo">Titulación y acceso</p>
				</div>

				<!-- Grupo de datos -->
				<mv-group
					id="app-maquetacion-lista-detalle-formulario-mv-group-003"
					>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ CAMPO TÍTULO ACADÉMICO ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=3 col-sm=1 default-margin=true>

							<mv-input
								adapt=true
								label="Código"
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								is-required=true
								>
							</mv-input>

						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=9 col-sm=11 default-margin=true>
							<mv-input
								adapt=true
								label="Denominación"
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								is-required=true
								placeholder="Maestros"
								>
							</mv-input>

						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=12 col-sm=4 default-margin=true class="app-maquetacion-lista-detalle-formulario-default-container-checkbox">

							<p class="app-maquetacion-lista-detalle-formulario-default-container-p-checkbox-left">
								Marcar si actúa como representante
							</p>
							<mv-input-checkbox size="medium">
							</mv-input-checkbox>

						</mv-container-item>

					</mv-container>

					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

					<!------------ ANTERIOR Y SIGUIENTE ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item class="app-maquetacion-lista-detalle-formulario-atras" col-xs=6>
							<mv-button adapt=true btn-type="color-primary-004" click="clickOption('2')">Atrás</mv-button>
						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item class="app-maquetacion-lista-detalle-formulario-adelante" col-xs=6>
							<mv-button adapt=true btn-type="color-primary-004" click="clickOption('4')">Siguiente</mv-button>
						</mv-container-item>
					</mv-container>

				</mv-group>

			</mv-card>

			</mv-container>

			<!-- Opción de ejemplo 004 -->
			<mv-container
				class="app-maquetacion-lista-detalle-formulario-mv-container-004 display-none"
				>

				<mv-card default-css=false class="mv-card-color-primary-001" shadow=true round-corners=true>

					<div class="app-maquetacion-lista-detalle-formulario-titulo-container t004">
						<p class="app-maquetacion-lista-detalle-formulario-titulo">Datos del representante</p>
					</div>

					<!-- Grupo de datos -->
					<mv-group
						id="app-maquetacion-lista-detalle-formulario-mv-group-004"
						>

						<!-- Contenedor de Cards -->
						<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

							<!------------ CAMPO PRIMER APELLIDO ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=12 col-sm=6 default-margin=true>

							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								model="modeloMockupParaEvitarError"
								is-required=true
								validate-on-type=true
								label="Primer apellido"
								message-type="info"
								>
							</mv-input>

						</mv-container-item>

						<!------------ CAMPO SEGUNDO APELLIDO ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=12 col-sm=6 default-margin=true>

							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								model="modeloMockupParaEvitarError"
								is-required=true
								validate-on-type=true
								label="Segundo apellido"
								message-type="info"
								>
							</mv-input>

						</mv-container-item>

						<!------------ CAMPO NOMBRE ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=12 col-sm=6 default-margin=true>

							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								model="modeloMockupParaEvitarError"
								is-required=true
								validate-on-type=true
								label="Nombre"
								message-type="info"
								>
							</mv-input>

						</mv-container-item>

						<!------------ CAMPO CORREO ELECTRONICO ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=12 col-sm=6 default-margin=true>

							<mv-input
								adapt=true
								model="modeloMockupParaEvitarError"
								is-required=true
								validate-on-type=true
								type="date"
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								label="Fª nacimiento"
								placeholder="01/01/1984">
							</mv-input>

						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ CAMPO DNI ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=12 col-sm=6 default-margin=true>

							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								model="modeloMockupParaEvitarError"
								is-required=true
								validate-on-type=true
								label="DNI"
								is-required-message="Consignar tal como aparece en el DNI"
								message-type="info"
								>
							</mv-input>

						</mv-container-item>

							<!------------ CAMPO SEXO ------------>

							<!-- Elemento del contenedor -->
							<mv-container-item col-xs=12 col-sm=6 default-margin=true>


								<mv-container-item>
									<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
										Sexo:
									</p>
								</mv-container-item>

								<mv-group>
									<mv-input-radio
										model="radioSexo.valor"
										name="grupo1"
										value="M"
									>
									</mv-input-radio>&nbsp;Mujer
									&nbsp;
									<mv-input-radio
										model="radioSexo.valor"
										name="grupo1"
										value="H"
									>
									</mv-input-radio>&nbsp;Hombre
								</mv-group>

							</mv-container-item>

						</mv-container>

						<!-- Contenedor de Cards -->
						<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

							<!------------ CAMPO CORREO ELECTRONICO ------------>

							<!-- Elemento del contenedor -->
							<mv-container-item col-xs=12 col-sm=6 default-margin=true>

								<mv-input
									adapt=true
									class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
									is-required=true
									label="Correo electrónico"
									is-email=true
									>
								</mv-input>

							</mv-container-item>

						</mv-container>

						<!-- Contenedor de Cards -->
						<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

							<!------------ CAMPO PROVINCIA Y LOCALIDAD ------------>

							<!-- Elemento del contenedor -->
							<mv-container-item col-xs=12 col-sm=6 default-margin=true>

								<mv-select
									adapt=true
									class="app-maquetacion-lista-detalle-formulario-default-container-mv-select"
									label="Provincia"
									model="select.provSelected"
									options="select.prov"
									option-id="CDPROV"
									option-name="DSPROV"
									change="funcionChangeProv()"
									>
								</mv-select>

							</mv-container-item>

							<mv-container-item col-xs=12 col-sm=6 default-margin=true>

								<mv-select
									adapt=true
									class="app-maquetacion-lista-detalle-formulario-default-container-mv-select"
									label="Localidad"
									model="select.munSelected"
									options="select.mun"
									option-id="CDMUNI"
									option-name="DSMUNI"
									>
								</mv-select>

							</mv-container-item>

						</mv-container>

						<!-- Contenedor de Cards -->
						<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

							<!------------ CAMPO TIPO DE VIA ------------>

							<mv-container-item>
								<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
									Típo de vía:
								</p>
							</mv-container-item>

							<!-- Elemento del contenedor -->
							<mv-container-item col-xs=3 col-sm=1 default-margin=true>

								<mv-input
									adapt=true
									class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
									is-required=true
									placeholder=""
									>
								</mv-input>

							</mv-container-item>

							<!-- Elemento del contenedor -->
							<mv-container-item col-xs=9 col-sm=11 default-margin=true>
								<mv-input
									adapt=true
									class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
									is-required=true
									placeholder=""
									>
								</mv-input>

							</mv-container-item>

						</mv-container>

						<!-- Contenedor de Cards -->
						<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

							<!------------ CAMPO NOMBRE DE VIA ------------>

							<!-- Elemento del contenedor -->
							<mv-container-item col-xs=12 default-margin=true>

								<mv-input
									adapt=true
									is-required=true
									class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
									label="Nombre de vía">
								</mv-input>

							</mv-container-item>

						</mv-container>

						<!-- Contenedor de Cards -->
						<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

							<!------------ CAMPO NUMERO------------>

							<!-- Elemento del contenedor -->
							<mv-container-item col-xs=6 col-sm=3 default-margin=true>

								<mv-input
									adapt=true
									class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
									is-required=true
									placeholder=""
									label="Número"
									>
								</mv-input>

							</mv-container-item>

							<!------------ CAMPO ESCALERA------------>

							<!-- Elemento del contenedor -->
							<mv-container-item col-xs=6 col-sm=3 default-margin=true>
								<mv-input
									adapt=true
									class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
									is-required=true
									placeholder=""
									label="Escalera"
									>
								</mv-input>

							</mv-container-item>

							<!------------ CAMPO PISO------------>

							<!-- Elemento del contenedor -->
							<mv-container-item col-xs=6 col-sm=3 default-margin=true>
								<mv-input
									adapt=true
									class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
									is-required=true
									placeholder=""
									label="Piso"
									>
								</mv-input>

							</mv-container-item>

							<!------------ CAMPO PUERTA------------>

							<!-- Elemento del contenedor -->
							<mv-container-item col-xs=6 col-sm=3 default-margin=true>
								<mv-input
									adapt=true
									class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
									is-required=true
									placeholder=""
									label="Puerta"
									>
								</mv-input>

							</mv-container-item>

						</mv-container>

						<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ ANTERIOR Y SIGUIENTE ------------>

							<!-- Elemento del contenedor -->
							<mv-container-item class="app-maquetacion-lista-detalle-formulario-atras" col-xs=6>
								<mv-button adapt=true btn-type="color-primary-004" click="clickOption('3')">Atrás</mv-button>
							</mv-container-item>

							<!-- Elemento del contenedor -->
							<mv-container-item class="app-maquetacion-lista-detalle-formulario-adelante" col-xs=6>
								<mv-button adapt=true btn-type="color-primary-004" click="clickOption('5')">Siguiente</mv-button>
							</mv-container-item>
						</mv-container>

					</mv-group>

				</mv-card>

			</mv-container>

		</mv-container>

		<!-- Opción de ejemplo 005 -->
		<mv-container
			class="app-maquetacion-lista-detalle-formulario-mv-container-005 display-none"
			>

			<mv-card default-css=false class="mv-card-color-primary-001" shadow=true round-corners=true>

				<div class="app-maquetacion-lista-detalle-formulario-titulo-container t005">
					<p class="app-maquetacion-lista-detalle-formulario-titulo">Bases de la convocatoria</p>
				</div>

				<!-- Grupo de datos -->
				<mv-group
					id="app-maquetacion-lista-detalle-formulario-mv-group-005"
					>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ A ------------>

						<mv-container-item>
							<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
								<h2>A</h2>
							</p>
						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ CAMPO CUERPO ------------>

						<mv-container-item>
							<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
								Cuerpo:
							</p>
						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=3 col-sm=1 default-margin=true>

							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								is-required=true
								>
							</mv-input>

						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=9 col-sm=11 default-margin=true>
							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								is-required=true
								>
							</mv-input>

						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ CAMPO ESPECIALIDAD ------------>

						<mv-container-item>
							<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
								Especialidad:
							</p>
						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=3 col-sm=1 default-margin=true>

							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								is-required=true
								>
							</mv-input>

						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=9 col-sm=11 default-margin=true>
							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								is-required=true
								>
							</mv-input>

						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ CAMPO TITULACIÓN CONCORDANTE ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=12 col-sm=6 default-margin=true>


							<mv-container-item>
								<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
									Titulación concordante:
								</p>
							</mv-container-item>

							<mv-group>
								<mv-input-radio
									model="radioTitulacionConcordante.valor"
									name="grupo1"
									value="S"
								>
								</mv-input-radio>&nbsp;Si
								&nbsp;
								<mv-input-radio
									model="radioTitulacionConcordante.valor"
									name="grupo1"
									value="N"
								>
								</mv-input-radio>&nbsp;No
							</mv-group>

						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ CAMPO ESPECIALIDAD RADIO ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=12 col-sm=6 default-margin=true>


							<mv-container-item>
								<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
									Especialidad:
								</p>
							</mv-container-item>

							<mv-group>
								<mv-input-radio
									model="radioEspecialidad.valor"
									name="grupo1"
									value="M"
								>
								</mv-input-radio>&nbsp;Misma
								&nbsp;
								<mv-input-radio
									model="radioEspecialidad.valor"
									name="grupo1"
									value="D"
								>
								</mv-input-radio>&nbsp;Diferente
							</mv-group>

						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ B ------------>

						<mv-container-item>
							<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
								<h2>B</h2>
							</p>
						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ CAMPO NACIONALIDAD ------------>

						<mv-container-item>
							<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
								Nacionalidad:
							</p>
						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=3 col-sm=1 default-margin=true>

							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								is-required=true
								>
							</mv-input>

						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=9 col-sm=11 default-margin=true>
							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								is-required=true
								>
							</mv-input>

						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ CAMPO EXENTO PRUEBA ESPAÑOL ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=12 col-sm=6 default-margin=true>


							<mv-container-item>
								<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
									Exento prueba previa de acreditación del conocimiento del castellano:
								</p>
							</mv-container-item>

							<mv-group>
								<mv-input-radio
									model="radioEspecialidad.valor"
									name="grupo1"
									value="S"
								>
								</mv-input-radio>&nbsp;Si
								&nbsp;
								<mv-input-radio
									model="radioEspecialidad.valor"
									name="grupo1"
									value="N"
								>
								</mv-input-radio>&nbsp;No
							</mv-group>

						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ C ------------>

						<mv-container-item>
							<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
								<h2>C</h2>
							</p>
						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ CAMPO RADIO ESPECIAL 1 ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=12 col-sm=6 default-margin=true>


							<mv-container-item>
								<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
									Solicito formar parte de la lista de interinos:
								</p>
							</mv-container-item>

							<mv-group>
								<mv-input-radio
									model="radioEspecialidad.valor"
									name="grupo1"
									value="S"
								>
								</mv-input-radio>&nbsp;Si
								&nbsp;
								<mv-input-radio
									model="radioEspecialidad.valor"
									name="grupo1"
									value="N"
								>
								</mv-input-radio>&nbsp;No
							</mv-group>

						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ CAMPO RADIO ESPECIAL 2 ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=12 col-sm=6 default-margin=true>


							<mv-container-item>
								<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
									Habilitación lingüística en idiomas extranjeros:
								</p>
							</mv-container-item>

							<mv-group>
								<mv-input-radio
									model="radioEspecialidad.valor"
									name="grupo1"
									value="S"
								>
								</mv-input-radio>&nbsp;Si
								&nbsp;
								<mv-input-radio
									model="radioEspecialidad.valor"
									name="grupo1"
									value="N"
								>
								</mv-input-radio>&nbsp;No
							</mv-group>

						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ CAMPO RADIO ESPECIAL 3 ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=12 col-sm=6 default-margin=true>


							<mv-container-item>
								<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
									Desea recibir notificaciones por SMS cuando sea citado nominalmente para cubrir puestos en regimen de interinidad:
								</p>
							</mv-container-item>

							<mv-group>
								<mv-input-radio
									model="radioEspecialidad.valor"
									name="grupo1"
									value="S"
								>
								</mv-input-radio>&nbsp;Si
								&nbsp;
								<mv-input-radio
									model="radioEspecialidad.valor"
									name="grupo1"
									value="N"
								>
								</mv-input-radio>&nbsp;No
							</mv-group>

						</mv-container-item>

					</mv-container>

					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

					<!------------ ANTERIOR Y SIGUIENTE ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item class="app-maquetacion-lista-detalle-formulario-atras" col-xs=6>
							<mv-button adapt=true btn-type="color-primary-004" click="clickOption('4')">Atrás</mv-button>
						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item class="app-maquetacion-lista-detalle-formulario-adelante" col-xs=6>
							<mv-button adapt=true btn-type="color-primary-004" click="clickOption('6')">Siguiente</mv-button>
						</mv-container-item>
					</mv-container>

				</mv-group>

			</mv-card>

		</mv-container>

		<!-- Opción de ejemplo 006 -->
		<mv-container
			class="app-maquetacion-lista-detalle-formulario-mv-container-006 display-none"
			>

			<mv-card default-css=false class="mv-card-color-primary-001" shadow=true round-corners=true>

				<div class="app-maquetacion-lista-detalle-formulario-titulo-container t006">
					<p class="app-maquetacion-lista-detalle-formulario-titulo">Información institucional</p>
				</div>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ B ------------>

						<mv-container-item>
							<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
								<h2>Autorización certificado del Registro central de delincuentes sexuales.</h2>
							</p>
						</mv-container-item>

					</mv-container>

				<!-- Grupo de datos -->
				<mv-group
					id="app-maquetacion-lista-detalle-formulario-mv-group-006"
					>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ CAMPO RADIO ESPECIAL 3 ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=12>

							<mv-group>
								<mv-input-radio
									model="radioEspecialidad.valor"
									name="grupo1"
									value="S"
								>
								</mv-input-radio>&nbsp;SI autorizo consulta
								<br>
								<mv-input-radio
									model="radioEspecialidad.valor"
									name="grupo1"
									value="N"
								>
								</mv-input-radio>&nbsp;NO autorizo consulta. El interesado deberá aportar el certificado en el momento en el que le sea requerido, de conformidad con el anexo VIII de convocatoria.
							</mv-group>

						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ CAMPO COMUNIDAD autónoma DE NACIMIENTO ------------>

						<mv-container-item>
							<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
								Comunidad autónoma de nacimiento:
							</p>
						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=3 col-sm=1 default-margin=true>

							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								is-required=true
								placeholder="0597"
								>
							</mv-input>

						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=9 col-sm=11 default-margin=true>
							<mv-input
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-input"
								is-required=true
								placeholder="Maestros"
								>
							</mv-input>

						</mv-container-item>

					</mv-container>


					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ CAMPO PROVINCIA Y LOCALIDAD DE NACIMIENTO ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=12 col-sm=6 default-margin=true>

							<mv-select
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-select"
								label="Provincia de nacimiento"
								model="select.provSelected"
								options="select.prov"
								option-id="CDPROV"
								option-name="DSPROV"
								change="funcionChangeProv()"
								>
							</mv-select>

						</mv-container-item>

						<mv-container-item col-xs=12 col-sm=6 default-margin=true>

							<mv-select
								adapt=true
								class="app-maquetacion-lista-detalle-formulario-default-container-mv-select"
								label="Localidad de nacimiento"
								model="select.munSelected"
								options="select.mun"
								option-id="CDMUNI"
								option-name="DSMUNI"
								>
							</mv-select>

						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

						<!------------ B ------------>

						<mv-container-item>
							<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
								<h2>Documentación requerida.</h2>
							</p>
						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container requerida">

						<!------------ CAMPO CHECK 1 ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=11 default-margin=true>

							<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
								Para los NO nacionales: pasaporte/tarjeta de residente comunitario/visado/vínculo de parentesco.
							</p>
						</mv-container-item>


						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=1 class="mv-container-item-text-right">
							<mv-input-checkbox size="medium">
							</mv-input-checkbox>
						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container requerida">

						<!------------ CAMPO CHECK 2 ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=11 default-margin=true>

							<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
								Para los NO nacionales: Declaración responsable de no estar sometido a sanción disciplinaria o condena que impida el acceso a la Función Pública.
							</p>
						</mv-container-item>


						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=1 class="mv-container-item-text-right">
							<mv-input-checkbox size="medium">
							</mv-input-checkbox>
						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container requerida">

						<!------------ CAMPO CHECK 3 ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=11 default-margin=true>

							<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
								Documentación acreditativa del grado de discapacidad expedida por otra CCAA.
							</p>
						</mv-container-item>


						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=1 class="mv-container-item-text-right">
							<mv-input-checkbox size="medium">
							</mv-input-checkbox>
						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container requerida">

						<!------------ CAMPO CHECK 4 ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=11 default-margin=true>

							<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
								En caso de alegar discapacidad, dictamen vinculante de las condiciones físicas, psíquicas o sensoriales. En el caso de ser expedido por otra CCAA.
							</p>
						</mv-container-item>


						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=1 class="mv-container-item-text-right">
							<mv-input-checkbox size="medium">
							</mv-input-checkbox>
						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container requerida">

						<!------------ CAMPO CHECK 5 ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=11 default-margin=true>

							<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
								Aspirantes turno libre: Certificado médico de adaptación de tiempo y/o medios.
							</p>
						</mv-container-item>


						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=1 class="mv-container-item-text-right">
							<mv-input-checkbox size="medium">
							</mv-input-checkbox>
						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container requerida">

						<!------------ CAMPO CHECK 6 ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=11 default-margin=true>

							<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
								Justificante de pago/exención de tasas.
							</p>
						</mv-container-item>


						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=1 class="mv-container-item-text-right">
							<mv-input-checkbox size="medium">
							</mv-input-checkbox>
						</mv-container-item>

					</mv-container>

					<!-- Contenedor de Cards -->
					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container requerida">

						<!------------ CAMPO CHECK 5 ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=11 default-margin=true>

							<p class="app-maquetacion-lista-detalle-formulario-default-container-p">
								Titulación exigida en la convocatoria.
							</p>
						</mv-container-item>


						<!-- Elemento del contenedor -->
						<mv-container-item col-xs=1 class="mv-container-item-text-right">
							<mv-input-checkbox size="medium">
							</mv-input-checkbox>
						</mv-container-item>

					</mv-container>

					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">
						<mv-container-item col-xs=12>
							<br><br>
							<mv-button
								adapt=true
								btn-type="color-primary-004"
								icon-class="fas fa-credit-card"
								>
								Realizar el pago
							</mv-button>
							<br>
							<br>
						</mv-container-item>
					</mv-container>

					<mv-container class="app-maquetacion-lista-detalle-formulario-default-container">

					<!------------ ANTERIOR Y SIGUIENTE ------------>

						<!-- Elemento del contenedor -->
						<mv-container-item class="app-maquetacion-lista-detalle-formulario-atras" col-xs=6>
							<mv-button adapt=true btn-type="color-primary-004" click="clickOption('5')">Atrás</mv-button>
						</mv-container-item>

						<!-- Elemento del contenedor -->
						<mv-container-item class="app-maquetacion-lista-detalle-formulario-adelante" col-xs=6>
						</mv-container-item>
					</mv-container>

				</mv-group>

			</mv-card>

		</mv-container>

	</mv-card>



	<!-- Vista de la lista de opciones -->
	<mv-card
		id="appMaquetacionListaDetalleFormularioMvCardList"
		default-css=false
		class="app-maquetacion-lista-detalle-formulario-mv-card-list visible"
		>
		<h1 class="app-maquetacion-lista-detalle-formulario-mv-card-list-title h1-color-primary-004">Selección apartados</h1>
		<ol>
			<!-- Opción de ejemplo 001 -->
			<mv-item
				click="clickOption('1')"
				type="transclude"
				class="app-maquetacion-lista-detalle-formulario-mv-item-list-001 clicked"
				>
				1 - Datos de convocatoria
			</mv-item>
			<!-- Opción de ejemplo 002 -->
			<mv-item
				click="clickOption('2')"
				type="transclude"
				class="app-maquetacion-lista-detalle-formulario-mv-item-list-002"
				>
				2 - Datos del interesado
			</mv-item>
			<!-- Opción de ejemplo 003 -->
			<mv-item
				click="clickOption('3')"
				type="transclude"
				class="app-maquetacion-lista-detalle-formulario-mv-item-list-003"
				>
				3 - Títulación de acceso
			</mv-item>
			<!-- Opción de ejemplo 004 -->
			<mv-item
				click="clickOption('4')"
				type="transclude"
				class="app-maquetacion-lista-detalle-formulario-mv-item-list-004"
				>
				4 - Datos del representante
			</mv-item>
			<!-- Opción de ejemplo 005 -->
			<mv-item
				click="clickOption('5')"
				type="transclude"
				class="app-maquetacion-lista-detalle-formulario-mv-item-list-005"
				>
				5 - Bases de la convocatoria
			</mv-item>
			<!-- Opción de ejemplo 006 -->
			<mv-item
				click="clickOption('6')"
				type="transclude"
				class="app-maquetacion-lista-detalle-formulario-mv-item-list-006"
				>
				6 - Información institucional
			</mv-item>
		</ol>
	</mv-card>

</mv-screen>
