/*
╔════════════════════════════════════════════════╗
║ app-maquetacion-lista-detalle-formulario style ║
╚════════════════════════════════════════════════╝
*/

app-maquetacion-lista-detalle-formulario {

	width: 100%;
	height: 100%;
	position: fixed;
	overflow: auto;
  	background-color: $color-secondary-009;

	// Vista de la lista
	.app-maquetacion-lista-detalle-formulario-mv-card-list {
		
		//@include view-style;

		background-color: $color-secondary-011;

		border-bottom: solid thin $color-secondary-010;
		border-top: solid thin $color-secondary-010;

		// Siempre por delante del detalle
		z-index: 2;

		//position: absolute !important;
		width: 100%;
		//height: 100%;
		vertical-align: top;
  		overflow: auto;

		ol, ul {
			margin: 0 0 0 0;
			padding: 0 0 0 0;
		}

		.app-maquetacion-lista-detalle-formulario-mv-card-list-title {
			display: block;
		}
	}

	// Vista del detalle
	.app-maquetacion-lista-detalle-formulario-mv-card-detail {

		@include view-style;
		
		border-bottom: solid black thin;

		// Siempre por detras de la lista
		z-index: 1;

		//position: absolute !important;
		background-color: $color-secondary-009 !important;
		width: 100%;
		height: 100%;
		margin: 0 0 .55rem 0;
		padding: 0 0 0 0;
  		overflow: auto;

  		.app-maquetacion-lista-detalle-formulario-titulo-container {

  			@include mx-shadow();

  			position: relative;

			background-position: right;
			height: 10rem;
			margin: 0 0 1rem 0;

			&.t001 {
				background: url(media/images/examples/hombre_tumbado_en_sofa_con_portatil.jpg);
				background-position: right top;
			}
			&.t002 {
				background: url(media/images/examples/estudios_adultos.jpg);
				background-position: left bottom;
			}
			&.t003 {
				background: url(media/images/examples/escritorio_profesor.jpg);
				background-position: center center;
			}
			&.t004 {
				background: url(media/images/examples/ayuda_mayores.jpg);
				background-position: center top;
			}
			&.t005 {
				background: url(media/images/examples/calculator.jpg);
				background-position: center top;
			}
			&.t006 {
				background: url(media/images/examples/puerta_del_sol_mas-luminosidad.jpg);
				background-position: center top;
			}

			> .app-maquetacion-lista-detalle-formulario-titulo {

				@include mx-truncate();

				@include mx-text-shadow();

				position: absolute;
				font-size: 18pt;
				color: $color-secondary-011;
				top: 50%;
				margin: -1.75rem 0 0 0;
				padding: 0.55rem 0.55rem 0.55rem 0.55rem;
				font-weight: bold;
			}
  		}

  		.app-maquetacion-lista-detalle-formulario-atras {

  			text-align: left;

  			button {
  				max-width: 10rem !important;
  			}
  		}

  		.app-maquetacion-lista-detalle-formulario-adelante {
  			text-align: right;

  			button {
  				max-width: 10rem !important;
  			}
  		}

  		[class^=app-maquetacion-lista-detalle-formulario-mv-container-] {

			background-color: $color-secondary-009;
  			margin: 0 0 0 0;
  			padding: 0 0 0 0;

  			h1, h2 {
  				//padding: 0 0.55rem 0 0.55rem;
  			}
  		}

		.app-maquetacion-lista-detalle-formulario-default-container {

			padding-right: 0;

			&.requerida {
				background-color: $color-secondary-009;
				margin: 0.55rem;
				padding: 0.55rem !important;
			}

			.mv-card-alias-container-item {

				main {
					margin-right: 0.55rem;
				}
			}

			.app-maquetacion-lista-detalle-formulario-default-container-item {
				padding: 0 0.55rem 0 0 !important;
			}

			.app-maquetacion-lista-detalle-formulario-default-container-p {
				margin: 0 0 0 0;
				font-size: $font-size-small;
				font-weight: bold;
			}

			.app-maquetacion-lista-detalle-formulario-default-container-checkbox {
				display: flex;
				height: 2.55rem;
    			align-items: center;
    			margin-bottom: 1rem;
			}

			.mv-input-checkbox {
				vertical-align: top;
			}

			.app-maquetacion-lista-detalle-formulario-default-container-p-checkbox-left {
				display: inline-block;
				margin: 0 0.55rem 0 0;
				font-size: $font-size-small;			
			}

			.app-maquetacion-lista-detalle-formulario-default-container-p-checkbox-right {
				display: inline-block;
				margin: 0 0 0 0.55rem ;
				font-size: $font-size-small;			
			}

			/*
			Modificación de las clases propias y de MOVA para dejar separación entre contenidos de distintos
			mv.movaContainerItems que se ven en una misma linea
			*/
			.mv-card-alias-container-item {
				padding-right: 1rem;
			}
		}
	}

	// Estilo especial para marcar el elemento de la lista seleccionado
	.clicked {
		@include mx-inset-shadow();
		background-color: $color-secondary-009 !important;
		border: none !important;
	}
}

/*
┌──────────────────┐
│ Bootstrap col-xs │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-xs-max) {

	/*
	A partir de dispositivos con un viewport mediano aplicamos un estilo diferente para
	poder ver más información en toda la pantalla
	*/
	app-maquetacion-lista-detalle-formulario {

		overflow: hidden;

		.app-maquetacion-lista-detalle-formulario-mv-card-detail,
		.app-maquetacion-lista-detalle-formulario-mv-card-list {

			@include view-style;

			background-color: $color-secondary-011;
			border-bottom: none;

			height: 100%;
			
			position: absolute !important;

			// Forzar la visibilidad de ambos elementos
			&.visible,
			&.invisible {
				visibility: visible;
				display: inline-block;
			}

			// Borde derecho para remarcar la separación de la lista y el detalle
			border-right: thin solid $color-secondary-006;

			// Botón de volver no necesario por que siempre se muestra la lista
			.app-maquetacion-lista-detalle-formulario-mv-button-detail-back {
				display: none;
			}

			.app-maquetacion-lista-detalle-formulario-mv-card-list-title {
				display: none;
			}
		}
	}

	// Vista de la lista
	.app-maquetacion-lista-detalle-formulario-mv-card-list {
		width: 20rem !important;
	}

	// Vista del detalle
	.app-maquetacion-lista-detalle-formulario-mv-card-detail {
		width: calc(100% - 20rem) !important;
		margin-left: 20rem !important;
	}
}