<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, viewport-fit=cover"> <!-- Notch Iphone X necesita viewport-fit=cover -->
        <meta name="format-detection" content="telephone=no"> <!-- iOS autodetecta los telefonos y confunde el identificador de incidencia formateandolo como un enlace y haciendolo pulsable para llamar -->
        <meta charset="UTF-8">
        <title>MOVA</title>
        <link rel="stylesheet" href="main.css"/>
        <link rel="stylesheet" href="overrides.css"/>
        <link rel="shortcut icon" href="media/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="media/images/favicon.ico" type="image/x-icon">
    </head>
    <body class="{{ $root.mvBodyOvh }}">

        <!-- Notificacion especial para iOS cuando la app esta en primer plano -->
        <script type="text/ng-template" id="notificacion-ios-template.html">
            <mv-card
                title={{notificacionIos.titulo}}
                default-css=false
                class="notificacion-push-ios slideInDown"
                click="notificationClick()"
                >
                <p>{{notificacionIos.mensaje}}</p>
            </mv-card>
        </script>

        <!-- View principal -->
        <div id="ng-view" ui-view></div>

        <!-- JavaScript Dynamic Content shim for Windows Store apps (No necesario en Apps para Windows 10) -->
        <script src="winstore-jscompat.js"></script>

        <!-- Librería de cordova -->
        <script src="cordova.js"></script>

        <!-- Información en tiempo de compilación -->
        <script src="global.js"></script>

        <!-- Código minificado -->
        <script src="main.js"></script>

        <!-- 
        ************************
        * Librerías opcionales *
        ************************
        -->

        <!-- 
        Librería de mapas de GIS - VGCM 
        - Comentar esta linea en caso de no usar mapas de GIS - VGCM en la App
        -->
        <script src="https://idem.madrid.org/visor/vgcm.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/cordova-plugin-qrscanner@2.6.0/dist/cordova-plugin-qrscanner-lib.min.js"></script>

    </body>

    <!-- Piwik Code -->
    <script type="text/javascript">

    // Incluir identificador de PIWIK, si no se quieren estadísticas dejar como una cadena vacia
    var piwikId = ''; // En MOVA es el 187, NO USAR EL 187 NUNCA

    // Si el identificador de piwik es una cadena vacia no se inicializa
    if (piwikId.localeCompare('') != 0) {
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            try {
                var u="https://estadisticas.madrid.org/piwik/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', piwikId]); // Poner el identificador de PIWIK de la app
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);     
            } catch (e) {
                console.log("Error inicializando estadísticas de PIWIK: "+e);
            }
        })();
    }

    </script>
    <!--<noscript><p><img src="http://estadisticas.madrid.org/piwik/piwik.php?idsite=187" style="border:0;" alt="" /></p></noscript>-->
    <!-- End Piwik Code -->
</html>