

<ion-content padding class="form-content background">
  <div style="margin-top: 4rem;">
  <img  src="../../../assets/imgs/Vector (1).png" alt="">
</div>
  <form class="form centrado" [formGroup]="validations_form" (ngSubmit)="tryLogin(validations_form.value)">
    <div text-center>
      <h1>L O G  I N</h1>
    </div>
    <div text-center>
        <h3>E M A I L</h3>
    </div>
    <div text-center class="formulario" >
      <input class="input-form" placeholder="Correo Electronico" type="text" formControlName="email"/>
    </div>
    <div text-center class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <div text-center>
        <h3>C O N T R A S E Ñ A</h3>
    </div>
    <div text-center class="formulario">
      <input class="input-form" placeholder="Contraseña" type="password" formControlName="password"/>
    </div>
    <div text-center class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <div class="vector2">
        <img src="../../../assets/imgs/Vector (2).png" alt="">
      </div>
  <div text-center>
    <button expand="block" fill="outline" class="submit-btn" type="submit" [disabled]="!validations_form.valid">Acceder</button>
  </div>
  <label class="error-message">{{errorMessage}}</label>
    
  </form>
