<!-- app-example-mova-version-news -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaVersionNews</h1>
		<br>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>Este componente suele utilizarse desde una opción del menú para que el usuario pueda acceder a las novedades de la versión cuando quiera y de forma obligatoria la primera vez que se accede a la App.</p>
		</mv-card>
		<p>Este componente se encarga de mostrar en una pantalla un enlace externo con las novedades de la versión.</p>
		<p>Este componente ofrece los siguientes métodos a través del servicio <b>mvBrokerIdentidadesService</b>:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('getNovedadesVersion')" >getNovedadesVersion</a></li>
			<li><a href="" ng-click="$root.scrollTo('irANovedadesVersion')" >irANovedadesVersion</a></li>
			<li><a href="" ng-click="$root.scrollTo('setNovedadesVersion')" >setNovedadesVersion</a></li>
		</ul>
	</mv-card>

	<mv-card
		id="getNovedadesVersion"
		>
		<h3 class="title-3">getNovedadesVersion</h3>
		<br>
		<p>El método <b>getNovedadesVersion</b> redirecciona al componente <b>mv.movaNovedadesVersion</b> en caso de no haberlas leido aún.</p>
		<p>El parámetro <b>showHeader</b> sirve para decidir si se quiere mostrar o no el header de la App.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				getNovedadesVersion(showHeader);
			</span>
		</code>
	</mv-card>

	<mv-card
		id="irANovedadesVersion"
		>
		<h3 class="title-3">irANovedadesVersion</h3>
		<br>
		<p>El método <b>irANovedadesVersion</b> redirecciona al componente <b>mv.movaNovedadesVersion</b> aunque ya hayan sido leidas.</p>
		<p>El parámetro <b>showHeader</b> sirve para decidir si se quiere mostrar o no el header de la App.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				irANovedadesVersion(showHeader);
			</span>
		</code>
	</mv-card>

	<mv-card
		id="setNovedadesVersion"
		>
		<h3 class="title-3">setNovedadesVersion</h3>
		<br>
		<p>El método <b>irANovedadesVersion</b> realiza el registro de la marca de haber leido las novedades de la versión actual.</p>
	</mv-card>

</mv-screen>
