<app-cabecera [titulohead]="tituhead"></app-cabecera>
<ion-content padding style="font-family: Comfortaa">
 <!-- <ion-buttons slot="end">
        <ion-back-button text="" color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-content *ngIf="isAdmin === true" padding>

      --> 
<form class="animated fadeIn fast" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">

    <ion-item>
        <ion-label position="floating" color="primary">Paciente</ion-label>
        <ion-input type="text" formControlName="title" [readonly]="false"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating" color="primary">Correo Electronico:</ion-label>
        <ion-input type="email" formControlName="email" [readonly]="false"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating" color="primary"><a>Asunto:</a></ion-label>
        <ion-input type="text" formControlName="asunto" [readonly]="false"></ion-input>
    </ion-item>
    <ion-item>
    <h5 color="primary">Mensaje:</h5>
    </ion-item>
    <ion-item text-center>
        <ion-input formControlName="mensaje" [readonly]="true"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating" color="primary"><a>Respuesta:</a></ion-label>
    </ion-item>
  <!-- <div formArrayName="itemss"
  *ngFor="let item of validations_form.get('itemss').controls; let i = index;">
  <div [formGroupName]="i">
    <input formControlName="name" placeholder="Item name">
    <input formControlName="description" placeholder="Item description">
    <input formControlName="mensaje" placeholder="Item mensaje">
  </div>
</div>
      <ion-button expand="full" color="light" (click)="addItem()">Agregar Mensaje</ion-button>
      <ion-button expand="full" color="light" (click)="addItemX()">Crear Mensaje</ion-button>
--> 
    <div>
        <ion-button fill="outline" expand="block" type="submit" [disabled]="!validations_form.valid">Contestar</ion-button>
    </div>
    <ion-button class="submit-button" fill="outline" expand="block" color="danger" (click)="delete()">Borrar Mensaje</ion-button>

</form>


</ion-content>
