/*
╔═════════════════════╗
║ mova-rate-app style ║
╚═════════════════════╝
*/
mv-rate-app {

    @include view-style;
	
    .mv-rate-app-star-box {
    	text-align: center;
    	font-size: 20pt;
    	margin: 0 0 1rem 0 !important;

    	i:first-child {
    		margin-left: 0;
    	}

    	i {
            color: #e0bd00;
    		margin-left: 1rem;
    	}
    }

};