<!-- mova-rate-app -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		title="Valora esta aplicación"
		round-corners=true
		>
		<p>¿Como estás de satisfecho con esta aplicación?</p>
		<mv-card
			bg-color="transparent"
			border-color="transparent"
			round-corners=true
			adapt=true
			class="mv-rate-app-star-box"
			>
			<i 
				ng-class="numStars > 0 ? 'fas fa-star' : 'far fa-star'" 
				ng-click="clickStar(1)">		
			</i>
			<i 
				ng-class="numStars > 1 ? 'fas fa-star' : 'far fa-star'" 
				ng-click="clickStar(2)">		
			</i>
			<i 
				ng-class="numStars > 2 ? 'fas fa-star' : 'far fa-star'" 
				ng-click="clickStar(3)">		
			</i>
			<i 
				ng-class="numStars > 3 ? 'fas fa-star' : 'far fa-star'" 
				ng-click="clickStar(4)">		
			</i>
			<i 
				ng-class="numStars > 4 ? 'fas fa-star' : 'far fa-star'" 
				ng-click="clickStar(5)">		
			</i>
		</mv-card>
		<mv-card
			bg-color="transparent"
			border-color="transparent"
			adapt=true
			class="mv-rate-app-question-box"
			>
			<p>Si lo deseas, puedes contestar de forma <b>anónima</b> alguna de estas preguntas.</p>
			<p><b>{{ ::form.pregunta001 }}</b></p>
			<mv-textarea
				adapt=true
				model=form.respuesta001
				rows="5"
				>
			</mv-textarea>
			<br>
			<p><b>{{ ::form.pregunta002 }}</b></p>
			<mv-textarea
				adapt=true
				model=form.respuesta002
				rows="5"
				>
			</mv-textarea>
			<br>
			<p><b>{{ ::form.pregunta003 }}</b></p>
			<mv-textarea
				adapt=true
				model=form.respuesta003
				rows="5"
				>
			</mv-textarea>
			<br>
			<mv-button
				adapt=true
				click="clickSend()"
				>
				Enviar
			</mv-button>
		</mv-card>

	</mv-card>

</mv-screen>