<!-- app-main-menu -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	float-footer="{{ screen.floatFooter }}"
	show-back="{{ screen.showBack }}"
	show-menu="{{ screen.showMenu }}"
	show-logo="{{ screen.showLogo }}"
	show-subtitle="{{ screen.showSubtitle }}">

	<mv-container class="app-main-menu-mv-card-main">

		<mv-container-item>

			<mv-card
				class="app-main-menu-mv-card-option"
				id="card1"
				round-corners=false
				shadow=false
				click="clickOpcion(0)"
			>
				
				<p class="app-main-menu-mv-card-option-text"></p>
			</mv-card>
		</mv-container-item>

		<mv-container-item>

			<mv-card
				class="app-main-menu-mv-card-option"
				id="card2"
				round-corners=false
				shadow=false
				click="clickOpcion(0)"
			>
				
				<p class="app-main-menu-mv-card-option-text"></p>
			</mv-card>
		</mv-container-item>

		<mv-container-item>

			<mv-card
				class="app-main-menu-mv-card-option"
				id="card3"
				round-corners=false
				shadow=false
				click="clickOpcion(0)"
			>
				
				<p class="app-main-menu-mv-card-option-text"></p>
			</mv-card>
		</mv-container-item>

</mv-screen>
