/*
╔═════════════════════╗
║ app-pantalla21 style ║
╚═════════════════════╝
*/
app-main-menu {

  @include view-style;

  // Sobreescribir el estilo view-style para que la lista ajuste hasta el final.
  padding-bottom: 0rem !important;

	.app-main-menu-mv-card-main {

		display: block;
		text-align: center;
		max-width: $card-max-size;
		margin: 0.55rem auto 0 auto;
		padding: 0 0 14rem 0;

		.app-main-menu-mv-card-option {

			display: block;
			text-align: left;
			color: $color-primary-004-80;
			height: 5rem;
			margin: 0.35rem 0.35rem 0.75rem 0.35rem !important;

			.app-main-menu-mv-card-option-icon {

				position: absolute;
				display: block;
				font-size: $font-size-super-big;
				top: 1.25rem;
			}

			.app-main-menu-mv-card-option-text {

				display: block;
				vertical-align: middle;
				font-size: $font-size-medium;
				font-weight: bold;
				margin: 1rem 0 0 3.2rem;
				color: $color-secondary-010;

				@include mx-truncate;
			}

			.mv-card-badge-icon-class {
				border: none;
				font-size: $font-size-medium;
		    top: 1.85rem;
		    right: 0rem;
		    color: $color-secondary-010;
		    background-color: transparent;
			}
		}
		.app-main-menu-mv-card-option-wiki {

			.app-main-menu-mv-card-option-icon,
			.app-main-menu-mv-card-option-text {
				color: $color-secondary-011 !important;
			}
		}
	};

	#card1{
		background-image: url("media/images/examples/hospital.png");
	};
	#card2{
		background-image: url("media/images/examples/pacientes.png");
	};
	#card3{
		background-image: url("media/images/examples/personal.png");
	};
};
