<ion-header>
  <ion-toolbar>
    <ion-title>lista usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="items" class="fondo">
  <ion-searchbar [(ngModel)]="searchText" placeholder="Nombre..." style="text-transform: uppercase"></ion-searchbar>
  <div text-center>
    <div *ngFor="let item of items" >
        <div *ngIf="items.length > 0" >
        <!--[routerLink]="['/admin-contact', item.payload.doc.id]" no funciona-->
      <div *ngIf="item.payload.doc.data().nombre && item.payload.doc.data().nombre.length || item.payload.doc.data().nombre && item.payload.doc.data().nombre.length" >
        <div *ngIf="item.payload.doc.data().nombre.includes(searchText)">
            <ion-list>
                     <ion-row>
                       <!--Aqui iniciamos las card views de los pisos -->
                       <div  *ngIf="item.payload.doc.data().verificado  == true"  text-center>
                        <ion-col [routerLink]="['/detalles-usuarios', item.payload.doc.id]" size="12" text-center>
                          <div style="border: 1px solid black;">
                            <div >
                                <ion-icon name="send" color="success"></ion-icon>
                              <h5 >{{ item.payload.doc.data().nombre }}</h5>
                              <p >{{ item.payload.doc.data().apellido }}.</p>
                            </div>
                          </div>
                        </ion-col>
                        </div>
                        
                        <div  *ngIf="item.payload.doc.data().verificado  != true"  text-center>
                          <ion-col [routerLink]="['/detalles-usuarios', item.payload.doc.id]" size="12" text-center>
                            <div style="border: 1px solid black;">
                              <div >
                                <h5 >{{ item.payload.doc.data().nombre }}</h5>
                                <p >{{ item.payload.doc.data().apellido }}.</p>
                              </div>
                            </div>
                          </ion-col>
                          </div>
                     </ion-row>
                 </ion-list>
        </div>
      </div>
    </div>

</div>
</div>
</ion-content>
