<ion-header>
    <ion-toolbar>
        <ion-title>texto-m</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form>
                    <div class="form-group">
                        <label for="Titulo">Titulo</label>

                        <input class="form-control" id="Titulo" type="text" name="titulo">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="Subtitulo" type="text" name="subtitulo">
                        <label for="Subtitulo">Subtitulo</label>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="TextoPrincipal" type="text"></textarea>
                        <label for="TextoPrincipal">Texto Principal</label>
                    </div>
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</ion-content>