/*
╔══════════════════════╗
║ mova-recaptcha style ║
╚══════════════════════╝
*/

mv-recaptcha {

	margin: 0 0 0 0;
	padding: 0 0 0 0;

	.mv-recaptcha-fake {
		background: #f9f9f9;
    	color: #000;
		border: 1px solid #d3d3d3;
	    height: 74px;
	    width: 300px;
	    border-radius: 3px;
	    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.08);
	    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.08);
	    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.08);

	    &.adapt {
	    	width: 100%;
	    }

	    .mv-recaptcha-fake-box {
		    margin: 1.65rem 0.85rem;;
		    padding: inherit;
	    	background-repeat: no-repeat;
	    	background-color: white;
			border: 2px solid #c1c1c1;
		    height: 28px;
		    outline: 0;
		    position: absolute;
		    width: 28px;
	    }

	    .mv-recaptcha-fake-check {
		    margin: 1.25rem 1.15rem;
		    padding: inherit;
	    	background-repeat: no-repeat;
	    	background-color: transparent;
		    height: 28px;
		    outline: 0;
		    position: absolute;
		    width: 28px;
		    font-size: 2rem;
		    color: #009e55;
	    }

	    .mv-recaptcha-fake-text-error,
	    .mv-recaptcha-fake-text {
	    	position: relative;
	    	width: 152px;
	    	font-family: Roboto,helvetica,arial,sans-serif;
		    font-size: 14px;
		    font-weight: 400;
		    line-height: 17px;    
		    display: table-cell;
    		vertical-align: middle;
    		top: 2rem;
    		left: 3.65rem;
	    }

	    .mv-recaptcha-fake-text-error {
	    	top: 1.35rem;
	    	color: red;
	    }
	}

}