<!-- mova-recaptcha -->

<!-- Botón que abre el captcha online en el navegador embedido -->
<div
	ng-click="openCaptcha()"
	ng-show="inAppBrowserNeeded"
	class="mv-recaptcha-fake {{adapt}}"
	>
	<div class="mv-recaptcha-fake-box" ng-show="!captchaOk">&nbsp;</div>
	<div class="mv-recaptcha-fake-check" ng-show="captchaOk"><i class="fas fa-check"></i></div>
	<div class="mv-recaptcha-fake-text" ng-show="!captchaError">{{captchaFakeText}}</div>
	<div class="mv-recaptcha-fake-text-error" ng-show="captchaError">{{captchaFakeTextError}}</div>
</div>

<!-- Captcha local -->
<div
	ng-show="!inAppBrowserNeeded"
    vc-recaptcha
    key="$ctrl.siteKey"
></div>

