<ion-content padding>
    <div class="volver">
        <img (click)="goBack()" src="../../../assets/imgs/volver.png" alt="">
      </div>
      <div class="titulo">
        <p><img class="cajita"  src="../../../assets/imgs/pedidos.png" alt="">CARRITO</p>
      </div>

          <div *ngFor="let productos of items" style="width: 6rem; text-align: initial; margin-bottom: 1.5rem;">
           <div *ngIf="productos.payload.doc.data().pedido != true">
            <img [routerLink]="['/detalles-productos-carrito', productos.payload.doc.id]" class="card-img-top" src="{{productos.payload.doc.data().image}}" alt="Card image cap">
            <div class="card-body">
              <p class="card-title">{{productos.payload.doc.data().nombreProducto}}</p>
              <p class="card-text"><b>Cantidad</b>&nbsp;{{productos.payload.doc.data().cantidadComprar}}</p>
              <p class="card-text"><b>Total</b>&nbsp;{{productos.payload.doc.data().cantidadComprar * productos.payload.doc.data().precio}}  €</p>
          </div>
          <button class="button" [routerLink]="['/detalles-productos-carrito', productos.payload.doc.id]">Pedir</button>
        </div>
          </div>

    


</ion-content>