ion-content {
    --background: black;
}

.img-telefono {
    padding: 2rem;
}

.footer-desk {
    padding-top: 1.5rem;
    margin-bottom: 2rem;
    a {
        text-decoration: none;
        color: white;
    }
    .tel {
        color: white;
        text-align: initial;
        font-size: 10px;
    }
}

.what {
    margin-right: 1rem;
    margin-top: -2rem;
}

h2 {
    color: white;
    margin-top: 2rem;
}

.subir {
    margin-bottom: 5rem;
    margin-right: 1rem;
}

.subir:focus {
    border: none;
}

@media (min-width: 900px) and (max-width: 1920px) {
    .what {
        display: none;
    }
    .img-telefono {
        padding: 0;
    }
    .footer-tel {
        display: none;
    }
    .footer-desk {
        display: block;
        padding-top: 1.5rem;
        margin-top: 3rem;
        margin-bottom: 4rem;
        a {
            text-decoration: none;
            color: white;
        }
    }
}