<ion-content text-center>
    <app-header></app-header>

    <div class="grid ">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <h2 text-center class="mx-auto">Webs</h2>
                <a href="javascript: void(0)">
                    <img class="img-telefono" (click)="onLanding()" src="/assets/img/webs-servicio.gif" alt="">
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <h2 text-center class="mx-auto">Apps</h2>

                <img class="img-telefono" (click)="onApps()" src="/assets/img/apps-servicio.gif" alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <h2 text-center class="mx-auto">Sistemas</h2>

                <img class="img-telefono" (click)="onSistemas()" src="/assets/img/SISTEMAS-servicio.gif" alt="">
            </div>
        </div>
    </div>


    <ion-fab class="subir" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary" (click)="scrollContent('top')">
            <ion-icon color="light" name="arrow-up"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <app-footer-nuevo></app-footer-nuevo>

</ion-content>
<ion-footer>
    <app-footer></app-footer>
</ion-footer>