

<header class="arrendador" *ngIf="isUserArrendador == true" style="background:#26a6ff">
  <div class="titulo" text-center>
    <h5>Detalles del piso</h5>
  </div>
  <div>
    <img class="arrow" (click)="goBack()" src="/assets/icon/flecha.png">
  </div>

</header>
<ion-header style="background:#26a6ff" *ngIf="isUserAgente == true">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" style="text-align: initial" href="#" style="">Detalles del piso</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a style="color: black;" class="nav-link" (click)="goHome()">Inicio Agente </a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goPisos()">Lista pisos</a>
          <!-- <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goAlquileres()">Alquileres Activos</a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goContratos()">Contratos</a>
          </li>-->
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goPerfil()">Perfil</a>
          </li>
        </ul>
      </div>
    </nav>

</ion-header>

<ion-content>

  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <div>
        <ion-slides pager="true" [options]="slidesOpts">
            <ion-slide *ngFor="let img of this.item.imageResponse">
              <img src="{{img}}" alt="" srcset="">
            </ion-slide>
          </ion-slides>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <p>
            <b>Calle: </b> <a style="color: brown !important"
              href="https://maps.google.com/maps?q=+{{this.item.calle}}">{{this.item.calle}}</a>
          </p>
        </ion-col>
        <ion-col size="12">
          <p><b>Numero: </b>{{this.item.numero}}</p>
        </ion-col>
        <ion-col size="12">
          <p><b>Localidad: </b>{{this.item.localidad}}</p>
        </ion-col>
        <ion-col size="12">
          <p><b>Codigo Postal: </b>{{this.item.cp}}</p>
        </ion-col>
        <ion-col size="12">
          <p> <b>M2: </b>{{this.item.metrosQuadrados}}</p>
        </ion-col>
        <ion-col size="12">
          <p> <b>Costo Alquiler: </b>{{this.item.costoAlquiler}}€ al Mes</p>
        </ion-col>
        <ion-col size="12">
          <p>
            <b>Meses de Fianza: </b>{{this.item.mesesFianza}}</p>
        </ion-col>
        <ion-col size="12">
          <p>
            <b>Nº habitaciones: </b>{{this.item.numeroHabitaciones}}</p>
        </ion-col>

        <ion-col size="12">
          <p>
            <b>Descripción Inmueble: </b>
           </p>
           <br/>
           <textarea class="mx-auto" rows="2" cols="50">
              {{this.item.descripcionInmueble}}
           </textarea>
        </ion-col>
        <ion-col size="12">
          <p>
            <b>Baños: </b>{{this.item.banos}}</p>
        </ion-col>
        <ion-col size="12">
          <p>
            <b>Amueblado: </b>{{this.item.amueblado}}</p>
        </ion-col>

        <ion-col size="12">
          <p>
            <b>Calefacción Central: </b>{{this.item.calefaccionCentral}}</p>
        </ion-col>
        <ion-col size="12">
          <p>
            <b>Calefacción Individual: </b>{{this.item.calefaccionIndividual}}</p>
        </ion-col>
        <ion-col size="12">
          <p>
            <b>Climatización: </b>{{this.item.climatizacion}}</p>
        </ion-col>
        <ion-col size="12">
          <p>
            <b>jardin: </b>{{this.item.jardin}}</p>
        </ion-col>
        <ion-col size="12">
          <p>
            <b>Acensor: </b>{{this.item.acensor}}</p>
        </ion-col>

        <ion-col size="12">
          <p>
            <b>Piscina: </b>{{this.item.piscina}}</p>
        </ion-col>

        <ion-col size="12">
          <p>
            <b>Zonas Comunes: </b>{{this.item.zonasComunes}}</p>
        </ion-col>

        <ion-col size="12">
          <p>
            <b>Estado Inmueble: </b>{{this.item.estadoInmueble}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
   <!-- <div text-center>
    <button class="boton" type="submit" [disabled]="!validations_form.valid">Actualizar
    </button>
  </div>-->
  </form>
  <div text-center>
  <button class="boton" (click)="delete()">Eliminar Piso</button>
</div>
</ion-content>