<h1>Chat</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">

  <div class="text-right" *ngFor="let chat of cs.chats">
    <span class="badge badge-primary">{{chat.nombre}}</span>
    <p>{{chat.mensaje}}</p>
  </div>


</div>
<ion-grid>
  <ion-row>
    <ion-col size="8">
        <input type="text" name="nombre" [(ngModel)]="nombre" placeholder="Nombre" class="form-control" />
      <input type="text" name="mensaje" [(ngModel)]="mensaje" placeholder="enviar mensaje" class="form-control" />
    </ion-col>>
  <ion-col size="3">
    <button style="text-align: end" (click)="enviar_mensaje()">Enviar</button>
  </ion-col>>
  </ion-row>
</ion-grid>