/*
╔══════════════════╗
║ mova-error style ║
╚══════════════════╝
*/

mv-error-dialog {
  //background-color: $color-secondary-009;
  display: inline-block;
  position: fixed;
  max-width: 600px;
  margin: 0 0 0 0; /* Espacio necesario para no tapar el header */
  padding: 0;
  left: 5px;
  right: 5px;
  margin-left: auto;
  margin-right: auto;
  top: 5rem;
  bottom: 5rem;
  border-left: solid 0 black;
  z-index: $z-index_menu;
  overflow: auto;
  -webkit-animation-duration: 450ms !important;
  animation-duration: 450ms !important;
}
