<!-- app-maquetacion-grid -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<mv-card>
		<h1>Descripción</h1>
		<h3>A continuación se explican diferentes formas de utilizar el componente <b>mv.movaGrid</b>.</h3>
		<p>Este ejemplo tiene dos finalidades principales:</p>
		<ul>
			<li>Poder mostrar las posibilidades de MOVA</li>
			<li>Ofrecer al desarrollador una plantilla que le sirva como punto de partida.</li>
		</ul>
	</mv-card>

	<mv-card>
		<h3>Tabla por defecto</h3>
		<p>En un dispositivo con viewport pequeño se muestran tarjetas independientes con los valores de cada fila y en cada tarjeta dos columnas, la primera con el nombre de cada columna de la tabla y en la segunda el valor para cada columna de la tabla.</p>
		<mv-grid
		  card-type-form-truncate-title=true
			data="data1">
		</mv-grid>
	</mv-card>

	<mv-card>
		<h3>Tabla de tipo card</h3>
		<p>En un dispositivo con viewport pequeño se muestran tarjetas independientes con los valores de cada fila y en cada tarjeta una única columna con varias filas, las filas impares son los títulos de cada columna de la tabla y las filas pares son los valores de cada columna de la tabla.</p>
		<mv-grid
		  card-type="card"
			data="data1">
		</mv-grid>
	</mv-card>

	<mv-card>
		<h3>Tabla de tipo none</h3>
		<p>En un dispositivo con viewport pequeño no se altera la representación de la tabla, simplemente se permite al usuario deslizarse por la tabla de izquierda a derecha como si de un scroll horizontal se tratase.</p>
		<mv-grid
		  card-type="none"
			data="data1">
		</mv-grid>
	</mv-card>
</mv-screen>
