/*
╔════════════════════════════╗
║ app-maquetacion-grid style ║
╚════════════════════════════╝
*/
app-maquetacion-grid {
	
	@include view-style;

	width: 100%;
	height: 100%;
	position: fixed;
  	overflow: auto;
}