<div text-center>
<h2>Terminos y Condiciones</h2>
</div>

<div padding>
<p><i>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
   Repellat, voluptatum quos. Officiis voluptas, ipsa magni nisi repellat eligendi rerum, recusandae, 
  inventore doloremque dolores aperiam asperiores sit. Sint labore totam est!.
</i></p>

<p><i>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
   Repellat, voluptatum quos. Officiis voluptas, ipsa magni nisi repellat eligendi rerum, recusandae, 
  inventore doloremque dolores aperiam asperiores sit. Sint labore totam est!.
</i></p>
</div>

<ion-button expand="block" size="small" (click)="exit()">Acepto</ion-button>