.main-container{
  width: 95%;
  height: 100%;
}

.puntero{
  cursor: pointer;
}


.chat-window{
  padding: 10px;
  //width: 300px;
  height: 100%;
  overflow: hidden;
  border: 1px solid #4080FF;
  border-radius: 20px;
}

.app-mensajes{
  overflow-y:scroll;
 // height:270px;
  /*background:gray;*/
  padding: 5px;
}

span{
  font-size: small;
}

p{
  font-size: large;
}


/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.arrow{
  width: 2rem;
  text-align: end;
  float: right;
  margin-right: 1rem;
  padding-top: 0.5rem;
}

.logo{
  max-width: 100%;
    border: 0;
    float: left;
    margin-left: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.main-container{
  width: 95%;
  height: 100%;
}

.puntero{
  cursor: pointer;
}

input{
  color: black;
  border: none;
  width: 85%;
  background: transparent;
}

h4{
  font-size: 20px;
  float: left;
  color: #BB1D1D;
}




.chat-window{
  padding: 10px;
  //width: 300px;
  height: 100%;
  overflow: hidden;
  border: 1px solid #BB1D1D;
  border-radius: 20px;
}

.app-mensajes{
  overflow-y:scroll;
 // height:270px;
  /*background:gray;*/
  padding: 5px;
}

span{
  font-size: small;
}

p{
  font-size: large;
  font-weight: bold;
}


.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
  white-space: pre-wrap;
  background: #BB1D1D;
}
 
.my-message {
  background: rgba(0, 230, 64, 0.7);
  color: #BB1D1D;
}
 
.other-message {
  background: rgba(0,191,255,0.7);
  color: #BB1D1D;
}
 
.time {
  font-size: small;
}

b{
  padding-right: 1rem;
  color: black;
}

p{
  font-size: small;
  color: black;
}
 
.message-input {
  width: 100%;
  border: 1px solid var(--ion-color-medium);
  border-radius: 10px;
  background: #fff;
  resize: none;
  padding-left: 10px;
  padding-right: 10px;
}
 
.msg-btn {
  --padding-start: 0.5em;
  --padding-end: 0.5em;
}


/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

