<header text-center padding-top>
  <div class="contiene">
    <a>
      <img class="logo" width="40" height="45" src="../../../assets/imgs/logo.png" class="logo">
    </a>
    <span text-center style="font-size: xx-large;">
      &nbsp;&nbsp;Chat
    </span>
    <a (click)="goBack()">
      <img class="arrow" src="../../../assets/imgs/arrow.png" alt="">
    </a>
  </div>

</header>
<ion-content class="main-container">
  <ion-grid>
    <ion-row *ngFor="let chat of cs.chats">

      <ion-col size="9" *ngIf="chat.paciente == true" class="message other-message text-left">
        <p><b>Paciente:</b>{{chat.nombre}}</p>
        <p><b>Fecha:</b>{{chat.fecha | date: "dd/MM/yyy-HH:mm"}}</p>
        <div>
          <p>{{chat.mensaje}}</p>
        </div>
      </ion-col>

      <ion-col offset="3" size="9" *ngIf="chat.admin == true" class="message my-message text-right">

        <p><b>Enviado por:</b>{{chat.nombre}}</p>
        <p><b>Respuesta a:</b>{{chat.nombrePaciente}}</p>
        <p><b>Fecha:</b>{{chat.fecha | date: "dd/MM/yyy-HH:mm"}}</p>
        <p><b>Mensaje:</b>{{chat.mensaje}}</p>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <input type="text" name="nombre" [(ngModel)]="nombre" placeholder="Nombre" class="form-control" />
      </ion-col>
      <ion-col size="10">
        <input type="text" name="mensaje" [(ngModel)]="mensaje" placeholder="Mensaje" class="form-control" />
      </ion-col>
      <ion-col size="2">
        <ion-button size="small" color="success" style="text-align: end" (click)="enviar_mensaje()">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>