<!-- app-example-container -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaContainer</h1>
		<br>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>Este componente dispone de los mismos atributos que el componente <a href="#!/example-mova-card"><b>mv.movaCard</b></a> además de los suyos propios.</p>
		</mv-card>
		<p>Contenedor organizativo de elementos.</p>
		<p>Este componente se utiliza como contenedor de elementos <a href="#!/example-mova-container-item"><b>mv.movaContainerItem</b></a> los cuales serán organizados dependiendo del tamaño del viewport de cada dispositivo.</p>
		<p>El uso de este componente no tiene sentido si no es para contener única y exclusivamente elementos <a href="#!/example-mova-container-item"><b>mv.movaContainerItem</b></a>.</p>
	</mv-card>

	<mv-card>
		<h2 class="title-2">Ejemplo de uso HTML y resultado</h2>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				<b>&lt;mv-container></b><br>
				&emsp;&emsp;mv-container-item><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 1<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&emsp;&emsp;mv-container-item><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 2<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&emsp;&emsp;mv-container-item><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 3<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				&emsp;&emsp;mv-container-item><br>
				&emsp;&emsp;&emsp;&emsp;Elemento 4<br>
				&emsp;&emsp;&lt;/mv-container-item><br>
				<b>&lt;/mv-container></b>
			</span>
		</code>
		<mv-container>
			<mv-container-item>
				<span>Elemento 1</span>
			</mv-container-item>
			<mv-container-item>
				<span>Elemento 2</span>
			</mv-container-item>
			<mv-container-item>
				<span>Elemento 3</span>
			</mv-container-item>
			<mv-container-item>
				<span>Elemento 4</span>
			</mv-container-item>
		</mv-container>
	</mv-card>

</mv-screen>