<ion-content padding>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">SOMOSC</a>
    </nav>
    <div class="container-fluid">
        <main class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="textoStart()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>                                Pagina-Start
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="textoOnion()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>                                Pagina-Onion
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="textoM()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>                                Pagina-M
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="textoOrchestra()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>                                Pagina-Orchestra </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="textoSense()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>                                Pagina-Sense
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="textoChanges()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>                                Pagina-Changes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="textoNews()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>                                Pagina-News
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <form [formGroup]="textoForm" (ngSubmit)="onSubmit(textoForm.value)">
                    <div class="form-group">
                        <label for="Titulo">Titulo</label>

                        <input class="form-control" formControlName="titulo" id="Titulo" type="text" name="titulo">
                    </div>
                    <div class="form-group">
                        <input class="form-control" formControlName="circulo1" id="Circulo1" type="text" name="Circulo1">
                        <label for="Circulo1">Circulo1</label>
                    </div>
                    <div class="form-group">
                        <input class="form-control" formControlName="circulo2" id="Circulo2" type="text" name="Circulo2">
                        <label for="Circulo2">Circulo2</label>
                    </div>
                    <div class="form-group">
                        <input class="form-control" formControlName="circulo3" id="Circulo3" type="text" name="Circulo3">
                        <label for="Circulo3">Circulo3</label>
                    </div>
                    <div class="form-group">
                        <input class="form-control" formControlName="circulo4" id="Circulo4" type="text" name="Circulo4">
                        <label for="Circulo4">Circulo4</label>
                    </div>
                    <div class="form-group">
                        <input class="form-control" formControlName="circulo5" id="Circulo5" type="text" name="Circulo5">
                        <label for="Circulo5">Circulo5</label>
                    </div>
                    <div class="form-group">
                        <input class="form-control" formControlName="circulo6" id="Circulo6" type="text" name="Circulo6">
                        <label for="Circulo6">Circulo6</label>
                    </div>
                    <div class="form-group">
                        <input class="form-control" formControlName="circulo7" id="Circulo7" type="text" name="Circulo7">
                        <label for="Circulo6">Circulo7</label>
                    </div>

                    <button class="btn btn-primary" type="submit" [disabled]="!textoForm.valid">Guardar</button>
                </form>
            </main>
        </main>
    </div>
</ion-content>