ion-content {
    --background: black;
    color: white !important;
}

.caja {
    background: url(/assets/img/APPS.gif) 100% 0/100% no-repeat;
    background-size: cover;
}

.formulario {
    margin-top: 3rem;
    width: 50%;
    background: black;
    margin-bottom: 3rem;
}

.texto-principal {
    color: white;
}

.principal {
    color: white;
}

ion-item {
    --background: black;
    color: white;
    border: 1px solid white;
}

.card-body {
    background: black;
}

.footer-desk {
    display: block;
    padding-top: 1.5rem;
    margin-bottom: 3rem;
    a {
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-size: small;
        text-align: justify;
    }
}

.lista {
    color: white;
    display: -webkit-inline-box;
    display: inline-flex;
    list-style: none;
    font-size: 4px;
    white-space: nowrap;
    margin-left: -3rem;
    a {
        font-size: 5px;
    }
}

@media (min-width: 900px) and (max-width: 1920px) {
    .lista {
        color: white;
        display: -webkit-inline-box;
        display: inline-flex;
        list-style: none;
        white-space: nowrap;
        margin-left: -12rem;
        a {
            font-size: 0.55rem;
        }
    }
}