<div text-center class="grid footer-desk" style="background: black;">
    <hr style="background-color: white;">
    <div class="row">
        <div style="color:white" class="col-lg-4 col-md-6 col-sm-12 mx-auto tel">
            <img style="max-width: 25%;" src="/assets/img/logo.png" alt="">
            <br>
            <a href="mailto:hola@somosc.com">Email:&nbsp;hola@somosc.com</a><br>
        </div>
        <div style="color:white" class="col-lg-4 col-md-6 col-sm mx-auto tel">
            <div class="footer-copyright text-center">
                <ion-icon name="logo-linkedin"></ion-icon>
                <a href="#"> Linkedin</a>
                <br>
                <a href="tel:+34671308285">tel:&nbsp;671 308 285</a>
            </div>
        </div>
        <div style="color:white" class="col-lg-4 col-md-6 col-sm mx-auto tel">
            <ul class="lista">
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/principal" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">SomosC</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/onion" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">¿Qué hace C?</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLinkActiveOptions="{exact:true}" routerLink="/servicios">¿Quién es C?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLinkActiveOptions="{exact:true}" routerLink="/sense">¿Qué siente C?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLinkActiveOptions="{exact:true}" routerLink="/changes">¿Qué ha hecho C?</a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLinkActiveOptions="{exact:true}" routerLink="/contacto" class="nav-link">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</div>