ion-content{

    --background: url("/assets/imgs/perfil.jpg") no-repeat fixed center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
  }
  
  @media only screen and (min-width:414px){
    ion-content{
        --background: url("/assets/imgs/perfilS.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
    }
  }
  
  .imagen-perfil{
    position: relative;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    z-index: 1;
  }
  
  .tarjeta{
   // position: relative;
   /* z-index: 1;
    margin-top: -2rem;
    justify-content: center;
    margin-left: 0.5rem;
    width: 90%;
    border: 1px 1px black;*/
    justify-content: center;
    margin-left: 0.5rem;
    width: 90%;
    background: transparent;
  }
  
  
  .lista{
    border-radius: 5px;
    margin-bottom: -0.3rem;
    margin-left: 1rem;
    box-shadow: 1px 1px 1px black;
  }
  
  ion-list{
  background: rgba(255,255,255,0.6)
  }
  
  input{
    text-align: center;
    background: transparent;
  }
  
  p{
    text-align: end;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0.2rem;
  }
  
  b{
    float: left;
  }
  
  
  
  
  .boton{
    width: 20rem;
    border-radius: 5px;
    height: 2.5rem;
    margin-top: 1rem;
    margin-top: 2rem;
    color: white;
    background: rgba(38,166,255, 0.7);
    box-shadow: 1px 1px black;
    margin-bottom: 5;
  }
  
  
  
  .boton-confirmar{
    margin-top: 1rem;
    
    width: 20rem;
    border-radius: 5px;
    height: 2.5rem;
    color: black;
    background: white;
    box-shadow: 1px 1px black;
    margin-bottom: 5;
  }
  
  .boton-confirmar1{
    margin-top: 1rem;
    
    width: 20rem;
    border-radius: 5px;
    height: 2.5rem;
    color: white;
    background: rgba(38,166,255, 0.7);
    box-shadow: 1px 1px black;
    margin-bottom: 5;
  }
  
  .boton-completar{
    width: 20rem;
    border-radius: 5px;
    height: 2.5rem;
    /* margin-top: 1rem; */
    /* margin-top: 2rem; */
    color: white;
    background: rgba(38, 166, 255, 0.7);
    box-shadow: 1px 1px black;
    margin-bottom: 5;
    bottom: 0;
    height: 3rem;
    position: fixed;
    margin-left: -10rem;
    margin-bottom: 2rem;
    color: black;
    font-size: 20px;
  }
  
  .id{
    width: 98%;
    text-align: left;
    margin-left: -0.5rem;
    border: none;
  }

  .desktop{
    display: none;
  }
  
  @media (min-width:414px) and (max-width:716px){
    .lista{
    border-radius: 5px;
    height: 17rem;
    width: 16rem;
    margin-left: 3rem;
  
  }
  }

  @media (min-width:1024px) and (max-width:1920px){
    .boton{
     // margin-right: 1rem;
    }
    .boton-confirmar{
      margin-left: 1rem;
    }
    .lista{
      width: 50%;
      margin-left: 25%;
    }
    ion-content{
      --background: url("/assets/imgs/listaPisosDesktop.jpg") no-repeat fixed center; 
      -webkit-background-size: contain;
      -moz-background-size: contain;
      background-size: contain;
      --background-attachment: fixed;
  }  
  .telefono{
    display: none;
  }
  .desktop{
    display: block;
  }
  }