<ion-header>
  <nav class="navbar navbar-expand-lg navbar-dark ">
    <a style="font-size: large; color: white;" class="navbar-brand" (click)="goBack()"><img class="logo"
        src="../../../assets/icon/logotipoO.png">Perfil inmobiliaria</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="isUserAdmin != true" class="nav-item ">
          <a class="nav-link" (click)="perfil()">Perfil</a>
        </li>
        <li *ngIf="isUserAdmin != true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/tabs/tab1" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Pisos
          </a>
          <div class="dropdown-menu" style="background: black; color:white;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="listaPisos()">Lista de pisos</a>
            <a class="dropdown-item" (click)="registrarPiso()">Añadir piso</a>
          </div>
        </li>
        <li *ngIf="isUserAdmin != true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Agentes
          </a>
          <div class="dropdown-menu" style="background: black; color:white;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="registroAgente()">Registrar agente</a>
            <a class="dropdown-item" (click)="listaInmo()">Lista de agentes</a>
          </div>
        </li>
        <li *ngIf="isUserAdmin == true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div style="background: black; color:white;" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="registro()">Registrar Inmobiliaria</a>
            <a class="dropdown-item" (click)="listaInmobiliarias()">Lista de Inmobiliarias</a>
            <a class="dropdown-item" (click)="listaPisosAdmin()">Lista de pisos</a>
            <a class="dropdown-item" (click)="pisosReservados()">Lista de pisos bloqueados</a>
            <a class="dropdown-item" (click)="solicitudesAlquiler()">Solicitudes de alquiler&nbsp;<ion-badge *ngFor="let contratos of cs.contratos; let i = index;" color="success"><p *ngIf="contratos.contratoGenerador != true">{{i+1}}</p></ion-badge></a>
            <a class="dropdown-item" (click)="incidentes()">Lista Incidencias</a>
            <a class="dropdown-item" (click)="desahucio()">lista prevision desahucio</a>
            <a class="dropdown-item" (click)="impago()">lista prevision impago</a>
            <a class="dropdown-item" (click)="contratosInquilinos()">Contratos firmados inquilinos</a>
            <a class="dropdown-item" (click)="contratosArrendadores()">Contratos firmados arrendadores</a>
            <a class="dropdown-item" (click)="recibos()">Recibos</a>
            <a class="dropdown-item" (click)="admin()">Registrar admin</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</ion-header>

    <ion-content *ngIf="items" class="list-mini-content" padding>
        <div style="position: relative">
          <div text-center class="imagen mx-auto " text-center *ngFor="let item of items">
            <img class="imagen-perfil" src="{{ item.payload.doc.data().image }}" alt="">
          </div>
          <div  class="tarjeta mx-auto" text-center>
            <div *ngIf="items.length > 0" class="list-mini" text-center>
              <ion-list class="lista" *ngFor="let item of items">
                  <div style="margin-top: 1rem;">
                    <h3>
                    {{ item.payload.doc.data().direccion }}
                    </h3>
                  </div>
                  <p><b style="padding-right: 1rem;">Email:</b>{{ item.payload.doc.data().email }}</p>
                  <p><b style="padding-right: 1rem;">Teléfono:</b>{{ item.payload.doc.data().telefono }}</p>
                  <p><b style="padding-right: 1rem;">Domicilio social:</b>{{ item.payload.doc.data().domicilioSocial }}</p>
                  <p><b style="padding-right: 1rem;">Razón social:</b>{{ item.payload.doc.data().razonSocial }}</p>
                  <p><b style="padding-right: 1rem;">NIF:</b>{{ item.payload.doc.data().nif }}</p>
                  <div >
                    <p text-center style="font-size: small;">
                      <input style="text-align: center" readonly="true" class="id" #uid type="text" value="{{item.payload.doc.data().userId}}" id="uid"/>
                    </p>
                      <ion-icon color="primary" size="large" name="copy" (click)="copy(uid)"></ion-icon>
                  </div>
              </ion-list>
            </div>
          </div>
        </div>
      <div text-center *ngIf="items.length == 0 ">
        <button class="boton" routerLink="/completar-registro">
          completar registro
        </button>
      </div>
      <div class="botones-desktop mx-auto" text-center *ngFor="let item of items">
        <button text-center type="button" class="boton" [routerLink]="['/configurar-perfil', item.payload.doc.id]">Editar</button>
        <button text-center type="button" class="boton-confirmar" (click)="agregarAgente()">Agregar Agente</button>
        <button text-center type="button" class="boton-confirmar" (click)="onLogout()">Cerrar Sesión</button>
      <!-- <button type="button" class="boton-confirmar" routerLink="/tabs/tab5/tu-alquiler">Contratos a firmar</button>--> 
      </div>
    </ion-content>


