<app-cabecera [titulohead]="tituhead"></app-cabecera>
<!-- <ion-buttons slot="end">
        <ion-back-button text="" color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-content *ngIf="isAdmin === true" padding>

      --> 
<ion-content padding margin-top>
       <ion-grid margin-top>
    <ion-row margin-top>
    <ion-col>
        <div routerLink="/dietas-hipocaloricas"  class="bot bot_irHistoryClinico">
            <img src="../../../assets/imgs/bot_cliente_seguimiento/menuhipo.png">
            <p style="font-size:13px; font-weight: bold;">Hipocalórica</p>
          </div>
    </ion-col>
    <ion-col>
         <div  routerLink="/dietas-proteinas" class="bot bot_proteina">
            <img src="../../../assets/imgs/bot_cliente_seguimiento/menuproteinas.png">
            <p style="font-size:13px; font-weight: bold; margin-top:-20%">Menús<br>Proteínas</p>
          </div>
    </ion-col>
    <ion-col>
        <div  routerLink="/dietas-cenas" class="bot bot_irHistoryClinico">
           <img src="../../../assets/imgs/bot_cliente_seguimiento/menucenas.png">
           <p style="font-size:13px; font-weight: bold;">Menús Cenas</p>
         </div>
   </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>


