.caja{
    background: rgba(38,166,255, 0.9);
}

.boton{
    width: 8rem;
    border-radius: 8px;
    height: 2.5rem;
    margin-top: 1rem;
    color: rgba(38,166,255, 0.9);
    background: rgba(255,255,255, 0.9);
    box-shadow: 1px 1px black;
    margin-bottom: 1;
}

.boton1{
    width: 8rem;
    border-radius: 8px;
    height: 2.5rem;
    margin-top: 1rem;
    color: rgba(38,166,255, 0.9);
    background: rgba(255,255,255, 0.9);
    box-shadow: 1px 1px black;
    margin-bottom: 1rem;
}