<div class="caja">
  <div class="mx-auto" text-center>
    <button class="boton" (click)="acendente()" >Acendente</button>
    <button class="boton1" (click)="decendente()">Decendente</button>
  </div>
</div>