

<header class="arrendador" *ngIf="isUserArrendador == true" style="background:#26a6ff">
  <div class="titulo" text-center>
    <h5>Agregar Pago</h5>
  </div>
  <div>
    <img class="arrow" (click)="goBack()" src="/assets/icon/flecha.png">
  </div>

</header>
<ion-header style="background:#26a6ff" *ngIf="isUserAgente == true">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" style="text-align: initial" href="#" style="">Agregar Pago</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a style="color: black;" class="nav-link" (click)="goHome()">Inicio Agente </a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goPisos()">Lista pisos</a>
          <!-- <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goAlquileres()">Alquileres Activos</a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goContratos()">Contratos</a>
          </li>-->
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goPerfil()">Perfil</a>
          </li>
        </ul>
      </div>
    </nav>

</ion-header>
<ion-content >


  <form padding [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <div text-center class="caja mx-auto">

  <div text-center  class="caja mx-auto" >
    <div lines="none">
        <p class="titulo"><b>Nombre:</b></p>
        <p class="subtitulo">{{ this.item.nombre }}</p>
      </div>
      <div lines="none">
          <p class="titulo"><b>Apellido:</b></p>
          <p class="subtitulo">{{ this.item.apellido }}</p>
        </div>
        <div lines="none">
            <p class="titulo"><b>Correo:</b></p>
            <p class="subtitulo">{{ this.item.emailInquilino }}</p>
          </div>
          <div lines="none">
              <p class="titulo"><b>Teléfono:</b></p>
              <p class="subtitulo">{{ this.item.telefonoInquilino }}</p>
            </div>
            <div lines="none">
                <p class="titulo"><b>Id:</b></p>
                <br>
                <p class="subtitulo-id">{{ this.item.inquilinoId }}</p>
              </div>
              <div>
                  <p class="titulo-select"><b>Mes</b></p>
                  <ion-select formControlName="mes" placeholder="Seleccione Uno" ok-text="Aceptar" cancel-text="Cancelar">
                    <ion-select-option value="Enero">Enero</ion-select-option>
                    <ion-select-option value="Febrero">Febrero</ion-select-option>
                    <ion-select-option value="Marzo">Marzo</ion-select-option>
                    <ion-select-option value="Abril">Abril</ion-select-option>
                    <ion-select-option value="Mayo">Mayo</ion-select-option>
                    <ion-select-option value="Junio">Junio</ion-select-option>
                    <ion-select-option value="Julio">Julio</ion-select-option>
                    <ion-select-option value="Agosto">Agosto</ion-select-option>
                    <ion-select-option value="Septiembre">Septiembre</ion-select-option>
                    <ion-select-option value="Octubre">Octubre</ion-select-option>
                    <ion-select-option value="Noviembre">Noviembre</ion-select-option>
                    <ion-select-option value="Diciembre">Diciembre</ion-select-option>
                  </ion-select>
                </div>
                <div>
                    <p class="titulo"><b>Año:</b></p>
                    <br>
                    <input type="number" formControlName="ano" placeholder="Año"  class="input-ano"/>
                  </div>
                <div>
                    <p class="titulo-select"><b>¿Pagado?</b></p>
                    <ion-select formControlName="pago" placeholder="Seleccione Uno" ok-text="Aceptar" cancel-text="Cancelar">
                      <ion-select-option [value]="true">Si</ion-select-option>
                      <ion-select-option [value]="false">No</ion-select-option>
                    </ion-select>
                  </div>
                  </div>
                  
    <div style="padding-bottom: 0.5rem;" text-center>
      <p class="documentos">Documentos</p>
      </div>
  </div>
   <!-- <div>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let img of imageResponse">
          <img src="{{img}}" alt="" srcset="">
        </ion-slide>
      </ion-slides>
    </div>-->
    <div text-center>
    <button class="botones-crear" type="submit" expand="block" [disabled]="!validations_form.valid">Crear</button>
  </div>
  </form>
  <div text-center>
      <button class="botones" (click)="getImages()">Agregar Documento</button>
  </div>

</ion-content>