header{
  background: #26a6ff;
}

.arrendador{
  background: #26a6ff;
  height: 2rem;
}



h5{
  //text-shadow: 1px 1px whitesmoke;
  //padding-top: 1rem;
  color: white;
  padding-top: 0.3rem;
  position: relative;
  font-size: larger;
  /* background: black; */
  width: 70%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  margin-left: 15%;
  //padding-bottom: 0.3rem;
  font-weight: bold;
  text-transform: uppercase;
}


.image{
  float: left;
  position: relative;
  margin-top: -1.8rem;
  height: 1rem;
  padding-left: 0.5rem;
}

.arrow{
  position: relative;
  margin-top: -1.2rem;
  height: 1rem;
  padding-left: 0.5rem;
}


.navbar.navbar-expand-lg{
  background-color: #26a6ff;
  color: black;
}

.collapse.navbar-collapse{
  //background: rgb(197,197,197);
  color: black;
margin-left: -1rem;
margin-right: -2rem;
padding-left: 1rem;
margin-bottom: -0.5rem;
}




.logotipo{
  padding-right: 1rem;
  height: 2rem;
}

a.nav-link{
  color: black;
}

.navbar-brand{
  color: black;
  font-size: x-large;
  position: relative;
  display: flex;
}


ion-content{
    --background: url(../../../assets/imgs/añadirAlquiler.png) fixed center;
}

.search{
    width: 85%;
    border-radius: 25px;
    height: 2.4rem;
    box-shadow: 1px 1px black;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border: none;
  }
  
  
  ::placeholder{
    padding-left: 1rem;
  }

  form{
      background: transparent !important;
  }
  
  .caja{
    background-color: rgba(243, 241, 239, 0.5);
    width: 90%;
    //opacity: 0.9;
    border-radius: 5px;
  }
  
  .titulo{
    /* margin-top: -2rem; */
    text-align: initial;
    margin-bottom: -1.5rem;
  }

  .titulo-select{
    float: left;
    padding-top: 0.5rem;
    text-align: initial;
    margin-bottom: -1.5rem;
  }
  
  ion-searchbar{
    background: white;
  }
  
  
  
  
  .subtitulo{
    padding-right: 1rem;
    text-align: initial;
    margin-top: 2rem;
  }

  .input-ano{
    padding-right: 1rem;
    text-align: end;
    margin-top: -1.7rem;
    border: none;
    background: transparent;
    float: right;
  }

  .subtitulo-id{
    padding-right: 1rem;
    text-align: end;
    margin-top: -1.3rem;
    font-size: smaller;
  }
  
  hr{
    background: black;
  }
  
  .entero{
    background: black;
      width: 150%;
      margin-left: -5rem;
  }

  ion-select{
     text-align: end;
  }

  .documentos{
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1rem;
  }

  .botones{
    color: black;
    background: white;
    border-radius: 5px;
    height: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 90%;
    background: rgba(38, 166, 255, 0.7);
    font-weight: bold;
    opacity: 0.9;
    box-shadow: 1px 1px black;
    border: none;
  }

  .botones-crear{
    color: black;
    background: white;
    border-radius: 5px;
    height: 2.5rem;
    margin-top: 1rem;
    font-size: 1.1rem;
    width: 90%;
    background: rgba(38, 166, 255, 0.7);
    font-weight: bold;
    opacity: 0.9;
    box-shadow: 1px 1px black;
    border: none;
  }