ion-content{
    --background: black;
}
.volver{
    text-align: end;
}

.titulo{
    margin-top: 1rem;
    img{
        padding-right: 2rem;
    }
    p{
        color: white;
        font-size: 25px;
        text-align: initial;
    }
}

.subtitulo-texto{
    color: #00D8C8;
    letter-spacing: 2px;
    margin-top: 2rem;
    margin-left: 2rem;
}

.boton{
    position: absolute;
    bottom: 0;
    left: 45%;
    margin-bottom: 5rem;
}