ion-content{
    --background: white;
}

b{
    margin-right: 0.2rem;
}
p{
    height: 0.5rem;
}


a{
    color: saddlebrow;
    text-decoration: none;
    background-color: transparent;
}

p.adicional{
    height: auto;
}
.icono{
    padding-left: 1rem;
    padding-right: 1rem;
}
.boton{
    width: 10rem;
    border-radius: 5px;
    background: rgb(38,166,255);
    height: 2rem;
    box-shadow: 1px 1px black;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: white;
}

ion-grid{
    background: white;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

textarea{
    width: 95%;
   // border: none;
    text-align: initial;
}