<ion-content>
  <app-header [tituloHeader]="textHeader"></app-header>


  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <div text-center class="mx-auto" padding>
      <ion-slides   pager="true" [options]="slidesOpts">
        <ion-slide *ngFor="let img of imageResponse">
          <img src="{{img}}" alt="" srcset="">
        </ion-slide>
      </ion-slides>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <p>
            <b>Calle: </b> <a style="color: brown !important"
              href="https://maps.google.com/maps?q=+{{this.item.calle}}">{{this.item.calle}}</a>
          </p>
        </ion-col>
        <ion-col size="12">
          <p><b>Numero: </b>{{this.item.numero}}</p>
        </ion-col>
        <ion-col size="12">
          <p><b>Localidad: </b>{{this.item.localidad}}</p>
        </ion-col>
        <ion-col size="12">
          <p><b>Codigo Postal: </b>{{this.item.cp}}</p>
        </ion-col>
        <ion-col size="12">
          <p> <b>M2: </b>{{this.item.metrosQuadrados}}</p>
        </ion-col>
        <ion-col size="12">
          <p> <b>Costo Alquiler: </b>{{this.item.costoAlquiler}}€ al Mes</p>
        </ion-col>
        <ion-col size="12">
          <p>
            <b>Meses de Fianza: </b>{{this.item.mesesFianza}}</p>
        </ion-col>
        <ion-col size="12">
          <p>
            <b>Nº habitaciones: </b>{{this.item.numeroHabitaciones}}</p>
        </ion-col>

        <ion-col size="12">
          <p>
            <b>Descripción Inmueble: </b>
           </p>
           <br/>
           <textarea rows="2" cols="50" class="mx-auto">
              {{this.item.descripcionInmueble}}
           </textarea>
        </ion-col>
        <ion-col size="12">
          <p>
            <b>Baños: </b>{{this.item.banos}}</p>
        </ion-col>
        <ion-col size="12">
          <p>
            <b>Amueblado: </b>{{this.item.amueblado}}</p>
        </ion-col>

        <ion-col size="12">
          <p>
            <b>Calefacción Central: </b>{{this.item.calefaccionCentral}}</p>
        </ion-col>
        <ion-col size="12">
          <p>
            <b>Calefacción Individual: </b>{{this.item.calefaccionIndividual}}</p>
        </ion-col>
        <ion-col size="12">
          <p>
            <b>Climatización: </b>{{this.item.climatizacion}}</p>
        </ion-col>
        <ion-col size="12">
          <p>
            <b>jardin: </b>{{this.item.jardin}}</p>
        </ion-col>
        <ion-col size="12">
          <p>
            <b>Acensor: </b>{{this.item.acensor}}</p>
        </ion-col>

        <ion-col size="12">
          <p>
            <b>Piscina: </b>{{this.item.piscina}}</p>
        </ion-col>

        <ion-col size="12">
            <p>
              <b>Zonas Comunes: </b>
            </p>
            <ul>
              <li *ngFor="let i of this.item.zonasComunes">{{i}}</li>
            </ul>
  
          </ion-col>

        <ion-col size="12">
          <p>
            <b>Estado Inmueble: </b>{{this.item.estadoInmueble}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

  <div text-center>
    <button class="boton" [routerLink]="['/solicitud-contrato', this.item.id]">
      Solicitar Alquiler
    </button>
    <br />
  </div>


</ion-content>