ion-content{
    --background: black;
}

.volver{
    text-align: end;
}

.titulo{
    margin-top: 2rem;
}

.masGestion{
    height: 2.5rem;
    padding-right: 1rem;
}

.titulo-texto{
    color: white;
    text-align: center;
    font-size: large;
    margin-bottom: 5rem;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.card-img-top{
    border-radius: 5px;
}

.subtitulo-texto{
    color:#00D8C8;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 1rem;

}

.subtitulo-texto1{
    color: #00D8C8;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 2rem;
}

.card-body{
    background: black;
    color: white;
    letter-spacing: 2px;
    font-size: x-small;
    position: absolute;
    right: 0;
    margin-top: -5.6rem;
    margin-right: 7rem;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.corazon{
    position: absolute;
    right: 0;
    margin-right: 1.2rem;
    margin-top: 0.8rem;
    height: 2.5rem;
}

ion-list{
    background: transparent;
}

p{
    .card-text{
    margin-top: 0;
    margin-bottom: 0rem;
}
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #BC3EFF;
    border-radius: .25rem;
}