
<header class="arrendador" *ngIf="isUserArrendador == true" style="background:#26a6ff">
  <div class="titulo" text-center>
    <h5>Incidencias</h5>
  </div>
  <div>
    <img class="arrow" (click)="goBack()" src="/assets/icon/flecha.png">
  </div>

</header>
<ion-header style="background:#26a6ff" *ngIf="isUserAgente == true">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" style="text-align: initial" href="#" style="">Incidencias</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a style="color: black;" class="nav-link" (click)="goHome()">Inicio Agente </a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goPisos()">Lista pisos</a>
          <!-- <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goAlquileres()">Alquileres Activos</a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goContratos()">Contratos</a>
          </li>-->
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goPerfil()">Perfil</a>
          </li>
        </ul>
      </div>
    </nav>

</ion-header>

<ion-content>
<!-- <ion-searchbar [(ngModel)]="searchText" placeholder="Buscador..." style="text-transform: uppercase"></ion-searchbar>
-->
<div *ngFor="let item of items">
  <div *ngIf="items.length > 0">
    <!--<div *ngIf="
      item.payload.doc.data().nombre &&
      item.payload.doc.data().nombre.length
    ">-->
    <div text-center class="text-center mx-auto">
        <ion-card [routerLink]="['/detalles-incidencias', item.payload.doc.id]">
          <ion-card-content>
            <div>
              <p style="font-weight: bold">
                Nombre
              </p>
              <p>{{ item.payload.doc.data().nombre }}</p>
            </div>
            <div>
              <p style="font-weight: bold">
                Piso
              </p>
              <p>{{ item.payload.doc.data().direccion }}</p>
            </div>
            <div>
              <p style="font-weight: bold">
                Tipo de Incidencia
              </p>
              <p>{{ item.payload.doc.data().tipoIncidencia }}</p>
              <hr />
            </div>
            <div>
              <textarea value="{{ item.payload.doc.data().textIncidencia }}">

            </textarea>
            </div>
          </ion-card-content>
        </ion-card>
    </div>
    <!--</div>-->
  </div>
  <div *ngIf="items.length == 0" class="empty-list">
    Sin Incidencias en este Momento
  </div>
</div>
</ion-content>