<!-- app-example-mova-card -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaCard</h1>
		<br>
		<p>Contenedor similar a los elementos <b>&lt;section></b> o <b>&lt;article></b> de HTML5.</p>
		<p>Este componente acepta los siguientes atributos:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('adapt')" >adapt</a></li>
			<li><a href="" ng-click="$root.scrollTo('badge')" >badge</a></li>
			<li><a href="" ng-click="$root.scrollTo('badgeColor')" >badge-color</a></li>
			<li><a href="" ng-click="$root.scrollTo('badgeBgColor')" >badge-bg-color</a></li>
			<li><a href="" ng-click="$root.scrollTo('badgeBorderColor')" >badge-border-color</a></li>
			<li><a href="" ng-click="$root.scrollTo('badgeBorderStyle')" >badge-border-style</a></li>
			<li><a href="" ng-click="$root.scrollTo('badgeBorderWidth')" >badge-border-width</a></li>
			<li><a href="" ng-click="$root.scrollTo('badgeClassIf')" >badge-class-if</a></li>
			<li><a href="" ng-click="$root.scrollTo('badgeIconClass')" >badge-icon-class</a></li>
			<li><a href="" ng-click="$root.scrollTo('badgeIconClassColor')" >badge-icon-class-color</a></li>
			<li><a href="" ng-click="$root.scrollTo('badgeIconClassBgColor')" >badge-icon-class-bg-color</a></li>
			<li><a href="" ng-click="$root.scrollTo('badgeIconClassBorderColor')" >badge-icon-class-border-color</a></li>
			<li><a href="" ng-click="$root.scrollTo('badgeIconClassBorderStyle')" >badge-icon-class-border-style</a></li>
			<li><a href="" ng-click="$root.scrollTo('badgeIconClassBorderWidth')" >badge-icon-class-border-width</a></li>
			<li><a href="" ng-click="$root.scrollTo('badgeIconClassClassIf')" >badge-icon-class-class-if</a></li>
			<li><a href="" ng-click="$root.scrollTo('bgColor')" >bg-color</a></li>
			<li><a href="" ng-click="$root.scrollTo('borderColor')" >border-color</a></li>
			<li><a href="" ng-click="$root.scrollTo('borderStyle')" >border-style</a></li>
			<li><a href="" ng-click="$root.scrollTo('borderWidth')" >border-width</a></li>
			<li><a href="" ng-click="$root.scrollTo('click')" >click</a></li>
			<li><a href="" ng-click="$root.scrollTo('collapse')" >collapse</a></li>
			<li><a href="" ng-click="$root.scrollTo('defaultCss')" >default-css</a></li>
			<li><a href="" ng-click="$root.scrollTo('float')" >float</a></li>
			<li><a href="" ng-click="$root.scrollTo('hrClassIf')" >hr-class-if</a></li>
			<li><a href="" ng-click="$root.scrollTo('hrColor')" >hr-color</a></li>
			<li><a href="" ng-click="$root.scrollTo('hrShow')" >hr-show</a></li>
			<li><a href="" ng-click="$root.scrollTo('hrWidth')" >hr-width</a></li>
			<li><a href="" ng-click="$root.scrollTo('float')" >float</a></li>
			<li><a href="" ng-click="$root.scrollTo('initCollapsed')" >init-collapsed</a></li>
			<li><a href="" ng-click="$root.scrollTo('onCollapse')" >on-collapse</a></li>
			<li><a href="" ng-click="$root.scrollTo('onExpand')" >on-expand</a></li>
			<li><a href="" ng-click="$root.scrollTo('roundCorners')" >round-corners</a></li>
			<li><a href="" ng-click="$root.scrollTo('shadow')" >shadow</a></li>
			<li><a href="" ng-click="$root.scrollTo('title')" >title</a></li>
			<li><a href="" ng-click="$root.scrollTo('titleColor')" >title-color</a></li>
			<li><a href="" ng-click="$root.scrollTo('titleBgColor')" >title-bg-color</a></li>
			<li><a href="" ng-click="$root.scrollTo('titleBorderColor')" >title-border-color</a></li>
			<li><a href="" ng-click="$root.scrollTo('titleBorderStyle')" >title-border-style</a></li>
			<li><a href="" ng-click="$root.scrollTo('titleBorderWidth')" >title-border-width</a></li>
			<li><a href="" ng-click="$root.scrollTo('titleRoundCorners')" >title-round-corners</a></li>
		</ul>
		<p>Este componente obliga al uso de las siguientes maquetaciones para casos concretos:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('mensajeDeAviso')" >Mensaje de aviso</a></li>
			<li><a href="" ng-click="$root.scrollTo('mensajeDeInformacion')" >Mensaje de información</a></li>
			<li><a href="" ng-click="$root.scrollTo('mensajeDePeligro')" >Mensaje de peligro</a></li>
			<li><a href="" ng-click="$root.scrollTo('mensajeDeConfiguracion')" >Mensaje de configuración</a></li>
		</ul>
		<p>Este componente dispone de los siguientes eventos:</p>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>Para usar los eventos es necesario definir un atributo <b>id</b> en el componente.</p>
			<p>Este <b>id</b> debe ser <u>único para toda la App</u>.</p>
			<p>Para que el <b>id</b> sea único deberá seguir la siguiente estructura: <u>nombreFicheroNombreExplicativoNombreFuncion</u>.</p>
			<p>El componente ofrece los eventos mediante el siguiente código: <i>'rootScope:movaCard:<u>identificador</u>:<u>nombreDelEvento</u>'</i></p>
			<p>La palabra <u>identificador</u> debe sustituirse con el valor del atributo <b>id</b> del componente.</p>
			<p>La palabra <u>nombreDelEvento</u> debe sustituirse con el nombre del evento.</p>
		</mv-card>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('collapseToggle')" >CollapseToggle</a></li>
		</ul>
	</mv-card>

	<mv-card>
		<h2 class="title-2">Ejemplo de uso HTML y resultado</h2>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card><br>
				&emsp;&emsp;Contenido de ejemplo<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card>
			Contenido de ejemplo.
		</mv-card>
	</mv-card>

	<mv-card
		id="adapt"
		>
		<h3 class="title-3">adapt</h3>
		<br>
		<p>La propiedad <b>adapt</b> permite eliminar los márgenes que tiene por defecto y adaptarse a su contenedor padre.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;title="Ejemplo"<br>
				&emsp;&emsp;<b>adapt=true</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Con adapt.<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			title="Ejemplo"
			adapt=true
			>
			Con adapt.
		</mv-card>
		<mv-card
			title="Ejemplo"
			>
			Sin adapt.
		</mv-card>
	</mv-card>

	<mv-card
		id="badge"
		>
		<h3 class="title-3">badge</h3>
		<br>
		<p>La propiedad <b>badge</b> permite mostrar información dentro de un badge.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;<b>badge="25"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Con badge.<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			badge="5"
			>
			Con badge.
		</mv-card>
		<p>La propiedad <b>badge</b> se adapta para funcionar con las propiedades <b>adapt</b>, <b>title</b> y <b>collapse</b>.</p>
		<mv-card
			badge="5"
			adapt=true
			>
			Badge con adapt.
		</mv-card>
		<br>
		<mv-card
			badge="5"
			title="Prueba"
			>
			Badge con title.
		</mv-card>
		<br>
		<mv-card
			badge="5"
			title="Prueba"
			collapse=true
			>
			Badge con title y collapse.
		</mv-card>
		<br>
		<mv-card
			badge="5"
			adapt=true
			title="Prueba"
			collapse=true
			>
			Badge con title, collapse y adapt.
		</mv-card>
	</mv-card>

	<mv-card
		id="badgeColor"
		>
		<h3 class="title-3">badge-color</h3>
		<br>
		<p>La propiedad <b>badge-color</b> permite cambiar el color del texto del badge.</p>
		<p>Esta propiedad acepta los colores en formato HTML (red, green...), hexadecimal, rgb y rgba.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;badge=75<br>
				&emsp;&emsp;<b>badge-color="red"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;badge-color="red"<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			badge=75
			badge-color="red"
			>
			badge-bg-color="red"
		</mv-card>
		<mv-card
			badge=75
			badge-color="#1b77d6"
			>
			badge-bg-color="#1b77d6"
		</mv-card>
		<mv-card
			badge=75
			badge-color="rgb(174,12,185)"
			>
			badge-bg-color="rgb(174,12,185)"
		</mv-card>
		<mv-card
			badge=75
			badge-color="rgba(174,12,185,0.35)"
			>
			badge-bg-color="rgba(174,12,185,0.35)"
		</mv-card>
	</mv-card>

	<mv-card
		id="badgeBgColor"
		>
		<h3 class="title-3">badge-bg-color</h3>
		<br>
		<p>La propiedad <b>badge-bg-color</b> permite cambiar el color del fondo del badge.</p>
		<p>Esta propiedad acepta los colores en formato HTML (red, green...), hexadecimal, rgb y rgba.</p>
		<p>Por defecto el título del componente tiene valor "transparent".</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;badge=99<br>
				&emsp;&emsp;<b>badge-bg-color="red"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;badge-bg="red"<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			badge=99
			badge-bg-color="red"
			>
			badge-bg-color="red"
		</mv-card>
		<mv-card
			badge=99
			badge-bg-color="#1b77d6"
			>
			badge-bg-color="#1b77d6"
		</mv-card>
		<mv-card
			badge=99
			badge-bg-color="rgb(174,12,185)"
			>
			badge-bg-color="rgb(174,12,185)"
		</mv-card>
		<mv-card
			badge=99
			badge-bg-color="rgba(174,12,185,0.35)"
			>
			badge-bg-color="rgba(174,12,185,0.35)"
		</mv-card>
	</mv-card>

	<mv-card
		id="badgeBorderColor"
		>
		<h3 class="title-3">badge-border-color</h3>
		<br>
		<p>La propiedad <b>badge-border-color</b> permite cambiar el color del borde del badge.</p>
		<p>Esta propiedad acepta los colores en formato HTML (red, green...), hexadecimal, rgb y rgba.</p>
		<p>Por defecto el título del componente tiene valor "transparent".</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;badge=84<br>
				&emsp;&emsp;<b>badge-border-color="red"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;badge-border-color="red"<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			badge=84
			badge-border-color="red"
			>
			badge-border-color="red"
		</mv-card>
		<mv-card
			badge=84
			badge-border-color="#1b77d6"
			>
			badge-border-color="#1b77d6"
		</mv-card>
		<mv-card
			badge=84
			badge-border-color="rgb(174,12,185)"
			>
			badge-border-color="rgb(174,12,185)"
		</mv-card>
		<mv-card
			badge=84
			badge-border-color="rgba(174,12,185,0.35)"
			>
			badge-border-color="rgba(174,12,185,0.35)"
		</mv-card>
	</mv-card>

	<mv-card
		id="badgeBorderStyle"
		>
		<h3 class="title-3">badge-border-style</h3>
		<br>
		<p>La propiedad <b>badge-border-style</b> permite dar un estilo al borde del badge. Admite los valores existentes para la misma propiedad de CSS.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;badge="Prueba"<br>
				&emsp;&emsp;badge-border-color="blue"<br>
				&emsp;&emsp;badge-border-width="medium"<br>
				&emsp;&emsp;<b>badge-border-style="solid"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;solid<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			badge="Prueba"
			badge-border-color="blue"
			badge-border-width="medium"
			badge-border-style="solid"
		>
			solid
		</mv-card>
		<mv-card
			badge="Prueba"
			badge-border-color="blue"
			badge-border-width="medium"
			badge-border-style="dotted"
		>
			dotted
		</mv-card>
		<mv-card
			badge="Prueba"
			badge-border-color="blue"
			badge-border-width="medium"
			badge-border-style="double"
		>
			double
		</mv-card>
		<mv-card
			badge="Prueba"
			badge-border-color="blue"
			badge-border-width="medium"
			badge-border-style="dashed"
		>
			dashed
		</mv-card>
		<mv-card
			badge="Prueba"
			badge-border-color="blue"
			badge-border-width="medium"
			badge-border-style="dotted solid double dashed"
		>
			dotted solid double dashed
		</mv-card>
	</mv-card>

	<mv-card
		id="badgeBorderWidth"
		>
		<h3 class="title-3">badge-border-width</h3>
		<br>
		<p>La propiedad <b>badge-border-width</b> da un ancho al borde del badge. Admite los valores existentes para la misma propiedad de CSS.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;badge="Prueba"<br>
				&emsp;&emsp;badge-border-color="green"<br>
				&emsp;&emsp;<b>badge-border-width="medium"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;medium<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			badge="Prueba"
			badge-border-color="green"
			badge-border-width="medium"
		>
			medium
		</mv-card>
		<mv-card
			badge="Prueba"
			badge-border-color="green"
			badge-border-width="thin"
		>
			thin
		</mv-card>
		<mv-card
			badge="Prueba"
			badge-border-color="green"
			badge-border-width="thick"
		>
			thick
		</mv-card>
		<mv-card
			badge="Prueba"
			badge-border-color="green"
			badge-border-width="2pt"
		>
			2pt
		</mv-card>
		<mv-card
			badge="Prueba"
			badge-border-color="green"
			badge-border-width="thin medium thick 10px"
		>
			thin medium thick 10px
		</mv-card>
	</mv-card>

	<mv-card
		id="badgeClassIf"
		>
		<h3 class="title-3">badge-class-if</h3>
		<br>
		<p>La propiedad <b>badge-class-if</b> permite aplicar una clase customizada al badge.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;badge="Custom CSS style"<br>
				&emsp;&emsp;<b>badge-class-if="app-example-mova-card-custom-class"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			badge="Custom CSS style"
			badge-class-if="app-example-mova-card-custom-class"
			>
		</mv-card>
	</mv-card>

	<mv-card
		id="badgeIconClass"
		>
		<h3 class="title-3">badge-icon-class</h3>
		<br>
		<p>La propiedad <b>badge-icon-class</b> permite mostrar un icono como badge.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;<b>badge-icon-class="fa fa-lock"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Con badge como icono.<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			badge-icon-class="fa fa-lock"
			>
			Con badge como icono.
		</mv-card>
		<p>La propiedad <b>badge</b> se adapta para funcionar con las propiedades <b>adapt</b>, <b>title</b> y <b>collapse</b>.</p>
		<mv-card
			badge-icon-class="fa fa-lock"
			adapt=true
			>
			Badge como icono con adapt.
		</mv-card>
		<br>
		<mv-card
			badge-icon-class="fa fa-lock"
			title="Prueba"
			>
			Badge como icono con title.
		</mv-card>
		<br>
		<mv-card
			badge-icon-class="fa fa-lock"
			title="Prueba"
			collapse=true
			>
			Badge como icono con title y collapse.
		</mv-card>
		<br>
		<mv-card
			badge-icon-class="fa fa-lock"
			adapt=true
			title="Prueba"
			collapse=true
			>
			Badge como icono con title, collapse y adapt.
		</mv-card>
	</mv-card>

	<mv-card
		id="badgeIconClassColor"
		>
		<h3 class="title-3">badge-icon-class-color</h3>
		<br>
		<p>La propiedad <b>badge-icon-class-color</b> permite cambiar el color del texto del badge.</p>
		<p>Esta propiedad acepta los colores en formato HTML (red, green...), hexadecimal, rgb y rgba.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;badge-icon-class="fa fa-lock"<br>
				&emsp;&emsp;<b>badge-icon-class-color="red"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;badge-icon-class-color="red"<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			badge-icon-class="fa fa-lock"
			badge-icon-class-color="red"
			>
			badge-icon-class-color="red"
		</mv-card>
		<mv-card
			badge-icon-class="fa fa-lock"
			badge-icon-class-color="#1b77d6"
			>
			badge-icon-class-color="#1b77d6"
		</mv-card>
		<mv-card
			badge-icon-class="fa fa-lock"
			badge-icon-class-color="rgb(174,12,185)"
			>
			badge-icon-class-color="rgb(174,12,185)"
		</mv-card>
		<mv-card
			badge-icon-class="fa fa-lock"
			badge-icon-class-color="rgba(174,12,185,0.35)"
			>
			badge-icon-class-color="rgba(174,12,185,0.35)"
		</mv-card>
	</mv-card>

	<mv-card
		id="badgeIconClassBgColor"
		>
		<h3 class="title-3">badge-icon-class-bg-color</h3>
		<br>
		<p>La propiedad <b>badge-icon-class-bg-color</b> permite cambiar el color del fondo del badge como icono.</p>
		<p>Esta propiedad acepta los colores en formato HTML (red, green...), hexadecimal, rgb y rgba.</p>
		<p>Por defecto el título del componente tiene valor "transparent".</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;badge-icon-class="fa fa-lock"<br>
				&emsp;&emsp;<b>badge-icon-class-bg-color="red"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;badge-icon-class-bg="red"<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			badge-icon-class="fa fa-lock"
			badge-icon-class-bg-color="red"
			>
			badge-icon-class-bg-color="red"
		</mv-card>
		<mv-card
			badge-icon-class="fa fa-lock"
			badge-icon-class-bg-color="#1b77d6"
			>
			badge-icon-class-bg-color="#1b77d6"
		</mv-card>
		<mv-card
			badge-icon-class="fa fa-lock"
			badge-icon-class-bg-color="rgb(174,12,185)"
			>
			badge-bg-color="rgb(174,12,185)"
		</mv-card>
		<mv-card
			badge-icon-class="fa fa-lock"
			badge-icon-class-bg-color="rgba(174,12,185,0.35)"
			>
			badge-icon-class-bg-color="rgba(174,12,185,0.35)"
		</mv-card>
	</mv-card>

	<mv-card
		id="badgeIconClassBorderColor"
		>
		<h3 class="title-3">badge-icon-class-border-color</h3>
		<br>
		<p>La propiedad <b>badge-icon-class-border-color</b> permite cambiar el color del borde del badge como icono.</p>
		<p>Esta propiedad acepta los colores en formato HTML (red, green...), hexadecimal, rgb y rgba.</p>
		<p>Por defecto el título del componente tiene valor "transparent".</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;badge-icon-class="fa fa-lock"<br>
				&emsp;&emsp;<b>badge-icon-class-border-color="red"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;badge-icon-class-border-color="red"<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			badge-icon-class="fa fa-lock"
			badge-icon-class-border-color="red"
			>
			badge-icon-class-border-color="red"
		</mv-card>
		<mv-card
			badge-icon-class="fa fa-lock"
			badge-icon-class-border-color="#1b77d6"
			>
			badge-icon-class-border-color="#1b77d6"
		</mv-card>
		<mv-card
			badge-icon-class="fa fa-lock"
			badge-icon-class-border-color="rgb(174,12,185)"
			>
			badge-border-color="rgb(174,12,185)"
		</mv-card>
		<mv-card
			badge-icon-class="fa fa-lock"
			badge-icon-class-border-color="rgba(174,12,185,0.35)"
			>
			badge-icon-class-border-color="rgba(174,12,185,0.35)"
		</mv-card>
	</mv-card>

	<mv-card
		id="badgeIconClassBorderStyle"
		>
		<h3 class="title-3">badge-icon-class-border-style</h3>
		<br>
		<p>La propiedad <b>badge-icon-class-border-style</b> permite dar un estilo al borde del badge como icono. Admite los valores existentes para la misma propiedad de CSS.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;badge-icon-class="fa fa-lock"<br>
				&emsp;&emsp;badge-icon-class-border-color="blue"<br>
				&emsp;&emsp;badge-icon-class-border-width="medium"<br>
				&emsp;&emsp;<b>badge-icon-class-border-style="solid"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;solid<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			badge-icon-class="fa fa-lock"
			badge-icon-class-border-color="blue"
			badge-icon-class-border-width="medium"
			badge-icon-class-border-style="solid"
		>
			solid
		</mv-card>
		<mv-card
			badge-icon-class="fa fa-lock"
			badge-icon-class-border-color="blue"
			badge-icon-class-border-width="medium"
			badge-icon-class-border-style="dotted"
		>
			dotted
		</mv-card>
		<mv-card
			badge-icon-class="fa fa-lock"
			badge-icon-class-border-color="blue"
			badge-icon-class-border-width="medium"
			badge-icon-class-border-style="double"
		>
			double
		</mv-card>
		<mv-card
			badge-icon-class="fa fa-lock"
			badge-icon-class-border-color="blue"
			badge-icon-class-border-width="medium"
			badge-icon-class-border-style="dashed"
		>
			dashed
		</mv-card>
		<mv-card
			badge-icon-class="fa fa-lock"
			badge-icon-class-border-color="blue"
			badge-icon-class-border-width="medium"
			badge-icon-class-border-style="dotted solid double dashed"
		>
			dotted solid double dashed
		</mv-card>
	</mv-card>

	<mv-card
		id="badgeIconClassBorderWidth"
		>
		<h3 class="title-3">badge-icon-class-border-width</h3>
		<br>
		<p>La propiedad <b>badge-icon-class-border-width</b> da un ancho al borde del badge como icono. Admite los valores existentes para la misma propiedad de CSS.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;badge-icon-class="fa fa-lock"<br>
				&emsp;&emsp;badge-icon-class-border-color="green"<br>
				&emsp;&emsp;<b>badge-icon-class-border-width="medium"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;medium<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			badge-icon-class="fa fa-lock"
			badge-icon-class-border-color="green"
			badge-icon-class-border-width="medium"
		>
			medium
		</mv-card>
		<mv-card
			badge-icon-class="fa fa-lock"
			badge-icon-class-border-color="green"
			badge-icon-class-border-width="thin"
		>
			thin
		</mv-card>
		<mv-card
			badge-icon-class="fa fa-lock"
			badge-icon-class-border-color="green"
			badge-icon-class-border-width="thick"
		>
			thick
		</mv-card>
		<mv-card
			badge-icon-class="fa fa-lock"
			badge-icon-class-border-color="green"
			badge-icon-class-border-width="2pt"
		>
			2pt
		</mv-card>
		<mv-card
			badge-icon-class="fa fa-lock"
			badge-icon-class-border-color="green"
			badge-icon-class-border-width="thin medium thick 10px"
		>
			thin medium thick 10px
		</mv-card>
	</mv-card>

	<mv-card
		id="badgeIconClassClassIf"
		>
		<h3 class="title-3">badge-icon-class-class-if</h3>
		<br>
		<p>La propiedad <b>badge-icon-class-class-if</b> permite aplicar una clase customizada al badge como icono.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;badge-icon-class="fa fa-lock"<br>
				&emsp;&emsp;<b>badge-icon-class-class-if="app-example-mova-card-custom-class"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			badge-icon-class="fa fa-lock"
			badge-icon-class-class-if="app-example-mova-card-custom-class"
			>
		</mv-card>
	</mv-card>

	<mv-card
		id="bgColor"
		>
		<h3 class="title-3">bg-color</h3>
		<br>
		<p>La propiedad <b>bg-color</b> permite cambiar el color del fondo del componente.</p>
		<p>Esta propiedad acepta los colores en formato HTML (red, green...), hexadecimal, rgb y rgba.</p>
		<p>Si se quiere que el componente no tenga color de fondo debe usarse el valor "transparent".</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;<b>bg-color="red"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;bg-color="red"<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			bg-color="red"
			>
			bg-color="red"
		</mv-card>
		<mv-card
			bg-color="#1b77d6"
			>
			bg-color="#1b77d6"
		</mv-card>
		<mv-card
			bg-color="rgb(174,12,185)"
			>
			bg-color="rgb(174,12,185)"
		</mv-card>
		<mv-card
			bg-color="rgba(174,12,185,0.35)"
			>
			bg-color="rgba(174,12,185,0.35)"
		</mv-card>
		<mv-card
			bg-color="transparent"
			>
			bg-color="transparent"
		</mv-card>
	</mv-card>

	<mv-card
		id="borderColor"
		>
		<h3 class="title-3">border-color</h3>
		<br>
		<p>La propiedad <b>border-color</b> permite cambiar el color del borde del componente.</p>
		<p>Esta propiedad acepta los colores en formato HTML (red, green...), hexadecimal, rgb y rgba.</p>
		<p>Si se quiere que el componente no tenga borde debe usarse el valor "transparent".</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;<b>border-color="red"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;border-color="red"<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			border-color="red"
			>
			border-color="red"
		</mv-card>
		<mv-card
			border-color="#1b77d6"
			>
			border-color="#1b77d6"
		</mv-card>
		<mv-card
			border-color="rgb(174,12,185)"
			>
			border-color="rgb(174,12,185)"
		</mv-card>
		<mv-card
			border-color="rgba(174,12,185,0.35)"
			>
			border-color="rgba(174,12,185,0.35)"
		</mv-card>
		<mv-card
			border-color="rgba(174,12,185,0.35) rgb(174,12,185) #1b77d6 red"
			>
			border-color="rgba(174,12,185,0.35) rgb(174,12,185) #1b77d6 red"
		</mv-card>
		<mv-card
			border-color="transparent"
			>
			border-color="transparent"
		</mv-card>
	</mv-card>

	<mv-card
		id="borderStyle"
		>
		<h3 class="title-3">border-style</h3>
		<br>
		<p>La propiedad <b>border-style</b> permite dar un estilo al borde. Admite los valores existentes para la misma propiedad de CSS.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;border-width="medium"<br>
				&emsp;&emsp;<b>border-style="solid"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;solid<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			border-width="medium"
			border-style="solid"
		>
			solid
		</mv-card>
		<mv-card
			border-width="medium"
			border-style="dotted"
		>
			dotted
		</mv-card>
		<mv-card
			border-width="medium"
			border-style="double"
		>
			double
		</mv-card>
		<mv-card
			border-width="medium"
			border-style="dashed"
		>
			dashed
		</mv-card>
		<mv-card
			border-width="medium"
			border-style="dotted solid double dashed"
		>
			dotted solid double dashed
		</mv-card>
	</mv-card>

	<mv-card
		id="borderWidth"
		>
		<h3 class="title-3">border-width</h3>
		<br>
		<p>La propiedad <b>border-width</b> da un ancho al borde. Admite los valores existentes para la misma propiedad de CSS.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;<b>border-width="medium"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;medium<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			border-width="medium"
		>
			medium
		</mv-card>
		<mv-card
			border-width="thin"
		>
			thin
		</mv-card>
		<mv-card
			border-width="thick"
		>
			thick
		</mv-card>
		<mv-card
			border-width="2pt"
		>
			2pt
		</mv-card>
		<mv-card
			border-width="thin medium thick 10px"
		>
			thin medium thick 10px
		</mv-card>
	</mv-card>

	<mv-card
		id="click"
		>
		<h3 class="title-3">click</h3>
		<br>
		<p>La propiedad <b>click</b> permite ejecutar una función incluida en el <b>$scope</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;<b>click="clickCard()"</b><br>
				&emsp;&emsp;btn-type="primary"<br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Pulsame para incrementar el contador<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			click="clickCard()"
			btn-type="primary"
		>
			Pulsame para incrementar el contador ({{ numPanelClicks }})
		</mv-card>
	</mv-card>

	<mv-card
		id="collapse"
		>
		<h3 class="title-3">collapse</h3>
		<br>
		<p>La propiedad <b>collapse</b> permite hacer colapsable el componente.</p>
		<p>Se mostrará un icono en la parte superior derecha que permite colapsar el componente.</p>
		<p><b>IMPORTANTE:</b> Es necesario incluir también la propiedad title.</b></p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;title="Título"<br>
				&emsp;&emsp;<b>collapse=true</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Este panel puede colapsarse haciendo click en el icono de la esquina superior derecha.<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			title="Título"
			collapse=true
			>
			Este panel puede colapsarse haciendo click en el icono de la esquina superior derecha.
		</mv-card>
	</mv-card>

	<mv-card
		id="defaultCss"
		>
		<h3 class="title-3">default-css</h3>
		<br>
		<p>La propiedad <b>default-css</b> permite desactivar el estilo css por defecto del componente.</p>
		<p>Por defecto, o en caso de tener valor true el componente se inicializa con un estilo por defecto, en caso de tener valor false, el componente se inicializa sin el estilo por defecto, quedando como un contenedor muy similar a un <b>&lt;section></b> de HTML5 sin CSS.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;<b>default-css=false</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-card>
			</span>
		</code>
		<br>
		<mv-card
			default-css=false
			>
			Ejemplo sin estilo por defecto.
		</mv-card>
	</mv-card>

	<mv-card
		id="hrClassIf"
		>
		<h3 class="title-3">hr-class-if</h3>
		<br>
		<p>La propiedad <b>hr-class-if</b> permite aplicar una clase customizada al hr.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;title="Ejemplo de título"<br>
				&emsp;&emsp;<b>hr-class-if="app-example-mova-card-hr-custom-class"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Ejemplo de hr con estilo customizado.<br>
				&lt;/mv-card>
			</span>
		</code>
		<br>
		<mv-card
			title="Ejemplo de título"
			hr-class-if="app-example-mova-card-hr-custom-class"
			>
			Ejemplo de hr con estilo customizado.
		</mv-card>
	</mv-card>

	<mv-card
		id="hrColor"
		>
		<h3 class="title-3">hr-color</h3>
		<br>
		<p>La propiedad <b>hr-color</b> permite elegir un color para el hr.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;title="Título"<br>
				&emsp;&emsp;<b>hr-color="red"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;hr-color="red"<br>
				&lt;/mv-card>
			</span>
		</code>
		<br>
		<mv-card
			title="Título"
			hr-color="red"
			>
			hr-color="red"
		</mv-card>
		<mv-card
			title="Título"
			hr-color="#1b77d6"
			>
			hr-color="#1b77d6"
		</mv-card>
		<mv-card
			title="Título"
			hr-color="rgb(174,12,185)"
			>
			hr-color="rgb(174,12,185)"
		</mv-card>
		<mv-card
			title="Título"
			hr-color="rgba(174,12,185,0.35)"
			>
			hr-color="rgba(174,12,185,0.35)"
		</mv-card>
	</mv-card>

	<mv-card
		id="hrShow"
		>
		<h3 class="title-3">hr-show</h3>
		<br>
		<p>La propiedad <b>hr-show</b> permite ocultar el hr.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;title="Ejemplo de título"<br>
				&emsp;&emsp;<b>hr-show=false</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Ejemplo con hr oculto.<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			title="Ejemplo de título"
			hr-show=false
			>
			Ejemplo de hr con estilo customizado.
		</mv-card>
	</mv-card>

	<mv-card
		id="hrWidth"
		>
		<h3 class="title-3">hr-width</h3>
		<br>
		<p>La propiedad <b>hr-width</b> permite elegir un ancho para el hr.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;title="Ejemplo de título"<br>
				&emsp;&emsp;<b>hr-width="1rem"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Ejemplo de hr con ancho customizado.<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			title="Ejemplo de título"
			hr-width="1rem"
			>
			Ejemplo de hr con estilo customizado.
		</mv-card>
	</mv-card>

	<mv-card
		id="float"
		>
		<h3 class="title-3">float</h3>
		<br>
		<p>La propiedad <b>float</b> pone el panel como fijo y flotante en la parte inferior de la pantalla.</p>
		<p>Esta propiedad está pensada para incluir información o acciones que siempre deben verse en la parte inferior de la pantalla, por ejemplo los botones de un formulario muy amplio.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-button<br>
				&emsp;&emsp;btn-type="primary"<br>
				&emsp;&emsp;click="mostrarFlotante()"<br>
				&emsp;&emsp;show="!estadoFlotante"<br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Mostrar panel flotante<br>
				&lt;/mv-button>
			</span>
			<br>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;show="estadoFlotante"<br>
				&emsp;&emsp;bg-color="rgba(255,60,60,0.55)"<br>
				&emsp;&emsp;<b>float=true</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Ejemplo de panel flotante.<br><br>
				&emsp;&emsp;&lt;mv-button<br>
				&emsp;&emsp;&emsp;&emsp;btn-type="primary"<br>
				&emsp;&emsp;&emsp;&emsp;click="mostrarFlotante()"<br>
				&emsp;&emsp;&emsp;&emsp;><br>
				&emsp;&emsp;&emsp;&emsp;Ocultar panel flotante<br>
				&emsp;&emsp;&lt;/mv-button><br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-button
			btn-type="primary"
			click="mostrarFlotante()"
			show="!estadoFlotante"
			>
			Mostrar panel flotante
		</mv-button>
		<mv-card
			show="estadoFlotante"
			bg-color="rgba(255,60,60,0.55)"
			float=true
			>
			Ejemplo de panel flotante.<br><br>
			<mv-button
				btn-type="primary"
				click="mostrarFlotante()"
				>
				Ocultar panel flotante
			</mv-button>
		</mv-card>
	</mv-card>

	<mv-card
		id="initCollapsed"
		>
		<h3 class="title-3">init-collapsed</h3>
		<br>
		<p>La propiedad <b>init-collapsed</b> permite que el estado inicial del componente sea en modo colapsado.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;title="init-collapsed"<br>
				&emsp;&emsp;collapse=true<br>
				&emsp;&emsp;<b>init-collapsed=true</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Ejemplo init-collapsed.<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			title="init-collapse"
			collapse=true
			init-collapsed=true
			>
			Ejemplo init-collapse.
		</mv-card>
	</mv-card>

	<mv-card
		id="onCollapse"
		>
		<h3 class="title-3">on-collapse</h3>
		<br>
		<p>La propiedad <b>on-collapse</b> permite ejecutar una función cuando se lance el evento de colapsar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;title="on-collapse"<br>
				&emsp;&emsp;collapse=true<br>
				&emsp;&emsp;<b>on-collapse="ejemploOnCollapse()"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Ejemplo on-collapse.<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			title="on-collapse"
			collapse=true
			on-collapse="ejemploOnCollapse()"
			>
			Ejemplo on-collapse.
		</mv-card>
		<p>Llamadas a on-collapse: {{ onCollapseValor }}</p>
	</mv-card>

	<mv-card
		id="onExpand"
		>
		<h3 class="title-3">on-expand</h3>
		<br>
		<p>La propiedad <b>on-expand</b> permite ejecutar una función cuando se lance el evento de no colapsar.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;title="on-expand"<br>
				&emsp;&emsp;collapse=true<br>
				&emsp;&emsp;<b>on-expand="ejemploOnExpand()"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Ejemplo on-expand.<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			title="on-expand"
			collapse=true
			init-collapsed=true
			on-expand="ejemploOnExpand()"
			>
			Ejemplo on-expand.
		</mv-card>
		<p>Llamadas a on-expand: {{ onExpandValor }}</p>
	</mv-card>

	<mv-card
		id="roundCorners"
		>
		<h3 class="title-3">round-corners</h3>
		<br>
		<p>La propiedad <b>round-corners</b> permite mostrar las esquinas redondeadas en el componente.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;<b>round-corners=true</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Ejemplo de panel con esquinas redondeadas.<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			round-corners=true
			>
			Ejemplo de panel con esquinas redondeadas.
		</mv-card>
	</mv-card>

	<mv-card
		id="shadow"
		>
		<h3 class="title-3">shadow</h3>
		<br>
		<p>La propiedad <b>shadow</b> permite mostrar una sombra bajo el componente.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;<b>shadow=true</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Ejemplo de panel con sombra.<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			shadow=true
			>
			Ejemplo de panel con sombra.
		</mv-card>
	</mv-card>

	<mv-card
		id="title"
		>
		<h3 class="title-3">title</h3>
		<br>
		<p>La propiedad <b>title</b> permite mostrar un titulo.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;<b>title="Título de prueba"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Ejemplo de panel con título.<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			title="Título de prueba"
			>
			Ejemplo de panel con título.
		</mv-card>
	</mv-card>

	<mv-card
		id="titleColor"
		>
		<h3 class="title-3">title-color</h3>
		<br>
		<p>La propiedad <b>title-color</b> permite cambiar el color del texto del título.</p>
		<p>Esta propiedad acepta los colores en formato HTML (red, green...), hexadecimal, rgb y rgba.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;title="Título"<br>
				&emsp;&emsp;<b>title-color="red"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;bg-color="red"<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			title="Título"
			title-color="red"
			>
			title-bg-color="red"
		</mv-card>
		<mv-card
			title="Título"
			title-color="#1b77d6"
			>
			title-bg-color="#1b77d6"
		</mv-card>
		<mv-card
			title="Título"
			title-color="rgb(174,12,185)"
			>
			title-bg-color="rgb(174,12,185)"
		</mv-card>
		<mv-card
			title="Título"
			title-color="rgba(174,12,185,0.35)"
			>
			title-bg-color="rgba(174,12,185,0.35)"
		</mv-card>
	</mv-card>

	<mv-card
		id="titleBgColor"
		>
		<h3 class="title-3">title-bg-color</h3>
		<br>
		<p>La propiedad <b>title-bg-color</b> permite cambiar el color del fondo del título.</p>
		<p>Esta propiedad acepta los colores en formato HTML (red, green...), hexadecimal, rgb y rgba.</p>
		<p>Por defecto el título del componente tiene valor "transparent".</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;title="Título"<br>
				&emsp;&emsp;<b>title-bg-color="red"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;bg-color="red"<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			title="Título"
			title-bg-color="red"
			>
			title-bg-color="red"
		</mv-card>
		<mv-card
			title="Título"
			title-bg-color="#1b77d6"
			>
			title-bg-color="#1b77d6"
		</mv-card>
		<mv-card
			title="Título"
			title-bg-color="rgb(174,12,185)"
			>
			title-bg-color="rgb(174,12,185)"
		</mv-card>
		<mv-card
			title="Título"
			title-bg-color="rgba(174,12,185,0.35)"
			>
			title-bg-color="rgba(174,12,185,0.35)"
		</mv-card>
	</mv-card>

	<mv-card
		id="titleBorderColor"
		>
		<h3 class="title-3">title-border-color</h3>
		<br>
		<p>La propiedad <b>title-border-color</b> permite cambiar el color del borde del título.</p>
		<p>Esta propiedad acepta los colores en formato HTML (red, green...), hexadecimal, rgb y rgba.</p>
		<p>Por defecto el título del componente tiene valor "transparent".</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;title="Título"<br>
				&emsp;&emsp;<b>title-border-color="red"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;bg-color="red"<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			title="Título"
			title-border-color="red"
			>
			title-border-color="red"
		</mv-card>
		<mv-card
			title="Título"
			title-border-color="#1b77d6"
			>
			title-border-color="#1b77d6"
		</mv-card>
		<mv-card
			title="Título"
			title-border-color="rgb(174,12,185)"
			>
			title-border-color="rgb(174,12,185)"
		</mv-card>
		<mv-card
			title="Título"
			title-border-color="rgba(174,12,185,0.35)"
			>
			title-border-color="rgba(174,12,185,0.35)"
		</mv-card>
	</mv-card>

	<mv-card
		id="titleBorderStyle"
		>
		<h3 class="title-3">title-border-style</h3>
		<br>
		<p>La propiedad <b>title-border-style</b> permite dar un estilo al borde del título. Admite los valores existentes para la misma propiedad de CSS.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;title="Título"<br>
				&emsp;&emsp;title-border-color="blue"<br>
				&emsp;&emsp;title-border-width="medium"<br>
				&emsp;&emsp;<b>title-border-style="solid"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;solid<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			title="Título"
			title-border-color="blue"
			title-border-width="medium"
			title-border-style="solid"
		>
			solid
		</mv-card>
		<mv-card
			title="Título"
			title-border-color="blue"
			title-border-width="medium"
			title-border-style="dotted"
		>
			dotted
		</mv-card>
		<mv-card
			title="Título"
			title-border-color="blue"
			title-border-width="medium"
			title-border-style="double"
		>
			double
		</mv-card>
		<mv-card
			title="Título"
			title-border-color="blue"
			title-border-width="medium"
			title-border-style="dashed"
		>
			dashed
		</mv-card>
		<mv-card
			title="Título"
			title-border-color="blue"
			title-border-width="medium"
			title-border-style="dotted solid double dashed"
		>
			dotted solid double dashed
		</mv-card>
	</mv-card>

	<mv-card
		id="titleBorderWidth"
		>
		<h3 class="title-3">title-border-width</h3>
		<br>
		<p>La propiedad <b>title-border-width</b> da un ancho al borde del título. Admite los valores existentes para la misma propiedad de CSS.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;title="Título"<br>
				&emsp;&emsp;title-border-color="green"<br>
				&emsp;&emsp;<b>title-border-width="medium"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;medium<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			title="Título"
			title-border-color="green"
			title-border-width="medium"
		>
			medium
		</mv-card>
		<mv-card
			title="Título"
			title-border-color="green"
			title-border-width="thin"
		>
			thin
		</mv-card>
		<mv-card
			title="Título"
			title-border-color="green"
			title-border-width="thick"
		>
			thick
		</mv-card>
		<mv-card
			title="Título"
			title-border-color="green"
			title-border-width="2pt"
		>
			2pt
		</mv-card>
		<mv-card
			title="Título"
			title-border-color="green"
			title-border-width="thin medium thick 10px"
		>
			thin medium thick 10px
		</mv-card>
	</mv-card>

	<mv-card
		id="titleRoundCorners"
		>
		<h3 class="title-3">title-round-corners</h3>
		<br>
		<p>La propiedad <b>title-round-corners</b> permite mostrar las esquinas redondeadas en el título del componente.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;title="Título"<br>
				&emsp;&emsp;title-border-color="black"<br>
				&emsp;&emsp;<b>title-round-corners=true</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;Ejemplo de panel con esquinas redondeadas en el título.<br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			title="Título"
			title-border-color="black"
			title-round-corners=true
			>
			Ejemplo de panel con esquinas redondeadas en el título.
		</mv-card>
	</mv-card>

	<mv-card
		id="mensajeDeAviso"
		>
		<h2 class="title-2">Ejemplo de uso HTML para un mensaje de aviso</h2>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;<b>class="section-warning"</b><br>
				&emsp;&emsp;<b>title="AVISO"</b><br>
				&emsp;&emsp;<b>hr-class-if="hr-warning"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;&ltp>Este es un ejemplo de un mensaje de aviso, debe usar este código para uniformizar los mensajes de aviso en las aplicaciones hechas con el framework.&lt/p><br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>Este es un ejemplo de un mensaje de aviso, debe usar este código para uniformizar los mensajes de aviso en las aplicaciones hechas con el framework.</p>
		</mv-card>
	</mv-card>

	<mv-card
		id="mensajeDeInformacion"
		>
		<h2 class="title-2">Ejemplo de uso HTML para un mensaje de información</h2>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;<b>class="section-info"</b><br>
				&emsp;&emsp;<b>title="INFORMACIÓN"</b><br>
				&emsp;&emsp;<b>hr-class-if="hr-info"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;&ltp>Este es un ejemplo de un mensaje de información, debe usar este código para uniformizar los mensajes de información en las aplicaciones hechas con el framework.&lt/p><br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>Este es un ejemplo de un mensaje de información, debe usar este código para uniformizar los mensajes de información en las aplicaciones hechas con el framework.</p>
		</mv-card>
	</mv-card>

	<mv-card
		id="mensajeDePeligro"
		>
		<h2 class="title-2">Ejemplo de uso HTML para un mensaje de peligro</h2>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;<b>class="section-danger"</b><br>
				&emsp;&emsp;<b>title="IMPORTANTE"</b><br>
				&emsp;&emsp;<b>hr-class-if="hr-danger"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;&ltp>Este es un ejemplo de un mensaje de peligro, debe usar este código para uniformizar los mensajes de peligro en las aplicaciones hechas con el framework.&lt/p><br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>Este es un ejemplo de un mensaje de peligro, debe usar este código para uniformizar los mensajes de peligro en las aplicaciones hechas con el framework.</p>
		</mv-card>
	</mv-card>

	<mv-card
		id="mensajeDeConfiguracion"
		>
		<h2 class="title-2">Ejemplo de uso HTML para un mensaje de configuración</h2>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;<b>class="section-success"</b><br>
				&emsp;&emsp;<b>title="CONFIGURACIÓN"</b><br>
				&emsp;&emsp;<b>hr-class-if="hr-success"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;&ltp>Este es un ejemplo de un mensaje de configuración, debe usar este código para uniformizar los mensajes de configuración en las aplicaciones hechas con el framework.&lt/p><br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			class="section-success"
			title="IMPORTANTE"
			hr-class-if="hr-success"
			>
			<p>Este es un ejemplo de un mensaje de configuración, debe usar este código para uniformizar los mensajes de configuración en las aplicaciones hechas con el framework.</p>
		</mv-card>
	</mv-card>

	<!--<mv-card
		id="mensajeDeAviso"
		>
		<h2 class="title-2">Ejemplo de uso HTML para un mensaje de aviso</h2>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-card<br>
				&emsp;&emsp;<b>class="section-warning"</b><br>
				&emsp;&emsp;<b>title="AVISO"</b><br>
				&emsp;&emsp;<b>hr-class-if="hr-warning"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;&ltp>Este es un ejemplo de un mensaje de aviso, debe usar este código para uniformizar los mensajes de aviso en las aplicaciones hechas con el framework.&lt/p><br>
				&lt;/mv-card>
			</span>
		</code>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>Este es un ejemplo de un mensaje de aviso, debe usar este código para uniformizar los mensajes de aviso en las aplicaciones hechas con el framework.</p>
		</mv-card>
	</mv-card>-->

	<mv-card
		id="collapseToggle"
		>
		<h3 class="title-3">Ev: CollapseToggle</h3>
		<br>
		<p>El evento <b>CollapseToggle</b> permite cambiar el estado de colapsado actual del componente.</p>
		<p>Se puede llamar a este evento desde el controlador de un componente mediante la siguiente instrucción:</p>
		<code>
			<badge>JavaScript</badge>
			$rootScope.$emit('rootScope:movaCard:<u>identificador</u>:CollapseToggle');
		</code>
		<br>
		<p>A continuación se muestra un ejemplo:</p>
		<mv-button
			btn-type="primary"
			click="cambiarColapsoPanelEjemplo()"
			>
			Colapsar el panel del ejemplo
		</mv-button>
		<mv-card
			id="appExampleMovaCardEjemploColapsoRemoto"
			title="Ej. Colapso"
			>
			Pulse el botón superior para cambiar el estado del colapso de este panel.
		</mv-card>
	</mv-card>

</mv-screen>
