<!-- app-maquetacion-tab-detalle-tab-1 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<mv-card>

		<h1>Descripción</h1>
		<h3>A continuación se explica la forma en la que se usa el componente <b>mv.movaTab</b> para hacer un menú en el pie.</h3>

		<p>
			En este ejemplo se usa el componente <b>mv.movaTab</b> a modo de menú flotante situado en el pie (footer)
			de la pantalla. Al hacer click en cada pestaña o tab se navega a otra página.
		</p>

		<p>
			Este comportamiento de navegación entre páginas se podría usar para sustituir
			el menú principal, o para los accesos directos a las opciones más usadas siempre disponibles en la pantalla,
			por ejemplo.
		</p>

	</mv-card>

	<mv-card
		adapt=true
		float=true
		border-width=0>

		<mv-tab
			type="flat"
			class="app-maquetacion-mv-tab"
		  captions="Inicio;Listado;Buscar;Avisos;Configurar"
		  icon-class="fas fa-home;fas fa-list;fas fa-search;fas fa-bell;fas fa-cog"
		  badge=";;;;;"
		  selected=0
			click="clickOption"
		  bottom-mode=true>
		</mv-tab>
	</mv-card>

</mv-screen>
