/*
╔═════════════════════════════════════════╗
║ app-maquetacion-tab-detalle-tab-1 style ║
╚═════════════════════════════════════════╝
*/
app-maquetacion-tab-detalle-tab-1 {

	@include view-style;

	width: 100%;
	height: 100%;
	position: fixed;
  overflow: auto;

	.app-maquetacion-mv-tab{
    -webkit-box-shadow: 0 -0.2em 0.75em 0 rgba(79, 72, 76, 0.35);
    -moz-box-shadow: 0 -0.2em 0.75em 0 rgba(79, 72, 76, 0.35);
    box-shadow: 0 -0.2em 0.75em 0 rgba(79, 72, 76, 0.35);
    > main > .mv-tab-ol {
      margin-top: -1.5em !important;
      border: none !important;
    }
  }

	[class^="app-maquetacion-tab-detalle-tab-1-mv-container"] {
		margin: 0 0 0 0;
		padding: 0rem 0rem 7rem 0rem;

		&.app-maquetacion-tab-detalle-tab-1-mv-container-002 {
			padding: 0rem 0.55rem 7rem 0.55rem;
		}

		ol, ul {
			margin: 0 0 0 0;
			padding: 0 0 0 0;
		}
	}

	.app-maquetacion-tab-detalle-tab-1-mv-tab {

		// Ajuste de tamaño equitativo de las opciones del tab
		.mv-tab-item {
			width: 33%;
		}
	}
}
