<ion-content padding>
  <div class="volver">
    <img (click)="goBack()" src="../../../assets/imgs/volver.png" alt="">
  </div>
<div class="caja">
  <div imagen>
    <ion-grid>
      <div text-center>
      <img class="imgProducto" [src]="image" alt="">
    </div>
      <ion-row>
        <ion-col text-center>
          <img class="subir" src="../../../assets/imgs/subir.png" (click)="getImages()">
        </ion-col>
      </ion-row>
      <div class="subtitulo">
        <p class="subtitulo-texto">Carga la imagen del producto desde tu galeria</p>
      </div>
    </ion-grid>


    <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
      <div text-center class=" mx-auto">
        <div >
          <p>
            <input placeholder="Nombre Producto" type="text" formControlName="nombreProducto"
              style="text-transform: uppercase" /></p>
        </div>
        <div >
          <p>
            <input placeholder="Codigo Qr" type="text" formControlName="codigoQr" style="text-transform: uppercase" />
          </p>
        </div>
        <div >
          <p>
            <input placeholder="Descripción" type="text" formControlName="descripcion"
              style="text-transform: uppercase" /></p>
        </div>
        <div >
          <p>
            <input placeholder="Precio" type="number" formControlName="precio" style="text-transform: uppercase" /></p>
        </div>
        <div >
          <p>
            <input placeholder="Talla" type="text" formControlName="talla" style="text-transform: uppercase" /></p>
        </div>
        <div >
          <p>
            <input placeholder="Cantidad" type="text" formControlName="cantidad" style="text-transform: uppercase" />
          </p>
        </div>
        <div>
            <select class="mx-auto select" color="light" name="categoria" id="categoria" placeholder="novedad" formControlName="novedad">
              <option [value]="true">Novedad</option>
            </select>
            </div>
        <div>
          <select class="mx-auto select" color="light" name="categoria" id="categoria" placeholder="Categoria" formControlName="categoria">
            <option value="camisetas">Camisetas</option>
            <option value="sudaderas">Sudaderas</option>
            <option value="baqueros">Baqueros</option>
            <option value="mochilas">Mochilas</option>
          </select>
          </div>
      </div>
      <div text-center>
        <button class="botones" type="submit" (click)="presentPopover()" [disabled]="!validations_form.valid"><img
            src="../../../assets/imgs/ok.png" alt=""></button>
      </div>
    </form>
  </div>
</div>

</ion-content>