
<ion-content padding>
  <div text-center class="mx-auto logo">
  <img src="../../../assets/imgs/logo iris.png"/>
</div>




<div text-center>
    <button (click)="goLogin()">W E L C O M E</button>
</div>
</ion-content>


