<div class="card">
    <img style="background: transparent;" class="card-img-top" src="img_avatar1.png" alt="Card image">
    <div tyle="background: transparent;" class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary">See Profile</a>
    </div>
</div>