<!-- app-maquetacion-tab-detalle-tab-4 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<mv-card
	  class="section-info"
	  title="INFORMACIÓN"
	  hr-class-if="hr-info"
	  >
	  <p>Tu versión está actualizada (3.0.0). Estás protegido frente a las últimas vulnerabilidades.</p>
	</mv-card>

	<mv-card
	  class="section-warning"
	  title="AVISO"
	  hr-class-if="hr-warning"
	  >
	  <p>Se encuentra disponible una versión más moderna (3.0.0). Deberías actualizarla lo antes posible para estar protegido.</p>
	</mv-card>

	<mv-card
	  class="section-danger"
	  title="PELIGRO"
	  hr-class-if="hr-danger"
	  >
	  <p>Tu versión está obsoleta (1.5.6). Tu equipo está expuesto a múltiples riesgos. ¡Actualízala!</p>
	</mv-card>

	<mv-card
		adapt=true
		float=true
		border-width=0>

		<mv-tab
			type="flat"
			class="app-maquetacion-mv-tab"
		  captions="Inicio;Listado;Buscar;Avisos;Configurar"
		  icon-class="fas fa-home;fas fa-list;fas fa-search;fas fa-bell;fas fa-cog"
		  badge=";;;;;"
		  selected=3
			click="clickOption"
		  bottom-mode=true>
		</mv-tab>
	</mv-card>

</mv-screen>
