<ion-header>
  <nav class="navbar navbar-expand-lg navbar-dark ">
    <a style="font-size: large; color: white;" class="navbar-brand"><img class="logo"
        src="../../../assets/icon/logotipoO.png">Completar registro Agente</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="isUserAdmin != true" class="nav-item ">
          <a class="nav-link" (click)="perfil()">Perfil</a>
        </li>
        <li *ngIf="isUserAdmin != true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/tabs/tab1" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Pisos
          </a>
          <div class="dropdown-menu" style="background: black; color:white;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="listaPisos()">Lista de pisos</a>
            <a class="dropdown-item" (click)="registrarPiso()">Añadir piso</a>
          </div>
        </li>
        <li *ngIf="isUserAdmin != true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Agentes
          </a>
          <div class="dropdown-menu" style="background: black; color:white;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="registroAgente()">Registrar agente</a>
            <a class="dropdown-item" (click)="listaInmo()">Lista de agentes</a>
          </div>
        </li>
        <li *ngIf="isUserAdmin == true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div style="background: black; color:white;" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="registro()">Registrar Inmobiliaria</a>
            <a class="dropdown-item" (click)="listaInmobiliarias()">Lista de Inmobiliarias</a>
            <a class="dropdown-item" (click)="listaPisosAdmin()">Lista de pisos</a>
            <a class="dropdown-item" (click)="pisosReservados()">Lista de pisos bloqueados</a>
            <a class="dropdown-item" (click)="solicitudesAlquiler()">Solicitudes de alquiler &nbsp;<ion-badge *ngFor="let contratos of cs.contratos; let i = index;" color="success"><p *ngIf="contratos.contratoGenerador != true">{{i+1}}</p></ion-badge></a>
            <a class="dropdown-item" (click)="incidentes()">Lista Incidencias</a>
            <a class="dropdown-item" (click)="desahucio()">lista prevision desahucio</a>
            <a class="dropdown-item" (click)="impago()">lista prevision impago</a>
            <a class="dropdown-item" (click)="contratosInquilinos()">Contratos firmados inquilinos</a>
            <a class="dropdown-item" (click)="contratosArrendadores()">Contratos firmados arrendadores</a>
            <a class="dropdown-item" (click)="recibos()">Recibos</a>
            <a class="dropdown-item" (click)="admin()">Registrar admin</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</ion-header>

<ion-content>
  <div>
    <ion-row no-padding class="animated fadeIn fast">
      <ion-col class="mx-auto" text-center size="12">
        <img class="circular" [src]="image" *ngIf="image" />
      </ion-col>
      <ion-col class="mx-auto" text-center size="12">
        <ion-button class="telefono" style="margin-top: 1.5rem" size="small" (click)="openImagePicker()">Agrega tu Foto</ion-button>
      </ion-col>
      <ion-col text-center class="mx-auto desktop" size="12">
        <input type="file" id="file" multiple="multiple"  (change)="onFileChanged($event)" #fileInput required /> 
        <label for="file">Agregar Imagen</label>   
      </ion-col>
    </ion-row>
  </div>
  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <ion-list style="background: transparent" class="tarjeta mx-auto">
      <ion-item lines="none">
        <p style="padding-top: 2rem" color="ion-color-dark">
          <b>Nombre:</b>
          <input placeholder="Nombre" type="text" formControlName="nombre" /></p>

      </ion-item>
      <ion-item lines="none">
        <p position="floating" color="ion-color-dark">
          <b>Apellidos:</b>
          <input placeholder="apellidos" type="text" formControlName="apellidos" />
        </p>

      </ion-item>
      <ion-item lines="none">
        <p color="ion-color-dark">
          <b>DNI:</b>
          <i> <input placeholder="DNI" minlength="9" maxlength="9" type="text" formControlName="dniAgente" /></i></p>
      </ion-item>
      <ion-item lines="none">
        <p color="ion-color-dark">
          <b>Autonomo:</b>
          <i> <input placeholder="Autonomo" type="text" formControlName="autonomo" /></i></p>

      </ion-item>
      <ion-item lines="none">
        <p color="ion-color-dark"><b>Correo Electronico:</b>
          <input placeholder="Correo Electronico" type="email" formControlName="email" />
        </p>

      </ion-item>
      <ion-item lines="none">
        <p color="ion-color-dark"><b>Teléfono:</b>
          <input placeholder="666555444" type="tel" formControlName="telefono" />
        </p>

      </ion-item>
      <ion-item lines="none">
        <p position="floating" color="ion-color-dark">
          <b>Nif:</b>
          <input placeholder="Nif" type="text" formControlName="nif" />
        </p>

      </ion-item>
      <ion-item lines="none">
        <p position="floating" color="ion-color-dark">
          <b>Domicilio:</b>
          <textarea placeholder="Domicilio" type="text" formControlName="domicilio"></textarea>
        </p>

      </ion-item >
      <ion-item lines="none">
        <p position="floating" color="ion-color-dark">
          <b>Inmobiliaria ID:</b>
          <input placeholder="Inmobiliaria ID" type="text" formControlName="inmobiliariaId" />
        </p>
      </ion-item>
      <ion-item lines="none">
        <p color="ion-color-dark"><b>Fecha de Nacimiento:</b>
          <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" max="2001" padding
            placeholder="Fecha de Nacimiento" type="date" formControlName="fechaNacimiento" done-text="Aceptar"
            cancel-text="Cancelar"></ion-datetime>
        </p>
      </ion-item>
    </ion-list>
    <div text-center>
      <button class="botones" type="submit" [disabled]="!validations_form.valid">Crear</button>
    </div>
  </form>
</ion-content>