ion-content{
    --background: black;
}

.volver{
    text-align: end;
}

.titulo{
    color: white;
    margin-top: 1rem;
    img{
        padding-right: 0.5rem;
        width: 3rem;
        margin-top: -0.5rem;
        margin-left: -1rem;
    }
}

.titulo-texto{
    font-size: larger;
}

.caja{
    margin-top: 6rem;
}

.logo{
    margin-top: 5rem;
}

.access{
    position: absolute;
    margin-top: 4rem;
}

.inputUno{
    background: #00D8C8;
    color: white;
    height: 2rem;
    width: 13rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    text-align: center;
}

.inputDos{
    background: #00D8C8;
    color: white;
    height: 2rem;
    width: 13rem;
    border: none;
    border-radius: 5px;
    text-align: center;
}

::placeholder{
    color: white;
}

.boton{
    margin-top: 7rem;
}

.botonA{
    background: transparent;
    color: white;
    margin-left: -0.9rem;
    font-size: initial;
    margin-top: 7rem;
}