
<ion-content padding>
    <div class="volver">
        <img (click)="goBack()" src="../../../assets/imgs/volver.png" alt="">
      </div>
      <div text-center class="titulo">
        <p class="titulo-texto mx-auto">
          <img class="masGestion" src="../../../assets/imgs/FAC.png" alt="">
          DATOS DE FACTURACIÓN</p>
      </div>
      <form action="">
        <div text-center  class="logo mx-auto">
          <img src="../../../assets/imgs/paypal.png" alt="">
        </div>
      <div class="caja">
        <div text-center class="input1 mx-auto">
          <input type="text" class="inputUno" placeholder="USUARIO" />
        </div>
        <div text-center class="input2 mx-auto">
            <input type="password" class="inputDos" placeholder="CONTRASEÑA" />
          </div>
      </div>
      <div  text-center class="boton mx-auto">
        <img class="access" src="../../../assets/imgs/access.png" alt="">
        <button  type="submit" class="botonA">Acceder</button>
      </div>
    </form>
</ion-content>
