<!-- app-pantalla16 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	float-footer="{{ screen.floatFooter }}"
	show-back="{{ screen.showBack }}"
	show-menu="{{ screen.showMenu }}"
	show-logo="{{ screen.showLogo }}"
	show-subtitle="{{ screen.showSubtitle }}">

	<mv-container class="app-main-menu-mv-card-main">

			<h2 id="dir">
					  Cuestionario
					</h2>

		<mv-container-item>

		<p id="intro">Estimado Sr./Sra.:
			<br/><br/>
			Quienes trabajamos en el <span>HOSPITAL LA FUENFRÍA</span> estamos interesados en conocer su opinión
			acerca de la calidad del servicio hospitalario que se le ha ofrecido durante su estancia en el
			mismo. Por este motivo nos permitimos dirigirnos a Vd. con el propósito de solicitarle su
			colaboración, con la seguridad de que su opinión y ayuda será de gran utilidad para que
			podamos hacerlo mejor cada día.
			Su colaboración es <strong><em>totalmente voluntaria y completamente anónima.</em></strong> Sus respuestas,
			comentarios y sugerencias serán tratados de forma absolutamente confidencial.
			Le agradecemos muy sinceramente su interés al cumplimentar esta encuesta y su atención
			para con nuestro trabajo, con la seguridad de que será en beneficio de todos.</p>

			<br/><br/>

		<p id="dirG">EL DIRECTOR GERENTE</p>
			<br/>
			<br/>
				
			<p>Su nivel de satisfacción general con el Hospital La Fuenfría ha sido</p>
				<ul class="radios">
					<li><input type="radio" name="sat"/>&nbsp;5</li>
					<li><input type="radio" name="sat"/>&nbsp;4</li>
					<li><input type="radio" name="sat"/>&nbsp;3</li>
					<li><input type="radio" name="sat"/>&nbsp;2</li>
					<li><input type="radio" name="sat"/>&nbsp;1</li>
					<li><input type="radio" name="sat"/>&nbsp;ns/nc</li>
				</ul>
			<br/><br/>
			<p>¿Recomendaría este hospital a amigos y familiares?</p>
				<ul class="radios">	
					<li><input type="radio" name="rec"/>&nbsp;Sí</li>
					<li><input type="radio" name="rec"/>&nbsp;No</li>
					<li><input type="radio" name="rec"/>&nbsp;ns/nc</li>
				</ul>
			<br/><br/>
			<p>¿Volvería a este Hospital en caso de necesitarlo?</p>
				<ul class="radios">
					<li><input type="radio" name="nec"/>&nbsp;Sí</li>
					<li><input type="radio" name="nec"/>&nbsp;No</li>
					<li><input type="radio" name="nec"/>&nbsp;ns/nc</li>
				</ul>
			<br/><br/>
			<p>¿Se cumplieron sus expectativas en cuanto a su estancia
					en el Hospital La Fuenfría?</p>
				<ul class="radios">
					<li><input type="radio" name="exp"/>&nbsp;Sí</li>
					<li><input type="radio" name="exp"/>&nbsp;No</li>
					<li><input type="radio" name="exp"/>&nbsp;ns/nc</li>
				</ul>
			<br/><br/>

			<p style="text-align:center;"><input type="submit" value="Enviar"/><p>
			
		</mv-container-item>

	</mv-container>

</mv-screen>