<header>
<app-header tituloHeader="Crear Recibo"></app-header>
</header>
<ion-content>
<div text-center class="contenedor mx-auto">

  <div class="contenedor_formulario">
    <p class="download" *ngIf="finalizado">URL de descarga: <a href="{{ URLPublica }}" target="_blank">Descargar</a></p>
    <p>{{ URLPublica }}</p>
    <div text-center>
    <input style="margin-bottom: 1rem;" class="url" #url type="text" value="{{URLPublica}}" id="url"/>
    <ion-icon size="large" color="light" slot="end" name="copy" (click)="copy(url)"></ion-icon>
  </div>
  <div class="caja">
    <form [formGroup]="archivoForm" (ngSubmit)="subirArchivo()">
      <div class="file has-name is-boxed">
      <!-- <label class="file-label">
          <input class="file-input" type="file" formControlName="archivo" (change)="cambioArchivo($event)">
          <span class="file-cta">
            <span class="file-label">
              Elegir un archivo…
            </span>
          </span>
          <span class="file-name">
            {{ mensajeArchivo }}
          </span>
        </label> --> 

        <label class="file-label">
          <input  class="file-input" type="file" formControlName="archivo" (change)="cambioArchivo($event)">
          <span class="file-cta">
            <span class="file-label">
              Elegir un archivo…
            </span>
          </span>
          <span class="file-name">
            {{ mensajeArchivo }}
          </span>
        </label>
      </div>
      <hr>
      <div text-center>
      <progress *ngIf="porcentaje > 0 && porcentaje < 100" class="progress is-large is-success" value="{{porcentaje}}" max="100">{{porcentaje}}%</progress>
      <button class="botones" [ngClass]="{'button': true, 'is-success': true, 'is-large': true, 'is-loading': porcentaje > 0 && porcentaje < 100}" [disabled]="!archivoForm.valid && (porcentaje > 0 && porcentaje < 100)">Subir archivo</button>
    </div>
    </form>
  </div>
    <div text-center>
      <button class="boton" color="tertiary" routerLink="/lista-usuarios-recibos">Agregar recibo a un usuario</button>
    </div>
  </div>
</div>
</ion-content>