
ion-content{

  --background: url("/assets/imgs/crearRecibo.jpg") no-repeat fixed center; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}

@media only screen and (min-width:414px){
  ion-content{
      --background: url("/assets/imgs/crearReciboS.jpg") no-repeat fixed center; 
      -webkit-background-size: contain;
      -moz-background-size: contain;
      background-size: contain;
  }
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
   
  
    .contenedor-formulario {
      width: 80% !important;
    }

    .contenedor_formulario{
      max-width: 90%;
    }
  
    .download {
      background: #1081ff;
      color: #FFFFFF;
      padding: 10px 20px;
      margin-bottom: 20px;
      a {
        text-decoration: underline;
        color: #FFFFFF;
      }
    }
  }

  ion-icon{
    margin-left: 1rem;
  }

  .url{
    width: 80%;
    border-radius: 10px;
  }

  .botones{
    color: black;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    border: 1px 1px black;
    height: 2.2rem;
    box-shadow: 1px 1px black;
    margin-top: 2rem;
    font-size: 1.1rem;
    width: 80%;
    text-align: initial;
 }

 .boton{
  background: #26a6ff;
  border-radius: 5px;
  border: 1px 1px black;
  height: 2.2rem;
  box-shadow: 1px 1px black;
  margin-top: 2rem;
  font-size: 1.1rem;
  width: 80%;
  color: white;

}

 input{
   width: 80%;
 }




 @media (min-width:1024px) and (max-width:1920px){
  ion-content{
    --background: url("/assets/imgs/dRecibos.jpg") no-repeat fixed center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    --background-attachment: fixed;
}  
}