/*
╔════════════════════════╗
║ mova-button-back style ║
╚════════════════════════╝
*/

mv-button-back {

	margin: 0 0 0 0;
	padding: 0 0 0 0;

	.mv-button-back {
		padding: 1.05rem 1rem 0.80rem 1rem;
		font-size: 1.55rem;
		color: $color-secondary-011;
	}

}