/*
╔════════════════════════╗
║ mova-button-menu style ║
╚════════════════════════╝
*/

mv-button-menu {

	margin: 0 0 0 0;
	padding: 0 0 0 0;

	.mv-button-menu {
		padding: 1.20rem 1rem 0.80rem 1rem;
		font-size: 1.55rem;
		color: $color-secondary-011;
	}

}