<app-cabecera [titulohead]="tituhead"></app-cabecera>
<!-- <ion-buttons slot="end">
        <ion-back-button text="" color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-content *ngIf="isAdmin === true" padding>

      --> 
<ion-content padding>

    <form padding [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">

    <ion-grid class="cajaFirma" margin-bottom>
    <ion-col col-12 text-center>
        <h6>Ley de Proteccion de Datos</h6>
    </ion-col>
  <ion-row >
      <div text-center class="mx-auto">
      <ion-col col-12>
        <p text-justify class="ley">
            La Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos privacidad personal y familiar.
            Fue aprobada por las Cortes Generales el 13 de diciembre de 1999 y derogada con la entrada en 
              General de Protección de Datos de la Unión Europea. <a (click)="mostrarModal()" style="color: #BB1D1D">Más info.</a>
        </p>
      </ion-col>
    </div>
    <div text-center class="mx-auto">
        <div color="primary">Datos Personales :</div>
        <!--<textarea style="margin:3px 0; margin-left: 10%;" rows="7" cols="36"></textarea>-->
        <input formControlName="nombre" type="text" placeholder="Nombre Completo" class="cajatexto">
        <input formControlName="identidad" type="text" placeholder="Nº de identidad" class="cajatexto">
        <div>
        <ion-label color="primary">Fecha</ion-label>
        <ion-datetime  placeholder="Fecha" display-format="DD-MM-YYYY" picker-format="DD-MM-YYYY" formControlName="fecha" class="cajatexto mx-auto" cancel-text="Cancelar" done-text="Aceptar"></ion-datetime>
        </div>
      <div class="title"><h4>Firma del paciente:</h4></div>
      <ion-row style="margin-top: 2rem;" [ngClass]="{'drawing-active': isDrawing}">
        <ion-col>
          <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()" ></signature-pad>
        </ion-col>
        <ion-col></ion-col>

        <ion-col size="12">
            <ion-button size="small" expand="block" color="danger" (click)="clearPad()">Limpiar</ion-button>
        </ion-col>
    
      </ion-row>
    
  <!-- <ion-row>
        <ion-col></ion-col>
        <ion-col width-80>
          <img [src]="signature"/>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>-->
    </div>
  </ion-row>
</ion-grid>
<div class="cFirma">
<div  style="text-align: center ;margin-top:5px;">
  <ion-col size="12">
    <div>
      <ion-label class="label label-ios">
        <ion-checkbox formControlName="check" class="check" color="primary" checked="false"></ion-checkbox>
        <p class="terminos"> Haciendo click aquí acepto los términos y condiciones..</p>
      </ion-label>
    </div>
  </ion-col>
  <div>

    <ion-col text-center size="12">
    <ion-button type='submit' expand="block" size="small" color="primary" expand="block" [disabled]="!validations_form.valid" (click)="savePad()"round>Adelante</ion-button>
  </ion-col>
  </div>
  </div>
</div>

</form>
</ion-content>
