<!-- app-maquetacion-carpeta-salud -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<!-- Contenedor de Cards -->
	<mv-container class="app-maquetacion-carpeta-salud-mv-card-main">

		<mv-card
			default-css=false
			class="app-maquetacion-carpeta-salud-personal-data"
			>
			<i class="fa fa-user"></i>
			<p class="app-maquetacion-carpeta-salud-personal-data-name">Rick Sanchez Fernandez</p>
			<p class="app-maquetacion-carpeta-salud-personal-data-last-connection">Última acceso: 27/03/1984</p>
		</mv-card>

		<!-- Elemento del contenedor -->
		<mv-container-item
			round-corners=true
			class="app-maquetacion-carpeta-salud-mv-card-main-item"
			>

			<!-- Elemento del contenedor -->
			<mv-container-item col-xs=12 col-sm=4>

				<mv-card
					class="app-maquetacion-mv-card-option"
					round-corners=true
					shadow=true
					click="clickOpcion(1)"
					default-css=false
				>
					<mv-input-image
						class-if="app-maquetacion-mv-card-option-image"
						src="media/images/examples/app-maquetacion-carpeta-salud-icon-info-clinica.png"
						default-css=false
						>
					</mv-input-image>
					<p class="app-maquetacion-mv-card-option-text">Mi información clínica</p>
				</mv-card>
			</mv-container-item>

			<!-- Elemento del contenedor -->
			<mv-container-item col-xs=12 col-sm=4>

				<mv-card
					class="app-maquetacion-mv-card-option"
					round-corners=true
					shadow=true
					click="clickOpcion(1)"
					default-css=false
				>
					<mv-input-image
						class-if="app-maquetacion-mv-card-option-image"
						src="media/images/examples/app-maquetacion-carpeta-salud-icon-indicadores.png"
						default-css=false
						>
					</mv-input-image>
					<p class="app-maquetacion-mv-card-option-text">Datos de mi salud</p>
				</mv-card>
			</mv-container-item>

			<!-- Elemento del contenedor -->
			<mv-container-item col-xs=12 col-sm=4>

				<mv-card
					class="app-maquetacion-mv-card-option"
					round-corners=true
					shadow=true
					click="clickOpcion(1)"
					default-css=false
				>
					<mv-input-image
						class-if="app-maquetacion-mv-card-option-image"
						src="media/images/examples/app-maquetacion-carpeta-salud-icon-calendario.png"
						default-css=false
						>
					</mv-input-image>
					<p class="app-maquetacion-mv-card-option-text">Mi calendario de citas</p>
				</mv-card>
			</mv-container-item>

		</mv-container-item>

		<!-- Elemento del contenedor -->
		<mv-container-item
			round-corners=true
			class="app-maquetacion-carpeta-salud-mv-card-main-item-2"
			>

			<!-- Elemento del contenedor -->
			<mv-container-item col-xs=12 col-sm=3>

				<mv-card
					adapt=true
					default-css=false
					class="app-maquetacion-mv-card-option"
				>
					<mv-button
						img-src="media/images/examples/app-maquetacion-carpeta-salud-icon-episodios.png"
						class="app-maquetacion-mv-button-option-mini"
						btn-type="color-primary-001"
						disabled=true
						>
						Datos clínicos
					</mv-button>
				</mv-card>

			</mv-container-item>

			<!-- Elemento del contenedor -->
			<mv-container-item col-xs=12 col-sm=3>

				<mv-card
					adapt=true
					default-css=false
					class="app-maquetacion-mv-card-option"
				>
					<mv-button
						img-src="media/images/examples/app-maquetacion-carpeta-salud-icon-cuidados-enfermeria.png"
						class="app-maquetacion-mv-button-option-mini"
						btn-type="color-primary-001"
						>
						Cuidados de enfermería
					</mv-button>
				</mv-card>

			</mv-container-item>

			<!-- Elemento del contenedor -->
			<mv-container-item col-xs=12 col-sm=3>

				<mv-card
					adapt=true
					default-css=false
					class="app-maquetacion-mv-card-option"
				>
					<mv-button
						img-src="media/images/examples/app-maquetacion-carpeta-salud-icon-hoja-medicacion.png"
						class="app-maquetacion-mv-button-option-mini"
						btn-type="color-primary-002"
						disabled=true
						>
						Medicación
					</mv-button>
				</mv-card>

			</mv-container-item>

			<!-- Elemento del contenedor -->
			<mv-container-item col-xs=12 col-sm=3>

				<mv-card
					adapt=true
					default-css=false
					class="app-maquetacion-mv-card-option"
				>
					<mv-button
						img-src="media/images/examples/app-maquetacion-carpeta-salud-icon_reaccionesAdversas.png"
						class="app-maquetacion-mv-button-option-mini"
						btn-type="color-primary-002"
						>
						Alergias y reacciones
					</mv-button>
				</mv-card>

			</mv-container-item>

			<!-- Elemento del contenedor -->
			<mv-container-item col-xs=12 col-sm=3>

				<mv-card
					adapt=true
					default-css=false
					class="app-maquetacion-mv-card-option"
				>
					<mv-button
						img-src="media/images/examples/app-maquetacion-carpeta-salud-icon-vacunas.png"
						class="app-maquetacion-mv-button-option-mini"
						btn-type="color-primary-003"
						disabled=true
						>
						Vacunas
					</mv-button>
				</mv-card>

			</mv-container-item>

			<!-- Elemento del contenedor -->
			<mv-container-item col-xs=12 col-sm=3>

				<mv-card
					adapt=true
					default-css=false
					class="app-maquetacion-mv-card-option"
				>
					<mv-button
						img-src="media/images/examples/app-maquetacion-carpeta-salud-icon-incapacidad-temporal.png"
						class="app-maquetacion-mv-button-option-mini"
						btn-type="color-primary-003"
						>
						Incapacidad laboral
					</mv-button>
				</mv-card>

			</mv-container-item>

			<!-- Elemento del contenedor -->
			<mv-container-item col-xs=12 col-sm=3>

				<mv-card
					adapt=true
					default-css=false
					class="app-maquetacion-mv-card-option"
				>
					<mv-button
						img-src="media/images/examples/app-maquetacion-carpeta-salud-icon-instrucciones-previas.png"
						class="app-maquetacion-mv-button-option-mini"
						btn-type="color-primary-004"
						disabled=true
						>
						Instrucciones previas
					</mv-button>
				</mv-card>

			</mv-container-item>

			<!-- Elemento del contenedor -->
			<mv-container-item col-xs=12 col-sm=3>

				<mv-card
					adapt=true
					default-css=false
					class="app-maquetacion-mv-card-option"
				>
					<mv-button
						img-src="media/images/examples/app-maquetacion-carpeta-salud-icon-instrucciones-previas.png"
						class="app-maquetacion-mv-button-option-mini"
						btn-type="color-primary-004"
						>
						Otras opciones
					</mv-button>
				</mv-card>

			</mv-container-item>

		</mv-container-item>

	</mv-container>

	<mv-card
		class="section-warning"
		title="AVISO"
		hr-class-if="hr-warning"

		>
		Le informamos que, a partir del momento en que descargue o imprima la documentación e información almacenada en "Mi Carpeta de Salud", la custodia de la misma pasará a ser de su exclusiva responsabilidad, recomendándole que haga un uso cuidadoso de ella en función de su sensibilidad. Si decidiera conservarla, que sea en algún lugar o formato con acceso restringido.
	</mv-card>

	<mv-card
		class="section-info"
		title="INFORMACIÓN"
		hr-class-if="hr-info"

		>
		Para más información, puede contactar con el teléfono de información general de la Comunidad de Madrid 900 102 112. En caso de duda o sugerencia sobre la información que se ofrece en este servicio, puede contactar con: <a href="mailto:sanidadinforma@salud.madrid.org" target="_top">sanidadinforma@salud.madrid.org</a>.
	</mv-card>

</mv-screen>
