/*
╔═════════════════════════════════════╗
║ app-maquetacion-carpeta-salud style ║
╚═════════════════════════════════════╝
*/
app-maquetacion-carpeta-salud {

	.app-maquetacion-carpeta-salud-mv-card-main {

		margin-top: 2rem;
		max-width: 60rem;

		.app-maquetacion-carpeta-salud-personal-data {
			font-size: $font-size-big;
			color: $color-primary-003;
			padding-left: 0.75rem;

			.app-maquetacion-carpeta-salud-personal-data-name {
				font-family: "montserrat-bold";
				display: inline-block;
				margin-left: 0.75rem;
			}

			.app-maquetacion-carpeta-salud-personal-data-last-connection {
				display: inline-block;
				float: right;
				margin-top: 0.45rem;
				margin-right: 0.75rem;
				font-size: $font-size-small;
			}
		}

		.app-maquetacion-carpeta-salud-mv-card-main-item {

			background-color: $color-primary-003-10;
			padding: 1.9rem 0.9rem 1.15rem 0.9rem;
			margin-bottom: 2rem;

			.app-maquetacion-mv-card-option {

				//background-color: $color-secondary-011;
				background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
				padding: 1rem 0rem 0rem 0rem;
				margin: 1rem;
				text-align: center;
				font-weight: bold;

				.app-maquetacion-mv-card-option-text {
					background-color: transparent;
					padding: 0.55rem 0 0.35rem 0;
					color: $color-primary-001;
				}
			}
		}

		.app-maquetacion-carpeta-salud-mv-card-main-item-2 {

			background-color: $color-primary-003-10;
			margin: 0.95rem;
			padding: 1.9rem 0.9rem 1.15rem 0.9rem;
			margin-bottom: 2rem;
			margin-top: 2rem;
			text-align: center;

			/*.section-warning,
			.section-info,
			.section-danger {
				margin: auto !important;
			}*/

			.app-maquetacion-mv-card-option {

				.mv-card-badge-icon-class {
					margin-top: 0rem;
					margin-right: 0.85rem;

					@include mx-shadow();
				}

				.app-maquetacion-mv-button-option {
					width: 90%;
					margin: 0.85rem auto;

				}

				.app-maquetacion-mv-button-option-mini {
					width: 90%;
					margin: 0.85rem auto;
					line-height: 2rem;

					.mv-button-image {
						max-width: 26px;
						max-height: 26px;
					}

					.mv-button-container {
						line-height: 1.85rem;
					}
				}
			}
		}
	}
}

/*
┌──────────────────┐
│ Bootstrap col-xs │
└──────────────────┘
*/

@media only screen and (max-width : $media-col-xs-max) {

	app-maquetacion-carpeta-salud {
		.app-maquetacion-carpeta-salud-mv-card-main {

			.app-maquetacion-carpeta-salud-mv-card-main-item {
				margin-bottom: 1rem;
			}

			.app-maquetacion-carpeta-salud-personal-data {

				.app-maquetacion-carpeta-salud-personal-data-last-connection {
					display: block;
					float: none;
					font-size: $font-size-small;
				}
			}
		}
	}
}
