/*
╔═══════════════════════════╗
║ mova-input-checkbox style ║
╚═══════════════════════════╝
*/

/* Clase para detectar el hover para el tooltip */
.mv-input-checkbox-container:hover{
	.mv-input-checkbox-tooltip {
		visibility: visible;
		opacity: 1;
	}
}

.mv-input-checkbox-container{

	position: relative;
	display: table;
	border-collapse: separate;

	.mv-input-checkbox-label{
		max-width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 0 0 0 0;
		font-size: 0.85rem;
		font-weight: bold;
	}

	.mv-input-checkbox-tooltip {
		visibility: hidden;
		width: 120px;
		background-color: #555;
		color: #fff;
		text-align: center;
		padding: 6px 5px;
		border-radius: 6px;
		z-index: 5;
		position: absolute;
		opacity: 0;
		transition: opacity 0.3s;

		&.mv-input-checkbox-tooltip-position-right{
			bottom: 25%;
    	left: 50%;
		}
		&.mv-input-checkbox-tooltip-position-left{
			top: 0;
			right: 115%;
		}
		&.mv-input-checkbox-tooltip-position-top{
			bottom: 105%;
			right: 0%;
		}
		&.mv-input-checkbox-tooltip-position-bottom{
			top: 105%;
			right: 0%;
		}
	}

	input {

		&[has-required] {

		}

		&.mv-input-checkbox {

			/*
			Tamaños
			*/
			&.small {
				transform: scale(0.85);
			}
			&.medium {
				transform: scale(1.55);
			}
			&.big {
				transform: scale(2);
			}

		}

	}

}
