<app-cabecera [titulohead]="tituhead"></app-cabecera>
<ion-content padding margin-top>
    <ion-grid margin-top>
    <ion-row margin-top>
    <ion-col>
        <div routerLink="/lista-dietas-hipocaloricas-user"  class="bot bot_irHistoryClinico">
            <img src="../../../assets/imgs/bot_cliente_seguimiento/menuhipo.png">
            <p style="font-size:13px; font-weight: bold;">Dietas 1</p>
          </div>
    </ion-col>
    <ion-col>
        <div  routerLink="/lista-dietas-proteinas-user" class="bot bot_proteina">
            <img src="../../../assets/imgs/bot_cliente_seguimiento/menuproteinas.png">
            <p style="font-size:13px; font-weight: bold;">Dietas 2</p>
          </div>
    </ion-col>
    <ion-col>
        <div  routerLink="/lista-dietas-cena-user" class="bot bot_irHistoryClinico">
          <img src="../../../assets/imgs/bot_cliente_seguimiento/menucenas.png">
          <p style="font-size:13px; font-weight: bold;">Dietas 3</p>
        </div>
  </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
