<ion-header>
  <nav class="navbar navbar-expand-lg navbar-dark ">
    <a style="font-size: large; color: white;" class="navbar-brand" (click)="goBack()"><img class="logo"
        src="../../../assets/icon/logotipoO.png">Detalles del piso</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="isUserAdmin != true" class="nav-item ">
          <a class="nav-link" (click)="perfil()">Perfil</a>
        </li>
        <li *ngIf="isUserAdmin != true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/tabs/tab1" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Pisos
          </a>
          <div class="dropdown-menu" style="background: black; color:white;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="listaPisos()">Lista de pisos</a>
            <a class="dropdown-item" (click)="registrarPiso()">Añadir piso</a>
          </div>
        </li>
        <li *ngIf="isUserAdmin != true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Agentes
          </a>
          <div class="dropdown-menu" style="background: black; color:white;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="registroAgente()">Registrar agente</a>
            <a class="dropdown-item" (click)="listaInmo()">Lista de agentes</a>
          </div>
        </li>
        <li *ngIf="isUserAdmin == true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div style="background: black; color:white;" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="registro()">Registrar Inmobiliaria</a>
            <a class="dropdown-item" (click)="listaInmobiliarias()">Lista de Inmobiliarias</a>
            <a class="dropdown-item" (click)="listaPisosAdmin()">Lista de pisos</a>
            <a class="dropdown-item" (click)="pisosReservados()">Lista de pisos bloqueados</a>
            <a class="dropdown-item" (click)="solicitudesAlquiler()">Solicitudes de alquiler&nbsp;<ion-badge *ngFor="let contratos of cs.contratos; let i = index;" color="success"><p *ngIf="contratos.contratoGenerador != true">{{i+1}}</p></ion-badge></a>
            <a class="dropdown-item" (click)="incidentes()">Lista Incidencias</a>
            <a class="dropdown-item" (click)="desahucio()">lista prevision desahucio</a>
            <a class="dropdown-item" (click)="impago()">lista prevision impago</a>
            <a class="dropdown-item" (click)="contratosInquilinos()">Contratos firmados inquilinos</a>
            <a class="dropdown-item" (click)="contratosArrendadores()">Contratos firmados arrendadores</a>
            <a class="dropdown-item" (click)="recibos()">Recibos</a>
            <a class="dropdown-item" (click)="admin()">Registrar admin</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</ion-header>

<ion-content>
  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <div padding>
      <ion-slides pager="true" [options]="slidesOpts">
        <ion-slide *ngFor="let img of this.item.imageResponse">
          <img src="{{img}}" alt="" srcset="">
        </ion-slide>
      </ion-slides>
    </div>
    <ion-grid class="desktop">
      <ion-row>
        <ion-col size="12">
          <p>
            <b>Calle: </b> <a style="color: brown !important"
              href="https://maps.google.com/maps?q=+{{this.item.calle}}">{{this.item.calle}}</a>
          </p>
        </ion-col>
        <ion-col size="12">
          <p><b>Numero: </b>{{this.item.numero}}</p>
        </ion-col>
        <ion-col size="12">
          <p><b>Localidad: </b>{{this.item.localidad}}</p>
        </ion-col>
        <ion-col size="12">
          <p><b>Codigo Postal: </b>{{this.item.cp}}</p>
        </ion-col>
        <ion-col size="12">
          <p> <b>M2: </b>{{this.item.metrosQuadrados}}</p>
        </ion-col>
        <ion-col size="12">
          <p><b>Costo Alquiler: </b></p>
          <p>€<input formControlName="mesesFianza" value="{{this.item.costoAlquiler}}" /></p>
        </ion-col>
        <ion-col size="12">
          <p><b>Meses de deposito: </b></p>
          <p><input formControlName="mesesDeposito" value="{{this.item.mesesDeposito}}" /></p>
        </ion-col>
        <ion-col size="12">
          <p>
            <b>Meses de Fianza: </b></p>
          <p><input formControlName="mesesFianza" value="{{this.item.mesesFianza}}" /></p>

        </ion-col>
        <ion-col size="12">
          <p>
            <b>Nº habitaciones: </b>{{this.item.numeroHabitaciones}}</p>
        </ion-col>

        <ion-col size="12">
          <p>
            <b>Descripción Inmueble: </b>
          </p>
          <br />
          <textarea>
            {{this.item.descripcionInmueble}}
          </textarea>
        </ion-col>
        <ion-col size="12">
          <p>
            <b>Baños: </b>{{this.item.banos}}</p>
        </ion-col>
        <ion-col size="12">
          <p>
            <b>Amueblado: </b>{{this.item.amueblado}}</p>
        </ion-col>

        <ion-col size="12">
          <p>
            <b>Calefacción Central: </b>{{this.item.calefaccionCentral}}</p>
        </ion-col>
        <ion-col size="12">
          <p>
            <b>Calefacción Individual: </b>{{this.item.calefaccionIndividual}}</p>
        </ion-col>
        <ion-col size="12">
          <p>
            <b>Climatización: </b>{{this.item.climatizacion}}</p>
        </ion-col>
        <ion-col size="12">
          <p>
            <b>jardin: </b>{{this.item.jardin}}</p>
        </ion-col>
        <ion-col size="12">
          <p>
            <b>Acensor: </b>{{this.item.acensor}}</p>
        </ion-col>

        <ion-col size="12">
          <p>
            <b>Piscina: </b>{{this.item.piscina}}</p>
        </ion-col>

        <ion-col size="12">
            <p>
              <b>Zonas Comunes: </b>
            </p>
            <ul>
              <li *ngFor="let i of this.item.zonasComunes">{{i}}</li>
            </ul>
  
          </ion-col>
          <ion-col size="12">
            <div>
              <ion-button expand="full" size="small" (click)="presentModal()">lista agentes</ion-button>
            </div>
          </ion-col>
          <ion-col size="12">
            <p>
              <b>Colocar el id del Agente: </b><input type="text" formControlName="agenteId"></p>
          </ion-col>
          <div *ngIf="isUserAdmin === true">
        <ion-col size="12">
          <p>
            <b>Estado Inmueble: </b>{{this.item.estadoInmueble}}</p>
        </ion-col>
        
        <ion-col size="12">
          <ion-select placeholder="Checkeado Rentech" style="background: transparent;" formControlName="check"
          cancelText="Cancelar" okText="Aceptar!">
            <ion-select-option [value]='true'>Si</ion-select-option>
            <ion-select-option [value]='false'>No</ion-select-option>
          </ion-select>
        </ion-col>
        <br />
        <ion-col size="12" *ngIf="this.item.disponible == false">
          <b>Reactivar Piso:</b>
          <ion-input style="color: green;" formControlName="disponible" [value]='true'></ion-input>
        </ion-col>
      </div>
      </ion-row>
    </ion-grid>
    <div text-center>
      <button *ngIf="isUserAdmin == true" class="boton" expand="block" type="submit" [disabled]="!validations_form.valid">Reactivar
        Piso</button>
    </div>
    <div text-center>
      <button *ngIf="isUserAdmin != true" class="boton" expand="block" type="submit" [disabled]="!validations_form.valid">Guardar</button>
    </div>

  </form>
  <div text-center>
    <button class="boton1" expand="block" type="submit" color="secondary" (click)="delete()">
      Borrar</button>
  </div>