ion-content{

    --background: url("/assets/imgs/detallesPiso.jpg") no-repeat fixed center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}

@media only screen and (min-width:414px){
    ion-content{
        --background: url("/assets/imgs/detallesPisoS.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
    }
}

b{
    margin-right: 1rem;
}
p{
    height: 0.5rem;
}

a{
    color: saddlebrow;
    text-decoration: none;
    background-color: transparent;
}

p.adicional{
    height: auto;
}
.icono{
    padding-left: 1rem;
    padding-right: 1rem;
}
.boton{
    width: 10rem;
    border-radius: 5px;
    background: #26a6ff;
    height: 2rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.boton1{
    width: 10rem;
    border-radius: 5px;
    background: rgba(255,0,0,0.6);
    height: 2rem;
    font-size: 1.1rem;
    color: white;
    margin-bottom: 1rem;
}

textarea{
    background: transparent;
     width:95%; 
     text-align: center; 
     font-size: smaller;
     border: none;
}

input{
    background: rgba(255,255,255,0.5);
    border: none;
}



@media (min-width:1024px) and (max-width:1920px){
   textarea{
       text-align: left;
   }
   .desktop{
       width: 50%;
   }
   ion-content{
    --background: url("/assets/imgs/pisos.jpg") no-repeat fixed center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    --background-attachment: fixed;
}  

}
