header{
  background: #26a6ff;
}

.arrendador{
  background: #26a6ff;
  height: 2rem;
}



h5{
  //text-shadow: 1px 1px whitesmoke;
  //padding-top: 1rem;
  color: white;
  padding-top: 0.3rem;
  position: relative;
  font-size: larger;
  /* background: black; */
  width: 70%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  margin-left: 15%;
  //padding-bottom: 0.3rem;
  font-weight: bold;
  text-transform: uppercase;
}


.image{
  float: left;
  position: relative;
  margin-top: -1.8rem;
  height: 1rem;
  padding-left: 0.5rem;
}

.arrow{
  float: left;
  position: relative;
  margin-top: -1.8rem;
  height: 1rem;
  padding-left: 0.5rem;
}


.navbar.navbar-expand-lg{
  background-color: #26a6ff;
  color: black;
}

.collapse.navbar-collapse{
  //background: rgb(197,197,197);
  color: black;
margin-left: -1rem;
margin-right: -2rem;
padding-left: 1rem;
margin-bottom: -0.5rem;
}




.logotipo{
  padding-right: 1rem;
  height: 2rem;
}

a.nav-link{
  color: black;
}

.navbar-brand{
  color: black;
  font-size: x-large;
  position: relative;
  display: flex;
}


ion-content{
  --background: white;
 }
 
 .icono{
   padding-left: 1rem;
 }
 
 
 .caja{
   text-align: left;
   float: left;
   padding-top: 1rem;
 }
 
 .iconos{
   position: relative;
   font-size: smaller;
  // padding-top: 1rem;
   float: left;
 
   b{
     padding-right: 0.5rem;
   }
   img{
     padding-left: 0.3rem;
     padding-right: 0.3rem;
   }
 }
 
 
 .buscador{
   border-radius: 5px;
   border: 1px 1px black;
   box-shadow: 0.2px 0.2px black;
   margin-top: 0.6rem;
   margin-bottom: 0.5rem;
   width: 70%;
   padding-left: 1rem;
   height: 2.5rem;
 //  text-transform: capitalize;

 }
 
 ::placeholder { /* Firefox, Chrome, Opera */ 
   color: black; 
 } 
 
 :-ms-input-placeholder { /* Internet Explorer 10-11 */ 
   color: black; 
 } 
 
 ::-ms-input-placeholder { /* Microsoft Edge */ 
   color: black; 
 } 
 
 .imagenPiso{
   min-height: 15rem;
   max-height: 15rem;
 }
 
 .card-img-top img{
   border-radius: 50%;
 }
 img.card-img-top{
   border-radius: 50%;
 
 }
 
 .card-text{
   float: left;
   font-size: x-small;
   width: 15rem;
   text-align: left;
   margin-top: 1rem;
 }
 
 .amueblado{
   font-size: x-small;
 }
 .card-title{
   padding-top: 0.5rem;
     position: relative;
     color: #26a6ff;
     text-align: end;
     position: relative;
     padding-left: 1.5rem;
  }
  
  .card-title i{
    color: black;
    
  }
 .tarjeta{
   margin-right: 15px;
   width: 10rem;
 }
 
 i{
   padding-left: 0.5rem;
   padding-right: 0.5rem;
 }
 
 hr{
   background: black;
 }
 
 .mes{
   font-size: smaller;
   color: black;
   font-weight: 100;
 }

.boton{
  width: 10rem;
  border-radius: 5px;
  background: rgb(38,166,255);
  height: 2rem;
  box-shadow: 1px 1px black;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: white;
}

