<header class="arrendador" *ngIf="isUserArrendador == true" style="background:#26a6ff">
  <div class="titulo" text-center>
    <h5>Tus Pisos</h5>
  </div>
  <div>
    <img class="arrow" (click)="goBack()" src="/assets/icon/flecha.png">
  </div>

</header>
<ion-header style="background:#26a6ff" *ngIf="isUserAgente == true">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" style="text-align: initial" href="#" style="">Tus Pisos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a style="color: black;" class="nav-link" (click)="goHome()">Inicio Agente </a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goPisos()">Lista pisos</a>
          <!-- <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goAlquileres()">Alquileres Activos</a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goContratos()">Contratos</a>
          </li>-->
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goPerfil()">Perfil</a>
          </li>
        </ul>
      </div>
    </nav>

</ion-header>


<ion-content *ngIf="items" class="fondo">

  <div text-center>
    <input type="search" [(ngModel)]="searchText" placeholder="Localidad..." class="buscador" />
  </div>
  <div>
    <div *ngFor="let item of items">
      <div *ngIf="items.length > 0">
        <!--[routerLink]="['/admin-contact', item.payload.doc.id]" no funciona-->
        <div *ngIf="
          item.payload.doc.data().localidad &&
          item.payload.doc.data().localidad.length
        ">
          <div *ngIf="item.payload.doc.data().localidad.includes(searchText)">
            <ion-list scrollX>
              <ion-grid>
                <ion-row>
                  <ion-col size="12">
                    <!--Aqui iniciamos las card views de los pisos -->
                    <div *ngIf="item.payload.doc.data().disponible == true" text-center>
                      <ion-slides pager="true" [options]="slidesOpts">
                        <ion-slide *ngFor="let img of item.payload.doc.data().imageResponse">
                          <img [routerLink]="['/detalles-pisos', item.payload.doc.id]" src="{{img}}" alt="" srcset="">
                        </ion-slide>
                      </ion-slides>
                      <ion-col [routerLink]="['/detalles-pisos', item.payload.doc.id]" size="12" text-center>
                        <div style="margin-bottom: -2rem;">
                          <ion-item style="margin-top: -1rem;" lines="none">
                            <p style="margin-bottom: -0.4rem;max-width: 191px; min-width: 191px;">
                              {{ item.payload.doc.data().calle }}
                              <br />{{ item.payload.doc.data().cp }}</p>
                            <p class="card-title"><b
                                style="font-size: 1.8rem;">{{ item.payload.doc.data().costoAlquiler }}€</b>
                              <b class="mes">/Mes</b>
                            </p>
                          </ion-item>
                          <ion-item lines="none">
                            <p class="iconos">
                              <img style="width: 2rem;" src="../../../assets/icon/Habitaciones.png" alt="">
                              <b>{{item.payload.doc.data().numeroHabitaciones}} habs.</b>
                              <img style="width: 2rem;" src="../../../assets/icon/Metros2.png" alt="">
                              <b>{{item.payload.doc.data().metrosQuadrados}} m2</b>
                              <img style="width: 2rem;" src="../../../assets/icon/Bañera1.png" alt="">
                              <b>{{item.payload.doc.data().banos}} baños</b>
                              <img style="width: 2rem;" src="../../../assets/icon/amoblado.png" alt="">
                              <b>{{item.payload.doc.data().amoblado}}Si</b>
                            </p>
                          </ion-item>
                        </div>


                      </ion-col>
                    </div>

                    <div *ngIf="item.payload.doc.data().disponible == false" style="opacity: 0.3;" text-center>
                      <ion-slides pager="true" [options]="slidesOpts">
                        <ion-slide *ngFor="let img of item.payload.doc.data().imageResponse">
                          <img src="{{img}}" alt="" srcset="">
                        </ion-slide>
                      </ion-slides>
                      <ion-col size="12" text-center>
                        <div style="margin-bottom: -2rem;">
                          <ion-item style="margin-top: -1rem;" lines="none">
                            <p style="margin-bottom: -0.4rem;max-width: 191px; min-width: 191px;">
                              {{ item.payload.doc.data().localidad }}
                              <br />{{ item.payload.doc.data().cp }}</p>
                            <p class="card-title"><b
                                style="font-size: 1.8rem;">{{ item.payload.doc.data().costoAlquiler }}€</b>
                              <b class="mes">/Mes</b>
                            </p>
                          </ion-item>
                          <ion-item lines="none">
                            <p class="iconos">
                              <img style="width: 2rem;" src="../../../assets/icon/Habitaciones.png" alt="">
                              <b>{{item.payload.doc.data().numeroHabitaciones}} habs.</b>
                              <img style="width: 2rem;" src="../../../assets/icon/Metros2.png" alt="">
                              <b>{{item.payload.doc.data().metrosQuadrados}} m2</b>
                              <img style="width: 2rem;" src="../../../assets/icon/Bañera1.png" alt="">
                              <b>{{item.payload.doc.data().banos}} baños</b>
                              <img style="width: 2rem;" src="../../../assets/icon/amoblado.png" alt="">
                              <b>{{item.payload.doc.data().amoblado}}Si</b>
                            </p>
                          </ion-item>
                        </div>


                      </ion-col>
                    </div>

                  </ion-col>
                </ion-row>
              </ion-grid>

            </ion-list>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div text-center padding>
        <div text-center *ngIf="items.length == 0" class="empty-list">
          <div style="margin-top: 5rem;" text-center>
            <img class="casa" src="../../../assets/imgs/logoSin.png" alt="">
          </div>
          <div style="margin-top: 2rem;" text-center>
            <p class="textoSinInmueble">!Vaya!<br />
              Parece que no tienes <br />
              ningún inmueble disponible <br />
            </p>
          </div>
        </div>
        <button (click)="registrarPiso()" class="boton">crear piso</button>
      </div>
    </footer>
  </div>

</ion-content>