/*
╔════════════════════════════════╗
║ app-maquetacion-map-vgcm style ║
╚════════════════════════════════╝
*/
app-maquetacion-map-vgcm {
	
	@include view-style;

	width: 100%;
	height: 100%;
	position: fixed;
  	overflow: auto;

  	.app-maquetacion-map-vgcm-button {
  		//width: 15rem;
  	}

  	.app-maquetacion-map-vgcm-visor {
  		margin-top: 0.55rem;
  	}

  	.app-maquetacion-map-vgcm-res-text {
  		display: block;
  		width: 100%;
  		margin-top: 0.55rem;
  		color: $color-primary-001;
  	}

    .app-maquetacion-url-visor {
      display: block;
      margin-top: 0.55rem;      
    }
}