<!-- app-maquetacion-map-vgcm -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<mv-card>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>La funcionalidad de Mapas es ofrecida por la Unidad de Sistemas de Información Geográfica.</p>
			<p>Los ejemplos aquí mostrados se integran siguiendo las normas y documentación de esta unidad.</p>
			<p>Para soporte acerca de funcionalidad de los mapas contactar con la Unidad de Sistemas de información Geográfica.</p>
		</mv-card>
		<mv-card
			class="section-success"
			title="Solicitud de uso de Mapas"
			hr-class-if="hr-success"
			>
			<p>Para la integración de mapas en las aplicaciones MOVA, por defecto habrá que usar los mapas del Unidad de Datos Abiertos y GIS.</p>
			<p>Para usar otro tipo de integraciones con mapas (por ejemplo google maps) habrá que solicitar una autorización previa a Arquitectura de aplicaciones.</p>
			<p>Los mapas de GIS están basados en un visor. Antes usar los mapas habrá que ponerse en contacto con la unidad de GIS y  solicitar un visor para el uso en la aplicación. En este visor que se definirán las características del mismo como:</p>
			<p>- Nombre del visor</p>
			<p>- Si incluye o no cabecera
			<p>- Herramientas del visor (como zoom, búsqueda, etc)</p>
			<p>- Capas que incluye el visor (calles, municipios, puntos de interés, etc) activas y no activas</p>
			<p><a href="http://intranet.madrid.org/arquitecturasw/index.php/component/jdownloads/send/62-documentacion/23970-vgcm-api-integracion" target="_blank">Manual de uso del API de mapas</a></p>
		</mv-card>
		<h1>Descripción</h1>
		<h3>A continuación se muestran diferentes ejemplo que usan la funcionalidad de mapas VGCM de GIS.</h3>
	</mv-card>

	<mv-card>

		<mv-container>

			<mv-container-item
				col-xs=12 col-sm=3 col-md=2
				default-margin=true
				>
				<mv-button
					adapt=true
					class="app-maquetacion-map-vgcm-button"
					icon-class="fas fa-globe"
					click="clickCentrar()"
				>
					Centrar
				</mv-button>
			</mv-container-item>

			<mv-container-item
				col-xs=12 col-sm=3 col-md=2
				default-margin=true
				>
				<mv-button
					adapt=true
					class="app-maquetacion-map-vgcm-button"
					icon-class="fas fa-link"
					click="clickBind()"
					show="!example.isBind"
				>
					Bind click
				</mv-button>

				<mv-button
					adapt=true
					class="app-maquetacion-map-vgcm-button"
					icon-class="fas fa-unlink"
					click="clickUnbind()"
					show="example.isBind"
				>
					Unbind click
				</mv-button>
			</mv-container-item>

		</mv-container>

		<span class="app-maquetacion-map-vgcm-res-text">{{ example.resText }}</span>

		<div id="divVisor" class="app-maquetacion-map-vgcm-visor" style="width: 100%; height: 300px; border: solid 1px"></div>

		<span class="app-maquetacion-url-visor"><a href="{{ example.urlVisor }}" target="_system">{{ example.urlVisor }}</a></span>
	</mv-card>

</mv-screen>
