<!-- app-example-mova-group -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaGroup</h1>
		<br>
		<p>Contenedor similar a los elementos <b>&lt;section></b> o <b>&lt;article></b> de HTML5.</p>
		<p>Su finalidad principal es agrupar componentes <b>mv.movaInputRadio</b> para poder validarlos.</p>
		<p>Otra finalidad es la de poder realizar la validación de todos los elementos contenidos.</p>
		<p>Este componente no debe utilizarse como contenedor visual, para esta finalidad deberá usarse el componente <b>mv.movaCard</b>.</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('isRequired')" >is-required</a></li>
			<li><a href="" ng-click="$root.scrollTo('message')" >message</a></li>
			<li><a href="" ng-click="$root.scrollTo('messageType')" >message-type</a></li>
			<li><a href="" ng-click="$root.scrollTo('validateCallback')" >validate-callback</a></li>
		</ul>
		<p>Este componente dispone de los siguientes eventos:</p>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>Para usar los eventos es necesario definir un atributo <b>id</b> en el componente.</p>
			<p>Este <b>id</b> debe ser <u>único para toda la App</u>.</p>
			<p>Para que el <b>id</b> sea único deberá seguir la siguiente estructura: <u>nombreFicheroNombreExplicativoNombreFuncion</u>.</p>
			<p>El componente ofrece los eventos mediante el siguiente código: <i>'rootScope:movaGroup:<u>identificador</u>:<u>nombreDelEvento</u>'</i></p> 
			<p>La palabra <u>identificador</u> debe sustituirse con el valor del atributo <b>id</b> del componente.</p>
			<p>La palabra <u>nombreDelEvento</u> debe sustituirse con el nombre del evento.</p>
		</mv-card>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('messageToggle')" >MessageToggle</a></li>
			<li><a href="" ng-click="$root.scrollTo('validate')" >Validate</a></li>
		</ul>
	</mv-card>

	<mv-card>
		<h2 class="title-2">Ejemplo de uso HTML y resultado</h2>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-group><br>
				&emsp;&emsp;Contenido de ejemplo<br>
				&lt;/mv-group>
			</span>
		</code>
		<mv-group>
			Contenido de ejemplo.
		</mv-group>
	</mv-card>

	<mv-card
		id="isRequired"
		>
		<h3 class="title-3">is-required</h3>
		<br>
		<p>La propiedad <b>is-required</b> permite definir el componente como grupo de componentes <b>mv.movaInputRadio</b> obligatorio.</p>
		<p>Esta propiedad solo funciona cuando el componente contiene elementos <b>mv.movaInputRadio</b>. Pensado como forma de poder validar la obligatoriedad de seleccionar al menos una opción de las contenidas en el grupo.</p>
		<p>Los componentes <b>mv.movaInputRadio</b> contenidos en el componente <b>mv.movaGroup</b> deben compartir el mismo valor para el atributo <b>name</b>.</p>
		<p>Con el uso de la propiedad <b>is-required</b>, el elemento <b>&lt;section></b> generado contendra la propiedad <b>has-required</b> en caso de no cumplir la validación.</p>
		<p>Más información sobre el componente <b>mv.movaInputRadio</b> <a href="#!/example-mova-input-radio">aquí</a>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-group<br>
				&emsp;&emsp;<b>is-required=true</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;&lt;mv-radio<br>
				&emsp;&emsp;&emsp;&emsp;name="grupo1"<br>
				&emsp;&emsp;&emsp;&emsp;value=1<br>
				&emsp;&emsp;&emsp;&emsp;><br>
				&emsp;&emsp;&lt;/mv-radio><br>
				&emsp;&emsp;&lt;br><br>
				&emsp;&emsp;&lt;mv-radio<br>
				&emsp;&emsp;&emsp;&emsp;name="grupo1"<br>
				&emsp;&emsp;&emsp;&emsp;value=2<br>
				&emsp;&emsp;&emsp;&emsp;><br>
				&emsp;&emsp;&lt;/mv-radio><br>
				&lt;/mv-group>
			</span>
		</code>
		<mv-group
			is-required=true
			>
			<mv-input-radio
				name="grupo1"
				value=1
			>
			</mv-input-radio>
			<br>
			<mv-input-radio
				name="grupo1"
				value=2
			>
			</mv-input-radio>
		</mv-group>
	</mv-card>

	<mv-card
		id="message"
		>
		<h3 class="title-3">message</h3>
		<br>
		<p>La propiedad <b>message</b> permite incluir una texto de una linea que aparecerá en la parte inferior del grupo.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-group<br>
				&emsp;&emsp;<b>message="Este es el mensaje de prueba"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;>Ejemplo de contenido<br>
				&lt;/mv-group>
			</span>
		</code>
		<mv-group
			message="Este es el mensaje de prueba"
		>
			Ejemplo de contenido
		</mv-group>
	</mv-card>

	<mv-card
		id="messageType"
		>
		<h3 class="title-3">message-type</h3>
		<br>
		<p>La propiedad <b>message-type</b> permite modificar el estilo del mensaje.</p>
		<p>Por defecto, si no se especifica la propiedad el valor es danger.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-group<br>
				&emsp;&emsp;message="Estilo danger."<br>
				&emsp;&emsp;<b>message-type="danger"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;>Ejemplo de contenido<br>
				&lt;/mv-group>
			</span>
		</code>
		<mv-group
			message="Estilo danger."
			message-type="danger"
		>
			Ejemplo de contenido
		</mv-group>
		<br>
		<mv-group
			message="Estilo warning."
			message-type="warning"
		>
			Ejemplo de contenido
		</mv-group>
		<br>
		<mv-group
			message="Estilo success."
			message-type="success"
		>
			Ejemplo de contenido
		</mv-group>
	</mv-card>

	<mv-card
		id="validateCallback"
		>
		<h3 class="title-3">validate-callback</h3>
		<br>
		<p>La propiedad <b>validate-callback</b> permite lanzar una función definida en el <b>scope</b>.</p>
		<p>El primer parámetro recibido por esta función sera un objeto JSON con información de la validación.</p>
		<p>Para lanzar la validación es necesario definir un identificador mediante el atributo <b>id</b> y poner con valor true la propiedad <b>is-required</b>. De esta forma podremos usar el evento <b>Validate</b> de este mismo componente.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-group<br>
				&emsp;&emsp;id="appExampleMovaGroupMultipleEjemploValidarRemoto"
				&emsp;&emsp;is-required=true
				&emsp;&emsp;<b>validate-callback="validarEjemploMultipleCallback"</b><br>
				&emsp;&emsp;><br>
				&emsp;&emsp;>Ejemplo de contenido<br>
				&lt;/mv-group>
			</span>
		</code>
		<mv-group
			id="appExampleMovaGroupMultipleEjemploValidarRemoto"
			is-required=true
			validate-callback="validarEjemploMultipleCallback"
		>
			Ejemplo de contenido
		</mv-group>
		<br>
		<a href="" ng-click="$root.scrollTo('validateCallbackEjemplo')" >Ir al resultado del ejemplo</a>
	</mv-card>

	<mv-card
		id="messageToggle"
		>
		<h3 class="title-3">Ev: MessageToggle</h3>
		<br>
		<p>El evento <b>MessageToggle</b> permite mostrar u ocultar el mensaje del componente.</p>
		<p>El evento <b>MessageToggle</b> puede recibir los siguientes parámetros en formato JSON :</p>
		<ul>
			<li><b>message</b>: Cadena de caracteres que se mostrará en el mensaje. Por defecto el mensaje a mostrar es ''.</li>
		</ul>
		<p>Se puede llamar a este evento desde el controlador de un componente mediante la siguiente instrucción:</p>
		<code>
			<badge>JavaScript</badge>
			let args = {<br>
			&emsp;&emsp;message: 'Mensaje de prueba'<br>
			}<br>
			$rootScope.$emit('rootScope:movaGroup:<u>identificador</u>:MessageToggle', args);
		</code>
		<p>A continuación se muestra un ejemplo:</p>
		<mv-button
			btn-type="primary"
			click="messageToggleEjemplo()"
			>
			Mostrar u ocultar mensaje de prueba
		</mv-button>
		<br><br>
		<mv-group
			id="appExampleMovaGroupEjemploMessageToggleRemoto"
		>
			Ejemplo de contenido
		</mv-group>
	</mv-card>

	<mv-card
		id="validate"
		>
		<h3 class="title-3">Ev: Validate</h3>
		<br>
		<p>El evento <b>Validate</b> tiene una doble funcionalidad dependiendo de su contenido.</p>
		<ul>
			<li>Permite validar los componentes <b>mv.movaInputRadio</b> contenidos, dependiendo del atributo <b>is-required</b>.</li>
			<li>Permite lanzar la validación individual de los componentes <b>mv.movaInput</b>, <b>mv.movaTextarea</b>, <b>mv.movaInputCheckbox</b> y <b>mv.movaGroup</b> contenidos. En adelante validación múltiple.</li>
		</ul>
		<p>En el caso de realizar una validación múltiple con distintos componentes, entre ellos algunos del tipo <b>mv.movaInputRadio</b> es necesario que dichos componentes se encuentren anidados en otro componente <b>mv.movaGroup</b> que contenga unicamente componentes del tipo <b>mv.movaInputRadio</b>.</p>
		<p>Se puede conocer en tiempo real si no se cumple la validación de los componentes <b>mv.movaInputRadio</b> mediante los siguientes atributos del elemento <b>&lt;section></b> que se encuentra dentro del componente <b>&lt;mv-group></b>:
		<ul>
			<li><b>has-required</b> - Si no cumple la validación mediante el atributo <b>is-required</b>.</li>
		</ul>
		<p>Se puede llamar a este evento desde el controlador de un componente mediante la siguiente instrucción:</p>
		<code>
			<badge>JavaScript</badge>
			$rootScope.$emit('rootScope:movaGroup:<u>identificador</u>:Validate');
		</code>
		<p>A continuación se muestra un ejemplo para validar componentes <b>mv.movaRadio</b>:</p>
		<mv-button
			btn-type="primary"
			click="validarEjemploRadio()"
			>
			Validar mv.movaradio
		</mv-button>
		<br><br>
		<mv-group
			id="appExampleMovaGroupRadioEjemploValidarRemoto"
			is-required=true
			>
			<mv-input-radio
				model="radio1PruebaValor"
				value=1
			>
			</mv-input-radio>
			<br>
			<mv-input-radio
				model="radio1PruebaValor"
				value=2
			>
			</mv-input-radio>
			<br>
			<b><u>mv.movaGroup:</u></b> {{ groupRadioPruebaAttribute }}
		</mv-group>
		<hr>
		<p>A continuación se muestra un ejemplo de validación múltiple:</p>
		<mv-button
			btn-type="primary"
			click="validarEjemploMultiple()"
			>
			Validación múltiple
		</mv-button>
		<br><br>
		<mv-group
			id="appExampleMovaGroupMultipleEjemploValidarRemoto"
			is-required=true
			validate-callback="validarEjemploMultipleCallback"
		>
			<mv-input
				id="inputPrueba"
				model="inputPruebaValor"
				is-required=true
				label="Campo requerido"
			>
			</mv-input>
			<b><u>mv.movaInput:</u></b> {{ inputPruebaAttribute }}
			<br><br>
			<mv-textarea
				adapt=true
				id="textareaPrueba"
				model="textareaPruebaValor"
				is-required=true
				label="Campo requerido"
			>
			</mv-textarea>
			<b><u>mv.movaTextarea:</u></b> {{ textareaPruebaAttribute }}
			<br><br>
			<mv-input-checkbox
				id="inputCheckboxPrueba"
				model="inputCheckboxPruebaValor"
				is-required=true
			>	
			</mv-input-checkbox>
			<br>
			<b><u>mv.movaInputCheckbox:</u></b> {{ inputCheckboxPruebaAttribute }}
			<mv-group
				id="appExampleMovaGroupRadio2EjemploValidarRemoto"
				is-required=true
				>
				<mv-input-radio
					model="radio2PruebaValor"
					value=1
				>
				</mv-input-radio>
				<br>
				<mv-input-radio
					model="radio2PruebaValor"
					value=2
				>
				</mv-input-radio>
				<br>
				<b><u>mv.movaGroup:</u></b> {{ groupRadio2PruebaAttribute }}
			</mv-group>
			<br><br>
			<p id="validateCallbackEjemplo">A continuación se muestra el ejemplo del resultado del callback de validación.</p>
			<p>Cuando todos los campos anteriores, del ejemplo de validación múltiple, sean completados y no exista en ninguno de ellos el atributo <b>has-required</b> el valor de correcto será true.</p>
			<p>Resultado de la validación mediante función de callback de todos los campos anteriores:</p>
			<p><b>{ correcto: {{ ejemploMultipleCallback }} }</b></p>
		</mv-group>
	</mv-card>

</mv-screen>