<app-cabecera [titulohead]="tituhead"></app-cabecera>
<!-- <ion-buttons slot="end">
        <ion-back-button text="" color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-content *ngIf="isAdmin === true" padding>

      --> 
<ion-content *ngIf="items" class="fondo" style="font-family: Comfortaa">
   <ion-searchbar [(ngModel)]="searchText" placeholder="Buscador..."></ion-searchbar>
                <div *ngFor="let item of items">
                    <div class="card" *ngIf="items.length > 0" class="list-mini animated fadeIn fast font-family: Comfortaa">
                        <ion-list>
                          <ul style="list-style-type: none;">
                            <li>
                    <!--[routerLink]="['/admin-contact', item.payload.doc.id]" no funciona-->
                  <div *ngIf="item.payload.doc.data().title && item.payload.doc.data().title.length" >
                    <div *ngIf="item.payload.doc.data().title.includes(searchText) ">
                      <ion-grid>
                        <ion-row>
                          <ion-col  size-xs="12" size-md="6" size-lg="3" size-xl="3">
                              <ion-card *ngIf="item.payload.doc.data().contestado == true"  class="contestado">
                                  <ion-card-content style="color: black;">
                                    <p>Paciente: <i style="margin-left:5px; font-weight: bold;">{{item.payload.doc.data().title}}</i></p>
                                    <p>Mensaje de:  <i style="margin-left:5px; font-weight: bold;">{{item.payload.doc.data().email}}</i></p>
                                    <p><i><ion-label>{{item.payload.doc.data().instagram}}</ion-label></i></p>
                                    <p>Asunto: <i style="margin-left:5px; font-weight: bold;">{{item.payload.doc.data().asunto}}</i></p>
                                  </ion-card-content>
                                  <ion-card-content style="font-weight: bold; color:white;">
                                    {{item.payload.doc.data().mensaje}}
                                  </ion-card-content>
                                  <ion-grid>
                                    <ion-row>
                                      <ion-col size="6">
                                          <ion-button size="small" [routerLink]="['/detall-mensajes', item.payload.doc.id]" style="--background:white; color: #BB1D1D; --font-weight: bold;">Detalles</ion-button>
                                      </ion-col>
                                      <ion-col size="6">
                                          <ion-button size="small"  href="mailto:{{item.payload.doc.data().email}}" style="--background:white; color: #BB1D1D; font-weight: bold;">Contestar</ion-button>
                                      </ion-col>
                                    </ion-row>
                                  </ion-grid>
                                </ion-card>

                                <ion-card *ngIf="item.payload.doc.data().contestado != true"  class="conten">
                                    <ion-card-content style="color: black;">
                                      <p>Paciente: <i style="margin-left:5px; font-weight: bold;">{{item.payload.doc.data().title}}</i></p>
                                      <p>Mensaje de:  <i style="margin-left:5px; font-weight: bold;">{{item.payload.doc.data().email}}</i></p>
                                      <p><i><ion-label>{{item.payload.doc.data().instagram}}</ion-label></i></p>
                                      <p>Asunto: <i style="margin-left:5px; font-weight: bold;">{{item.payload.doc.data().asunto}}</i></p>
                                    </ion-card-content>
                                    <ion-card-content style="font-weight: bold; color:white;">
                                      {{item.payload.doc.data().mensaje}}
                                    </ion-card-content>
                                    <ion-grid>
                                      <ion-row>
                                        <ion-col size="6">
                                            <ion-button size="small" [routerLink]="['/detall-mensajes', item.payload.doc.id]" style="--background:white; color: #BB1D1D; --font-weight: bold;">Detalles</ion-button>
                                        </ion-col>
                                        <ion-col size="6">
                                            <ion-button size="small"  href="mailto:{{item.payload.doc.data().email}}" style="--background:white; color: #BB1D1D; font-weight: bold;">Contestar</ion-button>
                                        </ion-col>
                                      </ion-row>
                                    </ion-grid>
                                  </ion-card>
                          </ion-col>
                        </ion-row>
                      </ion-grid>                 
                    </div>
                  </div>
                </li>
                </ul>
                </ion-list>
                </div>
        </div>
        <div *ngIf="items.length == 0" class="empty-list">
            Sin Mensajes en este Momento
        </div>
</ion-content>
