<app-cabecera [titulohead]="tituhead"></app-cabecera>
<ion-content padding style="font-family: Comfortaa">
    <button  (click)="goBack()" style="background: transparent !important ; float:left;">
        <img class="arrow"  src="../../../assets/imgs/arrow.png"/>
      </button>
      <ion-card style="margin-top: 3rem;">
      <form class="animated fadeIn fast" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <ion-item>
        <ion-label position="floating" color="primary">Peso</ion-label>
        <ion-input type="text" formControlName="peso" [readonly]="true"></ion-input>
    </ion-item>
    <ion-item>
            <ion-label>{{this.item.fecha | date:"dd/MM/yyyy"}}</ion-label> 
    </ion-item>


    <ion-button class="submit-button" fill="outline" expand="block" color="danger" (click)="delete()">Borrar Peso</ion-button>

</form>
</ion-card>
</ion-content>