Rentech



<header class="arrendador" *ngIf="isUserArrendador == true" style="background:#26a6ff">
  <div class="titulo" text-center>
    <h5>Rentech</h5>
  </div>
  <div>
    <img class="arrow" (click)="goBack()" src="/assets/icon/flecha.png">
  </div>

</header>
<ion-header style="background:#26a6ff" *ngIf="isUserAgente == true">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" style="text-align: initial" href="#" style="">Rentech</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a style="color: black;" class="nav-link" (click)="goHome()">Inicio Agente </a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goPisos()">Lista pisos</a>
          <!-- <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goAlquileres()">Alquileres Activos</a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goContratos()">Contratos</a>
          </li>-->
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goPerfil()">Perfil</a>
          </li>
        </ul>
      </div>
    </nav>

</ion-header>

<ion-content>

  <ion-button expand="block" routerLink="/pefil-agente" *ngIf="isUserAgente === true" >Agente Acceso</ion-button>
  <div>
    <ion-item>
      <ion-list *ngIf="isUserArrendador == true" >
       
          <li *ngIf="isUserAgente === true" >
            <ion-button routerLink="/lista-pisos-agentes" color="danger"
              >lista pisos Agente</ion-button
            >
          </li>
          <li>
            <ion-button *ngIf="isUserAgente === true"  routerLink="/lista-arrendadores" color="success"
              >lista arrendadores</ion-button
            >
          </li>
        
          <li>
            <ion-button *ngIf="isUserAgente === true" routerLink="/completar-registro-agente" color="success"
              >completar registro agente</ion-button
            >
          </li>

          <li>
            <ion-button *ngIf="isUserAgente === true" routerLink="/pefil-agente" color="success"
              >Perfil agente</ion-button
            >
          </li>
       
      </ion-list>
    </ion-item>
  </div>
</ion-content>
