<!-- app-maquetacion-lista-detalle -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<!-- Vista de la lista de opciones -->
	<mv-card
		default-css=false
		class="app-maquetacion-lista-detalle-mv-card-list visible"
		>
		<ol>
			<!-- Opción de ejemplo 001 -->
			<mv-item
				click="clickOption('1')"
				type="transclude"
				class="app-maquetacion-lista-detalle-mv-item-list-001 clicked"
				>
				Descripción
			</mv-item>
			<!-- Opción de ejemplo 002 -->
			<mv-item
				click="clickOption('2')"
				type="transclude"
				class="app-maquetacion-lista-detalle-mv-item-list-002"
				>
				Ejemplo de contenido
			</mv-item>
			<!-- Opción de ejemplo 003 -->
			<mv-item
				click="clickOption('3')"
				type="transclude"
				class="app-maquetacion-lista-detalle-mv-item-list-003"
				>
				Navegación en la lista con detalle
			</mv-item>
			<!-- Opción de ejemplo 004 -->
			<mv-item
				click="clickOption('4')"
				type="transclude"
				class="app-maquetacion-lista-detalle-mv-item-list-004"
				>
				Ejemplos de estilos &lt;h1>
			</mv-item>
			<!-- Opción de ejemplo 005 -->
			<mv-item
				click="clickOption('5')"
				type="transclude"
				class="app-maquetacion-lista-detalle-mv-item-list-005"
				>
				Ejemplos de estilo &lt;mv-card>
			</mv-item>
			<!-- Opción de ejemplo 006 -->
			<mv-item
				click="clickOption('6')"
				type="transclude"
				class="app-maquetacion-lista-detalle-mv-item-list-006"
				>
				Opción 6
			</mv-item>
		</ol>
	</mv-card>

	<!-- Vista del detalle -->
	<mv-card
		default-css=false
		class="app-maquetacion-lista-detalle-mv-card-detail invisible"
		>

		<!-- Contenedor con la opción de volver a la lista, solo visible en dispositivos con viewport pequeño -->
		<!--<mv-container>
			<mv-container-item col-xs=12>
				<mv-card
					default-css=false
					float=true
					adapt=true
					>
					<mv-button
						class="app-maquetacion-lista-detalle-mv-button-detail-back visible"
						click="returnToList()"
						icon-class="fa fa-list"
						btn-type="color-primary-003"
						adapt=true
						>
						Volver a la lista
					</mv-button>
				</mv-card>
			</mv-container-item>
		</mv-container>-->

		<!--
		*****************************************************
		* Contenido para las distintas opciones de la lista *
		*****************************************************

		La vista de detalle es solo una, lo que cambia es el contenido de esta vista, dependiendo de la opción seleccionada en la lista de opciones de la vista de la lista.
		-->

		<!-- Opción de ejemplo 001 -->
		<mv-container
			class="app-maquetacion-lista-detalle-mv-container-001 visible"
			>
			<mv-card default-css=false class="mv-card-color-primary-001" shadow=true round-corners=true>
				<h1 class="h1-color-primary-001">Descripción</h1>
				<h3>A continuación se explican los detalles del ejemplo de maquetación.</h3>
				<p>Este es un ejemplo de maquetación de una lista responsive.</p>
				<p>En un dispositivo con un viewport pequeño la lista y los detalles se muestran ocupando toda la pantalla y se navega entre ambos estados.</p>
				<p>En un dispositivo con un vierport mediano o grande la lista y los detalles se ven al mismo tiempo.</p>
				<p>Este ejemplo tiene dos finalidades principales:</p>
				<ul>
					<li>Poder mostrar las posibilidades de MOVA</li>
					<li>Ofrecer al desarrollador una plantilla que le sirva como punto de partida.</li>
				</ul>
			</mv-card>
		</mv-container>

		<!-- Opción de ejemplo 002 -->
		<mv-container
			class="app-maquetacion-lista-detalle-mv-container-002 display-none"
			>
			<mv-card default-css=false class="mv-card-color-primary-001" shadow=true round-corners=true>
				<h1 class="h1-color-primary-001">Ejemplo de contenido</h1>
				<h3>A continuación se muestran componentes de MOVA como contenido de ejemplo.</h3>
				<p>Ejemplo de componente <b>mv.movaCard</b> informativo:</p>
				<mv-card
					class="section-info"
					title="INFORMACIÓN"
					hr-class-if="hr-info"
					>
					<p>Este es un ejemplo de un mensaje informativo.</p>
					<p>Este mensaje informativo se muestra como ejemplo en la maquetación de una lista con detalle responsive.</p>
				</mv-card>
				<p>Ejemplo de componente <b>mv.movaCard</b> de aviso:</p>
				<mv-card
					class="section-warning"
					title="AVISO"
					hr-class-if="hr-warning"
					>
					<p>Este es un ejemplo de un mensaje de aviso.</p>
					<p>Este mensaje de aviso se muestra como ejemplo en la maquetación de una lista con detalle responsive.</p>
				</mv-card>
				<p>Ejemplo de componente <b>mv.movaCard</b> de peligro:</p>
				<mv-card
					class="section-danger"
					title="IMPORTANTE"
					hr-class-if="hr-danger"
					>
					<p>Este es un ejemplo de un mensaje de peligro.</p>
					<p>Este mensaje de peligro se muestra como ejemplo en la maquetación de una lista con detalle responsive.</p>
				</mv-card>
				<p>Ejemplo de componente <b>mv.movaGrid</b>:</p>
				<mv-grid
					data="arrayListaDetalle">
				</mv-grid>

			</mv-card>
		</mv-container>

		<!-- Opción de ejemplo 003 -->
		<mv-container
			class="app-maquetacion-lista-detalle-mv-container-003 display-none"
			>
			<mv-card default-css=false class="mv-card-color-primary-001" shadow=true round-corners=true>
			<h1 class="h1-color-primary-001">Navegación en la lista con detalle</h1>
				<h3>La navegación entre el detalle y la lista no es igual que la nevageación entre estados de la App.</h3>
				<p>El botón para volver del header sirve para navegar al estado anterior, no para deshacer la nagegación entre elementos de la lista.</p>
				<p>La navegación entre la lista y el detalle se fundamenta en mostrar y ocultar <b>elementos HTML</b> mediante la aplicación de <b>clases CSS</b> a través de <b>código JavaScript</b> presente en el controlador del componente.</p>
				<p>No obstante este es solo un ejemplo de maquetación con una propuesta para facilitar el desarrollo de listas con detalle responsive.</p>
				<p>El desarrollador es libre de alterar el ejemplo mostrado para conseguir el efecto deseado siempre que respete las normás para el desarrollo de Apps con MOVA.</p>
				<p>Es altamente recomendable para el desarrollador prestar atención a los comentarios incluidos en los distintos ficheros que forman el componente <b>app-maquetacion-lista-detalle</b>.</p>
			</mv-card>
		</mv-container>

		<!-- Opción de ejemplo 004 -->
		<mv-container
			class="app-maquetacion-lista-detalle-mv-container-004 display-none"
			>
			<mv-card default-css=false class="mv-card-color-primary-001" shadow=true round-corners=true>
				<h1 class="h1-color-primary-001">Ejemplo de estilo h1-color-primary-001</h1>
				<h3>Este es un ejemplo del estilo <b>h1-color-primary-001</b> aplicado a un elemento &lt;h1>.</h3>
				<h1 class="h1-color-primary-002">Ejemplo de estilo h1-color-primary-002</h1>
				<h3>Este es un ejemplo del estilo <b>h1-color-primary-002</b> aplicado a un elemento &lt;h1>.</h3>
				<h1 class="h1-color-primary-003">Ejemplo de estilo h1-color-primary-003</h1>
				<h3>Este es un ejemplo del estilo <b>h1-color-primary-003</b> aplicado a un elemento &lt;h1>.</h3>
				<h1 class="h1-color-primary-004">Ejemplo de estilo h1-color-primary-004</h1>
				<h3>Este es un ejemplo del estilo <b>h1-color-primary-004</b> aplicado a un elemento &lt;h1>.</h3>
			</mv-card>
		</mv-container>

		<!-- Opción de ejemplo 005 -->
		<mv-container
			class="app-maquetacion-lista-detalle-mv-container-005 display-none"
			>

			<mv-card default-css=false class="mv-card-color-primary-001" shadow=true round-corners=true>
				<h1 class="h1-color-primary-001">Ejemplo de estilo para el color-primary-001</h1>
				<p>Este ejemplo aplica la clase CSS <b>h1-color-primary-001</b> al elemento &lt;h1> que actúa como título de esta información</p>
				<p>Este ejemplo aplica la clase CSS <b>mv-card-color-primary-001</b> al elemento &lt;mv-card> que contiene esta información.</p>
				<p>Se debe desactivar el estilo por defecto del mv-card mediante <b>default-css=false</b>.</p>
				<p>El código de este ejemplo es el siguiente:</p>
				<code>
					<badge>HTML</badge>
					<span>
						&lt;mv-card <b>default-css=false class="mv-card-color-primary-001" shadow=true round-corners=true</b>><br>
						&emsp;&emsp;&lt;h1 <b>class="h1-color-primary-001"</b>>Ejemplo de estilo para el color-primary-001&lt;/h1><br>
						&lt;/mv-card>
					</span>
				</code>
			</mv-card>

		</mv-container>

		<!-- Opción de ejemplo 006 -->
		<mv-container
			class="app-maquetacion-lista-detalle-mv-container-006 display-none"
			>
			<mv-card default-css=false class="mv-card-color-primary-001" shadow=true round-corners=true>
				<h1 class="h1-color-primary-001">Opción 6</h1>
				<h3>Ejemplo de opción 6.</h3>
			</mv-card>
		</mv-container>
	</mv-card>

</mv-screen>
