/*
╔═════════════════════════════════════╗
║ app-maquetacion-lista-detalle style ║
╚═════════════════════════════════════╝
*/

app-maquetacion-lista-detalle {

	width: 100%;
	height: 100%;
	position: fixed;
	overflow: auto;
  	background-color: $color-secondary-009;

	// Vista de la lista
	.app-maquetacion-lista-detalle-mv-card-list {
		
		//@include view-style;

		border-bottom: solid black thin;

		// Siempre por delante del detalle
		z-index: 2;

		//position: absolute !important;
		width: 100%;
		//height: 100%;
		vertical-align: top;
  		overflow: auto;

		ol, ul {
			margin: 0 0 0 0;
			padding: 0 0 0 0;
		}
	}

	// Vista del detalle
	.app-maquetacion-lista-detalle-mv-card-detail {

		@include view-style;

		// Siempre por detras de la lista
		z-index: 1;

		//position: absolute !important;
		width: 100%;
		height: 100%;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		background-color: $color-secondary-009 !important;
  		overflow: auto;

  		[class^=app-maquetacion-lista-detalle-mv-container-] {

			background-color: $color-secondary-009;
  			margin: 0 0 0 0;
  			padding: 0 0 0 0.55rem;

  			h1 {
  				//padding: 0 0.55rem 0 0.55rem;
  			}
  		}
	}

	// Estilo especial para marcar el elemento de la lista seleccionado
	.clicked {
		@include mx-inset-shadow();
		background-color: $color-secondary-009 !important;
		border: none !important;
	}
}

/*
┌──────────────────┐
│ Bootstrap col-xs │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-xs-max) {

	/*
	A partir de dispositivos con un viewport mediano aplicamos un estilo diferente para
	poder ver más información en toda la pantalla
	*/
	app-maquetacion-lista-detalle {

		overflow: hidden;

		.app-maquetacion-lista-detalle-mv-card-detail,
		.app-maquetacion-lista-detalle-mv-card-list {

			@include view-style;

			background-color: $color-secondary-011;
			border-bottom: none;

			height: 100%;
			
			position: absolute !important;

			// Forzar la visibilidad de ambos elementos
			&.visible,
			&.invisible {
				visibility: visible;
				display: inline-block;
			}

			// Borde derecho para remarcar la separación de la lista y el detalle
			border-right: thin solid $color-secondary-006;

			// Botón de volver no necesario por que siempre se muestra la lista
			.app-maquetacion-lista-detalle-mv-button-detail-back {
				display: none;
			}
		}
	}

	// Vista de la lista
	.app-maquetacion-lista-detalle-mv-card-list {
		width: 20rem !important;
	}

	// Vista del detalle
	.app-maquetacion-lista-detalle-mv-card-detail {
		width: calc(100% - 20rem) !important;
		margin-left: 20rem !important;
	}
}