<!-- app-example-mova-values-list -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons">

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<br><br>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaValuesList</h1>
		<br>
		<p>Campo para una lista de valores con un primer campo editable de <b>código</b>, un campo no editable <b>texto</b> y un botón para buscar un elemento concreto dentro de la lista de valores.</p>
		<p>Este componente acepta los siguientes atributos:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('adapt')" >adapt</a></li>
			<li><a href="" ng-click="$root.scrollTo('codePlaceholder')" >code-placeholder</a></li>
			<li><a href="" ng-click="$root.scrollTo('columnCode')" >column-code</a></li>
			<li><a href="" ng-click="$root.scrollTo('columnText')" >column-text</a></li>
			<li><a href="" ng-click="$root.scrollTo('columnsToShow')" >columns-to-show</a></li>
			<li><a href="" ng-click="$root.scrollTo('columnsTitle')" >columns-title</a></li>
			<li><a href="" ng-click="$root.scrollTo('delay')" >delay</a></li>
			<li><a href="" ng-click="$root.scrollTo('filterSearchPlaceholder')" >filter-search-placeholder</a></li>
			<li><a href="" ng-click="$root.scrollTo('filterFocus')" >filter-focus</a></li>
			<li><a href="" ng-click="$root.scrollTo('finderSubtitle')" >finder-subtitle</a></li>
			<li><a href="" ng-click="$root.scrollTo('finderTitle')" >finder-title</a></li>
			<li><a href="" ng-click="$root.scrollTo('label')" >label</a></li>
			<li><a href="" ng-click="$root.scrollTo('list')" >list</a></li>
			<li><a href="" ng-click="$root.scrollTo('liveSearchCode')" >live-search-code</a></li>
			<li><a href="" ng-click="$root.scrollTo('liveSearchList')" >live-search-list</a></li>
			<li><a href="" ng-click="$root.scrollTo('model')" >model</a></li>
			<li><a href="" ng-click="$root.scrollTo('selectedObject')" >selected-object</a></li>
			<li><a href="" ng-click="$root.scrollTo('textPlaceholder')" >text-placeholder</a></li>
			<li><a href="" ng-click="$root.scrollTo('maxWidth')" >max-width</a></li>
		</ul>
		<p>Este componente puede personalizarse sobreescribiendo las siguientes clases CSS:</p>
		<ul>
			<li><b>mv-values-list-container</b> - Contenedor principal</li>
			<li><b>mv-values-list</b> - Elemento principal de la lista de valores</li>
			<li><b>mv-values-list-code</b> - Input del código</li>
			<li><b>mv-values-list-code-error</b> - Input del código de cuando esta en modo error</li>
			<li><b>mv-values-list-text</b> - Input del texto</li>
			<li><b>mv-values-list-text-error</b> - Input del texto cuando esta en modo error</li>
			<li><b>mv-values-list-button</b> - Botón para abrir la lista de los valores</li>
			<li><b>mv-values-list-finder-text-filter</b> - Input para buscar en la lista de los valores</li>
			<li><b>mv-values-list-finder-title</b> - Título de la ventana modal donde se muestra la lista de los valores</li>
			<li><b>mv-values-list-finder-subtitle</b> - Subtítulo de la ventana modal donde se muestra la lista de los valores</li>
			<li><b>mv-values-list-finder-table-container</b> - Contenedor de la lista de los valores</li>
			<li><b>mv-values-list-finder-close-button</b> - Botón para cerrar la lista de los valores en modo móvil</li>
			<li><b>mv-values-list-finder-close-button-x</b> - Botón para cerrar la lista de los valores en modo desktop y tablet</li>
		</ul>
	</mv-card>

	<mv-card>
		<h2  class="title-2">Ejemplo de uso HTML y resultado</h2>
		<br>
		<p>Ejemplo de una lista de valores con <b>datos estáticos</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-values-list<br>
				&emsp;&emsp;model="ejemplo.selected"<br>
				&emsp;&emsp;list="ejemplo.array"<br>
				&emsp;&emsp;column-code="id"<br>
				&emsp;&emsp;column-text="desc"<br>
				><br>
				&lt;/mv-values-list>
			</span>
		</code>

		<mv-values-list
			model="ejemplo.selected"
			list="ejemplo.array"
			column-code="id"
			column-text="desc"
			>
		</mv-values-list>
		<p><b>Código seleccionado:</b>&nbsp;{{ ejemplo.selected }}</p>
		<br>
		<p>Ejemplo de una lista de valores conseguidos mediante <b>live search</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-values-list<br>
				&emsp;&emsp;model="ejemplo.selected"<br>
				&emsp;&emsp;column-code="idCliente"<br>
				&emsp;&emsp;column-text="nombre"<br>
				&emsp;&emsp;live-search-code="miLiveSearchCode(code)"<br>
				&emsp;&emsp;live-search-list="miLiveSearchList(searchText)"<br>
				><br>
				&lt;/mv-values-list>
			</span>
		</code>

		<mv-values-list
			model="ejemplo.selectedLive001"
			column-code="idCliente"
			column-text="nombre"
			live-search-code="miLiveSearchCode(code)"
			live-search-list="miLiveSearchList(searchText)"
			>
		</mv-values-list>
		<p><b>Código seleccionado:</b>&nbsp;{{ ejemplo.selectedLive001 }}</p>
	</mv-card>

	<mv-card
		id="adapt"
		>
		<h3 class="title-3">adapt</h3>
		<br>
		<p>La propiedad <b>adapt</b> permite adaptar el botón a su contenedor.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-values-list<br>
				&emsp;&emsp;<b>adapt="true"</b><br>
				&emsp;&emsp;model="ejemplo.selected"<br>
				&emsp;&emsp;list="ejemplo.array"<br>
				&emsp;&emsp;column-code="idCliente"<br>
				&emsp;&emsp;column-text="nombre"<br>
				&emsp;&emsp;live-search-code="miLiveSearchCode(code)"<br>
				&emsp;&emsp;live-search-list="miLiveSearchList(searchText)"<br>
				><br>
				&lt;/mv-values-list>
			</span>
		</code>
		<mv-values-list
			adapt="true"
			model="ejemplo.selectedLive002"
			column-code="idCliente"
			column-text="nombre"
			live-search-code="miLiveSearchCode(code)"
			live-search-list="miLiveSearchList(searchText)"
			>
		</mv-values-list>
		<p><b>Código seleccionado:</b>&nbsp;{{ ejemplo.selectedLive002 }}</p>
	</mv-card>

	<mv-card
		id="codePlaceholder"
		>
		<h3 class="title-3">code-placeholder</h3>
		<br>
		<p>La propiedad <b>code-placeholder</b> permite especificar un placeholder distinto al placeholder por defecto del campo del código.</p>
		<p>Por defecto el valor del placeholder es <b>Código</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-values-list<br>
				&emsp;&emsp;<b>code-placeholder="Code"</b><br>
				&emsp;&emsp;model="ejemplo.selectedEmpty"<br>
				&emsp;&emsp;column-code="idCliente"<br>
				&emsp;&emsp;column-text="nombre"<br>
				&emsp;&emsp;live-search-code="miLiveSearchCode(code)"<br>
				&emsp;&emsp;live-search-list="miLiveSearchList(searchText)"<br>
				><br>
				&lt;/mv-values-list>
			</span>
		</code>
		<mv-values-list
			code-placeholder="Code"
			model="ejemplo.selectedEmpty"
			column-code="idCliente"
			column-text="nombre"
			live-search-code="miLiveSearchCode(code)"
			live-search-list="miLiveSearchList(searchText)"
			>
		</mv-values-list>
		<p><b>Código seleccionado:</b>&nbsp;{{ ejemplo.selectedEmpty }}</p>
	</mv-card>

	<mv-card
		id="columnCode"
		>
		<h3 class="title-3">column-code</h3>
		<br>
		<p>La propiedad <b>column-code</b> es un atributo obligatorio y permite especificar el atributo del objeto JSON que será utilizado como código.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-values-list<br>
				&emsp;&emsp;model="ejemplo.selected"<br>
				&emsp;&emsp;<b>column-code="idCliente"</b><br>
				&emsp;&emsp;column-text="nombre"<br>
				&emsp;&emsp;live-search-code="miLiveSearchCode(code)"<br>
				&emsp;&emsp;live-search-list="miLiveSearchList(searchText)"<br>
				><br>
				&lt;/mv-values-list>
			</span>
		</code>
		<mv-values-list
			model="ejemplo.selectedLive003"
			column-code="idCliente"
			column-text="nombre"
			live-search-code="miLiveSearchCode(code)"
			live-search-list="miLiveSearchList(searchText)"
			>
		</mv-values-list>
		<p><b>Código seleccionado:</b>&nbsp;{{ ejemplo.selectedLive003 }}</p>
	</mv-card>

	<mv-card
		id="columnText"
		>
		<h3 class="title-3">column-text</h3>
		<br>
		<p>La propiedad <b>column-text</b> es un atributo obligatorio y permite especificar el atributo del objeto JSON que será utilizado como texto.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-values-list<br>
				&emsp;&emsp;model="ejemplo.selected"<br>
				&emsp;&emsp;column-code="idCliente"<br>
				&emsp;&emsp;<b>column-text="nombre"</b><br>
				&emsp;&emsp;live-search-code="miLiveSearchCode(code)"<br>
				&emsp;&emsp;live-search-list="miLiveSearchList(searchText)"<br>
				><br>
				&lt;/mv-values-list>
			</span>
		</code>
		<mv-values-list
			model="ejemplo.selectedLive004"
			column-code="idCliente"
			column-text="nombre"
			live-search-code="miLiveSearchCode(code)"
			live-search-list="miLiveSearchList(searchText)"
			>
		</mv-values-list>
		<p><b>Código seleccionado:</b>&nbsp;{{ ejemplo.selectedLive004 }}</p>
	</mv-card>

	<mv-card
		id="columnsToShow"
		>
		<h3 class="title-3">columns-to-show</h3>
		<br>
		<p>La propiedad <b>columns-to-show</b> permite especificar las columnas que se mostrarán en la lista de resultados si se pulsa el botón de buscar.</p>
		<p>Por defecto, si no se especifica un valor para este atributo, se mostrarán todas las columnas que existan en el objeto.</p>
		<p>También especifica el orden en que se mostrarán las columnas de izquierda a derecha.</p>

		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-values-list<br>
				&emsp;&emsp;<b>columns-to-show="nombre;idCliente"</b><br>
				&emsp;&emsp;model="ejemplo.selected"<br>
				&emsp;&emsp;column-code="idCliente"<br>
				&emsp;&emsp;column-text="nombre"<br>
				&emsp;&emsp;live-search-code="miLiveSearchCode(code)"<br>
				&emsp;&emsp;live-search-list="miLiveSearchList(searchText)"<br>
				><br>
				&lt;/mv-values-list>
			</span>
		</code>
		<mv-values-list
			columns-to-show="nombre;idCliente"
			model="ejemplo.selectedLive005"
			column-code="idCliente"
			column-text="nombre"
			live-search-code="miLiveSearchCode(code)"
			live-search-list="miLiveSearchList(searchText)"
			>
		</mv-values-list>
		<p><b>Código seleccionado:</b>&nbsp;{{ ejemplo.selectedLive005 }}</p>
	</mv-card>

	<mv-card
		id="columnsTitle"
		>
		<h3 class="title-3">columns-title</h3>
		<br>
		<p>La propiedad <b>columns-title</b> permite especificar los títulos de las columnas de la lista de resultados que aparece al pulsar el botón de buscar.</p>
		<p>Por defecto, si no se especifica este atributo, se mostrarán como título la clave del JSON que hayamos pasado.</p>

		<mv-card
		  class="section-warning"
		  title="AVISO"
		  hr-class-if="hr-warning">
		  <p>Habrá que pasar tantos títulos como columnas tenga la tabla.</p>
		</mv-card>

		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-values-list<br>
				&emsp;&emsp;<b>columns-title="título1;título2;título3;título4;título5;título6;título7;título8;título9"</b><br>
				&emsp;&emsp;model="ejemplo.selected"<br>
				&emsp;&emsp;column-code="idCliente"<br>
				&emsp;&emsp;column-text="nombre"<br>
				&emsp;&emsp;live-search-code="miLiveSearchCode(code)"<br>
				&emsp;&emsp;live-search-list="miLiveSearchList(searchText)"<br>
				><br>
				&lt;/mv-values-list>
			</span>
		</code>
		<mv-values-list
			model="ejemplo.selectedLive005"
			columns-title="título1;título2;título3;título4;título5;título6;título7;título8;título9"
			column-code="idCliente"
			column-text="nombre"
			live-search-code="miLiveSearchCode(code)"
			live-search-list="miLiveSearchList(searchText)"
			>
		</mv-values-list>
		<p><b>Código seleccionado:</b>&nbsp;{{ ejemplo.selectedLive005 }}</p>
	</mv-card>

	<mv-card
		id="delay"
		>
		<h3 class="title-3">delay</h3>
		<br>
		<p>La propiedad <b>delay</b> permite especificar un tiempo en milisegundos que retrasa la busqueda mientras se escribe el código.</p>
		<p>Por defecto, si no se especifica un valor para este atributo, el retardo es de <b>600</b> milisegundos.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-values-list<br>
				&emsp;&emsp;<b>delay="2500"</b><br>
				&emsp;&emsp;model="ejemplo.selected"<br>
				&emsp;&emsp;column-code="idCliente"<br>
				&emsp;&emsp;column-text="nombre"<br>
				&emsp;&emsp;live-search-code="miLiveSearchCode(code)"<br>
				&emsp;&emsp;live-search-list="miLiveSearchList(searchText)"<br>
				><br>
				&lt;/mv-values-list>
			</span>
		</code>
		<mv-values-list
			delay="2500"
			model="ejemplo.selectedLive006"
			column-code="idCliente"
			column-text="nombre"
			live-search-code="miLiveSearchCode(code)"
			live-search-list="miLiveSearchList(searchText)"
			>
		</mv-values-list>
		<p><b>Código seleccionado:</b>&nbsp;{{ ejemplo.selectedLive006 }}</p>
	</mv-card>

	<mv-card
		id="filterSearchPlaceholder"
		>
		<h3 class="title-3">filter-search-placeholder</h3>
		<br>
		<p>La propiedad <b>filter-search-placeholder</b> permite especificar un placeholder distinto al placeholder por defecto del campo de búsqueda de la ventana que se abre al pulsar el botón.</p>
		<p>Por defecto el valor del placeholder es <b>Buscar</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-values-list<br>
				&emsp;&emsp;<b>filter-search-placeholder="Search"</b><br>
				&emsp;&emsp;model="ejemplo.selected"<br>
				&emsp;&emsp;column-code="idCliente"<br>
				&emsp;&emsp;column-text="nombre"<br>
				&emsp;&emsp;live-search-code="miLiveSearchCode(code)"<br>
				&emsp;&emsp;live-search-list="miLiveSearchList(searchText)"<br>
				><br>
				&lt;/mv-values-list>
			</span>
		</code>
		<mv-values-list
			filter-search-placeholder="Search"
			model="ejemplo.selectedLive007"
			column-code="idCliente"
			column-text="nombre"
			live-search-code="miLiveSearchCode(code)"
			live-search-list="miLiveSearchList(searchText)"
			>
		</mv-values-list>
		<p><b>Código seleccionado:</b>&nbsp;{{ ejemplo.selectedLive007 }}</p>
	</mv-card>

	<mv-card
		id="filterFocus"
		>
		<h3 class="title-3">filter-focus</h3>
		<br>
		<p>La propiedad <b>filter-focus</b> permite especificar que se envie el foco al campo de buscar un elemento cuando se abre la lista de los valores.</p>
		<p>Por defecto el valor del subtítulo es <b>false</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-values-list<br>
				&emsp;&emsp;<b>filter-focus=true</b><br>
				&emsp;&emsp;model="ejemplo.selected"<br>
				&emsp;&emsp;column-code="idCliente"<br>
				&emsp;&emsp;column-text="nombre"<br>
				&emsp;&emsp;live-search-code="miLiveSearchCode(code)"<br>
				&emsp;&emsp;live-search-list="miLiveSearchList(searchText)"<br>
				><br>
				&lt;/mv-values-list>
			</span>
		</code>
		<mv-values-list
			filter-focus=true
			model="ejemplo.selectedLive008"
			column-code="idCliente"
			column-text="nombre"
			live-search-code="miLiveSearchCode(code)"
			live-search-list="miLiveSearchList(searchText)"
			>
		</mv-values-list>
		<p><b>Código seleccionado:</b>&nbsp;{{ ejemplo.selectedLive008 }}</p>
	</mv-card>

	<mv-card
		id="finderSubtitle"
		>
		<h3 class="title-3">finder-subtitle</h3>
		<br>
		<p>La propiedad <b>finder-subtitle</b> permite especificar un texto distinto al subtítulo por defecto de la ventana que se abre al pulsar el botón.</p>
		<p>Por defecto el valor del subtítulo es <b>Seleccione un elemento de la lista</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-values-list<br>
				&emsp;&emsp;<b>finder-subtitle="Select one element"</b><br>
				&emsp;&emsp;model="ejemplo.selected"<br>
				&emsp;&emsp;column-code="idCliente"<br>
				&emsp;&emsp;column-text="nombre"<br>
				&emsp;&emsp;live-search-code="miLiveSearchCode(code)"<br>
				&emsp;&emsp;live-search-list="miLiveSearchList(searchText)"<br>
				><br>
				&lt;/mv-values-list>
			</span>
		</code>
		<mv-values-list
			finder-subtitle="Select one element"
			model="ejemplo.selectedLive008"
			column-code="idCliente"
			column-text="nombre"
			live-search-code="miLiveSearchCode(code)"
			live-search-list="miLiveSearchList(searchText)"
			>
		</mv-values-list>
		<p><b>Código seleccionado:</b>&nbsp;{{ ejemplo.selectedLive008 }}</p>
	</mv-card>

	<mv-card
		id="finderTitle"
		>
		<h3 class="title-3">finder-title</h3>
		<br>
		<p>La propiedad <b>finder-title</b> permite especificar un texto distinto al título por defecto de la ventana que se abre al pulsar el botón.</p>
		<p>Por defecto el valor del título es <b>Lista de resultados</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-values-list<br>
				&emsp;&emsp;<b>finder-title="List of values"</b><br>
				&emsp;&emsp;model="ejemplo.selected"<br>
				&emsp;&emsp;column-code="idCliente"<br>
				&emsp;&emsp;column-text="nombre"<br>
				&emsp;&emsp;live-search-code="miLiveSearchCode(code)"<br>
				&emsp;&emsp;live-search-list="miLiveSearchList(searchText)"<br>
				><br>
				&lt;/mv-values-list>
			</span>
		</code>
		<mv-values-list
			finder-title="List of values"
			model="ejemplo.selectedLive009"
			column-code="idCliente"
			column-text="nombre"
			live-search-code="miLiveSearchCode(code)"
			live-search-list="miLiveSearchList(searchText)"
			>
		</mv-values-list>
		<p><b>Código seleccionado:</b>&nbsp;{{ ejemplo.selectedLive009 }}</p>
	</mv-card>

	<mv-card
		id="label"
		>
		<h3 class="title-3">label</h3>
		<br>
		<p>La propiedad <b>label</b> es un atributo opcional. Sirve para mostrar una etiqueta en la parte
			superior del componente</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-values-list<br>
				&emsp;&emsp;model="ejemplo.selected"<br>
				&emsp;&emsp;<b>label="Prueba de label"</b><br>
				&emsp;&emsp;list="ejemplo.array"<br>
				&emsp;&emsp;column-code="id"<br>
				&emsp;&emsp;column-text="desc"<br>
				><br>
				&lt;/mv-values-list>
			</span>
		</code>
		<mv-values-list
			model="ejemplo.selected"
			label="Prueba de label"
			list="ejemplo.array"
			column-code="id"
			column-text="desc"
			>
		</mv-values-list>
		<p><b>Código seleccionado:</b>&nbsp;{{ ejemplo.selected }}</p>
	</mv-card>

	<mv-card
		id="list"
		>
		<h3 class="title-3">list</h3>
		<br>
		<p>La propiedad <b>list</b> es obligatoria para una lista de valores <b>estática</b> y es donde se especifica la variable del <b>scope</b> que contiene el array de objetos JSON con los datos de la lista de valores.</p>
		<p>Esta lista debe tener un formato de array donde cada elemento sea un JSON con al menos dos atríbutos, uno para el código y otro para el texto.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-values-list<br>
				&emsp;&emsp;model="ejemplo.selected"<br>
				&emsp;&emsp;<b>list="ejemplo.array"</b><br>
				&emsp;&emsp;column-code="id"<br>
				&emsp;&emsp;column-text="desc"<br>
				><br>
				&lt;/mv-values-list>
			</span>
		</code>
		<mv-values-list
			model="ejemplo.selected"
			list="ejemplo.array"
			column-code="id"
			column-text="desc"
			>
		</mv-values-list>
		<p><b>Código seleccionado:</b>&nbsp;{{ ejemplo.selected }}</p>
	</mv-card>

	<mv-card
		id="liveSearchCode">

		<h3 class="title-3">live-search-code</h3>
		<br>
		<p>La propiedad <b>live-search-code</b> es obligatoria para una lista de valores con <b>live search</b> y es donde se especifica el método del <b>scope</b> en el que se delega la obtención de los datos de la lista cuando se busca por código.</p>
		<p>En la propiedad <b>live-search-code</b> tenemos que poner el nombre de un método creado por nosotros, que devuelva una promesa (otro método) que a su vez devuelva un array de objetos con atributos simples. Este array se generará buscando en el negocio según el código que se le pase, que será el código que se haya escrito en el input text del componente marcado en azul.

		<div class="text-center">
			<mv-input-image
				class="exampleImage"
			  src="media/images/examples/ejemplo1.png"
			  round-corners=true>
			</mv-input-image>
		</div>

		<p>Existen dos casos:</p>
		<ul>
			<li>
				<p>Que ya tengamos un método de un servicio que devuelva un array de objetos con atributos simples</p>
				<code>
					<badge>JavaScript</badge>
					<span>
						//Ejemplo en el que devolvemos directamente la llamada a un servicio<br>
						miLiveSearchCode (self, codeParam) {<br>
						&emsp;&emsp;//el array que devuelva el servicio debe estar envuelto en un objeto con clave "data"
						&emsp;&emsp;<b>return</b> self.miServicio.getDatos(codeParam);<br>
						}<br>
					</span>
				</code>
			</li>

			<li>
				<p>Que tengamos que llamar a un servicio y modificar o crear el array de objetos a devolver</p>
				<code>
					<badge>JavaScript</badge>
					<span>
						//Ejemplo en el que queremos hacer un tratamiento de los datos<br>
						miLiveSearchCode (self, codeParam) {<br>
						&emsp;&emsp;<b>return</b> self.miServicio.getDatos().then(function successCallback(response) {<br>
						&emsp;&emsp;&emsp;&emsp;let datosRespuesta = response.data;<br>
						&emsp;&emsp;&emsp;&emsp;//tratamiento de los datos...<br>
						&emsp;&emsp;&emsp;&emsp;//devolver el array envuelto en un objeto con clave "data"<br>
						&emsp;&emsp;&emsp;&emsp;return {"data": datosRespuesta};<br>
						&emsp;&emsp;},<br>
						&emsp;&emsp;function errorCallback(response) {<br>
						&emsp;&emsp;&emsp;&emsp;//devolver el array envuelto en un objeto con clave "data"<br>
						&emsp;&emsp;&emsp;&emsp;return {"data": []};<br>
						&emsp;&emsp;});<br>
						}<br>
					</span>
				</code>
			</li>

		</ul>

		<p>Los datos a devolver por los métodos deben tener un formato de array donde cada elemento sea un JSON con al menos dos atríbutos, uno para el código y otro para el texto, aunque puede tener más atributos</p>

		<code>
			<badge>JSON</badge>
			<span>
				//Formato de ejemplo de los datos<br>
				[<br>
				&emsp;&emsp;{"idCliente": 1,  "nombre": "Manuel Pérez"},<br>
				&emsp;&emsp;{"idCliente": 2,  "nombre": "Alfonso Martínez"},<br>
				&emsp;&emsp;{"idCliente": 4,  "nombre": "Sara Campos"},<br>
				&emsp;&emsp;{"idCliente": 6,  "nombre": "Estefanía Sánchez"},<br>
				&emsp;&emsp;{"idCliente": 10,  "nombre": "Raúl Trujillo"}<br>
				]<br>
			</span>
		</code>

		<p>Lo habitual es que para este método cuando se busca un código solo se devuelva el array con un solo elemento. Si se devuelven más elementos el componente cogerá el primero</p>
		<p>El parámetro que se debe pasar a este método debe llamarse <b>code</b>.</p>

		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-values-list<br>
				&emsp;&emsp;model="ejemplo.selected"<br>
				&emsp;&emsp;list="ejemplo.array"<br>
				&emsp;&emsp;column-code="idCliente"<br>
				&emsp;&emsp;column-text="nombre"<br>
				&emsp;&emsp;<b>live-search-code="miLiveSearchCode(code)"</b><br>
				&emsp;&emsp;live-search-list="miLiveSearchList(searchText)"<br>
				><br>
				&lt;/mv-values-list>
			</span>
		</code>

		<mv-values-list
			model="ejemplo.selectedLive010"
			column-code="idCliente"
			column-text="nombre"
			live-search-code="miLiveSearchCode(code)"
			live-search-list="miLiveSearchList(searchText)"
			>
		</mv-values-list>
		<p><b>Código seleccionado:</b>&nbsp;{{ ejemplo.selectedLive010 }}</p>
	</mv-card>

	<mv-card
		id="liveSearchList">

		<h3 class="title-3">live-search-list</h3>
		<br>
		<p>La propiedad <b>live-search-list</b> es obligatoria para una lista de valores con <b>live search</b> y es donde se especifica el método del <b>scope</b> en el que se delega la obtención de los datos de la lista cuando se busca por texto.</p>
		<p>En la propiedad <b>live-search-list</b> tenemos que poner el nombre de un método creado por nosotros, que devuelva una promesa (otro método) que a su vez devuelva un array de objetos con atributos simples. Este array se generará buscando en el negocio según el texto que se le pase, que será el texto que se escriba en la lista de selección (marcado en verde) una vez pulsada la lupa del componente. </p>

		<div class="text-center">
			<mv-input-image
				class="exampleImage"
			  src="media/images/examples/ejemplo2.png"
			  round-corners=true>
			</mv-input-image>
		</div>

		<p>Será responsabilidad de este método qué se devuelve cuando el texto a buscar sea una cadena vacía, que es el caso que se da al abrirse la lista, o cuando se escribe un texto y se borra. Generalmente hay dos opciones. </p>
		<ul>
			<li>Si el texto a buscar es una cadena vacía no devolver nada y entonces al abrir la lista de elementos no aparecerá ninguno hasta que se empiece a escribir </li>
			<li>Si el texto a buscar es una cadena vacía devolver los N primeros registros para que el usuario vea al menos unos cuantos registros de ejemplo. Cuando empiece a buscar ya se mostrarán los registros filtrados por el texto buscado.</li>
		</ul>

		<p>Existen dos casos:</p>
		<ul>
			<li>
				<p>Que ya tengamos un método de un servicio que devuelva un array de objetos con atributos simples</p>
				<code>
					<badge>JavaScript</badge>
					<span>
						//Ejemplo en el que devolvemos directamente la llamada a un servicio<br>
						miLiveSearchList (self, searchText) {<br>
						&emsp;&emsp;<b>return</b> self.miServicio.getDatos(searchText);<br>
						}<br>
					</span>
				</code>
			</li>

			<li>
				<p>Que tengamos que llamar a un servicio y modificar o crear el array de objetos a devolver</p>
				<code>
					<badge>JavaScript</badge>
					<span>
						//Ejemplo en el que queremos hacer un tratamiento de los datos<br>
						miLiveSearchList (self, searchText) {<br>
						&emsp;&emsp;<b>return</b> self.miServicio.getDatos().then(function successCallback(response) {<br>
						&emsp;&emsp;&emsp;&emsp;let datosRespuesta = response.data;<br>
						&emsp;&emsp;&emsp;&emsp;//tratamiento de los datos...<br>
						&emsp;&emsp;&emsp;&emsp;return datosRespuesta;<br>
						&emsp;&emsp;},<br>
						&emsp;&emsp;function errorCallback(response) {<br>
						&emsp;&emsp;&emsp;&emsp;return [];<br>
						&emsp;&emsp;});<br>
						}<br>
					</span>
				</code>
			</li>

		</ul>

		<p>Los datos a devolver por los métodos deben tener un formato de array donde cada elemento sea un JSON con al menos dos atríbutos, uno para el código y otro para el texto, aunque puede tener más atributos</p>

		<code>
			<badge>JSON</badge>
			<span>
				//Formato de ejemplo de los datos<br>
				[<br>
				&emsp;&emsp;{"idCliente": 1,  "nombre": "Manuel Pérez"},<br>
				&emsp;&emsp;{"idCliente": 2,  "nombre": "Alfonso Martínez"},<br>
				&emsp;&emsp;{"idCliente": 4,  "nombre": "Sara Campos"},<br>
				&emsp;&emsp;{"idCliente": 6,  "nombre": "Estefanía Sánchez"},<br>
				&emsp;&emsp;{"idCliente": 10,  "nombre": "Raúl Trujillo"}<br>
				]<br>
			</span>
		</code>

		<p>El parámetro que se debe pasar a este método debe llamarse <b>searchText</b>.</p>

		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-values-list<br>
				&emsp;&emsp;model="ejemplo.selected"<br>
				&emsp;&emsp;list="ejemplo.array"<br>
				&emsp;&emsp;column-code="idCliente"<br>
				&emsp;&emsp;column-text="nombre"<br>
				&emsp;&emsp;live-search-code="miLiveSearchCode(code)"<br>
				&emsp;&emsp;<b>live-search-list="miLiveSearchList(searchText)"</b><br>
				><br>
				&lt;/mv-values-list>
			</span>
		</code>

		<mv-values-list
			model="ejemplo.selectedLive011"
			column-code="idCliente"
			column-text="nombre"
			live-search-code="miLiveSearchCode(code)"
			live-search-list="miLiveSearchList(searchText)"
			>
		</mv-values-list>
		<p><b>Código seleccionado:</b>&nbsp;{{ ejemplo.selectedLive011 }}</p>
	</mv-card>

	<mv-card
		id="model"
		>
		<h3 class="title-3">model</h3>
		<br>
		<p>La propiedad <b>model</b> es obligatoria y es la variable del <b>scope</b> donde se almacenará el valor del código seleccionado.</p>
		<p>Si se especifica un valor este será el valor inicial que se aplicará.</p>
		<p>Si el valor inicial no existe en la lista se mostrará el campo con el estilo de error.</p>
		<p>Si se quiere inicializar el componente sin valor inicial y sin estilo de error debe crearse la variable del scope sin valor asignado.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-values-list<br>
				&emsp;&emsp;<b>model="ejemplo.selected"</b><br>
				&emsp;&emsp;list="ejemplo.array"<br>
				&emsp;&emsp;column-code="idCliente"<br>
				&emsp;&emsp;column-text="nombre"<br>
				&emsp;&emsp;live-search-code="miLiveSearchCode(code)"<br>
				&emsp;&emsp;live-search-list="miLiveSearchList(searchText)"<br>
				><br>
				&lt;/mv-values-list>
			</span>
		</code>
		<mv-values-list
			model="ejemplo.selectedLive012"
			column-code="idCliente"
			column-text="nombre"
			live-search-code="miLiveSearchCode(code)"
			live-search-list="miLiveSearchList(searchText)"
			>
		</mv-values-list>
		<p><b>Código seleccionado:</b>&nbsp;{{ ejemplo.selectedLive012 }}</p>
	</mv-card>

	<mv-card
		id="selectedObject"
		>
		<h3 class="title-3">selected-object</h3>
		<br>
		<p>La propiedad <b>selected-object</b> tiene un funcionamiento similar a la propiedad
			<b>model</b> pero devuelve el objeto seleccionado en vez del valor del código seleccionado.</p>
		<p>Esta propiedad no es obligatoria.</p>
		<p>Esta propiedad es compatible con la propiedad <b>model</b>.</p>
		<p>Se deberá usar cuando queramos que se nos devuelva el objeto entero en vez del identificador del mismo.</p>

		<mv-card
		  class="section-warning"
		  title="AVISO"
		  hr-class-if="hr-warning"
		  >
		  <p>Esta funcionalidad está disponible a partir de la versión 2.0.5</p>
		</mv-card>

		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-values-list<br>
				&emsp;&emsp;model="ejemplo.selectedLive013"<br>
				&emsp;&emsp;<b>selected-object="ejemplo.selectedLive014"</b><br>
				&emsp;&emsp;column-code="idCliente"<br>
				&emsp;&emsp;column-text="nombre"<br>
				&emsp;&emsp;live-search-code="miLiveSearchCode(code)"<br>
				&emsp;&emsp;live-search-list="miLiveSearchList(searchText)"<br>
				><br>
				&lt;/mv-values-list>
			</span>
		</code>
		<mv-values-list
			model="ejemplo.selectedLive013"
			selected-object="ejemplo.selectedLive014"
			column-code="idCliente"
			column-text="nombre"
			live-search-code="miLiveSearchCode(code)"
			live-search-list="miLiveSearchList(searchText)"
			>
		</mv-values-list>
		<p><b>Código seleccionado:</b>&nbsp;{{ ejemplo.selectedLive013 }}</p>
		<p><b>Objeto seleccionado:</b>&nbsp;{{ ejemplo.selectedLive014 }}</p>
	</mv-card>

	<mv-card
		id="textPlaceholder"
		>
		<h3 class="title-3">text-placeholder</h3>
		<br>
		<p>La propiedad <b>text-placeholder</b> permite especificar un placeholder distinto al placeholder por defecto del campo del texto.</p>
		<p>Por defecto el valor del placeholder es <b>Descripción</b>.</p>

		<mv-card
		  class="section-info"
		  title="INFORMACIÓN"
		  hr-class-if="hr-info">
		  <p>Este ejemplo tiene un estilo que modifica el ancho de los elementos input del values-list.</p>
			<p>Se muestra a modo de ejemplo por si se quisiera cambiar los estilos de este componente.</p>
		</mv-card>

		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-values-list<br>
				&emsp;&emsp;<b>text-placeholder="Text"</b><br>
				&emsp;&emsp;model="ejemplo.selectedEmpty"<br>
				&emsp;&emsp;column-code="idCliente"<br>
				&emsp;&emsp;column-text="nombre"<br>
				&emsp;&emsp;live-search-code="miLiveSearchCode(code)"<br>
				&emsp;&emsp;live-search-list="miLiveSearchList(searchText)"<br>
				><br>
				&lt;/mv-values-list>
			</span>
		</code>
		<code>
			<badge>CSS</badge>
			<span>
				&emsp;#textPlaceholder{<br><br>
				&emsp;&emsp;section.mv-values-list .mv-values-list-container .mv-card-alias-container .mv-card-alias-container-item:nth-child(1) {<br>
				&emsp;&emsp;&emsp;&emsp;width: 12rem !important;<br>
				&emsp;&emsp;}<br><br>
				&emsp;&emsp;section.mv-values-list .mv-values-list-container .mv-card-alias-container .mv-card-alias-container-item:nth-child(2) {<br>
				&emsp;&emsp;&emsp;&emsp;width: calc(100% - 15.75rem) !important;<br><br>
				&emsp;&emsp;}<br><br>
				&emsp;&emsp;section.mv-values-list .mv-values-list-container .mv-card-alias-container .mv-card-alias-container-item:nth-child(3) {<br>
				&emsp;&emsp;&emsp;&emsp;width: 3.75rem !important;<br>
				&emsp;&emsp;}<br><br>
				}<br>
			</span>
		</code>
		<mv-values-list
			text-placeholder="Text"
			model="ejemplo.selectedEmpty"
			column-code="idCliente"
			column-text="nombre"
			live-search-code="miLiveSearchCode(code)"
			live-search-list="miLiveSearchList(searchText)"
			>
		</mv-values-list>
		<p><b>Código seleccionado:</b>&nbsp;{{ ejemplo.selectedEmpty }}</p>
	</mv-card>

	<mv-card
		id="maxWidth"
		>
		<h3 class="title-3">max-width</h3>
		<br>
		<p>La propiedad <b>max-width</b> permite especificar un ancho máximo de la ventana del buscador.</p>
		<p>Por defecto el valor de la propiedad es 800 píxeles.</p>

		<mv-card
		  class="section-warning"
		  title="AVISO"
		  hr-class-if="hr-warning"
		  >
		  <p>Esta funcionalidad está disponible a partir de la versión 2.0.5</p>
		</mv-card>

		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-values-list<br>
				&emsp;&emsp;text-placeholder="Text"<br>
				&emsp;&emsp;model="ejemplo.selectedEmpty"<br>
				&emsp;&emsp;column-code="idCliente"<br>
				&emsp;&emsp;column-text="nombre"<br>
				&emsp;&emsp;<b>max-width=400</b><br>
				&emsp;&emsp;live-search-code="miLiveSearchCode(code)"<br>
				&emsp;&emsp;live-search-list="miLiveSearchList(searchText)"<br>
				><br>
				&lt;/mv-values-list>
			</span>
		</code>
		<mv-values-list
			text-placeholder="Text"
			model="ejemplo.selectedEmpty"
			column-code="idCliente"
			column-text="nombre"
			max-width=400
			live-search-code="miLiveSearchCode(code)"
			live-search-list="miLiveSearchList(searchText)"
			>
		</mv-values-list>
		<p><b>Código seleccionado:</b>&nbsp;{{ ejemplo.selectedEmpty }}</p>
	</mv-card>

</mv-screen>
