<!-- mova-config-notifications -->

<!-- Bloque de configuración de sonido de las notificaciones -->
<mv-card
	default-css=false
	show="showSound"
	hr-show=false>
	<mv-card
		title="{{title}}"
		round-corners=true
		class="mv-config-notificaciones-mv-card-is-android"
		show="isAndroid" ng-click="modificarSonido(config.sonido)"
		hr-show=false>
		<mv-input-checkbox
			class="mv-config-notificaciones-mv-input-checkbox-is-android"
			model="config.sonido"
		  size="medium">
		</mv-input-checkbox>
		<p
			class="mv-config-notificaciones-p-is-android">
			Sonido en las notificaciones
		</p>
		<i class="far fa-bell-slash mv-config-notificaciones-volumen-on" ng-hide="config.sonido"></i>
		<i class="far fa-bell mv-config-notificaciones-volumen-off" ng-hide="!config.sonido"></i>
	</mv-card>

	<mv-card
		title="{{title}}"
		round-corners=true
		show="!isAndroid"
		hr-show=false>
		<p class="mv-screen-ios-settings-p">Para activar o desactivar el sonido de las notificaciones en los ajustes de IOS:</p>
		<!-- Si el plugin da error mostramos instrucciones a seguir -->
		<p class="mv-screen-ios-settings-p" >1 - Minimiza la App.</p>
		<p class="mv-screen-ios-settings-p" >2 - Abre los ajustes.</p>
		<p class="mv-screen-ios-settings-p" >3 - Entra en "Notificaciones".</p>
		<p class="mv-screen-ios-settings-p" >4 - Buscar el nombre de la App.</p>
		<p class="mv-screen-ios-settings-p" >5 - Activa o desactiva el sonido.</p>
		<!-- Si no da error el plugin -->
		<!--<p class="mv-screen-ios-settings-p" >1 - Entra en "Notificaciones."</p>-->
		<!--<p class="mv-screen-ios-settings-p" >2 - Activa o desactiva el sonido.</p>-->
		<!--<mv-button
			adapt=true
			ng-click="irConfiguracionNativa()"
			>
			Abre los ajustes de iOS
		</button>-->
	</mv-card>
</mv-card>

<!-- Bloque de configuración de sonido de las notificaciones -->
<mv-card
	default-css=false
	show="showTopics"
	hr-show=false>
	<mv-card
		title="{{title}}"
		round-corners=true
		hr-show=false>
		<ul class="mv-config-notificaciones-lista-topics">
			<li class="mv-config-notificaciones-lista-topics-item"
        ng-repeat="(key, topic) in config.topics track by $index">
        <mv-input-checkbox
        	model="config.topics[key].check"
					ng-click="enviarSuscripciones(topic, key)"
        	size="medium">
        </mv-input-checkbox>
        <p class="mv-config-notificaciones-p-is-android">
        	{{ topic.caption }}
        </p>
			</li>
		</ul>
	</mv-card>
</mv-card>
