/*
╔═════════════════════════════════╗
║ mova-config-notifications style ║
╚═════════════════════════════════╝
*/

mv-config-notifications {

	.mv-config-notificaciones-lista-topics {
		list-style-type: none;
		margin: 0 0 0 0;
		padding: 0 0 0 0;

		.mv-config-notificaciones-lista-topics-item {

			padding: 0.25rem 0 1.25rem 0;
	
			.mv-input-checkbox {
				vertical-align: middle;
				margin: 0 1.05rem 0 0.55rem;
				padding: 0 0 0 0;
			}

			.mv-config-notificaciones-p-is-android {
				display: inline-block;
				vertical-align: middle;
				margin: 0 0 0 0;
				padding: 0 0 0 0;
			}

		}

		.mv-config-notificaciones-lista-topics-item:last-child {

			padding: 0 0 0 0;
		}
	}

	.mv-config-notificaciones-mv-card-is-android {

		.mv-config-notificaciones-mv-input-checkbox-is-android {
			display: inline-block;
			vertical-align: middle;
			margin: 0 1.05rem 0 0.55rem;
			padding: 0 0 0 0;
		}

		.mv-config-notificaciones-p-is-android {
			display: inline-block;
			vertical-align: middle;
			margin: 0 0.55rem 0 0;
			padding: 0 0 0 0;
		}

		.mv-config-notificaciones-volumen-on,
		.mv-config-notificaciones-volumen-off
		{
			vertical-align: middle;
			position: absolute;
			padding: 0.2rem 0 0 0;
			right: 0.75rem;
		}
	}

}