<form class="animated fadeIn fast" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <div class="cajatexto" style="margin-left:18px;">
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" formControlName="fecha" class="inputexto" placeholder="Añadir" style="margin-left:-10px" cancel-text="Cancelar" done-text="Aceptar"></ion-datetime>
      </div>
    <ion-row> 
      <ion-col col-12>
        <p color="primary">Peso</p>
        <div class="cajatexto">
          
          <ion-input placeholder="Peso" type="number" formControlName="peso"  class="inputexto2"></ion-input>
        </div>
      </ion-col>
    </ion-row>

    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Peso Diario</ion-button>

    <div text-center>
        <ion-button expand="block" (click)="exit()" >Cerrar</ion-button>
      </div>
</form>