<!-- mova-viewport-info -->

<mv-card
	class="mova-viewport-info-container"
	default-css=false
	shadow=true
	show="visible"
	>

	<!-- col´s -->
	<span class="text-xs"><b>Móvil</b> | col-xs | &lt;768px</span>
	<span class="text-sm"><b>Tablet pequeña</b> | col-sm | >768px</span>
	<span class="text-md"><b>Tablet grande</b> | col-md | >992px </span>
	<span class="text-lg"><b>Monitor</b> | col-lg | >1200px</span>

	<!-- Iconos -->
	<i class="fa fa-mobile-alt icon-mobile"></i>
	<i class="fa fa-tablet-alt icon-tablet"></i>
	<i class="fa fa-desktop icon-desktop"></i>
</mv-card>