/*
╔══════════════════════════╗
║ mova-viewport-info style ║
╚══════════════════════════╝
*/

mv-viewport-info {

	.mv-card {

		@include mx-round-corners-default();

		display: block;
		bottom: 0;
		position: fixed;
		z-index: $z-index_viewport-info-mvcard;
		background-color: $color-primary-002;
		border: solid thin $color-primary-002;
		padding: 0.55rem 0.55rem 0.55rem 0.55rem;
		margin: 0.55rem 0.55rem 0.5rem 0.55rem;
		left: 0;
		bottom: 0;

		.mv-card-container {

			color: white;

			> .icon-mobile,
			> .icon-tablet,
			> .icon-desktop {

				display: inline;
				font-size: $font-size-big;
				margin: 0 0.25rem 0 0;
				vertical-align: middle;
			}

			span {
				display: inline;
				margin-right: 0.55rem;
				vertical-align: middle;
			}
		}
	}
}

/*
┌──────────────────┐
│ Bootstrap col-xs │
└──────────────────┘
*/

@media only screen and (max-width: $media-col-xs-max) {

	mv-viewport-info {
		.mv-card {
			.mv-card-container {
				> .icon-mobile {
					display: inline;
				}
				> .icon-tablet {
					display: none;
				}
				> .icon-desktop {
					display: none;
				}
				> .text-xs {
					display: inline;
				}
				> .text-sm {
					display: none;
				}
				> .text-md {
					display: none;
				}
				> .text-lg {
					display: none;
				}
			}
		}
	}
}

/*
┌──────────────────┐
│ Bootstrap col-sm │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-sm-min) and (max-width : $media-col-sm-max) {

	mv-viewport-info {
		.mv-card {
			.mv-card-container {
				> .icon-mobile {
					display: none;
				}
				> .icon-tablet {
					display: inline;
				}
				> .icon-desktop {
					display: none;
				}
				> .text-xs {
					display: none;
				}
				> .text-sm {
					display: inline;
				}
				> .text-md {
					display: none;
				}
				> .text-lg {
					display: none;
				}
			}
		}
	}
}

/*
┌──────────────────┐
│ Bootstrap col-md │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-md-min) and (max-width : $media-col-md-max) {

	mv-viewport-info {
		.mv-card {
			.mv-card-container {
				> .icon-mobile {
					display: none;
				}
				> .icon-tablet {
					display: inline;
				}
				> .icon-desktop {
					display: none;
				}
				> .text-xs {
					display: none;
				}
				> .text-sm {
					display: none;
				}
				> .text-md {
					display: inline;
				}
				> .text-lg {
					display: none;
				}
			}
		}
	}
}

/*
┌──────────────────┐
│ Bootstrap col-lg │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-lg-min) {

	mv-viewport-info {
		.mv-card {
			.mv-card-container {
				> .icon-mobile {
					display: none;
				}
				> .icon-tablet {
					display: none;
				}
				> .icon-desktop {
					display: inline;
				}
				> .text-xs {
					display: none;
				}
				> .text-sm {
					display: none;
				}
				> .text-md {
					display: none;
				}
				> .text-lg {
					display: inline;
				}
			}
		}
	}
}
