<ion-tabs class="tabss">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
        <ion-icon  name="home"></ion-icon>   
       </ion-tab-button>

    <ion-tab-button  tab="tab2">
        <ion-icon name="search"></ion-icon>
    </ion-tab-button>


    <ion-tab-button tab="tab4">
        <ion-icon name="calendar"></ion-icon> 
         </ion-tab-button>
    <ion-tab-button tab="tab5">
        <ion-icon name="person"></ion-icon>  
        </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
