<!-- app-pantalla12 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	float-footer="{{ screen.floatFooter }}"
	show-back="{{ screen.showBack }}"
	show-menu="{{ screen.showMenu }}"
	show-logo="{{ screen.showLogo }}"
	show-subtitle="{{ screen.showSubtitle }}">

	<mv-container  id="prev12" class="app-main-menu-mv-card-main">

		<mv-container-item>

			<a><mv-card
				class="app-main-menu-mv-card-option"
				id="card27"
				round-corners=false
				shadow=false
				onclick="location.href='http://www.madrid.org/bvirtual/BVCM020252.pdf'"
			>
			
			<p class="app-main-menu-mv-card-option-text"></p>
			</mv-card></a>
		</mv-container-item>

		<mv-container-item>

			<mv-card
				class="app-main-menu-mv-card-option"
				id="card25"
				round-corners=false
				shadow=false
				click="clickOpcion(1)"
			>
				
				<p class="app-main-menu-mv-card-option-text"></p>
			</mv-card>
		</mv-container-item>

		<mv-container-item>

			<mv-card
				class="app-main-menu-mv-card-option"
				id="card26"
				round-corners=false
				shadow=false
				click="clickOpcion(2)"
			>
				
				<p class="app-main-menu-mv-card-option-text"></p>
			</mv-card>
		</mv-container-item>	

		<mv-container-item>

				<mv-card
					class="app-main-menu-mv-card-option"
					id="card24"
					round-corners=false
					shadow=false
					click="clickOpcion(3)"
				>
					
					<p class="app-main-menu-mv-card-option-text"></p>
				</mv-card>
			</mv-container-item>
	
			<mv-container-item>
	
				<mv-card
					class="app-main-menu-mv-card-option"
					id="card28"
					round-corners=false
					shadow=false
					click="clickOpcion(4)"
				>
					
					<p class="app-main-menu-mv-card-option-text"></p>
				</mv-card>
			</mv-container-item>
	
			<mv-container-item>
	
				<a href="https://www.comunidad.madrid/hospital/lafuenfria/comunicacion/noticias" target="_blank"><mv-card
					class="app-main-menu-mv-card-option"
					id="card29"
					round-corners=false
					shadow=false
					
				>
					
					<p class="app-main-menu-mv-card-option-text"></p>
				</mv-card></a>
			</mv-container-item>	

	</mv-container>

</mv-screen>