/*
╔═════════════════════╗
║ app-pantalla12 style ║
╚═════════════════════╝
*/
app-main-menu {

	@include view-style;
  
	// Sobreescribir el estilo view-style para que la lista ajuste hasta el final.
	padding-bottom: 0rem !important;
  
	  .app-main-menu-mv-card-main {
  
		  display: block;
		  text-align: center;
		  max-width: $card-max-size;
		  margin: 0.55rem auto 0 auto;
		  padding: 0 0 14rem 0;
  
		  .app-main-menu-mv-card-option {
  
			display: block;
			text-align: left;
			color: $color-primary-004-80;
			height: 5rem;
			margin: 0.35rem 0.35rem 0.75rem 0.35rem !important;
  
			  .app-main-menu-mv-card-option-icon {
  
				  position: absolute;
				  display: block;
				  font-size: $font-size-super-big;
				  top: 1.25rem;
			  }
  
			  .app-main-menu-mv-card-option-text {
  
				  display: block;
				  vertical-align: middle;
				  font-size: $font-size-medium;
				  font-weight: bold;
				  margin: 1rem 0 0 3.2rem;
				  color: $color-secondary-010;
  
				  @include mx-truncate;
			  }
  
			  .mv-card-badge-icon-class {
				  border: none;
				  font-size: $font-size-medium;
			  top: 1.85rem;
			  right: 0rem;
			  color: $color-secondary-010;
			  background-color: transparent;
			  }
		  }
		  .app-main-menu-mv-card-option-wiki {
  
			  .app-main-menu-mv-card-option-icon,
			  .app-main-menu-mv-card-option-text {
				  color: $color-secondary-011 !important;
			  }
		  }
	  
		  ul {
			  list-style-type:none;
		  }
  
		  ul li{
			  font-size:24px;
			  color:#0076BC;
			  text-align:left;
			  margin:0px 60px 30px 15px;
		  }
		  li:before{
			  content: "+";
			  margin-right: 4px;
		  }
		  .rectangle{
			  margin: 0px 0px 20px 0px;
			  width: 289px;
			  height: 2px;
			  background: linear-gradient(90deg, rgba(196, 196, 196, 0.1) -4.03%, #B2B2B2 51.28%, rgba(196, 196, 196, 0.1) 101.34%);
			  mix-blend-mode: multiply;
			  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
		  }
  
		  .rectangle2{
			  
			  width: 375px;
			  height: 43px;
			  left: 0px;
			  top: 624px;
			  background: #0076BC;
		  }
	  
	  };
  };
  
  .foot {
	  position: absolute;
	  bottom: 0 !important;
	  width: 100%;
	  min-height: 3rem;
	  background-color: #0076BC;
  }
  .foot ul{
	  margin-top:7px;
  }
  .foot ul li a{
	  color:white;
  }
  .mv-button-container{
	  font-size:20px;
  }
  
  .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:#F6F6F6;;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color:#E20816;
	border: 1px solid white;
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

#card27{
	background-image:url("media/images/examples/guiaDeAcogida.png");
}
#card24{
	background-image: url("media/images/examples/Cuestionario.png");
};
#card25{
	background-image: url("media/images/examples/Unidad de Cocina.png");
};
#card26{
	background-image: url("media/images/examples/Humanizacion.png");
};
#card28{
	background-image: url("media/images/examples/Otros Servicios.png");
};
#card29{
	background-image: url("media/images/examples/Noticias y Eventos.png");
};
#prev12{
	margin-top:50px;
	margin-bottom:50px;
}