<app-cabecera [titulohead]="tituhead"></app-cabecera>
<!-- <ion-buttons slot="end">
        <ion-back-button text="" color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-content *ngIf="isAdmin === true" padding>

      --> 
<ion-content padding>
  <ion-card>
    <form  [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    
        <ion-grid>
          <ion-row>
          <ion-col>
              <h5>Nombre Ejercicio</h5>
              <ion-input type="text" formControlName="titulo"  class="inputexto2" readonly="true">{{this.item.titulo}}</ion-input>
          </ion-col>
          <ion-col size="12">
              <h5>Inicio</h5> 
                  <ion-item>
                    <ion-input  formControlName="horaInicio" value="{{this.item.horaInicio | date: 'HH:mm'}}" class="inputexto2" readonly="true"></ion-input>
                  </ion-item>
          </ion-col>
            <ion-col size="12">
                <h5>Finalizó Ejercicio</h5> 
                  <ion-item>
                      <ion-input  formControlName="horaFinal" value="{{this.item.horaFinal | date: 'HH:mm'}}"  class="inputexto2" readonly="true"></ion-input>
                    </ion-item>
              </ion-col>
            <ion-col size="12">
                <h5>Descripción</h5> 
                    <ion-item>
                        <ion-input  formControlName="descripcion" class="inputexto2" readonly="true"></ion-input>
                      </ion-item>
          </ion-col>
                          </ion-row>
        </ion-grid>
    <!--  <div text-cente> 
            <ion-button  type="submit" [disabled]="!validations_form.valid">Modificar</ion-button>
        </div>-->  
</form>
</ion-card>
      <div text-center>
        <ion-button   (click)="delete()">Borrar</ion-button>
      </div>
</ion-content>
  