<!-- app-maquetacion-tab-detalle-tab-2 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<mv-container
		class="app-maquetacion-tab-detalle-mv-container-000">
		<ol>
			<mv-item
				title="Llamada entrante"
				corner="26/12/2017 13:15"
				type="revel-comment"
				bg-color="rgba(208,1,3,0.4)"
				class="app-maquetacion-tab-detalle-mv-item-list-001">
				Llamada del +34 665 15 44 78
			</mv-item>

			<mv-item
				title="Llamada entrante"
				corner="26/12/2017 13:05"
				type="revel-comment"
				bg-color="rgba(208,1,3,0.4)"
				class="app-maquetacion-tab-detalle-mv-item-list-002">
				Llamada del +34 665 15 44 78
			</mv-item>

			<mv-item
				title="Llamada entrante"
				corner="26/12/2017 12:45"
				type="revel-comment"
				bg-color="rgba(208,1,3,0.4)"
				class="app-maquetacion-tab-detalle-mv-item-list-003">
				Llamada del +34 665 15 44 78
			</mv-item>

			<mv-item
				title="Llamada saliente"
				corner="26/12/2017 12:41"
				type="revel-comment"
				bg-color="rgba(21,92,178,0.4)"
				class="app-maquetacion-tab-detalle-mv-item-list-004">
				Llamada al +34 665 15 44 78
			</mv-item>

			<mv-item
				title="Llamada entrante"
				corner="26/12/2017 12:37"
				type="revel-comment"
				bg-color="rgba(208,1,3,0.4)"
				class="app-maquetacion-tab-detalle-mv-item-list-005">
				Llamada del +34 665 15 44 78
			</mv-item>

			<mv-item
				title="Llamada saliente"
				corner="26/12/2017 12:17"
				type="revel-comment"
				bg-color="rgba(21,92,178,0.4)"
				class="app-maquetacion-tab-detalle-mv-item-list-006">
				Llamada al +34 665 15 44 78
			</mv-item>
		</ol>
	</mv-container>

	<mv-card
		adapt=true
		float=true
		border-width=0>

		<mv-tab
			type="flat"
			class="app-maquetacion-mv-tab"
		  captions="Inicio;Listado;Buscar;Avisos;Configurar"
		  icon-class="fas fa-home;fas fa-list;fas fa-search;fas fa-bell;fas fa-cog"
		  badge=";;;;;"
		  selected=1
			click="clickOption"
		  bottom-mode=true>
		</mv-tab>
	</mv-card>

</mv-screen>
