<!-- app-pantalla-20 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	float-footer="{{ screen.floatFooter }}"
	show-back="{{ screen.showBack }}"
	show-menu="{{ screen.showMenu }}"
	show-logo="{{ screen.showLogo }}"
	show-subtitle="{{ screen.showSubtitle }}">

	<mv-container id="prev" class="app-main-menu-mv-card-main">

		<h2 id="h2Prev">Mejoramos Juntos</h2>
			
			<img src="media\images\examples\agree.jpg"/>

			<h4 id="infPac">Información para pacientes y familares</h4>
			
			<p id="pCoc2">La mejor manera de asegurar una correcta asistencia durante su estancia
				 en el hospital es colaborar activamente con los médicos y enfermeras, por lo que
				  rogamos lea con atención las siguientes recomendaciones:</p>

			<ol id="P10">
			<li>Asegúrese que en cada momento los profesionales conocen su identidad, confirmando
				 con usted sus datos personales, comprobándolos con el sistema que utilice el hospital
				  (pulsera de identificación...).</li>

			<li>Infórmese del nombre del médico, enfermera y profesionales que le atienden.</li>

			<li>Facilite por escrito a los médicos y enfermeras que le atienden todos los medicamentos 
				que usted toma (nombre, dosis...) y toda la información importante sobre sus problemas de salud.</li>
	
			<li>Asegúrese que su médico y enfermera conocen cualquier alergia o problema que haya tenido 
				con medicamentos u otros productos (látex, contrastes, alimentos).</li>
			
			<li>Plantee abiertamente cualquier pregunta, duda o preocupación que puedan inquietarle.</li>

			<li>Si se le realiza algún tipo de análisis o prueba pregunte al médico y/o enfermera para 
				qué se hace, las posibles complicaicones o efectos secundarios que puede tener y pida conocer 
				los resultados.</li>

			<li>Si va a ser operado, asegúrese de que entiende lo que le van a hacer, y que el cirujano 
				responsable le informe de los beneficios, riesgos y resultados que se pueden esperar.</li>

			<li>Los profesionales sanitarios que le atienden deben mantenerle informado para que usted 
				pueda conocer y decidir sobre su asistencia. Cuando le soliciten su consentimiento por 
				escrito, léalo atentamente y pregunte cualquier duda que tenga.</li>

			<li>Cuando vayan a darle el alta, pídale al médico y a la enfermera que le expliquen 
				el plan de tratamiento que debe seguir en casa y cuándo puede volver a realizar sus 
				actividades normales. Pida su informe escrito de alta y la receta o medicación necesaria 
				hasta que pueda acudir a su médico de atención primaria.</li>

			<li>No olvide llevar el informe de la alta hospitalaria a su médico o enfermera cuando
				 acuda al Centro de Salud.</li>
			</ol>

			<h4 id="rmd">Recuerde, no dude en preguntar o solicitar información a los profesionales.</h4>
			
		</mv-container-item>

	</mv-container>

</mv-screen>