<!-- app-example-app-environment -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaEnvironment</h1>
		<br>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>Este componente no debe ser modificado<p>
		</mv-card>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>Este componente se utiliza mediante su inyección en otros componentes.</p>
			<p>Su contenido es una estructura JSON. Cada atributo es una variable relacionada con el entorno de la App.</p>
			<p>No debe alterarse la estructura del fichero, pero si debe configurarse las variables con los valores correctos.</p>
		</mv-card>
		<p>Este componente contiene las siguientes variables de configuración de la App por entorno:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('envURIAutologinBase')" >envURIAutologin</a></li>
			<li><a href="" ng-click="$root.scrollTo('envURIAutologinBase')" >envURIAutologinBase</a></li>
			<li><a href="" ng-click="$root.scrollTo('envURIAutoRestBase')" >envURIAutoRest</a></li>
			<li><a href="" ng-click="$root.scrollTo('envURIAutoRestBase')" >envURIAutoRestBase</a></li>
		</ul>
	</mv-card>

	<mv-card
		id="envURIAutologin"
		>
		<h3 class="title-3">envURIAutologin</h3>
		<br>
		<p>La variable <b>envURIAutologin</b> contiene la ruta del portal de <b>Autologin</b> que se utiliza en el componente <a href="#!/example-mova-broker-identidades"><b>mv.movaBrokerIdentidades</b></a> que ofrece las opciones de acceso.</p>
		<p>A continuación se muestra un ejemplo de como debe incluirse el dominio.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
			...
			envURIAutologin: 'auto_login/acceso.jsf?',
			...
			</span>
		</code>
	</mv-card>

	<mv-card
		id="envURIAutologinBase"
		>
		<h3 class="title-3">envURIAutologinBase</h3>
		<br>
		<p>La variable <b>envURIAutologinBase</b> contiene el dominio de las URLs que utiliza el componente <a href="#!/example-mova-broker-identidades"><b>mv.movaBrokerIdentidades</b></a> para poder trabajar con Autologin.</p>
		<p>A continuación se muestra un ejemplo de como debe incluirse el dominio.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
			...
			envURIAutologinBase: 'http://prowebservices.madrid.org/',
			...
			</span>
		</code>
	</mv-card>

	<mv-card
		id="envURIAutoRest"
		>
		<h3 class="title-3">envURIAutoRest</h3>
		<br>
		<p>La variable <b>envURIAutoRest</b> contiene la ruta del servicio de <b>Autologin</b> que se utiliza en el componente <a href="#!/example-mova-broker-identidades"><b>mv.movaBrokerIdentidades</b></a> para validar un ticket.</p>
		<p>A continuación se muestra un ejemplo de como debe incluirse el dominio.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
			...
			envURIAutoRest: 'auto_rest/v1/ticket/valida/',
			...
			</span>
		</code>
	</mv-card>

	<mv-card
		id="envURIAutoRestBase"
		>
		<h3 class="title-3">envURIAutoRestBase</h3>
		<br>
		<p>La variable <b>envURIAutoRestBase</b> contiene el dominio de las URLs que utiliza el componente <a href="#!/example-mova-broker-identidades"><b>mv.movaBrokerIdentidades</b></a>.</p>
		<p>A continuación se muestra un ejemplo de como debe incluirse el dominio.</p>
		<code>
			<badge>JavaScript</badge>
			<span>
			...
			envURIAutoRestBase: 'https://gestiona7.madrid.org/',
			...
			</span>
		</code>
	</mv-card>

</mv-screen>