<ion-content padding>
  <div class="volver">
    <img (click)="goBack()" src="../../../assets/imgs/volver.png" alt="">
  </div>
  <div text-center class="titulo">
    <p class="titulo-texto mx-auto">
      <img class="masGestion" src="../../../assets/imgs/gancho.png" alt="">
      PRODUCTO</p>
  </div>
  <div class="caja">
    <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
      <div text-center>
        <img class="imgProducto" [src]="image" alt="">
      </div>
      <div text-center class=" mx-auto">
        <div>
          <p class="nombre">{{this.item.nombreProducto}}</p>
        </div>
        <div>
          <p class="precio">{{this.item.precio}} €</p>
        </div>

        <div class="caja">
          <p class="talla"><b>TALLA</b> &nbsp;{{this.item.talla}}</p>
        </div>
        <div class="caja">
          <p class="cantidad"><b>CANTIDAD DISPONIBLE</b> &nbsp;{{this.item.cantidad}}</p>
        </div>
        <div class="caja">
          <input class="comprar" placeholder="CANTIDAD A COMPRAR" formControlName="cantidadComprar" type="number" />
        </div>
        <div class="caja">
          <p class="descripcion">{{this.item.descripcion}}</p>
        </div>

      </div>
      <div text-center>
        <button class="botones" type="submit" [disabled]="!validations_form.valid">AÑADIR AL CARRITO</button>
      </div>
    </form>
  </div>

</ion-content>