ion-content{
 --background: white;
}

.icono{
  padding-left: 1rem;
}


.caja{
  text-align: left;
  float: left;
  padding-top: 1rem;
}

.iconos{
  position: relative;
  font-size: smaller;
 // padding-top: 1rem;
  float: left;

  b{
    padding-right: 0.5rem;
  }
  img{
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
}


.buscador{
  border-radius: 5px;
  border: 1px 1px black;
  box-shadow: 0.2px 0.2px black;
  margin-top: 0.6rem;
  margin-bottom: 1.5rem;
  width: 80%;
  padding-left: 1rem;
  height: 2.5rem;
}

::placeholder { /* Firefox, Chrome, Opera */ 
  color: black; 
} 

:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
  color: black; 
} 

::-ms-input-placeholder { /* Microsoft Edge */ 
  color: black; 
} 

.imagenPiso{
  min-height: 15rem;
  max-height: 15rem;
}

.card-img-top img{
  border-radius: 50%;
}
img.card-img-top{
  border-radius: 50%;

}

.card-text{
  float: left;
  font-size: x-small;
  width: 15rem;
  text-align: left;
  margin-top: 1rem;
}

.amueblado{
  font-size: x-small;
}
.card-title{
  padding-top: 0.5rem;
    position: relative;
    color: #26a6ff;
    text-align: end;
    position: relative;
    padding-left: -1.4rem;
 }
 
 .card-title i{
   color: black;
   
 }
.tarjeta{
  margin-right: 15px;
  width: 10rem;
}

i{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

hr{
  background: black;
}

.mes{
  font-size: smaller;
  color: black;
  font-weight: 100;
}