

<ion-content *ngIf="items">
<app-header [tituloHeader]="textHeader"></app-header>
  <div style="margin-top: -1rem;" padding>
    <input [(ngModel)]="searchText" placeholder="buscador..." style="text-transform: capitalize" class="buscador" />

    <a (click)="organizar()">
      <img class="icono" src="../../../assets/icon/masymenos.png" alt="" (click)="mostrarPop($event)">
    </a>
   <!-- <img class="icono" src="../../../assets/icon/Filttrar.png" alt="">-->
  </div>
  <div text-center>
    <div style="margin-bottom: -1.5rem;" *ngFor="let item of items">
      <div style="margin-bottom: -1.5rem;" *ngIf="items.length > 0">
        <!--[routerLink]="['/admin-contact', item.payload.doc.id]" no funciona-->
        <div style="margin-bottom: -1.5rem;"
          *ngIf="item.payload.doc.data().calle && item.payload.doc.data().calle.length ">
          <div style="margin-bottom: -1.5rem;" *ngIf="item.payload.doc.data().calle.includes(searchText) ">
            <ion-list scrollX>
              <ion-grid>
                <ion-row>
                  <ion-col size="12">
                    <!--Aqui iniciamos las card views de los pisos -->
                    <div *ngIf="item.payload.doc.data().disponible != false" text-center>
                      <ion-slides pager="true" [options]="slidesOpts">
                        <ion-slide *ngFor="let img of item.payload.doc.data().imageResponse">
                          <img [routerLink]="['/detalles-pisos', item.payload.doc.id]" src="{{img}}" alt="" srcset="">
                        </ion-slide>
                      </ion-slides>
                      <ion-col [routerLink]="['/detalles-pisos', item.payload.doc.id]" size="12" text-center>
                        <div style="margin-bottom: -2rem;">
                          <ion-item style="margin-top: -1rem;" lines="none">
                            <p style="margin-bottom: -0.4rem;max-width: 191px; min-width: 191px;">{{ item.payload.doc.data().calle }}
                              <br />{{ item.payload.doc.data().localidad }}</p>
                            <p class="card-title"><b
                                style="font-size: 1.6rem;">{{ item.payload.doc.data().costoAlquiler }}€</b>
                              <b class="mes">/Mes</b>
                            </p>
                          </ion-item>
                          <ion-item lines="none">
                            <p class="iconos">
                              <img src="../../../assets/icon/CAMA.png" alt="">
                              <b>{{item.payload.doc.data().numeroHabitaciones}} habs.</b>
                              <img src="../../../assets/icon/Metros2.png" alt="">
                              <b>{{item.payload.doc.data().metrosQuadrados}} m2</b>
                              <img src="../../../assets/icon/Bañera.png" alt="">
                              <b>{{item.payload.doc.data().banos}} baños</b>
                              <img src="../../../assets/icon/Amueblado.png" alt="">
                              <b>{{item.payload.doc.data().amoblado}}Si</b>
                            </p>
                          </ion-item>
                        </div>


                      </ion-col>
                    </div>

                    <div *ngIf="item.payload.doc.data().disponible == false" style="opacity: 0.3;" text-center>
                      <ion-slides pager="true" [options]="slidesOpts">
                        <ion-slide *ngFor="let img of item.payload.doc.data().imageResponse">
                          <img src="{{img}}" alt="" srcset="">
                        </ion-slide>
                      </ion-slides>
                      <ion-col size="12" text-center>
                        <div style="margin-bottom: -2rem;">
                          <ion-item style="margin-top: -1rem;" lines="none">
                            <p style="margin-bottom: -0.4rem;max-width: 191px;min-width: 191px;">{{ item.payload.doc.data().direccion }}
                              <br />{{ item.payload.doc.data().ciudad }}</p>
                            <p class="card-title"><b
                                style="font-size: 1.8rem;">{{ item.payload.doc.data().costoAlquiler }}€</b>
                              <b class="mes">/Mes</b>
                            </p>
                          </ion-item>
                          <ion-item lines="none">
                            <p class="iconos">
                              <img src="../../../assets/icon/CAMA.png" alt="">
                              <b>{{item.payload.doc.data().numeroHabitaciones}} habs.</b>
                              <img src="../../../assets/icon/Metros2.png" alt="">
                              <b>{{item.payload.doc.data().metrosQuadrados}} m2</b>
                              <img src="../../../assets/icon/Bañera.png" alt="">
                              <b>{{item.payload.doc.data().banos}} baños</b>
                              <img src="../../../assets/icon/Amueblado.png" alt="">
                              <b>{{item.payload.doc.data().amoblado}}Si</b>
                            </p>
                          </ion-item>
                        </div>


                      </ion-col>
                    </div>

                  </ion-col>
                </ion-row>
              </ion-grid>

            </ion-list>
          </div>
        </div>
      </div>

    </div>
    <div *ngIf="items.length == 0" class="empty-list">
      Sin Pisos en este Momento
    </div>
  </div>
</ion-content>