


ion-item{
    color:#BB1D1D;
    text-align: center;
}

.icon-true{
    color: green;
    width: 2rem;
    height: 2rem;
}

.icon-false{
    color: red;
    width: 2rem;
    height: 2rem;
}


ion-card{
    min-width: 279px;
    width: 100%;
    border: 0.8px solid #3B3B3B;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}





@media (min-width:1024px) and (max-width:1280px){


ion-card{
    min-width: 279px;
    width: 61%;
    border: 0.8px solid #3B3B3B;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
}
}

@media only screen and (min-width:1280px){


    ion-card{
        min-width: 279px;
        width: 61%;
        border: 0.8px solid #3B3B3B;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        text-align: center;
    }
    }

