<app-cabecera [titulohead]="tituhead"></app-cabecera>
<!-- <ion-buttons slot="end">
        <ion-back-button text="" color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-content *ngIf="isAdmin === true" padding>

      -->
<ion-content padding>
  <ion-col>
    <div class="busqueda">
      <ion-searchbar [(ngModel)]="searchText" placeholder="Busca por fecha" style=" border-radius: 50px;">
      </ion-searchbar>
    </div>
  </ion-col>
  <ion-card color="light" text-center class="mx-auto">
    <div class="titulo">
      <h2 style="color: #BB1D1D; font-weight: bold;">Lista de Citas</h2>
    </div>


    <div *ngIf="items" class="table-responsive">
      <table class="table table-bordered">
        <thead style="display: inline-flex">
            <tr>
                <th style="width: 13rem;white-space: nowrap; border:none" scope="col">Fecha </th>
                <th style="width: 13rem;white-space: nowrap; border:none" scope="col">Nombre</th>
                <th style="width: 13rem;white-space: nowrap; border:none" scope="col">Hora Inicio</th>
                <th style="width: 13rem;white-space: nowrap; border:none" scope="col">Hora Final</th>
                <th style="width: 13rem;white-space: nowrap; border:none" scope="col">Confirmado </th>
              </tr>
        </thead>
        <tbody *ngFor="let item of items">
          <div *ngIf="item.payload.doc.data().fecha && item.payload.doc.data().fecha.length" class="contenido">
            <div *ngIf="item.payload.doc.data().fecha.includes(searchText) ">
              <tr [routerLink]="['/detalles-citas', item.payload.doc.id]">
                <th style="width: 12rem" scope="row">{{item.payload.doc.data().fecha | date: 'dd/MM/yyyy'}}</th>
                <td style="width: 12rem"><i style="color: red">{{item.payload.doc.data().titulo }}</i></td>
                <td style="width: 12rem">{{item.payload.doc.data().inicioCita | date: 'hh:mm'}}</td>
                <td style="width: 12rem"><i style="color: red">{{item.payload.doc.data().finalCita | date: 'hh:mm'}}</i>
                </td>
                <td style="width: 12rem" *ngIf="item.payload.doc.data().confirmarCita == true">
                  <ion-icon class="icon-true" name="checkmark"></ion-icon>
                </td>
                <td style="width: 12rem" *ngIf="item.payload.doc.data().confirmarCita != true">
                  <ion-icon class="icon-false" name="close"></ion-icon>
                </td>
              </tr>



            </div>
          </div>

        </tbody>
      </table>
    </div>
  </ion-card>
</ion-content>