<app-cabecera [titulohead]="tituhead"></app-cabecera>
<!-- <ion-buttons slot="end">
        <ion-back-button text="" color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-content *ngIf="isAdmin === true" padding>

      --> 
<ion-content padding>
      <form  [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
              <ion-col col-4 >
                  <ion-icon name="ios-add-circle"  name="md-add-circle" class="iconos" (click)="openImagePicker()"></ion-icon>
                    <div class="circular">
                        <img   class="circular" [src]="image" >
                    </div>
              </ion-col>
          </ion-col>
          <ion-col>
            <h5>Número del Ménu</h5>
            <ion-input placeholder="Menu 1" type="text" formControlName="numeroMenu" class="inputexto2"></ion-input>
          </ion-col>
          <ion-col>
              <h5>Nombre del Ménu</h5>
              <ion-input placeholder="Menu 1" type="text" formControlName="nombreMenu" class="inputexto2"></ion-input>
            </ion-col>
            <ion-col>
                <h5>Semanas</h5>
                <ion-input placeholder="Menu 1" type="text" formControlName="semanas" class="inputexto2"></ion-input>
              </ion-col>

              <ion-item>
                <ion-label>Tipo de Dieta</ion-label>
                <ion-select formControlName="tipoDieta" placeholder="Select One">
                  <ion-select-option value="proteina">proteina</ion-select-option>
                  <ion-select-option value="hipocalorica">hipocalorica</ion-select-option>
                  <ion-select-option value="cenas">cenas</ion-select-option>

                </ion-select>
              </ion-item>
          </ion-row>
          </ion-grid>
  
          <ion-button type="submit" [disabled]="!validations_form.valid">Agregar Menu</ion-button>
      </form>
  </ion-content>
  