ion-content{

    --background: url("/assets/imgs/detallesPerfil.jpg") no-repeat fixed center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    --background-attachment: fixed;
}




ion-item{
    font-size: initial;
}

.circular{
    position: relative;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    z-index: 1;
    margin-bottom: -1rem;
}

.tarjeta{
    position: relative;
    z-index: 0;
    justify-content: center;
    width: 90%;
    border-radius: 25px;
   // min-height: rem;
   // min-width: 21rem;
    background: rgba(255,255,255,0.8);


}
ion-label{
    position: absolute;
    left: 0;
    font-size: initial;
}

.botones{
    width: 13rem;
    border-radius: 5px;
    height: 2.5rem;
    background: #26a6ff;
    box-shadow: 1px 1px black;
    color: white;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;

}


.boton-foto{
    width: 10rem;
    border-radius: 5px;
    height: 2rem;
    background: #26a6ff;
    box-shadow: 1px 1px black;
    margin-bottom: 2rem;
    color: white;
    margin-top: 1.5rem;

}

ion-item{
    --background: transparent !important;
    color: black;
}

input{
    background: transparent;
    border: none;
}

.boton-borrar{
    width: 20rem;
    border-radius: 5px;
    height: 2.5rem;
    margin-top: 0.5rem;
    background: white;
    box-shadow: 1px 1px black;
    margin-bottom: 5;
}

.caja{
    padding-left: 1rem !important;
    background: white;
    margin-bottom: -0.9rem;
    font-size: initial;
}

hr{
    color: black;
    background: black;
    margin-left: -20rem;
}

p{
    width:100%;
}


input{
    background: transparent;
    width: 100%
}

textarea{
    width: 100%;
    padding-top: 0.5rem;
    border: none;
    background: transparent;
}



@media (min-width:414px) and (max-width:736px){


    ion-content{
        --background: url("/assets/imgs/detallesPerfilS.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
    }

    .circular{
        position: relative;
        border-radius: 50%;
        height: 8rem;
        width: 8rem;
        z-index: 1;
        margin-bottom: -1rem;
       // margin-left: 2rem;
    }
    
    .tarjeta{
        position: relative;
        z-index: 0;
        margin-top: -3rem;
        justify-content: center;
        width: 90%;
        border-radius: 25px;
        min-height: 20rem;
      //  min-width: 20rem;
        background: rgba(255,255,255,0.8);
    }

    form{
        margin-top: 1rem;
    }

    .boton-foto{
        width: 12rem;
        border-radius: 5px;
        height: 2rem;
        background: #26a6ff;
        box-shadow: 1px 1px black;
        margin-bottom: 3rem;
        color: white;
        
    }   

}