<ion-content>
  <app-header [tituloHeader]="textHeader"></app-header>
  <div text-center class="mx-auto" size="12">
    <img class="circular" [src]="image" *ngIf="image" />
  </div>
  <div text-center class="mx-auto" size="12">
    <button class="boton-foto" (click)="getPicture()">Agrega tu Foto</button>
  </div>
  <form style="font-family: Comfortaa" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <div class="tarjeta mx-auto">
      <ion-item lines="none" style="padding-top: 2rem;">
        <p color="ion-color-dark">
          <b>Nombre:</b>
          <br />
          <input placeholder="Nombre" type="text" formControlName="nombre" /></p>

      </ion-item>
      <ion-item lines="none">
        <p position="floating" color="ion-color-dark">
          <b>Apellidos:</b>
          <br />
          <input placeholder="apellido" type="text" formControlName="apellidos" />
        </p>

      </ion-item>
      <ion-item>
        <p color="ion-color-dark"><b>Fecha de nacimiento:</b>
          <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" max="2001" padding
            placeholder="Fecha de nacimiento" type="date" formControlName="fechaNacimiento" done-text="Aceptar"
            cancel-text="Cancelar"></ion-datetime>
        </p>
      </ion-item>
      <ion-item lines="none">
        <p position="floating" color="ion-color-dark">
          <b>Domicilio Actual:</b>
          <br />
          <textarea placeholder="Domicilio Actual" type="text" formControlName="domicilio"></textarea>
        </p>

      </ion-item>
      <ion-item lines="none">
        <p position="floating" color="ion-color-dark">
          <b>DNI:</b>
          <br />
          <input placeholder="DNI" type="text" minlength="9" maxlength="9" formControlName="dniInquilino" />
        </p>

      </ion-item>
      <ion-item *ngFor="let item of items" lines="none">
        <p color="ion-color-dark"><b>Correo electronico:</b>
          <br />
          <ion-input placeholder="Correo Electronico" type="email" formControlName="email" >
          </ion-input>
        </p>

      </ion-item>
      <ion-item lines="none">
        <p color="ion-color-dark"><b>Telefono:</b>
          <br />
          <input placeholder="666555444" type="tel" formControlName="telefono" />
        </p>

      </ion-item>
      <ion-item lines="none">
        <p position="floating" color="ion-color-dark">
          <b>Codigo Postal:</b>
          <br />
          <input maxlength="5" placeholder="Codigo Postal" type="text" formControlName="codigoPostal" />
        </p>

      </ion-item>
      <div>
        <ion-button size="small" expand="block" text-center class="mx-auto" color="primary" type="button"
          data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <div text-center style="color: black;">Si eres una empresa</div>
        </ion-button>
      </div>
      <div style="background: transparent" class="collapse" id="collapseExample">
        <div style="background: transparent" class="card card-body">
          <ion-item lines="none">
            <p position="floating" color="ion-color-dark">
              <b>Empresa:</b>
              <br />
              <input placeholder="Empresa" type="text" formControlName="empresa" />
            </p>

          </ion-item>
          <ion-item lines="none">
            <p position="floating" color="ion-color-dark">
              <b>Razón Social:</b>
              <br />
              <input placeholder="Razon Social" type="text" formControlName="social" />
            </p>

          </ion-item>
          <ion-item lines="none">
            <p position="floating" color="ion-color-dark">
              <b>NIF/CIF:</b>
              <br />
              <input placeholder="NIF/CIF" type="text" formControlName="nif" />
            </p>

          </ion-item>
          <ion-item lines="none">
            <p position="floating" color="ion-color-dark">
              <b>Fecha de Contitución:</b>
              <br />
              <input placeholder="Fecha de Contitución" type="text" formControlName="fechaConstitucion" />
            </p>

          </ion-item>

          <ion-item lines="none">
            <p position="floating" color="ion-color-dark">
              <b>Domicilio Social:</b>
              <br />
              <input placeholder="Domicilio Social" type="text" formControlName="domicilioSocial" />
            </p>

          </ion-item>
          <ion-item lines="none">
            <p position="floating" color="ion-color-dark">
              <b>Correo electrónico:</b>
              <br />
              <input placeholder="Correo electrónico" type="text" formControlName="correoEmpresa" />
            </p>
          </ion-item>
          <ion-item lines="none">
            <p position="floating" color="ion-color-dark">
              <b>Teléfono empresa:</b>
              <br />
              <input placeholder="Teléfono Empresa" type="text" formControlName="telefonoEmpresa" />
            </p>

          </ion-item>
        </div>
      </div>
    </div>
    <div class="div-boton" text-center>
      <button class="botones" type="submit" [disabled]="!validations_form.valid">Crear</button>
    </div>
  </form>

</ion-content>