
 
  <ion-content>
      <app-header [tituloHeader]="textHeader"></app-header>

  <!--    <ion-searchbar
    [(ngModel)]="searchText"
    placeholder="Buscador..."
    style="text-transform: uppercase"
  ></ion-searchbar> -->
  <div *ngFor="let item of items">
    <div *ngIf="items.length > 0">
      <div
        *ngIf="
          item.payload.doc.data().nombre &&
          item.payload.doc.data().nombre.length
        "
      >
        <div *ngIf="item.payload.doc.data().nombre.includes(searchText)">
          <ion-list>
            <ion-card>
            <div style="padding-top: 1rem;">
              <ion-label><b padding>Nombre:</b> {{ item.payload.doc.data().nombre }}</ion-label>
            </div>
            <div>
              <ion-label><b padding>Mes:</b> {{ item.payload.doc.data().mes }}</ion-label>
            </div>
            <div>
              <p class="download"><a style="padding-left: 1rem; color:#26a6ff;font-weight: bold;font-size: larger;" href="{{ item.payload.doc.data().url }}" target="_blank">Descargar</a></p>
            </div>
          </ion-card>
          </ion-list>
        </div>
      </div>
    </div>
    <div *ngIf="items.length == 0" class="empty-list">
      Sin Recibos en este Momento
    </div>
  </div>
  </ion-content>
  