ion-content{

    --background: url("/assets/imgs/reciboFondo.jpg") no-repeat fixed center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
        --background-attachment: fixed;
}

@media only screen and (min-width:414px){
    ion-content{
        --background: url("/assets/imgs/reciboFondoS.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
            --background-attachment: fixed;
    }
}

ion-list{
    background: transparent !important;
    margin-top: 18rem;
}

ion-card{
    background: white;
    color: black;
    font-size: large;
    border: 1px 1px back;
    box-shadow: 0.5px 0.5px 0.5px 0.5px;
}