/*
╔══════════════════════════════╗
║ mova-check-new-version style ║
╚══════════════════════════════╝
*/

mv-check-new-version {

	#checkNewVersionSection {
		padding: 0.35em 0.35em 0.35em 0.35em;
		p {
			margin: 0 0 0 0;
			padding: 0 0 0 0;
		}
	}
}
