<!-- mova-new-version -->

<mv-card 
	default-css=false
	id="checkNewVersionSection" 
	show="visible"
	round-corners=true
	class-if="{{ (puedeContinuar.localeCompare('S') === 0) ? 'section-warning' : 'section-danger' }}"
	>
	<p ng-bind-html="mensajeVersionTrust()"></p>
</mv-card>