<!-- app-pantalla15 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	float-footer="{{ screen.floatFooter }}"
	show-back="{{ screen.showBack }}"
	show-menu="{{ screen.showMenu }}"
	show-logo="{{ screen.showLogo }}"
	show-subtitle="{{ screen.showSubtitle }}">

	<mv-container id="prev" class="app-main-menu-mv-card-main">

			<h2 id="h2Prev">Como Llegar</h2>

			
			  <mv-burguer title="Autobús - Línea 1"
			  bg-color="#FFFFFF"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
			<a href="http://www.cercedilla.es/wp-content/uploads/2018/05/L1-Cercedilla_HORARIOS.jpg">
				<p align="center"><img id="ruta1" src="media\images\examples\L1-Cercedilla_HORARIOS.jpg"/></p>
				<br/><br/>
				<p align="center"><a href="http://www.cercedilla.es/wp-content/uploads/2018/05/L1-Cercedilla_HORARIOS.jpg">Descargar</a></p>
			  </mv-burguer>

			
			  <mv-burguer title="Autobús - Línea 684 (Vuelta)"
			  bg-color="#FFFFFF"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
				<p align="center"><img id="ruta2" src="media\images\examples\horario-vuelta-684.jpg"/></p>
				<br/><br/>
				<p align="center"><a href="https://proyectolova.es/wp-content/uploads/2016/01/vuelta-684-interurbano.jpg">Descargar</a></p>
			  </mv-burguer>

			
			  <mv-burguer title="Autobús - Línea 684 (Ida)"
			  bg-color="#FFFFFF"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
				<p align="center"><img id="ruta3" src="media\images\examples\horario-ida-684.jpg"/></p>
				<br/><br/>
				<p align="center"><a href="https://proyectolova.es/wp-content/uploads/2016/01/ida-684-interurbano.jpg">Descargar</a></p>
			  </mv-burguer>

			<!--<h4 style="margin-top:40px;">Autobús - Línea 1</h4>
			
			<p><img id="ruta1" src="media\images\examples\L1-Cercedilla_HORARIOS.jpg"/></p>

			<h4 id="L6841">Autobús - Línea 684 (Cercedilla - Madrid)</h4>
			
			<p><img id="ruta2" src="media\images\examples\horario-vuelta-684.jpg"/></p>

			<h4 id="L6842">Autobús - Línea 684 (Madrid - Cercedilla)</h4>
			
			<p><img id="ruta3" src="media\images\examples\horario-ida-684.jpg"/></p>-->

	</mv-container>

</mv-screen>