/*
╔═════════════════════╗
║ app-pantalla15 style ║
╚═════════════════════╝
*/
app-main-menu {

  @include view-style;

  // Sobreescribir el estilo view-style para que la lista ajuste hasta el final.
	padding-bottom: 0rem !important;
	
	.app-main-menu-mv-card-main {

		display: block;
		text-align: center;
		max-width: $card-max-size;
		margin: 0.55rem auto 0 auto;
		padding: 0 0 14rem 0;

		.app-main-menu-mv-card-option {

			display: block;
			text-align: left;
			color: $color-primary-004-80;
			height: 5rem;
			margin: 0.35rem 0.35rem 0.75rem 0.35rem !important;

			.app-main-menu-mv-card-option-icon {

				position: absolute;
				display: block;
				font-size: $font-size-super-big;
				top: 1.25rem;
			}

			.app-main-menu-mv-card-option-text {

				display: block;
				vertical-align: middle;
				font-size: $font-size-medium;
				font-weight: bold;
				margin: 1rem 0 0 3.2rem;
				color: $color-secondary-010;

				@include mx-truncate;
			}

			.mv-card-badge-icon-class {
				border: none;
				font-size: $font-size-medium;
		    top: 1.85rem;
		    right: 0rem;
		    color: $color-secondary-010;
		    background-color: transparent;
			}
		}
		.app-main-menu-mv-card-option-wiki {

			.app-main-menu-mv-card-option-icon,
			.app-main-menu-mv-card-option-text {
				color: $color-secondary-011 !important;
			}
		}
		#h2Prev{
			margin-bottom:20px;
		}
		#prevUl{
			margin-left:-25px;
			text-align:left;
		}
		#prevUl li{
			margin-top:5px;
		}
		.rectangle{
			margin: 0px 0px 20px 0px;
			width: 289px;
			height: 2px;
			background: linear-gradient(90deg, rgba(196, 196, 196, 0.1) -4.03%, #B2B2B2 51.28%, rgba(196, 196, 196, 0.1) 101.34%);
			mix-blend-mode: multiply;
			box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
		}

		.rectangle2{
			
			width: 375px;
			height: 43px;
			left: 0px;
			top: 624px;
			background: #0076BC;
		}
	
	};
};

.foot {
	position: absolute;
	bottom: 0 !important;
	width: 100%;
	min-height: 3rem;
	background-color: #0076BC;
}
.foot ul{
	margin-top:7px;
}
.foot ul li a{
	color:white;
}
.mv-button-container{
	font-size:20px;
}
img{
	height:150px;
	width:260px;
}
p{
	text-align:justify;
	text-justify:inter-word;
}
.app-main-menu-mv-card-main h2{
	color: #006CAC;
}
#prev{
	margin-left:20px;
	margin-right:20px;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
#L6841{
	margin-top:35px;
}
#L6842{
	margin-top:-85px;
}
#ruta2, #ruta3{
	width:150px !important;
	height:290px !important;
}
#prev p, h4{
	text-align:center;
	margin-bottom:15px;
}