/*
╔═════════════════════════╗
║ mova-button-login style ║
╚═════════════════════════╝
*/

mv-button-login {

	button {
		width: 100%;
		font-size: 1em !important;

		i {
			margin: 0 0.75em 0 0;
		}

	}
}