header{
  background: #26a6ff;
}

.arrendador{
  background: #26a6ff;
  height: 2rem;
}



h5{
  //text-shadow: 1px 1px whitesmoke;
  //padding-top: 1rem;
  color: white;
  padding-top: 0.3rem;
  position: relative;
  font-size: larger;
  /* background: black; */
  width: 70%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  margin-left: 15%;
  //padding-bottom: 0.3rem;
  font-weight: bold;
  text-transform: uppercase;
}


.image{
  float: left;
  position: relative;
  margin-top: -1.8rem;
  height: 1rem;
  padding-left: 0.5rem;
}

.arrow{
  float: left;
  position: relative;
  margin-top: -1.8rem;
  height: 1rem;
  padding-left: 0.5rem;
}


.navbar.navbar-expand-lg{
  background-color: #26a6ff;
  color: black;
}

.collapse.navbar-collapse{
  //background: rgb(197,197,197);
  color: black;
margin-left: -1rem;
margin-right: -2rem;
padding-left: 1rem;
margin-bottom: -0.5rem;
}




.logotipo{
  padding-right: 1rem;
  height: 2rem;
}

a.nav-link{
  color: black;
}

.navbar-brand{
  color: black;
  font-size: x-large;
  position: relative;
  display: flex;
}


ion-content{

  --background: url("/assets/imgs/crearPiso.jpg") no-repeat fixed center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}

@media only screen and (min-width:414px){
  ion-content{
    --background: url("/assets/imgs/crearPisoS.jpg") no-repeat fixed center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
  }
}

[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}
 
[type="file"] + label {
  color: black;
    background: rgba(38, 166, 255, 0.75);
    border-radius: 5px;
    padding-top: 0.5rem;
    height: 2.2rem;
    margin-top: 2rem;
    font-size: 1.1rem;
    width: 13rem;
    font-weight: bold;
  cursor: pointer;
  display: inline-block;
  padding-left: 2rem 4rem;
}
  
[type="file"]:focus + label,
[type="file"] + label:hover {
    background-color: rgba(38, 166, 255, 0.90);
}
  
[type="file"]:focus + label {
  outline: 1px solid #000;
}


   form{
       margin-left: 1rem;
       margin-top: -1rem;
   }

   hr{
       background: black;
   }

   ion-input{
       margin-left: -5rem;
       border: none;
       position: relative;
       text-align: end;
       text-transform: capitalize;
   }

   .caja{
       width: 95%;
       border-radius: 15px;
       margin-top: 2rem;
       opacity: 0.8;
   }

   .item.item-trns {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
}
   div.item.native{
       background: transparent !important;
   }

   .datos{
    width: 95%;
    height: 6rem;
    border-color: black;
    margin-bottom: 1.5rem;
   }

   .botones{
    color: black;
    background: rgba(38, 166, 255, 0.75);
    border-radius: 5px;
    height: 2.2rem;
    margin-top: 2rem;
    font-size: 1.1rem;
    width: 13rem;
    font-weight: bold;
    //margin-bottom: 2rem;
 }

 .botones:active{
  color: black;
  background: rgba(38, 166, 255, 1);
  border-radius: 5px;
  height: 2.2rem;
  margin-top: 2rem;
  font-size: 1.1rem;
  width: 13rem;
  font-weight: bold;
  //margin-bottom: 2rem;
}

 
 .boton-imagenes{
    color: black;
    background: rgba(38, 166, 255, 0.75);   
    border-radius: 5px;
    height: 2.2rem;
    //margin-top: 2rem;
    font-size: 1.1rem;
    width: 13rem;
    font-weight: bold;
    margin-top: 1rem;
 }

 .noOlvides{
     padding-top: 2rem;
     font-size: larger;
   text-shadow: 2px 2px white;
   color: black;
 }

 .botones-1{
    color: black;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    height: 2.2rem;
    font-size: 1.1rem;
    width: 8rem;
   color: black;
    font-weight: bold;
 }
