<!-- app-maquetacion-tab-detalle-tab-3 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<mv-card>

		<h1>Búsqueda</h1>

		<h3>Filtra tu búsqueda por cualquier campo</h3>

		<mv-input
		  icon-class="fa fa-search"
		  placeholder="Buscar...">
		</mv-input>

		<mv-button
		  adapt=true
			btn-type="primary">
		  Buscar
		</mv-button>

	</mv-card>

	<mv-card
		adapt=true
		float=true
		border-width=0>

		<mv-tab
			type="flat"
			class="app-maquetacion-mv-tab"
		  captions="Inicio;Listado;Buscar;Avisos;Configurar"
		  icon-class="fas fa-home;fas fa-list;fas fa-search;fas fa-bell;fas fa-cog"
		  badge=";;;;;"
		  selected=2
			click="clickOption"
		  bottom-mode=true>
		</mv-tab>
	</mv-card>

</mv-screen>
