<!-- mova-access-conditions -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<br>

	<mv-card
		round-corners=true>

		<div class="texto">
			Este es un sistema de información de la Comunidad de Madrid y su uso está restringido a personas autorizadas, en adelante 'usuarios'. En consecuencia, no está permitido suprimir, eludir o manipular los dispositivos técnicos de protección, las huellas digitales o cualesquiera mecanismos de información y/o identificación y acceso al sistema.
		</div>

		<div class="texto">
			El usuario se obliga a utilizar este sistema de información de forma diligente, correcta, lícita y de conformidad a la Ley y al presente aviso. En particular, se compromete a no utilizar los contenidos con una finalidad contraria a la Ley, moral u orden público; a no reproducir o copiar, no distribuir y no permitir el acceso público, a excepción de que cuente con autorización expresa, y en cualquier tipo de soporte, ya sea físico o lógico.
		</div>

		<div class="texto">
			El usuario se compromete a hacer un uso diligente y a mantener en secreto la contraseña o los mecanismos de autenticación proporcionados para acceder a este sistema. En consecuencia, los usuarios son responsables de la adecuada custodia y confidencialidad de cualesquiera identificadores y/o contraseñas que le sean suministradas, y se comprometen a no ceder su uso a terceros, ya sea temporal o permanente, ni a permitir su acceso a personas ajenas. Será responsabilidad del usuario la utilización ilícita de los servicios por cualquier tercero ilegítimo que emplee a tal efecto una contraseña a causa de una utilización no diligente o de la pérdida de la misma por el usuario. En virtud de lo anterior, es obligación del usuario notificar de forma inmediata a los gestores del sistema acerca de cualquier hecho que permita el uso indebido de los identificadores y/o contraseñas, tales como el robo, extravío, o el acceso no autorizado a los mismos, con el fin de proceder a su inmediata cancelación.
		</div>

		<div class="text-center">
			<mv-button
				click="clickBackButton()"
			  btn-type="black">
				Volver
			</mv-button>
		</div>

	</mv-card>

</mv-screen>
