
<header class="arrendador" *ngIf="isUserArrendador == true" style="background:#26a6ff">
  <div class="titulo" text-center>
    <h5>Perfil Agente</h5>
  </div>
  <div>
    <img class="arrow" (click)="goBack()" src="/assets/icon/flecha.png">
  </div>

</header>
<ion-header style="background:#26a6ff" *ngIf="isUserAgente == true">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" style="text-align: initial" href="#" style="">Perfil Agente</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a style="color: black;" class="nav-link" (click)="goHome()">Inicio Agente </a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goPisosAgentes()">Lista pisos</a>
          <!-- <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goAlquileres()">Alquileres Activos</a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goContratos()">Contratos</a>
          </li>-->
          <li class="nav-item">
            <a style="color: black;" class="nav-link" (click)="goPerfil()">Perfil</a>
          </li>
        </ul>
      </div>
    </nav>

</ion-header>

<ion-content *ngIf="items" class="list-mini-content" >

  <div padding text-center>
    <div style="position: relative">
      <div text-center class="imagen " text-center *ngFor="let item of items">
        <img class="imagen-perfil" src="{{ item.payload.doc.data().image }}" alt="">
      </div>
      <div class="tarjeta" text-center>
        <div *ngIf="items.length > 0" class="list-mini" text-center>
          <ion-list class="lista" *ngFor="let item of items">
              <div style="margin-top: 1rem;">
                <h3>
                {{ item.payload.doc.data().nombre }}
                </h3>
              </div>
              <p><b style="padding-right: 1rem;">Apellido:</b>{{ item.payload.doc.data().apellido }}</p>
              <p><b style="padding-right: 1rem;">Email:</b>{{ item.payload.doc.data().email }}</p>
              <p><b style="padding-right: 1rem;">Fecha nacimiento:</b>{{ item.payload.doc.data().fechaNacimiento | date: "dd/MM/yyyy"}}</p>
              <p><b style="padding-right: 1rem;">Telefono:</b>{{ item.payload.doc.data().telefono }}</p>
              <p><b style="padding-right: 1rem;">Direccion:</b>{{ item.payload.doc.data().direccion }}</p>
              <p><b style="padding-right: 1rem;">Ciudad:</b>{{ item.payload.doc.data().ciudad }}</p>
              <p><b style="padding-right: 1rem;">Codigo Postal:</b>{{ item.payload.doc.data().codigoPostal }}</p>
              <div >
                <p text-center style="font-size: small;">
                  <input style="text-align: center" readonly="true" class="id" #uid type="text" value="{{item.payload.doc.data().userId}}" id="uid"/>
                </p>
                  <ion-icon color="secondary" size="large" name="copy" (click)="copy(uid)"></ion-icon>
              </div>
          </ion-list>
        </div>
      </div>
    </div>
  <div text-center *ngFor="let item of items">
    <button type="button" class="boton" [routerLink]="['/detalles-perfil-agente', item.payload.doc.id]">Editar</button>
    <button type="button" class="boton-confirmar" (click)="onLogout()">Cerrar Sesión</button>
   <!-- <button type="button" class="boton-incidencias" (click)="incidencias()">Incidencias</button>-->

  </div>
</div>
</ion-content>

