<ion-header>
  <nav class="navbar navbar-expand-lg navbar-dark ">
    <a style="font-size: large; color: white;" class="navbar-brand" (click)="goBack()"><img class="logo"
        src="../../../assets/icon/logotipoO.png">Pisos reservados</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="isUserAdmin != true" class="nav-item ">
          <a class="nav-link" (click)="perfil()">Perfil</a>
        </li>
        <li *ngIf="isUserAdmin != true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/tabs/tab1" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Pisos
          </a>
          <div class="dropdown-menu" style="background: black; color:white;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="listaPisos()">Lista de pisos</a>
            <a class="dropdown-item" (click)="registrarPiso()">Añadir piso</a>
          </div>
        </li>
        <li *ngIf="isUserAdmin != true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Agentes
          </a>
          <div class="dropdown-menu" style="background: black; color:white;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="registroAgente()">Registrar agente</a>
            <a class="dropdown-item" (click)="listaInmo()">Lista de agentes</a>
          </div>
        </li>
        <li *ngIf="isUserAdmin == true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div style="background: black; color:white;" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="registro()">Registrar Inmobiliaria</a>
            <a class="dropdown-item" (click)="listaInmobiliarias()">Lista de Inmobiliarias</a>
            <a class="dropdown-item" (click)="listaPisosAdmin()">Lista de pisos</a>
            <a class="dropdown-item" (click)="pisosReservados()">Lista de pisos bloqueados</a>
            <a class="dropdown-item" (click)="solicitudesAlquiler()">Solicitudes de alquiler&nbsp;<ion-badge *ngFor="let contratos of cs.contratos; let i = index;" color="success"><p *ngIf="contratos.contratoGenerador != true">{{i+1}}</p></ion-badge></a>
            <a class="dropdown-item" (click)="incidentes()">Lista Incidencias</a>
            <a class="dropdown-item" (click)="desahucio()">lista prevision desahucio</a>
            <a class="dropdown-item" (click)="impago()">lista prevision impago</a>
            <a class="dropdown-item" (click)="contratosInquilinos()">Contratos firmados inquilinos</a>
            <a class="dropdown-item" (click)="contratosArrendadores()">Contratos firmados arrendadores</a>
            <a class="dropdown-item" (click)="recibos()">Recibos</a>
            <a class="dropdown-item" (click)="admin()">Registrar admin</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</ion-header>

<ion-content *ngIf="items" class="fondo">
  <div text-center>
    <input type="search" [(ngModel)]="searchText" placeholder="Localidad..." class="buscador" />
  </div>
  <div *ngFor="let item of items">
    <div *ngIf="items.length > 0">
      <!--[routerLink]="['/admin-contact', item.payload.doc.id]" no funciona-->
      <div *ngIf="
          item.payload.doc.data().localidad &&
          item.payload.doc.data().localidad.length
        ">
        <div text-center *ngIf="item.payload.doc.data().localidad.includes(searchText)">

                <div class="mx-auto caja-principal" >
                  <div>
                  <!--Aqui iniciamos las card views de los pisos -->
                  <div class="inline" *ngIf="item.payload.doc.data().disponible == false" text-center>
                    <div [routerLink]="['/detalles-pisos', item.payload.doc.id]" text-center>
                        <img class="casa"  src="{{item.payload.doc.data().imageResponse[0]}}" alt="" srcset="">
                      </div>
                        <div [routerLink]="['/detalles-pisos', item.payload.doc.id]" class="caja-2 mx-auto" text-center>
                      <div class="desktop-card">
                        <div class="caja">
                          <p style="margin-bottom: -0.4rem;"><b>{{ item.payload.doc.data().calle }}</b></p>
                           <p style="margin-bottom: -0.4rem;">
                              <b>{{ item.payload.doc.data().localidad }}({{ item.payload.doc.data().cp }})</b></p>
                            <p class="descripcion" style="margin-bottom: -0.4rem;">{{ item.payload.doc.data().descripcionInmueble }}</p>
                        </div>
                        <h5 class="card-title"><b
                            class="b">{{ item.payload.doc.data().costoAlquiler }}€</b><i
                            class="mes">/Mes</i>
                        </h5>
                        <hr>
                      </div>                     
                    </div>
                  </div>
                  
                </div>
                </div>
        </div>
      </div>
    </div>
    <div *ngIf="items.length == 0" class="sin">
      Sin Pisos en este Momento
    </div>
  </div>

</ion-content>