<!-- app-maquetacion -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		class="section-info"
		title="INFORMACIÓN"
		hr-class-if="hr-info"
		>
		<p>Este framework ofrece muchas posibilidades de maquetación, a continuación se muestran algunos ejemplos.</p>
		<p>Estos ejemplos no disponen de funcionalidad.</p>
	</mv-card>

	<!-- Contenedor de Cards -->
	<mv-container class="app-maquetacion-mv-card-main">

		<!-- Elemento del contenedor -->
		<mv-container-item col-xs=12 col-sm=6>

			<!-- Opción del menu principal -->
			<mv-card
				class="app-main-mv-card-option app-main-mv-card-option-sanidad"
				round-corners=true
				shadow=true
				click="clickOpcion(0)"
				border-color="#018373"
			>
				<mv-card
					default-css=false
					adapt=true
					round-corners=true
					class="app-main-mv-card-option-gradient-001">
				</mv-card>

				<i class="app-main-mv-card-option-icon fa fa-user-md"></i>
				<p class="app-main-mv-card-option-text">Carpeta salud</p>
			</mv-card>
		</mv-container-item>

		<!-- Elemento del contenedor -->
		<mv-container-item col-xs=12 col-sm=6>

			<!-- Opción del menu principal -->
			<mv-card
				class="app-main-mv-card-option app-main-mv-card-option-sanidad"
				round-corners=true
				shadow=true
				click="clickOpcion(1)"
				border-color="#018373"
			>
				<mv-card
					default-css=false
					adapt=true
					round-corners=true
					class="app-main-mv-card-option-gradient-002">
				</mv-card>

				<i class="app-main-mv-card-option-icon fa fa-user-md"></i>
				<p class="app-main-mv-card-option-text">Carpeta salud con estilos propios</p>
			</mv-card>
		</mv-container-item>

		<!-- Elemento del contenedor -->
		<mv-container-item col-xs=12 col-sm=6>

			<!-- Opción del menu principal -->
			<mv-card
				class="app-main-mv-card-option app-main-mv-card-option-menus"
				round-corners=true
				shadow=true
				click="clickOpcion(14)"
				border-color="#018373"
			>
				<mv-card
					default-css=false
					adapt=true
					round-corners=true
					class="app-main-mv-card-option-gradient-003">
				</mv-card>

				<i class="app-main-mv-card-option-icon fa fa-user-md"></i>
				<p class="app-main-mv-card-option-text">Ejemplos de menús</p>
			</mv-card>
		</mv-container-item>

		<!-- Elemento del contenedor -->
		<mv-container-item col-xs=12 col-sm=6>

			<!-- Opción del menu principal -->
			<mv-card
				class="app-main-mv-card-option app-main-mv-card-option-responsive"
				round-corners=true
				shadow=true
				click="clickOpcion(7)"
				border-color="#018373"
			>
				<mv-card
					default-css=false
					adapt=true
					round-corners=true
					class="app-main-mv-card-option-gradient-003">
				</mv-card>

				<i class="app-main-mv-card-option-icon fab fa-html5"></i>
				<p class="app-main-mv-card-option-text">Ejemplo responsive</p>
			</mv-card>
		</mv-container-item>

		<!-- Elemento del contenedor -->
		<mv-container-item col-xs=12 col-sm=6>

			<!-- Opción del menu principal -->
			<mv-card
				class="app-main-mv-card-option app-main-mv-card-option-static-data"
				round-corners=true
				shadow=true
				click="clickOpcion(13)"
				border-color="#018373"
			>
				<mv-card
					default-css=false
					adapt=true
					round-corners=true
					class="app-main-mv-card-option-gradient-003">
				</mv-card>

				<i class="app-main-mv-card-option-icon fab fa-html5"></i>
				<p class="app-main-mv-card-option-text">Ejemplo de presentación de datos</p>
			</mv-card>
		</mv-container-item>

		<!-- Elemento del contenedor -->
		<mv-container-item col-xs=12 col-sm=6>

			<!-- Opción del menu principal -->
			<mv-card
				class="app-main-mv-card-option app-main-mv-card-option-portal-inmobiliario"
				round-corners=true
				shadow=true
				click="clickOpcion(10)"
				border-color="#018373"
			>
				<mv-card
					default-css=false
					adapt=true
					round-corners=true
					class="app-main-mv-card-option-gradient-003">
				</mv-card>

				<i class="app-main-mv-card-option-icon fa fa-file"></i>
				<p class="app-main-mv-card-option-text">Ejemplo portal inmobiliario</p>
			</mv-card>
		</mv-container-item>

		<!-- Elemento del contenedor -->
		<mv-container-item col-xs=12 col-sm=6>

			<!-- Opción del menu principal -->
			<mv-card
				class="app-main-mv-card-option app-main-mv-card-option-lista-detalle-formulario"
				round-corners=true
				shadow=true
				click="clickOpcion(6)"
				border-color="#018373"
			>
				<mv-card
					default-css=false
					adapt=true
					round-corners=true
					class="app-main-mv-card-option-gradient-003">
				</mv-card>

				<i class="app-main-mv-card-option-icon fab fa-html5"></i>
				<p class="app-main-mv-card-option-text">Ejemplo de formulario</p>
			</mv-card>
		</mv-container-item>

		<!-- Elemento del contenedor -->
		<mv-container-item col-xs=12 col-sm=6>

			<!-- Opción del menu principal -->
			<mv-card
				class="app-main-mv-card-option app-main-mv-card-option-grid"
				round-corners=true
				shadow=true
				click="clickOpcion(5)"
				border-color="#018373"
			>
				<mv-card
					default-css=false
					adapt=true
					round-corners=true
					class="app-main-mv-card-option-gradient-003">
				</mv-card>

				<i class="app-main-mv-card-option-icon fab fa-html5"></i>
				<p class="app-main-mv-card-option-text">Ejemplo de tablas</p>
			</mv-card>
		</mv-container-item>

		<!-- Elemento del contenedor -->
		<mv-container-item col-xs=12 col-sm=6>

			<!-- Opción del menu principal -->
			<mv-card
				class="app-main-mv-card-option app-main-mv-card-option-tab-detalle"
				round-corners=true
				shadow=true
				click="clickOpcion(3)"
				border-color="#018373"
			>
				<mv-card
					default-css=false
					adapt=true
					round-corners=true
					class="app-main-mv-card-option-gradient-003">
				</mv-card>

				<i class="app-main-mv-card-option-icon fab fa-html5"></i>
				<p class="app-main-mv-card-option-text">Ejemplo de menú en el pie</p>
			</mv-card>
		</mv-container-item>

		<!-- Elemento del contenedor -->
		<mv-container-item col-xs=12 col-sm=6>

			<!-- Opción del menu principal -->
			<mv-card
				class="app-main-mv-card-option app-main-mv-card-option-tab-detalle-2"
				round-corners=true
				shadow=true
				click="clickOpcion(4)"
				border-color="#018373"
			>
				<mv-card
					default-css=false
					adapt=true
					round-corners=true
					class="app-main-mv-card-option-gradient-003">
				</mv-card>

				<i class="app-main-mv-card-option-icon fab fa-html5"></i>
				<p class="app-main-mv-card-option-text">Ejemplo de solapas</p>
			</mv-card>
		</mv-container-item>

		<!-- Elemento del contenedor -->
		<mv-container-item col-xs=12 col-sm=6>

			<!-- Opción del menu principal -->
			<mv-card
				class="app-main-mv-card-option app-main-mv-card-option-lista-detalle"
				round-corners=true
				shadow=true
				click="clickOpcion(2)"
				border-color="#018373"
			>
				<mv-card
					default-css=false
					adapt=true
					round-corners=true
					class="app-main-mv-card-option-gradient-003">
				</mv-card>

				<i class="app-main-mv-card-option-icon fab fa-html5"></i>
				<p class="app-main-mv-card-option-text">Ejemplo de lista con detalle</p>
			</mv-card>
		</mv-container-item>

		<!-- Elemento del contenedor -->
		<mv-container-item col-xs=12 col-sm=6>

			<!-- Opción del menu principal -->
			<mv-card
				class="app-main-mv-card-option app-main-mv-card-option-tab"
				round-corners=true
				shadow=true
				click="clickOpcion(11)"
				border-color="#018373"
			>
				<mv-card
					default-css=false
					adapt=true
					round-corners=true
					class="app-main-mv-card-option-gradient-003">
				</mv-card>

				<i class="app-main-mv-card-option-icon fab fa-html5"></i>
				<p class="app-main-mv-card-option-text">Ejemplo de tab</p>
			</mv-card>
		</mv-container-item>

		<!-- Elemento del contenedor -->
		<mv-container-item col-xs=12 col-sm=6>

			<!-- Opción del menu principal -->
			<mv-card
				class="app-main-mv-card-option app-main-mv-card-option-map-vgcm"
				round-corners=true
				shadow=true
				click="clickOpcion(12)"
				border-color="#018373"
			>
				<mv-card
					default-css=false
					adapt=true
					round-corners=true
					class="app-main-mv-card-option-gradient-003">
				</mv-card>

				<i class="app-main-mv-card-option-icon fab fa-html5"></i>
				<p class="app-main-mv-card-option-text">Ejemplo de mapas GIS - VGCM</p>
			</mv-card>
		</mv-container-item>

		<!-- Elemento del contenedor -->
		<mv-container-item col-xs=12 col-sm=6>

			<!-- Opción del menu principal -->
			<mv-card
				class="app-main-mv-card-option app-main-mv-card-option-recaptcha"
				round-corners=true
				shadow=true
				click="clickOpcion(15)"
				border-color="#018373">
				<mv-card
					default-css=false
					adapt=true
					round-corners=true
					class="app-main-mv-card-option-gradient-003">
				</mv-card>

				<i class="app-main-mv-card-option-icon fab fa-html5"></i>
				<p class="app-main-mv-card-option-text">Ejemplo de recaptcha</p>
			</mv-card>
		</mv-container-item>

	</mv-container>

</mv-screen>
