/*
╔═══════════════════════╗
║ app-maquetacion style ║
╚═══════════════════════╝
*/

app-maquetacion {

	@include view-style;

	.app-maquetacion-mv-tab{
    -webkit-box-shadow: 0 -0.2em 0.75em 0 rgba(79, 72, 76, 0.35);
    -moz-box-shadow: 0 -0.2em 0.75em 0 rgba(79, 72, 76, 0.35);
    box-shadow: 0 -0.2em 0.75em 0 rgba(79, 72, 76, 0.35);
    > main > .mv-tab-ol {
      margin-top: -1.5em !important;
      border: none !important;
    }
  }

	.app-maquetacion-mv-card-main {

	    max-width: $card-max-size;
	    margin: 0 auto;

		.app-main-mv-card-option {

			display: block;
			text-align: left;
			color: $color-primary-002;
			height: 5rem;

			.app-main-mv-card-option-icon {

				display: inline-block;
				vertical-align: middle;
				font-size: $font-size-big;
				margin-top: 0.75rem;
			};

			.app-main-mv-card-option-text {

				display: inline-block;
				vertical-align: middle;
				width: 90%;
				font-size: $font-size-medium;
				font-weight: bold;
				margin: 1rem 0 0 0.55rem;

				@include mx-truncate;
			};

			/**************************************
			 * Estilos especiales de las opciones *
			 **************************************/

			// Gradiente color-primary-001
			.app-main-mv-card-option-gradient-001 {
			    width:100%;
			    height: 100%;
			    position: absolute;
			    opacity: 0.9;
			    margin: 0 0 0 0;
			    padding: 0 0 0 0;
			    top: 0;
			    left: 0;
			    background-image: linear-gradient(to right,$color-primary-001-60,$color-primary-001-10);
			}

			// Gradiente color-primary-002
			.app-main-mv-card-option-gradient-002 {
			    width:100%;
			    height: 100%;
			    position: absolute;
			    opacity: 0.9;
			    margin: 0 0 0 0;
			    padding: 0 0 0 0;
			    top: 0;
			    left: 0;
			    background-image: linear-gradient(to right,$color-primary-002-60,$color-primary-002-10);
			}

			// Gradiente color-primary-003
			.app-main-mv-card-option-gradient-003 {
			    width:100%;
			    height: 100%;
			    position: absolute;
			    opacity: 0.9;
			    margin: 0 0 0 0;
			    padding: 0 0 0 0;
			    top: 0;
			    left: 0;
			    background-image: linear-gradient(to right,$color-primary-003-60,$color-primary-003-10);
			}

			// Gradiente color-primary-004
			.app-main-mv-card-option-gradient-004 {
			    width:100%;
			    height: 100%;
			    position: absolute;
			    opacity: 0.9;
			    margin: 0 0 0 0;
			    padding: 0 0 0 0;
			    top: 0;
			    left: 0;
			    background-image: linear-gradient(to right,$color-primary-004-60,$color-primary-004-10);
			}

			// Imagen de fondo sanidad
			&.app-main-mv-card-option-sanidad {

				background: url(media/images/examples/app-maquetacion-carpeta-salud-icon-calendario-sanidad.png);
				color: $color-secondary-011;

				.app-main-mv-card-option-icon,
				.app-main-mv-card-option-text {
					position: relative;
				}
			}

			// Imagen de fondo invierte madrid
			&.app-main-mv-card-option-invierte-madrid {

				background: url(media/images/examples/app-maquetacion-invierte-madrid.png);
				color: $color-secondary-011;

				.app-main-mv-card-option-icon,
				.app-main-mv-card-option-text {
					position: relative;
				}
			}

			// Imagen de fondo invierte madrid
			&.app-main-mv-card-option-portal {

				background: url(media/images/examples/app-maquetacion-portal.png);
				color: $color-secondary-011;

				.app-main-mv-card-option-icon,
				.app-main-mv-card-option-text {
					position: relative;
				}
			}

			// Imagen de fondo invierte madrid
			&.app-main-mv-card-option-portal-inmobiliario {

				background: url(media/images/examples/app-maquetacion-portal-inmobiliario.png);
				color: $color-secondary-011;

				.app-main-mv-card-option-icon,
				.app-main-mv-card-option-text {
					position: relative;
				}
			}

			// Imagen de fondo genérica de código
			&.app-main-mv-card-option-tab,
			&.app-main-mv-card-option-tab-detalle,
			&.app-main-mv-card-option-tab-detalle-2,
			&.app-main-mv-card-option-grid,
			&.app-main-mv-card-option-lista-detalle,
			&.app-main-mv-card-option-lista-detalle-formulario,
			&.app-main-mv-card-option-responsive,
			&.app-main-mv-card-option-map-vgcm,
			&.app-main-mv-card-option-menus,
			&.app-main-mv-card-option-recaptcha,
			&.app-main-mv-card-option-static-data {

				background: url(media/images/examples/app-maquetacion-code.png);
				color: $color-secondary-011;

				.app-main-mv-card-option-icon,
				.app-main-mv-card-option-text {
					position: relative;
				}
			}
		};
	}
}

/*
┌──────────────────┐
│ Bootstrap col-xs │
└──────────────────┘
*/

@media only screen and (max-width : $media-col-xs-max) {

}
