<!-- app-example-angularjs-http -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">$http</h1>
		<br>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>La documentación oficial puede verse <a href="https://docs.angularjs.org/api/ng/service/$http" target="_blank">aquí</a>.</p>
			<p>Este componente se utiliza mediante su inyección en otros componentes.</p>
		</mv-card>
		<p>Esta directiva ofrece los siguientes métodos:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('get')" >get</a></li>
			<li><a href="" ng-click="$root.scrollTo('post')" >post</a></li>
		</ul>
	</mv-card>

	<mv-card
		id="get"
		>
		<h3 class="title-3">get</h3>
		<br>
		<p>Este método realiza una llamada <b>http</b> de tipo <b>get</b>.</p>
		<p>Esta método permite el uso de los siguientes parámetros:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('getShowLoading')" >showLoading</a></li>
			<li><a href="" ng-click="$root.scrollTo('getShowError')" >showError</a></li>
			<li><a href="" ng-click="$root.scrollTo('getShowErrorCode')" >showErrorCode</a></li>
			<li><a href="" ng-click="$root.scrollTo('getUseTokenAuth')" >useApiKey</a></li>
			<li><a href="" ng-click="$root.scrollTo('getUseTokenAuth')" >useTokenAuth</a></li>
		</ul>
		<h3 id="getShowLoading"><b>showLoading</b></h3>
		<p>El uso de una llamada <b>http</b> por <b>get</b> por defecto muestra el efecto de loading del componente <b>mv.movaLoading</b> que dura hasta la llegada de la respuesta a la llamada <b>http</b> por <b>get</b>.</p>
		<p>Podemos anular el efecto de loading incluyendo, como segundo parámetro, un objeto JSON con propiedad <b>showLoading</b> con valor false.</p>
		<p>A continuación se muestra un ejemplo de uso:</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				$http.get(url, <b>{'showLoading':false}</b>)<br>
				.then(function successCallback(response) {<br>
				&emsp;&emsp;return response;<br>
				},<br>
				function errorCallback(response) {<br>
				&emsp;&emsp;return response;<br>
				});
			</span>
		</code>
		<mv-button
			adapt="true"
		  click="clickEjemploLoading(true)">
			Ejemplo con loading
		</mv-button>
		<mv-button
			adapt="true"
		  click="clickEjemploLoading(false)">
			Ejemplo sin loading
		</mv-button>
		<h3 id="getShowError"><b>showError</b></h3>
		<p>El uso de una llamada <b>http</b> por <b>get</b> por defecto, en caso de error, utiliza el componente <b>mv.movaError</b> para redireccionar a una pantalla que muestra el error y varias acciones a realizar.</p>
		<p>Podemos evitar que se realice esta redirección incluyendo, como segundo parámetro, un objeto JSON con propiedad <b>showError</b> con valor false.</p>
		<p>A continuación se muestra un ejemplo de uso:</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				$http.get(url, <b>{'showError':false}</b>)<br>
				.then(function successCallback(response) {<br>
				&emsp;&emsp;return response;<br>
				},<br>
				function errorCallback(response) {<br>
				&emsp;&emsp;return response;<br>
				});
			</span>
		</code>
		<h3 id="getShowErrorCode"><b>showErrorCode</b></h3>
		<p>El uso de una llamada <b>http</b> por <b>get</b> por defecto, en caso de error, utiliza el componente <b>mv.movaError</b> para redireccionar a una pantalla que muestra el error y varias acciones a realizar.</p>
		<p>Podemos evitar que se muestre información detallada del error incluyendo, como segundo parámetro, un objeto JSON con propiedad <b>showErrorCode</b> con valor false.</p>
		<p>A continuación se muestra un ejemplo de uso:</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				$http.get(url, <b>{'showErrorCode':false}</b>)<br>
				.then(function successCallback(response) {<br>
				&emsp;&emsp;return response;<br>
				},<br>
				function errorCallback(response) {<br>
				&emsp;&emsp;return response;<br>
				});
			</span>
		</code>
		<h3 id="getUseApiKey"><b>useApiKey</b></h3>
		<p>El uso de una llamada <b>http</b> por <b>get</b> por defecto, no envia la cabecera <b>Authorization</b> con un APIKEY.</p>
		<p>Podemos decidir en que llamadas http queremos incluir la cabecera <b>Authorization</b> con el valor de un APIKEY.</p>
		<p>MOVA centraliza para cada entorno los valores de cada APIKEY en la variable <b>apiKeyArray</b>, que es un array de objectos JSON, en el componente <a href="#!/example-app-environment"><b>app.environment</b></a>.</p>
		<p>A continuación se muestra un ejemplo de uso. En este caso, hemos creado en <b>apiKeyArray</b> el apiKey de ejemplo 'httpExampleKey'</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				$http.get(url, <b>{'useApiKey':'httpExampleKey'}</b>)<br>
				.then(function successCallback(response) {<br>
				&emsp;&emsp;return response;<br>
				},<br>
				function errorCallback(response) {<br>
				&emsp;&emsp;return response;<br>
				});
			</span>
		</code>
		<mv-button
			adapt="true"
		  click="clickEjemploApiKey()">
			Ejemplo con apiKey
		</mv-button>
		<h3 id="getUseTokenAuth"><b>useTokenAuth</b></h3>
		<p>El uso de una llamada <b>http</b> por <b>get</b> por defecto, no envia la cabecera <b>Token-Auth</b> con el token del login del </p>
		<p>Podemos decidir en qué llamadas http queremos incluir la cabecera <b>Token-Auth</b> con el token del login del usuario. Por tanto,
			para usar el tokenAuth por defecto <b>es necesario estar logado.</b></p>
		<p>Para esto usamos el valor <b>true</b>.</p>
		<p>A continuación se muestra un ejemplo de uso:</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				$http.get(url, <b>{'useTokenAuth':true}</b>)<br>
				.then(function successCallback(response) {<br>
				&emsp;&emsp;return response;<br>
				},<br>
				function errorCallback(response) {<br>
				&emsp;&emsp;return response;<br>
				});
			</span>
		</code>
		<mv-button
			adapt="true"
		  click="clickEjemploTokenAuth(1)">
			Ejemplo con tokenAuth por defecto
		</mv-button>
		<p>Podemos decidir en que llamadas http queremos incluir la cabecera <b>Token-Auth</b> con un token customizado que exista previamente en el array de tokens customizados del localStorage.</p>
		<p>Es recomendable leer la documentación de <a href="#!/example-mova-library#getObjectCustomTokenAuthManager"><b>mv.movaLibrary</b></a> relativa al objeto para gestionar los tokens customizados.</p>
		<p>Para esto usamos el nombre del token customizado como valor.</p>
		<p>A continuación se muestra un ejemplo de uso. En este caso, hemos creado el token de ejemplo customizado 'httpExampleAuth'</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				$http.get(url, <b>{'useTokenAuth':'httpExampleAuth'}</b>)<br>
				.then(function successCallback(response) {<br>
				&emsp;&emsp;return response;<br>
				},<br>
				function errorCallback(response) {<br>
				&emsp;&emsp;return response;<br>
				});
			</span>
		</code>
		<mv-button
			adapt="true"
		  click="clickEjemploTokenAuth(2)">
			Ejemplo con tokenAuth personalizado
		</mv-button>
	</mv-card>
	<mv-card
		id="post"
		>
		<h3 class="title-3">post</h3>
		<br>
		<p>Este método realiza una llamada <b>http</b> de tipo <b>post</b>.</p>
		<p>Esta método permite el uso de los siguientes parámetros:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('postShowLoading')" >showLoading</a></li>
			<li><a href="" ng-click="$root.scrollTo('postShowError')" >showError</a></li>
			<li><a href="" ng-click="$root.scrollTo('postShowErrorCode')" >showErrorCode</a></li>
			<li><a href="" ng-click="$root.scrollTo('postUseTokenAuth')" >useApiKey</a></li>
			<li><a href="" ng-click="$root.scrollTo('postUseTokenAuth')" >useTokenAuth</a></li>
		</ul>
		<h3 id="postShowLoading"><b>showLoading</b></h3>
		<p>El uso de una llamada <b>http</b> por <b>post</b> por defecto muestra el efecto de loading del componente <b>mv.movaLoading</b> que dura hasta la llegada de la respuesta a la llamada <b>http</b> por <b>post</b>.</p>
		<p>Podemos anular el efecto de loading incluyendo, como tercer parámetro, un objeto JSON con propiedad <b>showLoading</b> con valor false.</p>
		<p>A continuación se muestra un ejemplo de uso:</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				$http.post(url, data, <b>{'showLoading':false}</b>)<br>
				.then(function successCallback(response) {<br>
				&emsp;&emsp;return response;<br>
				},<br>
				function errorCallback(response) {<br>
				&emsp;&emsp;return response;<br>
				});
			</span>
		</code>
		<h3 id="postShowError"><b>showError</b></h3>
		<p>El uso de una llamada <b>http</b> por <b>post</b> por defecto, en caso de error, utiliza el componente <b>mv.movaError</b> para redireccionar a una pantalla que muestra el error y varias acciones a realizar.</p>
		<p>Podemos evitar que se realice esta redirección incluyendo, como tercer parámetro, un objeto JSON con propiedad <b>showError</b> con valor false.</p>
		<p>A continuación se muestra un ejemplo de uso:</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				$http.post(url, data, <b>{'showError':false}</b>)<br>
				.then(function successCallback(response) {<br>
				&emsp;&emsp;return response;<br>
				},<br>
				function errorCallback(response) {<br>
				&emsp;&emsp;return response;<br>
				});
			</span>
		</code>
		<h3 id="postShowErrorCode"><b>showErrorCode</b></h3>
		<p>El uso de una llamada <b>http</b> por <b>post</b> por defecto, en caso de error, utiliza el componente <b>mv.movaError</b> para redireccionar a una pantalla que muestra el error y varias acciones a realizar.</p>
		<p>Podemos evitar que se muestre información detallada del error incluyendo, como segundo parámetro, un objeto JSON con propiedad <b>showErrorCode</b> con valor false.</p>
		<p>A continuación se muestra un ejemplo de uso:</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				$http.post(url, data, <b>{'showErrorCode':false}</b>)<br>
				.then(function successCallback(response) {<br>
				&emsp;&emsp;return response;<br>
				},<br>
				function errorCallback(response) {<br>
				&emsp;&emsp;return response;<br>
				});
			</span>
		</code>
		<h3 id="postUseApiKey"><b>useApiKey</b></h3>
		<p>El uso de una llamada <b>http</b> por <b>post</b> por defecto, no envia la cabecera <b>Authorization</b> con un APIKEY.</p>
		<p>Podemos decidir en que llamadas http queremos incluir la cabecera <b>Authorization</b> con el valor de un APIKEY.</p>
		<p>MOVA centraliza para cada entorno los valores de cada APIKEY en la variable apiKeyArray, que es un array de objectos JSON, en el componente <a href="#!/example-app-environment"><b>app.environment</b></a>.</p>
		<p>A continuación se muestra un ejemplo de uso:</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				$http.post(url, data, <b>{'useApiKey':'httpExampleKey'}</b>)<br>
				.then(function successCallback(response) {<br>
				&emsp;&emsp;return response;<br>
				},<br>
				function errorCallback(response) {<br>
				&emsp;&emsp;return response;<br>
				});
			</span>
		</code>
		<h3 id="postUseTokenAuth"><b>useTokenAuth</b></h3>
		<p>El uso de una llamada <b>http</b> por <b>post</b> por defecto, no envia la cabecera <b>Token-Auth</b> con el token del login del usuario.</p>
		<p>Podemos decidir en que llamadas http queremos incluir la cabecera <b>Token-Auth</b> con el token del login del usuario.</p>
		<p>Para esto usamos el valor <b>true</b>.</p>
		<p>A continuación se muestra un ejemplo de uso:</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				$http.post(url, data, <b>{'useTokenAuth':true}</b>)<br>
				.then(function successCallback(response) {<br>
				&emsp;&emsp;return response;<br>
				},<br>
				function errorCallback(response) {<br>
				&emsp;&emsp;return response;<br>
				});
			</span>
		</code>
		<p>Podemos decidir en que llamadas http queremos incluir la cabecera <b>Token-Auth</b> con un token customizado que exista previamente en el array de tokens customizados del localStorage.</p>
		<p>Es recomendable leer la documentación de <a href="#!/example-mova-library#getObjectCustomTokenAuthManager"><b>mv.movaLibrary</b></a> relativa al objeto para gestionar los tokens customizados.</p>
		<p>Para esto usamos el nombre del token customizado como valor.</p>
		<p>A continuación se muestra un ejemplo de uso:</p>
		<code>
			<badge>JavaScript</badge>
			<span>
				$http.post(url, data, <b>{'useTokenAuth':'httpExampleAuth'}</b>)<br>
				.then(function successCallback(response) {<br>
				&emsp;&emsp;return response;<br>
				},<br>
				function errorCallback(response) {<br>
				&emsp;&emsp;return response;<br>
				});
			</span>
		</code>
	</mv-card>

</mv-screen>
