<!-- app-example-mova-network -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaNetwork</h1>
		<br>
		<mv-card
			class="section-info"
			title="INFORMACIÓN"
			hr-class-if="hr-info"
			>
			<p>Este componente funciona de forma autónoma.</p>
			<p>El desarrollador puede implementar acciones a realizar cuando se pierde o se recupera la conexión mediante los métodos <b>mvNetworkService.instructionsForOnline</b> y <b>mvNetworkService.instructionsForOffline</b> que se encuentran en el módulo principal <b>run-network</b>.</p>
		</mv-card>
		<p>Este componente se encarga de gestionar la red y la conexión de la App.</p>
		<p>Este componente ofrece los siguientes métodos a través del servicio <b>mvNetworkService</b>:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('getNetwork')" >getNetwork</a></li>
			<li><a href="" ng-click="$root.scrollTo('init')" >init</a></li>
			<li><a href="" ng-click="$root.scrollTo('instructionsForOffline')" >instructionsForOffline</a></li>
			<li><a href="" ng-click="$root.scrollTo('instructionsForOnline')" >instructionsForOnline</a></li>
			<li><a href="" ng-click="$root.scrollTo('isOffline')" >isOffline</a></li>
			<li><a href="" ng-click="$root.scrollTo('isOnline')" >isOnline</a></li>
		</ul>
	</mv-card>
		
	<mv-card
		id="getNetwork"
		>
		<h3 class="title-3">getNetwork</h3>
		<br>
		<p>El método <b>getNetwork</b> recupera un objeto con el tipo de conexión mediante el plugin de conexiones de Cordova.</p>
		<p>El parámetro self es el propio servicio <b>mvNetworkService</b>.</p>
	</mv-card>
		
	<mv-card
		id="init"
		>
		<h3 class="title-3">init</h3>
		<br>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>El método <b>init</b> es llamado en el fichero <b>run-network.js</b>, no se recomienda su uso en otro lugar de la App ni usarlo más de una vez en distintos sitios de la App.</p>
		</mv-card>
		<p>El método <b>initServ</b> inicializa los eventos y la configuración del componente <b>mv.movaNetwork</b>.</p>
	</mv-card>
		
	<mv-card
		id="instructionsForOffline"
		>
		<h3 class="title-3">instructionsForOffline</h3>
		<br>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>Este método se implementa por defecto dentro del fichero <b>run-network.js</b> y es desde este fichero desde donde debe codificarse las acciones a realizar.</p>
		</mv-card>
		<p>El método <b>instructionsForOffline</b> permite incluir código a ejecutar en caso de perderse la conexión.</p>
	</mv-card>
		
	<mv-card
		id="instructionsForOnline"
		>
		<h3 class="title-3">instructionsForOnline</h3>
		<br>
		<mv-card
			class="section-warning"
			title="AVISO"
			hr-class-if="hr-warning"
			>
			<p>Este método se implementa por defecto dentro del fichero <b>run-network.js</b> y es desde este fichero desde donde debe codificarse las acciones a realizar.</p>
		</mv-card>
		<p>El método <b>instructionsForOnline</b> permite incluir código a ejecutar en caso de recuperarse la conexión.</p>
	</mv-card>
		
	<mv-card
		id="isOffline"
		>
		<h3 class="title-3">isOffline</h3>
		<br>
		<p>El método <b>isOffline</b> responde true si el estado de la red es offline y false si no lo es.</p>
		<p>Por defecto se contempla el estado no offline, para evitar bloquear la app por error.</p>
	</mv-card>
		
	<mv-card
		id="isOnline"
		>
		<h3 class="title-3">isOnline</h3>
		<br>
		<p>El método <b>isOnline</b> responde true si el estado de la red es online y false si no lo es.</p>
		<p>Por defecto se contempla el estado online, para evitar bloquear la app por error.</p>
	</mv-card>

</mv-screen>