<!-- app-pantalla18 -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	float-footer="{{ screen.floatFooter }}"
	show-back="{{ screen.showBack }}"
	show-menu="{{ screen.showMenu }}"
	show-logo="{{ screen.showLogo }}"
	show-subtitle="{{ screen.showSubtitle }}">

	<mv-container class="app-main-menu-mv-card-main">

			<h2 id="dir">
					  Hitos
			</h2>

			<mv-burguer title="Gestión de calidad"
			  bg-color="#FFFFFF"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
			El Hospital está certificado desde el año
					2007 en “Gestión de Calidad” según NORMA UNE-EN ISO 9001.
					Desde esta fecha se ha ido
					ampliando el alcance de esta certificación en sus sucesivas renovaciones.
					En 2017, el Hospital ha conseguido la renovación de esta certificación en sus versiones
					actualizadas, consiguiendo la NORMA UNE-EN ISO 9001:2015.
			  </mv-burguer>

			<mv-burguer title="Gestión ambiental"
			  bg-color="#FFFFFF"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
			El Hospital está certificado desde el año 2011 en
					“Gestión Ambiental” según NORMA UNE-EN ISO 14001.
					Desde esta fecha se ha ido
					ampliando el alcance de esta certificación en sus sucesivas renovaciones.
					En 2017, el Hospital ha conseguido la renovación de esta certificación en sus versiones
					actualizadas, consiguiendo la NORMA UNE-EN ISO 14001:2015.
			  </mv-burguer>

			<mv-burguer title="Premios Unidad de Cocina"
			  bg-color="#FFFFFF"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
					<ul>
						<li>Estrella Princesa</li>
						<li>Finalista del 2º concurso de cocina Hospitalaria Navideña de la Comunidad de Madrid</li>
					</ul>
			  </mv-burguer>

			<mv-burguer title="Premio Red de Hospitales Sin Humo"
			  bg-color="#FFFFFF"
			  title-color="#155DB3"
			init-collapsed="true"
			    >
			El Hospital La Fuenfría adquiere el Premio Red de Hospitales sin humo: Categoría Plata
			  </mv-burguer>

			<!--<p id="hitos">El Hospital de La Fuenfría, como entidad comprometida con la Calidad y Medioambiente,
					cuenta con un Sistema de Gestión de Calidad basado en la Gestión por Procesos y en las
					NORMAS UNE-EN ISO. Firme con este compromiso, el Hospital está certificado desde el año
					2007 en “Gestión de Calidad” según NORMA UNE-EN ISO 9001, y desde el año 2011, en
					“Gestión Ambiental” según NORMA UNE-EN ISO 14001. Desde estas fechas se ha ido
					ampliando el alcance de estas certificaciones en sus sucesivas renovaciones.
					En 2017, el Hospital ha conseguido la renovación de las certificaciones en sus versiones
					actualizadas, consiguiendo la NORMA UNE-EN ISO 9001:2015 y la NORMA UNE-EN ISO
					14001:2015. Así mismo, en dichas renovaciones se ha ampliado el alcance de las
					certificaciones a la Unidad de Cuidados Continuos y a la Unidad de Tuberculosis. De esta
					manera, el Hospital La Fuenfría consigue la certificación de la totalidad de sus Unidades de
					Hospitalización.</p>
					<br/>
			
			<p id="alcance">El alcance de la certificación es para las siguientes actividades:</p>
					<br/>		

					<ul>
						<li>Servicio de Atención al Paciente</li>
						<li>Telemedicina</li>
						<li>Radiología digital</li>
						<li>Mantenimiento de las instalaciones y equipos propiedad del hospital</li>
						<li>Cuidados de enfermería</li>
						<li>Servicio de rehabilitación (Fisioterapia, Terapia ocupacional, Logopedia y
						neuropsicología)</li>
						<li>Restauración</li>
						<li>Trabajo Social</li>
						<li>Unidad de Cuidados paliativos</li>
						<li>Unidad de rehabilitación funcional</li>
						<li>Unidad de tratamiento neurorehabilitador</li>
						<li>Unidad de cuidados continuos</li>
						<li>Unidad de tuberculosis</li>
					</ul>-->

	</mv-container>	

</mv-screen>
