.navbar {
    background: black;
}

.logo{
    width: 2rem;
    margin-top: -0.5rem;
    margin-left: -0.5rem;
    margin-right: 0.5rem;
}

.navbar .navbar-expand-lg{
    background: #26a6ff;
}

ion-content{

    --background: url("/assets/imgs/contratosFiermados.jpg") no-repeat fixed center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}

@media only screen and (min-width:414px){
    ion-content{
        --background: url("/assets/imgs/contratosFiermadosS.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
    }
}

ion-card{
    background-color: rgba(255, 255, 255, 0.8);
}

ion-card-content{
    text-align: -webkit-auto;
    color: black;
}

.search{
    width: 85%;
    border-radius: 5px;
    height: 2.4rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  img.signature{
    width: 5rem;
    position: absolute;
    right: 0;
    border: 1px 1px black;
    margin-right: 0.5rem;
    margin-top: -0.8rem;
    opacity: 0.8;
  }

i{
    float: right;
}

.sin{
    text-align: center;
    top: 50%;
    position: relative;
    font-size: x-large;
}

p{
    font-size: smaller;
    text-align: initial;
}

b{
    margin-right: 0.5rem;
}

@media (min-width:1024px) and (max-width:1920px){
    .caja{
        width: 50%;
    }
    .search{
        width: 50%;
    }
    ion-content{
        --background: url("/assets/imgs/firmados.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
        --background-attachment: fixed;
    }  
}          