<!-- app-example-mova-input-datepicker -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaInputBirthdate</h1>
		<br>
		<p>Campo para seleccionar una fecha eligiendo día, mes y año. Está especialmente indicado
			para fechas de nacimiento o
			cualquier fecha antigua ya que con este componente seleccionamos el año directamente, sin
			necesidad de buscarlo.
		<p>Este componente acepta los siguientes atributos:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('change')" >change</a></li>
			<li><a href="" ng-click="$root.scrollTo('disabled')" >disabled</a></li>
			<li><a href="" ng-click="$root.scrollTo('isRequired')" >is-required</a></li>
			<li><a href="" ng-click="$root.scrollTo('label')" >label</a></li>
			<li><a href="" ng-click="$root.scrollTo('leftLabel')" >left-label</a></li>
			<li><a href="" ng-click="$root.scrollTo('leftLabelSm')" >left-label-sm</a></li>
			<li><a href="" ng-click="$root.scrollTo('leftLabelMd')" >left-label-md</a></li>
			<li><a href="" ng-click="$root.scrollTo('leftLabelLg')" >left-label-lg</a></li>
			<li><a href="" ng-click="$root.scrollTo('minYear')" >min-year</a></li>
			<li><a href="" ng-click="$root.scrollTo('maxYear')" >max-year</a></li>
			<li><a href="" ng-click="$root.scrollTo('message')" >message</a></li>
			<li><a href="" ng-click="$root.scrollTo('messageType')" >message-type</a></li>
			<li><a href="" ng-click="$root.scrollTo('tooltip')" >tooltip</a></li>
			<li><a href="" ng-click="$root.scrollTo('tooltipPosition')" >tooltip-position</a></li>
		</ul>
		<p>Este componente dispone de los siguientes eventos:</p>
		<mv-card
			class="section-danger"
			title="IMPORTANTE"
			hr-class-if="hr-danger"
			>
			<p>Para usar los eventos es necesario definir un atributo <b>id</b> en el componente.</p>
			<p>Este <b>id</b> debe ser <u>único para toda la App</u>.</p>
			<p>Para que el <b>id</b> sea único deberá seguir la siguiente estructura: <u>nombreFicheroNombreExplicativoNombreFuncion</u>.</p>
			<p>El componente ofrece los eventos mediante el siguiente código: <i>'rootScope:movaInputBirthdate:<u>identificador</u>:<u>nombreDelEvento</u>'</i></p>
			<p>La palabra <u>identificador</u> debe sustituirse con el valor del atributo <b>id</b> del componente.</p>
			<p>La palabra <u>nombreDelEvento</u> debe sustituirse con el nombre del evento.</p>
		</mv-card>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('messageToggle')" >MessageToggle</a></li>
			<li><a href="" ng-click="$root.scrollTo('validate')" >Validate</a></li>
		</ul>
	</mv-card>

	<mv-card
		id="change"
		>
		<h3 class="title-3">change</h3>
		<br>
		<p>La propiedad <b>change</b> permite ejecutar una función incluida en el <b>$scope</b>, cada vez que cambia el valor del input.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-birthdate<br>
				&emsp;&emsp;model="valorChange"<br>
				&emsp;&emsp;<b>change="funcionChange()";</b><br>
				&emsp;&emsp;><br>InputBirthdate
				&lt;/mv-input-birthdate>
			</span>
		</code>
		<mv-input-birthdate
			model="valorChange"
			change="funcionChange()";
		>
		</mv-input-birthdate>
	</mv-card>

	<mv-card
		id="disabled"
		>
		<h3 class="title-3">disabled</h3>
		<br>
		<p>La propiedad <b>disabled</b> permite desactivar el componente.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-birthdate<br>
				&emsp;&emsp;<b>disabled=true</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-birthdate>
			</span>
		</code>
		<mv-input-birthdate
			model="datepickerValue002"
			disabled=true
		>
		</mv-input-birthdate>
	</mv-card>

	<mv-card
		id="isRequired"
		>
		<h3 class="title-3">is-required</h3>
		<br>
		<p>La propiedad <b>is-required</b> permite definir el componente como obligatorio.</p>
		<p>Con el uso de la propiedad <b>is-required</b>, el elemento <b>&lt;input></b> generado contendra la propiedad <b>has-required</b> en caso de no cumplir la validación.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-birthdate<br>
				&emsp;&emsp;model="valorIsRequired"<br>
				&emsp;&emsp;<b>is-required=true</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-birthdate>
			</span>
		</code>
		<mv-input-birthdate
			model="valorIsRequired"
			is-required=true>
		</mv-input>
	</mv-card>

	<mv-card
		id="label"
		>
		<h3 class="title-3">label</h3>
		<br>
		<p>La propiedad <b>label</b> permite incluir una label para el input.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input<br>
				&emsp;&emsp;<b>label="Esta es la label de prueba"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input>
			</span>
		</code>
		<mv-input-birthdate
			label="Esta es la label de prueba"
			model="datepickerValue003"
		>
		</mv-input-birthdate>
	</mv-card>

	<mv-card
		id="leftLabel"
		>
		<h3 class="title-3">left-label</h3>
		<br>
		<p>Si la propiedad <b>left-label</b> no se utiliza o su valor es false la label del componente se posiciona en la parte superior.</p>
		<p>Si la propiedad <b>left-label</b> se utiliza con valor true cambia la forma de mostrar la label, en vez de encima se muestra a la izquierda del campo de texto.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-birthdate<br>
				&emsp;&emsp;<b>left-label=true</b><br>
				&emsp;&emsp;label="Esta es la label de prueba"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input-birthdate>
			</span>
		</code>
		<p>Ejemplo de label a la izquierda en campo de texto:</p>
		<mv-input-birthdate
			left-label=true
			label="Fecha de nacimiento"
			model="datepickerValue004">
		</mv-input-birthdate>
		<p>Ejemplo de label a la izquierda en campo de texto con mensaje:</p>
		<mv-input-birthdate
			left-label=true
			label="Fecha de nacimiento"
			message="Mensaje de prueba"
			model="datepickerValue004">
		</mv-input-birthdate>
		<p>Ejemplo de label a la izquierda para tamaño de viewport sm:</p>
		<mv-input-birthdate
			left-label-sm=true
			label="Fecha de nacimiento"
			model="datepickerValue004">
		</mv-input-birthdate>
		<p>Ejemplo de label a la izquierda para tamaño de viewport md:</p>
		<mv-input-birthdate
			left-label-md=true
			label="Fecha de nacimiento"
			model="datepickerValue004">
		</mv-input-birthdate>
		<p>Ejemplo de label a la izquierda para tamaño de viewport lg:</p>
		<mv-input-birthdate
			left-label-lg=true
			label="Fecha de nacimiento"
			model="datepickerValue004">
		</mv-input-birthdate>
	</mv-card>

	<mv-card
		id="leftLabelSm">
		<h3 class="title-3">left-label-sm</h3>
		<br>
		<p>La propiedad <b>left-label-sm</b> realiza la función del atributo <b>left-label</b> para el tamaño de viewport <b>sm</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-birthdate<br>
				&emsp;&emsp;<b>left-label-sm=true</b><br>
				&emsp;&emsp;label="Esta es la label de prueba"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input-birthdate>
			</span>
		</code>
		<p>Ejemplo de label a la izquierda para tamaño de viewport sm:</p>
		<mv-input-birthdate
			left-label-sm=true
			label="Fecha de nacimiento"
			model="datepickerValue005">
		</mv-input-birthdate>
	</mv-card>

	<mv-card
		id="leftLabelMd"
		>
		<h3 class="title-3">left-label-md</h3>
		<br>
		<p>La propiedad <b>left-label-md</b> realiza la función del atributo <b>left-label</b> para el tamaño de viewport <b>md</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-birthdate<br>
				&emsp;&emsp;<b>left-label-md=true</b><br>
				&emsp;&emsp;label="Esta es la label de prueba"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input-birthdate>
			</span>
		</code>
		<p>Ejemplo de label a la izquierda para tamaño de viewport md:</p>
		<mv-input-birthdate
			left-label-md=true
			label="Fecha de nacimiento"
			model="datepickerValue006">
		</mv-input-birthdate>
	</mv-card>

	<mv-card
		id="leftLabelLg"
		>
		<h3 class="title-3">left-label-lg</h3>
		<br>
		<p>La propiedad <b>left-label-lg</b> realiza la función del atributo <b>left-label</b> para el tamaño de viewport <b>lg</b>.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-birthdate<br>
				&emsp;&emsp;<b>left-label-lg=true</b><br>
				&emsp;&emsp;label="Esta es la label de prueba"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input-birthdate>
			</span>
		</code>
		<p>Ejemplo de label a la izquierda para tamaño de viewport lg:</p>
		<mv-input-birthdate
			left-label-lg=true
			label="Fecha de nacimiento"
			model="datepickerValue007">
		</mv-input-birthdate>
	</mv-card>

	<mv-card
		id="minYear">
		<h3 class="title-3">min-year</h3>
		<br>
		<p>La propiedad <b>min-year</b> permite establecer el límite mínimo del select de los años.
			En caso de no establecer este valor el límite inferior será 1900. </p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-birthdate<br>
				&emsp;&emsp;<b>min-year=1975</b><br>
				&emsp;&emsp;label="Esta es la label de prueba"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input-birthdate>
			</span>
		</code>
		<p>Ejemplo de año mínimo 1975:</p>
		<mv-input-birthdate
			min-year=1975
			label="Fecha de nacimiento"
			model="datepickerValue007">
		</mv-input-birthdate>
	</mv-card>

	<mv-card
		id="maxYear">
		<h3 class="title-3">max-year</h3>
		<br>
		<p>La propiedad <b>max-year</b> permite establecer el límite máximo del select de los años.
			En caso de no establecer este valor el límite superior será el año actual. </p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-birthdate<br>
				&emsp;&emsp;<b>max-year=2030</b><br>
				&emsp;&emsp;label="Esta es la label de prueba"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input-birthdate>
			</span>
		</code>
		<p>Ejemplo de año máximo 2030:</p>
		<mv-input-birthdate
			max-year=2030
			label="Fecha de nacimiento"
			model="datepickerValue007">
		</mv-input-birthdate>
	</mv-card>

	<mv-card
		id="message">
		<h3 class="title-3">message</h3>
		<br>
		<p>La propiedad <b>message</b> permite incluir una texto de una linea que aparecerá en la parte inferior del input.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-birthdate<br>
				&emsp;&emsp;<b>message="Este es el mensaje de prueba"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-birthdate>
			</span>
		</code>
		<mv-input-birthdate
			message="Este es el mensaje de prueba"
			model="datepickerValue008">
		</mv-input-birthdate>
	</mv-card>

	<mv-card
		id="messageType"
		>
		<h3 class="title-3">message-type</h3>
		<br>
		<p>La propiedad <b>message-type</b> permite modificar el estilo del mensaje.</p>
		<p>por defecto, si no se especifica la propiedad el valor es danger.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-birthdate<br>
				&emsp;&emsp;message="Estilo warning.<br>
				&emsp;&emsp;<b>message-type="danger"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-birthdate>
			</span>
		</code>
		<mv-input-birthdate
			message="Estilo danger."
			message-type="danger"
			model="datepickerValue009">
		</mv-input-birthdate>
		<br>
		<mv-input-birthdate
			message="Estilo warning."
			message-type="warning"
			model="datepickerValue009">
		</mv-input-birthdate>
		<br>
		<mv-input-birthdate
			message="Estilo success."
			message-type="success"
			model="datepickerValue009">
		</mv-input-birthdate>
		<br>
		<mv-input-birthdate
			message="Estilo info."
			message-type="info"
			model="datepickerValue009">
		</mv-input-birthdate>
	</mv-card>

	<mv-card
		id="tooltip">
		<h3 class="title-3">tooltip</h3>
		<br>
		<p>La propiedad <b>tooltip</b> permite visualizar un tooltip al pasar el ratón por encima del componente</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-birthdate<br>
				&emsp;&emsp;icon-class="fa fa-anchor"<br>
				&emsp;&emsp;<b>tooltip="Tooltip de ejemplo"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-birthdate>
			</span>
		</code>
		<mv-input-birthdate
			icon-class="fa fa-anchor"
			model="datepickerValue014"
			tooltip="Tooltip de ejemplo"
			tooltip-position="right">
		</mv-input-birthdate>
	</mv-card>

	<mv-card
		id="tooltip-position"
		>
		<h3 class="title-3">tooltip-position</h3>
		<br>
		<p>La propiedad <b>tooltip-position</b> permite colocar el tooltip encima, a la derecha, a la izquierda o debajo del componente.</p>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-birthdate<br>
				&emsp;&emsp;icon-class="fa fa-anchor"<br>
				&emsp;&emsp;tooltip="Tooltip debajo"<br>
				&emsp;&emsp;<b>tooltip-position="bottom"</b><br>
				&emsp;&emsp;><br>
				&lt;/mv-input-birthdate>
			</span>
		</code>
		<mv-input-birthdate
			icon-class="fa fa-anchor"
			model="datepickerValue014"
			tooltip="Tooltip debajo"
			tooltip-position="bottom">
		</mv-input-birthdate>
	</mv-card>

	<mv-card
		id="messageToggle"
		>
		<h3 class="title-3">Ev: MessageToggle</h3>
		<br>
		<p>El evento <b>MessageToggle</b> permite mostrar u ocultar el mensaje del componente.</p>
		<p>El evento <b>MessageToggle</b> puede recibir los siguientes parámetros en formato JSON :</p>
		<ul>
			<li><b>message</b>: Cadena de caracteres que se mostrará en el mensaje. Por defecto el mensaje a mostrar es ''.</li>
		</ul>
		<p>Se puede llamar a este evento desde el controlador de un componente mediante la siguiente instrucción:</p>
		<code>
			<badge>JavaScript</badge>
			let args = {<br>
			&emsp;&emsp;message: 'Mensaje de prueba'<br>
			}<br>
			$rootScope.$emit('rootScope:movaInputBirthdate:<u>identificador</u>:MessageToggle', args);
		</code>
		<p>A continuación se muestra un ejemplo:</p>
		<mv-button
			btn-type="primary"
			click="messageToggleEjemplo()"
			>
			Mostrar u ocultar mensaje de prueba
		</mv-button>
		<br><br>
		<mv-input-birthdate
			id="appExampleMovaInputBirthdateEjemploMessageToggleRemoto"
			model="datepickerValue010">
		</mv-input-birthdate>
	</mv-card>

	<mv-card
		id="validate">
		<h3 class="title-3">Ev: Validate</h3>
		<br>
		<p>El evento <b>Validate</b> permite validar el componente.</p>
		<p>El evento <b>Validate</b> puede recibir los siguientes parámetros en formato JSON:</p>
		<ul>
			<li><b>messageIsRequired</b>: Cadena de caracteres que se mostrará como mensaje en el caso de que la validación del componente mediante el atributo <b>is-required</b> sea erronea. Por defecto el mensaje a mostrar es 'Obligatorio'.</li>
		</ul>
		<p>Se puede conocer en tiempo real si no se cumple la validación mediante los siguientes atributos del elemento <b>&lt;input></b> que se encuentra dentro del componente <b>&lt;mv-input></b>:
		<ul>
			<li><b>has-required</b> - Si no cumple la validación mediante el atributo <b>is-required</b>.</li>
		</ul>
		<p>Se puede llamar a este evento desde el controlador de un componente mediante la siguiente instrucción:</p>
		<code>
			<badge>JavaScript</badge>
			let args = {<br>
			&emsp;&emsp;messageIsRequired: 'Campo obligatorio',<br>
			}<br>
			$rootScope.$emit('rootScope:movaInputBirthdate:<u>identificador</u>:Validate', args);
		</code>
		<p>A continuación se muestra un ejemplo de campo obligatorio:</p>
		<mv-button
			btn-type="primary"
			click="validarEjemploInputObligatorio()">
			Validar input obligatorio
		</mv-button>
		<br><br>
		<mv-input-birthdate
			id="appExampleMovaInputBirthdateEjemploValidarInputObligatorioRemoto"
			model="valorIsRequired"
			is-required=true
			label="Campo obligatorio">
		</mv-input-birthdate>
		{{ validarEjemploIsRequiredAttribute }}
	</mv-card>

</mv-screen>
