ion-content{
    --background: url(../../../assets/imgs/economiaFondo.png) no-repeat fixed center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    --background-attachment: fixed;
}

.botones{
margin-top: 50%;
}

.boton{
    width: 9rem;
    border-radius: 25px;
    background: white;
    height: 2rem;
    font-size: larger;
    margin-top: 2rem;
    font-weight: bold;
}
