
<ion-content class="fondo">
    <app-header [tituloHeader]="textHeader"></app-header>

  <div  class="botones" text-center>
    <div>
  <button class="boton" routerLink="/tabs/tab4/lista-alquileres-pagados">Economia</button>
</div>
<div  text-center class="mx-auto" mb-1>
  <button class="boton" routerLink="/tabs/tab4/recibos">Recibos</button>
</div>
</div>
</ion-content>
