<ion-content padding>
  <ion-item lines="none" style="--background: transparent !important">
    <ion-icon size="large" slot="start" name="close" color="danger" (click)="exit()"></ion-icon>
  </ion-item>
  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <h1 text-center class="mx-auto">Rellenar y firmar si desea este servicio</h1>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          CONTRATO DE PREVISIÓN DE IMPAGO DE RENTAS

          REUNIDOS
          DE UNA PARTE
          RentechApp S.L. con N.I.F. número B-88351630 y domicilio en Paseo del Club Deportivo 1, Edificio 15-A, Planta
          1ª, Código Postal 28223 de Pozuelo de Alarcón, Madrid, actuando en este acto como tercero de confianza entre
          los anteriores a través de la aplicación Móvil ofrecida por la misma, en adelante la “Gestora”.

          Y DE OTRA
          Don/Doña <ion-input type="text" formControlName="nombre" placeholder="Nombre"></ion-input>, con D.N.I. número
          <ion-input type="text" formControlName="dni" minlength="9" maxlength="9" placeholder="DNI"></ion-input>, actuando en este acto en su
          propio nombre y derecho, en adelante el “Arrendador”.

          EN ADELANTE
          RentechApp S.L. y Don/Doña <ion-input type="text" formControlName="nombre" placeholder="Nombre"></ion-input>,
          ambos, que conjuntamente serán denominados como las “Partes”, se reconocen mutuamente capacidad suficiente
          para la firma del presente Contrato de Previsión de Impagos de Renta, la asunción de las obligaciones que del
          mismo dimanan y, en su virtud,

          EXPONEN
          I.- Que Don/Doña <ion-input type="text" formControlName="nombre" placeholder="Nombre"></ion-input> es
          propietario, por justos y legítimos títulos, de la vivienda sita en <ion-input type="text"
            formControlName="direccion" placeholder="direccion"></ion-input>, con referencia catastral <ion-input
            type="text" formControlName="referenciaCatastral" placeholder="Referencia catastral"></ion-input>, en
          adelante el “Inmueble”, el cual Arrienda a un tercero inquilino por una Renta de: <ion-input type="text"
            formControlName="precio" placeholder="precio"></ion-input>Euros mensuales.
          II.- Que Don/Doña <ion-input type="text" formControlName="nombre" placeholder="Nombre"></ion-input> arrienda el
          anteriormente indicado Inmueble a través de la Aplicación Móvil propiedad de la Gestora mediante Contrato de
          Arrendamiento con Referencia: <ion-input type="text" formControlName="referenciaCatastral" placeholder="Referencia">
          </ion-input>.
          III.- Que el arrendador desea asegurarse el cobro de la renta o mensualidad del contrato de arrendamiento
          principal firmado con su inquilino a través de la Gestora.
          IV.- Que las Partes firmantes convienen el presente Contrato de Previsión de Impago de Rentas con arreglo a
          las siguientes,
          CLÁUSULAS
          § PRIMERA.- OBJETO.
          Por el presente contrato, la Gestora abonará por adelantado una Anualidad de Renta al Arrendador desde el
          momento de iniciarse una acción de Reclamación de Renta y Desahucio a través de la Gestora, sobre la cantidad
          estipulada en el Contrato de Arrendamiento en vigor formalizado mediante la Aplicación Móvil propiedad de la
          Gestora, contra el Inquilino, abonándole al Arrendador, mensualmente, la cantidad correspondiente reflejada en
          el Contrato de Arrendamiento denunciado menos los honorarios por cualquier concepto correspondientes a la
          Gestora.
          § SEGUNDA.- RÉGIMEN APLICABLE.
          El presente Contrato de Previsión de Impago se regirá por el contenido expreso y literal del presente pacto
          entre las Partes y, supletoriamente para los casos no recogidos en el cuerpo de éste, por los supuestos
          contemplados en el Código de Comercio, las leyes que lo modifiquen o deroguen, y, supletoriamente a éste, en
          el Código Civil.
          § TERCERA.- EJECUCIÓN DE PAGOS DE RENTAS.
          El inicio en el pago de la Anualidad correspondiente a la Renta impagada se realizará mensualmente y comenzará
          en el momento en que el Letrado designado por la Gestora, en nombre y por cuenta del Arrendador, inicie la
          Acción de Desahucio y Reclamación de Rentas por impago de las mismas.
          § CUARTA.- RENTA.
          La renta sobre la que se extiende la presente previsión asciende a la cantidad reflejada en el contrato de
          Arrendamiento Principal, o de la que resulte efectivamente exigible conforme al incremento del IPC o indicador
          que lo sustituya en el momento de reclamación.
          Las rentas entregadas por adelantado o en depósito por el Arrendatario, correspondientes a mensualidades
          exigibles, serán entregadas mensualmente al Arrendador conforme a lo estipulado en el presente acuerdo
          conformando parte del pago de la Anualidad correspondiente a la Renta impagada.
          Las rentas adelantadas por la Gestora y reclamadas por el Letrado que ésta designe por cuenta y en nombre del
          Arrendador, darán lugar a la subrogación de la Gestora en el lugar del Arrendador, y en especial al derecho de
          crédito que éste ostenta frente al Arrendatario, por lo que serán retenidas una vez finalice el eventual
          procedimiento de Desahucio y Reclamación de Rentas Impagadas, o éstas sean satisfechas por el Arrendatario.
          § QUINTA.- PRECIO.
          Los honorarios correspondientes a la Gestora, por la presente Previsión de Impago de Renta, corresponden al 2%
          sobre el total de la Renta reflejada en el contrato de Arrendamiento Principal sujeta a previsión de impago,
          retenciones e impuestos indirectos no incluidos.
          § SEXTA.- FORMA DE PAGO DE LOS HONORARIOS POR PREVISIÓN.
          Los honorarios se retendrán mensualmente del pago en concepto de Renta que realice el Inquilino y se imputarán
          automáticamente al pago de honorarios por Previsión de Impago de Renta correspondiente conforme a lo
          estipulado en el Acuerdo de Uso de la Aplicación Móvil propiedad de la Gestora, que se reflejará en la
          oportuna factura.
          Las retenciones a que se hacen referencia en el párrafo anterior, serán de aplicación desde el inicio del
          Contrato de Arrendamiento y se extenderán hasta la resolución de la controversia o del eventual Proceso de
          Desahucio y Reclamación de Rentas.
          § SÉPTIMA.- DURACIÓN.
          La duración del presente contrato se extiende desde el inicio de la vigencia del principal acuerdo de
          Arrendamiento del Inmueble objeto hasta su resolución.
          § OCTAVA.- NOTIFICACIONES.
          Para realizar cualquier notificación entre las Partes que tenga como origen el presente Contrato de Previsión
          de Impago de Rentas, éstas acuerdan que la comunicación se realizará por medio de la plataforma facilitada en
          la Aplicación por la Gestora.
          No obstante, siempre y cuando sea posible garantizar la autenticidad del emisor, del destinatario, y del
          contenido del mensaje las Partes designan como domicilio a efectos de las mismas las direcciones indicadas al
          principio de este Contrato, bastando correo o telegrama con acuse de recibo.
          § NOVENA.- JURISDICCIÓN.
          Ambas partes se someten, tanto para cualquier discrepancia emanada de la interpretación de este contrato como
          de cualesquiera otras que pudieran surgir en cuanto al Inmueble, ya sean de naturaleza contractual como
          extracontractual, a los juzgados y tribunales de la ciudad de Madrid.
          Todo lo anterior, sin perjuicio de poder someterse a sistemas alternativos de resolución de tales conflictos,
          a título enunciativo, pero no exhaustivo, negociación, conciliación, mediación, arbitraje.
          Y PARA QUE ASÍ CONSTE, se extiende el presente documento, por duplicado a un solo efecto, en tres folios de
          papel común numerados correlativamente al pie de cada uno, que, después de leído, es rubricado en su pie por
          las Partes contratantes en prueba de su comprensión y consentimiento, en el lugar y fecha al principio
          indicada.
          El Arrendador El Arrendatario

          <div>
            <div class="title"><b>Firma</b></div>
            <ion-row [ngClass]="{'drawing-active': isDrawing}">
              <ion-col></ion-col>
              <ion-col>
                <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
                  (onEndEvent)="drawComplete()"></signature-pad>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div text-center>
      <button class="crear" type="submit" expand="block" (click)="savePad(); exit()"  [disabled]="!validations_form.valid" >Confirmar</button>
    </div>

  </form>
  <ion-grid text-center class="mx-auto">
    <ion-row>
      <ion-col size="12">
        <button text-center class="botones mx-auto" (click)="clearPad()">Limpiar</button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>