ion-content{

    --background: url('/assets/imgs/incidencia.jpg') no-repeat fixed center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
        --background-attachment: fixed;
}

@media only screen and (min-width:414px){
    ion-content{
        --background: url("/assets/imgs/incidenciaS.jpg") no-repeat fixed center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
            --background-attachment: fixed;
    }
}

div{
    padding-left: 2rem
}

hr{
    background: black;
    width: 100%;
    margin-left: -1rem;
    margin-top: -0.3rem;
}

ion-label{
    font-weight: bold;
}

textarea{
    background: transparent;
    font-weight: bold;
    width: 90%;
}

.botonFoto{
    width: 9rem;
    border-radius: 5px;
    height: 2.5rem;
    margin-top: 1rem;
    background: rgba(38, 166, 255, 0.7);
    box-shadow: 1px 1px black;
    color: white;
}

.boton{
    width: 9rem;
    border-radius: 5px;
    height: 2.5rem;
    margin-top: 1rem;
    background: rgba(38, 166, 255, 0.9);
    box-shadow: 1px 1px black;
    color: black;
}

ion-card{
    background: rgba(255, 255, 255, 0.7);
    color: white;
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: medium;
}

form{
    color: black;
}

textarea{
    background: rgba(38, 166, 255, 0.7);
}