<ion-content>
    <app-header [tituloHeader]="textHeader"></app-header>
    <div>
        <ion-row no-padding class="animated fadeIn fast">
            <ion-col size="6" offset="3">
                <img class="circular" [src]="image" *ngIf="image" />
            </ion-col>
        </ion-row>
        <ion-row no-padding class="animated fadeIn fast">
            <ion-col size="6" offset="3">
                <button class="botonFoto" (click)="getPicture()">Agrega tu Foto</button>
            </ion-col>
        </ion-row>
    </div>
    <ion-card>
        <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">

            <div>
                <ion-label position="floating" color="ion-color-dark">Nombre </ion-label>
                <ion-input placeholder="Nombre" type="text" formControlName="nombre"></ion-input>
                <hr>
            </div>
            <div>
                <ion-label position="floating" color="ion-color-dark">Dirección</ion-label>
                <ion-input placeholder="Dirección" type="text" formControlName="direccion"></ion-input>
                <hr>
            </div>
            <div>
                <ion-label position="floating" color="ion-color-dark">Tipo Incidencias</ion-label>
                <ion-input placeholder="Tipo Incidencias" type="text" formControlName="tipoIncidencia"></ion-input>
                <hr>
            </div>
          <!--   <div>
                <p style="text-align:center; padding-right: 1rem; ">El Id del arrendador se encuentra al final de tu Alquiler</p>
            </div>
           <div>
                <ion-label position="floating" color="ion-color-dark">Arrendador Id</ion-label>
                <ion-input placeholder="Arrendador ID" type="text" formControlName="arrendadorId"></ion-input>
                <hr>
            </div> -->
            <div>
                <p>Escribir incidencia</p>
                <textarea formControlName="textIncidencia">
            </textarea>
            </div>
            <div padding text-center>
                <button class="boton" type="submit" [disabled]="!validations_form.valid">Crear Incidencia</button>
            </div>
        </form>
    </ion-card>
</ion-content>