<!-- app-maquetacion-carpeta-salud-estilos-propios -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">


		<mv-card
			default-css=false
			class="app-maquetacion-carpeta-salud-personal-titulo"
			>
			<h1>Mi Carpeta de Salud</h1>
		</mv-card>
		<mv-card
			default-css=false
			class="app-maquetacion-carpeta-salud-personal-subtitulo"
			>
			<h3>Viernes 31 de Marzo de 2017</h3>
		</mv-card>

	<!-- Contenedor de Cards -->
	<mv-container class="app-maquetacion-carpeta-salud-mv-card-main">

		<mv-container class="app-maquetacion-carpeta-salud-personal">

			<mv-container-item col-xs=12 col-sm=6
				default-css=false
				class="app-maquetacion-carpeta-salud-personal-data"
				>
				<i class="fa fa-user"></i>&emsp;
				<p class="app-maquetacion-carpeta-salud-personal-data-name">Rick Sanchez Fernandez</p>
			</mv-container-item>

			<mv-container-item col-xs=12 col-sm=6
				default-css=false
				class="app-maquetacion-carpeta-salud-button-disconect"
				>
				<p class="app-maquetacion-carpeta-salud-button-disconect-p">
					<mv-button
						btn-type="danger"
						icon-class="fa fa-sign-out"
						>
						Cerrar sesión
					</mv-button>
				</p>
			</mv-container-item>
		</mv-container>

		<!-- Elemento del contenedor -->
		<mv-container-item
			round-corners=true
			class="app-maquetacion-carpeta-salud-mv-card-main-item"
			>

			<!-- Elemento del contenedor -->
			<mv-container-item col-xs=6 col-sm=4>

				<mv-card
					adapt=true
					default-css=false
					class="app-maquetacion-mv-card-option"
				>
					<mv-button
						img-src="media/images/examples/app-maquetacion-carpeta-salud-icon-info-clinica.png"
						img-top=true
						class="app-maquetacion-mv-button-option"
						btn-type="default"
						>
						Mi información clínica
					</mv-button>
				</mv-card>

			</mv-container-item>

			<!-- Elemento del contenedor -->
			<mv-container-item col-xs=6 col-sm=4>

				<mv-card
					badge-icon-class="fa fa-lock"
					adapt=true
					default-css=false
					class="app-maquetacion-mv-card-option"
				>
					<mv-button
						img-src="media/images/examples/app-maquetacion-carpeta-salud-icon-indicadores.png"
						img-top=true
						class="app-maquetacion-mv-button-option"
						btn-type="default"
						>
						Datos de mi salud
					</mv-button>
				</mv-card>

			</mv-container-item>

			<!-- Elemento del contenedor -->
			<mv-container-item col-xs=6 col-sm=4>

				<mv-card
					badge-icon-class="fa fa-unlock"
					adapt=true
					default-css=false
					class="app-maquetacion-mv-card-option"
				>
					<mv-button
						img-src="media/images/examples/app-maquetacion-carpeta-salud-icon-calendario.png"
						img-top=true
						class="app-maquetacion-mv-button-option"
						btn-type="default"
						>
						Mi calendario de citas
					</mv-button>
				</mv-card>

			</mv-container-item>

		</mv-container-item>

		<!-- Elemento del contenedor -->
		<mv-container-item
			round-corners=true
			class="app-maquetacion-carpeta-salud-mv-card-main-options"
			>

			<mv-item
				class="app-maquetacion-carpeta-salud-mv-card-main-options-item section-info"
				click="prueba()"
				type="transclude"
				>
			Gestión de mis datos administrativos de la carpeta de salud
			</mv-item>

		</mv-container-item>

		<!-- Elemento del contenedor -->
		<mv-container-item
			round-corners=true
			class="app-maquetacion-carpeta-salud-mv-card-main-item"
			>

			<!-- Elemento del contenedor -->
			<mv-container-item col-xs=12 col-sm=3>

				<mv-card
					adapt=true
					default-css=false
					class="app-maquetacion-mv-card-option"
				>
					<mv-button
						img-src="media/images/examples/app-maquetacion-carpeta-salud-icon-episodios.png"
						class="app-maquetacion-mv-button-option-mini"
						btn-type="default"
						>
						Datos clínicos
					</mv-button>
				</mv-card>

			</mv-container-item>

			<!-- Elemento del contenedor -->
			<mv-container-item col-xs=12 col-sm=3>

				<mv-card
					adapt=true
					default-css=false
					class="app-maquetacion-mv-card-option"
				>
					<mv-button
						img-src="media/images/examples/app-maquetacion-carpeta-salud-icon-cuidados-enfermeria.png"
						class="app-maquetacion-mv-button-option-mini"
						btn-type="default"
						>
						Cuidados de enfermería
					</mv-button>
				</mv-card>

			</mv-container-item>

			<!-- Elemento del contenedor -->
			<mv-container-item col-xs=12 col-sm=3>

				<mv-card
					adapt=true
					default-css=false
					class="app-maquetacion-mv-card-option"
				>
					<mv-button
						img-src="media/images/examples/app-maquetacion-carpeta-salud-icon-hoja-medicacion.png"
						class="app-maquetacion-mv-button-option-mini"
						btn-type="default"
						>
						Medicación
					</mv-button>
				</mv-card>

			</mv-container-item>

			<!-- Elemento del contenedor -->
			<mv-container-item col-xs=12 col-sm=3>

				<mv-card
					adapt=true
					default-css=false
					class="app-maquetacion-mv-card-option"
				>
					<mv-button
						img-src="media/images/examples/app-maquetacion-carpeta-salud-icon_reaccionesAdversas.png"
						class="app-maquetacion-mv-button-option-mini"
						btn-type="default"
						>
						Alergias y reacciones
					</mv-button>
				</mv-card>

			</mv-container-item>

			<!-- Elemento del contenedor -->
			<mv-container-item col-xs=12 col-sm=3>

				<mv-card
					adapt=true
					default-css=false
					class="app-maquetacion-mv-card-option"
				>
					<mv-button
						img-src="media/images/examples/app-maquetacion-carpeta-salud-icon-vacunas.png"
						class="app-maquetacion-mv-button-option-mini"
						btn-type="default"
						>
						Vacunas
					</mv-button>
				</mv-card>

			</mv-container-item>

			<!-- Elemento del contenedor -->
			<mv-container-item col-xs=12 col-sm=3>

				<mv-card
					adapt=true
					default-css=false
					class="app-maquetacion-mv-card-option"
				>
					<mv-button
						img-src="media/images/examples/app-maquetacion-carpeta-salud-icon-incapacidad-temporal.png"
						class="app-maquetacion-mv-button-option-mini"
						btn-type="default"
						>
						Incapacidad laboral
					</mv-button>
				</mv-card>

			</mv-container-item>

			<!-- Elemento del contenedor -->
			<mv-container-item col-xs=12 col-sm=3>

				<mv-card
					adapt=true
					default-css=false
					class="app-maquetacion-mv-card-option"
				>
					<mv-button
						img-src="media/images/examples/app-maquetacion-carpeta-salud-icon-instrucciones-previas.png"
						class="app-maquetacion-mv-button-option-mini"
						btn-type="default"
						>
						Instrucciones previas
					</mv-button>
				</mv-card>

			</mv-container-item>

			<!-- Elemento del contenedor -->
			<mv-container-item col-xs=12 col-sm=3>

				<mv-card
					adapt=true
					default-css=false
					class="app-maquetacion-mv-card-option"
				>
					<mv-button
						img-src="media/images/examples/app-maquetacion-carpeta-salud-icon-instrucciones-previas.png"
						class="app-maquetacion-mv-button-option-mini"
						btn-type="info"
						>
						Otras opciones
					</mv-button>
				</mv-card>

			</mv-container-item>

		</mv-container-item>

	</mv-container>

</mv-screen>
