/*
╔═════════════════════════════════════════════════════╗
║ app-maquetacion-carpeta-salud-estilos-propios style ║
╚═════════════════════════════════════════════════════╝
*/
app-maquetacion-carpeta-salud-estilos-propios {

	margin: 0 0 0 0 !important;

	/************************
	 * Variables de ejemplo *
	 ************************/

	$color-fuente: #009ada;

	.app-maquetacion-carpeta-salud-personal-titulo {
		background-color: $color-fuente;
		color: $color-secondary-011;
		margin: 0 auto;
		padding: 0 0 0 0;

		h1 {
			padding: 1rem 1rem 1rem 1rem;
			margin: 0 0 0 0;
		}
	}

	.app-maquetacion-carpeta-salud-personal-subtitulo {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
		background: #eeeeee; /* Old browsers */
		background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
		margin: 0 auto;
		padding: 0 0 0 0;

		h3 {
			padding: 0.55rem 1rem 0.55rem 1rem;
			margin: 0 0 0 0;
			color: $color-secondary-006;
		}
	}

	.app-maquetacion-carpeta-salud-mv-card-main {

		margin: 0 auto;
		padding: 0 0 0 0;
		width: 95%;
		max-width: 60rem;

		.app-maquetacion-carpeta-salud-personal {

			margin-top: 0.75rem;

			.app-maquetacion-carpeta-salud-personal-data {
				font-size: $font-size-big;
				color: $color-fuente;
				margin-top: 0.75rem;
				padding-left: 0.75rem;

				.app-maquetacion-carpeta-salud-personal-data-name {
					font-family: "montserrat-bold";
					display: inline-block;
				}
			}

			.app-maquetacion-carpeta-salud-button-disconect {
				text-align: right;
			}
		}

		.app-maquetacion-carpeta-salud-mv-card-main-item {

			background-color: $color-primary-003-10;
			margin: 0.95rem;
			padding: 1.9rem 0.9rem 1.15rem 0.9rem;
			margin-bottom: 2rem;
			text-align: center;

			.app-maquetacion-mv-card-option {

				.mv-card-badge-icon-class {
					margin-top: 0rem;
					margin-right: 0.85rem;

					@include mx-shadow();
				}

				.app-maquetacion-mv-button-option {
					width: 90%;
					margin: 0.85rem auto;
					
					@include mx-shadow();

				}

				.app-maquetacion-mv-button-option-mini {
					width: 90%;
					margin: 0.85rem auto;
					line-height: 2rem;

					.mv-button-image {
						max-width: 26px;
						max-height: 26px;
					}

					.mv-button-container {
						line-height: 1.85rem;
					}
				}
			}
		}

		.app-maquetacion-carpeta-salud-mv-card-main-options {

			.app-maquetacion-carpeta-salud-mv-card-main-options-item {

				/*@mixin mx-round-corners(
					$round-corner-default-size,
					$round-corner-default-size,
					$round-corner-default-size,
					$round-corner-default-size
					)*/
				margin-top: 1rem;
			}
		}
	}
}

/*
┌──────────────────┐
│ Bootstrap col-xs │
└──────────────────┘
*/

@media only screen and (max-width : $media-col-xs-max) {

	app-maquetacion-carpeta-salud-estilos-propios {
		.app-maquetacion-carpeta-salud-mv-card-main {

			.app-maquetacion-carpeta-salud-mv-card-main-item {
				margin-bottom: 1rem;
			}

			.app-maquetacion-carpeta-salud-personal {

				.app-maquetacion-carpeta-salud-personal-data {

					.app-maquetacion-carpeta-salud-personal-data-last-connection {
						display: block;
						float: none;
						font-size: $font-size-small;
					}
				}

				.app-maquetacion-carpeta-salud-button-disconect {
					text-align: left;
				}
			}
		}
	}
}

/*
┌──────────────────┐
│ Bootstrap col-sm │
└──────────────────┘
*/

@media only screen and (min-width : $media-col-sm-min) and (max-width : $media-col-sm-max) {
	app-maquetacion-carpeta-salud-estilos-propios {
		.app-maquetacion-carpeta-salud-mv-card-main {

			.app-maquetacion-carpeta-salud-personal {

				.app-maquetacion-carpeta-salud-button-disconect {
					
				}
			}
		}
	}
}
