/*
╔══════════════════╗
║ mova-error style ║
╚══════════════════╝
*/

mv-error-state {

    @include view-style;

    &:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: $z-index_error-before;
        //background: url('media/images/tree_bark.png') repeat center center;
        /*-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;*/
    }

    .mv-error-detail {
        @include mx-new-line-with-n();
    }

    .mv-error-mv-card-code {
        border: solid thin $color-primary-004;
        background-color: $color-primary-004-10;
        padding: 0.25rem 0.55rem 0.05rem 0.55rem;
        margin-bottom: 0.75rem;

        textarea {
            font-size: $font-size-small;
        }

        .mv-card-title {
            text-align: right;
            color: $color-primary-004;

            .mv-card-collapse {

                .mv-card-collapse-icon {
                    font-size: $font-size-small;
                    margin: 0.25rem 0 0 0;
                }
            }

            .mv-card-title-h1 {
                font-family: 'Montserrat-light';
                font-size: $font-size-small;
                font-weight: normal;
            }
        }

        .mv-card-hr {
            display: none;
        }
    }

    .mv-error-buttons {

        margin: 0 0 0 0;
        padding: 0 0 0 0;

        .mv-error-buttons-item {
            text-align: center;
        }

        .mv-error-button-back {
            width: 100%;
            height: 3rem;
        }

        .mv-error-button-go-home {
            width: 90%;
            height: 3rem;
        }

        .mv-error-button-share {
            width: 100%;
            height: 3rem;
        }
    }
}
