<!-- app-example-mova-input-checkbox-indeterminate -->

<mv-screen 
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}" 
	no-footer="{{ screen.noFooter }}">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		float=true
		adapt=true
		class="app-example-mova-buttons"
		>

		<mv-button
			class="app-example-mova-button"
			icon-class="fa fa-angle-double-up"
			click="goTop()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>
	</mv-card>

	<mv-card
		id="inicio"
		>
		<h1 class="title-1">mv.movaInputCheckboxIndeterminate</h1>
		<br>
		<p>Checkbox, similar al elemento <b>&lt;input></b> de tipo checkbox de HTML5.</p>
		<p>A diferencia del componente <b>mv.movaInputCheckbox</b>, el componente <b>mv.movaInputCheckboxIndeterminate</b> no actualiza su estado con cada click, es la función llamada <b>funcionClickCtrl</b> la encargada de gestionar el valor del modelo y su funcionamiento debe implementarse manualmete en cada caso.</p>
		<p>Este funcionamiento se debe a que muchas veces el componente <b>mv.movaInputCheckboxIndeterminate</b> se necesita usar como indicador de un estado y no como un objeto con el que interactuar.</p>
		<p>Otro motivo es que al haber 3 estados no siempre se quiere pasar por los tres al hacer click, ya que el estado indeterminado suele responder a otros valores distintos del propio estado del componente.</p>
		<p>Este componente acepta los mismos atributos de HTML que el elemento <b>&lt;input></b> de tipo checkbox además de los siguientes:</p>
		<ul>
			<li><a href="" ng-click="$root.scrollTo('change')" >click</a></li>
		</ul>
	</mv-card>

	<mv-card
		id="click"
		>
		<h2 class="title-2">Ejemplo de uso HTML y resultado</h2>
		<br>
		<code>
			<badge>HTML</badge>
			<span>
				&lt;mv-input-checkbox-indeterminate<br>
				&emsp;&emsp;model="valorEjemplo"<br>
				&emsp;&emsp;click="funcionClick()"<br>
				&emsp;&emsp;><br>
				&lt;/mv-input-checkbox-indeterminate>
			</span>
		</code>
		<code>
			<badge>JavaScript</badge>
			<span>
				funcionClickCtrl (self) {<br>
				&emsp;&emsp;switch (self.scope.valorEjemplo) {
				&emsp;&emsp;case 0:<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;self.scope.valorEjemplo = 1;<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;break;<br>
				&emsp;&emsp;case 1:<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;self.scope.valorEjemplo = 2;<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;break;<br>
				&emsp;&emsp;case 2:<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;self.scope.valorEjemplo = 0;<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;break;<br>
				&emsp;&emsp;}<br>
				};
			</span>
		</code>
		<mv-input-checkbox-indeterminate
			model="valorEjemplo"
			click="funcionClick()"
			>
		</mv-input-checkbox-indeterminate>
		<p>Valor actual del ejemplo: {{ valorEjemplo }}</p>
	</mv-card>

</mv-screen>