<ion-content padding>
  <div class="cabecera" text-center>
    <img src="/assets/imgs/cabecera.png" alt="">
  </div>


  <div class="carrouser-1">
    <div text-center class="titulo">
      <img class="novedades" src="../../../assets/imgs/novedades.png" alt=""/>
      <img class="icono-mas" (click)="crearProducto()" src="../../../assets/imgs/mas.png" alt=""/>
    </div>
    <ion-slides class="borde1 mx-auto" pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let items of productos.productos" > <!--Colocar productos novedades-->
          <img src="{{items.image}}" alt="">
        </ion-slide>
      </ion-slides>
  </div>

  <div class="carrouser-2">
    <div text-center class="titulo">
      <img class="productos" src="../../../assets/imgs/productos.png" alt=""/>
      <img class="icono-gancho" src="../../../assets/imgs/gancho.png" alt=""/>
    </div>
    <div class="carrouser-2">
        <ion-slides class="borde1 mx-auto" pager="true" [options]="slideOpts">
            <ion-slide routerLink="/tabs/tab4" *ngFor="let items of productos.productos" >
              <img src="{{items.image}}" alt="">
            </ion-slide>
          </ion-slides>
    </div>
  </div>

</ion-content>