<app-cabecera [titulohead]="tituhead"></app-cabecera>
<!-- <ion-buttons slot="end">
        <ion-back-button text="" color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-content *ngIf="isAdmin === true" padding>

      --> 
<ion-content padding margin-top>

<h4>SEGUIMIENTO</h4>
<ion-grid margin-top>
<ion-row margin-top>
<ion-col>
    <div  routerLink="/lista-paciente-peso" class="bot bot_irHistoryClinico">
        <img src="../../../assets/imgs/bot_cliente_seguimiento/pesa.png">
        <p class="texto">Pesos de Pacientes</p>
      </div>
</ion-col>
<ion-col>
     <div class="bot bot_irHistoryClinico" (click)="goEjercicios()">
        <img src="../../../assets/imgs/bot_cliente_seguimiento/ejercicio.png">
        <p>Diario de Ejercicio</p>
      </div>
</ion-col>
</ion-row>
<ion-row margin-top>
  <ion-col>
        <div  routerLink="/login-dieta" class="bot bot_irHistoryClinico">
            <img src="../../../assets/imgs/icon/nuevadieta.png">
            <p>Añadir Dieta</p>
          </div>
  </ion-col>
  <ion-col>
        <div  routerLink="/login-reservar-cita"class="bot bot_irHistoryClinico">
            <img src="../../../assets/imgs/bot_cliente_seguimiento/Nueva1-cita.png">
            <p>Añadir Nueva Cita</p>
          </div>
  </ion-col>
</ion-row>

</ion-grid>
</ion-content>