<!-- app-cliente-list -->

<mv-screen
	titulo="{{ screen.titulo }}"
	subtitulo="{{ screen.subtitulo }}"
	no-header="{{ screen.noHeader }}"
	no-footer="{{ screen.noFooter }}"
	show-menu="false">

	<mv-card
		bg-color="transparent"
		border-color="transparent"
		class="app-cliente-detail-buttons"
		float=true
		adapt=true
		show=$parent.showButtons
		>

		<mv-button
			class="app-cliente-detail-buttons-button"
			id="buttonCambiarTipoItem"
			icon-class="fa fa-pencil-alt fa fa-pencil"
			click="changeTipoItem()"
			btn-type="warning"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>

		<mv-button
			class="app-cliente-detail-buttons-button"
			id="buttonCrear"
			icon-class="fa fa-sync-alt fa fa-refresh"
			click="findClientes()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>

		<mv-button
			class="app-cliente-detail-buttons-button"
			id="buttonCrear"
			icon-class="fa fa-angle-double-down"
			click="findClientesMas()"
			btn-type="primary"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>

		<mv-button
			class="app-cliente-detail-buttons-button"
			id="buttonCrear"
			icon-class="fa fa-plus"
			click="clickBotonCrear()"
			btn-type="success"
			shadow=true;
			size="medium"
			circle=true
		>
		</mv-button>

	</mv-card>

	<p class="app-cliente-list-corner-left-bottom">{{tipoItem}}</p>

	<mv-burguer
		id="appClienteListMvCardFilters"
		title="Filtros avanzados"
		collapse=true
		init-collapsed=true
		on-collapse="$parent.onCollapseFilters()"
		on-expand="$parent.onExpandFilters()"
		bg-color=#efefef;
		border-color="transparent"
		class="app-cliente-list-mv-card-filters"
		>

		<mv-containter>
			<form
				class="app-cliente-list-form-filters"
				>

				<mv-container-item col-xs=12 col-sm=6 default-margin=true>

					<mv-input
						left-label-lg=true
						adapt=true
						placeholder="Nombre"
						label="Nombre"
						model="filtros.nombre"
					>
					</mv-input>

				</mv-container-item>

				<mv-container-item col-xs=12 col-sm=6 default-margin=true>

					<mv-input
						left-label-lg=true
						adapt=true
						placeholder="Primer apellido"
						label="Primer apellido"
						model="filtros.apellido1"
					>
					</mv-input>

				</mv-container-item>

				<mv-container-item col-xs=12 col-sm=6 default-margin=true>

					<mv-input
						left-label-lg=true
						adapt=true
						placeholder="Segundo apellido"
						label="Segundo apellido"
						model="filtros.apellido2"
					>
					</mv-input>

				</mv-container-item>

				<mv-container-item col-xs=12 col-sm=6 default-margin=true>

					<mv-input
						left-label-lg=true
						adapt=true
						placeholder="Dirección"
						label="Dirección"
						model="filtros.direccion"
					>
					</mv-input>

				</mv-container-item>

				<mv-container-item col-xs=12 col-sm=6 default-margin=true>

					<mv-input
						left-label-lg=true
						adapt=true
						placeholder="Teléfono"
						label="Teléfono"
						model="filtros.telefono"
					>
					</mv-input>

				</mv-container-item>

				<mv-container-item col-xs=12 col-sm=6 default-margin=true>

					<mv-input
						left-label-lg=true
						adapt=true
						type="date"
						placeholder="Fª nacimiento"
						label="Fª nacimiento"
						model="filtros.fcNacimiento"
					>
					</mv-input>

				</mv-container-item>

				<mv-container-item col-xs=12 col-sm=10 default-margin=true>

					<mv-button
						click="findClientesButton()"
						adapt="true"
					>
					Buscar
					</mv-button>
					<br>

				</mv-container-item>

				<mv-container-item col-xs=12 col-sm=2 default-margin=true>

					<mv-button
						click="cleanFilters()"
						adapt="true"
						btn-type="default"
					>
					Limpiar filtros
					</mv-button>

				</mv-container-item>
				&nbsp;
			</form>
		</mv-containter>

	</mv-burguer>

	<mv-card
		class="app-cliente-list-mv-card-listado"
		adapt=true
		bg-color="transparent"
		border-color="transparent"
		border-width="0 0 0 0"
		>

		<mv-card
			bg-color="transparent"
			border-color="transparent"
			adapt=true
			class="app-cliente-list-no-results"
			show="$parent.numResults==0">
			<i
				class="app-cliente-list-no-results-icon fa fa-exclamation-triangle">
			</i>
			<p>No se encontraron resultados.</p>
		</mv-card>

		<mv-container>

			<ul class="app-cliente-list-listado">

				<li class="app-cliente-list-listado-li" ng-repeat="(key, cliente) in clientes track by $index">

					<mv-container-item col-xs=12 col-sm=6 col-md=4 col-lg=3>

							<app-cliente-item
								apellido1="{{ cliente.apellido1 }}"
								apellido2="{{ cliente.apellido2 }}"
								direccion="{{ cliente.direccion }}"
								fc-nacimiento="{{ cliente.fcNacimiento }}"
								id-cliente="{{ cliente.idCliente }}"
								literal-estado-civil="{{ cliente.literalEstadoCivil }}"
								nombre="{{ cliente.nombre }}"
								telefono="{{ cliente.telefono }}"
								tipo="{{ tipoItem }}"
								imagen-url="{{ cliente.imagenUrl }}"
								imagen-error="media/images/icon_user.png"
								>
							</app-cliente-item>

					</mv-container-item>

				</li>
			</ul>

		</mv-container>
	</mv-card>

</mv-screen>
