/*
╔════════════════════════╗
║ app-cliente-list style ║
╚════════════════════════╝
*/

app-cliente-list {

    @include view-style;

    // Sobreescribir el estilo view-style para que la lista ajuste hasta el final.
    padding-bottom: 0rem !important;

    /*
    Elemento con información del tipo de mv.movaItem en el inferior de la vista
    */
    .app-cliente-list-corner-left-bottom {

        @include mx-round-corners(0, 0.55rem, 0, 0);

        border-top: solid thin $color-primary-002-60;
        border-right: solid thin $color-primary-002-60;

        position: fixed;
        left: 0;
        bottom: 0;
        margin: 0 0 0 0;
        padding: 0.25rem 0.45rem 0 0.45rem;
        font-size: $font-size-small;
        color: $color-secondary-010;
        z-index: 20;
        background-color: $color-primary-002-20;
    }

    /*
    Contenedor del formulario de filtros
    */
    .app-cliente-list-mv-card-filters {
        @include mx-shadow();

        margin: 1rem 0.55rem !important;

        //border-bottom: solid thin $color-primary-002 !important;
    }

    /*
    Formulario de filtros
    */
    .app-cliente-list-form-filters {

        margin: 0 0.55rem 0.55rem 0.55rem;
    }

    /*
    Sección del listado
    */
    .app-cliente-list-mv-card-listado {

    }

    /*
    Lista del listado
    */
    .app-cliente-list-listado {
        list-style-type: none;
        margin: 0 0 0 0; 
        padding: 0 0 0 0;
    }

    /*
    Seccion botones
    */
    .app-cliente-detail-buttons {
        text-align: right;

        /*
        Botones
        */
        .app-cliente-detail-buttons-button {
            margin: 0.55rem 0.55rem 0.55rem 0;
        }
    }

    /*
    Seccion de no hay resultados
    */
    .app-cliente-list-no-results {
        display: block;
        width: 100%;
        min-height: 21rem;
        text-align: center;

        .app-cliente-list-no-results-icon {
            font-size: 9rem;
            margin: 3rem 0 1rem 0;
            padding: 0 0 0 0;
        }
    }
}