<ion-content>
    <div class="caja">
        <app-header></app-header>
        <p *ngFor="let item of textos" class="textoP">{{item.titulo}}</p>
        <p *ngFor="let item of textos" class="textoD">{{item.titulo}}</p>

    </div>
    <div *ngFor="let item of textos" class="caja1" padding>
        <p class="cabecera-desk" text-center>{{item.textoPrincipal}}</p>
        <div class="container videos">
            <div class="row">
                <div class="col-sm-1 col-md-4 col-lg-4 caja-video">
                    <h3>{{item.tituloVideo}}</h3>
                    <p class="texto">{{item.subtituloVideo}}</p>
                    <div text-center class="mx-auto">
                        <iframe width="auto" height="auto" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0">
                                    </iframe>
                    </div>
                    <p class="video-desk" text-center>{{item.descripcionVideo}}</p>

                </div>
                <div class="col-sm-1 col-md-4 col-lg-4 caja-video">
                    <h3>{{item.tituloVideo2}}</h3>
                    <p class="texto">{{item.subtituloVideo2}}</p>
                    <div text-center class="mx-auto">
                        <iframe width="auto" height="auto" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0">
                                    </iframe>
                    </div>
                    <p class="video-desk" text-center>{{item.descripcionVideo2}}</p>

                </div>
                <div class="col-sm-1 col-md-4 col-lg-4 caja-video">
                    <h3>{{item.tituloVideo3}}</h3>
                    <p class="texto">{{item.subtituloVideo3}}</p>
                    <div text-center class="mx-auto">
                        <iframe width="auto" height="auto" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0">
                                    </iframe>
                    </div>
                    <p class="video-desk" text-center>{{item.descripcionVideo3}}</p>

                </div>



                <div class="col-sm-1 col-md-4 col-lg-4 caja-video">
                    <h3>{{item.tituloVideo4}}</h3>
                    <p class="texto">{{item.subtituloVideo4}}</p>
                    <div text-center class="mx-auto">
                        <iframe width="auto" height="auto" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0">
                                        </iframe>
                    </div>
                    <p class="video-desk" text-center>{{item.descripcionVideo4}}</p>

                </div>
                <div class="col-sm-1 col-md-4 col-lg-4 caja-video">
                    <h3>{{item.tituloVideo5}}</h3>
                    <p class="texto">{{item.subtituloVideo5}}</p>
                    <div text-center class="mx-auto">
                        <iframe width="auto" height="auto" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0">
                                        </iframe>
                    </div>
                    <p class="video-desk" text-center>{{item.descripcionVideo5}}</p>

                </div>
                <div class="col-sm-1 col-md-4 col-lg-4 caja-video">
                    <h3>{{item.tituloVideo6}}</h3>
                    <p class="texto">{{item.subtituloVideo6}}</p>
                    <div text-center class="mx-auto">
                        <iframe width="auto" height="auto" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0">
                                        </iframe>
                    </div>
                    <p class="video-desk" text-center>{{item.descripcionVideo6}}</p>

                </div>
            </div>
        </div>
        <div class="texto-principal" text-center padding>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed sapiente libero quam quasi? Dolorum aperiam porro inventore soluta voluptatum tempore fugiat, architecto ipsa reiciendis sequi debitis, saepe facilis maxime excepturi ipsam, nam
                perspiciatis voluptatibus sed est iste? Numquam, distinctio voluptates, magnam eveniet adipisci reiciendis magni corrupti quia possimus repellat labore repudiandae, aliquam cupiditate odit asperiores tempora officia quasi fugiat! Temporibus
                dolorum quidem expedita ut vel laudantium voluptate odio rerum quibusdam. Necessitatibus explicabo sunt dolorum ipsam assumenda repellat dicta eius tempora, veniam similique iure id corrupti quisquam mollitia, dolor voluptas laudantium?
                Autem amet explicabo et nihil. Minus cum eaque architecto quibusdam nisi. Libero magnam deleniti cumque, animi placeat autem culpa porro iste voluptate dolor. Reprehenderit perspiciatis modi sunt sequi a est inventore voluptatum amet fuga
                ex vero praesentium aperiam dolore possimus voluptatibus voluptate, rerum enim iusto ea asperiores quos minus vel! Ea, iure eligendi iusto nisi mollitia laboriosam recusandae? Repudiandae corrupti deleniti atque blanditiis eos aspernatur
                fugit tenetur rem illum neque fugiat laudantium ea autem quaerat similique, iste sapiente obcaecati. Officia debitis nam distinctio quae provident accusamus rerum dolor aliquid. Nam totam corporis doloremque rerum beatae aut recusandae
                neque nobis assumenda! Atque illum odit nisi molestiae doloribus maxime eius a velit.</p>

        </div>
        <div class="trabajos">
            <div class="text-center mx-auto">
                <h2>Clientes que confían en nosotros</h2>
            </div>
            <ul class="tira">
                <li class="nav-item">
                    <a class="navbar-brand" href="#">
                        <img src="../../../assets/img/logoirisweb.gif" width="auto" height="37" class="d-inline-block align-top mt-4" alt="">

                    </a>
                </li>
                <li class="nav-item active">
                    <a class="navbar-brand" href="#">
                        <img src="../../../assets/img/logominshareweb.gif" width="auto" height="37" class="d-inline-block align-top mt-4" alt="">
                    </a>
                </li>

                <li class="nav-item">
                    <a class="navbar-brand" href="#">
                        <img src="/assets/img/logobbcweb.gif" width="auto" height="35" class="d-inline-block align-top mt-4" alt="">

                    </a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#">
                        <img src="/assets/img/logokantarweb.gif" width="auto" height="35" class="d-inline-block align-top mt-4" alt="">

                    </a>
                </li>

                <li class="nav-item">
                    <a class="navbar-brand" href="#">
                        <img src="/assets/img/flytlogoweb.gif" width="auto" height="35" class="d-inline-block align-top mt-4" alt="">

                    </a>
                </li>


            </ul>
        </div>
    </div>
    <app-formulario></app-formulario>
    <ion-fab class="subir" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary" (click)="scrollContent('top')">
            <ion-icon color="light" name="arrow-up"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <app-footer-nuevo></app-footer-nuevo>

</ion-content>
<ion-footer>
    <app-footer></app-footer>
</ion-footer>