.logo {
    width: 8rem !important;
}

.caja {
    background: url(/assets/img/casos.gif);
    height: 80%;
    background-size: cover;
}

.textoP {
    color: white;
    margin-top: 110%;
    margin-left: 55%;
    font-size: 20pt;
}

.que {
    height: 3rem;
    color: white;
    background: black;
    margin-left: 1rem;
    border-radius: 5px;
    margin-top: -1rem;
    width: 10rem;
}

.caja1 {
    background: black;
    color: white;
}

.parrafo {
    text-align: initial;
    font-size: 0.8rem;
}

.footer {
    background: black;
    color: white;
}

.imgFooter {
    width: 8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.p1 {
    font-size: smaller;
}

.p2 {
    font-size: smaller;
    text-align: end;
    margin-top: 1rem;
    margin-bottom: -0.7rem;
}

.video {
    border: 1px solid;
    max-width: 20rem;
    max-height: 10rem;
}

.videos {
    margin-top: 2rem;
}

.footer-desktop {
    display: none;
}

.textoD {
    display: none;
}

.cabecera-desk {
    display: none;
    ;
}

.video-desk {
    display: none;
}

.tira {
    justify-content: center;
    text-align: center;
    width: 100%;
    list-style: none;
    background: black;
    margin-top: 2rem;
}

.video-footer {
    margin-top: -3rem;
}

.footer-desk {
    padding-top: 1.5rem;
    margin-bottom: 2rem;
    a {
        text-decoration: none;
        color: white;
    }
    .tel {
        color: white;
        text-align: initial;
        font-size: 10px;
    }
}

.what {
    margin-right: 1rem;
    margin-top: -2rem;
}

.subir {
    margin-bottom: 5rem;
    margin-right: 1rem;
}

.subir:focus {
    border: none;
}

@media (min-width: 900px) and (max-width: 1920px) {
    .what {
        display: none;
    }
    .tira {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        list-style: none;
        background: black;
        height: 5rem;
        margin-top: 2rem;
    }
    .textoP {
        display: none;
    }
    .textoD {
        color: white;
        margin-top: 25%;
        margin-left: 40%;
        font-size: 53pt;
        display: block;
        background-color: rgba(0, 0, 0, 0.1);
        position: absolute;
    }
    .caja {
        background: url(/assets/img/CABECERA-dek.gif);
        height: 30rem;
        background-size: cover;
    }
    .caja1 {
        background: black;
        height: auto !important;
        color: white;
        // margin-bottom: 3rem;
    }
    .textoP {
        color: white;
        margin-top: -6%;
        margin-left: 20%;
        font-size: 61pt;
    }
    .footer-mobile {
        display: none;
    }
    .footer-desktop {
        display: block;
    }
    .p1 {
        font-size: smaller;
        text-align: -webkit-center;
        margin-top: 1rem;
    }
    .imgFooter {
        width: 11rem;
        margin-top: 1rem;
        padding-left: 2rem;
    }
    .p2-caja {
        padding-right: 2rem;
        margin-top: -1.5rem;
    }
    .footer {
        background: black;
        display: inline-block;
        width: 100%;
        color: white;
        //  margin-top: 16rem;
    }
    .videos {
        margin-top: 1rem;
        display: inline-flex;
        justify-items: center;
        justify-content: space-between;
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .video-desk {
        display: block;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .cabecera-desk {
        text-align: center;
        color: white;
        display: block;
        margin-top: 4rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    h3 {
        text-align: center;
    }
    .texto {
        text-align: center;
    }
    .trabajos {
        margin-bottom: 0;
    }
    .footer-tel {
        display: none;
    }
    .footer-desk {
        display: block;
        padding-top: 1.5rem;
        margin-bottom: 4rem;
        margin-top: -3rem;
        a {
            text-decoration: none;
            color: white;
            cursor: pointer;
        }
    }
}